In [135]:
import pymongo
import pandas as pd
import pickle
import datetime
import time
import gzip
import lzma
import pytz


def DB(host, db_name, user, passwd):
    auth_db = db_name if user not in ('admin', 'root') else 'admin'
    uri = 'mongodb://%s:%s@%s/?authSource=%s' % (user, passwd, host, auth_db)
    return DBObj(uri, db_name=db_name)


class DBObj(object):
    def __init__(self, uri, symbol_column='skey', db_name='white_db'):
        self.db_name = db_name
        self.uri = uri
        self.client = pymongo.MongoClient(self.uri)
        self.db = self.client[self.db_name]
        self.chunk_size = 20000
        self.symbol_column = symbol_column
        self.date_column = 'date'

    def parse_uri(self, uri):
        # mongodb://user:password@example.com
        return uri.strip().replace('mongodb://', '').strip('/').replace(':', ' ').replace('@', ' ').split(' ')

    def drop_table(self, table_name):
        self.db.drop_collection(table_name)

    def rename_table(self, old_table, new_table):
        self.db[old_table].rename(new_table)

    def write(self, table_name, df):
        if len(df) == 0: return

        multi_date = False

        if self.date_column in df.columns:
            date = str(df.head(1)[self.date_column].iloc[0])
            multi_date = len(df[self.date_column].unique()) > 1
        else:
            raise Exception('DataFrame should contain date column')

        collection = self.db[table_name]
        collection.create_index([('date', pymongo.ASCENDING), ('symbol', pymongo.ASCENDING)], background=True)
        collection.create_index([('symbol', pymongo.ASCENDING), ('date', pymongo.ASCENDING)], background=True)

        if multi_date:
            for (date, symbol), sub_df in df.groupby([self.date_column, self.symbol_column]):
                date = str(date)
                symbol = int(symbol)
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)
        else:
            for symbol, sub_df in df.groupby([self.symbol_column]):
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)

    def write_single(self, collection, date, symbol, df):
        for start in range(0, len(df), self.chunk_size):
            end = min(start + self.chunk_size, len(df))
            df_seg = df[start:end]
            version = 1
            seg = {'ver': version, 'data': self.ser(df_seg, version), 'date': date, 'symbol': symbol, 'start': start}
            collection.insert_one(seg)

    def build_query(self, start_date=None, end_date=None, symbol=None):
        query = {}

        def parse_date(x):
            if type(x) == str:
                if len(x) != 8:
                    raise Exception("`date` must be YYYYMMDD format")
                return x
            elif type(x) == datetime.datetime or type(x) == datetime.date:
                return x.strftime("%Y%m%d")
            elif type(x) == int:
                return parse_date(str(x))
            else:
                raise Exception("invalid `date` type: " + str(type(x)))

        if start_date is not None or end_date is not None:
            query['date'] = {}
            if start_date is not None:
                query['date']['$gte'] = parse_date(start_date)
            if end_date is not None:
                query['date']['$lte'] = parse_date(end_date)

        def parse_symbol(x):
            if type(x) == int:
                return x
            else:
                return int(x)

        if symbol:
            if type(symbol) == list or type(symbol) == tuple:
                query['symbol'] = {'$in': [parse_symbol(x) for x in symbol]}
            else:
                query['symbol'] = parse_symbol(symbol)

        return query

    def delete(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot delete the whole table')
            return None

        collection.delete_many(query)

    def read(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot read the whole table')
            return None

        segs = []
        for x in collection.find(query):
            x['data'] = self.deser(x['data'], x['ver'])
            segs.append(x)
        segs.sort(key=lambda x: (x['symbol'], x['date'], x['start']))
        return pd.concat([x['data'] for x in segs], ignore_index=True) if segs else None

    def list_tables(self):
        return self.db.collection_names()

    def list_dates(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]
        dates = set()
        if start_date is None:
            start_date = '00000000'
        if end_date is None:
            end_date = '99999999'
        for x in collection.find(self.build_query(start_date, end_date, symbol), {"date": 1, '_id': 0}):
            dates.add(x['date'])
        return sorted(list(dates))

    def ser(self, s, version):
        pickle_protocol = 4
        if version == 1:
            return gzip.compress(pickle.dumps(s, protocol=pickle_protocol), compresslevel=2)
        elif version == 2:
            return lzma.compress(pickle.dumps(s, protocol=pickle_protocol), preset=1)
        else:
            raise Exception('unknown version')

    def deser(self, s, version):
        def unpickle(s):
            return pickle.loads(s)

        if version == 1:
            return unpickle(gzip.decompress(s))
        elif version == 2:
            return unpickle(lzma.decompress(s))
        else:
            raise Exception('unknown version')


def patch_pandas_pickle():
    if pd.__version__ < '0.24':
        import sys
        from types import ModuleType
        from pandas.core.internals import BlockManager
        pkg_name = 'pandas.core.internals.managers'
        if pkg_name not in sys.modules:
            m = ModuleType(pkg_name)
            m.BlockManager = BlockManager
            sys.modules[pkg_name] = m
patch_pandas_pickle()

def dailyDB(host, db_name, user, passwd):
    auth_db = db_name if user not in ('admin', 'root') else 'admin'
    url = 'mongodb://%s:%s@%s/?authSource=%s' % (user, passwd, host, auth_db)
    client = pymongo.MongoClient(url, maxPoolSize=None)
    db = client[db_name]
    return db

def read_stock_daily(db, name, start_date=None, end_date=None, skey=None, index_name=None, interval=None, col=None, return_sdi=True):
    collection = db[name]
    # Build projection
    prj = {'_id': 0}
    if col is not None:
        if return_sdi:
            col = ['skey', 'date'] + col
        for col_name in col:
            prj[col_name] = 1

    # Build query
    query = {}
    if skey is not None:
        query['skey'] = {'$in': skey}
    if index_name is not None:
        query['index_name'] = {'$in': index_name}
    if start_date is not None:
        if end_date is not None:
            query['date'] = {'$gte': start_date, '$lte': end_date}
        else:
            query['date'] = {'$gte': start_date}
    elif end_date is not None:
        query['date'] = {'$lte': end_date}

    # Load data
    cur = collection.find(query, prj)
    df = pd.DataFrame.from_records(cur)
    if df.empty:
        df = pd.DataFrame()
    else:
        df = df.sort_values(by=['date', 'skey'])
    return df   

def read_memb_daily(db, name, start_date=None, end_date=None, skey=None, index_id=None, interval=None, col=None, return_sdi=True):
    collection = db[name]
    # Build projection
    prj = {'_id': 0}
    if col is not None:
        if return_sdi:
            col = ['skey', 'date', 'index_id'] + col
        for col_name in col:
            prj[col_name] = 1

    # Build query
    query = {}
    if skey is not None:
        query['skey'] = {'$in': skey}
    if index_id is not None:
        query['index_id'] = {'$in': index_id}
    if interval is not None:
        query['interval'] = {'$in': interval}
    if start_date is not None:
        if end_date is not None:
            query['date'] = {'$gte': start_date, '$lte': end_date}
        else:
            query['date'] = {'$gte': start_date}
    elif end_date is not None:
        query['date'] = {'$lte': end_date}

    # Load data
    cur = collection.find(query, prj)
    df = pd.DataFrame.from_records(cur)
    if df.empty:
        df = pd.DataFrame()
    else:
        df = df.sort_values(by=['date', 'index_id', 'skey'])
    return df 



import pandas as pd
import random
import numpy as np
import glob
import pickle
import os
import datetime
import time
pd.set_option("max_columns", 200)

year = "2020"
startDate = '20200106'
endDate = '20200214'
database_name = 'com_md_eq_cn'
user = "zhenyuy"
password = "bnONBrzSMGoE"

startTm = datetime.datetime.now()
db1 = DB("192.168.10.178", database_name, user, password)
db2 = dailyDB("192.168.10.178", database_name, user, password)
save = {}
save['date'] = []
save['secid'] = []
mdOrderLog = db1.read('md_order', start_date=startDate, end_date=endDate, symbol=[2000001])
datelist = mdOrderLog['date'].unique()
ss = pd.read_csv('/mnt/ShareWithServer/result/shangshi.csv')
ss['skey'] = np.where(ss['证券代码'].str[-2:] == 'SZ', ss['证券代码'].str[:6].astype(int) + 2000000, ss['证券代码'].str[:6].astype(int) + 1000000)
ss['date'] = (ss['上市日期'].str[:4] + ss['上市日期'].str[5:7] + ss['上市日期'].str[8:10]).astype(int)
print(datetime.datetime.now() - startTm)

startTm = datetime.datetime.now()
for d in datelist:
    print(d)
    sl1 = read_memb_daily(db2, 'index_memb', index_id=[1000852], start_date=20170901, end_date=20201203)['skey'].unique()
    sl1 = sl1[sl1 > 2000000]
    data1 = db1.read('md_snapshot_l2', start_date=str(d), end_date=str(d), symbol=list(sl1))
    sl1 = data1['skey'].unique()
    op = read_stock_daily(db2, 'mdbar1d_tr', start_date=int(d), end_date=int(d))
    for s in sl1:
        mbd = db1.read('md_snapshot_mbd', start_date=str(d), end_date=str(d), symbol=s)
        if mbd is None:
            if ss[ss['skey'] == s]['date'].iloc[0] == d:
                continue
            else:
                save['date'].append(d)
                save['secid'].append(s)
                print(s)
                continue
        try:
            assert(mbd.shape[1] == 83)
        except:
            print('mdb data column unupdated')
            print(s)
        op1 = op[op['skey'] == s]['open'].iloc[0]
        l2 = data1[data1['skey'] == s]
        assert(mbd[mbd['cum_volume'] > 0]['open'].iloc[0] == op1)
#         try:
#             assert(mbd['open'].iloc[0] == op1)
#         except:
#             print(s)
#             print(mbd['open'].iloc[0])
#             print(op1)
#             assert((len(str(op1).split('.')[1]) <= 2) & (op1 == l2[l2['open'] != 0]['open'].iloc[0]))
#             mbd['open'] = op1
#             db1.write('md_snapshot_mbd', mbd)
        cols = ['skey', 'date', 'cum_volume', 'prev_close', 'open', 'close', 'cum_trades_cnt', 'bid10p', 'bid9p',
               'bid8p', 'bid7p', 'bid6p', 'bid5p', 'bid4p', 'bid3p', 'bid2p', 'bid1p', 'ask1p', 'ask2p',
               'ask3p', 'ask4p', 'ask5p', 'ask6p', 'ask7p', 'ask8p', 'ask9p', 'ask10p', 'bid10q', 'bid9q', 
               'bid8q', 'bid7q', 'bid6q', 'bid5q', 'bid4q', 'bid3q', 'bid2q', 'bid1q', 'ask1q', 'ask2q', 'ask3q', 
               'ask4q', 'ask5q', 'ask6q','ask7q', 'ask8q', 'ask9q', 'ask10q', 'bid10n', 'bid9n', 'bid8n',
               'bid7n', 'bid6n', 'bid5n', 'bid4n', 'bid3n', 'bid2n', 'bid1n', 'ask1n', 'ask2n', 'ask3n', 
               'ask4n', 'ask5n', 'ask6n', 'ask7n', 'ask8n', 'ask9n', 'ask10n', 'total_bid_quantity', 'total_ask_quantity']
        mbd = mbd.drop_duplicates(cols, keep='first')
        mbd = mbd[cols+['ApplSeqNum']]
        if l2.shape[1] == 192:
            l2 = l2[l2.columns[:-1]]
        rl2 = pd.merge(l2, mbd, on=cols, how='left')
        try:
            assert(rl2[(rl2['ApplSeqNum'].isnull()) & (rl2['cum_volume'] > 0) & (rl2['time'] <= 145655000000)].shape[0] == 0)
        except:
            print(rl2[(rl2['ApplSeqNum'].isnull()) & (rl2['cum_volume'] > 0) & (rl2['time'] <= 145655000000)][['skey', 'date', 'cum_volume', 'close', 'bid1p', 'bid2p','bid1q', 'bid2q', 'ask1p', 'ask2p', 'ask1q', 'ask2q']])
        rl2.loc[rl2['ApplSeqNum'].isnull(), 'ApplSeqNum'] = -1
        rl2['ApplSeqNum'] = rl2['ApplSeqNum'].astype('int32') 
        assert(rl2.shape[0] == l2.shape[0])
        db1.write('md_snapshot_l2', rl2)
print(datetime.datetime.now() - startTm)

0:00:01.268798
20200114
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
4501  2002168  20200114    20654120   8.76   8.76   8.75  13200  10988   8.77

      ask2p  ask1q  ask2q
4501   8.78  10500  42700
        skey      date  cum_volume  close  bid1p  bid2p  bid1q    bid2q  \
338  2002501  20200114    15896227   2.04   2.05   2.04   6200  1491398

     ask1p  ask2p  ask1q  ask2q
338    0.0    0.0      0      0
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
2282  2300204  20200114     4229268   13.0  13.01   13.0  52300  36200    0.0

      ask2p  ask1q  ask2q
2282    0.0      0      0
20200115
20200116
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
3100  2002175  20200116    16610800   2.13    0.0    0.0      0      0   2.13

      ask2p  ask1q   ask2q
3100   2.14  12080  249300
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
1655  2002766  20200116     8361230   4.63   4.63   4.62    600  66470    0.0

      ask2p  ask1q  ask2q
1655    0.0      0      0
20200117
20200120
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
4357  2002747  20200120     8078209  11.87  11.86  11.85  18730  35600  11.87

      ask2p  ask1q  ask2q
4357   11.9    500  30300
20200121
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
3110  2000952  20200121    24230401  10.49  10.49  10.48    500  11800    0.0

      ask2p  ask1q  ask2q
3110    0.0      0      0
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
1989  2002188  20200121     4463901    3.4    3.4   3.39  19800  90400    0.0

      ask2p  ask1q  ask2q
1989    0.0      0      0
        skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
347  2002766  20200121     3605600   4.08    0.0    0.0      0      0   4.07

     ask2p  ask1q  ask2q
347   4.08  25000  35800
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
3612  2300603  20200121    21265242  37.02  37.03  37.02    100   5090    0.0

      ask2p  ask1q  ask2q
3612    0.0      0      0
20200122
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
1377  2002656  20200122    31296900   2.73    0.0    0.0      0      0   2.72
2476  2002656  20200122    39722300   2.72    0.0    0.0      0      0   2.72

      ask2p  ask1q   ask2q
1377   2.73  10000  256414
2476   2.73    100  209791
20200123
        skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
124  2000150  20200123     2661000   4.26    0.0    0.0      0      0   4.24

     ask2p  ask1q  ask2q
124   4.25    500   8260
        skey      date  cum_volume  close  bid1p  bid2p  bid1q   bid2q  ask1p  \
669  2000752  20200123     1387007   4.67   4.67   4.66   2600  110600    0.0

     ask2p  ask1q  ask2q
669    0.0      0      0
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
2192  2002453  20200123    16072222   4.98    0.0    0.0      0      0   4.98

      ask2p  ask1q  ask2q
2192   4.99   7000  54300
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
3683  2300004  20200123    21290795   6.64    0.0    0.0      0      0   6.64

      ask2p  ask1q  ask2q
3683   6.65   3700  94600
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
2841  2300350  20200123    12508820   4.46    0.0    0.0      0      0   4.45

      ask2p  ask1q  ask2q
2841   4.46    200   7769
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
4379  2300467  20200123    15892970  17.55    0.0    0.0      0      0  17.54

      ask2p  ask1q  ask2q
4379  17.55   1500  82301
         skey      date  cum_volume   close  bid1p  bid2p  bid1q  bid2q  \
1707  2300776  20200123     1915327  145.01    0.0    0.0      0      0
1959  2300776  20200123     2142227  145.02    0.0    0.0      0      0
2133  2300776  20200123     2239227  145.02    0.0    0.0      0      0

       ask1p   ask2p  ask1q  ask2q
1707  145.01  145.02    100  15400
1959  145.01  145.02    100  41503
2133  145.01  145.02   3000  23803
         skey      date  cum_volume   close  bid1p  bid2p  bid1q  bid2q  \
3265  2300785  20200123     1125800  160.23    0.0    0.0      0      0

       ask1p  ask2p  ask1q  ask2q
3265  160.23  160.5    100    600
20200203
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
1301  2000603  20200203     9303313  11.56    0.0    0.0      0      0  11.56

      ask2p  ask1q  ask2q
1301  11.57  13700  73366
        skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
243  2000767  20200203     2668400   2.15    0.0    0.0      0      0   2.14
327  2000767  20200203     3397800   2.15    0.0    0.0      0      0   2.14

     ask2p  ask1q   ask2q
243   2.15    600  148528
327   2.15  33400  165429
        skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
537  2000889  20200203     4886135   8.33    0.0    0.0      0      0   8.32
586  2000889  20200203     5043735   8.32    0.0    0.0      0      0   8.32

     ask2p  ask1q  ask2q
537   8.33   3000  79985
586   8.33   2800  73785
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
1051  2000900  20200203    12124842   3.80    0.0    0.0      0      0    3.8
1253  2000900  20200203    13418142   3.81    0.0    0.0      0      0    3.8

      ask2p  ask1q   ask2q
1051   3.81   3000  158900
1253   3.81  10000  111849
        skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
194  2000951  20200203     1255298  17.22    0.0    0.0      0      0  17.22
770  2000951  20200203     2455498  17.22    0.0    0.0      0      0  17.22

     ask2p  ask1q  ask2q
194  17.23   2000   3615
770  17.23    300  20800
        skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
718  2002029  20200203     6768862   5.09    0.0    0.0      0      0   5.08

     ask2p  ask1q  ask2q
718   5.09  30700  72084
        skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
698  2002035  20200203    11488000  10.79    0.0    0.0      0      0  10.79

     ask2p  ask1q  ask2q
698   10.8   2500  47344
        skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
172  2002111  20200203     1151700  14.32    0.0    0.0      0      0  14.31

     ask2p  ask1q  ask2q
172  14.32    900   4000
        skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
182  2002203  20200203      701800   8.79    0.0    0.0      0      0   8.79

     ask2p  ask1q  ask2q
182    8.8   3800   2600
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
1556  2002258  20200203     4654160  11.86    0.0    0.0      0      0  11.85
1876  2002258  20200203     5343160  11.85    0.0    0.0      0      0  11.85
1951  2002258  20200203     5464560  11.86    0.0    0.0      0      0  11.85

      ask2p  ask1q  ask2q
1556  11.86    100  46900
1876  11.86    800  26100
1951  11.86   3000  34400
        skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
236  2002267  20200203     3021900   6.19    0.0    0.0      0      0   6.18

     ask2p  ask1q  ask2q
236   6.19   6000  16300
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
1456  2002293  20200203     5365204   7.89    0.0    0.0      0      0   7.89

      ask2p  ask1q  ask2q
1456    7.9   1700   7980
        skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
943  2002434  20200203     6207207   8.98    0.0    0.0      0      0   8.98
964  2002434  20200203     6313707   8.99    0.0    0.0      0      0   8.98

     ask2p  ask1q  ask2q
943   8.99    100  21600
964   8.99   5000  42500
        skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
700  2002531  20200203     8963460   5.57    0.0    0.0      0      0   5.56

     ask2p  ask1q  ask2q
700   5.57   6200  97180

         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
541   2002557  20200203     1374500  32.31    0.0    0.0      0      0  32.31
795   2002557  20200203     1936200  32.33    0.0    0.0      0      0  32.32
857   2002557  20200203     2023100  32.31    0.0    0.0      0      0  32.31
1231  2002557  20200203     2522700  32.31    0.0    0.0      0      0  32.31

      ask2p  ask1q  ask2q
541   32.33    100    400
795   32.33    800    465
857   32.32   1400    800
1231  32.33   1000   1000
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
1598  2002616  20200203     6066400   7.58    0.0    0.0      0      0   7.57
1693  2002616  20200203     6158200   7.58    0.0    0.0      0      0   7.57
1695  2002616  20200203     6159000   7.58    0.0    0.0      0      0   7.57
1744  2002616  20200203     6238800   7.57    0.0    0.0      0      0   7.57
1903  2002616  20200203     6384000   7.57    0.0    0.0      0      0   7.57
1970  2002616  20200203     6615800   7.57    0.0    0.0      0      0   7.57
2005  2002616  20200203     6868100   7.58    0.0    0.0      0      0   7.57
2082  2002616  20200203     6983600   7.58    0.0    0.0      0      0   7.57

      ask2p  ask1q   ask2q
1598   7.58   1900    3800
1693   7.58    400   30900
1695   7.58    100   30500
1744   7.58   5100   91500
1903   7.58    100   50000
1970   7.58  91200   18900
2005   7.58   1200   64700
2082   7.58  51900  118300
        skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
250  2002771  20200203     2004010   10.0    0.0    0.0      0      0   9.99

     ask2p  ask1q  ask2q
250   10.0   2940  21920
        skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
381  2002777  20200203      981800  32.98    0.0    0.0      0      0  32.98

     ask2p  ask1q  ask2q
381  33.09    100    600
        skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
127  2002801  20200203      238900  33.63    0.0    0.0      0      0  33.62
577  2002801  20200203      812700  33.63    0.0    0.0      0      0  33.62
625  2002801  20200203      846200  33.62    0.0    0.0      0      0  33.62

     ask2p  ask1q  ask2q
127  33.63    200    100
577  33.63   1700   2600
625  33.63    100   2400
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
920   2002859  20200203     1976750  34.76    0.0    0.0      0      0  34.76
932   2002859  20200203     1983550  34.76    0.0    0.0      0      0  34.76
1101  2002859  20200203     2572750  34.76    0.0    0.0      0      0  34.76
1200  2002859  20200203     2738700  34.82    0.0    0.0      0      0  34.77
1215  2002859  20200203     2759900  34.76    0.0    0.0      0      0  34.76

      ask2p  ask1q  ask2q
920   34.77    700    600
932   34.77   3000   8300
1101  34.80  12000   3200
1200  34.82   1000   3400
1215  34.77    100    100
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
2848  2002955  20200203     2497872  50.01    0.0    0.0      0      0   50.0
2911  2002955  20200203     2526472  50.01    0.0    0.0      0      0   50.0

      ask2p  ask1q  ask2q
2848  50.01    700   8252
2911  50.01    900     52
        skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
530  2300031  20200203     3571212  15.71    0.0    0.0      0      0   15.7

     ask2p  ask1q  ask2q
530  15.71  10000  11896
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
1210  2300036  20200203    12108986  22.40    0.0    0.0      0      0  22.38
1224  2300036  20200203    12244486  22.39    0.0    0.0      0      0  22.38

      ask2p  ask1q  ask2q
1210  22.40    700   4460
1224  22.39    500  46524
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
2353  2300037  20200203     8732567  32.93    0.0    0.0      0      0  32.93

      ask2p  ask1q  ask2q
2353  32.94    200  17566
       skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
97  2300056  20200203      578400   5.88    0.0    0.0      0      0   5.72

    ask2p  ask1q  ask2q
97   5.88    400  27638
        skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
180  2300148  20200203     7344800   3.93    0.0    0.0      0      0   3.92

     ask2p  ask1q  ask2q
180   3.93   4000  69600
        skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
140  2300172  20200203      957500   4.54    0.0    0.0      0      0   4.53

     ask2p  ask1q  ask2q
140   4.54   2000  21884
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
2174  2300205  20200203    16027522  10.35    0.0    0.0      0      0  10.34

      ask2p  ask1q  ask2q
2174  10.35  73100   2821
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
1700  2300308  20200203     5300646  48.11    0.0    0.0      0      0  48.11
4177  2300308  20200203     9540367  48.12    0.0    0.0      0      0  48.11

      ask2p  ask1q  ask2q
1700  48.12    100   2800
4177  48.12   1900   5300
        skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
842  2300355  20200203    16420290   2.87    0.0    0.0      0      0   2.86

     ask2p  ask1q   ask2q
842   2.87    100  254198
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
3274  2300381  20200203    14712917   9.04    0.0    0.0      0      0   9.03

      ask2p  ask1q  ask2q
3274   9.04    100   3418
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
3889  2300406  20200203     9539101  14.72    0.0    0.0      0      0  14.71

      ask2p  ask1q  ask2q
3889  14.72    500  10220
        skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
485  2300441  20200203     5676400    8.0    0.0    0.0      0      0   7.99

     ask2p  ask1q   ask2q
485    8.0   2000  186820
        skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
259  2300444  20200203     4279100   3.83    0.0    0.0      0      0   3.82

     ask2p  ask1q  ask2q
259   3.83    300  63353
        skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
163  2300473  20200203      479713  38.71    0.0    0.0      0      0   38.7
676  2300473  20200203     1188913  38.71    0.0    0.0      0      0   38.7

     ask2p  ask1q  ask2q
163  38.71   5000   1300
676  38.71   1300    600
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
1612  2300476  20200203     6816441  19.69    0.0    0.0      0      0   19.5

      ask2p  ask1q  ask2q
1612   19.7   1000  18300
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
3689  2300497  20200203     8773758  17.53    0.0    0.0      0      0  17.52

      ask2p  ask1q  ask2q
3689  17.53   1000  13400
        skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
457  2300572  20200203     1183900  46.98    0.0    0.0      0      0  46.96

     ask2p  ask1q  ask2q
457  46.98    100  10900
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
1483  2300573  20200203     1200400  70.06    0.0    0.0      0      0  70.06
1490  2300573  20200203     1202300  70.09    0.0    0.0      0      0  70.06

      ask2p  ask1q  ask2q
1483  70.08    100   1400
1490  70.09    100    300
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
3089  2300596  20200203     2436437  33.68    0.0    0.0      0      0  33.63

      ask2p  ask1q  ask2q
3089  33.68   2500   1200
        skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
607  2300616  20200203      325658  65.79    0.0    0.0      0      0  65.75

     ask2p  ask1q  ask2q
607  65.79    100   1000
        skey      date  cum_volume   close  bid1p  bid2p  bid1q  bid2q  \
870  2300661  20200203      731096  247.60    0.0    0.0      0      0
969  2300661  20200203      822496  247.61    0.0    0.0      0      0
973  2300661  20200203      824696  247.60    0.0    0.0      0      0

      ask1p   ask2p  ask1q  ask2q
870  247.65  247.70    100    200
969  247.60  247.61    100    400
973  247.61  247.97    200    100
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
1001  2300662  20200203     1072812   30.6    0.0    0.0      0      0  30.59

      ask2p  ask1q  ask2q
1001   30.6    100   7100

        skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
672  2300676  20200203    16571228  87.45  87.45  87.44   1000  28141    0.0

     ask2p  ask1q  ask2q
672    0.0      0      0
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
1917  2300702  20200203     2011476  50.96    0.0    0.0      0      0  50.96
2151  2300702  20200203     2149976  50.96    0.0    0.0      0      0  50.96
2338  2300702  20200203     2369476  50.97    0.0    0.0      0      0  50.96

      ask2p  ask1q  ask2q
1917  50.97    100  13547
2151  50.97    200   2600
2338  50.97    200   1300
        skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
198  2300747  20200203      561700  91.72    0.0    0.0      0      0  91.72
221  2300747  20200203      594500  91.71    0.0    0.0      0      0  91.71
247  2300747  20200203      628300  91.71    0.0    0.0      0      0  91.71

     ask2p  ask1q  ask2q
198  91.75    200    100
221  91.72    200    400
247  91.72    550   1400
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
1573  2300765  20200203     2091560  32.07    0.0    0.0      0      0  32.06

      ask2p  ask1q  ask2q
1573  32.07    500   1284
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
2132  2300771  20200203     1630377  53.17    0.0    0.0      0      0  53.17
2142  2300771  20200203     1632577  53.17    0.0    0.0      0      0  53.17
2499  2300771  20200203     1791477  53.17    0.0    0.0      0      0  53.17

      ask2p  ask1q  ask2q
2132  53.18    200   1900
2142  53.18    200   1900
2499  53.18    100    700
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
2244  2300788  20200203     1787100  43.82    0.0    0.0      0      0  43.82

      ask2p  ask1q  ask2q
2244   43.9    500    200
20200204
        skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
394  2000520  20200204    10427814   3.29    0.0    0.0      0      0   3.19

     ask2p   ask1q  ask2q
394   3.29  274902  82700
        skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
776  2000697  20200204     8532572   8.45    0.0    0.0      0      0   8.44

     ask2p  ask1q  ask2q
776   8.45   1600  60920
        skey      date  cum_volume  close  bid1p  bid2p  bid1q   bid2q  ask1p  \
150  2002126  20200204     6915955   8.47   8.48   8.47  14300  335821    0.0

     ask2p  ask1q  ask2q
150    0.0      0      0
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
2345  2002497  20200204    54737470   9.00   9.01    9.0   2300  86008    0.0
2355  2002497  20200204    54797570   9.01   9.01    9.0  19900  87208    0.0

      ask2p  ask1q  ask2q
2345    0.0      0      0
2355    0.0      0      0
         skey      date  cum_volume   close   bid1p   bid2p  bid1q  bid2q  \
2170  2002821  20200204     1790190  158.84  158.84  158.82    100    300
2237  2002821  20200204     1810090  158.84  158.84  158.81    100    100
2270  2002821  20200204     1817990  158.83  158.84  158.83    100    500
2301  2002821  20200204     1822090  158.83  158.84  158.83    200   1900
2341  2002821  20200204     1831290  158.84  158.84  158.83    100   1400

      ask1p  ask2p  ask1q  ask2q
2170    0.0    0.0      0      0
2237    0.0    0.0      0      0
2270    0.0    0.0      0      0
2301    0.0    0.0      0      0
2341    0.0    0.0      0      0
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
2097  2002850  20200204     5312838  56.21  56.21   56.2    100   1200    0.0
2109  2002850  20200204     5319488  56.21  56.21   56.2    100   2000    0.0
2164  2002850  20200204     5376788  56.21  56.21   56.2    800   1500    0.0

      ask2p  ask1q  ask2q
2097    0.0      0      0
2109    0.0      0      0
2164    0.0      0      0
         skey      date  cum_volume   close   bid1p   bid2p  bid1q  bid2q  \
1300  2002912  20200204     1288321  138.48  138.48  138.47    200   2900

      ask1p  ask2p  ask1q  ask2q
1300    0.0    0.0      0      0
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
3722  2300078  20200204    24917936   11.9  11.91   11.9    100  21020    0.0
4755  2300078  20200204    27940696   11.9  11.91   11.9   1800  18400    0.0

      ask2p  ask1q  ask2q
3722    0.0      0      0
4755    0.0      0      0
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
3891  2300316  20200204    39988249  19.36  19.36  19.34    100    919    0.0

      ask2p  ask1q  ask2q
3891    0.0      0      0
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
2144  2300449  20200204    20032531   8.26    0.0    0.0      0      0   8.26

      ask2p  ask1q   ask2q
2144   8.27   1300  234080
20200205
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
1300  2002188  20200205     6930200   4.34   4.35   4.34   3300  17300    0.0
1302  2002188  20200205     6936200   4.34   4.35   4.34    300  14600    0.0
1324  2002188  20200205     6955200   4.35   4.35   4.34   1000  13800    0.0
1326  2002188  20200205     6955200   4.35   4.35   4.34    500  13800    0.0

      ask2p  ask1q  ask2q
1300    0.0      0      0
1302    0.0      0      0
1324    0.0      0      0
1326    0.0      0      0
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
3859  2002320  20200205    33212021  13.15  13.16  13.15   1300   2200    0.0

      ask2p  ask1q  ask2q
3859    0.0      0      0
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
2041  2002950  20200205    19446403  45.67  45.68  45.67    300  11861    0.0
2168  2002950  20200205    19626903  45.67  45.68  45.67    500   4461    0.0
2174  2002950  20200205    19634403  45.67  45.68  45.67    100   4561    0.0

      ask2p  ask1q  ask2q
2041    0.0      0      0
2168    0.0      0      0
2174    0.0      0      0
20200206
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
4679  2300053  20200206    71393760  12.89   12.9  12.89   3000  97800    0.0

      ask2p  ask1q  ask2q
4679    0.0      0      0
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
3440  2300294  20200206    27939659  36.17  36.18  36.16   1700    300    0.0
3455  2300294  20200206    27998259  36.16  36.18  36.16    500  12500    0.0

      ask2p  ask1q  ask2q
3440    0.0      0      0
3455    0.0      0      0
         skey      date  cum_volume   close   bid1p   bid2p  bid1q  bid2q  \
2846  2300785  20200206      935048  162.38  162.38  162.37    200   7400

      ask1p  ask2p  ask1q  ask2q
2846    0.0    0.0      0      0
20200207
20200210
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
3168  2000881  20200210    16177568    7.3    7.3   7.29   2000  24400    0.0

      ask2p  ask1q  ask2q
3168    0.0      0      0
20200211
         skey      date  cum_volume  close  bid1p  bid2p  bid1q   bid2q  \
3797  2002638  20200211    96922785   3.59    3.6   3.59   2500  525100

      ask1p  ask2p  ask1q  ask2q
3797    0.0    0.0      0      0
20200212
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
2945  2002777  20200212     5631106  45.05  45.06  45.05   1400    340    0.0

      ask2p  ask1q  ask2q
2945    0.0      0      0
20200213
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
2816  2002323  20200213    24215319   2.92   2.92   2.91    300  91400    0.0

      ask2p  ask1q  ask2q
2816    0.0      0      0
         skey      date  cum_volume   close   bid1p   bid2p  bid1q  bid2q  \
4008  2300785  20200213     1018833  192.50  192.51  192.48    100    100
4016  2300785  20200213     1020233  192.51  192.51  192.50    200    900
4029  2300785  20200213     1028333  192.51  192.51  192.50    300    400

      ask1p  ask2p  ask1q  ask2q
4008    0.0    0.0      0      0
4016    0.0    0.0      0      0
4029    0.0    0.0      0      0

20200214
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
2594  2002188  20200214     6983900    4.5    0.0    0.0      0      0   4.49

      ask2p   ask1q  ask2q
2594    4.5  208200  53700
2:07:42.847446

In [217]:
d = 20200221
read_stock_daily(db2, 'mdbar1d_tr', start_date=int(d), end_date=int(d), skey=[2000700])

,skey,date,time,name,trade_status,listed_days,open,high,low,close,closeL1,yclose,ztClose,dtClose,dayReturn,volume,amount,buy_volume,sell_volume,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,isST,VWAP,TWAP,marketValue,marketShares,totalShares,SW1_name,SW1_code,SW2_code,SW3_code,index_name,index_weight,exchange
0,2000700,20200221,180000000000,模塑科技,1,5397,13.86,14.89,13.58,14.1,14.54,14.54,15.99,13.09,-0.030261,193834363,2.746598e+09,96645878.0,97188485.0,0.24199,0,0,0,0,0,0,0,14.169821,14.27265,1.129414e+10,801002514.0,910973188.0,申万汽车,SW801880,SW801093,SW850921,CSIRest,0.026016,SZSE

In [241]:
d = 20200221
s = 2300223
data1 = db1.read('md_snapshot_l2', start_date=str(d), end_date=str(d), symbol=s)
data2 = db1.read('md_snapshot_mbd', start_date=str(d), end_date=str(d), symbol=s)
data1[(data1['cum_volume'] > 0) & (data1['time'] <= 145655000000)]

,skey,date,time,clockAtArrival,datetime,ordering,has_missing,cum_trades_cnt,cum_volume,cum_amount,prev_close,open,high,low,close,bid10p,bid9p,bid8p,bid7p,bid6p,bid5p,bid4p,bid3p,bid2p,bid1p,ask1p,ask2p,ask3p,ask4p,ask5p,ask6p,ask7p,ask8p,ask9p,ask10p,bid10q,bid9q,bid8q,bid7q,bid6q,bid5q,bid4q,bid3q,bid2q,bid1q,ask1q,ask2q,ask3q,ask4q,ask5q,ask6q,ask7q,ask8q,ask9q,ask10q,bid10n,bid9n,bid8n,bid7n,bid6n,bid5n,bid4n,bid3n,bid2n,bid1n,ask1n,ask2n,ask3n,ask4n,ask5n,ask6n,ask7n,ask8n,ask9n,ask10n,bid1Top1q,bid1Top2q,bid1Top3q,bid1Top4q,bid1Top5q,bid1Top6q,bid1Top7q,bid1Top8q,bid1Top9q,bid1Top10q,bid1Top11q,bid1Top12q,bid1Top13q,bid1Top14q,bid1Top15q,bid1Top16q,bid1Top17q,bid1Top18q,bid1Top19q,bid1Top20q,bid1Top21q,bid1Top22q,bid1Top23q,bid1Top24q,bid1Top25q,bid1Top26q,bid1Top27q,bid1Top28q,bid1Top29q,bid1Top30q,bid1Top31q,bid1Top32q,bid1Top33q,bid1Top34q,bid1Top35q,bid1Top36q,bid1Top37q,bid1Top38q,bid1Top39q,bid1Top40q,bid1Top41q,bid1Top42q,bid1Top43q,bid1Top44q,bid1Top45q,bid1Top46q,bid1Top47q,bid1Top48q,bid1Top49q,bid1Top50q,ask1Top1q,ask1Top2q,ask1Top3q,ask1Top4q,ask1Top5q,ask1Top6q,ask1Top7q,ask1Top8q,ask1Top9q,ask1Top10q,ask1Top11q,ask1Top12q,ask1Top13q,ask1Top14q,ask1Top15q,ask1Top16q,ask1Top17q,ask1Top18q,ask1Top19q,ask1Top20q,ask1Top21q,ask1Top22q,ask1Top23q,ask1Top24q,ask1Top25q,ask1Top26q,ask1Top27q,ask1Top28q,ask1Top29q,ask1Top30q,ask1Top31q,ask1Top32q,ask1Top33q,ask1Top34q,ask1Top35q,ask1Top36q,ask1Top37q,ask1Top38q,ask1Top39q,ask1Top40q,ask1Top41q,ask1Top42q,ask1Top43q,ask1Top44q,ask1Top45q,ask1Top46q,ask1Top47q,ask1Top48q,ask1Top49q,ask1Top50q,total_bid_quantity,total_ask_quantity,total_bid_vwap,total_ask_vwap,total_bid_orders,total_ask_orders,total_bid_levels,total_ask_levels,bid_trade_max_duration,ask_trade_max_duration,cum_canceled_buy_orders,cum_canceled_buy_volume,cum_canceled_buy_amount,cum_canceled_sell_orders,cum_canceled_sell_volume,cum_canceled_sell_amount,ApplSeqNum
101,2300223,20200221,92503000000,1582248303000000,2020-02-21 09:25:03,102,0,226,114376,1.469732e+07,129.23,128.5,128.50,128.5,128.50,128.14,128.20,128.22,128.23,128.41,128.42,128.43,128.45,128.48,128.50,128.63,128.88,128.89,128.93,128.94,128.95,129.00,129.11,129.22,129.23,500,1500,100,700,16400,1000,200,100,600,324,300,300,300,100,800,400,500,400,1200,500,1,1,1,1,28,1,2,1,1,1,1,3,1,1,1,1,3,1,1,3,324,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,300,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,163024,171300,124.69,136.10,0,0,0,0,0,0,0,0,0.0,0,0,0.0,368324
102,2300223,20200221,92603000000,1582248363000000,2020-02-21 09:26:03,103,0,226,114376,1.469732e+07,129.23,128.5,128.50,128.5,128.50,128.14,128.20,128.22,128.23,128.41,128.42,128.43,128.45,128.48,128.50,128.63,128.88,128.89,128.93,128.94,128.95,129.00,129.11,129.22,129.23,500,1500,100,700,16400,1000,200,100,600,324,300,300,300,100,800,400,500,400,1200,500,1,1,1,1,28,1,2,1,1,1,1,3,1,1,1,1,3,1,1,3,324,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,300,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,163024,171300,124.69,136.10,0,0,0,0,0,0,0,0,0.0,0,0,0.0,368324
103,2300223,20200221,92703000000,1582248423000000,2020-02-21 09:27:03,104,0,226,114376,1.469732e+07,129.23,128.5,128.50,128.5,128.50,128.14,128.20,128.22,128.23,128.41,128.42,128.43,128.45,128.48,128.50,128.63,128.88,128.89,128.93,128.94,128.95,129.00,129.11,129.22,129.23,500,1500,100,700,16400,1000,200,100,600,324,300,300,300,100,800,400,500,400,1200,500,1,1,1,1,28,1,2,1,1,1,1,3,1,1,1,1,3,1,1,3,324,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,300,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,163024,171300,124.69,136.10,0,0,0,0,0,0,0,0,0.0,0,0,0.0,368324
104,2300223,20200221,92803000000,1582248483000000,2020-02-21 09:28:03,105,0,226,114376,1.469732e+07,129.23,128.5,128.50,128.5,128.50,128.14,128.20,128.22,128.23,128.41,128.42,128.43,128.45,128.48,128.50,128.63,128.88,128.89,128.93,128.94,128.95,129.00,129.11,129.22,129.23,500,1500,100,700,16400,1000,200,100,600,324,300,300,300,100,800,400,500,400,1200,500,1,1,1,1,28,1,2,1,1,1,1,3,1,1,1,1,3,1,1,3,324,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,300,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,163024,171300,124.69,136.10,0,0,0,0,0,0,0,0,0.0,0,0,0.0,368324
105,2300223,20200221,92903000000,1582248543000000,2020-02-21 09:29:03,106,0,226,114376,1.469732e+07,129.23,128.5,128.50,128.5,128.50,128.14,128.20,128.22,128.23,128.41,128.42,128.43,128.45,128.48,128.50,128.63,128.88,128.89,128.93,128.94,128.95,129.00,129.11,129.22,129.23,500,1500,100,700,16400,1000,200,100,600,324,300,300,300,100,800,400,500,400,1200,500,1,1,1,1,28,1,2,1,1,1,1,3,1,1,1,1,3,1,1,3,324,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,300,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,163024,171300,124.69,136.10,0,0,0,0,0,0,0,0,0.0,0,0,0.0,368324
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4928,2300223,20200221,145642000000,1582268202000000,2020-02-21 14:56:42,4929,0,33188,9990949,1.284319e+09,129.23,128.5,131.46,126.1,128.29,128.01,128.02,128.05,128.10,128.12,128.18,128.19,128.20,128.21,128.23,128.29,128.30,128.40,128.43,128.44,128.46,128.47,128.48,128.49,128.50,200,200,1100,500,1200,2800,900,3400,1500,100,4800,1100,1000,4700,300,1000,1500,1500,4300,5000,1,2,6,5,3,4,3,5,2,1,1,2,1,1,1,1,1,4,2,16,100,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4800,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,465778,731529,125.07,133.97,0,0,0,0,0,0,0,0,0.0,0,0,0.0,24774600
4929,2300223,20200221,145645000000,1582268205000000,2020-02-21 14:56:45,4930,0,33208,10001649,1.285691e+09,129.23,128.5,131.46,126.1,128.30,127.98,128.00,128.01,128.02,128.05,128.10,128.12,128.18,128.19,128.20,128.30,128.33,128.39,128.40,128.43,128.44,128.46,128.47,128.48,128.49,600,5700,200,200,1100,500,1200,2800,900,300,1000,400,100,1000,4700,300,1000,1500,1500,4000,2,12,1,2,6,5,3,4,3,1,3,1,1,1,1,1,1,1,4,1,300,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,800,100,100,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,457878,726429,125.03,134.01,0,0,0,0,0,0,0,0,0.0,0,0,0.0,24781286
4930,2300223,20200221,145648000000,1582268208000000,2020-02-21 14:56:48,4931,0,33223,10004849,1.286102e+09,129.23,128.5,131.46,126.1,128.25,127.95,127.98,128.00,128.01,128.02,128.05,128.10,128.12,128.18,128.19,128.25,128.30,128.33,128.39,128.40,128.43,128.44,128.46,128.47,128.48,100,600,5600,200,200,1100,500,1200,2800,600,7200,100,500,800,1500,4700,300,1000,1500,1500,1,2,11,1,2,6,5,3,4,3,1,1,2,4,4,1,1,1,1,4,200,200,200,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,7200,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,457078,733829,125.03,133.95,0,0,0,0,0,0,0,0,0.0,0,0,0.0,24789094
4931,2300223,20200221,145651000000,1582268211000000,2020-02-21 14:56:51,4932,0,33225,10005749,1.286217e+09,129.23,128.5,131.46,126.1,128.21,127.98,128.00,128.01,128.02,128.05,128.10,128.12,128.18,128.19,128.20,128.21,128.23,128.25,128.30,128.33,128.39,128.40,128.41,128.42,128.43,600,5600,200,200,1100,500,1100,2800,600,500,3600,500,6500,1600,500,800,1600,200,100,4700,2,11,1,2,6,5,2,4,3,1,1,2,1,2,2,4,5,1,1,1,500,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3600,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,457578,738929,125.03,133.91,0,0,0,0,0,0,0,0,0.0,0,0,0.0,24795128
4932,2300223,20200221,145654000000,1582268214000000,2020-02-21 14:56:54,4933,0,33231,10006949,1.286371e+09,129.23,128.5,131.46,126.1,128.20,127.98,128.00,128.01,128.02,128.05,128.10,128.12,128.18,128.19,128.20,128.21,128.23,128.25,128.30,128.33,128.39,128.40,128.41,128.42,128.43,600,5700,200,200,1100,500,1100,2800,600,700,2600,500,6500,1600,500,800,1900,200,100,4700,2,12,1,2,6,5,2,4,3,2,1,2,1,2,2,4,6,1,1,1,300,400,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2600,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,457778,734029,125.03,133.94,0,0,0,0,0,0,0,0,0.0,0,0,0.0,24802650

In [230]:
data1[data1['cum_volume'] == 6517347]

,skey,date,time,clockAtArrival,datetime,ordering,has_missing,cum_trades_cnt,cum_volume,cum_amount,prev_close,open,high,low,close,bid10p,bid9p,bid8p,bid7p,bid6p,bid5p,bid4p,bid3p,bid2p,bid1p,ask1p,ask2p,ask3p,ask4p,ask5p,ask6p,ask7p,ask8p,ask9p,ask10p,bid10q,bid9q,bid8q,bid7q,bid6q,bid5q,bid4q,bid3q,bid2q,bid1q,ask1q,ask2q,ask3q,ask4q,ask5q,ask6q,ask7q,ask8q,ask9q,ask10q,bid10n,bid9n,bid8n,bid7n,bid6n,bid5n,bid4n,bid3n,bid2n,bid1n,ask1n,ask2n,ask3n,ask4n,ask5n,ask6n,ask7n,ask8n,ask9n,ask10n,bid1Top1q,bid1Top2q,bid1Top3q,bid1Top4q,bid1Top5q,bid1Top6q,bid1Top7q,bid1Top8q,bid1Top9q,bid1Top10q,bid1Top11q,bid1Top12q,bid1Top13q,bid1Top14q,bid1Top15q,bid1Top16q,bid1Top17q,bid1Top18q,bid1Top19q,bid1Top20q,bid1Top21q,bid1Top22q,bid1Top23q,bid1Top24q,bid1Top25q,bid1Top26q,bid1Top27q,bid1Top28q,bid1Top29q,bid1Top30q,bid1Top31q,bid1Top32q,bid1Top33q,bid1Top34q,bid1Top35q,bid1Top36q,bid1Top37q,bid1Top38q,bid1Top39q,bid1Top40q,bid1Top41q,bid1Top42q,bid1Top43q,bid1Top44q,bid1Top45q,bid1Top46q,bid1Top47q,bid1Top48q,bid1Top49q,bid1Top50q,ask1Top1q,ask1Top2q,ask1Top3q,ask1Top4q,ask1Top5q,ask1Top6q,ask1Top7q,ask1Top8q,ask1Top9q,ask1Top10q,ask1Top11q,ask1Top12q,ask1Top13q,ask1Top14q,ask1Top15q,ask1Top16q,ask1Top17q,ask1Top18q,ask1Top19q,ask1Top20q,ask1Top21q,ask1Top22q,ask1Top23q,ask1Top24q,ask1Top25q,ask1Top26q,ask1Top27q,ask1Top28q,ask1Top29q,ask1Top30q,ask1Top31q,ask1Top32q,ask1Top33q,ask1Top34q,ask1Top35q,ask1Top36q,ask1Top37q,ask1Top38q,ask1Top39q,ask1Top40q,ask1Top41q,ask1Top42q,ask1Top43q,ask1Top44q,ask1Top45q,ask1Top46q,ask1Top47q,ask1Top48q,ask1Top49q,ask1Top50q,total_bid_quantity,total_ask_quantity,total_bid_vwap,total_ask_vwap,total_bid_orders,total_ask_orders,total_bid_levels,total_ask_levels,bid_trade_max_duration,ask_trade_max_duration,cum_canceled_buy_orders,cum_canceled_buy_volume,cum_canceled_buy_amount,cum_canceled_sell_orders,cum_canceled_sell_volume,cum_canceled_sell_amount,ApplSeqNum
3316,2300223,20200221,133606000000,1582263366000000,2020-02-21 13:36:06,3317,0,21435,6517347,8.414352e+08,129.23,128.5,131.46,127.1,128.0,127.81,127.82,127.85,127.86,127.88,127.89,127.9,127.95,127.98,127.99,128.0,128.2,128.23,128.26,128.27,128.29,128.3,128.31,128.48,128.5,3900,500,100,200,600,400,2400,100,3200,1740,2897,100,100,300,5700,200,11300,1000,2200,2600,6,1,1,1,2,3,6,1,9,8,1,1,1,1,1,1,2,1,2,1,440,100,500,100,300,100,100,100,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2897,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,442081,907676,125.02,135.23,0,0,0,0,0,0,0,0,0.0,0,0,0.0,-1

In [231]:
pd.set_option('max_rows', 200)
data2[(data2['cum_volume'] == 6517347)].drop_duplicates(keep='first').head(80)[cols+['ApplSeqNum']]

,skey,date,cum_volume,prev_close,open,close,cum_trades_cnt,bid10p,bid9p,bid8p,bid7p,bid6p,bid5p,bid4p,bid3p,bid2p,bid1p,ask1p,ask2p,ask3p,ask4p,ask5p,ask6p,ask7p,ask8p,ask9p,ask10p,bid10q,bid9q,bid8q,bid7q,bid6q,bid5q,bid4q,bid3q,bid2q,bid1q,ask1q,ask2q,ask3q,ask4q,ask5q,ask6q,ask7q,ask8q,ask9q,ask10q,bid10n,bid9n,bid8n,bid7n,bid6n,bid5n,bid4n,bid3n,bid2n,bid1n,ask1n,ask2n,ask3n,ask4n,ask5n,ask6n,ask7n,ask8n,ask9n,ask10n,total_bid_quantity,total_ask_quantity,ApplSeqNum
45381,2300223,20200221,6517347,129.23,128.5,128.0,21435,127.81,127.82,127.85,127.86,127.88,127.89,127.9,127.95,127.98,127.99,128.0,128.23,128.26,128.27,128.29,128.30,128.31,128.48,128.50,128.66,3900,500,100,200,600,400,2400,100,3200,1740,2897,100,300,5700,200,11300,1000,2200,2600,100,6,1,1,1,2,3,6,1,9,8,1,1,1,1,1,2,1,2,1,1,441881,907576,17566894
45382,2300223,20200221,6517347,129.23,128.5,128.0,21435,127.81,127.82,127.85,127.86,127.88,127.89,127.9,127.95,127.98,127.99,128.0,128.20,128.23,128.26,128.27,128.29,128.30,128.31,128.48,128.50,3900,500,100,200,600,400,2400,100,3200,1740,2897,100,100,300,5700,200,11300,1000,2200,2600,6,1,1,1,2,3,6,1,9,8,1,1,1,1,1,1,2,1,2,1,441881,907676,17567351
45383,2300223,20200221,6517347,129.23,128.5,128.0,21435,127.81,127.82,127.85,127.86,127.88,127.89,127.9,127.95,127.98,127.99,128.0,128.20,128.23,128.26,128.27,128.29,128.30,128.31,128.48,128.50,3900,500,100,200,600,400,2400,100,3200,1740,2897,100,100,300,5700,200,11300,1000,2200,2600,6,1,1,1,2,3,6,1,9,8,1,1,1,1,1,1,2,1,2,1,442281,907676,17567430

In [237]:
order = db1.read('md_order', 20200120, 20200120, symbol=2002747)
trade = db1.read('md_trade', 20200120, 20200120, symbol=2002747)
kk = pd.concat([order, trade]).sort_values(by='ApplSeqNum').reset_index(drop=True)
kk[kk['time'] >= 145649340000].head(20)

,skey,date,time,clockAtArrival,datetime,ApplSeqNum,order_side,order_type,order_price,order_qty,trade_type,trade_flag,trade_price,trade_qty,BidApplSeqNum,OfferApplSeqNum
25074,2002747,20200120,145649340000,1579503409340000,2020-01-20 14:56:49.340,16324301,1.0,2.0,11.86,100.0,NaN,NaN,NaN,NaN,NaN,NaN
25075,2002747,20200120,145649880000,1579503409880000,2020-01-20 14:56:49.880,16325146,2.0,1.0,1.00,900.0,NaN,NaN,NaN,NaN,NaN,NaN
25076,2002747,20200120,145649880000,1579503409880000,2020-01-20 14:56:49.880,16325147,NaN,NaN,NaN,NaN,1.0,0.0,11.87,400.0,16322823.0,16325146.0
25077,2002747,20200120,145656780000,1579503416780000,2020-01-20 14:56:56.780,16335115,NaN,NaN,NaN,NaN,4.0,0.0,0.00,10000.0,16311173.0,0.0
25078,2002747,20200120,145701010000,1579503421010000,2020-01-20 14:57:01.010,16340173,1.0,2.0,11.87,108200.0,NaN,NaN,NaN,NaN,NaN,NaN
25079,2002747,20200120,145702430000,1579503422430000,2020-01-20 14:57:02.430,16341127,2.0,2.0,11.89,1000.0,NaN,NaN,NaN,NaN,NaN,NaN
25080,2002747,20200120,145705040000,1579503425040000,2020-01-20 14:57:05.040,16343256,2.0,2.0,11.52,100.0,NaN,NaN,NaN,NaN,NaN,NaN
25081,2002747,20200120,145705060000,1579503425060000,2020-01-20 14:57:05.060,16343291,1.0,2.0,12.22,100.0,NaN,NaN,NaN,NaN,NaN,NaN
25082,2002747,20200120,145706090000,1579503426090000,2020-01-20 14:57:06.090,16343976,1.0,2.0,11.87,1000.0,NaN,NaN,NaN,NaN,NaN,NaN
25083,2002747,20200120,145707880000,1579503427880000,2020-01-20 14:57:07.880,16344961,1.0,2.0,11.90,2000.0,NaN,NaN,NaN,NaN,NaN,NaN
25084,2002747,20200120,145713960000,1579503433960000,2020-01-20 14:57:13.960,16349052,1.0,2.0,11.85,500.0,NaN,NaN,NaN,NaN,NaN,NaN
25085,2002747,20200120,145717170000,1579503437170000,2020-01-20 14:57:17.170,16350802,2.0,2.0,11.92,700.0,NaN,NaN,NaN,NaN,NaN,NaN
25086,2002747,20200120,145717960000,1579503437960000,2020-01-20 14:57:17.960,16351240,2.0,2.0,11.91,5900.0,NaN,NaN,NaN,NaN,NaN,NaN
25087,2002747,20200120,145717970000,1579503437970000,2020-01-20 14:57:17.970,16351244,1.0,2.0,11.90,1100.0,NaN,NaN,NaN,NaN,NaN,NaN
25088,2002747,20200120,145718130000,1579503438130000,2020-01-20 14:57:18.130,16351335,2.0,2.0,11.92,500.0,NaN,NaN,NaN,NaN,NaN,NaN
25089,2002747,20200120,145718650000,1579503438650000,2020-01-20 14:57:18.650,16351626,2.0,2.0,11.81,1000.0,NaN,NaN,NaN,NaN,NaN,NaN
25090,2002747,20200120,145720870000,1579503440870000,2020-01-20 14:57:20.870,16352878,2.0,2.0,11.92,1400.0,NaN,NaN,NaN,NaN,NaN,NaN
25091,2002747,20200120,145721640000,1579503441640000,2020-01-20 14:57:21.640,16353265,2.0,2.0,11.92,900.0,NaN,NaN,NaN,NaN,NaN,NaN
25092,2002747,20200120,145725010000,1579503445010000,2020-01-20 14:57:25.010,16355026,2.0,2.0,11.92,1100.0,NaN,NaN,NaN,NaN,NaN,NaN
25093,2002747,20200120,145730020000,1579503450020000,2020-01-20 14:57:30.020,16357680,1.0,2.0,11.90,1000.0,NaN,NaN,NaN,NaN,NaN,NaN

In [207]:
trade[trade['OfferApplSeqNum'] == 22830536]

,skey,date,time,clockAtArrival,datetime,ApplSeqNum,trade_type,trade_flag,trade_price,trade_qty,BidApplSeqNum,OfferApplSeqNum
254747,2000700,20200221,143832410000,1582267112410000,2020-02-21 14:38:32.410,22837649,1,0,14.2,2000,22837635,22830536

In [136]:
import pymongo
import pandas as pd
import pickle
import datetime
import time
import gzip
import lzma
import pytz


def DB(host, db_name, user, passwd):
    auth_db = db_name if user not in ('admin', 'root') else 'admin'
    uri = 'mongodb://%s:%s@%s/?authSource=%s' % (user, passwd, host, auth_db)
    return DBObj(uri, db_name=db_name)


class DBObj(object):
    def __init__(self, uri, symbol_column='skey', db_name='white_db'):
        self.db_name = db_name
        self.uri = uri
        self.client = pymongo.MongoClient(self.uri)
        self.db = self.client[self.db_name]
        self.chunk_size = 20000
        self.symbol_column = symbol_column
        self.date_column = 'date'

    def parse_uri(self, uri):
        # mongodb://user:password@example.com
        return uri.strip().replace('mongodb://', '').strip('/').replace(':', ' ').replace('@', ' ').split(' ')

    def drop_table(self, table_name):
        self.db.drop_collection(table_name)

    def rename_table(self, old_table, new_table):
        self.db[old_table].rename(new_table)

    def write(self, table_name, df):
        if len(df) == 0: return

        multi_date = False

        if self.date_column in df.columns:
            date = str(df.head(1)[self.date_column].iloc[0])
            multi_date = len(df[self.date_column].unique()) > 1
        else:
            raise Exception('DataFrame should contain date column')

        collection = self.db[table_name]
        collection.create_index([('date', pymongo.ASCENDING), ('symbol', pymongo.ASCENDING)], background=True)
        collection.create_index([('symbol', pymongo.ASCENDING), ('date', pymongo.ASCENDING)], background=True)

        if multi_date:
            for (date, symbol), sub_df in df.groupby([self.date_column, self.symbol_column]):
                date = str(date)
                symbol = int(symbol)
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)
        else:
            for symbol, sub_df in df.groupby([self.symbol_column]):
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)

    def write_single(self, collection, date, symbol, df):
        for start in range(0, len(df), self.chunk_size):
            end = min(start + self.chunk_size, len(df))
            df_seg = df[start:end]
            version = 1
            seg = {'ver': version, 'data': self.ser(df_seg, version), 'date': date, 'symbol': symbol, 'start': start}
            collection.insert_one(seg)

    def build_query(self, start_date=None, end_date=None, symbol=None):
        query = {}

        def parse_date(x):
            if type(x) == str:
                if len(x) != 8:
                    raise Exception("`date` must be YYYYMMDD format")
                return x
            elif type(x) == datetime.datetime or type(x) == datetime.date:
                return x.strftime("%Y%m%d")
            elif type(x) == int:
                return parse_date(str(x))
            else:
                raise Exception("invalid `date` type: " + str(type(x)))

        if start_date is not None or end_date is not None:
            query['date'] = {}
            if start_date is not None:
                query['date']['$gte'] = parse_date(start_date)
            if end_date is not None:
                query['date']['$lte'] = parse_date(end_date)

        def parse_symbol(x):
            if type(x) == int:
                return x
            else:
                return int(x)

        if symbol:
            if type(symbol) == list or type(symbol) == tuple:
                query['symbol'] = {'$in': [parse_symbol(x) for x in symbol]}
            else:
                query['symbol'] = parse_symbol(symbol)

        return query

    def delete(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot delete the whole table')
            return None

        collection.delete_many(query)

    def read(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot read the whole table')
            return None

        segs = []
        for x in collection.find(query):
            x['data'] = self.deser(x['data'], x['ver'])
            segs.append(x)
        segs.sort(key=lambda x: (x['symbol'], x['date'], x['start']))
        return pd.concat([x['data'] for x in segs], ignore_index=True) if segs else None

    def list_tables(self):
        return self.db.collection_names()

    def list_dates(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]
        dates = set()
        if start_date is None:
            start_date = '00000000'
        if end_date is None:
            end_date = '99999999'
        for x in collection.find(self.build_query(start_date, end_date, symbol), {"date": 1, '_id': 0}):
            dates.add(x['date'])
        return sorted(list(dates))

    def ser(self, s, version):
        pickle_protocol = 4
        if version == 1:
            return gzip.compress(pickle.dumps(s, protocol=pickle_protocol), compresslevel=2)
        elif version == 2:
            return lzma.compress(pickle.dumps(s, protocol=pickle_protocol), preset=1)
        else:
            raise Exception('unknown version')

    def deser(self, s, version):
        def unpickle(s):
            return pickle.loads(s)

        if version == 1:
            return unpickle(gzip.decompress(s))
        elif version == 2:
            return unpickle(lzma.decompress(s))
        else:
            raise Exception('unknown version')


def patch_pandas_pickle():
    if pd.__version__ < '0.24':
        import sys
        from types import ModuleType
        from pandas.core.internals import BlockManager
        pkg_name = 'pandas.core.internals.managers'
        if pkg_name not in sys.modules:
            m = ModuleType(pkg_name)
            m.BlockManager = BlockManager
            sys.modules[pkg_name] = m
patch_pandas_pickle()

def dailyDB(host, db_name, user, passwd):
    auth_db = db_name if user not in ('admin', 'root') else 'admin'
    url = 'mongodb://%s:%s@%s/?authSource=%s' % (user, passwd, host, auth_db)
    client = pymongo.MongoClient(url, maxPoolSize=None)
    db = client[db_name]
    return db

def read_stock_daily(db, name, start_date=None, end_date=None, skey=None, index_name=None, interval=None, col=None, return_sdi=True):
    collection = db[name]
    # Build projection
    prj = {'_id': 0}
    if col is not None:
        if return_sdi:
            col = ['skey', 'date'] + col
        for col_name in col:
            prj[col_name] = 1

    # Build query
    query = {}
    if skey is not None:
        query['skey'] = {'$in': skey}
    if index_name is not None:
        query['index_name'] = {'$in': index_name}
    if start_date is not None:
        if end_date is not None:
            query['date'] = {'$gte': start_date, '$lte': end_date}
        else:
            query['date'] = {'$gte': start_date}
    elif end_date is not None:
        query['date'] = {'$lte': end_date}

    # Load data
    cur = collection.find(query, prj)
    df = pd.DataFrame.from_records(cur)
    if df.empty:
        df = pd.DataFrame()
    else:
        df = df.sort_values(by=['date', 'skey'])
    return df   

def read_memb_daily(db, name, start_date=None, end_date=None, skey=None, index_id=None, interval=None, col=None, return_sdi=True):
    collection = db[name]
    # Build projection
    prj = {'_id': 0}
    if col is not None:
        if return_sdi:
            col = ['skey', 'date', 'index_id'] + col
        for col_name in col:
            prj[col_name] = 1

    # Build query
    query = {}
    if skey is not None:
        query['skey'] = {'$in': skey}
    if index_id is not None:
        query['index_id'] = {'$in': index_id}
    if interval is not None:
        query['interval'] = {'$in': interval}
    if start_date is not None:
        if end_date is not None:
            query['date'] = {'$gte': start_date, '$lte': end_date}
        else:
            query['date'] = {'$gte': start_date}
    elif end_date is not None:
        query['date'] = {'$lte': end_date}

    # Load data
    cur = collection.find(query, prj)
    df = pd.DataFrame.from_records(cur)
    if df.empty:
        df = pd.DataFrame()
    else:
        df = df.sort_values(by=['date', 'index_id', 'skey'])
    return df 



import pandas as pd
import random
import numpy as np
import glob
import pickle
import os
import datetime
import time
pd.set_option("max_columns", 200)

year = "2020"
startDate = '20200215'
endDate = '20200731'
database_name = 'com_md_eq_cn'
user = "zhenyuy"
password = "bnONBrzSMGoE"

startTm = datetime.datetime.now()
db1 = DB("192.168.10.178", database_name, user, password)
db2 = dailyDB("192.168.10.178", database_name, user, password)
save = {}
save['date'] = []
save['secid'] = []
mdOrderLog = db1.read('md_order', start_date=startDate, end_date=endDate, symbol=[2000001])
datelist = mdOrderLog['date'].unique()
ss = pd.read_csv('/mnt/ShareWithServer/result/shangshi.csv')
ss['skey'] = np.where(ss['证券代码'].str[-2:] == 'SZ', ss['证券代码'].str[:6].astype(int) + 2000000, ss['证券代码'].str[:6].astype(int) + 1000000)
ss['date'] = (ss['上市日期'].str[:4] + ss['上市日期'].str[5:7] + ss['上市日期'].str[8:10]).astype(int)
print(datetime.datetime.now() - startTm)

startTm = datetime.datetime.now()
for d in datelist:
    print(d)
    sl1 = read_memb_daily(db2, 'index_memb', index_id=[1000852], start_date=20170901, end_date=20201203)['skey'].unique()
    sl1 = sl1[sl1 > 2000000]
    data1 = db1.read('md_snapshot_l2', start_date=str(d), end_date=str(d), symbol=list(sl1))
    sl1 = data1['skey'].unique()
    op = read_stock_daily(db2, 'mdbar1d_tr', start_date=int(d), end_date=int(d))
    for s in sl1:
        mbd = db1.read('md_snapshot_mbd', start_date=str(d), end_date=str(d), symbol=s)
        if mbd is None:
            if ss[ss['skey'] == s]['date'].iloc[0] == d:
                continue
            else:
                save['date'].append(d)
                save['secid'].append(s)
                print(s)
                continue
        try:
            assert(mbd.shape[1] == 83)
        except:
            print('mdb data column unupdated')
            print(s)
        op1 = op[op['skey'] == s]['open'].iloc[0]
        l2 = data1[data1['skey'] == s]
        assert(mbd[mbd['cum_volume'] > 0]['open'].iloc[0] == op1)
#         try:
#             assert(mbd['open'].iloc[0] == op1)
#         except:
#             print(s)
#             print(mbd['open'].iloc[0])
#             print(op1)
#             assert((len(str(op1).split('.')[1]) <= 2) & (op1 == l2[l2['open'] != 0]['open'].iloc[0]))
#             mbd['open'] = op1
#             db1.write('md_snapshot_mbd', mbd)
        cols = ['skey', 'date', 'cum_volume', 'prev_close', 'open', 'close', 'cum_trades_cnt', 'bid10p', 'bid9p',
               'bid8p', 'bid7p', 'bid6p', 'bid5p', 'bid4p', 'bid3p', 'bid2p', 'bid1p', 'ask1p', 'ask2p',
               'ask3p', 'ask4p', 'ask5p', 'ask6p', 'ask7p', 'ask8p', 'ask9p', 'ask10p', 'bid10q', 'bid9q', 
               'bid8q', 'bid7q', 'bid6q', 'bid5q', 'bid4q', 'bid3q', 'bid2q', 'bid1q', 'ask1q', 'ask2q', 'ask3q', 
               'ask4q', 'ask5q', 'ask6q','ask7q', 'ask8q', 'ask9q', 'ask10q', 'bid10n', 'bid9n', 'bid8n',
               'bid7n', 'bid6n', 'bid5n', 'bid4n', 'bid3n', 'bid2n', 'bid1n', 'ask1n', 'ask2n', 'ask3n', 
               'ask4n', 'ask5n', 'ask6n', 'ask7n', 'ask8n', 'ask9n', 'ask10n', 'total_bid_quantity', 'total_ask_quantity']
        mbd = mbd.drop_duplicates(cols, keep='first')
        mbd = mbd[cols+['ApplSeqNum']]
        if l2.shape[1] == 192:
            l2 = l2[l2.columns[:-1]]
        rl2 = pd.merge(l2, mbd, on=cols, how='left')
        try:
            assert(rl2[(rl2['ApplSeqNum'].isnull()) & (rl2['cum_volume'] > 0) & (rl2['time'] <= 145655000000)].shape[0] == 0)
        except:
            print(rl2[(rl2['ApplSeqNum'].isnull()) & (rl2['cum_volume'] > 0) & (rl2['time'] <= 145655000000)][['skey', 'date', 'cum_volume', 'close', 'bid1p', 'bid2p','bid1q', 'bid2q', 'ask1p', 'ask2p', 'ask1q', 'ask2q']])
        rl2.loc[rl2['ApplSeqNum'].isnull(), 'ApplSeqNum'] = -1
        rl2['ApplSeqNum'] = rl2['ApplSeqNum'].astype('int32') 
        assert(rl2.shape[0] == l2.shape[0])
        db1.write('md_snapshot_l2', rl2)
print(datetime.datetime.now() - startTm)

0:00:11.537069
20200217
         skey      date  cum_volume  close  bid1p  bid2p  bid1q   bid2q  \
2874  2002215  20200217    99889446   7.69    7.7   7.69   1000  268847

      ask1p  ask2p  ask1q  ask2q
2874    0.0    0.0      0      0
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
4535  2300502  20200217    12900897   65.0  65.01   65.0    500    200    0.0
4580  2300502  20200217    13008297   65.0  65.01   65.0    600   7500    0.0

      ask2p  ask1q  ask2q
4535    0.0      0      0
4580    0.0      0      0
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
4079  2300725  20200217     5308791  84.54  84.59  84.54    100    168    0.0

      ask2p  ask1q  ask2q
4079    0.0      0      0
20200218
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
3623  2300724  20200218     7816217  78.54  78.54  78.53    100  16500    0.0
3625  2300724  20200218     7816517  78.53  78.54  78.53    100  16300    0.0
3989  2300724  20200218     8201651  78.54  78.54  78.51   2200   8266    0.0
3994  2300724  20200218     8206051  78.54  78.54  78.53    100    100    0.0
4015  2300724  20200218     8221551  78.54  78.54  78.53    100    200    0.0
4017  2300724  20200218     8222951  78.53  78.54  78.52   1400    100    0.0

      ask2p  ask1q  ask2q
3623    0.0      0      0
3625    0.0      0      0
3989    0.0      0      0
3994    0.0      0      0
4015    0.0      0      0
4017    0.0      0      0
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
4424  2300805  20200218    27975703  36.88    0.0    0.0      0      0  36.88

      ask2p  ask1q  ask2q
4424   36.9   3900   4200
20200219
         skey      date  cum_volume  close  bid1p  bid2p  bid1q   bid2q  \
3040  2000720  20200219    23963430   5.44   5.45   5.44  97300   51600
3214  2000720  20200219    24726732   5.44   5.45   5.44  13000  226598

      ask1p  ask2p  ask1q  ask2q
3040    0.0    0.0      0      0
3214    0.0    0.0      0      0
         skey      date  cum_volume  close  bid1p  bid2p  bid1q   bid2q  \
1830  2002089  20200219    52724624   2.21   2.22   2.21  23300  812000

      ask1p  ask2p  ask1q  ask2q
1830    0.0    0.0      0      0
         skey      date  cum_volume   close   bid1p   bid2p  bid1q  bid2q  \
3004  2300661  20200219     2527067  325.57  325.57  325.56    100   2921
3011  2300661  20200219     2533867  325.56  325.57  325.56    300   2021

      ask1p  ask2p  ask1q  ask2q
3004    0.0    0.0      0      0
3011    0.0    0.0      0      0
20200220
20200221
2000672
         skey      date  cum_volume  close  bid1p  bid2p  bid1q   bid2q  \
3328  2000700  20200221   130769804  14.60  14.60  14.59  34300   21100
3329  2000700  20200221   130799804  14.63  14.60  14.59  90800   22400
3330  2000700  20200221   130816004  14.64  14.63  14.62   6700    4000
3331  2000700  20200221   130831004  14.64  14.63  14.62  24600    4000
3332  2000700  20200221   130880904  14.65  14.64  14.63   2100   26000
...       ...       ...         ...    ...    ...    ...    ...     ...
4941  2000700  20200221   190486950  14.09  14.09  14.08  29686   12300
4942  2000700  20200221   190520350  14.09  14.09  14.08  42186  405000
4943  2000700  20200221   190625750  14.09  14.09  14.08  77386  443300
4944  2000700  20200221   190705850  14.09  14.09  14.08  80486  454500
4945  2000700  20200221   190763950  14.09  14.09  14.08  61086  465400

      ask1p  ask2p   ask1q  ask2q
3328  14.61  14.62    4300   8400
3329  14.63  14.64    3300  28700
3330  14.64  14.65   21500  59100
3331  14.64  14.65   26600  57100
3332  14.65  14.66   43600  43300
...     ...    ...     ...    ...
4941  14.10  14.11  341000  53400
4942  14.10  14.11  332500  52800
4943  14.10  14.11  278300  53400
4944  14.10  14.11  265100  61500
4945  14.10  14.11  266000  61500

[1602 rows x 12 columns]
2002235
2002577
         skey      date  cum_volume   close   bid1p   bid2p  bid1q  bid2q  \
3316  2300223  20200221     6517347  128.00  127.99  127.98   1740   3200
3317  2300223  20200221     6519247  128.00  127.99  127.98    740   3200
3318  2300223  20200221     6520847  128.00  127.99  127.98    740   3200
3319  2300223  20200221     6524044  128.10  128.00  127.99   7303    740
3320  2300223  20200221     6524844  128.00  128.00  127.99   7603   1140
...       ...       ...         ...     ...     ...     ...    ...    ...
4928  2300223  20200221     9990949  128.29  128.23  128.21    100   1500
4929  2300223  20200221    10001649  128.30  128.20  128.19    300    900
4930  2300223  20200221    10004849  128.25  128.19  128.18    600   2800
4931  2300223  20200221    10005749  128.21  128.20  128.19    500    600
4932  2300223  20200221    10006949  128.20  128.20  128.19    700    600

       ask1p   ask2p  ask1q  ask2q
3316  128.00  128.20   2897    100
3317  128.00  128.20   4397    100
3318  128.00  128.10   2797    400
3319  128.14  128.20    305    100
3320  128.14  128.20      5    100
...      ...     ...    ...    ...
4928  128.29  128.30   4800   1100
4929  128.30  128.33   1000    400
4930  128.25  128.30   7200    100
4931  128.21  128.23   3600    500
4932  128.21  128.23   2600    500

[1550 rows x 12 columns]
2300322
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
3738  2300496  20200221    24153931  73.69   73.7  73.69    500     45    0.0

      ask2p  ask1q  ask2q
3738    0.0      0      0
2300529
20200224
         skey      date  cum_volume  close  bid1p  bid2p  bid1q   bid2q  \
3077  2000070  20200224    82327623  12.26  12.27  12.26   3000  238420

      ask1p  ask2p  ask1q  ask2q
3077    0.0    0.0      0      0
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
2760  2002683  20200224    15702612   37.5  37.51   37.5    300  43000    0.0
2763  2002683  20200224    15704012   37.5  37.51   37.5    100  43200    0.0

      ask2p  ask1q  ask2q
2760    0.0      0      0
2763    0.0      0      0
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
3005  2300394  20200224     5527286  48.02  48.02  48.01    100  50300    0.0

      ask2p  ask1q  ask2q
3005    0.0      0      0
20200225
         skey      date  cum_volume  close  bid1p  bid2p  bid1q   bid2q  \
4546  2002126  20200225    76063545  12.62  12.63  12.62   3000  131300

      ask1p  ask2p  ask1q  ask2q
4546    0.0    0.0      0      0
20200226
20200227
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
2771  2300450  20200227    37149357  60.19  60.19  60.18   8600  63900    0.0
2788  2300450  20200227    37188057  60.18  60.19  60.18    200  46300    0.0

      ask2p  ask1q  ask2q
2771    0.0      0      0
2788    0.0      0      0
20200228
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
3353  2002023  20200228    80571357  16.67    0.0    0.0      0      0  16.66

      ask2p  ask1q  ask2q
3353  16.67  12900  78212
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
2613  2002436  20200228   114677754  13.13    0.0    0.0      0      0  13.12

      ask2p  ask1q  ask2q
2613  13.13   3500  29314
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
4843  2002733  20200228    24434938  23.76    0.0    0.0      0      0  23.75

      ask2p  ask1q  ask2q
4843  23.76    800    900
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
4677  2002747  20200228    31802750   11.1    0.0    0.0      0      0   11.1

      ask2p  ask1q  ask2q
4677  11.11   3400   6200
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
2973  2002850  20200228     5086637  61.57    0.0    0.0      0      0  61.56

      ask2p  ask1q  ask2q
2973  61.57   2000     50
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
3778  2002859  20200228     5302468  40.96    0.0    0.0      0      0  40.95
3876  2002859  20200228     5483468  40.95    0.0    0.0      0      0  40.95
3888  2002859  20200228     5497168  40.95    0.0    0.0      0      0  40.95
3889  2002859  20200228     5497668  40.95    0.0    0.0      0      0  40.95

      ask2p  ask1q  ask2q
3778  40.96    500   2000
3876  40.96   1000   4900
3888  40.96    500   4800
3889  40.96   6100   4800

         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
4682  2300081  20200228    39525184  13.65    0.0    0.0      0      0  13.64

      ask2p  ask1q  ask2q
4682  13.65  14100  18301
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
4319  2300276  20200228    14798013   8.45    0.0    0.0      0      0   8.44

      ask2p  ask1q  ask2q
4319   8.45   1100  71000
         skey      date  cum_volume   close  bid1p  bid2p  bid1q  bid2q  \
989   2300661  20200228     1174808  321.80    0.0    0.0      0      0
990   2300661  20200228     1175008  321.80    0.0    0.0      0      0
1359  2300661  20200228     1278808  321.85    0.0    0.0      0      0
1360  2300661  20200228     1279308  321.85    0.0    0.0      0      0
1608  2300661  20200228     1378408  321.81    0.0    0.0      0      0
1612  2300661  20200228     1380008  321.89    0.0    0.0      0      0
1616  2300661  20200228     1380308  321.81    0.0    0.0      0      0
1619  2300661  20200228     1380808  321.81    0.0    0.0      0      0
1643  2300661  20200228     1391608  321.80    0.0    0.0      0      0
2557  2300661  20200228     1614308  321.80    0.0    0.0      0      0

       ask1p   ask2p  ask1q  ask2q
989   321.80  321.81    200    400
990   321.80  321.81    100    400
1359  321.80  321.85    100    200
1360  321.80  321.85    100    700
1608  321.80  321.83     30    200
1612  321.99  322.00    400    230
1616  321.99  322.00    500    130
1619  321.80  321.99    400    100
1643  321.80  321.81   1000   1800
2557  321.80  322.99    200   3800
20200302
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
3605  2300007  20200302    20604894  14.61  14.63  14.61    500  39800    0.0

      ask2p  ask1q  ask2q
3605    0.0      0      0
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
3626  2300638  20200302     4317915  83.97  83.97  83.96    100    489    0.0

      ask2p  ask1q  ask2q
3626    0.0      0      0
20200303
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
4701  2002364  20200303    38996151  13.47  13.48  13.47   2600   1228    0.0

      ask2p  ask1q  ask2q
4701    0.0      0      0
        skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
922  2300777  20200303     4527617  38.69  38.71  38.69   2500    600    0.0

     ask2p  ask1q  ask2q
922    0.0      0      0
20200304
         skey      date  cum_volume  close  bid1p  bid2p  bid1q   bid2q  \
2939  2002277  20200304    78293389   3.72   3.73   3.72  20000  204239

      ask1p  ask2p  ask1q  ask2q
2939    0.0    0.0      0      0
20200305
20200306
20200309
20200310
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
1557  2000881  20200310    19329050   8.48    0.0    0.0      0      0   8.48

      ask2p  ask1q  ask2q
1557   8.49   2500  35400
20200311
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
3333  2002320  20200311    49333256  18.85  18.85  18.84    100   4400    0.0

      ask2p  ask1q  ask2q
3333    0.0      0      0
20200312
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
4710  2002320  20200312    50422691  16.44    0.0    0.0      0      0   16.4

      ask2p  ask1q  ask2q
4710  16.44    800  66800
20200313
20200316
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
3698  2000915  20200316    10059208  24.22    0.0    0.0      0      0  24.22

      ask2p  ask1q  ask2q
3698  24.23    700   1200
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
4395  2002518  20200316    22710178  13.64    0.0    0.0      0      0  13.64

      ask2p  ask1q  ask2q
4395  13.65   3000  13100
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
4733  2002683  20200316    24751947   25.0    0.0    0.0      0      0  24.98

      ask2p  ask1q  ask2q
4733   25.0    100   6200
         skey      date  cum_volume   close  bid1p  bid2p  bid1q  bid2q  \
4062  2300661  20200316     1898370  241.02    0.0    0.0      0      0
4076  2300661  20200316     1901570  241.02    0.0    0.0      0      0

       ask1p   ask2p  ask1q  ask2q
4062  241.02  241.04    100    700
4076  241.02  241.04    100    400
20200317
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
3062  2300457  20200317     5810356  51.42    0.0    0.0      0      0  51.21
3155  2300457  20200317     5921656  51.21    0.0    0.0      0      0  51.21
3157  2300457  20200317     5922956  51.22    0.0    0.0      0      0  51.21
3179  2300457  20200317     5925056  51.21    0.0    0.0      0      0  51.21

      ask2p  ask1q  ask2q
3062  51.42    200     50
3155  51.22    100   5200
3157  51.22    100   4200
3179  51.22    300   5200
20200318
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
2317  2300140  20200318    42953830  12.54  12.56  12.55    200   5000    0.0

      ask2p  ask1q  ask2q
2317    0.0      0      0
         skey      date  cum_volume   close   bid1p   bid2p  bid1q  bid2q  \
1418  2300770  20200318     1103996  154.88  154.88  154.87    100    200

      ask1p  ask2p  ask1q  ask2q
1418    0.0    0.0      0      0
20200319
20200320
20200323
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
1513  2300131  20200323    51424389    6.6    0.0    0.0      0      0   6.59

      ask2p  ask1q   ask2q
1513    6.6    200  356700
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
4313  2300623  20200323     8938935   34.0    0.0    0.0      0      0   34.0
4330  2300623  20200323     8967735   34.0    0.0    0.0      0      0   34.0

      ask2p  ask1q  ask2q
4313  34.01   1000   7715
4330  34.01    100   4140
20200324
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
2706  2300224  20200324    16242182   8.11   8.12   8.11    600  68068    0.0
2988  2300224  20200324    19249232   8.10   8.12   8.10   1100  50800    0.0
3341  2300224  20200324    20517131   8.11   8.12   8.11   4300  74900    0.0

      ask2p  ask1q  ask2q
2706    0.0      0      0
2988    0.0      0      0
3341    0.0      0      0
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
1956  2300771  20200324     3493414  63.76    0.0    0.0      0      0  63.76

      ask2p  ask1q  ask2q
1956  63.79    100   1300
20200325
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
2916  2300759  20200325     7394497   55.0   55.0  54.99    300  10200    0.0
2918  2300759  20200325     7394797   55.0   55.0  54.99    300  13300    0.0
2940  2300759  20200325     7410597   55.0   55.0  54.99    100   9500    0.0

      ask2p  ask1q  ask2q
2916    0.0      0      0
2918    0.0      0      0
2940    0.0      0      0
20200326
20200327
20200330
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
4263  2002955  20200330     3057675  64.16    0.0    0.0      0      0  64.16

      ask2p  ask1q  ask2q
4263  64.18    200    100
20200331
20200401
20200402
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
3987  2002647  20200402    10439408  25.53  25.53  25.52    400   9500    0.0

      ask2p  ask1q  ask2q
3987    0.0      0      0
20200403
20200407
20200408
20200409
         skey      date  cum_volume  close  bid1p  bid2p  bid1q   bid2q  \
853   2000687  20200409    24159319   4.61   4.62   4.61   4400  152500
2734  2000687  20200409    33618019   4.61   4.62   4.61   1000  160700

      ask1p  ask2p  ask1q  ask2q
853     0.0    0.0      0      0
2734    0.0    0.0      0      0
20200410
20200413
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
3534  2002955  20200413     3309750  53.31    0.0    0.0      0      0  53.31
3549  2002955  20200413     3320250  53.31    0.0    0.0      0      0  53.31

      ask2p  ask1q  ask2q
3534  53.32   1100  23500
3549  53.32   1200  19000

        skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
693  2300773  20200413     2294400  73.43    0.0    0.0      0      0  73.42

     ask2p  ask1q  ask2q
693  73.43    200  55391
20200414
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
1977  2300660  20200414     1227552  15.02  15.02  15.01    100   3400  15.03

      ask2p  ask1q  ask2q
1977  15.04   7620   8500
20200415
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
3206  2002928  20200415    26558081  13.16  13.17  13.16   4500   4200    0.0

      ask2p  ask1q  ask2q
3206    0.0      0      0
         skey      date  cum_volume  close  bid1p  bid2p  bid1q   bid2q  \
1130  2300463  20200415     9409105  32.01  32.02  32.01    300  273419
3587  2300463  20200415    14723751  32.00  32.00  31.94   1000     600
3592  2300463  20200415    14730351  32.02  32.02  32.00    600   26700

      ask1p  ask2p  ask1q  ask2q
1130    0.0    0.0      0      0
3587    0.0    0.0      0      0
3592    0.0    0.0      0      0
20200416
20200417
20200420
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
1339  2300463  20200420    15681247  37.62  37.62  37.61   2300   1823    0.0

      ask2p  ask1q  ask2q
1339    0.0      0      0
20200421
         skey      date  cum_volume  close  bid1p  bid2p  bid1q   bid2q  \
3242  2000019  20200421   100431168    8.8   8.81    8.8    500  211627

      ask1p  ask2p  ask1q  ask2q
3242    0.0    0.0      0      0
20200422
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
2475  2002204  20200422   116120436    3.7   3.71    3.7   1100  35700    0.0

      ask2p  ask1q  ask2q
2475    0.0      0      0
20200423
         skey      date  cum_volume  close  bid1p  bid2p  bid1q   bid2q  \
1045  2300463  20200423    11924192   39.6   39.6  39.59  11200  279065
1047  2300463  20200423    11969192   39.6   39.6  39.59   2700  201965
2066  2300463  20200423    20768814   39.6   39.6  39.59    900     900
2092  2300463  20200423    20841814   39.6   39.6  39.59    300    1600
2120  2300463  20200423    20954214   39.6   39.6  39.58    700    1000
3524  2300463  20200423    24024577   39.6   39.6  39.59    300    9800

      ask1p  ask2p  ask1q  ask2q
1045    0.0    0.0      0      0
1047    0.0    0.0      0      0
2066    0.0    0.0      0      0
2092    0.0    0.0      0      0
2120    0.0    0.0      0      0
3524    0.0    0.0      0      0
20200424
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
1139  2002568  20200424     7382609  35.73  35.73  35.72    300  53826    0.0
1233  2002568  20200424     7512309  35.73  35.73  35.72    100  45126    0.0
1240  2002568  20200424     7516409  35.72  35.73  35.72    100  44426    0.0
2062  2002568  20200424     8113702  35.72  35.73  35.72    200  47900    0.0

      ask2p  ask1q  ask2q
1139    0.0      0      0
1233    0.0      0      0
1240    0.0      0      0
2062    0.0      0      0
20200427
20200428
         skey      date  cum_volume   close   bid1p   bid2p  bid1q  bid2q  \
4125  2300782  20200428     3292064  571.75  571.79  571.75    100    216

      ask1p  ask2p  ask1q  ask2q
4125    0.0    0.0      0      0
20200429
20200430
20200506
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
4466  2002262  20200506    48321932  14.73  14.74  14.73    100  39202    0.0
4467  2002262  20200506    48330032  14.74  14.74  14.73    200  39202    0.0
4735  2002262  20200506    52520567  14.74  14.74  14.73    600  47900    0.0

      ask2p  ask1q  ask2q
4466    0.0      0      0
4467    0.0      0      0
4735    0.0      0      0
20200507
20200508
20200511
20200512
20200513
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
2775  2300595  20200513     5962948  74.85  74.86  74.85    200  77105    0.0

      ask2p  ask1q  ask2q
2775    0.0      0      0
20200514
20200515
20200518
         skey      date  cum_volume  close  bid1p  bid2p  bid1q   bid2q  \
4594  2002219  20200518    90623415   1.23   1.24   1.23   6200  672827

      ask1p  ask2p  ask1q  ask2q
4594    0.0    0.0      0      0
         skey      date  cum_volume  close  bid1p  bid2p  bid1q   bid2q  \
4153  2002650  20200518    95613354   4.47   4.48   4.47   1300  151434

      ask1p  ask2p  ask1q  ask2q
4153    0.0    0.0      0      0
20200519
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  \
3064  2002912  20200519     4673770  177.7    0.0    0.0      0      0

       ask1p  ask2p  ask1q  ask2q
3064  177.69  177.7    100  29220
20200520
         skey      date  cum_volume  close  bid1p  bid2p  bid1q   bid2q  \
3734  2000584  20200520    78716313    6.6   6.61    6.6   4800  114600

      ask1p  ask2p  ask1q  ask2q
3734    0.0    0.0      0      0
         skey      date  cum_volume   close  bid1p  bid2p  bid1q  bid2q  \
4894  2002912  20200520     7354304  159.93    0.0    0.0      0      0

       ask1p   ask2p  ask1q   ask2q
4894  159.92  159.93   1500  267539
         skey      date  cum_volume  close  bid1p  bid2p  bid1q   bid2q  \
2142  2300450  20200520    40000619  43.62  43.63  43.62    900  167801
2836  2300450  20200520    42779094  43.62  43.63  43.62    100  220134
3350  2300450  20200520    46554343  43.62  43.63  43.62    300   53302

      ask1p  ask2p  ask1q  ask2q
2142    0.0    0.0      0      0
2836    0.0    0.0      0      0
3350    0.0    0.0      0      0
20200521
20200522
20200525
         skey      date  cum_volume   close   bid1p   bid2p  bid1q  bid2q  \
3730  2300676  20200525    15703119  108.68  108.68  108.67   1800   1800

      ask1p  ask2p  ask1q  ask2q
3730    0.0    0.0      0      0
20200526
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
1957  2300426  20200526     8944958   5.03    0.0    0.0      0      0    0.0
1958  2300426  20200526     8944958   5.03    0.0    0.0      0      0    0.0
1959  2300426  20200526     8944958   5.03    0.0    0.0      0      0    0.0
1960  2300426  20200526     8944958   5.03    0.0    0.0      0      0    0.0
1961  2300426  20200526     8944958   5.03    0.0    0.0      0      0    0.0
...       ...       ...         ...    ...    ...    ...    ...    ...    ...
2069  2300426  20200526     8944958   5.03    0.0    0.0      0      0    0.0
2070  2300426  20200526     8944958   5.03    0.0    0.0      0      0    0.0
2071  2300426  20200526     8944958   5.03    0.0    0.0      0      0    0.0
2072  2300426  20200526     8944958   5.03    0.0    0.0      0      0    0.0
2073  2300426  20200526     8944958   5.03    0.0    0.0      0      0    0.0

      ask2p  ask1q  ask2q
1957    0.0      0      0
1958    0.0      0      0
1959    0.0      0      0
1960    0.0      0      0
1961    0.0      0      0
...     ...    ...    ...
2069    0.0      0      0
2070    0.0      0      0
2071    0.0      0      0
2072    0.0      0      0
2073    0.0      0      0

[117 rows x 12 columns]
20200527
         skey      date  cum_volume   close  bid1p  bid2p  bid1q  bid2q  \
3464  2300661  20200527     4191921  241.18    0.0    0.0      0      0

       ask1p   ask2p  ask1q  ask2q
3464  241.18  241.19    400   2000
20200528
         skey      date  cum_volume  close  bid1p  bid2p  bid1q   bid2q  \
2145  2002219  20200528    39242467   1.13   1.14   1.13  12400  696578

      ask1p  ask2p  ask1q  ask2q
2145    0.0    0.0      0      0
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
4187  2002251  20200528    26112445  10.86  10.88  10.86    500  18783    0.0

      ask2p  ask1q  ask2q
4187    0.0      0      0
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
3203  2002409  20200528    24274371  43.36    0.0    0.0      0      0  43.36

      ask2p  ask1q  ask2q
3203  43.37    200   2621

20200529
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
3963  2002409  20200529    29427150  47.75  47.75  47.74    100  35400    0.0
3965  2002409  20200529    29429150  47.75  47.75  47.74    100  34600    0.0
4271  2002409  20200529    30048700  47.75  47.75  47.74    100  15750    0.0

      ask2p  ask1q  ask2q
3963    0.0      0      0
3965    0.0      0      0
4271    0.0      0      0
20200601
         skey      date  cum_volume   close   bid1p   bid2p  bid1q  bid2q  \
2889  2300751  20200601     1035757  250.23  250.23  250.22   1000    200
2970  2300751  20200601     1049857  250.22  250.23  250.22    100    200

      ask1p  ask2p  ask1q  ask2q
2889    0.0    0.0      0      0
2970    0.0    0.0      0      0
20200602
20200603
        skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
538  2002344  20200603    87088498   4.93   4.94   4.93  21200  13000    0.0

     ask2p  ask1q  ask2q
538    0.0      0      0
20200604
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
242   2300233  20200604     5143158  26.61  26.62  26.61    100  26574    0.0
1582  2300233  20200604    14186837  26.61  26.61  26.54    600   1500    0.0

      ask2p  ask1q  ask2q
242     0.0      0      0
1582    0.0      0      0
20200605
20200608
20200609
20200610
20200611
         skey      date  cum_volume  close  bid1p  bid2p  bid1q   bid2q  \
2411  2002447  20200611    22825156   1.88    1.9   1.88    400  652700

      ask1p  ask2p  ask1q  ask2q
2411    0.0    0.0      0      0
20200612
20200615
         skey      date  cum_volume  close  bid1p  bid2p  bid1q   bid2q  \
1049  2300463  20200615     9613451   54.8   54.8  54.79    300  218200

      ask1p  ask2p  ask1q  ask2q
1049    0.0    0.0      0      0
20200616
        skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
321  2002258  20200616     8809373  17.96  17.96  17.95    300  21400    0.0

     ask2p  ask1q  ask2q
321    0.0      0      0
20200617
20200618
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
3470  2300463  20200618    18878567  55.83    0.0    0.0      0      0  55.83
3478  2300463  20200618    18889667  55.83    0.0    0.0      0      0  55.83

      ask2p  ask1q  ask2q
3470  55.84    200  98600
3478  55.84    100  94800
20200619
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
2713  2002918  20200619    10886141  33.17  33.17  33.16    200   9900    0.0

      ask2p  ask1q  ask2q
2713    0.0      0      0
20200622
20200623
20200624
20200629
         skey      date  cum_volume  close  bid1p  bid2p  bid1q   bid2q  \
2149  2002650  20200629    27469133   4.91   4.91    4.9  89000  296250
2165  2002650  20200629    27584333   4.91   4.91    4.9   2200  298350
2176  2002650  20200629    27677533   4.91   4.91    4.9    100  273450

      ask1p  ask2p  ask1q  ask2q
2149    0.0    0.0      0      0
2165    0.0    0.0      0      0
2176    0.0    0.0      0      0
20200630
20200701
20200702
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
2522  2300149  20200702    16827761  20.69  20.69  20.68    500  24200    0.0

      ask2p  ask1q  ask2q
2522    0.0      0      0
20200703
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
3275  2300294  20200703    31877112  45.53  45.54  45.53    200  85599    0.0
3305  2300294  20200703    32101262  45.54  45.54  45.53   2200  22099    0.0

      ask2p  ask1q  ask2q
3275    0.0      0      0
3305    0.0      0      0
20200706
        skey      date  cum_volume  close  bid1p  bid2p  bid1q    bid2q  \
173  2000516  20200706    20785799   4.71   4.72   4.71    900  1787200

     ask1p  ask2p  ask1q  ask2q
173    0.0    0.0      0      0
         skey      date  cum_volume  close  bid1p  bid2p  bid1q   bid2q  \
4488  2300098  20200706   149180414   6.98   6.99   6.98    600  411091

      ask1p  ask2p  ask1q  ask2q
4488    0.0    0.0      0      0
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
3917  2300299  20200706    98101358  10.11  10.12  10.11    700  87266    0.0

      ask2p  ask1q  ask2q
3917    0.0      0      0
20200707
         skey      date  cum_volume  close  bid1p  bid2p  bid1q   bid2q  \
4645  2000516  20200707   147660793   5.18   5.19   5.18   1000  554880

      ask1p  ask2p  ask1q  ask2q
4645    0.0    0.0      0      0
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
3375  2002240  20200707    38960397  14.75  14.76  14.75    500  83799    0.0
3386  2002240  20200707    38998997  14.76  14.76  14.75    100  73899    0.0
3424  2002240  20200707    39143497  14.75  14.76  14.75   9200  61699    0.0

      ask2p  ask1q  ask2q
3375    0.0      0      0
3386    0.0      0      0
3424    0.0      0      0
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
2333  2002947  20200707     2883025  71.36  71.36  71.35    100    400    0.0
2859  2002947  20200707     3617505  71.36  71.36  71.35    700    300    0.0
3327  2002947  20200707     4023005  71.34  71.36  71.33   4600    100    0.0

      ask2p  ask1q  ask2q
2333    0.0      0      0
2859    0.0      0      0
3327    0.0      0      0
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
2132  2300037  20200707     7177158  61.15  61.16  61.15    900  12700    0.0

      ask2p  ask1q  ask2q
2132    0.0      0      0
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
3422  2300299  20200707    90567080  11.12  11.13  11.12    100  24645    0.0
3423  2300299  20200707    90568580  11.12  11.13  11.12    800  24345    0.0

      ask2p  ask1q  ask2q
3422    0.0      0      0
3423    0.0      0      0
20200708
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
2513  2002852  20200708    19726487  19.86  19.87  19.86   1400  78946    0.0
2514  2002852  20200708    19728487  19.86  19.87  19.86    200  78846    0.0

      ask2p  ask1q  ask2q
2513    0.0      0      0
2514    0.0      0      0
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
1522  2002947  20200708     2018033  62.99    0.0    0.0      0      0  62.99

      ask2p  ask1q  ask2q
1522   68.3  19000   2200
20200709
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
4384  2000913  20200709    13590078  16.41  16.41  16.38    900  18000    0.0

      ask2p  ask1q  ask2q
4384    0.0      0      0
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
3327  2002621  20200709    16525601   7.72   7.73   7.72   5000  22500    0.0

      ask2p  ask1q  ask2q
3327    0.0      0      0
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
4405  2002832  20200709    15575660  18.67  18.67  18.66    800  20905    0.0

      ask2p  ask1q  ask2q
4405    0.0      0      0
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
3214  2300766  20200709    11417323  43.91  43.92  43.91    100   6400    0.0

      ask2p  ask1q  ask2q
3214    0.0      0      0
20200710
         skey      date  cum_volume  close  bid1p  bid2p  bid1q   bid2q  \
3445  2002314  20200710    53326256   4.73   4.74   4.73    300  358095

      ask1p  ask2p  ask1q  ask2q
3445    0.0    0.0      0      0
        skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
301  2002791  20200710     1314162  98.34  98.34  98.33    100  99888    0.0
302  2002791  20200710     1314662  98.34  98.34  98.33   6400  99888    0.0

     ask2p  ask1q  ask2q
301    0.0      0      0
302    0.0      0      0
20200713
        skey      date  cum_volume  close  bid1p  bid2p  bid1q   bid2q  ask1p  \
996  2002562  20200713    51371263   6.79    6.8   6.79   1100  202540    0.0

     ask2p  ask1q  ask2q
996    0.0      0      0

         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
4480  2002726  20200713    45549513  11.13  11.14  11.13    100   1858    0.0
4495  2002726  20200713    45658279  11.12  11.14  11.13   2600   3700    0.0

      ask2p  ask1q  ask2q
4480    0.0      0      0
4495    0.0      0      0
        skey      date  cum_volume   close   bid1p   bid2p  bid1q  bid2q  \
918  2002791  20200713     2084103  108.17  108.17  108.15    100    100

     ask1p  ask2p  ask1q  ask2q
918    0.0    0.0      0      0
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
1724  2002960  20200713     8904116  38.81  38.82  38.81    100    511    0.0
2911  2002960  20200713    10160099  38.80  38.82  38.80    200  15111    0.0

      ask2p  ask1q  ask2q
1724    0.0      0      0
2911    0.0      0      0
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
1454  2300531  20200713    12012829  23.56  23.57  23.56  10000  17250    0.0

      ask2p  ask1q  ask2q
1454    0.0      0      0
20200714
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
2504  2002705  20200714     9921741  41.89  41.77  41.76    100   1700    0.0
2505  2002705  20200714     9921741  41.89  41.89  41.77    500    100    0.0
2521  2002705  20200714     9946941  41.89  41.89  41.78    100   8400    0.0
2702  2002705  20200714    10215514  41.89  41.89  41.87    200   1300    0.0

      ask2p  ask1q  ask2q
2504    0.0      0      0
2505    0.0      0      0
2521    0.0      0      0
2702    0.0      0      0
20200715
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
1200  2002106  20200715    43932541  15.52    0.0    0.0      0      0  15.52

      ask2p  ask1q  ask2q
1200  15.53    100  97711
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
3140  2002705  20200715     9200299  46.08  46.04  46.01   1300  32700    0.0
3550  2002705  20200715    10309458  46.07  46.08  46.07    100  26215    0.0

      ask2p  ask1q  ask2q
3140    0.0      0      0
3550    0.0      0      0
         skey      date  cum_volume   close   bid1p   bid2p  bid1q  bid2q  \
4065  2002959  20200715     5797679  150.39  150.39  150.38    100  13819
4097  2002959  20200715     5810339  150.38  150.39  150.38    100   8389
4153  2002959  20200715     5845399  150.39  150.39  150.38    200   9829
4247  2002959  20200715     5919119  150.39  150.39  150.38    100  41500

      ask1p  ask2p  ask1q  ask2q
4065    0.0    0.0      0      0
4097    0.0    0.0      0      0
4153    0.0    0.0      0      0
4247    0.0    0.0      0      0
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
4012  2300502  20200715    24122857  73.29    0.0    0.0      0      0  73.28

      ask2p  ask1q  ask2q
4012  73.29    100  74245
20200716
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
3901  2002378  20200716    61484066   5.26   5.26   5.25    100  87700    0.0

      ask2p  ask1q  ask2q
3901    0.0      0      0
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
4382  2002435  20200716    28882185   4.09    0.0    0.0      0      0   4.08

      ask2p  ask1q   ask2q
4382   4.09    500  153161
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
2824  2300634  20200716    17033529  26.16  26.17  26.16    500  21000    0.0

      ask2p  ask1q  ask2q
2824    0.0      0      0
         skey      date  cum_volume   close  bid1p  bid2p  bid1q  bid2q  \
3429  2300792  20200716     2393730  178.96    0.0    0.0      0      0
3984  2300792  20200716     2652810  178.96    0.0    0.0      0      0

       ask1p   ask2p  ask1q  ask2q
3429  178.95  178.96   1500   1160
3984  178.95  178.96   1200    980
         skey      date  cum_volume   close  bid1p  bid2p  bid1q  bid2q  \
4770  2300815  20200716     3238178  134.46    0.0    0.0      0      0

       ask1p   ask2p  ask1q  ask2q
4770  134.46  134.47    800   1500
20200717
20200720
         skey      date  cum_volume  close  bid1p  bid2p   bid1q  bid2q  \
2436  2000829  20200720    53862503   7.59    7.6   7.59  144700  41351

      ask1p  ask2p  ask1q  ask2q
2436    0.0    0.0      0      0
        skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
781  2002638  20200720    21045368   1.43    0.0    0.0      0      0   1.43

     ask2p  ask1q    ask2q
781   1.44   1600  1259650
         skey      date  cum_volume  close  bid1p  bid2p  bid1q   bid2q  \
3401  2300148  20200720    80035570   5.69   5.69   5.68  12800  191300

      ask1p  ask2p  ask1q  ask2q
3401    0.0    0.0      0      0
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
3507  2300233  20200720    21670692  38.31  38.31  38.29    100   1200    0.0
3514  2300233  20200720    21675492  38.29  38.31  38.29    200    200    0.0

      ask2p  ask1q  ask2q
3507    0.0      0      0
3514    0.0      0      0
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
4279  2300238  20200720    21529140  33.67  33.67  33.66    600  20200    0.0

      ask2p  ask1q  ask2q
4279    0.0      0      0
20200721
20200722
20200723
20200724
         skey      date  cum_volume   close  bid1p  bid2p  bid1q  bid2q  \
4291  2002959  20200724     3867463  145.92    0.0    0.0      0      0

       ask1p   ask2p  ask1q  ask2q
4291  145.92  145.93    300   1600
         skey      date  cum_volume  close  bid1p  bid2p  bid1q  bid2q  ask1p  \
3937  2300463  20200724     9562301   46.9    0.0    0.0      0      0   46.9

      ask2p  ask1q  ask2q
3937  46.91   1000  31100
20200727

IndexError: single positional indexer is out-of-bounds

In [216]:
sl1

array([], dtype=int32)

In [140]:
s

2300028

In [134]:
import pandas as pd
d1 = pd.read_pickle('/mnt/ShareWithServer/2002192.pkl')
d = 20200113
d2 = db1.read('md_snapshot_l2', start_date=str(d), end_date=str(d), symbol=2002684)
d3 = db1.read('md_snapshot_mbd', start_date=str(d), end_date=str(d), symbol=2002684)
d4 = pd.read_pickle('/mnt/ShareWithServer/2002192_1.pkl')
cols = ['skey', 'date', 'cum_volume', 'prev_close', 'open', 'close', 'bid10p', 'bid9p', 'cum_trades_cnt',
               'bid8p', 'bid7p', 'bid6p', 'bid5p', 'bid4p', 'bid3p', 'bid2p', 'bid1p', 'ask1p', 'ask2p',
               'ask3p', 'ask4p', 'ask5p', 'ask6p', 'ask7p', 'ask8p', 'ask9p', 'ask10p', 'bid10q', 'bid9q', 
               'bid8q', 'bid7q', 'bid6q', 'bid5q', 'bid4q', 'bid3q', 'bid2q', 'bid1q', 'ask1q', 'ask2q', 'ask3q', 
               'ask4q', 'ask5q', 'ask6q','ask7q', 'ask8q', 'ask9q', 'ask10q', 'bid10n', 'bid9n', 'bid8n',
               'bid7n', 'bid6n', 'bid5n', 'bid4n', 'bid3n', 'bid2n', 'bid1n', 'ask1n', 'ask2n', 'ask3n', 
               'ask4n', 'ask5n', 'ask6n', 'ask7n', 'ask8n', 'ask9n', 'ask10n', 'total_bid_quantity', 'total_ask_quantity']
if d2.shape[1] == 192:
    d2 = d2[d2.columns[:-1]]
d3 = d3.drop_duplicates(cols, keep='first')
re = pd.merge(d2, d3[cols+['ApplSeqNum']], on=cols, how='left')
try:
    assert(re[(re['ApplSeqNum'].isnull()) & (re['cum_volume'] > 0) & (re['time'] <= 145655000000)].shape[0] == 0)
except:
    print(re[(re['ApplSeqNum'].isnull()) & (re['cum_volume'] > 0) & (re['time'] <= 145655000000)][['skey', 'date', 'cum_volume', 'close', 'bid1p', 'bid2p','bid1q', 'bid2q', 'ask1p', 'ask2p', 'ask1q', 'ask2q']])
re.loc[re['ApplSeqNum'].isnull(), 'ApplSeqNum'] = -1
re['ApplSeqNum'] = re['ApplSeqNum'].astype('int32') 
assert(re.shape[0] == d2.shape[0])
db1.write('md_snapshot_l2', re)
print(re['skey'].iloc[0])

2002684

In [ ]:
d1

In [115]:
d3[(d3['cum_volume'] == 13444438)][['ApplSeqNum', 'time'] + cols]

,ApplSeqNum,time,skey,date,cum_volume,prev_close,open,close,bid10p,bid9p,cum_trades_cnt,bid8p,bid7p,bid6p,bid5p,bid4p,bid3p,bid2p,bid1p,ask1p,ask2p,ask3p,ask4p,ask5p,ask6p,ask7p,ask8p,ask9p,ask10p,bid10q,bid9q,bid8q,bid7q,bid6q,bid5q,bid4q,bid3q,bid2q,bid1q,ask1q,ask2q,ask3q,ask4q,ask5q,ask6q,ask7q,ask8q,ask9q,ask10q,bid10n,bid9n,bid8n,bid7n,bid6n,bid5n,bid4n,bid3n,bid2n,bid1n,ask1n,ask2n,ask3n,ask4n,ask5n,ask6n,ask7n,ask8n,ask9n,ask10n,total_bid_quantity,total_ask_quantity
22174,7899128,104505240000,2300397,20200103,13444438,30.35,30.43,33.38,33.28,33.29,13202,33.30,33.31,33.32,33.33,33.35,33.36,33.37,33.38,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,300,200,22000,24500,2200,3035,3000,200,11800,638,0,0,0,0,0,0,0,0,0,0,1,1,8,2,3,5,2,1,9,3,0,0,0,0,0,0,0,0,0,0,889382,0
22175,7899645,104505950000,2300397,20200103,13444438,30.35,30.43,33.39,33.29,33.30,13202,33.31,33.32,33.33,33.35,33.36,33.37,33.38,33.39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,200,22000,24500,2200,3035,3000,200,11800,638,2100,0,0,0,0,0,0,0,0,0,0,1,8,2,3,5,2,1,9,3,1,0,0,0,0,0,0,0,0,0,0,891482,0

In [118]:
d2[d2['cum_volume'] == 13444438][['time'] + cols]

,time,skey,date,cum_volume,prev_close,open,close,bid10p,bid9p,cum_trades_cnt,bid8p,bid7p,bid6p,bid5p,bid4p,bid3p,bid2p,bid1p,ask1p,ask2p,ask3p,ask4p,ask5p,ask6p,ask7p,ask8p,ask9p,ask10p,bid10q,bid9q,bid8q,bid7q,bid6q,bid5q,bid4q,bid3q,bid2q,bid1q,ask1q,ask2q,ask3q,ask4q,ask5q,ask6q,ask7q,ask8q,ask9q,ask10q,bid10n,bid9n,bid8n,bid7n,bid6n,bid5n,bid4n,bid3n,bid2n,bid1n,ask1n,ask2n,ask3n,ask4n,ask5n,ask6n,ask7n,ask8n,ask9n,ask10n,total_bid_quantity,total_ask_quantity
1560,104509000000,2300397,20200103,13444438,30.35,30.43,33.38,33.29,33.3,13202,33.31,33.32,33.33,33.35,33.36,33.37,33.38,33.39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,200,22000,24500,2200,3035,3000,200,11800,638,2100,0,0,0,0,0,0,0,0,0,0,1,8,2,3,5,2,1,9,3,1,0,0,0,0,0,0,0,0,0,0,891482,0

In [119]:
trade = db1.read('md_order', 20200103, 20200103, symbol=2300397)
trade[trade['ApplSeqNum'] >= 7899128].head(12)

,skey,date,time,clockAtArrival,datetime,ApplSeqNum,order_side,order_type,order_price,order_qty
18308,2300397,20200103,104505240000,1578019505240000,2020-01-03 10:45:05.240,7899128,2,2,33.38,5000
18309,2300397,20200103,104505950000,1578019505950000,2020-01-03 10:45:05.950,7899645,1,2,33.39,2100
18310,2300397,20200103,104507360000,1578019507360000,2020-01-03 10:45:07.360,7901042,2,2,33.38,1200
18311,2300397,20200103,104507510000,1578019507510000,2020-01-03 10:45:07.510,7901213,1,2,33.39,500
18312,2300397,20200103,104508100000,1578019508100000,2020-01-03 10:45:08.100,7901715,2,2,33.38,300
18313,2300397,20200103,104508460000,1578019508460000,2020-01-03 10:45:08.460,7902006,1,2,33.39,2000
18314,2300397,20200103,104509950000,1578019509950000,2020-01-03 10:45:09.950,7903391,1,2,33.39,1000
18315,2300397,20200103,104510050000,1578019510050000,2020-01-03 10:45:10.050,7903509,2,2,33.39,5000
18316,2300397,20200103,104510320000,1578019510320000,2020-01-03 10:45:10.320,7903820,2,2,33.38,200
18317,2300397,20200103,104510770000,1578019510770000,2020-01-03 10:45:10.770,7904199,2,2,33.39,100
18318,2300397,20200103,104511390000,1578019511390000,2020-01-03 10:45:11.390,7904674,2,2,33.39,4600
18319,2300397,20200103,104511630000,1578019511630000,2020-01-03 10:45:11.630,7904879,1,2,33.39,100

In [120]:
trade = db1.read('md_trade', 20200103, 20200103, symbol=2300397)
trade[trade['ApplSeqNum'] >= 7899645].head(12)

,skey,date,time,clockAtArrival,datetime,ApplSeqNum,trade_type,trade_flag,trade_price,trade_qty,BidApplSeqNum,OfferApplSeqNum
17317,2300397,20200103,104507360000,1578019507360000,2020-01-03 10:45:07.360,7901043,1,0,33.39,1200,7899645,7901042
17318,2300397,20200103,104508100000,1578019508100000,2020-01-03 10:45:08.100,7901716,1,0,33.39,300,7899645,7901715
17319,2300397,20200103,104510050000,1578019510050000,2020-01-03 10:45:10.050,7903510,1,0,33.39,600,7899645,7903509
17320,2300397,20200103,104510050000,1578019510050000,2020-01-03 10:45:10.050,7903511,1,0,33.39,500,7901213,7903509
17321,2300397,20200103,104510050000,1578019510050000,2020-01-03 10:45:10.050,7903512,1,0,33.39,2000,7902006,7903509
17322,2300397,20200103,104510050000,1578019510050000,2020-01-03 10:45:10.050,7903513,1,0,33.39,1000,7903391,7903509
17323,2300397,20200103,104510320000,1578019510320000,2020-01-03 10:45:10.320,7903821,1,0,33.38,200,7890983,7903820
17324,2300397,20200103,104511630000,1578019511630000,2020-01-03 10:45:11.630,7904880,1,0,33.39,100,7904879,7903509
17325,2300397,20200103,104512160000,1578019512160000,2020-01-03 10:45:12.160,7905399,1,0,33.39,800,7905398,7903509
17326,2300397,20200103,104512160000,1578019512160000,2020-01-03 10:45:12.160,7905400,1,0,33.39,100,7905398,7904199
17327,2300397,20200103,104512160000,1578019512160000,2020-01-03 10:45:12.160,7905401,1,0,33.39,100,7905398,7904674
17328,2300397,20200103,104514250000,1578019514250000,2020-01-03 10:45:14.250,7907406,1,0,33.39,1100,7907405,7904674

In [12]:
d4.shape[0]

199357

In [34]:
cols = list(d1.columns)
cols.remove('total_bid_vwap')
cols.remove('total_ask_vwap')
cols.remove('ordering')
re = pd.merge(d1, d4, on=cols, how='outer')

In [39]:
re[re['total_bid_vwap_y'].isnull()]

,skey,date,time,clockAtArrival,datetime,ordering_x,ApplSeqNum,bbo_improve,pass_filter,cum_trades_cnt,cum_volume,cum_amount,prev_close,open,close,bid10p,bid9p,bid8p,bid7p,bid6p,bid5p,bid4p,bid3p,bid2p,bid1p,ask1p,ask2p,ask3p,ask4p,ask5p,ask6p,ask7p,ask8p,ask9p,ask10p,bid10q,bid9q,bid8q,bid7q,bid6q,bid5q,bid4q,bid3q,bid2q,bid1q,ask1q,ask2q,ask3q,ask4q,ask5q,ask6q,ask7q,ask8q,ask9q,ask10q,bid10n,bid9n,bid8n,bid7n,bid6n,bid5n,bid4n,bid3n,bid2n,bid1n,ask1n,ask2n,ask3n,ask4n,ask5n,ask6n,ask7n,ask8n,ask9n,ask10n,total_bid_quantity,total_ask_quantity,total_bid_vwap_x,total_ask_vwap_x,total_bid_orders,total_ask_orders,total_bid_levels,total_ask_levels,ordering_y,total_bid_vwap_y,total_ask_vwap_y
4,2002351,20200102,93000010000,1577928600010000,2020-01-02 09:30:00.010,5.0,269630,1,1,321,348304,7.847312e+06,22.5,22.53,22.54,22.36,22.37,22.39,22.40,22.45,22.48,22.49,22.50,22.51,22.53,22.54,22.55,22.56,22.57,22.58,22.59,22.6,22.61,22.62,22.64,2000,1200,200,800,3700,200,700,13500,9700,15500,9100,68100,23600,700,7600,200,25000,7800,2100,200,1,1,1,4,3,2,2,39,2,12,4,26,14,2,14,1,23,4,3,1,289700,2122400,21.641909,23.915453,351,1276,110,175,NaN,NaN,NaN
5,2002351,20200102,93000010000,1577928600010000,2020-01-02 09:30:00.010,6.0,269891,1,0,322,349304,7.869842e+06,22.5,22.53,22.53,22.36,22.37,22.39,22.40,22.45,22.48,22.49,22.50,22.51,22.53,22.54,22.55,22.56,22.57,22.58,22.59,22.6,22.61,22.62,22.64,2000,1200,200,800,3700,200,700,13500,9700,14500,9100,68100,23600,700,7600,200,25000,7800,2100,200,1,1,1,4,3,2,2,39,2,12,4,26,14,2,14,1,23,4,3,1,288700,2122400,21.638833,23.915453,351,1276,110,175,NaN,NaN,NaN
9,2002351,20200102,93000020000,1577928600020000,2020-01-02 09:30:00.020,10.0,270859,1,0,323,350304,7.892382e+06,22.5,22.53,22.54,22.36,22.37,22.39,22.40,22.45,22.48,22.49,22.50,22.51,22.53,22.54,22.55,22.56,22.57,22.58,22.59,22.6,22.61,22.62,22.64,2000,1200,200,800,3700,200,700,13500,9700,14500,8100,68100,23600,700,7600,200,25000,7800,2100,200,1,1,1,4,3,2,2,39,2,12,4,26,14,2,14,1,23,4,3,1,288900,2121800,21.639221,23.916214,352,1278,110,175,NaN,NaN,NaN
11,2002351,20200102,93000020000,1577928600020000,2020-01-02 09:30:00.020,12.0,272360,1,0,324,350504,7.896890e+06,22.5,22.53,22.54,22.36,22.37,22.39,22.40,22.45,22.48,22.49,22.50,22.51,22.53,22.54,22.55,22.56,22.57,22.58,22.59,22.6,22.61,22.62,22.64,2000,1200,200,800,3700,200,700,13500,9700,14500,7900,68100,23600,700,7600,200,25100,7800,2100,200,1,1,1,4,3,2,2,39,2,12,4,26,14,2,14,1,24,4,3,1,288900,2121700,21.639221,23.916281,352,1279,110,175,NaN,NaN,NaN
23,2002351,20200102,93000040000,1577928600040000,2020-01-02 09:30:00.040,24.0,273812,1,0,325,351904,7.928446e+06,22.5,22.53,22.54,22.36,22.37,22.39,22.40,22.45,22.48,22.49,22.50,22.51,22.53,22.54,22.55,22.56,22.57,22.58,22.59,22.6,22.61,22.62,22.64,2000,1200,200,800,3700,200,700,13500,9700,15500,6500,43200,23600,700,7600,200,25100,7800,2100,200,1,1,1,4,3,2,2,39,2,13,4,22,14,2,14,1,24,4,3,1,289900,2071100,21.642294,23.948294,353,1273,110,175,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199324,2002351,20200102,145646910000,1577948206910000,2020-01-02 14:56:46.910,199325.0,16172802,1,0,105334,81823932,1.952135e+09,22.5,22.53,24.75,24.66,24.67,24.68,24.69,24.70,24.71,24.72,24.73,24.74,24.75,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,3500,900,11100,5100,19100,14800,10600,18600,26900,2477600,0,0,0,0,0,0,0,0,0,0,9,3,16,10,50,13,15,22,31,1156,0,0,0,0,0,0,0,0,0,0,4809300,0,23.981446,0.000000,4192,0,335,0,NaN,NaN,NaN
199329,2002351,20200102,145648250000,1577948208250000,2020-01-02 14:56:48.250,199330.0,16174725,1,0,105335,81824032,1.952137e+09,22.5,22.53,24.75,24.66,24.67,24.68,24.69,24.70,24.71,24.72,24.73,24.74,24.75,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,3500,900,11100,5100,19100,14800,10600,18600,26900,2314900,0,0,0,0,0,0,0,0,0,0,9,3,16,10,50,13,15,22,31,1156,0,0,0,0,0,0,0,0,0,0,4646600,0,23.954535,0.000000,4192,0,335,0,NaN,NaN,NaN
199330,2002351,20200102,145648310000,1577948208310000,2020-01-02 14:56:48.310,199331.0,16174824,1,0,105336,81824832,1.952157e+09,22.5,22.53,24.75,24.66,24.67,24.68,24.69,24.70,24.71,24.72,24.73,24.74,24.75,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,3500,900,11100,5100,19100,14800,10600,18600,26900,2314100,0,0,0,0,0,0,0,0,0,0,9,3,16,10,50,13,15,22,31,1156,0,0,0,0,0,0,0,0,0,0,4645800,0,23.954398,0.000000,4192,0,335,0,NaN,NaN,NaN
199331,2002351,20200102,145648320000,1577948208320000,2020-01-02 14:56:48.320,199332.0,16174837,1,0,105337,81826832,1.952206e+09,22.5,22.53,24.75,24.66,24.67,24.68,24.69,24.70,24.71,24.72,24.73,24.74,24.75,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,3500,900,11100,5100,19100,14800,10600,18600,26900,2312100,0,0,0,0,0,0,0,0,0,0,9,3,16,10,50,13,15,22,31,1156,0,0,0,0,0,0,0,0,0,0,4643800,0,23.954055,0.000000,4192,0,335,0,NaN,NaN,NaN
199339,2002351,20200102,145653180000,1577948213180000,2020-01-02 14:56:53.180,199340.0,16182190,1,0,105338,81827432,1.952221e+09,22.5,22.53,24.75,24.66,24.67,24.68,24.69,24.70,24.71,24.72,24.73,24.74,24.75,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,3500,900,11100,5100,19100,14800,10600,18600,26900,2309700,0,0,0,0,0,0,0,0,0,0,9,3,16,10,50,13,15,22,31,1155,0,0,0,0,0,0,0,0,0,0,4641100,0,23.953659,0.000000,4189,0,335,0,NaN,NaN,NaN

In [49]:
d1[d1['ApplSeqNum'] >= 269291].head(20)

,skey,date,time,clockAtArrival,datetime,ordering,ApplSeqNum,bbo_improve,pass_filter,cum_trades_cnt,cum_volume,cum_amount,prev_close,open,close,bid10p,bid9p,bid8p,bid7p,bid6p,bid5p,bid4p,bid3p,bid2p,bid1p,ask1p,ask2p,ask3p,ask4p,ask5p,ask6p,ask7p,ask8p,ask9p,ask10p,bid10q,bid9q,bid8q,bid7q,bid6q,bid5q,bid4q,bid3q,bid2q,bid1q,ask1q,ask2q,ask3q,ask4q,ask5q,ask6q,ask7q,ask8q,ask9q,ask10q,bid10n,bid9n,bid8n,bid7n,bid6n,bid5n,bid4n,bid3n,bid2n,bid1n,ask1n,ask2n,ask3n,ask4n,ask5n,ask6n,ask7n,ask8n,ask9n,ask10n,total_bid_quantity,total_ask_quantity,total_bid_vwap,total_ask_vwap,total_bid_orders,total_ask_orders,total_bid_levels,total_ask_levels
3,2002351,20200102,93000010000,1577928600010000,2020-01-02 09:30:00.010,4,269291,0,-1,319,346004,7795470.12,22.5,22.53,22.53,22.36,22.37,22.39,22.4,22.45,22.48,22.49,22.5,22.51,22.53,22.54,22.55,22.56,22.57,22.58,22.59,22.6,22.61,22.62,22.64,2000,1200,200,800,3700,200,700,13500,9700,15500,11400,68100,23600,700,7600,200,25000,7800,2100,200,1,1,1,4,3,2,2,39,2,12,5,26,14,2,14,1,23,4,3,1,289700,2124700,21.641909,23.913964,351,1277,110,175
4,2002351,20200102,93000010000,1577928600010000,2020-01-02 09:30:00.010,5,269630,1,1,321,348304,7847312.12,22.5,22.53,22.54,22.36,22.37,22.39,22.4,22.45,22.48,22.49,22.5,22.51,22.53,22.54,22.55,22.56,22.57,22.58,22.59,22.6,22.61,22.62,22.64,2000,1200,200,800,3700,200,700,13500,9700,15500,9100,68100,23600,700,7600,200,25000,7800,2100,200,1,1,1,4,3,2,2,39,2,12,4,26,14,2,14,1,23,4,3,1,289700,2122400,21.641909,23.915453,351,1276,110,175
5,2002351,20200102,93000010000,1577928600010000,2020-01-02 09:30:00.010,6,269891,1,0,322,349304,7869842.12,22.5,22.53,22.53,22.36,22.37,22.39,22.4,22.45,22.48,22.49,22.5,22.51,22.53,22.54,22.55,22.56,22.57,22.58,22.59,22.6,22.61,22.62,22.64,2000,1200,200,800,3700,200,700,13500,9700,14500,9100,68100,23600,700,7600,200,25000,7800,2100,200,1,1,1,4,3,2,2,39,2,12,4,26,14,2,14,1,23,4,3,1,288700,2122400,21.638833,23.915453,351,1276,110,175
6,2002351,20200102,93000010000,1577928600010000,2020-01-02 09:30:00.010,7,270147,0,-1,322,349304,7869842.12,22.5,22.53,22.53,22.36,22.37,22.39,22.4,22.45,22.48,22.49,22.5,22.51,22.53,22.54,22.55,22.56,22.57,22.58,22.59,22.6,22.61,22.62,22.64,2000,1200,200,800,3700,200,700,13500,9700,14500,9100,68100,23600,700,7600,200,25000,7800,2100,200,1,1,1,4,3,2,2,39,2,12,4,26,14,2,14,1,23,4,3,1,288700,2122500,21.638833,23.915447,351,1277,110,175
7,2002351,20200102,93000010000,1577928600010000,2020-01-02 09:30:00.010,8,270162,0,-1,322,349304,7869842.12,22.5,22.53,22.53,22.36,22.37,22.39,22.4,22.45,22.48,22.49,22.5,22.51,22.53,22.54,22.55,22.56,22.57,22.58,22.59,22.6,22.61,22.62,22.64,2000,1200,200,800,3700,200,700,13500,9700,14500,9100,68100,23600,700,7600,200,25000,7800,2100,200,1,1,1,4,3,2,2,39,2,12,4,26,14,2,14,1,23,4,3,1,288900,2122500,21.639221,23.915447,352,1277,110,175
8,2002351,20200102,93000020000,1577928600020000,2020-01-02 09:30:00.020,9,270784,0,-1,322,349304,7869842.12,22.5,22.53,22.53,22.36,22.37,22.39,22.4,22.45,22.48,22.49,22.5,22.51,22.53,22.54,22.55,22.56,22.57,22.58,22.59,22.6,22.61,22.62,22.64,2000,1200,200,800,3700,200,700,13500,9700,14500,9100,68100,23600,700,7600,200,25000,7800,2100,200,1,1,1,4,3,2,2,39,2,12,4,26,14,2,14,1,23,4,3,1,288900,2122800,21.639221,23.915565,352,1278,110,175
9,2002351,20200102,93000020000,1577928600020000,2020-01-02 09:30:00.020,10,270859,1,0,323,350304,7892382.12,22.5,22.53,22.54,22.36,22.37,22.39,22.4,22.45,22.48,22.49,22.5,22.51,22.53,22.54,22.55,22.56,22.57,22.58,22.59,22.6,22.61,22.62,22.64,2000,1200,200,800,3700,200,700,13500,9700,14500,8100,68100,23600,700,7600,200,25000,7800,2100,200,1,1,1,4,3,2,2,39,2,12,4,26,14,2,14,1,23,4,3,1,288900,2121800,21.639221,23.916214,352,1278,110,175
10,2002351,20200102,93000020000,1577928600020000,2020-01-02 09:30:00.020,11,272342,0,-1,323,350304,7892382.12,22.5,22.53,22.54,22.36,22.37,22.39,22.4,22.45,22.48,22.49,22.5,22.51,22.53,22.54,22.55,22.56,22.57,22.58,22.59,22.6,22.61,22.62,22.64,2000,1200,200,800,3700,200,700,13500,9700,14500,8100,68100,23600,700,7600,200,25100,7800,2100,200,1,1,1,4,3,2,2,39,2,12,4,26,14,2,14,1,24,4,3,1,288900,2121900,21.639221,23.916152,352,1279,110,175
11,2002351,20200102,93000020000,1577928600020000,2020-01-02 09:30:00.020,12,272360,1,0,324,350504,7896890.12,22.5,22.53,22.54,22.36,22.37,22.39,22.4,22.45,22.48,22.49,22.5,22.51,22.53,22.54,22.55,22.56,22.57,22.58,22.59,22.6,22.61,22.62,22.64,2000,1200,200,800,3700,200,700,13500,9700,14500,7900,68100,23600,700,7600,200,25100,7800,2100,200,1,1,1,4,3,2,2,39,2,12,4,26,14,2,14,1,24,4,3,1,288900,2121700,21.639221,23.916281,352,1279,110,175
12,2002351,20200102,93000040000,1577928600040000,2020-01-02 09:30:00.040,13,273440,0,-1,324,350504,7896890.12,22.5,22.53,22.54,22.36,22.37,22.39,22.4,22.45,22.48,22.49,22.5,22.51,22.53,22.54,22.55,22.56,22.57,22.58,22.59,22.6,22.61,22.62,22.64,2000,1200,200,800,3700,200,700,13500,9700,14500,7900,68100,23600,700,7600,200,25100,7800,2100,200,1,1,1,4,3,2,2,39,2,12,4,26,14,2,14,1,24,4,3,1,288900,2121800,21.639221,23.916321,352,1280,110,175
13,2002351,20200102,93000040000,1577928600040000,2020-01-02 09:30:00.040,14,273578,0,-1,324,350504,7896890.12,22.5,22.53,22.54,22.36,22.37,22.39,22.4,22.45,22.48,22.49,22.5,22.51,22.53,22.54,22.55,22.56,22.57,22.58,22.59,22.6,22.61,22.62,22.64,2000,1200,200,800,3700,200,700,13500,9700,15500,7900,68100,23600,700,7600,200,25100,7800,2100,200,1,1,1,4,3,2,2,39,2,13,4,26,14,2,14,1,24,4,3,1,289900,2121800,21.642294,23.916321,353,1280,110,175
14,2002351,20200102,93000040000,1577928600040000,2020-01-02 09:30:00.040,15,273580,0,-1,324,350504,7896890.12,22.5,22.53,22.54,22.36,22.37,22.39,22.4,22.45,22.48,22.49,22.5,22.51,22.53,22.54,22.55,22.56,22.57,22.58,22.59,22.6,22.61,22.62,22.64,2000,1200,200,800,3700,200,700,13500,9700,15500,7900,68100,23600,700,7600,200,25100,7800,2100,200,1,1,1,4,3,2,2,39,2,13,4,26,14,2,14,1,24,4,3,1,289900,2122100,21.642294,23.916429,353,1281,110,175
15,2002351,20200102,93000040000,1577928600040000,2020-01-02 09:30:00.040,16,273667,0,-1,324,350504,7896890.12,22.5,22.53,22.54,22.36,22.37,22.39,22.4,22.45,22.48,22.49,22.5,22.51,22.53,22.54,22.55,22.56,22.57,22.58,22.59,22.6,22.61,22.62,22.64,2000,1200,200,800,3700,200,700,13500,9700,15500,7900,55000,23600,700,7600,200,25100,7800,2100,200,1,1,1,4,3,2,2,39,2,13,4,25,14,2,14,1,24,4,3,1,289900,2109000,21.642294,23.924916,353,1280,110,175
16,2002351,20200102,93000040000,1577928600040000,2020-01-02 09:30:00.040,17,273727,0,-1,324,350504,7896890.12,22.5,22.53,22.54,22.36,22.37,22.39,22.4,22.45,22.48,22.49,22.5,22.51,22.53,22.54,22.55,22.56,22.57,22.58,22.59,22.6,22.61,22.62,22.64,2000,1200,200,800,3700,200,700,13500,9700,15500,7900,46800,23600,700,7600,200,25100,7800,2100,200,1,1,1,4,3,2,2,39,2,13,4,24,14,2,14,1,24,4,3,1,289900,2100800,21.642294,23.930283,353,1279,110,175
17,2002351,20200102,93000040000,1577928600040000,2020-01-02 09:30:00.040,18,273751,0,-1,324,350504,7896890.12,22.5,22.53,22.54,22.36,22.37,22.39,22.4,22.45,22.48,22.49,22.5,22.51,22.53,22.54,22.55,22.56,22.57,22.58,22.59,22.6,22.61,22.62,22.64,2000,1200,200,800,3700,200,700,13500,9700,15500,7900,44700,23600,700,7600,200,25100,7800,2100,200,1,1,1,4,3,2,2,39,2,13,4,23,14,2,14,1,24,4,3,1,289900,2098700,21.642294,23.931664,353,1278,110,175
18,2002351,20200102,93000040000,1577928600040000,2020-01-02 09:30:00.040,19,273752,0,-1,324,350504,7896890.12,22.5,22.53,22.54,22.36,22.37,22.39,22.4,22.45,22.48,22.49,22.5,22.51,22.53,22.54,22.55,22.56,22.57,22.58,22.59,22.6,22.61,22.62,22.64,2000,1200,200,800,3700,200,700,13500,9700,15500,7900,43200,23600,700,7600,200,25100,7800,2100,200,1,1,1,4,3,2,2,39,2,13,4,22,14,2,14,1,24,4,3,1,289900,2097200,21.642294,23.932652,353,1277,110,175
19,2002351,20200102,93000040000,1577928600040000,2020-01-02 09:30:00.040,20,273772,0,-1,324,350504,7896890.12,22.5,22.53,22.54,22.36,22.37,22.39,22.4,22.45,22.48,22.49,22.5,22.51,22.53,22.54,22.55,22.56,22.57,22.58,22.59,22.6,22.61,22.62,22.64,2000,1200,200,800,3700,200,700,13500,9700,15500,7900,43200,23600,700,7600,200,25100,7800,2100,200,1,1,1,4,3,2,2,39,2,13,4,22,14,2,14,1,24,4,3,1,289900,2084200,21.642294,23.940341,353,1276,110,175
20,2002351,20200102,93000040000,1577928600040000,2020-01-02 09:30:00.040,21,273776,0,-1,324,350504,7896890.12,22.5,22.53,22.54,22.36,22.37,22.39,22.4,22.45,22.48,22.49,22.5,22.51,22.53,22.54,22.55,22.56,22.57,22.58,22.59,22.6,22.61,22.62,22.64,2000,1200,200,800,3700,200,700,13500,9700,15500,7900,43200,23600,700,7600,200,25100,7800,2100,200,1,1,1,4,3,2,2,39,2,13,4,22,14,2,14,1,24,4,3,1,289900,2076000,21.642294,23.945240,353,1275,110,175
21,2002351,20200102,93000040000,1577928600040000,2020-01-02 09:30:00.040,22,273785,0,-1,324,350504,7896890.12,22.5,22.53,22.54,22.36,22.37,22.39,22.4,22.45,22.48,22.49,22.5,22.51,22.53,22.54,22.55,22.56,22.57,22.58,22.59,22.6,22.61,22.62,22.64,2000,1200,200,800,3700,200,700,13500,9700,15500,7900,43200,23600,700,7600,200,25100,7800,2100,200,1,1,1,4,3,2,2,39,2,13,4,22,14,2,14,1,24,4,3,1,289900,2074000,21.642294,23.946441,353,1274,110,175
22,2002351,20200102,93000040000,1577928600040000,2020-01-02 09:30:00.040,23,273801,0,-1,324,350504,7896890.12,22.5,22.53,22.54,22.36,22.37,22.39,22.4,22.45,22.48,22.49,22.5,22.51,22.53,22.54,22.55,22.56,22.57,22.58,22.59,22.6,22.61,22.62,22.64,2000,1200,200,800,3700,200,700,13500,9700,15500,7900,43200,23600,700,7600,200,25100,7800,2100,200,1,1,1,4,3,2,2,39,2,13,4,22,14,2,14,1,24,4,3,1,289900,2072500,21.642294,23.947343,353,1273,110,175

In [48]:
d4[d4['ApplSeqNum'] >= 269291].head(20)

,skey,date,time,clockAtArrival,datetime,ordering,ApplSeqNum,bbo_improve,pass_filter,cum_trades_cnt,cum_volume,cum_amount,prev_close,open,close,bid10p,bid9p,bid8p,bid7p,bid6p,bid5p,bid4p,bid3p,bid2p,bid1p,ask1p,ask2p,ask3p,ask4p,ask5p,ask6p,ask7p,ask8p,ask9p,ask10p,bid10q,bid9q,bid8q,bid7q,bid6q,bid5q,bid4q,bid3q,bid2q,bid1q,ask1q,ask2q,ask3q,ask4q,ask5q,ask6q,ask7q,ask8q,ask9q,ask10q,bid10n,bid9n,bid8n,bid7n,bid6n,bid5n,bid4n,bid3n,bid2n,bid1n,ask1n,ask2n,ask3n,ask4n,ask5n,ask6n,ask7n,ask8n,ask9n,ask10n,total_bid_quantity,total_ask_quantity,total_bid_vwap,total_ask_vwap,total_bid_orders,total_ask_orders,total_bid_levels,total_ask_levels
3,2002351,20200102,93000010000,1577928600010000,2020-01-02 09:30:00.010,4,269291,0,-1,319,346004,7795470.12,22.5,22.53,22.53,22.36,22.37,22.39,22.4,22.45,22.48,22.49,22.5,22.51,22.53,22.54,22.55,22.56,22.57,22.58,22.59,22.6,22.61,22.62,22.64,2000,1200,200,800,3700,200,700,13500,9700,15500,11400,68100,23600,700,7600,200,25000,7800,2100,200,1,1,1,4,3,2,2,39,2,12,5,26,14,2,14,1,23,4,3,1,289700,2124700,21.641909,23.913964,351,1277,110,175
4,2002351,20200102,93000010000,1577928600010000,2020-01-02 09:30:00.010,5,269630,1,1,322,348304,7847312.12,22.5,22.53,22.54,22.36,22.37,22.39,22.4,22.45,22.48,22.49,22.5,22.51,22.53,22.54,22.55,22.56,22.57,22.58,22.59,22.6,22.61,22.62,22.64,2000,1200,200,800,3700,200,700,13500,9700,15500,9100,68100,23600,700,7600,200,25000,7800,2100,200,1,1,1,4,3,2,2,39,2,12,4,26,14,2,14,1,23,4,3,1,289700,2122400,21.641909,23.915453,351,1276,110,175
5,2002351,20200102,93000010000,1577928600010000,2020-01-02 09:30:00.010,6,269891,1,0,323,349304,7869842.12,22.5,22.53,22.53,22.36,22.37,22.39,22.4,22.45,22.48,22.49,22.5,22.51,22.53,22.54,22.55,22.56,22.57,22.58,22.59,22.6,22.61,22.62,22.64,2000,1200,200,800,3700,200,700,13500,9700,14500,9100,68100,23600,700,7600,200,25000,7800,2100,200,1,1,1,4,3,2,2,39,2,12,4,26,14,2,14,1,23,4,3,1,288700,2122400,21.638833,23.915453,351,1276,110,175
6,2002351,20200102,93000010000,1577928600010000,2020-01-02 09:30:00.010,7,270147,0,-1,322,349304,7869842.12,22.5,22.53,22.53,22.36,22.37,22.39,22.4,22.45,22.48,22.49,22.5,22.51,22.53,22.54,22.55,22.56,22.57,22.58,22.59,22.6,22.61,22.62,22.64,2000,1200,200,800,3700,200,700,13500,9700,14500,9100,68100,23600,700,7600,200,25000,7800,2100,200,1,1,1,4,3,2,2,39,2,12,4,26,14,2,14,1,23,4,3,1,288700,2122500,21.638833,23.915447,351,1277,110,175
7,2002351,20200102,93000010000,1577928600010000,2020-01-02 09:30:00.010,8,270162,0,-1,322,349304,7869842.12,22.5,22.53,22.53,22.36,22.37,22.39,22.4,22.45,22.48,22.49,22.5,22.51,22.53,22.54,22.55,22.56,22.57,22.58,22.59,22.6,22.61,22.62,22.64,2000,1200,200,800,3700,200,700,13500,9700,14500,9100,68100,23600,700,7600,200,25000,7800,2100,200,1,1,1,4,3,2,2,39,2,12,4,26,14,2,14,1,23,4,3,1,288900,2122500,21.639221,23.915447,352,1277,110,175
8,2002351,20200102,93000020000,1577928600020000,2020-01-02 09:30:00.020,9,270784,0,-1,322,349304,7869842.12,22.5,22.53,22.53,22.36,22.37,22.39,22.4,22.45,22.48,22.49,22.5,22.51,22.53,22.54,22.55,22.56,22.57,22.58,22.59,22.6,22.61,22.62,22.64,2000,1200,200,800,3700,200,700,13500,9700,14500,9100,68100,23600,700,7600,200,25000,7800,2100,200,1,1,1,4,3,2,2,39,2,12,4,26,14,2,14,1,23,4,3,1,288900,2122800,21.639221,23.915565,352,1278,110,175
9,2002351,20200102,93000020000,1577928600020000,2020-01-02 09:30:00.020,10,270859,1,0,324,350304,7892382.12,22.5,22.53,22.54,22.36,22.37,22.39,22.4,22.45,22.48,22.49,22.5,22.51,22.53,22.54,22.55,22.56,22.57,22.58,22.59,22.6,22.61,22.62,22.64,2000,1200,200,800,3700,200,700,13500,9700,14500,8100,68100,23600,700,7600,200,25000,7800,2100,200,1,1,1,4,3,2,2,39,2,12,4,26,14,2,14,1,23,4,3,1,288900,2121800,21.639221,23.916214,352,1278,110,175
10,2002351,20200102,93000020000,1577928600020000,2020-01-02 09:30:00.020,11,272342,0,-1,323,350304,7892382.12,22.5,22.53,22.54,22.36,22.37,22.39,22.4,22.45,22.48,22.49,22.5,22.51,22.53,22.54,22.55,22.56,22.57,22.58,22.59,22.6,22.61,22.62,22.64,2000,1200,200,800,3700,200,700,13500,9700,14500,8100,68100,23600,700,7600,200,25100,7800,2100,200,1,1,1,4,3,2,2,39,2,12,4,26,14,2,14,1,24,4,3,1,288900,2121900,21.639221,23.916152,352,1279,110,175
11,2002351,20200102,93000020000,1577928600020000,2020-01-02 09:30:00.020,12,272360,1,0,325,350504,7896890.12,22.5,22.53,22.54,22.36,22.37,22.39,22.4,22.45,22.48,22.49,22.5,22.51,22.53,22.54,22.55,22.56,22.57,22.58,22.59,22.6,22.61,22.62,22.64,2000,1200,200,800,3700,200,700,13500,9700,14500,7900,68100,23600,700,7600,200,25100,7800,2100,200,1,1,1,4,3,2,2,39,2,12,4,26,14,2,14,1,24,4,3,1,288900,2121700,21.639221,23.916281,352,1279,110,175
12,2002351,20200102,93000040000,1577928600040000,2020-01-02 09:30:00.040,13,273440,0,-1,324,350504,7896890.12,22.5,22.53,22.54,22.36,22.37,22.39,22.4,22.45,22.48,22.49,22.5,22.51,22.53,22.54,22.55,22.56,22.57,22.58,22.59,22.6,22.61,22.62,22.64,2000,1200,200,800,3700,200,700,13500,9700,14500,7900,68100,23600,700,7600,200,25100,7800,2100,200,1,1,1,4,3,2,2,39,2,12,4,26,14,2,14,1,24,4,3,1,288900,2121800,21.639221,23.916321,352,1280,110,175
13,2002351,20200102,93000040000,1577928600040000,2020-01-02 09:30:00.040,14,273578,0,-1,324,350504,7896890.12,22.5,22.53,22.54,22.36,22.37,22.39,22.4,22.45,22.48,22.49,22.5,22.51,22.53,22.54,22.55,22.56,22.57,22.58,22.59,22.6,22.61,22.62,22.64,2000,1200,200,800,3700,200,700,13500,9700,15500,7900,68100,23600,700,7600,200,25100,7800,2100,200,1,1,1,4,3,2,2,39,2,13,4,26,14,2,14,1,24,4,3,1,289900,2121800,21.642294,23.916321,353,1280,110,175
14,2002351,20200102,93000040000,1577928600040000,2020-01-02 09:30:00.040,15,273580,0,-1,324,350504,7896890.12,22.5,22.53,22.54,22.36,22.37,22.39,22.4,22.45,22.48,22.49,22.5,22.51,22.53,22.54,22.55,22.56,22.57,22.58,22.59,22.6,22.61,22.62,22.64,2000,1200,200,800,3700,200,700,13500,9700,15500,7900,68100,23600,700,7600,200,25100,7800,2100,200,1,1,1,4,3,2,2,39,2,13,4,26,14,2,14,1,24,4,3,1,289900,2122100,21.642294,23.916429,353,1281,110,175
15,2002351,20200102,93000040000,1577928600040000,2020-01-02 09:30:00.040,16,273667,0,-1,324,350504,7896890.12,22.5,22.53,22.54,22.36,22.37,22.39,22.4,22.45,22.48,22.49,22.5,22.51,22.53,22.54,22.55,22.56,22.57,22.58,22.59,22.6,22.61,22.62,22.64,2000,1200,200,800,3700,200,700,13500,9700,15500,7900,55000,23600,700,7600,200,25100,7800,2100,200,1,1,1,4,3,2,2,39,2,13,4,25,14,2,14,1,24,4,3,1,289900,2109000,21.642294,23.924916,353,1280,110,175
16,2002351,20200102,93000040000,1577928600040000,2020-01-02 09:30:00.040,17,273727,0,-1,324,350504,7896890.12,22.5,22.53,22.54,22.36,22.37,22.39,22.4,22.45,22.48,22.49,22.5,22.51,22.53,22.54,22.55,22.56,22.57,22.58,22.59,22.6,22.61,22.62,22.64,2000,1200,200,800,3700,200,700,13500,9700,15500,7900,46800,23600,700,7600,200,25100,7800,2100,200,1,1,1,4,3,2,2,39,2,13,4,24,14,2,14,1,24,4,3,1,289900,2100800,21.642294,23.930283,353,1279,110,175
17,2002351,20200102,93000040000,1577928600040000,2020-01-02 09:30:00.040,18,273751,0,-1,324,350504,7896890.12,22.5,22.53,22.54,22.36,22.37,22.39,22.4,22.45,22.48,22.49,22.5,22.51,22.53,22.54,22.55,22.56,22.57,22.58,22.59,22.6,22.61,22.62,22.64,2000,1200,200,800,3700,200,700,13500,9700,15500,7900,44700,23600,700,7600,200,25100,7800,2100,200,1,1,1,4,3,2,2,39,2,13,4,23,14,2,14,1,24,4,3,1,289900,2098700,21.642294,23.931664,353,1278,110,175
18,2002351,20200102,93000040000,1577928600040000,2020-01-02 09:30:00.040,19,273752,0,-1,324,350504,7896890.12,22.5,22.53,22.54,22.36,22.37,22.39,22.4,22.45,22.48,22.49,22.5,22.51,22.53,22.54,22.55,22.56,22.57,22.58,22.59,22.6,22.61,22.62,22.64,2000,1200,200,800,3700,200,700,13500,9700,15500,7900,43200,23600,700,7600,200,25100,7800,2100,200,1,1,1,4,3,2,2,39,2,13,4,22,14,2,14,1,24,4,3,1,289900,2097200,21.642294,23.932652,353,1277,110,175
19,2002351,20200102,93000040000,1577928600040000,2020-01-02 09:30:00.040,20,273772,0,-1,324,350504,7896890.12,22.5,22.53,22.54,22.36,22.37,22.39,22.4,22.45,22.48,22.49,22.5,22.51,22.53,22.54,22.55,22.56,22.57,22.58,22.59,22.6,22.61,22.62,22.64,2000,1200,200,800,3700,200,700,13500,9700,15500,7900,43200,23600,700,7600,200,25100,7800,2100,200,1,1,1,4,3,2,2,39,2,13,4,22,14,2,14,1,24,4,3,1,289900,2084200,21.642294,23.940341,353,1276,110,175
20,2002351,20200102,93000040000,1577928600040000,2020-01-02 09:30:00.040,21,273776,0,-1,324,350504,7896890.12,22.5,22.53,22.54,22.36,22.37,22.39,22.4,22.45,22.48,22.49,22.5,22.51,22.53,22.54,22.55,22.56,22.57,22.58,22.59,22.6,22.61,22.62,22.64,2000,1200,200,800,3700,200,700,13500,9700,15500,7900,43200,23600,700,7600,200,25100,7800,2100,200,1,1,1,4,3,2,2,39,2,13,4,22,14,2,14,1,24,4,3,1,289900,2076000,21.642294,23.945240,353,1275,110,175
21,2002351,20200102,93000040000,1577928600040000,2020-01-02 09:30:00.040,22,273785,0,-1,324,350504,7896890.12,22.5,22.53,22.54,22.36,22.37,22.39,22.4,22.45,22.48,22.49,22.5,22.51,22.53,22.54,22.55,22.56,22.57,22.58,22.59,22.6,22.61,22.62,22.64,2000,1200,200,800,3700,200,700,13500,9700,15500,7900,43200,23600,700,7600,200,25100,7800,2100,200,1,1,1,4,3,2,2,39,2,13,4,22,14,2,14,1,24,4,3,1,289900,2074000,21.642294,23.946441,353,1274,110,175
22,2002351,20200102,93000040000,1577928600040000,2020-01-02 09:30:00.040,23,273801,0,-1,324,350504,7896890.12,22.5,22.53,22.54,22.36,22.37,22.39,22.4,22.45,22.48,22.49,22.5,22.51,22.53,22.54,22.55,22.56,22.57,22.58,22.59,22.6,22.61,22.62,22.64,2000,1200,200,800,3700,200,700,13500,9700,15500,7900,43200,23600,700,7600,200,25100,7800,2100,200,1,1,1,4,3,2,2,39,2,13,4,22,14,2,14,1,24,4,3,1,289900,2072500,21.642294,23.947343,353,1273,110,175

In [53]:
order = db1.read('md_order', 20200102, 20200102, symbol=2002351)
order[(order['ApplSeqNum'] <= 269630) & (order['ApplSeqNum'] > 269291)]

,skey,date,time,clockAtArrival,datetime,ApplSeqNum,order_side,order_type,order_price,order_qty
2018,2002351,20200102,93000010000,1577928600010000,2020-01-02 09:30:00.010,269630,1,2,24.75,2300

In [57]:
trade = db1.read('md_trade', 20200102, 20200102, symbol=2002351)
trade[(trade['ApplSeqNum'] > 269630)]

,skey,date,time,clockAtArrival,datetime,ApplSeqNum,trade_type,trade_flag,trade_price,trade_qty,BidApplSeqNum,OfferApplSeqNum
388,2002351,20200102,93000010000,1577928600010000,2020-01-02 09:30:00.010,269631,1,0,22.54,1100,269630,210677
389,2002351,20200102,93000010000,1577928600010000,2020-01-02 09:30:00.010,269632,1,0,22.54,1200,269630,216591
390,2002351,20200102,93000010000,1577928600010000,2020-01-02 09:30:00.010,269892,1,0,22.53,1000,231823,269891
391,2002351,20200102,93000020000,1577928600020000,2020-01-02 09:30:00.020,270860,1,0,22.54,1000,270859,216591
392,2002351,20200102,93000020000,1577928600020000,2020-01-02 09:30:00.020,272361,1,0,22.54,200,272360,216591
...,...,...,...,...,...,...,...,...,...,...,...,...
149473,2002351,20200102,150000000000,1577948400000000,2020-01-02 15:00:00.000,16288124,1,0,24.75,1000,12758236,16260836
149474,2002351,20200102,150000000000,1577948400000000,2020-01-02 15:00:00.000,16288125,1,0,24.75,1000,12758236,16262020
149475,2002351,20200102,150000000000,1577948400000000,2020-01-02 15:00:00.000,16288126,1,0,24.75,1000,12758236,16264225
149476,2002351,20200102,150000000000,1577948400000000,2020-01-02 15:00:00.000,16288127,1,0,24.75,300,12758236,16264427
149477,2002351,20200102,150000000000,1577948400000000,2020-01-02 15:00:00.000,16288128,1,0,24.75,100,12758236,16264508