In [1]:
# Speed comparison SZ
import pandas as pd
import numpy as np
import glob
import os

path = np.array(glob.glob('/mnt/data/20210112/logs_20210112_zs_96_03_day_96data.tar.gz/mdLog_SZ_***'))
assert(len(path) == 1)
print(path[0])
path1 = np.array(glob.glob('/mnt/data/20210112/zs_6801_20210112_168.26.5.167.tar.gz/Logs_full/mdLog_SZ_***'))
assert(len(path1) == 1)
print(path1[0])
logSZ = pd.read_csv(path[0], encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "source", "StockID",
                                              "exchange", "time", "cum_volume", "cum_amount", "close",
                                              "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q",
                                              "bid2q", "bid3q", "bid4q", "bid5q", "ask1p", "ask2p",
                                              "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
                                              "ask4q", "ask5q", "openPrice", "numTrades"]]
logSZ1 = pd.read_csv(path1[0], encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "source", "StockID",
                                              "exchange", "time", "cum_volume", "cum_amount", "close",
                                              "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q",
                                              "bid2q", "bid3q", "bid4q", "bid5q", "ask1p", "ask2p",
                                              "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
                                              "ask4q", "ask5q", "openPrice", "numTrades"]]
print("original data source type: ")
print(logSZ["source"].unique())
print("new data source type: ")
print(logSZ1["source"].unique())
print(logSZ["time"].unique())
print(logSZ1["time"].unique())
assert(logSZ['source'].nunique() == 1)
assert(logSZ1['source'].nunique() == 1)

logSZ1["time"] = logSZ1["time"].apply(lambda x: int((x.replace(':', "")).replace(".", "")))
logSZ["time"] = logSZ["time"].apply(lambda x: int((x.replace(':', "")).replace(".", "")))

display(logSZ['cum_amount'].astype(str).apply(lambda x: len(x.split('.')[1])).unique())
display(logSZ1['cum_amount'].astype(str).apply(lambda x: len(x.split('.')[1])).unique())

if (logSZ['cum_amount'].astype(str).apply(lambda x: len(x.split('.')[1])).nunique() == 1) | \
(logSZ1['cum_amount'].astype(str).apply(lambda x: len(x.split('.')[1])).nunique() == 1):
    print('cum_amount precision is insufficient')
    columns = ["StockID", "cum_volume", "close", "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q", "bid2q",
           "bid3q", "bid4q", "bid5q", "ask1p", "ask2p", "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
           "ask4q", "ask5q", "openPrice", "numTrades"]
else:
    columns = ["StockID", "cum_volume", "cum_amount", "close", "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q", "bid2q",
       "bid3q", "bid4q", "bid5q", "ask1p", "ask2p", "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
       "ask4q", "ask5q", "openPrice", "numTrades"]

data1 = logSZ[(logSZ["cum_volume"] > 0)]
data2 = logSZ1[(logSZ1["cum_volume"] > 0)]

data1_1 = data1.drop_duplicates(subset=columns, keep="first").reset_index()
data2_1 = data2.drop_duplicates(subset=columns, keep="first").reset_index()
n1 = len(data1_1["StockID"].unique())
n2 = len(data2_1["StockID"].unique())
print(n1)
print(n2)
if n1 != n2:
    sl = list(set(data1_1["StockID"].unique()) & (set(data2_1["StockID"].unique())))
    data1_1 = data1_1[data1_1["StockID"].isin(sl)]
    data2_1 = data2_1[data2_1["StockID"].isin(sl)]
data1_1['cum_amount'] = data1_1['cum_amount'].round(2)
data2_1['cum_amount'] = data2_1['cum_amount'].round(2)
test = pd.merge(data1_1, data2_1, left_on=columns, right_on=columns, how="outer")
n1 = test["sequenceNo_x"].count()
n2 = test["sequenceNo_y"].count()
len1 = len(test)
print(n1)
print(n2)
print(len1)
print("-----------------------------------------------")
if n2 < len1:
    display("test is not complete:")
    display(test[np.isnan(test["sequenceNo_y"])])
    print(len(test[np.isnan(test["sequenceNo_y"])])/n1)
    print(test[np.isnan(test["sequenceNo_y"])]['time_x'].astype(int).unique())
    print(test[np.isnan(test["sequenceNo_y"])]['StockID'].astype(int).unique())
if (len1 == n2) & (n1 < len1):
    display("baseline is not complete:")
    display(test[np.isnan(test["sequenceNo_x"])])
    print(test[np.isnan(test["sequenceNo_x"])]['time_y'].astype(int).unique())
    print(test[np.isnan(test["sequenceNo_x"])]['StockID'].astype(int).unique())
    display(n2-n1)
    

import pandas as pd
import random
import numpy as np
import pickle

path = np.array(glob.glob('/mnt/data/20210112/logs_20210112_zs_96_03_day_96data.tar.gz/mdTradeLog***'))
assert(len(path) == 1)
print(path[0])
path1 = np.array(glob.glob('/mnt/data/20210112/zs_6801_20210112_168.26.5.167.tar.gz/Logs_full/mdTradeLog***'))
assert(len(path1) == 1)
print(path1[0])
path2 = np.array(glob.glob('/mnt/data/20210112/logs_20210112_zs_96_03_day_96data.tar.gz/mdOrderLog***'))
assert(len(path2) == 1)
print(path2[0])
path3 = np.array(glob.glob('/mnt/data/20210112/zs_6801_20210112_168.26.5.167.tar.gz/Logs_full/mdOrderLog***'))
assert(len(path3) == 1)
print(path3[0])

TradeLog = pd.read_csv(path[0], encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "exchId", "TransactTime",
                                                 "ApplSeqNum", "SecurityID", "ExecType", "TradeBSFlag",
                                                 "TradePrice", "TradeQty", "TradeMoney", "BidApplSeqNum",
                                                 "OfferApplSeqNum", "mdSource"]]
OrderLog = pd.read_csv(path2[0], encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "exchId", "TransactTime",
                                                 "ApplSeqNum", "SecurityID", "Side", "OrderType", "Price",
                                                 "OrderQty", "mdSource"]]
TradeLog1 = pd.read_csv(path1[0], encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "exchId", "TransactTime",
                                                 "ApplSeqNum", "SecurityID", "ExecType", "TradeBSFlag",
                                                 "TradePrice", "TradeQty", "TradeMoney", "BidApplSeqNum",
                                                 "OfferApplSeqNum", "mdSource"]]
OrderLog1= pd.read_csv(path3[0], encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "exchId", "TransactTime",
                                                 "ApplSeqNum", "SecurityID", "Side", "OrderType", "Price",
                                                 "OrderQty", "mdSource"]]
stocks = list(set(OrderLog1["SecurityID"].unique()) & set(OrderLog["SecurityID"].unique()))
display(len(stocks))
OrderLogSZ = OrderLog[OrderLog["SecurityID"].isin(stocks)]
OrderLogSZ1 = OrderLog1[OrderLog1["SecurityID"].isin(stocks)]
del OrderLog
del OrderLog1
TradeLogSZ = TradeLog[TradeLog["SecurityID"].isin(stocks)]
TradeLogSZ1 = TradeLog1[TradeLog1["SecurityID"].isin(stocks)]
del TradeLog
del TradeLog1
OrderLogSZ["OrderType"] = OrderLogSZ["OrderType"].apply(lambda x: str(x))
OrderLogSZ1["OrderType"] = OrderLogSZ1["OrderType"].apply(lambda x: str(x))
print(len(OrderLogSZ["SecurityID"].unique()))
print(len(OrderLogSZ1["SecurityID"].unique()))
print(len(TradeLogSZ["SecurityID"].unique()))
print(len(TradeLogSZ1["SecurityID"].unique()))
print(OrderLogSZ["mdSource"].unique())
print(OrderLogSZ1["mdSource"].unique())
print(TradeLogSZ["mdSource"].unique())
print(TradeLogSZ1["mdSource"].unique())
print(OrderLogSZ["exchId"].unique())
print(OrderLogSZ1["exchId"].unique())
print(TradeLogSZ["exchId"].unique())
print(TradeLogSZ1["exchId"].unique())

TradeLogSZ["ExecType"] = TradeLogSZ["ExecType"].apply(lambda x: str(x))
TradeLogSZ1["ExecType"] = TradeLogSZ1["ExecType"].apply(lambda x: str(x))

# TradeLogSZ = TradeLogSZ[TradeLogSZ['TransactTime'] >= TradeLogSZ1['TransactTime'].min()]
columns = ["TransactTime","ApplSeqNum", "SecurityID", "ExecType", "TradeBSFlag","TradePrice", "TradeQty", "TradeMoney", "BidApplSeqNum","OfferApplSeqNum"]
# columns = ["TransactTime","ApplSeqNum", "SecurityID", "ExecType", "TradePrice", "TradeQty", "BidApplSeqNum","OfferApplSeqNum"]

# TradeLogSZ1 = TradeLogSZ1.drop_duplicates(columns, keep='first')

re = pd.merge(TradeLogSZ, TradeLogSZ1, left_on=columns, right_on=columns, how="outer", validate='one_to_one')
n1 = re["sequenceNo_x"].count()
n2 = re["sequenceNo_y"].count()
len1 = len(re)
print(n1)
print(n2)
print(len1)
print("-----------------------------------------------")
if n2 < len1:
    display("test is not complete:")
    display(re[np.isnan(re["sequenceNo_y"])])
    print(len(re[np.isnan(re["sequenceNo_y"])]))
    print(np.sort(re[np.isnan(re["sequenceNo_y"])]["TransactTime"].unique()))
    print(len(re[np.isnan(re["sequenceNo_y"])]["SecurityID"].unique()))
    print(re[np.isnan(re["sequenceNo_y"])]["SecurityID"].unique())
if (len1 == n2) & (n1 < len1):
    display("baseline is not complete:")
    display(re[np.isnan(re["sequenceNo_x"])])
    print(np.sort(re[np.isnan(re["sequenceNo_x"])]["TransactTime"].unique()))
    print(len(re[np.isnan(re["sequenceNo_x"])]["SecurityID"].unique()))
    print(re[np.isnan(re["sequenceNo_x"])]["SecurityID"].unique())
    display(n2-n1)
    
    

columns = ["TransactTime", "ApplSeqNum","Side",'OrderType', 'Price', 'OrderQty', "SecurityID"]

# OrderLogSZ = OrderLogSZ[OrderLogSZ['TransactTime'] >= OrderLogSZ1['TransactTime'].min()]
ree = pd.merge(OrderLogSZ, OrderLogSZ1, left_on=columns, right_on=columns, how="outer", validate='one_to_one')
n1 = ree["sequenceNo_x"].count()
n2 = ree["sequenceNo_y"].count()
len1 = len(ree)
print(n1)
print(n2)
print(len1)
print("-----------------------------------------------")
if n2 < len1:
    display("test is not complete:")
    display(ree[np.isnan(ree["sequenceNo_y"])])
    print(len(ree[np.isnan(ree["sequenceNo_y"])]))
    print(np.sort(ree[np.isnan(ree["sequenceNo_y"])]["TransactTime"].unique()))
    print(len(ree[np.isnan(ree["sequenceNo_y"])]["SecurityID"].unique()))
    print(ree[np.isnan(ree["sequenceNo_y"])]["SecurityID"].unique())
if (len1 == n2) & (n1 < len1):
    display("test is complete, baseline is not complete:")
    display(ree[np.isnan(ree["sequenceNo_x"])])
    print(np.sort(ree[np.isnan(ree["sequenceNo_x"])]["TransactTime"].unique()))
    print(len(ree[np.isnan(ree["sequenceNo_x"])]["SecurityID"].unique()))
    print(ree[np.isnan(ree["sequenceNo_x"])]["SecurityID"].unique())
    display(n2-n1)

/mnt/data/20210112/logs_20210112_zs_96_03_day_96data.tar.gz/mdLog_SZ_20210112_0847.csv
/mnt/data/20210112/zs_6801_20210112_168.26.5.167.tar.gz/Logs_full/mdLog_SZ_20210112_0905.csv
original data source type:
[24]
new data source type:
[31]
['08:47:54.000' '08:48:54.000' '08:49:54.000' ... '15:28:03.000'
 '15:29:03.000' '15:30:03.000']
['09:05:54.000' '09:06:54.000' '09:07:54.000' ... '15:44:03.000'
 '15:45:03.000' '15:46:03.000']

array([1, 2, 6, 7])

array([1])

cum_amount precision is insufficient
2334
2127
7042779
7044819
7044819
-----------------------------------------------

'baseline is not complete:'

,index_x,clockAtArrival_x,sequenceNo_x,source_x,StockID,exchange_x,time_x,cum_volume,cum_amount_x,close,...,ask5q,openPrice,numTrades,index_y,clockAtArrival_y,sequenceNo_y,source_y,exchange_y,time_y,cum_amount_y
7042779,NaN,NaN,NaN,NaN,300008,NaN,NaN,61362423,NaN,6.71,...,0,6.50,37976,7707699,1610435100296763,132054359,31,SZ,150500000,4.165513e+08
7042780,NaN,NaN,NaN,NaN,300001,NaN,NaN,36836933,NaN,39.45,...,0,39.00,54859,7707700,1610435100296766,132054360,31,SZ,150500000,1.445816e+09
7042781,NaN,NaN,NaN,NaN,300005,NaN,NaN,12757850,NaN,5.96,...,0,6.05,8303,7707701,1610435100296765,132054361,31,SZ,150500000,7.610686e+07
7042782,NaN,NaN,NaN,NaN,300011,NaN,NaN,5011136,NaN,6.14,...,0,6.02,2614,7707702,1610435100296768,132054362,31,SZ,150500000,3.088362e+07
7042783,NaN,NaN,NaN,NaN,300014,NaN,NaN,26712553,NaN,93.33,...,0,89.11,66901,7707703,1610435100296923,132054363,31,SZ,150500000,2.468285e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7044814,NaN,NaN,NaN,NaN,300610,NaN,NaN,3188310,NaN,14.08,...,0,13.96,7317,7761832,1610436587078150,132145289,31,SZ,152945000,4.486746e+07
7044815,NaN,NaN,NaN,NaN,300629,NaN,NaN,13958550,NaN,26.66,...,0,22.30,23100,7761833,1610436587078153,132145290,31,SZ,152945000,3.585281e+08
7044816,NaN,NaN,NaN,NaN,300627,NaN,NaN,9499229,NaN,24.31,...,0,24.04,21554,7761840,1610436587079240,132145297,31,SZ,152945000,2.310277e+08
7044817,NaN,NaN,NaN,NaN,300586,NaN,NaN,6603131,NaN,8.00,...,0,7.97,6173,7761841,1610436587079397,132145298,31,SZ,152945000,5.311962e+07
7044818,NaN,NaN,NaN,NaN,300708,NaN,NaN,10607705,NaN,24.48,...,0,25.01,19914,7761852,1610436587371098,132145317,31,SZ,152945000,2.602674e+08

[150500000 150515000 150530000 150545000 150600000 150615000 150630000
 150645000 150700000 150715000 150730000 150745000 150800000 150815000
 150830000 150845000 150900000 150915000 150930000 150945000 151000000
 151015000 151030000 151045000 151100000 151115000 151130000 151145000
 151200000 151215000 151230000 151245000 151300000 151315000 151330000
 151345000 151400000 151415000 151430000 151445000 151500000 151515000
 151530000 151545000 151600000 151615000 151630000 151645000 151700000
 151715000 151730000 151745000 151800000 151815000 151830000 151845000
 151900000 151915000 151930000 151945000 152000000 152015000 152030000
 152045000 152100000 152115000 152130000 152145000 152200000 152215000
 152230000 152245000 152300000 152315000 152330000 152345000 152400000
 152415000 152430000 152445000 152500000 152515000 152530000 152545000
 152600000 152615000 152630000 152645000 152700000 152715000 152730000
 152745000 152800000 152815000 152830000 152845000 152900000 152915000
 152930000 152945000]
[300008 300001 300005 300011 300014 300009 300020 300006 300007 300002
 300012 300010 300025 300013 300023 300015 300019 300003 300017 300004
 300018 300026 300016 300021 300036 300024 300037 300022 300030 300039
 300029 300032 300045 300027 300035 300047 300051 300048 300042 300044
 300053 300043 300056 300046 300058 300050 300059 300034 300033 300041
 300040 300038 300031 300049 300055 300057 300052 300067 300068 300062
 300064 300061 300063 300073 300066 300071 300072 300065 300074 300076
 300086 300078 300083 300082 300085 300070 300079 300069 300054 300084
 300089 300081 300075 300092 300087 300077 300088 300093 300080 300091
 300094 300095 300102 300107 300106 300099 300113 300101 300117 300112
 300096 300114 300123 300128 300098 300103 300110 300176 300134 300120
 300127 300097 300116 300143 300140 300100 300149 300161 300122 300137
 300158 300118 300108 300109 300138 300124 300121 300135 300130 300133
 300154 300129 300115 300160 300141 300162 300170 300139 300125 300155
 300164 300177 300183 300145 300169 300185 300119 300179 300157 300136
 300142 300182 300131 300148 300175 300146 300181 300152 300163 300178
 300184 300167 300173 300150 300165 300151 300172 300171 300126 300147
 300144 300168 300111 300166 300105 300132 300159 300174 300153 300180
 300187 300204 300202 300188 300189 300201 300200 300191 300205 300206
 300208 300209 300198 300195 300192 300203 300196 300218 300190 300220
 300222 300197 300237 300211 300215 300241 300226 300227 300235 300233
 300212 300199 300221 300236 300229 300194 300193 300232 300214 300217
 300243 300223 300238 300244 300262 300224 300264 300259 300207 300256
 300257 300248 300213 300277 300242 300245 300239 300210 300231 300225
 300260 300253 300271 300251 300234 300230 300219 300228 300263 300268
 300240 300266 300246 300252 300261 300276 300249 300272 300274 300255
 300273 300270 300247 300254 300258 300250 300267 300275 300265 300269
 300306 300279 300301 300280 300278 300304 300283 300302 300305 300300
 300288 300289 300303 300286 300284 300285 300310 300290 300282 300287
 300316 300311 300281 300296 300292 300291 300313 300293 300317 300314
 300312 300326 300309 300327 300308 300320 300298 300294 300318 300319
 300315 300329 300322 300295 300324 300328 300325 300337 300297 300299
 300333 300338 300330 300350 300344 300352 300323 300334 300331 300343
 300348 300349 300340 300359 300345 300346 300321 300358 300332 300354
 300365 300336 300347 300339 300342 300351 300364 300357 300353 300366
 300368 300355 300367 300360 300341 300335 300363 300356 300369 300400
 300401 300374 300377 300375 300402 300370 300383 300403 300407 300380
 300385 300373 300379 300405 300371 300376 300404 300411 300409 300382
 300408 300387 300386 300413 300419 300412 300389 300406 300410 300388
 300418 300391 300395 300393 300416 300426 300394 300430 300432 300447
 300453 300422 300433 300454 300415 300448 300427 300378 300421 300439
 300414 300381 300460 300392 300384 300425 300428 300420 300397 300434
 300417 300398 300396 300451 300445 300435 300449 300436 300446 300399
 300455 300442 300458 300440 300452 300390 300437 300457 300429 300423
 300443 300441 300438 300461 300456 300444 300450 300459 300462 300468
 300463 300504 300464 300467 300471 300514 300511 300508 300481 300500
 300466 300501 300526 300507 300516 300473 300477 300510 300480 300475
 300512 300478 300505 300509 300519 300474 300515 300493 300488 300527
 300532 300482 300537 300521 300484 300523 300533 300499 300496 300503
 300470 300476 300522 300534 300489 300535 300506 300502 300529 300497
 300469 300536 300479 300495 300520 300513 300518 300485 300530 300472
 300487 300491 300538 300528 300483 300486 300540 300492 300525 300542
 300517 300549 300490 300465 300548 300494 300531 300550 300546 300539
 300545 300552 300551 300541 300547 300498 300543 300553 300554 300559
 300555 300557 300558 300556 300560 300562 300601 300577 300604 300567
 300569 300606 300581 300616 300565 300610 300571 300608 300573 300619
 300625 300586 300602 300607 300600 300592 300603 300622 300561 300583
 300620 300629 300575 300570 300637 300563 300598 300643 300618 300596
 300585 300568 300578 300566 300588 300612 300635 300609 300605 300617
 300572 300627 300579 300576 300624 300613 300584 300611 300615 300594
 300580 300623 300587 300621 300595 300590 300591 300630 300631 300628
 300589 300634 300599 300638 300640 300626 300639 300644 300632 300593
 300641 300582 300636 300633 300597 300642 300645 300656 300652 300651
 300649 300659 300647 300655 300658 300657 300648 300661 300653 300663
 300667 300666 300650 300662 300654 300664 300665 300660 300668 300700
 300671 300702 300701 300670 300677 300710 300669 300683 300716 300674
 300703 300672 300673 300684 300676 300706 300709 300679 300675 300685
 300722 300678 300707 300708 300718 300712 300682 300681 300705 300717
 300680 300698 300721 300690 300736 300713 300740 300711 300688 300733
 300726 300715 300727 300693 300724 300697 300689 300720 300691 300687
 300694 300695 300732 300696 300730 300729 300737 300739 300699 300723
 300735 300686 300725 300738 300692 300719 300731 300743 300746 300750
 300742 300748 300745 300749 300747 300741 300753 300758 300757 300760
 300766 300752 300751 300759 300770 300763 300756 300772 300762 300768
 300778 300755 300780 300779 300765 300777 300767 300769 300771 300775
 300782 300773 300761 300781 300776]

2040

/mnt/data/20210112/logs_20210112_zs_96_03_day_96data.tar.gz/mdTradeLog_20210112_0847.csv
/mnt/data/20210112/zs_6801_20210112_168.26.5.167.tar.gz/Logs_full/mdTradeLog_20210112_0905.csv
/mnt/data/20210112/logs_20210112_zs_96_03_day_96data.tar.gz/mdOrderLog_20210112_0847.csv
/mnt/data/20210112/zs_6801_20210112_168.26.5.167.tar.gz/Logs_full/mdOrderLog_20210112_0905.csv

/home/work516/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (11) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home/work516/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (12) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

2127

2127
2127
2127
2127
[24]
[31]
[24]
[31]
[2]
[2]
[2]
[2]
45199207
45199207
45199207
-----------------------------------------------
50309670
50309668
50309670
-----------------------------------------------

'test is not complete:'

,clockAtArrival_x,sequenceNo_x,exchId_x,TransactTime,ApplSeqNum,SecurityID,Side,OrderType,Price,OrderQty,mdSource_x,clockAtArrival_y,sequenceNo_y,exchId_y,mdSource_y
121870,1610414102879263,570217,2,91500470,35765,155,2,2,95600,5700,24,NaN,NaN,NaN,NaN
121871,1610414102879264,570218,2,91500470,35766,728,2,2,82500,66000,24,NaN,NaN,NaN,NaN

2
[91500470]
2
[155 728]