In [1]:
# Speed comparison SH
import pandas as pd
import numpy as np
import glob
import os

path = np.array(glob.glob('/mnt/data/20201228/zt***/Logs_full/mdLog_SH_***'))
assert(len(path) == 3)
print(path[1])
print(path[2])

logSH = pd.read_csv(path[1], encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "source", "StockID",
                                               "exchange", "time", "cum_volume", "cum_amount", "close",
                                               "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q",
                                               "bid2q", "bid3q", "bid4q", "bid5q", "ask1p", "ask2p",
                                               "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
                                               "ask4q", "ask5q", "openPrice", "numTrades"]]
logSH1 = pd.read_csv(path[2], encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "source", "StockID",
                                               "exchange", "time", "cum_volume", "cum_amount", "close",
                                               "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q",
                                               "bid2q", "bid3q", "bid4q", "bid5q", "ask1p", "ask2p",
                                               "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
                                               "ask4q", "ask5q", "openPrice", "numTrades"]]
print("original data source type: ")
print(logSH["source"].unique())
print("new data source type: ")
print(logSH1["source"].unique())
print(logSH["time"].unique())
print(logSH1["time"].unique())

logSH["time"] = logSH["time"].apply(lambda x: int((x.replace(':', "")).replace(".", "")))
logSH1["time"] = logSH1["time"].apply(lambda x: int((x.replace(':', "")).replace(".", "")))
    
fasterPerc = []
fasterTm25 = []
fasterTm = []
fasterTm75 = []
slowerTm25 = []
slowerTm = []
slowerTm75 = []
slowerPerc = []

display(logSH['cum_amount'].astype(str).apply(lambda x: len(x.split('.')[1])).unique())
display(logSH1['cum_amount'].astype(str).apply(lambda x: len(x.split('.')[1])).unique())

/mnt/data/20201228/zt_7401_20201228_10.235.16.169_postvde.tar.gz/Logs_full/mdLog_SH_20201228_0923.csv
/mnt/data/20201228/zt_7401_20201228_10.235.16.80.tar.gz/Logs_full/mdLog_SH_20201228_0923.csv
original data source type:
[23 22]
new data source type:
[29]
['09:23:38.000' '09:23:38.630' '09:23:38.640' ... '15:39:02.000'
 '15:39:02.820' '15:39:02.950']
['09:23:56.000' '09:23:57.000' '09:23:58.000' ... '15:39:26.000'
 '15:39:26.280' '15:39:29.000']

array([1, 2, 3, 5, 6, 7])

array([1])

In [16]:
# ### set here ***
# columns = ["StockID", "cum_volume", "close", "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q", "bid2q",
#            "bid3q", "bid4q", "bid5q", "ask1p", "ask2p", "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
#            "ask4q", "ask5q", "openPrice", "numTrades"]

# num = 1
# ### set here ***
    
# if num == 2:
#     for i in range(0, num):
#         in_dex = [16, 300, 852, 905]
#         data1 = logSH[~logSH["StockID"].isin(in_dex) & (logSH["cum_volume"] > 0) & (logSH['source'] == np.sort(logSH['source'].unique())[i])]
#         data2 = logSH1[~logSH1["StockID"].isin(in_dex) & (logSH1['cum_volume'] > 0) & (logSH1['source'] == np.sort(logSH1['source'].unique())[i])]
#         data1_1 = data1.drop_duplicates(subset=columns, keep="first").reset_index()
#         data2_1 = data2.drop_duplicates(subset=columns, keep="first").reset_index()
#         n1 = len(data1_1["StockID"].unique())
#         n2 = len(data2_1["StockID"].unique())

#         print(n1)
#         print(n2)
#         if n1 != n2:
#             sl = list(set(data1_1["StockID"].unique()) & (set(data2_1["StockID"].unique())))
#             data1_1 = data1_1[data1_1["StockID"].isin(sl)]
#             data2_1 = data2_1[data2_1["StockID"].isin(sl)]
#         for cols in ['cum_amount']:
#             data1_1[cols] = data1_1[cols].round(2)
#             data2_1[cols] = data2_1[cols].round(2)
#         data1_1.loc[data1_1['cum_volume'] > 0, 'openPrice'] = data1_1[data1_1['cum_volume'] > 0].groupby('StockID')['openPrice'].transform('max')
#         data2_1.loc[data2_1['cum_volume'] > 0, 'openPrice'] = data2_1[data2_1['cum_volume'] > 0].groupby('StockID')['openPrice'].transform('max')
#         test = pd.merge(data1_1, data2_1, left_on=columns, right_on=columns, how="outer")
#         n1 = test["sequenceNo_x"].count()
#         n2 = test["sequenceNo_y"].count()
#         len1 = len(test)
#         print(n1)
#         print(n2)
#         print(len1)
#         print("-----------------------------------------------")
#         if n2 < len1:
#             display("test is not complete:")
#             display(test[np.isnan(test["sequenceNo_y"])])
#             print(len(test[np.isnan(test["sequenceNo_y"])])/n1)
#         if (len1 == n2) & (n1 < len1):
#             display("baseline is not complete:")
#             display(test[np.isnan(test["sequenceNo_x"])])
#             display(n2-n1)
#             print((n2-n1)/n1)

#         # speed check
#         test1 = test[~np.isnan(test["sequenceNo_x"])]
#         test1 = test1[~np.isnan(test1["sequenceNo_y"])]
#         diff = test1["clockAtArrival_y"] - test1["clockAtArrival_x"]
#         fasterPerc.append(sum(diff < 0)/len(diff))
#         slowerPerc.append(sum(diff > 0)/len(diff))
#         fasterTm25.append(np.quantile(abs(diff[diff < 0]), 0.25))
#         fasterTm.append(np.quantile(abs(diff[diff < 0]), 0.5))
#         fasterTm75.append(np.quantile(abs(diff[diff < 0]), 0.75))
#         slowerTm25.append(np.quantile(abs(diff[diff > 0]), 0.25))
#         slowerTm.append(np.quantile(abs(diff[diff > 0]), 0.5))
#         slowerTm75.append(np.quantile(abs(diff[diff > 0]), 0.75))

#         print(np.quantile(abs(diff[diff < 0]), 0.25))
#         print(np.median(abs(diff[diff < 0])))
#         print(np.quantile(abs(diff[diff < 0]), 0.75))
#         print(np.quantile(diff[diff > 0], 0.25))
#         print(np.median(diff[diff > 0]))
#         print(np.quantile(diff[diff > 0], 0.75))
#         print(sum(diff < 0)/len(diff))
#         print(sum(diff > 0)/len(diff))
# else:
#     in_dex = [16, 300, 852, 905]
#     data1 = logSH[~logSH["StockID"].isin(in_dex) & (logSH["cum_volume"] > 0) & (logSH['source'] == logSH['source'].max())]
#     data2 = logSH1[~logSH1["StockID"].isin(in_dex) & (logSH1['cum_volume'] > 0) & (logSH1['source'] == logSH1['source'].max())]
#     data1_1 = data1.drop_duplicates(subset=columns, keep="first").reset_index()
#     data2_1 = data2.drop_duplicates(subset=columns, keep="first").reset_index()
#     n1 = len(data1_1["StockID"].unique())
#     n2 = len(data2_1["StockID"].unique())

#     print(n1)
#     print(n2)
#     if n1 != n2:
#         sl = list(set(data1_1["StockID"].unique()) & (set(data2_1["StockID"].unique())))
#         data1_1 = data1_1[data1_1["StockID"].isin(sl)]
#         data2_1 = data2_1[data2_1["StockID"].isin(sl)]
#     for cols in ['cum_amount']:
#         data1_1[cols] = data1_1[cols].round(2)
#         data2_1[cols] = data2_1[cols].round(2)
#     data1_1.loc[data1_1['cum_volume'] > 0, 'openPrice'] = data1_1[data1_1['cum_volume'] > 0].groupby('StockID')['openPrice'].transform('max')
#     data2_1.loc[data2_1['cum_volume'] > 0, 'openPrice'] = data2_1[data2_1['cum_volume'] > 0].groupby('StockID')['openPrice'].transform('max')
#     test = pd.merge(data1_1, data2_1, left_on=columns, right_on=columns, how="outer")
#     n1 = test["sequenceNo_x"].count()
#     n2 = test["sequenceNo_y"].count()
#     len1 = len(test)
#     print(n1)
#     print(n2)
#     print(len1)
#     print("-----------------------------------------------")
#     if n2 < len1:
#         display("test is not complete:")
#         display(test[np.isnan(test["sequenceNo_y"])])
#         print(len(test[np.isnan(test["sequenceNo_y"])])/n1)
#     if (len1 == n2) & (n1 < len1):
#         display("baseline is not complete:")
#         display(test[np.isnan(test["sequenceNo_x"])])
#         display(n2-n1)
#         print((n2-n1)/n1)

#     # speed check
#     test1 = test[~np.isnan(test["sequenceNo_x"])]
#     test1 = test1[~np.isnan(test1["sequenceNo_y"])]
#     diff = test1["clockAtArrival_y"] - test1["clockAtArrival_x"]
#     fasterPerc.append(sum(diff < 0)/len(diff))
#     slowerPerc.append(sum(diff > 0)/len(diff))
#     fasterTm25.append(np.quantile(abs(diff[diff < 0]), 0.25))
#     fasterTm.append(np.quantile(abs(diff[diff < 0]), 0.5))
#     fasterTm75.append(np.quantile(abs(diff[diff < 0]), 0.75))
#     slowerTm25.append(np.quantile(abs(diff[diff > 0]), 0.25))
#     slowerTm.append(np.quantile(abs(diff[diff > 0]), 0.5))
#     slowerTm75.append(np.quantile(abs(diff[diff > 0]), 0.75))

#     print(np.quantile(abs(diff[diff < 0]), 0.25))
#     print(np.median(abs(diff[diff < 0])))
#     print(np.quantile(abs(diff[diff < 0]), 0.75))
#     print(np.quantile(diff[diff > 0], 0.25))
#     print(np.median(diff[diff > 0]))
#     print(np.quantile(diff[diff > 0], 0.75))
#     print(sum(diff < 0)/len(diff))
#     print(sum(diff > 0)/len(diff))    
    

in_dex = [16, 300, 852, 905]
data1 = logSH[logSH["StockID"].isin(in_dex) & (logSH["cum_volume"] > 0)]
data2 = logSH1[logSH1["StockID"].isin(in_dex) & (logSH1["cum_volume"] > 0)]

display(data1['cum_amount'].astype(str).apply(lambda x: len(x.split('.')[1])).unique())
display(data2['cum_amount'].astype(str).apply(lambda x: len(x.split('.')[1])).unique())


### set here ***
columns = ["StockID", "cum_volume", "close", "openPrice"]
### set here ***

data1_1 = data1.drop_duplicates(subset=columns, keep="first").reset_index()
data2_1 = data2.drop_duplicates(subset=columns, keep="first").reset_index()

for cols in ["cum_amount"]:
    data1_1[cols] = data1_1[cols].round(2)
    data2_1[cols] = data2_1[cols].round(2)

test = pd.merge(data1_1, data2_1, left_on=columns, right_on=columns, how="outer")
n1 = test["sequenceNo_x"].count()
n2 = test["sequenceNo_y"].count()
len1 = len(test)
print(n1)
print(n2)
print(len1)
if n2 < len1:
    display("test is not complete:")
    display(test[np.isnan(test["sequenceNo_y"])])


# speed check
test1 = test[~np.isnan(test["sequenceNo_x"])]
test1 = test1[~np.isnan(test1["sequenceNo_y"])]
diff = test1["clockAtArrival_y"] - test1["clockAtArrival_x"]
fasterPerc.append(sum(diff < 0)/len(diff))
slowerPerc.append(sum(diff > 0)/len(diff))
fasterTm25.append(np.quantile(abs(diff[diff < 0]), 0.25))
fasterTm.append(np.quantile(abs(diff[diff < 0]), 0.5))
fasterTm75.append(np.quantile(abs(diff[diff < 0]), 0.75))
slowerTm25.append(np.quantile(abs(diff[diff > 0]), 0.25))
slowerTm.append(np.quantile(abs(diff[diff > 0]), 0.5))
slowerTm75.append(np.quantile(abs(diff[diff > 0]), 0.75))

print(np.quantile(abs(diff[diff < 0]), 0.25))
print(np.median(abs(diff[diff < 0])))
print(np.quantile(abs(diff[diff < 0]), 0.75))
print(np.quantile(diff[diff > 0], 0.25))
print(np.median(diff[diff > 0]))
print(np.quantile(diff[diff > 0], 0.75))
print(sum(diff < 0)/len(diff))
print(sum(diff > 0)/len(diff))

array([1, 5])

array([1])

11411
11411
11411
17401.0
51061.0
86214.0
3488.25
6331.0
9299.75
0.30190167382350364
0.6980983261764964

In [12]:
pd.set_option('max_columns', 200)
logSH1[(logSH1['cum_volume'] >= 9475812) & (logSH1['StockID'] == 600085)].head()

,clockAtArrival,sequenceNo,source,StockID,exchange,time,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,bid4p,bid5p,bid1q,bid2q,bid3q,bid4q,bid5q,ask1p,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,numTrades
5520329,1609138462594230,122988795,29,600085,SH,145441000,9475812,223690609.0,23.46,23.46,23.45,23.44,23.43,23.42,34900,22300,17400,32100,37000,23.47,23.48,23.49,23.5,23.51,2000,8600,4500,11300,800,23.59,11882
5521602,1609138465687073,123016026,29,600085,SH,145444000,9476012,223695301.0,23.46,23.46,23.45,23.44,23.43,23.42,34700,22500,17400,32100,37000,23.47,23.48,23.49,23.5,23.51,2000,8600,4500,11300,800,23.59,11883
5521603,1609138465687074,123016027,29,600085,SH,145444000,9476012,223695301.0,23.46,23.46,23.45,23.44,23.43,23.42,34700,22500,17400,32100,37000,23.47,23.48,23.49,23.5,23.51,2000,8600,4500,11300,800,23.59,11883
5522821,1609138468604638,123041294,29,600085,SH,145447000,9476212,223699993.0,23.46,23.46,23.45,23.44,23.43,23.42,34500,22600,17400,31600,37000,23.47,23.48,23.49,23.5,23.51,3700,8600,4500,11300,800,23.59,11884
5524054,1609138471584977,123066229,29,600085,SH,145450000,9489212,224005007.0,23.46,23.46,23.45,23.44,23.43,23.42,25900,22500,17400,31600,37000,23.47,23.48,23.49,23.5,23.51,500,8600,1500,11300,800,23.59,11889

In [11]:
logSH[(logSH['cum_volume'] <= 9475812) & (logSH['source'] == 23) & (logSH['StockID'] == 600085)].tail()

,clockAtArrival,sequenceNo,source,StockID,exchange,time,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,bid4p,bid5p,bid1q,bid2q,bid3q,bid4q,bid5q,ask1p,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,numTrades
11190846,1609138453762865,32581721,23,600085,SH,145432000,9458212,2.232777e+08,23.46,23.45,23.44,23.43,23.42,23.41,23500,12100,31700,36500,50600,23.46,23.47,23.48,23.49,23.50,6800,2000,8600,4500,6300,23.59,11876
11193421,1609138456612711,32588324,23,600085,SH,145435000,9458312,2.232801e+08,23.46,23.45,23.44,23.43,23.42,23.41,23800,17000,32100,37000,50600,23.46,23.47,23.48,23.49,23.50,6700,2000,8600,4500,11300,23.59,11877
11195989,1609138459615978,32596077,23,600085,SH,145438000,9465012,2.234372e+08,23.46,23.46,23.45,23.44,23.43,23.42,45700,22300,17400,32100,37000,23.47,23.48,23.49,23.50,23.51,2000,8600,4500,11300,800,23.59,11880
11198492,1609138462594319,32603313,23,600085,SH,145441000,9475812,2.236906e+08,23.46,23.46,23.45,23.44,23.43,23.42,34900,22300,17400,32100,37000,23.47,23.48,23.49,23.50,23.51,2000,8600,4500,11300,800,23.59,11882
11201048,1609138465692200,32610672,23,600085,SH,145444000,9475812,2.236906e+08,23.46,23.46,23.45,23.44,23.43,23.42,34900,22500,17400,32100,37000,23.47,23.48,23.49,23.50,23.51,2000,8600,4500,11300,800,23.59,11882

In [7]:
pd.set_option('max_columns', 200)
columns = ["StockID", "time", "cum_volume", "cum_amount", "close", "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q", "bid2q",
           "bid3q", "bid4q", "bid5q", "ask1p", "ask2p", "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
           "ask4q", "ask5q", "openPrice", "numTrades"]
logSH1[(logSH1['StockID'] == 600246) & (logSH1['cum_volume'] >= 9467301)][columns].head(5)

,StockID,time,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,bid4p,bid5p,bid1q,bid2q,bid3q,bid4q,bid5q,ask1p,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,numTrades
4154136,600246,134152000,9467301,65935241.0,6.95,6.95,6.90,6.89,6.88,6.87,8780,32800,36900,75300,16000,6.96,6.97,6.98,6.99,7.00,2500,10500,20000,126200,2246378,7.06,6606
4155247,600246,134155000,9476881,66001782.0,6.90,6.90,6.89,6.88,6.87,6.86,31900,36900,75300,16000,94500,6.94,6.95,6.96,6.97,6.98,500,58800,8800,10500,20000,7.06,6621
4156397,600246,134158000,9478381,66012156.0,6.92,6.91,6.90,6.89,6.88,6.87,26500,35100,36900,75300,16000,6.92,6.93,6.94,6.95,6.96,3900,6700,800,83600,8800,7.06,6631
4157426,600246,134201000,9478781,66014924.0,6.92,6.91,6.90,6.89,6.88,6.87,23800,35100,36900,75300,16000,6.92,6.94,6.95,6.96,6.97,3800,10500,78800,8800,10500,7.06,6633
4158568,600246,134204000,9479681,66021152.0,6.92,6.91,6.90,6.89,6.88,6.87,22900,34900,36900,75300,16000,6.92,6.94,6.95,6.96,6.97,2900,24400,27800,8800,10500,7.06,6638

In [8]:
logSH[(logSH['StockID'] == 600246) & (logSH['cum_volume'] >= 9467301)][columns].head(5)

,StockID,time,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,bid4p,bid5p,bid1q,bid2q,bid3q,bid4q,bid5q,ask1p,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,numTrades
3919049,600246,134152000,9467301,65935241.45,6.95,6.95,6.90,6.89,6.88,6.87,8780,32800,36900,75300,16000,6.96,6.97,6.98,6.99,7.00,2500,10500,20000,126200,2246380,7.06,6606
3920070,600246,134155000,9476881,66001782.45,6.90,6.90,6.89,6.88,6.87,6.86,31900,36900,75300,16000,94500,6.94,6.95,6.96,6.97,6.98,500,58800,8800,10500,20000,7.06,6621
3921122,600246,134158000,9478381,66012156.45,6.92,6.91,6.90,6.89,6.88,6.87,26500,35100,36900,75300,16000,6.92,6.93,6.94,6.95,6.96,3900,6700,800,83600,8800,7.06,6631
3922148,600246,134201000,9478781,66014924.45,6.92,6.91,6.90,6.89,6.88,6.87,23800,35100,36900,75300,16000,6.92,6.94,6.95,6.96,6.97,3800,10500,78800,8800,10500,7.06,6633
3923192,600246,134204000,9479681,66021152.45,6.92,6.91,6.90,6.89,6.88,6.87,22900,34900,36900,75300,16000,6.92,6.94,6.95,6.96,6.97,2900,24400,27800,8800,10500,7.06,6638

In [13]:
import pandas as pd

path = np.array(glob.glob('/mnt/data/20201228/zt***/Logs_full/mdTradeLog***'))
assert(len(path) == 3)
print(path[1])
print(path[2])

SH = pd.read_csv(path[1], encoding="utf-8", index_col=False)
SH1 = pd.read_csv(path[2], encoding="utf-8", index_col=False)
SH = SH[SH["exchId"] == 1]
SH1 = SH1[SH1["exchId"] == 1]

import numpy as np
SH["ExecType"] = SH["ExecType"].apply(lambda x: str(x))
SH1["ExecType"] = SH1["ExecType"].apply(lambda x: str(x))
# ####
# SH = SH[SH['TransactTime'] <= SH1['TransactTime'].max()]
# ####

columns = ["TransactTime", "ApplSeqNum", "SecurityID", "TradePrice", "TradeQty", "TradeMoney", "TradeBSFlag","ExecType",
           "BidApplSeqNum", "OfferApplSeqNum", 'secid', 'exchId']
# ####
# SH1 = SH1.drop_duplicates(columns, keep='first')
# ####


n1 = len(SH["SecurityID"].unique())
n2 = len(SH1["SecurityID"].unique())
print(n1)
print(n2)
print(set(SH["SecurityID"].unique()) - set(SH1["SecurityID"].unique()))
print(set(SH1["SecurityID"].unique()) - set(SH["SecurityID"].unique()))
if n1 != n2:
    sl = list(set(SH["SecurityID"].unique()) & set(SH1["SecurityID"].unique()))
    SH = SH[SH["SecurityID"].isin(sl)]
    SH1 = SH1[SH1["SecurityID"].isin(sl)]
re = pd.merge(SH, SH1, left_on=columns, right_on=columns, how="outer", validate='one_to_one')
n1 = re["sequenceNo_x"].count()
n2 = re["sequenceNo_y"].count()
len1 = len(re)
print(n1)
print(n2)
print(len1)
print("-----------------------------------------------")
if n2 < len1:
    display("test is not complete:")
    display(re[np.isnan(re["sequenceNo_y"])])
    print(len(re[np.isnan(re["sequenceNo_y"])]))
    print(np.sort(re[np.isnan(re["sequenceNo_y"])]["TransactTime"].unique()))
    print(len(re[np.isnan(re["sequenceNo_y"])]["SecurityID"].unique()))
    print(re[np.isnan(re["sequenceNo_y"])]["SecurityID"].unique())
if (len1 == n2) & (n1 < len1):
    display("baseline is not complete:")
    display(re[np.isnan(re["sequenceNo_x"])])
    print(np.sort(re[np.isnan(re["sequenceNo_x"])]["TransactTime"].unique()))
    print(len(re[np.isnan(re["sequenceNo_x"])]["SecurityID"].unique()))
    print(re[np.isnan(re["sequenceNo_x"])]["SecurityID"].unique())
    display(n2-n1)
    
# speed check
re1 = re[~np.isnan(re["sequenceNo_x"])]
re1 = re1[~np.isnan(re1["sequenceNo_y"])]
diff = re1["clockAtArrival_y"] - re1["clockAtArrival_x"]
fasterPerc.append(sum(diff < 0)/len(diff))
slowerPerc.append(sum(diff > 0)/len(diff))
fasterTm25.append(np.quantile(abs(diff[diff < 0]), 0.25))
fasterTm.append(np.quantile(abs(diff[diff < 0]), 0.5))
fasterTm75.append(np.quantile(abs(diff[diff < 0]), 0.75))
slowerTm25.append(np.quantile(abs(diff[diff > 0]), 0.25))
slowerTm.append(np.quantile(abs(diff[diff > 0]), 0.5))
slowerTm75.append(np.quantile(abs(diff[diff > 0]), 0.75))

print(np.quantile(abs(diff[diff < 0]), 0.25))
print(np.median(abs(diff[diff < 0])))
print(np.quantile(abs(diff[diff < 0]), 0.75))
print(np.quantile(diff[diff > 0], 0.25))
print(np.median(diff[diff > 0]))
print(np.quantile(diff[diff > 0], 0.75))
print(sum(diff < 0)/len(diff))
print(sum(diff > 0)/len(diff))

/mnt/data/20201228/zt_7401_20201228_10.235.16.169_postvde.tar.gz/Logs_full/mdTradeLog_20201228_0923.csv
/mnt/data/20201228/zt_7401_20201228_10.235.16.80.tar.gz/Logs_full/mdTradeLog_20201228_0923.csv
1454
1453
{511880}
set()
21777107
21777269
21777269
-----------------------------------------------

'baseline is not complete:'

,clockAtArrival_x,sequenceNo_x,exchId,securityType_x,__isRepeated_x,TransactTime,ChannelNo_x,ApplSeqNum,SecurityID,secid,mdSource_x,ExecType,TradeBSFlag,__origTickSeq_x,TradePrice,TradeQty,TradeMoney,BidApplSeqNum,OfferApplSeqNum,clockAtArrival_y,sequenceNo_y,securityType_y,__isRepeated_y,ChannelNo_y,mdSource_y,__origTickSeq_y
21777107,NaN,NaN,1,NaN,NaN,92500020,NaN,1,603338,1603338,NaN,F,N,NaN,1031400,100,103140000,51675,156175,1609118681834838,157843,1,0,1,29,0
21777108,NaN,NaN,1,NaN,NaN,92500020,NaN,2,603338,1603338,NaN,F,N,NaN,1031400,2,2062800,116073,51656,1609118681834844,157844,1,0,1,29,1
21777109,NaN,NaN,1,NaN,NaN,92500020,NaN,3,603338,1603338,NaN,F,N,NaN,1031400,20,20628000,116073,103012,1609118681834846,157845,1,0,1,29,2
21777110,NaN,NaN,1,NaN,NaN,92500020,NaN,4,603338,1603338,NaN,F,N,NaN,1031400,2,2062800,116073,116349,1609118681834848,157846,1,0,1,29,3
21777111,NaN,NaN,1,NaN,NaN,92500020,NaN,5,603338,1603338,NaN,F,N,NaN,1031400,2,2062800,116073,119089,1609118681834850,157847,1,0,1,29,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21777264,NaN,NaN,1,NaN,NaN,92500020,NaN,158,603589,1603589,NaN,F,N,NaN,637400,600,382440000,174580,137621,1609118681836258,158036,1,0,1,29,157
21777265,NaN,NaN,1,NaN,NaN,92500020,NaN,159,603589,1603589,NaN,F,N,NaN,637400,300,191220000,174650,137621,1609118681836259,158037,1,0,1,29,158
21777266,NaN,NaN,1,NaN,NaN,92500020,NaN,160,603589,1603589,NaN,F,N,NaN,637400,1000,637400000,174776,137621,1609118681836267,158038,1,0,1,29,159
21777267,NaN,NaN,1,NaN,NaN,92500020,NaN,161,603589,1603589,NaN,F,N,NaN,637400,400,254960000,151320,137621,1609118681836268,158039,1,0,1,29,160
21777268,NaN,NaN,1,NaN,NaN,92500020,NaN,162,603589,1603589,NaN,F,N,NaN,637400,200,127480000,151306,137621,1609118681836271,158040,1,0,1,29,161

[92500020]
2
[603338 603589]

162

1416.0
2311.0
4042.0
866.0
1665.0
4813.25
0.9585287430511317
0.041457297335224554

In [14]:
fr = pd.DataFrame()
fr['cat'] = ['SSE snapshot lv2', 'SSE index', 'SSE trade']
fr['fasterPerc'] = fasterPerc
fr['25fasterTm'] = fasterTm25
fr['fasterTm'] = fasterTm
fr['75fasterTm'] = fasterTm75
fr['25slowerTm'] = slowerTm25
fr['slowerTm'] = slowerTm
fr['75slowerTm'] = slowerTm75
fr['data1'] = 'native api primary'
fr['data2'] = 'postvde'
fr = fr[['data1', 'data2', 'cat', 'fasterPerc', '25fasterTm', 'fasterTm', '75fasterTm', '25slowerTm', 'slowerTm', '75slowerTm']]
fr['fasterPerc'] = fr['fasterPerc'].apply(lambda x: '%.2f%%'% (x*100))
fr['fasterPerc'] = np.where(fr['fasterPerc'] == '100.00%', '99.99%', fr['fasterPerc'])
for cols in ['25fasterTm', 'fasterTm', '75fasterTm', '25slowerTm', 'slowerTm', '75slowerTm']:
    fr[cols] = fr[cols].astype(int)
fr

,data1,data2,cat,fasterPerc,25fasterTm,fasterTm,75fasterTm,25slowerTm,slowerTm,75slowerTm
0,native api primary,postvde,SSE snapshot lv2,97.54%,800,2943,9987,557,3356,9657
1,native api primary,postvde,SSE index,30.19%,17401,51061,86214,3488,6331,9299
2,native api primary,postvde,SSE trade,95.85%,1416,2311,4042,866,1665,4813