In [14]:
import pymongo
import pandas as pd
import pickle
import datetime
import time
import gzip
import lzma
import pytz


def DB(host, db_name, user, passwd):
    auth_db = db_name if user not in ('admin', 'root') else 'admin'
    uri = 'mongodb://%s:%s@%s/?authSource=%s' % (user, passwd, host, auth_db)
    return DBObj(uri, db_name=db_name)


class DBObj(object):
    def __init__(self, uri, symbol_column='skey', db_name='white_db'):
        self.db_name = db_name
        self.uri = uri
        self.client = pymongo.MongoClient(self.uri)
        self.db = self.client[self.db_name]
        self.chunk_size = 20000
        self.symbol_column = symbol_column
        self.date_column = 'date'

    def parse_uri(self, uri):
        # mongodb://user:password@example.com
        return uri.strip().replace('mongodb://', '').strip('/').replace(':', ' ').replace('@', ' ').split(' ')

    def drop_table(self, table_name):
        self.db.drop_collection(table_name)

    def rename_table(self, old_table, new_table):
        self.db[old_table].rename(new_table)

    def write(self, table_name, df):
        if len(df) == 0: return

        multi_date = False

        if self.date_column in df.columns:
            date = str(df.head(1)[self.date_column].iloc[0])
            multi_date = len(df[self.date_column].unique()) > 1
        else:
            raise Exception('DataFrame should contain date column')

        collection = self.db[table_name]
        collection.create_index([('date', pymongo.ASCENDING), ('symbol', pymongo.ASCENDING)], background=True)
        collection.create_index([('symbol', pymongo.ASCENDING), ('date', pymongo.ASCENDING)], background=True)

        if multi_date:
            for (date, symbol), sub_df in df.groupby([self.date_column, self.symbol_column]):
                date = str(date)
                symbol = int(symbol)
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)
        else:
            for symbol, sub_df in df.groupby([self.symbol_column]):
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)

    def write_single(self, collection, date, symbol, df):
        for start in range(0, len(df), self.chunk_size):
            end = min(start + self.chunk_size, len(df))
            df_seg = df[start:end]
            version = 1
            seg = {'ver': version, 'data': self.ser(df_seg, version), 'date': date, 'symbol': symbol, 'start': start}
            collection.insert_one(seg)

    def build_query(self, start_date=None, end_date=None, symbol=None):
        query = {}

        def parse_date(x):
            if type(x) == str:
                if len(x) != 8:
                    raise Exception("`date` must be YYYYMMDD format")
                return x
            elif type(x) == datetime.datetime or type(x) == datetime.date:
                return x.strftime("%Y%m%d")
            elif type(x) == int:
                return parse_date(str(x))
            else:
                raise Exception("invalid `date` type: " + str(type(x)))

        if start_date is not None or end_date is not None:
            query['date'] = {}
            if start_date is not None:
                query['date']['$gte'] = parse_date(start_date)
            if end_date is not None:
                query['date']['$lte'] = parse_date(end_date)

        def parse_symbol(x):
            if type(x) == int:
                return x
            else:
                return int(x)

        if symbol:
            if type(symbol) == list or type(symbol) == tuple:
                query['symbol'] = {'$in': [parse_symbol(x) for x in symbol]}
            else:
                query['symbol'] = parse_symbol(symbol)

        return query

    def delete(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot delete the whole table')
            return None

        collection.delete_many(query)

    def read(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot read the whole table')
            return None

        segs = []
        for x in collection.find(query):
            x['data'] = self.deser(x['data'], x['ver'])
            segs.append(x)
        segs.sort(key=lambda x: (x['symbol'], x['date'], x['start']))
        return pd.concat([x['data'] for x in segs], ignore_index=True) if segs else None

    def list_tables(self):
        return self.db.collection_names()

    def list_dates(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]
        dates = set()
        if start_date is None:
            start_date = '00000000'
        if end_date is None:
            end_date = '99999999'
        for x in collection.find(self.build_query(start_date, end_date, symbol), {"date": 1, '_id': 0}):
            dates.add(x['date'])
        return sorted(list(dates))

    def ser(self, s, version):
        pickle_protocol = 4
        if version == 1:
            return gzip.compress(pickle.dumps(s, protocol=pickle_protocol), compresslevel=2)
        elif version == 2:
            return lzma.compress(pickle.dumps(s, protocol=pickle_protocol), preset=1)
        else:
            raise Exception('unknown version')

    def deser(self, s, version):
        def unpickle(s):
            return pickle.loads(s)

        if version == 1:
            return unpickle(gzip.decompress(s))
        elif version == 2:
            return unpickle(lzma.decompress(s))
        else:
            raise Exception('unknown version')


def patch_pandas_pickle():
    if pd.__version__ < '0.24':
        import sys
        from types import ModuleType
        from pandas.core.internals import BlockManager
        pkg_name = 'pandas.core.internals.managers'
        if pkg_name not in sys.modules:
            m = ModuleType(pkg_name)
            m.BlockManager = BlockManager
            sys.modules[pkg_name] = m
patch_pandas_pickle()


import pandas as pd
import random
import numpy as np
import glob
import pickle
import os
import datetime
import time
pd.set_option("max_columns", 200)


startDate = 20200413
endDate = 20200421
database_name = 'com_md_eq_cn'
user = "zhenyuy"
password = "bnONBrzSMGoE"

db = DB("192.168.10.178", database_name, user, password)
test = db.read('md_index', start_date=startDate, end_date=endDate, symbol=[1000300])
date_list = test['date'].unique()
del test

new_trade_data = []
new_order_data = []

for i in date_list:
    print('--------------------------------------------------------------------------------------------')
    print(i)
    print('SH lv2')
    startDate = str(i)
    endDate = str(i)
    db = DB("192.168.10.178", database_name, user, password)
    SH = db.read('md_snapshot_l2', start_date=startDate, end_date=endDate)
    SZ = SH[SH['skey'] > 2000000]
    SH = SH[SH['skey'] < 2000000]
    SH['num'] = SH['skey'] * 10000 + SH['ordering']
    SZ['num'] = SZ['skey'] * 10000 + SZ['ordering']
    
    SH = SH[['date', 'skey', 'time', 'cum_volume', 'cum_amount', "close", "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q", "bid2q",
               "bid3q", "bid4q", "bid5q", "ask1p", "ask2p", "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
               "ask4q", "ask5q", "open", 'num']]
    SZ = SZ[['date', 'skey', 'time', 'cum_volume', 'cum_amount', "close", "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q", "bid2q",
               "bid3q", "bid4q", "bid5q", "ask1p", "ask2p", "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
               "ask4q", "ask5q", "open", 'num']]

    startDate = str(i)
    endDate = str(i)

    readPath = '/mnt/e/96/logs_***_zt_96_04_day_96data.tar.gz'
    dataPathLs = np.array(glob.glob(readPath))
    dateLs = np.array([os.path.basename(i).split('_')[1] for i in dataPathLs])
    dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]


    for n in range(len(dataPathLs)):
        path1 = np.array(glob.glob(dataPathLs[n] + '/mdLog_SH_***'))
        SH1 = pd.read_csv(path1[0])
        index1 = SH1[SH1['StockID'].isin([16, 300, 852, 905])]
        SH1 = SH1[SH1['source'] == 13]

        SH1['skey'] = SH1['StockID'] + 1000000
        SH1 = SH1.rename(columns={"openPrice":"open"})
        SH1["open"] = np.where(SH1["cum_volume"] > 0, SH1.groupby("skey")["open"].transform("max"), SH1["open"])
        SH1["time"] = SH1["time"].apply(lambda x: int((x.replace(':', "")).replace(".", "")) * 1000)

    SH1 = SH1[['clockAtArrival', 'sequenceNo', 'skey', 'time', 'cum_volume', 'cum_amount', "close", "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q", "bid2q",
               "bid3q", "bid4q", "bid5q", "ask1p", "ask2p", "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
               "ask4q", "ask5q", "open"]]
    for cols in ['cum_amount', "close", 'open']:
        SH1[cols] = SH1[cols].round(2)
    cols = ['skey', 'time', 'cum_volume', 'cum_amount', "close", "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q", "bid2q",
               "bid3q", "bid4q", "bid5q", "ask1p", "ask2p", "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
               "ask4q", "ask5q", "open"]
    SH1 = SH1[SH1['skey'].isin(SH['skey'].unique())]
    if SH1[SH1.duplicated('sequenceNo', keep=False)].shape[0] != 0:
        print(SH1[SH1.duplicated('sequenceNo', keep=False)])
        print('SH snapshot 96 data have duplicated sequenceNo')
        
    re = pd.merge(SH, SH1, on=cols, how='outer')
    if re[re['date'].isnull()].shape[0] != 0:
        try:
            assert(re[re['date'].isnull()]['skey'].unique().min() > 1688000)
            assert(re[re['date'].isnull()]['time'].unique().min() > 150000000)
        except:
            print('96 less data except after 15:00')
            print(re[(re['date'].isnull()) & (re['skey'] < 1688000)])
            continue
    display('%.2f%%' % (re[(re['sequenceNo'].isnull()) & (re['time'] < 150000000000) & \
               (~re['skey'].isin(list(set(SH['skey'].unique()) - set(SH1['skey'].unique()))))].shape[0] / SH.shape[0]*100))
    if re[(re['sequenceNo'].isnull()) & (re['time'] < 150000000000) & \
               (~re['skey'].isin(list(set(SH['skey'].unique()) - set(SH1['skey'].unique()))))].shape[0] != 0:
        print(re[(re['sequenceNo'].isnull()) & (re['time'] < 150000000000) & \
               (~re['skey'].isin(list(set(SH['skey'].unique()) - set(SH1['skey'].unique()))))]['time'].describe([0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 0.95, 0.99]).astype('int64'))
    print(SH1['time'].min())
    p2 = re[(re['sequenceNo'].isnull())]

    p11 = re[(~re['sequenceNo'].isnull()) & (~re['date'].isnull())][re[(~re['sequenceNo'].isnull()) 
                                                        & (~re['date'].isnull())]['num'].duplicated(keep=False)]
    p12 = re[(~re['sequenceNo'].isnull()) & (~re['date'].isnull())].drop_duplicates(['num'], keep=False)
    p11 = p11.sort_values(by=['num', 'sequenceNo'])
#     print(p11)
    p11["order1"] = p11.groupby(["num"]).cumcount()
    p11["order2"] = p11.groupby(["sequenceNo"]).cumcount()
    p11 = p11[p11['order1'] == p11['order2']]

    p11_1 = re[(~re['sequenceNo'].isnull()) & (~re['date'].isnull())][re[(~re['sequenceNo'].isnull()) 
                                                        & (~re['date'].isnull())]['num'].duplicated(keep=False)].drop_duplicates('num')
    p11_1 = pd.merge(p11_1, p11[['num', 'order1']], on='num', how='left')
    p11_1 = p11_1[p11_1['order1'].isnull()]
    p11_1['sequenceNo'] = np.nan
    p11_1['clockAtArrival'] = np.nan

    p11.drop(['order1', 'order2'],axis=1,inplace=True)
    p11_1.drop(['order1'],axis=1,inplace=True)
    p11 = pd.concat([p11, p11_1])

    p1 = pd.concat([p11, p12])
    re1 = pd.concat([p1, p2])
    re1 = re1.sort_values(by='num')
    re1['seq1'] = re1.groupby('skey')['sequenceNo'].ffill().bfill()
    re1['caa1'] = re1.groupby('skey')['clockAtArrival'].ffill().bfill()
    sl = list(set(SH['skey'].unique()) - set(SH1['skey'].unique()))
    re1.loc[re1['skey'].isin(sl), 'seq1'] = np.nan
    re1['count1'] = re1.groupby(['skey', 'seq1']).cumcount()
    re1['cc'] = np.where(re1['sequenceNo'] == re1['seq1'], re1['count1'], 0)
    re1['cc'] = re1.groupby(['skey', 'seq1'])['cc'].transform('max')
    re1['count'] = re1['count1']-re1['cc']
    re1.drop(["cc"],axis=1,inplace=True)
    re1.drop(["count1"],axis=1,inplace=True)

    assert((len(set(sl) - set(re1[re1['seq1'].isnull()]['skey'].unique())) == 0) & 
               (len(set(re1[re1['seq1'].isnull()]['skey'].unique()) - set(sl)) == 0))
    assert(re1.shape[0] == SH.shape[0])

    print('%.2f%%' % (re1[re1['sequenceNo'].isnull()].shape[0]/re1.shape[0] * 100))
    
    
    
    
    
    
    
    print('-------------------------------------------------------------------------------------------')
    print('SZ lv2')
    startDate = str(i)
    endDate = str(i)

    readPath = '/mnt/e/96/logs_***_zt_96_04_day_96data.tar.gz'
    dataPathLs = np.array(glob.glob(readPath))
    dateLs = np.array([os.path.basename(i).split('_')[1] for i in dataPathLs])
    dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]


    for n in range(len(dataPathLs)):
        path1 = np.array(glob.glob(dataPathLs[n] + '/mdLog_SZ_***'))
        SZ1 = pd.read_csv(path1[0])
        SZ1 = SZ1[SZ1['source'] == 13]

        SZ1['skey'] = SZ1['StockID'] + 2000000
        SZ1 = SZ1.rename(columns={"openPrice":"open"})
        SZ1["open"] = np.where(SZ1["cum_volume"] > 0, SZ1.groupby("skey")["open"].transform("max"), SZ1["open"])
        SZ1["time"] = SZ1["time"].apply(lambda x: int((x.replace(':', "")).replace(".", "")) * 1000)

    SZ1 = SZ1[['clockAtArrival', 'sequenceNo', 'skey', 'time', 'cum_volume', 'cum_amount', "close", "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q", "bid2q",
               "bid3q", "bid4q", "bid5q", "ask1p", "ask2p", "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
               "ask4q", "ask5q", "open"]]
    for cols in ['cum_amount']:
        SZ1[cols] = SZ1[cols].round(2)
    cols = ['skey', 'time', 'cum_volume', 'cum_amount', "close", "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q", "bid2q",
               "bid3q", "bid4q", "bid5q", "ask1p", "ask2p", "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
               "ask4q", "ask5q", "open"]
    SZ1 = SZ1[SZ1['skey'].isin(SZ['skey'].unique())]
    if SZ1[SZ1.duplicated('sequenceNo', keep=False)].shape[0] != 0:
        print(SZ1[SZ1.duplicated('sequenceNo', keep=False)])
        print('SZ snapshot 96 data have duplicated sequenceNo')

    re = pd.merge(SZ, SZ1, on=cols, how='outer')

    print(re.shape[0])
    print(re[~re['sequenceNo'].isnull()].shape[0])
    print(re[~re['date'].isnull()].shape[0])
    print(SZ.shape[0])
    print(SZ1.shape[0])
    display('%.2f%%' % (re[(re['sequenceNo'].isnull()) & (re['time'] < 150000000000) & \
               (~re['skey'].isin(list(set(SZ['skey'].unique()) - set(SZ1['skey'].unique()))))].shape[0] / SZ.shape[0]*100))
    print(re[(re['sequenceNo'].isnull()) & (re['time'] < 150000000000) & (~re['skey'].isin(list(set(SZ['skey'].unique()) - set(SZ1['skey'].unique()))))]['time'].describe([0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 0.95, 0.99]).fillna(0).astype('int64'))
    print(SZ1['time'].min())
    
    try:
        assert(re.shape[0] == re[~re['date'].isnull()].shape[0])
        print('SZ lv2 is complete')
    except:
        print('%.2f%%' % (re[~re['date'].isnull()].shape[0]/re.shape[0] * 100))
        print('92 have unique values not shared by database')
        re = pd.merge(SZ, SZ1, on=cols, how='left')

    if re[re.duplicated('num', keep=False)].shape[0] == 0:
        re2 = re.sort_values(by='num')
        re2['seq1'] = re2.groupby('skey')['sequenceNo'].ffill().bfill()
        re2['caa1'] = re2.groupby('skey')['clockAtArrival'].ffill().bfill()
        sl = list(set(SZ['skey'].unique()) - set(SZ1['skey'].unique()))
        re2.loc[re2['skey'].isin(sl), 'seq1'] = np.nan
        re2['count1'] = re2.groupby(['skey', 'seq1']).cumcount()
        re2['cc'] = np.where(re2['sequenceNo'] == re2['seq1'], re2['count1'], 0)
        re2['cc'] = re2.groupby(['skey', 'seq1'])['cc'].transform('max')
        re2['count'] = re2['count1'] - re2['cc']
        re2.drop(["cc"], axis=1, inplace=True)
        re2.drop(["count1"], axis=1, inplace=True)

        assert((len(set(sl) - set(re2[re2['seq1'].isnull()]['skey'].unique())) == 0) & 
               (len(set(re2[re2['seq1'].isnull()]['skey'].unique()) - set(sl)) == 0))
        assert(re2.shape[0] == SZ.shape[0])

        print('%.2f%%' % (re2[re2['sequenceNo'].isnull()].shape[0]/re2.shape[0] * 100))


    else:
        p1 = re[re['num'].duplicated(keep=False)]
        p2 = re.drop_duplicates(['num'], keep=False)
        p1["order1"] = p1.groupby(["num"]).cumcount()
        p1["order2"] = p1.groupby(["sequenceNo"]).cumcount()
        p1 = p1[p1['order1'] == p1['order2']]
        p1.drop(['order1', 'order2'],axis=1,inplace=True)
        re = pd.concat([p1, p2])
        re2 = re.sort_values(by='num')
        re2['seq1'] = re2.groupby('skey')['sequenceNo'].ffill().bfill()
        re2['caa1'] = re2.groupby('skey')['clockAtArrival'].ffill().bfill()
        sl = list(set(SZ['skey'].unique()) - set(SZ1['skey'].unique()))
        re2.loc[re2['skey'].isin(sl), 'seq1'] = np.nan
        re2['count1'] = re2.groupby(['skey', 'seq1']).cumcount()
        re2['cc'] = np.where(re2['sequenceNo'] == re2['seq1'], re2['count1'], 0)
        re2['cc'] = re2.groupby(['skey', 'seq1'])['cc'].transform('max')
        re2['count'] = re2['count1'] - re2['cc']
        re2.drop(["cc"], axis=1, inplace=True)
        re2.drop(["count1"], axis=1, inplace=True)

        assert((len(set(sl) - set(re2[re2['seq1'].isnull()]['skey'].unique())) == 0) & 
               (len(set(re2[re2['seq1'].isnull()]['skey'].unique()) - set(sl)) == 0))
        assert(re2.shape[0] == SZ.shape[0])

        print('%.2f%%' % (re2[re2['sequenceNo'].isnull()].shape[0]/re2.shape[0] * 100))
    
    print('----------------------------------------------------------------------------------------------')
    print('SH & SZ trade')
    
    startDate = str(i)
    endDate = str(i)
    database_name = 'com_md_eq_cn'
    user = "zhenyuy"
    password = "bnONBrzSMGoE"

    db = DB("192.168.10.178", database_name, user, password)
    trade = db.read('md_trade', start_date=startDate, end_date=endDate)[['skey', 'date', 'ApplSeqNum', 'time']]

    startDate = str(i)
    endDate = str(i)

    readPath = '/mnt/e/96/logs_***_zt_96_04_day_96data.tar.gz'
    dataPathLs = np.array(glob.glob(readPath))
    dateLs = np.array([os.path.basename(i).split('_')[1] for i in dataPathLs])
    dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]
    for n in range(len(dataPathLs)):
        path1 = np.array(glob.glob(dataPathLs[n] + '/mdTradeLog***'))
        trade1 = pd.read_csv(path1[0])
    trade1['skey'] = np.where(trade1['exchId'] == 2, trade1['SecurityID'] + 2000000, trade1['SecurityID'] + 1000000)
    trade1 = trade1[trade1['skey'].isin(trade['skey'].unique())]
    if trade1[trade1['TransactTime'] > trade['time'].max()/1000].shape[0] != 0:
        assert(trade1[trade1['TransactTime'] > trade['time'].max()/1000]['ChannelNo'].unique() == [103])
        assert(trade1[trade1['ChannelNo'] == 103]['TransactTime'].min() > trade['time'].max()/1000)
        trade1 = trade1[trade1['ChannelNo'] != 103]
    trade = trade[['skey', 'date', 'ApplSeqNum']]
    if trade1[trade1.duplicated('sequenceNo', keep=False)].shape[0] != 0:
        print(trade1[trade1.duplicated('sequenceNo', keep=False)])
        print('SZ, SH trade 96 data have duplicated sequenceNo')

    re = pd.merge(trade, trade1[['skey', 'ApplSeqNum', 'sequenceNo', 'clockAtArrival']], on=['skey', 'ApplSeqNum'],
                 how='outer')
    try:
        assert(re.shape[0] == trade.shape[0])
        display('trade data is complete')
        k = 0
    except:
        display('%.2f%%' % (trade.shape[0]/re.shape[0] * 100))
        k = 1
        display('trade data incomplete')
        k1 = pd.merge(trade1, re[re['date'].isnull()][['skey', 'ApplSeqNum']], on=['skey', 'ApplSeqNum'], how='right')
        display(k1.shape[0])
        display(k1['ExecType'].unique())
        display(k1['TransactTime'].unique())
        k1['date'] = trade['date'].iloc[0]
        new_trade_data += [k1[['clockAtArrival', 'sequenceNo', 'TransactTime', 'ApplSeqNum', 'date', 'skey', 'ExecType', 'TradeBSFlag', 
       'TradePrice', 'TradeQty', 'BidApplSeqNum', 'OfferApplSeqNum']]]
        re = pd.merge(trade, trade1[['skey', 'ApplSeqNum', 'sequenceNo', 'clockAtArrival']], on=['skey', 'ApplSeqNum'],
                 how='left')
        assert(re.shape[0] == trade.shape[0])

    re3 = re.sort_values(by=['skey', 'ApplSeqNum'])
    re3['seq1'] = re3.groupby('skey')['sequenceNo'].ffill().bfill()
    re3['caa1'] = re3.groupby('skey')['clockAtArrival'].ffill().bfill()
    sl = list(set(trade['skey'].unique()) - set(trade1['skey'].unique()))
    re3.loc[re3['skey'].isin(sl), 'seq1'] = np.nan
    re3['count1'] = re3.groupby(['skey', 'seq1']).cumcount()
    re3['cc'] = np.where(re3['sequenceNo'] == re3['seq1'], re3['count1'], 0)
    re3['cc'] = re3.groupby(['skey', 'seq1'])['cc'].transform('max')
    re3['count'] = re3['count1']-re3['cc']
    re3.drop(["count1"],axis=1,inplace=True)
    re3.drop(["cc"],axis=1,inplace=True)

    assert((len(set(sl) - set(re3[re3['seq1'].isnull()]['skey'].unique())) == 0) & 
           (len(set(re3[re3['seq1'].isnull()]['skey'].unique()) - set(sl)) == 0))
    assert(re3.shape[0] == trade.shape[0])
    if k == 1:
        k1['seq1'] = k1['sequenceNo']
        k1['count'] = 0
        k1['nan'] = 0
        k1['dup1'] = 1
        re3 = pd.concat([re3, k1[['clockAtArrival', 'date', 'sequenceNo', 'skey', 'ApplSeqNum', 'seq1', 
                                  'count', 'nan', 'dup1']]])

    display('%.2f%%' % (re3[re3['sequenceNo'].isnull()].shape[0]/re3.shape[0] * 100))

    
    print('--------------------------------------------------------------------------------------------------')
    print('SZ order data')

    startDate = str(i)
    endDate = str(i)
    database_name = 'com_md_eq_cn'
    user = "zhenyuy"
    password = "bnONBrzSMGoE"

    db = DB("192.168.10.178", database_name, user, password)
    order = db.read('md_order', start_date=startDate, end_date=endDate)[['skey', 'date', 'ApplSeqNum']]

    startDate = str(i)
    endDate = str(i)

    readPath = '/mnt/e/96/logs_***_zt_96_04_day_96data.tar.gz'
    dataPathLs = np.array(glob.glob(readPath))
    dateLs = np.array([os.path.basename(i).split('_')[1] for i in dataPathLs])
    dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]
    for n in range(len(dataPathLs)):
        path1 = np.array(glob.glob(dataPathLs[n] + '/mdOrderLog***'))
        order1 = pd.read_csv(path1[0])
    order1['skey'] = order1['SecurityID'] + 2000000
    order1 = order1[order1['skey'].isin(order['skey'].unique())]
    if order1[order1.duplicated('sequenceNo', keep=False)].shape[0] != 0:
        print(order1[order1.duplicated('sequenceNo', keep=False)])
        print('SZ order 96 data have duplicated sequenceNo')

    re = pd.merge(order, order1[['skey', 'ApplSeqNum', 'sequenceNo', 'clockAtArrival']], on=['skey', 'ApplSeqNum'],
                 how='outer')
    try:
        assert(re.shape[0] == order.shape[0])
        display('order data is complete')
        k = 0
    except:
        display('%.2f%%' % (order.shape[0]/re.shape[0] * 100))
        k = 1
        display('order data incomplete')
        k2 = pd.merge(order1, re[re['date'].isnull()][['skey', 'ApplSeqNum']], on=['skey', 'ApplSeqNum'], how='right')
        display(k2.shape[0])
        display(k2['SecurityID'].unique())
        display(k2['TransactTime'].unique())
        k2['date'] = order['date'].iloc[0]
        new_order_data += [k2[['clockAtArrival', 'sequenceNo', 'TransactTime', 'ApplSeqNum', 'date', 'skey', 'Side', 
       'OrderType', 'Price', 'OrderQty']]]
        re = pd.merge(order, order1[['skey', 'ApplSeqNum', 'sequenceNo', 'clockAtArrival']], on=['skey', 'ApplSeqNum'],
                 how='left')
        assert(re.shape[0] == order.shape[0])

    re4 = re.sort_values(by=['skey', 'ApplSeqNum'])
    re4['seq1'] = re4.groupby('skey')['sequenceNo'].ffill().bfill()
    re4['caa1'] = re4.groupby('skey')['clockAtArrival'].ffill().bfill()
    sl = list(set(order['skey'].unique()) - set(order1['skey'].unique()))
    re4.loc[re4['skey'].isin(sl), 'seq1'] = np.nan
    re4['count1'] = re4.groupby(['skey', 'seq1']).cumcount()
    re4['cc'] = np.where(re4['sequenceNo'] == re4['seq1'], re4['count1'], 0)
    re4['cc'] = re4.groupby(['skey', 'seq1'])['cc'].transform('max')
    re4['count'] = re4['count1']-re4['cc']
    re4.drop(["count1"],axis=1,inplace=True)
    re4.drop(["cc"],axis=1,inplace=True)
    assert((len(set(sl) - set(re4[re4['seq1'].isnull()]['skey'].unique())) == 0) & 
           (len(set(re4[re4['seq1'].isnull()]['skey'].unique()) - set(sl)) == 0))
    assert(re4.shape[0] == order.shape[0])
    if k == 1:
        k2['seq1'] = k2['ApplSeqNum']
        k2['count'] = 0
        k2['nan'] = 0
        k2['dup1'] = 1
        re4 = pd.concat([re4, k2[['clockAtArrival', 'date', 'sequenceNo', 'skey', 'ApplSeqNum', 'seq1', 
                                  'count', 'nan', "dup1"]]])


    display('%.2f%%' % (re4[re4['sequenceNo'].isnull()].shape[0]/re4.shape[0] * 100))
    
    print('-----------------------------------------------------------------------------------------------------')
    print('SH index data')
    
    startDate = str(i)
    endDate = str(i)
    database_name = 'com_md_eq_cn'
    user = "zhenyuy"
    password = "bnONBrzSMGoE"

    db = DB("192.168.10.178", database_name, user, password)
    index = db.read('md_index', start_date=startDate, end_date=endDate)

    index1['skey'] = index1['StockID'] + 1000000
    index1 = index1.rename(columns={"openPrice":"open"})
    index1["open"] = np.where(index1["cum_volume"] > 0, index1.groupby("skey")["open"].transform("max"), index1["open"])
    index1['close'] = np.where(index1['cum_volume'] == 0, 0, index1['close'])
    index1["time"] = index1["time"].apply(lambda x: int((x.replace(':', "")).replace(".", "")) * 1000)
    index['close'] = np.where(index['cum_volume'] == 0, 0, index['close'])
    index['num'] = index['skey'] * 10000 + index['ordering']
    index1 = index1[index1['source'] == 13]
    index = index[['skey', 'date', 'cum_volume', 'cum_amount', "close", "open", 'num']]
    index1 = index1[['clockAtArrival', 'sequenceNo', 'skey', 'cum_volume', 'cum_amount', "close", "open", "time"]]
    for cols in ['cum_amount']:
        index1[cols] = index1[cols].round(1)
    cols = ['skey', 'cum_volume', 'cum_amount', "close", "open"]
    index1 = index1[index1['skey'].isin(index['skey'].unique())]
    
    if index1[index1.duplicated('sequenceNo', keep=False)].shape[0] != 0:
        print(index1[index1.duplicated('sequenceNo', keep=False)])
        print('SH index 96 data have duplicated sequenceNo')

    re = pd.merge(index, index1, on=cols, how='outer')

    display(re.shape[0])
    display(re[~re['sequenceNo'].isnull()].shape[0])
    display(re[~re['date'].isnull()].shape[0])
    display(index.shape[0])
    display(index1.shape[0])
    
    try:
        assert(re.shape[0] == re[~re['date'].isnull()].shape[0])
        print('index data is complete')
    except:
        display('%.2f%%' % (re[~re['date'].isnull()].shape[0]/re.shape[0] * 100))
        re = pd.merge(index, index1, on=cols, how='left')
        print('92 have unique values not shared by database')

    p11 = re[re.duplicated('num', keep=False)]
    p2 = re.drop_duplicates('num', keep=False)
    p11["order1"] = p11.groupby(["num"]).cumcount()
    p11["order2"] = p11.groupby(["sequenceNo"]).cumcount()
    p11 = p11[p11['order1'] == p11['order2']]

    p12 = re[re.duplicated('num', keep=False)].drop_duplicates('num')
    p12 = pd.merge(p12, p11[['num', 'order1']], on='num', how='left')
    p12 = p12[p12['order1'].isnull()]
    p12['sequenceNo'] = np.nan
    p12['clockAtArrival'] = np.nan

    p11.drop(['order1', 'order2'],axis=1,inplace=True)
    p12.drop(['order1'],axis=1,inplace=True)
    p1 = pd.concat([p11, p12])

    re = pd.concat([p1, p2])
    assert(re[re.duplicated('num', keep=False)].shape[0] == 0)

    if re[re['sequenceNo'].isnull()].shape[0] != 0:
        re5 = re.sort_values(by=['num'])
        re5['seq1'] = re5.groupby('skey')['sequenceNo'].ffill().bfill()
        re5['caa1'] = re5.groupby('skey')['clockAtArrival'].ffill().bfill()
        sl = list(set(index['skey'].unique()) - set(index1['skey'].unique()))
        re5.loc[re5['skey'].isin(sl), 'seq1'] = np.nan
        re5['count1'] = re5.groupby(['skey', 'seq1']).cumcount()
        re5['cc'] = np.where(re5['sequenceNo'] == re5['seq1'], re5['count1'], 0)
        re5['cc'] = re5.groupby(['skey', 'seq1'])['cc'].transform('max')
        re5['count'] = re5['count1']-re5['cc']
        re5.drop(["count1"],axis=1,inplace=True)
        re5.drop(["cc"],axis=1,inplace=True)
        assert((len(set(sl) - set(re5[re5['seq1'].isnull()]['skey'].unique())) == 0) & 
               (len(set(re5[re5['seq1'].isnull()]['skey'].unique()) - set(sl)) == 0))
        assert(re5.shape[0] == index.shape[0])

        display('%.0f%%' % (re5[re5['sequenceNo'].isnull()].shape[0]/re5.shape[0] * 100))
    else:
        re5 = re.sort_values(by='num')
        re5['seq1'] = re5['sequenceNo']
        re5['caa1'] = re5['clockAtArrival']
        sl = list(set(index['skey'].unique()) - set(index1['skey'].unique()))
        re5.loc[re5['skey'].isin(sl), 'seq1'] = np.nan
        re5['count1'] = re5.groupby(['skey', 'seq1']).cumcount()
        re5['cc'] = np.where(re5['sequenceNo'] == re5['seq1'], re5['count1'], 0)
        re5['cc'] = re5.groupby(['skey', 'seq1'])['cc'].transform('max')
        re5['count'] = re5['count1']-re5['cc']
        re5.drop(["count1"],axis=1,inplace=True)
        re5.drop(["cc"],axis=1,inplace=True)
        assert((len(set(sl) - set(re5[re5['seq1'].isnull()]['skey'].unique())) == 0) & 
               (len(set(re5[re5['seq1'].isnull()]['skey'].unique()) - set(sl)) == 0))
        assert(re5.shape[0] == index.shape[0])

        display('%.0f%%' % (re5[re5['sequenceNo'].isnull()].shape[0]/re5.shape[0] * 100))
    
    
    print('----------------------------------------------------------------------------------------------------')
    print('final concat')
    try:
        assert(len(set(SZ1['sequenceNo']) & set(SH1['sequenceNo'])) == 0)
    except:
        display(SZ1[SZ1['sequenceNo'].isin(list(set(SZ1['sequenceNo']) & set(SH1['sequenceNo'])))])
        display(SH1[SH1['sequenceNo'].isin(list(set(SZ1['sequenceNo']) & set(SH1['sequenceNo'])))])
    try:
        assert(len(set(SZ1['sequenceNo']) & set(trade1['sequenceNo'])) == 0)
    except:
        display(SZ1[SZ1['sequenceNo'].isin(list(set(SZ1['sequenceNo']) & set(trade1['sequenceNo'])))])
        display(trade1[trade1['sequenceNo'].isin(list(set(SZ1['sequenceNo']) & set(trade1['sequenceNo'])))])
    try:
        assert(len(set(SZ1['sequenceNo']) & set(order1['sequenceNo'])) == 0)
    except:
        display(SZ1[SZ1['sequenceNo'].isin(list(set(SZ1['sequenceNo']) & set(order1['sequenceNo'])))])
        display(order1[order1['sequenceNo'].isin(list(set(SZ1['sequenceNo']) & set(order1['sequenceNo'])))])
    try:
        assert(len(set(SZ1['sequenceNo']) & set(index1['sequenceNo'])) == 0)
    except:
        display(SZ1[SZ1['sequenceNo'].isin(list(set(SZ1['sequenceNo']) & set(index1['sequenceNo'])))])
        display(index1[index1['sequenceNo'].isin(list(set(SZ1['sequenceNo']) & set(index1['sequenceNo'])))])
    try:
        assert(len(set(SH1['sequenceNo']) & set(index1['sequenceNo'])) == 0)
    except:
        display(SH1[SH1['sequenceNo'].isin(list(set(SH1['sequenceNo']) & set(index1['sequenceNo'])))])
        display(index1[index1['sequenceNo'].isin(list(set(SH1['sequenceNo']) & set(index1['sequenceNo'])))])
    try:
        assert(len(set(SH1['sequenceNo']) & set(trade1['sequenceNo'])) == 0)
    except:
        display(SH1[SH1['sequenceNo'].isin(list(set(SH1['sequenceNo']) & set(trade1['sequenceNo'])))])
        display(trade1[trade1['sequenceNo'].isin(list(set(SH1['sequenceNo']) & set(trade1['sequenceNo'])))])
    try:
        assert(len(set(SH1['sequenceNo']) & set(order1['sequenceNo'])) == 0)
    except:
        display(SH1[SH1['sequenceNo'].isin(list(set(SH1['sequenceNo']) & set(order1['sequenceNo'])))])
        display(order1[order1['sequenceNo'].isin(list(set(SH1['sequenceNo']) & set(order1['sequenceNo'])))])
    try:
        assert(len(set(trade1['sequenceNo']) & set(order1['sequenceNo'])) == 0)
    except:
        display(trade1[trade1['sequenceNo'].isin(list(set(trade1['sequenceNo']) & set(order1['sequenceNo'])))])
        display(order1[order1['sequenceNo'].isin(list(set(trade1['sequenceNo']) & set(order1['sequenceNo'])))])
    try:
        assert(len(set(trade1['sequenceNo']) & set(index1['sequenceNo'])) == 0)
    except:
        display(trade1[trade1['sequenceNo'].isin(list(set(trade1['sequenceNo']) & set(index1['sequenceNo'])))])
        display(index1[index1['sequenceNo'].isin(list(set(trade1['sequenceNo']) & set(index1['sequenceNo'])))])
    try:
        assert(len(set(index1['sequenceNo']) & set(order1['sequenceNo'])) == 0)
    except:
        display(index1[index1['sequenceNo'].isin(list(set(index1['sequenceNo']) & set(order1['sequenceNo'])))])
        display(order1[order1['sequenceNo'].isin(list(set(index1['sequenceNo']) & set(order1['sequenceNo'])))])

    del SH
    del SH1
    del SZ
    del SZ1
    del trade
    del trade1
    del order
    del order1
    del index
    del index1
    re1['tag'] = 'SH'
    re2['tag'] = 'SZ'
    re3['tag'] = 'trade'
    re4['tag'] = 'order'
    re5['tag'] = 'index'
    
    re1 = re1[['skey', 'date', 'num', 'sequenceNo', 'seq1', 'clockAtArrival', 'count', 'tag', 'caa1']]
    re2 = re2[['skey', 'date', 'num', 'sequenceNo', 'seq1', 'clockAtArrival', 'count', 'tag', 'caa1']]
    re3 = re3[['skey', 'date', 'ApplSeqNum', 'sequenceNo', 'seq1', 'clockAtArrival', 'count', 'tag', 'caa1']]
    re4 = re4[['skey', 'date', 'ApplSeqNum', 'sequenceNo', 'seq1', 'clockAtArrival', 'count', 'tag', 'caa1']]
    re5 = re5[['skey', 'date', 'num', 'sequenceNo', 'seq1', 'clockAtArrival', 'count', 'tag', 'caa1']]


    fr1 = []
    fr2 = []
    fr1 += [re1[re1['seq1'].isnull()]]
    fr2 += [re1[~re1['seq1'].isnull()]]
    del re1
    display('1. here~')
    fr1 += [re2[re2['seq1'].isnull()]]
    fr2 += [re2[~re2['seq1'].isnull()]]
    del re2
    display('2. here~')
    fr1 += [re3[re3['seq1'].isnull()]]
    fr2 += [re3[~re3['seq1'].isnull()]]
    del re3
    display('3. here~')
    fr1 += [re4[re4['seq1'].isnull()]]
    fr2 += [re4[~re4['seq1'].isnull()]]
    del re4
    display('4. here~')
    fr1 += [re5[re5['seq1'].isnull()]]
    fr2 += [re5[~re5['seq1'].isnull()]]
    del re5
    display('5. here~')
    fr1 = pd.concat(fr1).reset_index(drop=True)
    fr2 = pd.concat(fr2).reset_index(drop=True)
    
    assert(fr2[~fr2['clockAtArrival'].isnull()][fr2[~fr2['clockAtArrival'].isnull()].duplicated(['clockAtArrival', 'count', 'sequenceNo', 'ApplSeqNum'], keep=False)].shape[0] == 0)
    startTm = datetime.datetime.now()
    fr2 = fr2.sort_values(by=['caa1', 'seq1', 'count', 'ApplSeqNum']).reset_index(drop=True)
    print(datetime.datetime.now() - startTm)
    fr2['sequenceNo'] = fr2.index
    
    fr1['sequenceNo'] = range(int(fr2['sequenceNo'].max()) + 1, int(fr2['sequenceNo'].max()) + 1 + fr1.shape[0])
    fr2 = pd.concat([fr1, fr2])
    del fr1
    assert(fr2[fr2.duplicated('sequenceNo', keep=False)].shape[0] == 0)
    
    import pickle
    SH = fr2[fr2['tag'] == 'SH'][["skey", "date", "num", 'sequenceNo', "clockAtArrival"]]
    SH.to_pickle('/mnt/e/result/' + str(startDate) + '/SH1.pkl')
    del SH

    SZ = fr2[fr2['tag'] == 'SZ'][["skey", "date", "num", 'sequenceNo', "clockAtArrival"]]
    SZ.to_pickle('/mnt/e/result/' + str(startDate) + '/SZ1.pkl')
    del SZ
    
    trade = fr2[fr2['tag'] == 'trade'][["skey", "date", "ApplSeqNum", 'sequenceNo', "clockAtArrival"]]
    trade.to_pickle('/mnt/e/result/' + str(startDate) + '/trade1.pkl')
    del trade
    
    order = fr2[fr2['tag'] == 'order'][["skey", "date", "ApplSeqNum", 'sequenceNo', "clockAtArrival"]]
    order.to_pickle('/mnt/e/result/' + str(startDate) + '/order1.pkl')
    del order
    
    index = fr2[fr2['tag'] == 'index'][["skey", "date", "num", 'sequenceNo', "clockAtArrival"]]
    index.to_pickle('/mnt/e/result/' + str(startDate) + '/index1.pkl')
    del index
    del fr2
#     
    print(str(i) + ' finished')

--------------------------------------------------------------------------------------------
20200413
SH lv2
96 less data except after 15:00
         date     skey          time  cum_volume   cum_amount  close  bid1p  \
6052146   NaN  1603711   93017000000       20600    598330.00  29.25  29.18
6052147   NaN  1603711   93020000000       20600    598330.00  29.25  29.00
6052148   NaN  1603711   93023000000       20600    598330.00  29.25  29.18
6052149   NaN  1603711   93026000000       21500    624604.00  29.24  29.01
6052150   NaN  1603711   93029000000       21600    627505.00  29.01  29.01
...       ...      ...           ...         ...          ...    ...    ...
6052497   NaN  1603708  144545000000     1969563  62472612.24  31.46  31.46
6052498   NaN  1603708  144552000000     1969563  62472612.24  31.46  31.46
6052499   NaN  1603708  144555000000     1969563  62472612.24  31.46  31.46
6052500   NaN  1603708  144602000000     1969563  62472612.24  31.46  31.46
6052501   NaN  1603708  144610000000     1969563  62472612.24  31.46  31.46

         bid2p  bid3p  bid4p  bid5p  bid1q  bid2q  bid3q  bid4q  bid5q  ask1p  \
6052146  29.01  29.00  28.98  28.95   1500   2000  22500    300   2100  29.14
6052147  28.95  28.94  28.90  28.88  22500   2100    200  10500    200  29.14
6052148  29.01  29.00  28.95  28.94    100   2100  22400    500    200  29.14
6052149  29.00  28.95  28.94  28.90   2100  22400    500    200  10500  29.14
6052150  29.00  28.95  28.94  28.90   2000  22200    500    200  10500  29.14
...        ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
6052497  31.45  31.44  31.43  31.41   1700    500   2300    300   3500  31.46
6052498  31.45  31.44  31.43  31.41   1700    500   2300    100   3500  31.46
6052499  31.45  31.44  31.43  31.41   1700    500   2300    100   3500  31.46
6052500  31.45  31.44  31.43  31.41   1700    500   2700    100   3500  31.46
6052501  31.45  31.44  31.43  31.41   1700    500   2700    100   3500  31.46

         ask2p  ask3p  ask4p  ask5p  ask1q  ask2q  ask3q  ask4q  ask5q   open  \
6052146  29.25  29.26  29.33  29.37    200   1900    500   1000   1300  28.94
6052147  29.24  29.25  29.26  29.33    200   1000    500    500   1000  28.94
6052148  29.24  29.25  29.26  29.33    200   1500    500    500   1000  28.94
6052149  29.24  29.25  29.26  29.33    200   1100    500    500   1000  28.94
6052150  29.23  29.24  29.25  29.26    200    500   1100    500    500  28.94
...        ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
6052497  31.47  31.48  31.49  31.50   1000   4700   1700  27800    500  30.93
6052498  31.47  31.48  31.49  31.50   1000   4700   1700  27800    500  30.93
6052499  31.47  31.48  31.49  31.50   1000   4700   1700  27800    500  30.93
6052500  31.47  31.48  31.49  31.50   1000   4700   1700  27800    500  30.93
6052501  31.47  31.48  31.49  31.50   1000   4700   1700  27800    500  30.93

         num  clockAtArrival   sequenceNo
6052146  NaN    1.586741e+15    3558203.0
6052147  NaN    1.586741e+15    3639759.0
6052148  NaN    1.586741e+15    3732237.0
6052149  NaN    1.586741e+15    3824418.0
6052150  NaN    1.586741e+15    3907093.0
...      ...             ...          ...
6052497  NaN    1.586760e+15  105065444.0
6052498  NaN    1.586760e+15  105118951.0
6052499  NaN    1.586760e+15  105142062.0
6052500  NaN    1.586760e+15  105195061.0
6052501  NaN    1.586760e+15  105257039.0

[311 rows x 30 columns]
--------------------------------------------------------------------------------------------
20200414
SH lv2
96 less data except after 15:00
         date     skey          time  cum_volume    cum_amount  close  bid1p  \
6144115   NaN  1603385   93509000000      184610  1.918870e+06  10.42  10.41
6144116   NaN  1600824   93606000000     4716987  1.584812e+07   3.36   3.36
6144117   NaN  1600824   93610000000     4716987  1.584812e+07   3.36   3.36
6144118   NaN  1600824   93613000000     4721487  1.586328e+07   3.37   3.36
6144119   NaN  1600824   93616000000     4779187  1.605714e+07   3.37   3.36
...       ...      ...           ...         ...           ...    ...    ...
6144383   NaN  1600776  145105000000     5808948  1.006684e+08  17.39  17.38
6144384   NaN  1600776  145109000000     5808948  1.006684e+08  17.39  17.38
6144385   NaN  1600776  145112000000     5817748  1.008215e+08  17.39  17.38
6144386   NaN  1600776  145115000000     5818948  1.008423e+08  17.38  17.38
6144387   NaN  1600776  145118000000     5818948  1.008423e+08  17.38  17.38

         bid2p  bid3p  bid4p  bid5p   bid1q  bid2q  bid3q  bid4q  bid5q  \
6144115  10.40  10.39  10.38  10.37   13300   7100   1700  12500    100
6144116   3.35   3.34   3.33   3.32    7500  61700  41700  33500   3500
6144117   3.35   3.34   3.33   3.32   12500  61700  41700  33500   3500
6144118   3.35   3.34   3.33   3.32   12500  62700  41700  33500  13500
6144119   3.35   3.34   3.33   3.32   21400  44300  41700  33500  13500
...        ...    ...    ...    ...     ...    ...    ...    ...    ...
6144383  17.37  17.36  17.35  17.34   86200  47700  21714  41000  11500
6144384  17.37  17.36  17.35  17.34   88000  46900  21714  41000  11500
6144385  17.37  17.36  17.35  17.34   89700  46900  21714  41000  11500
6144386  17.37  17.36  17.35  17.34   99200  47000  21714  41000  11500
6144387  17.37  17.36  17.35  17.34  102000  47000  21714  41000  11500

         ask1p  ask2p  ask3p  ask4p  ask5p  ask1q   ask2q   ask3q  ask4q  \
6144115  10.42  10.43  10.44  10.45  10.46   7500    7100    5000   5000
6144116   3.38   3.40   3.41   3.42   3.43    400  278700   33800  43500
6144117   3.37   3.38   3.38   3.39   3.40  10000     400     500  22900
6144118   3.37   3.38   3.38   3.39   3.40   6200     400     500  37900
6144119   3.37   3.38   3.39   3.40   3.41   1000     500   38500  84700
...        ...    ...    ...    ...    ...    ...     ...     ...    ...
6144383  17.39  17.39  17.40  17.41  17.42   1800    3500  106514   8900
6144384  17.39  17.39  17.40  17.41  17.42   6000    3500  107014   8900
6144385  17.39  17.39  17.40  17.41  17.42    700    3500  107014   8900
6144386  17.39  17.39  17.40  17.41  17.42    600    3500  107014   8900
6144387  17.39  17.39  17.40  17.41  17.42   8600    3500  108014   8900

          ask5q   open  num  clockAtArrival   sequenceNo
6144115    8100  10.33  NaN    1.586828e+15   10195329.0
6144116  192700   3.24  NaN    1.586828e+15   11287067.0
6144117  278700   3.24  NaN    1.586828e+15   11375548.0
6144118  283700   3.24  NaN    1.586828e+15   11441173.0
6144119   34800   3.24  NaN    1.586828e+15   11504584.0
...         ...    ...  ...             ...          ...
6144383   29500  17.20  NaN    1.586847e+15  114115854.0
6144384   29500  17.20  NaN    1.586847e+15  114150043.0
6144385   29500  17.20  NaN    1.586847e+15  114181477.0
6144386   29800  17.20  NaN    1.586847e+15  114212403.0
6144387   29800  17.20  NaN    1.586847e+15  114243794.0

[247 rows x 30 columns]
--------------------------------------------------------------------------------------------
20200415
SH lv2

'0.00%'

84501000000
1.52%
-------------------------------------------------------------------------------------------
SZ lv2
8307900
8210417
8307900
8307900
8210417

'0.19%'

count          15372
mean     83330000000
std        200006505
min      83030000000
10%      83030000000
20%      83130000000
30%      83230000000
40%      83230000000
50%      83330000000
60%      83430000000
70%      83430000000
80%      83530000000
90%      83630000000
95%      83630000000
99%      83630000000
max      83630000000
Name: time, dtype: int64
83730000000
SZ lv2 is complete
1.17%
----------------------------------------------------------------------------------------------
SH & SZ trade

/home/work516/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (11) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

'trade data is complete'

'0.21%'

--------------------------------------------------------------------------------------------------
SZ order data

/home/work516/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (12) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

'order data is complete'

'0.22%'

-----------------------------------------------------------------------------------------------------
SH index data

559827

559827

559827

15188

14919

index data is complete

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:625: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:626: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

'2%'

----------------------------------------------------------------------------------------------------
final concat

'1. here~'

'2. here~'

'3. here~'

'4. here~'

'5. here~'

0:08:17.374874
20200415 finished
--------------------------------------------------------------------------------------------
20200416
SH lv2

'0.00%'

84500000000
1.38%
-------------------------------------------------------------------------------------------
SZ lv2
8248205
8159659
8248205
8248205
8159659

'0.05%'

count           4394
mean     83072088302
std         50026493
min      83021000000
10%      83021000000
20%      83021000000
30%      83021000000
40%      83024000000
50%      83072500000
60%      83121000000
70%      83121000000
80%      83121000000
90%      83124000000
95%      83124000000
99%      83124000000
max      83124000000
Name: time, dtype: int64
83221000000
SZ lv2 is complete
1.07%
----------------------------------------------------------------------------------------------
SH & SZ trade

/home/work516/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (11) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

'trade data is complete'

'0.33%'

--------------------------------------------------------------------------------------------------
SZ order data

/home/work516/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (12) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

'order data is complete'

'0.13%'

-----------------------------------------------------------------------------------------------------
SH index data

514932

514932

514932

14760

14620

index data is complete

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:625: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:626: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

'1%'

----------------------------------------------------------------------------------------------------
final concat

'1. here~'

'2. here~'

'3. here~'

'4. here~'

'5. here~'

0:06:44.467445
20200416 finished
--------------------------------------------------------------------------------------------
20200417
SH lv2

'0.00%'

84501000000
1.33%
-------------------------------------------------------------------------------------------
SZ lv2
8342871
8243858
8342871
8342871
8243858

'0.05%'

count           4392
mean     83062000000
std         50005693
min      83012000000
10%      83012000000
20%      83012000000
30%      83012000000
40%      83012000000
50%      83062000000
60%      83112000000
70%      83112000000
80%      83112000000
90%      83112000000
95%      83112000000
99%      83112000000
max      83112000000
Name: time, dtype: int64
83212000000
SZ lv2 is complete
1.19%
----------------------------------------------------------------------------------------------
SH & SZ trade

/home/work516/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (11) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

'trade data is complete'

'0.41%'

--------------------------------------------------------------------------------------------------
SZ order data

/home/work516/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (12) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

'order data is complete'

'0.38%'

-----------------------------------------------------------------------------------------------------
SH index data

465804

465804

465804

14660

14524

index data is complete

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:625: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:626: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

'1%'

----------------------------------------------------------------------------------------------------
final concat

'1. here~'

'2. here~'

'3. here~'

'4. here~'

'5. here~'

0:08:24.578625
20200417 finished
--------------------------------------------------------------------------------------------
20200420
SH lv2

'0.00%'

84500000000
1.46%
-------------------------------------------------------------------------------------------
SZ lv2
8107705
7980246
8107705
8107705
7980246

'0.35%'

count          28561
mean     83624000000
std        374172289
min      83024000000
10%      83124000000
20%      83224000000
30%      83324000000
40%      83524000000
50%      83624000000
60%      83724000000
70%      83924000000
80%      84024000000
90%      84124000000
95%      84224000000
99%      84224000000
max      84224000000
Name: time, dtype: int64
84324000000
SZ lv2 is complete
1.57%
----------------------------------------------------------------------------------------------
SH & SZ trade

/home/work516/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (11) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

'trade data is complete'

'1.41%'

--------------------------------------------------------------------------------------------------
SZ order data

/home/work516/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (12) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

'order data is complete'

'0.90%'

-----------------------------------------------------------------------------------------------------
SH index data

339914

339914

339914

14521

14381

index data is complete

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:625: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:626: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

'1%'

----------------------------------------------------------------------------------------------------
final concat

'1. here~'

'2. here~'

'3. here~'

'4. here~'

'5. here~'

0:06:39.144074
20200420 finished
--------------------------------------------------------------------------------------------
20200421
SH lv2

'0.00%'

84502000000
1.45%
-------------------------------------------------------------------------------------------
SZ lv2
8342196
8209624
8342196
8342196
8209624

'0.42%'

count          35104
mean     83762000000
std        460983788
min      83012000000
10%      83112000000
20%      83312000000
30%      83412000000
40%      83612000000
50%      83762000000
60%      83912000000
70%      84112000000
80%      84212000000
90%      84412000000
95%      84512000000
99%      84512000000
max      84512000000
Name: time, dtype: int64
84612000000
SZ lv2 is complete
1.59%
----------------------------------------------------------------------------------------------
SH & SZ trade

/home/work516/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (11) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

'trade data is complete'

'0.61%'

--------------------------------------------------------------------------------------------------
SZ order data

/home/work516/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (12) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

'order data is complete'

'0.49%'

-----------------------------------------------------------------------------------------------------
SH index data

465609

465609

465609

14649

14513

index data is complete

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:625: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:626: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

'1%'

----------------------------------------------------------------------------------------------------
final concat

'1. here~'

'2. here~'

'3. here~'

'4. here~'

'5. here~'

0:08:10.076004
20200421 finished

In [4]:
import pandas as pd
pd.set_option('max_rows', 1000)
pd.read_pickle('/mnt/e/filter/2000001.pkl')

        skey      date  amountFilter
0    2000001  20170901           NaN
1    2000001  20170904           NaN
2    2000001  20170905           NaN
3    2000001  20170906           NaN
4    2000001  20170907           NaN
5    2000001  20170908           NaN
6    2000001  20170911           NaN
7    2000001  20170912           NaN
8    2000001  20170913           NaN
9    2000001  20170914           NaN
10   2000001  20170915           NaN
11   2000001  20170918           NaN
12   2000001  20170919           NaN
13   2000001  20170920           NaN
14   2000001  20170921           NaN
15   2000001  20170922           NaN
16   2000001  20170925           NaN
17   2000001  20170926           NaN
18   2000001  20170927           NaN
19   2000001  20170928           NaN
20   2000001  20170929           NaN
21   2000001  20171009           NaN
22   2000001  20171010           NaN
23   2000001  20171011           NaN
24   2000001  20171012           NaN
25   2000001  20171013           NaN
26   2000001  20171016   120747.0000
27   2000001  20171017   120747.0000
28   2000001  20171018   120747.0000
29   2000001  20171019   120747.0000
30   2000001  20171020   120747.0000
31   2000001  20171023   121992.7500
32   2000001  20171024   121992.7500
33   2000001  20171025   121992.7500
34   2000001  20171026   121992.7500
35   2000001  20171027   121992.7500
36   2000001  20171030   119391.0000
37   2000001  20171031   119391.0000
38   2000001  20171101   119391.0000
39   2000001  20171102   119391.0000
40   2000001  20171103   119391.0000
41   2000001  20171106   132828.0000
42   2000001  20171107   132828.0000
43   2000001  20171108   132828.0000
44   2000001  20171109   132828.0000
45   2000001  20171110   132828.0000
46   2000001  20171113   191508.0000
47   2000001  20171114   191508.0000
48   2000001  20171115   191508.0000
49   2000001  20171116   191508.0000
50   2000001  20171117   191508.0000
51   2000001  20171120   273085.0000
52   2000001  20171121   273085.0000
53   2000001  20171122   273085.0000
54   2000001  20171123   273085.0000
55   2000001  20171124   273085.0000
56   2000001  20171127   449225.4000
57   2000001  20171128   449225.4000
58   2000001  20171129   449225.4000
59   2000001  20171130   449225.4000
60   2000001  20171201   449225.4000
61   2000001  20171204   560059.0000
62   2000001  20171205   560059.0000
63   2000001  20171206   560059.0000
64   2000001  20171207   560059.0000
65   2000001  20171208   560059.0000
66   2000001  20171211   536955.0000
67   2000001  20171212   536955.0000
68   2000001  20171213   536955.0000
69   2000001  20171214   536955.0000
70   2000001  20171215   536955.0000
71   2000001  20171218   531225.2500
72   2000001  20171219   531225.2500
73   2000001  20171220   531225.2500
74   2000001  20171221   531225.2500
75   2000001  20171222   531225.2500
76   2000001  20171225   419150.2325
77   2000001  20171226   419150.2325
78   2000001  20171227   419150.2325
79   2000001  20171228   419150.2325
80   2000001  20171229   419150.2325
81   2000001  20180102   363284.2500
82   2000001  20180103   363284.2500
83   2000001  20180104   363284.2500
84   2000001  20180105   363284.2500
85   2000001  20180108   391102.5000
86   2000001  20180109   391102.5000
87   2000001  20180110   391102.5000
88   2000001  20180111   391102.5000
89   2000001  20180112   391102.5000
90   2000001  20180115   400509.0000
91   2000001  20180116   400509.0000
92   2000001  20180117   400509.0000
93   2000001  20180118   400509.0000
94   2000001  20180119   400509.0000
95   2000001  20180122   506785.0000
96   2000001  20180123   506785.0000
97   2000001  20180124   506785.0000
98   2000001  20180125   506785.0000
99   2000001  20180126   506785.0000
100  2000001  20180129   625880.3900
101  2000001  20180130   625880.3900
102  2000001  20180131   625880.3900
103  2000001  20180201   625880.3900
104  2000001  20180202   625880.3900
105  2000001  20180205   622753.8000
106  2000001  20180206   622753.8000
107  2000001  20180207   622753.8000
108  2000001  20180208   622753.8000
109  2000001  20180209   622753.8000
110  2000001  20180212   689406.1500
111  2000001  20180213   689406.1500
112  2000001  20180214   689406.1500
113  2000001  20180222   689406.1500
114  2000001  20180223   689406.1500
115  2000001  20180226   592172.7500
116  2000001  20180227   592172.7500
117  2000001  20180228   592172.7500
118  2000001  20180301   592172.7500
119  2000001  20180302   592172.7500
120  2000001  20180305   453590.0000
121  2000001  20180306   453590.0000
122  2000001  20180307   453590.0000
123  2000001  20180308   453590.0000
124  2000001  20180309   453590.0000
125  2000001  20180312   364383.7500
126  2000001  20180313   364383.7500
127  2000001  20180314   364383.7500
128  2000001  20180315   364383.7500
129  2000001  20180316   364383.7500
130  2000001  20180319   260377.0000
131  2000001  20180320   260377.0000
132  2000001  20180321   260377.0000
133  2000001  20180322   260377.0000
134  2000001  20180323   260377.0000
135  2000001  20180326   227204.4100
136  2000001  20180327   227204.4100
137  2000001  20180328   227204.4100
138  2000001  20180329   227204.4100
139  2000001  20180330   227204.4100
140  2000001  20180402   234011.0000
141  2000001  20180403   234011.0000
142  2000001  20180404   234011.0000
143  2000001  20180409   234011.0000
144  2000001  20180410   234011.0000
145  2000001  20180411   234011.0000
146  2000001  20180412   234011.0000
147  2000001  20180413   234011.0000
148  2000001  20180416   250722.8700
149  2000001  20180417   250722.8700
150  2000001  20180418   250722.8700
151  2000001  20180419   250722.8700
152  2000001  20180420   250722.8700
153  2000001  20180423   274640.6500
154  2000001  20180424   274640.6500
155  2000001  20180425   274640.6500
156  2000001  20180426   274640.6500
157  2000001  20180427   274640.6500
158  2000001  20180502   254689.7500
159  2000001  20180503   254689.7500
160  2000001  20180504   254689.7500
161  2000001  20180507   277212.5000
162  2000001  20180508   277212.5000
163  2000001  20180509   277212.5000
164  2000001  20180510   277212.5000
165  2000001  20180511   277212.5000
166  2000001  20180514   248654.5000
167  2000001  20180515   248654.5000
168  2000001  20180516   248654.5000
169  2000001  20180517   248654.5000
170  2000001  20180518   248654.5000
171  2000001  20180521   196557.0000
172  2000001  20180522   196557.0000
173  2000001  20180523   196557.0000
174  2000001  20180524   196557.0000
175  2000001  20180525   196557.0000
176  2000001  20180528   165599.0000
177  2000001  20180529   165599.0000
178  2000001  20180530   165599.0000
179  2000001  20180531   165599.0000
180  2000001  20180601   165599.0000
181  2000001  20180604   135878.5000
182  2000001  20180605   135878.5000
183  2000001  20180606   135878.5000
184  2000001  20180607   135878.5000
185  2000001  20180608   135878.5000
186  2000001  20180611   130130.5000
187  2000001  20180612   130130.5000
188  2000001  20180613   130130.5000
189  2000001  20180614   130130.5000
190  2000001  20180615   130130.5000
191  2000001  20180619   134601.0000
192  2000001  20180620   134601.0000
193  2000001  20180621   134601.0000
194  2000001  20180622   134601.0000
195  2000001  20180625   146830.0000
196  2000001  20180626   146830.0000
197  2000001  20180627   146830.0000
198  2000001  20180628   146830.0000
199  2000001  20180629   146830.0000
200  2000001  20180702   156109.0000
201  2000001  20180703   156109.0000
202  2000001  20180704   156109.0000
203  2000001  20180705   156109.0000
204  2000001  20180706   156109.0000
205  2000001  20180709   166020.5000
206  2000001  20180710   166020.5000
207  2000001  20180711   166020.5000
208  2000001  20180712   166020.5000
209  2000001  20180713   166020.5000
210  2000001  20180716   168090.7500
211  2000001  20180717   168090.7500
212  2000001  20180718   168090.7500
213  2000001  20180719   168090.7500
214  2000001  20180720   168090.7500
215  2000001  20180723   131455.0000
216  2000001  20180724   131455.0000
217  2000001  20180725   131455.0000
218  2000001  20180726   131455.0000
219  2000001  20180727   131455.0000
220  2000001  20180730   137815.0000
221  2000001  20180731   137815.0000
222  2000001  20180801   137815.0000
223  2000001  20180802   137815.0000
224  2000001  20180803   137815.0000
225  2000001  20180806   127880.0000
226  2000001  20180807   127880.0000
227  2000001  20180808   127880.0000
228  2000001  20180809   127880.0000
229  2000001  20180810   127880.0000
230  2000001  20180813   109851.0000
231  2000001  20180814   109851.0000
232  2000001  20180815   109851.0000
233  2000001  20180816   109851.0000
234  2000001  20180817   109851.0000
235  2000001  20180820   112687.5000
236  2000001  20180821   112687.5000
237  2000001  20180822   112687.5000
238  2000001  20180823   112687.5000
239  2000001  20180824   112687.5000
240  2000001  20180827   102113.5000
241  2000001  20180828   102113.5000
242  2000001  20180829   102113.5000
243  2000001  20180830   102113.5000
244  2000001  20180831   102113.5000
245  2000001  20180903   139909.0000
246  2000001  20180904   139909.0000
247  2000001  20180905   139909.0000
248  2000001  20180906   139909.0000
249  2000001  20180907   139909.0000
250  2000001  20180910   164179.0000
251  2000001  20180911   164179.0000
252  2000001  20180912   164179.0000
253  2000001  20180913   164179.0000
254  2000001  20180914   164179.0000
255  2000001  20180917   180136.0000
256  2000001  20180918   180136.0000
257  2000001  20180919   180136.0000
258  2000001  20180920   180136.0000
259  2000001  20180921   180136.0000
260  2000001  20180925   178395.7500
261  2000001  20180926   178395.7500
262  2000001  20180927   178395.7500
263  2000001  20180928   178395.7500
264  2000001  20181008   156882.0000
265  2000001  20181009   156882.0000
266  2000001  20181010   156882.0000
267  2000001  20181011   156882.0000
268  2000001  20181012   156882.0000
269  2000001  20181015   188197.0000
270  2000001  20181016   188197.0000
271  2000001  20181017   188197.0000
272  2000001  20181018   188197.0000
273  2000001  20181019   188197.0000
274  2000001  20181022   233416.0000
275  2000001  20181023   233416.0000
276  2000001  20181024   233416.0000
277  2000001  20181025   233416.0000
278  2000001  20181026   233416.0000
279  2000001  20181029   308879.7500
280  2000001  20181030   308879.7500
281  2000001  20181031   308879.7500
282  2000001  20181101   308879.7500
283  2000001  20181102   308879.7500
284  2000001  20181105   333737.7000
285  2000001  20181106   333737.7000
286  2000001  20181107   333737.7000
287  2000001  20181108   333737.7000
288  2000001  20181109   333737.7000
289  2000001  20181112   306123.0000
290  2000001  20181113   306123.0000
291  2000001  20181114   306123.0000
292  2000001  20181115   306123.0000
293  2000001  20181116   306123.0000
294  2000001  20181119   279898.5000
295  2000001  20181120   279898.5000
296  2000001  20181121   279898.5000
297  2000001  20181122   279898.5000
298  2000001  20181123   279898.5000
299  2000001  20181126   215400.0000
300  2000001  20181127   215400.0000
301  2000001  20181128   215400.0000
302  2000001  20181129   215400.0000
303  2000001  20181130   215400.0000
304  2000001  20181203   165134.0000
305  2000001  20181204   165134.0000
306  2000001  20181205   165134.0000
307  2000001  20181206   165134.0000
308  2000001  20181207   165134.0000
309  2000001  20181210   139677.7500
310  2000001  20181211   139677.7500
311  2000001  20181212   139677.7500
312  2000001  20181213   139677.7500
313  2000001  20181214   139677.7500
314  2000001  20181217   108024.5000
315  2000001  20181218   108024.5000
316  2000001  20181219   108024.5000
317  2000001  20181220   108024.5000
318  2000001  20181221   108024.5000
319  2000001  20181224    94767.0000
320  2000001  20181225    94767.0000
321  2000001  20181226    94767.0000
322  2000001  20181227    94767.0000
323  2000001  20181228    94767.0000
324  2000001  20190102    94915.2500
325  2000001  20190103    94915.2500
326  2000001  20190104    94915.2500
327  2000001  20190107    91350.0000
328  2000001  20190108    91350.0000
329  2000001  20190109    91350.0000
330  2000001  20190110    91350.0000
331  2000001  20190111    91350.0000
332  2000001  20190114   113040.0000
333  2000001  20190115   113040.0000
334  2000001  20190116   113040.0000
335  2000001  20190117   113040.0000
336  2000001  20190118   113040.0000
337  2000001  20190121   120389.7500
338  2000001  20190122   120389.7500
339  2000001  20190123   120389.7500
340  2000001  20190124   120389.7500
341  2000001  20190125   120389.7500
342  2000001  20190128   117988.7500
343  2000001  20190129   117988.7500
344  2000001  20190130   117988.7500
345  2000001  20190131   117988.7500
346  2000001  20190201   117988.7500
347  2000001  20190211   146191.0000
348  2000001  20190212   146191.0000
349  2000001  20190213   146191.0000
350  2000001  20190214   146191.0000
351  2000001  20190215   146191.0000
352  2000001  20190218   150312.5000
353  2000001  20190219   150312.5000
354  2000001  20190220   150312.5000
355  2000001  20190221   150312.5000
356  2000001  20190222   150312.5000
357  2000001  20190225   176309.7500
358  2000001  20190226   176309.7500
359  2000001  20190227   176309.7500
360  2000001  20190228   176309.7500
361  2000001  20190301   176309.7500
362  2000001  20190304   257677.6000
363  2000001  20190305   257677.6000
364  2000001  20190306   257677.6000
365  2000001  20190307   257677.6000
366  2000001  20190308   257677.6000
367  2000001  20190311   323077.0000
368  2000001  20190312   323077.0000
369  2000001  20190313   323077.0000
370  2000001  20190314   323077.0000
371  2000001  20190315   323077.0000
372  2000001  20190318   364913.4600
373  2000001  20190319   364913.4600
374  2000001  20190320   364913.4600
375  2000001  20190321   364913.4600
376  2000001  20190322   364913.4600
377  2000001  20190325   372680.7500
378  2000001  20190326   372680.7500
379  2000001  20190327   372680.7500
380  2000001  20190328   372680.7500
381  2000001  20190329   372680.7500
382  2000001  20190401   307280.0000
383  2000001  20190402   307280.0000
384  2000001  20190403   307280.0000
385  2000001  20190404   307280.0000
386  2000001  20190408   287941.0000
387  2000001  20190409   287941.0000
388  2000001  20190410   287941.0000
389  2000001  20190411   287941.0000
390  2000001  20190412   287941.0000
391  2000001  20190415   276894.5000
392  2000001  20190416   276894.5000
393  2000001  20190417   276894.5000
394  2000001  20190418   276894.5000
395  2000001  20190419   276894.5000
396  2000001  20190422   294018.0000
397  2000001  20190423   294018.0000
398  2000001  20190424   294018.0000
399  2000001  20190425   294018.0000
400  2000001  20190426   294018.0000
401  2000001  20190429   339107.8000
402  2000001  20190430   339107.8000
403  2000001  20190506   339107.8000
404  2000001  20190507   339107.8000
405  2000001  20190508   339107.8000
406  2000001  20190509   339107.8000
407  2000001  20190510   339107.8000
408  2000001  20190513   336113.0000
409  2000001  20190514   336113.0000
410  2000001  20190515   336113.0000
411  2000001  20190516   336113.0000
412  2000001  20190517   336113.0000
413  2000001  20190520   333716.0000
414  2000001  20190521   333716.0000
415  2000001  20190522   333716.0000
416  2000001  20190523   333716.0000
417  2000001  20190524   333716.0000
418  2000001  20190527   285739.5000
419  2000001  20190528   285739.5000
420  2000001  20190529   285739.5000
421  2000001  20190530   285739.5000
422  2000001  20190531   285739.5000
423  2000001  20190603   233208.7400
424  2000001  20190604   233208.7400
425  2000001  20190605   233208.7400
426  2000001  20190606   233208.7400
427  2000001  20190610   187958.0000
428  2000001  20190611   187958.0000
429  2000001  20190612   187958.0000
430  2000001  20190613   187958.0000
431  2000001  20190614   187958.0000
432  2000001  20190617   176537.5000
433  2000001  20190618   176537.5000
434  2000001  20190619   176537.5000
435  2000001  20190620   176537.5000
436  2000001  20190621   176537.5000
437  2000001  20190624   180282.1400
438  2000001  20190625   180282.1400
439  2000001  20190626   180282.1400
440  2000001  20190627   180282.1400
441  2000001  20190628   180282.1400
442  2000001  20190701   199923.0000
443  2000001  20190702   199923.0000
444  2000001  20190703   199923.0000
445  2000001  20190704   199923.0000
446  2000001  20190705   199923.0000
447  2000001  20190708   202917.0000
448  2000001  20190709   202917.0000
449  2000001  20190710   202917.0000
450  2000001  20190711   202917.0000
451  2000001  20190712   202917.0000
452  2000001  20190715   193995.7500
453  2000001  20190716   193995.7500
454  2000001  20190717   193995.7500
455  2000001  20190718   193995.7500
456  2000001  20190719   193995.7500
457  2000001  20190722   188924.1950
458  2000001  20190723   188924.1950
459  2000001  20190724   188924.1950
460  2000001  20190725   188924.1950
461  2000001  20190726   188924.1950
462  2000001  20190729   173185.0000
463  2000001  20190730   173185.0000
464  2000001  20190731   173185.0000
465  2000001  20190801   173185.0000
466  2000001  20190802   173185.0000
467  2000001  20190805   163979.0000
468  2000001  20190806   163979.0000
469  2000001  20190807   163979.0000
470  2000001  20190808   163979.0000
471  2000001  20190809   163979.0000
472  2000001  20190812   204255.0000
473  2000001  20190813   204255.0000
474  2000001  20190814   204255.0000
475  2000001  20190815   204255.0000
476  2000001  20190816   204255.0000
477  2000001  20190819   269103.5000
478  2000001  20190820   269103.5000
479  2000001  20190821   269103.5000
480  2000001  20190822   269103.5000
481  2000001  20190823   269103.5000
482  2000001  20190826   359009.5600
483  2000001  20190827   359009.5600
484  2000001  20190828   359009.5600
485  2000001  20190829   359009.5600
486  2000001  20190830   359009.5600
487  2000001  20190902   405930.0000
488  2000001  20190903   405930.0000
489  2000001  20190904   405930.0000
490  2000001  20190905   405930.0000
491  2000001  20190906   405930.0000
492  2000001  20190909   412374.8500
493  2000001  20190910   412374.8500
494  2000001  20190911   412374.8500
495  2000001  20190912   412374.8500
496  2000001  20190916   358298.2500
497  2000001  20190917   358298.2500
498  2000001  20190918   358298.2500
499  2000001  20190919   358298.2500
500  2000001  20190920   358298.2500
501  2000001  20190923   308876.5000
502  2000001  20190924   308876.5000
503  2000001  20190925   308876.5000
504  2000001  20190926   308876.5000
505  2000001  20190927   308876.5000
506  2000001  20190930   357515.1000
507  2000001  20191008   357515.1000
508  2000001  20191009   357515.1000
509  2000001  20191010   357515.1000
510  2000001  20191011   357515.1000
511  2000001  20191014   391168.0000
512  2000001  20191015   391168.0000
513  2000001  20191016   391168.0000
514  2000001  20191017   391168.0000
515  2000001  20191018   391168.0000
516  2000001  20191021   427530.0000
517  2000001  20191022   427530.0000
518  2000001  20191023   427530.0000
519  2000001  20191024   427530.0000
520  2000001  20191025   427530.0000
521  2000001  20191028   457615.0000
522  2000001  20191029   457615.0000
523  2000001  20191030   457615.0000
524  2000001  20191031   457615.0000
525  2000001  20191101   457615.0000
526  2000001  20191104   375559.7500
527  2000001  20191105   375559.7500
528  2000001  20191106   375559.7500
529  2000001  20191107   375559.7500
530  2000001  20191108   375559.7500
531  2000001  20191111   362299.9575
532  2000001  20191112   362299.9575
533  2000001  20191113   362299.9575
534  2000001  20191114   362299.9575
535  2000001  20191115   362299.9575
536  2000001  20191118   303715.0500
537  2000001  20191119   303715.0500
538  2000001  20191120   303715.0500