In [1]:
import pymongo
import pandas as pd
import pickle
import datetime
import time
import gzip
import lzma
import pytz


def DB(host, db_name, user, passwd):
    auth_db = db_name if user not in ('admin', 'root') else 'admin'
    uri = 'mongodb://%s:%s@%s/?authSource=%s' % (user, passwd, host, auth_db)
    return DBObj(uri, db_name=db_name)


class DBObj(object):
    def __init__(self, uri, symbol_column='skey', db_name='white_db'):
        self.db_name = db_name
        self.uri = uri
        self.client = pymongo.MongoClient(self.uri)
        self.db = self.client[self.db_name]
        self.chunk_size = 20000
        self.symbol_column = symbol_column
        self.date_column = 'date'

    def parse_uri(self, uri):
        # mongodb://user:password@example.com
        return uri.strip().replace('mongodb://', '').strip('/').replace(':', ' ').replace('@', ' ').split(' ')

    def drop_table(self, table_name):
        self.db.drop_collection(table_name)

    def rename_table(self, old_table, new_table):
        self.db[old_table].rename(new_table)

    def write(self, table_name, df):
        if len(df) == 0: return

        multi_date = False

        if self.date_column in df.columns:
            date = str(df.head(1)[self.date_column].iloc[0])
            multi_date = len(df[self.date_column].unique()) > 1
        else:
            raise Exception('DataFrame should contain date column')

        collection = self.db[table_name]
        collection.create_index([('date', pymongo.ASCENDING), ('symbol', pymongo.ASCENDING)], background=True)
        collection.create_index([('symbol', pymongo.ASCENDING), ('date', pymongo.ASCENDING)], background=True)

        if multi_date:
            for (date, symbol), sub_df in df.groupby([self.date_column, self.symbol_column]):
                date = str(date)
                symbol = int(symbol)
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)
        else:
            for symbol, sub_df in df.groupby([self.symbol_column]):
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)

    def write_single(self, collection, date, symbol, df):
        for start in range(0, len(df), self.chunk_size):
            end = min(start + self.chunk_size, len(df))
            df_seg = df[start:end]
            version = 1
            seg = {'ver': version, 'data': self.ser(df_seg, version), 'date': date, 'symbol': symbol, 'start': start}
            collection.insert_one(seg)

    def build_query(self, start_date=None, end_date=None, symbol=None):
        query = {}

        def parse_date(x):
            if type(x) == str:
                if len(x) != 8:
                    raise Exception("`date` must be YYYYMMDD format")
                return x
            elif type(x) == datetime.datetime or type(x) == datetime.date:
                return x.strftime("%Y%m%d")
            elif type(x) == int:
                return parse_date(str(x))
            else:
                raise Exception("invalid `date` type: " + str(type(x)))

        if start_date is not None or end_date is not None:
            query['date'] = {}
            if start_date is not None:
                query['date']['$gte'] = parse_date(start_date)
            if end_date is not None:
                query['date']['$lte'] = parse_date(end_date)

        def parse_symbol(x):
            if type(x) == int:
                return x
            else:
                return int(x)

        if symbol:
            if type(symbol) == list or type(symbol) == tuple:
                query['symbol'] = {'$in': [parse_symbol(x) for x in symbol]}
            else:
                query['symbol'] = parse_symbol(symbol)

        return query

    def delete(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot delete the whole table')
            return None

        collection.delete_many(query)

    def read(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot read the whole table')
            return None

        segs = []
        for x in collection.find(query):
            x['data'] = self.deser(x['data'], x['ver'])
            segs.append(x)
        segs.sort(key=lambda x: (x['symbol'], x['date'], x['start']))
        return pd.concat([x['data'] for x in segs], ignore_index=True) if segs else None

    def list_tables(self):
        return self.db.collection_names()

    def list_dates(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]
        dates = set()
        if start_date is None:
            start_date = '00000000'
        if end_date is None:
            end_date = '99999999'
        for x in collection.find(self.build_query(start_date, end_date, symbol), {"date": 1, '_id': 0}):
            dates.add(x['date'])
        return sorted(list(dates))

    def ser(self, s, version):
        pickle_protocol = 4
        if version == 1:
            return gzip.compress(pickle.dumps(s, protocol=pickle_protocol), compresslevel=2)
        elif version == 2:
            return lzma.compress(pickle.dumps(s, protocol=pickle_protocol), preset=1)
        else:
            raise Exception('unknown version')

    def deser(self, s, version):
        def unpickle(s):
            return pickle.loads(s)

        if version == 1:
            return unpickle(gzip.decompress(s))
        elif version == 2:
            return unpickle(lzma.decompress(s))
        else:
            raise Exception('unknown version')


def patch_pandas_pickle():
    if pd.__version__ < '0.24':
        import sys
        from types import ModuleType
        from pandas.core.internals import BlockManager
        pkg_name = 'pandas.core.internals.managers'
        if pkg_name not in sys.modules:
            m = ModuleType(pkg_name)
            m.BlockManager = BlockManager
            sys.modules[pkg_name] = m
patch_pandas_pickle()

            
            
            
            
            
            
            
            
import pandas as pd
import random
import numpy as np
import glob
import os
import pickle
import datetime
import time
from decimal import Decimal, Context, ROUND_HALF_UP
pd.set_option("max_columns", 200)

startTm = datetime.datetime.now()
readPath = '/home/work516/day_stock/***'
dataPathLs = np.array(glob.glob(readPath))
dataPathLs = dataPathLs[[np.array([os.path.basename(i).split('.')[0][:2] == 'SH' for i in dataPathLs])]]
db = pd.DataFrame()
for p in dataPathLs:
    dayData = pd.read_csv(p, compression='gzip')
    db = pd.concat([db, dayData])
print(datetime.datetime.now() - startTm)

year = "2017"
startDate = '20170101'
endDate = '20170831'
readPath = '/mnt/usb/data/' + year + '/***/***'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([os.path.basename(i) for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]

for data in dataPathLs:
    
    if len(np.array(glob.glob(data + '/SH/***'))) == 0:
        if int(os.path.basename(data)) not in date_list["Date"].values:
            continue
        else:
            print(os.path.basename(data) + " less data!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!")
            less.append(data)
            continue
    date = os.path.basename(data)
    rar_path = data + '/SH/tick.7z'
    path = '/mnt/e/unzip_data/2017/SH'
    path1 = path + '/' + date
    un_path = path1
    cmd = '7za x {} -o{}'.format(rar_path, un_path)
    os.system(cmd)
    
    
    
    readPath = path1 + '/tick/***'
    dataPathLs = np.array(glob.glob(readPath))
    dateLs = np.array([int(os.path.basename(i).split('.')[0]) for i in dataPathLs])
    dataPathLs = dataPathLs[((dateLs >= 600000) & (dateLs <= 700000))]
    TradeLog = []
    ll = []
    
    for i in dataPathLs:
        try:
            df = pd.read_csv(i)
        except:
            print("empty data")
            print(i)
            ll.append(int(os.path.basename(i).split('.')[0]))
            continue
        df["SecurityID"] = int(os.path.basename(i).split('.')[0])
        TradeLog += [df]
    TradeLog = pd.concat(TradeLog).reset_index(drop=True)
    
    TradeLog["date"] = TradeLog["TradeTime"].iloc[0]//1000000000
    TradeLog = TradeLog.rename(columns={"TradeQty":"trade_qty", "TradePrice":"trade_price", 
                                        "TradeBSFlag":"trade_flag", "TradeAmount":"trade_money",
                                       "TradeIndex":"ApplSeqNum", "SellNo":"OfferApplSeqNum",
                                       "BuyNo":"BidApplSeqNum"})
    TradeLog["trade_type"] = 1
    TradeLog["skey"] = TradeLog["SecurityID"] + 1000000
    TradeLog["clockAtArrival"] = TradeLog["TradeTime"].astype(str).apply(lambda x: np.int64(datetime.datetime.strptime(x, '%Y%m%d%H%M%S%f').timestamp()*1e6))
    TradeLog['datetime'] = TradeLog["clockAtArrival"].apply(lambda x: datetime.datetime.fromtimestamp(x/1e6))
    TradeLog["time"] = (TradeLog['TradeTime'] - int(TradeLog['TradeTime'].iloc[0]//1000000000*1000000000)).astype(np.int64)*1000
    TradeLog["trade_flag"] = np.where(TradeLog["trade_flag"] == 'B', 1, np.where(
        TradeLog["trade_flag"] == 'S', 2, 0))
    for col in ["skey", "date", "ApplSeqNum", "BidApplSeqNum", "OfferApplSeqNum", "trade_qty", "trade_type", "trade_flag"]:
        TradeLog[col] = TradeLog[col].astype('int32')
    
    da_te = str(TradeLog["date"].iloc[0]) 
    da_te = da_te[:4] + '-' + da_te[4:6] + '-' + da_te[6:8]
    db1 = db[db["date"] == da_te]
    db1["max_volume"] = db1.groupby("ID")["d_volume"].transform("max")
    db1["max_amount"] = db1.groupby("ID")["d_amount"].transform("max")
    t1 = db1.groupby("ID")["max_volume", "max_amount"].first().reset_index()
    del db1
    t1["skey"] = t1["ID"].str[2:].astype(int) + 1000000
    trade1 = TradeLog[TradeLog["trade_type"] == 1].groupby("skey")["trade_qty"].sum().reset_index()
    trade1.columns=["skey", "cum_volume"]
    trade2 = TradeLog[TradeLog["trade_type"] == 1].groupby("skey")["trade_money"].sum().reset_index()
    trade2.columns=["skey", "cum_amount"]
    t2 = pd.merge(trade1, trade2, on="skey")
    re = pd.merge(t1, t2, on="skey", how="outer")
    re["cum_amount"] = re["cum_amount"].apply(lambda x: np.float(Decimal(round(x, 2)).normalize(Context(prec=len(str(x).split('.')[0]), rounding=ROUND_HALF_UP))))
    try:
        assert(t1.shape[0] == t2.shape[0])
        assert(re[re["cum_volume"] != re["max_volume"]].shape[0] == 0)
        assert(re[re["cum_amount"].round(2) != re["max_amount"]].shape[0] == 0)
    except:
        display(set(t1["skey"]) - set(t2["skey"]))
        display(re[re["cum_volume"] != re["max_volume"]])
        display(re[re["cum_amount"] != re["max_amount"]])
    del t1
    del t2
    del re
 
    TradeLog = TradeLog[["skey", "date", "time", "clockAtArrival", "datetime", "ApplSeqNum", "trade_type", "trade_flag",
                                                 "trade_price", "trade_qty", "BidApplSeqNum", "OfferApplSeqNum"]]
    print(da_te)
    print("trade finished")

    database_name = 'com_md_eq_cn'
    user = "zhenyuy"
    password = "bnONBrzSMGoE"

    db1 = DB("192.168.10.178", database_name, user, password)
    db1.write('md_trade', TradeLog)
    
    del TradeLog

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:201: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.

0:02:58.450435

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
820  SH601360   3319643.0  39597782.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
820  SH601360   3319643.0  39597782.0  1601360         NaN         NaN

2017-01-03
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
821  SH601360   2936014.0  35442319.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
821  SH601360   2936014.0  35442319.0  1601360         NaN         NaN

2017-01-04
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
815  SH601360   3070367.0  37292449.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
815  SH601360   3070367.0  37292449.0  1601360         NaN         NaN

2017-01-05
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
816  SH601360   1768603.0  21210528.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
816  SH601360   1768603.0  21210528.0  1601360         NaN         NaN

2017-01-06
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
816  SH601360   1919408.0  22976019.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
816  SH601360   1919408.0  22976019.0  1601360         NaN         NaN

2017-01-09
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
817  SH601360   1768149.0  21128299.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
817  SH601360   1768149.0  21128299.0  1601360         NaN         NaN

2017-01-10
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
817  SH601360   2080692.0  24666355.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
817  SH601360   2080692.0  24666355.0  1601360         NaN         NaN

2017-01-11
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
816  SH601360   1766675.0  20663351.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
816  SH601360   1766675.0  20663351.0  1601360         NaN         NaN

2017-01-12
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
818  SH601360   3143452.0  36693595.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
818  SH601360   3143452.0  36693595.0  1601360         NaN         NaN

2017-01-13
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
817  SH601360   2796286.0  31403724.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
817  SH601360   2796286.0  31403724.0  1601360         NaN         NaN

2017-01-16
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
818  SH601360   2138880.0  23652154.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
818  SH601360   2138880.0  23652154.0  1601360         NaN         NaN

2017-01-17
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
821  SH601360   2167874.0  24073929.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
821  SH601360   2167874.0  24073929.0  1601360         NaN         NaN

2017-01-18
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
820  SH601360   2120792.0  23204892.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
820  SH601360   2120792.0  23204892.0  1601360         NaN         NaN

2017-01-19
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
821  SH601360   2178465.0  24264055.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
821  SH601360   2178465.0  24264055.0  1601360         NaN         NaN

2017-01-20
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
822  SH601360   2176530.0  24737773.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
822  SH601360   2176530.0  24737773.0  1601360         NaN         NaN

2017-01-23
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
821  SH601360   2498572.0  28551470.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
821  SH601360   2498572.0  28551470.0  1601360         NaN         NaN

2017-01-24
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
822  SH601360   1673134.0  19245533.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
822  SH601360   1673134.0  19245533.0  1601360         NaN         NaN

2017-01-25
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
820  SH601360   1739790.0  19944579.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
820  SH601360   1739790.0  19944579.0  1601360         NaN         NaN

2017-01-26
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
819  SH601360   1561389.0  17762270.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
819  SH601360   1561389.0  17762270.0  1601360         NaN         NaN

2017-02-03
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
817  SH601360   1837466.0  21060136.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
817  SH601360   1837466.0  21060136.0  1601360         NaN         NaN

2017-02-06
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
814  SH601360   2020043.0  23237327.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
814  SH601360   2020043.0  23237327.0  1601360         NaN         NaN

2017-02-07
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
814  SH601360   1649648.0  19205911.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
814  SH601360   1649648.0  19205911.0  1601360         NaN         NaN

2017-02-08
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
812  SH601360   1984692.0  23298565.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
812  SH601360   1984692.0  23298565.0  1601360         NaN         NaN

2017-02-09
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
814  SH601360   2056931.0  24217006.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
814  SH601360   2056931.0  24217006.0  1601360         NaN         NaN

2017-02-10
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
812  SH601360   1996763.0  23702913.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
812  SH601360   1996763.0  23702913.0  1601360         NaN         NaN

2017-02-13
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
814  SH601360   1412328.0  16657612.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
814  SH601360   1412328.0  16657612.0  1601360         NaN         NaN

2017-02-14
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
815  SH601360   1633264.0  19138632.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
815  SH601360   1633264.0  19138632.0  1601360         NaN         NaN

2017-02-15
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
816  SH601360   1606555.0  18782553.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
816  SH601360   1606555.0  18782553.0  1601360         NaN         NaN

2017-02-16
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
817  SH601360   1865934.0  22022380.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
817  SH601360   1865934.0  22022380.0  1601360         NaN         NaN

2017-02-17
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
812  SH601360   3023319.0  36318153.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
812  SH601360   3023319.0  36318153.0  1601360         NaN         NaN

2017-02-20
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
815  SH601360   3535653.0  41963651.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
815  SH601360   3535653.0  41963651.0  1601360         NaN         NaN

2017-02-21
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
812  SH601360   2722689.0  32285801.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
812  SH601360   2722689.0  32285801.0  1601360         NaN         NaN

2017-02-22
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
810  SH601360   2488185.0  29592821.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
810  SH601360   2488185.0  29592821.0  1601360         NaN         NaN

2017-02-23
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
810  SH601360   2303050.0  27421913.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
810  SH601360   2303050.0  27421913.0  1601360         NaN         NaN

2017-02-24
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
813  SH601360   4041230.0  47303327.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
813  SH601360   4041230.0  47303327.0  1601360         NaN         NaN

2017-02-27
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
814  SH601360   3089842.0  36211203.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
814  SH601360   3089842.0  36211203.0  1601360         NaN         NaN

2017-02-28
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
810  SH601360   2674120.0  31622126.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
810  SH601360   2674120.0  31622126.0  1601360         NaN         NaN

2017-03-01
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
811  SH601360   2126678.0  24960572.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
811  SH601360   2126678.0  24960572.0  1601360         NaN         NaN

2017-03-02
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
811  SH601360   1857563.0  21817471.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
811  SH601360   1857563.0  21817471.0  1601360         NaN         NaN

2017-03-03
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
811  SH601360   2883257.0  34319714.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
811  SH601360   2883257.0  34319714.0  1601360         NaN         NaN

2017-03-06
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
815  SH601360   2742610.0  32786932.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
815  SH601360   2742610.0  32786932.0  1601360         NaN         NaN

2017-03-07
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
817  SH601360   2910688.0  35046297.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
817  SH601360   2910688.0  35046297.0  1601360         NaN         NaN

2017-03-08
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
818  SH601360   2807410.0  33463547.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
818  SH601360   2807410.0  33463547.0  1601360         NaN         NaN

2017-03-09
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
817  SH601360   3588164.0  43335198.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
817  SH601360   3588164.0  43335198.0  1601360         NaN         NaN

2017-03-10
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
817  SH601360   2545938.0  30534987.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
817  SH601360   2545938.0  30534987.0  1601360         NaN         NaN

2017-03-13
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
819  SH601360   2140415.0  25681577.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
819  SH601360   2140415.0  25681577.0  1601360         NaN         NaN

2017-03-14
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
819  SH601360   1918352.0  22732368.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
819  SH601360   1918352.0  22732368.0  1601360         NaN         NaN

2017-03-15
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
819  SH601360   2341131.0  27865496.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
819  SH601360   2341131.0  27865496.0  1601360         NaN         NaN

2017-03-16
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
823  SH601360   3276437.0  39373759.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
823  SH601360   3276437.0  39373759.0  1601360         NaN         NaN

2017-03-17
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
819  SH601360   4399136.0  52774953.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
819  SH601360   4399136.0  52774953.0  1601360         NaN         NaN

2017-03-20
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
822  SH601360   2508731.0  30257703.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
822  SH601360   2508731.0  30257703.0  1601360         NaN         NaN

2017-03-21
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
823  SH601360   3855208.0  45765051.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
823  SH601360   3855208.0  45765051.0  1601360         NaN         NaN

2017-03-22
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
822  SH601360   4354177.0  51273169.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
822  SH601360   4354177.0  51273169.0  1601360         NaN         NaN

2017-03-23
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
819  SH601360   3931563.0  45703512.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
819  SH601360   3931563.0  45703512.0  1601360         NaN         NaN

2017-03-24
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
817  SH601360   2382291.0  27897691.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
817  SH601360   2382291.0  27897691.0  1601360         NaN         NaN

2017-03-27
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
821  SH601360   2844483.0  33500129.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
821  SH601360   2844483.0  33500129.0  1601360         NaN         NaN

2017-03-28
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
825  SH601360   7144138.0  84483850.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
825  SH601360   7144138.0  84483850.0  1601360         NaN         NaN

2017-03-29
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
826  SH601360   6649193.0  74871990.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
826  SH601360   6649193.0  74871990.0  1601360         NaN         NaN

2017-03-30
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
824  SH601360   3378868.0  37443384.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
824  SH601360   3378868.0  37443384.0  1601360         NaN         NaN

2017-03-31
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
823  SH601360   4043835.0  45455324.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
823  SH601360   4043835.0  45455324.0  1601360         NaN         NaN

2017-04-05
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
821  SH601360   2823339.0  31989046.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
821  SH601360   2823339.0  31989046.0  1601360         NaN         NaN

2017-04-06
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
822  SH601360   3268660.0  37342769.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
822  SH601360   3268660.0  37342769.0  1601360         NaN         NaN

2017-04-07
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
820  SH601360   3411505.0  38975998.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
820  SH601360   3411505.0  38975998.0  1601360         NaN         NaN

2017-04-10
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
819  SH601360   2836598.0  31760508.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
819  SH601360   2836598.0  31760508.0  1601360         NaN         NaN

2017-04-11
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
822  SH601360   2626590.0  29481334.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
822  SH601360   2626590.0  29481334.0  1601360         NaN         NaN

2017-04-12
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
820  SH601360   2393336.0  26829197.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
820  SH601360   2393336.0  26829197.0  1601360         NaN         NaN

2017-04-13
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
814  SH601360   2880441.0  31963954.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
814  SH601360   2880441.0  31963954.0  1601360         NaN         NaN

2017-04-14
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
816  SH601360   2458885.0  26858011.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
816  SH601360   2458885.0  26858011.0  1601360         NaN         NaN

2017-04-17
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
817  SH601360   3404948.0  36606567.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
817  SH601360   3404948.0  36606567.0  1601360         NaN         NaN

2017-04-18
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
819  SH601360   3826208.0  39530605.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
819  SH601360   3826208.0  39530605.0  1601360         NaN         NaN

2017-04-19
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
820  SH601360   3415812.0  34948121.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
820  SH601360   3415812.0  34948121.0  1601360         NaN         NaN

2017-04-20
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
822  SH601360   1635364.0  16808754.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
822  SH601360   1635364.0  16808754.0  1601360         NaN         NaN

2017-04-21
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
820  SH601360   2413497.0  24261910.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
820  SH601360   2413497.0  24261910.0  1601360         NaN         NaN

2017-04-24
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
822  SH601360   1755605.0  17657663.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
822  SH601360   1755605.0  17657663.0  1601360         NaN         NaN

2017-04-25
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
823  SH601360   1749918.0  17632444.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
823  SH601360   1749918.0  17632444.0  1601360         NaN         NaN

2017-04-26
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
822  SH601360   4556163.0  43949553.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
822  SH601360   4556163.0  43949553.0  1601360         NaN         NaN

2017-04-27
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
822  SH601360   1912316.0  18903270.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
822  SH601360   1912316.0  18903270.0  1601360         NaN         NaN

2017-04-28
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
817  SH601360   2124015.0  21319393.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
817  SH601360   2124015.0  21319393.0  1601360         NaN         NaN

2017-05-02
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
822  SH601360   1851817.0  18577154.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
822  SH601360   1851817.0  18577154.0  1601360         NaN         NaN

2017-05-03
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
822  SH601360   1433441.0  14364787.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
822  SH601360   1433441.0  14364787.0  1601360         NaN         NaN

2017-05-04
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
823  SH601360    864452.0   8623852.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
823  SH601360    864452.0   8623852.0  1601360         NaN         NaN

2017-05-05
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
822  SH601360   1183303.0  11612231.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
822  SH601360   1183303.0  11612231.0  1601360         NaN         NaN

2017-05-08
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
825  SH601360   1234765.0  12067440.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
825  SH601360   1234765.0  12067440.0  1601360         NaN         NaN

2017-05-09
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
825  SH601360   2153415.0  21353762.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
825  SH601360   2153415.0  21353762.0  1601360         NaN         NaN

2017-05-10
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
825  SH601360   1819314.0  16994538.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
825  SH601360   1819314.0  16994538.0  1601360         NaN         NaN

2017-05-11
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
823  SH601360   1289951.0  11920198.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
823  SH601360   1289951.0  11920198.0  1601360         NaN         NaN

2017-05-12
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
824  SH601360   1453876.0  13332669.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
824  SH601360   1453876.0  13332669.0  1601360         NaN         NaN

2017-05-15
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
822  SH601360   2414739.0  21874747.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
822  SH601360   2414739.0  21874747.0  1601360         NaN         NaN

2017-05-16
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
823  SH601360   2262188.0  21069283.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
823  SH601360   2262188.0  21069283.0  1601360         NaN         NaN

2017-05-17
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
823  SH601360   2066060.0  19047389.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
823  SH601360   2066060.0  19047389.0  1601360         NaN         NaN

2017-05-18
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
827  SH601360   1237841.0  11265372.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
827  SH601360   1237841.0  11265372.0  1601360         NaN         NaN

2017-05-19
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
829  SH601360   2789657.0  24859898.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
829  SH601360   2789657.0  24859898.0  1601360         NaN         NaN

2017-05-22
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
827  SH601360   2132912.0  18257932.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
827  SH601360   2132912.0  18257932.0  1601360         NaN         NaN

2017-05-23
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
831  SH601360   2194944.0  18203408.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
831  SH601360   2194944.0  18203408.0  1601360         NaN         NaN

2017-05-24
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
830  SH601360   1898579.0  15904676.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
830  SH601360   1898579.0  15904676.0  1601360         NaN         NaN

2017-05-25
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
832  SH601360   1258845.0  10687115.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
832  SH601360   1258845.0  10687115.0  1601360         NaN         NaN

2017-05-26
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
833  SH601360   1262693.0  10827976.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
833  SH601360   1262693.0  10827976.0  1601360         NaN         NaN

2017-05-31
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
831  SH601360   2050611.0  16970033.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
831  SH601360   2050611.0  16970033.0  1601360         NaN         NaN

2017-06-01
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
829  SH601360   1963713.0  15959999.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
829  SH601360   1963713.0  15959999.0  1601360         NaN         NaN

2017-06-02
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
825  SH601360   2288867.0  19412512.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
825  SH601360   2288867.0  19412512.0  1601360         NaN         NaN

2017-06-05
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
824  SH601360   1048551.0   8852716.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
824  SH601360   1048551.0   8852716.0  1601360         NaN         NaN

2017-06-06
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
825  SH601360   2060333.0  17771478.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
825  SH601360   2060333.0  17771478.0  1601360         NaN         NaN

2017-06-07
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
825  SH601360   3706044.0  32693210.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
825  SH601360   3706044.0  32693210.0  1601360         NaN         NaN

2017-06-08
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
825  SH601360   2969816.0  25860762.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
825  SH601360   2969816.0  25860762.0  1601360         NaN         NaN

2017-06-09
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

2017-06-12
trade finished
2017-06-13
trade finished
2017-06-14
trade finished
2017-06-15
trade finished
2017-06-16
trade finished
2017-06-19
trade finished
2017-06-20
trade finished
2017-06-21
trade finished
2017-06-22
trade finished
2017-06-23
trade finished
2017-06-26
trade finished
2017-06-27
trade finished

ValueError: No objects to concatenate

In [9]:
import pymongo
import pandas as pd
import pickle
import datetime
import time
import gzip
import lzma
import pytz


def DB(host, db_name, user, passwd):
    auth_db = db_name if user not in ('admin', 'root') else 'admin'
    uri = 'mongodb://%s:%s@%s/?authSource=%s' % (user, passwd, host, auth_db)
    return DBObj(uri, db_name=db_name)


class DBObj(object):
    def __init__(self, uri, symbol_column='skey', db_name='white_db'):
        self.db_name = db_name
        self.uri = uri
        self.client = pymongo.MongoClient(self.uri)
        self.db = self.client[self.db_name]
        self.chunk_size = 20000
        self.symbol_column = symbol_column
        self.date_column = 'date'

    def parse_uri(self, uri):
        # mongodb://user:password@example.com
        return uri.strip().replace('mongodb://', '').strip('/').replace(':', ' ').replace('@', ' ').split(' ')

    def drop_table(self, table_name):
        self.db.drop_collection(table_name)

    def rename_table(self, old_table, new_table):
        self.db[old_table].rename(new_table)

    def write(self, table_name, df):
        if len(df) == 0: return

        multi_date = False

        if self.date_column in df.columns:
            date = str(df.head(1)[self.date_column].iloc[0])
            multi_date = len(df[self.date_column].unique()) > 1
        else:
            raise Exception('DataFrame should contain date column')

        collection = self.db[table_name]
        collection.create_index([('date', pymongo.ASCENDING), ('symbol', pymongo.ASCENDING)], background=True)
        collection.create_index([('symbol', pymongo.ASCENDING), ('date', pymongo.ASCENDING)], background=True)

        if multi_date:
            for (date, symbol), sub_df in df.groupby([self.date_column, self.symbol_column]):
                date = str(date)
                symbol = int(symbol)
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)
        else:
            for symbol, sub_df in df.groupby([self.symbol_column]):
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)

    def write_single(self, collection, date, symbol, df):
        for start in range(0, len(df), self.chunk_size):
            end = min(start + self.chunk_size, len(df))
            df_seg = df[start:end]
            version = 1
            seg = {'ver': version, 'data': self.ser(df_seg, version), 'date': date, 'symbol': symbol, 'start': start}
            collection.insert_one(seg)

    def build_query(self, start_date=None, end_date=None, symbol=None):
        query = {}

        def parse_date(x):
            if type(x) == str:
                if len(x) != 8:
                    raise Exception("`date` must be YYYYMMDD format")
                return x
            elif type(x) == datetime.datetime or type(x) == datetime.date:
                return x.strftime("%Y%m%d")
            elif type(x) == int:
                return parse_date(str(x))
            else:
                raise Exception("invalid `date` type: " + str(type(x)))

        if start_date is not None or end_date is not None:
            query['date'] = {}
            if start_date is not None:
                query['date']['$gte'] = parse_date(start_date)
            if end_date is not None:
                query['date']['$lte'] = parse_date(end_date)

        def parse_symbol(x):
            if type(x) == int:
                return x
            else:
                return int(x)

        if symbol:
            if type(symbol) == list or type(symbol) == tuple:
                query['symbol'] = {'$in': [parse_symbol(x) for x in symbol]}
            else:
                query['symbol'] = parse_symbol(symbol)

        return query

    def delete(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot delete the whole table')
            return None

        collection.delete_many(query)

    def read(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot read the whole table')
            return None

        segs = []
        for x in collection.find(query):
            x['data'] = self.deser(x['data'], x['ver'])
            segs.append(x)
        segs.sort(key=lambda x: (x['symbol'], x['date'], x['start']))
        return pd.concat([x['data'] for x in segs], ignore_index=True) if segs else None

    def list_tables(self):
        return self.db.collection_names()

    def list_dates(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]
        dates = set()
        if start_date is None:
            start_date = '00000000'
        if end_date is None:
            end_date = '99999999'
        for x in collection.find(self.build_query(start_date, end_date, symbol), {"date": 1, '_id': 0}):
            dates.add(x['date'])
        return sorted(list(dates))

    def ser(self, s, version):
        pickle_protocol = 4
        if version == 1:
            return gzip.compress(pickle.dumps(s, protocol=pickle_protocol), compresslevel=2)
        elif version == 2:
            return lzma.compress(pickle.dumps(s, protocol=pickle_protocol), preset=1)
        else:
            raise Exception('unknown version')

    def deser(self, s, version):
        def unpickle(s):
            return pickle.loads(s)

        if version == 1:
            return unpickle(gzip.decompress(s))
        elif version == 2:
            return unpickle(lzma.decompress(s))
        else:
            raise Exception('unknown version')


def patch_pandas_pickle():
    if pd.__version__ < '0.24':
        import sys
        from types import ModuleType
        from pandas.core.internals import BlockManager
        pkg_name = 'pandas.core.internals.managers'
        if pkg_name not in sys.modules:
            m = ModuleType(pkg_name)
            m.BlockManager = BlockManager
            sys.modules[pkg_name] = m
patch_pandas_pickle()

            
            
            
            
            
            
            
            
import pandas as pd
import random
import numpy as np
import glob
import os
import pickle
import datetime
import time
from decimal import Decimal, Context, ROUND_HALF_UP
pd.set_option("max_columns", 200)

# startTm = datetime.datetime.now()
# readPath = '/home/work516/day_stock/***'
# dataPathLs = np.array(glob.glob(readPath))
# dataPathLs = dataPathLs[[np.array([os.path.basename(i).split('.')[0][:2] == 'SH' for i in dataPathLs])]]
# db = pd.DataFrame()
# for p in dataPathLs:
#     dayData = pd.read_csv(p, compression='gzip')
#     db = pd.concat([db, dayData])
# print(datetime.datetime.now() - startTm)

year = "2017"
startDate = '20170628'
endDate = '20170831'
readPath = '/mnt/usb/data/' + year + '/***/***'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([os.path.basename(i) for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]
date_list = pd.read_csv("/home/work516/KR_upload_code/trading_days.csv")
less = []

for data in dataPathLs:
    
    if len(np.array(glob.glob(data + '/SH/tick***'))) == 0:
        if int(os.path.basename(data)) not in date_list["Date"].values:
            continue
        else:
            print(os.path.basename(data) + " less data!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!")
            less.append(data)
            continue
    date = os.path.basename(data)
    rar_path = data + '/SH/tick.7z'
    path = '/mnt/e/unzip_data/2017/SH'
    path1 = path + '/' + date
    un_path = path1
    cmd = '7za x {} -o{}'.format(rar_path, un_path)
    os.system(cmd)
    
    
    
    readPath = path1 + '/tick/***'
    dataPathLs = np.array(glob.glob(readPath))
    dateLs = np.array([int(os.path.basename(i).split('.')[0]) for i in dataPathLs])
    dataPathLs = dataPathLs[((dateLs >= 600000) & (dateLs <= 700000))]
    TradeLog = []
    ll = []
    
    for i in dataPathLs:
        try:
            df = pd.read_csv(i)
        except:
            print("empty data")
            print(i)
            ll.append(int(os.path.basename(i).split('.')[0]))
            continue
        df["SecurityID"] = int(os.path.basename(i).split('.')[0])
        TradeLog += [df]
    TradeLog = pd.concat(TradeLog).reset_index(drop=True)
    
    TradeLog["date"] = TradeLog["TradeTime"].iloc[0]//1000000000
    TradeLog = TradeLog.rename(columns={"TradeQty":"trade_qty", "TradePrice":"trade_price", 
                                        "TradeBSFlag":"trade_flag", "TradeAmount":"trade_money",
                                       "TradeIndex":"ApplSeqNum", "SellNo":"OfferApplSeqNum",
                                       "BuyNo":"BidApplSeqNum"})
    TradeLog["trade_type"] = 1
    TradeLog["skey"] = TradeLog["SecurityID"] + 1000000
    TradeLog["clockAtArrival"] = TradeLog["TradeTime"].astype(str).apply(lambda x: np.int64(datetime.datetime.strptime(x, '%Y%m%d%H%M%S%f').timestamp()*1e6))
    TradeLog['datetime'] = TradeLog["clockAtArrival"].apply(lambda x: datetime.datetime.fromtimestamp(x/1e6))
    TradeLog["time"] = (TradeLog['TradeTime'] - int(TradeLog['TradeTime'].iloc[0]//1000000000*1000000000)).astype(np.int64)*1000
    TradeLog["trade_flag"] = np.where(TradeLog["trade_flag"] == 'B', 1, np.where(
        TradeLog["trade_flag"] == 'S', 2, 0))
    for col in ["skey", "date", "ApplSeqNum", "BidApplSeqNum", "OfferApplSeqNum", "trade_qty", "trade_type", "trade_flag"]:
        TradeLog[col] = TradeLog[col].astype('int32')
    
    da_te = str(TradeLog["date"].iloc[0]) 
    da_te = da_te[:4] + '-' + da_te[4:6] + '-' + da_te[6:8]
    db1 = db[db["date"] == da_te]
    db1["max_volume"] = db1.groupby("ID")["d_volume"].transform("max")
    db1["max_amount"] = db1.groupby("ID")["d_amount"].transform("max")
    t1 = db1.groupby("ID")["max_volume", "max_amount"].first().reset_index()
    del db1
    t1["skey"] = t1["ID"].str[2:].astype(int) + 1000000
    trade1 = TradeLog[TradeLog["trade_type"] == 1].groupby("skey")["trade_qty"].sum().reset_index()
    trade1.columns=["skey", "cum_volume"]
    trade2 = TradeLog[TradeLog["trade_type"] == 1].groupby("skey")["trade_money"].sum().reset_index()
    trade2.columns=["skey", "cum_amount"]
    t2 = pd.merge(trade1, trade2, on="skey")
    re = pd.merge(t1, t2, on="skey", how="outer")
    re["cum_amount"] = re["cum_amount"].apply(lambda x: np.float(Decimal(round(x, 2)).normalize(Context(prec=len(str(x).split('.')[0]), rounding=ROUND_HALF_UP))))
    try:
        assert(t1.shape[0] == t2.shape[0])
        assert(re[re["cum_volume"] != re["max_volume"]].shape[0] == 0)
        assert(re[re["cum_amount"].round(2) != re["max_amount"]].shape[0] == 0)
    except:
        display(set(t1["skey"]) - set(t2["skey"]))
        display(re[re["cum_volume"] != re["max_volume"]])
        display(re[re["cum_amount"] != re["max_amount"]])
    del t1
    del t2
    del re
 
    TradeLog = TradeLog[["skey", "date", "time", "clockAtArrival", "datetime", "ApplSeqNum", "trade_type", "trade_flag",
                                                 "trade_price", "trade_qty", "BidApplSeqNum", "OfferApplSeqNum"]]
    print(da_te)
    print("trade finished")

    database_name = 'com_md_eq_cn'
    user = "zhenyuy"
    password = "bnONBrzSMGoE"

    db1 = DB("192.168.10.178", database_name, user, password)
    db1.write('md_trade', TradeLog)
    
    del TradeLog
print(less)

20170628 less data!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:275: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

2017-06-29
trade finished

set()

            ID   max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000   36566479.0  462244023.0  1600000    32944728  416385767.0
1     SH600004   16322213.0  299851280.0  1600004    15035313  276309037.0
2     SH600006    4006247.0   23398067.0  1600006     3691847   21561812.0
3     SH600007     590374.0   12242960.0  1600007      553374   11480187.0
4     SH600008  124136844.0  817261808.0  1600008   112552544  740147220.0
...        ...          ...          ...      ...         ...          ...
1213  SH603993  132658048.0  662989852.0  1603993   117495699  588388246.0
1214  SH603996    1872911.0   32148417.0  1603996     1501011   25692085.0
1215  SH603997    3069624.0   44607983.0  1603997     2930624   42597200.0
1216  SH603998    1508570.0   20700716.0  1603998     1389670   19070661.0
1217  SH603999    3340773.0   74351422.0  1603999     2909833   64757189.0

[1218 rows x 6 columns]

            ID   max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000   36566479.0  462244023.0  1600000    32944728  416385767.0
1     SH600004   16322213.0  299851280.0  1600004    15035313  276309037.0
2     SH600006    4006247.0   23398067.0  1600006     3691847   21561812.0
3     SH600007     590374.0   12242960.0  1600007      553374   11480187.0
4     SH600008  124136844.0  817261808.0  1600008   112552544  740147220.0
...        ...          ...          ...      ...         ...          ...
1213  SH603993  132658048.0  662989852.0  1603993   117495699  588388246.0
1214  SH603996    1872911.0   32148417.0  1603996     1501011   25692085.0
1215  SH603997    3069624.0   44607983.0  1603997     2930624   42597200.0
1216  SH603998    1508570.0   20700716.0  1603998     1389670   19070661.0
1217  SH603999    3340773.0   74351422.0  1603999     2909833   64757189.0

[1218 rows x 6 columns]

2017-06-30
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:275: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

2017-07-03
trade finished
2017-07-04
trade finished
2017-07-05
trade finished
2017-07-06
trade finished
2017-07-07
trade finished
2017-07-10
trade finished
2017-07-11
trade finished
2017-07-12
trade finished
2017-07-13
trade finished
2017-07-14
trade finished
2017-07-17
trade finished
2017-07-18
trade finished
2017-07-19
trade finished
2017-07-20
trade finished
2017-07-21
trade finished
2017-07-24
trade finished
2017-07-25
trade finished
2017-07-26
trade finished
2017-07-27
trade finished
2017-07-28
trade finished
2017-07-31
trade finished
2017-08-01
trade finished
2017-08-02
trade finished
2017-08-03
trade finished
2017-08-04
trade finished
2017-08-07
trade finished
2017-08-08
trade finished
2017-08-09
trade finished
2017-08-10
trade finished
2017-08-11
trade finished
2017-08-14
trade finished
2017-08-15
trade finished
2017-08-16
trade finished
2017-08-17
trade finished
2017-08-18
trade finished
2017-08-21
trade finished
2017-08-22
trade finished
2017-08-23
trade finished
2017-08-24
trade finished
2017-08-25
trade finished
2017-08-28
trade finished
2017-08-29
trade finished
2017-08-30
trade finished
2017-08-31
trade finished
['/mnt/usb/data/2017/201706/20170628']

In [1]:
import pymongo
import pandas as pd
import pickle
import datetime
import time
import gzip
import lzma
import pytz


def DB(host, db_name, user, passwd):
    auth_db = db_name if user not in ('admin', 'root') else 'admin'
    uri = 'mongodb://%s:%s@%s/?authSource=%s' % (user, passwd, host, auth_db)
    return DBObj(uri, db_name=db_name)


class DBObj(object):
    def __init__(self, uri, symbol_column='skey', db_name='white_db'):
        self.db_name = db_name
        self.uri = uri
        self.client = pymongo.MongoClient(self.uri)
        self.db = self.client[self.db_name]
        self.chunk_size = 20000
        self.symbol_column = symbol_column
        self.date_column = 'date'

    def parse_uri(self, uri):
        # mongodb://user:password@example.com
        return uri.strip().replace('mongodb://', '').strip('/').replace(':', ' ').replace('@', ' ').split(' ')

    def drop_table(self, table_name):
        self.db.drop_collection(table_name)

    def rename_table(self, old_table, new_table):
        self.db[old_table].rename(new_table)

    def write(self, table_name, df):
        if len(df) == 0: return

        multi_date = False

        if self.date_column in df.columns:
            date = str(df.head(1)[self.date_column].iloc[0])
            multi_date = len(df[self.date_column].unique()) > 1
        else:
            raise Exception('DataFrame should contain date column')

        collection = self.db[table_name]
        collection.create_index([('date', pymongo.ASCENDING), ('symbol', pymongo.ASCENDING)], background=True)
        collection.create_index([('symbol', pymongo.ASCENDING), ('date', pymongo.ASCENDING)], background=True)

        if multi_date:
            for (date, symbol), sub_df in df.groupby([self.date_column, self.symbol_column]):
                date = str(date)
                symbol = int(symbol)
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)
        else:
            for symbol, sub_df in df.groupby([self.symbol_column]):
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)

    def write_single(self, collection, date, symbol, df):
        for start in range(0, len(df), self.chunk_size):
            end = min(start + self.chunk_size, len(df))
            df_seg = df[start:end]
            version = 1
            seg = {'ver': version, 'data': self.ser(df_seg, version), 'date': date, 'symbol': symbol, 'start': start}
            collection.insert_one(seg)

    def build_query(self, start_date=None, end_date=None, symbol=None):
        query = {}

        def parse_date(x):
            if type(x) == str:
                if len(x) != 8:
                    raise Exception("`date` must be YYYYMMDD format")
                return x
            elif type(x) == datetime.datetime or type(x) == datetime.date:
                return x.strftime("%Y%m%d")
            elif type(x) == int:
                return parse_date(str(x))
            else:
                raise Exception("invalid `date` type: " + str(type(x)))

        if start_date is not None or end_date is not None:
            query['date'] = {}
            if start_date is not None:
                query['date']['$gte'] = parse_date(start_date)
            if end_date is not None:
                query['date']['$lte'] = parse_date(end_date)

        def parse_symbol(x):
            if type(x) == int:
                return x
            else:
                return int(x)

        if symbol:
            if type(symbol) == list or type(symbol) == tuple:
                query['symbol'] = {'$in': [parse_symbol(x) for x in symbol]}
            else:
                query['symbol'] = parse_symbol(symbol)

        return query

    def delete(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot delete the whole table')
            return None

        collection.delete_many(query)

    def read(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot read the whole table')
            return None

        segs = []
        for x in collection.find(query):
            x['data'] = self.deser(x['data'], x['ver'])
            segs.append(x)
        segs.sort(key=lambda x: (x['symbol'], x['date'], x['start']))
        return pd.concat([x['data'] for x in segs], ignore_index=True) if segs else None

    def list_tables(self):
        return self.db.collection_names()

    def list_dates(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]
        dates = set()
        if start_date is None:
            start_date = '00000000'
        if end_date is None:
            end_date = '99999999'
        for x in collection.find(self.build_query(start_date, end_date, symbol), {"date": 1, '_id': 0}):
            dates.add(x['date'])
        return sorted(list(dates))

    def ser(self, s, version):
        pickle_protocol = 4
        if version == 1:
            return gzip.compress(pickle.dumps(s, protocol=pickle_protocol), compresslevel=2)
        elif version == 2:
            return lzma.compress(pickle.dumps(s, protocol=pickle_protocol), preset=1)
        else:
            raise Exception('unknown version')

    def deser(self, s, version):
        def unpickle(s):
            return pickle.loads(s)

        if version == 1:
            return unpickle(gzip.decompress(s))
        elif version == 2:
            return unpickle(lzma.decompress(s))
        else:
            raise Exception('unknown version')


def patch_pandas_pickle():
    if pd.__version__ < '0.24':
        import sys
        from types import ModuleType
        from pandas.core.internals import BlockManager
        pkg_name = 'pandas.core.internals.managers'
        if pkg_name not in sys.modules:
            m = ModuleType(pkg_name)
            m.BlockManager = BlockManager
            sys.modules[pkg_name] = m
patch_pandas_pickle()

            
            
            
            
            
            
            
            
import pandas as pd
import random
import numpy as np
import glob
import os
import pickle
import datetime
import time
from decimal import Decimal, Context, ROUND_HALF_UP
pd.set_option("max_columns", 200)

startTm = datetime.datetime.now()
readPath = '/home/work516/day_stock/***'
dataPathLs = np.array(glob.glob(readPath))
dataPathLs = dataPathLs[[np.array([os.path.basename(i).split('.')[0][:2] == 'SH' for i in dataPathLs])]]
db = pd.DataFrame()
for p in dataPathLs:
    dayData = pd.read_csv(p, compression='gzip')
    db = pd.concat([db, dayData])
print(datetime.datetime.now() - startTm)


date_list = pd.read_csv("/home/work516/KR_upload_code/trading_days.csv")
less = []

data = '/home/work516/KR_upload_code/20170628'
date = os.path.basename(data)
rar_path = data + '/SH/tick.7z'
path = '/mnt/e/unzip_data/2017/SH'
path1 = path + '/' + date
un_path = path1
cmd = '7za x {} -o{}'.format(rar_path, un_path)
os.system(cmd)



readPath = path1 + '/tick/***'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([int(os.path.basename(i).split('.')[0]) for i in dataPathLs])
dataPathLs = dataPathLs[((dateLs >= 600000) & (dateLs <= 700000))]
TradeLog = []
ll = []

for i in dataPathLs:
    try:
        df = pd.read_csv(i)
    except:
        print("empty data")
        print(i)
        ll.append(int(os.path.basename(i).split('.')[0]))
        continue
    df["SecurityID"] = int(os.path.basename(i).split('.')[0])
    TradeLog += [df]
TradeLog = pd.concat(TradeLog).reset_index(drop=True)

TradeLog["date"] = TradeLog["TradeTime"].iloc[0]//1000000000
TradeLog = TradeLog.rename(columns={"TradeQty":"trade_qty", "TradePrice":"trade_price", 
                                    "TradeBSFlag":"trade_flag", "TradeAmount":"trade_money",
                                   "TradeIndex":"ApplSeqNum", "SellNo":"OfferApplSeqNum",
                                   "BuyNo":"BidApplSeqNum"})
TradeLog["trade_type"] = 1
TradeLog["skey"] = TradeLog["SecurityID"] + 1000000
TradeLog["clockAtArrival"] = TradeLog["TradeTime"].astype(str).apply(lambda x: np.int64(datetime.datetime.strptime(x, '%Y%m%d%H%M%S%f').timestamp()*1e6))
TradeLog['datetime'] = TradeLog["clockAtArrival"].apply(lambda x: datetime.datetime.fromtimestamp(x/1e6))
TradeLog["time"] = (TradeLog['TradeTime'] - int(TradeLog['TradeTime'].iloc[0]//1000000000*1000000000)).astype(np.int64)*1000
TradeLog["trade_flag"] = np.where(TradeLog["trade_flag"] == 'B', 1, np.where(
    TradeLog["trade_flag"] == 'S', 2, 0))
for col in ["skey", "date", "ApplSeqNum", "BidApplSeqNum", "OfferApplSeqNum", "trade_qty", "trade_type", "trade_flag"]:
    TradeLog[col] = TradeLog[col].astype('int32')

da_te = str(TradeLog["date"].iloc[0]) 
da_te = da_te[:4] + '-' + da_te[4:6] + '-' + da_te[6:8]
db1 = db[db["date"] == da_te]
db1["max_volume"] = db1.groupby("ID")["d_volume"].transform("max")
db1["max_amount"] = db1.groupby("ID")["d_amount"].transform("max")
t1 = db1.groupby("ID")["max_volume", "max_amount"].first().reset_index()
del db1
t1["skey"] = t1["ID"].str[2:].astype(int) + 1000000
trade1 = TradeLog[TradeLog["trade_type"] == 1].groupby("skey")["trade_qty"].sum().reset_index()
trade1.columns=["skey", "cum_volume"]
trade2 = TradeLog[TradeLog["trade_type"] == 1].groupby("skey")["trade_money"].sum().reset_index()
trade2.columns=["skey", "cum_amount"]
t2 = pd.merge(trade1, trade2, on="skey")
re = pd.merge(t1, t2, on="skey", how="outer")
re["cum_amount"] = re["cum_amount"].apply(lambda x: np.float(Decimal(round(x, 2)).normalize(Context(prec=len(str(x).split('.')[0]), rounding=ROUND_HALF_UP))))
try:
    assert(t1.shape[0] == t2.shape[0])
    assert(re[re["cum_volume"] != re["max_volume"]].shape[0] == 0)
    assert(re[re["cum_amount"].round(2) != re["max_amount"]].shape[0] == 0)
except:
    display(set(t1["skey"]) - set(t2["skey"]))
    display(re[re["cum_volume"] != re["max_volume"]])
    display(re[re["cum_amount"] != re["max_amount"]])
del t1
del t2
del re

TradeLog = TradeLog[["skey", "date", "time", "clockAtArrival", "datetime", "ApplSeqNum", "trade_type", "trade_flag",
                                             "trade_price", "trade_qty", "BidApplSeqNum", "OfferApplSeqNum"]]
print(da_te)
print("trade finished")

# database_name = 'com_md_eq_cn'
# user = "zhenyuy"
# password = "bnONBrzSMGoE"

# db1 = DB("192.168.10.178", database_name, user, password)
# db1.write('md_trade', TradeLog)

# del TradeLog

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:201: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.

0:02:56.591463

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:260: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:261: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:262: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

2017-06-28
trade finished