In [2]:
import pymongo
import pandas as pd
import pickle
import datetime
import time
import gzip
import lzma
import pytz


def DB(host, db_name, user, passwd):
    auth_db = db_name if user not in ('admin', 'root') else 'admin'
    uri = 'mongodb://%s:%s@%s/?authSource=%s' % (user, passwd, host, auth_db)
    return DBObj(uri, db_name=db_name)


class DBObj(object):
    def __init__(self, uri, symbol_column='skey', db_name='white_db'):
        self.db_name = db_name
        self.uri = uri
        self.client = pymongo.MongoClient(self.uri)
        self.db = self.client[self.db_name]
        self.chunk_size = 20000
        self.symbol_column = symbol_column
        self.date_column = 'date'

    def parse_uri(self, uri):
        # mongodb://user:password@example.com
        return uri.strip().replace('mongodb://', '').strip('/').replace(':', ' ').replace('@', ' ').split(' ')

    def drop_table(self, table_name):
        self.db.drop_collection(table_name)

    def rename_table(self, old_table, new_table):
        self.db[old_table].rename(new_table)

    def write(self, table_name, df):
        if len(df) == 0: return

        multi_date = False

        if self.date_column in df.columns:
            date = str(df.head(1)[self.date_column].iloc[0])
            multi_date = len(df[self.date_column].unique()) > 1
        else:
            raise Exception('DataFrame should contain date column')

        collection = self.db[table_name]
        collection.create_index([('date', pymongo.ASCENDING), ('symbol', pymongo.ASCENDING)], background=True)
        collection.create_index([('symbol', pymongo.ASCENDING), ('date', pymongo.ASCENDING)], background=True)

        if multi_date:
            for (date, symbol), sub_df in df.groupby([self.date_column, self.symbol_column]):
                date = str(date)
                symbol = int(symbol)
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)
        else:
            for symbol, sub_df in df.groupby([self.symbol_column]):
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)

    def write_single(self, collection, date, symbol, df):
        for start in range(0, len(df), self.chunk_size):
            end = min(start + self.chunk_size, len(df))
            df_seg = df[start:end]
            version = 1
            seg = {'ver': version, 'data': self.ser(df_seg, version), 'date': date, 'symbol': symbol, 'start': start}
            collection.insert_one(seg)

    def build_query(self, start_date=None, end_date=None, symbol=None):
        query = {}

        def parse_date(x):
            if type(x) == str:
                if len(x) != 8:
                    raise Exception("`date` must be YYYYMMDD format")
                return x
            elif type(x) == datetime.datetime or type(x) == datetime.date:
                return x.strftime("%Y%m%d")
            elif type(x) == int:
                return parse_date(str(x))
            else:
                raise Exception("invalid `date` type: " + str(type(x)))

        if start_date is not None or end_date is not None:
            query['date'] = {}
            if start_date is not None:
                query['date']['$gte'] = parse_date(start_date)
            if end_date is not None:
                query['date']['$lte'] = parse_date(end_date)

        def parse_symbol(x):
            if type(x) == int:
                return x
            else:
                return int(x)

        if symbol:
            if type(symbol) == list or type(symbol) == tuple:
                query['symbol'] = {'$in': [parse_symbol(x) for x in symbol]}
            else:
                query['symbol'] = parse_symbol(symbol)

        return query

    def delete(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot delete the whole table')
            return None

        collection.delete_many(query)

    def read(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot read the whole table')
            return None

        segs = []
        for x in collection.find(query):
            x['data'] = self.deser(x['data'], x['ver'])
            segs.append(x)
        segs.sort(key=lambda x: (x['symbol'], x['date'], x['start']))
        return pd.concat([x['data'] for x in segs], ignore_index=True) if segs else None

    def list_tables(self):
        return self.db.collection_names()

    def list_dates(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]
        dates = set()
        if start_date is None:
            start_date = '00000000'
        if end_date is None:
            end_date = '99999999'
        for x in collection.find(self.build_query(start_date, end_date, symbol), {"date": 1, '_id': 0}):
            dates.add(x['date'])
        return sorted(list(dates))

    def ser(self, s, version):
        pickle_protocol = 4
        if version == 1:
            return gzip.compress(pickle.dumps(s, protocol=pickle_protocol), compresslevel=2)
        elif version == 2:
            return lzma.compress(pickle.dumps(s, protocol=pickle_protocol), preset=1)
        else:
            raise Exception('unknown version')

    def deser(self, s, version):
        def unpickle(s):
            return pickle.loads(s)

        if version == 1:
            return unpickle(gzip.decompress(s))
        elif version == 2:
            return unpickle(lzma.decompress(s))
        else:
            raise Exception('unknown version')


def patch_pandas_pickle():
    if pd.__version__ < '0.24':
        import sys
        from types import ModuleType
        from pandas.core.internals import BlockManager
        pkg_name = 'pandas.core.internals.managers'
        if pkg_name not in sys.modules:
            m = ModuleType(pkg_name)
            m.BlockManager = BlockManager
            sys.modules[pkg_name] = m
patch_pandas_pickle()


            
            
            
            
            
            
            
            
import pandas as pd
import random
import numpy as np
import glob
import os
import pickle
import datetime
import time
pd.set_option("max_columns", 200)

startTm = datetime.datetime.now()
readPath = '/home/work516/day_stock/***'
dataPathLs = np.array(glob.glob(readPath))
dataPathLs = dataPathLs[[np.array([os.path.basename(i).split('.')[0][:2] == 'SZ' for i in dataPathLs])]]
db = pd.DataFrame()
for p in dataPathLs:
    dayData = pd.read_csv(p, compression='gzip')
    db = pd.concat([db, dayData])
print(datetime.datetime.now() - startTm)

year = "2018"
startDate = '20180101'
endDate = '20181231'
readPath = '/mnt/usb/data/' + year + '/***/***'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([os.path.basename(i) for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]

for data in dataPathLs:
    
    if len(np.array(glob.glob(data + '/SZ/***'))) == 0:
        if int(os.path.basename(data)) not in date_list["Date"].values:
            continue
        else:
            print(os.path.basename(data) + " less data!!!!!!!!!!!!!!!!!")
            less.append(data)
            continue
    startTm = datetime.datetime.now()
    date = os.path.basename(data)
    rar_path = data + '/SZ/tick.7z'
    path = '/mnt/e/unzip_data/2018/SZ'
    path1 = path + '/' + date
    un_path = path1
    cmd = '7za x {} -o{}'.format(rar_path, un_path)
    os.system(cmd)
    print(datetime.datetime.now() - startTm)
    print(date + ' unzip finished')
    
    
    startTm = datetime.datetime.now()
    
    readPath = path1 + '/tick/***'
    dataPathLs = np.array(glob.glob(readPath))
    dateLs = np.array([int(os.path.basename(i).split('.')[0]) for i in dataPathLs])
    dataPathLs = dataPathLs[(dateLs < 4000) | ((dateLs > 300000) & (dateLs < 310000))]
    TradeLog = []
    ll = []
    
    for i in dataPathLs:
        try:
            df = pd.read_csv(i)
        except:
            print("empty data")
            print(i)
            ll.append(int(os.path.basename(i).split('.')[0]))
            continue
        df["SecurityID"] = int(os.path.basename(i).split('.')[0])
        TradeLog += [df]
    TradeLog = pd.concat(TradeLog).reset_index(drop=True)
    TradeLog = TradeLog[TradeLog["ChannelNo"] != 4001]
    
    TradeLog["date"] = TradeLog["TransactTime"].iloc[0]//1000000000
    TradeLog = TradeLog.rename(columns={"Qty":"trade_qty", "Price":"trade_price", "ExecType":"trade_type"})
    TradeLog["trade_money"] = TradeLog["trade_price"] * TradeLog["trade_qty"]
    TradeLog["trade_flag"] = 0
    TradeLog["skey"] = TradeLog["SecurityID"] + 2000000
    TradeLog["clockAtArrival"] = TradeLog["TransactTime"].astype(str).apply(lambda x: np.int64(datetime.datetime.strptime(x, '%Y%m%d%H%M%S%f').timestamp()*1e6))
    TradeLog['datetime'] = TradeLog["clockAtArrival"].apply(lambda x: datetime.datetime.fromtimestamp(x/1e6))
    TradeLog["time"] = (TradeLog['TransactTime'] - int(TradeLog['TransactTime'].iloc[0]//1000000000*1000000000)).astype(np.int64)*1000
    TradeLog["trade_type"] = np.where(TradeLog["trade_type"] == 'F', 1, TradeLog["trade_type"])
    for col in ["skey", "date", "ApplSeqNum", "BidApplSeqNum", "OfferApplSeqNum", "trade_qty", "trade_type", "trade_flag"]:
        TradeLog[col] = TradeLog[col].astype('int32')
#     for cols in ["trade_money", "trade_price"]:
#         display(cols)
#         display(TradeLog[cols].astype(str).apply(lambda x: len(str(x.split('.')[1]))).unique())
#         TradeLog[cols] = TradeLog[cols].round(2)
#         display(TradeLog[cols].astype(str).apply(lambda x: len(str(x.split('.')[1]))).unique())
    for cols in ["trade_money"]:
        TradeLog[cols] = TradeLog[cols].round(2)
    
    da_te = str(TradeLog["date"].iloc[0]) 
    da_te = da_te[:4] + '-' + da_te[4:6] + '-' + da_te[6:8]
    db1 = db[db["date"] == da_te]
    sl = (db1["ID"].str[2:].astype(int) + 2000000).unique()
    db1["max_volume"] = db1.groupby("ID")["d_volume"].transform("max")
    db1["max_amount"] = db1.groupby("ID")["d_amount"].transform("max")
    t1 = db1.groupby("ID")["max_volume", "max_amount"].first().reset_index()
    del db1
    t1["skey"] = t1["ID"].str[2:].astype(int) + 2000000
    trade1 = TradeLog[TradeLog["trade_type"] == 1].groupby("skey")["trade_qty"].sum().reset_index()
    trade1.columns=["skey", "cum_volume"]
    trade2 = TradeLog[TradeLog["trade_type"] == 1].groupby("skey")["trade_money"].sum().reset_index()
    trade2.columns=["skey", "cum_amount"]
    t2 = pd.merge(trade1, trade2, on="skey")
    re = pd.merge(t1, t2, on="skey", how="outer")
    try:
        assert(t1.shape[0] == t2.shape[0])
        assert(re[re["cum_volume"] != re["max_volume"]].shape[0] == 0)
        assert(re[re["cum_amount"].round(2) != re["max_amount"]].shape[0] == 0)
    except:
        display(set(t1["skey"]) - set(t2["skey"]))
        display(re[re["cum_volume"] != re["max_volume"]])
        display(re[re["cum_amount"].round(2) != re["max_amount"]])
    del t1
    del t2
    del re
 
    TradeLog = TradeLog[["skey", "date", "time", "clockAtArrival", "datetime", "ApplSeqNum", "trade_type", "trade_flag",
                                                 "trade_price", "trade_qty", "BidApplSeqNum", "OfferApplSeqNum"]]
    print(da_te)
    print("trade finished")


    database_name = 'com_md_eq_cn'
    user = "zhenyuy"
    password = "bnONBrzSMGoE"

    db1 = DB("192.168.10.223", database_name, user, password)
    db1.write('md_trade', TradeLog)    
    
    del TradeLog

    print(datetime.datetime.now() - startTm)

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:201: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.

0:05:12.233952
0:00:18.661941
20180102 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
419  SZ001914   3136182.0  30894568.54  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
419  SZ001914   3136182.0  30894568.54  2001914         NaN         NaN

2018-01-02
trade finished
0:05:15.006382
0:00:20.805704
20180103 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001914   3575395.0  35144676.28  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001914   3575395.0  35144676.28  2001914         NaN         NaN

2018-01-03
trade finished
0:06:31.859772
0:00:20.110995
20180104 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001914   2205793.0  21571163.83  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001914   2205793.0  21571163.83  2001914         NaN         NaN

2018-01-04
trade finished
0:06:14.084985
0:00:19.528185
20180105 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
419  SZ001914   8049570.0  80516474.62  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
419  SZ001914   8049570.0  80516474.62  2001914         NaN         NaN

2018-01-05
trade finished
0:05:58.721894
0:00:27.076576
20180108 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
419  SZ001914   6457055.0  65264376.29  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
419  SZ001914   6457055.0  65264376.29  2001914         NaN         NaN

2018-01-08
trade finished
0:06:19.696030
0:00:17.869429
20180109 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
419  SZ001914   4104800.0  41190143.0  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
419  SZ001914   4104800.0  41190143.0  2001914         NaN         NaN

2018-01-09
trade finished
0:05:43.159371
0:00:19.885363
20180110 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
420  SZ001914   5576895.0  54965076.3  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
420  SZ001914   5576895.0  54965076.3  2001914         NaN         NaN

2018-01-10
trade finished
0:06:28.760862
0:00:20.042791
20180111 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001914   4698270.0  45605047.68  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001914   4698270.0  45605047.68  2001914         NaN         NaN

2018-01-11
trade finished
0:06:06.872256
0:00:20.572539
20180112 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
420  SZ001914  11261374.0  1.157647e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
420  SZ001914  11261374.0  1.157647e+08  2001914         NaN         NaN

2018-01-12
trade finished
0:06:06.287370
0:00:21.762358
20180115 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
423  SZ001914   6057750.0  60689242.44  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
423  SZ001914   6057750.0  60689242.44  2001914         NaN         NaN

2018-01-15
trade finished
0:07:01.951708
0:00:19.824146
20180116 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
425  SZ001914   6534810.0  66653948.48  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
425  SZ001914   6534810.0  66653948.48  2001914         NaN         NaN

2018-01-16
trade finished
0:06:01.560334
0:00:45.804849
20180117 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
425  SZ001914   4519265.0  45850738.74  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
425  SZ001914   4519265.0  45850738.74  2001914         NaN         NaN

2018-01-17
trade finished
0:06:49.294705
0:00:18.345779
20180118 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
426  SZ001914   3444100.0  34614242.0  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
426  SZ001914   3444100.0  34614242.0  2001914         NaN         NaN

2018-01-18
trade finished
0:05:26.817469
0:00:18.407122
20180119 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
425  SZ001914   3593312.0  35807861.56  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
425  SZ001914   3593312.0  35807861.56  2001914         NaN         NaN

2018-01-19
trade finished
0:05:56.598981
0:00:19.390953
20180122 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
426  SZ001914   4553370.0  45218143.8  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
426  SZ001914   4553370.0  45218143.8  2001914         NaN         NaN

2018-01-22
trade finished
0:06:00.618661
0:00:18.014898
20180123 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
427  SZ001914   5162796.0  52665183.91  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
427  SZ001914   5162796.0  52665183.91  2001914         NaN         NaN

2018-01-23
trade finished
0:05:34.202083
0:00:25.181016
20180124 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
426  SZ001914   5015210.0  51458675.9  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
426  SZ001914   5015210.0  51458675.9  2001914         NaN         NaN

2018-01-24
trade finished
0:06:26.010471
0:00:21.152127
20180125 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
424  SZ001914   5596383.0  56630224.38  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
424  SZ001914   5596383.0  56630224.38  2001914         NaN         NaN

2018-01-25
trade finished
0:06:50.235519
0:00:18.181454
20180126 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
422  SZ001914   2542400.0  25644683.46  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
422  SZ001914   2542400.0  25644683.46  2001914         NaN         NaN

2018-01-26
trade finished
0:05:52.308040
0:00:20.540640
20180129 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
423  SZ001914   3028030.0  30365167.6  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
423  SZ001914   3028030.0  30365167.6  2001914         NaN         NaN

2018-01-29
trade finished
0:06:18.971288
0:00:16.497899
20180130 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
422  SZ001914   1573900.0  15725609.0  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
422  SZ001914   1573900.0  15725609.0  2001914         NaN         NaN

2018-01-30
trade finished
0:05:23.181315
0:00:20.864289
20180131 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
421  SZ001914   3640078.0  36537357.5  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
421  SZ001914   3640078.0  36537357.5  2001914         NaN         NaN

2018-01-31
trade finished
0:06:09.880505
0:00:23.147932
20180201 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001914   6031253.0  58685915.78  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001914   6031253.0  58685915.78  2001914         NaN         NaN

2018-02-01
trade finished
0:06:43.414828
0:00:17.506371
20180202 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
418  SZ001914   3974457.0  37457139.67  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
418  SZ001914   3974457.0  37457139.67  2001914         NaN         NaN

2018-02-02
trade finished
0:05:38.809336
0:00:15.462438
20180205 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
412  SZ001914   2202514.0  20542053.58  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
412  SZ001914   2202514.0  20542053.58  2001914         NaN         NaN

2018-02-05
trade finished
0:04:53.130986
0:00:17.435205
20180206 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
410  SZ001914   5573912.0  49360184.4  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
410  SZ001914   5573912.0  49360184.4  2001914         NaN         NaN

2018-02-06
trade finished
0:06:12.553403
0:00:17.818737
20180207 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
410  SZ001914   5173501.0  45147633.7  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
410  SZ001914   5173501.0  45147633.7  2001914         NaN         NaN

2018-02-07
trade finished
0:05:46.758571
0:00:17.089304
20180208 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
411  SZ001914   2748406.0  24061124.3  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
411  SZ001914   2748406.0  24061124.3  2001914         NaN         NaN

2018-02-08
trade finished
0:05:14.347728
0:00:19.160637
20180209 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
411  SZ001914   3860987.0  32241730.83  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
411  SZ001914   3860987.0  32241730.83  2001914         NaN         NaN

2018-02-09
trade finished
0:06:33.527296
0:00:15.380868
20180212 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
413  SZ001914   2406677.0  20327253.99  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
413  SZ001914   2406677.0  20327253.99  2001914         NaN         NaN

2018-02-12
trade finished
0:04:42.555945
0:00:14.764480
20180213 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
413  SZ001914   2959257.0  25612556.46  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
413  SZ001914   2959257.0  25612556.46  2001914         NaN         NaN

2018-02-13
trade finished
0:04:28.539569
0:00:13.589329
20180214 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
417  SZ001914   2221403.0  19111113.12  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
417  SZ001914   2221403.0  19111113.12  2001914         NaN         NaN

2018-02-14
trade finished
0:03:34.850763
0:00:13.627577
20180222 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001914   2765322.0  23928838.19  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001914   2765322.0  23928838.19  2001914         NaN         NaN

2018-02-22
trade finished
0:04:07.416016
0:00:18.483667
20180223 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
422  SZ001914   2193570.0  18998641.9  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
422  SZ001914   2193570.0  18998641.9  2001914         NaN         NaN

2018-02-23
trade finished
0:04:48.704468
0:00:19.286410
20180226 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
423  SZ001914   3648952.0  31888949.12  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
423  SZ001914   3648952.0  31888949.12  2001914         NaN         NaN

2018-02-26
trade finished
0:06:05.286850
0:00:20.297293
20180227 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
423  SZ001914   2413640.0  21156574.2  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
423  SZ001914   2413640.0  21156574.2  2001914         NaN         NaN

2018-02-27
trade finished
0:06:22.438585
0:00:20.972110
20180228 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001914   8649022.0  78747765.31  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001914   8649022.0  78747765.31  2001914         NaN         NaN

2018-02-28
trade finished
0:06:03.958241
0:00:19.420440
20180301 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
420  SZ001914   2756662.0  25199680.11  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
420  SZ001914   2756662.0  25199680.11  2001914         NaN         NaN

2018-03-01
trade finished
0:06:36.754237
0:00:19.220708
20180302 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
420  SZ001914   2500745.0  22978370.96  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
420  SZ001914   2500745.0  22978370.96  2001914         NaN         NaN

2018-03-02
trade finished
0:06:10.469462
0:00:18.870198
20180305 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
420  SZ001914   3266642.0  29569901.45  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
420  SZ001914   3266642.0  29569901.45  2001914         NaN         NaN

2018-03-05
trade finished
0:05:36.448018
0:00:21.052323
20180306 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001914   3035494.0  27601035.22  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001914   3035494.0  27601035.22  2001914         NaN         NaN

2018-03-06
trade finished
0:06:38.183623
0:00:19.736640
20180307 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001914   2229002.0  20232466.29  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001914   2229002.0  20232466.29  2001914         NaN         NaN

2018-03-07
trade finished
0:06:05.855511
0:00:18.620221
20180308 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
420  SZ001914   2844066.0  25694411.2  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
420  SZ001914   2844066.0  25694411.2  2001914         NaN         NaN

2018-03-08
trade finished
0:05:59.421667
0:00:22.677042
20180309 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
423  SZ001914   3859237.0  35020906.55  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
423  SZ001914   3859237.0  35020906.55  2001914         NaN         NaN

2018-03-09
trade finished
0:07:18.373847
0:00:27.177256
20180312 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

            ID   max_volume    max_amount     skey   cum_volume    cum_amount
0     SZ000001  126870132.0  1.526643e+09  2000001  126002312.0  1.516183e+09
1     SZ000002   60620829.0  1.979205e+09  2000002   59631126.0  1.946804e+09
2     SZ000004    1140934.0  2.431713e+07  2000004    1140434.0  2.430660e+07
3     SZ000005    8090280.0  3.332755e+07  2000005    8050080.0  3.316269e+07
4     SZ000006   73831689.0  6.359677e+08  2000006   73434289.0  6.325524e+08
...        ...          ...           ...      ...          ...           ...
1913  SZ300737   22504298.0  3.697260e+08  2300737   22334434.0  3.669388e+08
1914  SZ300738    9004548.0  6.864826e+08  2300738    8945948.0  6.817759e+08
1915  SZ300739   15034608.0  7.093033e+08  2300739   14943764.0  7.049182e+08
1916  SZ300740   12839371.0  6.422650e+08  2300740   12723271.0  6.362952e+08
1917  SZ300741   15715495.0  8.594732e+08  2300741   15614795.0  8.541453e+08

[1910 rows x 6 columns]

            ID   max_volume    max_amount     skey   cum_volume    cum_amount
0     SZ000001  126870132.0  1.526643e+09  2000001  126002312.0  1.516183e+09
1     SZ000002   60620829.0  1.979205e+09  2000002   59631126.0  1.946804e+09
2     SZ000004    1140934.0  2.431713e+07  2000004    1140434.0  2.430660e+07
3     SZ000005    8090280.0  3.332755e+07  2000005    8050080.0  3.316269e+07
4     SZ000006   73831689.0  6.359677e+08  2000006   73434289.0  6.325524e+08
...        ...          ...           ...      ...          ...           ...
1913  SZ300737   22504298.0  3.697260e+08  2300737   22334434.0  3.669388e+08
1914  SZ300738    9004548.0  6.864826e+08  2300738    8945948.0  6.817759e+08
1915  SZ300739   15034608.0  7.093033e+08  2300739   14943764.0  7.049182e+08
1916  SZ300740   12839371.0  6.422650e+08  2300740   12723271.0  6.362952e+08
1917  SZ300741   15715495.0  8.594732e+08  2300741   15614795.0  8.541453e+08

[1910 rows x 6 columns]

2018-03-12
trade finished
0:07:56.458757
0:00:22.082594
20180313 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001914   3367860.0  30679793.05  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001914   3367860.0  30679793.05  2001914         NaN         NaN

2018-03-13
trade finished
0:07:22.695398
0:00:21.415877
20180314 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
420  SZ001914   1975753.0  17963229.79  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
420  SZ001914   1975753.0  17963229.79  2001914         NaN         NaN

2018-03-14
trade finished
0:06:20.975263
0:00:20.340601
20180315 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
424  SZ001914   2635313.0  23893577.84  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
424  SZ001914   2635313.0  23893577.84  2001914         NaN         NaN

2018-03-15
trade finished
0:06:21.755986
0:00:17.872644
20180316 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
424  SZ001914   1983378.0  18022878.12  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
424  SZ001914   1983378.0  18022878.12  2001914         NaN         NaN

2018-03-16
trade finished
0:05:38.526902
0:00:17.557895
20180319 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
424  SZ001914   2098845.0  18914823.7  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
424  SZ001914   2098845.0  18914823.7  2001914         NaN         NaN

2018-03-19
trade finished
0:05:27.083702
0:00:19.004415
20180320 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
423  SZ001914   2006399.0  17957497.91  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
423  SZ001914   2006399.0  17957497.91  2001914         NaN         NaN

2018-03-20
trade finished
0:06:07.723049
0:00:21.569818
20180321 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
424  SZ001914   2811159.0  25383269.69  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
424  SZ001914   2811159.0  25383269.69  2001914         NaN         NaN

2018-03-21
trade finished
0:06:55.364834
0:00:20.215681
20180322 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
423  SZ001914   6270537.0  57586320.6  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
423  SZ001914   6270537.0  57586320.6  2001914         NaN         NaN

2018-03-22
trade finished
0:06:00.112210
0:00:25.156304
20180323 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
423  SZ001914   6723156.0  60277245.66  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
423  SZ001914   6723156.0  60277245.66  2001914         NaN         NaN

2018-03-23
trade finished
0:08:24.669887
0:00:19.995442
20180326 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
422  SZ001914   2176182.0  19044257.22  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
422  SZ001914   2176182.0  19044257.22  2001914         NaN         NaN

2018-03-26
trade finished
0:06:23.540815
0:00:24.174832
20180327 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
421  SZ001914   2064104.0  18565280.7  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
421  SZ001914   2064104.0  18565280.7  2001914         NaN         NaN

2018-03-27
trade finished
0:07:04.681714
0:00:31.765622
20180328 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
421  SZ001914   2665100.0  23779654.0  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
421  SZ001914   2665100.0  23779654.0  2001914         NaN         NaN

2018-03-28
trade finished
0:06:55.308163
0:00:21.844647
20180329 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001914   2633000.0  23649353.49  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001914   2633000.0  23649353.49  2001914         NaN         NaN

2018-03-29
trade finished
0:06:34.037448
0:00:25.451724
20180330 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

            ID  max_volume    max_amount     skey  cum_volume    cum_amount
0     SZ000001  75217368.0  8.234382e+08  2000001  74618268.0  8.168946e+08
1     SZ000002  57269205.0  1.918089e+09  2000002  57188205.0  1.915359e+09
2     SZ000004    629640.0  1.431754e+07  2000004    629540.0  1.431527e+07
3     SZ000005  13418319.0  5.184081e+07  2000005  13378319.0  5.168441e+07
4     SZ000006  20902057.0  1.547472e+08  2000006  20752057.0  1.536319e+08
...        ...         ...           ...      ...         ...           ...
1920  SZ300737   8383303.0  1.225786e+08  2300737   8376203.0  1.224752e+08
1921  SZ300738   4667346.0  3.539655e+08  2300738   4650946.0  3.527582e+08
1922  SZ300739   7198699.0  2.986254e+08  2300739   7173499.0  2.975974e+08
1923  SZ300740   7553433.0  4.305718e+08  2300740   7535433.0  4.295622e+08
1924  SZ300741   3178501.0  1.452413e+08  2300741   3175001.0  1.450813e+08

[1788 rows x 6 columns]

            ID  max_volume    max_amount     skey  cum_volume    cum_amount
0     SZ000001  75217368.0  8.234382e+08  2000001  74618268.0  8.168946e+08
1     SZ000002  57269205.0  1.918089e+09  2000002  57188205.0  1.915359e+09
2     SZ000004    629640.0  1.431754e+07  2000004    629540.0  1.431527e+07
3     SZ000005  13418319.0  5.184081e+07  2000005  13378319.0  5.168441e+07
4     SZ000006  20902057.0  1.547472e+08  2000006  20752057.0  1.536319e+08
...        ...         ...           ...      ...         ...           ...
1920  SZ300737   8383303.0  1.225786e+08  2300737   8376203.0  1.224752e+08
1921  SZ300738   4667346.0  3.539655e+08  2300738   4650946.0  3.527582e+08
1922  SZ300739   7198699.0  2.986254e+08  2300739   7173499.0  2.975974e+08
1923  SZ300740   7553433.0  4.305718e+08  2300740   7535433.0  4.295622e+08
1924  SZ300741   3178501.0  1.452413e+08  2300741   3175001.0  1.450813e+08

[1788 rows x 6 columns]

2018-03-30
trade finished
0:06:49.964278
0:00:27.822921
20180402 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
422  SZ001914   3066807.0  28021589.0  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
422  SZ001914   3066807.0  28021589.0  2001914         NaN         NaN

2018-04-02
trade finished
0:07:29.508094
0:00:22.685685
20180403 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
423  SZ001914   2696631.0  24387930.7  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
423  SZ001914   2696631.0  24387930.7  2001914         NaN         NaN

2018-04-03
trade finished
0:06:56.752053
0:00:21.204363
20180404 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
424  SZ001914   2639770.0  24043346.52  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
424  SZ001914   2639770.0  24043346.52  2001914         NaN         NaN

2018-04-04
trade finished
0:06:49.363109
0:00:19.375743
20180409 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
423  SZ001914   2129436.0  19272761.06  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
423  SZ001914   2129436.0  19272761.06  2001914         NaN         NaN

2018-04-09
trade finished
0:06:18.720615
0:00:23.518801
20180410 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
423  SZ001914   3334671.0  30414707.15  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
423  SZ001914   3334671.0  30414707.15  2001914         NaN         NaN

2018-04-10
trade finished
0:06:41.196453
0:00:21.785236
20180411 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
422  SZ001914   4027718.0  37325468.87  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
422  SZ001914   4027718.0  37325468.87  2001914         NaN         NaN

2018-04-11
trade finished
0:06:29.143765
0:00:20.603550
20180412 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001914   3096040.0  28765881.04  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001914   3096040.0  28765881.04  2001914         NaN         NaN

2018-04-12
trade finished
0:06:22.097519
0:00:48.261520
20180413 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
424  SZ001914   3111071.0  28877488.45  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
424  SZ001914   3111071.0  28877488.45  2001914         NaN         NaN

2018-04-13
trade finished
0:06:09.977178
0:09:40.375892
20180416 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2300001,
 2300002,
 2300003,
 2300005,
 2300006,
 2300007,
 2300008,
 2300009,
 2300010,
 2300011,
 2300012,
 2300013,
 2300014,
 2300015,
 2300017,
 2300018,
 2300019,
 2300020,
 2300021,
 2300022,
 2300023,
 2300024,
 2300025,
 2300026,
 2300027,
 2300028,
 2300029,
 2300030,
 2300031,
 2300033,
 2300034,
 2300035,
 2300036,
 2300037,
 2300039,
 2300040,
 2300041,
 2300042,
 2300043,
 2300044,
 2300045,
 2300046,
 2300047,
 2300048,
 2300050,
 2300051,
 2300052,
 2300053,
 2300054,
 2300055,
 2300057,
 2300058,
 2300059,
 2300061,
 2300062,
 2300063,
 2300064,
 2300065,
 2300066,
 2300068,
 2300069,
 2300070,
 2300073,
 2300074,
 2300075,
 2300076,
 2300077,
 2300078,
 2300079,
 2300081,
 2300082,
 2300083,
 2300084,
 2300085,
 2300087,
 2300088,
 2300091,
 2300092,
 2300093,
 2300094,
 2300095,
 2300096,
 2300097,
 2300098,
 2300099,
 2300100,
 2300101,
 2300102,
 2300104,
 2300105,
 2300106,
 2300107,
 2300108,
 2300109,
 2300110,
 2300111,
 2300112,
 2300113,
 2300114,
 2300115,
 2300116,
 2300117,
 2300118,
 2300119,
 2300120,
 2300121,
 2300122,
 2300123,
 2300124,
 2300125,
 2300126,
 2300127,
 2300128,
 2300129,
 2300130,
 2300131,
 2300132,
 2300133,
 2300134,
 2300135,
 2300136,
 2300137,
 2300138,
 2300139,
 2300140,
 2300141,
 2300142,
 2300143,
 2300144,
 2300145,
 2300147,
 2300148,
 2300149,
 2300150,
 2300151,
 2300152,
 2300153,
 2300154,
 2300155,
 2300156,
 2300157,
 2300158,
 2300159,
 2300160,
 2300161,
 2300162,
 2300163,
 2300164,
 2300165,
 2300166,
 2300167,
 2300168,
 2300169,
 2300170,
 2300171,
 2300172,
 2300174,
 2300175,
 2300176,
 2300177,
 2300178,
 2300179,
 2300180,
 2300181,
 2300182,
 2300183,
 2300184,
 2300185,
 2300188,
 2300189,
 2300190,
 2300191,
 2300192,
 2300193,
 2300194,
 2300195,
 2300196,
 2300197,
 2300199,
 2300200,
 2300201,
 2300202,
 2300203,
 2300204,
 2300205,
 2300206,
 2300207,
 2300208,
 2300209,
 2300210,
 2300211,
 2300212,
 2300213,
 2300214,
 2300215,
 2300216,
 2300217,
 2300218,
 2300219,
 2300220,
 2300221,
 2300222,
 2300223,
 2300224,
 2300226,
 2300227,
 2300228,
 2300229,
 2300230,
 2300231,
 2300232,
 2300233,
 2300234,
 2300235,
 2300236,
 2300237,
 2300239,
 2300241,
 2300242,
 2300243,
 2300244,
 2300245,
 2300246,
 2300247,
 2300248,
 2300249,
 2300250,
 2300251,
 2300252,
 2300253,
 2300254,
 2300255,
 2300256,
 2300257,
 2300258,
 2300259,
 2300260,
 2300261,
 2300262,
 2300263,
 2300264,
 2300265,
 2300267,
 2300268,
 2300269,
 2300270,
 2300271,
 2300272,
 2300273,
 2300274,
 2300275,
 2300276,
 2300277,
 2300278,
 2300279,
 2300281,
 2300282,
 2300283,
 2300284,
 2300285,
 2300286,
 2300287,
 2300288,
 2300289,
 2300291,
 2300292,
 2300293,
 2300294,
 2300295,
 2300296,
 2300297,
 2300298,
 2300299,
 2300300,
 2300301,
 2300302,
 2300303,
 2300304,
 2300305,
 2300306,
 2300307,
 2300308,
 2300309,
 2300310,
 2300311,
 2300313,
 2300314,
 2300315,
 2300316,
 2300318,
 2300319,
 2300320,
 2300321,
 2300322,
 2300323,
 2300324,
 2300326,
 2300327,
 2300328,
 2300329,
 2300330,
 2300331,
 2300332,
 2300333,
 2300334,
 2300335,
 2300336,
 2300338,
 2300339,
 2300340,
 2300341,
 2300342,
 2300343,
 2300344,
 2300345,
 2300346,
 2300347,
 2300349,
 2300350,
 2300351,
 2300352,
 2300353,
 2300354,
 2300355,
 2300356,
 2300357,
 2300358,
 2300359,
 2300360,
 2300362,
 2300363,
 2300364,
 2300365,
 2300366,
 2300367,
 2300368,
 2300369,
 2300370,
 2300371,
 2300373,
 2300374,
 2300375,
 2300376,
 2300377,
 2300378,
 2300379,
 2300380,
 2300381,
 2300382,
 2300383,
 2300384,
 2300385,
 2300386,
 2300387,
 2300388,
 2300389,
 2300390,
 2300391,
 2300392,
 2300393,
 2300394,
 2300395,
 2300396,
 2300397,
 2300398,
 2300399,
 2300400,
 2300401,
 2300402,
 2300403,
 2300404,
 2300405,
 2300406,
 2300407,
 2300408,
 2300410,
 2300412,
 2300413,
 2300415,
 2300416,
 2300417,
 2300418,
 2300419,
 2300420,
 2300421,
 2300422,
 2300423,
 2300424,
 2300425,
 2300426,
 2300427,
 2300428,
 2300429,
 2300430,
 2300431,
 2300432,
 2300433,
 2300434,
 2300435,
 2300436,
 2300437,
 2300438,
 2300439,
 2300440,
 2300442,
 2300443,
 2300445,
 2300446,
 2300447,
 2300448,
 2300449,
 2300450,
 2300451,
 2300452,
 2300453,
 2300456,
 2300457,
 2300458,
 2300459,
 2300460,
 2300461,
 2300462,
 2300463,
 2300465,
 2300466,
 2300467,
 2300468,
 2300469,
 2300470,
 2300471,
 2300472,
 2300473,
 2300474,
 2300475,
 2300476,
 2300477,
 2300478,
 2300479,
 2300480,
 2300481,
 2300482,
 2300483,
 2300484,
 2300485,
 2300486,
 2300487,
 2300488,
 2300489,
 2300490,
 2300492,
 2300493,
 2300494,
 2300495,
 2300496,
 2300497,
 2300498,
 2300499,
 2300501,
 2300502,
 2300503,
 2300504,
 2300505,
 2300506,
 2300507,
 2300508,
 2300509,
 2300510,
 2300511,
 2300512,
 2300513,
 2300514,
 2300515,
 2300516,
 2300517,
 2300518,
 2300519,
 2300520,
 2300521,
 2300522,
 2300523,
 2300525,
 2300526,
 2300527,
 2300528,
 2300529,
 2300530,
 2300531,
 2300532,
 2300533,
 2300534,
 2300535,
 2300536,
 2300537,
 2300538,
 2300539,
 2300540,
 2300541,
 2300542,
 2300543,
 2300545,
 2300546,
 2300547,
 2300548,
 2300549,
 2300550,
 2300551,
 2300552,
 2300553,
 2300554,
 2300555,
 2300556,
 2300557,
 2300558,
 2300559,
 2300560,
 2300561,
 2300562,
 2300563,
 2300565,
 2300566,
 2300567,
 2300568,
 2300569,
 2300570,
 2300571,
 2300572,
 2300573,
 2300575,
 2300576,
 2300577,
 2300579,
 2300580,
 2300581,
 2300582,
 2300583,
 2300584,
 2300585,
 2300587,
 2300588,
 2300589,
 2300590,
 2300591,
 2300592,
 2300593,
 2300595,
 2300596,
 2300597,
 2300598,
 2300599,
 2300600,
 2300601,
 2300602,
 2300603,
 2300604,
 2300605,
 2300606,
 2300607,
 2300608,
 2300609,
 2300610,
 2300611,
 2300612,
 2300613,
 2300615,
 2300616,
 2300617,
 2300618,
 2300619,
 2300620,
 2300621,
 2300622,
 2300623,
 2300624,
 2300625,
 2300626,
 2300627,
 2300628,
 2300629,
 2300630,
 2300631,
 2300632,
 2300633,
 2300634,
 2300635,
 2300636,
 2300637,
 2300638,
 2300639,
 2300640,
 2300641,
 2300642,
 2300643,
 2300644,
 2300645,
 2300648,
 2300649,
 2300650,
 2300651,
 2300652,
 2300653,
 2300654,
 2300655,
 2300656,
 2300657,
 2300658,
 2300660,
 2300661,
 2300663,
 2300664,
 2300665,
 2300666,
 2300667,
 2300668,
 2300669,
 2300670,
 2300671,
 2300672,
 2300673,
 2300675,
 2300676,
 2300677,
 2300678,
 2300679,
 2300680,
 2300681,
 2300682,
 2300683,
 2300684,
 2300685,
 2300686,
 2300687,
 2300688,
 2300689,
 2300690,
 2300691,
 2300692,
 2300693,
 2300695,
 2300696,
 2300697,
 2300698,
 2300699,
 2300700,
 2300701,
 2300702,
 2300703,
 2300705,
 2300706,
 2300707,
 2300708,
 2300709,
 2300710,
 2300711,
 2300712,
 2300713,
 2300715,
 2300716,
 2300717,
 2300718,
 2300719,
 2300720,
 2300721,
 2300722,
 2300723,
 2300725,
 2300726,
 2300727,
 2300729,
 2300730,
 2300731,
 2300732,
 2300733,
 2300735,
 2300736,
 2300737,
 2300738,
 2300739,
 2300740,
 2300741,
 2001914,
 2002050,
 2002052,
 2002053,
 2002054,
 2002055,
 2002056,
 2002057,
 2002058,
 2002060,
 2002061,
 2002062,
 2002063,
 2002064,
 2002065,
 2002066,
 2002067,
 2002068,
 2002069,
 2002071,
 2002073,
 2002074,
 2002076,
 2002077,
 2002078,
 2002079,
 2002080,
 2002081,
 2002083,
 2002084,
 2002086,
 2002087,
 2002088,
 2002089,
 2002090,
 2002091,
 2002092,
 2002093,
 2002094,
 2002095,
 2002096,
 2002097,
 2002099,
 2002100,
 2002101,
 2002102,
 2002104,
 2002105,
 2002106,
 2002107,
 2002108,
 2002109,
 2002110,
 2002111,
 2002112,
 2002114,
 2002115,
 2002116,
 2002117,
 2002118,
 2002119,
 2002120,
 2002123,
 2002124,
 2002125,
 2002126,
 2002127,
 2002128,
 2002129,
 2002130,
 2002131,
 2002132,
 2002133,
 2002134,
 2002135,
 2002136,
 2002137,
 2002138,
 2002139,
 2002140,
 2002141,
 2002142,
 2002144,
 2002145,
 2002146,
 2002148,
 2002149,
 2002150,
 2002151,
 2002152,
 2002153,
 2002154,
 2002155,
 2002156,
 2002157,
 2002158,
 2002159,
 2002160,
 2002162,
 2002164,
 2002165,
 2002166,
 2002167,
 2002169,
 2002170,
 2002171,
 2002172,
 2002173,
 2002174,
 2002175,
 2002176,
 2002177,
 2002178,
 2002179,
 2002180,
 2002181,
 2002182,
 2002183,
 2002184,
 2002185,
 2002186,
 2002187,
 2002188,
 2002189,
 2002190,
 2002191,
 2002192,
 2002193,
 2002194,
 2002195,
 2002196,
 2002197,
 2002199,
 2002200,
 2002201,
 2002202,
 2002203,
 2002204,
 2002205,
 2002206,
 2002207,
 2002208,
 2002209,
 2002211,
 2002213,
 2002214,
 2002215,
 2002216,
 2002217,
 2002218,
 2002220,
 2002221,
 2002222,
 2002223,
 2002224,
 2002225,
 2002226,
 2002227,
 2002228,
 2002229,
 2002230,
 2002231,
 2002232,
 2002233,
 2002234,
 2002235,
 2002236,
 2002237,
 2002238,
 2002240,
 2002241,
 2002242,
 2002243,
 2002244,
 2002245,
 2002246,
 2002247,
 2002248,
 2002249,
 2002250,
 2002251,
 2002253,
 2002254,
 2002255,
 2002258,
 2002261,
 2002262,
 2002264,
 2002265,
 2002266,
 2002267,
 2002268,
 2002269,
 2002270,
 2002271,
 2002272,
 2002273,
 2002274,
 2002275,
 2002276,
 2002277,
 2002278,
 2002279,
 2002280,
 2002281,
 2002282,
 2002283,
 2002284,
 2002285,
 2002286,
 2002287,
 2002288,
 2002289,
 2002290,
 2002291,
 2002292,
 2002293,
 2002294,
 2002295,
 2002296,
 2002297,
 2002298,
 2002299,
 2002300,
 2002302,
 2002303,
 2002304,
 2002305,
 2002306,
 2002307,
 2002308,
 2002310,
 2002311,
 2002313,
 2002314,
 2002315,
 2002316,
 2002317,
 2002318,
 2002319,
 2002320,
 2002321,
 2002322,
 2002323,
 2002324,
 2002325,
 2002326,
 2002327,
 2002328,
 2002329,
 2002330,
 2002331,
 2002332,
 2002333,
 2002334,
 2002335,
 2002336,
 2002337,
 2002338,
 2002339,
 2002340,
 2002341,
 2002342,
 2002343,
 2002344,
 2002345,
 2002346,
 2002347,
 2002348,
 2002349,
 2002350,
 2002351,
 2002352,
 2002353,
 2002354,
 2002355,
 2002356,
 2002358,
 2002359,
 2002360,
 2002361,
 2002362,
 2002363,
 2002364,
 2002365,
 2002367,
 2002368,
 2002369,
 2002370,
 2002371,
 2002372,
 2002373,
 2002374,
 2002375,
 2002376,
 2002377,
 2002378,
 2002379,
 2002380,
 2002381,
 2002382,
 2002383,
 2002385,
 2002386,
 2002387,
 2002388,
 2002389,
 2002390,
 2002391,
 2002392,
 2002393,
 2002394,
 2002395,
 2002396,
 2002397,
 2002398,
 2002399,
 2002400,
 2002401,
 2002402,
 2002403,
 ...}

            ID  max_volume    max_amount     skey  cum_volume  cum_amount
420   SZ001914   2842406.0  2.591051e+07  2001914         NaN         NaN
468   SZ002050  16219155.0  2.795276e+08  2002050         NaN         NaN
469   SZ002052   6845292.0  2.968006e+07  2002052         NaN         NaN
470   SZ002053   1299698.0  1.346330e+07  2002053         NaN         NaN
471   SZ002054  10741305.0  6.826060e+07  2002054         NaN         NaN
...        ...         ...           ...      ...         ...         ...
1933  SZ300737  12435262.0  1.873935e+08  2300737         NaN         NaN
1934  SZ300738   2449402.0  1.756615e+08  2300738         NaN         NaN
1935  SZ300739   7627565.0  3.261450e+08  2300739         NaN         NaN
1936  SZ300740   5433497.0  3.171709e+08  2300740         NaN         NaN
1937  SZ300741   3324901.0  1.487183e+08  2300741         NaN         NaN

[1471 rows x 6 columns]

            ID  max_volume    max_amount     skey  cum_volume  cum_amount
420   SZ001914   2842406.0  2.591051e+07  2001914         NaN         NaN
468   SZ002050  16219155.0  2.795276e+08  2002050         NaN         NaN
469   SZ002052   6845292.0  2.968006e+07  2002052         NaN         NaN
470   SZ002053   1299698.0  1.346330e+07  2002053         NaN         NaN
471   SZ002054  10741305.0  6.826060e+07  2002054         NaN         NaN
...        ...         ...           ...      ...         ...         ...
1933  SZ300737  12435262.0  1.873935e+08  2300737         NaN         NaN
1934  SZ300738   2449402.0  1.756615e+08  2300738         NaN         NaN
1935  SZ300739   7627565.0  3.261450e+08  2300739         NaN         NaN
1936  SZ300740   5433497.0  3.171709e+08  2300740         NaN         NaN
1937  SZ300741   3324901.0  1.487183e+08  2300741         NaN         NaN

[1471 rows x 6 columns]

2018-04-16
trade finished
0:01:37.719436
0:00:18.709399
20180417 unzip finished

ValueError: No objects to concatenate

In [3]:
import pymongo
import pandas as pd
import pickle
import datetime
import time
import gzip
import lzma
import pytz


def DB(host, db_name, user, passwd):
    auth_db = db_name if user not in ('admin', 'root') else 'admin'
    uri = 'mongodb://%s:%s@%s/?authSource=%s' % (user, passwd, host, auth_db)
    return DBObj(uri, db_name=db_name)


class DBObj(object):
    def __init__(self, uri, symbol_column='skey', db_name='white_db'):
        self.db_name = db_name
        self.uri = uri
        self.client = pymongo.MongoClient(self.uri)
        self.db = self.client[self.db_name]
        self.chunk_size = 20000
        self.symbol_column = symbol_column
        self.date_column = 'date'

    def parse_uri(self, uri):
        # mongodb://user:password@example.com
        return uri.strip().replace('mongodb://', '').strip('/').replace(':', ' ').replace('@', ' ').split(' ')

    def drop_table(self, table_name):
        self.db.drop_collection(table_name)

    def rename_table(self, old_table, new_table):
        self.db[old_table].rename(new_table)

    def write(self, table_name, df):
        if len(df) == 0: return

        multi_date = False

        if self.date_column in df.columns:
            date = str(df.head(1)[self.date_column].iloc[0])
            multi_date = len(df[self.date_column].unique()) > 1
        else:
            raise Exception('DataFrame should contain date column')

        collection = self.db[table_name]
        collection.create_index([('date', pymongo.ASCENDING), ('symbol', pymongo.ASCENDING)], background=True)
        collection.create_index([('symbol', pymongo.ASCENDING), ('date', pymongo.ASCENDING)], background=True)

        if multi_date:
            for (date, symbol), sub_df in df.groupby([self.date_column, self.symbol_column]):
                date = str(date)
                symbol = int(symbol)
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)
        else:
            for symbol, sub_df in df.groupby([self.symbol_column]):
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)

    def write_single(self, collection, date, symbol, df):
        for start in range(0, len(df), self.chunk_size):
            end = min(start + self.chunk_size, len(df))
            df_seg = df[start:end]
            version = 1
            seg = {'ver': version, 'data': self.ser(df_seg, version), 'date': date, 'symbol': symbol, 'start': start}
            collection.insert_one(seg)

    def build_query(self, start_date=None, end_date=None, symbol=None):
        query = {}

        def parse_date(x):
            if type(x) == str:
                if len(x) != 8:
                    raise Exception("`date` must be YYYYMMDD format")
                return x
            elif type(x) == datetime.datetime or type(x) == datetime.date:
                return x.strftime("%Y%m%d")
            elif type(x) == int:
                return parse_date(str(x))
            else:
                raise Exception("invalid `date` type: " + str(type(x)))

        if start_date is not None or end_date is not None:
            query['date'] = {}
            if start_date is not None:
                query['date']['$gte'] = parse_date(start_date)
            if end_date is not None:
                query['date']['$lte'] = parse_date(end_date)

        def parse_symbol(x):
            if type(x) == int:
                return x
            else:
                return int(x)

        if symbol:
            if type(symbol) == list or type(symbol) == tuple:
                query['symbol'] = {'$in': [parse_symbol(x) for x in symbol]}
            else:
                query['symbol'] = parse_symbol(symbol)

        return query

    def delete(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot delete the whole table')
            return None

        collection.delete_many(query)

    def read(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot read the whole table')
            return None

        segs = []
        for x in collection.find(query):
            x['data'] = self.deser(x['data'], x['ver'])
            segs.append(x)
        segs.sort(key=lambda x: (x['symbol'], x['date'], x['start']))
        return pd.concat([x['data'] for x in segs], ignore_index=True) if segs else None

    def list_tables(self):
        return self.db.collection_names()

    def list_dates(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]
        dates = set()
        if start_date is None:
            start_date = '00000000'
        if end_date is None:
            end_date = '99999999'
        for x in collection.find(self.build_query(start_date, end_date, symbol), {"date": 1, '_id': 0}):
            dates.add(x['date'])
        return sorted(list(dates))

    def ser(self, s, version):
        pickle_protocol = 4
        if version == 1:
            return gzip.compress(pickle.dumps(s, protocol=pickle_protocol), compresslevel=2)
        elif version == 2:
            return lzma.compress(pickle.dumps(s, protocol=pickle_protocol), preset=1)
        else:
            raise Exception('unknown version')

    def deser(self, s, version):
        def unpickle(s):
            return pickle.loads(s)

        if version == 1:
            return unpickle(gzip.decompress(s))
        elif version == 2:
            return unpickle(lzma.decompress(s))
        else:
            raise Exception('unknown version')


def patch_pandas_pickle():
    if pd.__version__ < '0.24':
        import sys
        from types import ModuleType
        from pandas.core.internals import BlockManager
        pkg_name = 'pandas.core.internals.managers'
        if pkg_name not in sys.modules:
            m = ModuleType(pkg_name)
            m.BlockManager = BlockManager
            sys.modules[pkg_name] = m
patch_pandas_pickle()


            
            
            
            
            
            
            
            
import pandas as pd
import random
import numpy as np
import glob
import os
import pickle
import datetime
import time
pd.set_option("max_columns", 200)

startTm = datetime.datetime.now()
readPath = '/home/work516/day_stock/***'
dataPathLs = np.array(glob.glob(readPath))
dataPathLs = dataPathLs[[np.array([os.path.basename(i).split('.')[0][:2] == 'SZ' for i in dataPathLs])]]
db = pd.DataFrame()
for p in dataPathLs:
    dayData = pd.read_csv(p, compression='gzip')
    db = pd.concat([db, dayData])
print(datetime.datetime.now() - startTm)

year = "2018"
startDate = '20180416'
endDate = '20181231'
readPath = '/mnt/usb/data/' + year + '/***/***'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([os.path.basename(i) for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]

for data in dataPathLs:
    
    if len(np.array(glob.glob(data + '/SZ/***'))) == 0:
        if int(os.path.basename(data)) not in date_list["Date"].values:
            continue
        else:
            print(os.path.basename(data) + " less data!!!!!!!!!!!!!!!!!")
            less.append(data)
            continue
    startTm = datetime.datetime.now()
    date = os.path.basename(data)
    rar_path = data + '/SZ/tick.7z'
    path = '/mnt/e/unzip_data/2018/SZ'
    path1 = path + '/' + date
    un_path = path1
    cmd = '7za x {} -o{}'.format(rar_path, un_path)
    os.system(cmd)
    print(datetime.datetime.now() - startTm)
    print(date + ' unzip finished')
    
    
    startTm = datetime.datetime.now()
    
    readPath = path1 + '/tick/***'
    dataPathLs = np.array(glob.glob(readPath))
    dateLs = np.array([int(os.path.basename(i).split('.')[0]) for i in dataPathLs])
    dataPathLs = dataPathLs[(dateLs < 4000) | ((dateLs > 300000) & (dateLs < 310000))]
    TradeLog = []
    ll = []
    
    for i in dataPathLs:
        try:
            df = pd.read_csv(i)
        except:
            print("empty data")
            print(i)
            ll.append(int(os.path.basename(i).split('.')[0]))
            continue
        df["SecurityID"] = int(os.path.basename(i).split('.')[0])
        TradeLog += [df]
    TradeLog = pd.concat(TradeLog).reset_index(drop=True)
    TradeLog = TradeLog[TradeLog["ChannelNo"] != 4001]
    
    TradeLog["date"] = TradeLog["TransactTime"].iloc[0]//1000000000
    TradeLog = TradeLog.rename(columns={"Qty":"trade_qty", "Price":"trade_price", "ExecType":"trade_type"})
    TradeLog["trade_money"] = TradeLog["trade_price"] * TradeLog["trade_qty"]
    TradeLog["trade_flag"] = 0
    TradeLog["skey"] = TradeLog["SecurityID"] + 2000000
    TradeLog["clockAtArrival"] = TradeLog["TransactTime"].astype(str).apply(lambda x: np.int64(datetime.datetime.strptime(x, '%Y%m%d%H%M%S%f').timestamp()*1e6))
    TradeLog['datetime'] = TradeLog["clockAtArrival"].apply(lambda x: datetime.datetime.fromtimestamp(x/1e6))
    TradeLog["time"] = (TradeLog['TransactTime'] - int(TradeLog['TransactTime'].iloc[0]//1000000000*1000000000)).astype(np.int64)*1000
    TradeLog["trade_type"] = np.where(TradeLog["trade_type"] == 'F', 1, TradeLog["trade_type"])
    for col in ["skey", "date", "ApplSeqNum", "BidApplSeqNum", "OfferApplSeqNum", "trade_qty", "trade_type", "trade_flag"]:
        TradeLog[col] = TradeLog[col].astype('int32')
#     for cols in ["trade_money", "trade_price"]:
#         display(cols)
#         display(TradeLog[cols].astype(str).apply(lambda x: len(str(x.split('.')[1]))).unique())
#         TradeLog[cols] = TradeLog[cols].round(2)
#         display(TradeLog[cols].astype(str).apply(lambda x: len(str(x.split('.')[1]))).unique())
    for cols in ["trade_money"]:
        TradeLog[cols] = TradeLog[cols].round(2)
    
    da_te = str(TradeLog["date"].iloc[0]) 
    da_te = da_te[:4] + '-' + da_te[4:6] + '-' + da_te[6:8]
    db1 = db[db["date"] == da_te]
    sl = (db1["ID"].str[2:].astype(int) + 2000000).unique()
    db1["max_volume"] = db1.groupby("ID")["d_volume"].transform("max")
    db1["max_amount"] = db1.groupby("ID")["d_amount"].transform("max")
    t1 = db1.groupby("ID")["max_volume", "max_amount"].first().reset_index()
    del db1
    t1["skey"] = t1["ID"].str[2:].astype(int) + 2000000
    trade1 = TradeLog[TradeLog["trade_type"] == 1].groupby("skey")["trade_qty"].sum().reset_index()
    trade1.columns=["skey", "cum_volume"]
    trade2 = TradeLog[TradeLog["trade_type"] == 1].groupby("skey")["trade_money"].sum().reset_index()
    trade2.columns=["skey", "cum_amount"]
    t2 = pd.merge(trade1, trade2, on="skey")
    re = pd.merge(t1, t2, on="skey", how="outer")
    try:
        assert(t1.shape[0] == t2.shape[0])
        assert(re[re["cum_volume"] != re["max_volume"]].shape[0] == 0)
        assert(re[re["cum_amount"].round(2) != re["max_amount"]].shape[0] == 0)
    except:
        display(set(t1["skey"]) - set(t2["skey"]))
        display(re[re["cum_volume"] != re["max_volume"]])
        display(re[re["cum_amount"].round(2) != re["max_amount"]])
    del t1
    del t2
    del re
 
    TradeLog = TradeLog[["skey", "date", "time", "clockAtArrival", "datetime", "ApplSeqNum", "trade_type", "trade_flag",
                                                 "trade_price", "trade_qty", "BidApplSeqNum", "OfferApplSeqNum"]]
    print(da_te)
    print("trade finished")


    database_name = 'com_md_eq_cn'
    user = "zhenyuy"
    password = "bnONBrzSMGoE"

    db1 = DB("192.168.10.223", database_name, user, password)
    db1.write('md_trade', TradeLog)    
    
    del TradeLog

    print(datetime.datetime.now() - startTm)

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:201: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.

0:05:30.501838
0:00:24.363392
20180416 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
420  SZ001914   2842406.0  25910513.32  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
420  SZ001914   2842406.0  25910513.32  2001914         NaN         NaN

2018-04-16
trade finished
0:06:24.062647
0:00:21.599605
20180417 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
420  SZ001914   2296329.0  20978976.04  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
420  SZ001914   2296329.0  20978976.04  2001914         NaN         NaN

2018-04-17
trade finished
0:07:04.212851
0:00:22.399671
20180418 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
420  SZ001914   3561802.0  32829848.81  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
420  SZ001914   3561802.0  32829848.81  2001914         NaN         NaN

2018-04-18
trade finished
0:07:02.499372
0:00:22.930745
20180419 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
420  SZ001914   5603605.0  52825612.97  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
420  SZ001914   5603605.0  52825612.97  2001914         NaN         NaN

2018-04-19
trade finished
0:06:58.811584
0:00:20.980561
20180420 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
418  SZ001914   3584047.0  34033944.37  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
418  SZ001914   3584047.0  34033944.37  2001914         NaN         NaN

2018-04-20
trade finished
0:06:38.999127
0:00:19.784848
20180423 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
419  SZ001914   6013476.0  57664631.99  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
419  SZ001914   6013476.0  57664631.99  2001914         NaN         NaN

2018-04-23
trade finished
0:06:01.950192
0:00:21.265170
20180424 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
419  SZ001914   5626552.0  55334096.64  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
419  SZ001914   5626552.0  55334096.64  2001914         NaN         NaN

2018-04-24
trade finished
0:06:32.000704
0:00:20.691896
20180425 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
420  SZ001914   4438720.0  43068883.07  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
420  SZ001914   4438720.0  43068883.07  2001914         NaN         NaN

2018-04-25
trade finished
0:06:31.018459
0:00:21.596030
20180426 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
419  SZ001914   3438994.0  33197926.64  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
419  SZ001914   3438994.0  33197926.64  2001914         NaN         NaN

2018-04-26
trade finished
0:06:33.113695
0:00:18.085299
20180427 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
419  SZ001914   3080642.0  29883508.13  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
419  SZ001914   3080642.0  29883508.13  2001914         NaN         NaN

2018-04-27
trade finished
0:05:54.050758
0:00:17.551041
20180502 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
417  SZ001914   3706838.0  35282176.9  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
417  SZ001914   3706838.0  35282176.9  2001914         NaN         NaN

2018-05-02
trade finished
0:05:32.318277
0:00:19.065034
20180503 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
418  SZ001914   2701684.0  25833198.12  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
418  SZ001914   2701684.0  25833198.12  2001914         NaN         NaN

2018-05-03
trade finished
0:06:02.925673
0:00:16.968739
20180504 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
417  SZ001914   2211700.0  21112318.0  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
417  SZ001914   2211700.0  21112318.0  2001914         NaN         NaN

2018-05-04
trade finished
0:05:38.750647
0:00:18.952271
20180507 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
416  SZ001914   1961098.0  18642035.53  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
416  SZ001914   1961098.0  18642035.53  2001914         NaN         NaN

2018-05-07
trade finished
0:05:53.383359
0:00:20.075561
20180508 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
418  SZ001914   3324327.0  32198422.25  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
418  SZ001914   3324327.0  32198422.25  2001914         NaN         NaN

2018-05-08
trade finished
0:06:23.037013
0:00:19.116394
20180509 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
418  SZ001914   1602781.0  15380922.96  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
418  SZ001914   1602781.0  15380922.96  2001914         NaN         NaN

2018-05-09
trade finished
0:05:59.903312
0:00:20.159730
20180510 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
417  SZ001914   3168334.0  30188389.85  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
417  SZ001914   3168334.0  30188389.85  2001914         NaN         NaN

2018-05-10
trade finished
0:06:20.293074
0:00:21.561694
20180511 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
419  SZ001914   2103648.0  19964174.08  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
419  SZ001914   2103648.0  19964174.08  2001914         NaN         NaN

2018-05-11
trade finished
0:06:20.677426
0:00:18.021533
20180514 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
421  SZ001914  17384712.0  1.503627e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
421  SZ001914  17384712.0  1.503627e+08  2001914         NaN         NaN

2018-05-14
trade finished
0:05:52.152190
0:00:17.599797
20180515 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
420  SZ001914   3910562.0  33279860.73  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
420  SZ001914   3910562.0  33279860.73  2001914         NaN         NaN

2018-05-15
trade finished
0:05:33.892686
0:00:18.593577
20180516 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001914   4796085.0  40319318.15  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001914   4796085.0  40319318.15  2001914         NaN         NaN

2018-05-16
trade finished
0:05:38.922404
0:00:17.492916
20180517 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
421  SZ001914   2828354.0  23704590.3  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
421  SZ001914   2828354.0  23704590.3  2001914         NaN         NaN

2018-05-17
trade finished
0:05:22.384696
0:00:19.304396
20180518 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
420  SZ001914   4312456.0  36589491.68  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
420  SZ001914   4312456.0  36589491.68  2001914         NaN         NaN

2018-05-18
trade finished
0:05:30.883499
0:00:19.900090
20180521 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
419  SZ001914   3442761.0  29131952.59  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
419  SZ001914   3442761.0  29131952.59  2001914         NaN         NaN

2018-05-21
trade finished
0:06:06.944757
0:00:20.107458
20180522 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
420  SZ001914   2128564.0  17889460.56  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
420  SZ001914   2128564.0  17889460.56  2001914         NaN         NaN

2018-05-22
trade finished
0:06:26.252354
0:00:21.087153
20180523 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
420  SZ001914   5312297.0  43662348.24  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
420  SZ001914   5312297.0  43662348.24  2001914         NaN         NaN

2018-05-23
trade finished
0:06:38.877421
0:00:18.264525
20180524 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
420  SZ001914   5951424.0  48025052.58  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
420  SZ001914   5951424.0  48025052.58  2001914         NaN         NaN

2018-05-24
trade finished
0:06:01.821957
0:00:19.322246
20180525 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001914   3066492.0  24738283.28  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001914   3066492.0  24738283.28  2001914         NaN         NaN

2018-05-25
trade finished
0:06:06.562762
0:00:19.239010
20180528 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
423  SZ001914   4552683.0  35794974.39  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
423  SZ001914   4552683.0  35794974.39  2001914         NaN         NaN

2018-05-28
trade finished
0:06:12.909257
0:00:18.460374
20180529 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
423  SZ001914   3222010.0  25190298.96  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
423  SZ001914   3222010.0  25190298.96  2001914         NaN         NaN

2018-05-29
trade finished
0:05:58.734284
0:00:21.062974
20180530 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
422  SZ001914   4003310.0  30696736.93  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
422  SZ001914   4003310.0  30696736.93  2001914         NaN         NaN

2018-05-30
trade finished
0:06:48.894132
0:00:17.901441
20180531 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001914   2260986.0  17439552.56  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001914   2260986.0  17439552.56  2001914         NaN         NaN

2018-05-31
trade finished
0:05:48.702084
0:00:18.350431
20180601 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001914   5658286.0  45600909.53  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001914   5658286.0  45600909.53  2001914         NaN         NaN

2018-06-01
trade finished
0:05:56.031750
0:00:16.338373
20180604 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
421  SZ001914   1797900.0  14231945.0  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
421  SZ001914   1797900.0  14231945.0  2001914         NaN         NaN

2018-06-04
trade finished
0:05:16.080146
0:00:17.549553
20180605 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
423  SZ001914   2027172.0  16059291.46  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
423  SZ001914   2027172.0  16059291.46  2001914         NaN         NaN

2018-06-05
trade finished
0:05:20.886941
0:00:18.988050
20180606 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001914   2321471.0  18442573.75  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001914   2321471.0  18442573.75  2001914         NaN         NaN

2018-06-06
trade finished
0:05:27.981167
0:00:16.597094
20180607 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
419  SZ001914   3441897.0  27678331.89  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
419  SZ001914   3441897.0  27678331.89  2001914         NaN         NaN

2018-06-07
trade finished
0:05:22.877291
0:00:17.848751
20180608 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
417  SZ001914   2211968.0  17685150.29  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
417  SZ001914   2211968.0  17685150.29  2001914         NaN         NaN

2018-06-08
trade finished
0:05:33.409386
0:00:16.043147
20180611 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
419  SZ001914   1085039.0  8537293.75  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
419  SZ001914   1085039.0  8537293.75  2001914         NaN         NaN

2018-06-11
trade finished
0:05:04.580829
0:00:17.671948
20180612 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
419  SZ001914   1817439.0  14403838.29  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
419  SZ001914   1817439.0  14403838.29  2001914         NaN         NaN

2018-06-12
trade finished
0:05:30.795634
0:00:17.425668
20180613 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001914   1664801.0  13063923.82  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001914   1664801.0  13063923.82  2001914         NaN         NaN

2018-06-13
trade finished
0:05:15.056687
0:00:15.592170
20180614 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
419  SZ001914   1709641.0  13252524.73  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
419  SZ001914   1709641.0  13252524.73  2001914         NaN         NaN

2018-06-14
trade finished
0:04:59.854519
0:00:17.697041
20180615 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
418  SZ001914   3561635.0  27904669.29  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
418  SZ001914   3561635.0  27904669.29  2001914         NaN         NaN

2018-06-15
trade finished
0:05:39.723732
0:00:19.946470
20180619 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
417  SZ001914   4639053.0  34080020.53  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
417  SZ001914   4639053.0  34080020.53  2001914         NaN         NaN

2018-06-19
trade finished
0:06:05.639927
0:00:17.890652
20180620 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
417  SZ001914   3685500.0  26265733.95  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
417  SZ001914   3685500.0  26265733.95  2001914         NaN         NaN

2018-06-20
trade finished
0:05:31.140002
0:00:20.881273
20180621 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
418  SZ001914   4818697.0  33570356.13  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
418  SZ001914   4818697.0  33570356.13  2001914         NaN         NaN

2018-06-21
trade finished
0:05:35.677922
0:00:16.377285
20180622 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
419  SZ001914   2597803.0  17659685.87  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
419  SZ001914   2597803.0  17659685.87  2001914         NaN         NaN

2018-06-22
trade finished
0:05:07.839314
0:00:15.892287
20180625 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001914   2064690.0  14223136.74  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001914   2064690.0  14223136.74  2001914         NaN         NaN

2018-06-25
trade finished
0:05:28.951301
0:00:16.898605
20180626 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
422  SZ001914   2272795.0  15662292.31  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
422  SZ001914   2272795.0  15662292.31  2001914         NaN         NaN

2018-06-26
trade finished
0:05:58.697951
0:00:17.182157
20180627 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
423  SZ001914   1948384.0  13550988.05  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
423  SZ001914   1948384.0  13550988.05  2001914         NaN         NaN

2018-06-27
trade finished
0:05:30.004774
0:00:19.028108
20180628 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
425  SZ001914   3482765.0  24678917.66  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
425  SZ001914   3482765.0  24678917.66  2001914         NaN         NaN

2018-06-28
trade finished
0:05:35.420486
0:00:18.908232
20180629 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
426  SZ001914   3240147.0  23017448.05  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
426  SZ001914   3240147.0  23017448.05  2001914         NaN         NaN

2018-06-29
trade finished
0:05:51.241211
0:00:18.545711
20180702 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
428  SZ001914   4106734.0  29080376.36  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
428  SZ001914   4106734.0  29080376.36  2001914         NaN         NaN

2018-07-02
trade finished
0:05:58.525771
0:00:20.362772
20180703 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
428  SZ001914   3916724.0  27493406.29  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
428  SZ001914   3916724.0  27493406.29  2001914         NaN         NaN

2018-07-03
trade finished
0:06:24.537347
0:00:19.613327
20180704 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
428  SZ001914   1872776.0  13108430.98  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
428  SZ001914   1872776.0  13108430.98  2001914         NaN         NaN

2018-07-04
trade finished
0:06:00.646796
0:00:18.060271
20180705 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
428  SZ001914   2946244.0  20025280.98  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
428  SZ001914   2946244.0  20025280.98  2001914         NaN         NaN

2018-07-05
trade finished
0:05:42.033392
0:00:19.723925
20180706 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
428  SZ001914   3337957.0  22490452.86  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
428  SZ001914   3337957.0  22490452.86  2001914         NaN         NaN

2018-07-06
trade finished
0:06:10.280104
0:00:16.949318
20180709 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
430  SZ001914   1954879.0  13588500.52  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
430  SZ001914   1954879.0  13588500.52  2001914         NaN         NaN

2018-07-09
trade finished
0:05:20.608702
0:00:18.020585
20180710 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
430  SZ001872   9757532.0  2.112768e+08  2001872         NaN         NaN
432  SZ001914   1804074.0  1.261478e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
430  SZ001872   9757532.0  2.112768e+08  2001872         NaN         NaN
432  SZ001914   1804074.0  1.261478e+07  2001914         NaN         NaN

2018-07-10
trade finished
0:05:44.456110
0:00:18.759458
20180711 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
430  SZ001872   6303361.0  1.241230e+08  2001872         NaN         NaN
432  SZ001914   2691716.0  1.861207e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
430  SZ001872   6303361.0  1.241230e+08  2001872         NaN         NaN
432  SZ001914   2691716.0  1.861207e+07  2001914         NaN         NaN

2018-07-11
trade finished
0:06:11.608041
0:00:21.078263
20180712 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
430  SZ001872   6644821.0  1.282735e+08  2001872         NaN         NaN
432  SZ001914   2520002.0  1.760465e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
430  SZ001872   6644821.0  1.282735e+08  2001872         NaN         NaN
432  SZ001914   2520002.0  1.760465e+07  2001914         NaN         NaN

2018-07-12
trade finished
0:06:57.142740
0:00:19.915504
20180713 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
432  SZ001872   4825692.0  92125320.02  2001872         NaN         NaN
434  SZ001914   5819670.0  42331285.70  2001914         NaN         NaN

            ID  max_volume   max_amount     skey  cum_volume  cum_amount
432   SZ001872   4825692.0  92125320.02  2001872         NaN         NaN
434   SZ001914   5819670.0  42331285.70  2001914         NaN         NaN
1295  SZ002932     13174.0    516421.00  2002932     13174.0    516420.8

2018-07-13
trade finished
0:06:14.825670
0:00:16.793018
20180716 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
435  SZ001872   3511585.0  67334860.15  2001872         NaN         NaN
437  SZ001914   3330237.0  24150874.00  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
435  SZ001872   3511585.0  67334860.15  2001872         NaN         NaN
437  SZ001914   3330237.0  24150874.00  2001914         NaN         NaN

2018-07-16
trade finished
0:05:36.427042
0:00:16.125933
20180717 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
435  SZ001872   2301390.0  43852490.6  2001872         NaN         NaN
437  SZ001914   2147059.0  15747796.7  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
435  SZ001872   2301390.0  43852490.6  2001872         NaN         NaN
437  SZ001914   2147059.0  15747796.7  2001914         NaN         NaN

2018-07-17
trade finished
0:05:38.935945
0:00:17.360868
20180718 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
434  SZ001872   2663994.0  50426771.48  2001872         NaN         NaN
436  SZ001914   1844800.0  13466929.26  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
434  SZ001872   2663994.0  50426771.48  2001872         NaN         NaN
436  SZ001914   1844800.0  13466929.26  2001914         NaN         NaN

2018-07-18
trade finished
0:05:50.719942
0:00:17.592922
20180719 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
435  SZ001872   5099665.0  91113345.01  2001872         NaN         NaN
437  SZ001914   1971956.0  14147059.14  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
435  SZ001872   5099665.0  91113345.01  2001872         NaN         NaN
437  SZ001914   1971956.0  14147059.14  2001914         NaN         NaN

2018-07-19
trade finished
0:05:32.298383
0:00:17.351912
20180720 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
436  SZ001872   3451431.0  59756726.83  2001872         NaN         NaN
438  SZ001914   1535651.0  11015834.74  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
436  SZ001872   3451431.0  59756726.83  2001872         NaN         NaN
438  SZ001914   1535651.0  11015834.74  2001914         NaN         NaN

2018-07-20
trade finished
0:05:36.934020
0:00:17.413723
20180723 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
436  SZ001872   4085850.0  71959906.12  2001872         NaN         NaN
438  SZ001914   2102300.0  15381317.75  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
436  SZ001872   4085850.0  71959906.12  2001872         NaN         NaN
438  SZ001914   2102300.0  15381317.75  2001914         NaN         NaN

2018-07-23
trade finished
0:05:58.543624
0:00:21.926165
20180724 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
436  SZ001872   6096015.0  1.116180e+08  2001872         NaN         NaN
438  SZ001914   2357047.0  1.744835e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
436  SZ001872   6096015.0  1.116180e+08  2001872         NaN         NaN
438  SZ001914   2357047.0  1.744835e+07  2001914         NaN         NaN

2018-07-24
trade finished
0:06:48.996475
0:00:19.388242
20180725 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
438  SZ001872   3870067.0  71356078.93  2001872         NaN         NaN
440  SZ001914   1759901.0  12984244.36  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
438  SZ001872   3870067.0  71356078.93  2001872         NaN         NaN
440  SZ001914   1759901.0  12984244.36  2001914         NaN         NaN

2018-07-25
trade finished
0:06:13.963866
0:00:19.218910
20180726 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
438  SZ001872   3908129.0  72978771.72  2001872         NaN         NaN
440  SZ001914   1849501.0  13622100.35  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
438  SZ001872   3908129.0  72978771.72  2001872         NaN         NaN
440  SZ001914   1849501.0  13622100.35  2001914         NaN         NaN

2018-07-26
trade finished
0:06:33.427649
0:00:17.531167
20180727 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
437  SZ001872   3574536.0  66809164.28  2001872         NaN         NaN
439  SZ001914   1284481.0   9461092.12  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
437  SZ001872   3574536.0  66809164.28  2001872         NaN         NaN
439  SZ001914   1284481.0   9461092.12  2001914         NaN         NaN

2018-07-27
trade finished
0:05:19.983682
0:00:17.233871
20180730 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
437  SZ001872   3035253.0  55448397.43  2001872         NaN         NaN
439  SZ001914   2419900.0  17739258.85  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
437  SZ001872   3035253.0  55448397.43  2001872         NaN         NaN
439  SZ001914   2419900.0  17739258.85  2001914         NaN         NaN

2018-07-30
trade finished
0:05:34.323731
0:00:15.037092
20180731 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
439  SZ001872   5751947.0  1.069749e+08  2001872         NaN         NaN
441  SZ001914   1279220.0  9.328639e+06  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
439  SZ001872   5751947.0  1.069749e+08  2001872         NaN         NaN
441  SZ001914   1279220.0  9.328639e+06  2001914         NaN         NaN

2018-07-31
trade finished
0:04:35.704091
0:00:16.347409
20180801 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
439  SZ001872   3828231.0  71628144.25  2001872         NaN         NaN
441  SZ001914   1397428.0  10164113.67  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
439  SZ001872   3828231.0  71628144.25  2001872         NaN         NaN
441  SZ001914   1397428.0  10164113.67  2001914         NaN         NaN

2018-08-01
trade finished
0:05:21.139895
0:00:20.086629
20180802 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
440  SZ001872   3266657.0  58634604.48  2001872         NaN         NaN
442  SZ001914   3349439.0  23273582.42  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
440  SZ001872   3266657.0  58634604.48  2001872         NaN         NaN
442  SZ001914   3349439.0  23273582.42  2001914         NaN         NaN

2018-08-02
trade finished
0:06:32.573003
0:00:15.375506
20180803 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
443  SZ001872   2342461.0  42031273.89  2001872         NaN         NaN
445  SZ001914   1318272.0   9129648.80  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
443  SZ001872   2342461.0  42031273.89  2001872         NaN         NaN
445  SZ001914   1318272.0   9129648.80  2001914         NaN         NaN

2018-08-03
trade finished
0:04:56.747957
0:00:16.379747
20180806 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
444  SZ001872   1921196.0  33805504.25  2001872         NaN         NaN
446  SZ001914   1810200.0  12397078.30  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
444  SZ001872   1921196.0  33805504.25  2001872         NaN         NaN
446  SZ001914   1810200.0  12397078.30  2001914         NaN         NaN

2018-08-06
trade finished
0:05:02.911648
0:00:16.625986
20180807 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
445  SZ001872   2808485.0  50263793.24  2001872         NaN         NaN
447  SZ001914   1820400.0  12546810.00  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
445  SZ001872   2808485.0  50263793.24  2001872         NaN         NaN
447  SZ001914   1820400.0  12546810.00  2001914         NaN         NaN

2018-08-07
trade finished
0:05:08.547441
0:00:16.401569
20180808 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
445  SZ001872   3023623.0  55679462.19  2001872         NaN         NaN
447  SZ001914   2038100.0  14242822.00  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
445  SZ001872   3023623.0  55679462.19  2001872         NaN         NaN
447  SZ001914   2038100.0  14242822.00  2001914         NaN         NaN

2018-08-08
trade finished
0:05:04.118418
0:00:17.422669
20180809 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
445  SZ001872   3374364.0  63001934.22  2001872         NaN         NaN
447  SZ001914   2096001.0  14772510.03  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
445  SZ001872   3374364.0  63001934.22  2001872         NaN         NaN
447  SZ001914   2096001.0  14772510.03  2001914         NaN         NaN

2018-08-09
trade finished
0:05:34.932349
0:00:16.074880
20180810 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
445  SZ001872   5837779.0  1.118980e+08  2001872         NaN         NaN
447  SZ001914   1826774.0  1.303534e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
445  SZ001872   5837779.0  1.118980e+08  2001872         NaN         NaN
447  SZ001914   1826774.0  1.303534e+07  2001914         NaN         NaN

2018-08-10
trade finished
0:04:57.212043
0:00:16.271686
20180813 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
445  SZ001872   7980947.0  1.598779e+08  2001872         NaN         NaN
447  SZ001914   1600026.0  1.129598e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
445  SZ001872   7980947.0  1.598779e+08  2001872         NaN         NaN
447  SZ001914   1600026.0  1.129598e+07  2001914         NaN         NaN

2018-08-13
trade finished
0:05:03.679689
0:00:16.147049
20180814 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
445  SZ001872   9617133.0  2.031749e+08  2001872         NaN         NaN
447  SZ001914   1269000.0  9.080120e+06  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
445  SZ001872   9617133.0  2.031749e+08  2001872         NaN         NaN
447  SZ001914   1269000.0  9.080120e+06  2001914         NaN         NaN

2018-08-14
trade finished
0:04:58.286860
0:00:15.944423
20180815 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
445  SZ001872   6312740.0  1.320426e+08  2001872         NaN         NaN
447  SZ001914   1508300.0  1.075875e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
445  SZ001872   6312740.0  1.320426e+08  2001872         NaN         NaN
447  SZ001914   1508300.0  1.075875e+07  2001914         NaN         NaN

2018-08-15
trade finished
0:05:12.114027
0:00:16.424802
20180816 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
444  SZ001872   5806213.0  1.141132e+08  2001872         NaN         NaN
446  SZ001914   1610883.0  1.144649e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
444  SZ001872   5806213.0  1.141132e+08  2001872         NaN         NaN
446  SZ001914   1610883.0  1.144649e+07  2001914         NaN         NaN

2018-08-16
trade finished
0:05:23.251348
0:00:15.718835
20180817 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
444  SZ001872   4543973.0  88499415.86  2001872         NaN         NaN
446  SZ001914   1835600.0  12944550.00  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
444  SZ001872   4543973.0  88499415.86  2001872         NaN         NaN
446  SZ001914   1835600.0  12944550.00  2001914         NaN         NaN

2018-08-17
trade finished
0:04:55.410032
0:00:16.401965
20180820 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
444  SZ001872   4643594.0  86374681.11  2001872         NaN         NaN
446  SZ001914   1343518.0   9264575.82  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
444  SZ001872   4643594.0  86374681.11  2001872         NaN         NaN
446  SZ001914   1343518.0   9264575.82  2001914         NaN         NaN

2018-08-20
trade finished
0:05:01.599072
0:00:15.244499
20180821 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
446  SZ001872   3141942.0  59497986.48  2001872         NaN         NaN
448  SZ001914   1445479.0  10127684.02  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
446  SZ001872   3141942.0  59497986.48  2001872         NaN         NaN
448  SZ001914   1445479.0  10127684.02  2001914         NaN         NaN

2018-08-21
trade finished
0:04:59.989908
0:00:14.616372
20180822 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
446  SZ001872   3455402.0  65906640.80  2001872         NaN         NaN
448  SZ001914   1070585.0   7479442.78  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
446  SZ001872   3455402.0  65906640.80  2001872         NaN         NaN
448  SZ001914   1070585.0   7479442.78  2001914         NaN         NaN

2018-08-22
trade finished
0:04:32.263093
0:00:15.260667
20180823 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
446  SZ001872   2116889.0  39665733.01  2001872         NaN         NaN
448  SZ001914   1787287.0  12412232.16  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
446  SZ001872   2116889.0  39665733.01  2001872         NaN         NaN
448  SZ001914   1787287.0  12412232.16  2001914         NaN         NaN

2018-08-23
trade finished
0:04:47.347518
0:00:14.044912
20180824 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
448  SZ001872   2036196.0  38022264.19  2001872         NaN         NaN
450  SZ001914   1489748.0  10308020.87  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
448  SZ001872   2036196.0  38022264.19  2001872         NaN         NaN
450  SZ001914   1489748.0  10308020.87  2001914         NaN         NaN

2018-08-24
trade finished
0:04:43.506075
0:00:16.490761
20180827 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
450  SZ001872   3132384.0  59729969.79  2001872         NaN         NaN
452  SZ001914   2408140.0  16812372.92  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
450  SZ001872   3132384.0  59729969.79  2001872         NaN         NaN
452  SZ001914   2408140.0  16812372.92  2001914         NaN         NaN

2018-08-27
trade finished
0:05:12.949549
0:00:15.605593
20180828 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
451  SZ001872   2816295.0  54459106.06  2001872         NaN         NaN
453  SZ001914   1264205.0   8892370.90  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
451  SZ001872   2816295.0  54459106.06  2001872         NaN         NaN
453  SZ001914   1264205.0   8892370.90  2001914         NaN         NaN

2018-08-28
trade finished
0:04:55.575037
0:00:14.989488
20180829 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
451  SZ001872   2037163.0  38873474.17  2001872         NaN         NaN
453  SZ001914   2917290.0  20661523.12  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
451  SZ001872   2037163.0  38873474.17  2001872         NaN         NaN
453  SZ001914   2917290.0  20661523.12  2001914         NaN         NaN

2018-08-29
trade finished
0:04:37.716405
0:00:15.647618
20180830 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
449  SZ001872   1338264.0  25554682.72  2001872         NaN         NaN
451  SZ001914   3395882.0  24055272.89  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
449  SZ001872   1338264.0  25554682.72  2001872         NaN         NaN
451  SZ001914   3395882.0  24055272.89  2001914         NaN         NaN

2018-08-30
trade finished
0:04:44.955596
0:00:14.762875
20180831 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
448  SZ001872   1706863.0  31906598.45  2001872         NaN         NaN
450  SZ001914   1384609.0   9639246.17  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
448  SZ001872   1706863.0  31906598.45  2001872         NaN         NaN
450  SZ001914   1384609.0   9639246.17  2001914         NaN         NaN

2018-08-31
trade finished
0:04:32.604000
0:00:14.553468
20180903 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
449  SZ001872   1591668.0  29210280.58  2001872         NaN         NaN
451  SZ001914   2952651.0  20198935.18  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
449  SZ001872   1591668.0  29210280.58  2001872         NaN         NaN
451  SZ001914   2952651.0  20198935.18  2001914         NaN         NaN

2018-09-03
trade finished
0:04:47.782608
0:00:15.866625
20180904 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
449  SZ001872   1704420.0  31533378.2  2001872         NaN         NaN
451  SZ001914   1287911.0   8906824.1  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
449  SZ001872   1704420.0  31533378.2  2001872         NaN         NaN
451  SZ001914   1287911.0   8906824.1  2001914         NaN         NaN

2018-09-04
trade finished
0:05:09.300942
0:00:15.202045
20180905 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
449  SZ001872   2773294.0  50093990.88  2001872         NaN         NaN
451  SZ001914   1250875.0   8598269.00  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
449  SZ001872   2773294.0  50093990.88  2001872         NaN         NaN
451  SZ001914   1250875.0   8598269.00  2001914         NaN         NaN

2018-09-05
trade finished
0:04:46.658363
0:00:14.765039
20180906 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
448  SZ001872   2957949.0  51246175.67  2001872         NaN         NaN
450  SZ001914    841426.0   5754483.04  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
448  SZ001872   2957949.0  51246175.67  2001872         NaN         NaN
450  SZ001914    841426.0   5754483.04  2001914         NaN         NaN

2018-09-06
trade finished
0:04:35.013965
0:00:15.860011
20180907 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
447  SZ001872   1987205.0  34267942.24  2001872         NaN         NaN
449  SZ001914   1160684.0   7947959.76  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
447  SZ001872   1987205.0  34267942.24  2001872         NaN         NaN
449  SZ001914   1160684.0   7947959.76  2001914         NaN         NaN

2018-09-07
trade finished
0:04:56.384047
0:00:16.199619
20180910 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
446  SZ001872   1320078.0  22792715.60  2001872         NaN         NaN
448  SZ001914   1295687.0   8712418.77  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
446  SZ001872   1320078.0  22792715.60  2001872         NaN         NaN
448  SZ001914   1295687.0   8712418.77  2001914         NaN         NaN

2018-09-10
trade finished
0:04:42.533987
0:00:13.348021
20180911 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
446  SZ001872   2137292.0  37602420.23  2001872         NaN         NaN
448  SZ001914   1433565.0   9495318.35  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
446  SZ001872   2137292.0  37602420.23  2001872         NaN         NaN
448  SZ001914   1433565.0   9495318.35  2001914         NaN         NaN

2018-09-11
trade finished
0:04:08.314483
0:00:12.420371
20180912 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
446  SZ001872   1379920.0  24589271.31  2001872         NaN         NaN
448  SZ001914   1710575.0  11450271.91  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
446  SZ001872   1379920.0  24589271.31  2001872         NaN         NaN
448  SZ001914   1710575.0  11450271.91  2001914         NaN         NaN

2018-09-12
trade finished
0:03:55.657313
0:00:14.968384
20180913 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
447  SZ001872   2648026.0  48018595.35  2001872         NaN         NaN
449  SZ001914   2492601.0  16957767.28  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
447  SZ001872   2648026.0  48018595.35  2001872         NaN         NaN
449  SZ001914   2492601.0  16957767.28  2001914         NaN         NaN

2018-09-13
trade finished
0:04:29.640179
0:00:14.327624
20180914 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
447  SZ001872   4162699.0  78970823.98  2001872         NaN         NaN
449  SZ001914   4452819.0  31439890.89  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
447  SZ001872   4162699.0  78970823.98  2001872         NaN         NaN
449  SZ001914   4452819.0  31439890.89  2001914         NaN         NaN

2018-09-14
trade finished
0:04:24.674796
0:00:14.277096
20180917 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
447  SZ001872   5423676.0  1.042752e+08  2001872         NaN         NaN
449  SZ001914   2508609.0  1.712293e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
447  SZ001872   5423676.0  1.042752e+08  2001872         NaN         NaN
449  SZ001914   2508609.0  1.712293e+07  2001914         NaN         NaN

2018-09-17
trade finished
0:04:13.663891
0:00:16.178975
20180918 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
447  SZ001872   3333239.0  64067469.57  2001872         NaN         NaN
449  SZ001914   1638900.0  11093305.00  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
447  SZ001872   3333239.0  64067469.57  2001872         NaN         NaN
449  SZ001914   1638900.0  11093305.00  2001914         NaN         NaN

2018-09-18
trade finished
0:04:45.887585
0:00:19.290345
20180919 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
444  SZ001872   5697324.0  1.142493e+08  2001872         NaN         NaN
446  SZ001914   2077976.0  1.432649e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
444  SZ001872   5697324.0  1.142493e+08  2001872         NaN         NaN
446  SZ001914   2077976.0  1.432649e+07  2001914         NaN         NaN

2018-09-19
trade finished
0:05:28.629137
0:00:15.029706
20180920 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
444  SZ001872   5511142.0  1.093989e+08  2001872         NaN         NaN
446  SZ001914   1835298.0  1.278485e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
444  SZ001872   5511142.0  1.093989e+08  2001872         NaN         NaN
446  SZ001914   1835298.0  1.278485e+07  2001914         NaN         NaN

2018-09-20
trade finished
0:04:52.318038
0:00:16.681273
20180921 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
444  SZ001872   5247989.0  1.012397e+08  2001872         NaN         NaN
446  SZ001914   2070771.0  1.456665e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
444  SZ001872   5247989.0  1.012397e+08  2001872         NaN         NaN
446  SZ001914   2070771.0  1.456665e+07  2001914         NaN         NaN

2018-09-21
trade finished
0:05:18.390240
0:00:13.969566
20180925 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
446  SZ001872   2215734.0  42937741.02  2001872         NaN         NaN
448  SZ001914   1798081.0  12645686.27  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
446  SZ001872   2215734.0  42937741.02  2001872         NaN         NaN
448  SZ001914   1798081.0  12645686.27  2001914         NaN         NaN

2018-09-25
trade finished
0:04:22.701110
0:00:16.188532
20180926 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
446  SZ001872   3456087.0  68145046.77  2001872         NaN         NaN
448  SZ001914   1364518.0   9629921.83  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
446  SZ001872   3456087.0  68145046.77  2001872         NaN         NaN
448  SZ001914   1364518.0   9629921.83  2001914         NaN         NaN

2018-09-26
trade finished
0:04:58.404368
0:00:15.801178
20180927 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
448  SZ001872   1798221.0  35167304.7  2001872         NaN         NaN
450  SZ001914   1946300.0  13621576.0  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
448  SZ001872   1798221.0  35167304.7  2001872         NaN         NaN
450  SZ001914   1946300.0  13621576.0  2001914         NaN         NaN

2018-09-27
trade finished
0:05:12.630580
0:00:14.309077
20180928 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
448  SZ001914   1398052.0   9782860.0  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
448  SZ001914   1398052.0   9782860.0  2001914         NaN         NaN

2018-09-28
trade finished
0:04:28.642500
0:00:13.948862
20181008 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
447  SZ001914   2205040.0  15189701.0  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
447  SZ001914   2205040.0  15189701.0  2001914         NaN         NaN

2018-10-08
trade finished
0:04:36.693896
0:00:13.406226
20181009 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
446  SZ001914   1234100.0  8517021.08  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
446  SZ001914   1234100.0  8517021.08  2001914         NaN         NaN

2018-10-09
trade finished
0:03:55.498959
0:00:12.981996
20181010 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
446  SZ001872   2974227.0  54968351.95  2001872         NaN         NaN
448  SZ001914   1018704.0   7003804.81  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
446  SZ001872   2974227.0  54968351.95  2001872         NaN         NaN
448  SZ001914   1018704.0   7003804.81  2001914         NaN         NaN

2018-10-10
trade finished
0:04:05.543142
0:00:18.045462
20181011 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
446  SZ001872   3395857.0  58817718.72  2001872         NaN         NaN
448  SZ001914   3317622.0  21719809.48  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
446  SZ001872   3395857.0  58817718.72  2001872         NaN         NaN
448  SZ001914   3317622.0  21719809.48  2001914         NaN         NaN

2018-10-11
trade finished
0:05:40.153259
0:00:18.010983
20181012 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
448  SZ001872   2582066.0  42678381.92  2001872         NaN         NaN
450  SZ001914   4528175.0  27742818.26  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
448  SZ001872   2582066.0  42678381.92  2001872         NaN         NaN
450  SZ001914   4528175.0  27742818.26  2001914         NaN         NaN

2018-10-12
trade finished
0:05:20.285679
0:00:13.826251
20181015 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
448  SZ001872   2063050.0  35772332.81  2001872         NaN         NaN
450  SZ001914   3537087.0  22243030.63  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
448  SZ001872   2063050.0  35772332.81  2001872         NaN         NaN
450  SZ001914   3537087.0  22243030.63  2001914         NaN         NaN

2018-10-15
trade finished
0:04:19.528763
0:00:13.607025
20181016 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
448  SZ001872   2257383.0  37835363.02  2001872         NaN         NaN
450  SZ001914   2360747.0  14452124.95  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
448  SZ001872   2257383.0  37835363.02  2001872         NaN         NaN
450  SZ001914   2360747.0  14452124.95  2001914         NaN         NaN

2018-10-16
trade finished
0:04:25.104289
0:00:15.278493
20181017 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
448  SZ001872   1497524.0  24868232.40  2001872         NaN         NaN
450  SZ001914   2321676.0  14158860.34  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
448  SZ001872   1497524.0  24868232.40  2001872         NaN         NaN
450  SZ001914   2321676.0  14158860.34  2001914         NaN         NaN

2018-10-17
trade finished
0:04:35.837094
0:00:14.433543
20181018 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
446  SZ001872   4539083.0  78768545.41  2001872         NaN         NaN
448  SZ001914   2052865.0  12161758.38  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
446  SZ001872   4539083.0  78768545.41  2001872         NaN         NaN
448  SZ001914   2052865.0  12161758.38  2001914         NaN         NaN

2018-10-18
trade finished
0:04:33.625344
0:00:15.097269
20181019 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
444  SZ001872   4024715.0  72127823.68  2001872         NaN         NaN
446  SZ001914   2198932.0  12849420.83  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
444  SZ001872   4024715.0  72127823.68  2001872         NaN         NaN
446  SZ001914   2198932.0  12849420.83  2001914         NaN         NaN

2018-10-19
trade finished
0:04:58.628814
0:00:19.333853
20181022 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
444  SZ001872   6319155.0  1.219171e+08  2001872         NaN         NaN
446  SZ001914   3246096.0  1.997773e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
444  SZ001872   6319155.0  1.219171e+08  2001872         NaN         NaN
446  SZ001914   3246096.0  1.997773e+07  2001914         NaN         NaN

2018-10-22
trade finished
0:05:59.628758
0:00:17.155087
20181023 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
444  SZ001872   6718985.0  1.265159e+08  2001872         NaN         NaN
446  SZ001914   3156482.0  1.973352e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
444  SZ001872   6718985.0  1.265159e+08  2001872         NaN         NaN
446  SZ001914   3156482.0  1.973352e+07  2001914         NaN         NaN

2018-10-23
trade finished
0:05:40.789614
0:00:16.263440
20181024 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
444  SZ001872   2983744.0  52966050.70  2001872         NaN         NaN
446  SZ001914   2406267.0  15123103.55  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
444  SZ001872   2983744.0  52966050.70  2001872         NaN         NaN
446  SZ001914   2406267.0  15123103.55  2001914         NaN         NaN

2018-10-24
trade finished
0:04:54.941346
0:00:16.039099
20181025 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
442  SZ001872   3110534.0  53188912.07  2001872         NaN         NaN
444  SZ001914   2123719.0  13281545.80  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
442  SZ001872   3110534.0  53188912.07  2001872         NaN         NaN
444  SZ001914   2123719.0  13281545.80  2001914         NaN         NaN

2018-10-25
trade finished
0:05:09.103817
0:00:16.236360
20181026 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
444  SZ001872   2012170.0  35024687.46  2001872         NaN         NaN
446  SZ001914   2755300.0  17729939.00  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
444  SZ001872   2012170.0  35024687.46  2001872         NaN         NaN
446  SZ001914   2755300.0  17729939.00  2001914         NaN         NaN

2018-10-26
trade finished
0:04:56.178332
0:00:14.626534
20181029 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
448  SZ001872   1357310.0  23202396.60  2001872         NaN         NaN
450  SZ001914   1797281.0  11524353.11  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
448  SZ001872   1357310.0  23202396.60  2001872         NaN         NaN
450  SZ001914   1797281.0  11524353.11  2001914         NaN         NaN

2018-10-29
trade finished
0:04:22.706318
0:00:17.124946
20181030 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
448  SZ001872   1752400.0  30092548.00  2001872         NaN         NaN
450  SZ001914   3072633.0  19485680.09  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
448  SZ001872   1752400.0  30092548.00  2001872         NaN         NaN
450  SZ001914   3072633.0  19485680.09  2001914         NaN         NaN

2018-10-30
trade finished
0:05:09.227859
0:00:16.802182
20181031 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
447  SZ001872   1923311.0  33101653.48  2001872         NaN         NaN
449  SZ001914   4108453.0  26992616.94  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
447  SZ001872   1923311.0  33101653.48  2001872         NaN         NaN
449  SZ001914   4108453.0  26992616.94  2001914         NaN         NaN

2018-10-31
trade finished
0:05:03.658075
0:00:18.416127
20181101 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
446  SZ001872   2542286.0  44404226.05  2001872         NaN         NaN
448  SZ001914   5193383.0  35577515.31  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
446  SZ001872   2542286.0  44404226.05  2001872         NaN         NaN
448  SZ001914   5193383.0  35577515.31  2001914         NaN         NaN

2018-11-01
trade finished
0:05:51.389775
0:00:19.859513
20181102 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
449  SZ001872   2974686.0  52606701.53  2001872         NaN         NaN
451  SZ001914   3471447.0  23983956.02  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
449  SZ001872   2974686.0  52606701.53  2001872         NaN         NaN
451  SZ001914   3471447.0  23983956.02  2001914         NaN         NaN

2018-11-02
trade finished
0:06:16.645236
0:00:20.332457
20181105 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
450  SZ001872   2819450.0  49921684.57  2001872         NaN         NaN
452  SZ001914   4227341.0  29534827.07  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
450  SZ001872   2819450.0  49921684.57  2001872         NaN         NaN
452  SZ001914   4227341.0  29534827.07  2001914         NaN         NaN

2018-11-05
trade finished
0:06:17.610720
0:00:17.216579
20181106 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
450  SZ001872   1665823.0  28959754.79  2001872         NaN         NaN
452  SZ001914   5675052.0  40656921.62  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
450  SZ001872   1665823.0  28959754.79  2001872         NaN         NaN
452  SZ001914   5675052.0  40656921.62  2001914         NaN         NaN

2018-11-06
trade finished
0:05:24.009808
0:00:17.857679
20181107 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
449  SZ001872   1823523.0  32202755.3  2001872         NaN         NaN
451  SZ001914  12256770.0  94301069.2  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
449  SZ001872   1823523.0  32202755.3  2001872         NaN         NaN
451  SZ001914  12256770.0  94301069.2  2001914         NaN         NaN

2018-11-07
trade finished
0:05:31.166026
0:00:16.978425
20181108 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
449  SZ001872   1381363.0  24291503.21  2001872         NaN         NaN
451  SZ001914   7274057.0  54954847.63  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
449  SZ001872   1381363.0  24291503.21  2001872         NaN         NaN
451  SZ001914   7274057.0  54954847.63  2001914         NaN         NaN

2018-11-08
trade finished
0:05:14.120814
0:00:15.771552
20181109 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
449  SZ001872   1756551.0  29963599.44  2001872         NaN         NaN
451  SZ001914   4396237.0  32985223.10  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
449  SZ001872   1756551.0  29963599.44  2001872         NaN         NaN
451  SZ001914   4396237.0  32985223.10  2001914         NaN         NaN

2018-11-09
trade finished
0:04:59.754140
0:00:18.805762
20181112 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
451  SZ001872   1973046.0  33603150.57  2001872         NaN         NaN
453  SZ001914   4231058.0  31672256.80  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
451  SZ001872   1973046.0  33603150.57  2001872         NaN         NaN
453  SZ001914   4231058.0  31672256.80  2001914         NaN         NaN

2018-11-12
trade finished
0:05:49.659279
0:00:23.648832
20181113 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
452  SZ001872   2847688.0  48924852.12  2001872         NaN         NaN
454  SZ001914   4570334.0  34596308.47  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
452  SZ001872   2847688.0  48924852.12  2001872         NaN         NaN
454  SZ001914   4570334.0  34596308.47  2001914         NaN         NaN

2018-11-13
trade finished
0:07:14.488976
0:00:21.574547
20181114 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
452  SZ001872   3276460.0  56965280.76  2001872         NaN         NaN
454  SZ001914   4875605.0  37449312.33  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
452  SZ001872   3276460.0  56965280.76  2001872         NaN         NaN
454  SZ001914   4875605.0  37449312.33  2001914         NaN         NaN

2018-11-14
trade finished
0:06:53.739664
0:00:20.197907
20181115 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
453  SZ001872   3307516.0  57139327.17  2001872         NaN         NaN
455  SZ001914   5528054.0  43237700.12  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
453  SZ001872   3307516.0  57139327.17  2001872         NaN         NaN
455  SZ001914   5528054.0  43237700.12  2001914         NaN         NaN

2018-11-15
trade finished
0:06:26.673037
0:00:23.375669
20181116 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
454  SZ001872   4255160.0  74755280.48  2001872         NaN         NaN
456  SZ001914   5771599.0  45211312.21  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
454  SZ001872   4255160.0  74755280.48  2001872         NaN         NaN
456  SZ001914   5771599.0  45211312.21  2001914         NaN         NaN

2018-11-16
trade finished
0:07:10.179234
0:00:20.409843
20181119 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
454  SZ001872   5809396.0  1.040130e+08  2001872         NaN         NaN
456  SZ001914   9971368.0  8.127322e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
454  SZ001872   5809396.0  1.040130e+08  2001872         NaN         NaN
456  SZ001914   9971368.0  8.127322e+07  2001914         NaN         NaN

2018-11-19
trade finished
0:06:43.408037
0:00:21.298597
20181120 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
455  SZ001872   3847486.0  67831911.88  2001872         NaN         NaN
457  SZ001914   7887149.0  64815019.57  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
455  SZ001872   3847486.0  67831911.88  2001872         NaN         NaN
457  SZ001914   7887149.0  64815019.57  2001914         NaN         NaN

2018-11-20
trade finished
0:07:10.387221
0:00:19.013085
20181121 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
453  SZ001872   2163400.0  37568812.00  2001872         NaN         NaN
455  SZ001914   3636588.0  29497413.42  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
453  SZ001872   2163400.0  37568812.00  2001872         NaN         NaN
455  SZ001914   3636588.0  29497413.42  2001914         NaN         NaN

2018-11-21
trade finished
0:06:07.372665
0:00:17.911803
20181122 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
454  SZ001872   1481500.0  25546715.00  2001872         NaN         NaN
456  SZ001914   3161184.0  25585855.61  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
454  SZ001872   1481500.0  25546715.00  2001872         NaN         NaN
456  SZ001914   3161184.0  25585855.61  2001914         NaN         NaN

2018-11-22
trade finished
0:05:37.247099
0:00:21.440181
20181123 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
455  SZ001872   2703089.0  46452178.12  2001872         NaN         NaN
457  SZ001914   4178957.0  32808404.80  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
455  SZ001872   2703089.0  46452178.12  2001872         NaN         NaN
457  SZ001914   4178957.0  32808404.80  2001914         NaN         NaN

2018-11-23
trade finished
0:06:32.293180
0:00:15.625587
20181126 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
455  SZ001872   1683584.0  28618423.72  2001872         NaN         NaN
457  SZ001914   4092663.0  32659420.87  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
455  SZ001872   1683584.0  28618423.72  2001872         NaN         NaN
457  SZ001914   4092663.0  32659420.87  2001914         NaN         NaN

2018-11-26
trade finished
0:04:56.746736
0:00:15.996340
20181127 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
456  SZ001872   1214699.0  20597360.99  2001872         NaN         NaN
458  SZ001914   5335582.0  43262384.31  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
456  SZ001872   1214699.0  20597360.99  2001872         NaN         NaN
458  SZ001914   5335582.0  43262384.31  2001914         NaN         NaN

2018-11-27
trade finished
0:05:01.208872
0:00:17.983632
20181128 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
456  SZ001872   1414316.0  24194331.48  2001872         NaN         NaN
458  SZ001914   4116215.0  33058009.80  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
456  SZ001872   1414316.0  24194331.48  2001872         NaN         NaN
458  SZ001914   4116215.0  33058009.80  2001914         NaN         NaN

2018-11-28
trade finished
0:05:36.752611
0:00:16.926136
20181129 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
456  SZ001872   1252589.0  21407297.86  2001872         NaN         NaN
458  SZ001914   3071163.0  24517864.00  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
456  SZ001872   1252589.0  21407297.86  2001872         NaN         NaN
458  SZ001914   3071163.0  24517864.00  2001914         NaN         NaN

2018-11-29
trade finished
0:05:45.431644
0:00:17.866053
20181130 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
456  SZ001872   1032101.0  17600967.15  2001872         NaN         NaN
458  SZ001914   2368747.0  18572095.43  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
456  SZ001872   1032101.0  17600967.15  2001872         NaN         NaN
458  SZ001914   2368747.0  18572095.43  2001914         NaN         NaN

2018-11-30
trade finished
0:05:18.769860
0:00:20.598943
20181203 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
455  SZ001872   2673751.0  46953689.03  2001872         NaN         NaN
457  SZ001914   4151500.0  33155908.00  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
455  SZ001872   2673751.0  46953689.03  2001872         NaN         NaN
457  SZ001914   4151500.0  33155908.00  2001914         NaN         NaN

2018-12-03
trade finished
0:06:20.153847
0:00:19.836807
20181204 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
455  SZ001872   1632102.0  28569374.11  2001872         NaN         NaN
457  SZ001914   2101072.0  16674964.63  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
455  SZ001872   1632102.0  28569374.11  2001872         NaN         NaN
457  SZ001914   2101072.0  16674964.63  2001914         NaN         NaN

2018-12-04
trade finished
0:05:46.961759
0:00:19.059234
20181205 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
456  SZ001872   1945419.0  33776769.48  2001872         NaN         NaN
458  SZ001914   2475581.0  19383929.70  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
456  SZ001872   1945419.0  33776769.48  2001872         NaN         NaN
458  SZ001914   2475581.0  19383929.70  2001914         NaN         NaN

2018-12-05
trade finished
0:05:55.076249
0:00:18.674947
20181206 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
455  SZ001872   1789424.0  30686181.23  2001872         NaN         NaN
457  SZ001914   3715427.0  28510892.51  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
455  SZ001872   1789424.0  30686181.23  2001872         NaN         NaN
457  SZ001914   3715427.0  28510892.51  2001914         NaN         NaN

2018-12-06
trade finished
0:05:56.248274
0:00:16.429531
20181207 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
456  SZ001872   1820879.0  31381974.96  2001872         NaN         NaN
458  SZ001914   2521990.0  19432827.30  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
456  SZ001872   1820879.0  31381974.96  2001872         NaN         NaN
458  SZ001914   2521990.0  19432827.30  2001914         NaN         NaN

2018-12-07
trade finished
0:05:00.651270
0:00:16.285136
20181210 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
457  SZ001872   1090489.0  18516611.93  2001872         NaN         NaN
459  SZ001914   1489403.0  11370280.04  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
457  SZ001872   1090489.0  18516611.93  2001872         NaN         NaN
459  SZ001914   1489403.0  11370280.04  2001914         NaN         NaN

2018-12-10
trade finished
0:04:57.477853
0:00:15.099054
20181211 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
457  SZ001872    971001.0  16588858.10  2001872         NaN         NaN
459  SZ001914   1474195.0  11257091.55  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
457  SZ001872    971001.0  16588858.10  2001872         NaN         NaN
459  SZ001914   1474195.0  11257091.55  2001914         NaN         NaN

2018-12-11
trade finished
0:04:37.095354
0:00:14.459857
20181212 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
457  SZ001872   1013483.0  17403278.04  2001872         NaN         NaN
459  SZ001914   2264367.0  17349710.05  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
457  SZ001872   1013483.0  17403278.04  2001872         NaN         NaN
459  SZ001914   2264367.0  17349710.05  2001914         NaN         NaN

2018-12-12
trade finished
0:04:37.559374
0:00:16.758509
20181213 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
457  SZ001872   1931834.0  33522222.90  2001872         NaN         NaN
459  SZ001914   2106089.0  16135430.82  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
457  SZ001872   1931834.0  33522222.90  2001872         NaN         NaN
459  SZ001914   2106089.0  16135430.82  2001914         NaN         NaN

2018-12-13
trade finished
0:05:29.897645
0:00:17.762290
20181214 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
457  SZ001872   2891543.0  50436384.36  2001872         NaN         NaN
459  SZ001914   2790501.0  21022674.54  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
457  SZ001872   2891543.0  50436384.36  2001872         NaN         NaN
459  SZ001914   2790501.0  21022674.54  2001914         NaN         NaN

2018-12-14
trade finished
0:05:42.036882
0:00:15.053969
20181217 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
457  SZ001872   6393051.0  1.130270e+08  2001872         NaN         NaN
459  SZ001914   2547570.0  1.909934e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
457  SZ001872   6393051.0  1.130270e+08  2001872         NaN         NaN
459  SZ001914   2547570.0  1.909934e+07  2001914         NaN         NaN

2018-12-17
trade finished
0:04:54.211833
0:00:16.035333
20181218 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
457  SZ001872   4492334.0  77760053.64  2001872         NaN         NaN
459  SZ001914   2801995.0  21112887.64  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
457  SZ001872   4492334.0  77760053.64  2001872         NaN         NaN
459  SZ001914   2801995.0  21112887.64  2001914         NaN         NaN

2018-12-18
trade finished
0:04:50.793318
0:00:14.672892
20181219 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
456  SZ001872   2825517.0  47920181.62  2001872         NaN         NaN
458  SZ001914   5468400.0  42175482.18  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
456  SZ001872   2825517.0  47920181.62  2001872         NaN         NaN
458  SZ001914   5468400.0  42175482.18  2001914         NaN         NaN

2018-12-19
trade finished
0:04:35.138042
0:00:15.066917
20181220 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
458  SZ001872   2160496.0  35784802.86  2001872         NaN         NaN
460  SZ001914   3752450.0  28667149.85  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
458  SZ001872   2160496.0  35784802.86  2001872         NaN         NaN
460  SZ001914   3752450.0  28667149.85  2001914         NaN         NaN

2018-12-20
trade finished
0:04:35.027320
0:00:14.909660
20181221 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
458  SZ001914   3424133.0  25486774.79  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
458  SZ001914   3424133.0  25486774.79  2001914         NaN         NaN

2018-12-21
trade finished
0:04:37.795812
0:00:14.346227
20181224 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
458  SZ001914   1866600.0  13885584.0  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
458  SZ001914   1866600.0  13885584.0  2001914         NaN         NaN

2018-12-24
trade finished
0:04:27.059116
0:00:18.321251
20181225 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
456  SZ001914   2794506.0  20628011.38  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
456  SZ001914   2794506.0  20628011.38  2001914         NaN         NaN

2018-12-25
trade finished
0:05:37.223237
0:00:16.215896
20181226 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
457  SZ001914   1227817.0   9180874.3  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
457  SZ001914   1227817.0   9180874.3  2001914         NaN         NaN

2018-12-26
trade finished
0:04:50.037454
0:00:15.984323
20181227 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
456  SZ001914   2473492.0  18641997.18  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
456  SZ001914   2473492.0  18641997.18  2001914         NaN         NaN

2018-12-27
trade finished
0:05:13.500482
0:00:11.479591
20181228 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2000529,
 2000544,
 2000571,
 2000597,
 2000655,
 2000668,
 2000679,
 2000701,
 2000750,
 2000759,
 2000797,
 2000807,
 2000818,
 2000835,
 2000858,
 2000876,
 2000880,
 2000886,
 2000911,
 2000915,
 2000929,
 2000937,
 2000951,
 2000983,
 2000990,
 2001914,
 2002012,
 2002013,
 2002033,
 2002044,
 2002059,
 2002066,
 2002079,
 2002081,
 2002083,
 2002100,
 2002111,
 2002115,
 2002128,
 2002145,
 2002151,
 2002154,
 2002157,
 2002158,
 2002164,
 2002172,
 2002174,
 2002175,
 2002176,
 2002178,
 2002179,
 2002181,
 2002186,
 2002188,
 2002203,
 2002204,
 2002206,
 2002209,
 2002217,
 2002219,
 2002221,
 2002227,
 2002229,
 2002236,
 2002239,
 2002248,
 2002251,
 2002253,
 2002261,
 2002262,
 2002266,
 2002272,
 2002275,
 2002284,
 2002287,
 2002308,
 2002317,
 2002320,
 2002322,
 2002326,
 2002328,
 2002330,
 2002331,
 2002335,
 2002336,
 2002339,
 2002347,
 2002349,
 2002354,
 2002358,
 2002360,
 2002362,
 2002364,
 2002369,
 2002372,
 2002373,
 2002378,
 2002381,
 2002382,
 2002390,
 2002395,
 2002400,
 2002401,
 2002403,
 2002407,
 2002411,
 2002414,
 2002415,
 2002419,
 2002421,
 2002425,
 2002429,
 2002433,
 2002435,
 2002451,
 2002456,
 2002458,
 2002471,
 2002481,
 2002487,
 2002488,
 2002489,
 2002493,
 2002505,
 2002509,
 2002519,
 2002526,
 2002530,
 2002538,
 2002544,
 2002552,
 2002554,
 2002559,
 2002563,
 2002567,
 2002568,
 2002570,
 2002576,
 2002579,
 2002581,
 2002583,
 2002587,
 2002588,
 2002597,
 2002598,
 2002603,
 2002609,
 2002611,
 2002613,
 2002628,
 2002629,
 2002630,
 2002631,
 2002639,
 2002640,
 2002645,
 2002650,
 2002651,
 2002652,
 2002654,
 2002659,
 2002660,
 2002663,
 2002669,
 2002671,
 2002675,
 2002681,
 2002682,
 2002683,
 2002687,
 2002694,
 2002696,
 2002700,
 2002701,
 2002702,
 2002703,
 2002707,
 2002709,
 2002712,
 2002713,
 2002715,
 2002716,
 2002721,
 2002722,
 2002723,
 2002724,
 2002725,
 2002726,
 2002729,
 2002733,
 2002736,
 2002737,
 2002738,
 2002739,
 2002743,
 2002747,
 2002751,
 2002752,
 2002757,
 2002759,
 2002761,
 2002768,
 2002769,
 2002771,
 2002772,
 2002774,
 2002775,
 2002776,
 2002777,
 2002779,
 2002781,
 2002791,
 2002792,
 2002793,
 2002795,
 2002796,
 2002797,
 2002800,
 2002803,
 2002805,
 2002810,
 2002813,
 2002818,
 2002820,
 2002821,
 2002823,
 2002825,
 2002828,
 2002829,
 2002838,
 2002840,
 2002845,
 2002847,
 2002848,
 2002849,
 2002851,
 2002857,
 2002860,
 2002862,
 2002864,
 2002865,
 2002866,
 2002868,
 2002869,
 2002870,
 2002871,
 2002873,
 2002881,
 2002882,
 2002887,
 2002889,
 2002892,
 2002897,
 2002899,
 2002902,
 2002903,
 2002905,
 2002909,
 2002911,
 2002912,
 2002916,
 2002917,
 2002921,
 2002923,
 2002928,
 2002931,
 2002939,
 2002940,
 2002941,
 2002942,
 2002943,
 2300001,
 2300006,
 2300007,
 2300008,
 2300010,
 2300011,
 2300012,
 2300015,
 2300018,
 2300022,
 2300026,
 2300031,
 2300032,
 2300033,
 2300034,
 2300036,
 2300038,
 2300039,
 2300040,
 2300041,
 2300045,
 2300050,
 2300052,
 2300053,
 2300055,
 2300065,
 2300067,
 2300069,
 2300073,
 2300077,
 2300078,
 2300079,
 2300086,
 2300091,
 2300092,
 2300093,
 2300097,
 2300101,
 2300108,
 2300109,
 2300111,
 2300113,
 2300118,
 2300123,
 2300124,
 2300128,
 2300129,
 2300133,
 2300135,
 2300138,
 2300139,
 2300141,
 2300142,
 2300144,
 2300146,
 2300148,
 2300150,
 2300156,
 2300158,
 2300161,
 2300162,
 2300164,
 2300165,
 2300166,
 2300167,
 2300170,
 2300171,
 2300173,
 2300174,
 2300180,
 2300185,
 2300189,
 2300191,
 2300192,
 2300193,
 2300194,
 2300195,
 2300197,
 2300198,
 2300200,
 2300201,
 2300202,
 2300203,
 2300205,
 2300207,
 2300210,
 2300219,
 2300220,
 2300221,
 2300222,
 2300224,
 2300225,
 2300228,
 2300229,
 2300230,
 2300233,
 2300234,
 2300235,
 2300236,
 2300239,
 2300240,
 2300243,
 2300244,
 2300248,
 2300250,
 2300253,
 2300254,
 2300255,
 2300257,
 2300258,
 2300263,
 2300264,
 2300265,
 2300271,
 2300272,
 2300274,
 2300276,
 2300277,
 2300283,
 2300284,
 2300285,
 2300287,
 2300291,
 2300293,
 2300296,
 2300297,
 2300300,
 2300301,
 2300302,
 2300305,
 2300307,
 2300310,
 2300311,
 2300315,
 2300316,
 2300317,
 2300322,
 2300325,
 2300326,
 2300328,
 2300331,
 2300334,
 2300336,
 2300338,
 2300341,
 2300342,
 2300343,
 2300344,
 2300347,
 2300349,
 2300352,
 2300355,
 2300356,
 2300364,
 2300367,
 2300369,
 2300370,
 2300371,
 2300379,
 2300381,
 2300384,
 2300385,
 2300391,
 2300392,
 2300393,
 2300396,
 2300397,
 2300404,
 2300405,
 2300406,
 2300411,
 2300416,
 2300417,
 2300420,
 2300421,
 2300422,
 2300425,
 2300427,
 2300428,
 2300429,
 2300430,
 2300431,
 2300437,
 2300440,
 2300442,
 2300448,
 2300452,
 2300454,
 2300457,
 2300459,
 2300460,
 2300461,
 2300462,
 2300464,
 2300465,
 2300466,
 2300467,
 2300471,
 2300474,
 2300478,
 2300480,
 2300481,
 2300490,
 2300492,
 2300493,
 2300495,
 2300497,
 2300501,
 2300504,
 2300505,
 2300506,
 2300507,
 2300508,
 2300509,
 2300511,
 2300512,
 2300514,
 2300515,
 2300516,
 2300517,
 2300518,
 2300523,
 2300526,
 2300528,
 2300529,
 2300531,
 2300532,
 2300538,
 2300539,
 2300540,
 2300541,
 2300543,
 2300547,
 2300548,
 2300552,
 2300554,
 2300556,
 2300563,
 2300565,
 2300566,
 2300569,
 2300570,
 2300571,
 2300572,
 2300573,
 2300575,
 2300581,
 2300583,
 2300584,
 2300586,
 2300589,
 2300591,
 2300592,
 2300596,
 2300600,
 2300602,
 2300603,
 2300605,
 2300607,
 2300610,
 2300612,
 2300616,
 2300617,
 2300618,
 2300621,
 2300622,
 2300623,
 2300625,
 2300627,
 2300629,
 2300630,
 2300633,
 2300634,
 2300636,
 2300639,
 2300641,
 2300644,
 2300647,
 2300648,
 2300649,
 2300658,
 2300659,
 2300660,
 2300663,
 2300666,
 2300669,
 2300673,
 2300674,
 2300676,
 2300677,
 2300682,
 2300685,
 2300686,
 2300687,
 2300688,
 2300689,
 2300692,
 2300693,
 2300694,
 2300696,
 2300697,
 2300700,
 2300701,
 2300708,
 2300712,
 2300716,
 2300720,
 2300725,
 2300726,
 2300732,
 2300736,
 2300741,
 2300742,
 2300743,
 2300745,
 2300748,
 2300751}

            ID  max_volume    max_amount     skey  cum_volume  cum_amount
121   SZ000529   2612058.0  1.167855e+07  2000529         NaN         NaN
133   SZ000544   3111397.0  1.564928e+07  2000544         NaN         NaN
156   SZ000571  19167742.0  6.566701e+07  2000571         NaN         NaN
173   SZ000597   1555210.0  1.569794e+07  2000597         NaN         NaN
212   SZ000655   3290255.0  1.101284e+07  2000655         NaN         NaN
...        ...         ...           ...      ...         ...         ...
2099  SZ300742   2057922.0  8.404197e+07  2300742         NaN         NaN
2100  SZ300743   2188334.0  9.266090e+07  2300743         NaN         NaN
2101  SZ300745   4608380.0  1.710470e+08  2300745         NaN         NaN
2104  SZ300748  10589117.0  2.340441e+08  2300748         NaN         NaN
2107  SZ300751    934030.0  1.105244e+08  2300751         NaN         NaN

[588 rows x 6 columns]

            ID  max_volume    max_amount     skey  cum_volume  cum_amount
121   SZ000529   2612058.0  1.167855e+07  2000529         NaN         NaN
133   SZ000544   3111397.0  1.564928e+07  2000544         NaN         NaN
156   SZ000571  19167742.0  6.566701e+07  2000571         NaN         NaN
173   SZ000597   1555210.0  1.569794e+07  2000597         NaN         NaN
212   SZ000655   3290255.0  1.101284e+07  2000655         NaN         NaN
...        ...         ...           ...      ...         ...         ...
2099  SZ300742   2057922.0  8.404197e+07  2300742         NaN         NaN
2100  SZ300743   2188334.0  9.266090e+07  2300743         NaN         NaN
2101  SZ300745   4608380.0  1.710470e+08  2300745         NaN         NaN
2104  SZ300748  10589117.0  2.340441e+08  2300748         NaN         NaN
2107  SZ300751    934030.0  1.105244e+08  2300751         NaN         NaN

[588 rows x 6 columns]

2018-12-28
trade finished
0:03:31.748464