In [1]:
import pymongo
import pandas as pd
import pickle
import datetime
import time
import gzip
import lzma
import pytz


def DB(host, db_name, user, passwd):
    auth_db = db_name if user not in ('admin', 'root') else 'admin'
    uri = 'mongodb://%s:%s@%s/?authSource=%s' % (user, passwd, host, auth_db)
    return DBObj(uri, db_name=db_name)


class DBObj(object):
    def __init__(self, uri, symbol_column='skey', db_name='white_db'):
        self.db_name = db_name
        self.uri = uri
        self.client = pymongo.MongoClient(self.uri)
        self.db = self.client[self.db_name]
        self.chunk_size = 20000
        self.symbol_column = symbol_column
        self.date_column = 'date'

    def parse_uri(self, uri):
        # mongodb://user:password@example.com
        return uri.strip().replace('mongodb://', '').strip('/').replace(':', ' ').replace('@', ' ').split(' ')

    def drop_table(self, table_name):
        self.db.drop_collection(table_name)

    def rename_table(self, old_table, new_table):
        self.db[old_table].rename(new_table)

    def write(self, table_name, df):
        if len(df) == 0: return

        multi_date = False

        if self.date_column in df.columns:
            date = str(df.head(1)[self.date_column].iloc[0])
            multi_date = len(df[self.date_column].unique()) > 1
        else:
            raise Exception('DataFrame should contain date column')

        collection = self.db[table_name]
        collection.create_index([('date', pymongo.ASCENDING), ('symbol', pymongo.ASCENDING)], background=True)
        collection.create_index([('symbol', pymongo.ASCENDING), ('date', pymongo.ASCENDING)], background=True)

        if multi_date:
            for (date, symbol), sub_df in df.groupby([self.date_column, self.symbol_column]):
                date = str(date)
                symbol = int(symbol)
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)
        else:
            for symbol, sub_df in df.groupby([self.symbol_column]):
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)

    def write_single(self, collection, date, symbol, df):
        for start in range(0, len(df), self.chunk_size):
            end = min(start + self.chunk_size, len(df))
            df_seg = df[start:end]
            version = 1
            seg = {'ver': version, 'data': self.ser(df_seg, version), 'date': date, 'symbol': symbol, 'start': start}
            collection.insert_one(seg)

    def build_query(self, start_date=None, end_date=None, symbol=None):
        query = {}

        def parse_date(x):
            if type(x) == str:
                if len(x) != 8:
                    raise Exception("`date` must be YYYYMMDD format")
                return x
            elif type(x) == datetime.datetime or type(x) == datetime.date:
                return x.strftime("%Y%m%d")
            elif type(x) == int:
                return parse_date(str(x))
            else:
                raise Exception("invalid `date` type: " + str(type(x)))

        if start_date is not None or end_date is not None:
            query['date'] = {}
            if start_date is not None:
                query['date']['$gte'] = parse_date(start_date)
            if end_date is not None:
                query['date']['$lte'] = parse_date(end_date)

        def parse_symbol(x):
            if type(x) == int:
                return x
            else:
                return int(x)

        if symbol:
            if type(symbol) == list or type(symbol) == tuple:
                query['symbol'] = {'$in': [parse_symbol(x) for x in symbol]}
            else:
                query['symbol'] = parse_symbol(symbol)

        return query

    def delete(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot delete the whole table')
            return None

        collection.delete_many(query)

    def read(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot read the whole table')
            return None

        segs = []
        for x in collection.find(query):
            x['data'] = self.deser(x['data'], x['ver'])
            segs.append(x)
        segs.sort(key=lambda x: (x['symbol'], x['date'], x['start']))
        return pd.concat([x['data'] for x in segs], ignore_index=True) if segs else None

    def list_tables(self):
        return self.db.collection_names()

    def list_dates(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]
        dates = set()
        if start_date is None:
            start_date = '00000000'
        if end_date is None:
            end_date = '99999999'
        for x in collection.find(self.build_query(start_date, end_date, symbol), {"date": 1, '_id': 0}):
            dates.add(x['date'])
        return sorted(list(dates))

    def ser(self, s, version):
        pickle_protocol = 4
        if version == 1:
            return gzip.compress(pickle.dumps(s, protocol=pickle_protocol), compresslevel=2)
        elif version == 2:
            return lzma.compress(pickle.dumps(s, protocol=pickle_protocol), preset=1)
        else:
            raise Exception('unknown version')

    def deser(self, s, version):
        def unpickle(s):
            return pickle.loads(s)

        if version == 1:
            return unpickle(gzip.decompress(s))
        elif version == 2:
            return unpickle(lzma.decompress(s))
        else:
            raise Exception('unknown version')


def patch_pandas_pickle():
    if pd.__version__ < '0.24':
        import sys
        from types import ModuleType
        from pandas.core.internals import BlockManager
        pkg_name = 'pandas.core.internals.managers'
        if pkg_name not in sys.modules:
            m = ModuleType(pkg_name)
            m.BlockManager = BlockManager
            sys.modules[pkg_name] = m
patch_pandas_pickle()


            
            
            
            
            
            
            
            
import pandas as pd
import random
import numpy as np
import glob
import os
import pickle
import datetime
import time
pd.set_option("max_columns", 200)

startTm = datetime.datetime.now()
readPath = '/home/work516/day_stock/***'
dataPathLs = np.array(glob.glob(readPath))
dataPathLs = dataPathLs[[np.array([os.path.basename(i).split('.')[0][:2] == 'SZ' for i in dataPathLs])]]
db = pd.DataFrame()
for p in dataPathLs:
    dayData = pd.read_csv(p, compression='gzip')
    db = pd.concat([db, dayData])
print(datetime.datetime.now() - startTm)

year = "2019"
startDate = '20190101'
endDate = '20191231'
readPath = '/mnt/usb/data/' + year + '/***/***'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([os.path.basename(i) for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]

for data in dataPathLs:
    
    if len(np.array(glob.glob(data + '/SZ/***'))) == 0:
        if int(os.path.basename(data)) not in date_list["Date"].values:
            continue
        else:
            print(os.path.basename(data) + " less data!!!!!!!!!!!!!!!!!")
            less.append(data)
            continue
    startTm = datetime.datetime.now()
    date = os.path.basename(data)
    rar_path = data + '/SZ/tick.7z'
    path = '/mnt/e/unzip_data/2019/SZ'
    path1 = path + '/' + date
    un_path = path1
    cmd = '7za x {} -o{}'.format(rar_path, un_path)
    os.system(cmd)
    print(datetime.datetime.now() - startTm)
    print(date + ' unzip finished')
    
    
    startTm = datetime.datetime.now()
    
    readPath = path1 + '/tick/***'
    dataPathLs = np.array(glob.glob(readPath))
    dateLs = np.array([int(os.path.basename(i).split('.')[0]) for i in dataPathLs])
    dataPathLs = dataPathLs[(dateLs < 4000) | ((dateLs > 300000) & (dateLs < 310000))]
    TradeLog = []
    ll = []
    
    for i in dataPathLs:
        try:
            df = pd.read_csv(i)
        except:
            print("empty data")
            print(i)
            ll.append(int(os.path.basename(i).split('.')[0]))
            continue
        df["SecurityID"] = int(os.path.basename(i).split('.')[0])
        TradeLog += [df]
    TradeLog = pd.concat(TradeLog).reset_index(drop=True)
    TradeLog = TradeLog[TradeLog["ChannelNo"] != 4001]
    
    TradeLog["date"] = TradeLog["TransactTime"].iloc[0]//1000000000
    TradeLog = TradeLog.rename(columns={"Qty":"trade_qty", "Price":"trade_price", "ExecType":"trade_type"})
    TradeLog["trade_money"] = TradeLog["trade_price"] * TradeLog["trade_qty"]
    TradeLog["trade_flag"] = 0
    TradeLog["skey"] = TradeLog["SecurityID"] + 2000000
    TradeLog["clockAtArrival"] = TradeLog["TransactTime"].astype(str).apply(lambda x: np.int64(datetime.datetime.strptime(x, '%Y%m%d%H%M%S%f').timestamp()*1e6))
    TradeLog['datetime'] = TradeLog["clockAtArrival"].apply(lambda x: datetime.datetime.fromtimestamp(x/1e6))
    TradeLog["time"] = (TradeLog['TransactTime'] - int(TradeLog['TransactTime'].iloc[0]//1000000000*1000000000)).astype(np.int64)*1000
    TradeLog["trade_type"] = np.where(TradeLog["trade_type"] == 'F', 1, TradeLog["trade_type"])
    for col in ["skey", "date", "ApplSeqNum", "BidApplSeqNum", "OfferApplSeqNum", "trade_qty", "trade_type", "trade_flag"]:
        TradeLog[col] = TradeLog[col].astype('int32')
#     for cols in ["trade_money", "trade_price"]:
#         display(cols)
#         display(TradeLog[cols].astype(str).apply(lambda x: len(str(x.split('.')[1]))).unique())
#         TradeLog[cols] = TradeLog[cols].round(2)
#         display(TradeLog[cols].astype(str).apply(lambda x: len(str(x.split('.')[1]))).unique())
    for cols in ["trade_money"]:
        TradeLog[cols] = TradeLog[cols].round(2)
    
    da_te = str(TradeLog["date"].iloc[0]) 
    da_te = da_te[:4] + '-' + da_te[4:6] + '-' + da_te[6:8]
    db1 = db[db["date"] == da_te]
    sl = (db1["ID"].str[2:].astype(int) + 2000000).unique()
    db1["max_volume"] = db1.groupby("ID")["d_volume"].transform("max")
    db1["max_amount"] = db1.groupby("ID")["d_amount"].transform("max")
    t1 = db1.groupby("ID")["max_volume", "max_amount"].first().reset_index()
    del db1
    t1["skey"] = t1["ID"].str[2:].astype(int) + 2000000
    trade1 = TradeLog[TradeLog["trade_type"] == 1].groupby("skey")["trade_qty"].sum().reset_index()
    trade1.columns=["skey", "cum_volume"]
    trade2 = TradeLog[TradeLog["trade_type"] == 1].groupby("skey")["trade_money"].sum().reset_index()
    trade2.columns=["skey", "cum_amount"]
    t2 = pd.merge(trade1, trade2, on="skey")
    re = pd.merge(t1, t2, on="skey", how="outer")
    try:
        assert(t1.shape[0] == t2.shape[0])
        assert(re[re["cum_volume"] != re["max_volume"]].shape[0] == 0)
        assert(re[re["cum_amount"].round(2) != re["max_amount"]].shape[0] == 0)
    except:
        display(set(t1["skey"]) - set(t2["skey"]))
        display(re[re["cum_volume"] != re["max_volume"]])
        display(re[re["cum_amount"].round(2) != re["max_amount"]])
    del t1
    del t2
    del re
 
    TradeLog = TradeLog[["skey", "date", "time", "clockAtArrival", "datetime", "ApplSeqNum", "trade_type", "trade_flag",
                                                 "trade_price", "trade_qty", "BidApplSeqNum", "OfferApplSeqNum"]]
    print(da_te)
    print("trade finished")


    database_name = 'com_md_eq_cn'
    user = "zhenyuy"
    password = "bnONBrzSMGoE"

    db1 = DB("192.168.10.223", database_name, user, password)
    db1.write('md_trade', TradeLog)    
    
    del TradeLog

    print(datetime.datetime.now() - startTm)

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:201: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.

0:06:03.828682
0:00:19.996506
20190102 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
457  SZ001914   1484088.0  11059300.11  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
457  SZ001914   1484088.0  11059300.11  2001914         NaN         NaN

2019-01-02
trade finished
0:05:18.920930
0:00:23.072537
20190103 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
458  SZ001914   3523797.0  26558986.95  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
458  SZ001914   3523797.0  26558986.95  2001914         NaN         NaN

2019-01-03
trade finished
0:05:55.577976
0:00:22.789802
20190104 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
458  SZ001914   3647801.0  27877048.68  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
458  SZ001914   3647801.0  27877048.68  2001914         NaN         NaN

2019-01-04
trade finished
0:06:46.226912
0:00:24.475685
20190107 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
458  SZ001914   3747879.0  29401749.87  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
458  SZ001914   3747879.0  29401749.87  2001914         NaN         NaN

2019-01-07
trade finished
0:07:02.724141
0:00:22.550245
20190108 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
458  SZ001914   2170084.0  17154895.17  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
458  SZ001914   2170084.0  17154895.17  2001914         NaN         NaN

2019-01-08
trade finished
0:06:39.209984
0:00:26.996243
20190109 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
458  SZ001914   3183084.0  25205117.58  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
458  SZ001914   3183084.0  25205117.58  2001914         NaN         NaN

2019-01-09
trade finished
0:07:37.164609
0:00:22.487670
20190110 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
458  SZ001914   1284462.0  10078827.78  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
458  SZ001914   1284462.0  10078827.78  2001914         NaN         NaN

2019-01-10
trade finished
0:06:52.038442
0:00:21.750054
20190111 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
458  SZ001914   1832879.0  14370527.04  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
458  SZ001914   1832879.0  14370527.04  2001914         NaN         NaN

2019-01-11
trade finished
0:06:24.059313
0:00:21.117083
20190114 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
457  SZ001914   1912636.0  14871870.42  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
457  SZ001914   1912636.0  14871870.42  2001914         NaN         NaN

2019-01-14
trade finished
0:06:24.645264
0:00:23.323061
20190115 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
457  SZ001914   1799500.0  13922067.0  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
457  SZ001914   1799500.0  13922067.0  2001914         NaN         NaN

2019-01-15
trade finished
0:06:54.648752
0:00:21.534030
20190116 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
458  SZ001914   3419932.0  27017994.24  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
458  SZ001914   3419932.0  27017994.24  2001914         NaN         NaN

2019-01-16
trade finished
0:06:56.054352
0:00:44.108355
20190117 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
458  SZ001914   2240500.0  17559834.98  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
458  SZ001914   2240500.0  17559834.98  2001914         NaN         NaN

2019-01-17
trade finished
0:07:10.605377
0:00:48.546956
20190118 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
457  SZ001914   2357000.0  18323030.0  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
457  SZ001914   2357000.0  18323030.0  2001914         NaN         NaN

2019-01-18
trade finished
0:07:00.894155
0:00:23.142303
20190121 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
456  SZ001914   2361718.0  18362042.54  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
456  SZ001914   2361718.0  18362042.54  2001914         NaN         NaN

2019-01-21
trade finished
0:06:20.976555
0:00:22.845714
20190122 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
456  SZ001914   2572745.0  19910513.08  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
456  SZ001914   2572745.0  19910513.08  2001914         NaN         NaN

2019-01-22
trade finished
0:06:02.176374
0:00:18.674271
20190123 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
456  SZ001914   1354203.0  10434827.97  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
456  SZ001914   1354203.0  10434827.97  2001914         NaN         NaN

2019-01-23
trade finished
0:05:34.600674
0:00:20.731953
20190124 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
457  SZ001914   2977257.0  23146333.97  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
457  SZ001914   2977257.0  23146333.97  2001914         NaN         NaN

2019-01-24
trade finished
0:06:21.314850
0:00:30.906195
20190125 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
458  SZ001914   2077062.0  16188605.92  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
458  SZ001914   2077062.0  16188605.92  2001914         NaN         NaN

2019-01-25
trade finished
0:06:24.811164
0:01:00.501606
20190128 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
459  SZ001914   2499185.0  19423594.21  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
459  SZ001914   2499185.0  19423594.21  2001914         NaN         NaN

2019-01-28
trade finished
0:06:34.182752
0:00:25.671052
20190129 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
459  SZ001914   2883388.0  21659758.7  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
459  SZ001914   2883388.0  21659758.7  2001914         NaN         NaN

2019-01-29
trade finished
0:06:32.136992
0:00:25.286799
20190130 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
459  SZ001914   2293462.0  17275411.79  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
459  SZ001914   2293462.0  17275411.79  2001914         NaN         NaN

2019-01-30
trade finished
0:05:25.264752
0:00:23.007357
20190131 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
459  SZ001914   2739777.0  20258619.37  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
459  SZ001914   2739777.0  20258619.37  2001914         NaN         NaN

2019-01-31
trade finished
0:06:08.957762
0:00:20.909929
20190201 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
459  SZ001914   1502778.0  11161549.58  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
459  SZ001914   1502778.0  11161549.58  2001914         NaN         NaN

2019-02-01
trade finished
0:05:39.847948
0:00:47.072730
20190211 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
459  SZ001914   2928462.0  22143814.94  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
459  SZ001914   2928462.0  22143814.94  2001914         NaN         NaN

2019-02-11
trade finished
0:06:16.455708
0:00:29.723173
20190212 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
459  SZ001914   2464338.0  18967629.76  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
459  SZ001914   2464338.0  18967629.76  2001914         NaN         NaN

2019-02-12
trade finished
0:07:15.280215
0:00:32.715887
20190213 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
459  SZ001914   3594728.0  28082831.32  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
459  SZ001914   3594728.0  28082831.32  2001914         NaN         NaN

2019-02-13
trade finished
0:08:14.222632
0:00:50.472927
20190214 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
459  SZ001914   2421625.0  19009695.35  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
459  SZ001914   2421625.0  19009695.35  2001914         NaN         NaN

2019-02-14
trade finished
0:07:59.982466
0:00:50.709740
20190215 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
459  SZ001914   2565181.0  20152770.82  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
459  SZ001914   2565181.0  20152770.82  2001914         NaN         NaN

2019-02-15
trade finished
0:08:25.300434
0:00:39.809210
20190218 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
458  SZ001914   4633172.0  36730828.99  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
458  SZ001914   4633172.0  36730828.99  2001914         NaN         NaN

2019-02-18
trade finished
0:09:39.126353
0:00:58.063662
20190219 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
458  SZ001914   4655502.0  36901598.59  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
458  SZ001914   4655502.0  36901598.59  2001914         NaN         NaN

2019-02-19
trade finished
0:11:25.369166
0:00:44.355106
20190220 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
456  SZ001914   3267831.0  25667336.93  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
456  SZ001914   3267831.0  25667336.93  2001914         NaN         NaN

2019-02-20
trade finished
0:09:21.574650
0:00:45.954539
20190221 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
459  SZ001914   3857454.0  30462105.59  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
459  SZ001914   3857454.0  30462105.59  2001914         NaN         NaN

2019-02-21
trade finished
0:11:13.717259
0:05:18.700091
20190222 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
459  SZ001914   3666450.0  28742624.12  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
459  SZ001914   3666450.0  28742624.12  2001914         NaN         NaN

2019-02-22
trade finished
0:10:10.159617
0:01:50.502235
20190225 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
457  SZ001914   9854330.0  80103423.95  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
457  SZ001914   9854330.0  80103423.95  2001914         NaN         NaN

2019-02-25
trade finished
0:13:24.630204
0:00:00.300813
20190226 unzip finished

ValueError: No objects to concatenate

In [ ]:
import pymongo
import pandas as pd
import pickle
import datetime
import time
import gzip
import lzma
import pytz


def DB(host, db_name, user, passwd):
    auth_db = db_name if user not in ('admin', 'root') else 'admin'
    uri = 'mongodb://%s:%s@%s/?authSource=%s' % (user, passwd, host, auth_db)
    return DBObj(uri, db_name=db_name)


class DBObj(object):
    def __init__(self, uri, symbol_column='skey', db_name='white_db'):
        self.db_name = db_name
        self.uri = uri
        self.client = pymongo.MongoClient(self.uri)
        self.db = self.client[self.db_name]
        self.chunk_size = 20000
        self.symbol_column = symbol_column
        self.date_column = 'date'

    def parse_uri(self, uri):
        # mongodb://user:password@example.com
        return uri.strip().replace('mongodb://', '').strip('/').replace(':', ' ').replace('@', ' ').split(' ')

    def drop_table(self, table_name):
        self.db.drop_collection(table_name)

    def rename_table(self, old_table, new_table):
        self.db[old_table].rename(new_table)

    def write(self, table_name, df):
        if len(df) == 0: return

        multi_date = False

        if self.date_column in df.columns:
            date = str(df.head(1)[self.date_column].iloc[0])
            multi_date = len(df[self.date_column].unique()) > 1
        else:
            raise Exception('DataFrame should contain date column')

        collection = self.db[table_name]
        collection.create_index([('date', pymongo.ASCENDING), ('symbol', pymongo.ASCENDING)], background=True)
        collection.create_index([('symbol', pymongo.ASCENDING), ('date', pymongo.ASCENDING)], background=True)

        if multi_date:
            for (date, symbol), sub_df in df.groupby([self.date_column, self.symbol_column]):
                date = str(date)
                symbol = int(symbol)
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)
        else:
            for symbol, sub_df in df.groupby([self.symbol_column]):
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)

    def write_single(self, collection, date, symbol, df):
        for start in range(0, len(df), self.chunk_size):
            end = min(start + self.chunk_size, len(df))
            df_seg = df[start:end]
            version = 1
            seg = {'ver': version, 'data': self.ser(df_seg, version), 'date': date, 'symbol': symbol, 'start': start}
            collection.insert_one(seg)

    def build_query(self, start_date=None, end_date=None, symbol=None):
        query = {}

        def parse_date(x):
            if type(x) == str:
                if len(x) != 8:
                    raise Exception("`date` must be YYYYMMDD format")
                return x
            elif type(x) == datetime.datetime or type(x) == datetime.date:
                return x.strftime("%Y%m%d")
            elif type(x) == int:
                return parse_date(str(x))
            else:
                raise Exception("invalid `date` type: " + str(type(x)))

        if start_date is not None or end_date is not None:
            query['date'] = {}
            if start_date is not None:
                query['date']['$gte'] = parse_date(start_date)
            if end_date is not None:
                query['date']['$lte'] = parse_date(end_date)

        def parse_symbol(x):
            if type(x) == int:
                return x
            else:
                return int(x)

        if symbol:
            if type(symbol) == list or type(symbol) == tuple:
                query['symbol'] = {'$in': [parse_symbol(x) for x in symbol]}
            else:
                query['symbol'] = parse_symbol(symbol)

        return query

    def delete(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot delete the whole table')
            return None

        collection.delete_many(query)

    def read(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot read the whole table')
            return None

        segs = []
        for x in collection.find(query):
            x['data'] = self.deser(x['data'], x['ver'])
            segs.append(x)
        segs.sort(key=lambda x: (x['symbol'], x['date'], x['start']))
        return pd.concat([x['data'] for x in segs], ignore_index=True) if segs else None

    def list_tables(self):
        return self.db.collection_names()

    def list_dates(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]
        dates = set()
        if start_date is None:
            start_date = '00000000'
        if end_date is None:
            end_date = '99999999'
        for x in collection.find(self.build_query(start_date, end_date, symbol), {"date": 1, '_id': 0}):
            dates.add(x['date'])
        return sorted(list(dates))

    def ser(self, s, version):
        pickle_protocol = 4
        if version == 1:
            return gzip.compress(pickle.dumps(s, protocol=pickle_protocol), compresslevel=2)
        elif version == 2:
            return lzma.compress(pickle.dumps(s, protocol=pickle_protocol), preset=1)
        else:
            raise Exception('unknown version')

    def deser(self, s, version):
        def unpickle(s):
            return pickle.loads(s)

        if version == 1:
            return unpickle(gzip.decompress(s))
        elif version == 2:
            return unpickle(lzma.decompress(s))
        else:
            raise Exception('unknown version')


def patch_pandas_pickle():
    if pd.__version__ < '0.24':
        import sys
        from types import ModuleType
        from pandas.core.internals import BlockManager
        pkg_name = 'pandas.core.internals.managers'
        if pkg_name not in sys.modules:
            m = ModuleType(pkg_name)
            m.BlockManager = BlockManager
            sys.modules[pkg_name] = m
patch_pandas_pickle()


            
            
            
            
            
            
            
            
import pandas as pd
import random
import numpy as np
import glob
import os
import pickle
import datetime
import time
pd.set_option("max_columns", 200)

startTm = datetime.datetime.now()
readPath = '/home/work516/day_stock/***'
dataPathLs = np.array(glob.glob(readPath))
dataPathLs = dataPathLs[[np.array([os.path.basename(i).split('.')[0][:2] == 'SZ' for i in dataPathLs])]]
db = pd.DataFrame()
for p in dataPathLs:
    dayData = pd.read_csv(p, compression='gzip')
    db = pd.concat([db, dayData])
print(datetime.datetime.now() - startTm)

year = "2019"
startDate = '20190226'
endDate = '20191231'
readPath = '/mnt/usb/data/' + year + '/***/***'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([os.path.basename(i) for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]

for data in dataPathLs:
    
    if len(np.array(glob.glob(data + '/SZ/***'))) == 0:
        if int(os.path.basename(data)) not in date_list["Date"].values:
            continue
        else:
            print(os.path.basename(data) + " less data!!!!!!!!!!!!!!!!!")
            less.append(data)
            continue
    startTm = datetime.datetime.now()
    date = os.path.basename(data)
    rar_path = data + '/SZ/tick.7z'
    path = '/mnt/e/unzip_data/2019/SZ'
    path1 = path + '/' + date
    un_path = path1
    cmd = '7za x {} -o{}'.format(rar_path, un_path)
    os.system(cmd)
    print(datetime.datetime.now() - startTm)
    print(date + ' unzip finished')
    
    
    startTm = datetime.datetime.now()
    
    readPath = path1 + '/tick/***'
    dataPathLs = np.array(glob.glob(readPath))
    dateLs = np.array([int(os.path.basename(i).split('.')[0]) for i in dataPathLs])
    dataPathLs = dataPathLs[(dateLs < 4000) | ((dateLs > 300000) & (dateLs < 310000))]
    TradeLog = []
    ll = []
    
    for i in dataPathLs:
        try:
            df = pd.read_csv(i)
        except:
            print("empty data")
            print(i)
            ll.append(int(os.path.basename(i).split('.')[0]))
            continue
        df["SecurityID"] = int(os.path.basename(i).split('.')[0])
        TradeLog += [df]
    TradeLog = pd.concat(TradeLog).reset_index(drop=True)
    TradeLog = TradeLog[TradeLog["ChannelNo"] != 4001]
    
    TradeLog["date"] = TradeLog["TransactTime"].iloc[0]//1000000000
    TradeLog = TradeLog.rename(columns={"Qty":"trade_qty", "Price":"trade_price", "ExecType":"trade_type"})
    TradeLog["trade_money"] = TradeLog["trade_price"] * TradeLog["trade_qty"]
    TradeLog["trade_flag"] = 0
    TradeLog["skey"] = TradeLog["SecurityID"] + 2000000
    TradeLog["clockAtArrival"] = TradeLog["TransactTime"].astype(str).apply(lambda x: np.int64(datetime.datetime.strptime(x, '%Y%m%d%H%M%S%f').timestamp()*1e6))
    TradeLog['datetime'] = TradeLog["clockAtArrival"].apply(lambda x: datetime.datetime.fromtimestamp(x/1e6))
    TradeLog["time"] = (TradeLog['TransactTime'] - int(TradeLog['TransactTime'].iloc[0]//1000000000*1000000000)).astype(np.int64)*1000
    TradeLog["trade_type"] = np.where(TradeLog["trade_type"] == 'F', 1, TradeLog["trade_type"])
    for col in ["skey", "date", "ApplSeqNum", "BidApplSeqNum", "OfferApplSeqNum", "trade_qty", "trade_type", "trade_flag"]:
        TradeLog[col] = TradeLog[col].astype('int32')
#     for cols in ["trade_money", "trade_price"]:
#         display(cols)
#         display(TradeLog[cols].astype(str).apply(lambda x: len(str(x.split('.')[1]))).unique())
#         TradeLog[cols] = TradeLog[cols].round(2)
#         display(TradeLog[cols].astype(str).apply(lambda x: len(str(x.split('.')[1]))).unique())
    for cols in ["trade_money"]:
        TradeLog[cols] = TradeLog[cols].round(2)
    
    da_te = str(TradeLog["date"].iloc[0]) 
    da_te = da_te[:4] + '-' + da_te[4:6] + '-' + da_te[6:8]
    db1 = db[db["date"] == da_te]
    sl = (db1["ID"].str[2:].astype(int) + 2000000).unique()
    db1["max_volume"] = db1.groupby("ID")["d_volume"].transform("max")
    db1["max_amount"] = db1.groupby("ID")["d_amount"].transform("max")
    t1 = db1.groupby("ID")["max_volume", "max_amount"].first().reset_index()
    del db1
    t1["skey"] = t1["ID"].str[2:].astype(int) + 2000000
    trade1 = TradeLog[TradeLog["trade_type"] == 1].groupby("skey")["trade_qty"].sum().reset_index()
    trade1.columns=["skey", "cum_volume"]
    trade2 = TradeLog[TradeLog["trade_type"] == 1].groupby("skey")["trade_money"].sum().reset_index()
    trade2.columns=["skey", "cum_amount"]
    t2 = pd.merge(trade1, trade2, on="skey")
    re = pd.merge(t1, t2, on="skey", how="outer")
    try:
        assert(t1.shape[0] == t2.shape[0])
        assert(re[re["cum_volume"] != re["max_volume"]].shape[0] == 0)
        assert(re[re["cum_amount"].round(2) != re["max_amount"]].shape[0] == 0)
    except:
        display(set(t1["skey"]) - set(t2["skey"]))
        display(re[re["cum_volume"] != re["max_volume"]])
        display(re[re["cum_amount"].round(2) != re["max_amount"]])
    del t1
    del t2
    del re
 
    TradeLog = TradeLog[["skey", "date", "time", "clockAtArrival", "datetime", "ApplSeqNum", "trade_type", "trade_flag",
                                                 "trade_price", "trade_qty", "BidApplSeqNum", "OfferApplSeqNum"]]
    print(da_te)
    print("trade finished")


    database_name = 'com_md_eq_cn'
    user = "zhenyuy"
    password = "bnONBrzSMGoE"

    db1 = DB("192.168.10.223", database_name, user, password)
    db1.write('md_trade', TradeLog)    
    
    del TradeLog

    print(datetime.datetime.now() - startTm)

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:201: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.

0:06:40.878163
0:00:57.100324
20190226 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
457  SZ001914   9275906.0  76575647.57  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
457  SZ001914   9275906.0  76575647.57  2001914         NaN         NaN

2019-02-26
trade finished
0:15:22.852580
0:00:47.062847
20190227 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
457  SZ001914   9424092.0  78393415.96  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
457  SZ001914   9424092.0  78393415.96  2001914         NaN         NaN

2019-02-27
trade finished
0:12:48.918853
0:00:42.825558
20190228 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
456  SZ001914   5906665.0  49341446.85  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
456  SZ001914   5906665.0  49341446.85  2001914         NaN         NaN

2019-02-28
trade finished
0:10:38.472189
0:00:40.079152
20190301 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
456  SZ001914   4805943.0  39828301.92  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
456  SZ001914   4805943.0  39828301.92  2001914         NaN         NaN

2019-03-01
trade finished
0:10:01.841853
0:00:50.345667
20190304 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
456  SZ001914   7710606.0  65147437.72  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
456  SZ001914   7710606.0  65147437.72  2001914         NaN         NaN

2019-03-04
trade finished
0:14:33.882492
0:00:42.022833
20190305 unzip finished

In [1]:
import pymongo
import pandas as pd
import pickle
import datetime
import time
import gzip
import lzma
import pytz


def DB(host, db_name, user, passwd):
    auth_db = db_name if user not in ('admin', 'root') else 'admin'
    uri = 'mongodb://%s:%s@%s/?authSource=%s' % (user, passwd, host, auth_db)
    return DBObj(uri, db_name=db_name)


class DBObj(object):
    def __init__(self, uri, symbol_column='skey', db_name='white_db'):
        self.db_name = db_name
        self.uri = uri
        self.client = pymongo.MongoClient(self.uri)
        self.db = self.client[self.db_name]
        self.chunk_size = 20000
        self.symbol_column = symbol_column
        self.date_column = 'date'

    def parse_uri(self, uri):
        # mongodb://user:password@example.com
        return uri.strip().replace('mongodb://', '').strip('/').replace(':', ' ').replace('@', ' ').split(' ')

    def drop_table(self, table_name):
        self.db.drop_collection(table_name)

    def rename_table(self, old_table, new_table):
        self.db[old_table].rename(new_table)

    def write(self, table_name, df):
        if len(df) == 0: return

        multi_date = False

        if self.date_column in df.columns:
            date = str(df.head(1)[self.date_column].iloc[0])
            multi_date = len(df[self.date_column].unique()) > 1
        else:
            raise Exception('DataFrame should contain date column')

        collection = self.db[table_name]
        collection.create_index([('date', pymongo.ASCENDING), ('symbol', pymongo.ASCENDING)], background=True)
        collection.create_index([('symbol', pymongo.ASCENDING), ('date', pymongo.ASCENDING)], background=True)

        if multi_date:
            for (date, symbol), sub_df in df.groupby([self.date_column, self.symbol_column]):
                date = str(date)
                symbol = int(symbol)
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)
        else:
            for symbol, sub_df in df.groupby([self.symbol_column]):
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)

    def write_single(self, collection, date, symbol, df):
        for start in range(0, len(df), self.chunk_size):
            end = min(start + self.chunk_size, len(df))
            df_seg = df[start:end]
            version = 1
            seg = {'ver': version, 'data': self.ser(df_seg, version), 'date': date, 'symbol': symbol, 'start': start}
            collection.insert_one(seg)

    def build_query(self, start_date=None, end_date=None, symbol=None):
        query = {}

        def parse_date(x):
            if type(x) == str:
                if len(x) != 8:
                    raise Exception("`date` must be YYYYMMDD format")
                return x
            elif type(x) == datetime.datetime or type(x) == datetime.date:
                return x.strftime("%Y%m%d")
            elif type(x) == int:
                return parse_date(str(x))
            else:
                raise Exception("invalid `date` type: " + str(type(x)))

        if start_date is not None or end_date is not None:
            query['date'] = {}
            if start_date is not None:
                query['date']['$gte'] = parse_date(start_date)
            if end_date is not None:
                query['date']['$lte'] = parse_date(end_date)

        def parse_symbol(x):
            if type(x) == int:
                return x
            else:
                return int(x)

        if symbol:
            if type(symbol) == list or type(symbol) == tuple:
                query['symbol'] = {'$in': [parse_symbol(x) for x in symbol]}
            else:
                query['symbol'] = parse_symbol(symbol)

        return query

    def delete(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot delete the whole table')
            return None

        collection.delete_many(query)

    def read(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot read the whole table')
            return None

        segs = []
        for x in collection.find(query):
            x['data'] = self.deser(x['data'], x['ver'])
            segs.append(x)
        segs.sort(key=lambda x: (x['symbol'], x['date'], x['start']))
        return pd.concat([x['data'] for x in segs], ignore_index=True) if segs else None

    def list_tables(self):
        return self.db.collection_names()

    def list_dates(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]
        dates = set()
        if start_date is None:
            start_date = '00000000'
        if end_date is None:
            end_date = '99999999'
        for x in collection.find(self.build_query(start_date, end_date, symbol), {"date": 1, '_id': 0}):
            dates.add(x['date'])
        return sorted(list(dates))

    def ser(self, s, version):
        pickle_protocol = 4
        if version == 1:
            return gzip.compress(pickle.dumps(s, protocol=pickle_protocol), compresslevel=2)
        elif version == 2:
            return lzma.compress(pickle.dumps(s, protocol=pickle_protocol), preset=1)
        else:
            raise Exception('unknown version')

    def deser(self, s, version):
        def unpickle(s):
            return pickle.loads(s)

        if version == 1:
            return unpickle(gzip.decompress(s))
        elif version == 2:
            return unpickle(lzma.decompress(s))
        else:
            raise Exception('unknown version')


def patch_pandas_pickle():
    if pd.__version__ < '0.24':
        import sys
        from types import ModuleType
        from pandas.core.internals import BlockManager
        pkg_name = 'pandas.core.internals.managers'
        if pkg_name not in sys.modules:
            m = ModuleType(pkg_name)
            m.BlockManager = BlockManager
            sys.modules[pkg_name] = m
patch_pandas_pickle()


            
            
            
            
            
            
            
            
import pandas as pd
import random
import numpy as np
import glob
import os
import pickle
import datetime
import time
pd.set_option("max_columns", 200)

startTm = datetime.datetime.now()
readPath = '/home/work516/day_stock/***'
dataPathLs = np.array(glob.glob(readPath))
dataPathLs = dataPathLs[[np.array([os.path.basename(i).split('.')[0][:2] == 'SZ' for i in dataPathLs])]]
db = pd.DataFrame()
for p in dataPathLs:
    dayData = pd.read_csv(p, compression='gzip')
    db = pd.concat([db, dayData])
print(datetime.datetime.now() - startTm)

year = "2019"
startDate = '20190305'
endDate = '20191231'
readPath = '/mnt/usb/data/' + year + '/***/***'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([os.path.basename(i) for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]

for data in dataPathLs:
    
    if len(np.array(glob.glob(data + '/SZ/***'))) == 0:
        if int(os.path.basename(data)) not in date_list["Date"].values:
            continue
        else:
            print(os.path.basename(data) + " less data!!!!!!!!!!!!!!!!!")
            less.append(data)
            continue
    startTm = datetime.datetime.now()
    date = os.path.basename(data)
    rar_path = data + '/SZ/tick.7z'
    path = '/mnt/e/unzip_data/2019/SZ'
    path1 = path + '/' + date
    un_path = path1
    cmd = '7za x {} -o{}'.format(rar_path, un_path)
    os.system(cmd)
    print(datetime.datetime.now() - startTm)
    print(date + ' unzip finished')
    
    
    startTm = datetime.datetime.now()
    
    readPath = path1 + '/tick/***'
    dataPathLs = np.array(glob.glob(readPath))
    dateLs = np.array([int(os.path.basename(i).split('.')[0]) for i in dataPathLs])
    dataPathLs = dataPathLs[(dateLs < 4000) | ((dateLs > 300000) & (dateLs < 310000))]
    TradeLog = []
    ll = []
    
    for i in dataPathLs:
        try:
            df = pd.read_csv(i)
        except:
            print("empty data")
            print(i)
            ll.append(int(os.path.basename(i).split('.')[0]))
            continue
        df["SecurityID"] = int(os.path.basename(i).split('.')[0])
        TradeLog += [df]
    TradeLog = pd.concat(TradeLog).reset_index(drop=True)
    TradeLog = TradeLog[TradeLog["ChannelNo"] != 4001]
    
    TradeLog["date"] = TradeLog["TransactTime"].iloc[0]//1000000000
    TradeLog = TradeLog.rename(columns={"Qty":"trade_qty", "Price":"trade_price", "ExecType":"trade_type"})
    TradeLog["trade_money"] = TradeLog["trade_price"] * TradeLog["trade_qty"]
    TradeLog["trade_flag"] = 0
    TradeLog["skey"] = TradeLog["SecurityID"] + 2000000
    TradeLog["clockAtArrival"] = TradeLog["TransactTime"].astype(str).apply(lambda x: np.int64(datetime.datetime.strptime(x, '%Y%m%d%H%M%S%f').timestamp()*1e6))
    TradeLog['datetime'] = TradeLog["clockAtArrival"].apply(lambda x: datetime.datetime.fromtimestamp(x/1e6))
    TradeLog["time"] = (TradeLog['TransactTime'] - int(TradeLog['TransactTime'].iloc[0]//1000000000*1000000000)).astype(np.int64)*1000
    TradeLog["trade_type"] = np.where(TradeLog["trade_type"] == 'F', 1, TradeLog["trade_type"])
    for col in ["skey", "date", "ApplSeqNum", "BidApplSeqNum", "OfferApplSeqNum", "trade_qty", "trade_type", "trade_flag"]:
        TradeLog[col] = TradeLog[col].astype('int32')
#     for cols in ["trade_money", "trade_price"]:
#         display(cols)
#         display(TradeLog[cols].astype(str).apply(lambda x: len(str(x.split('.')[1]))).unique())
#         TradeLog[cols] = TradeLog[cols].round(2)
#         display(TradeLog[cols].astype(str).apply(lambda x: len(str(x.split('.')[1]))).unique())
    for cols in ["trade_money"]:
        TradeLog[cols] = TradeLog[cols].round(2)
    
    da_te = str(TradeLog["date"].iloc[0]) 
    da_te = da_te[:4] + '-' + da_te[4:6] + '-' + da_te[6:8]
    db1 = db[db["date"] == da_te]
    sl = (db1["ID"].str[2:].astype(int) + 2000000).unique()
    db1["max_volume"] = db1.groupby("ID")["d_volume"].transform("max")
    db1["max_amount"] = db1.groupby("ID")["d_amount"].transform("max")
    t1 = db1.groupby("ID")["max_volume", "max_amount"].first().reset_index()
    del db1
    t1["skey"] = t1["ID"].str[2:].astype(int) + 2000000
    trade1 = TradeLog[TradeLog["trade_type"] == 1].groupby("skey")["trade_qty"].sum().reset_index()
    trade1.columns=["skey", "cum_volume"]
    trade2 = TradeLog[TradeLog["trade_type"] == 1].groupby("skey")["trade_money"].sum().reset_index()
    trade2.columns=["skey", "cum_amount"]
    t2 = pd.merge(trade1, trade2, on="skey")
    re = pd.merge(t1, t2, on="skey", how="outer")
    try:
        assert(t1.shape[0] == t2.shape[0])
        assert(re[re["cum_volume"] != re["max_volume"]].shape[0] == 0)
        assert(re[re["cum_amount"].round(2) != re["max_amount"]].shape[0] == 0)
    except:
        display(set(t1["skey"]) - set(t2["skey"]))
        display(re[re["cum_volume"] != re["max_volume"]])
        display(re[re["cum_amount"].round(2) != re["max_amount"]])
    del t1
    del t2
    del re
 
    TradeLog = TradeLog[["skey", "date", "time", "clockAtArrival", "datetime", "ApplSeqNum", "trade_type", "trade_flag",
                                                 "trade_price", "trade_qty", "BidApplSeqNum", "OfferApplSeqNum"]]
    print(da_te)
    print("trade finished")


    database_name = 'com_md_eq_cn'
    user = "zhenyuy"
    password = "bnONBrzSMGoE"

    db1 = DB("192.168.10.223", database_name, user, password)
    db1.write('md_trade', TradeLog)    
    
    del TradeLog

    print(datetime.datetime.now() - startTm)

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:201: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.

0:05:48.301322
0:00:00.731862
20190305 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
456  SZ001914   6311950.0  53417863.37  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
456  SZ001914   6311950.0  53417863.37  2001914         NaN         NaN

2019-03-05
trade finished
0:13:20.700410
0:00:00.486343
20190306 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
455  SZ001914   8679376.0  75058252.34  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
455  SZ001914   8679376.0  75058252.34  2001914         NaN         NaN

2019-03-06
trade finished
0:13:56.542832
0:01:00.779913
20190307 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
457  SZ001914  10827498.0  96797845.22  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
457  SZ001914  10827498.0  96797845.22  2001914         NaN         NaN

2019-03-07
trade finished
0:14:17.962904
0:01:10.365942
20190308 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
458  SZ001914  10483685.0  94009001.08  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
458  SZ001914  10483685.0  94009001.08  2001914         NaN         NaN

2019-03-08
trade finished
0:14:36.289016
0:00:48.631110
20190311 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
458  SZ001914   8480851.0  75329994.55  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
458  SZ001914   8480851.0  75329994.55  2001914         NaN         NaN

2019-03-11
trade finished
0:12:07.942533
0:00:57.993208
20190312 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
457  SZ001914  10455553.0  94059152.15  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
457  SZ001914  10455553.0  94059152.15  2001914         NaN         NaN

2019-03-12
trade finished
0:14:28.345570
0:00:53.082740
20190313 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
458  SZ001914  26093211.0  2.457382e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
458  SZ001914  26093211.0  2.457382e+08  2001914         NaN         NaN

2019-03-13
trade finished
0:13:41.517198
0:00:51.699253
20190314 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
458  SZ001914  12659253.0  1.126639e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
458  SZ001914  12659253.0  1.126639e+08  2001914         NaN         NaN

2019-03-14
trade finished
0:11:14.472387
0:00:55.709441
20190315 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
459  SZ001914   9240835.0  81738081.56  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
459  SZ001914   9240835.0  81738081.56  2001914         NaN         NaN

2019-03-15
trade finished
0:09:43.921472
0:00:47.146227
20190318 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
459  SZ001914   8638731.0  75941355.59  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
459  SZ001914   8638731.0  75941355.59  2001914         NaN         NaN

2019-03-18
trade finished
0:10:00.388435
0:00:45.210081
20190319 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
459  SZ001914   7288302.0  65109072.01  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
459  SZ001914   7288302.0  65109072.01  2001914         NaN         NaN

2019-03-19
trade finished
0:10:26.261535
0:00:46.879020
20190320 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
458  SZ001914   5245859.0  46131031.2  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
458  SZ001914   5245859.0  46131031.2  2001914         NaN         NaN

2019-03-20
trade finished
0:11:41.383542
0:00:53.331617
20190321 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
459  SZ001914   7586672.0  67126988.49  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
459  SZ001914   7586672.0  67126988.49  2001914         NaN         NaN

2019-03-21
trade finished
0:11:50.887393
0:00:48.802876
20190322 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
458  SZ001914   6182626.0  54117740.1  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
458  SZ001914   6182626.0  54117740.1  2001914         NaN         NaN

2019-03-22
trade finished
0:11:10.912747
0:00:47.239720
20190325 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
456  SZ001914   9919276.0  87900986.09  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
456  SZ001914   9919276.0  87900986.09  2001914         NaN         NaN

2019-03-25
trade finished
0:11:14.093184
0:00:44.163548
20190326 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
454  SZ001914   6881838.0  59865043.08  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
454  SZ001914   6881838.0  59865043.08  2001914         NaN         NaN

2019-03-26
trade finished
0:11:12.800240
0:00:41.906589
20190327 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
454  SZ001914   3909085.0  33326082.76  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
454  SZ001914   3909085.0  33326082.76  2001914         NaN         NaN

2019-03-27
trade finished
0:09:51.872391
0:00:48.102922
20190328 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
453  SZ001914   5255599.0  45453324.0  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
453  SZ001914   5255599.0  45453324.0  2001914         NaN         NaN

2019-03-28
trade finished
0:09:51.170012
0:00:49.651852
20190329 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
454  SZ001914   5938098.0  51685286.79  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
454  SZ001914   5938098.0  51685286.79  2001914         NaN         NaN

2019-03-29
trade finished
0:11:09.481986
0:00:39.369094
20190401 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

            ID   max_volume    max_amount     skey   cum_volume    cum_amount
34    SZ000045   13427811.0  1.071925e+08  2000045   13425811.0  1.071764e+08
72    SZ000401   72341839.0  1.342355e+09  2000401   72339839.0  1.342318e+09
300   SZ000786   27254233.0  5.770755e+08  2000786   27253133.0  5.770523e+08
347   SZ000858   54871096.0  5.244032e+09  2000858   54870996.0  5.244022e+09
361   SZ000882   36784427.0  1.088856e+08  2000882   36782027.0  1.088785e+08
453   SZ001914   11091945.0  9.918482e+07  2001914          NaN           NaN
566   SZ002113   83849078.0  2.975916e+08  2002113   83813078.0  2.974541e+08
623   SZ002170   29482800.0  1.306044e+08  2002170   29482300.0  1.306021e+08
736   SZ002285   34821440.0  2.173244e+08  2002285   34820940.0  2.173212e+08
803   SZ002353   20913514.0  5.324100e+08  2002353   20913014.0  5.323972e+08
808   SZ002358   25970153.0  3.836479e+08  2002358   25968853.0  3.836287e+08
927   SZ002477  147524436.0  3.600260e+08  2002477  147522436.0  3.600211e+08
1025  SZ002576   19225033.0  2.837004e+08  2002576   19224533.0  2.836929e+08
1069  SZ002621    4050274.0  9.721337e+07  2002621    4049874.0  9.720371e+07
1304  SZ002872   15714565.0  1.689037e+08  2002872   15712765.0  1.688841e+08
1420  SZ300043   45602033.0  3.153321e+08  2300043   45590633.0  3.152529e+08
1451  SZ300075   17903392.0  2.441136e+08  2300075   17898392.0  2.440450e+08
1709  SZ300336   42885697.0  2.435772e+08  2300336   42873097.0  2.435049e+08
1738  SZ300366   20652446.0  1.923536e+08  2300366   20639554.0  1.922328e+08
1749  SZ300378   10543776.0  1.555884e+08  2300378   10542076.0  1.555634e+08

            ID   max_volume    max_amount     skey   cum_volume    cum_amount
34    SZ000045   13427811.0  1.071925e+08  2000045   13425811.0  1.071764e+08
72    SZ000401   72341839.0  1.342355e+09  2000401   72339839.0  1.342318e+09
300   SZ000786   27254233.0  5.770755e+08  2000786   27253133.0  5.770523e+08
347   SZ000858   54871096.0  5.244032e+09  2000858   54870996.0  5.244022e+09
361   SZ000882   36784427.0  1.088856e+08  2000882   36782027.0  1.088785e+08
453   SZ001914   11091945.0  9.918482e+07  2001914          NaN           NaN
566   SZ002113   83849078.0  2.975916e+08  2002113   83813078.0  2.974541e+08
623   SZ002170   29482800.0  1.306044e+08  2002170   29482300.0  1.306021e+08
736   SZ002285   34821440.0  2.173244e+08  2002285   34820940.0  2.173212e+08
803   SZ002353   20913514.0  5.324100e+08  2002353   20913014.0  5.323972e+08
808   SZ002358   25970153.0  3.836479e+08  2002358   25968853.0  3.836287e+08
927   SZ002477  147524436.0  3.600260e+08  2002477  147522436.0  3.600211e+08
1025  SZ002576   19225033.0  2.837004e+08  2002576   19224533.0  2.836929e+08
1069  SZ002621    4050274.0  9.721337e+07  2002621    4049874.0  9.720371e+07
1304  SZ002872   15714565.0  1.689037e+08  2002872   15712765.0  1.688841e+08
1420  SZ300043   45602033.0  3.153321e+08  2300043   45590633.0  3.152529e+08
1451  SZ300075   17903392.0  2.441136e+08  2300075   17898392.0  2.440450e+08
1709  SZ300336   42885697.0  2.435772e+08  2300336   42873097.0  2.435049e+08
1738  SZ300366   20652446.0  1.923536e+08  2300366   20639554.0  1.922328e+08
1749  SZ300378   10543776.0  1.555884e+08  2300378   10542076.0  1.555634e+08

2019-04-01
trade finished
0:12:23.998048
0:00:43.509449
20190402 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
453  SZ001914  17052868.0  1.584217e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
453  SZ001914  17052868.0  1.584217e+08  2001914         NaN         NaN

2019-04-02
trade finished
0:13:01.677070
0:00:38.287769
20190403 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
451  SZ001914  10894192.0  1.010551e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
451  SZ001914  10894192.0  1.010551e+08  2001914         NaN         NaN

2019-04-03
trade finished
0:12:03.678601
0:00:38.144622
20190404 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
452  SZ001914  12108005.0  1.135168e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
452  SZ001914  12108005.0  1.135168e+08  2001914         NaN         NaN

2019-04-04
trade finished
0:11:52.874433
0:00:41.993494
20190408 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
453  SZ001914  10178375.0  95437930.18  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
453  SZ001914  10178375.0  95437930.18  2001914         NaN         NaN

2019-04-08
trade finished
0:12:35.756967
0:00:36.301780
20190409 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
455  SZ001914   8275021.0  77198658.07  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
455  SZ001914   8275021.0  77198658.07  2001914         NaN         NaN

2019-04-09
trade finished
0:11:07.236378
0:00:37.690166
20190410 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
457  SZ001914   9847888.0  92914717.34  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
457  SZ001914   9847888.0  92914717.34  2001914         NaN         NaN

2019-04-10
trade finished
0:12:05.924812
0:00:38.425496
20190411 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
456  SZ001914   9506939.0  88749420.69  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
456  SZ001914   9506939.0  88749420.69  2001914         NaN         NaN

2019-04-11
trade finished
0:11:12.805476
0:00:31.785306
20190412 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
457  SZ001914  22227839.0  2.190968e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
457  SZ001914  22227839.0  2.190968e+08  2001914         NaN         NaN

2019-04-12
trade finished
0:09:28.139624
0:00:33.671787
20190415 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

2019-04-15
trade finished
0:10:05.294826
0:00:35.330096
20190416 unzip finished
2019-04-16
trade finished
0:10:17.826178
0:00:35.226955
20190417 unzip finished
2019-04-17
trade finished
0:11:08.491764
0:00:34.349221
20190418 unzip finished
2019-04-18
trade finished
0:11:06.710310
0:00:32.525562
20190419 unzip finished
2019-04-19
trade finished
0:10:22.093662
0:00:36.472802
20190422 unzip finished
2019-04-22
trade finished
0:11:00.063767
0:00:33.895087
20190423 unzip finished
2019-04-23
trade finished
0:10:10.855431
0:00:31.561155
20190424 unzip finished
2019-04-24
trade finished
0:09:32.864605
0:00:39.485938
20190425 unzip finished
2019-04-25
trade finished
0:11:53.122241
0:00:30.642996
20190426 unzip finished
2019-04-26
trade finished
0:09:48.024903
0:00:35.556881
20190429 unzip finished

{2001914}

            ID   max_volume    max_amount     skey   cum_volume    cum_amount
0     SZ000001  103069575.0  1.450714e+09  2000001  103054211.0  1.450499e+09
1     SZ000002   49838608.0  1.461313e+09  2000002   49829708.0  1.461052e+09
3     SZ000005   12837640.0  4.304549e+07  2000005   12832140.0  4.302713e+07
4     SZ000006   10676376.0  6.539414e+07  2000006   10675876.0  6.539106e+07
5     SZ000007   11207261.0  6.884942e+07  2000007   11202561.0  6.882183e+07
...        ...          ...           ...      ...          ...           ...
2115  SZ300767    3097742.0  1.288327e+08  2300767    3097142.0  1.288078e+08
2116  SZ300768   17583798.0  6.961938e+08  2300768   17580369.0  6.960597e+08
2117  SZ300769    3637072.0  3.665589e+08  2300769    3636972.0  3.665487e+08
2118  SZ300770    8614318.0  6.042905e+08  2300770    8613518.0  6.042345e+08
2119  SZ300771   13666428.0  9.036670e+08  2300771   13663028.0  9.034406e+08

[1565 rows x 6 columns]

            ID   max_volume    max_amount     skey   cum_volume    cum_amount
0     SZ000001  103069575.0  1.450714e+09  2000001  103054211.0  1.450499e+09
1     SZ000002   49838608.0  1.461313e+09  2000002   49829708.0  1.461052e+09
3     SZ000005   12837640.0  4.304549e+07  2000005   12832140.0  4.302713e+07
4     SZ000006   10676376.0  6.539414e+07  2000006   10675876.0  6.539106e+07
5     SZ000007   11207261.0  6.884942e+07  2000007   11202561.0  6.882183e+07
...        ...          ...           ...      ...          ...           ...
2115  SZ300767    3097742.0  1.288327e+08  2300767    3097142.0  1.288078e+08
2116  SZ300768   17583798.0  6.961938e+08  2300768   17580369.0  6.960597e+08
2117  SZ300769    3637072.0  3.665589e+08  2300769    3636972.0  3.665487e+08
2118  SZ300770    8614318.0  6.042905e+08  2300770    8613518.0  6.042345e+08
2119  SZ300771   13666428.0  9.036670e+08  2300771   13663028.0  9.034406e+08

[1565 rows x 6 columns]

2019-04-29
trade finished
0:09:22.085712
0:00:29.703198
20190430 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
449  SZ001914  57674713.0  6.532201e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
449  SZ001914  57674713.0  6.532201e+08  2001914         NaN         NaN

2019-04-30
trade finished
0:07:36.424753
0:00:28.892876
20190506 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
457  SZ001914  77651856.0  889096250.2  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
457  SZ001914  77651856.0  889096250.2  2001914         NaN         NaN

2019-05-06
trade finished
0:08:56.072679
0:00:27.669107
20190507 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
456  SZ001914  43525757.0  4.891206e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
456  SZ001914  43525757.0  4.891206e+08  2001914         NaN         NaN

2019-05-07
trade finished
0:08:24.077890
0:00:36.482267
20190508 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
454  SZ001914  31791054.0  3.501744e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
454  SZ001914  31791054.0  3.501744e+08  2001914         NaN         NaN

2019-05-08
trade finished
0:08:30.998766
0:00:26.027908
20190509 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
454  SZ001914  30295011.0  3.428115e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
454  SZ001914  30295011.0  3.428115e+08  2001914         NaN         NaN

2019-05-09
trade finished
0:07:15.526255
0:00:34.477347
20190510 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
454  SZ001914  50088950.0  600675204.8  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
454  SZ001914  50088950.0  600675204.8  2001914         NaN         NaN

2019-05-10
trade finished
0:09:19.164264
0:00:24.623321
20190513 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
454  SZ001914  31790642.0  376899751.7  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
454  SZ001914  31790642.0  376899751.7  2001914         NaN         NaN

2019-05-13
trade finished
0:08:35.986835
0:00:25.295640
20190514 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
454  SZ001914  15005863.0  1.767003e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
454  SZ001914  15005863.0  1.767003e+08  2001914         NaN         NaN

2019-05-14
trade finished
0:07:38.824348
0:00:26.889431
20190515 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
455  SZ001914  13964505.0  1.644749e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
455  SZ001914  13964505.0  1.644749e+08  2001914         NaN         NaN

2019-05-15
trade finished
0:08:13.024708
0:00:48.639947
20190516 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
454  SZ001914  21884444.0  2.533430e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
454  SZ001914  21884444.0  2.533430e+08  2001914         NaN         NaN

2019-05-16
trade finished
0:08:33.838167
0:00:31.531375
20190517 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
454  SZ001914  12182747.0  1.432742e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
454  SZ001914  12182747.0  1.432742e+08  2001914         NaN         NaN

2019-05-17
trade finished
0:09:22.125162
0:01:02.716093
20190520 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
454  SZ001914   6184371.0  69685220.56  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
454  SZ001914   6184371.0  69685220.56  2001914         NaN         NaN

2019-05-20
trade finished
0:08:06.024669
0:07:12.264100
20190521 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2000012,
 2000014,
 2000016,
 2000017,
 2000018,
 2000019,
 2000020,
 2000021,
 2000023,
 2000025,
 2000026,
 2000027,
 2000028,
 2000030,
 2000031,
 2000032,
 2000034,
 2000035,
 2000036,
 2000037,
 2000038,
 2000039,
 2000040,
 2000042,
 2000043,
 2000045,
 2000046,
 2000048,
 2000049,
 2000050,
 2000055,
 2000056,
 2000058,
 2000059,
 2000060,
 2000061,
 2000062,
 2000063,
 2000065,
 2000066,
 2000068,
 2000069,
 2000070,
 2000078,
 2000088,
 2000089,
 2000090,
 2000096,
 2000099,
 2000100,
 2000150,
 2000151,
 2000153,
 2000155,
 2000156,
 2000157,
 2000158,
 2000159,
 2000166,
 2000301,
 2000338,
 2000400,
 2000401,
 2000402,
 2000403,
 2000404,
 2000407,
 2000408,
 2000409,
 2000410,
 2000411,
 2000413,
 2000415,
 2000416,
 2000417,
 2000419,
 2000420,
 2000421,
 2000422,
 2000423,
 2000425,
 2000426,
 2000428,
 2000429,
 2000430,
 2000488,
 2000498,
 2000501,
 2000502,
 2000503,
 2000504,
 2000505,
 2000506,
 2000507,
 2000509,
 2000510,
 2000513,
 2000514,
 2000516,
 2000517,
 2000518,
 2000519,
 2000520,
 2000521,
 2000523,
 2000524,
 2000525,
 2000526,
 2000528,
 2000529,
 2000530,
 2000531,
 2000532,
 2000533,
 2000534,
 2000536,
 2000537,
 2000539,
 2000540,
 2000541,
 2000543,
 2000544,
 2000545,
 2000546,
 2000547,
 2000548,
 2000550,
 2000551,
 2000552,
 2000553,
 2000554,
 2000555,
 2000557,
 2000558,
 2000559,
 2000560,
 2000561,
 2000563,
 2000564,
 2000565,
 2000566,
 2000567,
 2000568,
 2000570,
 2000571,
 2000572,
 2000573,
 2000576,
 2000581,
 2000582,
 2000584,
 2000585,
 2000586,
 2000587,
 2000589,
 2000590,
 2000591,
 2000592,
 2000593,
 2000595,
 2000596,
 2000597,
 2000598,
 2000599,
 2000600,
 2000601,
 2000603,
 2000605,
 2000606,
 2000607,
 2000608,
 2000609,
 2000610,
 2000611,
 2000612,
 2000613,
 2000615,
 2000616,
 2000617,
 2000619,
 2000620,
 2000622,
 2000623,
 2000625,
 2000626,
 2000627,
 2000628,
 2000629,
 2000630,
 2000631,
 2000632,
 2000633,
 2000635,
 2000636,
 2000637,
 2000638,
 2000639,
 2000650,
 2000651,
 2000652,
 2000655,
 2000656,
 2000657,
 2000659,
 2000661,
 2000662,
 2000663,
 2000665,
 2000666,
 2000667,
 2000668,
 2000669,
 2000670,
 2000671,
 2000672,
 2000673,
 2000676,
 2000677,
 2000678,
 2000679,
 2000680,
 2000681,
 2000682,
 2000683,
 2000685,
 2000686,
 2000687,
 2000688,
 2000690,
 2000691,
 2000692,
 2000695,
 2000697,
 2000698,
 2000700,
 2000701,
 2000702,
 2000703,
 2000705,
 2000707,
 2000708,
 2000709,
 2000710,
 2000711,
 2000712,
 2000713,
 2000715,
 2000716,
 2000717,
 2000718,
 2000719,
 2000720,
 2000721,
 2000722,
 2000723,
 2000725,
 2000726,
 2000727,
 2000728,
 2000729,
 2000731,
 2000732,
 2000733,
 2000735,
 2000736,
 2000737,
 2000738,
 2000739,
 2000750,
 2000751,
 2000752,
 2000753,
 2000755,
 2000756,
 2000757,
 2000758,
 2000759,
 2000760,
 2000761,
 2000762,
 2000766,
 2000767,
 2000768,
 2000776,
 2000777,
 2000778,
 2000779,
 2000780,
 2000782,
 2000783,
 2000785,
 2000786,
 2000788,
 2000789,
 2000790,
 2000791,
 2000792,
 2000793,
 2000795,
 2000796,
 2000797,
 2000798,
 2000799,
 2000800,
 2000801,
 2000802,
 2000803,
 2000806,
 2000807,
 2000809,
 2000810,
 2000811,
 2000812,
 2000813,
 2000815,
 2000816,
 2000818,
 2000819,
 2000820,
 2000821,
 2000822,
 2000823,
 2000825,
 2000826,
 2000828,
 2000829,
 2000830,
 2000831,
 2000833,
 2000835,
 2000836,
 2000837,
 2000838,
 2000839,
 2000848,
 2000850,
 2000851,
 2000852,
 2000856,
 2000858,
 2000859,
 2000860,
 2000861,
 2000862,
 2000863,
 2000868,
 2000869,
 2000875,
 2000876,
 2000877,
 2000878,
 2000880,
 2000881,
 2000882,
 2000883,
 2000885,
 2000886,
 2000887,
 2000888,
 2000889,
 2000890,
 2000892,
 2000893,
 2000895,
 2000897,
 2000898,
 2000899,
 2000900,
 2000901,
 2000902,
 2000903,
 2000905,
 2000906,
 2000908,
 2000909,
 2000910,
 2000911,
 2000912,
 2000913,
 2000915,
 2000917,
 2000918,
 2000919,
 2000920,
 2000921,
 2000922,
 2000923,
 2000925,
 2000926,
 2000927,
 2000928,
 2000929,
 2000930,
 2000931,
 2000932,
 2000933,
 2000935,
 2000936,
 2000937,
 2000938,
 2000948,
 2000949,
 2000950,
 2000951,
 2000952,
 2000953,
 2000955,
 2000957,
 2000958,
 2000959,
 2000960,
 2000961,
 2000962,
 2000963,
 2000965,
 2000966,
 2000967,
 2000968,
 2000969,
 2000970,
 2000971,
 2000972,
 2000973,
 2000975,
 2000976,
 2000977,
 2000978,
 2000980,
 2000981,
 2000982,
 2000983,
 2000985,
 2000987,
 2000988,
 2000989,
 2000990,
 2000993,
 2000996,
 2000997,
 2000998,
 2000999,
 2001696,
 2001872,
 2001896,
 2001914,
 2001965,
 2001979,
 2002001,
 2002002,
 2002003,
 2002004,
 2002005,
 2002006,
 2002007,
 2002008,
 2002009,
 2002010,
 2002011,
 2002012,
 2002013,
 2002014,
 2002015,
 2002016,
 2002017,
 2002018,
 2002019,
 2002020,
 2002021,
 2002022,
 2002023,
 2002024,
 2002025,
 2002026,
 2002027,
 2002028,
 2002029,
 2002030,
 2002031,
 2002032,
 2002033,
 2002034,
 2002035,
 2002036,
 2002037,
 2002038,
 2002039,
 2002040,
 2002041,
 2002042,
 2002043,
 2002044,
 2002045,
 2002046,
 2002047,
 2002048,
 2002050,
 2002051,
 2002052,
 2002053,
 2002054,
 2002055,
 2002056,
 2002057,
 2002058,
 2002059,
 2002060,
 2002061,
 2002062,
 2002063,
 2002064,
 2002065,
 2002066,
 2002067,
 2002068,
 2002069,
 2002071,
 2002072,
 2002073,
 2002074,
 2002075,
 2002076,
 2002077,
 2002078,
 2002079,
 2002080,
 2002081,
 2002082,
 2002083,
 2002084,
 2002085,
 2002086,
 2002087,
 2002088,
 2002089,
 2002090,
 2002091,
 2002092,
 2002093,
 2002094,
 2002095,
 2002096,
 2002097,
 2002098,
 2002099,
 2002100,
 2002101,
 2002102,
 2002103,
 2002104,
 2002105,
 2002106,
 2002107,
 2002108,
 2002109,
 2002110,
 2002111,
 2002112,
 2002113,
 2002114,
 2002115,
 2002116,
 2002117,
 2002118,
 2002119,
 2002120,
 2002121,
 2002122,
 2002123,
 2002124,
 2002125,
 2002126,
 2002127,
 2002128,
 2002129,
 2002130,
 2002131,
 2002132,
 2002133,
 2002134,
 2002135,
 2002136,
 2002137,
 2002138,
 2002139,
 2002140,
 2002141,
 2002142,
 2002143,
 2002144,
 2002145,
 2002146,
 2002147,
 2002148,
 2002149,
 2002150,
 2002151,
 2002152,
 2002153,
 2002154,
 2002155,
 2002156,
 2002157,
 2002158,
 2002159,
 2002160,
 2002161,
 2002162,
 2002163,
 2002164,
 2002165,
 2002166,
 2002167,
 2002168,
 2002169,
 2002170,
 2002171,
 2002172,
 2002173,
 2002174,
 2002175,
 2002176,
 2002177,
 2002178,
 2002179,
 2002180,
 2002181,
 2002182,
 2002183,
 2002184,
 2002185,
 2002186,
 2002187,
 2002188,
 2002189,
 2002190,
 2002191,
 2002192,
 2002193,
 2002194,
 2002195,
 2002196,
 2002197,
 2002198,
 2002200,
 2002201,
 2002202,
 2002203,
 2002204,
 2002205,
 2002206,
 2002207,
 2002208,
 2002209,
 2002210,
 2002211,
 2002212,
 2002213,
 2002214,
 2002215,
 2002216,
 2002217,
 2002218,
 2002219,
 2002220,
 2002221,
 2002222,
 2002223,
 2002224,
 2002225,
 2002226,
 2002227,
 2002228,
 2002229,
 2002230,
 2002231,
 2002232,
 2002233,
 2002234,
 2002235,
 2002236,
 2002237,
 2002238,
 2002239,
 2002240,
 2002241,
 2002242,
 2002243,
 2002244,
 2002245,
 2002246,
 2002247,
 2002248,
 2002249,
 2002250,
 2002251,
 2002252,
 2002253,
 2002254,
 2002255,
 2002256,
 2002258,
 2002259,
 2002261,
 2002262,
 2002264,
 2002265,
 2002266,
 2002267,
 2002268,
 2002269,
 2002270,
 2002271,
 2002272,
 2002273,
 2002274,
 2002275,
 2002276,
 2002277,
 2002278,
 2002279,
 2002280,
 2002281,
 2002282,
 2002283,
 2002284,
 2002285,
 2002286,
 2002287,
 2002288,
 2002289,
 2002290,
 2002291,
 2002292,
 2002293,
 2002294,
 2002295,
 2002296,
 2002297,
 2002298,
 2002299,
 2002300,
 2002301,
 2002302,
 2002303,
 2002304,
 2002305,
 2002306,
 2002307,
 2002308,
 2002309,
 2002310,
 2002311,
 2002312,
 2002313,
 2002314,
 2002315,
 2002316,
 2002317,
 2002318,
 2002319,
 2002320,
 2002321,
 2002322,
 2002324,
 2002325,
 2002326,
 2002327,
 2002328,
 2002329,
 2002330,
 2002331,
 2002332,
 2002333,
 2002334,
 2002335,
 2002336,
 2002337,
 2002338,
 2002339,
 2002340,
 2002341,
 2002342,
 2002343,
 2002344,
 2002345,
 2002346,
 2002347,
 2002348,
 2002349,
 2002350,
 2002351,
 2002352,
 2002353,
 2002354,
 2002355,
 2002356,
 2002357,
 2002358,
 2002359,
 2002360,
 2002361,
 2002362,
 2002363,
 2002364,
 2002365,
 2002366,
 2002367,
 2002368,
 2002369,
 2002370,
 2002371,
 2002372,
 2002373,
 2002374,
 2002375,
 2002376,
 2002377,
 2002378,
 2002379,
 2002380,
 2002381,
 2002382,
 2002383,
 2002384,
 2002385,
 2002386,
 2002387,
 2002388,
 2002389,
 2002390,
 2002391,
 2002392,
 2002393,
 2002394,
 2002395,
 2002396,
 2002397,
 2002398,
 2002399,
 2002400,
 2002401,
 2002402,
 2002403,
 2002404,
 2002405,
 2002406,
 2002407,
 2002408,
 2002409,
 2002410,
 2002411,
 2002412,
 2002413,
 2002414,
 2002415,
 2002416,
 2002417,
 2002418,
 2002419,
 2002420,
 2002421,
 2002422,
 2002423,
 2002424,
 2002425,
 2002426,
 2002427,
 2002428,
 2002429,
 2002430,
 2002431,
 2002432,
 2002433,
 2002434,
 2002435,
 2002436,
 2002437,
 2002438,
 2002439,
 2002440,
 2002441,
 2002442,
 2002443,
 2002444,
 2002445,
 2002446,
 2002447,
 2002448,
 2002449,
 2002450,
 2002451,
 2002452,
 2002453,
 2002454,
 2002455,
 2002456,
 2002457,
 2002458,
 2002459,
 2002460,
 2002461,
 2002462,
 2002463,
 2002464,
 2002465,
 2002466,
 2002467,
 2002468,
 2002469,
 2002470,
 2002471,
 2002472,
 2002473,
 2002474,
 2002475,
 2002476,
 2002477,
 2002478,
 2002479,
 2002480,
 2002481,
 2002482,
 2002483,
 2002484,
 2002485,
 2002486,
 2002487,
 2002488,
 2002489,
 2002490,
 2002491,
 2002492,
 2002493,
 2002494,
 2002495,
 2002496,
 2002497,
 2002498,
 2002499,
 2002500,
 2002501,
 2002502,
 2002503,
 2002504,
 2002505,
 2002506,
 2002507,
 2002508,
 2002509,
 2002510,
 2002511,
 2002512,
 2002513,
 2002514,
 2002515,
 2002516,
 2002517,
 2002518,
 2002519,
 2002520,
 2002521,
 2002522,
 2002523,
 2002524,
 2002526,
 2002527,
 2002528,
 2002529,
 2002530,
 2002531,
 2002532,
 2002533,
 2002534,
 2002535,
 2002536,
 2002537,
 2002538,
 2002539,
 2002540,
 2002541,
 2002542,
 2002543,
 2002544,
 2002545,
 2002546,
 2002547,
 2002548,
 2002549,
 2002550,
 2002551,
 2002552,
 2002553,
 2002554,
 2002555,
 2002556,
 2002557,
 2002558,
 2002559,
 2002560,
 2002561,
 ...}

            ID  max_volume    max_amount     skey  cum_volume  cum_amount
10    SZ000012  10423347.0  4.910194e+07  2000012         NaN         NaN
11    SZ000014   5285196.0  5.225408e+07  2000014         NaN         NaN
12    SZ000016  16492962.0  7.306970e+07  2000016         NaN         NaN
13    SZ000017   3780100.0  1.656840e+07  2000017         NaN         NaN
14    SZ000018  23932100.0  3.264821e+07  2000018         NaN         NaN
...        ...         ...           ...      ...         ...         ...
2128  SZ300773   4758429.0  2.737115e+08  2300773         NaN         NaN
2129  SZ300775     38300.0  3.257200e+05  2300775         NaN         NaN
2130  SZ300776     16100.0  1.618855e+06  2300776         NaN         NaN
2131  SZ300777     23368.0  2.715362e+05  2300777         NaN         NaN
2132  SZ300778   3122028.0  1.414315e+08  2300778         NaN         NaN

[2123 rows x 6 columns]

            ID  max_volume    max_amount     skey  cum_volume  cum_amount
10    SZ000012  10423347.0  4.910194e+07  2000012         NaN         NaN
11    SZ000014   5285196.0  5.225408e+07  2000014         NaN         NaN
12    SZ000016  16492962.0  7.306970e+07  2000016         NaN         NaN
13    SZ000017   3780100.0  1.656840e+07  2000017         NaN         NaN
14    SZ000018  23932100.0  3.264821e+07  2000018         NaN         NaN
...        ...         ...           ...      ...         ...         ...
2128  SZ300773   4758429.0  2.737115e+08  2300773         NaN         NaN
2129  SZ300775     38300.0  3.257200e+05  2300775         NaN         NaN
2130  SZ300776     16100.0  1.618855e+06  2300776         NaN         NaN
2131  SZ300777     23368.0  2.715362e+05  2300777         NaN         NaN
2132  SZ300778   3122028.0  1.414315e+08  2300778         NaN         NaN

[2123 rows x 6 columns]

2019-05-21
trade finished
0:00:03.220705
0:00:26.069546
20190522 unzip finished

ValueError: No objects to concatenate

In [2]:
import pymongo
import pandas as pd
import pickle
import datetime
import time
import gzip
import lzma
import pytz


def DB(host, db_name, user, passwd):
    auth_db = db_name if user not in ('admin', 'root') else 'admin'
    uri = 'mongodb://%s:%s@%s/?authSource=%s' % (user, passwd, host, auth_db)
    return DBObj(uri, db_name=db_name)


class DBObj(object):
    def __init__(self, uri, symbol_column='skey', db_name='white_db'):
        self.db_name = db_name
        self.uri = uri
        self.client = pymongo.MongoClient(self.uri)
        self.db = self.client[self.db_name]
        self.chunk_size = 20000
        self.symbol_column = symbol_column
        self.date_column = 'date'

    def parse_uri(self, uri):
        # mongodb://user:password@example.com
        return uri.strip().replace('mongodb://', '').strip('/').replace(':', ' ').replace('@', ' ').split(' ')

    def drop_table(self, table_name):
        self.db.drop_collection(table_name)

    def rename_table(self, old_table, new_table):
        self.db[old_table].rename(new_table)

    def write(self, table_name, df):
        if len(df) == 0: return

        multi_date = False

        if self.date_column in df.columns:
            date = str(df.head(1)[self.date_column].iloc[0])
            multi_date = len(df[self.date_column].unique()) > 1
        else:
            raise Exception('DataFrame should contain date column')

        collection = self.db[table_name]
        collection.create_index([('date', pymongo.ASCENDING), ('symbol', pymongo.ASCENDING)], background=True)
        collection.create_index([('symbol', pymongo.ASCENDING), ('date', pymongo.ASCENDING)], background=True)

        if multi_date:
            for (date, symbol), sub_df in df.groupby([self.date_column, self.symbol_column]):
                date = str(date)
                symbol = int(symbol)
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)
        else:
            for symbol, sub_df in df.groupby([self.symbol_column]):
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)

    def write_single(self, collection, date, symbol, df):
        for start in range(0, len(df), self.chunk_size):
            end = min(start + self.chunk_size, len(df))
            df_seg = df[start:end]
            version = 1
            seg = {'ver': version, 'data': self.ser(df_seg, version), 'date': date, 'symbol': symbol, 'start': start}
            collection.insert_one(seg)

    def build_query(self, start_date=None, end_date=None, symbol=None):
        query = {}

        def parse_date(x):
            if type(x) == str:
                if len(x) != 8:
                    raise Exception("`date` must be YYYYMMDD format")
                return x
            elif type(x) == datetime.datetime or type(x) == datetime.date:
                return x.strftime("%Y%m%d")
            elif type(x) == int:
                return parse_date(str(x))
            else:
                raise Exception("invalid `date` type: " + str(type(x)))

        if start_date is not None or end_date is not None:
            query['date'] = {}
            if start_date is not None:
                query['date']['$gte'] = parse_date(start_date)
            if end_date is not None:
                query['date']['$lte'] = parse_date(end_date)

        def parse_symbol(x):
            if type(x) == int:
                return x
            else:
                return int(x)

        if symbol:
            if type(symbol) == list or type(symbol) == tuple:
                query['symbol'] = {'$in': [parse_symbol(x) for x in symbol]}
            else:
                query['symbol'] = parse_symbol(symbol)

        return query

    def delete(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot delete the whole table')
            return None

        collection.delete_many(query)

    def read(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot read the whole table')
            return None

        segs = []
        for x in collection.find(query):
            x['data'] = self.deser(x['data'], x['ver'])
            segs.append(x)
        segs.sort(key=lambda x: (x['symbol'], x['date'], x['start']))
        return pd.concat([x['data'] for x in segs], ignore_index=True) if segs else None

    def list_tables(self):
        return self.db.collection_names()

    def list_dates(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]
        dates = set()
        if start_date is None:
            start_date = '00000000'
        if end_date is None:
            end_date = '99999999'
        for x in collection.find(self.build_query(start_date, end_date, symbol), {"date": 1, '_id': 0}):
            dates.add(x['date'])
        return sorted(list(dates))

    def ser(self, s, version):
        pickle_protocol = 4
        if version == 1:
            return gzip.compress(pickle.dumps(s, protocol=pickle_protocol), compresslevel=2)
        elif version == 2:
            return lzma.compress(pickle.dumps(s, protocol=pickle_protocol), preset=1)
        else:
            raise Exception('unknown version')

    def deser(self, s, version):
        def unpickle(s):
            return pickle.loads(s)

        if version == 1:
            return unpickle(gzip.decompress(s))
        elif version == 2:
            return unpickle(lzma.decompress(s))
        else:
            raise Exception('unknown version')


def patch_pandas_pickle():
    if pd.__version__ < '0.24':
        import sys
        from types import ModuleType
        from pandas.core.internals import BlockManager
        pkg_name = 'pandas.core.internals.managers'
        if pkg_name not in sys.modules:
            m = ModuleType(pkg_name)
            m.BlockManager = BlockManager
            sys.modules[pkg_name] = m
patch_pandas_pickle()


            
            
            
            
            
            
            
            
import pandas as pd
import random
import numpy as np
import glob
import os
import pickle
import datetime
import time
pd.set_option("max_columns", 200)

startTm = datetime.datetime.now()
readPath = '/home/work516/day_stock/***'
dataPathLs = np.array(glob.glob(readPath))
dataPathLs = dataPathLs[[np.array([os.path.basename(i).split('.')[0][:2] == 'SZ' for i in dataPathLs])]]
db = pd.DataFrame()
for p in dataPathLs:
    dayData = pd.read_csv(p, compression='gzip')
    db = pd.concat([db, dayData])
print(datetime.datetime.now() - startTm)

year = "2019"
startDate = '20190521'
endDate = '20191231'
readPath = '/mnt/usb/data/' + year + '/***/***'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([os.path.basename(i) for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]

for data in dataPathLs:
    
    if len(np.array(glob.glob(data + '/SZ/***'))) == 0:
        if int(os.path.basename(data)) not in date_list["Date"].values:
            continue
        else:
            print(os.path.basename(data) + " less data!!!!!!!!!!!!!!!!!")
            less.append(data)
            continue
    startTm = datetime.datetime.now()
    date = os.path.basename(data)
    rar_path = data + '/SZ/tick.7z'
    path = '/mnt/e/unzip_data/2019/SZ'
    path1 = path + '/' + date
    un_path = path1
    cmd = '7za x {} -o{}'.format(rar_path, un_path)
    os.system(cmd)
    print(datetime.datetime.now() - startTm)
    print(date + ' unzip finished')
    
    
    startTm = datetime.datetime.now()
    
    readPath = path1 + '/tick/***'
    dataPathLs = np.array(glob.glob(readPath))
    dateLs = np.array([int(os.path.basename(i).split('.')[0]) for i in dataPathLs])
    dataPathLs = dataPathLs[(dateLs < 4000) | ((dateLs > 300000) & (dateLs < 310000))]
    TradeLog = []
    ll = []
    
    for i in dataPathLs:
        try:
            df = pd.read_csv(i)
        except:
            print("empty data")
            print(i)
            ll.append(int(os.path.basename(i).split('.')[0]))
            continue
        df["SecurityID"] = int(os.path.basename(i).split('.')[0])
        TradeLog += [df]
    TradeLog = pd.concat(TradeLog).reset_index(drop=True)
    TradeLog = TradeLog[TradeLog["ChannelNo"] != 4001]
    
    TradeLog["date"] = TradeLog["TransactTime"].iloc[0]//1000000000
    TradeLog = TradeLog.rename(columns={"Qty":"trade_qty", "Price":"trade_price", "ExecType":"trade_type"})
    TradeLog["trade_money"] = TradeLog["trade_price"] * TradeLog["trade_qty"]
    TradeLog["trade_flag"] = 0
    TradeLog["skey"] = TradeLog["SecurityID"] + 2000000
    TradeLog["clockAtArrival"] = TradeLog["TransactTime"].astype(str).apply(lambda x: np.int64(datetime.datetime.strptime(x, '%Y%m%d%H%M%S%f').timestamp()*1e6))
    TradeLog['datetime'] = TradeLog["clockAtArrival"].apply(lambda x: datetime.datetime.fromtimestamp(x/1e6))
    TradeLog["time"] = (TradeLog['TransactTime'] - int(TradeLog['TransactTime'].iloc[0]//1000000000*1000000000)).astype(np.int64)*1000
    TradeLog["trade_type"] = np.where(TradeLog["trade_type"] == 'F', 1, TradeLog["trade_type"])
    for col in ["skey", "date", "ApplSeqNum", "BidApplSeqNum", "OfferApplSeqNum", "trade_qty", "trade_type", "trade_flag"]:
        TradeLog[col] = TradeLog[col].astype('int32')
#     for cols in ["trade_money", "trade_price"]:
#         display(cols)
#         display(TradeLog[cols].astype(str).apply(lambda x: len(str(x.split('.')[1]))).unique())
#         TradeLog[cols] = TradeLog[cols].round(2)
#         display(TradeLog[cols].astype(str).apply(lambda x: len(str(x.split('.')[1]))).unique())
    for cols in ["trade_money"]:
        TradeLog[cols] = TradeLog[cols].round(2)
    
    da_te = str(TradeLog["date"].iloc[0]) 
    da_te = da_te[:4] + '-' + da_te[4:6] + '-' + da_te[6:8]
    db1 = db[db["date"] == da_te]
    sl = (db1["ID"].str[2:].astype(int) + 2000000).unique()
    db1["max_volume"] = db1.groupby("ID")["d_volume"].transform("max")
    db1["max_amount"] = db1.groupby("ID")["d_amount"].transform("max")
    t1 = db1.groupby("ID")["max_volume", "max_amount"].first().reset_index()
    del db1
    t1["skey"] = t1["ID"].str[2:].astype(int) + 2000000
    trade1 = TradeLog[TradeLog["trade_type"] == 1].groupby("skey")["trade_qty"].sum().reset_index()
    trade1.columns=["skey", "cum_volume"]
    trade2 = TradeLog[TradeLog["trade_type"] == 1].groupby("skey")["trade_money"].sum().reset_index()
    trade2.columns=["skey", "cum_amount"]
    t2 = pd.merge(trade1, trade2, on="skey")
    re = pd.merge(t1, t2, on="skey", how="outer")
    try:
        assert(t1.shape[0] == t2.shape[0])
        assert(re[re["cum_volume"] != re["max_volume"]].shape[0] == 0)
        assert(re[re["cum_amount"].round(2) != re["max_amount"]].shape[0] == 0)
    except:
        display(set(t1["skey"]) - set(t2["skey"]))
        display(re[re["cum_volume"] != re["max_volume"]])
        display(re[re["cum_amount"].round(2) != re["max_amount"]])
    del t1
    del t2
    del re
 
    TradeLog = TradeLog[["skey", "date", "time", "clockAtArrival", "datetime", "ApplSeqNum", "trade_type", "trade_flag",
                                                 "trade_price", "trade_qty", "BidApplSeqNum", "OfferApplSeqNum"]]
    print(da_te)
    print("trade finished")


    database_name = 'com_md_eq_cn'
    user = "zhenyuy"
    password = "bnONBrzSMGoE"

    db1 = DB("192.168.10.223", database_name, user, password)
    db1.write('md_trade', TradeLog)    
    
    del TradeLog

    print(datetime.datetime.now() - startTm)

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:201: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.

0:04:23.358390
0:00:27.302488
20190521 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
454  SZ001914   8357128.0  95074475.32  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
454  SZ001914   8357128.0  95074475.32  2001914         NaN         NaN

2019-05-21
trade finished
0:08:37.038678
0:00:27.423587
20190522 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
455  SZ001914   4542366.0  51035554.34  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
455  SZ001914   4542366.0  51035554.34  2001914         NaN         NaN

2019-05-22
trade finished
0:08:22.147184
0:00:28.433550
20190523 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
455  SZ001914   7700732.0  83380161.8  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
455  SZ001914   7700732.0  83380161.8  2001914         NaN         NaN

2019-05-23
trade finished
0:08:07.437612
0:00:22.041109
20190524 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
455  SZ001914   5185210.0  55780193.15  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
455  SZ001914   5185210.0  55780193.15  2001914         NaN         NaN

2019-05-24
trade finished
0:07:03.750646
0:00:00.233649
20190525 unzip finished

ValueError: No objects to concatenate

In [1]:
import pymongo
import pandas as pd
import pickle
import datetime
import time
import gzip
import lzma
import pytz


def DB(host, db_name, user, passwd):
    auth_db = db_name if user not in ('admin', 'root') else 'admin'
    uri = 'mongodb://%s:%s@%s/?authSource=%s' % (user, passwd, host, auth_db)
    return DBObj(uri, db_name=db_name)


class DBObj(object):
    def __init__(self, uri, symbol_column='skey', db_name='white_db'):
        self.db_name = db_name
        self.uri = uri
        self.client = pymongo.MongoClient(self.uri)
        self.db = self.client[self.db_name]
        self.chunk_size = 20000
        self.symbol_column = symbol_column
        self.date_column = 'date'

    def parse_uri(self, uri):
        # mongodb://user:password@example.com
        return uri.strip().replace('mongodb://', '').strip('/').replace(':', ' ').replace('@', ' ').split(' ')

    def drop_table(self, table_name):
        self.db.drop_collection(table_name)

    def rename_table(self, old_table, new_table):
        self.db[old_table].rename(new_table)

    def write(self, table_name, df):
        if len(df) == 0: return

        multi_date = False

        if self.date_column in df.columns:
            date = str(df.head(1)[self.date_column].iloc[0])
            multi_date = len(df[self.date_column].unique()) > 1
        else:
            raise Exception('DataFrame should contain date column')

        collection = self.db[table_name]
        collection.create_index([('date', pymongo.ASCENDING), ('symbol', pymongo.ASCENDING)], background=True)
        collection.create_index([('symbol', pymongo.ASCENDING), ('date', pymongo.ASCENDING)], background=True)

        if multi_date:
            for (date, symbol), sub_df in df.groupby([self.date_column, self.symbol_column]):
                date = str(date)
                symbol = int(symbol)
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)
        else:
            for symbol, sub_df in df.groupby([self.symbol_column]):
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)

    def write_single(self, collection, date, symbol, df):
        for start in range(0, len(df), self.chunk_size):
            end = min(start + self.chunk_size, len(df))
            df_seg = df[start:end]
            version = 1
            seg = {'ver': version, 'data': self.ser(df_seg, version), 'date': date, 'symbol': symbol, 'start': start}
            collection.insert_one(seg)

    def build_query(self, start_date=None, end_date=None, symbol=None):
        query = {}

        def parse_date(x):
            if type(x) == str:
                if len(x) != 8:
                    raise Exception("`date` must be YYYYMMDD format")
                return x
            elif type(x) == datetime.datetime or type(x) == datetime.date:
                return x.strftime("%Y%m%d")
            elif type(x) == int:
                return parse_date(str(x))
            else:
                raise Exception("invalid `date` type: " + str(type(x)))

        if start_date is not None or end_date is not None:
            query['date'] = {}
            if start_date is not None:
                query['date']['$gte'] = parse_date(start_date)
            if end_date is not None:
                query['date']['$lte'] = parse_date(end_date)

        def parse_symbol(x):
            if type(x) == int:
                return x
            else:
                return int(x)

        if symbol:
            if type(symbol) == list or type(symbol) == tuple:
                query['symbol'] = {'$in': [parse_symbol(x) for x in symbol]}
            else:
                query['symbol'] = parse_symbol(symbol)

        return query

    def delete(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot delete the whole table')
            return None

        collection.delete_many(query)

    def read(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot read the whole table')
            return None

        segs = []
        for x in collection.find(query):
            x['data'] = self.deser(x['data'], x['ver'])
            segs.append(x)
        segs.sort(key=lambda x: (x['symbol'], x['date'], x['start']))
        return pd.concat([x['data'] for x in segs], ignore_index=True) if segs else None

    def list_tables(self):
        return self.db.collection_names()

    def list_dates(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]
        dates = set()
        if start_date is None:
            start_date = '00000000'
        if end_date is None:
            end_date = '99999999'
        for x in collection.find(self.build_query(start_date, end_date, symbol), {"date": 1, '_id': 0}):
            dates.add(x['date'])
        return sorted(list(dates))

    def ser(self, s, version):
        pickle_protocol = 4
        if version == 1:
            return gzip.compress(pickle.dumps(s, protocol=pickle_protocol), compresslevel=2)
        elif version == 2:
            return lzma.compress(pickle.dumps(s, protocol=pickle_protocol), preset=1)
        else:
            raise Exception('unknown version')

    def deser(self, s, version):
        def unpickle(s):
            return pickle.loads(s)

        if version == 1:
            return unpickle(gzip.decompress(s))
        elif version == 2:
            return unpickle(lzma.decompress(s))
        else:
            raise Exception('unknown version')


def patch_pandas_pickle():
    if pd.__version__ < '0.24':
        import sys
        from types import ModuleType
        from pandas.core.internals import BlockManager
        pkg_name = 'pandas.core.internals.managers'
        if pkg_name not in sys.modules:
            m = ModuleType(pkg_name)
            m.BlockManager = BlockManager
            sys.modules[pkg_name] = m
patch_pandas_pickle()


            
            
            
            
            
            
            
            
import pandas as pd
import random
import numpy as np
import glob
import os
import pickle
import datetime
import time
pd.set_option("max_columns", 200)

startTm = datetime.datetime.now()
readPath = '/home/work516/day_stock/***'
dataPathLs = np.array(glob.glob(readPath))
dataPathLs = dataPathLs[[np.array([os.path.basename(i).split('.')[0][:2] == 'SZ' for i in dataPathLs])]]
db = pd.DataFrame()
for p in dataPathLs:
    dayData = pd.read_csv(p, compression='gzip')
    db = pd.concat([db, dayData])
print(datetime.datetime.now() - startTm)

year = "2019"
startDate = '20190525'
endDate = '20191231'
readPath = '/mnt/usb/data/' + year + '/***/***'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([os.path.basename(i) for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]
less = []
date_list = pd.read_csv("/home/work516/KR_upload_code/trading_days.csv")

for data in dataPathLs:
    
    if len(np.array(glob.glob(data + '/SZ/tick***'))) == 0:
        if int(os.path.basename(data)) not in date_list["Date"].values:
            continue
        else:
            print(os.path.basename(data) + " less data!!!!!!!!!!!!!!!!!")
            less.append(data)
            continue
    startTm = datetime.datetime.now()
    date = os.path.basename(data)
    rar_path = data + '/SZ/tick.7z'
    path = '/mnt/e/unzip_data/2019/SZ'
    path1 = path + '/' + date
    un_path = path1
    cmd = '7za x {} -o{}'.format(rar_path, un_path)
    os.system(cmd)
    print(datetime.datetime.now() - startTm)
    print(date + ' unzip finished')
    
    
    startTm = datetime.datetime.now()
    
    readPath = path1 + '/tick/***'
    dataPathLs = np.array(glob.glob(readPath))
    dateLs = np.array([int(os.path.basename(i).split('.')[0]) for i in dataPathLs])
    dataPathLs = dataPathLs[(dateLs < 4000) | ((dateLs > 300000) & (dateLs < 310000))]
    TradeLog = []
    ll = []
    
    for i in dataPathLs:
        try:
            df = pd.read_csv(i)
        except:
            print("empty data")
            print(i)
            ll.append(int(os.path.basename(i).split('.')[0]))
            continue
        df["SecurityID"] = int(os.path.basename(i).split('.')[0])
        TradeLog += [df]
    TradeLog = pd.concat(TradeLog).reset_index(drop=True)
    TradeLog = TradeLog[TradeLog["ChannelNo"] != 4001]
    
    TradeLog["date"] = TradeLog["TransactTime"].iloc[0]//1000000000
    TradeLog = TradeLog.rename(columns={"Qty":"trade_qty", "Price":"trade_price", "ExecType":"trade_type"})
    TradeLog["trade_money"] = TradeLog["trade_price"] * TradeLog["trade_qty"]
    TradeLog["trade_flag"] = 0
    TradeLog["skey"] = TradeLog["SecurityID"] + 2000000
    TradeLog["clockAtArrival"] = TradeLog["TransactTime"].astype(str).apply(lambda x: np.int64(datetime.datetime.strptime(x, '%Y%m%d%H%M%S%f').timestamp()*1e6))
    TradeLog['datetime'] = TradeLog["clockAtArrival"].apply(lambda x: datetime.datetime.fromtimestamp(x/1e6))
    TradeLog["time"] = (TradeLog['TransactTime'] - int(TradeLog['TransactTime'].iloc[0]//1000000000*1000000000)).astype(np.int64)*1000
    TradeLog["trade_type"] = np.where(TradeLog["trade_type"] == 'F', 1, TradeLog["trade_type"])
    for col in ["skey", "date", "ApplSeqNum", "BidApplSeqNum", "OfferApplSeqNum", "trade_qty", "trade_type", "trade_flag"]:
        TradeLog[col] = TradeLog[col].astype('int32')
#     for cols in ["trade_money", "trade_price"]:
#         display(cols)
#         display(TradeLog[cols].astype(str).apply(lambda x: len(str(x.split('.')[1]))).unique())
#         TradeLog[cols] = TradeLog[cols].round(2)
#         display(TradeLog[cols].astype(str).apply(lambda x: len(str(x.split('.')[1]))).unique())
    for cols in ["trade_money"]:
        TradeLog[cols] = TradeLog[cols].round(2)
    
    da_te = str(TradeLog["date"].iloc[0]) 
    da_te = da_te[:4] + '-' + da_te[4:6] + '-' + da_te[6:8]
    db1 = db[db["date"] == da_te]
    sl = (db1["ID"].str[2:].astype(int) + 2000000).unique()
    db1["max_volume"] = db1.groupby("ID")["d_volume"].transform("max")
    db1["max_amount"] = db1.groupby("ID")["d_amount"].transform("max")
    t1 = db1.groupby("ID")["max_volume", "max_amount"].first().reset_index()
    del db1
    t1["skey"] = t1["ID"].str[2:].astype(int) + 2000000
    trade1 = TradeLog[TradeLog["trade_type"] == 1].groupby("skey")["trade_qty"].sum().reset_index()
    trade1.columns=["skey", "cum_volume"]
    trade2 = TradeLog[TradeLog["trade_type"] == 1].groupby("skey")["trade_money"].sum().reset_index()
    trade2.columns=["skey", "cum_amount"]
    t2 = pd.merge(trade1, trade2, on="skey")
    re = pd.merge(t1, t2, on="skey", how="outer")
    try:
        assert(t1.shape[0] == t2.shape[0])
        assert(re[re["cum_volume"] != re["max_volume"]].shape[0] == 0)
        assert(re[re["cum_amount"].round(2) != re["max_amount"]].shape[0] == 0)
    except:
        display(set(t1["skey"]) - set(t2["skey"]))
        display(re[re["cum_volume"] != re["max_volume"]])
        display(re[re["cum_amount"].round(2) != re["max_amount"]])
    del t1
    del t2
    del re
 
    TradeLog = TradeLog[["skey", "date", "time", "clockAtArrival", "datetime", "ApplSeqNum", "trade_type", "trade_flag",
                                                 "trade_price", "trade_qty", "BidApplSeqNum", "OfferApplSeqNum"]]
    print(da_te)
    print("trade finished")


    database_name = 'com_md_eq_cn'
    user = "zhenyuy"
    password = "bnONBrzSMGoE"

    db1 = DB("192.168.10.223", database_name, user, password)
    db1.write('md_trade', TradeLog)    
    
    del TradeLog

    print(datetime.datetime.now() - startTm)
print(less)

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:201: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.

0:05:56.754367
0:00:00.539754
20190527 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
456  SZ001914   6262275.0  66640290.41  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
456  SZ001914   6262275.0  66640290.41  2001914         NaN         NaN

2019-05-27
trade finished
0:09:23.974807
0:00:00.852398
20190528 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
455  SZ001914   9474418.0  1.027646e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
455  SZ001914   9474418.0  1.027646e+08  2001914         NaN         NaN

2019-05-28
trade finished
0:08:40.554719
0:00:00.553831
20190529 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
456  SZ001914   7948613.0  88067920.86  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
456  SZ001914   7948613.0  88067920.86  2001914         NaN         NaN

2019-05-29
trade finished
0:08:11.988532
0:00:00.910896
20190530 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
456  SZ001914   3978952.0  43319594.2  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
456  SZ001914   3978952.0  43319594.2  2001914         NaN         NaN

2019-05-30
trade finished
0:09:12.711686
0:00:00.783271
20190531 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
456  SZ001914   6494864.0  71812345.88  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
456  SZ001914   6494864.0  71812345.88  2001914         NaN         NaN

2019-05-31
trade finished
0:08:39.330349
0:00:00.872183
20190603 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
455  SZ001914   5164386.0  57027078.96  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
455  SZ001914   5164386.0  57027078.96  2001914         NaN         NaN

2019-06-03
trade finished
0:09:10.445697
0:00:00.834582
20190604 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
454  SZ001914   4206537.0  45367872.74  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
454  SZ001914   4206537.0  45367872.74  2001914         NaN         NaN

2019-06-04
trade finished
0:08:36.756739
0:00:24.650190
20190605 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
454  SZ001914   4275747.0  45985584.88  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
454  SZ001914   4275747.0  45985584.88  2001914         NaN         NaN

2019-06-05
trade finished
0:07:38.024527
0:00:25.282558
20190606 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
454  SZ001914   6494107.0  66315909.46  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
454  SZ001914   6494107.0  66315909.46  2001914         NaN         NaN

2019-06-06
trade finished
0:07:37.422775
0:00:24.502142
20190610 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
454  SZ001914   8682107.0  87934873.6  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
454  SZ001914   8682107.0  87934873.6  2001914         NaN         NaN

2019-06-10
trade finished
0:07:04.223379
0:00:31.244218
20190611 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
454  SZ001914   7725420.0  79422382.17  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
454  SZ001914   7725420.0  79422382.17  2001914         NaN         NaN

2019-06-11
trade finished
0:09:18.132020
0:00:27.444788
20190612 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
455  SZ001914   7639001.0  76981681.7  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
455  SZ001914   7639001.0  76981681.7  2001914         NaN         NaN

2019-06-12
trade finished
0:08:54.069553
0:00:26.701111
20190613 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
455  SZ001914   3433400.0  34393444.0  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
455  SZ001914   3433400.0  34393444.0  2001914         NaN         NaN

2019-06-13
trade finished
0:07:47.123519
0:00:30.344396
20190614 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
455  SZ001914   4543212.0  45969302.79  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
455  SZ001914   4543212.0  45969302.79  2001914         NaN         NaN

2019-06-14
trade finished
0:08:44.103003
0:00:24.418946
20190617 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
455  SZ001914   5436866.0  54626593.24  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
455  SZ001914   5436866.0  54626593.24  2001914         NaN         NaN

2019-06-17
trade finished
0:06:47.091268
0:00:22.602700
20190618 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
456  SZ001914   5318412.0  53426993.17  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
456  SZ001914   5318412.0  53426993.17  2001914         NaN         NaN

2019-06-18
trade finished
0:06:35.055158
0:00:25.445594
20190619 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
457  SZ001914   9425761.0  97580775.85  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
457  SZ001914   9425761.0  97580775.85  2001914         NaN         NaN

2019-06-19
trade finished
0:08:01.481599
0:00:27.733783
20190620 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
457  SZ001914   7672162.0  81511763.44  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
457  SZ001914   7672162.0  81511763.44  2001914         NaN         NaN

2019-06-20
trade finished
0:08:45.579242
0:00:29.087061
20190621 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
457  SZ001914   6406300.0  70021509.45  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
457  SZ001914   6406300.0  70021509.45  2001914         NaN         NaN

2019-06-21
trade finished
0:09:17.211484
0:00:24.448573
20190624 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
457  SZ001914   4937723.0  54363507.15  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
457  SZ001914   4937723.0  54363507.15  2001914         NaN         NaN

2019-06-24
trade finished
0:08:00.339142
0:00:25.869239
20190625 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
456  SZ001914  22381983.0  2.655138e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
456  SZ001914  22381983.0  2.655138e+08  2001914         NaN         NaN

2019-06-25
trade finished
0:07:50.006990
0:00:22.070091
20190626 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
456  SZ001914  10623540.0  1.249925e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
456  SZ001914  10623540.0  1.249925e+08  2001914         NaN         NaN

2019-06-26
trade finished
0:07:36.223047
0:00:23.770573
20190627 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
456  SZ001914  15288419.0  1.854266e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
456  SZ001914  15288419.0  1.854266e+08  2001914         NaN         NaN

2019-06-27
trade finished
0:07:55.491691
0:00:23.884617
20190628 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
456  SZ001914   7775297.0  93650491.05  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
456  SZ001914   7775297.0  93650491.05  2001914         NaN         NaN

2019-06-28
trade finished
0:07:31.466450
0:00:26.900097
20190701 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
457  SZ001914  13454384.0  1.660814e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
457  SZ001914  13454384.0  1.660814e+08  2001914         NaN         NaN

2019-07-01
trade finished
0:08:50.628145
0:00:26.044208
20190702 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
457  SZ001914   7264822.0  90656008.57  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
457  SZ001914   7264822.0  90656008.57  2001914         NaN         NaN

2019-07-02
trade finished
0:08:32.046079
0:00:26.188947
20190703 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
457  SZ001914  13841465.0  1.662719e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
457  SZ001914  13841465.0  1.662719e+08  2001914         NaN         NaN

2019-07-03
trade finished
0:07:38.401045
0:00:25.839463
20190704 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
457  SZ001914   7968921.0  94882874.62  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
457  SZ001914   7968921.0  94882874.62  2001914         NaN         NaN

2019-07-04
trade finished
0:07:15.776067
0:00:21.075401
20190705 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
457  SZ001914   7947345.0  92629231.14  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
457  SZ001914   7947345.0  92629231.14  2001914         NaN         NaN

2019-07-05
trade finished
0:06:48.742906
0:00:26.072852
20190708 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
456  SZ001914  10011284.0  1.158416e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
456  SZ001914  10011284.0  1.158416e+08  2001914         NaN         NaN

2019-07-08
trade finished
0:07:58.428397
0:00:23.108150
20190709 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
454  SZ001914   6403721.0  73868841.92  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
454  SZ001914   6403721.0  73868841.92  2001914         NaN         NaN

2019-07-09
trade finished
0:06:25.472338
0:00:22.713170
20190710 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
456  SZ001914   5177838.0  59249696.28  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
456  SZ001914   5177838.0  59249696.28  2001914         NaN         NaN

2019-07-10
trade finished
0:06:22.420533
0:00:20.805132
20190711 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
455  SZ001914   8185101.0  95327846.41  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
455  SZ001914   8185101.0  95327846.41  2001914         NaN         NaN

2019-07-11
trade finished
0:06:12.411568
0:00:21.383786
20190712 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
456  SZ001914   7415908.0  88343362.64  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
456  SZ001914   7415908.0  88343362.64  2001914         NaN         NaN

2019-07-12
trade finished
0:06:16.490163
0:00:25.269123
20190715 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
455  SZ001914   5579829.0  67343693.03  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
455  SZ001914   5579829.0  67343693.03  2001914         NaN         NaN

2019-07-15
trade finished
0:08:32.691559
0:00:21.975112
20190716 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
454  SZ001914  14335857.0  1.817690e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
454  SZ001914  14335857.0  1.817690e+08  2001914         NaN         NaN

2019-07-16
trade finished
0:07:19.085130
0:00:24.454964
20190717 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
454  SZ001914   6822341.0  87079519.26  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
454  SZ001914   6822341.0  87079519.26  2001914         NaN         NaN

2019-07-17
trade finished
0:07:21.058283
0:00:21.494262
20190718 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
454  SZ001914   5173359.0  65589678.67  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
454  SZ001914   5173359.0  65589678.67  2001914         NaN         NaN

2019-07-18
trade finished
0:06:58.130051
0:00:21.281999
20190719 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
454  SZ001914   5171022.0  65977649.41  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
454  SZ001914   5171022.0  65977649.41  2001914         NaN         NaN

2019-07-19
trade finished
0:06:28.111506
0:00:22.206593
20190722 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
455  SZ001914   5961945.0  75578639.06  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
455  SZ001914   5961945.0  75578639.06  2001914         NaN         NaN

2019-07-22
trade finished
0:06:58.356211
0:00:20.276355
20190723 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
456  SZ001914   4608473.0  57436710.41  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
456  SZ001914   4608473.0  57436710.41  2001914         NaN         NaN

2019-07-23
trade finished
0:07:04.455586
0:00:22.568213
20190724 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
454  SZ001914   5885004.0  73672669.34  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
454  SZ001914   5885004.0  73672669.34  2001914         NaN         NaN

2019-07-24
trade finished
0:06:58.872293
0:00:22.691825
20190725 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
455  SZ001914   4105122.0  51644757.24  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
455  SZ001914   4105122.0  51644757.24  2001914         NaN         NaN

2019-07-25
trade finished
0:06:40.870957
0:00:22.015043
20190726 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
453  SZ001914   9015921.0  1.179235e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
453  SZ001914   9015921.0  1.179235e+08  2001914         NaN         NaN

2019-07-26
trade finished
0:06:09.865615
0:00:23.442342
20190729 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
455  SZ001914   7043940.0  93880152.03  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
455  SZ001914   7043940.0  93880152.03  2001914         NaN         NaN

2019-07-29
trade finished
0:05:59.953935
0:00:22.412201
20190730 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
455  SZ001914   5877729.0  78702267.45  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
455  SZ001914   5877729.0  78702267.45  2001914         NaN         NaN

2019-07-30
trade finished
0:06:25.730695
0:00:22.868313
20190731 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
456  SZ001914   6214592.0  81674183.7  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
456  SZ001914   6214592.0  81674183.7  2001914         NaN         NaN

2019-07-31
trade finished
0:07:02.588457
0:00:30.992895
20190801 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
456  SZ001914   6191700.0  79419488.1  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
456  SZ001914   6191700.0  79419488.1  2001914         NaN         NaN

2019-08-01
trade finished
0:07:35.055601
0:00:33.477276
20190802 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
456  SZ001914   7973378.0  1.004562e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
456  SZ001914   7973378.0  1.004562e+08  2001914         NaN         NaN

2019-08-02
trade finished
0:07:40.778126
0:00:32.007103
20190805 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
456  SZ001914   5688349.0  70406702.64  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
456  SZ001914   5688349.0  70406702.64  2001914         NaN         NaN

2019-08-05
trade finished
0:06:58.456439
0:00:39.710485
20190806 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
456  SZ001914  14622796.0  1.774794e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
456  SZ001914  14622796.0  1.774794e+08  2001914         NaN         NaN

2019-08-06
trade finished
0:08:07.955957
0:00:27.844039
20190807 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
456  SZ001914  11267411.0  1.441497e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
456  SZ001914  11267411.0  1.441497e+08  2001914         NaN         NaN

2019-08-07
trade finished
0:06:37.594943
0:00:31.590039
20190808 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

            ID  max_volume    max_amount     skey  cum_volume    cum_amount
456   SZ001914   7537679.0  9.623207e+07  2001914         NaN           NaN
507   SZ002049  24289973.0  1.113791e+09  2002049  24288973.0  1.113746e+09
576   SZ002119  61294534.0  8.635270e+08  2002119  61293334.0  8.635108e+08
722   SZ002267   3699322.0  2.669059e+07  2002267   3699122.0  2.668914e+07
753   SZ002298   1841153.0  1.247399e+07  2002298   1831153.0  1.240629e+07
1396  SZ300009   3674350.0  5.415754e+07  2300009   3673850.0  5.415016e+07
1543  SZ300159   7387386.0  3.183843e+07  2300159   7386386.0  3.183413e+07
1735  SZ300353  14325221.0  1.834571e+08  2300353  14324221.0  1.834443e+08
2070  SZ300697  11341656.0  1.666812e+08  2300697  11341256.0  1.666753e+08

            ID  max_volume    max_amount     skey  cum_volume    cum_amount
456   SZ001914   7537679.0  9.623207e+07  2001914         NaN           NaN
507   SZ002049  24289973.0  1.113791e+09  2002049  24288973.0  1.113746e+09
576   SZ002119  61294534.0  8.635270e+08  2002119  61293334.0  8.635108e+08
722   SZ002267   3699322.0  2.669059e+07  2002267   3699122.0  2.668914e+07
753   SZ002298   1841153.0  1.247399e+07  2002298   1831153.0  1.240629e+07
1396  SZ300009   3674350.0  5.415754e+07  2300009   3673850.0  5.415016e+07
1543  SZ300159   7387386.0  3.183843e+07  2300159   7386386.0  3.183413e+07
1735  SZ300353  14325221.0  1.834571e+08  2300353  14324221.0  1.834443e+08
2070  SZ300697  11341656.0  1.666812e+08  2300697  11341256.0  1.666753e+08

2019-08-08
trade finished
0:05:59.282452
0:00:30.633838
20190809 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
456  SZ001914   5140408.0  64388890.4  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
456  SZ001914   5140408.0  64388890.4  2001914         NaN         NaN

2019-08-09
trade finished
0:07:01.431853
0:00:29.529735
20190812 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
456  SZ001914  10103765.0  1.300337e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
456  SZ001914  10103765.0  1.300337e+08  2001914         NaN         NaN

2019-08-12
trade finished
0:06:23.396453
0:00:27.538619
20190813 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
454  SZ001914   7155893.0  93773540.98  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
454  SZ001914   7155893.0  93773540.98  2001914         NaN         NaN

2019-08-13
trade finished
0:06:21.334902
0:00:28.883875
20190814 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
453  SZ001914   4504466.0  59662398.82  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
453  SZ001914   4504466.0  59662398.82  2001914         NaN         NaN

2019-08-14
trade finished
0:07:24.608440
0:00:34.975843
20190815 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
454  SZ001914   5132156.0  68286931.52  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
454  SZ001914   5132156.0  68286931.52  2001914         NaN         NaN

2019-08-15
trade finished
0:08:01.368556
0:00:31.713304
20190816 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
454  SZ001914   4356077.0  58164721.63  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
454  SZ001914   4356077.0  58164721.63  2001914         NaN         NaN

2019-08-16
trade finished
0:07:52.576557
0:00:40.490626
20190819 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
453  SZ001914   5321195.0  71961808.06  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
453  SZ001914   5321195.0  71961808.06  2001914         NaN         NaN

2019-08-19
trade finished
0:09:47.271660
0:00:42.367034
20190820 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
453  SZ001914  10076869.0  1.312309e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
453  SZ001914  10076869.0  1.312309e+08  2001914         NaN         NaN

2019-08-20
trade finished
0:09:24.827622
0:00:35.691081
20190821 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
453  SZ001914   9789645.0  1.299213e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
453  SZ001914   9789645.0  1.299213e+08  2001914         NaN         NaN

2019-08-21
trade finished
0:08:01.238587
0:00:36.051633
20190822 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
453  SZ001914   8615233.0  1.125088e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
453  SZ001914   8615233.0  1.125088e+08  2001914         NaN         NaN

2019-08-22
trade finished
0:08:33.414960
0:00:37.074422
20190823 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
452  SZ001914   3910013.0  51096707.86  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
452  SZ001914   3910013.0  51096707.86  2001914         NaN         NaN

2019-08-23
trade finished
0:08:15.597692
0:00:39.388389
20190826 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

            ID  max_volume    max_amount     skey  cum_volume    cum_amount
252   SZ000709  20590763.0  5.249659e+07  2000709  20584663.0  5.248103e+07
350   SZ000858  28321987.0  3.616949e+09  2000858  28321887.0  3.616936e+09
423   SZ000963  28401006.0  8.724267e+08  2000963  28400306.0  8.724054e+08
443   SZ000988  72863917.0  1.270911e+09  2000988  72863617.0  1.270906e+09
454   SZ001914   8607301.0  1.216483e+08  2001914         NaN           NaN
472   SZ002016   2676028.0  1.977774e+07  2002016   2675128.0  1.977108e+07
495   SZ002040  17156170.0  1.381980e+08  2002040  17155880.0  1.381956e+08
1001  SZ002555  14637890.0  2.291602e+08  2002555  14637790.0  2.291586e+08
1507  SZ300127  36265839.0  8.779734e+08  2300127  36265739.0  8.779710e+08
1744  SZ300367  16633744.0  8.832309e+07  2300367  16633344.0  8.832095e+07
1745  SZ300368  13684012.0  1.013055e+08  2300368  13682812.0  1.012966e+08
2098  SZ300732    934764.0  1.621763e+07  2300732    934664.0  1.621590e+07

            ID  max_volume    max_amount     skey  cum_volume    cum_amount
252   SZ000709  20590763.0  5.249659e+07  2000709  20584663.0  5.248103e+07
350   SZ000858  28321987.0  3.616949e+09  2000858  28321887.0  3.616936e+09
423   SZ000963  28401006.0  8.724267e+08  2000963  28400306.0  8.724054e+08
443   SZ000988  72863917.0  1.270911e+09  2000988  72863617.0  1.270906e+09
454   SZ001914   8607301.0  1.216483e+08  2001914         NaN           NaN
472   SZ002016   2676028.0  1.977774e+07  2002016   2675128.0  1.977108e+07
495   SZ002040  17156170.0  1.381980e+08  2002040  17155880.0  1.381956e+08
1001  SZ002555  14637890.0  2.291602e+08  2002555  14637790.0  2.291586e+08
1507  SZ300127  36265839.0  8.779734e+08  2300127  36265739.0  8.779710e+08
1744  SZ300367  16633744.0  8.832309e+07  2300367  16633344.0  8.832095e+07
1745  SZ300368  13684012.0  1.013055e+08  2300368  13682812.0  1.012966e+08
2098  SZ300732    934764.0  1.621763e+07  2300732    934664.0  1.621590e+07

2019-08-26
trade finished
0:08:16.598293
0:00:38.852818
20190827 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
455  SZ001914  44360710.0  680580296.2  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
455  SZ001914  44360710.0  680580296.2  2001914         NaN         NaN

2019-08-27
trade finished
0:09:21.804277
0:00:37.126454
20190828 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
455  SZ001914  21272123.0  3.244748e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
455  SZ001914  21272123.0  3.244748e+08  2001914         NaN         NaN

2019-08-28
trade finished
0:08:34.187373
0:00:38.479769
20190829 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
455  SZ001914  12850594.0  1.971260e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
455  SZ001914  12850594.0  1.971260e+08  2001914         NaN         NaN

2019-08-29
trade finished
0:08:27.383475
0:00:30.637603
20190830 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
456  SZ001914  17390769.0  2.692377e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
456  SZ001914  17390769.0  2.692377e+08  2001914         NaN         NaN

2019-08-30
trade finished
0:09:40.752761
0:00:28.744470
20190902 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
456  SZ001914  12797295.0  1.982176e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
456  SZ001914  12797295.0  1.982176e+08  2001914         NaN         NaN

2019-09-02
trade finished
0:09:00.006172
0:00:29.224647
20190903 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
456  SZ001914  10681770.0  1.700114e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
456  SZ001914  10681770.0  1.700114e+08  2001914         NaN         NaN

2019-09-03
trade finished
0:08:53.063551
0:00:31.191593
20190904 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
456  SZ001914   7887792.0  1.245354e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
456  SZ001914   7887792.0  1.245354e+08  2001914         NaN         NaN

2019-09-04
trade finished
0:09:13.815815
0:00:34.886396
20190905 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
456  SZ001914   9676916.0  1.513843e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
456  SZ001914   9676916.0  1.513843e+08  2001914         NaN         NaN

2019-09-05
trade finished
0:11:32.827462
0:00:30.187288
20190906 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
456  SZ001914   7551167.0  117094451.6  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
456  SZ001914   7551167.0  117094451.6  2001914         NaN         NaN

2019-09-06
trade finished
0:09:44.453160
0:00:31.036611
20190909 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
456  SZ001914   7641315.0  1.192731e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
456  SZ001914   7641315.0  1.192731e+08  2001914         NaN         NaN

2019-09-09
trade finished
0:10:19.675199
0:00:32.953995
20190910 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
455  SZ001914   6288530.0  96444746.32  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
455  SZ001914   6288530.0  96444746.32  2001914         NaN         NaN

2019-09-10
trade finished
0:10:30.810447
0:00:31.941039
20190911 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume    cum_amount
166  SZ000589  68632846.0  3.329489e+08  2000589  68632746.0  3.329484e+08
454  SZ001914   4455503.0  6.818166e+07  2001914         NaN           NaN
755  SZ002303  20238976.0  1.060309e+08  2002303  20234576.0  1.060074e+08

           ID  max_volume    max_amount     skey  cum_volume    cum_amount
166  SZ000589  68632846.0  3.329489e+08  2000589  68632746.0  3.329484e+08
454  SZ001914   4455503.0  6.818166e+07  2001914         NaN           NaN
755  SZ002303  20238976.0  1.060309e+08  2002303  20234576.0  1.060074e+08

2019-09-11
trade finished
0:10:12.385899
0:00:25.632224
20190912 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
454  SZ001914   5298452.0  80955587.03  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
454  SZ001914   5298452.0  80955587.03  2001914         NaN         NaN

2019-09-12
trade finished
0:08:45.948474
0:00:30.550298
20190916 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume    cum_amount
69   SZ000301   6854051.0  3.758186e+07  2000301   6853822.0  3.758061e+07
273  SZ000732  20243608.0  1.326762e+08  2000732  20242408.0  1.326683e+08
454  SZ001914   4908200.0  7.504454e+07  2001914         NaN           NaN
464  SZ002008  47241263.0  1.663576e+09  2002008  47241163.0  1.663573e+09

           ID  max_volume    max_amount     skey  cum_volume    cum_amount
69   SZ000301   6854051.0  3.758186e+07  2000301   6853822.0  3.758061e+07
273  SZ000732  20243608.0  1.326762e+08  2000732  20242408.0  1.326683e+08
454  SZ001914   4908200.0  7.504454e+07  2001914         NaN           NaN
464  SZ002008  47241263.0  1.663576e+09  2002008  47241163.0  1.663573e+09

2019-09-16
trade finished
0:08:38.484553
0:00:29.921906
20190917 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
455  SZ001914   4116700.0  62232333.0  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
455  SZ001914   4116700.0  62232333.0  2001914         NaN         NaN

2019-09-17
trade finished
0:10:06.759738
0:00:25.537447
20190918 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
455  SZ001914   4834500.0  73042431.0  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
455  SZ001914   4834500.0  73042431.0  2001914         NaN         NaN

2019-09-18
trade finished
0:08:10.761657
0:00:24.602019
20190919 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
455  SZ001914   3357832.0  51027297.76  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
455  SZ001914   3357832.0  51027297.76  2001914         NaN         NaN

2019-09-19
trade finished
0:07:58.843587
0:00:27.315582
20190920 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
455  SZ001914  11414420.0  1.825820e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
455  SZ001914  11414420.0  1.825820e+08  2001914         NaN         NaN

2019-09-20
trade finished
0:08:33.162443
0:00:27.835709
20190923 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
455  SZ001914   9475079.0  154710762.9  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
455  SZ001914   9475079.0  154710762.9  2001914         NaN         NaN

2019-09-23
trade finished
0:08:22.137237
0:00:28.844833
20190924 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
455  SZ001914  10267540.0  1.706457e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
455  SZ001914  10267540.0  1.706457e+08  2001914         NaN         NaN

2019-09-24
trade finished
0:08:55.457104
0:00:27.270449
20190925 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
454  SZ001914   7423000.0  1.240191e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
454  SZ001914   7423000.0  1.240191e+08  2001914         NaN         NaN

2019-09-25
trade finished
0:08:50.927330
0:00:29.184391
20190926 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
456  SZ001914  10584496.0  1.798915e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
456  SZ001914  10584496.0  1.798915e+08  2001914         NaN         NaN

2019-09-26
trade finished
0:08:56.114573
0:00:23.208776
20190927 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
456  SZ001914  12168232.0  2.083130e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
456  SZ001914  12168232.0  2.083130e+08  2001914         NaN         NaN

2019-09-27
trade finished
0:07:21.134177
0:00:21.558711
20190930 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
454  SZ001914   7920893.0  1.366788e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
454  SZ001914   7920893.0  1.366788e+08  2001914         NaN         NaN

2019-09-30
trade finished
0:06:53.217860
0:00:21.579815
20191008 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
455  SZ001914   7050790.0  1.244844e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
455  SZ001914   7050790.0  1.244844e+08  2001914         NaN         NaN

2019-10-08
trade finished
0:06:31.214884
0:00:21.908607
20191009 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
454  SZ001914   6158032.0  1.082141e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
454  SZ001914   6158032.0  1.082141e+08  2001914         NaN         NaN

2019-10-09
trade finished
0:06:39.802745
0:00:23.215192
20191010 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
454  SZ001914   5220004.0  93158615.14  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
454  SZ001914   5220004.0  93158615.14  2001914         NaN         NaN

2019-10-10
trade finished
0:07:13.572333
0:00:24.700353
20191011 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
454  SZ001914  11622636.0  216738949.6  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
454  SZ001914  11622636.0  216738949.6  2001914         NaN         NaN

2019-10-11
trade finished
0:07:31.757117
0:00:25.473395
20191014 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
453  SZ001914   6027730.0  113547718.7  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
453  SZ001914   6027730.0  113547718.7  2001914         NaN         NaN

2019-10-14
trade finished
0:08:15.273708
0:00:29.050870
20191015 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
454  SZ001914   5698630.0  109398438.8  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
454  SZ001914   5698630.0  109398438.8  2001914         NaN         NaN

2019-10-15
trade finished
0:08:09.037297
0:00:23.428118
20191016 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
454  SZ001914   8919873.0  1.745510e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
454  SZ001914   8919873.0  1.745510e+08  2001914         NaN         NaN

2019-10-16
trade finished
0:07:31.915885
0:00:22.521555
20191017 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
453  SZ001914   7610005.0  1.498997e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
453  SZ001914   7610005.0  1.498997e+08  2001914         NaN         NaN

2019-10-17
trade finished
0:07:03.983950
0:00:22.053822
20191018 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
454  SZ001914   9763399.0  1.859281e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
454  SZ001914   9763399.0  1.859281e+08  2001914         NaN         NaN

2019-10-18
trade finished
0:07:26.152622
0:00:20.634022
20191021 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
454  SZ001914   6329130.0  1.190761e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
454  SZ001914   6329130.0  1.190761e+08  2001914         NaN         NaN

2019-10-21
trade finished
0:06:32.085154
0:00:21.713038
20191022 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

2019-10-22
trade finished
0:06:38.675270
0:00:21.487291
20191023 unzip finished

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
454  SZ001914  12698092.0  2.345682e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
454  SZ001914  12698092.0  2.345682e+08  2001914         NaN         NaN

2019-10-23
trade finished
0:06:37.590094
0:00:21.070125
20191024 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
453  SZ001914   5721581.0  1.075381e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
453  SZ001914   5721581.0  1.075381e+08  2001914         NaN         NaN

2019-10-24
trade finished
0:07:16.475640
0:00:21.952994
20191025 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

            ID   max_volume    max_amount     skey   cum_volume    cum_amount
30    SZ000038    6397820.0  7.314458e+07  2000038    6396820.0  7.313319e+07
49    SZ000066  184856931.0  2.705208e+09  2000066  184856331.0  2.705199e+09
441   SZ000987   16455522.0  1.485916e+08  2000987   16454622.0  1.485834e+08
453   SZ001914    7061940.0  1.363304e+08  2001914          NaN           NaN
462   SZ002007    8993472.0  3.332840e+08  2002007    8993172.0  3.332728e+08
578   SZ002124  119495133.0  1.877586e+09  2002124  119494733.0  1.877580e+09
885   SZ002434   10163085.0  8.206419e+07  2002434   10162885.0  8.206257e+07
987   SZ002539    7198213.0  3.572492e+07  2002539    7158213.0  3.552678e+07
1037  SZ002589   28211286.0  2.130083e+08  2002589   28182386.0  2.127901e+08
1107  SZ002660    9789100.0  8.427047e+07  2002660    9788100.0  8.426184e+07
1120  SZ002673   11533838.0  1.040799e+08  2002673   11532738.0  1.040699e+08
1638  SZ300253   31570419.0  5.194906e+08  2300253   31569919.0  5.194823e+08

            ID   max_volume    max_amount     skey   cum_volume    cum_amount
30    SZ000038    6397820.0  7.314458e+07  2000038    6396820.0  7.313319e+07
49    SZ000066  184856931.0  2.705208e+09  2000066  184856331.0  2.705199e+09
441   SZ000987   16455522.0  1.485916e+08  2000987   16454622.0  1.485834e+08
453   SZ001914    7061940.0  1.363304e+08  2001914          NaN           NaN
462   SZ002007    8993472.0  3.332840e+08  2002007    8993172.0  3.332728e+08
578   SZ002124  119495133.0  1.877586e+09  2002124  119494733.0  1.877580e+09
885   SZ002434   10163085.0  8.206419e+07  2002434   10162885.0  8.206257e+07
987   SZ002539    7198213.0  3.572492e+07  2002539    7158213.0  3.552678e+07
1037  SZ002589   28211286.0  2.130083e+08  2002589   28182386.0  2.127901e+08
1107  SZ002660    9789100.0  8.427047e+07  2002660    9788100.0  8.426184e+07
1120  SZ002673   11533838.0  1.040799e+08  2002673   11532738.0  1.040699e+08
1638  SZ300253   31570419.0  5.194906e+08  2300253   31569919.0  5.194823e+08

2019-10-25
trade finished
0:06:52.359410
0:00:24.655787
20191028 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
453  SZ001914   5752663.0  110942382.9  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
453  SZ001914   5752663.0  110942382.9  2001914         NaN         NaN

2019-10-28
trade finished
0:08:29.433835
0:00:28.644762
20191029 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
453  SZ001914   5375340.0  1.055625e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
453  SZ001914   5375340.0  1.055625e+08  2001914         NaN         NaN

2019-10-29
trade finished
0:09:26.051645
0:00:28.243560
20191030 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
452  SZ001914   6317655.0  126683394.9  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
452  SZ001914   6317655.0  126683394.9  2001914         NaN         NaN

2019-10-30
trade finished
0:08:10.567324
0:00:25.139643
20191031 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
453  SZ001914   3746652.0  74436219.84  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
453  SZ001914   3746652.0  74436219.84  2001914         NaN         NaN

2019-10-31
trade finished
0:07:41.902734
0:00:23.655286
20191101 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID   max_volume    max_amount     skey   cum_volume    cum_amount
226  SZ000676  137406719.0  1.500229e+09  2000676  137405419.0  1.500215e+09
453  SZ001914    4551103.0  8.905213e+07  2001914          NaN           NaN
730  SZ002279   27237539.0  1.657279e+08  2002279   27236639.0  1.657224e+08
890  SZ002440    5889010.0  6.814563e+07  2002440    5887910.0  6.813292e+07

           ID   max_volume    max_amount     skey   cum_volume    cum_amount
226  SZ000676  137406719.0  1.500229e+09  2000676  137405419.0  1.500215e+09
453  SZ001914    4551103.0  8.905213e+07  2001914          NaN           NaN
730  SZ002279   27237539.0  1.657279e+08  2002279   27236639.0  1.657224e+08
890  SZ002440    5889010.0  6.814563e+07  2002440    5887910.0  6.813292e+07

2019-11-01
trade finished
0:07:23.548854
0:00:24.801587
20191104 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
454  SZ001914   9513880.0  1.913785e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
454  SZ001914   9513880.0  1.913785e+08  2001914         NaN         NaN

2019-11-04
trade finished
0:07:27.934622
0:00:24.597914
20191105 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
454  SZ001914   5499021.0  1.123902e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
454  SZ001914   5499021.0  1.123902e+08  2001914         NaN         NaN

2019-11-05
trade finished
0:07:16.192439
0:00:22.464482
20191106 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
453  SZ001914   5293905.0  1.100760e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
453  SZ001914   5293905.0  1.100760e+08  2001914         NaN         NaN

2019-11-06
trade finished
0:07:18.871481
0:00:24.449102
20191107 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
454  SZ001914   3881900.0  80404157.0  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
454  SZ001914   3881900.0  80404157.0  2001914         NaN         NaN

2019-11-07
trade finished
0:06:49.596339
0:00:24.038120
20191108 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
454  SZ001914   9514861.0  201987298.0  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
454  SZ001914   9514861.0  201987298.0  2001914         NaN         NaN

2019-11-08
trade finished
0:08:02.617133
0:00:24.312919
20191111 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
454  SZ001914   9629814.0  202526760.7  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
454  SZ001914   9629814.0  202526760.7  2001914         NaN         NaN

2019-11-11
trade finished
0:07:53.441551
0:00:22.741379
20191112 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
454  SZ001914   7397174.0  1.532230e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
454  SZ001914   7397174.0  1.532230e+08  2001914         NaN         NaN

2019-11-12
trade finished
0:07:07.179491
0:00:21.677094
20191113 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

            ID  max_volume    max_amount     skey  cum_volume    cum_amount
452   SZ001914   4671196.0  9.628663e+07  2001914         NaN           NaN
1114  SZ002670  27062978.0  3.236307e+08  2002670  27061978.0  3.236188e+08

            ID  max_volume    max_amount     skey  cum_volume    cum_amount
452   SZ001914   4671196.0  9.628663e+07  2001914         NaN           NaN
1114  SZ002670  27062978.0  3.236307e+08  2002670  27061978.0  3.236188e+08

2019-11-13
trade finished
0:06:39.161992
0:00:21.744671
20191114 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
454  SZ001914   9836424.0  2.160996e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
454  SZ001914   9836424.0  2.160996e+08  2001914         NaN         NaN

2019-11-14
trade finished
0:06:53.462507
0:00:23.251528
20191115 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
454  SZ001914   5866501.0  1.315794e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
454  SZ001914   5866501.0  1.315794e+08  2001914         NaN         NaN

2019-11-15
trade finished
0:07:19.843669
0:00:21.309578
20191118 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
455  SZ001914   6795300.0  150769346.0  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
455  SZ001914   6795300.0  150769346.0  2001914         NaN         NaN

2019-11-18
trade finished
0:06:54.375606
0:00:24.599045
20191119 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
453  SZ001914   6238627.0  1.399725e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
453  SZ001914   6238627.0  1.399725e+08  2001914         NaN         NaN

2019-11-19
trade finished
0:07:33.941291
0:00:24.431312
20191120 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
453  SZ001914   4696378.0  105226121.2  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
453  SZ001914   4696378.0  105226121.2  2001914         NaN         NaN

2019-11-20
trade finished
0:07:53.136956
0:00:21.867465
20191121 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
453  SZ001914   4206840.0  93528678.5  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
453  SZ001914   4206840.0  93528678.5  2001914         NaN         NaN

2019-11-21
trade finished
0:07:09.755325
0:00:24.712531
20191122 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
453  SZ001914   9044489.0  1.940017e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
453  SZ001914   9044489.0  1.940017e+08  2001914         NaN         NaN

2019-11-22
trade finished
0:07:40.185303
0:00:23.349659
20191125 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
454  SZ001914  12016469.0  2.481706e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
454  SZ001914  12016469.0  2.481706e+08  2001914         NaN         NaN

2019-11-25
trade finished
0:07:30.257108
0:00:22.042715
20191126 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
455  SZ001914  10502712.0  2.123318e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
455  SZ001914  10502712.0  2.123318e+08  2001914         NaN         NaN

2019-11-26
trade finished
0:07:06.587084
0:00:21.418701
20191127 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
455  SZ001914  14444208.0  2.860744e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
455  SZ001914  14444208.0  2.860744e+08  2001914         NaN         NaN

2019-11-27
trade finished
0:06:51.586293
0:00:20.870002
20191128 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
454  SZ001914   8601478.0  1.686998e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
454  SZ001914   8601478.0  1.686998e+08  2001914         NaN         NaN

2019-11-28
trade finished
0:06:28.074660
0:00:20.346827
20191129 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
454  SZ001914  10173704.0  200630924.8  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
454  SZ001914  10173704.0  200630924.8  2001914         NaN         NaN

2019-11-29
trade finished
0:06:22.271934
0:00:21.136155
20191202 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
453  SZ001914   9924199.0  193398930.6  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
453  SZ001914   9924199.0  193398930.6  2001914         NaN         NaN

2019-12-02
trade finished
0:06:17.450400
0:00:21.416523
20191203 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
454  SZ001914   9180712.0  1.815265e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
454  SZ001914   9180712.0  1.815265e+08  2001914         NaN         NaN

2019-12-03
trade finished
0:06:32.203524
0:00:22.116412
20191204 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
454  SZ001914   6936728.0  1.358006e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
454  SZ001914   6936728.0  1.358006e+08  2001914         NaN         NaN

2019-12-04
trade finished
0:06:34.651437
0:00:22.526269
20191205 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
454  SZ001914   5381600.0  106844254.0  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
454  SZ001914   5381600.0  106844254.0  2001914         NaN         NaN

2019-12-05
trade finished
0:07:18.887402
0:00:22.549010
20191206 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
453  SZ001914  11454827.0  2.389187e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
453  SZ001914  11454827.0  2.389187e+08  2001914         NaN         NaN

2019-12-06
trade finished
0:07:14.340732
0:00:24.606610
20191209 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
453  SZ001914   7631529.0  1.612114e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
453  SZ001914   7631529.0  1.612114e+08  2001914         NaN         NaN

2019-12-09
trade finished
0:07:47.341146
0:00:24.235549
20191210 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
453  SZ001914   4837631.0  1.023191e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
453  SZ001914   4837631.0  1.023191e+08  2001914         NaN         NaN

2019-12-10
trade finished
0:07:16.983592
0:00:24.747176
20191211 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
452  SZ001914  12077121.0  2.469201e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
452  SZ001914  12077121.0  2.469201e+08  2001914         NaN         NaN

2019-12-11
trade finished
0:07:46.727646
0:00:24.077474
20191212 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
454  SZ001914   5856617.0  1.162321e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
454  SZ001914   5856617.0  1.162321e+08  2001914         NaN         NaN

2019-12-12
trade finished
0:08:02.043976
0:00:24.688644
20191213 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
454  SZ001914   7096940.0  142983766.5  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
454  SZ001914   7096940.0  142983766.5  2001914         NaN         NaN

2019-12-13
trade finished
0:08:05.094730
0:00:27.153642
20191216 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:285: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:286: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

2019-12-16
trade finished
0:09:37.818454
0:00:31.509116
20191217 unzip finished
2019-12-17
trade finished
0:10:36.811683
0:00:30.049723
20191218 unzip finished
2019-12-18
trade finished
0:09:42.336398
0:00:28.716706
20191219 unzip finished
2019-12-19
trade finished
0:09:37.614903
0:00:28.417478
20191220 unzip finished
2019-12-20
trade finished
0:08:38.561605
0:00:25.010393
20191223 unzip finished
2019-12-23
trade finished
0:08:10.718306
0:00:22.213105
20191224 unzip finished
2019-12-24
trade finished
0:07:06.460784
0:00:24.301579
20191225 unzip finished
2019-12-25
trade finished
0:08:46.671008
0:00:26.722607
20191226 unzip finished
2019-12-26
trade finished
0:07:57.195757
0:00:28.409564
20191227 unzip finished
2019-12-27
trade finished
0:10:00.251852
0:00:28.402656
20191230 unzip finished
2019-12-30
trade finished
0:08:28.900364
0:00:23.817795
20191231 unzip finished
2019-12-31
trade finished
0:07:42.313742
[]