In [1]:
import pymongo
import pandas as pd
import pickle
import datetime
import time
import gzip
import lzma
import pytz


def DB(host, db_name, user, passwd):
    auth_db = db_name if user not in ('admin', 'root') else 'admin'
    uri = 'mongodb://%s:%s@%s/?authSource=%s' % (user, passwd, host, auth_db)
    return DBObj(uri, db_name=db_name)


class DBObj(object):
    def __init__(self, uri, symbol_column='skey', db_name='white_db'):
        self.db_name = db_name
        self.uri = uri
        self.client = pymongo.MongoClient(self.uri)
        self.db = self.client[self.db_name]
        self.chunk_size = 20000
        self.symbol_column = symbol_column
        self.date_column = 'date'

    def parse_uri(self, uri):
        # mongodb://user:password@example.com
        return uri.strip().replace('mongodb://', '').strip('/').replace(':', ' ').replace('@', ' ').split(' ')

    def drop_table(self, table_name):
        self.db.drop_collection(table_name)

    def rename_table(self, old_table, new_table):
        self.db[old_table].rename(new_table)

    def write(self, table_name, df):
        if len(df) == 0: return

        multi_date = False

        if self.date_column in df.columns:
            date = str(df.head(1)[self.date_column].iloc[0])
            multi_date = len(df[self.date_column].unique()) > 1
        else:
            raise Exception('DataFrame should contain date column')

        collection = self.db[table_name]
        collection.create_index([('date', pymongo.ASCENDING), ('symbol', pymongo.ASCENDING)], background=True)
        collection.create_index([('symbol', pymongo.ASCENDING), ('date', pymongo.ASCENDING)], background=True)

        if multi_date:
            for (date, symbol), sub_df in df.groupby([self.date_column, self.symbol_column]):
                date = str(date)
                symbol = int(symbol)
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)
        else:
            for symbol, sub_df in df.groupby([self.symbol_column]):
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)

    def write_single(self, collection, date, symbol, df):
        for start in range(0, len(df), self.chunk_size):
            end = min(start + self.chunk_size, len(df))
            df_seg = df[start:end]
            version = 1
            seg = {'ver': version, 'data': self.ser(df_seg, version), 'date': date, 'symbol': symbol, 'start': start}
            collection.insert_one(seg)

    def build_query(self, start_date=None, end_date=None, symbol=None):
        query = {}

        def parse_date(x):
            if type(x) == str:
                if len(x) != 8:
                    raise Exception("`date` must be YYYYMMDD format")
                return x
            elif type(x) == datetime.datetime or type(x) == datetime.date:
                return x.strftime("%Y%m%d")
            elif type(x) == int:
                return parse_date(str(x))
            else:
                raise Exception("invalid `date` type: " + str(type(x)))

        if start_date is not None or end_date is not None:
            query['date'] = {}
            if start_date is not None:
                query['date']['$gte'] = parse_date(start_date)
            if end_date is not None:
                query['date']['$lte'] = parse_date(end_date)

        def parse_symbol(x):
            if type(x) == int:
                return x
            else:
                return int(x)

        if symbol:
            if type(symbol) == list or type(symbol) == tuple:
                query['symbol'] = {'$in': [parse_symbol(x) for x in symbol]}
            else:
                query['symbol'] = parse_symbol(symbol)

        return query

    def delete(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot delete the whole table')
            return None

        collection.delete_many(query)

    def read(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot read the whole table')
            return None

        segs = []
        for x in collection.find(query):
            x['data'] = self.deser(x['data'], x['ver'])
            segs.append(x)
        segs.sort(key=lambda x: (x['symbol'], x['date'], x['start']))
        return pd.concat([x['data'] for x in segs], ignore_index=True) if segs else None

    def list_tables(self):
        return self.db.collection_names()

    def list_dates(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]
        dates = set()
        if start_date is None:
            start_date = '00000000'
        if end_date is None:
            end_date = '99999999'
        for x in collection.find(self.build_query(start_date, end_date, symbol), {"date": 1, '_id': 0}):
            dates.add(x['date'])
        return sorted(list(dates))

    def ser(self, s, version):
        pickle_protocol = 4
        if version == 1:
            return gzip.compress(pickle.dumps(s, protocol=pickle_protocol), compresslevel=2)
        elif version == 2:
            return lzma.compress(pickle.dumps(s, protocol=pickle_protocol), preset=1)
        else:
            raise Exception('unknown version')

    def deser(self, s, version):
        def unpickle(s):
            return pickle.loads(s)

        if version == 1:
            return unpickle(gzip.decompress(s))
        elif version == 2:
            return unpickle(lzma.decompress(s))
        else:
            raise Exception('unknown version')


def patch_pandas_pickle():
    if pd.__version__ < '0.24':
        import sys
        from types import ModuleType
        from pandas.core.internals import BlockManager
        pkg_name = 'pandas.core.internals.managers'
        if pkg_name not in sys.modules:
            m = ModuleType(pkg_name)
            m.BlockManager = BlockManager
            sys.modules[pkg_name] = m
patch_pandas_pickle()

            
            
            
            
            
            
            
            
import pandas as pd
import random
import numpy as np
import glob
import os
import pickle
import datetime
import time
from decimal import Decimal, Context, ROUND_HALF_UP
pd.set_option("max_columns", 200)

startTm = datetime.datetime.now()
readPath = '/home/work516/day_stock/***'
dataPathLs = np.array(glob.glob(readPath))
dataPathLs = dataPathLs[[np.array([os.path.basename(i).split('.')[0][:2] == 'SH' for i in dataPathLs])]]
db = pd.DataFrame()
for p in dataPathLs:
    dayData = pd.read_csv(p, compression='gzip')
    db = pd.concat([db, dayData])
print(datetime.datetime.now() - startTm)

year = "2018"
startDate = '20180101'
endDate = '20181231'
readPath = '/mnt/usb/data/' + year + '/***/***'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([os.path.basename(i) for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]

for data in dataPathLs:
    
    if len(np.array(glob.glob(data + '/SH/***'))) == 0:
        if int(os.path.basename(data)) not in date_list["Date"].values:
            continue
        else:
            print(os.path.basename(data) + " less data!!!!!!!!!!!!!!!!!")
            less.append(data)
            continue
    startTm = datetime.datetime.now()
    date = os.path.basename(data)
    rar_path = data + '/SH/tick.7z'
    path = '/mnt/e/unzip_data/2018/SH'
    path1 = path + '/' + date
    un_path = path1
    cmd = '7za x {} -o{}'.format(rar_path, un_path)
    os.system(cmd)
    print(datetime.datetime.now() - startTm)
    print(date + ' unzip finished')
    
    
    startTm = datetime.datetime.now()
    
    readPath = path1 + '/tick/***'
    dataPathLs = np.array(glob.glob(readPath))
    dateLs = np.array([int(os.path.basename(i).split('.')[0]) for i in dataPathLs])
    dataPathLs = dataPathLs[((dateLs >= 600000) & (dateLs <= 700000))]
    TradeLog = []
    ll = []
    
    for i in dataPathLs:
        try:
            df = pd.read_csv(i)
        except:
            print("empty data")
            print(i)
            ll.append(int(os.path.basename(i).split('.')[0]))
            continue
        df["SecurityID"] = int(os.path.basename(i).split('.')[0])
        TradeLog += [df]
    TradeLog = pd.concat(TradeLog).reset_index(drop=True)
    
    TradeLog["date"] = TradeLog["TradeTime"].iloc[0]//1000000000
    TradeLog = TradeLog.rename(columns={"TradeQty":"trade_qty", "TradePrice":"trade_price", 
                                        "TradeBSFlag":"trade_flag", "TradeAmount":"trade_money",
                                       "TradeIndex":"ApplSeqNum", "SellNo":"OfferApplSeqNum",
                                       "BuyNo":"BidApplSeqNum"})
    TradeLog["trade_type"] = 1
    TradeLog["skey"] = TradeLog["SecurityID"] + 1000000
    TradeLog["clockAtArrival"] = TradeLog["TradeTime"].astype(str).apply(lambda x: np.int64(datetime.datetime.strptime(x, '%Y%m%d%H%M%S%f').timestamp()*1e6))
    TradeLog['datetime'] = TradeLog["clockAtArrival"].apply(lambda x: datetime.datetime.fromtimestamp(x/1e6))
    TradeLog["time"] = (TradeLog['TradeTime'] - int(TradeLog['TradeTime'].iloc[0]//1000000000*1000000000)).astype(np.int64)*1000
    TradeLog["trade_flag"] = np.where(TradeLog["trade_flag"] == 'B', 1, np.where(
        TradeLog["trade_flag"] == 'S', 2, 0))
    for col in ["skey", "date", "ApplSeqNum", "BidApplSeqNum", "OfferApplSeqNum", "trade_qty", "trade_type", "trade_flag"]:
        TradeLog[col] = TradeLog[col].astype('int32')
    
    da_te = str(TradeLog["date"].iloc[0]) 
    da_te = da_te[:4] + '-' + da_te[4:6] + '-' + da_te[6:8]
    db1 = db[db["date"] == da_te]
    db1["max_volume"] = db1.groupby("ID")["d_volume"].transform("max")
    db1["max_amount"] = db1.groupby("ID")["d_amount"].transform("max")
    t1 = db1.groupby("ID")["max_volume", "max_amount"].first().reset_index()
    del db1
    t1["skey"] = t1["ID"].str[2:].astype(int) + 1000000
    trade1 = TradeLog[TradeLog["trade_type"] == 1].groupby("skey")["trade_qty"].sum().reset_index()
    trade1.columns=["skey", "cum_volume"]
    trade2 = TradeLog[TradeLog["trade_type"] == 1].groupby("skey")["trade_money"].sum().reset_index()
    trade2.columns=["skey", "cum_amount"]
    t2 = pd.merge(trade1, trade2, on="skey")
    re = pd.merge(t1, t2, on="skey", how="outer")
    re["cum_amount"] = re["cum_amount"].apply(lambda x: np.float(Decimal(round(x, 2)).normalize(Context(prec=len(str(x).split('.')[0]), rounding=ROUND_HALF_UP))))
    try:
        assert(t1.shape[0] == t2.shape[0])
        assert(re[re["cum_volume"] != re["max_volume"]].shape[0] == 0)
        assert(re[re["cum_amount"].round(2) != re["max_amount"]].shape[0] == 0)
    except:
        display(set(t1["skey"]) - set(t2["skey"]))
        display(re[re["cum_volume"] != re["max_volume"]])
        display(re[re["cum_amount"] != re["max_amount"]])
    del t1
    del t2
    del re
 
    TradeLog = TradeLog[["skey", "date", "time", "clockAtArrival", "datetime", "ApplSeqNum", "trade_type", "trade_flag",
                                                 "trade_price", "trade_qty", "BidApplSeqNum", "OfferApplSeqNum"]]
    print(da_te)
    print("trade finished")

    database_name = 'com_md_eq_cn'
    user = "zhenyuy"
    password = "bnONBrzSMGoE"

    db1 = DB("192.168.10.223", database_name, user, password)
    db1.write('md_trade', TradeLog)
    
    del TradeLog

    print(datetime.datetime.now() - startTm)

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:201: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.

0:02:59.095350
0:00:22.487014
20180102 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
833  SH601360  24117001.0  1.194709e+09  1601360         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
833  SH601360  24117001.0  1.194709e+09  1601360         NaN         NaN

2018-01-02
trade finished
0:03:26.360694
0:00:13.689399
20180103 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
836  SH601360  18047055.0  982933573.0  1601360         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
836  SH601360  18047055.0  982933573.0  1601360         NaN         NaN

2018-01-03
trade finished
0:04:25.124555
0:00:14.872463
20180104 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
835  SH601360   7024221.0  427732585.0  1601360         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
835  SH601360   7024221.0  427732585.0  1601360         NaN         NaN

2018-01-04
trade finished
0:03:52.715966
0:00:13.023055
20180105 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
837  SH601360  72643793.0  4.249961e+09  1601360         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
837  SH601360  72643793.0  4.249961e+09  1601360         NaN         NaN

2018-01-05
trade finished
0:04:27.998245
0:00:14.007172
20180108 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
839  SH601360  40804367.0  2.184401e+09  1601360         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
839  SH601360  40804367.0  2.184401e+09  1601360         NaN         NaN

2018-01-08
trade finished
0:04:27.074491
0:00:13.424767
20180109 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
841  SH601360  28344914.0  1.479833e+09  1601360         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
841  SH601360  28344914.0  1.479833e+09  1601360         NaN         NaN

2018-01-09
trade finished
0:04:06.502379
0:00:13.954333
20180110 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
842  SH601360  38493554.0  1.997918e+09  1601360         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
842  SH601360  38493554.0  1.997918e+09  1601360         NaN         NaN

2018-01-10
trade finished
0:04:02.144188
0:00:12.689572
20180111 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
841  SH601360  39093172.0  2.008223e+09  1601360         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
841  SH601360  39093172.0  2.008223e+09  1601360         NaN         NaN

2018-01-11
trade finished
0:03:35.147798
0:00:11.013432
20180112 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
839  SH601360  25743348.0  1.311933e+09  1601360         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
839  SH601360  25743348.0  1.311933e+09  1601360         NaN         NaN

2018-01-12
trade finished
0:03:33.524628
0:00:13.879051
20180115 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
841  SH601360  27161903.0  1.300160e+09  1601360         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
841  SH601360  27161903.0  1.300160e+09  1601360         NaN         NaN

2018-01-15
trade finished
0:04:21.876036
0:00:18.272642
20180116 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
842  SH601360  21086023.0  1.010841e+09  1601360         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
842  SH601360  21086023.0  1.010841e+09  1601360         NaN         NaN

2018-01-16
trade finished
0:04:01.756475
0:00:18.763440
20180117 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
838  SH601360  20240477.0  984998524.0  1601360         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
838  SH601360  20240477.0  984998524.0  1601360         NaN         NaN

2018-01-17
trade finished
0:04:28.902554
0:00:12.676332
20180118 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
838  SH601360  22698685.0  1.115041e+09  1601360         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
838  SH601360  22698685.0  1.115041e+09  1601360         NaN         NaN

2018-01-18
trade finished
0:03:48.804150
0:00:14.807409
20180119 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
840  SH601360  18219939.0  889073693.0  1601360         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
840  SH601360  18219939.0  889073693.0  1601360         NaN         NaN

2018-01-19
trade finished
0:04:10.952080
0:00:12.393912
20180122 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
839  SH601360  15942930.0  742261255.0  1601360         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
839  SH601360  15942930.0  742261255.0  1601360         NaN         NaN

2018-01-22
trade finished
0:03:47.853714
0:00:13.998487
20180123 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
837  SH601360  10223540.0  476271128.0  1601360         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
837  SH601360  10223540.0  476271128.0  1601360         NaN         NaN

2018-01-23
trade finished
0:04:13.912530
0:00:17.268345
20180124 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
838  SH601360  14004193.0  656790229.0  1601360         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
838  SH601360  14004193.0  656790229.0  1601360         NaN         NaN

2018-01-24
trade finished
0:04:29.863924
0:00:13.617707
20180125 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
835  SH601360  12428410.0  580615701.0  1601360         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
835  SH601360  12428410.0  580615701.0  1601360         NaN         NaN

2018-01-25
trade finished
0:04:18.284971
0:00:11.803355
20180126 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
835  SH601360  11679159.0  534878432.0  1601360         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
835  SH601360  11679159.0  534878432.0  1601360         NaN         NaN

2018-01-26
trade finished
0:03:56.018720
0:00:15.409442
20180129 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
831  SH601360  24606194.0  1.171856e+09  1601360         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
831  SH601360  24606194.0  1.171856e+09  1601360         NaN         NaN

2018-01-29
trade finished
0:04:29.610289
0:00:12.931339
20180130 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
833  SH601360  37399423.0  1.921412e+09  1601360         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
833  SH601360  37399423.0  1.921412e+09  1601360         NaN         NaN

2018-01-30
trade finished
0:03:43.542275
0:00:22.136478
20180131 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
833  SH601360  37234004.0  1.980966e+09  1601360         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
833  SH601360  37234004.0  1.980966e+09  1601360         NaN         NaN

2018-01-31
trade finished
0:03:56.386675
0:00:15.399678
20180201 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
837  SH601360  21872506.0  1.099551e+09  1601360         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
837  SH601360  21872506.0  1.099551e+09  1601360         NaN         NaN

2018-02-01
trade finished
0:04:36.911812
0:00:12.291773
20180202 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
831  SH601360  25471230.0  1.380523e+09  1601360         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
831  SH601360  25471230.0  1.380523e+09  1601360         NaN         NaN

2018-02-02
trade finished
0:03:41.538135
0:00:40.991978
20180205 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
826  SH601360  36025537.0  2.099217e+09  1601360         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
826  SH601360  36025537.0  2.099217e+09  1601360         NaN         NaN

2018-02-05
trade finished
0:03:45.007145
0:00:14.671241
20180206 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
823  SH601360  34965214.0  2.001063e+09  1601360         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
823  SH601360  34965214.0  2.001063e+09  1601360         NaN         NaN

2018-02-06
trade finished
0:04:24.890838
0:00:14.380219
20180207 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
824  SH601360  38767633.0  2.228451e+09  1601360         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
824  SH601360  38767633.0  2.228451e+09  1601360         NaN         NaN

2018-02-07
trade finished
0:04:13.378473
0:00:15.739681
20180208 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
819  SH601360  36779918.0  2.155862e+09  1601360         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
819  SH601360  36779918.0  2.155862e+09  1601360         NaN         NaN

2018-02-08
trade finished
0:03:31.022317
0:00:27.756748
20180209 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
820  SH601360  34030404.0  1.781182e+09  1601360         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
820  SH601360  34030404.0  1.781182e+09  1601360         NaN         NaN

2018-02-09
trade finished
0:04:22.632257
0:00:19.789598
20180212 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
821  SH601360  18486114.0  972092458.0  1601360         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
821  SH601360  18486114.0  972092458.0  1601360         NaN         NaN

2018-02-12
trade finished
0:02:49.204606
0:00:09.551284
20180213 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
821  SH601360  22514233.0  1.254491e+09  1601360         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
821  SH601360  22514233.0  1.254491e+09  1601360         NaN         NaN

2018-02-13
trade finished
0:02:46.483959
0:00:10.524292
20180214 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
821  SH601360  40461380.0  2.522157e+09  1601360         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
821  SH601360  40461380.0  2.522157e+09  1601360         NaN         NaN

2018-02-14
trade finished
0:02:03.590612
0:00:08.703270
20180222 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

2018-02-22
trade finished
0:02:55.523160
0:00:09.776895
20180223 unzip finished
2018-02-23
trade finished
0:02:47.243026
0:00:13.552598
20180226 unzip finished
2018-02-26
trade finished
0:03:29.643405
0:00:11.892042
20180227 unzip finished
2018-02-27
trade finished
0:03:31.475340
0:00:10.456813
20180228 unzip finished
2018-02-28
trade finished
0:03:10.914077
0:00:11.430053
20180301 unzip finished
2018-03-01
trade finished
0:03:30.492863
0:00:32.014836
20180302 unzip finished
2018-03-02
trade finished
0:03:07.498149
0:00:15.874965
20180305 unzip finished
2018-03-05
trade finished
0:03:10.573196
0:00:11.763042
20180306 unzip finished
2018-03-06
trade finished
0:03:41.908797
0:00:14.444201
20180307 unzip finished
2018-03-07
trade finished
0:03:30.295671
0:00:11.046903
20180308 unzip finished
2018-03-08
trade finished
0:03:16.897595
0:00:12.720723
20180309 unzip finished
2018-03-09
trade finished
0:03:31.727410
0:00:18.171764
20180312 unzip finished
2018-03-12
trade finished
0:04:31.124184
0:00:25.496916
20180313 unzip finished
2018-03-13
trade finished
0:03:31.149559
0:00:10.830245
20180314 unzip finished
2018-03-14
trade finished
0:03:15.133556
0:00:11.268597
20180315 unzip finished
2018-03-15
trade finished
0:03:16.548380
0:00:10.484995
20180316 unzip finished
2018-03-16
trade finished
0:02:55.050096
0:00:11.037671
20180319 unzip finished
2018-03-19
trade finished
0:02:58.705368
0:00:11.902965
20180320 unzip finished
2018-03-20
trade finished
0:03:07.453673
0:02:31.040929
20180321 unzip finished
2018-03-21
trade finished
0:03:48.817168
0:00:13.066444
20180322 unzip finished
2018-03-22
trade finished
0:03:40.977941
0:00:16.560772
20180323 unzip finished
2018-03-23
trade finished
0:05:27.783436
0:00:13.656151
20180326 unzip finished
2018-03-26
trade finished
0:03:56.015479
0:00:12.776977
20180327 unzip finished
2018-03-27
trade finished
0:03:56.742213
0:00:27.613852
20180328 unzip finished
2018-03-28
trade finished
0:03:35.146560
0:00:24.886699
20180329 unzip finished
2018-03-29
trade finished
0:03:33.646976
0:00:11.907699
20180330 unzip finished
2018-03-30
trade finished
0:03:27.437716
0:00:12.876516
20180402 unzip finished
2018-04-02
trade finished
0:04:11.358077
0:00:11.483003
20180403 unzip finished
2018-04-03
trade finished
0:03:38.988746
0:00:44.784640
20180404 unzip finished
2018-04-04
trade finished
0:03:38.844726
0:00:11.894296
20180409 unzip finished
2018-04-09
trade finished
0:03:16.975504
0:00:11.840429
20180410 unzip finished
2018-04-10
trade finished
0:03:48.521531
0:00:19.255252
20180411 unzip finished
2018-04-11
trade finished
0:03:55.649387
0:00:30.280122
20180412 unzip finished
2018-04-12
trade finished
0:03:30.645536
0:01:35.115792
20180413 unzip finished
2018-04-13
trade finished
0:03:08.966572
0:01:53.552818
20180416 unzip finished
2018-04-16
trade finished
0:03:37.968369
0:00:22.437234
20180417 unzip finished
2018-04-17
trade finished
0:03:39.449308
0:00:22.029434
20180418 unzip finished
2018-04-18
trade finished
0:03:25.908036
0:01:19.307708
20180419 unzip finished
2018-04-19
trade finished
0:03:17.766455
0:00:00.115826
20180420 unzip finished

ValueError: No objects to concatenate

In [2]:
import pymongo
import pandas as pd
import pickle
import datetime
import time
import gzip
import lzma
import pytz


def DB(host, db_name, user, passwd):
    auth_db = db_name if user not in ('admin', 'root') else 'admin'
    uri = 'mongodb://%s:%s@%s/?authSource=%s' % (user, passwd, host, auth_db)
    return DBObj(uri, db_name=db_name)


class DBObj(object):
    def __init__(self, uri, symbol_column='skey', db_name='white_db'):
        self.db_name = db_name
        self.uri = uri
        self.client = pymongo.MongoClient(self.uri)
        self.db = self.client[self.db_name]
        self.chunk_size = 20000
        self.symbol_column = symbol_column
        self.date_column = 'date'

    def parse_uri(self, uri):
        # mongodb://user:password@example.com
        return uri.strip().replace('mongodb://', '').strip('/').replace(':', ' ').replace('@', ' ').split(' ')

    def drop_table(self, table_name):
        self.db.drop_collection(table_name)

    def rename_table(self, old_table, new_table):
        self.db[old_table].rename(new_table)

    def write(self, table_name, df):
        if len(df) == 0: return

        multi_date = False

        if self.date_column in df.columns:
            date = str(df.head(1)[self.date_column].iloc[0])
            multi_date = len(df[self.date_column].unique()) > 1
        else:
            raise Exception('DataFrame should contain date column')

        collection = self.db[table_name]
        collection.create_index([('date', pymongo.ASCENDING), ('symbol', pymongo.ASCENDING)], background=True)
        collection.create_index([('symbol', pymongo.ASCENDING), ('date', pymongo.ASCENDING)], background=True)

        if multi_date:
            for (date, symbol), sub_df in df.groupby([self.date_column, self.symbol_column]):
                date = str(date)
                symbol = int(symbol)
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)
        else:
            for symbol, sub_df in df.groupby([self.symbol_column]):
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)

    def write_single(self, collection, date, symbol, df):
        for start in range(0, len(df), self.chunk_size):
            end = min(start + self.chunk_size, len(df))
            df_seg = df[start:end]
            version = 1
            seg = {'ver': version, 'data': self.ser(df_seg, version), 'date': date, 'symbol': symbol, 'start': start}
            collection.insert_one(seg)

    def build_query(self, start_date=None, end_date=None, symbol=None):
        query = {}

        def parse_date(x):
            if type(x) == str:
                if len(x) != 8:
                    raise Exception("`date` must be YYYYMMDD format")
                return x
            elif type(x) == datetime.datetime or type(x) == datetime.date:
                return x.strftime("%Y%m%d")
            elif type(x) == int:
                return parse_date(str(x))
            else:
                raise Exception("invalid `date` type: " + str(type(x)))

        if start_date is not None or end_date is not None:
            query['date'] = {}
            if start_date is not None:
                query['date']['$gte'] = parse_date(start_date)
            if end_date is not None:
                query['date']['$lte'] = parse_date(end_date)

        def parse_symbol(x):
            if type(x) == int:
                return x
            else:
                return int(x)

        if symbol:
            if type(symbol) == list or type(symbol) == tuple:
                query['symbol'] = {'$in': [parse_symbol(x) for x in symbol]}
            else:
                query['symbol'] = parse_symbol(symbol)

        return query

    def delete(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot delete the whole table')
            return None

        collection.delete_many(query)

    def read(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot read the whole table')
            return None

        segs = []
        for x in collection.find(query):
            x['data'] = self.deser(x['data'], x['ver'])
            segs.append(x)
        segs.sort(key=lambda x: (x['symbol'], x['date'], x['start']))
        return pd.concat([x['data'] for x in segs], ignore_index=True) if segs else None

    def list_tables(self):
        return self.db.collection_names()

    def list_dates(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]
        dates = set()
        if start_date is None:
            start_date = '00000000'
        if end_date is None:
            end_date = '99999999'
        for x in collection.find(self.build_query(start_date, end_date, symbol), {"date": 1, '_id': 0}):
            dates.add(x['date'])
        return sorted(list(dates))

    def ser(self, s, version):
        pickle_protocol = 4
        if version == 1:
            return gzip.compress(pickle.dumps(s, protocol=pickle_protocol), compresslevel=2)
        elif version == 2:
            return lzma.compress(pickle.dumps(s, protocol=pickle_protocol), preset=1)
        else:
            raise Exception('unknown version')

    def deser(self, s, version):
        def unpickle(s):
            return pickle.loads(s)

        if version == 1:
            return unpickle(gzip.decompress(s))
        elif version == 2:
            return unpickle(lzma.decompress(s))
        else:
            raise Exception('unknown version')


def patch_pandas_pickle():
    if pd.__version__ < '0.24':
        import sys
        from types import ModuleType
        from pandas.core.internals import BlockManager
        pkg_name = 'pandas.core.internals.managers'
        if pkg_name not in sys.modules:
            m = ModuleType(pkg_name)
            m.BlockManager = BlockManager
            sys.modules[pkg_name] = m
patch_pandas_pickle()

            
            
            
            
            
            
            
            
import pandas as pd
import random
import numpy as np
import glob
import os
import pickle
import datetime
import time
from decimal import Decimal, Context, ROUND_HALF_UP
pd.set_option("max_columns", 200)

startTm = datetime.datetime.now()
readPath = '/home/work516/day_stock/***'
dataPathLs = np.array(glob.glob(readPath))
dataPathLs = dataPathLs[[np.array([os.path.basename(i).split('.')[0][:2] == 'SH' for i in dataPathLs])]]
db = pd.DataFrame()
for p in dataPathLs:
    dayData = pd.read_csv(p, compression='gzip')
    db = pd.concat([db, dayData])
print(datetime.datetime.now() - startTm)

year = "2018"
startDate = '20180420'
endDate = '20181231'
readPath = '/mnt/usb/data/' + year + '/***/***'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([os.path.basename(i) for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]
date_list = pd.read_csv("/home/work516/KR_upload_code/trading_days.csv")

for data in dataPathLs:
    
    if len(np.array(glob.glob(data + '/SH/tick***'))) == 0:
        if int(os.path.basename(data)) not in date_list["Date"].values:
            continue
        else:
            print(os.path.basename(data) + " less data!!!!!!!!!!!!!!!!!")
            less.append(data)
            continue
    startTm = datetime.datetime.now()
    date = os.path.basename(data)
    rar_path = data + '/SH/tick.7z'
    path = '/mnt/e/unzip_data/2018/SH'
    path1 = path + '/' + date
    un_path = path1
    cmd = '7za x {} -o{}'.format(rar_path, un_path)
    os.system(cmd)
    print(datetime.datetime.now() - startTm)
    print(date + ' unzip finished')
    
    
    startTm = datetime.datetime.now()
    
    readPath = path1 + '/tick/***'
    dataPathLs = np.array(glob.glob(readPath))
    dateLs = np.array([int(os.path.basename(i).split('.')[0]) for i in dataPathLs])
    dataPathLs = dataPathLs[((dateLs >= 600000) & (dateLs <= 700000))]
    TradeLog = []
    ll = []
    
    for i in dataPathLs:
        try:
            df = pd.read_csv(i)
        except:
            print("empty data")
            print(i)
            ll.append(int(os.path.basename(i).split('.')[0]))
            continue
        df["SecurityID"] = int(os.path.basename(i).split('.')[0])
        TradeLog += [df]
    TradeLog = pd.concat(TradeLog).reset_index(drop=True)
    
    TradeLog["date"] = TradeLog["TradeTime"].iloc[0]//1000000000
    TradeLog = TradeLog.rename(columns={"TradeQty":"trade_qty", "TradePrice":"trade_price", 
                                        "TradeBSFlag":"trade_flag", "TradeAmount":"trade_money",
                                       "TradeIndex":"ApplSeqNum", "SellNo":"OfferApplSeqNum",
                                       "BuyNo":"BidApplSeqNum"})
    TradeLog["trade_type"] = 1
    TradeLog["skey"] = TradeLog["SecurityID"] + 1000000
    TradeLog["clockAtArrival"] = TradeLog["TradeTime"].astype(str).apply(lambda x: np.int64(datetime.datetime.strptime(x, '%Y%m%d%H%M%S%f').timestamp()*1e6))
    TradeLog['datetime'] = TradeLog["clockAtArrival"].apply(lambda x: datetime.datetime.fromtimestamp(x/1e6))
    TradeLog["time"] = (TradeLog['TradeTime'] - int(TradeLog['TradeTime'].iloc[0]//1000000000*1000000000)).astype(np.int64)*1000
    TradeLog["trade_flag"] = np.where(TradeLog["trade_flag"] == 'B', 1, np.where(
        TradeLog["trade_flag"] == 'S', 2, 0))
    for col in ["skey", "date", "ApplSeqNum", "BidApplSeqNum", "OfferApplSeqNum", "trade_qty", "trade_type", "trade_flag"]:
        TradeLog[col] = TradeLog[col].astype('int32')
    
    da_te = str(TradeLog["date"].iloc[0]) 
    da_te = da_te[:4] + '-' + da_te[4:6] + '-' + da_te[6:8]
    db1 = db[db["date"] == da_te]
    db1["max_volume"] = db1.groupby("ID")["d_volume"].transform("max")
    db1["max_amount"] = db1.groupby("ID")["d_amount"].transform("max")
    t1 = db1.groupby("ID")["max_volume", "max_amount"].first().reset_index()
    del db1
    t1["skey"] = t1["ID"].str[2:].astype(int) + 1000000
    trade1 = TradeLog[TradeLog["trade_type"] == 1].groupby("skey")["trade_qty"].sum().reset_index()
    trade1.columns=["skey", "cum_volume"]
    trade2 = TradeLog[TradeLog["trade_type"] == 1].groupby("skey")["trade_money"].sum().reset_index()
    trade2.columns=["skey", "cum_amount"]
    t2 = pd.merge(trade1, trade2, on="skey")
    re = pd.merge(t1, t2, on="skey", how="outer")
    re["cum_amount"] = re["cum_amount"].apply(lambda x: np.float(Decimal(round(x, 2)).normalize(Context(prec=len(str(x).split('.')[0]), rounding=ROUND_HALF_UP))))
    try:
        assert(t1.shape[0] == t2.shape[0])
        assert(re[re["cum_volume"] != re["max_volume"]].shape[0] == 0)
        assert(re[re["cum_amount"].round(2) != re["max_amount"]].shape[0] == 0)
    except:
        display(set(t1["skey"]) - set(t2["skey"]))
        display(re[re["cum_volume"] != re["max_volume"]])
        display(re[re["cum_amount"] != re["max_amount"]])
    del t1
    del t2
    del re
 
    TradeLog = TradeLog[["skey", "date", "time", "clockAtArrival", "datetime", "ApplSeqNum", "trade_type", "trade_flag",
                                                 "trade_price", "trade_qty", "BidApplSeqNum", "OfferApplSeqNum"]]
    print(da_te)
    print("trade finished")

    database_name = 'com_md_eq_cn'
    user = "zhenyuy"
    password = "bnONBrzSMGoE"

    db1 = DB("192.168.10.223", database_name, user, password)
    db1.write('md_trade', TradeLog)
    
    del TradeLog

    print(datetime.datetime.now() - startTm)

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:201: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.

0:02:58.293657
0:00:00.703977
20180420 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

2018-04-20
trade finished
0:03:50.432746
0:00:00.684621
20180423 unzip finished
2018-04-23
trade finished
0:03:33.201069
0:00:00.700919
20180424 unzip finished
2018-04-24
trade finished
0:03:44.730803
0:00:00.791570
20180425 unzip finished
2018-04-25
trade finished
0:03:32.079220
0:00:00.485029
20180426 unzip finished
2018-04-26
trade finished
0:03:58.500741
0:00:00.570863
20180427 unzip finished
2018-04-27
trade finished
0:03:17.632255
0:00:00.540851
20180502 unzip finished
2018-05-02
trade finished
0:03:09.478500
20180503 less data!!!!!!!!!!!!!!!!!

NameError: name 'less' is not defined

In [4]:
import pymongo
import pandas as pd
import pickle
import datetime
import time
import gzip
import lzma
import pytz


def DB(host, db_name, user, passwd):
    auth_db = db_name if user not in ('admin', 'root') else 'admin'
    uri = 'mongodb://%s:%s@%s/?authSource=%s' % (user, passwd, host, auth_db)
    return DBObj(uri, db_name=db_name)


class DBObj(object):
    def __init__(self, uri, symbol_column='skey', db_name='white_db'):
        self.db_name = db_name
        self.uri = uri
        self.client = pymongo.MongoClient(self.uri)
        self.db = self.client[self.db_name]
        self.chunk_size = 20000
        self.symbol_column = symbol_column
        self.date_column = 'date'

    def parse_uri(self, uri):
        # mongodb://user:password@example.com
        return uri.strip().replace('mongodb://', '').strip('/').replace(':', ' ').replace('@', ' ').split(' ')

    def drop_table(self, table_name):
        self.db.drop_collection(table_name)

    def rename_table(self, old_table, new_table):
        self.db[old_table].rename(new_table)

    def write(self, table_name, df):
        if len(df) == 0: return

        multi_date = False

        if self.date_column in df.columns:
            date = str(df.head(1)[self.date_column].iloc[0])
            multi_date = len(df[self.date_column].unique()) > 1
        else:
            raise Exception('DataFrame should contain date column')

        collection = self.db[table_name]
        collection.create_index([('date', pymongo.ASCENDING), ('symbol', pymongo.ASCENDING)], background=True)
        collection.create_index([('symbol', pymongo.ASCENDING), ('date', pymongo.ASCENDING)], background=True)

        if multi_date:
            for (date, symbol), sub_df in df.groupby([self.date_column, self.symbol_column]):
                date = str(date)
                symbol = int(symbol)
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)
        else:
            for symbol, sub_df in df.groupby([self.symbol_column]):
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)

    def write_single(self, collection, date, symbol, df):
        for start in range(0, len(df), self.chunk_size):
            end = min(start + self.chunk_size, len(df))
            df_seg = df[start:end]
            version = 1
            seg = {'ver': version, 'data': self.ser(df_seg, version), 'date': date, 'symbol': symbol, 'start': start}
            collection.insert_one(seg)

    def build_query(self, start_date=None, end_date=None, symbol=None):
        query = {}

        def parse_date(x):
            if type(x) == str:
                if len(x) != 8:
                    raise Exception("`date` must be YYYYMMDD format")
                return x
            elif type(x) == datetime.datetime or type(x) == datetime.date:
                return x.strftime("%Y%m%d")
            elif type(x) == int:
                return parse_date(str(x))
            else:
                raise Exception("invalid `date` type: " + str(type(x)))

        if start_date is not None or end_date is not None:
            query['date'] = {}
            if start_date is not None:
                query['date']['$gte'] = parse_date(start_date)
            if end_date is not None:
                query['date']['$lte'] = parse_date(end_date)

        def parse_symbol(x):
            if type(x) == int:
                return x
            else:
                return int(x)

        if symbol:
            if type(symbol) == list or type(symbol) == tuple:
                query['symbol'] = {'$in': [parse_symbol(x) for x in symbol]}
            else:
                query['symbol'] = parse_symbol(symbol)

        return query

    def delete(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot delete the whole table')
            return None

        collection.delete_many(query)

    def read(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot read the whole table')
            return None

        segs = []
        for x in collection.find(query):
            x['data'] = self.deser(x['data'], x['ver'])
            segs.append(x)
        segs.sort(key=lambda x: (x['symbol'], x['date'], x['start']))
        return pd.concat([x['data'] for x in segs], ignore_index=True) if segs else None

    def list_tables(self):
        return self.db.collection_names()

    def list_dates(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]
        dates = set()
        if start_date is None:
            start_date = '00000000'
        if end_date is None:
            end_date = '99999999'
        for x in collection.find(self.build_query(start_date, end_date, symbol), {"date": 1, '_id': 0}):
            dates.add(x['date'])
        return sorted(list(dates))

    def ser(self, s, version):
        pickle_protocol = 4
        if version == 1:
            return gzip.compress(pickle.dumps(s, protocol=pickle_protocol), compresslevel=2)
        elif version == 2:
            return lzma.compress(pickle.dumps(s, protocol=pickle_protocol), preset=1)
        else:
            raise Exception('unknown version')

    def deser(self, s, version):
        def unpickle(s):
            return pickle.loads(s)

        if version == 1:
            return unpickle(gzip.decompress(s))
        elif version == 2:
            return unpickle(lzma.decompress(s))
        else:
            raise Exception('unknown version')


def patch_pandas_pickle():
    if pd.__version__ < '0.24':
        import sys
        from types import ModuleType
        from pandas.core.internals import BlockManager
        pkg_name = 'pandas.core.internals.managers'
        if pkg_name not in sys.modules:
            m = ModuleType(pkg_name)
            m.BlockManager = BlockManager
            sys.modules[pkg_name] = m
patch_pandas_pickle()

            
            
            
            
            
            
            
            
import pandas as pd
import random
import numpy as np
import glob
import os
import pickle
import datetime
import time
from decimal import Decimal, Context, ROUND_HALF_UP
pd.set_option("max_columns", 200)

startTm = datetime.datetime.now()
readPath = '/home/work516/day_stock/***'
dataPathLs = np.array(glob.glob(readPath))
dataPathLs = dataPathLs[[np.array([os.path.basename(i).split('.')[0][:2] == 'SH' for i in dataPathLs])]]
db = pd.DataFrame()
for p in dataPathLs:
    dayData = pd.read_csv(p, compression='gzip')
    db = pd.concat([db, dayData])
print(datetime.datetime.now() - startTm)

year = "2018"
startDate = '20180503'
endDate = '20181231'
readPath = '/mnt/usb/data/' + year + '/***/***'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([os.path.basename(i) for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]
date_list = pd.read_csv("/home/work516/KR_upload_code/trading_days.csv")
less = []

for data in dataPathLs:
    
    if len(np.array(glob.glob(data + '/SH/tick***'))) == 0:
        if int(os.path.basename(data)) not in date_list["Date"].values:
            continue
        else:
            print(os.path.basename(data) + " less data!!!!!!!!!!!!!!!!!")
            less.append(data)
            continue
    startTm = datetime.datetime.now()
    date = os.path.basename(data)
    rar_path = data + '/SH/tick.7z'
    path = '/mnt/e/unzip_data/2018/SH'
    path1 = path + '/' + date
    un_path = path1
    cmd = '7za x {} -o{}'.format(rar_path, un_path)
    os.system(cmd)
    print(datetime.datetime.now() - startTm)
    print(date + ' unzip finished')
    
    
    startTm = datetime.datetime.now()
    
    readPath = path1 + '/tick/***'
    dataPathLs = np.array(glob.glob(readPath))
    dateLs = np.array([int(os.path.basename(i).split('.')[0]) for i in dataPathLs])
    dataPathLs = dataPathLs[((dateLs >= 600000) & (dateLs <= 700000))]
    TradeLog = []
    ll = []
    
    for i in dataPathLs:
        try:
            df = pd.read_csv(i)
        except:
            print("empty data")
            print(i)
            ll.append(int(os.path.basename(i).split('.')[0]))
            continue
        df["SecurityID"] = int(os.path.basename(i).split('.')[0])
        TradeLog += [df]
    TradeLog = pd.concat(TradeLog).reset_index(drop=True)
    
    TradeLog["date"] = TradeLog["TradeTime"].iloc[0]//1000000000
    TradeLog = TradeLog.rename(columns={"TradeQty":"trade_qty", "TradePrice":"trade_price", 
                                        "TradeBSFlag":"trade_flag", "TradeAmount":"trade_money",
                                       "TradeIndex":"ApplSeqNum", "SellNo":"OfferApplSeqNum",
                                       "BuyNo":"BidApplSeqNum"})
    TradeLog["trade_type"] = 1
    TradeLog["skey"] = TradeLog["SecurityID"] + 1000000
    TradeLog["clockAtArrival"] = TradeLog["TradeTime"].astype(str).apply(lambda x: np.int64(datetime.datetime.strptime(x, '%Y%m%d%H%M%S%f').timestamp()*1e6))
    TradeLog['datetime'] = TradeLog["clockAtArrival"].apply(lambda x: datetime.datetime.fromtimestamp(x/1e6))
    TradeLog["time"] = (TradeLog['TradeTime'] - int(TradeLog['TradeTime'].iloc[0]//1000000000*1000000000)).astype(np.int64)*1000
    TradeLog["trade_flag"] = np.where(TradeLog["trade_flag"] == 'B', 1, np.where(
        TradeLog["trade_flag"] == 'S', 2, 0))
    for col in ["skey", "date", "ApplSeqNum", "BidApplSeqNum", "OfferApplSeqNum", "trade_qty", "trade_type", "trade_flag"]:
        TradeLog[col] = TradeLog[col].astype('int32')
    
    da_te = str(TradeLog["date"].iloc[0]) 
    da_te = da_te[:4] + '-' + da_te[4:6] + '-' + da_te[6:8]
    db1 = db[db["date"] == da_te]
    db1["max_volume"] = db1.groupby("ID")["d_volume"].transform("max")
    db1["max_amount"] = db1.groupby("ID")["d_amount"].transform("max")
    t1 = db1.groupby("ID")["max_volume", "max_amount"].first().reset_index()
    del db1
    t1["skey"] = t1["ID"].str[2:].astype(int) + 1000000
    trade1 = TradeLog[TradeLog["trade_type"] == 1].groupby("skey")["trade_qty"].sum().reset_index()
    trade1.columns=["skey", "cum_volume"]
    trade2 = TradeLog[TradeLog["trade_type"] == 1].groupby("skey")["trade_money"].sum().reset_index()
    trade2.columns=["skey", "cum_amount"]
    t2 = pd.merge(trade1, trade2, on="skey")
    re = pd.merge(t1, t2, on="skey", how="outer")
    re["cum_amount"] = re["cum_amount"].apply(lambda x: np.float(Decimal(round(x, 2)).normalize(Context(prec=len(str(x).split('.')[0]), rounding=ROUND_HALF_UP))))
    try:
        assert(t1.shape[0] == t2.shape[0])
        assert(re[re["cum_volume"] != re["max_volume"]].shape[0] == 0)
        assert(re[re["cum_amount"].round(2) != re["max_amount"]].shape[0] == 0)
    except:
        display(set(t1["skey"]) - set(t2["skey"]))
        display(re[re["cum_volume"] != re["max_volume"]])
        display(re[re["cum_amount"] != re["max_amount"]])
    del t1
    del t2
    del re
 
    TradeLog = TradeLog[["skey", "date", "time", "clockAtArrival", "datetime", "ApplSeqNum", "trade_type", "trade_flag",
                                                 "trade_price", "trade_qty", "BidApplSeqNum", "OfferApplSeqNum"]]
    print(da_te)
    print("trade finished")

    database_name = 'com_md_eq_cn'
    user = "zhenyuy"
    password = "bnONBrzSMGoE"

    db1 = DB("192.168.10.223", database_name, user, password)
    db1.write('md_trade', TradeLog)
    
    del TradeLog

    print(datetime.datetime.now() - startTm)
print(less)

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:201: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.

0:02:49.632747
20180503 less data!!!!!!!!!!!!!!!!!
0:00:10.128846
20180504 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:280: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

2018-05-04
trade finished
0:02:52.029493
0:00:10.088195
20180507 unzip finished
2018-05-07
trade finished
0:02:52.055846
0:00:11.387734
20180508 unzip finished
2018-05-08
trade finished
0:03:02.720762
0:00:11.563153
20180509 unzip finished
2018-05-09
trade finished
0:02:40.717355
0:00:09.785700
20180510 unzip finished
2018-05-10
trade finished
0:02:45.533331
0:00:09.825968
20180511 unzip finished
2018-05-11
trade finished
0:02:45.262533
0:00:09.634419
20180514 unzip finished
2018-05-14
trade finished
0:02:45.598432
0:00:08.911254
20180515 unzip finished
2018-05-15
trade finished
0:02:40.288117
0:00:10.616093
20180516 unzip finished
2018-05-16
trade finished
0:02:51.876420
0:00:11.395412
20180517 unzip finished
2018-05-17
trade finished
0:02:34.653578
0:00:09.572320
20180518 unzip finished
2018-05-18
trade finished
0:02:53.915519
0:00:11.692582
20180521 unzip finished
2018-05-21
trade finished
0:03:28.198394
0:00:12.219554
20180522 unzip finished
2018-05-22
trade finished
0:03:07.588373
0:00:11.374511
20180523 unzip finished
2018-05-23
trade finished
0:03:22.053505
0:00:10.065260
20180524 unzip finished
2018-05-24
trade finished
0:02:51.897633
0:00:10.053939
20180525 unzip finished
2018-05-25
trade finished
0:02:53.345066
0:00:15.029212
20180528 unzip finished
2018-05-28
trade finished
0:03:03.161393
0:00:10.658987
20180529 unzip finished
2018-05-29
trade finished
0:02:55.845970
0:00:11.451774
20180530 unzip finished
2018-05-30
trade finished
0:03:17.954532
0:00:10.411645
20180531 unzip finished
2018-05-31
trade finished
0:03:08.684476
0:00:10.915822
20180601 unzip finished
2018-06-01
trade finished
0:03:03.979699
0:00:08.933605
20180604 unzip finished
2018-06-04
trade finished
0:02:35.077050
0:00:09.293119
20180605 unzip finished
2018-06-05
trade finished
0:02:42.973516
0:00:11.022382
20180606 unzip finished
2018-06-06
trade finished
0:02:46.667622
0:00:09.193975
20180607 unzip finished
2018-06-07
trade finished
0:02:50.030748
0:00:10.113935
20180608 unzip finished
2018-06-08
trade finished
0:02:57.953041
0:00:10.842113
20180611 unzip finished
2018-06-11
trade finished
0:02:31.399374
0:00:10.337565
20180612 unzip finished
2018-06-12
trade finished
0:02:37.286866
0:00:10.399804
20180613 unzip finished
2018-06-13
trade finished
0:02:52.921027
0:00:09.608159
20180614 unzip finished
2018-06-14
trade finished
0:02:52.531011
0:00:10.955266
20180615 unzip finished
2018-06-15
trade finished
0:03:06.281004
0:00:13.670296
20180619 unzip finished
2018-06-19
trade finished
0:03:51.506413
0:00:10.871167
20180620 unzip finished
2018-06-20
trade finished
0:03:03.300931
0:00:10.491427
20180621 unzip finished
2018-06-21
trade finished
0:03:00.446479
0:00:09.159656
20180622 unzip finished
2018-06-22
trade finished
0:02:39.824573
0:00:08.613573
20180625 unzip finished
2018-06-25
trade finished
0:02:35.505305
0:00:09.174510
20180626 unzip finished
2018-06-26
trade finished
0:02:36.207023
0:00:09.862015
20180627 unzip finished
2018-06-27
trade finished
0:02:46.500410
0:00:09.217000
20180628 unzip finished
2018-06-28
trade finished
0:02:35.531365
0:00:09.218399
20180629 unzip finished
2018-06-29
trade finished
0:02:34.585682
0:00:09.704495
20180702 unzip finished
2018-07-02
trade finished
0:02:53.605791
0:00:10.004404
20180703 unzip finished
2018-07-03
trade finished
0:03:08.168642
0:00:09.854563
20180704 unzip finished
2018-07-04
trade finished
0:02:54.762465
0:00:10.167357
20180705 unzip finished
2018-07-05
trade finished
0:02:43.938008
0:00:09.938032
20180706 unzip finished
2018-07-06
trade finished
0:02:58.785431
0:00:09.612714
20180709 unzip finished
2018-07-09
trade finished
0:02:34.420962
0:00:08.935460
20180710 unzip finished
2018-07-10
trade finished
0:02:36.407160
0:00:11.117745
20180711 unzip finished
2018-07-11
trade finished
0:02:45.472211
0:00:10.650681
20180712 unzip finished
2018-07-12
trade finished
0:03:06.819355
0:00:09.231475
20180713 unzip finished
2018-07-13
trade finished
0:02:45.101831
0:00:10.074926
20180716 unzip finished
2018-07-16
trade finished
0:02:32.263375
0:00:08.796434
20180717 unzip finished
2018-07-17
trade finished
0:02:34.127938
0:00:08.783924
20180718 unzip finished
2018-07-18
trade finished
0:02:45.267084
0:00:08.625474
20180719 unzip finished
2018-07-19
trade finished
0:02:38.572167
0:00:09.767090
20180720 unzip finished
2018-07-20
trade finished
0:03:02.415003
0:00:14.580540
20180723 unzip finished
2018-07-23
trade finished
0:03:13.409840
0:00:12.766488
20180724 unzip finished
2018-07-24
trade finished
0:03:50.443650
0:00:10.368902
20180725 unzip finished
2018-07-25
trade finished
0:03:09.979193
0:00:10.507881
20180726 unzip finished
2018-07-26
trade finished
0:03:04.782897
0:00:09.627462
20180727 unzip finished
2018-07-27
trade finished
0:02:41.631801
0:00:09.723220
20180730 unzip finished
2018-07-30
trade finished
0:03:03.965444
0:00:09.064787
20180731 unzip finished
2018-07-31
trade finished
0:02:25.723928
0:00:10.512370
20180801 unzip finished
2018-08-01
trade finished
0:03:07.052495
0:00:11.206333
20180802 unzip finished
2018-08-02
trade finished
0:03:38.424950
0:00:09.515109
20180803 unzip finished
2018-08-03
trade finished
0:02:55.312134
0:00:09.541917
20180806 unzip finished
2018-08-06
trade finished
0:02:40.431822
0:00:09.835258
20180807 unzip finished
2018-08-07
trade finished
0:02:52.029688
0:00:10.115111
20180808 unzip finished
2018-08-08
trade finished
0:02:59.060558
0:00:09.906127
20180809 unzip finished
2018-08-09
trade finished
0:03:05.908179
0:00:08.290247
20180810 unzip finished
2018-08-10
trade finished
0:02:33.654336
0:00:10.179439
20180813 unzip finished
2018-08-13
trade finished
0:02:44.344216
0:00:08.588053
20180814 unzip finished
2018-08-14
trade finished
0:02:38.469542
0:00:08.086843
20180815 unzip finished
2018-08-15
trade finished
0:02:48.617444
0:00:08.815722
20180816 unzip finished
2018-08-16
trade finished
0:02:26.907387
0:00:08.399763
20180817 unzip finished
2018-08-17
trade finished
0:02:25.887130
0:00:08.471084
20180820 unzip finished
2018-08-20
trade finished
0:02:23.480451
0:00:08.348286
20180821 unzip finished
2018-08-21
trade finished
0:02:20.255327
0:00:06.904185
20180822 unzip finished
2018-08-22
trade finished
0:02:07.645190
0:00:09.596359
20180823 unzip finished
2018-08-23
trade finished
0:02:29.936648
0:00:07.159400
20180824 unzip finished
2018-08-24
trade finished
0:02:04.359477
0:00:09.149800
20180827 unzip finished
2018-08-27
trade finished
0:02:34.644604
0:00:08.826904
20180828 unzip finished
2018-08-28
trade finished
0:02:27.475254
0:00:07.653535
20180829 unzip finished
2018-08-29
trade finished
0:02:14.252945
0:00:08.080262
20180830 unzip finished
2018-08-30
trade finished
0:02:18.557288
0:00:07.885839
20180831 unzip finished
2018-08-31
trade finished
0:02:22.488504
0:00:08.550880
20180903 unzip finished
2018-09-03
trade finished
0:02:24.181368
0:00:08.404267
20180904 unzip finished
2018-09-04
trade finished
0:02:25.924751
0:00:07.864726
20180905 unzip finished
2018-09-05
trade finished
0:02:20.077498
0:00:08.096385
20180906 unzip finished
2018-09-06
trade finished
0:02:18.780592
0:00:07.898191
20180907 unzip finished
2018-09-07
trade finished
0:02:29.008402
0:00:07.992079
20180910 unzip finished
2018-09-10
trade finished
0:02:20.407949
0:00:07.821876
20180911 unzip finished
2018-09-11
trade finished
0:02:13.127374
0:00:06.912616
20180912 unzip finished
2018-09-12
trade finished
0:02:01.489817
0:00:07.878122
20180913 unzip finished
2018-09-13
trade finished
0:02:13.973192
0:00:08.915038
20180914 unzip finished
2018-09-14
trade finished
0:02:05.005344
0:00:06.654489
20180917 unzip finished
2018-09-17
trade finished
0:02:02.203798
0:00:08.239508
20180918 unzip finished
2018-09-18
trade finished
0:02:39.539544
0:00:09.071188
20180919 unzip finished
2018-09-19
trade finished
0:02:36.054331
0:00:08.220949
20180920 unzip finished
2018-09-20
trade finished
0:02:10.440424
0:00:09.331055
20180921 unzip finished
2018-09-21
trade finished
0:02:38.733109
0:00:07.823871
20180925 unzip finished
2018-09-25
trade finished
0:02:04.842283
0:00:08.953880
20180926 unzip finished
2018-09-26
trade finished
0:02:33.323791
0:00:09.068618
20180927 unzip finished
2018-09-27
trade finished
0:02:36.857001

0:00:08.238681
20180928 unzip finished
2018-09-28
trade finished
0:02:24.717448
0:00:09.865184
20181008 unzip finished
2018-10-08
trade finished
0:02:43.250938
0:00:09.309857
20181009 unzip finished
2018-10-09
trade finished
0:02:18.506362
0:00:08.185627
20181010 unzip finished
2018-10-10
trade finished
0:02:14.866227
0:00:11.515975
20181011 unzip finished
2018-10-11
trade finished
0:03:43.195501
0:00:13.378103
20181012 unzip finished
2018-10-12
trade finished
0:02:55.551049
0:00:08.460740
20181015 unzip finished
2018-10-15
trade finished
0:02:21.044674
0:00:08.443607
20181016 unzip finished
2018-10-16
trade finished
0:02:26.736445
0:00:08.737113
20181017 unzip finished
2018-10-17
trade finished
0:02:23.753800
0:00:07.937345
20181018 unzip finished
2018-10-18
trade finished
0:02:30.718617
0:00:08.752529
20181019 unzip finished
2018-10-19
trade finished
0:02:33.451324
0:00:11.164918
20181022 unzip finished
2018-10-22
trade finished
0:03:16.233883
0:00:11.067265
20181023 unzip finished
2018-10-23
trade finished
0:03:03.843008
0:00:09.786188
20181024 unzip finished
2018-10-24
trade finished
0:02:39.362213
0:00:09.399968
20181025 unzip finished
2018-10-25
trade finished
0:02:44.691400
0:00:09.375096
20181026 unzip finished
2018-10-26
trade finished
0:02:38.788757
0:00:08.883893
20181029 unzip finished
2018-10-29
trade finished
0:02:28.930500
0:00:09.976722
20181030 unzip finished
2018-10-30
trade finished
0:02:53.416183
0:00:10.678493
20181031 unzip finished
2018-10-31
trade finished
0:02:59.143049
0:00:12.807738
20181101 unzip finished
2018-11-01
trade finished
0:03:18.152705
0:00:13.345291
20181102 unzip finished
2018-11-02
trade finished
0:03:28.631090
0:00:11.477325
20181105 unzip finished
2018-11-05
trade finished
0:03:10.357814
0:00:12.405648
20181106 unzip finished
2018-11-06
trade finished
0:02:59.077233
0:00:10.557022
20181107 unzip finished
2018-11-07
trade finished
0:02:54.820511
0:00:09.608989
20181108 unzip finished
2018-11-08
trade finished
0:02:43.561951
0:00:09.008397
20181109 unzip finished
2018-11-09
trade finished
0:02:35.584587
0:00:10.041348
20181112 unzip finished
2018-11-12
trade finished
0:02:51.773211
0:00:12.040587
20181113 unzip finished
2018-11-13
trade finished
0:03:34.035793
0:00:11.731947
20181114 unzip finished
2018-11-14
trade finished
0:03:30.026081
0:00:11.347180
20181115 unzip finished
2018-11-15
trade finished
0:03:18.439447
0:00:12.108562
20181116 unzip finished
2018-11-16
trade finished
0:04:02.604726
0:00:13.234116
20181119 unzip finished
2018-11-19
trade finished
0:03:57.619362
0:00:12.046060
20181120 unzip finished
2018-11-20
trade finished
0:03:31.549738
0:00:10.556507
20181121 unzip finished
2018-11-21
trade finished
0:03:02.443998
0:00:09.576155
20181122 unzip finished
2018-11-22
trade finished
0:02:51.391116
0:00:11.244852
20181123 unzip finished
2018-11-23
trade finished
0:03:28.365284
0:00:08.518350
20181126 unzip finished
2018-11-26
trade finished
0:02:33.133565
0:00:08.373241
20181127 unzip finished
2018-11-27
trade finished
0:02:19.587301
0:00:08.886776
20181128 unzip finished
2018-11-28
trade finished
0:02:30.900379
0:00:10.147828
20181129 unzip finished
2018-11-29
trade finished
0:02:55.929626
0:00:09.195183
20181130 unzip finished
2018-11-30
trade finished
0:02:25.500717
0:00:11.467041
20181203 unzip finished
2018-12-03
trade finished
0:03:11.127329
0:00:10.218383
20181204 unzip finished
2018-12-04
trade finished
0:03:03.588284
0:00:09.728042
20181205 unzip finished
2018-12-05
trade finished
0:02:40.844621
0:00:09.102988
20181206 unzip finished
2018-12-06
trade finished
0:02:48.264384
0:00:07.715407
20181207 unzip finished
2018-12-07
trade finished
0:02:12.687088
0:00:08.036549
20181210 unzip finished
2018-12-10
trade finished
0:02:15.851821
0:00:06.996767
20181211 unzip finished
2018-12-11
trade finished
0:02:01.974971
0:00:07.263245
20181212 unzip finished
2018-12-12
trade finished
0:01:57.312322
0:00:09.644121
20181213 unzip finished
2018-12-13
trade finished
0:02:51.238414
0:00:09.613224
20181214 unzip finished
2018-12-14
trade finished
0:03:01.471004
0:00:09.414418
20181217 unzip finished
2018-12-17
trade finished
0:02:39.400175
0:00:08.702108
20181218 unzip finished
2018-12-18
trade finished
0:02:38.634261
0:00:08.192223
20181219 unzip finished
2018-12-19
trade finished
0:02:30.033414
0:00:08.613849
20181220 unzip finished
2018-12-20
trade finished
0:02:22.835366
0:00:07.950427
20181221 unzip finished
2018-12-21
trade finished
0:02:20.759964
0:00:07.757062
20181224 unzip finished
2018-12-24
trade finished
0:02:17.218655
0:00:10.322468
20181225 unzip finished
2018-12-25
trade finished
0:02:58.727135
0:00:08.082386
20181226 unzip finished
2018-12-26
trade finished
0:02:11.160501
0:00:09.533447
20181227 unzip finished
2018-12-27
trade finished
0:02:31.004125
0:00:08.372442
20181228 unzip finished
2018-12-28
trade finished
0:02:20.178711
['/mnt/usb/data/2018/201805/20180503']