In [1]:
import pymongo
import pandas as pd
import pickle
import datetime
import time
import gzip
import lzma
import pytz


def DB(host, db_name, user, passwd):
    auth_db = db_name if user not in ('admin', 'root') else 'admin'
    uri = 'mongodb://%s:%s@%s/?authSource=%s' % (user, passwd, host, auth_db)
    return DBObj(uri, db_name=db_name)


class DBObj(object):
    def __init__(self, uri, symbol_column='skey', db_name='white_db'):
        self.db_name = db_name
        self.uri = uri
        self.client = pymongo.MongoClient(self.uri)
        self.db = self.client[self.db_name]
        self.chunk_size = 20000
        self.symbol_column = symbol_column
        self.date_column = 'date'

    def parse_uri(self, uri):
        # mongodb://user:password@example.com
        return uri.strip().replace('mongodb://', '').strip('/').replace(':', ' ').replace('@', ' ').split(' ')

    def drop_table(self, table_name):
        self.db.drop_collection(table_name)

    def rename_table(self, old_table, new_table):
        self.db[old_table].rename(new_table)

    def write(self, table_name, df):
        if len(df) == 0: return

        multi_date = False

        if self.date_column in df.columns:
            date = str(df.head(1)[self.date_column].iloc[0])
            multi_date = len(df[self.date_column].unique()) > 1
        else:
            raise Exception('DataFrame should contain date column')

        collection = self.db[table_name]
        collection.create_index([('date', pymongo.ASCENDING), ('symbol', pymongo.ASCENDING)], background=True)
        collection.create_index([('symbol', pymongo.ASCENDING), ('date', pymongo.ASCENDING)], background=True)

        if multi_date:
            for (date, symbol), sub_df in df.groupby([self.date_column, self.symbol_column]):
                date = str(date)
                symbol = int(symbol)
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)
        else:
            for symbol, sub_df in df.groupby([self.symbol_column]):
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)

    def write_single(self, collection, date, symbol, df):
        for start in range(0, len(df), self.chunk_size):
            end = min(start + self.chunk_size, len(df))
            df_seg = df[start:end]
            version = 1
            seg = {'ver': version, 'data': self.ser(df_seg, version), 'date': date, 'symbol': symbol, 'start': start}
            collection.insert_one(seg)

    def build_query(self, start_date=None, end_date=None, symbol=None):
        query = {}

        def parse_date(x):
            if type(x) == str:
                if len(x) != 8:
                    raise Exception("`date` must be YYYYMMDD format")
                return x
            elif type(x) == datetime.datetime or type(x) == datetime.date:
                return x.strftime("%Y%m%d")
            elif type(x) == int:
                return parse_date(str(x))
            else:
                raise Exception("invalid `date` type: " + str(type(x)))

        if start_date is not None or end_date is not None:
            query['date'] = {}
            if start_date is not None:
                query['date']['$gte'] = parse_date(start_date)
            if end_date is not None:
                query['date']['$lte'] = parse_date(end_date)

        def parse_symbol(x):
            if type(x) == int:
                return x
            else:
                return int(x)

        if symbol:
            if type(symbol) == list or type(symbol) == tuple:
                query['symbol'] = {'$in': [parse_symbol(x) for x in symbol]}
            else:
                query['symbol'] = parse_symbol(symbol)

        return query

    def delete(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot delete the whole table')
            return None

        collection.delete_many(query)

    def read(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot read the whole table')
            return None

        segs = []
        for x in collection.find(query):
            x['data'] = self.deser(x['data'], x['ver'])
            segs.append(x)
        segs.sort(key=lambda x: (x['symbol'], x['date'], x['start']))
        return pd.concat([x['data'] for x in segs], ignore_index=True) if segs else None

    def list_tables(self):
        return self.db.collection_names()

    def list_dates(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]
        dates = set()
        if start_date is None:
            start_date = '00000000'
        if end_date is None:
            end_date = '99999999'
        for x in collection.find(self.build_query(start_date, end_date, symbol), {"date": 1, '_id': 0}):
            dates.add(x['date'])
        return sorted(list(dates))

    def ser(self, s, version):
        pickle_protocol = 4
        if version == 1:
            return gzip.compress(pickle.dumps(s, protocol=pickle_protocol), compresslevel=2)
        elif version == 2:
            return lzma.compress(pickle.dumps(s, protocol=pickle_protocol), preset=1)
        else:
            raise Exception('unknown version')

    def deser(self, s, version):
        def unpickle(s):
            return pickle.loads(s)

        if version == 1:
            return unpickle(gzip.decompress(s))
        elif version == 2:
            return unpickle(lzma.decompress(s))
        else:
            raise Exception('unknown version')


def patch_pandas_pickle():
    if pd.__version__ < '0.24':
        import sys
        from types import ModuleType
        from pandas.core.internals import BlockManager
        pkg_name = 'pandas.core.internals.managers'
        if pkg_name not in sys.modules:
            m = ModuleType(pkg_name)
            m.BlockManager = BlockManager
            sys.modules[pkg_name] = m
patch_pandas_pickle()

            
            
            
            
            
            
            
            
import pandas as pd
import random
import numpy as np
import glob
import os
import pickle
import datetime
import time
from decimal import Decimal, Context, ROUND_HALF_UP
pd.set_option("max_columns", 200)

startTm = datetime.datetime.now()
readPath = '/home/work516/day_stock/***'
dataPathLs = np.array(glob.glob(readPath))
dataPathLs = dataPathLs[[np.array([os.path.basename(i).split('.')[0][:2] == 'SH' for i in dataPathLs])]]
db = pd.DataFrame()
for p in dataPathLs:
    dayData = pd.read_csv(p, compression='gzip')
    db = pd.concat([db, dayData])
print(datetime.datetime.now() - startTm)

year = "2016"
startDate = '20160101'
endDate = '20161231'
readPath = '/mnt/usb/data/' + year + '/***/***'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([os.path.basename(i) for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]

for data in dataPathLs:
    
    if len(np.array(glob.glob(data + '/SH/***'))) == 0:
        if int(os.path.basename(data)) not in date_list["Date"].values:
            continue
        else:
            print(os.path.basename(data) + " less data!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!")
            less.append(data)
            continue
    date = os.path.basename(data)
    rar_path = data + '/SH/tick.7z'
    path = '/mnt/e/unzip_data/2016/SH'
    path1 = path + '/' + date
    un_path = path1
    cmd = '7za x {} -o{}'.format(rar_path, un_path)
    os.system(cmd)
    
    
    
    readPath = path1 + '/tick/***'
    dataPathLs = np.array(glob.glob(readPath))
    dateLs = np.array([int(os.path.basename(i).split('.')[0]) for i in dataPathLs])
    dataPathLs = dataPathLs[((dateLs >= 600000) & (dateLs <= 700000))]
    TradeLog = []
    ll = []
    
    for i in dataPathLs:
        try:
            df = pd.read_csv(i)
        except:
            print("empty data")
            print(i)
            ll.append(int(os.path.basename(i).split('.')[0]))
            continue
        df["SecurityID"] = int(os.path.basename(i).split('.')[0])
        TradeLog += [df]
    TradeLog = pd.concat(TradeLog).reset_index(drop=True)
    
    TradeLog["date"] = TradeLog["TradeTime"].iloc[0]//1000000000
    TradeLog = TradeLog.rename(columns={"TradeQty":"trade_qty", "TradePrice":"trade_price", 
                                        "TradeBSFlag":"trade_flag", "TradeAmount":"trade_money",
                                       "TradeIndex":"ApplSeqNum", "SellNo":"OfferApplSeqNum",
                                       "BuyNo":"BidApplSeqNum"})
    TradeLog["trade_type"] = 1
    TradeLog["skey"] = TradeLog["SecurityID"] + 1000000
    TradeLog["clockAtArrival"] = TradeLog["TradeTime"].astype(str).apply(lambda x: np.int64(datetime.datetime.strptime(x, '%Y%m%d%H%M%S%f').timestamp()*1e6))
    TradeLog['datetime'] = TradeLog["clockAtArrival"].apply(lambda x: datetime.datetime.fromtimestamp(x/1e6))
    TradeLog["time"] = (TradeLog['TradeTime'] - int(TradeLog['TradeTime'].iloc[0]//1000000000*1000000000)).astype(np.int64)*1000
    TradeLog["trade_flag"] = np.where(TradeLog["trade_flag"] == 'B', 1, np.where(
        TradeLog["trade_flag"] == 'S', 2, 0))
    for col in ["skey", "date", "ApplSeqNum", "BidApplSeqNum", "OfferApplSeqNum", "trade_qty", "trade_type", "trade_flag"]:
        TradeLog[col] = TradeLog[col].astype('int32')
    
    da_te = str(TradeLog["date"].iloc[0]) 
    da_te = da_te[:4] + '-' + da_te[4:6] + '-' + da_te[6:8]
    db1 = db[db["date"] == da_te]
    db1["max_volume"] = db1.groupby("ID")["d_volume"].transform("max")
    db1["max_amount"] = db1.groupby("ID")["d_amount"].transform("max")
    t1 = db1.groupby("ID")["max_volume", "max_amount"].first().reset_index()
    del db1
    t1["skey"] = t1["ID"].str[2:].astype(int) + 1000000
    trade1 = TradeLog[TradeLog["trade_type"] == 1].groupby("skey")["trade_qty"].sum().reset_index()
    trade1.columns=["skey", "cum_volume"]
    trade2 = TradeLog[TradeLog["trade_type"] == 1].groupby("skey")["trade_money"].sum().reset_index()
    trade2.columns=["skey", "cum_amount"]
    t2 = pd.merge(trade1, trade2, on="skey")
    re = pd.merge(t1, t2, on="skey", how="outer")
    re["cum_amount"] = re["cum_amount"].apply(lambda x: np.float(Decimal(round(x, 2)).normalize(Context(prec=len(str(x).split('.')[0]), rounding=ROUND_HALF_UP))))
    try:
        assert(t1.shape[0] == t2.shape[0])
        assert(re[re["cum_volume"] != re["max_volume"]].shape[0] == 0)
        assert(re[re["cum_amount"].round(2) != re["max_amount"]].shape[0] == 0)
    except:
        display(set(t1["skey"]) - set(t2["skey"]))
        display(re[re["cum_volume"] != re["max_volume"]])
        display(re[re["cum_amount"] != re["max_amount"]])
    del t1
    del t2
    del re
 
    TradeLog = TradeLog[["skey", "date", "time", "clockAtArrival", "datetime", "ApplSeqNum", "trade_type", "trade_flag",
                                                 "trade_price", "trade_qty", "BidApplSeqNum", "OfferApplSeqNum"]]
    print(da_te)
    print("trade finished")

    database_name = 'com_md_eq_cn'
    user = "zhenyuy"
    password = "bnONBrzSMGoE"

    db1 = DB("192.168.10.178", database_name, user, password)
    db1.write('md_trade', TradeLog)
    
    del TradeLog

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:201: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.

0:02:48.882279

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
787  SH601360   5818465.0  87003482.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
787  SH601360   5818465.0  87003482.0  1601360         NaN         NaN

2016-01-04
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
791  SH601360   7930877.0  109146390.0  1601360         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
791  SH601360   7930877.0  109146390.0  1601360         NaN         NaN

2016-01-05
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
792  SH601360  10203372.0  144234362.0  1601360         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
792  SH601360  10203372.0  144234362.0  1601360         NaN         NaN

2016-01-06
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
791  SH601360   2126600.0  28518410.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
791  SH601360   2126600.0  28518410.0  1601360         NaN         NaN

2016-01-07
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
791  SH601360   9256764.0  121749303.0  1601360         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
791  SH601360   9256764.0  121749303.0  1601360         NaN         NaN

2016-01-08
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
789  SH601360   8835461.0  112877873.0  1601360         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
789  SH601360   8835461.0  112877873.0  1601360         NaN         NaN

2016-01-11
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
793  SH601360   7410804.0  91317105.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
793  SH601360   7410804.0  91317105.0  1601360         NaN         NaN

2016-01-12
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
790  SH601360   6347444.0  80188438.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
790  SH601360   6347444.0  80188438.0  1601360         NaN         NaN

2016-01-13
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
796  SH601360   6760824.0  85972635.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
796  SH601360   6760824.0  85972635.0  1601360         NaN         NaN

2016-01-14
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
796  SH601360   7183575.0  90577473.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
796  SH601360   7183575.0  90577473.0  1601360         NaN         NaN

2016-01-15
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
796  SH601360   5144429.0  65135129.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
796  SH601360   5144429.0  65135129.0  1601360         NaN         NaN

2016-01-18
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
801  SH601360   5285824.0  68896544.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
801  SH601360   5285824.0  68896544.0  1601360         NaN         NaN

2016-01-19
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
804  SH601360   5814478.0  75692149.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
804  SH601360   5814478.0  75692149.0  1601360         NaN         NaN

2016-01-20
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
805  SH601360   5762465.0  72621603.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
805  SH601360   5762465.0  72621603.0  1601360         NaN         NaN

2016-01-21
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
803  SH601360   7237546.0  87768115.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
803  SH601360   7237546.0  87768115.0  1601360         NaN         NaN

2016-01-22
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
807  SH601360   4830231.0  59311957.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
807  SH601360   4830231.0  59311957.0  1601360         NaN         NaN

2016-01-25
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
805  SH601360   6102009.0  71055051.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
805  SH601360   6102009.0  71055051.0  1601360         NaN         NaN

2016-01-26
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
808  SH601360   6902417.0  73254570.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
808  SH601360   6902417.0  73254570.0  1601360         NaN         NaN

2016-01-27
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
809  SH601360   3922959.0  40493044.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
809  SH601360   3922959.0  40493044.0  1601360         NaN         NaN

2016-01-28
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
810  SH601360   6056310.0  63916407.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
810  SH601360   6056310.0  63916407.0  1601360         NaN         NaN

2016-01-29
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
810  SH601360   3262287.0  34623712.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
810  SH601360   3262287.0  34623712.0  1601360         NaN         NaN

2016-02-01
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
807  SH601360   3870875.0  42352983.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
807  SH601360   3870875.0  42352983.0  1601360         NaN         NaN

2016-02-02
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
808  SH601360   2941431.0  31873606.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
808  SH601360   2941431.0  31873606.0  1601360         NaN         NaN

2016-02-03
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
806  SH601360   5667947.0  64475893.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
806  SH601360   5667947.0  64475893.0  1601360         NaN         NaN

2016-02-04
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
805  SH601360   2795950.0  32110500.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
805  SH601360   2795950.0  32110500.0  1601360         NaN         NaN

2016-02-05
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
804  SH601360   2384566.0  26603726.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
804  SH601360   2384566.0  26603726.0  1601360         NaN         NaN

2016-02-15
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
803  SH601360   3504716.0  40961241.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
803  SH601360   3504716.0  40961241.0  1601360         NaN         NaN

2016-02-16
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
805  SH601360   4933359.0  58642972.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
805  SH601360   4933359.0  58642972.0  1601360         NaN         NaN

2016-02-17
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
801  SH601360   3996363.0  48180634.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
801  SH601360   3996363.0  48180634.0  1601360         NaN         NaN

2016-02-18
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
802  SH601360   2767479.0  33044405.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
802  SH601360   2767479.0  33044405.0  1601360         NaN         NaN

2016-02-19
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
793  SH601360   3778190.0  46098591.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
793  SH601360   3778190.0  46098591.0  1601360         NaN         NaN

2016-02-22
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
794  SH601360   2682717.0  32557644.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
794  SH601360   2682717.0  32557644.0  1601360         NaN         NaN

2016-02-23
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
794  SH601360   4354400.0  51911648.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
794  SH601360   4354400.0  51911648.0  1601360         NaN         NaN

2016-02-24
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
793  SH601360   5269569.0  60139055.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
793  SH601360   5269569.0  60139055.0  1601360         NaN         NaN

2016-02-25
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
792  SH601360   3919362.0  43057315.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
792  SH601360   3919362.0  43057315.0  1601360         NaN         NaN

2016-02-26
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
790  SH601360   3303003.0  34119913.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
790  SH601360   3303003.0  34119913.0  1601360         NaN         NaN

2016-02-29
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
793  SH601360   3024297.0  31704322.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
793  SH601360   3024297.0  31704322.0  1601360         NaN         NaN

2016-03-01
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
794  SH601360   4130665.0  45383708.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
794  SH601360   4130665.0  45383708.0  1601360         NaN         NaN

2016-03-02
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
794  SH601360   3874672.0  44357944.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
794  SH601360   3874672.0  44357944.0  1601360         NaN         NaN

2016-03-03
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
799  SH601360   3913369.0  43071275.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
799  SH601360   3913369.0  43071275.0  1601360         NaN         NaN

2016-03-04
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
798  SH601360   2882616.0  32526999.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
798  SH601360   2882616.0  32526999.0  1601360         NaN         NaN

2016-03-07
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
794  SH601360   3050050.0  33759002.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
794  SH601360   3050050.0  33759002.0  1601360         NaN         NaN

2016-03-08
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
797  SH601360   2363280.0  26289606.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
797  SH601360   2363280.0  26289606.0  1601360         NaN         NaN

2016-03-09
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
800  SH601360   2032416.0  22617187.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
800  SH601360   2032416.0  22617187.0  1601360         NaN         NaN

2016-03-10
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
801  SH601360   2193342.0  23713109.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
801  SH601360   2193342.0  23713109.0  1601360         NaN         NaN

2016-03-11
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
800  SH601360   3599495.0  40745419.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
800  SH601360   3599495.0  40745419.0  1601360         NaN         NaN

2016-03-14
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
803  SH601360   3160665.0  36032054.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
803  SH601360   3160665.0  36032054.0  1601360         NaN         NaN

2016-03-15
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
805  SH601360   3053118.0  34064120.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
805  SH601360   3053118.0  34064120.0  1601360         NaN         NaN

2016-03-16
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
801  SH601360   4797017.0  54193334.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
801  SH601360   4797017.0  54193334.0  1601360         NaN         NaN

2016-03-17
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
800  SH601360   5590937.0  65530104.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
800  SH601360   5590937.0  65530104.0  1601360         NaN         NaN

2016-03-18
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
798  SH601360   5716715.0  69115689.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
798  SH601360   5716715.0  69115689.0  1601360         NaN         NaN

2016-03-21
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
798  SH601360   4524911.0  54851570.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
798  SH601360   4524911.0  54851570.0  1601360         NaN         NaN

2016-03-22
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
798  SH601360   3489978.0  42495358.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
798  SH601360   3489978.0  42495358.0  1601360         NaN         NaN

2016-03-23
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
799  SH601360   4136441.0  50770481.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
799  SH601360   4136441.0  50770481.0  1601360         NaN         NaN

2016-03-24
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
799  SH601360   4098848.0  49421915.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
799  SH601360   4098848.0  49421915.0  1601360         NaN         NaN

2016-03-25
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
796  SH601360   6037658.0  75033757.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
796  SH601360   6037658.0  75033757.0  1601360         NaN         NaN

2016-03-28
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
797  SH601360   3231566.0  39073476.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
797  SH601360   3231566.0  39073476.0  1601360         NaN         NaN

2016-03-29
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
795  SH601360   6051205.0  75027684.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
795  SH601360   6051205.0  75027684.0  1601360         NaN         NaN

2016-03-30
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
792  SH601360   5085540.0  64473027.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
792  SH601360   5085540.0  64473027.0  1601360         NaN         NaN

2016-03-31
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
787  SH601360   5525529.0  67751490.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
787  SH601360   5525529.0  67751490.0  1601360         NaN         NaN

2016-04-01
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
786  SH601360   5321857.0  67082808.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
786  SH601360   5321857.0  67082808.0  1601360         NaN         NaN

2016-04-05
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
784  SH601360   5675770.0  73253109.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
784  SH601360   5675770.0  73253109.0  1601360         NaN         NaN

2016-04-06
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
789  SH601360   4654237.0  59448670.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
789  SH601360   4654237.0  59448670.0  1601360         NaN         NaN

2016-04-07
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
790  SH601360   3934639.0  48903190.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
790  SH601360   3934639.0  48903190.0  1601360         NaN         NaN

2016-04-08
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
788  SH601360   4994840.0  64074771.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
788  SH601360   4994840.0  64074771.0  1601360         NaN         NaN

2016-04-11
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
789  SH601360   3097090.0  39073006.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
789  SH601360   3097090.0  39073006.0  1601360         NaN         NaN

2016-04-12
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
793  SH601360   4740875.0  61215017.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
793  SH601360   4740875.0  61215017.0  1601360         NaN         NaN

2016-04-13
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
796  SH601360   2851577.0  36693740.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
796  SH601360   2851577.0  36693740.0  1601360         NaN         NaN

2016-04-14
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
794  SH601360   5247301.0  68457292.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
794  SH601360   5247301.0  68457292.0  1601360         NaN         NaN

2016-04-15
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
794  SH601360   6617320.0  85444661.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
794  SH601360   6617320.0  85444661.0  1601360         NaN         NaN

2016-04-18
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
796  SH601360   3151115.0  40594282.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
796  SH601360   3151115.0  40594282.0  1601360         NaN         NaN

2016-04-19
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
791  SH601360   5796379.0  71586915.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
791  SH601360   5796379.0  71586915.0  1601360         NaN         NaN

2016-04-20
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
791  SH601360   3009526.0  36704448.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
791  SH601360   3009526.0  36704448.0  1601360         NaN         NaN

2016-04-21
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
786  SH601360   2270110.0  27200292.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
786  SH601360   2270110.0  27200292.0  1601360         NaN         NaN

2016-04-22
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
791  SH601360   2461628.0  29186895.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
791  SH601360   2461628.0  29186895.0  1601360         NaN         NaN

2016-04-25
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
790  SH601360   2205019.0  26485436.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
790  SH601360   2205019.0  26485436.0  1601360         NaN         NaN

2016-04-26
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
796  SH601360   2994060.0  36625188.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
796  SH601360   2994060.0  36625188.0  1601360         NaN         NaN

2016-04-27
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
794  SH601360   2944770.0  35631611.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
794  SH601360   2944770.0  35631611.0  1601360         NaN         NaN

2016-04-28
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
791  SH601360   3267849.0  40085796.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
791  SH601360   3267849.0  40085796.0  1601360         NaN         NaN

2016-04-29
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
794  SH601360   3415228.0  42784525.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
794  SH601360   3415228.0  42784525.0  1601360         NaN         NaN

2016-05-03
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
799  SH601360   2589386.0  32570030.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
799  SH601360   2589386.0  32570030.0  1601360         NaN         NaN

2016-05-04
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
799  SH601360   2323914.0  29185316.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
799  SH601360   2323914.0  29185316.0  1601360         NaN         NaN

2016-05-05
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
797  SH601360   3846093.0  46338399.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
797  SH601360   3846093.0  46338399.0  1601360         NaN         NaN

2016-05-06
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
798  SH601360   3217722.0  36768076.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
798  SH601360   3217722.0  36768076.0  1601360         NaN         NaN

2016-05-09
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
796  SH601360   1237311.0  14070987.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
796  SH601360   1237311.0  14070987.0  1601360         NaN         NaN

2016-05-10
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
796  SH601360   2378344.0  26756464.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
796  SH601360   2378344.0  26756464.0  1601360         NaN         NaN

2016-05-11
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
792  SH601360   2031882.0  22203032.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
792  SH601360   2031882.0  22203032.0  1601360         NaN         NaN

2016-05-12
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
791  SH601360   2538281.0  27897953.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
791  SH601360   2538281.0  27897953.0  1601360         NaN         NaN

2016-05-13
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
792  SH601360   2424233.0  26518536.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
792  SH601360   2424233.0  26518536.0  1601360         NaN         NaN

2016-05-16
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
792  SH601360   3556528.0  39291429.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
792  SH601360   3556528.0  39291429.0  1601360         NaN         NaN

2016-05-17
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
791  SH601360   3090346.0  33602832.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
791  SH601360   3090346.0  33602832.0  1601360         NaN         NaN

2016-05-18
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
792  SH601360   4882755.0  52387601.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
792  SH601360   4882755.0  52387601.0  1601360         NaN         NaN

2016-05-19
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
794  SH601360   4225676.0  44311985.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
794  SH601360   4225676.0  44311985.0  1601360         NaN         NaN

2016-05-20
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
794  SH601360   2816681.0  30053204.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
794  SH601360   2816681.0  30053204.0  1601360         NaN         NaN

2016-05-23
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
794  SH601360   3692888.0  38692851.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
794  SH601360   3692888.0  38692851.0  1601360         NaN         NaN

2016-05-24
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
795  SH601360   4846985.0  51110787.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
795  SH601360   4846985.0  51110787.0  1601360         NaN         NaN

2016-05-25
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
798  SH601360   3522244.0  36847232.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
798  SH601360   3522244.0  36847232.0  1601360         NaN         NaN

2016-05-26
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
796  SH601360   2736174.0  28945970.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
796  SH601360   2736174.0  28945970.0  1601360         NaN         NaN

2016-05-27
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
799  SH601360   2490270.0  26304713.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
799  SH601360   2490270.0  26304713.0  1601360         NaN         NaN

2016-05-30
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
797  SH601360   5275766.0  57234286.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
797  SH601360   5275766.0  57234286.0  1601360         NaN         NaN

2016-05-31
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
793  SH601360   4317520.0  47556387.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
793  SH601360   4317520.0  47556387.0  1601360         NaN         NaN

2016-06-01
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
792  SH601360   3853360.0  42775142.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
792  SH601360   3853360.0  42775142.0  1601360         NaN         NaN

2016-06-02
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
796  SH601360   5667958.0  62850458.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
796  SH601360   5667958.0  62850458.0  1601360         NaN         NaN

2016-06-03
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
796  SH601360   5038531.0  55596015.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
796  SH601360   5038531.0  55596015.0  1601360         NaN         NaN

2016-06-06
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
802  SH601360  19085837.0  227602154.0  1601360         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
802  SH601360  19085837.0  227602154.0  1601360         NaN         NaN

2016-06-07
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
807  SH601360  32535808.0  428429766.0  1601360         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
807  SH601360  32535808.0  428429766.0  1601360         NaN         NaN

2016-06-08
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
803  SH601360  26800747.0  353874296.0  1601360         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
803  SH601360  26800747.0  353874296.0  1601360         NaN         NaN

2016-06-13
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
804  SH601360  19112200.0  242666238.0  1601360         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
804  SH601360  19112200.0  242666238.0  1601360         NaN         NaN

2016-06-14
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
806  SH601360  32075676.0  423362532.0  1601360         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
806  SH601360  32075676.0  423362532.0  1601360         NaN         NaN

2016-06-15
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
808  SH601360  48809745.0  702812979.0  1601360         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
808  SH601360  48809745.0  702812979.0  1601360         NaN         NaN

2016-06-16
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
807  SH601360  42154824.0  664613325.0  1601360         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
807  SH601360  42154824.0  664613325.0  1601360         NaN         NaN

2016-06-17
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
805  SH601360  24436563.0  382893525.0  1601360         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
805  SH601360  24436563.0  382893525.0  1601360         NaN         NaN

2016-06-20
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
805  SH601360  24745177.0  378223443.0  1601360         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
805  SH601360  24745177.0  378223443.0  1601360         NaN         NaN

2016-06-21
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
802  SH601360  21532947.0  317630480.0  1601360         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
802  SH601360  21532947.0  317630480.0  1601360         NaN         NaN

2016-06-22
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
802  SH601360  14004351.0  205425906.0  1601360         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
802  SH601360  14004351.0  205425906.0  1601360         NaN         NaN

2016-06-23
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
804  SH601360  18426179.0  265347872.0  1601360         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
804  SH601360  18426179.0  265347872.0  1601360         NaN         NaN

2016-06-24
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
798  SH601360  16801140.0  244633540.0  1601360         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
798  SH601360  16801140.0  244633540.0  1601360         NaN         NaN

2016-06-27
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
801  SH601360  23605347.0  338864343.0  1601360         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
801  SH601360  23605347.0  338864343.0  1601360         NaN         NaN

2016-06-28
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
803  SH601360  18976199.0  277087311.0  1601360         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
803  SH601360  18976199.0  277087311.0  1601360         NaN         NaN

2016-06-29
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
800  SH601360  30965657.0  459423334.0  1601360         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
800  SH601360  30965657.0  459423334.0  1601360         NaN         NaN

2016-06-30
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
805  SH601360  30769719.0  432274992.0  1601360         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
805  SH601360  30769719.0  432274992.0  1601360         NaN         NaN

2016-07-01
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
802  SH601360  15843167.0  223037345.0  1601360         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
802  SH601360  15843167.0  223037345.0  1601360         NaN         NaN

2016-07-04
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
804  SH601360  20312510.0  286852652.0  1601360         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
804  SH601360  20312510.0  286852652.0  1601360         NaN         NaN

2016-07-05
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
802  SH601360  18236070.0  256110504.0  1601360         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
802  SH601360  18236070.0  256110504.0  1601360         NaN         NaN

2016-07-06
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
803  SH601360  17395557.0  244731447.0  1601360         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
803  SH601360  17395557.0  244731447.0  1601360         NaN         NaN

2016-07-07
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
800  SH601360  13560656.0  192411306.0  1601360         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
800  SH601360  13560656.0  192411306.0  1601360         NaN         NaN

2016-07-08
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
801  SH601360  10353637.0  145388665.0  1601360         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
801  SH601360  10353637.0  145388665.0  1601360         NaN         NaN

2016-07-11
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
799  SH601360  17209799.0  234574218.0  1601360         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
799  SH601360  17209799.0  234574218.0  1601360         NaN         NaN

2016-07-12
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
796  SH601360  12130596.0  168998654.0  1601360         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
796  SH601360  12130596.0  168998654.0  1601360         NaN         NaN

2016-07-13
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
798  SH601360   7213118.0  100441826.0  1601360         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
798  SH601360   7213118.0  100441826.0  1601360         NaN         NaN

2016-07-14
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
800  SH601360   6714490.0  93380418.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
800  SH601360   6714490.0  93380418.0  1601360         NaN         NaN

2016-07-15
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
800  SH601360   7556924.0  103808061.0  1601360         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
800  SH601360   7556924.0  103808061.0  1601360         NaN         NaN

2016-07-18
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
800  SH601360   9105481.0  123005683.0  1601360         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
800  SH601360   9105481.0  123005683.0  1601360         NaN         NaN

2016-07-19
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
802  SH601360   8289740.0  113870909.0  1601360         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
802  SH601360   8289740.0  113870909.0  1601360         NaN         NaN

2016-07-20
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
804  SH601360   8351125.0  114104877.0  1601360         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
804  SH601360   8351125.0  114104877.0  1601360         NaN         NaN

2016-07-21
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
804  SH601360   7442017.0  99844791.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
804  SH601360   7442017.0  99844791.0  1601360         NaN         NaN

2016-07-22
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
802  SH601360  14191210.0  195059164.0  1601360         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
802  SH601360  14191210.0  195059164.0  1601360         NaN         NaN

2016-07-25
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
806  SH601360  10603968.0  147514150.0  1601360         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
806  SH601360  10603968.0  147514150.0  1601360         NaN         NaN

2016-07-26
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
806  SH601360  15657462.0  210054194.0  1601360         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
806  SH601360  15657462.0  210054194.0  1601360         NaN         NaN

2016-07-27
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
804  SH601360   8423829.0  107192411.0  1601360         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
804  SH601360   8423829.0  107192411.0  1601360         NaN         NaN

2016-07-28
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
804  SH601360   4987997.0  62741772.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
804  SH601360   4987997.0  62741772.0  1601360         NaN         NaN

2016-07-29
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
807  SH601360   7442437.0  92593219.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
807  SH601360   7442437.0  92593219.0  1601360         NaN         NaN

2016-08-01
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
810  SH601360   3955850.0  49875879.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
810  SH601360   3955850.0  49875879.0  1601360         NaN         NaN

2016-08-02
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
808  SH601360   4531210.0  57399356.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
808  SH601360   4531210.0  57399356.0  1601360         NaN         NaN

2016-08-03
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
810  SH601360   5102778.0  64629983.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
810  SH601360   5102778.0  64629983.0  1601360         NaN         NaN

2016-08-04
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
813  SH601360   4725294.0  59480243.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
813  SH601360   4725294.0  59480243.0  1601360         NaN         NaN

2016-08-05
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
812  SH601360   5014361.0  62457539.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
812  SH601360   5014361.0  62457539.0  1601360         NaN         NaN

2016-08-08
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
815  SH601360   6960115.0  88515095.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
815  SH601360   6960115.0  88515095.0  1601360         NaN         NaN

2016-08-09
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
813  SH601360   5471702.0  69877462.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
813  SH601360   5471702.0  69877462.0  1601360         NaN         NaN

2016-08-10
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
812  SH601360   5360742.0  67089777.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
812  SH601360   5360742.0  67089777.0  1601360         NaN         NaN

2016-08-11
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
815  SH601360   4696450.0  58973420.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
815  SH601360   4696450.0  58973420.0  1601360         NaN         NaN

2016-08-12
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
815  SH601360   9487836.0  122043950.0  1601360         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
815  SH601360   9487836.0  122043950.0  1601360         NaN         NaN

2016-08-15
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
816  SH601360   6164741.0  80296126.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
816  SH601360   6164741.0  80296126.0  1601360         NaN         NaN

2016-08-16
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
816  SH601360   4624526.0  60060924.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
816  SH601360   4624526.0  60060924.0  1601360         NaN         NaN

2016-08-17
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
816  SH601360   7603407.0  97919760.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
816  SH601360   7603407.0  97919760.0  1601360         NaN         NaN

2016-08-18
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
815  SH601360  10401285.0  136294358.0  1601360         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
815  SH601360  10401285.0  136294358.0  1601360         NaN         NaN

2016-08-19
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
816  SH601360   6779821.0  88359281.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
816  SH601360   6779821.0  88359281.0  1601360         NaN         NaN

2016-08-22
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
814  SH601360   4297427.0  55138948.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
814  SH601360   4297427.0  55138948.0  1601360         NaN         NaN

2016-08-23
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
814  SH601360   3582940.0  45876412.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
814  SH601360   3582940.0  45876412.0  1601360         NaN         NaN

2016-08-24
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
812  SH601360   5852283.0  73754142.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
812  SH601360   5852283.0  73754142.0  1601360         NaN         NaN

2016-08-25
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
813  SH601360   4339357.0  55384322.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
813  SH601360   4339357.0  55384322.0  1601360         NaN         NaN

2016-08-26
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
808  SH601360   3696180.0  47266379.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
808  SH601360   3696180.0  47266379.0  1601360         NaN         NaN

2016-08-29
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
811  SH601360   3791165.0  48783828.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
811  SH601360   3791165.0  48783828.0  1601360         NaN         NaN

2016-08-30
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
811  SH601360   4680089.0  59991364.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
811  SH601360   4680089.0  59991364.0  1601360         NaN         NaN

2016-08-31
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
813  SH601360   9572913.0  123811275.0  1601360         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
813  SH601360   9572913.0  123811275.0  1601360         NaN         NaN

2016-09-01
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
809  SH601360   6172241.0  79745861.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
809  SH601360   6172241.0  79745861.0  1601360         NaN         NaN

2016-09-02
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
810  SH601360   5075772.0  65132983.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
810  SH601360   5075772.0  65132983.0  1601360         NaN         NaN

2016-09-05
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
812  SH601360   6522207.0  82895777.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
812  SH601360   6522207.0  82895777.0  1601360         NaN         NaN

2016-09-06
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
808  SH601360   7900688.0  102510215.0  1601360         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
808  SH601360   7900688.0  102510215.0  1601360         NaN         NaN

2016-09-07
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
808  SH601360   7323024.0  96093580.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
808  SH601360   7323024.0  96093580.0  1601360         NaN         NaN

2016-09-08
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
808  SH601360   5812190.0  75612553.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
808  SH601360   5812190.0  75612553.0  1601360         NaN         NaN

2016-09-09
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
809  SH601360   9413022.0  117417376.0  1601360         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
809  SH601360   9413022.0  117417376.0  1601360         NaN         NaN

2016-09-12
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
809  SH601360   3915233.0  47937502.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
809  SH601360   3915233.0  47937502.0  1601360         NaN         NaN

2016-09-13
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

            ID  max_volume    max_amount     skey  cum_volume    cum_amount
0     SH600000  23981413.0  3.939678e+08  1600000  23981202.0  3.939643e+08
2     SH600006  19020611.0  1.484847e+08  1600006  19018811.0  1.484706e+08
3     SH600007   1115569.0  2.379150e+07  1600007   1115269.0  2.378508e+07
4     SH600008  46081746.0  2.020273e+08  1600008  45755046.0  2.005899e+08
5     SH600009   2885676.0  7.896045e+07  1600009   2844639.0  7.784215e+07
...        ...         ...           ...      ...         ...           ...
1039  SH603986  10410979.0  1.887215e+09  1603986  10407479.0  1.886586e+09
1040  SH603988   3792534.0  2.385726e+08  1603988   3790534.0  2.384458e+08
1041  SH603989   1552568.0  5.071626e+07  1603989   1551968.0  5.069669e+07
1044  SH603997   4909975.0  9.451174e+07  1603997   4907375.0  9.446140e+07
1045  SH603998   3441833.0  5.289943e+07  1603998   3440733.0  5.288253e+07

[622 rows x 6 columns]

            ID  max_volume    max_amount     skey  cum_volume    cum_amount
0     SH600000  23981413.0  3.939678e+08  1600000  23981202.0  3.939643e+08
2     SH600006  19020611.0  1.484847e+08  1600006  19018811.0  1.484706e+08
3     SH600007   1115569.0  2.379150e+07  1600007   1115269.0  2.378508e+07
4     SH600008  46081746.0  2.020273e+08  1600008  45755046.0  2.005899e+08
5     SH600009   2885676.0  7.896045e+07  1600009   2844639.0  7.784215e+07
...        ...         ...           ...      ...         ...           ...
1039  SH603986  10410979.0  1.887215e+09  1603986  10407479.0  1.886586e+09
1040  SH603988   3792534.0  2.385726e+08  1603988   3790534.0  2.384458e+08
1041  SH603989   1552568.0  5.071626e+07  1603989   1551968.0  5.069669e+07
1044  SH603997   4909975.0  9.451174e+07  1603997   4907375.0  9.446140e+07
1045  SH603998   3441833.0  5.289943e+07  1603998   3440733.0  5.288253e+07

[622 rows x 6 columns]

2016-09-14
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
806  SH601360   2906817.0  35625878.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
806  SH601360   2906817.0  35625878.0  1601360         NaN         NaN

2016-09-19
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
808  SH601360   2750509.0  33831193.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
808  SH601360   2750509.0  33831193.0  1601360         NaN         NaN

2016-09-20
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
810  SH601360   2130818.0  26293299.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
810  SH601360   2130818.0  26293299.0  1601360         NaN         NaN

2016-09-21
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
810  SH601360   6900519.0  86600073.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
810  SH601360   6900519.0  86600073.0  1601360         NaN         NaN

2016-09-22
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

            ID  max_volume   max_amount     skey  cum_volume   cum_amount
2     SH600006  12296697.0   95892085.0  1600006  12293897.0   95869965.0
3     SH600007    891257.0   19530654.0  1600007    891157.0   19528461.0
4     SH600008  30189451.0  133084026.0  1600008  30184251.0  133061044.0
6     SH600010  36763605.0  103114966.0  1600010  36741905.0  103053989.0
8     SH600012   2083382.0   26211063.0  1600012   2083282.0   26209803.0
...        ...         ...          ...      ...         ...          ...
1043  SH603979   1407120.0   26128685.0  1603979   1404220.0   26074513.0
1044  SH603988   3868319.0  242033349.0  1603988   3864419.0  241791288.0
1046  SH603993  19328193.0   73842009.0  1603993  19323593.0   73824309.0
1049  SH603998   4671428.0   74779442.0  1603998   4670428.0   74763242.0
1050  SH603999  11787585.0  362461038.0  1603999  11787285.0  362452171.0

[672 rows x 6 columns]

            ID  max_volume   max_amount     skey  cum_volume   cum_amount
2     SH600006  12296697.0   95892085.0  1600006  12293897.0   95869965.0
3     SH600007    891257.0   19530654.0  1600007    891157.0   19528461.0
4     SH600008  30189451.0  133084026.0  1600008  30184251.0  133061044.0
6     SH600010  36763605.0  103114966.0  1600010  36741905.0  103053989.0
8     SH600012   2083382.0   26211063.0  1600012   2083282.0   26209803.0
...        ...         ...          ...      ...         ...          ...
1043  SH603979   1407120.0   26128685.0  1603979   1404220.0   26074513.0
1044  SH603988   3868319.0  242033349.0  1603988   3864419.0  241791288.0
1046  SH603993  19328193.0   73842009.0  1603993  19323593.0   73824309.0
1049  SH603998   4671428.0   74779442.0  1603998   4670428.0   74763242.0
1050  SH603999  11787585.0  362461038.0  1603999  11787285.0  362452171.0

[672 rows x 6 columns]

2016-09-23
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
812  SH601360   3856381.0  48104378.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
812  SH601360   3856381.0  48104378.0  1601360         NaN         NaN

2016-09-26
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
813  SH601360   2523826.0  31176218.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
813  SH601360   2523826.0  31176218.0  1601360         NaN         NaN

2016-09-27
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
813  SH601360   1559103.0  19341415.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
813  SH601360   1559103.0  19341415.0  1601360         NaN         NaN

2016-09-28
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
812  SH601360   2231971.0  27767383.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
812  SH601360   2231971.0  27767383.0  1601360         NaN         NaN

2016-09-29
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
813  SH601360   2019457.0  24949357.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
813  SH601360   2019457.0  24949357.0  1601360         NaN         NaN

2016-09-30
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
817  SH601360   4441514.0  55818585.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
817  SH601360   4441514.0  55818585.0  1601360         NaN         NaN

2016-10-10
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
818  SH601360   5265590.0  67408628.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
818  SH601360   5265590.0  67408628.0  1601360         NaN         NaN

2016-10-11
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
820  SH601360   4294304.0  55092415.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
820  SH601360   4294304.0  55092415.0  1601360         NaN         NaN

2016-10-12
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
817  SH601360   4318230.0  55360214.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
817  SH601360   4318230.0  55360214.0  1601360         NaN         NaN

2016-10-13
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
821  SH601360   5879967.0  75993530.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
821  SH601360   5879967.0  75993530.0  1601360         NaN         NaN

2016-10-14
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
820  SH601360   4602767.0  59378047.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
820  SH601360   4602767.0  59378047.0  1601360         NaN         NaN

2016-10-17
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
820  SH601360   4557288.0  59010930.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
820  SH601360   4557288.0  59010930.0  1601360         NaN         NaN

2016-10-18
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
818  SH601360   3769439.0  48799803.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
818  SH601360   3769439.0  48799803.0  1601360         NaN         NaN

2016-10-19
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
823  SH601360   3762630.0  49071274.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
823  SH601360   3762630.0  49071274.0  1601360         NaN         NaN

2016-10-20
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
822  SH601360   3364927.0  43514479.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
822  SH601360   3364927.0  43514479.0  1601360         NaN         NaN

2016-10-21
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
827  SH601360   4733726.0  61775372.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
827  SH601360   4733726.0  61775372.0  1601360         NaN         NaN

2016-10-24
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
826  SH601360   4831841.0  63506266.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
826  SH601360   4831841.0  63506266.0  1601360         NaN         NaN

2016-10-25
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
825  SH601360   4161876.0  53959258.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
825  SH601360   4161876.0  53959258.0  1601360         NaN         NaN

2016-10-26
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
827  SH601360   2793878.0  36183961.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
827  SH601360   2793878.0  36183961.0  1601360         NaN         NaN

2016-10-27
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
827  SH601360   3141855.0  40685821.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
827  SH601360   3141855.0  40685821.0  1601360         NaN         NaN

2016-10-28
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
825  SH601360   2969742.0  37865866.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
825  SH601360   2969742.0  37865866.0  1601360         NaN         NaN

2016-10-31
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
829  SH601360   3656580.0  46851024.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
829  SH601360   3656580.0  46851024.0  1601360         NaN         NaN

2016-11-01
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
826  SH601360   2304929.0  29567562.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
826  SH601360   2304929.0  29567562.0  1601360         NaN         NaN

2016-11-02
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
827  SH601360   2885802.0  37158086.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
827  SH601360   2885802.0  37158086.0  1601360         NaN         NaN

2016-11-03
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
826  SH601360   3247703.0  41904475.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
826  SH601360   3247703.0  41904475.0  1601360         NaN         NaN

2016-11-04
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
825  SH601360   2439217.0  31323467.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
825  SH601360   2439217.0  31323467.0  1601360         NaN         NaN

2016-11-07
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
826  SH601360   4840763.0  62749031.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
826  SH601360   4840763.0  62749031.0  1601360         NaN         NaN

2016-11-08
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
823  SH601360   3975729.0  51287775.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
823  SH601360   3975729.0  51287775.0  1601360         NaN         NaN

2016-11-09
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
823  SH601360   6499822.0  84904226.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
823  SH601360   6499822.0  84904226.0  1601360         NaN         NaN

2016-11-10
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
821  SH601360   4300950.0  56556440.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
821  SH601360   4300950.0  56556440.0  1601360         NaN         NaN

2016-11-11
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
817  SH601360   5482592.0  72202661.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
817  SH601360   5482592.0  72202661.0  1601360         NaN         NaN

2016-11-14
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
813  SH601360   3918024.0  51560359.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
813  SH601360   3918024.0  51560359.0  1601360         NaN         NaN

2016-11-15
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
814  SH601360   5917541.0  78154823.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
814  SH601360   5917541.0  78154823.0  1601360         NaN         NaN

2016-11-16
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
811  SH601360   3977566.0  51848828.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
811  SH601360   3977566.0  51848828.0  1601360         NaN         NaN

2016-11-17
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
809  SH601360   2777981.0  36247649.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
809  SH601360   2777981.0  36247649.0  1601360         NaN         NaN

2016-11-18
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
808  SH601360   5904834.0  77674814.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
808  SH601360   5904834.0  77674814.0  1601360         NaN         NaN

2016-11-21
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
809  SH601360   5175526.0  68164231.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
809  SH601360   5175526.0  68164231.0  1601360         NaN         NaN

2016-11-22
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
809  SH601360  12063573.0  161368372.0  1601360         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
809  SH601360  12063573.0  161368372.0  1601360         NaN         NaN

2016-11-23
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
810  SH601360   7532853.0  100249120.0  1601360         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
810  SH601360   7532853.0  100249120.0  1601360         NaN         NaN

2016-11-24
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
810  SH601360   5696232.0  74046050.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
810  SH601360   5696232.0  74046050.0  1601360         NaN         NaN

2016-11-25
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
807  SH601360   3981904.0  51881741.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
807  SH601360   3981904.0  51881741.0  1601360         NaN         NaN

2016-11-28
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
807  SH601360   5070754.0  65766389.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
807  SH601360   5070754.0  65766389.0  1601360         NaN         NaN

2016-11-29
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
811  SH601360   3948737.0  50721663.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
811  SH601360   3948737.0  50721663.0  1601360         NaN         NaN

2016-11-30
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
807  SH601360   4002629.0  51680026.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
807  SH601360   4002629.0  51680026.0  1601360         NaN         NaN

2016-12-01
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
809  SH601360   4222258.0  53513089.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
809  SH601360   4222258.0  53513089.0  1601360         NaN         NaN

2016-12-02
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
812  SH601360   1854176.0  23167722.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
812  SH601360   1854176.0  23167722.0  1601360         NaN         NaN

2016-12-05
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
813  SH601360   1634203.0  20401565.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
813  SH601360   1634203.0  20401565.0  1601360         NaN         NaN

2016-12-06
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
812  SH601360   2331131.0  29201774.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
812  SH601360   2331131.0  29201774.0  1601360         NaN         NaN

2016-12-07
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
810  SH601360   2121940.0  26694637.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
810  SH601360   2121940.0  26694637.0  1601360         NaN         NaN

2016-12-08
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
810  SH601360   1379533.0  17280475.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
810  SH601360   1379533.0  17280475.0  1601360         NaN         NaN

2016-12-09
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
810  SH601360   6224554.0  74055663.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
810  SH601360   6224554.0  74055663.0  1601360         NaN         NaN

2016-12-12
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
815  SH601360   3941554.0  45079375.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
815  SH601360   3941554.0  45079375.0  1601360         NaN         NaN

2016-12-13
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
817  SH601360   3424864.0  38678583.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
817  SH601360   3424864.0  38678583.0  1601360         NaN         NaN

2016-12-14
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
815  SH601360   2961089.0  33598436.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
815  SH601360   2961089.0  33598436.0  1601360         NaN         NaN

2016-12-15
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
812  SH601360   2193803.0  25201097.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
812  SH601360   2193803.0  25201097.0  1601360         NaN         NaN

2016-12-16
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
809  SH601360   2079108.0  23836191.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
809  SH601360   2079108.0  23836191.0  1601360         NaN         NaN

2016-12-19
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
811  SH601360   2298438.0  26605188.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
811  SH601360   2298438.0  26605188.0  1601360         NaN         NaN

2016-12-20
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
814  SH601360   4285768.0  50676636.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
814  SH601360   4285768.0  50676636.0  1601360         NaN         NaN

2016-12-21
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
812  SH601360   3793206.0  44576577.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
812  SH601360   3793206.0  44576577.0  1601360         NaN         NaN

2016-12-22
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
814  SH601360   1652521.0  19367353.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
814  SH601360   1652521.0  19367353.0  1601360         NaN         NaN

2016-12-23
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
815  SH601360   2032561.0  23479230.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
815  SH601360   2032561.0  23479230.0  1601360         NaN         NaN

2016-12-26
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
816  SH601360   1445373.0  16988553.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
816  SH601360   1445373.0  16988553.0  1601360         NaN         NaN

2016-12-27
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
817  SH601360   1547414.0  18173596.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
817  SH601360   1547414.0  18173596.0  1601360         NaN         NaN

2016-12-28
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
817  SH601360   2183525.0  25775081.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
817  SH601360   2183525.0  25775081.0  1601360         NaN         NaN

2016-12-29
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:272: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:274: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{1601360}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
820  SH601360   1689972.0  20002194.0  1601360         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
820  SH601360   1689972.0  20002194.0  1601360         NaN         NaN

2016-12-30
trade finished