In [1]:
import pymongo
import pandas as pd
import pickle
import datetime
import time
import gzip
import lzma
import pytz


def DB(host, db_name, user, passwd):
    auth_db = db_name if user not in ('admin', 'root') else 'admin'
    uri = 'mongodb://%s:%s@%s/?authSource=%s' % (user, passwd, host, auth_db)
    return DBObj(uri, db_name=db_name)


class DBObj(object):
    def __init__(self, uri, symbol_column='skey', db_name='white_db'):
        self.db_name = db_name
        self.uri = uri
        self.client = pymongo.MongoClient(self.uri)
        self.db = self.client[self.db_name]
        self.chunk_size = 20000
        self.symbol_column = symbol_column
        self.date_column = 'date'

    def parse_uri(self, uri):
        # mongodb://user:password@example.com
        return uri.strip().replace('mongodb://', '').strip('/').replace(':', ' ').replace('@', ' ').split(' ')

    def drop_table(self, table_name):
        self.db.drop_collection(table_name)

    def rename_table(self, old_table, new_table):
        self.db[old_table].rename(new_table)

    def write(self, table_name, df):
        if len(df) == 0: return

        multi_date = False

        if self.date_column in df.columns:
            date = str(df.head(1)[self.date_column].iloc[0])
            multi_date = len(df[self.date_column].unique()) > 1
        else:
            raise Exception('DataFrame should contain date column')

        collection = self.db[table_name]
        collection.create_index([('date', pymongo.ASCENDING), ('symbol', pymongo.ASCENDING)], background=True)
        collection.create_index([('symbol', pymongo.ASCENDING), ('date', pymongo.ASCENDING)], background=True)

        if multi_date:
            for (date, symbol), sub_df in df.groupby([self.date_column, self.symbol_column]):
                date = str(date)
                symbol = int(symbol)
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)
        else:
            for symbol, sub_df in df.groupby([self.symbol_column]):
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)

    def write_single(self, collection, date, symbol, df):
        for start in range(0, len(df), self.chunk_size):
            end = min(start + self.chunk_size, len(df))
            df_seg = df[start:end]
            version = 1
            seg = {'ver': version, 'data': self.ser(df_seg, version), 'date': date, 'symbol': symbol, 'start': start}
            collection.insert_one(seg)

    def build_query(self, start_date=None, end_date=None, symbol=None):
        query = {}

        def parse_date(x):
            if type(x) == str:
                if len(x) != 8:
                    raise Exception("`date` must be YYYYMMDD format")
                return x
            elif type(x) == datetime.datetime or type(x) == datetime.date:
                return x.strftime("%Y%m%d")
            elif type(x) == int:
                return parse_date(str(x))
            else:
                raise Exception("invalid `date` type: " + str(type(x)))

        if start_date is not None or end_date is not None:
            query['date'] = {}
            if start_date is not None:
                query['date']['$gte'] = parse_date(start_date)
            if end_date is not None:
                query['date']['$lte'] = parse_date(end_date)

        def parse_symbol(x):
            if type(x) == int:
                return x
            else:
                return int(x)

        if symbol:
            if type(symbol) == list or type(symbol) == tuple:
                query['symbol'] = {'$in': [parse_symbol(x) for x in symbol]}
            else:
                query['symbol'] = parse_symbol(symbol)

        return query

    def delete(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot delete the whole table')
            return None

        collection.delete_many(query)

    def read(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot read the whole table')
            return None

        segs = []
        for x in collection.find(query):
            x['data'] = self.deser(x['data'], x['ver'])
            segs.append(x)
        segs.sort(key=lambda x: (x['symbol'], x['date'], x['start']))
        return pd.concat([x['data'] for x in segs], ignore_index=True) if segs else None

    def list_tables(self):
        return self.db.collection_names()

    def list_dates(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]
        dates = set()
        if start_date is None:
            start_date = '00000000'
        if end_date is None:
            end_date = '99999999'
        for x in collection.find(self.build_query(start_date, end_date, symbol), {"date": 1, '_id': 0}):
            dates.add(x['date'])
        return sorted(list(dates))

    def ser(self, s, version):
        pickle_protocol = 4
        if version == 1:
            return gzip.compress(pickle.dumps(s, protocol=pickle_protocol), compresslevel=2)
        elif version == 2:
            return lzma.compress(pickle.dumps(s, protocol=pickle_protocol), preset=1)
        else:
            raise Exception('unknown version')

    def deser(self, s, version):
        def unpickle(s):
            return pickle.loads(s)

        if version == 1:
            return unpickle(gzip.decompress(s))
        elif version == 2:
            return unpickle(lzma.decompress(s))
        else:
            raise Exception('unknown version')


def patch_pandas_pickle():
    if pd.__version__ < '0.24':
        import sys
        from types import ModuleType
        from pandas.core.internals import BlockManager
        pkg_name = 'pandas.core.internals.managers'
        if pkg_name not in sys.modules:
            m = ModuleType(pkg_name)
            m.BlockManager = BlockManager
            sys.modules[pkg_name] = m
patch_pandas_pickle()












import pandas as pd
import random
import numpy as np
import glob
import os
import pickle
import datetime
import time
pd.set_option("max_columns", 200)

startTm = datetime.datetime.now()
readPath = '/home/work516/day_stock/***'
dataPathLs = np.array(glob.glob(readPath))
dataPathLs = dataPathLs[[np.array([os.path.basename(i).split('.')[0][:2] == 'SZ' for i in dataPathLs])]]
db = pd.DataFrame()
for p in dataPathLs:
    dayData = pd.read_csv(p, compression='gzip')
    db = pd.concat([db, dayData])
print(datetime.datetime.now() - startTm)

year = "2017"
startDate = '20171123'
endDate = '20171231'
readPath = '/mnt/usb/data/' + year + '/***/***'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([os.path.basename(i).split('_')[0] for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]
date_list = pd.read_csv("/home/work516/KR_upload_code/trading_days.csv")
wr_ong = []
mi_ss = []
less = []

for data in dataPathLs:    
    
    if len(np.array(glob.glob(data + '/SZ/***'))) == 0:
        if int(os.path.basename(data)) not in date_list["Date"].values:
            continue
        else:
            print(os.path.basename(data) + " less data!!!!!!!!!!!!!!!!!")
            less.append(data)
            continue
    startTm = datetime.datetime.now()
    date = os.path.basename(data)
    rar_path = data + '/SZ/snapshot.7z'
    path = '/mnt/e/unzip_data/2017/SZ'
    path1 = path + '/' + date
    un_path = path1
    cmd = '7za x {} -o{}'.format(rar_path, un_path)
    os.system(cmd)
    print(datetime.datetime.now() - startTm)
    print(date + ' unzip finished')
    
    readPath = path1 + '/snapshot/***2/***'
    dataPathLs = np.array(glob.glob(readPath))
    dateLs = np.array([int(os.path.basename(i).split('.')[0]) for i in dataPathLs])
    dataPathLs = dataPathLs[(dateLs < 4000) | ((dateLs > 300000) & (dateLs < 310000))]
    SZ = []
    ll = []
    startTm = datetime.datetime.now()
    for i in dataPathLs:
        try:
            df = pd.read_csv(i, usecols = [0,1,4,5,6,7,9,12,17,18,19,24,25,26,28,29,30,32,33,34,35])
        except:
            print("empty data")
            print(i)
            ll.append(int(os.path.basename(i).split('.')[0]))
            continue
        df["StockID"] = int(os.path.basename(i).split('.')[0])
        SZ += [df]
    del df
    SZ = pd.concat(SZ).reset_index(drop=True)
    print(datetime.datetime.now() - startTm)
    
    startTm = datetime.datetime.now()
    SZ["skey"] = SZ["StockID"] + 2000000
    SZ.drop(["StockID"],axis=1,inplace=True)
    SZ["date"] = int(SZ["QuotTime"].iloc[0]//1000000000)
    SZ["time"] = (SZ['QuotTime'] - int(SZ['QuotTime'].iloc[0]//1000000000*1000000000)).astype(np.int64) * 1000
    SZ["clockAtArrival"] = SZ["QuotTime"].astype(str).apply(lambda x: np.int64(datetime.datetime.strptime(x, '%Y%m%d%H%M%S%f').timestamp()*1e6))
    SZ['datetime'] = SZ["clockAtArrival"].apply(lambda x: datetime.datetime.fromtimestamp(x/1e6))
    SZ.drop(["QuotTime"],axis=1,inplace=True)
    print(datetime.datetime.now() - startTm)
    
    startTm = datetime.datetime.now()
    SZ["BidPrice"] = SZ["BidPrice"].apply(lambda x: [float(i) for i in x[1:-1].split(',')])
    SZ["OfferPrice"] = SZ["OfferPrice"].apply(lambda x: [float(i) for i in x[1:-1].split(',')])
    SZ["BidOrderQty"] = SZ["BidOrderQty"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["OfferOrderQty"] = SZ["OfferOrderQty"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["BidNumOrders"] = SZ["BidNumOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["OfferNumOrders"] = SZ["OfferNumOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])

    for i in range(1, 11):
        SZ["bid" + str(i) + 'p'] = SZ["BidPrice"].apply(lambda x: x[i-1],2)
    SZ.drop(["BidPrice"],axis=1,inplace=True)
    print("1")
    for i in range(1, 11):
        SZ["ask" + str(i) + 'p'] = SZ["OfferPrice"].apply(lambda x: x[i-1],2)
    SZ.drop(["OfferPrice"],axis=1,inplace=True)
    print("2")
    for i in range(1, 11):
        SZ["bid" + str(i) + 'q'] = SZ["BidOrderQty"].apply(lambda x: x[i-1])
    SZ.drop(["BidOrderQty"],axis=1,inplace=True)
    print("3")
    for i in range(1, 11):
        SZ["ask" + str(i) + 'q'] = SZ["OfferOrderQty"].apply(lambda x: x[i-1])
    SZ.drop(["OfferOrderQty"],axis=1,inplace=True)
    print("4")
    for i in range(1, 11):
        SZ["bid" + str(i) + 'n'] = SZ["BidNumOrders"].apply(lambda x: x[i-1])
        SZ["bid" + str(i) + 'n'] = SZ["bid" + str(i) + 'n'].astype('int32')
    SZ.drop(["BidNumOrders"],axis=1,inplace=True)
    print("5")
    for i in range(1, 11):
        SZ["ask" + str(i) + 'n'] = SZ["OfferNumOrders"].apply(lambda x: x[i-1])
        SZ["ask" + str(i) + 'n'] = SZ["ask" + str(i) + 'n'].astype('int32') 
    SZ.drop(["OfferNumOrders"],axis=1,inplace=True)
    print("6")
    
    SZ["BidOrders"] = SZ["BidOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["OfferOrders"] = SZ["OfferOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])

    for i in range(1, 51):
        SZ["bid1Top" + str(i) + 'q'] = SZ["BidOrders"].apply(lambda x: x[i-1])
        SZ["bid1Top" + str(i) + 'q'] = SZ["bid1Top" + str(i) + 'q'].astype('int32') 
    SZ.drop(["BidOrders"],axis=1,inplace=True)
    print("7")
    
    for i in range(1, 51):
        SZ["ask1Top" + str(i) + 'q'] = SZ["OfferOrders"].apply(lambda x: x[i-1])
        SZ["ask1Top" + str(i) + 'q'] = SZ["ask1Top" + str(i) + 'q'].astype('int32') 
    SZ.drop(["OfferOrders"],axis=1,inplace=True)
    print("8")
    print(datetime.datetime.now() - startTm)
        
    
    startTm = datetime.datetime.now()
    SZ.columns = ['cum_trades_cnt', 'total_bid_quantity', 'total_ask_quantity', 'close',
       'total_ask_vwap', 'cum_amount', 'cum_volume', 'open', 'high',
       'prev_close', 'low', 'total_bid_vwap', 'skey', 'date', 'time',
       'clockAtArrival', 'datetime', 'bid1p', 'bid2p', 'bid3p', 'bid4p',
       'bid5p', 'bid6p', 'bid7p', 'bid8p', 'bid9p', 'bid10p', 'ask1p',
       'ask2p', 'ask3p', 'ask4p', 'ask5p', 'ask6p', 'ask7p', 'ask8p',
       'ask9p', 'ask10p', 'bid1q', 'bid2q', 'bid3q', 'bid4q', 'bid5q',
       'bid6q', 'bid7q', 'bid8q', 'bid9q', 'bid10q', 'ask1q', 'ask2q',
       'ask3q', 'ask4q', 'ask5q', 'ask6q', 'ask7q', 'ask8q', 'ask9q',
       'ask10q', 'bid1n', 'bid2n', 'bid3n', 'bid4n', 'bid5n', 'bid6n',
       'bid7n', 'bid8n', 'bid9n', 'bid10n', 'ask1n', 'ask2n', 'ask3n',
       'ask4n', 'ask5n', 'ask6n', 'ask7n', 'ask8n', 'ask9n', 'ask10n',
       'bid1Top1q', 'bid1Top2q', 'bid1Top3q', 'bid1Top4q', 'bid1Top5q',
       'bid1Top6q', 'bid1Top7q', 'bid1Top8q', 'bid1Top9q', 'bid1Top10q',
       'bid1Top11q', 'bid1Top12q', 'bid1Top13q', 'bid1Top14q',
       'bid1Top15q', 'bid1Top16q', 'bid1Top17q', 'bid1Top18q',
       'bid1Top19q', 'bid1Top20q', 'bid1Top21q', 'bid1Top22q',
       'bid1Top23q', 'bid1Top24q', 'bid1Top25q', 'bid1Top26q',
       'bid1Top27q', 'bid1Top28q', 'bid1Top29q', 'bid1Top30q',
       'bid1Top31q', 'bid1Top32q', 'bid1Top33q', 'bid1Top34q',
       'bid1Top35q', 'bid1Top36q', 'bid1Top37q', 'bid1Top38q',
       'bid1Top39q', 'bid1Top40q', 'bid1Top41q', 'bid1Top42q',
       'bid1Top43q', 'bid1Top44q', 'bid1Top45q', 'bid1Top46q',
       'bid1Top47q', 'bid1Top48q', 'bid1Top49q', 'bid1Top50q',
       'ask1Top1q', 'ask1Top2q', 'ask1Top3q', 'ask1Top4q', 'ask1Top5q',
       'ask1Top6q', 'ask1Top7q', 'ask1Top8q', 'ask1Top9q', 'ask1Top10q',
       'ask1Top11q', 'ask1Top12q', 'ask1Top13q', 'ask1Top14q',
       'ask1Top15q', 'ask1Top16q', 'ask1Top17q', 'ask1Top18q',
       'ask1Top19q', 'ask1Top20q', 'ask1Top21q', 'ask1Top22q',
       'ask1Top23q', 'ask1Top24q', 'ask1Top25q', 'ask1Top26q',
       'ask1Top27q', 'ask1Top28q', 'ask1Top29q', 'ask1Top30q',
       'ask1Top31q', 'ask1Top32q', 'ask1Top33q', 'ask1Top34q',
       'ask1Top35q', 'ask1Top36q', 'ask1Top37q', 'ask1Top38q',
       'ask1Top39q', 'ask1Top40q', 'ask1Top41q', 'ask1Top42q',
       'ask1Top43q', 'ask1Top44q', 'ask1Top45q', 'ask1Top46q',
       'ask1Top47q', 'ask1Top48q', 'ask1Top49q', 'ask1Top50q']
    
    SZ = SZ.fillna(0)
#     SZ["p1"] = SZ["bid1p"] + SZ["ask1p"]
#     tt = SZ[(SZ["cum_volume"] > 0) & (SZ["time"] < 145700000000)].groupby("skey")['p1'].min()
#     SZ.drop("p1", axis=1, inplace=True)
#     try:
#         assert(tt[tt == 0].shape[0] == 0)
#     except:
#         display(tt[tt == 0])
#     SZ = SZ[~((SZ["bid1p"] == 0) & (SZ["ask1p"] == 0))]
    SZ["ordering"] = SZ.groupby("skey").cumcount()
    SZ["ordering"] = SZ["ordering"] + 1

    for cols in ["total_bid_orders",'total_ask_orders','total_bid_levels', 'total_ask_levels', 'bid_trade_max_duration',
                 'ask_trade_max_duration', 'cum_canceled_buy_orders', 'cum_canceled_buy_volume', "cum_canceled_buy_amount",
                 "cum_canceled_sell_orders", 'cum_canceled_sell_volume',"cum_canceled_sell_amount", "has_missing"]:
        SZ[cols] = 0
        
#     for col in ["cum_volume", "total_bid_quantity", "total_ask_quantity",'cum_canceled_buy_volume',
#         'cum_canceled_sell_volume']:
#         SZ[col] = SZ[col].astype('int64')
    
    for col in ["skey", "date", "cum_trades_cnt", "total_bid_orders",
        'total_ask_orders', 'total_bid_levels', 'total_ask_levels', 'cum_canceled_buy_orders','cum_canceled_sell_orders',
            "ordering", 'bid_trade_max_duration', 'ask_trade_max_duration','has_missing']:
        SZ[col] = SZ[col].astype('int32')
    
        
#     for cols in ["prev_close", 'open', "high", "low", "close", 'bid10p','bid9p','bid8p','bid7p','bid6p','bid5p','bid4p','bid3p',
#              'bid2p','bid1p','ask1p','ask2p','ask3p','ask4p','ask5p','ask6p','ask7p','ask8p','ask9p','ask10p', 'total_bid_vwap', "total_ask_vwap",
#                 "cum_amount"]:
# #         SZ[cols] = SZ[cols].apply(lambda x: round(x, 2)).astype('float64')
#         print(cols)
#         print(SZ[cols].astype(str).apply(lambda x: len(str(x.split('.')[1]))).unique())

        
    for cols in ["cum_canceled_sell_amount", "cum_canceled_buy_amount"]:
        SZ[cols] = SZ[cols].astype('float64')

        
    assert(sum(SZ[SZ["open"] != 0].groupby("skey")["open"].nunique() != 1) == 0)
    assert(sum(SZ[SZ["prev_close"] != 0].groupby("skey")["prev_close"].nunique() != 1) == 0)
    SZ["prev_close"] = np.where(SZ["time"] >= 91500000000, SZ.groupby("skey")["prev_close"].transform("max"), SZ["prev_close"]) 
    SZ["open"] = np.where(SZ["cum_volume"] > 0, SZ.groupby("skey")["open"].transform("max"), SZ["open"])
    assert(sum(SZ[SZ["open"] != 0].groupby("skey")["open"].nunique() != 1) == 0)
    assert(sum(SZ[SZ["prev_close"] != 0].groupby("skey")["prev_close"].nunique() != 1) == 0)
    assert(SZ[SZ["cum_volume"] > 0]["open"].min() > 0)
    
    print(datetime.datetime.now() - startTm)
    
    
    # check 1
    startTm = datetime.datetime.now()
    da_te = str(SZ["date"].iloc[0]) 
    da_te = da_te[:4] + '-' + da_te[4:6] + '-' + da_te[6:8]
    db1 = db[db["date"] == da_te]
    db1["ID"] = db1["ID"].str[2:].astype(int) + 2000000
    db1["date"] = (db1["date"].str[:4] + db1["date"].str[5:7] + db1["date"].str[8:]).astype(int)
    SZ["cum_max"] = SZ.groupby("skey")["cum_volume"].transform(max)
    s2 = SZ[SZ["cum_volume"] == SZ["cum_max"]].groupby("skey").first().reset_index()
    SZ.drop("cum_max", axis=1, inplace=True)
    s2 = s2.rename(columns={"skey": "ID", 'open':"d_open", "prev_close":"d_yclose","high":"d_high", "low":"d_low", "close":"d_close", "cum_volume":"d_volume", "cum_amount":"d_amount"})
    s2 = s2[["ID", "date", "d_open", "d_yclose", "d_high", "d_low", "d_close", "d_volume", "d_amount"]]
    re = pd.merge(db1, s2, on=["ID", "date", "d_open", "d_yclose","d_high", "d_low", "d_volume"], how="outer")
    try:
        assert(sum(re["d_amount_y"].isnull()) == 0)
    except:
        display(re[re["d_amount_y"].isnull()])
        wr_ong += [re[re["d_amount_y"].isnull()]]
    del re
    del s2
    del db1
    print(datetime.datetime.now() - startTm)
    
    # check 2
    # first part
    startTm = datetime.datetime.now()
    date = pd.DataFrame(pd.date_range(start='2019-06-10 08:30:00', end='2019-06-10 18:00:00', freq='s'), columns=["Orig"])
    date["time"] = date["Orig"].apply(lambda x: int(x.strftime("%H%M%S"))*1000)
    date["group"] = date["time"]//10000
    SZ["group"] = SZ["time"]//10000000
    gl = date[((date["time"] >= 93000000) & (date["time"] <= 113000000))|((date["time"] >= 130000000) & (date["time"] <= 150000000))]["group"].unique()
    l = set(gl) - set(SZ["group"].unique())
    SZ["has_missing1"] = 0 
    if len(l) != 0:
        print("massive missing")
        print(l)
        SZ["order"] = SZ.groupby(["skey", "time"]).cumcount()
        for i in l:
            SZ["t"] = SZ[SZ["group"] > i].groupby("StockID")["time"].transform("min")
            SZ["has_missing1"] = np.where((SZ["time"] == SZ["t"]) & (SZ["order"] == 0), 1, 0)
        SZ.drop(["order", "t", "group"], axis=1, inplace=True)   
    else:
        print("no massive missing")
        SZ.drop(["group"], axis=1, inplace=True)
    



    # second part

    SZ["time_interval"] = SZ.groupby("skey")["datetime"].apply(lambda x: x - x.shift(1))
    SZ["time_interval"] = SZ["time_interval"].apply(lambda x: x.seconds)
    SZ["tn_update"] = SZ.groupby("skey")["cum_trades_cnt"].apply(lambda x: x-x.shift(1))

    f1 = SZ[(SZ["time"] >= 93000000000) & (SZ["tn_update"] != 0)].groupby("skey")["time"].min().reset_index()
    f1 = f1.rename(columns={"time": "time1"})
    f2 = SZ[(SZ["time"] >= 130000000000) & (SZ["tn_update"] != 0)].groupby("skey")["time"].min().reset_index()
    f2 = f2.rename(columns={"time": "time2"})
    f3 = SZ[(SZ["time"] >= 150000000000) & (SZ["tn_update"] != 0)].groupby("skey")["time"].min().reset_index()
    f3 = f3.rename(columns={"time": "time3"})
    SZ = pd.merge(SZ, f1, on="skey", how="left")
    del f1
    SZ = pd.merge(SZ, f2, on="skey", how="left")
    del f2
    SZ = pd.merge(SZ, f3, on="skey", how="left")
    del f3
    p99 = SZ[(SZ["time"] > 93000000000) & (SZ["time"] < 145700000000) & (SZ["time"] != SZ["time2"]) & (SZ["tn_update"] != 0)]\
    .groupby("skey")["tn_update"].apply(lambda x: x.describe([0.99])["99%"]).reset_index()
    p99 = p99.rename(columns={"tn_update":"99%"})
    SZ = pd.merge(SZ, p99, on="skey", how="left")

    SZ["has_missing2"] = 0
    SZ["has_missing2"] = np.where((SZ["time_interval"] > 60) & (SZ["tn_update"] > SZ["99%"]) & 
         (SZ["time"] > SZ["time1"]) & (SZ["time"] != SZ["time2"]) & (SZ["time"] != SZ["time3"])& (SZ["time"] != 100000000000), 1, 0)
    SZ.drop(["time_interval", "tn_update", "time1", "time2", "time3", "99%"], axis=1, inplace=True) 

    SZ["has_missing"] = np.where((SZ["has_missing1"] == 1) | (SZ["has_missing2"] == 1), 1, 0)
    SZ.drop(["has_missing1", "has_missing2"], axis=1, inplace=True) 
    if SZ[SZ["has_missing"] == 1].shape[0] != 0:
        print("has missing!!!!!!!!!!!!!!!!!!!!!!!")
        print(SZ[SZ["has_missing"] == 1].shape[0])
        mi_ss += [SZ[SZ["has_missing"] == 1]]
    print(datetime.datetime.now() - startTm)

    
    
    startTm = datetime.datetime.now()
    SZ["has_missing"] = SZ["has_missing"].astype('int32')
    SZ = SZ[["skey", "date", "time", "clockAtArrival", "datetime", "ordering", "has_missing", "cum_trades_cnt", "cum_volume", "cum_amount", "prev_close",
                            "open", "high", "low", "close", 'bid10p','bid9p','bid8p','bid7p','bid6p','bid5p','bid4p','bid3p','bid2p','bid1p',
                            'ask1p','ask2p','ask3p','ask4p','ask5p','ask6p','ask7p','ask8p','ask9p','ask10p', 'bid10q','bid9q','bid8q',
                             'bid7q','bid6q','bid5q','bid4q','bid3q','bid2q','bid1q', 'ask1q','ask2q','ask3q','ask4q','ask5q','ask6q',
                             'ask7q','ask8q','ask9q','ask10q', 'bid10n', 'bid9n', 'bid8n', 'bid7n', 'bid6n', 'bid5n', 'bid4n', 'bid3n', 'bid2n', 'bid1n', 
                             'ask1n', 'ask2n', 'ask3n', 'ask4n', 'ask5n', 'ask6n','ask7n', 'ask8n', 'ask9n', 'ask10n','bid1Top1q','bid1Top2q','bid1Top3q','bid1Top4q','bid1Top5q','bid1Top6q',
        'bid1Top7q','bid1Top8q','bid1Top9q','bid1Top10q','bid1Top11q','bid1Top12q','bid1Top13q','bid1Top14q','bid1Top15q','bid1Top16q','bid1Top17q','bid1Top18q',
        'bid1Top19q','bid1Top20q','bid1Top21q','bid1Top22q','bid1Top23q','bid1Top24q','bid1Top25q','bid1Top26q','bid1Top27q','bid1Top28q','bid1Top29q',
        'bid1Top30q','bid1Top31q','bid1Top32q','bid1Top33q','bid1Top34q','bid1Top35q','bid1Top36q','bid1Top37q','bid1Top38q','bid1Top39q','bid1Top40q',
        'bid1Top41q','bid1Top42q','bid1Top43q','bid1Top44q','bid1Top45q','bid1Top46q','bid1Top47q','bid1Top48q','bid1Top49q','bid1Top50q', 'ask1Top1q',
        'ask1Top2q','ask1Top3q','ask1Top4q','ask1Top5q','ask1Top6q','ask1Top7q','ask1Top8q','ask1Top9q','ask1Top10q','ask1Top11q','ask1Top12q','ask1Top13q',
        'ask1Top14q','ask1Top15q','ask1Top16q','ask1Top17q','ask1Top18q','ask1Top19q','ask1Top20q','ask1Top21q','ask1Top22q','ask1Top23q',
        'ask1Top24q','ask1Top25q','ask1Top26q','ask1Top27q','ask1Top28q','ask1Top29q','ask1Top30q','ask1Top31q','ask1Top32q','ask1Top33q',
        'ask1Top34q','ask1Top35q','ask1Top36q','ask1Top37q','ask1Top38q','ask1Top39q','ask1Top40q','ask1Top41q','ask1Top42q','ask1Top43q',
        'ask1Top44q','ask1Top45q','ask1Top46q','ask1Top47q','ask1Top48q','ask1Top49q','ask1Top50q',"total_bid_quantity", "total_ask_quantity","total_bid_vwap", "total_ask_vwap",
        "total_bid_orders",'total_ask_orders','total_bid_levels', 'total_ask_levels', 'bid_trade_max_duration', 'ask_trade_max_duration', 'cum_canceled_buy_orders', 'cum_canceled_buy_volume',
        "cum_canceled_buy_amount", "cum_canceled_sell_orders", 'cum_canceled_sell_volume',"cum_canceled_sell_amount"]]
    
    display(SZ["date"].iloc[0])
    print("SZ finished")
    
    
    database_name = 'com_md_eq_cn'
    user = "zhenyuy"
    password = "bnONBrzSMGoE"

    db1 = DB("192.168.10.223", database_name, user, password)
    db1.write('md_snapshot_l2', SZ)
    
    del SZ
    print(datetime.datetime.now() - startTm)

wr_ong = pd.concat(wr_ong).reset_index(drop=True)
print(wr_ong)
mi_ss = pd.concat(mi_ss).reset_index(drop=True)
print(mi_ss)

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:203: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.

0:05:38.213641
0:00:35.747246
20171123 unzip finished
0:00:50.270602
0:01:35.857857
1
2
3
4
5
6
7
8
0:13:12.885878
0:00:38.952311

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
904,2001914,20171123,10.24,10.47,10.15,10.18,10.25,0.986228,-0.006829,-0.040528,-0.025613,-0.023068,4526427.0,46704223.86,0.006788,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:07.433261
no massive missing
0:03:07.851203

20171123

SZ finished
0:01:11.100481
0:00:40.988667
20171124 unzip finished
0:00:51.525340
0:01:40.762833
1
2
3
4
5
6
7
8
0:11:38.256093
0:00:36.203862

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
908,2001914,20171124,10.2,10.38,10.12,10.3,10.18,0.986228,0.011788,-0.016237,0.000561,0.001473,2090503.0,21412678.67,0.003135,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:06.757335
no massive missing
0:02:28.489685

20171124

SZ finished
0:01:07.769079
0:00:40.811458
20171127 unzip finished
0:00:49.163244
0:01:34.968318
1
2
3
4
5
6
7
8
0:11:55.816764
0:00:34.091815

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
912,2001914,20171127,10.3,10.35,10.17,10.29,10.3,0.986228,-0.000971,0.003902,-0.013297,-0.010325,1764542.0,18100755.0,0.002646,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.262969
no massive missing
0:02:34.515957

20171127

SZ finished
0:01:18.630297
0:00:40.614811
20171128 unzip finished
0:00:51.867666
0:01:39.980565
1
2
3
4
5
6
7
8
0:12:05.657366
0:00:33.849498

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
907,2001914,20171128,10.29,10.38,10.26,10.35,10.29,0.986228,0.005831,0.01272,0.016912,0.015721,1521500.0,15705687.0,0.002282,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.370254
no massive missing
0:02:25.038723

20171128

SZ finished
0:01:04.599526
0:00:42.574528
20171129 unzip finished
0:00:52.221523
0:01:41.355918
1
2
3
4
5
6
7
8
0:12:42.626501
0:00:35.898182

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
910,2001914,20171129,10.3,10.34,10.15,10.26,10.35,0.986228,-0.008696,0.000976,0.003025,0.002257,2216100.0,22660742.0,0.003324,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.466798
no massive missing
0:02:36.262149

20171129

SZ finished
0:01:07.806867
0:00:38.835838
20171130 unzip finished
0:00:47.892732
0:01:37.124697
1
2
3
4
5
6
7
8
0:11:49.909849
0:00:31.687680

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
904,2001914,20171130,10.3,10.3,10.15,10.25,10.26,0.986228,-0.000975,0.006876,-0.008696,-0.005498,2614868.0,26736574.78,0.003922,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.173487
no massive missing
0:02:30.682143

20171130

SZ finished
0:01:03.527828
0:00:40.429692
20171201 unzip finished
0:00:55.541195
0:01:48.569635
1
2
3
4
5
6
7
8
0:11:47.005843
0:00:34.838556

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
903,2001914,20171201,10.25,10.44,10.2,10.44,10.25,0.986228,0.018537,0.013592,0.00846,0.008695,3134288.0,32287343.58,0.004701,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.506913
no massive missing
0:02:28.295184

20171201

SZ finished
0:01:06.117527
0:00:42.632069
20171204 unzip finished
0:00:54.478509
0:01:42.659001
1
2
3
4
5
6
7
8
0:12:16.063590
0:00:34.466763

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
901,2001914,20171204,10.44,10.46,10.24,10.28,10.44,0.986228,-0.015326,-0.000972,-0.005824,-0.010536,2112000.0,21856506.0,0.003167,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.519154
no massive missing
0:02:26.000749

20171204

SZ finished
0:01:04.445497
0:00:43.253967
20171205 unzip finished
0:00:51.318882
0:01:50.488941
1
2
3
4
5
6
7
8
0:13:00.877757
0:00:36.470133

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
902,2001914,20171205,10.28,10.37,10.05,10.05,10.28,0.986228,-0.022374,-0.028986,-0.023363,-0.027059,2997591.0,30489668.55,0.004496,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.645388
no massive missing
0:02:55.467994

20171205

SZ finished
0:01:08.234914
0:00:40.612134
20171206 unzip finished
0:00:48.651585
0:01:36.727597
1
2
3
4
5
6
7
8
0:11:48.354728
0:00:33.576453

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
902,2001914,20171206,10.08,10.15,9.94,10.1,10.05,0.986228,0.004975,-0.015595,0.006504,0.010107,2803800.0,28088576.0,0.004205,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.292340
no massive missing
0:02:34.252875

20171206

SZ finished
0:01:13.613498
0:00:39.759892
20171207 unzip finished
0:00:47.508231
0:01:37.501457
1
2
3
4
5
6
7
8
0:11:42.365135
0:00:37.880515

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
899,2001914,20171207,10.12,10.15,10.03,10.09,10.1,0.986228,-0.00099,-0.01561,-0.006048,-0.000578,1417238.0,14304712.04,0.002125,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.343698
no massive missing
0:02:26.653672

20171207

SZ finished
0:01:11.382019
0:00:40.018713
20171208 unzip finished
0:00:52.035442
0:01:39.478919
1
2
3
4
5
6
7
8
0:12:30.283373
0:00:34.992247

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
903,2001914,20171208,10.12,10.26,10.07,10.2,10.09,0.986228,0.010902,-0.022989,0.01103,0.009311,2155000.0,21982277.0,0.003232,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.572608
no massive missing
0:02:40.011326

20171208

SZ finished
0:01:13.438536
0:00:39.313401
20171211 unzip finished
0:00:49.918953
0:01:49.667284
1
2
3
4
5
6
7
8
0:12:13.920454
0:00:35.925312

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
901,2001914,20171211,10.21,10.23,10.02,10.15,10.2,0.986228,-0.004902,-0.012646,0.013384,0.011645,2078884.0,21150207.6,0.003118,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.390756
no massive missing
0:02:23.226072

20171211

SZ finished
0:01:11.960659
0:00:39.786856
20171212 unzip finished
0:00:50.637823
0:01:40.125394
1
2
3
4
5
6
7
8
0:11:41.369412
0:00:31.374100

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
901,2001914,20171212,10.1,10.23,10.07,10.11,10.15,0.986228,-0.003941,0.00597,-0.008424,-0.009054,2340800.0,23680279.0,0.003511,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.296729
no massive missing
0:02:27.003861

20171212

SZ finished
0:01:07.968680
0:00:39.879211
20171213 unzip finished
0:00:47.921316
0:01:34.454208
1
2
3
4
5
6
7
8
0:11:26.700339
0:00:31.182171

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
900,2001914,20171213,10.14,10.14,10.04,10.08,10.11,0.986228,-0.002967,-0.00198,0.007096,0.006218,1897477.0,19136434.08,0.002846,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.219374
no massive missing
0:02:12.667988

20171213

SZ finished
0:01:10.956360
0:00:41.838034
20171214 unzip finished
0:00:48.331740
0:01:35.486939
1
2
3
4
5
6
7
8
0:11:26.232329
0:00:35.083263

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
904,2001914,20171214,10.02,10.12,10.0,10.07,10.08,0.986228,-0.000992,-0.001982,0.001058,0.000943,2612704.0,26333335.28,0.003918,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.218274
no massive missing
0:02:20.764027

20171214

SZ finished
0:01:13.880546
0:00:40.526975
20171215 unzip finished
0:00:48.908222
0:01:35.798030
1
2
3
4
5
6
7
8
0:11:47.913257
0:00:33.817379

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
909,2001914,20171215,10.1,10.17,10.01,10.02,10.07,0.986228,-0.004965,-0.017647,-0.007689,-0.003317,1998104.0,20137227.04,0.002997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.449872
no massive missing
0:02:30.591549

20171215

SZ finished
0:01:03.743031
0:00:37.457822
20171218 unzip finished
0:00:46.974964
0:01:35.921310
1
2
3
4
5
6
7
8
0:11:34.432221
0:00:31.386082

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
907,2001914,20171218,10.0,10.0,9.71,9.72,10.02,0.986228,-0.02994,-0.042365,-0.005737,-0.006582,3596368.0,35525879.84,0.005394,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.001136
no massive missing
0:02:25.508832

20171218

SZ finished
0:01:10.702008
0:00:41.518430
20171219 unzip finished
0:00:48.696017
0:01:35.132795
1
2
3
4
5
6
7
8
0:11:41.138666
0:00:31.043595

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
909,2001914,20171219,9.72,9.8,9.62,9.78,9.72,0.986228,0.006173,-0.032641,0.008267,0.005651,2015906.0,19612522.84,0.003023,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.937804
no massive missing
0:02:17.849002

20171219

SZ finished
0:01:10.864250
0:00:44.190794
20171220 unzip finished
0:00:54.076929
0:01:38.938335
1
2
3
4
5
6
7
8
0:12:04.296564
0:00:32.173934

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
909,2001914,20171220,9.69,9.79,9.5,9.71,9.78,0.986228,-0.007157,-0.036706,-0.008299,-0.010449,2228501.0,21556601.68,0.003342,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.294687
no massive missing
0:02:20.232191

20171220

SZ finished
0:01:06.217515
0:00:41.769794
20171221 unzip finished
0:00:52.342656
0:01:41.433625
1
2
3
4
5
6
7
8
0:12:24.171393
0:00:33.995014

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
908,2001914,20171221,9.71,10.17,9.71,9.88,9.71,0.986228,0.017508,-0.018868,0.006313,0.001397,3573600.0,35667347.0,0.005359,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.290349
no massive missing
0:02:34.989350

20171221

SZ finished
0:01:19.664696
0:00:39.390225
20171222 unzip finished
0:00:49.792445
0:01:34.585938
1
2
3
4
5
6
7
8
0:11:09.143608
0:00:31.702245

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
909,2001914,20171222,9.84,9.95,9.81,9.85,9.88,0.986228,-0.003036,-0.016966,0.000703,-0.001977,1456000.0,14363022.0,0.002184,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:05.354540
no massive missing
0:02:15.779577

20171222

SZ finished
0:01:20.162777
0:00:46.408456
20171225 unzip finished
0:00:54.823634
0:01:49.267994
1
2
3
4
5
6
7
8
0:11:31.016046
0:00:33.742180

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
909,2001914,20171225,9.73,9.92,9.62,9.87,9.85,0.986228,0.00203,0.015432,-0.009177,-0.013767,2206569.0,21560493.63,0.003309,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.595373
no massive missing
0:02:22.020013

20171225

SZ finished
0:01:08.784515
0:00:38.498844
20171226 unzip finished
0:00:47.771978
0:01:37.517860
1
2
3
4
5
6
7
8
0:11:27.453484
0:00:37.918312

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
910,2001914,20171226,9.97,9.97,9.72,9.8,9.87,0.986228,-0.007092,0.002045,0.005587,0.004356,1762184.0,17279156.36,0.002643,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.633660
no massive missing
0:02:26.718669

20171226

SZ finished
0:01:06.862768
0:00:40.346347
20171227 unzip finished
0:00:53.092839
0:01:46.266372
1
2
3
4
5
6
7
8
0:11:55.550876
0:00:33.844357

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
907,2001914,20171227,9.79,9.86,9.7,9.77,9.8,0.986228,-0.003061,0.006179,-0.007555,-0.004046,1361300.0,13302084.0,0.002042,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.312390
no massive missing
0:02:38.737654

20171227

SZ finished
0:01:01.122057
0:00:38.377725
20171228 unzip finished
0:00:51.033576
0:01:36.119410
1
2
3
4
5
6
7
8
0:11:50.413516
0:00:34.610273

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
906,2001914,20171228,9.71,9.8,9.66,9.66,9.77,0.986228,-0.011259,-0.022267,0.005041,0.002008,1564510.0,15210290.2,0.002346,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.433908
no massive missing
0:02:35.983867

20171228

SZ finished
0:01:26.489528
0:00:39.479841
20171229 unzip finished
0:00:51.733870
0:01:39.773619
1
2
3
4
5
6
7
8
0:11:46.567976
0:00:32.247170

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
905,2001914,20171229,9.7,9.78,9.65,9.71,9.66,0.986228,0.005176,-0.014213,0.007503,0.00875,1554831.0,15089488.97,0.002332,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.279475
no massive missing
0:02:18.954112

20171229

SZ finished
0:01:16.148422
         ID      date  d_open  d_high  d_low  d_close_x  d_yclose  \
0   2001914  20171123   10.24   10.47  10.15      10.18     10.25
1   2001914  20171124   10.20   10.38  10.12      10.30     10.18
2   2001914  20171127   10.30   10.35  10.17      10.29     10.30
3   2001914  20171128   10.29   10.38  10.26      10.35     10.29
4   2001914  20171129   10.30   10.34  10.15      10.26     10.35
5   2001914  20171130   10.30   10.30  10.15      10.25     10.26
6   2001914  20171201   10.25   10.44  10.20      10.44     10.25
7   2001914  20171204   10.44   10.46  10.24      10.28     10.44
8   2001914  20171205   10.28   10.37  10.05      10.05     10.28
9   2001914  20171206   10.08   10.15   9.94      10.10     10.05
10  2001914  20171207   10.12   10.15  10.03      10.09     10.10
11  2001914  20171208   10.12   10.26  10.07      10.20     10.09
12  2001914  20171211   10.21   10.23  10.02      10.15     10.20
13  2001914  20171212   10.10   10.23  10.07      10.11     10.15
14  2001914  20171213   10.14   10.14  10.04      10.08     10.11
15  2001914  20171214   10.02   10.12  10.00      10.07     10.08
16  2001914  20171215   10.10   10.17  10.01      10.02     10.07
17  2001914  20171218   10.00   10.00   9.71       9.72     10.02
18  2001914  20171219    9.72    9.80   9.62       9.78      9.72
19  2001914  20171220    9.69    9.79   9.50       9.71      9.78
20  2001914  20171221    9.71   10.17   9.71       9.88      9.71
21  2001914  20171222    9.84    9.95   9.81       9.85      9.88
22  2001914  20171225    9.73    9.92   9.62       9.87      9.85
23  2001914  20171226    9.97    9.97   9.72       9.80      9.87
24  2001914  20171227    9.79    9.86   9.70       9.77      9.80
25  2001914  20171228    9.71    9.80   9.66       9.66      9.77
26  2001914  20171229    9.70    9.78   9.65       9.71      9.66

    d_cumprodCAA  d_dayReturn  d_5dayReturn  d_ICDayReturn  d_CSIDayReturn  \
0       0.986228    -0.006829     -0.040528      -0.025613       -0.023068
1       0.986228     0.011788     -0.016237       0.000561        0.001473
2       0.986228    -0.000971      0.003902      -0.013297       -0.010325
3       0.986228     0.005831      0.012720       0.016912        0.015721
4       0.986228    -0.008696      0.000976       0.003025        0.002257
5       0.986228    -0.000975      0.006876      -0.008696       -0.005498
6       0.986228     0.018537      0.013592       0.008460        0.008695
7       0.986228    -0.015326     -0.000972      -0.005824       -0.010536
8       0.986228    -0.022374     -0.028986      -0.023363       -0.027059
9       0.986228     0.004975     -0.015595       0.006504        0.010107
10      0.986228    -0.000990     -0.015610      -0.006048       -0.000578
11      0.986228     0.010902     -0.022989       0.011030        0.009311
12      0.986228    -0.004902     -0.012646       0.013384        0.011645
13      0.986228    -0.003941      0.005970      -0.008424       -0.009054
14      0.986228    -0.002967     -0.001980       0.007096        0.006218
15      0.986228    -0.000992     -0.001982       0.001058        0.000943
16      0.986228    -0.004965     -0.017647      -0.007689       -0.003317
17      0.986228    -0.029940     -0.042365      -0.005737       -0.006582
18      0.986228     0.006173     -0.032641       0.008267        0.005651
19      0.986228    -0.007157     -0.036706      -0.008299       -0.010449
20      0.986228     0.017508     -0.018868       0.006313        0.001397
21      0.986228    -0.003036     -0.016966       0.000703       -0.001977
22      0.986228     0.002030      0.015432      -0.009177       -0.013767
23      0.986228    -0.007092      0.002045       0.005587        0.004356
24      0.986228    -0.003061      0.006179      -0.007555       -0.004046
25      0.986228    -0.011259     -0.022267       0.005041        0.002008
26      0.986228     0.005176     -0.014213       0.007503        0.008750

     d_volume   d_amount_x    TORate  allZT  hasZT  isZT  allDT  hasDT  isDT  \
0   4526427.0  46704223.86  0.006788    0.0    0.0   0.0    0.0    0.0   0.0
1   2090503.0  21412678.67  0.003135    0.0    0.0   0.0    0.0    0.0   0.0
2   1764542.0  18100755.00  0.002646    0.0    0.0   0.0    0.0    0.0   0.0
3   1521500.0  15705687.00  0.002282    0.0    0.0   0.0    0.0    0.0   0.0
4   2216100.0  22660742.00  0.003324    0.0    0.0   0.0    0.0    0.0   0.0
5   2614868.0  26736574.78  0.003922    0.0    0.0   0.0    0.0    0.0   0.0
6   3134288.0  32287343.58  0.004701    0.0    0.0   0.0    0.0    0.0   0.0
7   2112000.0  21856506.00  0.003167    0.0    0.0   0.0    0.0    0.0   0.0
8   2997591.0  30489668.55  0.004496    0.0    0.0   0.0    0.0    0.0   0.0
9   2803800.0  28088576.00  0.004205    0.0    0.0   0.0    0.0    0.0   0.0
10  1417238.0  14304712.04  0.002125    0.0    0.0   0.0    0.0    0.0   0.0
11  2155000.0  21982277.00  0.003232    0.0    0.0   0.0    0.0    0.0   0.0
12  2078884.0  21150207.60  0.003118    0.0    0.0   0.0    0.0    0.0   0.0
13  2340800.0  23680279.00  0.003511    0.0    0.0   0.0    0.0    0.0   0.0
14  1897477.0  19136434.08  0.002846    0.0    0.0   0.0    0.0    0.0   0.0
15  2612704.0  26333335.28  0.003918    0.0    0.0   0.0    0.0    0.0   0.0
16  1998104.0  20137227.04  0.002997    0.0    0.0   0.0    0.0    0.0   0.0
17  3596368.0  35525879.84  0.005394    0.0    0.0   0.0    0.0    0.0   0.0
18  2015906.0  19612522.84  0.003023    0.0    0.0   0.0    0.0    0.0   0.0
19  2228501.0  21556601.68  0.003342    0.0    0.0   0.0    0.0    0.0   0.0
20  3573600.0  35667347.00  0.005359    0.0    0.0   0.0    0.0    0.0   0.0
21  1456000.0  14363022.00  0.002184    0.0    0.0   0.0    0.0    0.0   0.0
22  2206569.0  21560493.63  0.003309    0.0    0.0   0.0    0.0    0.0   0.0
23  1762184.0  17279156.36  0.002643    0.0    0.0   0.0    0.0    0.0   0.0
24  1361300.0  13302084.00  0.002042    0.0    0.0   0.0    0.0    0.0   0.0
25  1564510.0  15210290.20  0.002346    0.0    0.0   0.0    0.0    0.0   0.0
26  1554831.0  15089488.97  0.002332    0.0    0.0   0.0    0.0    0.0   0.0

    tmrHalted  haltedDays  marketShares  totalShares  d_close_y  d_amount_y
0         0.0         0.0   666780666.0  666961416.0        NaN         NaN
1         0.0         0.0   666780666.0  666961416.0        NaN         NaN
2         0.0         0.0   666780666.0  666961416.0        NaN         NaN
3         0.0         0.0   666780666.0  666961416.0        NaN         NaN
4         0.0         0.0   666780666.0  666961416.0        NaN         NaN
5         0.0         0.0   666780666.0  666961416.0        NaN         NaN
6         0.0         0.0   666780666.0  666961416.0        NaN         NaN
7         0.0         0.0   666780666.0  666961416.0        NaN         NaN
8         0.0         0.0   666780666.0  666961416.0        NaN         NaN
9         0.0         0.0   666780666.0  666961416.0        NaN         NaN
10        0.0         0.0   666780666.0  666961416.0        NaN         NaN
11        0.0         0.0   666780666.0  666961416.0        NaN         NaN
12        0.0         0.0   666780666.0  666961416.0        NaN         NaN
13        0.0         0.0   666780666.0  666961416.0        NaN         NaN
14        0.0         0.0   666780666.0  666961416.0        NaN         NaN
15        0.0         0.0   666780666.0  666961416.0        NaN         NaN
16        0.0         0.0   666780666.0  666961416.0        NaN         NaN
17        0.0         0.0   666780666.0  666961416.0        NaN         NaN
18        0.0         0.0   666780666.0  666961416.0        NaN         NaN
19        0.0         0.0   666780666.0  666961416.0        NaN         NaN
20        0.0         0.0   666780666.0  666961416.0        NaN         NaN
21        0.0         0.0   666780666.0  666961416.0        NaN         NaN
22        0.0         0.0   666780666.0  666961416.0        NaN         NaN
23        0.0         0.0   666780666.0  666961416.0        NaN         NaN
24        0.0         0.0   666780666.0  666961416.0        NaN         NaN
25        0.0         0.0   666780666.0  666961416.0        NaN         NaN
26        0.0         0.0   666780666.0  666961416.0        NaN         NaN

ValueError: No objects to concatenate

In [1]:
import pymongo
import pandas as pd
import pickle
import datetime
import time
import gzip
import lzma
import pytz

class DB(object):
    def __init__(self, uri, symbol_column='skey'):
        self.db_name = 'white_db'
        user, passwd, host = self.parse_uri(uri)
        auth_db = 'admin' if user in ('admin', 'root') else self.db_name
        self.uri = 'mongodb://%s:%s@%s/?authSource=%s' % (user, passwd, host, auth_db)

        self.client = pymongo.MongoClient(self.uri)
        self.db = self.client[self.db_name]
        self.chunk_size = 20000
        self.symbol_column = symbol_column
        self.date_column = 'date'

    def parse_uri(self, uri):
        # mongodb://user:password@example.com
        return uri.strip().replace('mongodb://', '').strip('/').replace(':', ' ').replace('@', ' ').split(' ')

    def drop_table(self, table_name):
        self.db.drop_collection(table_name)

    def rename_table(self, old_table, new_table):
        self.db[old_table].rename(new_table)

    def write(self, table_name, df):
        if len(df) == 0: return

        multi_date = False

        if self.date_column in df.columns:
            date = str(df.head(1)[self.date_column].iloc[0])
            multi_date = len(df[self.date_column].unique()) > 1
        else:
            raise Exception('DataFrame should contain date column')

        collection = self.db[table_name]
        collection.create_index([('date', pymongo.ASCENDING), ('symbol', pymongo.ASCENDING)], background=True)
        collection.create_index([('symbol', pymongo.ASCENDING), ('date', pymongo.ASCENDING)], background=True)

        if multi_date:
            for (date, symbol), sub_df in df.groupby([self.date_column, self.symbol_column]):
                date = str(date)
                symbol = int(symbol)
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)
        else:
            for symbol, sub_df in df.groupby([self.symbol_column]):
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)

    def write_single(self, collection, date, symbol, df):
        for start in range(0, len(df), self.chunk_size):
            end = min(start + self.chunk_size, len(df))
            df_seg = df[start:end]
            version = 1
            seg = {'ver': version, 'data': self.ser(df_seg, version), 'date': date, 'symbol': symbol, 'start': start}
            collection.insert_one(seg)

    def build_query(self, start_date=None, end_date=None, symbol=None):
        query = {}

        def parse_date(x):
            if type(x) == str:
                if len(x) != 8:
                    raise Exception("`date` must be YYYYMMDD format")
                return x
            elif type(x) == datetime.datetime or type(x) == datetime.date:
                return x.strftime("%Y%m%d")
            elif type(x) == int:
                return parse_date(str(x))
            else:
                raise Exception("invalid `date` type: " + str(type(x)))

        if start_date is not None or end_date is not None:
            query['date'] = {}
            if start_date is not None:
                query['date']['$gte'] = parse_date(start_date)
            if end_date is not None:
                query['date']['$lte'] = parse_date(end_date)

        def parse_symbol(x):
            if type(x) == int:
                return x
            else:
                return int(x)

        if symbol:
            if type(symbol) == list or type(symbol) == tuple:
                query['symbol'] = {'$in': [parse_symbol(x) for x in symbol]}
            else:
                query['symbol'] = parse_symbol(symbol)

        return query

    def delete(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot delete the whole table')
            return None

        collection.delete_many(query)

    def read(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot read the whole table')
            return None

        segs = []
        for x in collection.find(query):
            x['data'] = self.deser(x['data'], x['ver'])
            segs.append(x)
        segs.sort(key=lambda x: (x['symbol'], x['date'], x['start']))
        return pd.concat([x['data'] for x in segs], ignore_index=True) if segs else None

    def list_tables(self):
        return self.db.collection_names()

    def list_dates(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]
        dates = set()
        if start_date is None:
            start_date = '00000000'
        if end_date is None:
            end_date = '99999999'
        for x in collection.find(self.build_query(start_date, end_date, symbol), {"date": 1, '_id': 0}):
            dates.add(x['date'])
        return sorted(list(dates))

    def ser(self, s, version):
        if version == 1:
            return gzip.compress(pickle.dumps(s), compresslevel=2)
        elif version == 2:
            return lzma.compress(pickle.dumps(s), preset=1)
        else:
            raise Exception('unknown version')

    def deser(self, s, version):
        def unpickle(s):
            return pickle.loads(s)

        if version == 1:
            return unpickle(gzip.decompress(s))
        elif version == 2:
            return unpickle(lzma.decompress(s))
        else:
            raise Exception('unknown version')












import pandas as pd
import random
import numpy as np
import glob
import os
import pickle
import datetime
import time
pd.set_option("max_columns", 200)

startTm = datetime.datetime.now()
readPath = '/home/work516/day_stock/***'
dataPathLs = np.array(glob.glob(readPath))
dataPathLs = dataPathLs[[np.array([os.path.basename(i).split('.')[0][:2] == 'SZ' for i in dataPathLs])]]
db = pd.DataFrame()
for p in dataPathLs:
    dayData = pd.read_csv(p, compression='gzip')
    db = pd.concat([db, dayData])
print(datetime.datetime.now() - startTm)

year = "2018"
startDate = '20180102'
endDate = '20180731'
readPath = '/mnt/usb/' + year + '/***/***'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([os.path.basename(i).split('_')[0] for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]
date_list = pd.read_csv("/home/work516/KR_upload_code/trading_days.csv")
wr_ong = []
mi_ss = []
less = []

for data in dataPathLs:    
    
    if len(np.array(glob.glob(data + '/SZ/***'))) == 0:
        if int(os.path.basename(data)) not in date_list["Date"].values:
            continue
        else:
            print(os.path.basename(data) + " less data!!!!!!!!!!!!!!!!!")
            less.append(data)
            continue
    startTm = datetime.datetime.now()
    date = os.path.basename(data)
    rar_path = data + '/SZ/snapshot.7z'
    path = '/mnt/e/unzip_data/2018/SZ'
    path1 = path + '/' + date
    un_path = path1
    cmd = '7za x {} -o{}'.format(rar_path, un_path)
    os.system(cmd)
    print(datetime.datetime.now() - startTm)
    print(date + ' unzip finished')
    
    readPath = path1 + '/snapshot/***2/***'
    dataPathLs = np.array(glob.glob(readPath))
    dateLs = np.array([int(os.path.basename(i).split('.')[0]) for i in dataPathLs])
    dataPathLs = dataPathLs[(dateLs < 4000) | ((dateLs > 300000) & (dateLs < 310000))]
    SZ = []
    ll = []
    startTm = datetime.datetime.now()
    for i in dataPathLs:
        try:
            df = pd.read_csv(i, usecols = [0,1,4,5,6,7,9,12,17,18,19,24,25,26,28,29,30,32,33,34,35])
        except:
            print("empty data")
            print(i)
            ll.append(int(os.path.basename(i).split('.')[0]))
            continue
        df["StockID"] = int(os.path.basename(i).split('.')[0])
        SZ += [df]
    del df
    SZ = pd.concat(SZ).reset_index(drop=True)
    print(datetime.datetime.now() - startTm)
    
    startTm = datetime.datetime.now()
    SZ["skey"] = SZ["StockID"] + 2000000
    SZ.drop(["StockID"],axis=1,inplace=True)
    SZ["date"] = int(SZ["QuotTime"].iloc[0]//1000000000)
    SZ["time"] = (SZ['QuotTime'] - int(SZ['QuotTime'].iloc[0]//1000000000*1000000000)).astype(np.int64) * 1000
    SZ["clockAtArrival"] = SZ["QuotTime"].astype(str).apply(lambda x: np.int64(datetime.datetime.strptime(x, '%Y%m%d%H%M%S%f').timestamp()*1e6))
    SZ['datetime'] = SZ["clockAtArrival"].apply(lambda x: datetime.datetime.fromtimestamp(x/1e6))
    SZ.drop(["QuotTime"],axis=1,inplace=True)
    print(datetime.datetime.now() - startTm)
    
    startTm = datetime.datetime.now()
    SZ["BidPrice"] = SZ["BidPrice"].apply(lambda x: [float(i) for i in x[1:-1].split(',')])
    SZ["OfferPrice"] = SZ["OfferPrice"].apply(lambda x: [float(i) for i in x[1:-1].split(',')])
    SZ["BidOrderQty"] = SZ["BidOrderQty"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["OfferOrderQty"] = SZ["OfferOrderQty"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["BidNumOrders"] = SZ["BidNumOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["OfferNumOrders"] = SZ["OfferNumOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])

    for i in range(1, 11):
        SZ["bid" + str(i) + 'p'] = SZ["BidPrice"].apply(lambda x: x[i-1],2)
    SZ.drop(["BidPrice"],axis=1,inplace=True)
    print("1")
    for i in range(1, 11):
        SZ["ask" + str(i) + 'p'] = SZ["OfferPrice"].apply(lambda x: x[i-1],2)
    SZ.drop(["OfferPrice"],axis=1,inplace=True)
    print("2")
    for i in range(1, 11):
        SZ["bid" + str(i) + 'q'] = SZ["BidOrderQty"].apply(lambda x: x[i-1])
    SZ.drop(["BidOrderQty"],axis=1,inplace=True)
    print("3")
    for i in range(1, 11):
        SZ["ask" + str(i) + 'q'] = SZ["OfferOrderQty"].apply(lambda x: x[i-1])
    SZ.drop(["OfferOrderQty"],axis=1,inplace=True)
    print("4")
    for i in range(1, 11):
        SZ["bid" + str(i) + 'n'] = SZ["BidNumOrders"].apply(lambda x: x[i-1])
        SZ["bid" + str(i) + 'n'] = SZ["bid" + str(i) + 'n'].astype('int32')
    SZ.drop(["BidNumOrders"],axis=1,inplace=True)
    print("5")
    for i in range(1, 11):
        SZ["ask" + str(i) + 'n'] = SZ["OfferNumOrders"].apply(lambda x: x[i-1])
        SZ["ask" + str(i) + 'n'] = SZ["ask" + str(i) + 'n'].astype('int32') 
    SZ.drop(["OfferNumOrders"],axis=1,inplace=True)
    print("6")
    
    SZ["BidOrders"] = SZ["BidOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["OfferOrders"] = SZ["OfferOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])

    for i in range(1, 51):
        SZ["bid1Top" + str(i) + 'q'] = SZ["BidOrders"].apply(lambda x: x[i-1])
        SZ["bid1Top" + str(i) + 'q'] = SZ["bid1Top" + str(i) + 'q'].astype('int32') 
    SZ.drop(["BidOrders"],axis=1,inplace=True)
    print("7")
    
    for i in range(1, 51):
        SZ["ask1Top" + str(i) + 'q'] = SZ["OfferOrders"].apply(lambda x: x[i-1])
        SZ["ask1Top" + str(i) + 'q'] = SZ["ask1Top" + str(i) + 'q'].astype('int32') 
    SZ.drop(["OfferOrders"],axis=1,inplace=True)
    print("8")
    print(datetime.datetime.now() - startTm)
        
    
    startTm = datetime.datetime.now()
    SZ.columns = ['cum_trades_cnt', 'total_bid_quantity', 'total_ask_quantity', 'close',
       'total_ask_vwap', 'cum_amount', 'cum_volume', 'open', 'high',
       'prev_close', 'low', 'total_bid_vwap', 'skey', 'date', 'time',
       'clockAtArrival', 'datetime', 'bid1p', 'bid2p', 'bid3p', 'bid4p',
       'bid5p', 'bid6p', 'bid7p', 'bid8p', 'bid9p', 'bid10p', 'ask1p',
       'ask2p', 'ask3p', 'ask4p', 'ask5p', 'ask6p', 'ask7p', 'ask8p',
       'ask9p', 'ask10p', 'bid1q', 'bid2q', 'bid3q', 'bid4q', 'bid5q',
       'bid6q', 'bid7q', 'bid8q', 'bid9q', 'bid10q', 'ask1q', 'ask2q',
       'ask3q', 'ask4q', 'ask5q', 'ask6q', 'ask7q', 'ask8q', 'ask9q',
       'ask10q', 'bid1n', 'bid2n', 'bid3n', 'bid4n', 'bid5n', 'bid6n',
       'bid7n', 'bid8n', 'bid9n', 'bid10n', 'ask1n', 'ask2n', 'ask3n',
       'ask4n', 'ask5n', 'ask6n', 'ask7n', 'ask8n', 'ask9n', 'ask10n',
       'bid1Top1q', 'bid1Top2q', 'bid1Top3q', 'bid1Top4q', 'bid1Top5q',
       'bid1Top6q', 'bid1Top7q', 'bid1Top8q', 'bid1Top9q', 'bid1Top10q',
       'bid1Top11q', 'bid1Top12q', 'bid1Top13q', 'bid1Top14q',
       'bid1Top15q', 'bid1Top16q', 'bid1Top17q', 'bid1Top18q',
       'bid1Top19q', 'bid1Top20q', 'bid1Top21q', 'bid1Top22q',
       'bid1Top23q', 'bid1Top24q', 'bid1Top25q', 'bid1Top26q',
       'bid1Top27q', 'bid1Top28q', 'bid1Top29q', 'bid1Top30q',
       'bid1Top31q', 'bid1Top32q', 'bid1Top33q', 'bid1Top34q',
       'bid1Top35q', 'bid1Top36q', 'bid1Top37q', 'bid1Top38q',
       'bid1Top39q', 'bid1Top40q', 'bid1Top41q', 'bid1Top42q',
       'bid1Top43q', 'bid1Top44q', 'bid1Top45q', 'bid1Top46q',
       'bid1Top47q', 'bid1Top48q', 'bid1Top49q', 'bid1Top50q',
       'ask1Top1q', 'ask1Top2q', 'ask1Top3q', 'ask1Top4q', 'ask1Top5q',
       'ask1Top6q', 'ask1Top7q', 'ask1Top8q', 'ask1Top9q', 'ask1Top10q',
       'ask1Top11q', 'ask1Top12q', 'ask1Top13q', 'ask1Top14q',
       'ask1Top15q', 'ask1Top16q', 'ask1Top17q', 'ask1Top18q',
       'ask1Top19q', 'ask1Top20q', 'ask1Top21q', 'ask1Top22q',
       'ask1Top23q', 'ask1Top24q', 'ask1Top25q', 'ask1Top26q',
       'ask1Top27q', 'ask1Top28q', 'ask1Top29q', 'ask1Top30q',
       'ask1Top31q', 'ask1Top32q', 'ask1Top33q', 'ask1Top34q',
       'ask1Top35q', 'ask1Top36q', 'ask1Top37q', 'ask1Top38q',
       'ask1Top39q', 'ask1Top40q', 'ask1Top41q', 'ask1Top42q',
       'ask1Top43q', 'ask1Top44q', 'ask1Top45q', 'ask1Top46q',
       'ask1Top47q', 'ask1Top48q', 'ask1Top49q', 'ask1Top50q']
    
    SZ = SZ.fillna(0)
#     SZ["p1"] = SZ["bid1p"] + SZ["ask1p"]
#     tt = SZ[(SZ["cum_volume"] > 0) & (SZ["time"] < 145700000000)].groupby("skey")['p1'].min()
#     SZ.drop("p1", axis=1, inplace=True)
#     try:
#         assert(tt[tt == 0].shape[0] == 0)
#     except:
#         display(tt[tt == 0])
#     SZ = SZ[~((SZ["bid1p"] == 0) & (SZ["ask1p"] == 0))]
    SZ["ordering"] = SZ.groupby("skey").cumcount()
    SZ["ordering"] = SZ["ordering"] + 1

    for cols in ["total_bid_orders",'total_ask_orders','total_bid_levels', 'total_ask_levels', 'bid_trade_max_duration',
                 'ask_trade_max_duration', 'cum_canceled_buy_orders', 'cum_canceled_buy_volume', "cum_canceled_buy_amount",
                 "cum_canceled_sell_orders", 'cum_canceled_sell_volume',"cum_canceled_sell_amount", "has_missing"]:
        SZ[cols] = 0
        
#     for col in ["cum_volume", "total_bid_quantity", "total_ask_quantity",'cum_canceled_buy_volume',
#         'cum_canceled_sell_volume']:
#         SZ[col] = SZ[col].astype('int64')
    
    for col in ["skey", "date", "cum_trades_cnt", "total_bid_orders",
        'total_ask_orders', 'total_bid_levels', 'total_ask_levels', 'cum_canceled_buy_orders','cum_canceled_sell_orders',
            "ordering", 'bid_trade_max_duration', 'ask_trade_max_duration','has_missing']:
        SZ[col] = SZ[col].astype('int32')
    
        
#     for cols in ["prev_close", 'open', "high", "low", "close", 'bid10p','bid9p','bid8p','bid7p','bid6p','bid5p','bid4p','bid3p',
#              'bid2p','bid1p','ask1p','ask2p','ask3p','ask4p','ask5p','ask6p','ask7p','ask8p','ask9p','ask10p', 'total_bid_vwap', "total_ask_vwap",
#                 "cum_amount"]:
# #         SZ[cols] = SZ[cols].apply(lambda x: round(x, 2)).astype('float64')
#         print(cols)
#         print(SZ[cols].astype(str).apply(lambda x: len(str(x.split('.')[1]))).unique())

        
    for cols in ["cum_canceled_sell_amount", "cum_canceled_buy_amount"]:
        SZ[cols] = SZ[cols].astype('float64')

        
    assert(sum(SZ[SZ["open"] != 0].groupby("skey")["open"].nunique() != 1) == 0)
    assert(sum(SZ[SZ["prev_close"] != 0].groupby("skey")["prev_close"].nunique() != 1) == 0)
    SZ["prev_close"] = np.where(SZ["time"] >= 91500000000, SZ.groupby("skey")["prev_close"].transform("max"), SZ["prev_close"]) 
    SZ["open"] = np.where(SZ["cum_volume"] > 0, SZ.groupby("skey")["open"].transform("max"), SZ["open"])
    assert(sum(SZ[SZ["open"] != 0].groupby("skey")["open"].nunique() != 1) == 0)
    assert(sum(SZ[SZ["prev_close"] != 0].groupby("skey")["prev_close"].nunique() != 1) == 0)
    assert(SZ[SZ["cum_volume"] > 0]["open"].min() > 0)
    
    print(datetime.datetime.now() - startTm)
    
    
    # check 1
    startTm = datetime.datetime.now()
    da_te = str(SZ["date"].iloc[0]) 
    da_te = da_te[:4] + '-' + da_te[4:6] + '-' + da_te[6:8]
    db1 = db[db["date"] == da_te]
    db1["ID"] = db1["ID"].str[2:].astype(int) + 2000000
    db1["date"] = (db1["date"].str[:4] + db1["date"].str[5:7] + db1["date"].str[8:]).astype(int)
    SZ["cum_max"] = SZ.groupby("skey")["cum_volume"].transform(max)
    s2 = SZ[SZ["cum_volume"] == SZ["cum_max"]].groupby("skey").first().reset_index()
    SZ.drop("cum_max", axis=1, inplace=True)
    s2 = s2.rename(columns={"skey": "ID", 'open':"d_open", "prev_close":"d_yclose","high":"d_high", "low":"d_low", "close":"d_close", "cum_volume":"d_volume", "cum_amount":"d_amount"})
    s2 = s2[["ID", "date", "d_open", "d_yclose", "d_high", "d_low", "d_close", "d_volume", "d_amount"]]
    re = pd.merge(db1, s2, on=["ID", "date", "d_open", "d_yclose","d_high", "d_low", "d_volume"], how="outer")
    try:
        assert(sum(re["d_amount_y"].isnull()) == 0)
    except:
        display(re[re["d_amount_y"].isnull()])
        wr_ong += [re[re["d_amount_y"].isnull()]]
    del re
    del s2
    del db1
    print(datetime.datetime.now() - startTm)
    
    # check 2
    # first part
    startTm = datetime.datetime.now()
    date = pd.DataFrame(pd.date_range(start='2019-06-10 08:30:00', end='2019-06-10 18:00:00', freq='s'), columns=["Orig"])
    date["time"] = date["Orig"].apply(lambda x: int(x.strftime("%H%M%S"))*1000)
    date["group"] = date["time"]//30000
    SZ["group"] = SZ["time"]//30000000
    gl = date[((date["time"] >= 93000000) & (date["time"] <= 113000000))|((date["time"] >= 130000000) & (date["time"] <= 150000000))]["group"].unique()
    l = set(gl) - set(SZ["group"].unique())
    SZ["has_missing1"] = 0 
    if len(l) != 0:
        print("massive missing")
        print(l)
        SZ["order"] = SZ.groupby(["skey", "time"]).cumcount()
        for i in l:
            SZ["t"] = SZ[SZ["group"] > i].groupby("StockID")["time"].transform("min")
            SZ["has_missing1"] = np.where((SZ["time"] == SZ["t"]) & (SZ["order"] == 0), 1, 0)
        SZ.drop(["order", "t", "group"], axis=1, inplace=True)   
    else:
        print("no massive missing")
        SZ.drop(["group"], axis=1, inplace=True)
    



    # second part

    SZ["time_interval"] = SZ.groupby("skey")["datetime"].apply(lambda x: x - x.shift(1))
    SZ["time_interval"] = SZ["time_interval"].apply(lambda x: x.seconds)
    SZ["tn_update"] = SZ.groupby("skey")["cum_trades_cnt"].apply(lambda x: x-x.shift(1))

    f1 = SZ[(SZ["time"] >= 93000000000) & (SZ["tn_update"] != 0)].groupby("skey")["time"].min().reset_index()
    f1 = f1.rename(columns={"time": "time1"})
    f2 = SZ[(SZ["time"] >= 130000000000) & (SZ["tn_update"] != 0)].groupby("skey")["time"].min().reset_index()
    f2 = f2.rename(columns={"time": "time2"})
    f3 = SZ[(SZ["time"] >= 150000000000) & (SZ["tn_update"] != 0)].groupby("skey")["time"].min().reset_index()
    f3 = f3.rename(columns={"time": "time3"})
    SZ = pd.merge(SZ, f1, on="skey", how="left")
    del f1
    SZ = pd.merge(SZ, f2, on="skey", how="left")
    del f2
    SZ = pd.merge(SZ, f3, on="skey", how="left")
    del f3
    p99 = SZ[(SZ["time"] > 93000000000) & (SZ["time"] < 145700000000) & (SZ["time"] != SZ["time2"]) & (SZ["tn_update"] != 0)]\
    .groupby("skey")["tn_update"].apply(lambda x: x.describe([0.99])["99%"]).reset_index()
    p99 = p99.rename(columns={"tn_update":"99%"})
    SZ = pd.merge(SZ, p99, on="skey", how="left")

    SZ["has_missing2"] = 0
    SZ["has_missing2"] = np.where((SZ["time_interval"] > 60) & (SZ["tn_update"] > SZ["99%"]) & 
         (SZ["time"] > SZ["time1"]) & (SZ["time"] != SZ["time2"]) & (SZ["time"] != SZ["time3"])& (SZ["time"] != 100000000000), 1, 0)
    SZ.drop(["time_interval", "tn_update", "time1", "time2", "time3", "99%"], axis=1, inplace=True) 

    SZ["has_missing"] = np.where((SZ["has_missing1"] == 1) | (SZ["has_missing2"] == 1), 1, 0)
    SZ.drop(["has_missing1", "has_missing2"], axis=1, inplace=True) 
    if SZ[SZ["has_missing"] == 1].shape[0] != 0:
        print("has missing!!!!!!!!!!!!!!!!!!!!!!!")
        print(SZ[SZ["has_missing"] == 1].shape[0])
        mi_ss += [SZ[SZ["has_missing"] == 1]]
    print(datetime.datetime.now() - startTm)

    
    
    startTm = datetime.datetime.now()
    SZ["has_missing"] = SZ["has_missing"].astype('int32')
    SZ = SZ[["skey", "date", "time", "clockAtArrival", "datetime", "ordering", "has_missing", "cum_trades_cnt", "cum_volume", "cum_amount", "prev_close",
                            "open", "high", "low", "close", 'bid10p','bid9p','bid8p','bid7p','bid6p','bid5p','bid4p','bid3p','bid2p','bid1p',
                            'ask1p','ask2p','ask3p','ask4p','ask5p','ask6p','ask7p','ask8p','ask9p','ask10p', 'bid10q','bid9q','bid8q',
                             'bid7q','bid6q','bid5q','bid4q','bid3q','bid2q','bid1q', 'ask1q','ask2q','ask3q','ask4q','ask5q','ask6q',
                             'ask7q','ask8q','ask9q','ask10q', 'bid10n', 'bid9n', 'bid8n', 'bid7n', 'bid6n', 'bid5n', 'bid4n', 'bid3n', 'bid2n', 'bid1n', 
                             'ask1n', 'ask2n', 'ask3n', 'ask4n', 'ask5n', 'ask6n','ask7n', 'ask8n', 'ask9n', 'ask10n','bid1Top1q','bid1Top2q','bid1Top3q','bid1Top4q','bid1Top5q','bid1Top6q',
        'bid1Top7q','bid1Top8q','bid1Top9q','bid1Top10q','bid1Top11q','bid1Top12q','bid1Top13q','bid1Top14q','bid1Top15q','bid1Top16q','bid1Top17q','bid1Top18q',
        'bid1Top19q','bid1Top20q','bid1Top21q','bid1Top22q','bid1Top23q','bid1Top24q','bid1Top25q','bid1Top26q','bid1Top27q','bid1Top28q','bid1Top29q',
        'bid1Top30q','bid1Top31q','bid1Top32q','bid1Top33q','bid1Top34q','bid1Top35q','bid1Top36q','bid1Top37q','bid1Top38q','bid1Top39q','bid1Top40q',
        'bid1Top41q','bid1Top42q','bid1Top43q','bid1Top44q','bid1Top45q','bid1Top46q','bid1Top47q','bid1Top48q','bid1Top49q','bid1Top50q', 'ask1Top1q',
        'ask1Top2q','ask1Top3q','ask1Top4q','ask1Top5q','ask1Top6q','ask1Top7q','ask1Top8q','ask1Top9q','ask1Top10q','ask1Top11q','ask1Top12q','ask1Top13q',
        'ask1Top14q','ask1Top15q','ask1Top16q','ask1Top17q','ask1Top18q','ask1Top19q','ask1Top20q','ask1Top21q','ask1Top22q','ask1Top23q',
        'ask1Top24q','ask1Top25q','ask1Top26q','ask1Top27q','ask1Top28q','ask1Top29q','ask1Top30q','ask1Top31q','ask1Top32q','ask1Top33q',
        'ask1Top34q','ask1Top35q','ask1Top36q','ask1Top37q','ask1Top38q','ask1Top39q','ask1Top40q','ask1Top41q','ask1Top42q','ask1Top43q',
        'ask1Top44q','ask1Top45q','ask1Top46q','ask1Top47q','ask1Top48q','ask1Top49q','ask1Top50q',"total_bid_quantity", "total_ask_quantity","total_bid_vwap", "total_ask_vwap",
        "total_bid_orders",'total_ask_orders','total_bid_levels', 'total_ask_levels', 'bid_trade_max_duration', 'ask_trade_max_duration', 'cum_canceled_buy_orders', 'cum_canceled_buy_volume',
        "cum_canceled_buy_amount", "cum_canceled_sell_orders", 'cum_canceled_sell_volume',"cum_canceled_sell_amount"]]
    
    display(SZ["date"].iloc[0])
    print("SZ finished")
    
    
    db1 = DB("mongodb://user_rw:faa96dfc@192.168.10.223")
    db1.write('snapshot', SZ)
    
    del SZ
    print(datetime.datetime.now() - startTm)

wr_ong = pd.concat(wr_ong).reset_index(drop=True)
print(wr_ong)
mi_ss = pd.concat(mi_ss).reset_index(drop=True)
print(mi_ss)

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:185: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.

0:05:20.649051
0:00:40.619160
20180102 unzip finished
0:00:46.689050
0:01:23.776860
1
2
3
4
5
6
7
8
0:10:48.010690
0:00:32.932940

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
905,2001914,20180102,9.75,9.93,9.72,9.9,9.71,0.986228,0.019567,0.00304,0.013023,0.010651,3136182.0,30894568.54,0.004703,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.704918
no massive missing
0:02:27.394763

20180102

SZ finished
0:01:06.859342
0:00:40.132675
20180103 unzip finished
0:00:48.309264
0:01:34.939206
1
2
3
4
5
6
7
8
0:12:01.153023
0:00:37.418364

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
907,2001914,20180103,9.93,9.93,9.72,9.82,9.9,0.986228,-0.008081,0.002041,0.008848,0.009557,3575395.0,35144676.28,0.005362,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.517851
no massive missing
0:02:31.685707

20180103

SZ finished
0:01:05.774408
0:00:40.919954
20180104 unzip finished
0:00:46.009606
0:01:29.209099
1
2
3
4
5
6
7
8
0:11:21.209367
0:00:32.365743

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
907,2001914,20180104,9.79,9.84,9.73,9.78,9.82,0.986228,-0.004073,0.001024,0.004584,0.002094,2205793.0,21571163.83,0.003308,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.467779
no massive missing
0:02:18.221963

20180104

SZ finished
0:01:01.791608
0:00:38.910176
20180105 unzip finished
0:00:45.303531
0:01:29.059200
1
2
3
4
5
6
7
8
0:11:19.066095
0:00:32.691864

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
907,2001914,20180105,9.78,10.15,9.76,10.1,9.78,0.986228,0.03272,0.045549,-0.000044,0.000279,8049570.0,80516474.62,0.012072,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.216544
no massive missing
0:02:18.597559

20180105

SZ finished
0:01:00.756757
0:00:40.015885
20180108 unzip finished
0:00:47.505996
0:01:28.784938
1
2
3
4
5
6
7
8
0:11:25.856578
0:00:32.579529

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
908,2001914,20180108,10.08,10.22,9.95,10.06,10.1,0.986228,-0.00396,0.036045,0.004508,0.001592,6457055.0,65264376.29,0.009684,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.417827
no massive missing
0:02:22.012228

20180108

SZ finished
0:01:08.427488
0:00:37.182157
20180109 unzip finished
0:00:43.502923
0:01:29.731587
1
2
3
4
5
6
7
8
0:11:18.010317
0:00:34.671611

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
909,2001914,20180109,9.99,10.14,9.99,10.01,10.06,0.986228,-0.00497,0.011111,-0.000068,-0.001607,4104800.0,41190143.0,0.006156,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.266188
no massive missing
0:02:20.372318

20180109

SZ finished
0:00:59.840956
0:00:55.136353
20180110 unzip finished
0:00:45.907438
0:01:31.864809
1
2
3
4
5
6
7
8
0:11:34.565755
0:00:35.558314

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
909,2001914,20180110,9.98,10.01,9.7,9.78,10.01,0.986228,-0.022977,-0.004073,-0.006176,-0.005289,5576895.0,54965076.3,0.008364,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.777072
no massive missing
0:02:24.506624

20180110

SZ finished
0:01:10.784807
0:00:39.469901
20180111 unzip finished
0:00:46.327772
0:01:41.265040
1
2
3
4
5
6
7
8
0:11:30.538977
0:00:34.161554

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
911,2001914,20180111,9.76,9.88,9.57,9.86,9.78,0.986228,0.00818,0.00818,0.003122,0.005129,4698270.0,45605047.68,0.007046,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.465846
no massive missing
0:02:18.307389

20180111

SZ finished
0:01:07.154647
0:00:37.698156
20180112 unzip finished
0:00:44.346864
0:01:26.015921
1
2
3
4
5
6
7
8
0:10:58.355189
0:00:32.987514

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
911,2001914,20180112,9.84,10.65,9.77,10.17,9.86,0.986228,0.03144,0.006931,-0.004134,-0.00663,11261374.0,1.157647e+08,0.016889,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.087436
no massive missing
0:02:17.923349

20180112

SZ finished
0:00:57.622750
0:00:41.172473
20180115 unzip finished
0:00:45.467928
0:01:32.381555
1
2
3
4
5
6
7
8
0:11:55.616258
0:00:36.579693

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
914,2001914,20180115,10.18,10.2,9.92,10.02,10.17,0.986228,-0.014749,-0.003976,-0.022814,-0.027852,6057750.0,60689242.44,0.009085,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.385111
no massive missing
0:02:24.241432

20180115

SZ finished
0:01:15.506158
0:00:38.222127
20180116 unzip finished
0:00:45.776459
0:01:38.980783
1
2
3
4
5
6
7
8
0:11:16.978912
0:00:35.391385

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
913,2001914,20180116,9.93,10.44,9.93,10.24,10.02,0.986228,0.021956,0.022977,0.007637,0.004527,6534810.0,66653948.48,0.009801,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.277335
no massive missing
0:02:17.571502

20180116

SZ finished
0:01:07.292467
0:00:40.683592
20180117 unzip finished
0:00:45.151379
0:01:33.131319
1
2
3
4
5
6
7
8
0:11:40.008254
0:00:35.475648

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
913,2001914,20180117,10.12,10.31,10.05,10.11,10.24,0.986228,-0.012695,0.033742,-0.005344,-0.002559,4519265.0,45850738.74,0.006778,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.671703
no massive missing
0:02:27.564042

20180117

SZ finished
0:01:02.796674
0:00:35.867310
20180118 unzip finished
0:00:43.757308
0:01:27.239570
1
2
3
4
5
6
7
8
0:10:59.305694
0:00:33.850821

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
913,2001914,20180118,10.16,10.19,9.97,10.0,10.11,0.986228,-0.01088,0.014199,0.003086,0.001782,3444100.0,34614242.0,0.005165,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.086425
no massive missing
0:02:13.325594

20180118

SZ finished
0:00:58.440910
0:00:37.576502
20180119 unzip finished
0:00:46.465536
0:01:27.158886
1
2
3
4
5
6
7
8
0:11:16.127019
0:00:33.778218

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
914,2001914,20180119,9.99,10.06,9.81,9.81,10.0,0.986228,-0.019,-0.035398,-0.002294,-0.002433,3593312.0,35807861.56,0.005389,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.406410
no massive missing
0:02:22.180033

20180119

SZ finished
0:01:07.531100
0:00:38.483095
20180122 unzip finished
0:00:48.052606
0:01:33.085985
1
2
3
4
5
6
7
8
0:11:34.148563
0:00:35.796856

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
915,2001914,20180122,9.78,10.15,9.68,10.08,9.81,0.986228,0.027523,0.005988,0.011998,0.010988,4553370.0,45218143.8,0.006829,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.661337
no massive missing
0:02:21.992818

20180122

SZ finished
0:01:00.421732
0:00:37.324761
20180123 unzip finished
0:00:44.978162
0:01:28.420054
1
2
3
4
5
6
7
8
0:11:12.754266
0:00:33.434424

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
918,2001914,20180123,10.04,10.35,10.04,10.18,10.08,0.986228,0.009921,-0.005859,0.001159,0.000774,5162796.0,52665183.91,0.007743,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.147877
no massive missing
0:02:16.650349

20180123

SZ finished
0:01:11.902551
0:00:41.960187
20180124 unzip finished
0:00:45.881800
0:01:34.736250
1
2
3
4
5
6
7
8
0:12:02.379634
0:00:35.766526

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
919,2001914,20180124,10.23,10.49,10.11,10.26,10.18,0.986228,0.007859,0.014837,0.006184,0.007469,5015210.0,51458675.9,0.007522,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.398369
no massive missing
0:02:26.095780

20180124

SZ finished
0:01:16.779657
0:00:41.349883
20180125 unzip finished
0:00:47.718755
0:01:38.043567
1
2
3
4
5
6
7
8
0:12:26.571223
0:00:36.560571

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
919,2001914,20180125,10.24,10.32,9.99,10.11,10.26,0.986228,-0.01462,0.011,-0.001812,-0.001382,5596383.0,56630224.38,0.008393,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.656985
no massive missing
0:02:30.234935

20180125

SZ finished
0:01:12.114298
0:00:38.667983
20180126 unzip finished
0:00:44.242126
0:01:40.520608
1
2
3
4
5
6
7
8
0:11:21.516041
0:00:36.353215

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
919,2001914,20180126,10.05,10.16,10.01,10.12,10.11,0.986228,0.000989,0.0316,0.000143,-0.000938,2542400.0,25644683.46,0.003813,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.704070
no massive missing
0:02:21.397534

20180126

SZ finished
0:00:59.852340
0:00:41.067551
20180129 unzip finished
0:00:47.159416
0:01:43.020559
1
2
3
4
5
6
7
8
0:11:33.375136
0:00:35.217214

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
918,2001914,20180129,10.13,10.17,9.91,9.98,10.12,0.986228,-0.013834,-0.009921,-0.011553,-0.011839,3028030.0,30365167.6,0.004541,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.264552
no massive missing
0:02:22.936565

20180129

SZ finished
0:01:25.846836
0:00:36.733352
20180130 unzip finished
0:00:42.057202
0:01:36.937351
1
2
3
4
5
6
7
8
0:10:43.521249
0:00:34.299754

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
920,2001914,20180130,9.92,10.04,9.92,10.01,9.98,0.986228,0.003006,-0.016699,0.000564,-0.002472,1573900.0,15725609.0,0.00236,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.090445
no massive missing
0:02:14.555301

20180130

SZ finished
0:00:58.332983
0:00:40.922115
20180131 unzip finished
0:00:46.371671
0:01:35.494483
1
2
3
4
5
6
7
8
0:11:46.212060
0:00:34.971547

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
916,2001914,20180131,10.02,10.17,9.94,10.02,10.01,0.986228,0.000999,-0.023392,-0.019657,-0.023613,3640078.0,36537357.5,0.005459,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.454093
no massive missing
0:02:26.958227

20180131

SZ finished
0:01:09.383308
0:00:43.312782
20180201 unzip finished
0:00:49.039236
0:01:38.158052
1
2
3
4
5
6
7
8
0:12:11.343274
0:00:36.300335

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
911,2001914,20180201,10.09,10.09,9.53,9.63,10.02,0.986228,-0.038922,-0.047478,-0.033057,-0.041902,6031253.0,58685915.78,0.009045,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.572642
no massive missing
0:02:29.459570

20180201

SZ finished
0:01:26.835319
0:00:36.926203
20180202 unzip finished
0:00:41.897642
0:01:28.884175
1
2
3
4
5
6
7
8
0:10:57.421728
0:00:32.606543

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
887,2001914,20180202,9.52,9.59,9.33,9.41,9.63,0.986228,-0.022845,-0.070158,0.00336,-0.002856,3974457.0,37457139.67,0.005961,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.093274
no massive missing
0:02:15.788550

20180202

SZ finished
0:01:00.924276
0:00:35.306613
20180205 unzip finished
0:00:38.733509
0:01:19.596704
1
2
3
4
5
6
7
8
0:09:51.931712
0:00:30.364648

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
867,2001914,20180205,9.22,9.42,9.2,9.33,9.41,0.986228,-0.008502,-0.06513,-0.001103,-0.004016,2202514.0,20542053.58,0.003303,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.977578
no massive missing
0:02:00.618951

20180205

SZ finished
0:01:11.658563
0:00:38.509055
20180206 unzip finished
0:00:43.116703
0:01:27.536147
1
2
3
4
5
6
7
8
0:10:59.740836
0:00:33.973273

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
865,2001914,20180206,9.23,9.23,8.48,8.55,9.33,0.986228,-0.083601,-0.145854,-0.049008,-0.049389,5573912.0,49360184.4,0.008359,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.162044
no massive missing
0:02:16.757152

20180206

SZ finished
0:01:07.374152
0:00:36.765184
20180207 unzip finished
0:00:42.106279
0:01:29.543041
1
2
3
4
5
6
7
8
0:10:53.081626
0:00:34.577090

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
860,2001914,20180207,8.74,8.95,8.36,8.76,8.55,0.986228,0.024561,-0.125749,0.001239,0.002538,5173501.0,45147633.7,0.007759,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.337399
no massive missing
0:02:17.447278

20180207

SZ finished
0:01:17.187845
0:00:34.434866
20180208 unzip finished
0:00:40.773560
0:01:32.490736
1
2
3
4
5
6
7
8
0:09:57.342388
0:00:31.393951

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
863,2001914,20180208,8.64,8.84,8.61,8.7,8.76,0.986228,-0.006849,-0.096573,0.009656,0.012985,2748406.0,24061124.3,0.004122,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.782272
no massive missing
0:02:06.346339

20180208

SZ finished
0:00:58.031676
0:00:38.017051
20180209 unzip finished
0:00:41.252965
0:01:41.952836
1
2
3
4
5
6
7
8
0:10:48.196758
0:00:33.298916

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
864,2001914,20180209,8.38,8.68,8.1,8.37,8.7,0.986228,-0.037931,-0.110521,-0.036692,-0.029688,3860987.0,32241730.83,0.00579,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.531647
no massive missing
0:02:26.947044

20180209

SZ finished
0:01:14.239234
0:00:34.013278
20180212 unzip finished
0:00:38.927682
0:01:19.452296
1
2
3
4
5
6
7
8
0:09:54.541350
0:00:32.299548

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
871,2001914,20180212,8.44,8.53,8.35,8.46,8.37,0.986228,0.010753,-0.093248,0.025959,0.024902,2406677.0,20327253.99,0.003609,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.836989
no massive missing
0:02:05.687386

20180212

SZ finished
0:00:51.115436
0:00:32.945045
20180213 unzip finished
0:00:37.506402
0:01:18.789172
1
2
3
4
5
6
7
8
0:09:45.675836
0:00:28.874834

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
872,2001914,20180213,8.52,8.83,8.51,8.6,8.46,0.986228,0.016548,0.005848,0.006642,0.002057,2959257.0,25612556.46,0.004438,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.684006
no massive missing
0:01:57.747967

20180213

SZ finished
0:00:50.026915
0:00:29.587464
20180214 unzip finished
0:00:34.307399
0:01:09.158603
1
2
3
4
5
6
7
8
0:08:44.672782
0:00:26.737391

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
880,2001914,20180214,8.59,8.68,8.55,8.6,8.6,0.986228,0.0,-0.018265,0.003117,0.002277,2221403.0,19111113.12,0.003332,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.544339
no massive missing
0:01:49.959681

20180214

SZ finished
0:00:56.173712
0:00:32.164360
20180222 unzip finished
0:00:38.351114
0:01:18.004774
1
2
3
4
5
6
7
8
0:10:07.782994
0:00:29.583661

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
885,2001914,20180222,8.65,8.69,8.61,8.67,8.6,0.986228,0.00814,-0.003448,0.021007,0.018685,2765322.0,23928838.19,0.004147,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.803464
no massive missing
0:02:08.453054

20180222

SZ finished
0:00:51.500956
0:00:34.160597
20180223 unzip finished
0:00:39.502956
0:01:18.769061
1
2
3
4
5
6
7
8
0:10:35.732285
0:00:33.174109

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
891,2001914,20180223,8.68,8.7,8.6,8.68,8.67,0.986228,0.001153,0.037037,0.003736,0.002967,2193570.0,18998641.9,0.00329,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.985573
no massive missing
0:02:07.469255

20180223

SZ finished
0:00:53.665735
0:00:39.369403
20180226 unzip finished
0:00:45.624328
0:01:34.202490
1
2
3
4
5
6
7
8
0:11:29.401695
0:00:35.814080

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
896,2001914,20180226,8.68,8.83,8.64,8.83,8.68,0.986228,0.017281,0.043735,0.022382,0.022182,3648952.0,31888949.12,0.005472,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.938773
no massive missing
0:02:37.350605

20180226

SZ finished
0:01:11.272820
0:00:37.672981
20180227 unzip finished
0:00:45.439423
0:01:42.891701
1
2
3
4
5
6
7
8
0:11:56.209610
0:00:33.257297

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
900,2001914,20180227,8.9,8.9,8.71,8.77,8.83,0.986228,-0.006795,0.019767,-0.003171,0.00342,2413640.0,21156574.2,0.00362,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.277652
no massive missing
0:02:19.018894

20180227

SZ finished
0:01:15.488566
0:00:38.601084
20180228 unzip finished
0:00:44.304959
0:01:43.316301
1
2
3
4
5
6
7
8
0:11:24.430594
0:00:34.741951

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
898,2001914,20180228,8.8,9.38,8.71,9.22,8.77,0.986228,0.051311,0.072093,0.002183,0.005273,8649022.0,78747765.31,0.012971,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.477754
no massive missing
0:02:20.514606

20180228

SZ finished
0:01:18.618102
0:00:40.444698
20180301 unzip finished
0:00:51.109403
0:01:32.885227
1
2
3
4
5
6
7
8
0:12:02.772206
0:00:35.019995

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
899,2001914,20180301,9.01,9.2,9.01,9.17,9.22,0.986228,-0.005423,0.05767,0.011048,0.014438,2756662.0,25199680.11,0.004134,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.538316
no massive missing
0:02:30.493624

20180301

SZ finished
0:01:14.374359
0:00:38.945772
20180302 unzip finished
0:00:43.368103
0:01:32.700153
1
2
3
4
5
6
7
8
0:11:23.010867
0:00:35.342646

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
902,2001914,20180302,9.07,9.28,9.07,9.18,9.17,0.986228,0.001091,0.057604,-0.005565,-0.003936,2500745.0,22978370.96,0.00375,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.654578
no massive missing
0:02:24.635224

20180302

SZ finished
0:01:14.000843
0:00:36.374160
20180305 unzip finished
0:00:43.920587
0:01:35.539996
1
2
3
4
5
6
7
8
0:11:39.201496
0:00:33.936113

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
901,2001914,20180305,9.23,9.23,8.96,9.03,9.18,0.986228,-0.01634,0.02265,0.001282,0.006318,3266642.0,29569901.45,0.004899,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.440092
no massive missing
0:02:16.065401

20180305

SZ finished
0:01:08.128105
0:00:40.160832
20180306 unzip finished
0:00:47.513018
0:01:35.341834
1
2
3
4
5
6
7
8
0:11:55.097107
0:00:35.792354

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
900,2001914,20180306,9.03,9.15,9.01,9.12,9.03,0.986228,0.009967,0.039909,0.013436,0.009227,3035494.0,27601035.22,0.004552,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.986442
no massive missing
0:02:27.876498

20180306

SZ finished
0:01:04.269439
0:00:40.063835
20180307 unzip finished
0:00:46.939971
0:01:35.288107
1
2
3
4
5
6
7
8
0:11:55.069293
0:00:35.720444

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
901,2001914,20180307,9.15,9.17,9.02,9.03,9.12,0.986228,-0.009868,-0.020607,-0.009615,-0.007024,2229002.0,20232466.29,0.003343,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.527375
no massive missing
0:02:25.668218

20180307

SZ finished
0:01:02.084675
0:00:39.954585
20180308 unzip finished
0:00:46.226600
0:01:36.357477
1
2
3
4
5
6
7
8
0:12:03.666876
0:00:37.051972

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
900,2001914,20180308,9.03,9.12,8.95,9.01,9.03,0.986228,-0.002215,-0.017448,0.007398,0.005478,2844066.0,25694411.2,0.004265,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.546688
no massive missing
0:02:26.145242

20180308

SZ finished
0:01:02.449138
0:00:44.859819
20180309 unzip finished
0:00:51.263212
0:01:40.994010
1
2
3
4
5
6
7
8
0:13:03.868923
0:00:36.881081

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
901,2001914,20180309,8.98,9.19,8.97,9.18,9.01,0.986228,0.018868,0.0,0.012307,0.016645,3859237.0,35020906.55,0.005788,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.719669
no massive missing
0:02:40.997666

20180309

SZ finished
0:01:15.138468
0:00:46.823842
20180312 unzip finished
0:00:49.420877
0:01:45.187908
1
2
3
4
5
6
7
8
0:13:16.347344
0:00:36.768921

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
901,2001914,20180312,9.25,9.25,9.08,9.15,9.18,0.986228,-0.003268,0.013289,0.014307,0.016137,2506617.0,22883332.5,0.003759,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.707883
massive missing
{3150, 3151}

KeyError: 'StockID'

In [4]:
import pymongo
import pandas as pd
import pickle
import datetime
import time
import gzip
import lzma
import pytz

class DB(object):
    def __init__(self, uri, symbol_column='skey'):
        self.db_name = 'white_db'
        user, passwd, host = self.parse_uri(uri)
        auth_db = 'admin' if user in ('admin', 'root') else self.db_name
        self.uri = 'mongodb://%s:%s@%s/?authSource=%s' % (user, passwd, host, auth_db)

        self.client = pymongo.MongoClient(self.uri)
        self.db = self.client[self.db_name]
        self.chunk_size = 20000
        self.symbol_column = symbol_column
        self.date_column = 'date'

    def parse_uri(self, uri):
        # mongodb://user:password@example.com
        return uri.strip().replace('mongodb://', '').strip('/').replace(':', ' ').replace('@', ' ').split(' ')

    def drop_table(self, table_name):
        self.db.drop_collection(table_name)

    def rename_table(self, old_table, new_table):
        self.db[old_table].rename(new_table)

    def write(self, table_name, df):
        if len(df) == 0: return

        multi_date = False

        if self.date_column in df.columns:
            date = str(df.head(1)[self.date_column].iloc[0])
            multi_date = len(df[self.date_column].unique()) > 1
        else:
            raise Exception('DataFrame should contain date column')

        collection = self.db[table_name]
        collection.create_index([('date', pymongo.ASCENDING), ('symbol', pymongo.ASCENDING)], background=True)
        collection.create_index([('symbol', pymongo.ASCENDING), ('date', pymongo.ASCENDING)], background=True)

        if multi_date:
            for (date, symbol), sub_df in df.groupby([self.date_column, self.symbol_column]):
                date = str(date)
                symbol = int(symbol)
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)
        else:
            for symbol, sub_df in df.groupby([self.symbol_column]):
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)

    def write_single(self, collection, date, symbol, df):
        for start in range(0, len(df), self.chunk_size):
            end = min(start + self.chunk_size, len(df))
            df_seg = df[start:end]
            version = 1
            seg = {'ver': version, 'data': self.ser(df_seg, version), 'date': date, 'symbol': symbol, 'start': start}
            collection.insert_one(seg)

    def build_query(self, start_date=None, end_date=None, symbol=None):
        query = {}

        def parse_date(x):
            if type(x) == str:
                if len(x) != 8:
                    raise Exception("`date` must be YYYYMMDD format")
                return x
            elif type(x) == datetime.datetime or type(x) == datetime.date:
                return x.strftime("%Y%m%d")
            elif type(x) == int:
                return parse_date(str(x))
            else:
                raise Exception("invalid `date` type: " + str(type(x)))

        if start_date is not None or end_date is not None:
            query['date'] = {}
            if start_date is not None:
                query['date']['$gte'] = parse_date(start_date)
            if end_date is not None:
                query['date']['$lte'] = parse_date(end_date)

        def parse_symbol(x):
            if type(x) == int:
                return x
            else:
                return int(x)

        if symbol:
            if type(symbol) == list or type(symbol) == tuple:
                query['symbol'] = {'$in': [parse_symbol(x) for x in symbol]}
            else:
                query['symbol'] = parse_symbol(symbol)

        return query

    def delete(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot delete the whole table')
            return None

        collection.delete_many(query)

    def read(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot read the whole table')
            return None

        segs = []
        for x in collection.find(query):
            x['data'] = self.deser(x['data'], x['ver'])
            segs.append(x)
        segs.sort(key=lambda x: (x['symbol'], x['date'], x['start']))
        return pd.concat([x['data'] for x in segs], ignore_index=True) if segs else None

    def list_tables(self):
        return self.db.collection_names()

    def list_dates(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]
        dates = set()
        if start_date is None:
            start_date = '00000000'
        if end_date is None:
            end_date = '99999999'
        for x in collection.find(self.build_query(start_date, end_date, symbol), {"date": 1, '_id': 0}):
            dates.add(x['date'])
        return sorted(list(dates))

    def ser(self, s, version):
        if version == 1:
            return gzip.compress(pickle.dumps(s), compresslevel=2)
        elif version == 2:
            return lzma.compress(pickle.dumps(s), preset=1)
        else:
            raise Exception('unknown version')

    def deser(self, s, version):
        def unpickle(s):
            return pickle.loads(s)

        if version == 1:
            return unpickle(gzip.decompress(s))
        elif version == 2:
            return unpickle(lzma.decompress(s))
        else:
            raise Exception('unknown version')












import pandas as pd
import random
import numpy as np
import glob
import os
import pickle
import datetime
import time
pd.set_option("max_columns", 200)

startTm = datetime.datetime.now()
readPath = '/home/work516/day_stock/***'
dataPathLs = np.array(glob.glob(readPath))
dataPathLs = dataPathLs[[np.array([os.path.basename(i).split('.')[0][:2] == 'SZ' for i in dataPathLs])]]
db = pd.DataFrame()
for p in dataPathLs:
    dayData = pd.read_csv(p, compression='gzip')
    db = pd.concat([db, dayData])
print(datetime.datetime.now() - startTm)

year = "2018"
startDate = '20180312'
endDate = '20180731'
readPath = '/mnt/usb/' + year + '/***/***'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([os.path.basename(i).split('_')[0] for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]
date_list = pd.read_csv("/home/work516/KR_upload_code/trading_days.csv")
wr_ong = []
mi_ss = []
less = []

for data in dataPathLs:    
    
    if len(np.array(glob.glob(data + '/SZ/***'))) == 0:
        if int(os.path.basename(data)) not in date_list["Date"].values:
            continue
        else:
            print(os.path.basename(data) + " less data!!!!!!!!!!!!!!!!!")
            less.append(data)
            continue
    startTm = datetime.datetime.now()
    date = os.path.basename(data)
    rar_path = data + '/SZ/snapshot.7z'
    path = '/mnt/e/unzip_data/2018/SZ'
    path1 = path + '/' + date
    un_path = path1
    cmd = '7za x {} -o{}'.format(rar_path, un_path)
    os.system(cmd)
    print(datetime.datetime.now() - startTm)
    print(date + ' unzip finished')
    
    readPath = path1 + '/snapshot/***2/***'
    dataPathLs = np.array(glob.glob(readPath))
    dateLs = np.array([int(os.path.basename(i).split('.')[0]) for i in dataPathLs])
    dataPathLs = dataPathLs[(dateLs < 4000) | ((dateLs > 300000) & (dateLs < 310000))]
    SZ = []
    ll = []
    startTm = datetime.datetime.now()
    for i in dataPathLs:
        try:
            df = pd.read_csv(i, usecols = [0,1,4,5,6,7,9,12,17,18,19,24,25,26,28,29,30,32,33,34,35])
        except:
            print("empty data")
            print(i)
            ll.append(int(os.path.basename(i).split('.')[0]))
            continue
        df["StockID"] = int(os.path.basename(i).split('.')[0])
        SZ += [df]
    del df
    SZ = pd.concat(SZ).reset_index(drop=True)
    print(datetime.datetime.now() - startTm)
    
    startTm = datetime.datetime.now()
    SZ["skey"] = SZ["StockID"] + 2000000
    SZ.drop(["StockID"],axis=1,inplace=True)
    SZ["date"] = int(SZ["QuotTime"].iloc[0]//1000000000)
    SZ["time"] = (SZ['QuotTime'] - int(SZ['QuotTime'].iloc[0]//1000000000*1000000000)).astype(np.int64) * 1000
    SZ["clockAtArrival"] = SZ["QuotTime"].astype(str).apply(lambda x: np.int64(datetime.datetime.strptime(x, '%Y%m%d%H%M%S%f').timestamp()*1e6))
    SZ['datetime'] = SZ["clockAtArrival"].apply(lambda x: datetime.datetime.fromtimestamp(x/1e6))
    SZ.drop(["QuotTime"],axis=1,inplace=True)
    print(datetime.datetime.now() - startTm)
    
    startTm = datetime.datetime.now()
    SZ["BidPrice"] = SZ["BidPrice"].apply(lambda x: [float(i) for i in x[1:-1].split(',')])
    SZ["OfferPrice"] = SZ["OfferPrice"].apply(lambda x: [float(i) for i in x[1:-1].split(',')])
    SZ["BidOrderQty"] = SZ["BidOrderQty"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["OfferOrderQty"] = SZ["OfferOrderQty"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["BidNumOrders"] = SZ["BidNumOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["OfferNumOrders"] = SZ["OfferNumOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])

    for i in range(1, 11):
        SZ["bid" + str(i) + 'p'] = SZ["BidPrice"].apply(lambda x: x[i-1],2)
    SZ.drop(["BidPrice"],axis=1,inplace=True)
    print("1")
    for i in range(1, 11):
        SZ["ask" + str(i) + 'p'] = SZ["OfferPrice"].apply(lambda x: x[i-1],2)
    SZ.drop(["OfferPrice"],axis=1,inplace=True)
    print("2")
    for i in range(1, 11):
        SZ["bid" + str(i) + 'q'] = SZ["BidOrderQty"].apply(lambda x: x[i-1])
    SZ.drop(["BidOrderQty"],axis=1,inplace=True)
    print("3")
    for i in range(1, 11):
        SZ["ask" + str(i) + 'q'] = SZ["OfferOrderQty"].apply(lambda x: x[i-1])
    SZ.drop(["OfferOrderQty"],axis=1,inplace=True)
    print("4")
    for i in range(1, 11):
        SZ["bid" + str(i) + 'n'] = SZ["BidNumOrders"].apply(lambda x: x[i-1])
        SZ["bid" + str(i) + 'n'] = SZ["bid" + str(i) + 'n'].astype('int32')
    SZ.drop(["BidNumOrders"],axis=1,inplace=True)
    print("5")
    for i in range(1, 11):
        SZ["ask" + str(i) + 'n'] = SZ["OfferNumOrders"].apply(lambda x: x[i-1])
        SZ["ask" + str(i) + 'n'] = SZ["ask" + str(i) + 'n'].astype('int32') 
    SZ.drop(["OfferNumOrders"],axis=1,inplace=True)
    print("6")
    
    SZ["BidOrders"] = SZ["BidOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["OfferOrders"] = SZ["OfferOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])

    for i in range(1, 51):
        SZ["bid1Top" + str(i) + 'q'] = SZ["BidOrders"].apply(lambda x: x[i-1])
        SZ["bid1Top" + str(i) + 'q'] = SZ["bid1Top" + str(i) + 'q'].astype('int32') 
    SZ.drop(["BidOrders"],axis=1,inplace=True)
    print("7")
    
    for i in range(1, 51):
        SZ["ask1Top" + str(i) + 'q'] = SZ["OfferOrders"].apply(lambda x: x[i-1])
        SZ["ask1Top" + str(i) + 'q'] = SZ["ask1Top" + str(i) + 'q'].astype('int32') 
    SZ.drop(["OfferOrders"],axis=1,inplace=True)
    print("8")
    print(datetime.datetime.now() - startTm)
        
    
    startTm = datetime.datetime.now()
    SZ.columns = ['cum_trades_cnt', 'total_bid_quantity', 'total_ask_quantity', 'close',
       'total_ask_vwap', 'cum_amount', 'cum_volume', 'open', 'high',
       'prev_close', 'low', 'total_bid_vwap', 'skey', 'date', 'time',
       'clockAtArrival', 'datetime', 'bid1p', 'bid2p', 'bid3p', 'bid4p',
       'bid5p', 'bid6p', 'bid7p', 'bid8p', 'bid9p', 'bid10p', 'ask1p',
       'ask2p', 'ask3p', 'ask4p', 'ask5p', 'ask6p', 'ask7p', 'ask8p',
       'ask9p', 'ask10p', 'bid1q', 'bid2q', 'bid3q', 'bid4q', 'bid5q',
       'bid6q', 'bid7q', 'bid8q', 'bid9q', 'bid10q', 'ask1q', 'ask2q',
       'ask3q', 'ask4q', 'ask5q', 'ask6q', 'ask7q', 'ask8q', 'ask9q',
       'ask10q', 'bid1n', 'bid2n', 'bid3n', 'bid4n', 'bid5n', 'bid6n',
       'bid7n', 'bid8n', 'bid9n', 'bid10n', 'ask1n', 'ask2n', 'ask3n',
       'ask4n', 'ask5n', 'ask6n', 'ask7n', 'ask8n', 'ask9n', 'ask10n',
       'bid1Top1q', 'bid1Top2q', 'bid1Top3q', 'bid1Top4q', 'bid1Top5q',
       'bid1Top6q', 'bid1Top7q', 'bid1Top8q', 'bid1Top9q', 'bid1Top10q',
       'bid1Top11q', 'bid1Top12q', 'bid1Top13q', 'bid1Top14q',
       'bid1Top15q', 'bid1Top16q', 'bid1Top17q', 'bid1Top18q',
       'bid1Top19q', 'bid1Top20q', 'bid1Top21q', 'bid1Top22q',
       'bid1Top23q', 'bid1Top24q', 'bid1Top25q', 'bid1Top26q',
       'bid1Top27q', 'bid1Top28q', 'bid1Top29q', 'bid1Top30q',
       'bid1Top31q', 'bid1Top32q', 'bid1Top33q', 'bid1Top34q',
       'bid1Top35q', 'bid1Top36q', 'bid1Top37q', 'bid1Top38q',
       'bid1Top39q', 'bid1Top40q', 'bid1Top41q', 'bid1Top42q',
       'bid1Top43q', 'bid1Top44q', 'bid1Top45q', 'bid1Top46q',
       'bid1Top47q', 'bid1Top48q', 'bid1Top49q', 'bid1Top50q',
       'ask1Top1q', 'ask1Top2q', 'ask1Top3q', 'ask1Top4q', 'ask1Top5q',
       'ask1Top6q', 'ask1Top7q', 'ask1Top8q', 'ask1Top9q', 'ask1Top10q',
       'ask1Top11q', 'ask1Top12q', 'ask1Top13q', 'ask1Top14q',
       'ask1Top15q', 'ask1Top16q', 'ask1Top17q', 'ask1Top18q',
       'ask1Top19q', 'ask1Top20q', 'ask1Top21q', 'ask1Top22q',
       'ask1Top23q', 'ask1Top24q', 'ask1Top25q', 'ask1Top26q',
       'ask1Top27q', 'ask1Top28q', 'ask1Top29q', 'ask1Top30q',
       'ask1Top31q', 'ask1Top32q', 'ask1Top33q', 'ask1Top34q',
       'ask1Top35q', 'ask1Top36q', 'ask1Top37q', 'ask1Top38q',
       'ask1Top39q', 'ask1Top40q', 'ask1Top41q', 'ask1Top42q',
       'ask1Top43q', 'ask1Top44q', 'ask1Top45q', 'ask1Top46q',
       'ask1Top47q', 'ask1Top48q', 'ask1Top49q', 'ask1Top50q']
    
    SZ = SZ.fillna(0)
#     SZ["p1"] = SZ["bid1p"] + SZ["ask1p"]
#     tt = SZ[(SZ["cum_volume"] > 0) & (SZ["time"] < 145700000000)].groupby("skey")['p1'].min()
#     SZ.drop("p1", axis=1, inplace=True)
#     try:
#         assert(tt[tt == 0].shape[0] == 0)
#     except:
#         display(tt[tt == 0])
#     SZ = SZ[~((SZ["bid1p"] == 0) & (SZ["ask1p"] == 0))]
    SZ["ordering"] = SZ.groupby("skey").cumcount()
    SZ["ordering"] = SZ["ordering"] + 1

    for cols in ["total_bid_orders",'total_ask_orders','total_bid_levels', 'total_ask_levels', 'bid_trade_max_duration',
                 'ask_trade_max_duration', 'cum_canceled_buy_orders', 'cum_canceled_buy_volume', "cum_canceled_buy_amount",
                 "cum_canceled_sell_orders", 'cum_canceled_sell_volume',"cum_canceled_sell_amount", "has_missing"]:
        SZ[cols] = 0
        
#     for col in ["cum_volume", "total_bid_quantity", "total_ask_quantity",'cum_canceled_buy_volume',
#         'cum_canceled_sell_volume']:
#         SZ[col] = SZ[col].astype('int64')
    
    for col in ["skey", "date", "cum_trades_cnt", "total_bid_orders",
        'total_ask_orders', 'total_bid_levels', 'total_ask_levels', 'cum_canceled_buy_orders','cum_canceled_sell_orders',
            "ordering", 'bid_trade_max_duration', 'ask_trade_max_duration','has_missing']:
        SZ[col] = SZ[col].astype('int32')
    
        
#     for cols in ["prev_close", 'open', "high", "low", "close", 'bid10p','bid9p','bid8p','bid7p','bid6p','bid5p','bid4p','bid3p',
#              'bid2p','bid1p','ask1p','ask2p','ask3p','ask4p','ask5p','ask6p','ask7p','ask8p','ask9p','ask10p', 'total_bid_vwap', "total_ask_vwap",
#                 "cum_amount"]:
# #         SZ[cols] = SZ[cols].apply(lambda x: round(x, 2)).astype('float64')
#         print(cols)
#         print(SZ[cols].astype(str).apply(lambda x: len(str(x.split('.')[1]))).unique())

        
    for cols in ["cum_canceled_sell_amount", "cum_canceled_buy_amount"]:
        SZ[cols] = SZ[cols].astype('float64')

        
    assert(sum(SZ[SZ["open"] != 0].groupby("skey")["open"].nunique() != 1) == 0)
    assert(sum(SZ[SZ["prev_close"] != 0].groupby("skey")["prev_close"].nunique() != 1) == 0)
    SZ["prev_close"] = np.where(SZ["time"] >= 91500000000, SZ.groupby("skey")["prev_close"].transform("max"), SZ["prev_close"]) 
    SZ["open"] = np.where(SZ["cum_volume"] > 0, SZ.groupby("skey")["open"].transform("max"), SZ["open"])
    assert(sum(SZ[SZ["open"] != 0].groupby("skey")["open"].nunique() != 1) == 0)
    assert(sum(SZ[SZ["prev_close"] != 0].groupby("skey")["prev_close"].nunique() != 1) == 0)
    assert(SZ[SZ["cum_volume"] > 0]["open"].min() > 0)
    
    print(datetime.datetime.now() - startTm)
    
    
    # check 1
    startTm = datetime.datetime.now()
    da_te = str(SZ["date"].iloc[0]) 
    da_te = da_te[:4] + '-' + da_te[4:6] + '-' + da_te[6:8]
    db1 = db[db["date"] == da_te]
    db1["ID"] = db1["ID"].str[2:].astype(int) + 2000000
    db1["date"] = (db1["date"].str[:4] + db1["date"].str[5:7] + db1["date"].str[8:]).astype(int)
    SZ["cum_max"] = SZ.groupby("skey")["cum_volume"].transform(max)
    s2 = SZ[SZ["cum_volume"] == SZ["cum_max"]].groupby("skey").first().reset_index()
    SZ.drop("cum_max", axis=1, inplace=True)
    s2 = s2.rename(columns={"skey": "ID", 'open':"d_open", "prev_close":"d_yclose","high":"d_high", "low":"d_low", "close":"d_close", "cum_volume":"d_volume", "cum_amount":"d_amount"})
    s2 = s2[["ID", "date", "d_open", "d_yclose", "d_high", "d_low", "d_close", "d_volume", "d_amount"]]
    re = pd.merge(db1, s2, on=["ID", "date", "d_open", "d_yclose","d_high", "d_low", "d_volume"], how="outer")
    try:
        assert(sum(re["d_amount_y"].isnull()) == 0)
    except:
        display(re[re["d_amount_y"].isnull()])
        wr_ong += [re[re["d_amount_y"].isnull()]]
    del re
    del s2
    del db1
    print(datetime.datetime.now() - startTm)
    
    # check 2
    # first part
    startTm = datetime.datetime.now()
    date = pd.DataFrame(pd.date_range(start='2019-06-10 08:30:00', end='2019-06-10 18:00:00', freq='s'), columns=["Orig"])
    date["time"] = date["Orig"].apply(lambda x: int(x.strftime("%H%M%S"))*1000)
    date["group"] = date["time"]//30000
    SZ["group"] = SZ["time"]//30000000
    gl = date[((date["time"] >= 93000000) & (date["time"] <= 113000000))|((date["time"] >= 130000000) & (date["time"] <= 150000000))]["group"].unique()
    l = set(gl) - set(SZ["group"].unique())
    SZ["has_missing1"] = 0 
    if len(l) != 0:
        print("massive missing")
        print(l)
        SZ["order"] = SZ.groupby(["skey", "time"]).cumcount()
        for i in l:
            SZ["t"] = SZ[SZ["group"] > i].groupby("skey")["time"].transform("min")
            SZ["has_missing1"] = np.where((SZ["time"] == SZ["t"]) & (SZ["order"] == 0), 1, 0)
        SZ.drop(["order", "t", "group"], axis=1, inplace=True)   
    else:
        print("no massive missing")
        SZ.drop(["group"], axis=1, inplace=True)
    



    # second part

    SZ["time_interval"] = SZ.groupby("skey")["datetime"].apply(lambda x: x - x.shift(1))
    SZ["time_interval"] = SZ["time_interval"].apply(lambda x: x.seconds)
    SZ["tn_update"] = SZ.groupby("skey")["cum_trades_cnt"].apply(lambda x: x-x.shift(1))

    f1 = SZ[(SZ["time"] >= 93000000000) & (SZ["tn_update"] != 0)].groupby("skey")["time"].min().reset_index()
    f1 = f1.rename(columns={"time": "time1"})
    f2 = SZ[(SZ["time"] >= 130000000000) & (SZ["tn_update"] != 0)].groupby("skey")["time"].min().reset_index()
    f2 = f2.rename(columns={"time": "time2"})
    f3 = SZ[(SZ["time"] >= 150000000000) & (SZ["tn_update"] != 0)].groupby("skey")["time"].min().reset_index()
    f3 = f3.rename(columns={"time": "time3"})
    SZ = pd.merge(SZ, f1, on="skey", how="left")
    del f1
    SZ = pd.merge(SZ, f2, on="skey", how="left")
    del f2
    SZ = pd.merge(SZ, f3, on="skey", how="left")
    del f3
    p99 = SZ[(SZ["time"] > 93000000000) & (SZ["time"] < 145700000000) & (SZ["time"] != SZ["time2"]) & (SZ["tn_update"] != 0)]\
    .groupby("skey")["tn_update"].apply(lambda x: x.describe([0.99])["99%"]).reset_index()
    p99 = p99.rename(columns={"tn_update":"99%"})
    SZ = pd.merge(SZ, p99, on="skey", how="left")

    SZ["has_missing2"] = 0
    SZ["has_missing2"] = np.where((SZ["time_interval"] > 60) & (SZ["tn_update"] > SZ["99%"]) & 
         (SZ["time"] > SZ["time1"]) & (SZ["time"] != SZ["time2"]) & (SZ["time"] != SZ["time3"])& (SZ["time"] != 100000000000), 1, 0)
    SZ.drop(["time_interval", "tn_update", "time1", "time2", "time3", "99%"], axis=1, inplace=True) 

    SZ["has_missing"] = np.where((SZ["has_missing1"] == 1) | (SZ["has_missing2"] == 1), 1, 0)
    SZ.drop(["has_missing1", "has_missing2"], axis=1, inplace=True) 
    if SZ[SZ["has_missing"] == 1].shape[0] != 0:
        print("has missing!!!!!!!!!!!!!!!!!!!!!!!")
        print(SZ[SZ["has_missing"] == 1].shape[0])
        mi_ss += [SZ[SZ["has_missing"] == 1]]
    print(datetime.datetime.now() - startTm)

    
    
    startTm = datetime.datetime.now()
    SZ["has_missing"] = SZ["has_missing"].astype('int32')
    SZ = SZ[["skey", "date", "time", "clockAtArrival", "datetime", "ordering", "has_missing", "cum_trades_cnt", "cum_volume", "cum_amount", "prev_close",
                            "open", "high", "low", "close", 'bid10p','bid9p','bid8p','bid7p','bid6p','bid5p','bid4p','bid3p','bid2p','bid1p',
                            'ask1p','ask2p','ask3p','ask4p','ask5p','ask6p','ask7p','ask8p','ask9p','ask10p', 'bid10q','bid9q','bid8q',
                             'bid7q','bid6q','bid5q','bid4q','bid3q','bid2q','bid1q', 'ask1q','ask2q','ask3q','ask4q','ask5q','ask6q',
                             'ask7q','ask8q','ask9q','ask10q', 'bid10n', 'bid9n', 'bid8n', 'bid7n', 'bid6n', 'bid5n', 'bid4n', 'bid3n', 'bid2n', 'bid1n', 
                             'ask1n', 'ask2n', 'ask3n', 'ask4n', 'ask5n', 'ask6n','ask7n', 'ask8n', 'ask9n', 'ask10n','bid1Top1q','bid1Top2q','bid1Top3q','bid1Top4q','bid1Top5q','bid1Top6q',
        'bid1Top7q','bid1Top8q','bid1Top9q','bid1Top10q','bid1Top11q','bid1Top12q','bid1Top13q','bid1Top14q','bid1Top15q','bid1Top16q','bid1Top17q','bid1Top18q',
        'bid1Top19q','bid1Top20q','bid1Top21q','bid1Top22q','bid1Top23q','bid1Top24q','bid1Top25q','bid1Top26q','bid1Top27q','bid1Top28q','bid1Top29q',
        'bid1Top30q','bid1Top31q','bid1Top32q','bid1Top33q','bid1Top34q','bid1Top35q','bid1Top36q','bid1Top37q','bid1Top38q','bid1Top39q','bid1Top40q',
        'bid1Top41q','bid1Top42q','bid1Top43q','bid1Top44q','bid1Top45q','bid1Top46q','bid1Top47q','bid1Top48q','bid1Top49q','bid1Top50q', 'ask1Top1q',
        'ask1Top2q','ask1Top3q','ask1Top4q','ask1Top5q','ask1Top6q','ask1Top7q','ask1Top8q','ask1Top9q','ask1Top10q','ask1Top11q','ask1Top12q','ask1Top13q',
        'ask1Top14q','ask1Top15q','ask1Top16q','ask1Top17q','ask1Top18q','ask1Top19q','ask1Top20q','ask1Top21q','ask1Top22q','ask1Top23q',
        'ask1Top24q','ask1Top25q','ask1Top26q','ask1Top27q','ask1Top28q','ask1Top29q','ask1Top30q','ask1Top31q','ask1Top32q','ask1Top33q',
        'ask1Top34q','ask1Top35q','ask1Top36q','ask1Top37q','ask1Top38q','ask1Top39q','ask1Top40q','ask1Top41q','ask1Top42q','ask1Top43q',
        'ask1Top44q','ask1Top45q','ask1Top46q','ask1Top47q','ask1Top48q','ask1Top49q','ask1Top50q',"total_bid_quantity", "total_ask_quantity","total_bid_vwap", "total_ask_vwap",
        "total_bid_orders",'total_ask_orders','total_bid_levels', 'total_ask_levels', 'bid_trade_max_duration', 'ask_trade_max_duration', 'cum_canceled_buy_orders', 'cum_canceled_buy_volume',
        "cum_canceled_buy_amount", "cum_canceled_sell_orders", 'cum_canceled_sell_volume',"cum_canceled_sell_amount"]]
    
    display(SZ["date"].iloc[0])
    print("SZ finished")
    
    
    db1 = DB("mongodb://user_rw:faa96dfc@192.168.10.223")
    db1.write('snapshot', SZ)
    
    del SZ
    print(datetime.datetime.now() - startTm)

wr_ong = pd.concat(wr_ong).reset_index(drop=True)
print(wr_ong)
mi_ss = pd.concat(mi_ss).reset_index(drop=True)
print(mi_ss)

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:185: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.

0:05:18.611026
0:00:01.429895
20180312 unzip finished
0:00:47.648904
0:01:41.516727
1
2
3
4
5
6
7
8
0:13:12.763193
0:00:40.416084

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
901,2001914,20180312,9.25,9.25,9.08,9.15,9.18,0.986228,-0.003268,0.013289,0.014307,0.016137,2506617.0,22883332.5,0.003759,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:05.392972
massive missing
{3150, 3151}
has missing!!!!!!!!!!!!!!!!!!!!!!!
1917
0:03:03.846002

20180312

SZ finished
0:01:13.223392
0:00:42.043003
20180313 unzip finished
0:00:48.256751
0:01:40.025980
1
2
3
4
5
6
7
8
0:12:53.683645
0:00:36.518683

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
898,2001914,20180313,9.14,9.19,9.08,9.09,9.15,0.986228,-0.006557,-0.003289,-0.006613,-0.005152,3367860.0,30679793.05,0.005051,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.597554
no massive missing
0:02:34.538208

20180313

SZ finished
0:01:15.388418
0:00:39.106497
20180314 unzip finished
0:00:46.273897
0:01:35.246468
1
2
3
4
5
6
7
8
0:12:22.824783
0:00:35.749725

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
898,2001914,20180314,9.08,9.14,9.06,9.07,9.09,0.986228,-0.0022,0.00443,-0.010366,-0.011116,1975753.0,17963229.79,0.002963,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.462670
no massive missing
0:02:30.347863

20180314

SZ finished
0:01:17.790218
0:00:41.032709
20180315 unzip finished
0:00:47.430219
0:01:37.966037
1
2
3
4
5
6
7
8
0:12:43.469000
0:00:36.966169

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
901,2001914,20180315,9.07,9.13,9.0,9.12,9.07,0.986228,0.005513,0.012209,-0.001487,-0.001578,2635313.0,23893577.84,0.003952,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.382364
no massive missing
0:02:27.242265

20180315

SZ finished
0:01:05.946112
0:00:38.309236
20180316 unzip finished
0:00:43.910133
0:01:30.826623
1
2
3
4
5
6
7
8
0:11:38.291220
0:00:32.974353

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
902,2001914,20180316,9.11,9.14,9.05,9.09,9.12,0.986228,-0.003289,-0.009804,-0.00547,-0.002656,1983378.0,18022878.12,0.002974,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.205777
no massive missing
0:02:21.358399

20180316

SZ finished
0:01:02.095348
0:00:37.776120
20180319 unzip finished
0:00:44.821987
0:01:32.830321
1
2
3
4
5
6
7
8
0:11:45.606493
0:00:33.229404

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
903,2001914,20180319,9.11,9.11,8.98,8.99,9.09,0.986228,-0.011001,-0.017486,0.001225,0.002142,2098845.0,18914823.7,0.003148,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.228510
no massive missing
0:02:20.907050

20180319

SZ finished
0:01:03.954203
0:00:39.602602
20180320 unzip finished
0:00:44.332508
0:01:34.276110
1
2
3
4
5
6
7
8
0:12:05.104612
0:00:33.764077

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
901,2001914,20180320,8.9,9.06,8.85,9.02,8.99,0.986228,0.003337,-0.007701,0.003228,0.000257,2006399.0,17957497.91,0.003009,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.362958
no massive missing
0:02:24.541519

20180320

SZ finished
0:01:06.222868
0:00:40.787541
20180321 unzip finished
0:00:48.078771
0:01:39.399990
1
2
3
4
5
6
7
8
0:12:39.699574
0:00:34.300864

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
903,2001914,20180321,9.0,9.09,8.94,8.98,9.02,0.986228,-0.004435,-0.009923,-0.007207,-0.007505,2811159.0,25383269.69,0.004216,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.347525
no massive missing
0:02:25.442277

20180321

SZ finished
0:01:07.218052
0:00:38.736391
20180322 unzip finished
0:00:45.970857
0:01:36.575306
1
2
3
4
5
6
7
8
0:12:24.995770
0:00:35.055881

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
906,2001914,20180322,8.98,9.35,8.96,9.25,8.98,0.986228,0.030067,0.014254,-0.004564,-0.00094,6270537.0,57586320.6,0.009404,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.857971
no massive missing
0:02:30.049266

20180322

SZ finished
0:01:09.006502
0:00:48.026376
20180323 unzip finished
0:00:50.818367
0:01:47.219784
1
2
3
4
5
6
7
8
0:13:46.461256
0:00:39.909356

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
909,2001914,20180323,9.06,9.17,8.64,8.89,9.25,0.986228,-0.038919,-0.022002,-0.051477,-0.053483,6723156.0,60277245.66,0.010083,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.896163
no massive missing
0:02:48.130633

20180323

SZ finished
0:01:25.905744
0:00:40.193267
20180326 unzip finished
0:00:45.312336
0:01:35.754727
1
2
3
4
5
6
7
8
0:12:30.811746
0:00:36.409569

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
908,2001914,20180326,8.68,8.92,8.53,8.88,8.89,0.986228,-0.001125,-0.012236,0.020011,0.017548,2176182.0,19044257.22,0.003264,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.551642
no massive missing
0:02:31.752885

20180326

SZ finished
0:01:05.350680
0:00:43.455691
20180327 unzip finished
0:00:48.342445
0:01:44.978250
1
2
3
4
5
6
7
8
0:13:01.982953
0:00:37.506056

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
907,2001914,20180327,8.95,9.06,8.92,9.03,8.88,0.986228,0.016892,0.001109,0.022331,0.025416,2064104.0,18565280.7,0.003096,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.759287
no massive missing
0:02:33.680502

20180327

SZ finished
0:01:09.786133
0:00:41.086257
20180328 unzip finished
0:00:47.369936
0:01:41.131179
1
2
3
4
5
6
7
8
0:12:54.726038
0:00:35.865247

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
908,2001914,20180328,8.99,8.99,8.84,8.9,9.03,0.986228,-0.014396,-0.008909,-0.01018,-0.006731,2665100.0,23779654.0,0.003997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.674798
no massive missing
0:02:29.041098

20180328

SZ finished
0:01:13.124992
0:00:40.242451
20180329 unzip finished
0:00:46.978201
0:01:40.478682
1
2
3
4
5
6
7
8
0:12:29.697491
0:00:36.036055

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
906,2001914,20180329,8.85,9.06,8.85,9.0,8.9,0.986228,0.011236,-0.027027,0.010298,0.007294,2633000.0,23649353.49,0.003949,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.360275
no massive missing
0:02:28.472147

20180329

SZ finished
0:01:05.971247
0:00:41.400704
20180330 unzip finished
0:00:48.375495
0:01:41.024232
1
2
3
4
5
6
7
8
0:13:21.508171
0:00:38.503415

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
906,2001914,20180330,9.08,9.18,8.99,9.12,9.0,0.986228,0.013333,0.025872,0.013237,0.017114,2978518.0,27014433.09,0.004467,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.835716
massive missing
{3166}
has missing!!!!!!!!!!!!!!!!!!!!!!!
1924
0:02:54.230099

20180330

SZ finished
0:01:26.471509
0:00:43.187655
20180402 unzip finished
0:00:52.554910
0:01:59.095541
1
2
3
4
5
6
7
8
0:14:00.412758
0:00:38.792451

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
906,2001914,20180402,9.13,9.25,9.06,9.11,9.12,0.986228,-0.001096,0.025901,0.001182,0.005473,3066807.0,28021589.0,0.004599,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:05.037882
no massive missing
0:02:43.734233

20180402

SZ finished
0:01:35.715968
0:00:42.825421
20180403 unzip finished
0:00:49.193492
0:01:54.595361
1
2
3
4
5
6
7
8
0:13:19.908532
0:00:38.051992

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
910,2001914,20180403,9.08,9.13,8.96,9.07,9.11,0.986228,-0.004391,0.00443,-0.010169,-0.009701,2696631.0,24387930.7,0.004044,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:05.327649
no massive missing
0:02:36.950930

20180403

SZ finished
0:01:06.253124
0:00:41.827125
20180404 unzip finished
0:00:47.941698
0:01:40.305494
1
2
3
4
5
6
7
8
0:13:23.030805
0:00:37.909510

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
914,2001914,20180404,9.07,9.17,9.05,9.1,9.07,0.986228,0.003308,0.022472,-0.006935,-0.008957,2639770.0,24043346.52,0.003959,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.853534
no massive missing
0:02:38.318231

20180404

SZ finished
0:01:11.743878
0:00:40.419620
20180409 unzip finished
0:00:46.422275
0:01:39.025231
1
2
3
4
5
6
7
8
0:13:31.291403
0:00:37.189671

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
912,2001914,20180409,9.02,9.1,9.0,9.09,9.1,0.986228,-0.001099,0.01,0.001323,0.00145,2129436.0,19272761.06,0.003193,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.772465
no massive missing
0:02:35.886173

20180409

SZ finished
0:01:27.854149
0:00:42.276203
20180410 unzip finished
0:00:49.769522
0:01:53.456070
1
2
3
4
5
6
7
8
0:13:44.087382
0:00:41.749961

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
912,2001914,20180410,9.11,9.21,9.02,9.2,9.09,0.986228,0.012101,0.008772,0.006322,0.000316,3334671.0,30414707.15,0.005001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.946386
no massive missing
0:02:46.666966

20180410

SZ finished
0:01:23.787590
0:00:42.676019
20180411 unzip finished
0:00:48.095616
0:01:38.259667
1
2
3
4
5
6
7
8
0:13:57.209419
0:00:38.272158

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
911,2001914,20180411,9.15,9.38,9.15,9.25,9.2,0.986228,0.005435,0.015368,0.003772,0.005809,4027718.0,37325468.87,0.00604,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.972671
no massive missing
0:02:47.450249

20180411

SZ finished
0:01:47.389647
0:00:40.656592
20180412 unzip finished
0:00:48.426173
0:01:52.513436
1
2
3
4
5
6
7
8
0:13:38.238929
0:00:40.742094

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
911,2001914,20180412,9.25,9.35,9.15,9.29,9.25,0.986228,0.004324,0.024256,-0.005796,-0.004759,3096040.0,28765881.04,0.004643,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.869331
no massive missing
0:02:48.371394

20180412

SZ finished
0:01:05.341377
0:00:39.272158
20180413 unzip finished
0:00:48.471300
0:01:39.894259
1
2
3
4
5
6
7
8
0:13:16.705494
0:00:37.053798

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
912,2001914,20180413,9.34,9.37,9.2,9.27,9.29,0.986228,-0.002153,0.018681,-0.003991,-0.000889,3111071.0,28877488.45,0.004666,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.783372
no massive missing
0:02:33.505500

20180413

SZ finished
0:01:29.401577
0:00:40.282596
20180416 unzip finished
0:00:46.560666
0:01:37.192445
1
2
3
4
5
6
7
8
0:13:27.935999
0:00:40.322708

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
911,2001914,20180416,9.25,9.25,9.03,9.13,9.27,0.986228,-0.015102,0.0044,-0.002452,-0.000555,2842406.0,25910513.32,0.004263,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.843767
no massive missing
0:02:34.870230

20180416

SZ finished
0:01:23.200664
0:00:41.099611
20180417 unzip finished
0:00:48.146931
0:01:54.352669
1
2
3
4
5
6
7
8
0:13:37.482969
0:00:40.330229

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
912,2001914,20180417,9.15,9.2,9.08,9.1,9.13,0.986228,-0.003286,-0.01087,-0.020216,-0.02281,2296329.0,20978976.04,0.003444,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.900012
no massive missing
0:02:44.431608

20180417

SZ finished
0:01:19.183127
0:00:41.737937
20180418 unzip finished
0:00:49.400384
0:01:43.366818
1
2
3
4
5
6
7
8
0:13:39.354160
0:00:38.268216

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
911,2001914,20180418,9.15,9.33,9.12,9.26,9.1,0.986228,0.017582,0.001081,0.013547,0.014715,3561802.0,32829848.81,0.005342,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.970831
no massive missing
0:02:48.751131

20180418

SZ finished
0:01:07.037560
0:00:40.958641
20180419 unzip finished
0:00:47.772094
0:01:49.795182
1
2
3
4
5
6
7
8
0:13:32.542122
0:00:36.976473

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
911,2001914,20180419,9.32,9.53,9.25,9.47,9.26,0.986228,0.022678,0.019376,0.005707,0.002372,5603605.0,52825612.97,0.008404,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.780236
no massive missing
0:02:35.176401

20180419

SZ finished
0:01:16.021861
0:00:41.815721
20180420 unzip finished
0:00:47.054480
0:01:39.168036
1
2
3
4
5
6
7
8
0:13:33.389520
0:00:38.873613

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
909,2001914,20180420,9.4,9.63,9.38,9.41,9.47,0.986228,-0.006336,0.015102,-0.020633,-0.021136,3584047.0,34033944.37,0.005375,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.833086
no massive missing
0:02:48.646254

20180420

SZ finished
0:01:41.933250
0:00:38.595172
20180423 unzip finished
0:00:47.314727
0:01:47.366953
1
2
3
4
5
6
7
8
0:12:47.925756
0:00:38.442639

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
912,2001914,20180423,9.4,9.85,9.33,9.76,9.41,0.986228,0.037194,0.069003,-0.009678,-0.010625,6013476.0,57664631.99,0.009018,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.596177
no massive missing
0:02:36.413475

20180423

SZ finished
0:01:21.298088
0:00:43.932373
20180424 unzip finished
0:00:47.908203
0:01:52.276213
1
2
3
4
5
6
7
8
0:12:17.914911
0:00:36.940691

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
913,2001914,20180424,9.77,9.94,9.62,9.87,9.76,0.986228,0.01127,0.084615,0.022884,0.02166,5626552.0,55334096.64,0.008438,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.727515
no massive missing
0:02:40.041175

20180424

SZ finished
0:01:05.523506
0:00:39.091683
20180425 unzip finished
0:00:45.394487
0:01:35.237216
1
2
3
4
5
6
7
8
0:11:55.943700
0:00:34.276567

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
914,2001914,20180425,9.82,9.87,9.6,9.65,9.87,0.986228,-0.02229,0.042117,0.000374,0.00385,4438720.0,43068883.07,0.006657,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.348477
no massive missing
0:02:24.053269

20180425

SZ finished
0:01:04.699550
0:00:38.672184
20180426 unzip finished
0:00:45.947284
0:01:50.376471
1
2
3
4
5
6
7
8
0:12:02.058370
0:00:34.929518

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
912,2001914,20180426,9.55,9.76,9.49,9.69,9.65,0.986228,0.004145,0.023231,-0.018701,-0.018318,3438994.0,33197926.64,0.005157,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.392493
no massive missing
0:02:35.206986

20180426

SZ finished
0:01:07.614691
0:00:37.444115
20180427 unzip finished
0:00:44.327352
0:01:33.841255
1
2
3
4
5
6
7
8
0:11:35.590105
0:00:33.651360

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
913,2001914,20180427,9.64,9.81,9.57,9.66,9.69,0.986228,-0.003096,0.026567,0.002224,0.001001,3080642.0,29883508.13,0.00462,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.280443
no massive missing
0:02:20.445274

20180427

SZ finished
0:01:17.766830
0:00:38.877193
20180502 unzip finished
0:00:43.592520
0:01:34.330012
1
2
3
4
5
6
7
8
0:11:33.268813
0:00:34.082841

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
916,2001914,20180502,9.58,9.66,9.42,9.57,9.66,0.986228,-0.009317,-0.019467,-0.000966,-0.00464,3706838.0,35282176.9,0.005559,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.173605
no massive missing
0:02:33.995752

20180502

SZ finished
0:01:34.883833
0:00:40.307861
20180503 unzip finished
0:00:47.730503
0:01:51.434899
1
2
3
4
5
6
7
8
0:12:13.321391
0:00:35.098874

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
918,2001914,20180503,9.56,9.65,9.42,9.61,9.57,0.986228,0.00418,-0.026342,0.009441,0.009012,2701684.0,25833198.12,0.004052,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.442383
no massive missing
0:02:41.251487

20180503

SZ finished
0:01:31.418410
0:00:37.344861
20180504 unzip finished
0:00:44.320678
0:01:48.796255
1
2
3
4
5
6
7
8
0:11:46.521798
0:00:34.574852

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
918,2001914,20180504,9.67,9.67,9.43,9.46,9.61,0.986228,-0.015609,-0.019689,-0.000222,-0.002136,2211700.0,21112318.0,0.003317,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.333707
no massive missing
0:02:33.032751

20180504

SZ finished
0:01:35.619930
0:00:40.661429
20180507 unzip finished
0:00:47.170734
0:01:40.445841
1
2
3
4
5
6
7
8
0:12:40.278475
0:00:37.279515

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
915,2001914,20180507,9.4,9.56,9.4,9.54,9.46,0.986228,0.008457,-0.01548,0.018589,0.017652,1961098.0,18642035.53,0.002941,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.676894
no massive missing
0:02:33.212302

20180507

SZ finished
0:01:35.614898
0:00:40.368181
20180508 unzip finished
0:00:46.532600
0:01:39.585993
1
2
3
4
5
6
7
8
0:12:32.493801
0:00:35.585934

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
917,2001914,20180508,9.6,9.81,9.54,9.63,9.54,0.986228,0.009434,-0.003106,0.003767,0.004748,3324327.0,32198422.25,0.004985,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.513857
no massive missing
0:02:29.066674

20180508

SZ finished
0:01:07.531355
0:00:38.803230
20180509 unzip finished
0:00:47.569532
0:01:37.726131
1
2
3
4
5
6
7
8
0:12:25.856158
0:00:36.122134

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
918,2001914,20180509,9.67,9.67,9.52,9.59,9.63,0.986228,-0.004154,0.00209,-0.002082,-0.000484,1602781.0,15380922.96,0.002404,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.535372
no massive missing
0:02:30.503942

20180509

SZ finished
0:01:11.507470
0:00:39.505455
20180510 unzip finished
0:00:47.307702
0:01:52.495110
1
2
3
4
5
6
7
8
0:12:40.710163
0:00:36.002905

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
917,2001914,20180510,9.55,9.65,9.43,9.53,9.59,0.986228,-0.006257,-0.008325,0.001881,0.00424,3168334.0,30188389.85,0.004751,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.597149
no massive missing
0:02:42.954156

20180510

SZ finished
0:01:08.082164
0:00:40.028403
20180511 unzip finished
0:00:46.408376
0:01:38.516082
1
2
3
4
5
6
7
8
0:12:34.690252
0:00:36.969022

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
917,2001914,20180511,9.6,9.6,9.44,9.45,9.53,0.986228,-0.008395,-0.001057,-0.00815,-0.009912,2103648.0,19964174.08,0.003155,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.495960
no massive missing
0:02:42.566904

20180511

SZ finished
0:01:11.748951
0:00:39.683007
20180514 unzip finished
0:00:45.241940
0:01:36.217839
1
2
3
4
5
6
7
8
0:12:18.273444
0:00:34.438773

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
920,2001914,20180514,9.01,9.23,8.51,8.53,9.45,0.986228,-0.097354,-0.10587,-0.00397,-0.006786,17384712.0,1.503627e+08,0.026072,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.387512
no massive missing
0:02:24.102623

20180514

SZ finished
0:01:03.709670
0:00:37.918134
20180515 unzip finished
0:00:45.715008
0:01:46.485758
1
2
3
4
5
6
7
8
0:11:53.519416
0:00:35.108650

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
920,2001914,20180515,8.52,8.56,8.4,8.56,8.53,0.986228,0.003517,-0.111111,0.008884,0.010528,3910562.0,33279860.73,0.005865,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.424051
no massive missing
0:02:37.508067

20180515

SZ finished
0:01:03.364839
0:00:39.010339
20180516 unzip finished
0:00:45.501734
0:01:36.218892
1
2
3
4
5
6
7
8
0:12:13.656989
0:00:36.259071

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
921,2001914,20180516,8.56,8.58,8.36,8.41,8.56,0.986228,-0.017523,-0.123045,-0.002741,-0.005778,4796085.0,40319318.15,0.007193,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.533158
no massive missing
0:02:26.981688

20180516

SZ finished
0:01:08.419817
0:00:37.812153
20180517 unzip finished
0:00:44.637737
0:01:46.306482
1
2
3
4
5
6
7
8
0:12:02.818527
0:00:33.461939

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
925,2001914,20180517,8.4,8.43,8.34,8.37,8.41,0.986228,-0.004756,-0.121721,-0.005045,-0.004739,2828354.0,23704590.3,0.004242,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.265584
no massive missing
0:02:19.889221

20180517

SZ finished
0:01:06.502716
0:00:39.327066
20180518 unzip finished
0:00:45.012695
0:01:35.738912
1
2
3
4
5
6
7
8
0:12:12.830851
0:00:35.266575

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
922,2001914,20180518,8.34,8.58,8.34,8.45,8.37,0.986228,0.009558,-0.10582,0.003578,0.004479,4312456.0,36589491.68,0.006467,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.515992
no massive missing
0:02:29.109136

20180518

SZ finished
0:01:08.002415
0:00:41.964070
20180521 unzip finished
0:00:47.154347
0:01:41.355836
1
2
3
4
5
6
7
8
0:12:53.128390
0:00:36.807254

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
921,2001914,20180521,8.42,8.54,8.39,8.47,8.45,0.986228,0.002367,-0.007034,0.012852,0.011535,3442761.0,29131952.59,0.005163,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.595451
no massive missing
0:02:34.667207

20180521

SZ finished
0:01:05.361406
0:00:40.690667
20180522 unzip finished
0:00:46.573064
0:01:40.178381
1
2
3
4
5
6
7
8
0:12:32.949172
0:00:35.462400

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
920,2001914,20180522,8.44,8.47,8.35,8.4,8.47,0.986228,-0.008264,-0.018692,0.00341,0.00407,2128564.0,17889460.56,0.003192,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.524297
no massive missing
0:02:33.416348

20180522

SZ finished
0:01:08.598342
0:00:42.396083
20180523 unzip finished
0:00:47.164031
0:01:39.291124
1
2
3
4
5
6
7
8
0:13:14.250043
0:00:41.017254

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
921,2001914,20180523,8.4,8.4,8.14,8.19,8.4,0.986228,-0.025,-0.026159,-0.012976,-0.010723,5312297.0,43662348.24,0.007967,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:05.240619
no massive missing
0:02:49.450034

20180523

SZ finished
0:01:16.394151
0:00:39.722650
20180524 unzip finished
0:00:47.495406
0:01:38.533121
1
2
3
4
5
6
7
8
0:12:49.462192
0:00:40.646704

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
918,2001914,20180524,8.15,8.21,7.93,8.04,8.19,0.986228,-0.018315,-0.039427,-0.00353,-0.003576,5951424.0,48025052.58,0.008925,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:05.138713
no massive missing
0:02:45.240323

20180524

SZ finished
0:01:06.345807
0:00:40.889939
20180525 unzip finished
0:00:47.872605
0:01:38.362002
1
2
3
4
5
6
7
8
0:13:16.847556
0:00:40.180640

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
918,2001914,20180525,8.04,8.14,7.97,8.1,8.04,0.986228,0.007463,-0.04142,-0.012486,-0.013133,3066492.0,24738283.28,0.004599,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:05.255663
no massive missing
0:02:45.034025

20180525

SZ finished
0:01:07.948079
0:00:45.472805
20180528 unzip finished
0:00:47.224471
0:01:38.319812
1
2
3
4
5
6
7
8
0:12:50.888387
0:00:39.822957

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
918,2001914,20180528,8.08,8.08,7.74,7.78,8.1,0.986228,-0.039506,-0.081464,-0.004484,-0.007803,4552683.0,35794974.39,0.006828,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.995975
no massive missing
0:02:42.787865

20180528

SZ finished
0:01:12.656276
0:00:40.670358
20180529 unzip finished
0:00:47.442765
0:01:37.377914
1
2
3
4
5
6
7
8
0:12:52.776971
0:00:39.525470

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
918,2001914,20180529,7.8,7.9,7.5,7.85,7.78,0.986228,0.008997,-0.065476,-0.009475,-0.008263,3222010.0,25190298.96,0.004832,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:05.052925
no massive missing
0:02:42.929981

20180529

SZ finished
0:01:07.391549
0:00:42.723637
20180530 unzip finished
0:00:48.130733
0:01:40.610715
1
2
3
4
5
6
7
8
0:13:10.793967
0:00:41.570572

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
915,2001914,20180530,7.84,7.84,7.53,7.67,7.85,0.986228,-0.02293,-0.063492,-0.026195,-0.031748,4003310.0,30696736.93,0.006004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:05.187450
no massive missing
0:02:47.344637

20180530

SZ finished
0:01:13.640648
0:00:39.925086
20180531 unzip finished
0:00:47.065941
0:01:36.487720
1
2
3
4
5
6
7
8
0:12:38.074249
0:00:37.570467

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
914,2001914,20180531,7.67,7.79,7.6,7.73,7.67,0.986228,0.007823,-0.038557,0.01265,0.013278,2260986.0,17439552.56,0.003391,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.875567
no massive missing
0:02:35.605098

20180531

SZ finished
0:01:07.062196
0:00:40.239811
20180601 unzip finished
0:00:47.061172
0:01:38.474856
1
2
3
4
5
6
7
8
0:12:42.838761
0:00:38.062434

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
919,2001914,20180601,7.83,8.26,7.71,7.96,7.73,0.986228,0.029754,-0.017284,-0.012053,-0.011312,5658286.0,45600909.53,0.008486,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.950812
no massive missing
0:02:36.724508

20180601

SZ finished
0:01:05.515362
0:00:37.403655
20180604 unzip finished
0:00:44.490879
0:01:30.699643
1
2
3
4
5
6
7
8
0:12:05.105656
0:00:36.876399

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
918,2001914,20180604,7.86,8.0,7.85,7.92,7.96,0.986228,-0.005025,0.017995,-0.000346,-0.004504,1797900.0,14231945.0,0.002696,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.757861
no massive missing
0:02:32.131068

20180604

SZ finished
0:01:05.017597
0:00:39.219107
20180605 unzip finished
0:00:47.325895
0:01:34.532684
1
2
3
4
5
6
7
8
0:12:19.153850
0:00:36.398137

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
918,2001914,20180605,7.85,7.98,7.85,7.96,7.92,0.986228,0.005051,0.014013,0.01688,0.016219,2027172.0,16059291.46,0.00304,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.934172
no massive missing
0:02:29.433146

20180605

SZ finished
0:01:07.563795
0:00:38.464776
20180606 unzip finished
0:00:45.047355
0:01:33.180956
1
2
3
4
5
6
7
8
0:12:20.909877
0:00:36.763863

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
917,2001914,20180606,7.9,8.02,7.84,8.0,7.86,0.973838,0.017812,0.056295,-0.000834,0.000642,2321471.0,18442573.75,0.003481,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.726898
no massive missing
0:02:31.028834

20180606

SZ finished
0:01:06.042604
0:00:39.108930
20180607 unzip finished
0:00:44.745984
0:01:32.135954
1
2
3
4
5
6
7
8
0:12:18.432553
0:00:37.540556

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
913,2001914,20180607,7.95,8.15,7.94,8.08,8.0,0.973838,0.01,0.058577,-0.006276,-0.007213,3441897.0,27678331.89,0.005162,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.831145
no massive missing
0:02:35.141159

20180607

SZ finished
0:01:02.210403
0:00:39.230619
20180608 unzip finished
0:00:46.363383
0:01:36.890450
1
2
3
4
5
6
7
8
0:12:38.340380
0:00:37.754952

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
912,2001914,20180608,8.08,8.13,7.88,7.92,8.08,0.973838,-0.019802,0.007634,-0.011975,-0.010985,2211968.0,17685150.29,0.003317,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.967233
no massive missing
0:02:44.506607

20180608

SZ finished
0:01:03.637997
0:00:37.163976
20180611 unzip finished
0:00:44.550017
0:01:32.750484
1
2
3
4
5
6
7
8
0:12:01.852083
0:00:36.380932

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
919,2001914,20180611,7.93,7.94,7.78,7.87,7.92,0.973838,-0.006313,0.006329,-0.006517,-0.008704,1085039.0,8537293.75,0.001627,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.742223
no massive missing
0:02:29.208057

20180611

SZ finished
0:01:04.893014
0:00:37.672691
20180612 unzip finished
0:00:45.614257
0:01:33.670677
1
2
3
4
5
6
7
8
0:12:11.373457
0:00:37.287897

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
917,2001914,20180612,7.84,7.99,7.8,7.98,7.87,0.973838,0.013977,0.015267,0.010828,0.007675,1817439.0,14403838.29,0.002726,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.753126
no massive missing
0:02:41.666698

20180612

SZ finished
0:01:13.926927
0:00:37.741202
20180613 unzip finished
0:00:44.615110
0:01:44.373151
1
2
3
4
5
6
7
8
0:12:11.886783
0:00:36.032513

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
917,2001914,20180613,7.85,7.95,7.74,7.77,7.98,0.973838,-0.026316,-0.02875,-0.015163,-0.01723,1664801.0,13063923.82,0.002497,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.767661
no massive missing
0:02:29.041304

20180613

SZ finished
0:01:02.062973
0:00:37.001514
20180614 unzip finished
0:00:43.295500
0:01:39.154633
1
2
3
4
5
6
7
8
0:11:52.893562
0:00:35.783001

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
913,2001914,20180614,7.77,7.84,7.7,7.71,7.77,0.973838,-0.007722,-0.045792,-0.003582,-0.005288,1709641.0,13252524.73,0.002564,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.739621
no massive missing
0:02:26.268770

20180614

SZ finished
0:01:03.260592
0:00:40.451691
20180615 unzip finished
0:00:45.866010
0:01:34.582090
1
2
3
4
5
6
7
8
0:12:42.577512
0:00:38.412632

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
911,2001914,20180615,7.71,8.01,7.67,7.9,7.71,0.973838,0.024643,-0.002525,-0.018434,-0.021791,3561635.0,27904669.29,0.005341,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.955160
no massive missing
0:02:41.100478

20180615

SZ finished
0:01:12.289179
0:00:42.682020
20180619 unzip finished
0:00:46.920098
0:01:54.442041
1
2
3
4
5
6
7
8
0:13:14.917706
0:00:39.543695

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
901,2001914,20180619,7.8,7.8,7.11,7.14,7.9,0.973838,-0.096203,-0.092757,-0.062407,-0.068411,4639053.0,34080020.53,0.006957,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:05.081499
no massive missing
0:02:55.238835

20180619

SZ finished
0:01:12.039538
0:00:41.344625
20180620 unzip finished
0:00:46.702453
0:01:48.381439
1
2
3
4
5
6
7
8
0:12:41.929812
0:00:38.215652

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
902,2001914,20180620,7.05,7.29,6.98,7.22,7.14,0.973838,0.011204,-0.095238,0.011024,0.011904,3685500.0,26265733.95,0.005527,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.966392
no massive missing
0:02:37.115620

20180620

SZ finished
0:01:04.944156
0:00:46.031526
20180621 unzip finished
0:00:46.101776
0:01:49.553370
1
2
3
4
5
6
7
8
0:12:35.204629
0:00:37.782766

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
902,2001914,20180621,7.19,7.27,6.64,6.69,7.22,0.973838,-0.073407,-0.138996,-0.020995,-0.023506,4818697.0,33570356.13,0.007227,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.897967
no massive missing
0:02:37.575604

20180621

SZ finished
0:01:05.862843
0:00:37.767389
20180622 unzip finished
0:00:43.877280
0:01:31.298507
1
2
3
4
5
6
7
8
0:11:51.890032
0:00:35.350008

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
903,2001914,20180622,6.69,6.9,6.55,6.85,6.69,0.973838,0.023916,-0.111543,0.013926,0.015478,2597803.0,17659685.87,0.003896,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.675923
no massive missing
0:02:23.799453

20180622

SZ finished
0:01:10.524572
0:00:35.537826
20180625 unzip finished
0:00:42.435007
0:01:25.807547
1
2
3
4
5
6
7
8
0:11:21.323403
0:00:34.074340

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
908,2001914,20180625,6.94,6.97,6.82,6.85,6.85,0.973838,0.0,-0.132911,-0.0068,-0.005223,2064690.0,14223136.74,0.003096,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.507210
no massive missing
0:02:21.364335

20180625

SZ finished
0:01:06.092143
0:00:37.836107
20180626 unzip finished
0:00:43.408349
0:01:32.374682
1
2
3
4
5
6
7
8
0:12:08.042198
0:00:37.219984

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
909,2001914,20180626,6.8,6.99,6.75,6.91,6.85,0.973838,0.008759,-0.032213,0.006878,0.008396,2272795.0,15662292.31,0.003408,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.773988
no massive missing
0:02:30.178166

20180626

SZ finished
0:01:02.263054
0:00:37.651033
20180627 unzip finished
0:00:44.797770
0:01:31.651619
1
2
3
4
5
6
7
8
0:11:55.181302
0:00:35.897577

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
914,2001914,20180627,6.91,7.07,6.88,6.97,6.91,0.973838,0.008683,-0.034626,-0.009842,-0.008959,1948384.0,13550988.05,0.002922,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.704194
no massive missing
0:02:27.180916

20180627

SZ finished
0:00:59.640791
0:00:37.379686
20180628 unzip finished
0:00:42.936951
0:01:29.768199
1
2
3
4
5
6
7
8
0:11:39.942165
0:00:35.393901

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
915,2001914,20180628,6.95,7.19,6.9,7.14,6.97,0.973838,0.02439,0.067265,-0.010645,-0.011811,3482765.0,24678917.66,0.005223,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.699621
no massive missing
0:02:36.388084

20180628

SZ finished
0:01:01.962454
0:00:40.351307
20180629 unzip finished
0:00:47.039708
0:01:37.469954
1
2
3
4
5
6
7
8
0:12:39.601176
0:00:37.289126

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
917,2001914,20180629,7.1,7.2,7.0,7.09,7.14,0.973838,-0.007003,0.035036,0.032176,0.030252,3240147.0,23017448.05,0.004859,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.816771
no massive missing
0:02:35.527771

20180629

SZ finished
0:01:05.081460
0:00:40.657712
20180702 unzip finished
0:00:45.975668
0:01:36.044128
1
2
3
4
5
6
7
8
0:12:27.931773
0:00:37.705482

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
923,2001914,20180702,7.18,7.22,6.98,7.06,7.09,0.973838,-0.004231,0.030657,-0.015137,-0.01256,4106734.0,29080376.36,0.006159,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.972098
no massive missing
0:02:44.011744

20180702

SZ finished
0:01:11.695956
0:00:41.804167
20180703 unzip finished
0:00:47.798888
0:01:40.372283
1
2
3
4
5
6
7
8
0:13:09.845752
0:00:39.498455

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
927,2001914,20180703,7.04,7.12,6.92,7.07,7.06,0.973838,0.001416,0.023155,0.011355,0.011466,3916724.0,27493406.29,0.005874,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:05.122415
no massive missing
0:02:45.422616

20180703

SZ finished
0:01:07.250124
0:00:40.086948
20180704 unzip finished
0:00:46.070505
0:01:35.250973
1
2
3
4
5
6
7
8
0:12:24.569004
0:00:37.351776

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
926,2001914,20180704,7.06,7.08,6.91,6.91,7.07,0.973838,-0.022631,-0.008608,-0.014583,-0.018017,1872776.0,13108430.98,0.002809,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.840153
no massive missing
0:02:33.454701

20180704

SZ finished
0:01:03.436204
0:00:40.314682
20180705 unzip finished
0:00:45.476270
0:01:34.335142
1
2
3
4
5
6
7
8
0:12:17.109124
0:00:36.806057

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
927,2001914,20180705,6.96,7.01,6.6,6.63,6.91,0.973838,-0.040521,-0.071429,-0.027059,-0.026907,2946244.0,20025280.98,0.004418,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.806904
no massive missing
0:02:30.458330

20180705

SZ finished
0:01:15.230372
0:00:42.022865
20180706 unzip finished
0:00:49.378384
0:01:54.475930
1
2
3
4
5
6
7
8
0:13:17.682778
0:00:39.942506

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
930,2001914,20180706,6.76,6.86,6.58,6.84,6.63,0.973838,0.031674,-0.035261,0.002783,0.004095,3337957.0,22490452.86,0.005006,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:05.086863
no massive missing
0:02:43.866459

20180706

SZ finished
0:01:16.479960
0:00:38.314514
20180709 unzip finished
0:00:45.068835
0:01:32.712600
1
2
3
4
5
6
7
8
0:12:21.866117
0:00:37.418756

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
932,2001914,20180709,6.9,7.04,6.87,6.93,6.84,0.973838,0.013158,-0.018414,0.022199,0.021019,1954879.0,13588500.52,0.002932,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.741052
no massive missing
0:02:32.937521

20180709

SZ finished
0:01:15.012315
0:00:38.325327
20180710 unzip finished
0:00:46.026252
0:01:34.710118
1
2
3
4
5
6
7
8
0:12:26.750541
0:00:36.940181

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
550,2001872,20180710,20.55,24.46,20.54,21.33,22.82,0.905679,-0.065294,-0.088699,0.005674,0.006789,9757532.0,2.112768e+08,0.021003,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,464578359.0,644763730.0,NaN,NaN
932,2001914,20180710,6.89,7.08,6.89,7.08,6.93,0.973838,0.021645,0.001414,0.005674,0.006789,1804074.0,1.261478e+07,0.002706,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.763845
no massive missing
0:02:32.244071

20180710

SZ finished
0:01:15.274282
0:00:42.258645
20180711 unzip finished
0:00:47.837225
0:01:39.653557
1
2
3
4
5
6
7
8
0:13:03.212110
0:00:38.788018

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
549,2001872,20180711,20.57,20.63,19.31,19.32,21.33,0.905679,-0.094233,-0.167174,-0.019542,-0.023257,6303361.0,1.241230e+08,0.013568,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464578359.0,644763730.0,NaN,NaN
930,2001914,20180711,7.00,7.00,6.82,6.92,7.08,0.973838,-0.022599,0.001447,-0.019542,-0.023257,2691716.0,1.861207e+07,0.004037,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.927690
no massive missing
0:02:43.108936

20180711

SZ finished
0:01:05.734818
0:00:43.098860
20180712 unzip finished
0:00:49.914961
0:01:41.122873
1
2
3
4
5
6
7
8
0:13:42.887572
0:00:42.911679

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
549,2001872,20180712,18.99,19.90,18.81,19.31,19.32,0.905679,-0.000518,-0.159384,0.027074,0.026879,6644821.0,1.282735e+08,0.014303,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464578359.0,644763730.0,NaN,NaN
930,2001914,20180712,6.97,7.03,6.84,7.00,6.92,0.973838,0.011561,0.055807,0.027074,0.026879,2520002.0,1.760465e+07,0.003779,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:05.291651
no massive missing
0:02:51.894223

20180712

SZ finished
0:01:08.163028
0:00:39.969412
20180713 unzip finished
0:00:46.736968
0:01:37.743670
1
2
3
4
5
6
7
8
0:12:47.763762
0:00:38.247519

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
551,2001872,20180713,19.23,19.50,18.85,19.0,19.31,0.905679,-0.016054,-0.167397,0.006125,0.003668,4825692.0,92125320.02,0.010387,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464578359.0,644763730.0,NaN,NaN
932,2001914,20180713,7.04,7.68,6.99,7.3,7.00,0.973838,0.042857,0.067251,0.006125,0.003668,5819670.0,42331285.70,0.008728,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.930032
no massive missing
0:02:49.617736

20180713

SZ finished
0:01:09.517061
0:00:38.115186
20180716 unzip finished
0:00:45.561296
0:01:34.729421
1
2
3
4
5
6
7
8
0:12:27.385595
0:00:36.035634

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
553,2001872,20180716,19.06,19.36,18.91,19.28,19.0,0.905679,0.014737,-0.155127,-0.001727,0.000948,3511585.0,67334860.15,0.007559,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464578359.0,644763730.0,NaN,NaN
934,2001914,20180716,7.19,7.40,7.12,7.29,7.3,0.973838,-0.001370,0.051948,-0.001727,0.000948,3330237.0,24150874.00,0.004994,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.684716
no massive missing
0:02:29.440888

20180716

SZ finished
0:01:06.215135
0:00:38.371038
20180717 unzip finished
0:00:45.740957
0:01:46.964799
1
2
3
4
5
6
7
8
0:12:20.949425
0:00:36.114545

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
552,2001872,20180717,19.16,19.27,18.91,19.1,19.28,0.905679,-0.009336,-0.104548,0.000192,0.001529,2301390.0,43852490.6,0.004954,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464578359.0,644763730.0,NaN,NaN
933,2001914,20180717,7.25,7.42,7.18,7.3,7.29,0.973838,0.001372,0.031073,0.000192,0.001529,2147059.0,15747796.7,0.003220,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.728045
no massive missing
0:02:29.441354

20180717

SZ finished
0:01:16.515807
0:00:40.397983
20180718 unzip finished
0:00:48.540708
0:01:38.034866
1
2
3
4
5
6
7
8
0:12:59.770251
0:00:37.239933

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
553,2001872,20180718,19.09,19.15,18.60,18.66,19.1,0.905679,-0.023037,-0.034161,-0.007613,-0.005552,2663994.0,50426771.48,0.005734,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464578359.0,644763730.0,NaN,NaN
933,2001914,20180718,7.30,7.39,7.25,7.27,7.3,0.973838,-0.004110,0.050578,-0.007613,-0.005552,1844800.0,13466929.26,0.002767,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.822870
no massive missing
0:02:36.176913

20180718

SZ finished
0:01:08.074455
0:00:39.858839
20180719 unzip finished
0:00:46.007339
0:01:36.036184
1
2
3
4
5
6
7
8
0:12:48.488818
0:00:38.223035

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
554,2001872,20180719,18.74,18.78,17.30,17.39,18.66,0.905679,-0.068060,-0.099430,-0.008787,-0.011498,5099665.0,91113345.01,0.010977,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464578359.0,644763730.0,NaN,NaN
934,2001914,20180719,7.26,7.26,7.08,7.16,7.27,0.973838,-0.015131,0.022857,-0.008787,-0.011498,1971956.0,14147059.14,0.002957,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.980949
no massive missing
0:02:36.515429

20180719

SZ finished
0:01:04.672603
0:00:39.175005
20180720 unzip finished
0:00:47.011624
0:01:51.285533
1
2
3
4
5
6
7
8
0:12:51.647681
0:00:40.388892

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
557,2001872,20180720,17.57,17.59,16.92,17.32,17.39,0.905679,-0.004025,-0.088421,0.012506,0.011028,3451431.0,59756726.83,0.007429,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464578359.0,644763730.0,NaN,NaN
937,2001914,20180720,7.14,7.23,7.07,7.22,7.16,0.973838,0.008380,-0.010959,0.012506,0.011028,1535651.0,11015834.74,0.002303,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:05.071769
no massive missing
0:02:54.643943

20180720

SZ finished
0:01:08.046280
0:00:39.772170
20180723 unzip finished
0:00:47.553995
0:01:39.240433
1
2
3
4
5
6
7
8
0:12:54.722411
0:00:37.936712

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
557,2001872,20180723,17.32,17.75,17.32,17.60,17.32,0.905679,0.016166,-0.087137,0.007488,0.007416,4085850.0,71959906.12,0.008795,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464578359.0,644763730.0,NaN,NaN
937,2001914,20180723,7.19,7.40,7.16,7.35,7.22,0.973838,0.018006,0.008230,0.007488,0.007416,2102300.0,15381317.75,0.003153,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.878256
no massive missing
0:02:38.035618

20180723

SZ finished
0:01:11.288317
0:00:42.501952
20180724 unzip finished
0:00:51.266071
0:01:46.304053
1
2
3
4
5
6
7
8
0:14:05.856723
0:00:42.155997

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
556,2001872,20180724,17.50,19.19,17.43,18.57,17.60,0.905679,0.055114,-0.027749,0.017383,0.016107,6096015.0,1.116180e+08,0.013122,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464578359.0,644763730.0,NaN,NaN
936,2001914,20180724,7.31,7.45,7.31,7.43,7.35,0.973838,0.010884,0.017808,0.017383,0.016107,2357047.0,1.744835e+07,0.003535,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:05.269068
no massive missing
0:02:50.315625

20180724

SZ finished
0:01:09.186009
0:00:40.710806
20180725 unzip finished
0:00:48.894471
0:01:39.892093
1
2
3
4
5
6
7
8
0:13:35.947949
0:00:39.326475

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
556,2001872,20180725,18.21,18.72,18.21,18.47,18.57,0.905679,-0.005385,-0.010182,0.000757,0.002356,3870067.0,71356078.93,0.008330,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464578359.0,644763730.0,NaN,NaN
938,2001914,20180725,7.40,7.46,7.34,7.37,7.43,0.973838,-0.008075,0.013755,0.000757,0.002356,1759901.0,12984244.36,0.002639,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:05.126596
no massive missing
0:02:39.965880

20180725

SZ finished
0:01:05.534779
0:00:41.163683
20180726 unzip finished
0:00:49.359413
0:01:44.608705
1
2
3
4
5
6
7
8
0:13:53.783554
0:00:40.894505

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
557,2001872,20180726,18.46,18.95,18.32,18.62,18.47,0.905679,0.008121,0.07073,-0.006627,-0.003941,3908129.0,72978771.72,0.008412,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464578359.0,644763730.0,NaN,NaN
939,2001914,20180726,7.37,7.41,7.33,7.40,7.37,0.973838,0.004071,0.03352,-0.006627,-0.003941,1849501.0,13622100.35,0.002774,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:05.391785
no massive missing
0:02:46.737669

20180726

SZ finished
0:01:09.284172
0:00:38.640933
20180727 unzip finished
0:00:46.592000
0:01:38.455992
1
2
3
4
5
6
7
8
0:12:41.140619
0:00:37.519000

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
556,2001872,20180727,18.42,18.94,18.41,18.73,18.62,0.905679,0.005908,0.081409,-0.004587,-0.005818,3574536.0,66809164.28,0.007694,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464578359.0,644763730.0,NaN,NaN
938,2001914,20180727,7.44,7.44,7.31,7.37,7.40,0.973838,-0.004054,0.020776,-0.004587,-0.005818,1284481.0,9461092.12,0.001926,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.869731
no massive missing
0:02:35.215940

20180727

SZ finished
0:01:04.337937
0:00:39.043485
20180730 unzip finished
0:00:46.794958
0:01:38.342366
1
2
3
4
5
6
7
8
0:12:54.817739
0:00:39.297575

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
557,2001872,20180730,18.60,18.69,17.80,17.93,18.73,0.905679,-0.042712,0.018750,-0.012219,-0.01442,3035253.0,55448397.43,0.006533,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464578359.0,644763730.0,NaN,NaN
939,2001914,20180730,7.32,7.41,7.21,7.29,7.37,0.973838,-0.010855,-0.008163,-0.012219,-0.01442,2419900.0,17739258.85,0.003629,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:05.071511
no massive missing
0:02:39.573070

20180730

SZ finished
0:01:04.407039
0:00:36.273410
20180731 unzip finished
0:00:44.156607
0:01:29.196904
1
2
3
4
5
6
7
8
0:11:57.378383
0:00:34.820233

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:400: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
560,2001872,20180731,17.90,19.07,17.77,18.78,17.93,0.905679,0.047407,0.011309,0.000688,-0.00117,5751947.0,1.069749e+08,0.012381,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464578359.0,644763730.0,NaN,NaN
942,2001914,20180731,7.31,7.35,7.24,7.29,7.29,0.973838,0.000000,-0.018843,0.000688,-0.00117,1279220.0,9.328639e+06,0.001918,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.552202
no massive missing
0:02:24.581110

20180731

SZ finished
0:01:00.603298
          ID      date  d_open  d_high  d_low  d_close_x  d_yclose  \
0    2001914  20180312    9.25    9.25   9.08       9.15      9.18
1    2001914  20180313    9.14    9.19   9.08       9.09      9.15
2    2001914  20180314    9.08    9.14   9.06       9.07      9.09
3    2001914  20180315    9.07    9.13   9.00       9.12      9.07
4    2001914  20180316    9.11    9.14   9.05       9.09      9.12
..       ...       ...     ...     ...    ...        ...       ...
108  2001914  20180727    7.44    7.44   7.31       7.37      7.40
109  2001872  20180730   18.60   18.69  17.80      17.93     18.73
110  2001914  20180730    7.32    7.41   7.21       7.29      7.37
111  2001872  20180731   17.90   19.07  17.77      18.78     17.93
112  2001914  20180731    7.31    7.35   7.24       7.29      7.29

     d_cumprodCAA  d_dayReturn  d_5dayReturn  d_ICDayReturn  d_CSIDayReturn  \
0        0.986228    -0.003268      0.013289       0.014307        0.016137
1        0.986228    -0.006557     -0.003289      -0.006613       -0.005152
2        0.986228    -0.002200      0.004430      -0.010366       -0.011116
3        0.986228     0.005513      0.012209      -0.001487       -0.001578
4        0.986228    -0.003289     -0.009804      -0.005470       -0.002656
..            ...          ...           ...            ...             ...
108      0.973838    -0.004054      0.020776      -0.004587       -0.005818
109      0.905679    -0.042712      0.018750      -0.012219       -0.014420
110      0.973838    -0.010855     -0.008163      -0.012219       -0.014420
111      0.905679     0.047407      0.011309       0.000688       -0.001170
112      0.973838     0.000000     -0.018843       0.000688       -0.001170

      d_volume    d_amount_x    TORate  allZT  hasZT  isZT  allDT  hasDT  \
0    2506617.0  2.288333e+07  0.003759    0.0    0.0   0.0    0.0    0.0
1    3367860.0  3.067979e+07  0.005051    0.0    0.0   0.0    0.0    0.0
2    1975753.0  1.796323e+07  0.002963    0.0    0.0   0.0    0.0    0.0
3    2635313.0  2.389358e+07  0.003952    0.0    0.0   0.0    0.0    0.0
4    1983378.0  1.802288e+07  0.002974    0.0    0.0   0.0    0.0    0.0
..         ...           ...       ...    ...    ...   ...    ...    ...
108  1284481.0  9.461092e+06  0.001926    0.0    0.0   0.0    0.0    0.0
109  3035253.0  5.544840e+07  0.006533    0.0    0.0   0.0    0.0    0.0
110  2419900.0  1.773926e+07  0.003629    0.0    0.0   0.0    0.0    0.0
111  5751947.0  1.069749e+08  0.012381    0.0    0.0   0.0    0.0    0.0
112  1279220.0  9.328639e+06  0.001918    0.0    0.0   0.0    0.0    0.0

     isDT  tmrHalted  haltedDays  marketShares  totalShares  d_close_y  \
0     0.0        0.0         0.0   666780666.0  666961416.0        NaN
1     0.0        0.0         0.0   666780666.0  666961416.0        NaN
2     0.0        0.0         0.0   666780666.0  666961416.0        NaN
3     0.0        0.0         0.0   666807166.0  666961416.0        NaN
4     0.0        0.0         0.0   666807166.0  666961416.0        NaN
..    ...        ...         ...           ...          ...        ...
108   0.0        0.0         0.0   666807166.0  666961416.0        NaN
109   0.0        0.0         0.0   464578359.0  644763730.0        NaN
110   0.0        0.0         0.0   666807166.0  666961416.0        NaN
111   0.0        0.0         0.0   464578359.0  644763730.0        NaN
112   0.0        0.0         0.0   666807166.0  666961416.0        NaN

     d_amount_y
0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
..          ...
108         NaN
109         NaN
110         NaN
111         NaN
112         NaN

[113 rows x 27 columns]
      cum_trades_cnt  total_bid_quantity  total_ask_quantity  close  \
0               5412             5205880            13615268  12.06
1              12424             1300297             3748583  32.62
2                209               69700               43400  21.06
3                530             1263005             1481510   4.11
4               6777             5108576             4835383   8.60
...              ...                 ...                 ...    ...
3836             928              392012             1855391  14.57
3837            2845              166900              231101  73.60
3838            2373              157900              539568  40.80
3839            3195              369371              607553  56.10
3840            1383              206500              751516  45.70

      total_ask_vwap    cum_amount  cum_volume   open   high  prev_close  \
0              12.47  2.303256e+08    19039305  12.15  12.17       12.09
1              34.50  3.303117e+08    10007315  33.54  33.68       33.46
2              21.97  2.805419e+06      133800  21.07  21.10       21.19
3               4.25  4.972500e+06     1210095   4.11   4.14        4.12
4               9.16  1.347707e+08    15655924   8.61   8.69        8.80
...              ...           ...         ...    ...    ...         ...
3836           15.29  1.255325e+07      862476  14.59  14.62       14.49
3837           77.97  6.463202e+07      875727  75.02  75.48       74.53
3838           42.37  4.091931e+07     1006225  40.25  40.88       40.04
3839           59.51  8.107669e+07     1432629  57.13  57.46       56.61
3840           48.17  2.496280e+07      543615  45.59  46.27       45.49

        low  total_bid_vwap     skey      date         time    clockAtArrival  \
0     12.04           11.89  2000001  20180312  94606000000  1520819166000000
1     32.60           32.14  2000002  20180312  94606000000  1520819166000000
2     20.80           20.88  2000004  20180312  94609000000  1520819169000000
3      4.10            4.01  2000005  20180312  94606000000  1520819166000000
4      8.55            8.43  2000006  20180312  94606000000  1520819166000000
...     ...             ...      ...       ...          ...               ...
3836  14.49           14.23  2300737  20180330  95015000000  1522374615000000
3837  72.43           71.89  2300738  20180330  95015000000  1522374615000000
3838  40.25           39.65  2300739  20180330  95015000000  1522374615000000
3839  55.80           54.77  2300740  20180330  95015000000  1522374615000000
3840  45.59           44.56  2300741  20180330  95015000000  1522374615000000

                datetime  bid1p  bid2p  bid3p  bid4p  bid5p  bid6p  bid7p  \
0    2018-03-12 09:46:06  12.05  12.04  12.03  12.02  12.01  12.00  11.99
1    2018-03-12 09:46:06  32.62  32.61  32.60  32.59  32.58  32.57  32.56
2    2018-03-12 09:46:09  21.07  21.06  21.03  21.02  21.00  20.99  20.98
3    2018-03-12 09:46:06   4.10   4.09   4.08   4.07   4.06   4.05   4.04
4    2018-03-12 09:46:06   8.60   8.59   8.58   8.57   8.56   8.55   8.54
...                  ...    ...    ...    ...    ...    ...    ...    ...
3836 2018-03-30 09:50:15  14.56  14.55  14.54  14.53  14.52  14.51  14.50
3837 2018-03-30 09:50:15  73.58  73.57  73.53  73.52  73.51  73.50  73.49
3838 2018-03-30 09:50:15  40.80  40.79  40.78  40.77  40.75  40.74  40.73
3839 2018-03-30 09:50:15  56.08  56.07  56.06  56.05  56.03  56.02  56.01
3840 2018-03-30 09:50:15  45.72  45.71  45.70  45.69  45.68  45.66  45.65

      bid8p  bid9p  bid10p  ask1p  ask2p  ask3p  ask4p  ask5p  ask6p  ask7p  \
0     11.98  11.97   11.96  12.06  12.07  12.08  12.09  12.10  12.11  12.12
1     32.55  32.54   32.53  32.70  32.71  32.72  32.73  32.74  32.75  32.76
2     20.96  20.95   20.94  21.10  21.16  21.17  21.18  21.20  21.25  21.30
3      4.03   4.02    4.01   4.11   4.12   4.13   4.14   4.15   4.16   4.17
4      8.53   8.52    8.51   8.61   8.62   8.63   8.64   8.65   8.66   8.67
...     ...    ...     ...    ...    ...    ...    ...    ...    ...    ...
3836  14.49  14.48   14.47  14.57  14.58  14.59  14.60  14.61  14.62  14.63
3837  73.44  73.41   73.40  73.62  73.75  73.79  73.80  73.81  73.85  73.90
3838  40.71  40.70   40.69  40.81  40.82  40.83  40.84  40.85  40.86  40.87
3839  56.00  55.98   55.96  56.10  56.14  56.16  56.18  56.19  56.20  56.22
3840  45.64  45.63   45.62  45.75  45.79  45.80  45.81  45.82  45.88  45.89

      ask8p  ask9p  ask10p   bid1q   bid2q   bid3q   bid4q   bid5q   bid6q  \
0     12.13  12.14   12.15  176180  426600  433600  270300  422800  995300
1     32.77  32.78   32.79   10397   37100  136900    9900   16900    2100
2     21.35  21.49   21.50     800    4700     300    1700    3900   13600
3      4.18   4.19    4.20   66205  148400  118900  144300   76400   47900
4      8.68   8.69    8.70   45800   52900  202900  301100  199261  334615
...     ...    ...     ...     ...     ...     ...     ...     ...     ...
3836  14.64  14.65   14.66    2400    6700    9300   27300   29200   33700
3837  73.91  73.95   73.96    2900     100     200     400    1700     700
3838  40.88  40.89   40.90    5400    2000     500     100    1400     700
3839  56.25  56.26   56.28     600     400    3500    5000    2238    1200
3840  45.90  45.94   45.95    4400    3100    8100    4500    4900    1900

       bid7q   bid8q  bid9q  bid10q   ask1q   ask2q   ask3q   ask4q   ask5q  \
0     109200  226100  40400   82200  100200  133958  169400  146627  225200
1      10000    9100   1900    3600  111495    2100    2800   65800   54600
2       1000    1500   1400    1000     300    1700     500    3600     600
3      20400   99300  78000   86000  296700   61300   76110   65300   75400
4     136900  236200  74500  422500  101300    8100   19400   32900   16705
...      ...     ...    ...     ...     ...     ...     ...     ...     ...
3836   26612   10600   6500    5100     800    8000   10500   39900    3500
3837     100     800    400     300    1100     100     700     100     300
3838     600    1000   2000     200     900    2400    6362    7700    7100
3839    1000   14100    300     100     100    1900     200     100    3400
3840    7900    3900   4200    2900     600     500     600    5500     500

       ask6q  ask7q  ask8q   ask9q  ask10q  bid1n  bid2n  bid3n  bid4n  bid5n  \
0     214600  69300  83700  138400  417139     27    124    126    102    174
1      23000    200   2800    1700    2800     19     53    227      8     29
2       1500   1200   1200    4400    1400      1      4      1      1      6
3      40200  35200  97700   26400   38900     16     39     50     40     27
4      37600  65600  27400   43900   73300      8     18     46     36     90
...      ...    ...    ...     ...     ...    ...    ...    ...    ...    ...
3836   19673    600   1800   22700    3218      1      8      7      8      8
3837    2400   1700    200     300    1200      1      1      1      1      6
3838    3100   7500  11200   18000    2700      5      5      1      1      4
3839     400    600   4600     100    3200      2      2      6      1      4
3840    4200     98    700     100    2400      2      2     10     10      3

      bid6n  bid7n  bid8n  bid9n  bid10n  ask1n  ask2n  ask3n  ask4n  ask5n  \
0       341     37     99     25      49     16     21     18     25     52
1         2     16     26      4       6      9      6      6      6      8
2         1      1      1      1       1      1      2      1      1      2
3        25      9     10     11      14     11     11     11     11     29
4       112     48     50     36      98     10      7      8     12     13
...     ...    ...    ...    ...     ...    ...    ...    ...    ...    ...
3836      7     22     11     10       6      1      9     12     23      3
3837      3      1      2      2       3      3      1      1      1      1
3838      2      2      1      4       1      3      4     11      7     13
3839      3      5     12      2       1      1      1      1      1      2
3840      6     13      8      6       3      1      2      3      1      1

      ask6n  ask7n  ask8n  ask9n  ask10n  bid1Top1q  bid1Top2q  bid1Top3q  \
0        21     37     23     31     102     143880        300       2000
1        12      1      4      2       5        397       1000        700
2         1      2      2      1       5        800          0          0
3         9     14     21      9      18       1605        900       3000
4        17      7     19     11      17       5800      15000      16700
...     ...    ...    ...    ...     ...        ...        ...        ...
3836      8      2      2     12       4       2400          0          0
3837      3      4      2      1       2       2900          0          0
3838      9      6     24      4       6       1900       1500        600
3839      2      1      2      1       4        200        400          0
3840      1      1      2      1       4       3600        800          0

      bid1Top4q  bid1Top5q  bid1Top6q  bid1Top7q  bid1Top8q  bid1Top9q  \
0          1000        500        100       1000        600       2000
1           100       2000        100        300        600        100
2             0          0          0          0          0          0
3          5000       1000       1000       1500      10000        300
4          1000       2900       3000       1000        400          0
...         ...        ...        ...        ...        ...        ...
3836          0          0          0          0          0          0
3837          0          0          0          0          0          0
3838        200       1200          0          0          0          0
3839          0          0          0          0          0          0
3840          0          0          0          0          0          0

      bid1Top10q  bid1Top11q  bid1Top12q  bid1Top13q  bid1Top14q  bid1Top15q  \
0            500        1100        1000         300         400         500
1            400         200         100         100         500         400
2              0           0           0           0           0           0
3            100       35300        1000         200        1300        3000
4              0           0           0           0           0           0
...          ...         ...         ...         ...         ...         ...
3836           0           0           0           0           0           0
3837           0           0           0           0           0           0
3838           0           0           0           0           0           0
3839           0           0           0           0           0           0
3840           0           0           0           0           0           0

      bid1Top16q  bid1Top17q  bid1Top18q  bid1Top19q  bid1Top20q  bid1Top21q  \
0            500        2000         500        2000         300         100
1            200         100         200        2900           0           0
2              0           0           0           0           0           0
3           1000           0           0           0           0           0
4              0           0           0           0           0           0
...          ...         ...         ...         ...         ...         ...
3836           0           0           0           0           0           0
3837           0           0           0           0           0           0
3838           0           0           0           0           0           0
3839           0           0           0           0           0           0
3840           0           0           0           0           0           0

      bid1Top22q  bid1Top23q  bid1Top24q  bid1Top25q  bid1Top26q  bid1Top27q  \
0            700        3000         500       10000         600         800
1              0           0           0           0           0           0
2              0           0           0           0           0           0
3              0           0           0           0           0           0
4              0           0           0           0           0           0
...          ...         ...         ...         ...         ...         ...
3836           0           0           0           0           0           0
3837           0           0           0           0           0           0
3838           0           0           0           0           0           0
3839           0           0           0           0           0           0
3840           0           0           0           0           0           0

      bid1Top28q  bid1Top29q  bid1Top30q  bid1Top31q  bid1Top32q  bid1Top33q  \
0              0           0           0           0           0           0
1              0           0           0           0           0           0
2              0           0           0           0           0           0
3              0           0           0           0           0           0
4              0           0           0           0           0           0
...          ...         ...         ...         ...         ...         ...
3836           0           0           0           0           0           0
3837           0           0           0           0           0           0
3838           0           0           0           0           0           0
3839           0           0           0           0           0           0
3840           0           0           0           0           0           0

      bid1Top34q  bid1Top35q  bid1Top36q  bid1Top37q  bid1Top38q  bid1Top39q  \
0              0           0           0           0           0           0
1              0           0           0           0           0           0
2              0           0           0           0           0           0
3              0           0           0           0           0           0
4              0           0           0           0           0           0
...          ...         ...         ...         ...         ...         ...
3836           0           0           0           0           0           0
3837           0           0           0           0           0           0
3838           0           0           0           0           0           0
3839           0           0           0           0           0           0
3840           0           0           0           0           0           0

      bid1Top40q  bid1Top41q  bid1Top42q  bid1Top43q  bid1Top44q  bid1Top45q  \
0              0           0           0           0           0           0
1              0           0           0           0           0           0
2              0           0           0           0           0           0
3              0           0           0           0           0           0
4              0           0           0           0           0           0
...          ...         ...         ...         ...         ...         ...
3836           0           0           0           0           0           0
3837           0           0           0           0           0           0
3838           0           0           0           0           0           0
3839           0           0           0           0           0           0
3840           0           0           0           0           0           0

      bid1Top46q  bid1Top47q  bid1Top48q  bid1Top49q  bid1Top50q  ask1Top1q  \
0              0           0           0           0           0      43000
1              0           0           0           0           0      93600
2              0           0           0           0           0        300
3              0           0           0           0           0     272900
4              0           0           0           0           0      57900
...          ...         ...         ...         ...         ...        ...
3836           0           0           0           0           0        800
3837           0           0           0           0           0        700
3838           0           0           0           0           0        100
3839           0           0           0           0           0        100

In [10]:
date = pd.DataFrame(pd.date_range(start='2019-06-10 08:30:00', end='2019-06-10 18:00:00', freq='s'), columns=["Orig"])
date["time"] = date["Orig"].apply(lambda x: int(x.strftime("%H%M%S"))*1000)
date["group"] = date["time"]//30000

In [13]:
date[date["group"].isin([3164, 3165, 3166])]

                    Orig      time  group
4760 2019-06-10 09:49:20  94920000   3164
4761 2019-06-10 09:49:21  94921000   3164
4762 2019-06-10 09:49:22  94922000   3164
4763 2019-06-10 09:49:23  94923000   3164
4764 2019-06-10 09:49:24  94924000   3164
4765 2019-06-10 09:49:25  94925000   3164
4766 2019-06-10 09:49:26  94926000   3164
4767 2019-06-10 09:49:27  94927000   3164
4768 2019-06-10 09:49:28  94928000   3164
4769 2019-06-10 09:49:29  94929000   3164
4770 2019-06-10 09:49:30  94930000   3164
4771 2019-06-10 09:49:31  94931000   3164
4772 2019-06-10 09:49:32  94932000   3164
4773 2019-06-10 09:49:33  94933000   3164
4774 2019-06-10 09:49:34  94934000   3164
4775 2019-06-10 09:49:35  94935000   3164
4776 2019-06-10 09:49:36  94936000   3164
4777 2019-06-10 09:49:37  94937000   3164
4778 2019-06-10 09:49:38  94938000   3164
4779 2019-06-10 09:49:39  94939000   3164
4780 2019-06-10 09:49:40  94940000   3164
4781 2019-06-10 09:49:41  94941000   3164
4782 2019-06-10 09:49:42  94942000   3164
4783 2019-06-10 09:49:43  94943000   3164
4784 2019-06-10 09:49:44  94944000   3164
4785 2019-06-10 09:49:45  94945000   3164
4786 2019-06-10 09:49:46  94946000   3164
4787 2019-06-10 09:49:47  94947000   3164
4788 2019-06-10 09:49:48  94948000   3164
4789 2019-06-10 09:49:49  94949000   3164
4790 2019-06-10 09:49:50  94950000   3165
4791 2019-06-10 09:49:51  94951000   3165
4792 2019-06-10 09:49:52  94952000   3165
4793 2019-06-10 09:49:53  94953000   3165
4794 2019-06-10 09:49:54  94954000   3165
4795 2019-06-10 09:49:55  94955000   3165
4796 2019-06-10 09:49:56  94956000   3165
4797 2019-06-10 09:49:57  94957000   3165
4798 2019-06-10 09:49:58  94958000   3165
4799 2019-06-10 09:49:59  94959000   3165
4800 2019-06-10 09:50:00  95000000   3166
4801 2019-06-10 09:50:01  95001000   3166
4802 2019-06-10 09:50:02  95002000   3166
4803 2019-06-10 09:50:03  95003000   3166
4804 2019-06-10 09:50:04  95004000   3166
4805 2019-06-10 09:50:05  95005000   3166
4806 2019-06-10 09:50:06  95006000   3166
4807 2019-06-10 09:50:07  95007000   3166
4808 2019-06-10 09:50:08  95008000   3166
4809 2019-06-10 09:50:09  95009000   3166

In [9]:
pd.set_option("max_columns", 200)
d = pd.read_csv('/mnt/e/unzip_data/2018/SZ/20180330/snapshot/Level2/000001.csv')
d[d["QuotTime"] >= 20180330094950000].head(5)

,NumTrades,OfferNumOrders,LowerLimitPx,ImageStatus,OfferPrice,BidPrice,BidOrders,OfferOrderQty,PeRatio2,TotalBidQty,SendingTime,PeRatio1,TotalOfferQty,ClosePx,WeightedAvgPxChg,Change2,Change1,LastPx,WeightedAvgOfferPx,Amount,UpperLimitPx,AveragePx,TotalLongPosition,MsgSeqNum,Volume,BidNumOrders,BidOrderQty,TradingPhaseCode,QuotTime,OpenPx,OfferOrders,PreWeightedAvgPx,HighPx,PreClosePx,LowPx,WeightedAvgBidPx
511,5927,"[1,17,19,24,27,48,15,49,23,16]",9.95,1,"[10.95,10.96,10.97,10.98,10.99,11.0,11.01,11.0...","[10.94,10.93,10.92,10.91,10.9,10.89,10.88,10.8...","[1100,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","[3400,57700,75500,100100,172577,412941,31700,2...",0.0,4285830,20180330095012000,8.41,14297372,0.0,0.0,-0.02,-0.12,10.93,11.46,1.924871e+08,12.16,10.99822,0,1135344,17501656,"[1,18,50,99,213,29,78,21,43,91]","[1100,114930,121500,347300,472000,40200,99000,...",T0,20180330094951000,11.04,"[3400,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",0.0,11.05,11.05,10.92,10.67
512,5933,"[2,17,19,24,27,49,15,49,24,16]",9.95,1,"[10.95,10.96,10.97,10.98,10.99,11.0,11.01,11.0...","[10.94,10.93,10.92,10.91,10.9,10.89,10.88,10.8...","[10500,1000,800,1000,0,0,0,0,0,0,0,0,0,0,0,0,0...","[1800,57700,75500,100100,172577,413341,31700,2...",0.0,4281610,20180330095012000,8.42,14289672,0.0,0.0,-0.01,-0.11,10.94,11.46,1.929322e+08,12.16,10.99807,0,1138175,17542376,"[4,17,53,99,215,29,77,21,43,92]","[13300,79810,137500,347300,472900,40200,98500,...",T0,20180330094954000,11.04,"[1400,400,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",0.0,11.05,11.05,10.92,10.67
513,6147,"[21,18,25,28,49,14,46,24,16,54]",9.95,1,"[10.96,10.97,10.98,10.99,11.0,11.01,11.02,11.0...","[10.94,10.93,10.92,10.91,10.9,10.89,10.88,10.8...","[5639,5700,500,600,0,0,0,0,0,0,0,0,0,0,0,0,0,0...","[63900,74500,103600,173977,411341,18100,227674...",0.0,3920149,20180330095014000,8.42,14330372,0.0,0.0,-0.01,-0.11,10.94,11.46,1.997075e+08,12.16,10.99551,0,1157407,18162637,"[4,15,13,57,225,30,82,22,43,96]","[12439,16200,40100,111610,484700,39400,103500,...",T0,20180330095015000,11.04,"[4700,1200,2700,1000,1000,900,6000,5100,7200,1...",0.0,11.05,11.05,10.91,10.65
514,6151,"[22,17,25,29,48,14,46,24,16,54]",9.95,1,"[10.96,10.97,10.98,10.99,11.0,11.01,11.02,11.0...","[10.95,10.94,10.93,10.92,10.91,10.9,10.89,10.8...","[2978,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","[62200,71500,103600,174477,410041,18100,227674...",0.0,3974027,20180330095018000,8.42,14324672,0.0,0.0,0.00,-0.10,10.95,11.46,1.997516e+08,12.16,10.99550,0,1160144,18166659,"[1,5,19,18,58,226,31,84,22,43]","[2978,21439,20700,42400,111710,485700,40400,10...",T0,20180330095018000,11.04,"[2700,1200,2700,1000,1000,900,6000,5100,7200,1...",0.0,11.05,11.05,10.91,10.65
515,6158,"[23,17,25,30,49,14,46,24,16,53]",9.95,1,"[10.96,10.97,10.98,10.99,11.0,11.01,11.02,11.0...","[10.94,10.93,10.92,10.91,10.9,10.89,10.88,10.8...","[217,5700,500,600,9000,7000,6600,800,100,0,0,0...","[67900,71500,103600,177477,410341,18100,227674...",0.0,4076727,20180330095021000,8.43,14333172,0.0,0.0,0.00,-0.09,10.96,11.46,1.998709e+08,12.16,10.99547,0,1162900,18177559,"[9,22,21,64,227,31,87,22,43,97]","[30517,24800,44800,117510,488700,40400,123400,...",T0,20180330095021000,11.04,"[2400,1200,2700,1000,1000,900,6000,5100,7200,1...",0.0,11.05,11.05,10.91,10.65