In [1]:
import pymongo
import pandas as pd
import pickle
import datetime
import time
import gzip
import lzma
import pytz


def DB(host, db_name, user, passwd):
    auth_db = db_name if user not in ('admin', 'root') else 'admin'
    uri = 'mongodb://%s:%s@%s/?authSource=%s' % (user, passwd, host, auth_db)
    return DBObj(uri, db_name=db_name)


class DBObj(object):
    def __init__(self, uri, symbol_column='skey', db_name='white_db'):
        self.db_name = db_name
        self.uri = uri
        self.client = pymongo.MongoClient(self.uri)
        self.db = self.client[self.db_name]
        self.chunk_size = 20000
        self.symbol_column = symbol_column
        self.date_column = 'date'

    def parse_uri(self, uri):
        # mongodb://user:password@example.com
        return uri.strip().replace('mongodb://', '').strip('/').replace(':', ' ').replace('@', ' ').split(' ')

    def drop_table(self, table_name):
        self.db.drop_collection(table_name)

    def rename_table(self, old_table, new_table):
        self.db[old_table].rename(new_table)

    def write(self, table_name, df):
        if len(df) == 0: return

        multi_date = False

        if self.date_column in df.columns:
            date = str(df.head(1)[self.date_column].iloc[0])
            multi_date = len(df[self.date_column].unique()) > 1
        else:
            raise Exception('DataFrame should contain date column')

        collection = self.db[table_name]
        collection.create_index([('date', pymongo.ASCENDING), ('symbol', pymongo.ASCENDING)], background=True)
        collection.create_index([('symbol', pymongo.ASCENDING), ('date', pymongo.ASCENDING)], background=True)

        if multi_date:
            for (date, symbol), sub_df in df.groupby([self.date_column, self.symbol_column]):
                date = str(date)
                symbol = int(symbol)
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)
        else:
            for symbol, sub_df in df.groupby([self.symbol_column]):
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)

    def write_single(self, collection, date, symbol, df):
        for start in range(0, len(df), self.chunk_size):
            end = min(start + self.chunk_size, len(df))
            df_seg = df[start:end]
            version = 1
            seg = {'ver': version, 'data': self.ser(df_seg, version), 'date': date, 'symbol': symbol, 'start': start}
            collection.insert_one(seg)

    def build_query(self, start_date=None, end_date=None, symbol=None):
        query = {}

        def parse_date(x):
            if type(x) == str:
                if len(x) != 8:
                    raise Exception("`date` must be YYYYMMDD format")
                return x
            elif type(x) == datetime.datetime or type(x) == datetime.date:
                return x.strftime("%Y%m%d")
            elif type(x) == int:
                return parse_date(str(x))
            else:
                raise Exception("invalid `date` type: " + str(type(x)))

        if start_date is not None or end_date is not None:
            query['date'] = {}
            if start_date is not None:
                query['date']['$gte'] = parse_date(start_date)
            if end_date is not None:
                query['date']['$lte'] = parse_date(end_date)

        def parse_symbol(x):
            if type(x) == int:
                return x
            else:
                return int(x)

        if symbol:
            if type(symbol) == list or type(symbol) == tuple:
                query['symbol'] = {'$in': [parse_symbol(x) for x in symbol]}
            else:
                query['symbol'] = parse_symbol(symbol)

        return query

    def delete(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot delete the whole table')
            return None

        collection.delete_many(query)

    def read(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot read the whole table')
            return None

        segs = []
        for x in collection.find(query):
            x['data'] = self.deser(x['data'], x['ver'])
            segs.append(x)
        segs.sort(key=lambda x: (x['symbol'], x['date'], x['start']))
        return pd.concat([x['data'] for x in segs], ignore_index=True) if segs else None

    def list_tables(self):
        return self.db.collection_names()

    def list_dates(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]
        dates = set()
        if start_date is None:
            start_date = '00000000'
        if end_date is None:
            end_date = '99999999'
        for x in collection.find(self.build_query(start_date, end_date, symbol), {"date": 1, '_id': 0}):
            dates.add(x['date'])
        return sorted(list(dates))

    def ser(self, s, version):
        pickle_protocol = 4
        if version == 1:
            return gzip.compress(pickle.dumps(s, protocol=pickle_protocol), compresslevel=2)
        elif version == 2:
            return lzma.compress(pickle.dumps(s, protocol=pickle_protocol), preset=1)
        else:
            raise Exception('unknown version')

    def deser(self, s, version):
        def unpickle(s):
            return pickle.loads(s)

        if version == 1:
            return unpickle(gzip.decompress(s))
        elif version == 2:
            return unpickle(lzma.decompress(s))
        else:
            raise Exception('unknown version')


def patch_pandas_pickle():
    if pd.__version__ < '0.24':
        import sys
        from types import ModuleType
        from pandas.core.internals import BlockManager
        pkg_name = 'pandas.core.internals.managers'
        if pkg_name not in sys.modules:
            m = ModuleType(pkg_name)
            m.BlockManager = BlockManager
            sys.modules[pkg_name] = m
patch_pandas_pickle()


            
            
            
            
            
            
            
            
import pandas as pd
import random
import numpy as np
import glob
import os
import pickle
import datetime
import time
pd.set_option("max_columns", 200)

startTm = datetime.datetime.now()
readPath = '/home/work516/day_stock/***'
dataPathLs = np.array(glob.glob(readPath))
dataPathLs = dataPathLs[[np.array([os.path.basename(i).split('.')[0][:2] == 'SZ' for i in dataPathLs])]]
db = pd.DataFrame()
for p in dataPathLs:
    dayData = pd.read_csv(p, compression='gzip')
    db = pd.concat([db, dayData])
print(datetime.datetime.now() - startTm)

year = "2017"
startDate = '20170301'
endDate = '20170831'
readPath = '/mnt/usb/data/' + year + '/***/***'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([os.path.basename(i) for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]

for data in dataPathLs:
    
    if len(np.array(glob.glob(data + '/SZ/***'))) == 0:
        if int(os.path.basename(data)) not in date_list["Date"].values:
            continue
        else:
            print(os.path.basename(data) + " less data!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!")
            less.append(data)
            continue
    date = os.path.basename(data)
    rar_path = data + '/SZ/tick.7z'
    path = '/mnt/e/unzip_data/2017/SZ'
    path1 = path + '/' + date
    un_path = path1
    cmd = '7za x {} -o{}'.format(rar_path, un_path)
    os.system(cmd)
    
    readPath = path1 + '/tick/***'
    dataPathLs = np.array(glob.glob(readPath))
    dateLs = np.array([int(os.path.basename(i).split('.')[0]) for i in dataPathLs])
    dataPathLs = dataPathLs[(dateLs < 4000) | ((dateLs > 300000) & (dateLs < 310000))]
    TradeLog = []
    ll = []
    
    for i in dataPathLs:
        try:
            df = pd.read_csv(i)
        except:
            print("empty data")
            print(i)
            ll.append(int(os.path.basename(i).split('.')[0]))
            continue
        df["SecurityID"] = int(os.path.basename(i).split('.')[0])
        TradeLog += [df]
    TradeLog = pd.concat(TradeLog).reset_index(drop=True)
    TradeLog = TradeLog[TradeLog["ChannelNo"] != 4001]
    
    TradeLog["date"] = TradeLog["TransactTime"].iloc[0]//1000000000
    TradeLog = TradeLog.rename(columns={"Qty":"trade_qty", "Price":"trade_price", "ExecType":"trade_type"})
    TradeLog["trade_money"] = TradeLog["trade_price"] * TradeLog["trade_qty"]
    TradeLog["trade_flag"] = 0
    TradeLog["skey"] = TradeLog["SecurityID"] + 2000000
    TradeLog["clockAtArrival"] = TradeLog["TransactTime"].astype(str).apply(lambda x: np.int64(datetime.datetime.strptime(x, '%Y%m%d%H%M%S%f').timestamp()*1e6))
    TradeLog['datetime'] = TradeLog["clockAtArrival"].apply(lambda x: datetime.datetime.fromtimestamp(x/1e6))
    TradeLog["time"] = (TradeLog['TransactTime'] - int(TradeLog['TransactTime'].iloc[0]//1000000000*1000000000)).astype(np.int64)*1000
    TradeLog["trade_type"] = np.where(TradeLog["trade_type"] == 'F', 1, TradeLog["trade_type"])
    for col in ["skey", "date", "ApplSeqNum", "BidApplSeqNum", "OfferApplSeqNum", "trade_qty", "trade_type", "trade_flag"]:
        TradeLog[col] = TradeLog[col].astype('int32')
#     for cols in ["trade_money", "trade_price"]:
#         display(cols)
#         display(TradeLog[cols].astype(str).apply(lambda x: len(str(x.split('.')[1]))).unique())
#         TradeLog[cols] = TradeLog[cols].round(2)
#         display(TradeLog[cols].astype(str).apply(lambda x: len(str(x.split('.')[1]))).unique())
    for cols in ["trade_money"]:
        TradeLog[cols] = TradeLog[cols].round(2)
    
    da_te = str(TradeLog["date"].iloc[0]) 
    da_te = da_te[:4] + '-' + da_te[4:6] + '-' + da_te[6:8]
    db1 = db[db["date"] == da_te]
    sl = (db1["ID"].str[2:].astype(int) + 2000000).unique()
    db1["max_volume"] = db1.groupby("ID")["d_volume"].transform("max")
    db1["max_amount"] = db1.groupby("ID")["d_amount"].transform("max")
    t1 = db1.groupby("ID")["max_volume", "max_amount"].first().reset_index()
    del db1
    t1["skey"] = t1["ID"].str[2:].astype(int) + 2000000
    trade1 = TradeLog[TradeLog["trade_type"] == 1].groupby("skey")["trade_qty"].sum().reset_index()
    trade1.columns=["skey", "cum_volume"]
    trade2 = TradeLog[TradeLog["trade_type"] == 1].groupby("skey")["trade_money"].sum().reset_index()
    trade2.columns=["skey", "cum_amount"]
    t2 = pd.merge(trade1, trade2, on="skey")
    re = pd.merge(t1, t2, on="skey", how="outer")
    try:
        assert(t1.shape[0] == t2.shape[0])
        assert(re[re["cum_volume"] != re["max_volume"]].shape[0] == 0)
        assert(re[re["cum_amount"].round(2) != re["max_amount"]].shape[0] == 0)
    except:
        display(set(t1["skey"]) - set(t2["skey"]))
        display(re[re["cum_volume"] != re["max_volume"]])
        display(re[re["cum_amount"].round(2) != re["max_amount"]])
    del t1
    del t2
    del re
 
    TradeLog = TradeLog[["skey", "date", "time", "clockAtArrival", "datetime", "ApplSeqNum", "trade_type", "trade_flag",
                                                 "trade_price", "trade_qty", "BidApplSeqNum", "OfferApplSeqNum"]]
    print(da_te)
    print("trade finished")


    database_name = 'com_md_eq_cn'
    user = "zhenyuy"
    password = "bnONBrzSMGoE"

    db1 = DB("192.168.10.178", database_name, user, password)
    db1.write('md_trade', TradeLog)    
    
    del TradeLog

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:201: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.

0:05:46.071940

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
428  SZ001872   1586509.0  2.989617e+07  2001872         NaN         NaN
430  SZ001914   9339021.0  1.096578e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
428  SZ001872   1586509.0  2.989617e+07  2001872         NaN         NaN
430  SZ001914   9339021.0  1.096578e+08  2001914         NaN         NaN

2017-03-01
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
430  SZ001872   3224517.0  5.997227e+07  2001872         NaN         NaN
432  SZ001914   9285308.0  1.104439e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
430  SZ001872   3224517.0  5.997227e+07  2001872         NaN         NaN
432  SZ001914   9285308.0  1.104439e+08  2001914         NaN         NaN

2017-03-02
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
429  SZ001872   1763497.0  32357290.79  2001872         NaN         NaN
431  SZ001914   6032782.0  70849079.70  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
429  SZ001872   1763497.0  32357290.79  2001872         NaN         NaN
431  SZ001914   6032782.0  70849079.70  2001914         NaN         NaN

2017-03-03
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
429  SZ001872   3595119.0  6.779157e+07  2001872         NaN         NaN
431  SZ001914   8471605.0  1.013316e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
429  SZ001872   3595119.0  6.779157e+07  2001872         NaN         NaN
431  SZ001914   8471605.0  1.013316e+08  2001914         NaN         NaN

2017-03-06
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
429  SZ001872  21604332.0  4.399809e+08  2001872         NaN         NaN
431  SZ001914   8626922.0  1.036656e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
429  SZ001872  21604332.0  4.399809e+08  2001872         NaN         NaN
431  SZ001914   8626922.0  1.036656e+08  2001914         NaN         NaN

2017-03-07
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
427  SZ001872  16242563.0  3.278261e+08  2001872         NaN         NaN
429  SZ001914   7981102.0  9.678065e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
427  SZ001872  16242563.0  3.278261e+08  2001872         NaN         NaN
429  SZ001914   7981102.0  9.678065e+07  2001914         NaN         NaN

2017-03-08
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
426  SZ001872   8069491.0  1.616867e+08  2001872         NaN         NaN
428  SZ001914  10878300.0  1.283298e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
426  SZ001872   8069491.0  1.616867e+08  2001872         NaN         NaN
428  SZ001914  10878300.0  1.283298e+08  2001914         NaN         NaN

2017-03-09
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
426  SZ001872   8364599.0  1.662192e+08  2001872         NaN         NaN
428  SZ001914   8975549.0  1.072300e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
426  SZ001872   8364599.0  1.662192e+08  2001872         NaN         NaN
428  SZ001914   8975549.0  1.072300e+08  2001914         NaN         NaN

2017-03-10
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
424  SZ001872   5989948.0  1.177739e+08  2001872         NaN         NaN
426  SZ001914   8302839.0  1.002282e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
424  SZ001872   5989948.0  1.177739e+08  2001872         NaN         NaN
426  SZ001914   8302839.0  1.002282e+08  2001914         NaN         NaN

2017-03-13
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
424  SZ001872   5273063.0  1.039290e+08  2001872         NaN         NaN
426  SZ001914   9124220.0  1.100179e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
424  SZ001872   5273063.0  1.039290e+08  2001872         NaN         NaN
426  SZ001914   9124220.0  1.100179e+08  2001914         NaN         NaN

2017-03-14
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
424  SZ001872   5746000.0  1.141449e+08  2001872         NaN         NaN
426  SZ001914   6938595.0  8.247462e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
424  SZ001872   5746000.0  1.141449e+08  2001872         NaN         NaN
426  SZ001914   6938595.0  8.247462e+07  2001914         NaN         NaN

2017-03-15
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
425  SZ001872   8211898.0  1.661179e+08  2001872         NaN         NaN
427  SZ001914   8522689.0  1.025562e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
425  SZ001872   8211898.0  1.661179e+08  2001872         NaN         NaN
427  SZ001914   8522689.0  1.025562e+08  2001914         NaN         NaN

2017-03-16
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
425  SZ001872   6285202.0  1.257666e+08  2001872         NaN         NaN
427  SZ001914   8232745.0  9.957653e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
425  SZ001872   6285202.0  1.257666e+08  2001872         NaN         NaN
427  SZ001914   8232745.0  9.957653e+07  2001914         NaN         NaN

2017-03-17
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
425  SZ001872   3148020.0  62271123.67  2001872         NaN         NaN
427  SZ001914   6464129.0  77154122.76  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
425  SZ001872   3148020.0  62271123.67  2001872         NaN         NaN
427  SZ001914   6464129.0  77154122.76  2001914         NaN         NaN

2017-03-20
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
425  SZ001872  10364736.0  2.111027e+08  2001872         NaN         NaN
427  SZ001914  18455563.0  2.290762e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
425  SZ001872  10364736.0  2.111027e+08  2001872         NaN         NaN
427  SZ001914  18455563.0  2.290762e+08  2001914         NaN         NaN

2017-03-21
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
426  SZ001872  12089355.0  2.511739e+08  2001872         NaN         NaN
428  SZ001914  12683557.0  1.586585e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
426  SZ001872  12089355.0  2.511739e+08  2001872         NaN         NaN
428  SZ001914  12683557.0  1.586585e+08  2001914         NaN         NaN

2017-03-22
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
428  SZ001872   8420382.0  1.741045e+08  2001872         NaN         NaN
430  SZ001914  10963149.0  1.367412e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
428  SZ001872   8420382.0  1.741045e+08  2001872         NaN         NaN
430  SZ001914  10963149.0  1.367412e+08  2001914         NaN         NaN

2017-03-23
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
429  SZ001872  15744483.0  3.420408e+08  2001872         NaN         NaN
431  SZ001914  12214975.0  1.543358e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
429  SZ001872  15744483.0  3.420408e+08  2001872         NaN         NaN
431  SZ001914  12214975.0  1.543358e+08  2001914         NaN         NaN

2017-03-24
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
429  SZ001872  13275680.0  2.909652e+08  2001872         NaN         NaN
431  SZ001914  10291407.0  1.305085e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
429  SZ001872  13275680.0  2.909652e+08  2001872         NaN         NaN
431  SZ001914  10291407.0  1.305085e+08  2001914         NaN         NaN

2017-03-27
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
427  SZ001872   8950645.0  1.876760e+08  2001872         NaN         NaN
429  SZ001914   8791630.0  1.100331e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
427  SZ001872   8950645.0  1.876760e+08  2001872         NaN         NaN
429  SZ001914   8791630.0  1.100331e+08  2001914         NaN         NaN

2017-03-28
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
427  SZ001872  20787589.0  4.623350e+08  2001872         NaN         NaN
429  SZ001914   7578594.0  9.626946e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
427  SZ001872  20787589.0  4.623350e+08  2001872         NaN         NaN
429  SZ001914   7578594.0  9.626946e+07  2001914         NaN         NaN

2017-03-29
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
429  SZ001872  18955209.0  4.212257e+08  2001872         NaN         NaN
431  SZ001914  11356225.0  1.399529e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
429  SZ001872  18955209.0  4.212257e+08  2001872         NaN         NaN
431  SZ001914  11356225.0  1.399529e+08  2001914         NaN         NaN

2017-03-30
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
427  SZ001872   8113811.0  1.701664e+08  2001872         NaN         NaN
429  SZ001914   8052832.0  9.796075e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
427  SZ001872   8113811.0  1.701664e+08  2001872         NaN         NaN
429  SZ001914   8052832.0  9.796075e+07  2001914         NaN         NaN

2017-03-31
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
427  SZ001872   6298179.0  1.359434e+08  2001872         NaN         NaN
429  SZ001914   8586813.0  1.058262e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
427  SZ001872   6298179.0  1.359434e+08  2001872         NaN         NaN
429  SZ001914   8586813.0  1.058262e+08  2001914         NaN         NaN

2017-04-05
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
425  SZ001872  13966717.0  3.136855e+08  2001872         NaN         NaN
427  SZ001914   7628720.0  9.544455e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
425  SZ001872  13966717.0  3.136855e+08  2001872         NaN         NaN
427  SZ001914   7628720.0  9.544455e+07  2001914         NaN         NaN

2017-04-06
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
427  SZ001872   7019209.0  1.552881e+08  2001872         NaN         NaN
429  SZ001914   5912960.0  7.433518e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
427  SZ001872   7019209.0  1.552881e+08  2001872         NaN         NaN
429  SZ001914   5912960.0  7.433518e+07  2001914         NaN         NaN

2017-04-07
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
426  SZ001872   7935551.0  1.770682e+08  2001872         NaN         NaN
428  SZ001914   5608999.0  6.931446e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
426  SZ001872   7935551.0  1.770682e+08  2001872         NaN         NaN
428  SZ001914   5608999.0  6.931446e+07  2001914         NaN         NaN

2017-04-10
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
426  SZ001872  23687013.0  5.542468e+08  2001872         NaN         NaN
428  SZ001914   8884954.0  1.093507e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
426  SZ001872  23687013.0  5.542468e+08  2001872         NaN         NaN
428  SZ001914   8884954.0  1.093507e+08  2001914         NaN         NaN

2017-04-11
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
428  SZ001872  13136033.0  3.516906e+08  2001872         NaN         NaN
430  SZ001914  20474722.0  2.624379e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
428  SZ001872  13136033.0  3.516906e+08  2001872         NaN         NaN
430  SZ001914  20474722.0  2.624379e+08  2001914         NaN         NaN

2017-04-12
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
425  SZ001872  43542937.0  1.224502e+09  2001872         NaN         NaN
427  SZ001914  10149155.0  1.274921e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
425  SZ001872  43542937.0  1.224502e+09  2001872         NaN         NaN
427  SZ001914  10149155.0  1.274921e+08  2001914         NaN         NaN

2017-04-13
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
422  SZ001872  23494157.0  6.157464e+08  2001872         NaN         NaN
424  SZ001914  10779790.0  1.316606e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
422  SZ001872  23494157.0  6.157464e+08  2001872         NaN         NaN
424  SZ001914  10779790.0  1.316606e+08  2001914         NaN         NaN

2017-04-14
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
430  SZ001872  16480682.0  4.020688e+08  2001872         NaN         NaN
432  SZ001914   9029850.0  1.082921e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
430  SZ001872  16480682.0  4.020688e+08  2001872         NaN         NaN
432  SZ001914   9029850.0  1.082921e+08  2001914         NaN         NaN

2017-04-17
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
429  SZ001872  17771688.0  4.471102e+08  2001872         NaN         NaN
431  SZ001914   4836304.0  5.766460e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
429  SZ001872  17771688.0  4.471102e+08  2001872         NaN         NaN
431  SZ001914   4836304.0  5.766460e+07  2001914         NaN         NaN

2017-04-18
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
429  SZ001872  14499160.0  3.576863e+08  2001872         NaN         NaN
431  SZ001914  10061498.0  1.147949e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
429  SZ001872  14499160.0  3.576863e+08  2001872         NaN         NaN
431  SZ001914  10061498.0  1.147949e+08  2001914         NaN         NaN

2017-04-19
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
427  SZ001872  16802163.0  4.313271e+08  2001872         NaN         NaN
429  SZ001914   7097042.0  7.956638e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
427  SZ001872  16802163.0  4.313271e+08  2001872         NaN         NaN
429  SZ001914   7097042.0  7.956638e+07  2001914         NaN         NaN

2017-04-20
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
424  SZ001872  12355776.0  2.983938e+08  2001872         NaN         NaN
426  SZ001914   4558903.0  5.117241e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
424  SZ001872  12355776.0  2.983938e+08  2001872         NaN         NaN
426  SZ001914   4558903.0  5.117241e+07  2001914         NaN         NaN

2017-04-21
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
425  SZ001872   8429360.0  1.926716e+08  2001872         NaN         NaN
427  SZ001914   9281144.0  9.765664e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
425  SZ001872   8429360.0  1.926716e+08  2001872         NaN         NaN
427  SZ001914   9281144.0  9.765664e+07  2001914         NaN         NaN

2017-04-24
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
423  SZ001872   8224116.0  1.887160e+08  2001872         NaN         NaN
425  SZ001914   8863854.0  9.000795e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
423  SZ001872   8224116.0  1.887160e+08  2001872         NaN         NaN
425  SZ001914   8863854.0  9.000795e+07  2001914         NaN         NaN

2017-04-25
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
424  SZ001872   8748293.0  2.018673e+08  2001872         NaN         NaN
426  SZ001914   5722554.0  5.937729e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
424  SZ001872   8748293.0  2.018673e+08  2001872         NaN         NaN
426  SZ001914   5722554.0  5.937729e+07  2001914         NaN         NaN

2017-04-26
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
426  SZ001872  14721439.0  3.487199e+08  2001872         NaN         NaN
428  SZ001914   6566569.0  6.840424e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
426  SZ001872  14721439.0  3.487199e+08  2001872         NaN         NaN
428  SZ001914   6566569.0  6.840424e+07  2001914         NaN         NaN

2017-04-27
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
425  SZ001872  11922819.0  2.909829e+08  2001872         NaN         NaN
427  SZ001914   4999607.0  5.385045e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
425  SZ001872  11922819.0  2.909829e+08  2001872         NaN         NaN
427  SZ001914   4999607.0  5.385045e+07  2001914         NaN         NaN

2017-04-28
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
420  SZ001872   9607530.0  2.388015e+08  2001872         NaN         NaN
422  SZ001914   3871920.0  4.160091e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
420  SZ001872   9607530.0  2.388015e+08  2001872         NaN         NaN
422  SZ001914   3871920.0  4.160091e+07  2001914         NaN         NaN

2017-05-02
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
424  SZ001872  13205780.0  3.322075e+08  2001872         NaN         NaN
426  SZ001914   3811128.0  4.053256e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
424  SZ001872  13205780.0  3.322075e+08  2001872         NaN         NaN
426  SZ001914   3811128.0  4.053256e+07  2001914         NaN         NaN

2017-05-03
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
423  SZ001872  10275890.0  2.515120e+08  2001872         NaN         NaN
425  SZ001914   4639740.0  4.892526e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
423  SZ001872  10275890.0  2.515120e+08  2001872         NaN         NaN
425  SZ001914   4639740.0  4.892526e+07  2001914         NaN         NaN

2017-05-04
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
422  SZ001872   6247308.0  1.516610e+08  2001872         NaN         NaN
424  SZ001914   5003378.0  5.313064e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
422  SZ001872   6247308.0  1.516610e+08  2001872         NaN         NaN
424  SZ001914   5003378.0  5.313064e+07  2001914         NaN         NaN

2017-05-05
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
421  SZ001872   9884116.0  2.290028e+08  2001872         NaN         NaN
423  SZ001914   5646580.0  5.716514e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
421  SZ001872   9884116.0  2.290028e+08  2001872         NaN         NaN
423  SZ001914   5646580.0  5.716514e+07  2001914         NaN         NaN

2017-05-08
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
424  SZ001872   7283608.0  1.664422e+08  2001872         NaN         NaN
426  SZ001914   5297072.0  5.228615e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
424  SZ001872   7283608.0  1.664422e+08  2001872         NaN         NaN
426  SZ001914   5297072.0  5.228615e+07  2001914         NaN         NaN

2017-05-09
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
424  SZ001872   6855926.0  1.570834e+08  2001872         NaN         NaN
426  SZ001914  16232902.0  1.511088e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
424  SZ001872   6855926.0  1.570834e+08  2001872         NaN         NaN
426  SZ001914  16232902.0  1.511088e+08  2001914         NaN         NaN

2017-05-10
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
423  SZ001872   8575244.0  1.950878e+08  2001872         NaN         NaN
425  SZ001914   9023009.0  7.935916e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
423  SZ001872   8575244.0  1.950878e+08  2001872         NaN         NaN
425  SZ001914   9023009.0  7.935916e+07  2001914         NaN         NaN

2017-05-11
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
421  SZ001872  15167365.0  3.739913e+08  2001872         NaN         NaN
423  SZ001914   4775276.0  4.301891e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
421  SZ001872  15167365.0  3.739913e+08  2001872         NaN         NaN
423  SZ001914   4775276.0  4.301891e+07  2001914         NaN         NaN

2017-05-12
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
422  SZ001872  13013173.0  3.225693e+08  2001872         NaN         NaN
424  SZ001914   4395630.0  4.047090e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
422  SZ001872  13013173.0  3.225693e+08  2001872         NaN         NaN
424  SZ001914   4395630.0  4.047090e+07  2001914         NaN         NaN

2017-05-15
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
420  SZ001872  14411076.0  3.547980e+08  2001872         NaN         NaN
422  SZ001914   5756200.0  5.262036e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
420  SZ001872  14411076.0  3.547980e+08  2001872         NaN         NaN
422  SZ001914   5756200.0  5.262036e+07  2001914         NaN         NaN

2017-05-16
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
420  SZ001872  16071247.0  4.140069e+08  2001872         NaN         NaN
422  SZ001914   4985349.0  4.636118e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
420  SZ001872  16071247.0  4.140069e+08  2001872         NaN         NaN
422  SZ001914   4985349.0  4.636118e+07  2001914         NaN         NaN

2017-05-17
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001872  10462502.0  264971920.0  2001872         NaN         NaN
423  SZ001914   5400690.0   49661865.0  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001872  10462502.0  264971920.0  2001872         NaN         NaN
423  SZ001914   5400690.0   49661865.0  2001914         NaN         NaN

2017-05-18
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
421  SZ001872   5986862.0  1.495285e+08  2001872         NaN         NaN
423  SZ001914   2341875.0  2.144873e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
421  SZ001872   5986862.0  1.495285e+08  2001872         NaN         NaN
423  SZ001914   2341875.0  2.144873e+07  2001914         NaN         NaN

2017-05-19
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
419  SZ001872   7544237.0  1.821376e+08  2001872         NaN         NaN
421  SZ001914   4842122.0  4.359294e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
419  SZ001872   7544237.0  1.821376e+08  2001872         NaN         NaN
421  SZ001914   4842122.0  4.359294e+07  2001914         NaN         NaN

2017-05-22
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
422  SZ001872   5527916.0  1.293271e+08  2001872         NaN         NaN
424  SZ001914   5290651.0  4.642713e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
422  SZ001872   5527916.0  1.293271e+08  2001872         NaN         NaN
424  SZ001914   5290651.0  4.642713e+07  2001914         NaN         NaN

2017-05-23
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
421  SZ001872   7234662.0  1.703969e+08  2001872         NaN         NaN
423  SZ001914   5792732.0  4.975114e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
421  SZ001872   7234662.0  1.703969e+08  2001872         NaN         NaN
423  SZ001914   5792732.0  4.975114e+07  2001914         NaN         NaN

2017-05-24
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
420  SZ001872   7669179.0  1.856950e+08  2001872         NaN         NaN
422  SZ001914   5309825.0  4.644764e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
420  SZ001872   7669179.0  1.856950e+08  2001872         NaN         NaN
422  SZ001914   5309825.0  4.644764e+07  2001914         NaN         NaN

2017-05-25
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
419  SZ001872   5772690.0  1.414347e+08  2001872         NaN         NaN
421  SZ001914  11250575.0  1.054505e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
419  SZ001872   5772690.0  1.414347e+08  2001872         NaN         NaN
421  SZ001914  11250575.0  1.054505e+08  2001914         NaN         NaN

2017-05-26
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
418  SZ001872   8337211.0  2.062098e+08  2001872         NaN         NaN
420  SZ001914   5447127.0  5.019842e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
418  SZ001872   8337211.0  2.062098e+08  2001872         NaN         NaN
420  SZ001914   5447127.0  5.019842e+07  2001914         NaN         NaN

2017-05-31
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
418  SZ001872   6780892.0  1.638071e+08  2001872         NaN         NaN
420  SZ001914   8134895.0  7.589036e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
418  SZ001872   6780892.0  1.638071e+08  2001872         NaN         NaN
420  SZ001914   8134895.0  7.589036e+07  2001914         NaN         NaN

2017-06-01
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
419  SZ001872   5883294.0  1.392430e+08  2001872         NaN         NaN
421  SZ001914   7499170.0  6.762492e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
419  SZ001872   5883294.0  1.392430e+08  2001872         NaN         NaN
421  SZ001914   7499170.0  6.762492e+07  2001914         NaN         NaN

2017-06-02
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
417  SZ001872   4763451.0  1.149336e+08  2001872         NaN         NaN
419  SZ001914   6741183.0  6.245755e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
417  SZ001872   4763451.0  1.149336e+08  2001872         NaN         NaN
419  SZ001914   6741183.0  6.245755e+07  2001914         NaN         NaN

2017-06-05
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
417  SZ001872  16495925.0  4.145649e+08  2001872         NaN         NaN
419  SZ001914   4553283.0  4.260830e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
417  SZ001872  16495925.0  4.145649e+08  2001872         NaN         NaN
419  SZ001914   4553283.0  4.260830e+07  2001914         NaN         NaN

2017-06-06
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
417  SZ001872  27610701.0  7.383127e+08  2001872         NaN         NaN
419  SZ001914   6880782.0  6.552741e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
417  SZ001872  27610701.0  7.383127e+08  2001872         NaN         NaN
419  SZ001914   6880782.0  6.552741e+07  2001914         NaN         NaN

2017-06-07
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
418  SZ001872  25337013.0  6.989703e+08  2001872         NaN         NaN
420  SZ001914   7409142.0  7.166585e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
418  SZ001872  25337013.0  6.989703e+08  2001872         NaN         NaN
420  SZ001914   7409142.0  7.166585e+07  2001914         NaN         NaN

2017-06-08
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
419  SZ001872  14781221.0  3.986961e+08  2001872         NaN         NaN
421  SZ001914   6067699.0  5.842512e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
419  SZ001872  14781221.0  3.986961e+08  2001872         NaN         NaN
421  SZ001914   6067699.0  5.842512e+07  2001914         NaN         NaN

2017-06-09
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
421  SZ001872  18277629.0  5.031015e+08  2001872         NaN         NaN
423  SZ001914   5645633.0  5.495875e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
421  SZ001872  18277629.0  5.031015e+08  2001872         NaN         NaN
423  SZ001914   5645633.0  5.495875e+07  2001914         NaN         NaN

2017-06-12
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
421  SZ001872  13707820.0  3.745616e+08  2001872         NaN         NaN
423  SZ001914   3786753.0  3.667375e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
421  SZ001872  13707820.0  3.745616e+08  2001872         NaN         NaN
423  SZ001914   3786753.0  3.667375e+07  2001914         NaN         NaN

2017-06-13
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
420  SZ001872  15103058.0  4.232818e+08  2001872         NaN         NaN
422  SZ001914   2997990.0  2.897395e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
420  SZ001872  15103058.0  4.232818e+08  2001872         NaN         NaN
422  SZ001914   2997990.0  2.897395e+07  2001914         NaN         NaN

2017-06-14
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
424  SZ001872  10350463.0  2.815135e+08  2001872         NaN         NaN
426  SZ001914   4334185.0  4.214155e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
424  SZ001872  10350463.0  2.815135e+08  2001872         NaN         NaN
426  SZ001914   4334185.0  4.214155e+07  2001914         NaN         NaN

2017-06-15
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
423  SZ001872  19847305.0  5.594380e+08  2001872         NaN         NaN
425  SZ001914   2846390.0  2.793271e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
423  SZ001872  19847305.0  5.594380e+08  2001872         NaN         NaN
425  SZ001914   2846390.0  2.793271e+07  2001914         NaN         NaN

2017-06-16
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
423  SZ001872  20243835.0  6.007945e+08  2001872         NaN         NaN
425  SZ001914   3790729.0  3.728596e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
423  SZ001872  20243835.0  6.007945e+08  2001872         NaN         NaN
425  SZ001914   3790729.0  3.728596e+07  2001914         NaN         NaN

2017-06-19
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
423  SZ001872  24401215.0  7.387150e+08  2001872         NaN         NaN
425  SZ001914   4241453.0  4.168105e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
423  SZ001872  24401215.0  7.387150e+08  2001872         NaN         NaN
425  SZ001914   4241453.0  4.168105e+07  2001914         NaN         NaN

2017-06-20
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
424  SZ001872  33603450.0  1.100601e+09  2001872         NaN         NaN
426  SZ001914   3297890.0  3.225867e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
424  SZ001872  33603450.0  1.100601e+09  2001872         NaN         NaN
426  SZ001914   3297890.0  3.225867e+07  2001914         NaN         NaN

2017-06-21
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
422  SZ001872  25740030.0  8.221346e+08  2001872         NaN         NaN
424  SZ001914   4540509.0  4.405929e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
422  SZ001872  25740030.0  8.221346e+08  2001872         NaN         NaN
424  SZ001914   4540509.0  4.405929e+07  2001914         NaN         NaN

2017-06-22
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

            ID   max_volume    max_amount     skey   cum_volume    cum_amount
0     SZ000001   58400441.0  5.383036e+08  2000001   57565709.0  5.305777e+08
1     SZ000002  125118677.0  2.905465e+09  2000002  123235562.0  2.861071e+09
2     SZ000004    3636889.0  9.215325e+07  2000004    3613289.0  9.155197e+07
3     SZ000005    7012269.0  3.682630e+07  2000005    6959069.0  3.654442e+07
4     SZ000006   15817003.0  1.348452e+08  2000006   15661803.0  1.335148e+08
...        ...          ...           ...      ...          ...           ...
1794  SZ300661    2262333.0  1.579928e+08  2300661    2252733.0  1.573219e+08
1795  SZ300662   30056479.0  7.876249e+08  2300662   29932843.0  7.844220e+08
1796  SZ300663   19797962.0  5.442943e+08  2300663   19744282.0  5.428546e+08
1797  SZ300665     199622.0  6.248169e+06  2300665     199122.0  6.232519e+06
1798  SZ300666      44678.0  5.294343e+05  2300666      44578.0  5.282493e+05

[1790 rows x 6 columns]

            ID   max_volume    max_amount     skey   cum_volume    cum_amount
0     SZ000001   58400441.0  5.383036e+08  2000001   57565709.0  5.305777e+08
1     SZ000002  125118677.0  2.905465e+09  2000002  123235562.0  2.861071e+09
2     SZ000004    3636889.0  9.215325e+07  2000004    3613289.0  9.155197e+07
3     SZ000005    7012269.0  3.682630e+07  2000005    6959069.0  3.654442e+07
4     SZ000006   15817003.0  1.348452e+08  2000006   15661803.0  1.335148e+08
...        ...          ...           ...      ...          ...           ...
1794  SZ300661    2262333.0  1.579928e+08  2300661    2252733.0  1.573219e+08
1795  SZ300662   30056479.0  7.876249e+08  2300662   29932843.0  7.844220e+08
1796  SZ300663   19797962.0  5.442943e+08  2300663   19744282.0  5.428546e+08
1797  SZ300665     199622.0  6.248169e+06  2300665     199122.0  6.232519e+06
1798  SZ300666      44678.0  5.294343e+05  2300666      44578.0  5.282493e+05

[1790 rows x 6 columns]

2017-06-23
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
422  SZ001872  17723822.0  5.602408e+08  2001872         NaN         NaN
424  SZ001914   3822662.0  3.643879e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
422  SZ001872  17723822.0  5.602408e+08  2001872         NaN         NaN
424  SZ001914   3822662.0  3.643879e+07  2001914         NaN         NaN

2017-06-26
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
424  SZ001872  25681986.0  8.381805e+08  2001872         NaN         NaN
426  SZ001914   2431936.0  2.333520e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
424  SZ001872  25681986.0  8.381805e+08  2001872         NaN         NaN
426  SZ001914   2431936.0  2.333520e+07  2001914         NaN         NaN

2017-06-27
trade finished

NameError: name 'date_list' is not defined

In [2]:
import pymongo
import pandas as pd
import pickle
import datetime
import time
import gzip
import lzma
import pytz


def DB(host, db_name, user, passwd):
    auth_db = db_name if user not in ('admin', 'root') else 'admin'
    uri = 'mongodb://%s:%s@%s/?authSource=%s' % (user, passwd, host, auth_db)
    return DBObj(uri, db_name=db_name)


class DBObj(object):
    def __init__(self, uri, symbol_column='skey', db_name='white_db'):
        self.db_name = db_name
        self.uri = uri
        self.client = pymongo.MongoClient(self.uri)
        self.db = self.client[self.db_name]
        self.chunk_size = 20000
        self.symbol_column = symbol_column
        self.date_column = 'date'

    def parse_uri(self, uri):
        # mongodb://user:password@example.com
        return uri.strip().replace('mongodb://', '').strip('/').replace(':', ' ').replace('@', ' ').split(' ')

    def drop_table(self, table_name):
        self.db.drop_collection(table_name)

    def rename_table(self, old_table, new_table):
        self.db[old_table].rename(new_table)

    def write(self, table_name, df):
        if len(df) == 0: return

        multi_date = False

        if self.date_column in df.columns:
            date = str(df.head(1)[self.date_column].iloc[0])
            multi_date = len(df[self.date_column].unique()) > 1
        else:
            raise Exception('DataFrame should contain date column')

        collection = self.db[table_name]
        collection.create_index([('date', pymongo.ASCENDING), ('symbol', pymongo.ASCENDING)], background=True)
        collection.create_index([('symbol', pymongo.ASCENDING), ('date', pymongo.ASCENDING)], background=True)

        if multi_date:
            for (date, symbol), sub_df in df.groupby([self.date_column, self.symbol_column]):
                date = str(date)
                symbol = int(symbol)
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)
        else:
            for symbol, sub_df in df.groupby([self.symbol_column]):
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)

    def write_single(self, collection, date, symbol, df):
        for start in range(0, len(df), self.chunk_size):
            end = min(start + self.chunk_size, len(df))
            df_seg = df[start:end]
            version = 1
            seg = {'ver': version, 'data': self.ser(df_seg, version), 'date': date, 'symbol': symbol, 'start': start}
            collection.insert_one(seg)

    def build_query(self, start_date=None, end_date=None, symbol=None):
        query = {}

        def parse_date(x):
            if type(x) == str:
                if len(x) != 8:
                    raise Exception("`date` must be YYYYMMDD format")
                return x
            elif type(x) == datetime.datetime or type(x) == datetime.date:
                return x.strftime("%Y%m%d")
            elif type(x) == int:
                return parse_date(str(x))
            else:
                raise Exception("invalid `date` type: " + str(type(x)))

        if start_date is not None or end_date is not None:
            query['date'] = {}
            if start_date is not None:
                query['date']['$gte'] = parse_date(start_date)
            if end_date is not None:
                query['date']['$lte'] = parse_date(end_date)

        def parse_symbol(x):
            if type(x) == int:
                return x
            else:
                return int(x)

        if symbol:
            if type(symbol) == list or type(symbol) == tuple:
                query['symbol'] = {'$in': [parse_symbol(x) for x in symbol]}
            else:
                query['symbol'] = parse_symbol(symbol)

        return query

    def delete(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot delete the whole table')
            return None

        collection.delete_many(query)

    def read(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot read the whole table')
            return None

        segs = []
        for x in collection.find(query):
            x['data'] = self.deser(x['data'], x['ver'])
            segs.append(x)
        segs.sort(key=lambda x: (x['symbol'], x['date'], x['start']))
        return pd.concat([x['data'] for x in segs], ignore_index=True) if segs else None

    def list_tables(self):
        return self.db.collection_names()

    def list_dates(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]
        dates = set()
        if start_date is None:
            start_date = '00000000'
        if end_date is None:
            end_date = '99999999'
        for x in collection.find(self.build_query(start_date, end_date, symbol), {"date": 1, '_id': 0}):
            dates.add(x['date'])
        return sorted(list(dates))

    def ser(self, s, version):
        pickle_protocol = 4
        if version == 1:
            return gzip.compress(pickle.dumps(s, protocol=pickle_protocol), compresslevel=2)
        elif version == 2:
            return lzma.compress(pickle.dumps(s, protocol=pickle_protocol), preset=1)
        else:
            raise Exception('unknown version')

    def deser(self, s, version):
        def unpickle(s):
            return pickle.loads(s)

        if version == 1:
            return unpickle(gzip.decompress(s))
        elif version == 2:
            return unpickle(lzma.decompress(s))
        else:
            raise Exception('unknown version')


def patch_pandas_pickle():
    if pd.__version__ < '0.24':
        import sys
        from types import ModuleType
        from pandas.core.internals import BlockManager
        pkg_name = 'pandas.core.internals.managers'
        if pkg_name not in sys.modules:
            m = ModuleType(pkg_name)
            m.BlockManager = BlockManager
            sys.modules[pkg_name] = m
patch_pandas_pickle()


            
            
            
            
            
            
            
            
import pandas as pd
import random
import numpy as np
import glob
import os
import pickle
import datetime
import time
pd.set_option("max_columns", 200)

startTm = datetime.datetime.now()
readPath = '/home/work516/day_stock/***'
dataPathLs = np.array(glob.glob(readPath))
dataPathLs = dataPathLs[[np.array([os.path.basename(i).split('.')[0][:2] == 'SZ' for i in dataPathLs])]]
db = pd.DataFrame()
for p in dataPathLs:
    dayData = pd.read_csv(p, compression='gzip')
    db = pd.concat([db, dayData])
print(datetime.datetime.now() - startTm)

year = "2017"
startDate = '20170628'
endDate = '20170831'
readPath = '/mnt/usb/data/' + year + '/***/***'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([os.path.basename(i) for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]
less = []
date_list = pd.read_csv("/home/work516/KR_upload_code/trading_days.csv")

for data in dataPathLs:
    
    if len(np.array(glob.glob(data + '/SZ/***'))) == 0:
        if int(os.path.basename(data)) not in date_list["Date"].values:
            continue
        else:
            print(os.path.basename(data) + " less data!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!")
            less.append(data)
            continue
    date = os.path.basename(data)
    rar_path = data + '/SZ/tick.7z'
    path = '/mnt/e/unzip_data/2017/SZ'
    path1 = path + '/' + date
    un_path = path1
    cmd = '7za x {} -o{}'.format(rar_path, un_path)
    os.system(cmd)
    
    readPath = path1 + '/tick/***'
    dataPathLs = np.array(glob.glob(readPath))
    dateLs = np.array([int(os.path.basename(i).split('.')[0]) for i in dataPathLs])
    dataPathLs = dataPathLs[(dateLs < 4000) | ((dateLs > 300000) & (dateLs < 310000))]
    TradeLog = []
    ll = []
    
    for i in dataPathLs:
        try:
            df = pd.read_csv(i)
        except:
            print("empty data")
            print(i)
            ll.append(int(os.path.basename(i).split('.')[0]))
            continue
        df["SecurityID"] = int(os.path.basename(i).split('.')[0])
        TradeLog += [df]
    TradeLog = pd.concat(TradeLog).reset_index(drop=True)
    TradeLog = TradeLog[TradeLog["ChannelNo"] != 4001]
    
    TradeLog["date"] = TradeLog["TransactTime"].iloc[0]//1000000000
    TradeLog = TradeLog.rename(columns={"Qty":"trade_qty", "Price":"trade_price", "ExecType":"trade_type"})
    TradeLog["trade_money"] = TradeLog["trade_price"] * TradeLog["trade_qty"]
    TradeLog["trade_flag"] = 0
    TradeLog["skey"] = TradeLog["SecurityID"] + 2000000
    TradeLog["clockAtArrival"] = TradeLog["TransactTime"].astype(str).apply(lambda x: np.int64(datetime.datetime.strptime(x, '%Y%m%d%H%M%S%f').timestamp()*1e6))
    TradeLog['datetime'] = TradeLog["clockAtArrival"].apply(lambda x: datetime.datetime.fromtimestamp(x/1e6))
    TradeLog["time"] = (TradeLog['TransactTime'] - int(TradeLog['TransactTime'].iloc[0]//1000000000*1000000000)).astype(np.int64)*1000
    TradeLog["trade_type"] = np.where(TradeLog["trade_type"] == 'F', 1, TradeLog["trade_type"])
    for col in ["skey", "date", "ApplSeqNum", "BidApplSeqNum", "OfferApplSeqNum", "trade_qty", "trade_type", "trade_flag"]:
        TradeLog[col] = TradeLog[col].astype('int32')
#     for cols in ["trade_money", "trade_price"]:
#         display(cols)
#         display(TradeLog[cols].astype(str).apply(lambda x: len(str(x.split('.')[1]))).unique())
#         TradeLog[cols] = TradeLog[cols].round(2)
#         display(TradeLog[cols].astype(str).apply(lambda x: len(str(x.split('.')[1]))).unique())
    for cols in ["trade_money"]:
        TradeLog[cols] = TradeLog[cols].round(2)
    
    da_te = str(TradeLog["date"].iloc[0]) 
    da_te = da_te[:4] + '-' + da_te[4:6] + '-' + da_te[6:8]
    db1 = db[db["date"] == da_te]
    sl = (db1["ID"].str[2:].astype(int) + 2000000).unique()
    db1["max_volume"] = db1.groupby("ID")["d_volume"].transform("max")
    db1["max_amount"] = db1.groupby("ID")["d_amount"].transform("max")
    t1 = db1.groupby("ID")["max_volume", "max_amount"].first().reset_index()
    del db1
    t1["skey"] = t1["ID"].str[2:].astype(int) + 2000000
    trade1 = TradeLog[TradeLog["trade_type"] == 1].groupby("skey")["trade_qty"].sum().reset_index()
    trade1.columns=["skey", "cum_volume"]
    trade2 = TradeLog[TradeLog["trade_type"] == 1].groupby("skey")["trade_money"].sum().reset_index()
    trade2.columns=["skey", "cum_amount"]
    t2 = pd.merge(trade1, trade2, on="skey")
    re = pd.merge(t1, t2, on="skey", how="outer")
    try:
        assert(t1.shape[0] == t2.shape[0])
        assert(re[re["cum_volume"] != re["max_volume"]].shape[0] == 0)
        assert(re[re["cum_amount"].round(2) != re["max_amount"]].shape[0] == 0)
    except:
        display(set(t1["skey"]) - set(t2["skey"]))
        display(re[re["cum_volume"] != re["max_volume"]])
        display(re[re["cum_amount"].round(2) != re["max_amount"]])
    del t1
    del t2
    del re
 
    TradeLog = TradeLog[["skey", "date", "time", "clockAtArrival", "datetime", "ApplSeqNum", "trade_type", "trade_flag",
                                                 "trade_price", "trade_qty", "BidApplSeqNum", "OfferApplSeqNum"]]
    print(da_te)
    print("trade finished")


    database_name = 'com_md_eq_cn'
    user = "zhenyuy"
    password = "bnONBrzSMGoE"

    db1 = DB("192.168.10.178", database_name, user, password)
    db1.write('md_trade', TradeLog)    
    
    del TradeLog
    
print(less)

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:201: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.

0:05:31.401373
20170628 less data!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:280: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
423  SZ001872  17126986.0  5.181032e+08  2001872         NaN         NaN
425  SZ001914   2437130.0  2.315477e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
423  SZ001872  17126986.0  5.181032e+08  2001872         NaN         NaN
425  SZ001914   2437130.0  2.315477e+07  2001914         NaN         NaN

2017-06-29
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:280: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

            ID  max_volume    max_amount     skey  cum_volume    cum_amount
0     SZ000001  49963349.0  4.680035e+08  2000001  45606749.0  4.270890e+08
1     SZ000002  59561483.0  1.487557e+09  2000002  53912317.0  1.347153e+09
2     SZ000004   1125061.0  2.887060e+07  2000004    924561.0  2.371155e+07
3     SZ000005   2535277.0  1.331444e+07  2000005   2345277.0  1.231974e+07
4     SZ000006  14618781.0  1.290753e+08  2000006  12874081.0  1.135731e+08
...        ...         ...           ...      ...         ...           ...
1798  SZ300665   9681781.0  3.388695e+08  2300665   6932182.0  2.451668e+08
1799  SZ300666    239793.0  4.577648e+06  2300666    117093.0  2.235305e+06
1800  SZ300667    184700.0  6.741550e+06  2300667    104700.0  3.821550e+06
1801  SZ300668   6734184.0  4.484095e+08  2300668   4130176.0  2.759488e+08
1802  SZ300669      7505.0  1.307371e+05  2300669      5464.0  9.518288e+04

[1803 rows x 6 columns]

            ID  max_volume    max_amount     skey  cum_volume    cum_amount
0     SZ000001  49963349.0  4.680035e+08  2000001  45606749.0  4.270890e+08
1     SZ000002  59561483.0  1.487557e+09  2000002  53912317.0  1.347153e+09
2     SZ000004   1125061.0  2.887060e+07  2000004    924561.0  2.371155e+07
3     SZ000005   2535277.0  1.331444e+07  2000005   2345277.0  1.231974e+07
4     SZ000006  14618781.0  1.290753e+08  2000006  12874081.0  1.135731e+08
...        ...         ...           ...      ...         ...           ...
1798  SZ300665   9681781.0  3.388695e+08  2300665   6932182.0  2.451668e+08
1799  SZ300666    239793.0  4.577648e+06  2300666    117093.0  2.235305e+06
1800  SZ300667    184700.0  6.741550e+06  2300667    104700.0  3.821550e+06
1801  SZ300668   6734184.0  4.484095e+08  2300668   4130176.0  2.759488e+08
1802  SZ300669      7505.0  1.307371e+05  2300669      5464.0  9.518288e+04

[1803 rows x 6 columns]

2017-06-30
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:280: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
423  SZ001872   9402182.0  2.798903e+08  2001872         NaN         NaN
425  SZ001914  14409210.0  1.445863e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
423  SZ001872   9402182.0  2.798903e+08  2001872         NaN         NaN
425  SZ001914  14409210.0  1.445863e+08  2001914         NaN         NaN

2017-07-03
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:280: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
423  SZ001872  13995244.0  4.027366e+08  2001872         NaN         NaN
425  SZ001914  19201712.0  2.011035e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
423  SZ001872  13995244.0  4.027366e+08  2001872         NaN         NaN
425  SZ001914  19201712.0  2.011035e+08  2001914         NaN         NaN

2017-07-04
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:280: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
422  SZ001872  10230117.0  2.936470e+08  2001872         NaN         NaN
424  SZ001914  15787324.0  1.740188e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
422  SZ001872  10230117.0  2.936470e+08  2001872         NaN         NaN
424  SZ001914  15787324.0  1.740188e+08  2001914         NaN         NaN

2017-07-05
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:280: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
422  SZ001872   9976318.0  2.872188e+08  2001872         NaN         NaN
424  SZ001914   7818060.0  8.399734e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
422  SZ001872   9976318.0  2.872188e+08  2001872         NaN         NaN
424  SZ001914   7818060.0  8.399734e+07  2001914         NaN         NaN

2017-07-06
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:280: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
421  SZ001872   7398401.0  2.096816e+08  2001872         NaN         NaN
423  SZ001914   8293694.0  9.128439e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
421  SZ001872   7398401.0  2.096816e+08  2001872         NaN         NaN
423  SZ001914   8293694.0  9.128439e+07  2001914         NaN         NaN

2017-07-07
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:280: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
422  SZ001872   8344112.0  2.318965e+08  2001872         NaN         NaN
424  SZ001914   5787430.0  6.352369e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
422  SZ001872   8344112.0  2.318965e+08  2001872         NaN         NaN
424  SZ001914   5787430.0  6.352369e+07  2001914         NaN         NaN

2017-07-10
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:280: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
422  SZ001872  20771859.0  6.009338e+08  2001872         NaN         NaN
424  SZ001914   8334391.0  9.240795e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
422  SZ001872  20771859.0  6.009338e+08  2001872         NaN         NaN
424  SZ001914   8334391.0  9.240795e+07  2001914         NaN         NaN

2017-07-11
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:280: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
423  SZ001872  17429050.0  5.152343e+08  2001872         NaN         NaN
425  SZ001914  12435574.0  1.376646e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
423  SZ001872  17429050.0  5.152343e+08  2001872         NaN         NaN
425  SZ001914  12435574.0  1.376646e+08  2001914         NaN         NaN

2017-07-12
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:280: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
423  SZ001872  14946333.0  4.506235e+08  2001872         NaN         NaN
425  SZ001914   6181607.0  6.795991e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
423  SZ001872  14946333.0  4.506235e+08  2001872         NaN         NaN
425  SZ001914   6181607.0  6.795991e+07  2001914         NaN         NaN

2017-07-13
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:280: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2000560,
 2000593,
 2000967,
 2001872,
 2001914,
 2002213,
 2002324,
 2002370,
 2002403,
 2002612,
 2002613,
 2002715,
 2002777,
 2300138,
 2300204,
 2300360,
 2300445,
 2300596,
 2300600}

            ID   max_volume    max_amount     skey  cum_volume   cum_amount
0     SZ000001  172257026.0  1.864449e+09  2000001   4456778.0  48207642.72
1     SZ000002   20179731.0  4.958323e+08  2000002   1057660.0  25906874.12
2     SZ000004    2106153.0  5.087475e+07  2000004     98500.0   2398125.00
3     SZ000005    5264477.0  2.683073e+07  2000005     10700.0     55105.00
4     SZ000006   11998050.0  1.014978e+08  2000006    123900.0   1062718.00
...        ...          ...           ...      ...         ...          ...
1806  SZ300670    6832425.0  1.807353e+08  2300670    191494.0   5175412.99
1807  SZ300671      65036.0  1.480870e+06  2300671      9300.0    211761.00
1808  SZ300672       3000.0  4.431000e+04  2300672      1000.0     14770.00
1809  SZ300673      19200.0  8.221440e+05  2300673      4300.0    184126.00
1810  SZ300676       5500.0  1.068780e+05  2300676       600.0     10642.00

[1811 rows x 6 columns]

            ID   max_volume    max_amount     skey  cum_volume   cum_amount
0     SZ000001  172257026.0  1.864449e+09  2000001   4456778.0  48207642.72
1     SZ000002   20179731.0  4.958323e+08  2000002   1057660.0  25906874.12
2     SZ000004    2106153.0  5.087475e+07  2000004     98500.0   2398125.00
3     SZ000005    5264477.0  2.683073e+07  2000005     10700.0     55105.00
4     SZ000006   11998050.0  1.014978e+08  2000006    123900.0   1062718.00
...        ...          ...           ...      ...         ...          ...
1806  SZ300670    6832425.0  1.807353e+08  2300670    191494.0   5175412.99
1807  SZ300671      65036.0  1.480870e+06  2300671      9300.0    211761.00
1808  SZ300672       3000.0  4.431000e+04  2300672      1000.0     14770.00
1809  SZ300673      19200.0  8.221440e+05  2300673      4300.0    184126.00
1810  SZ300676       5500.0  1.068780e+05  2300676       600.0     10642.00

[1811 rows x 6 columns]

2017-07-14
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:280: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
423  SZ001872  14152483.0  3.993147e+08  2001872         NaN         NaN
425  SZ001914  12673431.0  1.341192e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
423  SZ001872  14152483.0  3.993147e+08  2001872         NaN         NaN
425  SZ001914  12673431.0  1.341192e+08  2001914         NaN         NaN

2017-07-17
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:280: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
420  SZ001872   5740109.0  1.609174e+08  2001872         NaN         NaN
422  SZ001914   6764100.0  6.936945e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
420  SZ001872   5740109.0  1.609174e+08  2001872         NaN         NaN
422  SZ001914   6764100.0  6.936945e+07  2001914         NaN         NaN

2017-07-18
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:280: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
419  SZ001872   7882542.0  2.216484e+08  2001872         NaN         NaN
421  SZ001914   5559453.0  5.827970e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
419  SZ001872   7882542.0  2.216484e+08  2001872         NaN         NaN
421  SZ001914   5559453.0  5.827970e+07  2001914         NaN         NaN

2017-07-19
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:280: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
416  SZ001872   7446742.0  2.129420e+08  2001872         NaN         NaN
418  SZ001914   7154952.0  7.661564e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
416  SZ001872   7446742.0  2.129420e+08  2001872         NaN         NaN
418  SZ001914   7154952.0  7.661564e+07  2001914         NaN         NaN

2017-07-20
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:280: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
416  SZ001872   6639996.0  1.846266e+08  2001872         NaN         NaN
418  SZ001914   3988045.0  4.261974e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
416  SZ001872   6639996.0  1.846266e+08  2001872         NaN         NaN
418  SZ001914   3988045.0  4.261974e+07  2001914         NaN         NaN

2017-07-21
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:280: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
417  SZ001872   6633396.0  1.853963e+08  2001872         NaN         NaN
419  SZ001914   3849610.0  4.084532e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
417  SZ001872   6633396.0  1.853963e+08  2001872         NaN         NaN
419  SZ001914   3849610.0  4.084532e+07  2001914         NaN         NaN

2017-07-24
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:280: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
416  SZ001872   6399239.0  1.806997e+08  2001872         NaN         NaN
418  SZ001914   4821154.0  5.170039e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
416  SZ001872   6399239.0  1.806997e+08  2001872         NaN         NaN
418  SZ001914   4821154.0  5.170039e+07  2001914         NaN         NaN

2017-07-25
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:280: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
416  SZ001872   5150473.0  1.426012e+08  2001872         NaN         NaN
418  SZ001914   5803776.0  6.184017e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
416  SZ001872   5150473.0  1.426012e+08  2001872         NaN         NaN
418  SZ001914   5803776.0  6.184017e+07  2001914         NaN         NaN

2017-07-26
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:280: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
419  SZ001872   6720902.0  1.823435e+08  2001872         NaN         NaN
421  SZ001914   8605500.0  9.042009e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
419  SZ001872   6720902.0  1.823435e+08  2001872         NaN         NaN
421  SZ001914   8605500.0  9.042009e+07  2001914         NaN         NaN

2017-07-27
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:280: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
419  SZ001872   6297924.0  1.752406e+08  2001872         NaN         NaN
421  SZ001914   4776800.0  5.108262e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
419  SZ001872   6297924.0  1.752406e+08  2001872         NaN         NaN
421  SZ001914   4776800.0  5.108262e+07  2001914         NaN         NaN

2017-07-28
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:280: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
418  SZ001872   6200541.0  1.730594e+08  2001872         NaN         NaN
420  SZ001914   4406967.0  4.741990e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
418  SZ001872   6200541.0  1.730594e+08  2001872         NaN         NaN
420  SZ001914   4406967.0  4.741990e+07  2001914         NaN         NaN

2017-07-31
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:280: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
418  SZ001872   8874055.0  247726308.9  2001872         NaN         NaN
420  SZ001914   3183200.0   33923338.0  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
418  SZ001872   8874055.0  247726308.9  2001872         NaN         NaN
420  SZ001914   3183200.0   33923338.0  2001914         NaN         NaN

2017-08-01
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:280: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
417  SZ001872  10208777.0  2.861675e+08  2001872         NaN         NaN
419  SZ001914   5864391.0  6.142345e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
417  SZ001872  10208777.0  2.861675e+08  2001872         NaN         NaN
419  SZ001914   5864391.0  6.142345e+07  2001914         NaN         NaN

2017-08-02
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:280: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
418  SZ001872  18510569.0  5.354449e+08  2001872         NaN         NaN
420  SZ001914   2449312.0  2.558185e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
418  SZ001872  18510569.0  5.354449e+08  2001872         NaN         NaN
420  SZ001914   2449312.0  2.558185e+07  2001914         NaN         NaN

2017-08-03
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:280: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

            ID   max_volume    max_amount     skey   cum_volume    cum_amount
0     SZ000001  135395156.0  1.511390e+09  2000001  135391856.0  1.511353e+09
1     SZ000002   29612306.0  6.765333e+08  2000002   29592006.0  6.760685e+08
6     SZ000008    6113329.0  4.577711e+07  2000008    6109929.0  4.575175e+07
7     SZ000009   84400932.0  7.556289e+08  2000009   84378232.0  7.554221e+08
8     SZ000010    5912089.0  2.895195e+07  2000010    5911989.0  2.895146e+07
...        ...          ...           ...      ...          ...           ...
1820  SZ300671    6591138.0  1.665258e+08  2300671    6590838.0  1.665182e+08
1821  SZ300672    7067396.0  1.907757e+08  2300672    7066596.0  1.907540e+08
1825  SZ300677    3208548.0  1.254059e+08  2300677    3204348.0  1.252418e+08
1827  SZ300679    7468404.0  8.024472e+08  2300679    7466004.0  8.021920e+08
1829  SZ300681    7399099.0  3.445946e+08  2300681    7398599.0  3.445708e+08

[821 rows x 6 columns]

            ID   max_volume    max_amount     skey   cum_volume    cum_amount
0     SZ000001  135395156.0  1.511390e+09  2000001  135391856.0  1.511353e+09
1     SZ000002   29612306.0  6.765333e+08  2000002   29592006.0  6.760685e+08
6     SZ000008    6113329.0  4.577711e+07  2000008    6109929.0  4.575175e+07
7     SZ000009   84400932.0  7.556289e+08  2000009   84378232.0  7.554221e+08
8     SZ000010    5912089.0  2.895195e+07  2000010    5911989.0  2.895146e+07
...        ...          ...           ...      ...          ...           ...
1820  SZ300671    6591138.0  1.665258e+08  2300671    6590838.0  1.665182e+08
1821  SZ300672    7067396.0  1.907757e+08  2300672    7066596.0  1.907540e+08
1825  SZ300677    3208548.0  1.254059e+08  2300677    3204348.0  1.252418e+08
1827  SZ300679    7468404.0  8.024472e+08  2300679    7466004.0  8.021920e+08
1829  SZ300681    7399099.0  3.445946e+08  2300681    7398599.0  3.445708e+08

[821 rows x 6 columns]

2017-08-04
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:280: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
419  SZ001872   7919166.0  2.319786e+08  2001872         NaN         NaN
421  SZ001914   2399330.0  2.536828e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
419  SZ001872   7919166.0  2.319786e+08  2001872         NaN         NaN
421  SZ001914   2399330.0  2.536828e+07  2001914         NaN         NaN

2017-08-07
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:280: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
418  SZ001872   7710915.0  2.214788e+08  2001872         NaN         NaN
420  SZ001914   3991800.0  4.152381e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
418  SZ001872   7710915.0  2.214788e+08  2001872         NaN         NaN
420  SZ001914   3991800.0  4.152381e+07  2001914         NaN         NaN

2017-08-08
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:280: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
417  SZ001872   8001387.0  2.304093e+08  2001872         NaN         NaN
419  SZ001914   4471978.0  4.587800e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
417  SZ001872   8001387.0  2.304093e+08  2001872         NaN         NaN
419  SZ001914   4471978.0  4.587800e+07  2001914         NaN         NaN

2017-08-09
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:280: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
418  SZ001872   9192596.0  2.663895e+08  2001872         NaN         NaN
420  SZ001914   2873611.0  2.947943e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
418  SZ001872   9192596.0  2.663895e+08  2001872         NaN         NaN
420  SZ001914   2873611.0  2.947943e+07  2001914         NaN         NaN

2017-08-10
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:280: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
418  SZ001872  11021660.0  2.996770e+08  2001872         NaN         NaN
420  SZ001914   3259700.0  3.303790e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
418  SZ001872  11021660.0  2.996770e+08  2001872         NaN         NaN
420  SZ001914   3259700.0  3.303790e+07  2001914         NaN         NaN

2017-08-11
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:280: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
421  SZ001872   5395218.0  1.439743e+08  2001872         NaN         NaN
423  SZ001914   3501009.0  3.564439e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
421  SZ001872   5395218.0  1.439743e+08  2001872         NaN         NaN
423  SZ001914   3501009.0  3.564439e+07  2001914         NaN         NaN

2017-08-14
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:280: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
421  SZ001872   4591459.0  1.243279e+08  2001872         NaN         NaN
423  SZ001914   4661820.0  4.862469e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
421  SZ001872   4591459.0  1.243279e+08  2001872         NaN         NaN
423  SZ001914   4661820.0  4.862469e+07  2001914         NaN         NaN

2017-08-15
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:280: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
422  SZ001872   4281195.0  1.144855e+08  2001872         NaN         NaN
424  SZ001914   4512942.0  4.721148e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
422  SZ001872   4281195.0  1.144855e+08  2001872         NaN         NaN
424  SZ001914   4512942.0  4.721148e+07  2001914         NaN         NaN

2017-08-16
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:280: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
420  SZ001872   3264213.0  87364880.71  2001872         NaN         NaN
422  SZ001914   4158735.0  43943057.78  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
420  SZ001872   3264213.0  87364880.71  2001872         NaN         NaN
422  SZ001914   4158735.0  43943057.78  2001914         NaN         NaN

2017-08-17
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:280: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
420  SZ001872   7836030.0  215642165.4  2001872         NaN         NaN
422  SZ001914   4097100.0   43471097.2  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
420  SZ001872   7836030.0  215642165.4  2001872         NaN         NaN
422  SZ001914   4097100.0   43471097.2  2001914         NaN         NaN

2017-08-18
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:280: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
418  SZ001872   3496289.0  95602265.18  2001872         NaN         NaN
420  SZ001914   2638016.0  27874974.20  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
418  SZ001872   3496289.0  95602265.18  2001872         NaN         NaN
420  SZ001914   2638016.0  27874974.20  2001914         NaN         NaN

2017-08-21
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:280: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
417  SZ001872   3392301.0  9.243645e+07  2001872         NaN         NaN
419  SZ001914  10910288.0  1.188753e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
417  SZ001872   3392301.0  9.243645e+07  2001872         NaN         NaN
419  SZ001914  10910288.0  1.188753e+08  2001914         NaN         NaN

2017-08-22
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:280: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
417  SZ001872   2615896.0  71390556.68  2001872         NaN         NaN
419  SZ001914   5941772.0  64144080.59  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
417  SZ001872   2615896.0  71390556.68  2001872         NaN         NaN
419  SZ001914   5941772.0  64144080.59  2001914         NaN         NaN

2017-08-23
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:280: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
418  SZ001872   2479700.0  67488700.46  2001872         NaN         NaN
420  SZ001914   4416595.0  46807786.90  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
418  SZ001872   2479700.0  67488700.46  2001872         NaN         NaN
420  SZ001914   4416595.0  46807786.90  2001914         NaN         NaN

2017-08-24
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:280: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
419  SZ001872   7997250.0  2.107844e+08  2001872         NaN         NaN
421  SZ001914   3111201.0  3.308019e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
419  SZ001872   7997250.0  2.107844e+08  2001872         NaN         NaN
421  SZ001914   3111201.0  3.308019e+07  2001914         NaN         NaN

2017-08-25
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:280: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
421  SZ001872   5519637.0  1.461909e+08  2001872         NaN         NaN
423  SZ001914   3330818.0  3.537054e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
421  SZ001872   5519637.0  1.461909e+08  2001872         NaN         NaN
423  SZ001914   3330818.0  3.537054e+07  2001914         NaN         NaN

2017-08-28
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:280: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
419  SZ001872   8235838.0  2.239205e+08  2001872         NaN         NaN
421  SZ001914   3071700.0  3.268640e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
419  SZ001872   8235838.0  2.239205e+08  2001872         NaN         NaN
421  SZ001914   3071700.0  3.268640e+07  2001914         NaN         NaN

2017-08-29
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:280: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
419  SZ001872   9461561.0  2.631643e+08  2001872         NaN         NaN
421  SZ001914   3910306.0  4.161307e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
419  SZ001872   9461561.0  2.631643e+08  2001872         NaN         NaN
421  SZ001914   3910306.0  4.161307e+07  2001914         NaN         NaN

2017-08-30
trade finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:280: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
418  SZ001872   4138988.0  115103196.5  2001872         NaN         NaN
420  SZ001914   3626900.0   38547071.0  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
418  SZ001872   4138988.0  115103196.5  2001872         NaN         NaN
420  SZ001914   3626900.0   38547071.0  2001914         NaN         NaN

2017-08-31
trade finished
['/mnt/usb/data/2017/201706/20170628']