In [1]:
import pymongo
import pandas as pd
import pickle
import datetime
import time
import gzip
import lzma
import pytz


def DB(host, db_name, user, passwd):
    auth_db = db_name if user not in ('admin', 'root') else 'admin'
    uri = 'mongodb://%s:%s@%s/?authSource=%s' % (user, passwd, host, auth_db)
    return DBObj(uri, db_name=db_name)


class DBObj(object):
    def __init__(self, uri, symbol_column='skey', db_name='white_db'):
        self.db_name = db_name
        self.uri = uri
        self.client = pymongo.MongoClient(self.uri)
        self.db = self.client[self.db_name]
        self.chunk_size = 20000
        self.symbol_column = symbol_column
        self.date_column = 'date'

    def parse_uri(self, uri):
        # mongodb://user:password@example.com
        return uri.strip().replace('mongodb://', '').strip('/').replace(':', ' ').replace('@', ' ').split(' ')

    def drop_table(self, table_name):
        self.db.drop_collection(table_name)

    def rename_table(self, old_table, new_table):
        self.db[old_table].rename(new_table)

    def write(self, table_name, df):
        if len(df) == 0: return

        multi_date = False

        if self.date_column in df.columns:
            date = str(df.head(1)[self.date_column].iloc[0])
            multi_date = len(df[self.date_column].unique()) > 1
        else:
            raise Exception('DataFrame should contain date column')

        collection = self.db[table_name]
        collection.create_index([('date', pymongo.ASCENDING), ('symbol', pymongo.ASCENDING)], background=True)
        collection.create_index([('symbol', pymongo.ASCENDING), ('date', pymongo.ASCENDING)], background=True)

        if multi_date:
            for (date, symbol), sub_df in df.groupby([self.date_column, self.symbol_column]):
                date = str(date)
                symbol = int(symbol)
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)
        else:
            for symbol, sub_df in df.groupby([self.symbol_column]):
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)

    def write_single(self, collection, date, symbol, df):
        for start in range(0, len(df), self.chunk_size):
            end = min(start + self.chunk_size, len(df))
            df_seg = df[start:end]
            version = 1
            seg = {'ver': version, 'data': self.ser(df_seg, version), 'date': date, 'symbol': symbol, 'start': start}
            collection.insert_one(seg)

    def build_query(self, start_date=None, end_date=None, symbol=None):
        query = {}

        def parse_date(x):
            if type(x) == str:
                if len(x) != 8:
                    raise Exception("`date` must be YYYYMMDD format")
                return x
            elif type(x) == datetime.datetime or type(x) == datetime.date:
                return x.strftime("%Y%m%d")
            elif type(x) == int:
                return parse_date(str(x))
            else:
                raise Exception("invalid `date` type: " + str(type(x)))

        if start_date is not None or end_date is not None:
            query['date'] = {}
            if start_date is not None:
                query['date']['$gte'] = parse_date(start_date)
            if end_date is not None:
                query['date']['$lte'] = parse_date(end_date)

        def parse_symbol(x):
            if type(x) == int:
                return x
            else:
                return int(x)

        if symbol:
            if type(symbol) == list or type(symbol) == tuple:
                query['symbol'] = {'$in': [parse_symbol(x) for x in symbol]}
            else:
                query['symbol'] = parse_symbol(symbol)

        return query

    def delete(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot delete the whole table')
            return None

        collection.delete_many(query)

    def read(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot read the whole table')
            return None

        segs = []
        for x in collection.find(query):
            x['data'] = self.deser(x['data'], x['ver'])
            segs.append(x)
        segs.sort(key=lambda x: (x['symbol'], x['date'], x['start']))
        return pd.concat([x['data'] for x in segs], ignore_index=True) if segs else None

    def list_tables(self):
        return self.db.collection_names()

    def list_dates(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]
        dates = set()
        if start_date is None:
            start_date = '00000000'
        if end_date is None:
            end_date = '99999999'
        for x in collection.find(self.build_query(start_date, end_date, symbol), {"date": 1, '_id': 0}):
            dates.add(x['date'])
        return sorted(list(dates))

    def ser(self, s, version):
        pickle_protocol = 4
        if version == 1:
            return gzip.compress(pickle.dumps(s, protocol=pickle_protocol), compresslevel=2)
        elif version == 2:
            return lzma.compress(pickle.dumps(s, protocol=pickle_protocol), preset=1)
        else:
            raise Exception('unknown version')

    def deser(self, s, version):
        def unpickle(s):
            return pickle.loads(s)

        if version == 1:
            return unpickle(gzip.decompress(s))
        elif version == 2:
            return unpickle(lzma.decompress(s))
        else:
            raise Exception('unknown version')


def patch_pandas_pickle():
    if pd.__version__ < '0.24':
        import sys
        from types import ModuleType
        from pandas.core.internals import BlockManager
        pkg_name = 'pandas.core.internals.managers'
        if pkg_name not in sys.modules:
            m = ModuleType(pkg_name)
            m.BlockManager = BlockManager
            sys.modules[pkg_name] = m
patch_pandas_pickle()












import pandas as pd
import random
import numpy as np
import glob
import os
import pickle
import datetime
import time
pd.set_option("max_columns", 200)

startTm = datetime.datetime.now()
readPath = '/home/work516/day_stock/***'
dataPathLs = np.array(glob.glob(readPath))
dataPathLs = dataPathLs[[np.array([os.path.basename(i).split('.')[0][:2] == 'SZ' for i in dataPathLs])]]
db = pd.DataFrame()
for p in dataPathLs:
    dayData = pd.read_csv(p, compression='gzip')
    db = pd.concat([db, dayData])
print(datetime.datetime.now() - startTm)

year = "2017"
startDate = '20170301'
endDate = '20170831'
readPath = '/mnt/usb/data/' + year + '/***/***'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([os.path.basename(i).split('_')[0] for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]
date_list = pd.read_csv("/home/work516/KR_upload_code/trading_days.csv")
wr_ong = []
mi_ss = []
less = []

for data in dataPathLs:    
    
    if len(np.array(glob.glob(data + '/SZ/***'))) == 0:
        if int(os.path.basename(data)) not in date_list["Date"].values:
            continue
        else:
            print(os.path.basename(data) + " less data!!!!!!!!!!!!!!!!!!!!!!!!!!!!!")
            less.append(data)
            continue
    date = os.path.basename(data)
    rar_path = data + '/SZ/snapshot.7z'
    path = '/mnt/e/unzip_data/2017/SZ'
    path1 = path + '/' + date
    un_path = path1
    cmd = '7za x {} -o{}'.format(rar_path, un_path)
    os.system(cmd)
    
    readPath = path1 + '/snapshot/***2/***'
    dataPathLs = np.array(glob.glob(readPath))
    dateLs = np.array([int(os.path.basename(i).split('.')[0]) for i in dataPathLs])
    dataPathLs = dataPathLs[(dateLs < 4000) | ((dateLs > 300000) & (dateLs < 310000))]
    SZ = []
    ll = []
    for i in dataPathLs:
        try:
            df = pd.read_csv(i, usecols = [0,1,4,5,6,7,9,12,17,18,19,24,25,26,28,29,30,32,33,34,35])
        except:
            print("empty data")
            print(i)
            ll.append(int(os.path.basename(i).split('.')[0]))
            continue
        df["StockID"] = int(os.path.basename(i).split('.')[0])
        SZ += [df]
    del df
    SZ = pd.concat(SZ).reset_index(drop=True)

    
    SZ["skey"] = SZ["StockID"] + 2000000
    SZ.drop(["StockID"],axis=1,inplace=True)
    SZ["date"] = int(SZ["QuotTime"].iloc[0]//1000000000)
    SZ["time"] = (SZ['QuotTime'] - int(SZ['QuotTime'].iloc[0]//1000000000*1000000000)).astype(np.int64) * 1000
    SZ["clockAtArrival"] = SZ["QuotTime"].astype(str).apply(lambda x: np.int64(datetime.datetime.strptime(x, '%Y%m%d%H%M%S%f').timestamp()*1e6))
    SZ['datetime'] = SZ["clockAtArrival"].apply(lambda x: datetime.datetime.fromtimestamp(x/1e6))
    SZ.drop(["QuotTime"],axis=1,inplace=True)

    
    SZ["BidPrice"] = SZ["BidPrice"].apply(lambda x: [float(i) for i in x[1:-1].split(',')])
    SZ["OfferPrice"] = SZ["OfferPrice"].apply(lambda x: [float(i) for i in x[1:-1].split(',')])
    SZ["BidOrderQty"] = SZ["BidOrderQty"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["OfferOrderQty"] = SZ["OfferOrderQty"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["BidNumOrders"] = SZ["BidNumOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["OfferNumOrders"] = SZ["OfferNumOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])

    for i in range(1, 11):
        SZ["bid" + str(i) + 'p'] = SZ["BidPrice"].apply(lambda x: x[i-1],2)
    SZ.drop(["BidPrice"],axis=1,inplace=True)

    for i in range(1, 11):
        SZ["ask" + str(i) + 'p'] = SZ["OfferPrice"].apply(lambda x: x[i-1],2)
    SZ.drop(["OfferPrice"],axis=1,inplace=True)

    for i in range(1, 11):
        SZ["bid" + str(i) + 'q'] = SZ["BidOrderQty"].apply(lambda x: x[i-1])
    SZ.drop(["BidOrderQty"],axis=1,inplace=True)

    for i in range(1, 11):
        SZ["ask" + str(i) + 'q'] = SZ["OfferOrderQty"].apply(lambda x: x[i-1])
    SZ.drop(["OfferOrderQty"],axis=1,inplace=True)

    for i in range(1, 11):
        SZ["bid" + str(i) + 'n'] = SZ["BidNumOrders"].apply(lambda x: x[i-1])
        SZ["bid" + str(i) + 'n'] = SZ["bid" + str(i) + 'n'].astype('int32')
    SZ.drop(["BidNumOrders"],axis=1,inplace=True)

    for i in range(1, 11):
        SZ["ask" + str(i) + 'n'] = SZ["OfferNumOrders"].apply(lambda x: x[i-1])
        SZ["ask" + str(i) + 'n'] = SZ["ask" + str(i) + 'n'].astype('int32') 
    SZ.drop(["OfferNumOrders"],axis=1,inplace=True)

    
    SZ["BidOrders"] = SZ["BidOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["OfferOrders"] = SZ["OfferOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])

    for i in range(1, 51):
        SZ["bid1Top" + str(i) + 'q'] = SZ["BidOrders"].apply(lambda x: x[i-1])
        SZ["bid1Top" + str(i) + 'q'] = SZ["bid1Top" + str(i) + 'q'].astype('int32') 
    SZ.drop(["BidOrders"],axis=1,inplace=True)

    
    for i in range(1, 51):
        SZ["ask1Top" + str(i) + 'q'] = SZ["OfferOrders"].apply(lambda x: x[i-1])
        SZ["ask1Top" + str(i) + 'q'] = SZ["ask1Top" + str(i) + 'q'].astype('int32') 
    SZ.drop(["OfferOrders"],axis=1,inplace=True)

        
    
    SZ.columns = ['cum_trades_cnt', 'total_bid_quantity', 'total_ask_quantity', 'close',
       'total_ask_vwap', 'cum_amount', 'cum_volume', 'open', 'high',
       'prev_close', 'low', 'total_bid_vwap', 'skey', 'date', 'time',
       'clockAtArrival', 'datetime', 'bid1p', 'bid2p', 'bid3p', 'bid4p',
       'bid5p', 'bid6p', 'bid7p', 'bid8p', 'bid9p', 'bid10p', 'ask1p',
       'ask2p', 'ask3p', 'ask4p', 'ask5p', 'ask6p', 'ask7p', 'ask8p',
       'ask9p', 'ask10p', 'bid1q', 'bid2q', 'bid3q', 'bid4q', 'bid5q',
       'bid6q', 'bid7q', 'bid8q', 'bid9q', 'bid10q', 'ask1q', 'ask2q',
       'ask3q', 'ask4q', 'ask5q', 'ask6q', 'ask7q', 'ask8q', 'ask9q',
       'ask10q', 'bid1n', 'bid2n', 'bid3n', 'bid4n', 'bid5n', 'bid6n',
       'bid7n', 'bid8n', 'bid9n', 'bid10n', 'ask1n', 'ask2n', 'ask3n',
       'ask4n', 'ask5n', 'ask6n', 'ask7n', 'ask8n', 'ask9n', 'ask10n',
       'bid1Top1q', 'bid1Top2q', 'bid1Top3q', 'bid1Top4q', 'bid1Top5q',
       'bid1Top6q', 'bid1Top7q', 'bid1Top8q', 'bid1Top9q', 'bid1Top10q',
       'bid1Top11q', 'bid1Top12q', 'bid1Top13q', 'bid1Top14q',
       'bid1Top15q', 'bid1Top16q', 'bid1Top17q', 'bid1Top18q',
       'bid1Top19q', 'bid1Top20q', 'bid1Top21q', 'bid1Top22q',
       'bid1Top23q', 'bid1Top24q', 'bid1Top25q', 'bid1Top26q',
       'bid1Top27q', 'bid1Top28q', 'bid1Top29q', 'bid1Top30q',
       'bid1Top31q', 'bid1Top32q', 'bid1Top33q', 'bid1Top34q',
       'bid1Top35q', 'bid1Top36q', 'bid1Top37q', 'bid1Top38q',
       'bid1Top39q', 'bid1Top40q', 'bid1Top41q', 'bid1Top42q',
       'bid1Top43q', 'bid1Top44q', 'bid1Top45q', 'bid1Top46q',
       'bid1Top47q', 'bid1Top48q', 'bid1Top49q', 'bid1Top50q',
       'ask1Top1q', 'ask1Top2q', 'ask1Top3q', 'ask1Top4q', 'ask1Top5q',
       'ask1Top6q', 'ask1Top7q', 'ask1Top8q', 'ask1Top9q', 'ask1Top10q',
       'ask1Top11q', 'ask1Top12q', 'ask1Top13q', 'ask1Top14q',
       'ask1Top15q', 'ask1Top16q', 'ask1Top17q', 'ask1Top18q',
       'ask1Top19q', 'ask1Top20q', 'ask1Top21q', 'ask1Top22q',
       'ask1Top23q', 'ask1Top24q', 'ask1Top25q', 'ask1Top26q',
       'ask1Top27q', 'ask1Top28q', 'ask1Top29q', 'ask1Top30q',
       'ask1Top31q', 'ask1Top32q', 'ask1Top33q', 'ask1Top34q',
       'ask1Top35q', 'ask1Top36q', 'ask1Top37q', 'ask1Top38q',
       'ask1Top39q', 'ask1Top40q', 'ask1Top41q', 'ask1Top42q',
       'ask1Top43q', 'ask1Top44q', 'ask1Top45q', 'ask1Top46q',
       'ask1Top47q', 'ask1Top48q', 'ask1Top49q', 'ask1Top50q']
    
    SZ = SZ.fillna(0)
#     SZ["p1"] = SZ["bid1p"] + SZ["ask1p"]
#     tt = SZ[(SZ["cum_volume"] > 0) & (SZ["time"] < 145700000000)].groupby("skey")['p1'].min()
#     SZ.drop("p1", axis=1, inplace=True)
#     try:
#         assert(tt[tt == 0].shape[0] == 0)
#     except:
#         display(tt[tt == 0])
#     SZ = SZ[~((SZ["bid1p"] == 0) & (SZ["ask1p"] == 0))]
    SZ["ordering"] = SZ.groupby("skey").cumcount()
    SZ["ordering"] = SZ["ordering"] + 1

    for cols in ["total_bid_orders",'total_ask_orders','total_bid_levels', 'total_ask_levels', 'bid_trade_max_duration',
                 'ask_trade_max_duration', 'cum_canceled_buy_orders', 'cum_canceled_buy_volume', "cum_canceled_buy_amount",
                 "cum_canceled_sell_orders", 'cum_canceled_sell_volume',"cum_canceled_sell_amount", "has_missing"]:
        SZ[cols] = 0
        
#     for col in ["cum_volume", "total_bid_quantity", "total_ask_quantity",'cum_canceled_buy_volume',
#         'cum_canceled_sell_volume']:
#         SZ[col] = SZ[col].astype('int64')
    
    for col in ["skey", "date", "cum_trades_cnt", "total_bid_orders",
        'total_ask_orders', 'total_bid_levels', 'total_ask_levels', 'cum_canceled_buy_orders','cum_canceled_sell_orders',
            "ordering", 'bid_trade_max_duration', 'ask_trade_max_duration','has_missing']:
        SZ[col] = SZ[col].astype('int32')
    
        
#     for cols in ["prev_close", 'open', "high", "low", "close", 'bid10p','bid9p','bid8p','bid7p','bid6p','bid5p','bid4p','bid3p',
#              'bid2p','bid1p','ask1p','ask2p','ask3p','ask4p','ask5p','ask6p','ask7p','ask8p','ask9p','ask10p', 'total_bid_vwap', "total_ask_vwap",
#                 "cum_amount"]:
# #         SZ[cols] = SZ[cols].apply(lambda x: round(x, 2)).astype('float64')
#         print(cols)
#         print(SZ[cols].astype(str).apply(lambda x: len(str(x.split('.')[1]))).unique())

        
    for cols in ["cum_canceled_sell_amount", "cum_canceled_buy_amount"]:
        SZ[cols] = SZ[cols].astype('float64')

        
    assert(sum(SZ[SZ["open"] != 0].groupby("skey")["open"].nunique() != 1) == 0)
    assert(sum(SZ[SZ["prev_close"] != 0].groupby("skey")["prev_close"].nunique() != 1) == 0)
    SZ["prev_close"] = np.where(SZ["time"] >= 91500000000, SZ.groupby("skey")["prev_close"].transform("max"), SZ["prev_close"]) 
    SZ["open"] = np.where(SZ["cum_volume"] > 0, SZ.groupby("skey")["open"].transform("max"), SZ["open"])
    assert(sum(SZ[SZ["open"] != 0].groupby("skey")["open"].nunique() != 1) == 0)
    assert(sum(SZ[SZ["prev_close"] != 0].groupby("skey")["prev_close"].nunique() != 1) == 0)
    assert(SZ[SZ["cum_volume"] > 0]["open"].min() > 0)
    
    
    
    # check 1
    da_te = str(SZ["date"].iloc[0]) 
    da_te = da_te[:4] + '-' + da_te[4:6] + '-' + da_te[6:8]
    db1 = db[db["date"] == da_te]
    db1["ID"] = db1["ID"].str[2:].astype(int) + 2000000
    db1["date"] = (db1["date"].str[:4] + db1["date"].str[5:7] + db1["date"].str[8:]).astype(int)
    SZ["cum_max"] = SZ.groupby("skey")["cum_volume"].transform(max)
    s2 = SZ[SZ["cum_volume"] == SZ["cum_max"]].groupby("skey").first().reset_index()
    SZ.drop("cum_max", axis=1, inplace=True)
    s2 = s2.rename(columns={"skey": "ID", 'open':"d_open", "prev_close":"d_yclose","high":"d_high", "low":"d_low", "close":"d_close", "cum_volume":"d_volume", "cum_amount":"d_amount"})
    s2 = s2[["ID", "date", "d_open", "d_yclose", "d_high", "d_low", "d_close", "d_volume", "d_amount"]]
    re = pd.merge(db1, s2, on=["ID", "date", "d_open", "d_yclose","d_high", "d_low", "d_volume"], how="outer")
    try:
        assert(sum(re["d_amount_y"].isnull()) == 0)
    except:
        display(re[re["d_amount_y"].isnull()])
        wr_ong += [re[re["d_amount_y"].isnull()]]
    del re
    del s2
    del db1
    
    # check 2
    # first part
    date = pd.DataFrame(pd.date_range(start='2019-06-10 08:30:00', end='2019-06-10 18:00:00', freq='s'), columns=["Orig"])
    date["time"] = date["Orig"].apply(lambda x: int(x.strftime("%H%M%S"))*1000)
    date["group"] = date["time"]//10000
    SZ["group"] = SZ["time"]//10000000
    gl = date[((date["time"] >= 93000000) & (date["time"] < 113000000))|((date["time"] >= 130000000) & (date["time"] < 150000000))]["group"].unique()
    l = set(gl) - set(SZ["group"].unique())
    SZ["has_missing1"] = 0 
    if len(l) != 0:
        print("massive missing")
        print(l)
        SZ["order"] = SZ.groupby(["skey", "time"]).cumcount()
        for i in l:
            SZ["t"] = SZ[SZ["group"] > i].groupby("StockID")["time"].transform("min")
            SZ["has_missing1"] = np.where((SZ["time"] == SZ["t"]) & (SZ["order"] == 0), 1, SZ["has_missing1"])
        SZ.drop(["order", "t", "group"], axis=1, inplace=True)   
    else:
        print("no massive missing")
        SZ.drop(["group"], axis=1, inplace=True)
    



    # second part

    SZ["time_interval"] = SZ.groupby("skey")["datetime"].apply(lambda x: x - x.shift(1))
    SZ["time_interval"] = SZ["time_interval"].apply(lambda x: x.seconds)
    SZ["tn_update"] = SZ.groupby("skey")["cum_trades_cnt"].apply(lambda x: x-x.shift(1))

    f1 = SZ[(SZ["time"] >= 93000000000) & (SZ["tn_update"] != 0)].groupby("skey")["time"].min().reset_index()
    f1 = f1.rename(columns={"time": "time1"})
    f2 = SZ[(SZ["time"] >= 130000000000) & (SZ["tn_update"] != 0)].groupby("skey")["time"].min().reset_index()
    f2 = f2.rename(columns={"time": "time2"})
    f3 = SZ[(SZ["time"] >= 150000000000) & (SZ["tn_update"] != 0)].groupby("skey")["time"].min().reset_index()
    f3 = f3.rename(columns={"time": "time3"})
    SZ = pd.merge(SZ, f1, on="skey", how="left")
    del f1
    SZ = pd.merge(SZ, f2, on="skey", how="left")
    del f2
    SZ = pd.merge(SZ, f3, on="skey", how="left")
    del f3
    p99 = SZ[(SZ["time"] > 93000000000) & (SZ["time"] < 145700000000) & (SZ["time"] != SZ["time2"]) & (SZ["tn_update"] != 0)]\
    .groupby("skey")["tn_update"].apply(lambda x: x.describe([0.99])["99%"]).reset_index()
    p99 = p99.rename(columns={"tn_update":"99%"})
    SZ = pd.merge(SZ, p99, on="skey", how="left")

    SZ["has_missing2"] = 0
    SZ["has_missing2"] = np.where((SZ["time_interval"] > 60) & (SZ["tn_update"] > SZ["99%"]) & 
         (SZ["time"] > SZ["time1"]) & (SZ["time"] != SZ["time2"]) & (SZ["time"] != SZ["time3"])& (SZ["time"] != 100000000000), 1, 0)
    SZ.drop(["time_interval", "tn_update", "time1", "time2", "time3", "99%"], axis=1, inplace=True) 

    SZ["has_missing"] = np.where((SZ["has_missing1"] == 1) | (SZ["has_missing2"] == 1), 1, 0)
    SZ.drop(["has_missing1", "has_missing2"], axis=1, inplace=True) 
    if SZ[SZ["has_missing"] == 1].shape[0] != 0:
        print("has missing!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!")
        print(SZ[SZ["has_missing"] == 1].shape[0])
        mi_ss += [SZ[SZ["has_missing"] == 1]]



    SZ["has_missing"] = SZ["has_missing"].astype('int32')
    SZ = SZ[["skey", "date", "time", "clockAtArrival", "datetime", "ordering", "has_missing", "cum_trades_cnt", "cum_volume", "cum_amount", "prev_close",
                            "open", "high", "low", "close", 'bid10p','bid9p','bid8p','bid7p','bid6p','bid5p','bid4p','bid3p','bid2p','bid1p',
                            'ask1p','ask2p','ask3p','ask4p','ask5p','ask6p','ask7p','ask8p','ask9p','ask10p', 'bid10q','bid9q','bid8q',
                             'bid7q','bid6q','bid5q','bid4q','bid3q','bid2q','bid1q', 'ask1q','ask2q','ask3q','ask4q','ask5q','ask6q',
                             'ask7q','ask8q','ask9q','ask10q', 'bid10n', 'bid9n', 'bid8n', 'bid7n', 'bid6n', 'bid5n', 'bid4n', 'bid3n', 'bid2n', 'bid1n', 
                             'ask1n', 'ask2n', 'ask3n', 'ask4n', 'ask5n', 'ask6n','ask7n', 'ask8n', 'ask9n', 'ask10n','bid1Top1q','bid1Top2q','bid1Top3q','bid1Top4q','bid1Top5q','bid1Top6q',
        'bid1Top7q','bid1Top8q','bid1Top9q','bid1Top10q','bid1Top11q','bid1Top12q','bid1Top13q','bid1Top14q','bid1Top15q','bid1Top16q','bid1Top17q','bid1Top18q',
        'bid1Top19q','bid1Top20q','bid1Top21q','bid1Top22q','bid1Top23q','bid1Top24q','bid1Top25q','bid1Top26q','bid1Top27q','bid1Top28q','bid1Top29q',
        'bid1Top30q','bid1Top31q','bid1Top32q','bid1Top33q','bid1Top34q','bid1Top35q','bid1Top36q','bid1Top37q','bid1Top38q','bid1Top39q','bid1Top40q',
        'bid1Top41q','bid1Top42q','bid1Top43q','bid1Top44q','bid1Top45q','bid1Top46q','bid1Top47q','bid1Top48q','bid1Top49q','bid1Top50q', 'ask1Top1q',
        'ask1Top2q','ask1Top3q','ask1Top4q','ask1Top5q','ask1Top6q','ask1Top7q','ask1Top8q','ask1Top9q','ask1Top10q','ask1Top11q','ask1Top12q','ask1Top13q',
        'ask1Top14q','ask1Top15q','ask1Top16q','ask1Top17q','ask1Top18q','ask1Top19q','ask1Top20q','ask1Top21q','ask1Top22q','ask1Top23q',
        'ask1Top24q','ask1Top25q','ask1Top26q','ask1Top27q','ask1Top28q','ask1Top29q','ask1Top30q','ask1Top31q','ask1Top32q','ask1Top33q',
        'ask1Top34q','ask1Top35q','ask1Top36q','ask1Top37q','ask1Top38q','ask1Top39q','ask1Top40q','ask1Top41q','ask1Top42q','ask1Top43q',
        'ask1Top44q','ask1Top45q','ask1Top46q','ask1Top47q','ask1Top48q','ask1Top49q','ask1Top50q',"total_bid_quantity", "total_ask_quantity","total_bid_vwap", "total_ask_vwap",
        "total_bid_orders",'total_ask_orders','total_bid_levels', 'total_ask_levels', 'bid_trade_max_duration', 'ask_trade_max_duration', 'cum_canceled_buy_orders', 'cum_canceled_buy_volume',
        "cum_canceled_buy_amount", "cum_canceled_sell_orders", 'cum_canceled_sell_volume',"cum_canceled_sell_amount"]]
    
    display(SZ["date"].iloc[0])
    print("SZ finished")
    
    
    database_name = 'com_md_eq_cn'
    user = "zhenyuy"
    password = "bnONBrzSMGoE"

    db1 = DB("192.168.10.178", database_name, user, password)
    db1.write('md_snapshot_l2', SZ)
    
    del SZ

wr_ong = pd.concat(wr_ong).reset_index(drop=True)
print(wr_ong)
mi_ss = pd.concat(mi_ss).reset_index(drop=True)
print(mi_ss)
print(less)

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:203: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.

0:05:40.651167

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
497,2001872,20170301,18.72,18.98,18.67,18.80,18.82,0.975493,-0.001063,-0.028424,0.002584,0.002161,1586509.0,2.989617e+07,0.003413,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
821,2001914,20170301,11.52,11.99,11.44,11.78,11.51,0.993360,0.023458,-0.005068,0.002584,0.002161,9339021.0,1.096578e+08,0.014006,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170301

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
498,2001872,20170302,18.84,18.95,18.38,18.39,18.80,0.975493,-0.021809,-0.041189,-0.005104,-0.006454,3224517.0,5.997227e+07,0.006936,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
822,2001914,20170302,11.77,12.00,11.71,11.85,11.78,0.993360,0.005942,0.025087,-0.005104,-0.006454,9285308.0,1.104439e+08,0.013926,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170302

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
495,2001872,20170303,18.36,18.48,18.17,18.43,18.39,0.975493,0.002175,-0.043094,0.00283,0.004015,1763497.0,32357290.79,0.003794,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
819,2001914,20170303,11.80,11.88,11.65,11.78,11.85,0.993360,-0.005907,0.011159,0.00283,0.004015,6032782.0,70849079.70,0.009048,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170303

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
494,2001872,20170306,18.60,19.33,18.58,18.82,18.43,0.975493,0.021161,0.000000,0.009993,0.012075,3595119.0,6.779157e+07,0.007734,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
817,2001914,20170306,11.78,12.05,11.71,12.04,11.78,0.993360,0.022071,0.050611,0.009993,0.012075,8471605.0,1.013316e+08,0.012705,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170306

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
494,2001872,20170307,18.82,20.70,18.72,20.70,18.82,0.975493,0.099894,0.099894,0.0009,0.001895,21604332.0,4.399809e+08,0.046474,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
817,2001914,20170307,12.06,12.15,11.86,12.13,12.04,0.993360,0.007475,0.053866,0.0009,0.001895,8626922.0,1.036656e+08,0.012938,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170307

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
493,2001872,20170308,20.25,20.65,19.75,20.18,20.70,0.975493,-0.025121,0.073404,-0.004001,-0.004011,16242563.0,3.278261e+08,0.03494,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
816,2001914,20170308,12.15,12.22,12.02,12.13,12.13,0.993360,0.000000,0.029711,-0.004001,-0.004011,7981102.0,9.678065e+07,0.01197,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170308

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
493,2001872,20170309,20.17,20.20,19.81,20.14,20.18,0.975493,-0.001982,0.095160,-0.008882,-0.006323,8069491.0,1.616867e+08,0.017359,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
815,2001914,20170309,12.09,12.12,11.70,11.79,12.13,0.993360,-0.028030,-0.005063,-0.008882,-0.006323,10878300.0,1.283298e+08,0.016315,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170309

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
495,2001872,20170310,20.19,20.28,19.58,19.71,20.14,0.975493,-0.021351,0.069452,0.001325,0.000261,8364599.0,1.662192e+08,0.017994,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
817,2001914,20170310,11.78,12.15,11.73,11.96,11.79,0.993360,0.014419,0.015280,0.001325,0.000261,8975549.0,1.072300e+08,0.013461,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170310

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
494,2001872,20170313,19.50,19.88,19.33,19.75,19.71,0.975493,0.002029,0.049416,0.009302,0.007114,5989948.0,1.177739e+08,0.012885,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
812,2001914,20170313,12.03,12.24,11.87,12.04,11.96,0.993360,0.006689,0.000000,0.009302,0.007114,8302839.0,1.002282e+08,0.012452,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170313

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
494,2001872,20170314,19.89,19.98,19.51,19.67,19.75,0.975493,-0.004051,-0.049758,-0.002215,-0.001954,5273063.0,1.039290e+08,0.011343,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
812,2001914,20170314,12.09,12.20,11.94,12.00,12.04,0.993360,-0.003322,-0.010717,-0.002215,-0.001954,9124220.0,1.100179e+08,0.013684,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170314

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
494,2001872,20170315,19.56,20.08,19.53,19.88,19.67,0.975493,0.010676,-0.014866,-0.001143,-0.000895,5746000.0,1.141449e+08,0.012361,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
813,2001914,20170315,11.95,12.05,11.81,11.88,12.00,0.993360,-0.010000,-0.020610,-0.001143,-0.000895,6938595.0,8.247462e+07,0.010406,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170315

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
496,2001872,20170316,19.87,20.45,19.86,20.26,19.88,0.975493,0.019115,0.005958,0.008831,0.010608,8211898.0,1.661179e+08,0.017665,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
815,2001914,20170316,11.90,12.16,11.90,12.16,11.88,0.993360,0.023569,0.031383,0.008831,0.010608,8522689.0,1.025562e+08,0.012782,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170316

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
499,2001872,20170317,20.26,20.37,19.83,19.83,20.26,0.975493,-0.021224,0.006088,-0.009184,-0.007053,6285202.0,1.257666e+08,0.013520,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
816,2001914,20170317,12.14,12.21,11.95,11.95,12.16,0.993360,-0.017270,-0.000836,-0.009184,-0.007053,8232745.0,9.957653e+07,0.012347,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170317

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
498,2001872,20170320,19.74,19.96,19.50,19.96,19.83,0.975493,0.006556,0.010633,0.002328,0.003601,3148020.0,62271123.67,0.006772,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
814,2001914,20170320,11.95,12.13,11.78,11.95,11.95,0.993360,0.000000,-0.007475,0.002328,0.003601,6464129.0,77154122.76,0.009695,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170320

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
499,2001872,20170321,20.00,20.61,19.91,20.45,19.96,0.975493,0.024549,0.039654,0.002709,0.000547,10364736.0,2.111027e+08,0.022296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
814,2001914,20170321,11.92,12.85,11.88,12.41,11.95,0.993360,0.038494,0.034167,0.002709,0.000547,18455563.0,2.290762e+08,0.027679,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170321

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
501,2001872,20170322,20.29,21.30,20.12,20.87,20.45,0.975493,0.020538,0.049799,-0.002479,-0.005447,12089355.0,2.511739e+08,0.026006,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
817,2001914,20170322,12.36,12.65,12.28,12.55,12.41,0.993360,0.011281,0.056397,-0.002479,-0.005447,12683557.0,1.586585e+08,0.019022,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170322

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
505,2001872,20170323,20.62,21.08,20.33,20.88,20.87,0.975493,0.000479,0.030602,0.001907,-0.00018,8420382.0,1.741045e+08,0.018114,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
821,2001914,20170323,12.62,12.68,12.24,12.49,12.55,0.993360,-0.004781,0.027138,0.001907,-0.00018,10963149.0,1.367412e+08,0.016442,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170323

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
509,2001872,20170324,20.68,22.50,20.68,21.87,20.88,0.975493,0.047414,0.102874,0.005287,0.001319,15744483.0,3.420408e+08,0.033869,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
828,2001914,20170324,12.49,12.78,12.43,12.62,12.49,0.993360,0.010408,0.056067,0.005287,0.001319,12214975.0,1.543358e+08,0.018319,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170324

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
507,2001872,20170327,21.80,22.64,21.35,21.37,21.87,0.975493,-0.022862,0.070641,-0.004671,-0.001788,13275680.0,2.909652e+08,0.028558,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
827,2001914,20170327,12.61,12.80,12.54,12.55,12.62,0.993360,-0.005547,0.050209,-0.004671,-0.001788,10291407.0,1.305085e+08,0.015434,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170327

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
507,2001872,20170328,21.36,21.37,20.70,20.99,21.37,0.975493,-0.017782,0.026406,-0.002661,-0.003358,8950645.0,1.876760e+08,0.019254,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
826,2001914,20170328,12.57,12.68,12.37,12.65,12.55,0.993360,0.007968,0.019339,-0.002661,-0.003358,8791630.0,1.100331e+08,0.013185,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170328

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
507,2001872,20170329,21.28,22.99,21.11,22.37,20.99,0.975493,0.065746,0.071874,-0.002792,-0.008162,20787589.0,4.623350e+08,0.044717,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
829,2001914,20170329,12.66,12.80,12.57,12.63,12.65,0.993360,-0.001581,0.006375,-0.002792,-0.008162,7578594.0,9.626946e+07,0.011366,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170329

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
508,2001872,20170330,22.00,22.97,21.28,21.41,22.37,0.975493,-0.042915,0.025383,-0.016171,-0.020401,18955209.0,4.212257e+08,0.040776,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
829,2001914,20170330,12.57,12.60,12.08,12.23,12.63,0.993360,-0.031671,-0.020817,-0.016171,-0.020401,11356225.0,1.399529e+08,0.017031,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170330

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
508,2001872,20170331,21.08,21.39,20.71,21.10,21.41,0.975493,-0.014479,-0.035208,0.004063,0.002898,8113811.0,1.701664e+08,0.017454,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
829,2001914,20170331,12.20,12.39,11.88,12.16,12.23,0.993360,-0.005724,-0.036450,0.004063,0.002898,8052832.0,9.796075e+07,0.012077,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170331

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
509,2001872,20170405,21.00,21.88,20.80,21.62,21.10,0.975493,0.024645,0.011699,0.021607,0.021928,6298179.0,1.359434e+08,0.013548,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
830,2001914,20170405,11.99,12.56,11.99,12.55,12.16,0.993360,0.032072,0.000000,0.021607,0.021928,8586813.0,1.058262e+08,0.012878,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170405

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
511,2001872,20170406,21.66,23.10,21.43,22.59,21.62,0.975493,0.044866,0.076227,0.00301,0.002541,13966717.0,3.136855e+08,0.030045,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
832,2001914,20170406,12.49,12.61,12.39,12.51,12.55,0.993360,-0.003187,-0.011067,0.00301,0.002541,7628720.0,9.544455e+07,0.011441,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170406

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
513,2001872,20170407,22.20,22.40,21.91,21.98,22.59,0.975493,-0.027003,-0.017434,0.002908,0.000127,7019209.0,1.552881e+08,0.015099,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
835,2001914,20170407,12.58,12.72,12.46,12.55,12.51,0.993360,0.003197,-0.006334,0.002908,0.000127,5912960.0,7.433518e+07,0.008868,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170407

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
511,2001872,20170410,22.00,22.85,21.90,22.20,21.98,0.975493,0.010009,0.036899,-0.001852,-0.011187,7935551.0,1.770682e+08,0.017071,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
832,2001914,20170410,12.55,12.55,12.26,12.37,12.55,0.993360,-0.014343,0.011447,-0.001852,-0.011187,5608999.0,6.931446e+07,0.008412,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170410

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
510,2001872,20170411,22.24,24.42,21.30,24.42,22.20,0.975493,0.100000,0.157346,0.009537,0.007726,23687013.0,5.542468e+08,0.050954,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
828,2001914,20170411,12.33,12.58,12.09,12.47,12.37,0.993360,0.008084,0.025493,0.009537,0.007726,8884954.0,1.093507e+08,0.013325,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170411

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
510,2001872,20170412,26.78,26.86,26.00,26.86,24.42,0.975493,0.099918,0.242368,-0.007948,-0.008226,13136033.0,3.516906e+08,0.028258,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
829,2001914,20170412,12.55,13.18,12.41,12.75,12.47,0.993360,0.022454,0.015936,-0.007948,-0.008226,20474722.0,2.624379e+08,0.030707,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170412

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
508,2001872,20170413,27.99,29.33,27.01,28.16,26.86,0.975493,0.048399,0.246569,0.005965,0.003069,43542937.0,1.224502e+09,0.093668,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
828,2001914,20170413,12.56,12.71,12.40,12.54,12.75,0.993360,-0.016471,0.002398,0.005965,0.003069,10149155.0,1.274921e+08,0.015221,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170413

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
507,2001872,20170414,27.16,27.40,25.44,25.73,28.16,0.975493,-0.086293,0.170610,-0.013232,-0.014717,23494157.0,6.157464e+08,0.050540,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
827,2001914,20170414,12.43,12.43,12.09,12.23,12.54,0.993360,-0.024721,-0.025498,-0.013232,-0.014717,10779790.0,1.316606e+08,0.016167,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170414

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
513,2001872,20170417,25.19,25.39,23.41,24.16,25.73,0.975493,-0.061018,0.088288,-0.010962,-0.014977,16480682.0,4.020688e+08,0.035453,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
835,2001914,20170417,12.18,12.27,11.83,11.96,12.23,0.993360,-0.022077,-0.033145,-0.010962,-0.014977,9029850.0,1.082921e+08,0.013542,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170417

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
511,2001872,20170418,24.36,25.87,24.33,25.00,24.16,0.975493,0.034768,0.023751,-0.005945,-0.010248,17771688.0,4.471102e+08,0.038230,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
835,2001914,20170418,12.02,12.13,11.79,11.92,11.96,0.993360,-0.003344,-0.044106,-0.005945,-0.010248,4836304.0,5.766460e+07,0.007253,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170418

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
513,2001872,20170419,24.95,25.58,23.52,25.40,25.00,0.975493,0.016000,-0.054356,-0.010527,-0.012648,14499160.0,3.576863e+08,0.03119,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
838,2001914,20170419,11.91,11.91,11.20,11.28,11.92,0.993360,-0.053691,-0.115294,-0.010527,-0.012648,10061498.0,1.147949e+08,0.01509,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170419

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
511,2001872,20170420,25.57,26.23,25.1,25.25,25.40,0.975493,-0.005906,-0.103338,-0.000452,-0.005708,16802163.0,4.313271e+08,0.036144,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
832,2001914,20170420,11.26,11.38,11.0,11.24,11.28,0.993360,-0.003546,-0.103668,-0.000452,-0.005708,7097042.0,7.956638e+07,0.010644,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170420

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
513,2001872,20170421,24.74,24.97,23.68,23.70,25.25,0.975493,-0.061386,-0.078896,-0.007414,-0.005291,12355776.0,2.983938e+08,0.026579,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
834,2001914,20170421,11.26,11.40,11.10,11.15,11.24,0.993360,-0.008007,-0.088307,-0.007414,-0.005291,4558903.0,5.117241e+07,0.006837,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170421

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
513,2001872,20170424,23.89,23.9,22.37,22.40,23.70,0.975493,-0.054852,-0.072848,-0.025744,-0.0311,8429360.0,1.926716e+08,0.018133,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
834,2001914,20170424,11.02,11.1,10.04,10.08,11.15,0.993360,-0.095964,-0.157191,-0.025744,-0.0311,9281144.0,9.765664e+07,0.013919,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170424

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
515,2001872,20170425,22.40,23.47,22.4,22.61,22.40,0.975493,0.009375,-0.095600,0.003577,0.00334,8224116.0,1.887160e+08,0.017691,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
836,2001914,20170425,10.07,10.27,10.0,10.20,10.08,0.993360,0.011905,-0.144295,0.003577,0.00334,8863854.0,9.000795e+07,0.013294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170425

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
516,2001872,20170426,22.69,23.44,22.57,23.26,22.61,0.975493,0.028748,-0.084252,0.002587,0.003618,8748293.0,2.018673e+08,0.018819,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
837,2001914,20170426,10.19,10.60,10.12,10.41,10.20,0.993360,0.020588,-0.077128,0.002587,0.003618,5722554.0,5.937729e+07,0.008582,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170426

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
514,2001872,20170427,23.06,24.34,22.61,24.14,23.26,0.975493,0.037833,-0.043960,0.002575,0.006086,14721439.0,3.487199e+08,0.031668,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
836,2001914,20170427,10.37,10.79,10.09,10.70,10.41,0.993360,0.027858,-0.048043,0.002575,0.006086,6566569.0,6.840424e+07,0.009848,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170427

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
516,2001872,20170428,23.9,24.99,23.78,24.66,24.14,0.975493,0.021541,0.040506,0.003158,0.005508,11922819.0,2.909829e+08,0.025648,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
837,2001914,20170428,10.7,11.00,10.61,10.91,10.70,0.993360,0.019626,-0.021525,0.003158,0.005508,4999607.0,5.385045e+07,0.007498,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170428

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
511,2001872,20170502,24.63,25.55,24.31,24.69,24.66,0.975493,0.001217,0.102232,0.000685,0.000432,9607530.0,2.388015e+08,0.020667,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
832,2001914,20170502,10.99,10.99,10.65,10.75,10.91,0.993360,-0.014665,0.066468,0.000685,0.000432,3871920.0,4.160091e+07,0.005807,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170502

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
513,2001872,20170503,24.70,25.55,24.68,25.12,24.69,0.975493,0.017416,0.111013,-0.002998,-0.00189,13205780.0,3.322075e+08,0.028408,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
835,2001914,20170503,10.85,10.85,10.56,10.66,10.75,0.993360,-0.008372,0.045098,-0.002998,-0.00189,3811128.0,4.053256e+07,0.005716,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170503

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
512,2001872,20170504,24.81,25.08,23.82,24.21,25.12,0.975493,-0.036226,0.040843,-0.003416,-0.003328,10275890.0,2.515120e+08,0.022105,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
833,2001914,20170504,10.61,10.68,10.45,10.52,10.66,0.993360,-0.013133,0.010567,-0.003416,-0.003328,4639740.0,4.892526e+07,0.006958,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170504

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
512,2001872,20170505,24.20,24.7,23.91,24.05,24.21,0.975493,-0.006609,-0.003728,-0.014025,-0.013366,6247308.0,1.516610e+08,0.013439,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
833,2001914,20170505,10.53,10.9,10.38,10.55,10.52,0.993360,0.002852,-0.014019,-0.014025,-0.013366,5003378.0,5.313064e+07,0.007504,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170505

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
510,2001872,20170508,24.04,24.35,21.80,22.13,24.05,0.975493,-0.079834,-0.102595,-0.018744,-0.018828,9884116.0,2.290028e+08,0.021262,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
831,2001914,20170508,10.59,10.60,9.76,9.89,10.55,0.993360,-0.062559,-0.093492,-0.018744,-0.018828,5646580.0,5.716514e+07,0.008468,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170508

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
511,2001872,20170509,22.15,23.45,22.13,23.1,22.13,0.975493,0.043832,-0.064399,0.006102,0.006311,7283608.0,1.664422e+08,0.015668,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
833,2001914,20170509,9.89,9.99,9.68,9.9,9.89,0.993360,0.001011,-0.079070,0.006102,0.006311,5297072.0,5.228615e+07,0.007944,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170509

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
511,2001872,20170510,23.05,23.58,22.34,22.57,23.1,0.975493,-0.022944,-0.101513,-0.020985,-0.019885,6855926.0,1.570834e+08,0.014748,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
835,2001914,20170510,9.95,10.00,8.91,8.91,9.9,0.993360,-0.100000,-0.164165,-0.020985,-0.019885,16232902.0,1.511088e+08,0.024345,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170510

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
511,2001872,20170511,22.68,23.39,21.82,23.38,22.57,0.975493,0.035888,-0.034283,-0.002243,-0.008672,8575244.0,1.950878e+08,0.018447,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
838,2001914,20170511,8.87,8.96,8.61,8.92,8.91,0.993360,0.001122,-0.152091,-0.002243,-0.008672,9023009.0,7.935916e+07,0.013532,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170511

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
508,2001872,20170512,23.29,25.68,23.08,24.80,23.38,0.975493,0.060736,0.031185,-0.001508,-0.002146,15167365.0,3.739913e+08,0.032627,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
833,2001914,20170512,8.89,9.09,8.85,9.05,8.92,0.993360,0.014574,-0.142180,-0.001508,-0.002146,4775276.0,4.301891e+07,0.007162,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170512

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
509,2001872,20170515,24.76,25.28,24.32,24.36,24.80,0.975493,-0.017742,0.100768,0.005069,0.002754,13013173.0,3.225693e+08,0.027993,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
835,2001914,20170515,9.10,9.44,9.00,9.23,9.05,0.993360,0.019890,-0.066734,0.005069,0.002754,4395630.0,4.047090e+07,0.006592,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170515

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
508,2001872,20170516,24.36,25.36,23.5,25.36,24.36,0.975493,0.041051,0.097835,0.02057,0.021397,14411076.0,3.547980e+08,0.031000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
831,2001914,20170516,9.27,9.27,9.0,9.26,9.23,0.993360,0.003250,-0.064646,0.02057,0.021397,5756200.0,5.262036e+07,0.008633,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170516

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
508,2001872,20170517,25.28,26.31,25.10,25.68,25.36,0.975493,0.012618,0.137794,0.002147,0.002738,16071247.0,4.140069e+08,0.034572,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
831,2001914,20170517,9.16,9.43,9.16,9.27,9.26,0.993360,0.001080,0.040404,0.002147,0.002738,4985349.0,4.636118e+07,0.007477,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170517

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
509,2001872,20170518,25.15,25.85,24.97,25.18,25.68,0.975493,-0.019470,0.076989,-0.008519,-0.006769,10462502.0,264971920.0,0.022506,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
831,2001914,20170518,9.14,9.39,9.08,9.16,9.27,0.993360,-0.011866,0.026906,-0.008519,-0.006769,5400690.0,49661865.0,0.008100,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170518

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
510,2001872,20170519,25.17,25.45,24.65,24.71,25.18,0.975493,-0.018666,-0.003629,-0.000221,-0.001208,5986862.0,1.495285e+08,0.012879,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
835,2001914,20170519,9.18,9.22,9.10,9.16,9.16,0.993360,0.000000,0.012155,-0.000221,-0.001208,2341875.0,2.144873e+07,0.003512,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170519

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
509,2001872,20170522,24.60,25.15,23.38,23.49,24.71,0.975493,-0.049373,-0.035714,-0.014421,-0.018284,7544237.0,1.821376e+08,0.016229,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
834,2001914,20170522,9.16,9.22,8.80,8.98,9.16,0.993360,-0.019651,-0.027086,-0.014421,-0.018284,4842122.0,4.359294e+07,0.007262,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170522

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
513,2001872,20170523,23.50,23.98,22.84,22.95,23.49,0.975493,-0.022989,-0.095032,-0.021046,-0.031813,5527916.0,1.293271e+08,0.011891,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
837,2001914,20170523,8.95,9.05,8.57,8.70,8.98,0.993360,-0.031180,-0.060475,-0.021046,-0.031813,5290651.0,4.642713e+07,0.007935,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170523

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
511,2001872,20170524,22.98,24.1,22.84,23.96,22.95,0.975493,0.044009,-0.066978,0.005963,0.00475,7234662.0,1.703969e+08,0.015563,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
835,2001914,20170524,8.49,8.9,8.33,8.72,8.70,0.993360,0.002299,-0.059331,0.005963,0.00475,5792732.0,4.975114e+07,0.008688,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170524

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
510,2001872,20170525,23.88,24.77,23.56,24.55,23.96,0.975493,0.024624,-0.025020,0.008889,0.008434,7669179.0,1.856950e+08,0.016498,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
833,2001914,20170525,8.71,8.84,8.57,8.82,8.72,0.993360,0.011468,-0.037118,0.008889,0.008434,5309825.0,4.644764e+07,0.007963,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170525

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
509,2001872,20170526,24.60,24.95,24.24,24.24,24.55,0.975493,-0.012627,-0.019021,-0.00237,0.000098,5772690.0,1.414347e+08,0.012418,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
832,2001914,20170526,8.85,9.70,8.80,9.25,8.82,0.993360,0.048753,0.009825,-0.00237,0.000098,11250575.0,1.054505e+08,0.016873,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170526

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
507,2001872,20170531,24.53,25.05,24.20,24.83,24.24,0.975493,0.02434,0.057046,-0.002198,-0.002854,8337211.0,2.062098e+08,0.017935,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
830,2001914,20170531,9.33,9.37,9.08,9.16,9.25,0.993360,-0.00973,0.020045,-0.002198,-0.002854,5447127.0,5.019842e+07,0.008169,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170531

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
506,2001872,20170601,24.61,24.75,23.30,23.40,24.83,0.975493,-0.057592,0.019608,-0.019592,-0.027229,6780892.0,1.638071e+08,0.014587,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
828,2001914,20170601,9.17,9.49,9.09,9.28,9.16,0.993360,0.013100,0.066667,-0.019592,-0.027229,8134895.0,7.589036e+07,0.012200,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170601

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
505,2001872,20170602,23.38,24.07,22.98,24.01,23.40,0.975493,0.026068,0.002087,0.010949,0.011135,5883294.0,1.392430e+08,0.012656,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
829,2001914,20170602,9.18,9.30,8.84,9.17,9.28,0.993360,-0.011853,0.051606,0.010949,0.011135,7499170.0,6.762492e+07,0.011247,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170602

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
505,2001872,20170605,24.00,24.39,23.88,24.38,24.01,0.975493,0.015410,-0.006925,0.007498,0.009317,4763451.0,1.149336e+08,0.010247,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
830,2001914,20170605,9.25,9.41,9.11,9.30,9.17,0.993360,0.014177,0.054422,0.007498,0.009317,6741183.0,6.245755e+07,0.010110,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170605

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
504,2001872,20170606,24.38,26.25,24.21,26.22,24.38,0.975493,0.075472,0.081683,0.004423,0.00518,16495925.0,4.145649e+08,0.035485,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
828,2001914,20170606,9.28,9.47,9.21,9.36,9.30,0.993360,0.006452,0.011892,0.004423,0.00518,4553283.0,4.260830e+07,0.006829,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170606

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
507,2001872,20170607,25.7,28.33,25.45,27.04,26.22,0.975493,0.031274,0.089005,0.019429,0.020837,27610701.0,7.383127e+08,0.059395,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
831,2001914,20170607,9.5,9.61,9.40,9.55,9.36,0.993360,0.020299,0.042576,0.019429,0.020837,6880782.0,6.552741e+07,0.010319,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170607

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
507,2001872,20170608,27.00,28.55,26.68,27.55,27.04,0.975493,0.018861,0.177350,0.000665,-0.000696,25337013.0,6.989703e+08,0.054504,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
832,2001914,20170608,9.64,9.80,9.47,9.71,9.55,0.993360,0.016754,0.046336,0.000665,-0.000696,7409142.0,7.166585e+07,0.011112,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170608

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
510,2001872,20170609,27.17,27.49,26.61,27.03,27.55,0.975493,-0.018875,0.125781,0.001728,0.000822,14781221.0,3.986961e+08,0.031797,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
834,2001914,20170609,9.80,9.80,9.55,9.69,9.71,0.993360,-0.002060,0.056707,0.001728,0.000822,6067699.0,5.842512e+07,0.009100,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170609

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
511,2001872,20170612,26.93,28.20,26.65,26.85,27.03,0.975493,-0.006659,0.101313,-0.011127,-0.013854,18277629.0,5.031015e+08,0.039318,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
836,2001914,20170612,9.64,9.97,9.63,9.66,9.69,0.993360,-0.003096,0.038710,-0.011127,-0.013854,5645633.0,5.495875e+07,0.008467,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170612

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
513,2001872,20170613,26.80,27.84,26.68,27.72,26.85,0.975493,0.032402,0.057208,0.013079,0.014664,13707820.0,3.745616e+08,0.029488,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
837,2001914,20170613,9.66,9.75,9.61,9.70,9.66,0.993360,0.004141,0.036325,0.013079,0.014664,3786753.0,3.667375e+07,0.005679,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170613

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
514,2001872,20170614,27.74,28.69,27.42,27.47,27.72,0.975493,-0.009019,0.015902,-0.002278,0.001344,15103058.0,4.232818e+08,0.032489,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
837,2001914,20170614,9.76,9.76,9.57,9.64,9.70,0.993360,-0.006186,0.009424,-0.002278,0.001344,2997990.0,2.897395e+07,0.004496,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170614

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
513,2001872,20170615,27.03,27.80,26.74,27.31,27.47,0.975493,-0.005825,-0.008711,0.009174,0.012567,10350463.0,2.815135e+08,0.022265,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
839,2001914,20170615,9.68,9.84,9.57,9.76,9.64,0.993360,0.012448,0.005149,0.009174,0.012567,4334185.0,4.214155e+07,0.006500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170615

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
511,2001872,20170616,27.10,29.08,27.00,28.50,27.31,0.975493,0.043574,0.054384,-0.001356,-0.001668,19847305.0,5.594380e+08,0.042695,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
837,2001914,20170616,9.74,9.91,9.74,9.79,9.76,0.993360,0.003074,0.010320,-0.001356,-0.001668,2846390.0,2.793271e+07,0.004269,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170616

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
512,2001872,20170619,29.03,31.12,29.03,29.45,28.50,0.975493,0.033333,0.096834,0.007386,0.006289,20243835.0,6.007945e+08,0.043548,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
839,2001914,20170619,9.79,9.93,9.77,9.81,9.79,0.993360,0.002043,0.015528,0.007386,0.006289,3790729.0,3.728596e+07,0.005685,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170619

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
511,2001872,20170620,29.15,32.40,28.59,32.40,29.45,0.975493,0.100170,0.168831,0.001567,0.001875,24401215.0,7.387150e+08,0.052491,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
841,2001914,20170620,9.81,9.93,9.70,9.78,9.81,0.993360,-0.003058,0.008247,0.001567,0.001875,4241453.0,4.168105e+07,0.006361,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170620

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
513,2001872,20170621,32.40,34.00,31.51,31.59,32.40,0.975493,-0.025000,0.149982,0.001861,0.000052,33603450.0,1.100601e+09,0.072286,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
843,2001914,20170621,9.79,9.87,9.70,9.75,9.78,0.993360,-0.003067,0.011411,0.001861,0.000052,3297890.0,3.225867e+07,0.004946,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170621

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
512,2001872,20170622,31.91,32.67,31.04,31.65,31.59,0.975493,0.001899,0.158916,-0.014125,-0.017621,25740030.0,8.221346e+08,0.055371,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
843,2001914,20170622,9.66,9.84,9.58,9.60,9.68,0.986228,-0.008264,-0.009281,-0.014125,-0.017621,4540509.0,4.405929e+07,0.006810,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170622

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
513,2001872,20170623,31.21,32.32,29.82,31.59,31.65,0.975493,-0.001896,0.108421,0.003,0.000638,25133088.0,7.838064e+08,0.054065,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
846,2001914,20170623,9.55,9.65,9.25,9.51,9.60,0.986228,-0.009375,-0.021576,0.003,0.000638,4375066.0,4.130832e+07,0.006561,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

massive missing
{10592, 10593, 10594, 10595, 11010, 11000, 11001, 10582, 10583, 10584, 10585, 11002, 11003, 11004, 11005, 10590, 10591}

KeyError: 'StockID'

In [2]:
import pymongo
import pandas as pd
import pickle
import datetime
import time
import gzip
import lzma
import pytz


def DB(host, db_name, user, passwd):
    auth_db = db_name if user not in ('admin', 'root') else 'admin'
    uri = 'mongodb://%s:%s@%s/?authSource=%s' % (user, passwd, host, auth_db)
    return DBObj(uri, db_name=db_name)


class DBObj(object):
    def __init__(self, uri, symbol_column='skey', db_name='white_db'):
        self.db_name = db_name
        self.uri = uri
        self.client = pymongo.MongoClient(self.uri)
        self.db = self.client[self.db_name]
        self.chunk_size = 20000
        self.symbol_column = symbol_column
        self.date_column = 'date'

    def parse_uri(self, uri):
        # mongodb://user:password@example.com
        return uri.strip().replace('mongodb://', '').strip('/').replace(':', ' ').replace('@', ' ').split(' ')

    def drop_table(self, table_name):
        self.db.drop_collection(table_name)

    def rename_table(self, old_table, new_table):
        self.db[old_table].rename(new_table)

    def write(self, table_name, df):
        if len(df) == 0: return

        multi_date = False

        if self.date_column in df.columns:
            date = str(df.head(1)[self.date_column].iloc[0])
            multi_date = len(df[self.date_column].unique()) > 1
        else:
            raise Exception('DataFrame should contain date column')

        collection = self.db[table_name]
        collection.create_index([('date', pymongo.ASCENDING), ('symbol', pymongo.ASCENDING)], background=True)
        collection.create_index([('symbol', pymongo.ASCENDING), ('date', pymongo.ASCENDING)], background=True)

        if multi_date:
            for (date, symbol), sub_df in df.groupby([self.date_column, self.symbol_column]):
                date = str(date)
                symbol = int(symbol)
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)
        else:
            for symbol, sub_df in df.groupby([self.symbol_column]):
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)

    def write_single(self, collection, date, symbol, df):
        for start in range(0, len(df), self.chunk_size):
            end = min(start + self.chunk_size, len(df))
            df_seg = df[start:end]
            version = 1
            seg = {'ver': version, 'data': self.ser(df_seg, version), 'date': date, 'symbol': symbol, 'start': start}
            collection.insert_one(seg)

    def build_query(self, start_date=None, end_date=None, symbol=None):
        query = {}

        def parse_date(x):
            if type(x) == str:
                if len(x) != 8:
                    raise Exception("`date` must be YYYYMMDD format")
                return x
            elif type(x) == datetime.datetime or type(x) == datetime.date:
                return x.strftime("%Y%m%d")
            elif type(x) == int:
                return parse_date(str(x))
            else:
                raise Exception("invalid `date` type: " + str(type(x)))

        if start_date is not None or end_date is not None:
            query['date'] = {}
            if start_date is not None:
                query['date']['$gte'] = parse_date(start_date)
            if end_date is not None:
                query['date']['$lte'] = parse_date(end_date)

        def parse_symbol(x):
            if type(x) == int:
                return x
            else:
                return int(x)

        if symbol:
            if type(symbol) == list or type(symbol) == tuple:
                query['symbol'] = {'$in': [parse_symbol(x) for x in symbol]}
            else:
                query['symbol'] = parse_symbol(symbol)

        return query

    def delete(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot delete the whole table')
            return None

        collection.delete_many(query)

    def read(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot read the whole table')
            return None

        segs = []
        for x in collection.find(query):
            x['data'] = self.deser(x['data'], x['ver'])
            segs.append(x)
        segs.sort(key=lambda x: (x['symbol'], x['date'], x['start']))
        return pd.concat([x['data'] for x in segs], ignore_index=True) if segs else None

    def list_tables(self):
        return self.db.collection_names()

    def list_dates(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]
        dates = set()
        if start_date is None:
            start_date = '00000000'
        if end_date is None:
            end_date = '99999999'
        for x in collection.find(self.build_query(start_date, end_date, symbol), {"date": 1, '_id': 0}):
            dates.add(x['date'])
        return sorted(list(dates))

    def ser(self, s, version):
        pickle_protocol = 4
        if version == 1:
            return gzip.compress(pickle.dumps(s, protocol=pickle_protocol), compresslevel=2)
        elif version == 2:
            return lzma.compress(pickle.dumps(s, protocol=pickle_protocol), preset=1)
        else:
            raise Exception('unknown version')

    def deser(self, s, version):
        def unpickle(s):
            return pickle.loads(s)

        if version == 1:
            return unpickle(gzip.decompress(s))
        elif version == 2:
            return unpickle(lzma.decompress(s))
        else:
            raise Exception('unknown version')


def patch_pandas_pickle():
    if pd.__version__ < '0.24':
        import sys
        from types import ModuleType
        from pandas.core.internals import BlockManager
        pkg_name = 'pandas.core.internals.managers'
        if pkg_name not in sys.modules:
            m = ModuleType(pkg_name)
            m.BlockManager = BlockManager
            sys.modules[pkg_name] = m
patch_pandas_pickle()












import pandas as pd
import random
import numpy as np
import glob
import os
import pickle
import datetime
import time
pd.set_option("max_columns", 200)

startTm = datetime.datetime.now()
readPath = '/home/work516/day_stock/***'
dataPathLs = np.array(glob.glob(readPath))
dataPathLs = dataPathLs[[np.array([os.path.basename(i).split('.')[0][:2] == 'SZ' for i in dataPathLs])]]
db = pd.DataFrame()
for p in dataPathLs:
    dayData = pd.read_csv(p, compression='gzip')
    db = pd.concat([db, dayData])
print(datetime.datetime.now() - startTm)

year = "2017"
startDate = '20170623'
endDate = '20170831'
readPath = '/mnt/usb/data/' + year + '/***/***'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([os.path.basename(i).split('_')[0] for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]
date_list = pd.read_csv("/home/work516/KR_upload_code/trading_days.csv")
wr_ong = []
mi_ss = []
less = []

for data in dataPathLs:    
    
    if len(np.array(glob.glob(data + '/SZ/***'))) == 0:
        if int(os.path.basename(data)) not in date_list["Date"].values:
            continue
        else:
            print(os.path.basename(data) + " less data!!!!!!!!!!!!!!!!!!!!!!!!!!!!!")
            less.append(data)
            continue
    date = os.path.basename(data)
    rar_path = data + '/SZ/snapshot.7z'
    path = '/mnt/e/unzip_data/2017/SZ'
    path1 = path + '/' + date
    un_path = path1
    cmd = '7za x {} -o{}'.format(rar_path, un_path)
    os.system(cmd)
    
    readPath = path1 + '/snapshot/***2/***'
    dataPathLs = np.array(glob.glob(readPath))
    dateLs = np.array([int(os.path.basename(i).split('.')[0]) for i in dataPathLs])
    dataPathLs = dataPathLs[(dateLs < 4000) | ((dateLs > 300000) & (dateLs < 310000))]
    SZ = []
    ll = []
    for i in dataPathLs:
        try:
            df = pd.read_csv(i, usecols = [0,1,4,5,6,7,9,12,17,18,19,24,25,26,28,29,30,32,33,34,35])
        except:
            print("empty data")
            print(i)
            ll.append(int(os.path.basename(i).split('.')[0]))
            continue
        df["StockID"] = int(os.path.basename(i).split('.')[0])
        SZ += [df]
    del df
    SZ = pd.concat(SZ).reset_index(drop=True)

    
    SZ["skey"] = SZ["StockID"] + 2000000
    SZ.drop(["StockID"],axis=1,inplace=True)
    SZ["date"] = int(SZ["QuotTime"].iloc[0]//1000000000)
    SZ["time"] = (SZ['QuotTime'] - int(SZ['QuotTime'].iloc[0]//1000000000*1000000000)).astype(np.int64) * 1000
    SZ["clockAtArrival"] = SZ["QuotTime"].astype(str).apply(lambda x: np.int64(datetime.datetime.strptime(x, '%Y%m%d%H%M%S%f').timestamp()*1e6))
    SZ['datetime'] = SZ["clockAtArrival"].apply(lambda x: datetime.datetime.fromtimestamp(x/1e6))
    SZ.drop(["QuotTime"],axis=1,inplace=True)

    
    SZ["BidPrice"] = SZ["BidPrice"].apply(lambda x: [float(i) for i in x[1:-1].split(',')])
    SZ["OfferPrice"] = SZ["OfferPrice"].apply(lambda x: [float(i) for i in x[1:-1].split(',')])
    SZ["BidOrderQty"] = SZ["BidOrderQty"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["OfferOrderQty"] = SZ["OfferOrderQty"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["BidNumOrders"] = SZ["BidNumOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["OfferNumOrders"] = SZ["OfferNumOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])

    for i in range(1, 11):
        SZ["bid" + str(i) + 'p'] = SZ["BidPrice"].apply(lambda x: x[i-1],2)
    SZ.drop(["BidPrice"],axis=1,inplace=True)

    for i in range(1, 11):
        SZ["ask" + str(i) + 'p'] = SZ["OfferPrice"].apply(lambda x: x[i-1],2)
    SZ.drop(["OfferPrice"],axis=1,inplace=True)

    for i in range(1, 11):
        SZ["bid" + str(i) + 'q'] = SZ["BidOrderQty"].apply(lambda x: x[i-1])
    SZ.drop(["BidOrderQty"],axis=1,inplace=True)

    for i in range(1, 11):
        SZ["ask" + str(i) + 'q'] = SZ["OfferOrderQty"].apply(lambda x: x[i-1])
    SZ.drop(["OfferOrderQty"],axis=1,inplace=True)

    for i in range(1, 11):
        SZ["bid" + str(i) + 'n'] = SZ["BidNumOrders"].apply(lambda x: x[i-1])
        SZ["bid" + str(i) + 'n'] = SZ["bid" + str(i) + 'n'].astype('int32')
    SZ.drop(["BidNumOrders"],axis=1,inplace=True)

    for i in range(1, 11):
        SZ["ask" + str(i) + 'n'] = SZ["OfferNumOrders"].apply(lambda x: x[i-1])
        SZ["ask" + str(i) + 'n'] = SZ["ask" + str(i) + 'n'].astype('int32') 
    SZ.drop(["OfferNumOrders"],axis=1,inplace=True)

    
    SZ["BidOrders"] = SZ["BidOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["OfferOrders"] = SZ["OfferOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])

    for i in range(1, 51):
        SZ["bid1Top" + str(i) + 'q'] = SZ["BidOrders"].apply(lambda x: x[i-1])
        SZ["bid1Top" + str(i) + 'q'] = SZ["bid1Top" + str(i) + 'q'].astype('int32') 
    SZ.drop(["BidOrders"],axis=1,inplace=True)

    
    for i in range(1, 51):
        SZ["ask1Top" + str(i) + 'q'] = SZ["OfferOrders"].apply(lambda x: x[i-1])
        SZ["ask1Top" + str(i) + 'q'] = SZ["ask1Top" + str(i) + 'q'].astype('int32') 
    SZ.drop(["OfferOrders"],axis=1,inplace=True)

        
    
    SZ.columns = ['cum_trades_cnt', 'total_bid_quantity', 'total_ask_quantity', 'close',
       'total_ask_vwap', 'cum_amount', 'cum_volume', 'open', 'high',
       'prev_close', 'low', 'total_bid_vwap', 'skey', 'date', 'time',
       'clockAtArrival', 'datetime', 'bid1p', 'bid2p', 'bid3p', 'bid4p',
       'bid5p', 'bid6p', 'bid7p', 'bid8p', 'bid9p', 'bid10p', 'ask1p',
       'ask2p', 'ask3p', 'ask4p', 'ask5p', 'ask6p', 'ask7p', 'ask8p',
       'ask9p', 'ask10p', 'bid1q', 'bid2q', 'bid3q', 'bid4q', 'bid5q',
       'bid6q', 'bid7q', 'bid8q', 'bid9q', 'bid10q', 'ask1q', 'ask2q',
       'ask3q', 'ask4q', 'ask5q', 'ask6q', 'ask7q', 'ask8q', 'ask9q',
       'ask10q', 'bid1n', 'bid2n', 'bid3n', 'bid4n', 'bid5n', 'bid6n',
       'bid7n', 'bid8n', 'bid9n', 'bid10n', 'ask1n', 'ask2n', 'ask3n',
       'ask4n', 'ask5n', 'ask6n', 'ask7n', 'ask8n', 'ask9n', 'ask10n',
       'bid1Top1q', 'bid1Top2q', 'bid1Top3q', 'bid1Top4q', 'bid1Top5q',
       'bid1Top6q', 'bid1Top7q', 'bid1Top8q', 'bid1Top9q', 'bid1Top10q',
       'bid1Top11q', 'bid1Top12q', 'bid1Top13q', 'bid1Top14q',
       'bid1Top15q', 'bid1Top16q', 'bid1Top17q', 'bid1Top18q',
       'bid1Top19q', 'bid1Top20q', 'bid1Top21q', 'bid1Top22q',
       'bid1Top23q', 'bid1Top24q', 'bid1Top25q', 'bid1Top26q',
       'bid1Top27q', 'bid1Top28q', 'bid1Top29q', 'bid1Top30q',
       'bid1Top31q', 'bid1Top32q', 'bid1Top33q', 'bid1Top34q',
       'bid1Top35q', 'bid1Top36q', 'bid1Top37q', 'bid1Top38q',
       'bid1Top39q', 'bid1Top40q', 'bid1Top41q', 'bid1Top42q',
       'bid1Top43q', 'bid1Top44q', 'bid1Top45q', 'bid1Top46q',
       'bid1Top47q', 'bid1Top48q', 'bid1Top49q', 'bid1Top50q',
       'ask1Top1q', 'ask1Top2q', 'ask1Top3q', 'ask1Top4q', 'ask1Top5q',
       'ask1Top6q', 'ask1Top7q', 'ask1Top8q', 'ask1Top9q', 'ask1Top10q',
       'ask1Top11q', 'ask1Top12q', 'ask1Top13q', 'ask1Top14q',
       'ask1Top15q', 'ask1Top16q', 'ask1Top17q', 'ask1Top18q',
       'ask1Top19q', 'ask1Top20q', 'ask1Top21q', 'ask1Top22q',
       'ask1Top23q', 'ask1Top24q', 'ask1Top25q', 'ask1Top26q',
       'ask1Top27q', 'ask1Top28q', 'ask1Top29q', 'ask1Top30q',
       'ask1Top31q', 'ask1Top32q', 'ask1Top33q', 'ask1Top34q',
       'ask1Top35q', 'ask1Top36q', 'ask1Top37q', 'ask1Top38q',
       'ask1Top39q', 'ask1Top40q', 'ask1Top41q', 'ask1Top42q',
       'ask1Top43q', 'ask1Top44q', 'ask1Top45q', 'ask1Top46q',
       'ask1Top47q', 'ask1Top48q', 'ask1Top49q', 'ask1Top50q']
    
    SZ = SZ.fillna(0)
#     SZ["p1"] = SZ["bid1p"] + SZ["ask1p"]
#     tt = SZ[(SZ["cum_volume"] > 0) & (SZ["time"] < 145700000000)].groupby("skey")['p1'].min()
#     SZ.drop("p1", axis=1, inplace=True)
#     try:
#         assert(tt[tt == 0].shape[0] == 0)
#     except:
#         display(tt[tt == 0])
#     SZ = SZ[~((SZ["bid1p"] == 0) & (SZ["ask1p"] == 0))]
    SZ["ordering"] = SZ.groupby("skey").cumcount()
    SZ["ordering"] = SZ["ordering"] + 1

    for cols in ["total_bid_orders",'total_ask_orders','total_bid_levels', 'total_ask_levels', 'bid_trade_max_duration',
                 'ask_trade_max_duration', 'cum_canceled_buy_orders', 'cum_canceled_buy_volume', "cum_canceled_buy_amount",
                 "cum_canceled_sell_orders", 'cum_canceled_sell_volume',"cum_canceled_sell_amount", "has_missing"]:
        SZ[cols] = 0
        
#     for col in ["cum_volume", "total_bid_quantity", "total_ask_quantity",'cum_canceled_buy_volume',
#         'cum_canceled_sell_volume']:
#         SZ[col] = SZ[col].astype('int64')
    
    for col in ["skey", "date", "cum_trades_cnt", "total_bid_orders",
        'total_ask_orders', 'total_bid_levels', 'total_ask_levels', 'cum_canceled_buy_orders','cum_canceled_sell_orders',
            "ordering", 'bid_trade_max_duration', 'ask_trade_max_duration','has_missing']:
        SZ[col] = SZ[col].astype('int32')
    
        
#     for cols in ["prev_close", 'open', "high", "low", "close", 'bid10p','bid9p','bid8p','bid7p','bid6p','bid5p','bid4p','bid3p',
#              'bid2p','bid1p','ask1p','ask2p','ask3p','ask4p','ask5p','ask6p','ask7p','ask8p','ask9p','ask10p', 'total_bid_vwap', "total_ask_vwap",
#                 "cum_amount"]:
# #         SZ[cols] = SZ[cols].apply(lambda x: round(x, 2)).astype('float64')
#         print(cols)
#         print(SZ[cols].astype(str).apply(lambda x: len(str(x.split('.')[1]))).unique())

        
    for cols in ["cum_canceled_sell_amount", "cum_canceled_buy_amount"]:
        SZ[cols] = SZ[cols].astype('float64')

        
    assert(sum(SZ[SZ["open"] != 0].groupby("skey")["open"].nunique() != 1) == 0)
    assert(sum(SZ[SZ["prev_close"] != 0].groupby("skey")["prev_close"].nunique() != 1) == 0)
    SZ["prev_close"] = np.where(SZ["time"] >= 91500000000, SZ.groupby("skey")["prev_close"].transform("max"), SZ["prev_close"]) 
    SZ["open"] = np.where(SZ["cum_volume"] > 0, SZ.groupby("skey")["open"].transform("max"), SZ["open"])
    assert(sum(SZ[SZ["open"] != 0].groupby("skey")["open"].nunique() != 1) == 0)
    assert(sum(SZ[SZ["prev_close"] != 0].groupby("skey")["prev_close"].nunique() != 1) == 0)
    assert(SZ[SZ["cum_volume"] > 0]["open"].min() > 0)
    
    
    
    # check 1
    da_te = str(SZ["date"].iloc[0]) 
    da_te = da_te[:4] + '-' + da_te[4:6] + '-' + da_te[6:8]
    db1 = db[db["date"] == da_te]
    db1["ID"] = db1["ID"].str[2:].astype(int) + 2000000
    db1["date"] = (db1["date"].str[:4] + db1["date"].str[5:7] + db1["date"].str[8:]).astype(int)
    SZ["cum_max"] = SZ.groupby("skey")["cum_volume"].transform(max)
    s2 = SZ[SZ["cum_volume"] == SZ["cum_max"]].groupby("skey").first().reset_index()
    SZ.drop("cum_max", axis=1, inplace=True)
    s2 = s2.rename(columns={"skey": "ID", 'open':"d_open", "prev_close":"d_yclose","high":"d_high", "low":"d_low", "close":"d_close", "cum_volume":"d_volume", "cum_amount":"d_amount"})
    s2 = s2[["ID", "date", "d_open", "d_yclose", "d_high", "d_low", "d_close", "d_volume", "d_amount"]]
    re = pd.merge(db1, s2, on=["ID", "date", "d_open", "d_yclose","d_high", "d_low", "d_volume"], how="outer")
    try:
        assert(sum(re["d_amount_y"].isnull()) == 0)
    except:
        display(re[re["d_amount_y"].isnull()])
        wr_ong += [re[re["d_amount_y"].isnull()]]
    del re
    del s2
    del db1
    
    # check 2
    # first part
    date = pd.DataFrame(pd.date_range(start='2019-06-10 08:30:00', end='2019-06-10 18:00:00', freq='s'), columns=["Orig"])
    date["time"] = date["Orig"].apply(lambda x: int(x.strftime("%H%M%S"))*1000)
    date["group"] = date["time"]//10000
    SZ["group"] = SZ["time"]//10000000
    gl = date[((date["time"] >= 93000000) & (date["time"] < 113000000))|((date["time"] >= 130000000) & (date["time"] < 150000000))]["group"].unique()
    l = set(gl) - set(SZ["group"].unique())
    SZ["has_missing1"] = 0 
    if len(l) != 0:
        print("massive missing")
        print(l)
        SZ["order"] = SZ.groupby(["skey", "time"]).cumcount()
        for i in l:
            SZ["t"] = SZ[SZ["group"] > i].groupby("skey")["time"].transform("min")
            SZ["has_missing1"] = np.where((SZ["time"] == SZ["t"]) & (SZ["order"] == 0), 1, SZ["has_missing1"])
        SZ.drop(["order", "t", "group"], axis=1, inplace=True)   
    else:
        print("no massive missing")
        SZ.drop(["group"], axis=1, inplace=True)
    



    # second part

    SZ["time_interval"] = SZ.groupby("skey")["datetime"].apply(lambda x: x - x.shift(1))
    SZ["time_interval"] = SZ["time_interval"].apply(lambda x: x.seconds)
    SZ["tn_update"] = SZ.groupby("skey")["cum_trades_cnt"].apply(lambda x: x-x.shift(1))

    f1 = SZ[(SZ["time"] >= 93000000000) & (SZ["tn_update"] != 0)].groupby("skey")["time"].min().reset_index()
    f1 = f1.rename(columns={"time": "time1"})
    f2 = SZ[(SZ["time"] >= 130000000000) & (SZ["tn_update"] != 0)].groupby("skey")["time"].min().reset_index()
    f2 = f2.rename(columns={"time": "time2"})
    f3 = SZ[(SZ["time"] >= 150000000000) & (SZ["tn_update"] != 0)].groupby("skey")["time"].min().reset_index()
    f3 = f3.rename(columns={"time": "time3"})
    SZ = pd.merge(SZ, f1, on="skey", how="left")
    del f1
    SZ = pd.merge(SZ, f2, on="skey", how="left")
    del f2
    SZ = pd.merge(SZ, f3, on="skey", how="left")
    del f3
    p99 = SZ[(SZ["time"] > 93000000000) & (SZ["time"] < 145700000000) & (SZ["time"] != SZ["time2"]) & (SZ["tn_update"] != 0)]\
    .groupby("skey")["tn_update"].apply(lambda x: x.describe([0.99])["99%"]).reset_index()
    p99 = p99.rename(columns={"tn_update":"99%"})
    SZ = pd.merge(SZ, p99, on="skey", how="left")

    SZ["has_missing2"] = 0
    SZ["has_missing2"] = np.where((SZ["time_interval"] > 60) & (SZ["tn_update"] > SZ["99%"]) & 
         (SZ["time"] > SZ["time1"]) & (SZ["time"] != SZ["time2"]) & (SZ["time"] != SZ["time3"])& (SZ["time"] != 100000000000), 1, 0)
    SZ.drop(["time_interval", "tn_update", "time1", "time2", "time3", "99%"], axis=1, inplace=True) 

    SZ["has_missing"] = np.where((SZ["has_missing1"] == 1) | (SZ["has_missing2"] == 1), 1, 0)
    SZ.drop(["has_missing1", "has_missing2"], axis=1, inplace=True) 
    if SZ[SZ["has_missing"] == 1].shape[0] != 0:
        print("has missing!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!")
        print(SZ[SZ["has_missing"] == 1].shape[0])
        mi_ss += [SZ[SZ["has_missing"] == 1]]



    SZ["has_missing"] = SZ["has_missing"].astype('int32')
    SZ = SZ[["skey", "date", "time", "clockAtArrival", "datetime", "ordering", "has_missing", "cum_trades_cnt", "cum_volume", "cum_amount", "prev_close",
                            "open", "high", "low", "close", 'bid10p','bid9p','bid8p','bid7p','bid6p','bid5p','bid4p','bid3p','bid2p','bid1p',
                            'ask1p','ask2p','ask3p','ask4p','ask5p','ask6p','ask7p','ask8p','ask9p','ask10p', 'bid10q','bid9q','bid8q',
                             'bid7q','bid6q','bid5q','bid4q','bid3q','bid2q','bid1q', 'ask1q','ask2q','ask3q','ask4q','ask5q','ask6q',
                             'ask7q','ask8q','ask9q','ask10q', 'bid10n', 'bid9n', 'bid8n', 'bid7n', 'bid6n', 'bid5n', 'bid4n', 'bid3n', 'bid2n', 'bid1n', 
                             'ask1n', 'ask2n', 'ask3n', 'ask4n', 'ask5n', 'ask6n','ask7n', 'ask8n', 'ask9n', 'ask10n','bid1Top1q','bid1Top2q','bid1Top3q','bid1Top4q','bid1Top5q','bid1Top6q',
        'bid1Top7q','bid1Top8q','bid1Top9q','bid1Top10q','bid1Top11q','bid1Top12q','bid1Top13q','bid1Top14q','bid1Top15q','bid1Top16q','bid1Top17q','bid1Top18q',
        'bid1Top19q','bid1Top20q','bid1Top21q','bid1Top22q','bid1Top23q','bid1Top24q','bid1Top25q','bid1Top26q','bid1Top27q','bid1Top28q','bid1Top29q',
        'bid1Top30q','bid1Top31q','bid1Top32q','bid1Top33q','bid1Top34q','bid1Top35q','bid1Top36q','bid1Top37q','bid1Top38q','bid1Top39q','bid1Top40q',
        'bid1Top41q','bid1Top42q','bid1Top43q','bid1Top44q','bid1Top45q','bid1Top46q','bid1Top47q','bid1Top48q','bid1Top49q','bid1Top50q', 'ask1Top1q',
        'ask1Top2q','ask1Top3q','ask1Top4q','ask1Top5q','ask1Top6q','ask1Top7q','ask1Top8q','ask1Top9q','ask1Top10q','ask1Top11q','ask1Top12q','ask1Top13q',
        'ask1Top14q','ask1Top15q','ask1Top16q','ask1Top17q','ask1Top18q','ask1Top19q','ask1Top20q','ask1Top21q','ask1Top22q','ask1Top23q',
        'ask1Top24q','ask1Top25q','ask1Top26q','ask1Top27q','ask1Top28q','ask1Top29q','ask1Top30q','ask1Top31q','ask1Top32q','ask1Top33q',
        'ask1Top34q','ask1Top35q','ask1Top36q','ask1Top37q','ask1Top38q','ask1Top39q','ask1Top40q','ask1Top41q','ask1Top42q','ask1Top43q',
        'ask1Top44q','ask1Top45q','ask1Top46q','ask1Top47q','ask1Top48q','ask1Top49q','ask1Top50q',"total_bid_quantity", "total_ask_quantity","total_bid_vwap", "total_ask_vwap",
        "total_bid_orders",'total_ask_orders','total_bid_levels', 'total_ask_levels', 'bid_trade_max_duration', 'ask_trade_max_duration', 'cum_canceled_buy_orders', 'cum_canceled_buy_volume',
        "cum_canceled_buy_amount", "cum_canceled_sell_orders", 'cum_canceled_sell_volume',"cum_canceled_sell_amount"]]
    
    display(SZ["date"].iloc[0])
    print("SZ finished")
    
    
    database_name = 'com_md_eq_cn'
    user = "zhenyuy"
    password = "bnONBrzSMGoE"

    db1 = DB("192.168.10.178", database_name, user, password)
    db1.write('md_snapshot_l2', SZ)
    
    del SZ

wr_ong = pd.concat(wr_ong).reset_index(drop=True)
print(wr_ong)
mi_ss = pd.concat(mi_ss).reset_index(drop=True)
print(mi_ss)
print(less)

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:203: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.

0:05:45.910735

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
513,2001872,20170623,31.21,32.32,29.82,31.59,31.65,0.975493,-0.001896,0.108421,0.003,0.000638,25133088.0,7.838064e+08,0.054065,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
846,2001914,20170623,9.55,9.65,9.25,9.51,9.60,0.986228,-0.009375,-0.021576,0.003,0.000638,4375066.0,4.130832e+07,0.006561,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

massive missing
{10592, 10593, 10594, 10595, 11010, 11000, 11001, 10582, 10583, 10584, 10585, 11002, 11003, 11004, 11005, 10590, 10591}
has missing!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
1799

20170623

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
513,2001872,20170626,31.57,32.30,30.73,32.08,31.59,0.975493,0.015511,0.089304,0.016859,0.011581,17723822.0,5.602408e+08,0.038127,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
846,2001914,20170626,9.43,9.62,9.42,9.61,9.51,0.986228,0.010515,-0.013303,0.016859,0.011581,3822662.0,3.643879e+07,0.005733,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170626

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
514,2001872,20170627,32.29,33.50,31.58,31.85,32.08,0.975493,-0.007170,-0.016975,0.00025,0.0016,25681986.0,8.381805e+08,0.055246,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
847,2001914,20170627,9.56,9.66,9.51,9.58,9.61,0.986228,-0.003122,-0.013366,0.00025,0.0016,2431936.0,2.333520e+07,0.003647,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170627

SZ finished
20170628 less data!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
515,2001872,20170629,31.27,31.29,29.83,29.93,30.99,0.975493,-0.034205,-0.054344,0.005058,0.004473,17126986.0,5.181032e+08,0.036843,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
852,2001914,20170629,9.45,9.54,9.42,9.50,9.45,0.986228,0.005291,-0.010417,0.005058,0.004473,2437130.0,2.315477e+07,0.003655,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170629

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
516,2001872,20170630,30.06,30.33,29.50,29.75,29.93,0.975493,-0.006014,-0.058246,0.00346,0.001219,9351769.0,2.800410e+08,0.020117,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
852,2001914,20170630,9.50,9.59,9.45,9.56,9.50,0.986228,0.006316,0.005258,0.00346,0.001219,1919954.0,1.830605e+07,0.002879,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

massive missing
{9300, 9301, 9302, 9303, 9304, 9305, 9310, 9311, 9312, 9313, 9314, 9315, 9320, 9321, 9322, 9323, 9324, 9325, 9330, 9331, 9332, 9333, 9334, 9335, 9340, 9341, 9342, 9343, 9344, 9345, 9350, 9351, 9352, 9353, 9354, 9355, 9360, 9361, 9362, 9363, 9364, 9365, 9370, 9371, 9372, 9373, 9374, 9375, 9380, 9381, 9382, 9383, 9384, 9385, 9390, 9391, 9392, 9393, 9394, 9395, 9400, 9401, 9402, 9403, 9404, 9405, 9410, 9411, 9412, 9413, 9414, 9415, 9420, 9421, 9422, 9423, 9424, 9425, 9430, 9431, 9432, 9433, 9434}
has missing!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
1801

20170630

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
519,2001872,20170703,30.00,30.29,29.41,29.70,29.75,0.975493,-0.001681,-0.074190,0.006393,0.009556,9402182.0,2.798903e+08,0.020226,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
854,2001914,20170703,9.62,10.44,9.53,10.09,9.56,0.986228,0.055439,0.049948,0.006393,0.009556,14409210.0,1.445863e+08,0.021610,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170703

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
519,2001872,20170704,29.55,29.88,28.26,28.44,29.70,0.975493,-0.042424,-0.107064,-0.004944,-0.001779,13995244.0,4.027366e+08,0.030106,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
853,2001914,20170704,10.14,11.00,9.98,10.94,10.09,0.986228,0.084242,0.141962,-0.004944,-0.001779,19201712.0,2.011035e+08,0.028798,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170704

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
520,2001872,20170705,28.66,29.19,28.35,28.99,28.44,0.975493,0.019339,-0.064537,0.007664,0.008559,10230117.0,2.936470e+08,0.022007,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
854,2001914,20170705,10.85,11.23,10.75,10.93,10.94,0.986228,-0.000914,0.156614,0.007664,0.008559,15787324.0,1.740188e+08,0.023677,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170705

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
516,2001872,20170706,29.02,29.16,28.43,28.60,28.99,0.975493,-0.013453,-0.044437,0.001241,0.001805,9976318.0,2.872188e+08,0.021461,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
850,2001914,20170706,10.93,10.93,10.60,10.77,10.93,0.986228,-0.014639,0.133684,0.001241,0.001805,7818060.0,8.399734e+07,0.011725,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170706

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
515,2001872,20170707,28.46,28.65,28.08,28.13,28.60,0.975493,-0.016434,-0.054454,0.003928,0.002841,7398401.0,2.096816e+08,0.015915,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
849,2001914,20170707,10.79,11.16,10.73,10.90,10.77,0.986228,0.012071,0.140167,0.003928,0.002841,8293694.0,9.128439e+07,0.012438,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170707

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
514,2001872,20170710,28.2,28.39,27.50,27.53,28.13,0.975493,-0.021330,-0.073064,-0.003125,-0.005977,8344112.0,2.318965e+08,0.017949,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
849,2001914,20170710,10.8,11.13,10.67,10.99,10.90,0.986228,0.008257,0.089197,-0.003125,-0.005977,5787430.0,6.352369e+07,0.008680,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170710

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
514,2001872,20170711,27.8,29.80,27.78,29.40,27.53,0.975493,0.067926,0.033755,-0.012497,-0.012373,20771859.0,6.009338e+08,0.044684,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
850,2001914,20170711,11.0,11.37,10.86,11.03,10.99,0.986228,0.003640,0.008227,-0.012497,-0.012373,8334391.0,9.240795e+07,0.012499,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170711

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
513,2001872,20170712,29.53,30.49,28.67,29.76,29.40,0.975493,0.012245,0.026561,0.000652,-0.001299,17429050.0,5.152343e+08,0.037493,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
851,2001914,20170712,10.84,11.34,10.76,11.07,11.03,0.986228,0.003626,0.012809,0.000652,-0.001299,12435574.0,1.376646e+08,0.018650,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170712

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
510,2001872,20170713,29.50,30.68,29.33,29.62,29.76,0.975493,-0.004704,0.035664,0.002762,-0.000004,14946333.0,4.506235e+08,0.032152,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
848,2001914,20170713,11.03,11.14,10.86,11.06,11.07,0.986228,-0.000903,0.026927,0.002762,-0.000004,6181607.0,6.795991e+07,0.009271,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170713

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
0,2300567,20170714,84.79,84.79,82.59,82.61,84.40,0.995790,-0.021209,-0.049367,-0.003446,-0.005502,513200.0,4.288292e+07,0.025660,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20000000.0,8.000000e+07,NaN,NaN
1,2002389,20170714,22.07,22.16,21.62,21.76,22.18,0.997555,-0.018936,-0.029438,-0.003446,-0.005502,4790284.0,1.049887e+08,0.009074,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,527908563.0,7.088469e+08,NaN,NaN
2,2000584,20170714,13.19,13.27,13.06,13.15,13.17,1.000000,-0.001519,-0.008296,-0.003446,-0.005502,4416118.0,5.799602e+07,0.007224,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,611287856.0,6.133243e+08,NaN,NaN
3,2300568,20170714,43.59,45.89,42.20,45.53,44.75,0.619946,0.017430,-0.019806,-0.003446,-0.005502,3198637.0,1.412731e+08,0.066638,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,48000000.0,1.920000e+08,NaN,NaN
4,2002723,20170714,20.04,20.04,19.30,19.30,19.86,0.998038,-0.028197,-0.079638,-0.003446,-0.005502,966000.0,1.890473e+07,0.012583,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,76770230.0,1.867000e+08,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1806,2300431,20170714,21.90,22.38,21.61,21.93,21.94,0.832663,-0.000456,-0.057585,-0.003446,-0.005502,7196005.0,1.584943e+08,0.030721,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,234240751.0,3.319775e+08,NaN,NaN
1807,2300131,20170714,8.06,8.12,8.00,8.10,8.06,0.491879,0.004963,-0.045936,-0.003446,-0.005502,4425377.0,3.568683e+07,0.007049,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,627814728.0,1.069526e+09,NaN,NaN
1808,2000985,20170714,25.37,25.83,25.08,25.17,26.27,0.994821,-0.041873,0.062025,-0.003446,-0.005502,3147992.0,7.983359e+07,0.024283,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,129639500.0,1.296395e+08,NaN,NaN
1809,2300672,20170714,14.77,14.77,14.77,14.77,13.43,1.000000,0.099777,0.741745,-0.003446,-0.005502,3000.0,4.431000e+04,0.000107,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,27941200.0,1.117647e+08,NaN,NaN
1810,2002093,20170714,8.61,8.70,8.53,8.55,8.61,0.998840,-0.006969,-0.046778,-0.003446,-0.005502,2938320.0,2.530121e+07,0.003448,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,852108958.0,1.007500e+09,NaN,NaN

massive missing
{13000, 13001, 13002, 13003, 13004, 13005, 13010, 13011, 13012, 13013, 13014, 13015, 13020, 13021, 13022, 13023, 13024, 13025, 13030, 13031, 13032, 13033, 13034, 13035, 13040, 13041, 13042, 13043, 13044, 13045, 13050, 13051, 13052, 13053, 13054, 13055, 13060, 13061, 13062, 13063, 13064, 13065, 13070, 13071, 13072, 13073, 13074, 13075, 13080, 13081, 13082, 13083, 13084, 13085, 13090, 13091, 13092, 13093, 13094, 13095, 13100, 13101, 13102, 13103, 13104, 13105, 13110, 13111, 13112, 13113, 13114, 13115, 13120, 13121, 13122, 13123, 13124, 13125, 13130, 13131, 13132, 13133, 13134, 13135, 13140, 13141, 13142, 13143, 13144, 13145, 13150, 13151, 13152, 13153, 13154, 13155, 13160, 13161, 13162, 13163, 13164, 13165, 13170, 13171, 13172, 13173, 13174, 13175, 13180, 13181, 13182, 13183, 13184, 13185, 13190, 13191, 13192, 13193, 13194, 13195, 14201, 13200, 13201, 13202, 13203, 13204, 13205, 13210, 13211, 13212, 13213, 13214, 13215, 13220, 13221, 13222, 13223, 13224, 13225, 14202, 13230, 13231, 13232, 13233, 13234, 13235, 13240, 13241, 13242, 13243, 13244, 13245, 13250, 13251, 13252, 13253, 13254, 13255, 13260, 13261, 13262, 13263, 13264, 13265, 13270, 13271, 13272, 13273, 13274, 13275, 13280, 13281, 13282, 13283, 13284, 13285, 13290, 13291, 13292, 13293, 13294, 13295, 14212, 13300, 13301, 13302, 13303, 13304, 13305, 13310, 13311, 13312, 13313, 13314, 13315, 13320, 13321, 13322, 13323, 13324, 13325, 13330, 13331, 13332, 13333, 13334, 13335, 13340, 13341, 13342, 13343, 13344, 13345, 13350, 13351, 13352, 13353, 13354, 13355, 13360, 13361, 13362, 13363, 13364, 13365, 13370, 13371, 13372, 13373, 13374, 13375, 13380, 13381, 13382, 13383, 13384, 13385, 13390, 13391, 13392, 13393, 13394, 13395, 9304, 9305, 13400, 13401, 13402, 13403, 9310, 9311, 9312, 9313, 9314, 9315, 13404, 13405, 13410, 13411, 9320, 9321, 9322, 9323, 9324, 9325, 13413, 13414, 13415, 13420, 9330, 9331, 9332, 9333, 9334, 9335, 13423, 13424, 13425, 13430, 9340, 9341, 9342, 9343, 9344, 9345, 13433, 13434, 13435, 13440, 9350, 9351, 9352, 9353, 9354, 9355, 13443, 13444, 13445, 13450, 9360, 9361, 9362, 9363, 9364, 9365, 13453, 13454, 13455, 13460, 9370, 9371, 9372, 9373, 9374, 9375, 13463, 13464, 13465, 13470, 9380, 9381, 9382, 9383, 9384, 9385, 13473, 13474, 13475, 13480, 9390, 9391, 9392, 9393, 9394, 9395, 13483, 13484, 13485, 13490, 9400, 9401, 9402, 9403, 9404, 9405, 13493, 13494, 13495, 13500, 9410, 9411, 9412, 9413, 9414, 9415, 13503, 13504, 13505, 13510, 9420, 9421, 9422, 9423, 9424, 9425, 13513, 13514, 13515, 13520, 9430, 9431, 9432, 9433, 9434, 9435, 13523, 13524, 13525, 13530, 9440, 9441, 9442, 9443, 9444, 9445, 13533, 13534, 13535, 13540, 9450, 9451, 9452, 9453, 9454, 9455, 13543, 13544, 13545, 13550, 9460, 9461, 9462, 9463, 9464, 9465, 13553, 13554, 13555, 13560, 9470, 9471, 9472, 9473, 9474, 9475, 13563, 13564, 13565, 13570, 9480, 9481, 9482, 9483, 9484, 9485, 13573, 13574, 13575, 13580, 9490, 9491, 9492, 9493, 9494, 9495, 13583, 13584, 13585, 13590, 9500, 9501, 9502, 9503, 9504, 9505, 13593, 13594, 13595, 9510, 9511, 9512, 9513, 9514, 9515, 9520, 9521, 9522, 9523, 9524, 9525, 9530, 9531, 9532, 9533, 9534, 9535, 9540, 9541, 9542, 9543, 9544, 9545, 9550, 9551, 9552, 9553, 9554, 9555, 9560, 9561, 9562, 9563, 9564, 9565, 14112, 9570, 9571, 9572, 9573, 9574, 9575, 9580, 9581, 9582, 9583, 9584, 9585, 9590, 9591, 9592, 9593, 9594, 9595, 14221, 14121, 14122, 14222, 14223, 14131, 14132, 14141, 14142, 14151, 14152, 14161, 14162, 14171, 14172, 14000, 14001, 14002, 14003, 14004, 14005, 14181, 14211, 14010, 14011, 14012, 14013, 14014, 14015, 14182, 14020, 14021, 14022, 14023, 14024, 14025, 14030, 14031, 14032, 14033, 14034, 14035, 14040, 14041, 14042, 14043, 14044, 14045, 14050, 14051, 14052, 14053, 14054, 14055, 14191, 14060, 14061, 14062, 14063, 14064, 14065, 14192, 14070, 14071, 14072, 14073, 14074, 14075, 14080, 14081, 14082, 14083, 14084, 14085, 14090, 14091, 14092, 14093, 14094, 14095, 10000, 10001, 10002, 10003, 10004, 10005, 14100, 14101, 14102, 14103, 10010, 10011, 10012, 10013, 10014, 10015, 14104, 14105, 14110, 14111, 10020, 10021, 10022, 10023, 10024, 10025, 14113, 14114, 14115, 14120, 10030, 10031, 10032, 10033, 10034, 10035, 14123, 14124, 14125, 14130, 10040, 10041, 10042, 10043, 10044, 10045, 14133, 14134, 14135, 14140, 10050, 10051, 10052, 10053, 10054, 10055, 14143, 14144, 14145, 14150, 10060, 10061, 10062, 10063, 10064, 10065, 14153, 14154, 14155, 14160, 10070, 10071, 10072, 10073, 10074, 10075, 14163, 14164, 14165, 14170, 10080, 10081, 10082, 10083, 10084, 10085, 14173, 14174, 14175, 14180, 10090, 10091, 10092, 10093, 10094, 10095, 14183, 14184, 14185, 14190, 10100, 10101, 10102, 10103, 10104, 10105, 14193, 14194, 14195, 14200, 10110, 10111, 10112, 10113, 10114, 10115, 14203, 14204, 14205, 14210, 10120, 10121, 10122, 10123, 10124, 10125, 14213, 14214, 14215, 14220, 10130, 10131, 10132, 10133, 10134, 10135, 13412, 14224, 14225, 14230, 10140, 10141, 10142, 10143, 10144, 10145, 14233, 14234, 14235, 14240, 10150, 10151, 10152, 10153, 10154, 10155, 14243, 14244, 14245, 14250, 10160, 10161, 10162, 10163, 10164, 10165, 14231, 14232, 14255, 14260, 10170, 10171, 10172, 10173, 10174, 10175, 14263, 14264, 14265, 14270, 10180, 10181, 10182, 10183, 10184, 10185, 13421, 13422, 14275, 14280, 10190, 10191, 10192, 10193, 10194, 10195, 14283, 14284, 14285, 14290, 10200, 10201, 10202, 10203, 10204, 10205, 14293, 14294, 14295, 14300, 10210, 10211, 10212, 10213, 10214, 10215, 14241, 14242, 14305, 14310, 10220, 10221, 10222, 10223, 10224, 10225, 14313, 14314, 14315, 14320, 10230, 10231, 10232, 10233, 10234, 10235, 13431, 13432, 14325, 14330, 10240, 10241, 10242, 10243, 10244, 10245, 14333, 14334, 14335, 14340, 10250, 10251, 10252, 10253, 10254, 10255, 14343, 14344, 14345, 14350, 10260, 10261, 10262, 10263, 10264, 10265, 14251, 14252, 14355, 14360, 10270, 10271, 10272, 10273, 10274, 10275, 14253, 14254, 14365, 14370, 10280, 10281, 10282, 10283, 10284, 10285, 13441, 13442, 14375, 14380, 10290, 10291, 10292, 10293, 10294, 10295, 14383, 14384, 14385, 14390, 10300, 10301, 10302, 10303, 10304, 10305, 14393, 14394, 14395, 14400, 10310, 10311, 10312, 10313, 10314, 10315, 14261, 14262, 14405, 14410, 10320, 10321, 10322, 10323, 10324, 10325, 14413, 14414, 14415, 14420, 10330, 10331, 10332, 10333, 10334, 10335, 13451, 13452, 14425, 14430, 10340, 10341, 10342, 10343, 10344, 10345, 14433, 14434, 14435, 14440, 10350, 10351, 10352, 10353, 10354, 10355, 14443, 14444, 14445, 14450, 10360, 10361, 10362, 10363, 10364, 10365, 14271, 14272, 14455, 14460, 10370, 10371, 10372, 10373, 10374, 10375, 14273, 14274, 14465, 14470, 10380, 10381, 10382, 10383, 10384, 10385, 13461, 13462, 14475, 14480, 10390, 10391, 10392, 10393, 10394, 10395, 14483, 14484, 14485, 14490, 10400, 10401, 10402, 10403, 10404, 10405, 14493, 14494, 14495, 14500, 10410, 10411, 10412, 10413, 10414, 10415, 14281, 14282, 14505, 14510, 10420, 10421, 10422, 10423, 10424, 10425, 14513, 14514, 14515, 14520, 10430, 10431, 10432, 10433, 10434, 10435, 13471, 14524, 13472, 14530, 10440, 10441, 10442, 10443, 10444, 10445, 14533, 14534, 14535, 14540, 10450, 10451, 10452, 10453, 10454, 10455, 14543, 14544, 14545, 14550, 10460, 10461, 10462, 10463, 10464, 10465, 14291, 14292, 14555, 14560, 10470, 10471, 10472, 10473, 10474, 10475, 14563, 14564, 14565, 14570, 10480, 10481, 10482, 10483, 10484, 10485, 13481, 14574, 13482, 14580, 10490, 10491, 10492, 10493, 10494, 10495, 14583, 14584, 14585, 14590, 10500, 10501, 10502, 10503, 10504, 10505, 14593, 14594, 14595, 10510, 10511, 10512, 10513, 10514, 10515, 14301, 14302, 10520, 10521, 10522, 10523, 10524, 10525, 14303, 14304, 10530, 10531, 10532, 10533, 10534, 10535, 13491, 13492, 10540, 10541, 10542, 10543, 10544, 10545, 10550, 10551, 10552, 10553, 10554, 10555, 10560, 10561, 10562, 10563, 10564, 10565, 14311, 14312, 10570, 10571, 10572, 10573, 10574, 10575, 10580, 10581, 10582, 10583, 10584, 10585, 13501, 13502, 10590, 10591, 10592, 10593, 10594, 10595, 14321, 14322, 14323, 14324, 13511, 13512, 14331, 14332, 13521, 13522, 14341, 14342, 13531, 13532, 14351, 14352, 14353, 14354, 13541, 13542, 14361, 14362, 14363, 14364, 13551, 13552, 14371, 14372, 14373, 14374, 13561, 13562, 14381, 14382, 13571, 13572, 14391, 14392, 13581, 13582, 11000, 11001, 11002, 11003, 11004, 11005, 11010, 11011, 11012, 11013, 11014, 11015, 14401, 11020, 11021, 11022, 11023, 11024, 11025, 14402, 14403, 11030, 11031, 11032, 11033, 11034, 11035, 13591, 14404, 11040, 11041, 11042, 11043, 11044, 11045, 13592, 11050, 11051, 11052, 11053, 11054, 11055, 11060, 11061, 11062, 11063, 11064, 11065, 14411, 11070, 11071, 11072, 11073, 11074, 11075, 14412, 11080, 11081, 11082, 11083, 11084, 11085, 11090, 11091, 11092, 11093, 11094, 11095, 11100, 11101, 11102, 11103, 11104, 11105, 11110, 11111, 11112, 11113, 11114, 11115, 14421, 11120, 11121, 11122, 11123, 11124, 11125, 14422, 14423, 11130, 11131, 11132, 11133, 11134, 11135, 14424, 11140, 11141, 11142, 11143, 11144, 11145, 11150, 11151, 11152, 11153, 11154, 11155, 11160, 11161, 11162, 11163, 11164, 11165, 14431, 11170, 11171, 11172, 11173, 11174, 11175, 14432, 11180, 11181, 11182, 11183, 11184, 11185, 11190, 11191, 11192, 11193, 11194, 11195, 11200, 11201, 11202, 11203, 11204, 11205, 11210, 11211, 11212, 11213, 11214, 11215, 14441, 11220, 11221, 11222, 11223, 11224, 11225, 14442, 11230, 11231, 11232, 11233, 11234, 11235, 11240, 11241, 11242, 11243, 11244, 11245, 11250, 11251, 11252, 11253, 11254, 11255, 11260, 11261, 11262, 11263, 11264, 11265, 14451, 11270, 11271, 11272, 11273, 11274, 11275, 14452, 14453, 11280, 11281, 11282, 11283, 11284, 11285, 14454, 11290, 11291, 11292, 11293, 11294, 11295, 14461, 14462, 14463, 14464, 14471, 14472, 14473, 14474, 14481, 14482, 14491, 14492, 14501, 14502, 14503, 14504, 14511, 14512, 14521, 14522, 14523, 14525, 14531, 14532, 14541, 14542, 14551, 14552, 14553, 14554, 14561, 14562, 14571, 14572, 14573, 14575, 14581, 14582, 14591, 14592}

20170714

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
509,2001872,20170717,29.90,29.90,27.09,27.99,30.10,0.975493,-0.070100,0.016709,-0.041164,-0.051747,14152483.0,3.993147e+08,0.030444,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
852,2001914,20170717,11.17,11.25,10.01,10.17,11.12,0.986228,-0.085432,-0.074613,-0.041164,-0.051747,12673431.0,1.341192e+08,0.019007,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170717

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
503,2001872,20170718,27.50,28.33,27.45,28.12,27.99,0.975493,0.004645,-0.043537,0.010546,0.008663,5740109.0,1.609174e+08,0.012348,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
847,2001914,20170718,10.06,10.44,10.04,10.44,10.17,0.986228,0.026549,-0.053490,0.010546,0.008663,6764100.0,6.936945e+07,0.010144,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170718

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
503,2001872,20170719,27.94,28.64,27.51,28.60,28.12,0.975493,0.017070,-0.038978,0.020363,0.01311,7882542.0,2.216484e+08,0.016957,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
848,2001914,20170719,10.47,10.64,10.33,10.52,10.44,0.986228,0.007663,-0.049684,0.020363,0.01311,5559453.0,5.827970e+07,0.008338,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170719

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
504,2001872,20170720,28.22,28.99,28.22,28.34,28.60,0.975493,-0.009091,-0.043214,0.006589,0.005844,7446742.0,2.129420e+08,0.016019,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
847,2001914,20170720,10.55,10.92,10.43,10.74,10.52,0.986228,0.020913,-0.028933,0.006589,0.005844,7154952.0,7.661564e+07,0.010731,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170720

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
508,2001872,20170721,27.95,28.1,27.56,27.70,28.34,0.975493,-0.022583,-0.079734,0.004398,0.001078,6639996.0,1.846266e+08,0.014284,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
851,2001914,20170721,10.73,10.8,10.56,10.64,10.74,0.986228,-0.009311,-0.043165,0.004398,0.001078,3988045.0,4.261974e+07,0.005981,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170721

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
510,2001872,20170724,27.68,28.31,27.51,28.19,27.70,0.975493,0.01769,0.007145,0.006696,0.005507,6633396.0,1.853963e+08,0.014269,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
853,2001914,20170724,10.65,10.72,10.47,10.62,10.64,0.986228,-0.00188,0.044248,0.006696,0.005507,3849610.0,4.084532e+07,0.005773,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170724

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
510,2001872,20170725,28.30,28.65,27.77,27.84,28.19,0.975493,-0.012416,-0.009957,-0.002194,-0.001893,6399239.0,1.806997e+08,0.013766,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
855,2001914,20170725,10.61,10.80,10.57,10.77,10.62,0.986228,0.014124,0.031609,-0.002194,-0.001893,4821154.0,5.170039e+07,0.007230,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170725

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
511,2001872,20170726,27.86,28.16,27.27,27.57,27.84,0.975493,-0.009698,-0.036014,-0.001121,0.001516,5150473.0,1.426012e+08,0.011079,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
857,2001914,20170726,10.77,10.79,10.58,10.71,10.77,0.986228,-0.005571,0.018061,-0.001121,0.001516,5803776.0,6.184017e+07,0.008704,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170726

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
512,2001872,20170727,27.58,27.73,26.41,27.49,27.57,0.975493,-0.002902,-0.029993,0.006071,0.01279,6720902.0,1.823435e+08,0.014458,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
859,2001914,20170727,10.65,10.75,10.25,10.65,10.71,0.986228,-0.005602,-0.008380,0.006071,0.01279,8605500.0,9.042009e+07,0.012906,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170727

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
513,2001872,20170728,27.40,28.15,27.15,28.14,27.49,0.975493,0.023645,0.015884,0.005084,0.000419,6297924.0,1.752406e+08,0.013548,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
860,2001914,20170728,10.63,10.88,10.51,10.76,10.65,0.986228,0.010329,0.011278,0.005084,0.000419,4776800.0,5.108262e+07,0.007164,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170728

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
514,2001872,20170731,28.16,28.37,27.65,27.99,28.14,0.975493,-0.005330,-0.007095,0.013279,0.007954,6200541.0,1.730594e+08,0.013338,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
862,2001914,20170731,10.76,10.97,10.66,10.78,10.76,0.986228,0.001859,0.015066,0.013279,0.007954,4406967.0,4.741990e+07,0.006609,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170731

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
520,2001872,20170801,27.46,28.40,27.00,27.86,27.49,0.958067,0.013459,0.018920,-0.00182,0.001071,8874055.0,247726308.9,0.019089,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
868,2001914,20170801,10.65,10.77,10.58,10.63,10.78,0.986228,-0.013915,-0.012999,-0.00182,0.001071,3183200.0,33923338.0,0.004774,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170801

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
521,2001872,20170802,27.89,28.44,27.43,27.9,27.86,0.958067,0.001436,0.030376,-0.005516,-0.00851,10208777.0,2.861675e+08,0.021961,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
870,2001914,20170802,10.59,10.73,10.31,10.5,10.63,0.986228,-0.012230,-0.019608,-0.005516,-0.00851,5864391.0,6.142345e+07,0.008795,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170802

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
522,2001872,20170803,27.91,29.98,27.91,29.9,27.9,0.958067,0.071685,0.107451,0.001616,0.004682,18510569.0,5.354449e+08,0.039819,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
870,2001914,20170803,10.42,10.57,10.32,10.5,10.5,0.986228,0.000000,-0.014085,0.001616,0.004682,2449312.0,2.558185e+07,0.003673,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170803

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
520,2001872,20170804,29.9,30.43,29.02,29.26,29.9,0.958067,-0.021405,0.058713,-0.005885,-0.004709,13885068.0,4.105728e+08,0.029869,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
868,2001914,20170804,10.5,10.68,10.43,10.50,10.5,0.986228,0.000000,-0.024164,-0.005885,-0.004709,4722353.0,4.991092e+07,0.007082,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170804

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
520,2001872,20170807,29.1,29.77,29.00,29.14,29.26,0.958067,-0.004101,0.060022,0.012579,0.007583,7919166.0,2.319786e+08,0.017035,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
871,2001914,20170807,10.5,10.67,10.48,10.55,10.50,0.986228,0.004762,-0.021336,0.012579,0.007583,2399330.0,2.536828e+07,0.003598,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170807

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
520,2001872,20170808,29.11,29.26,28.32,28.78,29.14,0.958067,-0.012354,0.033022,0.000047,0.003427,7710915.0,2.214788e+08,0.016587,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
871,2001914,20170808,10.50,10.55,10.34,10.38,10.55,0.986228,-0.016114,-0.023518,0.000047,0.003427,3991800.0,4.152381e+07,0.005987,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170808

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
522,2001872,20170809,28.78,29.23,28.33,28.92,28.78,0.958067,0.004864,0.036559,0.005759,0.003306,8001387.0,2.304093e+08,0.017212,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
873,2001914,20170809,10.35,10.40,10.15,10.24,10.38,0.986228,-0.013487,-0.024762,0.005759,0.003306,4471978.0,4.587800e+07,0.006707,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170809

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
522,2001872,20170810,28.70,29.42,28.49,28.50,28.92,0.958067,-0.014523,-0.046823,-0.008013,-0.007225,9192596.0,2.663895e+08,0.019775,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
874,2001914,20170810,10.25,10.37,10.18,10.24,10.24,0.986228,0.000000,-0.024762,-0.008013,-0.007225,2873611.0,2.947943e+07,0.004310,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170810

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
522,2001872,20170811,28.16,28.16,26.50,26.58,28.50,0.958067,-0.067368,-0.091593,-0.020357,-0.015163,11021660.0,2.996770e+08,0.023709,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
874,2001914,20170811,10.20,10.25,10.03,10.14,10.24,0.986228,-0.009766,-0.034286,-0.020357,-0.015163,3259700.0,3.303790e+07,0.004889,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170811

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
522,2001872,20170814,26.38,26.97,26.36,26.88,26.58,0.958067,0.011287,-0.077557,0.021335,0.019956,5395218.0,1.439743e+08,0.011606,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
874,2001914,20170814,10.14,10.27,10.09,10.25,10.14,0.986228,0.010848,-0.028436,0.021335,0.019956,3501009.0,3.564439e+07,0.005251,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170814

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
522,2001872,20170815,26.84,27.39,26.66,27.08,26.88,0.958067,0.007440,-0.059069,0.003515,0.004368,4591459.0,1.243279e+08,0.009877,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
875,2001914,20170815,10.27,10.59,10.21,10.40,10.25,0.986228,0.014634,0.001927,0.003515,0.004368,4661820.0,4.862469e+07,0.006992,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170815

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
522,2001872,20170816,27.10,27.18,26.60,26.67,27.08,0.958067,-0.015140,-0.077801,0.000639,0.004941,4281195.0,1.144855e+08,0.009210,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
875,2001914,20170816,10.47,10.54,10.32,10.49,10.40,0.986228,0.008654,0.024414,0.000639,0.004941,4512942.0,4.721148e+07,0.006768,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170816

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
522,2001872,20170817,26.62,26.95,26.62,26.75,26.67,0.958067,0.00300,-0.061404,0.007475,0.009255,3264213.0,87364880.71,0.007022,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
872,2001914,20170817,10.48,10.67,10.41,10.58,10.49,0.986228,0.00858,0.033203,0.007475,0.009255,4158735.0,43943057.78,0.006237,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170817

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
522,2001872,20170818,26.67,28.39,26.44,27.45,26.75,0.958067,0.026168,0.032731,-0.002871,-0.005011,7836030.0,215642165.4,0.016857,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
874,2001914,20170818,10.62,10.68,10.44,10.59,10.58,0.986228,0.000945,0.044379,-0.002871,-0.005011,4097100.0,43471097.2,0.006145,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170818

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
521,2001872,20170821,27.15,27.62,27.1,27.36,27.45,0.958067,-0.003279,0.017857,0.008826,0.007352,3496289.0,95602265.18,0.007521,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
877,2001914,20170821,10.62,10.66,10.5,10.57,10.59,0.986228,-0.001889,0.031220,0.008826,0.007352,2638016.0,27874974.20,0.003956,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170821

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
519,2001872,20170822,27.36,27.53,27.12,27.22,27.36,0.958067,-0.005117,0.005170,-0.004341,-0.006111,3392301.0,9.243645e+07,0.007297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
875,2001914,20170822,10.60,11.08,10.55,10.84,10.57,0.986228,0.025544,0.042308,-0.004341,-0.006111,10910288.0,1.188753e+08,0.016363,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170822

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
520,2001872,20170823,27.27,27.49,27.15,27.28,27.22,0.958067,0.002204,0.022872,-0.008344,-0.006678,2615896.0,71390556.68,0.005627,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
876,2001914,20170823,10.80,11.09,10.60,10.73,10.84,0.986228,-0.010148,0.022879,-0.008344,-0.006678,5941772.0,64144080.59,0.008911,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170823

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
521,2001872,20170824,27.22,27.43,27.10,27.10,27.28,0.958067,-0.006598,0.013084,-0.006989,-0.006424,2479700.0,67488700.46,0.005334,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
876,2001914,20170824,10.68,10.77,10.52,10.58,10.73,0.986228,-0.013979,0.000000,-0.006989,-0.006424,4416595.0,46807786.90,0.006624,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170824

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
522,2001872,20170825,26.83,26.88,26.00,26.44,27.10,0.958067,-0.024354,-0.036794,0.010821,0.009785,7997250.0,2.107844e+08,0.017203,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
877,2001914,20170825,10.54,10.73,10.54,10.59,10.58,0.986228,0.000945,0.000000,0.010821,0.009785,3111201.0,3.308019e+07,0.004666,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170825

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
523,2001872,20170828,26.21,26.80,26.21,26.63,26.44,0.958067,0.007186,-0.026681,0.012299,0.011025,5519637.0,1.461909e+08,0.011874,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
878,2001914,20170828,10.53,10.68,10.53,10.60,10.59,0.986228,0.000944,0.002838,0.012299,0.011025,3330818.0,3.537054e+07,0.004995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170828

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
524,2001872,20170829,26.66,27.45,26.65,27.35,26.63,0.958067,0.027037,0.004776,-0.002557,-0.002537,8235838.0,2.239205e+08,0.017717,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
879,2001914,20170829,10.56,10.72,10.56,10.62,10.60,0.986228,0.001887,-0.020295,-0.002557,-0.002537,3071700.0,3.268640e+07,0.004607,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170829

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
524,2001872,20170830,27.37,28.10,27.36,27.95,27.35,0.958067,0.021938,0.02456,0.00707,0.004082,9461561.0,2.631643e+08,0.020353,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
879,2001914,20170830,10.59,10.71,10.50,10.68,10.62,0.986228,0.005650,-0.00466,0.00707,0.004082,3910306.0,4.161307e+07,0.005864,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170830

SZ finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:408: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:409: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
524,2001872,20170831,27.64,27.98,27.64,27.85,27.95,0.958067,-0.003578,0.027675,0.002628,0.003331,4138988.0,115103196.5,0.008904,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464866050.0,644763730.0,NaN,NaN
880,2001914,20170831,10.66,10.72,10.56,10.60,10.68,0.986228,-0.007491,0.001890,0.002628,0.003331,3626900.0,38547071.0,0.005439,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

no massive missing

20170831

SZ finished
           ID      date  d_open  d_high  d_low  d_close_x  d_yclose  \
0     2001872  20170623   31.21   32.32  29.82      31.59     31.65
1     2001914  20170623    9.55    9.65   9.25       9.51      9.60
2     2001872  20170626   31.57   32.30  30.73      32.08     31.59
3     2001914  20170626    9.43    9.62   9.42       9.61      9.51
4     2001872  20170627   32.29   33.50  31.58      31.85     32.08
...       ...       ...     ...     ...    ...        ...       ...
1902  2001914  20170829   10.56   10.72  10.56      10.62     10.60
1903  2001872  20170830   27.37   28.10  27.36      27.95     27.35
1904  2001914  20170830   10.59   10.71  10.50      10.68     10.62
1905  2001872  20170831   27.64   27.98  27.64      27.85     27.95
1906  2001914  20170831   10.66   10.72  10.56      10.60     10.68

      d_cumprodCAA  d_dayReturn  d_5dayReturn  d_ICDayReturn  d_CSIDayReturn  \
0         0.975493    -0.001896      0.108421       0.003000        0.000638
1         0.986228    -0.009375     -0.021576       0.003000        0.000638
2         0.975493     0.015511      0.089304       0.016859        0.011581
3         0.986228     0.010515     -0.013303       0.016859        0.011581
4         0.975493    -0.007170     -0.016975       0.000250        0.001600
...            ...          ...           ...            ...             ...
1902      0.986228     0.001887     -0.020295      -0.002557       -0.002537
1903      0.958067     0.021938      0.024560       0.007070        0.004082
1904      0.986228     0.005650     -0.004660       0.007070        0.004082
1905      0.958067    -0.003578      0.027675       0.002628        0.003331
1906      0.986228    -0.007491      0.001890       0.002628        0.003331

        d_volume    d_amount_x    TORate  allZT  hasZT  isZT  allDT  hasDT  \
0     25133088.0  7.838064e+08  0.054065    0.0    0.0   0.0    0.0    0.0
1      4375066.0  4.130832e+07  0.006561    0.0    0.0   0.0    0.0    0.0
2     17723822.0  5.602408e+08  0.038127    0.0    0.0   0.0    0.0    0.0
3      3822662.0  3.643879e+07  0.005733    0.0    0.0   0.0    0.0    0.0
4     25681986.0  8.381805e+08  0.055246    0.0    0.0   0.0    0.0    0.0
...          ...           ...       ...    ...    ...   ...    ...    ...
1902   3071700.0  3.268640e+07  0.004607    0.0    0.0   0.0    0.0    0.0
1903   9461561.0  2.631643e+08  0.020353    0.0    0.0   0.0    0.0    0.0
1904   3910306.0  4.161307e+07  0.005864    0.0    0.0   0.0    0.0    0.0
1905   4138988.0  1.151032e+08  0.008904    0.0    0.0   0.0    0.0    0.0
1906   3626900.0  3.854707e+07  0.005439    0.0    0.0   0.0    0.0    0.0

      isDT  tmrHalted  haltedDays  marketShares  totalShares  d_close_y  \
0      0.0        0.0         0.0   464866050.0  644763730.0        NaN
1      0.0        0.0         0.0   666780666.0  666961416.0        NaN
2      0.0        0.0         0.0   464866050.0  644763730.0        NaN
3      0.0        0.0         0.0   666780666.0  666961416.0        NaN
4      0.0        0.0         0.0   464866050.0  644763730.0        NaN
...    ...        ...         ...           ...          ...        ...
1902   0.0        0.0         0.0   666780666.0  666961416.0        NaN
1903   0.0        0.0         0.0   464866050.0  644763730.0        NaN
1904   0.0        0.0         0.0   666780666.0  666961416.0        NaN
1905   0.0        0.0         0.0   464866050.0  644763730.0        NaN
1906   0.0        0.0         0.0   666780666.0  666961416.0        NaN

      d_amount_y
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
...          ...
1902         NaN
1903         NaN
1904         NaN
1905         NaN
1906         NaN

[1907 rows x 27 columns]
      cum_trades_cnt  total_bid_quantity  total_ask_quantity  close  \
0               7640            11284194            16949550   9.24
1              52906             6059097             9045396  23.63
2               2625              375200              344730  25.46
3               1509             1488500             1899034   5.30
4               2383             1818500             3219081   8.56
...              ...                 ...                 ...    ...
3595            3990              375002              584400  34.77
3596             326            52034900                   0  19.09
3597             222             8505700                   0  36.50
3598            8414              230600              851950  65.83
3599               5             5417759                   0  17.42

      total_ask_vwap    cum_amount  cum_volume   open   high  prev_close  \
0               9.59  2.209757e+08    23953504   9.23   9.26        9.25
1              23.99  1.462345e+09    64218955  21.84  23.65       21.88
2              26.89  3.847116e+07     1505710  25.87  25.96       26.05
3               5.56  1.596420e+07     3027100   5.27   5.33        5.33
4               8.96  4.243135e+07     4976891   8.50   8.58        8.50
...              ...           ...         ...    ...    ...         ...
3595           37.22  9.365049e+07     2748099  34.10  34.80       35.65
3596            0.00  2.342343e+06      122700  19.09  19.09       17.35
3597            0.00  2.920000e+06       80000  36.50  36.50       33.18
3598           69.17  1.724081e+08     2603208  66.00  68.20       64.56
3599            0.00  3.555422e+04        2041  17.42  17.42       15.84

        low  total_bid_vwap     skey      date          time  \
0      9.19            9.14  2000001  20170623  110121000000
1     21.80           22.28  2000002  20170623  110121000000
2     25.31           24.82  2000004  20170623  110121000000
3      5.24            5.18  2000005  20170623  110121000000
4      8.45            8.30  2000006  20170623  110121000000
...     ...             ...      ...       ...           ...
3595  33.33           32.88  2300665  20170630   94351000000
3596  19.09           19.08  2300666  20170630   94351000000
3597  36.50           36.49  2300667  20170630   94351000000
3598  64.57           62.97  2300668  20170630   94351000000
3599  17.42           17.36  2300669  20170630   94354000000

        clockAtArrival            datetime  bid1p  bid2p  bid3p  bid4p  bid5p  \
0     1498186881000000 2017-06-23 11:01:21   9.24   9.23   9.22   9.21   9.20
1     1498186881000000 2017-06-23 11:01:21  23.63  23.62  23.61  23.60  23.59
2     1498186881000000 2017-06-23 11:01:21  25.45  25.44  25.43  25.42  25.41
3     1498186881000000 2017-06-23 11:01:21   5.29   5.28   5.27   5.26   5.25
4     1498186881000000 2017-06-23 11:01:21   8.55   8.54   8.53   8.52   8.51
...                ...                 ...    ...    ...    ...    ...    ...
3595  1498787031000000 2017-06-30 09:43:51  34.77  34.74  34.72  34.70  34.61
3596  1498787031000000 2017-06-30 09:43:51  19.09  19.08  19.07  19.06  19.05
3597  1498787031000000 2017-06-30 09:43:51  36.50  36.49  36.40  36.18  36.06
3598  1498787031000000 2017-06-30 09:43:51  65.80  65.77  65.71  65.70  65.69
3599  1498787034000000 2017-06-30 09:43:54  17.42  17.41  17.40  17.39  17.38

      bid6p  bid7p  bid8p  bid9p  bid10p  ask1p  ask2p  ask3p  ask4p  ask5p  \
0      9.19   9.18   9.17   9.16    9.15   9.25   9.26   9.27   9.28   9.29
1     23.58  23.57  23.56  23.55   23.54  23.64  23.65  23.66  23.67  23.68
2     25.40  25.39  25.38  25.37   25.36  25.46  25.49  25.50  25.51  25.52
3      5.24   5.23   5.22   5.21    5.20   5.30   5.31   5.32   5.33   5.34
4      8.50   8.49   8.48   8.47    8.46   8.56   8.57   8.58   8.59   8.60
...     ...    ...    ...    ...     ...    ...    ...    ...    ...    ...
3595  34.60  34.58  34.57  34.55   34.53  34.80  34.83  34.84  34.85  34.87
3596  19.04  19.01  19.00  18.98   18.91   0.00   0.00   0.00   0.00   0.00
3597  36.05  35.88  35.73  35.50   35.20   0.00   0.00   0.00   0.00   0.00
3598  65.68  65.65  65.63  65.61   65.60  65.82  65.83  65.85  65.86  65.87
3599  17.32  17.30  17.25  17.24   17.20   0.00   0.00   0.00   0.00   0.00

      ask6p  ask7p  ask8p  ask9p  ask10p     bid1q   bid2q   bid3q   bid4q  \
0      9.30   9.31   9.32   9.33    9.34    348083  229786  574800  552641
1     23.69  23.70  23.71  23.72   23.73     23300   18700    2600   47365
2     25.55  25.56  25.58  25.59   25.60      2800    7700   34000    3700
3      5.35   5.36   5.37   5.38    5.39     10200   98800   65400  111200
4      8.61   8.62   8.63   8.64    8.65     39800   31200   51900   26400
...     ...    ...    ...    ...     ...       ...     ...     ...     ...
3595  34.88  34.89  34.90  34.93   34.95       300    5500    1500    7400
3596   0.00   0.00   0.00   0.00    0.00  51478900   77700    3200    8800
3597   0.00   0.00   0.00   0.00    0.00   8467900    1800    1000    1300
3598  65.88  65.89  65.90  65.91   65.93       200     100    2100    9200
3599   0.00   0.00   0.00   0.00    0.00   5146359   26100    4800    4800

        bid5q    bid6q   bid7q   bid8q   bid9q  bid10q  ask1q   ask2q   ask3q  \
0     1596900  1482484  891000  485700  581800  813100  85968  279408  407866
1       60700    18600    3000   11600   27700   25300    900   75600  153700
2        2600    18500    3300    2000    1700    5300  14707     400    1400
3      212600   244300   83600   50200   42100  132800  35600   28300   36800
4       70500   156300   13900   44000   26300   38000    400   27201   53000
...       ...      ...     ...     ...     ...     ...    ...     ...     ...
3595     3200     1400     800     300     600     700    400    1100     300
3596     2100    11800    6800  216000     100    1000      0       0       0
3597      200     1000    1200     600    1300     500      0       0       0
3598      200     1200     100     100     600    1600    100    2400    1000
3599     1800     1500    3000    1000    1500     500      0       0       0

       ask4q   ask5q   ask6q  ask7q   ask8q   ask9q  ask10q  bid1n  bid2n  \
0     308260  330968  545520  97260  148480  266200  466740     47     31
1      50600   81800   99600  93900    5300   15800   85100      2     14
2       1000     200    2200   4900    2000     200    2400      9      9
3      34600   28500   39930  14600   11700   49300    8300      2     17
4      49600   86400   36500  20200   28000   59400   94200     14      7
...      ...     ...     ...    ...     ...     ...     ...    ...    ...
3595     100     900     900    400     300     600    2300      2      4
3596       0       0       0      0       0       0       0   1348     26
3597       0       0       0      0       0       0       0    413      2
3598     700     500   10700   1500    9500    2800    7900      2      1
3599       0       0       0      0       0       0       0   1985     16

      bid3n  bid4n  bid5n  bid6n  bid7n  bid8n  bid9n  bid10n  ask1n  ask2n  \
0        62    140    257    187    265    130    167     202      6     21
1         3     40     18     14      6      8     14      21      2     57
2         6      3      6     39      4      6      4       3      2      1
3        20     40     67     46     30     24     26      91      5      8
4         9     11     20     49      9     24     11      22      2      9
...     ...    ...    ...    ...    ...    ...    ...     ...    ...    ...
3595      3      3      4      3      2      1      1       2      1      2
3596      4      4      5      2      1      9      1       1      0      0
3597      1      2      1      1      1      1      2       1      0      0
3598      5      6      2      6      1      1      2       6      1      7
3599      7      2      3      2      2      1      2       1      0      0

      ask3n  ask4n  ask5n  ask6n  ask7n  ask8n  ask9n  ask10n  bid1Top1q  \
0        55     71     91    123     33     51     44      58       5883
1        46     12     69     32     87      7      5       5      22500
2         2      1      1      3      3      1      1       3        600
3        11     11     13     19      4      4     13       9       8200
4        11     23     24      8      7      6      6      31        600
...     ...    ...    ...    ...    ...    ...    ...     ...        ...
3595      1      1      2      5      1      1      1       2        100
3596      0      0      0      0      0      0      0       0     874600
3597      0      0      0      0      0      0      0       0      18700
3598      2      2      1     28      3     23      7      18        100
3599      0      0      0      0      0      0      0       0      32559

      bid1Top2q  bid1Top3q  bid1Top4q  bid1Top5q  bid1Top6q  bid1Top7q  \
0          5200        200       3800       1200       2000      20000
1           800          0          0          0          0          0
2           200        100        100        300        100        300
3          2000          0          0          0          0          0
4          3100       1000      10000       1000        100       2100
...         ...        ...        ...        ...        ...        ...
3595        200          0          0          0          0          0
3596     734200      11600     725900     501300        400     996100
3597      13600      97300     226100      64800      47400       4200
3598        100          0          0          0          0          0
3599      56700       1700      58800       6800       2200       2200

      bid1Top8q  bid1Top9q  bid1Top10q  bid1Top11q  bid1Top12q  bid1Top13q  \
0           100       1100        3000        2000         100        2100
1             0          0           0           0           0           0
2           100       1000           0           0           0           0
3             0          0           0           0           0           0
4           300       4900         100         100         500       15000
...         ...        ...         ...         ...         ...         ...
3595          0          0           0           0           0           0
3596     675200     277600      496600      995300       52400      777900
3597     199800     194300      263800      193600      498800      995500
3598          0          0           0           0           0           0
3599       5900       1100         500      115400       34500        1000

      bid1Top14q  bid1Top15q  bid1Top16q  bid1Top17q  bid1Top18q  bid1Top19q  \
0          23800         900        1100         400        2000        1000
1              0           0           0           0           0           0
2              0           0           0           0           0           0
3              0           0           0           0           0           0
4           1000           0           0           0           0           0
...          ...         ...         ...         ...         ...         ...
3595           0           0           0           0           0           0
3596      288900      400500      997300      997300      998500      990600
3597      136300      262800       58500       37700      101300      193400
3598           0           0           0           0           0           0
3599        2000         500         500       31900        2100       67800

      bid1Top20q  bid1Top21q  bid1Top22q  bid1Top23q  bid1Top24q  bid1Top25q  \
0           1000       10000      100000        8700         100        5000
1              0           0           0           0           0           0
2              0           0           0           0           0           0
3              0           0           0           0           0           0
4              0           0           0           0           0           0
...          ...         ...         ...         ...         ...         ...
3595           0           0           0           0           0           0
3596      993300      500100      990700      990300      109300      996200
3597      193900      193400      193300      193300         100      193100
3598           0           0           0           0           0           0
3599       35200        1100         200       10800       56700       12300

      bid1Top26q  bid1Top27q  bid1Top28q  bid1Top29q  bid1Top30q  bid1Top31q  \
0           1000         100         700         100         200      100000
1              0           0           0           0           0           0
2              0           0           0           0           0           0
3              0           0           0           0           0           0
4              0           0           0           0           0           0
...          ...         ...         ...         ...         ...         ...
3595           0           0           0           0           0           0
3596      991300      996300      317800      990400      998900      189100
3597      193000      192200      235500      254300      264100      193000
3598           0           0           0           0           0           0
3599        3100         100       10000      110000        7100      117200

      bid1Top32q  bid1Top33q  bid1Top34q  bid1Top35q  bid1Top36q  bid1Top37q  \
0            600        6100        1200         400        3400        1000
1              0           0           0           0           0           0
2              0           0           0           0           0           0
3              0           0           0           0           0           0
4              0           0           0           0           0           0
...          ...         ...         ...         ...         ...         ...
3595           0           0           0           0           0           0
3596      990200      992300      313200      990800      994300      992700
3597      346800      262200      192800      193200      262400      202000
3598           0           0           0           0           0           0
3599       66600        1100       10000       18800       29400        6000

      bid1Top38q  bid1Top39q  bid1Top40q  bid1Top41q  bid1Top42q  bid1Top43q  \
0           1800        1600         600        2000         800        5700
1              0           0           0           0           0           0
2              0           0           0           0           0           0
3              0           0           0           0           0           0
4              0           0           0           0           0           0
...          ...         ...         ...         ...         ...         ...
3595           0           0           0           0           0           0
3596      995500      998400      999300      612300      992800      996100
3597      192900       27300      114300        6000       11100       38800
3598           0           0           0           0           0           0
3599        9900        1500       86200       10900       67800        7500

      bid1Top44q  bid1Top45q  bid1Top46q  bid1Top47q  bid1Top48q  bid1Top49q  \
0           2500        1300       10000        6300           0           0
1              0           0           0           0           0           0
2              0           0           0           0           0           0
3              0           0           0           0           0           0
4              0           0           0           0           0           0
...          ...         ...         ...         ...         ...         ...
3595           0           0           0           0           0           0
3596      998300      777700      151500      354600       15700       10000
3597      192900        2000         800         500        8700         500
3598           0           0           0           0           0           0
3599         500        5700         300        1000         500        6800

      bid1Top50q  ask1Top1q  ask1Top2q  ask1Top3q  ask1Top4q  ask1Top5q  \