In [ ]:
import pymongo
import pandas as pd
import pickle
import datetime
import time
import gzip
import lzma
import pytz


def DB(host, db_name, user, passwd):
    auth_db = db_name if user not in ('admin', 'root') else 'admin'
    uri = 'mongodb://%s:%s@%s/?authSource=%s' % (user, passwd, host, auth_db)
    return DBObj(uri, db_name=db_name)


class DBObj(object):
    def __init__(self, uri, symbol_column='skey', db_name='white_db'):
        self.db_name = db_name
        self.uri = uri
        self.client = pymongo.MongoClient(self.uri)
        self.db = self.client[self.db_name]
        self.chunk_size = 20000
        self.symbol_column = symbol_column
        self.date_column = 'date'

    def parse_uri(self, uri):
        # mongodb://user:password@example.com
        return uri.strip().replace('mongodb://', '').strip('/').replace(':', ' ').replace('@', ' ').split(' ')

    def drop_table(self, table_name):
        self.db.drop_collection(table_name)

    def rename_table(self, old_table, new_table):
        self.db[old_table].rename(new_table)

    def write(self, table_name, df):
        if len(df) == 0: return

        multi_date = False

        if self.date_column in df.columns:
            date = str(df.head(1)[self.date_column].iloc[0])
            multi_date = len(df[self.date_column].unique()) > 1
        else:
            raise Exception('DataFrame should contain date column')

        collection = self.db[table_name]
        collection.create_index([('date', pymongo.ASCENDING), ('symbol', pymongo.ASCENDING)], background=True)
        collection.create_index([('symbol', pymongo.ASCENDING), ('date', pymongo.ASCENDING)], background=True)

        if multi_date:
            for (date, symbol), sub_df in df.groupby([self.date_column, self.symbol_column]):
                date = str(date)
                symbol = int(symbol)
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)
        else:
            for symbol, sub_df in df.groupby([self.symbol_column]):
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)

    def write_single(self, collection, date, symbol, df):
        for start in range(0, len(df), self.chunk_size):
            end = min(start + self.chunk_size, len(df))
            df_seg = df[start:end]
            version = 1
            seg = {'ver': version, 'data': self.ser(df_seg, version), 'date': date, 'symbol': symbol, 'start': start}
            collection.insert_one(seg)

    def build_query(self, start_date=None, end_date=None, symbol=None):
        query = {}

        def parse_date(x):
            if type(x) == str:
                if len(x) != 8:
                    raise Exception("`date` must be YYYYMMDD format")
                return x
            elif type(x) == datetime.datetime or type(x) == datetime.date:
                return x.strftime("%Y%m%d")
            elif type(x) == int:
                return parse_date(str(x))
            else:
                raise Exception("invalid `date` type: " + str(type(x)))

        if start_date is not None or end_date is not None:
            query['date'] = {}
            if start_date is not None:
                query['date']['$gte'] = parse_date(start_date)
            if end_date is not None:
                query['date']['$lte'] = parse_date(end_date)

        def parse_symbol(x):
            if type(x) == int:
                return x
            else:
                return int(x)

        if symbol:
            if type(symbol) == list or type(symbol) == tuple:
                query['symbol'] = {'$in': [parse_symbol(x) for x in symbol]}
            else:
                query['symbol'] = parse_symbol(symbol)

        return query

    def delete(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot delete the whole table')
            return None

        collection.delete_many(query)

    def read(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot read the whole table')
            return None

        segs = []
        for x in collection.find(query):
            x['data'] = self.deser(x['data'], x['ver'])
            segs.append(x)
        segs.sort(key=lambda x: (x['symbol'], x['date'], x['start']))
        return pd.concat([x['data'] for x in segs], ignore_index=True) if segs else None

    def list_tables(self):
        return self.db.collection_names()

    def list_dates(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]
        dates = set()
        if start_date is None:
            start_date = '00000000'
        if end_date is None:
            end_date = '99999999'
        for x in collection.find(self.build_query(start_date, end_date, symbol), {"date": 1, '_id': 0}):
            dates.add(x['date'])
        return sorted(list(dates))

    def ser(self, s, version):
        pickle_protocol = 4
        if version == 1:
            return gzip.compress(pickle.dumps(s, protocol=pickle_protocol), compresslevel=2)
        elif version == 2:
            return lzma.compress(pickle.dumps(s, protocol=pickle_protocol), preset=1)
        else:
            raise Exception('unknown version')

    def deser(self, s, version):
        def unpickle(s):
            return pickle.loads(s)

        if version == 1:
            return unpickle(gzip.decompress(s))
        elif version == 2:
            return unpickle(lzma.decompress(s))
        else:
            raise Exception('unknown version')


def patch_pandas_pickle():
    if pd.__version__ < '0.24':
        import sys
        from types import ModuleType
        from pandas.core.internals import BlockManager
        pkg_name = 'pandas.core.internals.managers'
        if pkg_name not in sys.modules:
            m = ModuleType(pkg_name)
            m.BlockManager = BlockManager
            sys.modules[pkg_name] = m
patch_pandas_pickle()












import pandas as pd
import random
import numpy as np
import glob
import os
import pickle
import datetime
import time
pd.set_option("max_columns", 200)

startTm = datetime.datetime.now()
readPath = '/home/work516/day_stock/***'
dataPathLs = np.array(glob.glob(readPath))
dataPathLs = dataPathLs[[np.array([os.path.basename(i).split('.')[0][:2] == 'SZ' for i in dataPathLs])]]
db = pd.DataFrame()
for p in dataPathLs:
    dayData = pd.read_csv(p, compression='gzip')
    db = pd.concat([db, dayData])
print(datetime.datetime.now() - startTm)

year = "2019"
startDate = '20190101'
endDate = '20191231'
readPath = '/mnt/usb/data/' + year + '/***/***'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([os.path.basename(i).split('_')[0] for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]
date_list = pd.read_csv("/home/work516/KR_upload_code/trading_days.csv")
wr_ong = []
mi_ss = []
less = []

for data in dataPathLs:    
    
    if len(np.array(glob.glob(data + '/SZ/***'))) == 0:
        if int(os.path.basename(data)) not in date_list["Date"].values:
            continue
        else:
            print(os.path.basename(data) + " less data!!!!!!!!!!!!!!!!!")
            less.append(data)
            continue
    startTm = datetime.datetime.now()
    date = os.path.basename(data)
    rar_path = data + '/SZ/snapshot.7z'
    path = '/mnt/e/unzip_data/2019/SZ'
    path1 = path + '/' + date
    un_path = path1
    cmd = '7za x {} -o{}'.format(rar_path, un_path)
    os.system(cmd)
    print(datetime.datetime.now() - startTm)
    print(date + ' unzip finished')
    
    readPath = path1 + '/snapshot/***2/***'
    dataPathLs = np.array(glob.glob(readPath))
    dateLs = np.array([int(os.path.basename(i).split('.')[0]) for i in dataPathLs])
    dataPathLs = dataPathLs[(dateLs < 4000) | ((dateLs > 300000) & (dateLs < 310000))]
    SZ = []
    ll = []
    startTm = datetime.datetime.now()
    for i in dataPathLs:
        try:
            df = pd.read_csv(i, usecols = [0,1,4,5,6,7,9,12,17,18,19,24,25,26,28,29,30,32,33,34,35])
        except:
            print("empty data")
            print(i)
            ll.append(int(os.path.basename(i).split('.')[0]))
            continue
        df["StockID"] = int(os.path.basename(i).split('.')[0])
        SZ += [df]
    del df
    SZ = pd.concat(SZ).reset_index(drop=True)
    print(datetime.datetime.now() - startTm)
    
    startTm = datetime.datetime.now()
    SZ["skey"] = SZ["StockID"] + 2000000
    SZ.drop(["StockID"],axis=1,inplace=True)
    SZ["date"] = int(SZ["QuotTime"].iloc[0]//1000000000)
    SZ["time"] = (SZ['QuotTime'] - int(SZ['QuotTime'].iloc[0]//1000000000*1000000000)).astype(np.int64) * 1000
    SZ["clockAtArrival"] = SZ["QuotTime"].astype(str).apply(lambda x: np.int64(datetime.datetime.strptime(x, '%Y%m%d%H%M%S%f').timestamp()*1e6))
    SZ['datetime'] = SZ["clockAtArrival"].apply(lambda x: datetime.datetime.fromtimestamp(x/1e6))
    SZ.drop(["QuotTime"],axis=1,inplace=True)
    print(datetime.datetime.now() - startTm)
    
    startTm = datetime.datetime.now()
    SZ["BidPrice"] = SZ["BidPrice"].apply(lambda x: [float(i) for i in x[1:-1].split(',')])
    SZ["OfferPrice"] = SZ["OfferPrice"].apply(lambda x: [float(i) for i in x[1:-1].split(',')])
    SZ["BidOrderQty"] = SZ["BidOrderQty"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["OfferOrderQty"] = SZ["OfferOrderQty"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["BidNumOrders"] = SZ["BidNumOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["OfferNumOrders"] = SZ["OfferNumOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])

    for i in range(1, 11):
        SZ["bid" + str(i) + 'p'] = SZ["BidPrice"].apply(lambda x: x[i-1],2)
    SZ.drop(["BidPrice"],axis=1,inplace=True)
    print("1")
    for i in range(1, 11):
        SZ["ask" + str(i) + 'p'] = SZ["OfferPrice"].apply(lambda x: x[i-1],2)
    SZ.drop(["OfferPrice"],axis=1,inplace=True)
    print("2")
    for i in range(1, 11):
        SZ["bid" + str(i) + 'q'] = SZ["BidOrderQty"].apply(lambda x: x[i-1])
    SZ.drop(["BidOrderQty"],axis=1,inplace=True)
    print("3")
    for i in range(1, 11):
        SZ["ask" + str(i) + 'q'] = SZ["OfferOrderQty"].apply(lambda x: x[i-1])
    SZ.drop(["OfferOrderQty"],axis=1,inplace=True)
    print("4")
    for i in range(1, 11):
        SZ["bid" + str(i) + 'n'] = SZ["BidNumOrders"].apply(lambda x: x[i-1])
        SZ["bid" + str(i) + 'n'] = SZ["bid" + str(i) + 'n'].astype('int32')
    SZ.drop(["BidNumOrders"],axis=1,inplace=True)
    print("5")
    for i in range(1, 11):
        SZ["ask" + str(i) + 'n'] = SZ["OfferNumOrders"].apply(lambda x: x[i-1])
        SZ["ask" + str(i) + 'n'] = SZ["ask" + str(i) + 'n'].astype('int32') 
    SZ.drop(["OfferNumOrders"],axis=1,inplace=True)
    print("6")
    
    SZ["BidOrders"] = SZ["BidOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["OfferOrders"] = SZ["OfferOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])

    for i in range(1, 51):
        SZ["bid1Top" + str(i) + 'q'] = SZ["BidOrders"].apply(lambda x: x[i-1])
        SZ["bid1Top" + str(i) + 'q'] = SZ["bid1Top" + str(i) + 'q'].astype('int32') 
    SZ.drop(["BidOrders"],axis=1,inplace=True)
    print("7")
    
    for i in range(1, 51):
        SZ["ask1Top" + str(i) + 'q'] = SZ["OfferOrders"].apply(lambda x: x[i-1])
        SZ["ask1Top" + str(i) + 'q'] = SZ["ask1Top" + str(i) + 'q'].astype('int32') 
    SZ.drop(["OfferOrders"],axis=1,inplace=True)
    print("8")
    print(datetime.datetime.now() - startTm)
        
    
    startTm = datetime.datetime.now()
    SZ.columns = ['cum_trades_cnt', 'total_bid_quantity', 'total_ask_quantity', 'close',
       'total_ask_vwap', 'cum_amount', 'cum_volume', 'open', 'high',
       'prev_close', 'low', 'total_bid_vwap', 'skey', 'date', 'time',
       'clockAtArrival', 'datetime', 'bid1p', 'bid2p', 'bid3p', 'bid4p',
       'bid5p', 'bid6p', 'bid7p', 'bid8p', 'bid9p', 'bid10p', 'ask1p',
       'ask2p', 'ask3p', 'ask4p', 'ask5p', 'ask6p', 'ask7p', 'ask8p',
       'ask9p', 'ask10p', 'bid1q', 'bid2q', 'bid3q', 'bid4q', 'bid5q',
       'bid6q', 'bid7q', 'bid8q', 'bid9q', 'bid10q', 'ask1q', 'ask2q',
       'ask3q', 'ask4q', 'ask5q', 'ask6q', 'ask7q', 'ask8q', 'ask9q',
       'ask10q', 'bid1n', 'bid2n', 'bid3n', 'bid4n', 'bid5n', 'bid6n',
       'bid7n', 'bid8n', 'bid9n', 'bid10n', 'ask1n', 'ask2n', 'ask3n',
       'ask4n', 'ask5n', 'ask6n', 'ask7n', 'ask8n', 'ask9n', 'ask10n',
       'bid1Top1q', 'bid1Top2q', 'bid1Top3q', 'bid1Top4q', 'bid1Top5q',
       'bid1Top6q', 'bid1Top7q', 'bid1Top8q', 'bid1Top9q', 'bid1Top10q',
       'bid1Top11q', 'bid1Top12q', 'bid1Top13q', 'bid1Top14q',
       'bid1Top15q', 'bid1Top16q', 'bid1Top17q', 'bid1Top18q',
       'bid1Top19q', 'bid1Top20q', 'bid1Top21q', 'bid1Top22q',
       'bid1Top23q', 'bid1Top24q', 'bid1Top25q', 'bid1Top26q',
       'bid1Top27q', 'bid1Top28q', 'bid1Top29q', 'bid1Top30q',
       'bid1Top31q', 'bid1Top32q', 'bid1Top33q', 'bid1Top34q',
       'bid1Top35q', 'bid1Top36q', 'bid1Top37q', 'bid1Top38q',
       'bid1Top39q', 'bid1Top40q', 'bid1Top41q', 'bid1Top42q',
       'bid1Top43q', 'bid1Top44q', 'bid1Top45q', 'bid1Top46q',
       'bid1Top47q', 'bid1Top48q', 'bid1Top49q', 'bid1Top50q',
       'ask1Top1q', 'ask1Top2q', 'ask1Top3q', 'ask1Top4q', 'ask1Top5q',
       'ask1Top6q', 'ask1Top7q', 'ask1Top8q', 'ask1Top9q', 'ask1Top10q',
       'ask1Top11q', 'ask1Top12q', 'ask1Top13q', 'ask1Top14q',
       'ask1Top15q', 'ask1Top16q', 'ask1Top17q', 'ask1Top18q',
       'ask1Top19q', 'ask1Top20q', 'ask1Top21q', 'ask1Top22q',
       'ask1Top23q', 'ask1Top24q', 'ask1Top25q', 'ask1Top26q',
       'ask1Top27q', 'ask1Top28q', 'ask1Top29q', 'ask1Top30q',
       'ask1Top31q', 'ask1Top32q', 'ask1Top33q', 'ask1Top34q',
       'ask1Top35q', 'ask1Top36q', 'ask1Top37q', 'ask1Top38q',
       'ask1Top39q', 'ask1Top40q', 'ask1Top41q', 'ask1Top42q',
       'ask1Top43q', 'ask1Top44q', 'ask1Top45q', 'ask1Top46q',
       'ask1Top47q', 'ask1Top48q', 'ask1Top49q', 'ask1Top50q']
    
    SZ = SZ.fillna(0)
#     SZ["p1"] = SZ["bid1p"] + SZ["ask1p"]
#     tt = SZ[(SZ["cum_volume"] > 0) & (SZ["time"] < 145700000000)].groupby("skey")['p1'].min()
#     SZ.drop("p1", axis=1, inplace=True)
#     try:
#         assert(tt[tt == 0].shape[0] == 0)
#     except:
#         display(tt[tt == 0])
#     SZ = SZ[~((SZ["bid1p"] == 0) & (SZ["ask1p"] == 0))]
    SZ["ordering"] = SZ.groupby("skey").cumcount()
    SZ["ordering"] = SZ["ordering"] + 1

    for cols in ["total_bid_orders",'total_ask_orders','total_bid_levels', 'total_ask_levels', 'bid_trade_max_duration',
                 'ask_trade_max_duration', 'cum_canceled_buy_orders', 'cum_canceled_buy_volume', "cum_canceled_buy_amount",
                 "cum_canceled_sell_orders", 'cum_canceled_sell_volume',"cum_canceled_sell_amount", "has_missing"]:
        SZ[cols] = 0
        
#     for col in ["cum_volume", "total_bid_quantity", "total_ask_quantity",'cum_canceled_buy_volume',
#         'cum_canceled_sell_volume']:
#         SZ[col] = SZ[col].astype('int64')
    
    for col in ["skey", "date", "cum_trades_cnt", "total_bid_orders",
        'total_ask_orders', 'total_bid_levels', 'total_ask_levels', 'cum_canceled_buy_orders','cum_canceled_sell_orders',
            "ordering", 'bid_trade_max_duration', 'ask_trade_max_duration','has_missing']:
        SZ[col] = SZ[col].astype('int32')
    
        
#     for cols in ["prev_close", 'open', "high", "low", "close", 'bid10p','bid9p','bid8p','bid7p','bid6p','bid5p','bid4p','bid3p',
#              'bid2p','bid1p','ask1p','ask2p','ask3p','ask4p','ask5p','ask6p','ask7p','ask8p','ask9p','ask10p', 'total_bid_vwap', "total_ask_vwap",
#                 "cum_amount"]:
# #         SZ[cols] = SZ[cols].apply(lambda x: round(x, 2)).astype('float64')
#         print(cols)
#         print(SZ[cols].astype(str).apply(lambda x: len(str(x.split('.')[1]))).unique())

        
    for cols in ["cum_canceled_sell_amount", "cum_canceled_buy_amount"]:
        SZ[cols] = SZ[cols].astype('float64')

        
    assert(sum(SZ[SZ["open"] != 0].groupby("skey")["open"].nunique() != 1) == 0)
    assert(sum(SZ[SZ["prev_close"] != 0].groupby("skey")["prev_close"].nunique() != 1) == 0)
    SZ["prev_close"] = np.where(SZ["time"] >= 91500000000, SZ.groupby("skey")["prev_close"].transform("max"), SZ["prev_close"]) 
    SZ["open"] = np.where(SZ["cum_volume"] > 0, SZ.groupby("skey")["open"].transform("max"), SZ["open"])
    assert(sum(SZ[SZ["open"] != 0].groupby("skey")["open"].nunique() != 1) == 0)
    assert(sum(SZ[SZ["prev_close"] != 0].groupby("skey")["prev_close"].nunique() != 1) == 0)
    assert(SZ[SZ["cum_volume"] > 0]["open"].min() > 0)
    
    print(datetime.datetime.now() - startTm)
    
    
    # check 1
    startTm = datetime.datetime.now()
    da_te = str(SZ["date"].iloc[0]) 
    da_te = da_te[:4] + '-' + da_te[4:6] + '-' + da_te[6:8]
    db1 = db[db["date"] == da_te]
    db1["ID"] = db1["ID"].str[2:].astype(int) + 2000000
    db1["date"] = (db1["date"].str[:4] + db1["date"].str[5:7] + db1["date"].str[8:]).astype(int)
    SZ["cum_max"] = SZ.groupby("skey")["cum_volume"].transform(max)
    s2 = SZ[SZ["cum_volume"] == SZ["cum_max"]].groupby("skey").first().reset_index()
    SZ.drop("cum_max", axis=1, inplace=True)
    s2 = s2.rename(columns={"skey": "ID", 'open':"d_open", "prev_close":"d_yclose","high":"d_high", "low":"d_low", "close":"d_close", "cum_volume":"d_volume", "cum_amount":"d_amount"})
    s2 = s2[["ID", "date", "d_open", "d_yclose", "d_high", "d_low", "d_close", "d_volume", "d_amount"]]
    re = pd.merge(db1, s2, on=["ID", "date", "d_open", "d_yclose","d_high", "d_low", "d_volume"], how="outer")
    try:
        assert(sum(re["d_amount_y"].isnull()) == 0)
    except:
        display(re[re["d_amount_y"].isnull()])
        wr_ong += [re[re["d_amount_y"].isnull()]]
    del re
    del s2
    del db1
    print(datetime.datetime.now() - startTm)
    
    # check 2
    # first part
    startTm = datetime.datetime.now()
    date = pd.DataFrame(pd.date_range(start='2019-06-10 08:30:00', end='2019-06-10 18:00:00', freq='s'), columns=["Orig"])
    date["time"] = date["Orig"].apply(lambda x: int(x.strftime("%H%M%S"))*1000)
    date["group"] = date["time"]//10000
    SZ["group"] = SZ["time"]//10000000
    gl = date[((date["time"] >= 93000000) & (date["time"] <= 113000000))|((date["time"] >= 130000000) & (date["time"] <= 150000000))]["group"].unique()
    l = set(gl) - set(SZ["group"].unique())
    SZ["has_missing1"] = 0 
    if len(l) != 0:
        print("massive missing")
        print(l)
        SZ["order"] = SZ.groupby(["skey", "time"]).cumcount()
        for i in l:
            SZ["t"] = SZ[SZ["group"] > i].groupby("StockID")["time"].transform("min")
            SZ["has_missing1"] = np.where((SZ["time"] == SZ["t"]) & (SZ["order"] == 0), 1, 0)
        SZ.drop(["order", "t", "group"], axis=1, inplace=True)   
    else:
        print("no massive missing")
        SZ.drop(["group"], axis=1, inplace=True)
    



    # second part

    SZ["time_interval"] = SZ.groupby("skey")["datetime"].apply(lambda x: x - x.shift(1))
    SZ["time_interval"] = SZ["time_interval"].apply(lambda x: x.seconds)
    SZ["tn_update"] = SZ.groupby("skey")["cum_trades_cnt"].apply(lambda x: x-x.shift(1))

    f1 = SZ[(SZ["time"] >= 93000000000) & (SZ["tn_update"] != 0)].groupby("skey")["time"].min().reset_index()
    f1 = f1.rename(columns={"time": "time1"})
    f2 = SZ[(SZ["time"] >= 130000000000) & (SZ["tn_update"] != 0)].groupby("skey")["time"].min().reset_index()
    f2 = f2.rename(columns={"time": "time2"})
    f3 = SZ[(SZ["time"] >= 150000000000) & (SZ["tn_update"] != 0)].groupby("skey")["time"].min().reset_index()
    f3 = f3.rename(columns={"time": "time3"})
    SZ = pd.merge(SZ, f1, on="skey", how="left")
    del f1
    SZ = pd.merge(SZ, f2, on="skey", how="left")
    del f2
    SZ = pd.merge(SZ, f3, on="skey", how="left")
    del f3
    p99 = SZ[(SZ["time"] > 93000000000) & (SZ["time"] < 145700000000) & (SZ["time"] != SZ["time2"]) & (SZ["tn_update"] != 0)]\
    .groupby("skey")["tn_update"].apply(lambda x: x.describe([0.99])["99%"]).reset_index()
    p99 = p99.rename(columns={"tn_update":"99%"})
    SZ = pd.merge(SZ, p99, on="skey", how="left")

    SZ["has_missing2"] = 0
    SZ["has_missing2"] = np.where((SZ["time_interval"] > 60) & (SZ["tn_update"] > SZ["99%"]) & 
         (SZ["time"] > SZ["time1"]) & (SZ["time"] != SZ["time2"]) & (SZ["time"] != SZ["time3"])& (SZ["time"] != 100000000000), 1, 0)
    SZ.drop(["time_interval", "tn_update", "time1", "time2", "time3", "99%"], axis=1, inplace=True) 

    SZ["has_missing"] = np.where((SZ["has_missing1"] == 1) | (SZ["has_missing2"] == 1), 1, 0)
    SZ.drop(["has_missing1", "has_missing2"], axis=1, inplace=True) 
    if SZ[SZ["has_missing"] == 1].shape[0] != 0:
        print("has missing!!!!!!!!!!!!!!!!!!!!!!!")
        print(SZ[SZ["has_missing"] == 1].shape[0])
        mi_ss += [SZ[SZ["has_missing"] == 1]]
    print(datetime.datetime.now() - startTm)

    
    
    startTm = datetime.datetime.now()
    SZ["has_missing"] = SZ["has_missing"].astype('int32')
    SZ = SZ[["skey", "date", "time", "clockAtArrival", "datetime", "ordering", "has_missing", "cum_trades_cnt", "cum_volume", "cum_amount", "prev_close",
                            "open", "high", "low", "close", 'bid10p','bid9p','bid8p','bid7p','bid6p','bid5p','bid4p','bid3p','bid2p','bid1p',
                            'ask1p','ask2p','ask3p','ask4p','ask5p','ask6p','ask7p','ask8p','ask9p','ask10p', 'bid10q','bid9q','bid8q',
                             'bid7q','bid6q','bid5q','bid4q','bid3q','bid2q','bid1q', 'ask1q','ask2q','ask3q','ask4q','ask5q','ask6q',
                             'ask7q','ask8q','ask9q','ask10q', 'bid10n', 'bid9n', 'bid8n', 'bid7n', 'bid6n', 'bid5n', 'bid4n', 'bid3n', 'bid2n', 'bid1n', 
                             'ask1n', 'ask2n', 'ask3n', 'ask4n', 'ask5n', 'ask6n','ask7n', 'ask8n', 'ask9n', 'ask10n','bid1Top1q','bid1Top2q','bid1Top3q','bid1Top4q','bid1Top5q','bid1Top6q',
        'bid1Top7q','bid1Top8q','bid1Top9q','bid1Top10q','bid1Top11q','bid1Top12q','bid1Top13q','bid1Top14q','bid1Top15q','bid1Top16q','bid1Top17q','bid1Top18q',
        'bid1Top19q','bid1Top20q','bid1Top21q','bid1Top22q','bid1Top23q','bid1Top24q','bid1Top25q','bid1Top26q','bid1Top27q','bid1Top28q','bid1Top29q',
        'bid1Top30q','bid1Top31q','bid1Top32q','bid1Top33q','bid1Top34q','bid1Top35q','bid1Top36q','bid1Top37q','bid1Top38q','bid1Top39q','bid1Top40q',
        'bid1Top41q','bid1Top42q','bid1Top43q','bid1Top44q','bid1Top45q','bid1Top46q','bid1Top47q','bid1Top48q','bid1Top49q','bid1Top50q', 'ask1Top1q',
        'ask1Top2q','ask1Top3q','ask1Top4q','ask1Top5q','ask1Top6q','ask1Top7q','ask1Top8q','ask1Top9q','ask1Top10q','ask1Top11q','ask1Top12q','ask1Top13q',
        'ask1Top14q','ask1Top15q','ask1Top16q','ask1Top17q','ask1Top18q','ask1Top19q','ask1Top20q','ask1Top21q','ask1Top22q','ask1Top23q',
        'ask1Top24q','ask1Top25q','ask1Top26q','ask1Top27q','ask1Top28q','ask1Top29q','ask1Top30q','ask1Top31q','ask1Top32q','ask1Top33q',
        'ask1Top34q','ask1Top35q','ask1Top36q','ask1Top37q','ask1Top38q','ask1Top39q','ask1Top40q','ask1Top41q','ask1Top42q','ask1Top43q',
        'ask1Top44q','ask1Top45q','ask1Top46q','ask1Top47q','ask1Top48q','ask1Top49q','ask1Top50q',"total_bid_quantity", "total_ask_quantity","total_bid_vwap", "total_ask_vwap",
        "total_bid_orders",'total_ask_orders','total_bid_levels', 'total_ask_levels', 'bid_trade_max_duration', 'ask_trade_max_duration', 'cum_canceled_buy_orders', 'cum_canceled_buy_volume',
        "cum_canceled_buy_amount", "cum_canceled_sell_orders", 'cum_canceled_sell_volume',"cum_canceled_sell_amount"]]
    
    display(SZ["date"].iloc[0])
    print("SZ finished")
    
    
    database_name = 'com_md_eq_cn'
    user = "zhenyuy"
    password = "bnONBrzSMGoE"

    db1 = DB("192.168.10.223", database_name, user, password)
    db1.write('md_snapshot_l2', SZ)
    
    del SZ
    print(datetime.datetime.now() - startTm)

wr_ong = pd.concat(wr_ong).reset_index(drop=True)
print(wr_ong)
mi_ss = pd.concat(mi_ss).reset_index(drop=True)
print(mi_ss)

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:203: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.

0:06:08.517068
0:01:03.339054
20190102 unzip finished
0:01:02.650814
0:01:43.807018
1
2
3
4
5
6
7
8
0:12:55.138780
0:00:33.716419

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
993,2001914,20190102,7.48,7.58,7.42,7.44,7.48,0.973838,-0.005348,-0.002681,-0.008656,-0.004853,1484088.0,11059300.11,0.002226,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.851697
no massive missing
0:02:35.089631

20190102

SZ finished
0:01:06.628032
0:00:54.196531
20190103 unzip finished
0:00:56.925131
0:01:50.961215
1
2
3
4
5
6
7
8
0:13:28.697470
0:00:36.657472

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
993,2001914,20190103,7.41,7.62,7.18,7.55,7.44,0.973838,0.014785,0.006667,-0.004635,-0.007183,3523797.0,26558986.95,0.005284,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.498086
no massive missing
0:02:50.859083

20190103

SZ finished
0:01:08.612706
0:01:05.096760
20190104 unzip finished
0:01:19.757510
0:02:02.710155
1
2
3
4
5
6
7
8
0:14:58.876167
0:00:39.046234

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
993,2001914,20190104,7.46,7.78,7.42,7.76,7.55,0.973838,0.027815,0.033289,0.023845,0.027653,3647801.0,27877048.68,0.00547,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.098781
no massive missing
0:03:08.385341

20190104

SZ finished
0:01:18.201823
0:00:58.411692
20190107 unzip finished
0:01:04.883449
0:02:03.045171
1
2
3
4
5
6
7
8
0:15:07.536039
0:00:40.897316

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
993,2001914,20190107,7.71,7.95,7.71,7.95,7.76,0.973838,0.024485,0.065684,0.018392,0.0214,3747879.0,29401749.87,0.005621,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.998111
no massive missing
0:03:24.374492

20190107

SZ finished
0:01:24.420557
0:01:09.898125
20190108 unzip finished
0:00:57.331150
0:01:49.660844
1
2
3
4
5
6
7
8
0:14:36.455699
0:00:44.262735

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
993,2001914,20190108,7.93,7.97,7.84,7.94,7.95,0.973838,-0.001258,0.061497,-0.002571,-0.001984,2170084.0,17154895.17,0.003254,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.291738
no massive missing
0:03:00.941464

20190108

SZ finished
0:01:22.751865
0:00:52.522152
20190109 unzip finished
0:01:01.040475
0:02:02.252932
1
2
3
4
5
6
7
8
0:16:03.588789
0:00:41.420192

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
993,2001914,20190109,7.9,7.98,7.84,7.85,7.94,0.973838,-0.011335,0.055108,0.002683,0.002117,3183084.0,25205117.58,0.004774,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.473902
no massive missing
0:03:39.907579

20190109

SZ finished
0:01:18.167709
0:00:57.897362
20190110 unzip finished
0:00:58.716190
0:01:55.327573
1
2
3
4
5
6
7
8
0:15:30.687771
0:00:51.411803

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
993,2001914,20190110,7.85,7.9,7.81,7.84,7.85,0.973838,-0.001274,0.038411,-0.001611,-0.002667,1284462.0,10078827.78,0.001926,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:06.504822
no massive missing
0:02:59.743540

20190110

SZ finished
0:01:14.319045
0:00:48.709412
20190111 unzip finished
0:00:58.604911
0:01:53.986502
1
2
3
4
5
6
7
8
0:14:29.094065
0:00:41.630962

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
993,2001914,20190111,7.85,7.89,7.78,7.88,7.84,0.973838,0.005102,0.015464,0.00771,0.008539,1832879.0,14370527.04,0.002749,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.270505
no massive missing
0:02:39.515093

20190111

SZ finished
0:01:11.517984
0:01:00.224362
20190114 unzip finished
0:01:09.940511
0:01:51.104754
1
2
3
4
5
6
7
8
0:14:53.160754
0:00:38.922273

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
993,2001914,20190114,7.9,7.93,7.68,7.73,7.88,0.973838,-0.019036,-0.027673,-0.006565,-0.005933,1912636.0,14871870.42,0.002868,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.901394
no massive missing
0:02:36.313122

20190114

SZ finished
0:01:15.444545
0:01:13.918925
20190115 unzip finished
0:01:00.012963
0:01:54.264735
1
2
3
4
5
6
7
8
0:14:56.790410
0:00:43.424431

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
993,2001914,20190115,7.73,7.81,7.68,7.75,7.73,0.973838,0.002587,-0.023929,0.014186,0.010878,1799500.0,13922067.0,0.002699,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.532862
no massive missing
0:03:02.756138

20190115

SZ finished
0:01:15.322102
0:01:03.029458
20190116 unzip finished
0:00:58.142428
0:01:55.120772
1
2
3
4
5
6
7
8
0:14:50.246704
0:00:55.518475

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
994,2001914,20190116,7.75,7.98,7.74,7.95,7.75,0.973838,0.025806,0.012739,-0.00241,-0.001501,3419932.0,27017994.24,0.005129,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:07.018795
no massive missing
0:03:06.638202

20190116

SZ finished
0:01:09.150756
0:00:49.223642
20190117 unzip finished
0:00:57.508825
0:01:55.217134
1
2
3
4
5
6
7
8
0:14:46.201877
0:00:55.340464

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
994,2001914,20190117,7.94,7.95,7.77,7.77,7.95,0.973838,-0.022642,-0.008929,-0.007643,-0.008994,2240500.0,17559834.98,0.00336,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.051202
no massive missing
0:02:57.956667

20190117

SZ finished
0:01:17.612776
0:01:02.410269
20190118 unzip finished
0:00:57.851456
0:01:57.052686
1
2
3
4
5
6
7
8
0:14:31.521864
0:00:38.107943

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
994,2001914,20190118,7.75,7.82,7.72,7.79,7.77,0.973838,0.002574,-0.011421,0.010242,0.006729,2357000.0,18323030.0,0.003535,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.295652
no massive missing
0:03:09.671971

20190118

SZ finished
0:01:16.533744
0:00:53.074361
20190121 unzip finished
0:00:57.855561
0:01:54.855199
1
2
3
4
5
6
7
8
0:15:07.500637
0:00:57.408804

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
993,2001914,20190121,7.81,7.88,7.67,7.74,7.79,0.973838,-0.006418,0.001294,0.005939,0.006203,2361718.0,18362042.54,0.003542,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:06.559804
no massive missing
0:03:10.736475

20190121

SZ finished
0:01:14.402155
0:00:53.982142
20190122 unzip finished
0:00:56.664099
0:01:51.781539
1
2
3
4
5
6
7
8
0:14:45.816526
0:00:40.312909

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
992,2001914,20190122,7.79,7.81,7.66,7.74,7.74,0.973838,0.0,-0.00129,-0.014949,-0.011151,2572745.0,19910513.08,0.003858,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.266136
no massive missing
0:02:41.970312

20190122

SZ finished
0:01:13.438591
0:00:49.040659
20190123 unzip finished
0:01:00.038179
0:01:49.826676
1
2
3
4
5
6
7
8
0:14:13.572285
0:00:43.546518

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
992,2001914,20190123,7.75,7.75,7.66,7.74,7.74,0.973838,0.0,-0.026415,0.001725,0.001405,1354203.0,10434827.97,0.002031,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:07.108379
no massive missing
0:02:38.715973

20190123

SZ finished
0:01:09.077184
0:00:54.042536
20190124 unzip finished
0:00:57.727148
0:01:54.948134
1
2
3
4
5
6
7
8
0:14:41.154261
0:00:45.662885

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
992,2001914,20190124,7.79,7.82,7.72,7.78,7.74,0.973838,0.005168,0.001287,0.00521,0.005657,2977257.0,23146333.97,0.004465,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.331318
no massive missing
0:02:53.215081

20190124

SZ finished
0:01:27.464526
0:01:04.473285
20190125 unzip finished
0:00:59.038930
0:01:53.638141
1
2
3
4
5
6
7
8
0:14:42.843538
0:00:48.505874

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
992,2001914,20190125,7.75,7.84,7.74,7.79,7.78,0.973838,0.001285,0.0,-0.004548,-0.005997,2077062.0,16188605.92,0.003115,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:10.711719
no massive missing
0:02:45.487565

20190125

SZ finished
0:01:11.159720
0:00:46.947862
20190128 unzip finished
0:01:03.768623
0:01:55.919230
1
2
3
4
5
6
7
8
0:14:37.217769
0:00:38.224191

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
993,2001914,20190128,7.84,7.88,7.7,7.71,7.79,0.973838,-0.01027,-0.003876,-0.002599,-0.008148,2499185.0,19423594.21,0.003748,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.231384
no massive missing
0:03:18.570594

20190128

SZ finished
0:01:28.252335
0:00:57.302345
20190129 unzip finished
0:00:56.949984
0:01:58.156211
1
2
3
4
5
6
7
8
0:15:01.389089
0:00:43.659053

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
994,2001914,20190129,7.68,7.69,7.37,7.61,7.71,0.973838,-0.01297,-0.016796,-0.012289,-0.01758,2883388.0,21659758.7,0.004324,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.212908
no massive missing
0:03:07.501216

20190129

SZ finished
0:01:15.650100
0:00:45.781890
20190130 unzip finished
0:00:54.173963
0:01:48.072446
1
2
3
4
5
6
7
8
0:13:49.247675
0:00:43.298030

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
994,2001914,20190130,7.49,7.62,7.47,7.5,7.61,0.973838,-0.014455,-0.031008,-0.010028,-0.014903,2293462.0,17275411.79,0.003439,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.631521
no massive missing
0:03:08.008992

20190130

SZ finished
0:01:10.945337
0:00:49.624637
20190131 unzip finished
0:00:58.913205
0:01:55.920332
1
2
3
4
5
6
7
8
0:15:09.151550
0:00:40.277135

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
994,2001914,20190131,7.49,7.6,7.21,7.31,7.5,0.973838,-0.025333,-0.060411,-0.008346,-0.015238,2739777.0,20258619.37,0.004109,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.541485
no massive missing
0:02:47.659044

20190131

SZ finished
0:01:25.887252
0:01:04.264801
20190201 unzip finished
0:01:01.600460
0:01:50.208894
1
2
3
4
5
6
7
8
0:14:13.186582
0:00:37.699902

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
995,2001914,20190201,7.5,7.5,7.33,7.44,7.31,0.973838,0.017784,-0.044929,0.028205,0.029214,1502778.0,11161549.58,0.002254,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.107277
no massive missing
0:03:01.924354

20190201

SZ finished
0:01:09.399355
0:01:00.436025
20190211 unzip finished
0:00:59.921992
0:01:54.331663
1
2
3
4
5
6
7
8
0:15:19.490312
0:00:50.676304

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
995,2001914,20190211,7.45,7.66,7.45,7.64,7.44,0.973838,0.026882,-0.009079,0.025289,0.028741,2928462.0,22143814.94,0.004392,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:07.559784
no massive missing
0:03:23.136107

20190211

SZ finished
0:01:11.546360
0:01:07.727249
20190212 unzip finished
0:01:00.775048
0:02:04.019589
1
2
3
4
5
6
7
8
0:15:41.059166
0:00:52.007736

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
995,2001914,20190212,7.74,7.75,7.63,7.7,7.64,0.973838,0.007853,0.011827,0.008317,0.013869,2464338.0,18967629.76,0.003696,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.467970
no massive missing
0:03:47.193742

20190212

SZ finished
0:01:19.785659
0:01:07.568580
20190213 unzip finished
0:01:06.531907
0:02:09.455993
1
2
3
4
5
6
7
8
0:17:12.282658
0:00:47.056913

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
996,2001914,20190213,7.75,7.88,7.71,7.86,7.7,0.973838,0.020779,0.048,0.016426,0.017972,3594728.0,28082831.32,0.005391,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:06.174274
no massive missing
0:03:07.353549

20190213

SZ finished
0:01:31.697695
0:01:41.452252
20190214 unzip finished
0:00:59.399965
0:02:03.259934
1
2
3
4
5
6
7
8
0:16:21.259337
0:00:50.663496

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
996,2001914,20190214,7.86,7.92,7.8,7.86,7.86,0.973838,0.0,0.075239,0.004379,0.004248,2421625.0,19009695.35,0.003632,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.825514
no massive missing
0:02:57.717634

20190214

SZ finished
0:01:26.215994
0:01:29.842456
20190215 unzip finished
0:01:14.022858
0:02:03.549754
1
2
3
4
5
6
7
8
0:16:00.766319
0:00:45.638180

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
996,2001914,20190215,7.85,7.91,7.77,7.85,7.86,0.973838,-0.001272,0.055108,-0.006495,-0.001366,2565181.0,20152770.82,0.003847,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.929997
no massive missing
0:03:02.362405

20190215

SZ finished
0:01:22.130533
0:01:15.284245
20190218 unzip finished
0:01:26.867258
0:02:14.466532
1
2
3
4
5
6
7
8
0:17:43.716342
0:00:52.617911

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
995,2001914,20190218,7.86,8.04,7.8,8.0,7.85,0.973838,0.019108,0.04712,0.035148,0.035479,4633172.0,36730828.99,0.006948,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:06.430317
no massive missing
0:03:21.441428

20190218

SZ finished
0:01:29.841520
0:01:30.701865
20190219 unzip finished
0:01:10.560289
0:02:19.123138
1
2
3
4
5
6
7
8
0:18:05.920996
0:00:49.472568

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
995,2001914,20190219,8.04,8.08,7.8,7.88,8.0,0.973838,-0.015,0.023377,0.001348,0.004223,4655502.0,36901598.59,0.006982,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:06.288923
no massive missing
0:03:21.894536

20190219

SZ finished
0:01:31.893048
0:02:22.717332
20190220 unzip finished
0:01:02.984013
0:02:13.862115
1
2
3
4
5
6
7
8
0:16:52.323144
0:00:45.009031

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
992,2001914,20190220,7.88,7.92,7.77,7.91,7.88,0.973838,0.003807,0.006361,0.000073,0.000662,3267831.0,25667336.93,0.004901,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.994830
no massive missing
0:04:40.759654

20190220

SZ finished
0:01:28.510233
0:01:15.311367
20190221 unzip finished
0:01:10.613844
0:02:19.285659
1
2
3
4
5
6
7
8
0:18:15.892018
0:00:51.934589

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
994,2001914,20190221,7.92,7.96,7.81,7.83,7.91,0.973838,-0.010114,-0.003817,-0.001817,-0.003902,3857454.0,30462105.59,0.005785,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:06.944752
no massive missing
0:03:26.286060

20190221

SZ finished
0:01:39.358845
0:01:18.597369
20190222 unzip finished
0:01:08.178430
0:02:14.149974
1
2
3
4
5
6
7
8
0:17:50.176053
0:00:48.255754

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
995,2001914,20190222,7.83,7.92,7.77,7.87,7.83,0.973838,0.005109,0.002548,0.02536,0.022607,3666450.0,28742624.12,0.005498,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:06.872623
no massive missing
0:03:36.225498

20190222

SZ finished
0:01:31.355801
0:01:18.601880
20190225 unzip finished
0:01:15.128648
0:02:28.735541
1
2
3
4
5
6
7
8
0:19:59.130350
0:00:52.598086

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
993,2001914,20190225,7.92,8.29,7.89,8.23,7.87,0.973838,0.045743,0.02875,0.0559,0.052325,9854330.0,80103423.95,0.014778,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:07.811114
no massive missing
0:04:10.037612

20190225

SZ finished
0:01:45.073005
0:01:21.169942
20190226 unzip finished
0:01:17.539997
0:02:30.720657
1
2
3
4
5
6

In [1]:
import pymongo
import pandas as pd
import pickle
import datetime
import time
import gzip
import lzma
import pytz


def DB(host, db_name, user, passwd):
    auth_db = db_name if user not in ('admin', 'root') else 'admin'
    uri = 'mongodb://%s:%s@%s/?authSource=%s' % (user, passwd, host, auth_db)
    return DBObj(uri, db_name=db_name)


class DBObj(object):
    def __init__(self, uri, symbol_column='skey', db_name='white_db'):
        self.db_name = db_name
        self.uri = uri
        self.client = pymongo.MongoClient(self.uri)
        self.db = self.client[self.db_name]
        self.chunk_size = 20000
        self.symbol_column = symbol_column
        self.date_column = 'date'

    def parse_uri(self, uri):
        # mongodb://user:password@example.com
        return uri.strip().replace('mongodb://', '').strip('/').replace(':', ' ').replace('@', ' ').split(' ')

    def drop_table(self, table_name):
        self.db.drop_collection(table_name)

    def rename_table(self, old_table, new_table):
        self.db[old_table].rename(new_table)

    def write(self, table_name, df):
        if len(df) == 0: return

        multi_date = False

        if self.date_column in df.columns:
            date = str(df.head(1)[self.date_column].iloc[0])
            multi_date = len(df[self.date_column].unique()) > 1
        else:
            raise Exception('DataFrame should contain date column')

        collection = self.db[table_name]
        collection.create_index([('date', pymongo.ASCENDING), ('symbol', pymongo.ASCENDING)], background=True)
        collection.create_index([('symbol', pymongo.ASCENDING), ('date', pymongo.ASCENDING)], background=True)

        if multi_date:
            for (date, symbol), sub_df in df.groupby([self.date_column, self.symbol_column]):
                date = str(date)
                symbol = int(symbol)
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)
        else:
            for symbol, sub_df in df.groupby([self.symbol_column]):
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)

    def write_single(self, collection, date, symbol, df):
        for start in range(0, len(df), self.chunk_size):
            end = min(start + self.chunk_size, len(df))
            df_seg = df[start:end]
            version = 1
            seg = {'ver': version, 'data': self.ser(df_seg, version), 'date': date, 'symbol': symbol, 'start': start}
            collection.insert_one(seg)

    def build_query(self, start_date=None, end_date=None, symbol=None):
        query = {}

        def parse_date(x):
            if type(x) == str:
                if len(x) != 8:
                    raise Exception("`date` must be YYYYMMDD format")
                return x
            elif type(x) == datetime.datetime or type(x) == datetime.date:
                return x.strftime("%Y%m%d")
            elif type(x) == int:
                return parse_date(str(x))
            else:
                raise Exception("invalid `date` type: " + str(type(x)))

        if start_date is not None or end_date is not None:
            query['date'] = {}
            if start_date is not None:
                query['date']['$gte'] = parse_date(start_date)
            if end_date is not None:
                query['date']['$lte'] = parse_date(end_date)

        def parse_symbol(x):
            if type(x) == int:
                return x
            else:
                return int(x)

        if symbol:
            if type(symbol) == list or type(symbol) == tuple:
                query['symbol'] = {'$in': [parse_symbol(x) for x in symbol]}
            else:
                query['symbol'] = parse_symbol(symbol)

        return query

    def delete(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot delete the whole table')
            return None

        collection.delete_many(query)

    def read(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot read the whole table')
            return None

        segs = []
        for x in collection.find(query):
            x['data'] = self.deser(x['data'], x['ver'])
            segs.append(x)
        segs.sort(key=lambda x: (x['symbol'], x['date'], x['start']))
        return pd.concat([x['data'] for x in segs], ignore_index=True) if segs else None

    def list_tables(self):
        return self.db.collection_names()

    def list_dates(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]
        dates = set()
        if start_date is None:
            start_date = '00000000'
        if end_date is None:
            end_date = '99999999'
        for x in collection.find(self.build_query(start_date, end_date, symbol), {"date": 1, '_id': 0}):
            dates.add(x['date'])
        return sorted(list(dates))

    def ser(self, s, version):
        pickle_protocol = 4
        if version == 1:
            return gzip.compress(pickle.dumps(s, protocol=pickle_protocol), compresslevel=2)
        elif version == 2:
            return lzma.compress(pickle.dumps(s, protocol=pickle_protocol), preset=1)
        else:
            raise Exception('unknown version')

    def deser(self, s, version):
        def unpickle(s):
            return pickle.loads(s)

        if version == 1:
            return unpickle(gzip.decompress(s))
        elif version == 2:
            return unpickle(lzma.decompress(s))
        else:
            raise Exception('unknown version')


def patch_pandas_pickle():
    if pd.__version__ < '0.24':
        import sys
        from types import ModuleType
        from pandas.core.internals import BlockManager
        pkg_name = 'pandas.core.internals.managers'
        if pkg_name not in sys.modules:
            m = ModuleType(pkg_name)
            m.BlockManager = BlockManager
            sys.modules[pkg_name] = m
patch_pandas_pickle()












import pandas as pd
import random
import numpy as np
import glob
import os
import pickle
import datetime
import time
pd.set_option("max_columns", 200)

startTm = datetime.datetime.now()
readPath = '/home/work516/day_stock/***'
dataPathLs = np.array(glob.glob(readPath))
dataPathLs = dataPathLs[[np.array([os.path.basename(i).split('.')[0][:2] == 'SZ' for i in dataPathLs])]]
db = pd.DataFrame()
for p in dataPathLs:
    dayData = pd.read_csv(p, compression='gzip')
    db = pd.concat([db, dayData])
print(datetime.datetime.now() - startTm)

year = "2019"
startDate = '20190312'
endDate = '20191231'
readPath = '/mnt/usb/data/' + year + '/***/***'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([os.path.basename(i).split('_')[0] for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]
date_list = pd.read_csv("/home/work516/KR_upload_code/trading_days.csv")
wr_ong = []
mi_ss = []
less = []

for data in dataPathLs:    
    
    if len(np.array(glob.glob(data + '/SZ/***'))) == 0:
        if int(os.path.basename(data)) not in date_list["Date"].values:
            continue
        else:
            print(os.path.basename(data) + " less data!!!!!!!!!!!!!!!!!")
            less.append(data)
            continue
    startTm = datetime.datetime.now()
    date = os.path.basename(data)
    rar_path = data + '/SZ/snapshot.7z'
    path = '/mnt/e/unzip_data/2019/SZ'
    path1 = path + '/' + date
    un_path = path1
    cmd = '7za x {} -o{}'.format(rar_path, un_path)
    os.system(cmd)
    print(datetime.datetime.now() - startTm)
    print(date + ' unzip finished')
    
    readPath = path1 + '/snapshot/***2/***'
    dataPathLs = np.array(glob.glob(readPath))
    dateLs = np.array([int(os.path.basename(i).split('.')[0]) for i in dataPathLs])
    dataPathLs = dataPathLs[(dateLs < 4000) | ((dateLs > 300000) & (dateLs < 310000))]
    SZ = []
    ll = []
    startTm = datetime.datetime.now()
    for i in dataPathLs:
        try:
            df = pd.read_csv(i, usecols = [0,1,4,5,6,7,9,12,17,18,19,24,25,26,28,29,30,32,33,34,35])
        except:
            print("empty data")
            print(i)
            ll.append(int(os.path.basename(i).split('.')[0]))
            continue
        df["StockID"] = int(os.path.basename(i).split('.')[0])
        SZ += [df]
    del df
    SZ = pd.concat(SZ).reset_index(drop=True)
    print(datetime.datetime.now() - startTm)
    
    startTm = datetime.datetime.now()
    SZ["skey"] = SZ["StockID"] + 2000000
    SZ.drop(["StockID"],axis=1,inplace=True)
    SZ["date"] = int(SZ["QuotTime"].iloc[0]//1000000000)
    SZ["time"] = (SZ['QuotTime'] - int(SZ['QuotTime'].iloc[0]//1000000000*1000000000)).astype(np.int64) * 1000
    SZ["clockAtArrival"] = SZ["QuotTime"].astype(str).apply(lambda x: np.int64(datetime.datetime.strptime(x, '%Y%m%d%H%M%S%f').timestamp()*1e6))
    SZ['datetime'] = SZ["clockAtArrival"].apply(lambda x: datetime.datetime.fromtimestamp(x/1e6))
    SZ.drop(["QuotTime"],axis=1,inplace=True)
    print(datetime.datetime.now() - startTm)
    
    startTm = datetime.datetime.now()
    SZ["BidPrice"] = SZ["BidPrice"].apply(lambda x: [float(i) for i in x[1:-1].split(',')])
    SZ["OfferPrice"] = SZ["OfferPrice"].apply(lambda x: [float(i) for i in x[1:-1].split(',')])
    SZ["BidOrderQty"] = SZ["BidOrderQty"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["OfferOrderQty"] = SZ["OfferOrderQty"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["BidNumOrders"] = SZ["BidNumOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["OfferNumOrders"] = SZ["OfferNumOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])

    for i in range(1, 11):
        SZ["bid" + str(i) + 'p'] = SZ["BidPrice"].apply(lambda x: x[i-1],2)
    SZ.drop(["BidPrice"],axis=1,inplace=True)
    print("1")
    for i in range(1, 11):
        SZ["ask" + str(i) + 'p'] = SZ["OfferPrice"].apply(lambda x: x[i-1],2)
    SZ.drop(["OfferPrice"],axis=1,inplace=True)
    print("2")
    for i in range(1, 11):
        SZ["bid" + str(i) + 'q'] = SZ["BidOrderQty"].apply(lambda x: x[i-1])
    SZ.drop(["BidOrderQty"],axis=1,inplace=True)
    print("3")
    for i in range(1, 11):
        SZ["ask" + str(i) + 'q'] = SZ["OfferOrderQty"].apply(lambda x: x[i-1])
    SZ.drop(["OfferOrderQty"],axis=1,inplace=True)
    print("4")
    for i in range(1, 11):
        SZ["bid" + str(i) + 'n'] = SZ["BidNumOrders"].apply(lambda x: x[i-1])
        SZ["bid" + str(i) + 'n'] = SZ["bid" + str(i) + 'n'].astype('int32')
    SZ.drop(["BidNumOrders"],axis=1,inplace=True)
    print("5")
    for i in range(1, 11):
        SZ["ask" + str(i) + 'n'] = SZ["OfferNumOrders"].apply(lambda x: x[i-1])
        SZ["ask" + str(i) + 'n'] = SZ["ask" + str(i) + 'n'].astype('int32') 
    SZ.drop(["OfferNumOrders"],axis=1,inplace=True)
    print("6")
    
    SZ["BidOrders"] = SZ["BidOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["OfferOrders"] = SZ["OfferOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])

    for i in range(1, 51):
        SZ["bid1Top" + str(i) + 'q'] = SZ["BidOrders"].apply(lambda x: x[i-1])
        SZ["bid1Top" + str(i) + 'q'] = SZ["bid1Top" + str(i) + 'q'].astype('int32') 
    SZ.drop(["BidOrders"],axis=1,inplace=True)
    print("7")
    
    for i in range(1, 51):
        SZ["ask1Top" + str(i) + 'q'] = SZ["OfferOrders"].apply(lambda x: x[i-1])
        SZ["ask1Top" + str(i) + 'q'] = SZ["ask1Top" + str(i) + 'q'].astype('int32') 
    SZ.drop(["OfferOrders"],axis=1,inplace=True)
    print("8")
    print(datetime.datetime.now() - startTm)
        
    
    startTm = datetime.datetime.now()
    SZ.columns = ['cum_trades_cnt', 'total_bid_quantity', 'total_ask_quantity', 'close',
       'total_ask_vwap', 'cum_amount', 'cum_volume', 'open', 'high',
       'prev_close', 'low', 'total_bid_vwap', 'skey', 'date', 'time',
       'clockAtArrival', 'datetime', 'bid1p', 'bid2p', 'bid3p', 'bid4p',
       'bid5p', 'bid6p', 'bid7p', 'bid8p', 'bid9p', 'bid10p', 'ask1p',
       'ask2p', 'ask3p', 'ask4p', 'ask5p', 'ask6p', 'ask7p', 'ask8p',
       'ask9p', 'ask10p', 'bid1q', 'bid2q', 'bid3q', 'bid4q', 'bid5q',
       'bid6q', 'bid7q', 'bid8q', 'bid9q', 'bid10q', 'ask1q', 'ask2q',
       'ask3q', 'ask4q', 'ask5q', 'ask6q', 'ask7q', 'ask8q', 'ask9q',
       'ask10q', 'bid1n', 'bid2n', 'bid3n', 'bid4n', 'bid5n', 'bid6n',
       'bid7n', 'bid8n', 'bid9n', 'bid10n', 'ask1n', 'ask2n', 'ask3n',
       'ask4n', 'ask5n', 'ask6n', 'ask7n', 'ask8n', 'ask9n', 'ask10n',
       'bid1Top1q', 'bid1Top2q', 'bid1Top3q', 'bid1Top4q', 'bid1Top5q',
       'bid1Top6q', 'bid1Top7q', 'bid1Top8q', 'bid1Top9q', 'bid1Top10q',
       'bid1Top11q', 'bid1Top12q', 'bid1Top13q', 'bid1Top14q',
       'bid1Top15q', 'bid1Top16q', 'bid1Top17q', 'bid1Top18q',
       'bid1Top19q', 'bid1Top20q', 'bid1Top21q', 'bid1Top22q',
       'bid1Top23q', 'bid1Top24q', 'bid1Top25q', 'bid1Top26q',
       'bid1Top27q', 'bid1Top28q', 'bid1Top29q', 'bid1Top30q',
       'bid1Top31q', 'bid1Top32q', 'bid1Top33q', 'bid1Top34q',
       'bid1Top35q', 'bid1Top36q', 'bid1Top37q', 'bid1Top38q',
       'bid1Top39q', 'bid1Top40q', 'bid1Top41q', 'bid1Top42q',
       'bid1Top43q', 'bid1Top44q', 'bid1Top45q', 'bid1Top46q',
       'bid1Top47q', 'bid1Top48q', 'bid1Top49q', 'bid1Top50q',
       'ask1Top1q', 'ask1Top2q', 'ask1Top3q', 'ask1Top4q', 'ask1Top5q',
       'ask1Top6q', 'ask1Top7q', 'ask1Top8q', 'ask1Top9q', 'ask1Top10q',
       'ask1Top11q', 'ask1Top12q', 'ask1Top13q', 'ask1Top14q',
       'ask1Top15q', 'ask1Top16q', 'ask1Top17q', 'ask1Top18q',
       'ask1Top19q', 'ask1Top20q', 'ask1Top21q', 'ask1Top22q',
       'ask1Top23q', 'ask1Top24q', 'ask1Top25q', 'ask1Top26q',
       'ask1Top27q', 'ask1Top28q', 'ask1Top29q', 'ask1Top30q',
       'ask1Top31q', 'ask1Top32q', 'ask1Top33q', 'ask1Top34q',
       'ask1Top35q', 'ask1Top36q', 'ask1Top37q', 'ask1Top38q',
       'ask1Top39q', 'ask1Top40q', 'ask1Top41q', 'ask1Top42q',
       'ask1Top43q', 'ask1Top44q', 'ask1Top45q', 'ask1Top46q',
       'ask1Top47q', 'ask1Top48q', 'ask1Top49q', 'ask1Top50q']
    
    SZ = SZ.fillna(0)
#     SZ["p1"] = SZ["bid1p"] + SZ["ask1p"]
#     tt = SZ[(SZ["cum_volume"] > 0) & (SZ["time"] < 145700000000)].groupby("skey")['p1'].min()
#     SZ.drop("p1", axis=1, inplace=True)
#     try:
#         assert(tt[tt == 0].shape[0] == 0)
#     except:
#         display(tt[tt == 0])
#     SZ = SZ[~((SZ["bid1p"] == 0) & (SZ["ask1p"] == 0))]
    SZ["ordering"] = SZ.groupby("skey").cumcount()
    SZ["ordering"] = SZ["ordering"] + 1

    for cols in ["total_bid_orders",'total_ask_orders','total_bid_levels', 'total_ask_levels', 'bid_trade_max_duration',
                 'ask_trade_max_duration', 'cum_canceled_buy_orders', 'cum_canceled_buy_volume', "cum_canceled_buy_amount",
                 "cum_canceled_sell_orders", 'cum_canceled_sell_volume',"cum_canceled_sell_amount", "has_missing"]:
        SZ[cols] = 0
        
#     for col in ["cum_volume", "total_bid_quantity", "total_ask_quantity",'cum_canceled_buy_volume',
#         'cum_canceled_sell_volume']:
#         SZ[col] = SZ[col].astype('int64')
    
    for col in ["skey", "date", "cum_trades_cnt", "total_bid_orders",
        'total_ask_orders', 'total_bid_levels', 'total_ask_levels', 'cum_canceled_buy_orders','cum_canceled_sell_orders',
            "ordering", 'bid_trade_max_duration', 'ask_trade_max_duration','has_missing']:
        SZ[col] = SZ[col].astype('int32')
    
        
#     for cols in ["prev_close", 'open', "high", "low", "close", 'bid10p','bid9p','bid8p','bid7p','bid6p','bid5p','bid4p','bid3p',
#              'bid2p','bid1p','ask1p','ask2p','ask3p','ask4p','ask5p','ask6p','ask7p','ask8p','ask9p','ask10p', 'total_bid_vwap', "total_ask_vwap",
#                 "cum_amount"]:
# #         SZ[cols] = SZ[cols].apply(lambda x: round(x, 2)).astype('float64')
#         print(cols)
#         print(SZ[cols].astype(str).apply(lambda x: len(str(x.split('.')[1]))).unique())

        
    for cols in ["cum_canceled_sell_amount", "cum_canceled_buy_amount"]:
        SZ[cols] = SZ[cols].astype('float64')

        
    assert(sum(SZ[SZ["open"] != 0].groupby("skey")["open"].nunique() != 1) == 0)
    assert(sum(SZ[SZ["prev_close"] != 0].groupby("skey")["prev_close"].nunique() != 1) == 0)
    SZ["prev_close"] = np.where(SZ["time"] >= 91500000000, SZ.groupby("skey")["prev_close"].transform("max"), SZ["prev_close"]) 
    SZ["open"] = np.where(SZ["cum_volume"] > 0, SZ.groupby("skey")["open"].transform("max"), SZ["open"])
    assert(sum(SZ[SZ["open"] != 0].groupby("skey")["open"].nunique() != 1) == 0)
    assert(sum(SZ[SZ["prev_close"] != 0].groupby("skey")["prev_close"].nunique() != 1) == 0)
    assert(SZ[SZ["cum_volume"] > 0]["open"].min() > 0)
    
    print(datetime.datetime.now() - startTm)
    
    
    # check 1
    startTm = datetime.datetime.now()
    da_te = str(SZ["date"].iloc[0]) 
    da_te = da_te[:4] + '-' + da_te[4:6] + '-' + da_te[6:8]
    db1 = db[db["date"] == da_te]
    db1["ID"] = db1["ID"].str[2:].astype(int) + 2000000
    db1["date"] = (db1["date"].str[:4] + db1["date"].str[5:7] + db1["date"].str[8:]).astype(int)
    SZ["cum_max"] = SZ.groupby("skey")["cum_volume"].transform(max)
    s2 = SZ[SZ["cum_volume"] == SZ["cum_max"]].groupby("skey").first().reset_index()
    SZ.drop("cum_max", axis=1, inplace=True)
    s2 = s2.rename(columns={"skey": "ID", 'open':"d_open", "prev_close":"d_yclose","high":"d_high", "low":"d_low", "close":"d_close", "cum_volume":"d_volume", "cum_amount":"d_amount"})
    s2 = s2[["ID", "date", "d_open", "d_yclose", "d_high", "d_low", "d_close", "d_volume", "d_amount"]]
    re = pd.merge(db1, s2, on=["ID", "date", "d_open", "d_yclose","d_high", "d_low", "d_volume"], how="outer")
    try:
        assert(sum(re["d_amount_y"].isnull()) == 0)
    except:
        display(re[re["d_amount_y"].isnull()])
        wr_ong += [re[re["d_amount_y"].isnull()]]
    del re
    del s2
    del db1
    print(datetime.datetime.now() - startTm)
    
    # check 2
    # first part
    startTm = datetime.datetime.now()
    date = pd.DataFrame(pd.date_range(start='2019-06-10 08:30:00', end='2019-06-10 18:00:00', freq='s'), columns=["Orig"])
    date["time"] = date["Orig"].apply(lambda x: int(x.strftime("%H%M%S"))*1000)
    date["group"] = date["time"]//10000
    SZ["group"] = SZ["time"]//10000000
    gl = date[((date["time"] >= 93000000) & (date["time"] <= 113000000))|((date["time"] >= 130000000) & (date["time"] <= 150000000))]["group"].unique()
    l = set(gl) - set(SZ["group"].unique())
    SZ["has_missing1"] = 0 
    if len(l) != 0:
        print("massive missing")
        print(l)
        SZ["order"] = SZ.groupby(["skey", "time"]).cumcount()
        for i in l:
            SZ["t"] = SZ[SZ["group"] > i].groupby("StockID")["time"].transform("min")
            SZ["has_missing1"] = np.where((SZ["time"] == SZ["t"]) & (SZ["order"] == 0), 1, 0)
        SZ.drop(["order", "t", "group"], axis=1, inplace=True)   
    else:
        print("no massive missing")
        SZ.drop(["group"], axis=1, inplace=True)
    



    # second part

    SZ["time_interval"] = SZ.groupby("skey")["datetime"].apply(lambda x: x - x.shift(1))
    SZ["time_interval"] = SZ["time_interval"].apply(lambda x: x.seconds)
    SZ["tn_update"] = SZ.groupby("skey")["cum_trades_cnt"].apply(lambda x: x-x.shift(1))

    f1 = SZ[(SZ["time"] >= 93000000000) & (SZ["tn_update"] != 0)].groupby("skey")["time"].min().reset_index()
    f1 = f1.rename(columns={"time": "time1"})
    f2 = SZ[(SZ["time"] >= 130000000000) & (SZ["tn_update"] != 0)].groupby("skey")["time"].min().reset_index()
    f2 = f2.rename(columns={"time": "time2"})
    f3 = SZ[(SZ["time"] >= 150000000000) & (SZ["tn_update"] != 0)].groupby("skey")["time"].min().reset_index()
    f3 = f3.rename(columns={"time": "time3"})
    SZ = pd.merge(SZ, f1, on="skey", how="left")
    del f1
    SZ = pd.merge(SZ, f2, on="skey", how="left")
    del f2
    SZ = pd.merge(SZ, f3, on="skey", how="left")
    del f3
    p99 = SZ[(SZ["time"] > 93000000000) & (SZ["time"] < 145700000000) & (SZ["time"] != SZ["time2"]) & (SZ["tn_update"] != 0)]\
    .groupby("skey")["tn_update"].apply(lambda x: x.describe([0.99])["99%"]).reset_index()
    p99 = p99.rename(columns={"tn_update":"99%"})
    SZ = pd.merge(SZ, p99, on="skey", how="left")

    SZ["has_missing2"] = 0
    SZ["has_missing2"] = np.where((SZ["time_interval"] > 60) & (SZ["tn_update"] > SZ["99%"]) & 
         (SZ["time"] > SZ["time1"]) & (SZ["time"] != SZ["time2"]) & (SZ["time"] != SZ["time3"])& (SZ["time"] != 100000000000), 1, 0)
    SZ.drop(["time_interval", "tn_update", "time1", "time2", "time3", "99%"], axis=1, inplace=True) 

    SZ["has_missing"] = np.where((SZ["has_missing1"] == 1) | (SZ["has_missing2"] == 1), 1, 0)
    SZ.drop(["has_missing1", "has_missing2"], axis=1, inplace=True) 
    if SZ[SZ["has_missing"] == 1].shape[0] != 0:
        print("has missing!!!!!!!!!!!!!!!!!!!!!!!")
        print(SZ[SZ["has_missing"] == 1].shape[0])
        mi_ss += [SZ[SZ["has_missing"] == 1]]
    print(datetime.datetime.now() - startTm)

    
    
    startTm = datetime.datetime.now()
    SZ["has_missing"] = SZ["has_missing"].astype('int32')
    SZ = SZ[["skey", "date", "time", "clockAtArrival", "datetime", "ordering", "has_missing", "cum_trades_cnt", "cum_volume", "cum_amount", "prev_close",
                            "open", "high", "low", "close", 'bid10p','bid9p','bid8p','bid7p','bid6p','bid5p','bid4p','bid3p','bid2p','bid1p',
                            'ask1p','ask2p','ask3p','ask4p','ask5p','ask6p','ask7p','ask8p','ask9p','ask10p', 'bid10q','bid9q','bid8q',
                             'bid7q','bid6q','bid5q','bid4q','bid3q','bid2q','bid1q', 'ask1q','ask2q','ask3q','ask4q','ask5q','ask6q',
                             'ask7q','ask8q','ask9q','ask10q', 'bid10n', 'bid9n', 'bid8n', 'bid7n', 'bid6n', 'bid5n', 'bid4n', 'bid3n', 'bid2n', 'bid1n', 
                             'ask1n', 'ask2n', 'ask3n', 'ask4n', 'ask5n', 'ask6n','ask7n', 'ask8n', 'ask9n', 'ask10n','bid1Top1q','bid1Top2q','bid1Top3q','bid1Top4q','bid1Top5q','bid1Top6q',
        'bid1Top7q','bid1Top8q','bid1Top9q','bid1Top10q','bid1Top11q','bid1Top12q','bid1Top13q','bid1Top14q','bid1Top15q','bid1Top16q','bid1Top17q','bid1Top18q',
        'bid1Top19q','bid1Top20q','bid1Top21q','bid1Top22q','bid1Top23q','bid1Top24q','bid1Top25q','bid1Top26q','bid1Top27q','bid1Top28q','bid1Top29q',
        'bid1Top30q','bid1Top31q','bid1Top32q','bid1Top33q','bid1Top34q','bid1Top35q','bid1Top36q','bid1Top37q','bid1Top38q','bid1Top39q','bid1Top40q',
        'bid1Top41q','bid1Top42q','bid1Top43q','bid1Top44q','bid1Top45q','bid1Top46q','bid1Top47q','bid1Top48q','bid1Top49q','bid1Top50q', 'ask1Top1q',
        'ask1Top2q','ask1Top3q','ask1Top4q','ask1Top5q','ask1Top6q','ask1Top7q','ask1Top8q','ask1Top9q','ask1Top10q','ask1Top11q','ask1Top12q','ask1Top13q',
        'ask1Top14q','ask1Top15q','ask1Top16q','ask1Top17q','ask1Top18q','ask1Top19q','ask1Top20q','ask1Top21q','ask1Top22q','ask1Top23q',
        'ask1Top24q','ask1Top25q','ask1Top26q','ask1Top27q','ask1Top28q','ask1Top29q','ask1Top30q','ask1Top31q','ask1Top32q','ask1Top33q',
        'ask1Top34q','ask1Top35q','ask1Top36q','ask1Top37q','ask1Top38q','ask1Top39q','ask1Top40q','ask1Top41q','ask1Top42q','ask1Top43q',
        'ask1Top44q','ask1Top45q','ask1Top46q','ask1Top47q','ask1Top48q','ask1Top49q','ask1Top50q',"total_bid_quantity", "total_ask_quantity","total_bid_vwap", "total_ask_vwap",
        "total_bid_orders",'total_ask_orders','total_bid_levels', 'total_ask_levels', 'bid_trade_max_duration', 'ask_trade_max_duration', 'cum_canceled_buy_orders', 'cum_canceled_buy_volume',
        "cum_canceled_buy_amount", "cum_canceled_sell_orders", 'cum_canceled_sell_volume',"cum_canceled_sell_amount"]]
    
    display(SZ["date"].iloc[0])
    print("SZ finished")
    
    
    database_name = 'com_md_eq_cn'
    user = "zhenyuy"
    password = "bnONBrzSMGoE"

    db1 = DB("192.168.10.223", database_name, user, password)
    db1.write('md_snapshot_l2', SZ)
    
    del SZ
    print(datetime.datetime.now() - startTm)

wr_ong = pd.concat(wr_ong).reset_index(drop=True)
print(wr_ong)
mi_ss = pd.concat(mi_ss).reset_index(drop=True)
print(mi_ss)

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:203: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.

0:05:34.289574
0:01:17.473237
20190312 unzip finished
0:01:16.774015
0:02:37.572915
1
2
3
4
5
6
7
8
0:19:05.425000
0:00:50.257996

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
995,2001914,20190312,9.04,9.14,8.89,9.03,8.98,0.973838,0.005568,0.053676,0.017342,0.022095,10455553.0,94059152.15,0.01568,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:07.151367
no massive missing
0:03:53.968573

20190312

SZ finished
0:01:47.128607
0:01:22.623143
20190313 unzip finished
0:01:12.905031
0:02:35.885494
1
2
3
4
5
6
7
8
0:19:01.919893
0:00:52.533889

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
995,2001914,20190313,9.1,9.83,9.06,9.32,9.03,0.973838,0.032115,0.066362,-0.022724,-0.023233,26093211.0,2.457382e+08,0.039131,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:06.684916
no massive missing
0:03:47.591399

20190313

SZ finished
0:01:59.171609
0:01:18.286850
20190314 unzip finished
0:01:10.596772
0:02:26.474427
1
2
3
4
5
6
7
8
0:18:11.310178
0:00:53.222562

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
995,2001914,20190314,9.22,9.22,8.63,8.8,9.32,0.973838,-0.055794,-0.022222,-0.023293,-0.030287,12659253.0,1.126639e+08,0.018985,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:06.483886
no massive missing
0:03:41.314584

20190314

SZ finished
0:02:05.847100
0:01:18.253173
20190315 unzip finished
0:01:13.566437
0:02:26.755312
1
2
3
4
5
6
7
8
0:17:49.055314
0:00:49.004493

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
995,2001914,20190315,8.63,9.0,8.63,8.83,8.8,0.973838,0.003409,0.01611,0.01142,0.015496,9240835.0,81738081.56,0.013858,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:06.234242
no massive missing
0:03:25.721985

20190315

SZ finished
0:01:38.451235
0:01:13.964877
20190318 unzip finished
0:01:09.978047
0:02:22.930932
1
2
3
4
5
6
7
8
0:18:35.155455
0:00:49.865110

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
994,2001914,20190318,8.82,8.95,8.65,8.94,8.83,0.973838,0.012458,-0.004454,0.02653,0.024101,8638731.0,75941355.59,0.012955,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:06.986351
no massive missing
0:03:34.553080

20190318

SZ finished
0:01:41.994123
0:01:18.297617
20190319 unzip finished
0:01:10.840231
0:02:28.556275
1
2
3
4
5
6
7
8
0:18:07.246938
0:00:48.428758

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
994,2001914,20190319,8.96,9.08,8.82,8.86,8.94,0.973838,-0.008949,-0.018826,0.003817,0.004321,7288302.0,65109072.01,0.01093,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:06.514961
no massive missing
0:03:29.808799

20190319

SZ finished
0:02:01.693625
0:01:19.448679
20190320 unzip finished
0:01:16.028044
0:02:50.573436
1
2
3
4
5
6
7
8
0:18:28.377838
0:00:51.262972

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
995,2001914,20190320,8.8,8.91,8.67,8.85,8.86,0.973838,-0.001129,-0.050429,-0.001158,-0.002649,5245859.0,46131031.2,0.007867,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:07.659855
no massive missing
0:04:00.776971

20190320

SZ finished
0:01:43.960213
0:01:11.200713
20190321 unzip finished
0:01:15.552222
0:02:37.395303
1
2
3
4
5
6
7
8
0:19:06.385745
0:00:57.553239

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
994,2001914,20190321,8.85,8.91,8.76,8.84,8.85,0.973838,-0.00113,0.004545,0.01336,0.010879,7586672.0,67126988.49,0.011377,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:07.481288
no massive missing
0:03:46.409945

20190321

SZ finished
0:01:44.717380
0:01:15.847733
20190322 unzip finished
0:01:16.794558
0:02:33.009620
1
2
3
4
5
6
7
8
0:18:31.119598
0:00:53.373697

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
993,2001914,20190322,8.84,8.84,8.68,8.81,8.84,0.973838,-0.003394,-0.002265,0.005844,0.003991,6182626.0,54117740.1,0.009272,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:07.398765
no massive missing
0:03:51.904822

20190322

SZ finished
0:01:49.807025
0:01:15.192433
20190325 unzip finished
0:01:13.273704
0:02:31.982928
1
2
3
4
5
6
7
8
0:18:25.263897
0:00:49.099457

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
993,2001914,20190325,8.7,9.08,8.61,8.88,8.81,0.973838,0.007946,-0.006711,-0.01289,-0.00883,9919276.0,87900986.09,0.014876,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:06.240294
no massive missing
0:03:38.717175

20190325

SZ finished
0:01:45.869900
0:01:14.892298
20190326 unzip finished
0:01:15.373908
0:02:31.710598
1
2
3
4
5
6
7
8
0:18:28.337528
0:00:51.244170

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
993,2001914,20190326,8.88,8.94,8.5,8.58,8.88,0.973838,-0.033784,-0.031603,-0.027892,-0.029032,6881838.0,59865043.08,0.01032,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:08.082199
no massive missing
0:03:50.589661

20190326

SZ finished
0:01:35.872599
0:01:13.310890
20190327 unzip finished
0:01:09.561817
0:02:23.713544
1
2
3
4
5
6
7
8
0:17:49.242190
0:00:51.969193

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
990,2001914,20190327,8.58,8.65,8.3,8.5,8.58,0.973838,-0.009324,-0.039548,0.009824,0.006594,3909085.0,33326082.76,0.005862,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:06.482378
no massive missing
0:03:27.234742

20190327

SZ finished
0:01:39.554851
0:01:20.627482
20190328 unzip finished
0:01:11.091098
0:02:19.580008
1
2
3
4
5
6
7
8
0:17:07.613760
0:00:51.110404

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
993,2001914,20190328,8.52,8.75,8.47,8.54,8.5,0.973838,0.004706,-0.033937,-0.014273,-0.013501,5255599.0,45453324.0,0.007882,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:07.321440
no massive missing
0:03:36.972585

20190328

SZ finished
0:01:54.598900
0:01:15.874824
20190329 unzip finished
0:01:16.088806
0:02:27.743699
1
2
3
4
5
6
7
8
0:19:03.915637
0:00:48.447080

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
994,2001914,20190329,8.54,8.8,8.54,8.78,8.54,0.973838,0.028103,-0.003405,0.033059,0.028419,5938098.0,51685286.79,0.008905,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:06.606792
no massive missing
0:03:34.510475

20190329

SZ finished
0:01:39.751192
0:01:12.653574
20190401 unzip finished
0:01:17.399407
0:02:32.762239
1
2
3
4
5
6
7
8
0:20:18.936904
0:00:52.819038

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
995,2001914,20190401,8.79,9.04,8.79,9.0,8.78,0.973838,0.025057,0.013514,0.037887,0.038321,11091945.0,99184823.64,0.016634,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:07.267958
no massive missing
0:03:47.401182

20190401

SZ finished
0:01:45.576440
0:01:03.847180
20190402 unzip finished
0:01:19.226706
0:02:35.033398
1
2
3
4
5
6
7
8
0:19:37.676444
0:00:51.452355

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
997,2001914,20190402,9.0,9.66,8.93,9.25,9.0,0.973838,0.027778,0.078089,0.003076,0.006062,17052868.0,1.584217e+08,0.025573,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:06.929568
no massive missing
0:03:50.252335

20190402

SZ finished
0:02:13.669647
0:01:08.077674
20190403 unzip finished
0:01:15.122763
0:02:38.689537
1
2
3
4
5
6
7
8
0:18:44.331898
0:00:52.821895

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
994,2001914,20190403,9.12,9.47,9.01,9.36,9.25,0.973838,0.011892,0.101176,0.010473,0.010053,10894192.0,1.010551e+08,0.016338,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:06.891118
no massive missing
0:03:42.623675

20190403

SZ finished
0:01:46.295080
0:01:05.347981
20190404 unzip finished
0:01:13.598836
0:02:23.354497
1
2
3
4
5
6
7
8
0:18:06.514346
0:00:51.993812

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
996,2001914,20190404,9.44,9.5,9.23,9.39,9.36,0.973838,0.003205,0.099532,0.006086,0.003696,12108005.0,1.135168e+08,0.018158,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:07.221481
no massive missing
0:03:45.475910

20190404

SZ finished
0:01:42.873269
0:01:03.258864
20190408 unzip finished
0:01:14.829200
0:02:29.430713
1
2
3
4
5
6
7
8
0:19:11.597624
0:00:52.964351

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
995,2001914,20190408,9.45,9.57,9.16,9.31,9.39,0.973838,-0.00852,0.060364,-0.004075,-0.004769,10178375.0,95437930.18,0.015264,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:07.374253
no massive missing
0:03:47.234326

20190408

SZ finished
0:02:01.960542
0:01:05.568590
20190409 unzip finished
0:01:12.163018
0:02:29.953179
1
2
3
4
5
6
7
8
0:18:13.128957
0:00:46.848240

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
998,2001914,20190409,9.34,9.4,9.22,9.38,9.31,0.973838,0.007519,0.042222,0.001781,0.002443,8275021.0,77198658.07,0.01241,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:06.353994
no massive missing
0:03:31.672173

20190409

SZ finished
0:01:46.490285
0:01:02.596606
20190410 unzip finished
0:01:12.177096
0:02:31.398596
1
2
3
4
5
6
7
8
0:18:36.351243
0:00:54.336705

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
998,2001914,20190410,9.38,9.59,9.25,9.47,9.38,0.973838,0.009595,0.023784,-0.001244,-0.001557,9847888.0,92914717.34,0.014768,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:06.913733
no massive missing
0:03:36.033082

20190410

SZ finished
0:01:55.933927
0:01:00.649100
20190411 unzip finished
0:01:13.314505
0:02:30.618823
1
2
3
4
5
6
7
8
0:18:21.082442
0:00:51.021108

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
997,2001914,20190411,9.47,9.51,9.19,9.29,9.47,0.973838,-0.019007,-0.007479,-0.021123,-0.020648,9506939.0,88749420.69,0.014257,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:06.540809
no massive missing
0:03:33.850418

20190411

SZ finished
0:01:55.755849
0:00:58.069943
20190412 unzip finished
0:01:06.428934
0:02:34.192369
1
2
3
4
5
6
7
8
0:17:15.376169
0:00:48.238616

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
999,2001914,20190412,9.35,10.2,9.27,10.04,9.29,0.973838,0.080732,0.069223,-0.002236,-0.000941,22227839.0,2.190968e+08,0.033334,0.0,0.0,0.0,0.0,0.0,0.0,1.0,10.0,666819666.0,666961416.0,NaN,NaN

0:00:06.696024
no massive missing
0:03:24.188429

20190412

SZ finished
0:01:55.343172
0:00:58.540295
20190415 unzip finished
0:01:12.119406
0:02:19.179364
1
2
3
4
5
6
7
8
0:17:25.162872
0:00:48.270814

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

0:00:06.796308
no massive missing
0:03:32.770368

20190415

SZ finished
0:01:45.917087
0:00:57.219773
20190416 unzip finished
0:01:12.709058
0:02:20.278087
1
2
3
4
5
6
7
8
0:18:02.034024
0:00:49.579897
0:00:06.757702
no massive missing
0:03:31.042733

20190416

SZ finished
0:02:01.713332
0:00:56.827307
20190417 unzip finished
0:01:11.121884
0:02:21.916374
1
2
3
4
5
6
7
8
0:18:18.809881
0:00:51.851754
0:00:07.072666
no massive missing
0:03:36.895381

20190417

SZ finished
0:02:05.405039
0:00:54.916540
20190418 unzip finished
0:01:14.793635
0:02:19.153040
1
2
3
4
5
6
7
8
0:17:21.409144
0:00:51.080098
0:00:06.428549
no massive missing
0:03:21.772503

20190418

SZ finished
0:01:55.453228
0:00:56.121712
20190419 unzip finished
0:01:10.061509
0:02:38.128488
1
2
3
4
5
6
7
8
0:17:16.042529
0:00:52.538748
0:00:06.335386
no massive missing
0:03:42.660160

20190419

SZ finished
0:01:30.212161
0:00:56.983825
20190422 unzip finished
0:01:09.358063
0:02:25.661450
1
2
3
4
5
6
7
8
0:17:16.495485
0:00:47.153270
0:00:06.126286
no massive missing
0:03:33.584833

20190422

SZ finished
0:01:47.113759
0:00:55.562996
20190423 unzip finished
0:01:14.882076
0:02:27.151034
1
2
3
4
5
6
7
8
0:17:00.388864
0:00:46.891498
0:00:06.176360
no massive missing
0:03:43.902740

20190423

SZ finished
0:01:48.862148
0:00:55.727590
20190424 unzip finished
0:01:09.642481
0:02:17.044701
1
2
3
4
5
6
7
8
0:16:37.317872
0:00:47.946732
0:00:06.900955
no massive missing
0:03:27.010897

20190424

SZ finished
0:01:32.141801
0:00:56.353639
20190425 unzip finished
0:01:10.379721
0:02:24.539514
1
2
3
4
5
6
7
8
0:17:13.790699
0:00:48.289434
0:00:06.450028
no massive missing
0:03:30.114234

20190425

SZ finished
0:01:28.720724
0:00:53.586410
20190426 unzip finished
0:01:07.747140
0:02:16.671874
1
2
3
4
5
6
7
8
0:16:49.288811
0:00:45.240156
0:00:06.025969
no massive missing
0:03:26.730408

20190426

SZ finished
0:01:38.766258
0:01:00.135569
20190429 unzip finished
0:01:09.921393
0:02:32.586898
1
2
3
4
5
6
7
8
0:16:14.658497
0:00:47.540376

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
991,2001914,20190429,10.21,11.04,10.14,11.04,10.04,0.973838,0.099602,0.185822,-0.026337,-0.036318,25177296.0,2.707674e+08,0.037757,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:06.211884
no massive missing
0:03:20.433916

20190429

SZ finished
0:01:42.732276
0:00:50.020604
20190430 unzip finished
0:01:05.602447
0:02:10.949897
1
2
3
4
5
6
7
8
0:16:06.743380
0:00:42.853764

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
988,2001914,20190430,12.1,12.12,10.41,10.54,11.04,0.973838,-0.04529,0.123667,0.007968,0.010627,57674713.0,6.532201e+08,0.086492,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.898005
no massive missing
0:03:05.360903

20190430

SZ finished
0:01:19.514955
0:00:54.184552
20190506 unzip finished
0:01:04.356192
0:02:15.416150
1
2
3
4
5
6
7
8
0:16:16.177370
0:00:44.436168

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
994,2001914,20190506,11.22,11.59,10.99,11.59,10.54,0.973838,0.09962,0.223865,-0.075131,-0.076626,77651856.0,889096250.2,0.116451,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:06.114491
no massive missing
0:03:20.063013

20190506

SZ finished
0:01:28.806669
0:00:53.895013
20190507 unzip finished
0:01:01.378364
0:02:14.755386
1
2
3
4
5
6
7
8
0:15:36.801040
0:00:46.353394

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
995,2001914,20190507,11.25,11.57,10.7,11.35,11.59,0.973838,-0.020708,0.221744,0.013161,0.012515,43525757.0,4.891206e+08,0.065274,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:06.318140
no massive missing
0:03:11.978676

20190507

SZ finished
0:01:24.835674
0:00:51.657964
20190508 unzip finished
0:01:01.248259
0:02:05.231717
1
2
3
4
5
6
7
8
0:15:27.403781
0:00:47.119658

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
995,2001914,20190508,10.64,11.59,10.46,10.85,11.35,0.973838,-0.044053,0.080677,-0.00516,-0.003718,31791054.0,3.501744e+08,0.047676,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:06.388822
no massive missing
0:03:08.241752

20190508

SZ finished
0:01:27.447715
0:00:51.142820
20190509 unzip finished
0:01:03.289913
0:02:03.872953
1
2
3
4
5
6
7
8
0:14:21.258121
0:00:43.666595

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
997,2001914,20190509,10.68,11.94,10.63,11.07,10.85,0.973838,0.020276,0.002717,-0.011991,-0.010377,30295011.0,3.428115e+08,0.045432,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.476931
no massive missing
0:03:00.346313

20190509

SZ finished
0:01:19.433938
0:00:57.030453
20190510 unzip finished
0:01:04.652519
0:02:14.696473
1
2
3
4
5
6
7
8
0:15:42.101137
0:00:46.393403

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
997,2001914,20190510,11.5,12.18,11.41,12.18,11.07,0.973838,0.100271,0.155598,0.035985,0.039654,50088950.0,600675204.8,0.075116,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:06.121280
no massive missing
0:03:11.454777

20190510

SZ finished
0:01:28.825520
0:00:45.734339
20190513 unzip finished
0:00:58.790497
0:02:13.370336
1
2
3
4
5
6
7
8
0:14:25.909822
0:00:42.870495

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
994,2001914,20190513,11.58,12.18,11.58,11.93,12.18,0.973838,-0.020525,0.029336,-0.011535,-0.007329,31790642.0,376899751.7,0.047675,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.801597
no massive missing
0:03:05.163058

20190513

SZ finished
0:01:20.665102
0:00:50.343360
20190514 unzip finished
0:00:56.445503
0:01:58.881237
1
2
3
4
5
6
7
8
0:14:50.877819
0:00:43.326478

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
995,2001914,20190514,11.71,12.09,11.54,11.8,11.93,0.973838,-0.010897,0.039648,-0.008049,-0.006916,15005863.0,1.767003e+08,0.022504,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:06.063901
no massive missing
0:03:01.202196

20190514

SZ finished
0:01:17.998882
0:00:50.671212
20190515 unzip finished
0:01:01.774121
0:02:03.258275
1
2
3
4
5
6
7
8
0:15:35.093574
0:00:44.436064

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
996,2001914,20190515,11.99,12.04,11.51,11.82,11.8,0.973838,0.001695,0.089401,0.022342,0.022011,13964505.0,1.644749e+08,0.020942,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.629328
no massive missing
0:02:58.080026

20190515

SZ finished
0:01:28.722850
0:00:50.612094
20190516 unzip finished
0:01:05.580472
0:02:12.037048
1
2
3
4
5
6
7
8
0:16:23.262574
0:00:44.638681

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
997,2001914,20190516,11.71,12.23,11.02,12.05,11.82,0.973838,0.019459,0.088528,0.006265,0.007453,21884444.0,2.533430e+08,0.032819,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:06.003752
no massive missing
0:03:09.544166

20190516

SZ finished
0:01:26.538842
0:00:55.590542
20190517 unzip finished
0:01:06.021851
0:02:16.199528
1
2
3
4
5
6
7
8
0:16:51.686219
0:00:49.286340

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
998,2001914,20190517,11.89,12.09,11.5,11.53,12.05,0.973838,-0.043154,-0.053366,-0.032453,-0.035513,12182747.0,1.432742e+08,0.01827,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:06.298588
no massive missing
0:03:22.263792

20190517

SZ finished
0:01:29.171549
0:00:50.843978
20190520 unzip finished
0:00:59.065907
0:02:08.310730
1
2
3
4
5
6
7
8
0:15:14.830328
0:00:41.965005

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
997,2001914,20190520,11.45,11.56,11.15,11.2,11.53,0.973838,-0.028621,-0.06119,-0.003848,-0.003346,6184371.0,69685220.56,0.009274,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.544169
no massive missing
0:03:01.742878

20190520

SZ finished
0:01:18.405087
0:00:50.988157
20190521 unzip finished
0:00:59.418091
0:02:03.989712
1
2
3
4
5
6
7
8
0:15:18.548012
0:00:40.933935

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
998,2001914,20190521,11.22,11.63,11.13,11.23,11.2,0.973838,0.002679,-0.048305,0.017531,0.019743,8357128.0,95074475.32,0.012533,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.480705
no massive missing
0:03:16.396155

20190521

SZ finished
0:01:25.975746
0:00:49.512638
20190522 unzip finished
0:01:00.508923
0:02:03.120014
1
2
3
4
5
6
7
8
0:14:55.255142
0:00:39.500814

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
997,2001914,20190522,11.36,11.44,11.08,11.2,11.23,0.973838,-0.002671,-0.052453,-0.006683,-0.004174,4542366.0,51035554.34,0.006812,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.506226
no massive missing
0:02:55.267555

20190522

SZ finished
0:01:15.430606
0:00:46.764011
20190523 unzip finished
0:00:57.555256
0:02:00.929755
1
2
3
4
5
6
7
8
0:15:22.424234
0:00:41.254764

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
997,2001914,20190523,11.19,11.19,10.6,10.6,11.2,0.973838,-0.053571,-0.120332,-0.020793,-0.02365,7700732.0,83380161.8,0.011548,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.303580
no massive missing
0:03:03.285777

20190523

SZ finished
0:01:25.080091
0:00:47.769089
20190524 unzip finished
0:00:56.829645
0:01:57.747977
1
2
3
4
5
6
7
8
0:14:36.048035
0:00:42.489844

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
997,2001914,20190524,10.61,10.9,10.55,10.64,10.6,0.973838,0.003774,-0.07719,-0.006395,-0.012729,5185210.0,55780193.15,0.007776,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.449466
no massive missing
0:02:59.538133

20190524

SZ finished
0:01:23.494539
0:00:00.141805
20190525 unzip finished

NameError: name 'df' is not defined

In [ ]:
import pymongo
import pandas as pd
import pickle
import datetime
import time
import gzip
import lzma
import pytz


def DB(host, db_name, user, passwd):
    auth_db = db_name if user not in ('admin', 'root') else 'admin'
    uri = 'mongodb://%s:%s@%s/?authSource=%s' % (user, passwd, host, auth_db)
    return DBObj(uri, db_name=db_name)


class DBObj(object):
    def __init__(self, uri, symbol_column='skey', db_name='white_db'):
        self.db_name = db_name
        self.uri = uri
        self.client = pymongo.MongoClient(self.uri)
        self.db = self.client[self.db_name]
        self.chunk_size = 20000
        self.symbol_column = symbol_column
        self.date_column = 'date'

    def parse_uri(self, uri):
        # mongodb://user:password@example.com
        return uri.strip().replace('mongodb://', '').strip('/').replace(':', ' ').replace('@', ' ').split(' ')

    def drop_table(self, table_name):
        self.db.drop_collection(table_name)

    def rename_table(self, old_table, new_table):
        self.db[old_table].rename(new_table)

    def write(self, table_name, df):
        if len(df) == 0: return

        multi_date = False

        if self.date_column in df.columns:
            date = str(df.head(1)[self.date_column].iloc[0])
            multi_date = len(df[self.date_column].unique()) > 1
        else:
            raise Exception('DataFrame should contain date column')

        collection = self.db[table_name]
        collection.create_index([('date', pymongo.ASCENDING), ('symbol', pymongo.ASCENDING)], background=True)
        collection.create_index([('symbol', pymongo.ASCENDING), ('date', pymongo.ASCENDING)], background=True)

        if multi_date:
            for (date, symbol), sub_df in df.groupby([self.date_column, self.symbol_column]):
                date = str(date)
                symbol = int(symbol)
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)
        else:
            for symbol, sub_df in df.groupby([self.symbol_column]):
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)

    def write_single(self, collection, date, symbol, df):
        for start in range(0, len(df), self.chunk_size):
            end = min(start + self.chunk_size, len(df))
            df_seg = df[start:end]
            version = 1
            seg = {'ver': version, 'data': self.ser(df_seg, version), 'date': date, 'symbol': symbol, 'start': start}
            collection.insert_one(seg)

    def build_query(self, start_date=None, end_date=None, symbol=None):
        query = {}

        def parse_date(x):
            if type(x) == str:
                if len(x) != 8:
                    raise Exception("`date` must be YYYYMMDD format")
                return x
            elif type(x) == datetime.datetime or type(x) == datetime.date:
                return x.strftime("%Y%m%d")
            elif type(x) == int:
                return parse_date(str(x))
            else:
                raise Exception("invalid `date` type: " + str(type(x)))

        if start_date is not None or end_date is not None:
            query['date'] = {}
            if start_date is not None:
                query['date']['$gte'] = parse_date(start_date)
            if end_date is not None:
                query['date']['$lte'] = parse_date(end_date)

        def parse_symbol(x):
            if type(x) == int:
                return x
            else:
                return int(x)

        if symbol:
            if type(symbol) == list or type(symbol) == tuple:
                query['symbol'] = {'$in': [parse_symbol(x) for x in symbol]}
            else:
                query['symbol'] = parse_symbol(symbol)

        return query

    def delete(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot delete the whole table')
            return None

        collection.delete_many(query)

    def read(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot read the whole table')
            return None

        segs = []
        for x in collection.find(query):
            x['data'] = self.deser(x['data'], x['ver'])
            segs.append(x)
        segs.sort(key=lambda x: (x['symbol'], x['date'], x['start']))
        return pd.concat([x['data'] for x in segs], ignore_index=True) if segs else None

    def list_tables(self):
        return self.db.collection_names()

    def list_dates(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]
        dates = set()
        if start_date is None:
            start_date = '00000000'
        if end_date is None:
            end_date = '99999999'
        for x in collection.find(self.build_query(start_date, end_date, symbol), {"date": 1, '_id': 0}):
            dates.add(x['date'])
        return sorted(list(dates))

    def ser(self, s, version):
        pickle_protocol = 4
        if version == 1:
            return gzip.compress(pickle.dumps(s, protocol=pickle_protocol), compresslevel=2)
        elif version == 2:
            return lzma.compress(pickle.dumps(s, protocol=pickle_protocol), preset=1)
        else:
            raise Exception('unknown version')

    def deser(self, s, version):
        def unpickle(s):
            return pickle.loads(s)

        if version == 1:
            return unpickle(gzip.decompress(s))
        elif version == 2:
            return unpickle(lzma.decompress(s))
        else:
            raise Exception('unknown version')


def patch_pandas_pickle():
    if pd.__version__ < '0.24':
        import sys
        from types import ModuleType
        from pandas.core.internals import BlockManager
        pkg_name = 'pandas.core.internals.managers'
        if pkg_name not in sys.modules:
            m = ModuleType(pkg_name)
            m.BlockManager = BlockManager
            sys.modules[pkg_name] = m
patch_pandas_pickle()












import pandas as pd
import random
import numpy as np
import glob
import os
import pickle
import datetime
import time
pd.set_option("max_columns", 200)

startTm = datetime.datetime.now()
readPath = '/home/work516/day_stock/***'
dataPathLs = np.array(glob.glob(readPath))
dataPathLs = dataPathLs[[np.array([os.path.basename(i).split('.')[0][:2] == 'SZ' for i in dataPathLs])]]
db = pd.DataFrame()
for p in dataPathLs:
    dayData = pd.read_csv(p, compression='gzip')
    db = pd.concat([db, dayData])
print(datetime.datetime.now() - startTm)

year = "2019"
startDate = '20190525'
endDate = '20191231'
readPath = '/mnt/usb/data/' + year + '/***/***'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([os.path.basename(i).split('_')[0] for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]
date_list = pd.read_csv("/home/work516/KR_upload_code/trading_days.csv")
wr_ong = []
mi_ss = []
less = []

for data in dataPathLs:    
    
    if len(np.array(glob.glob(data + '/SZ/snapshot***'))) == 0:
        if int(os.path.basename(data)) not in date_list["Date"].values:
            continue
        else:
            print(os.path.basename(data) + " less data!!!!!!!!!!!!!!!!!")
            less.append(data)
            continue
    startTm = datetime.datetime.now()
    date = os.path.basename(data)
    rar_path = data + '/SZ/snapshot.7z'
    path = '/mnt/e/unzip_data/2019/SZ'
    path1 = path + '/' + date
    un_path = path1
    cmd = '7za x {} -o{}'.format(rar_path, un_path)
    os.system(cmd)
    print(datetime.datetime.now() - startTm)
    print(date + ' unzip finished')
    
    readPath = path1 + '/snapshot/***2/***'
    dataPathLs = np.array(glob.glob(readPath))
    dateLs = np.array([int(os.path.basename(i).split('.')[0]) for i in dataPathLs])
    dataPathLs = dataPathLs[(dateLs < 4000) | ((dateLs > 300000) & (dateLs < 310000))]
    SZ = []
    ll = []
    startTm = datetime.datetime.now()
    for i in dataPathLs:
        try:
            df = pd.read_csv(i, usecols = [0,1,4,5,6,7,9,12,17,18,19,24,25,26,28,29,30,32,33,34,35])
        except:
            print("empty data")
            print(i)
            ll.append(int(os.path.basename(i).split('.')[0]))
            continue
        df["StockID"] = int(os.path.basename(i).split('.')[0])
        SZ += [df]
    del df
    SZ = pd.concat(SZ).reset_index(drop=True)
    print(datetime.datetime.now() - startTm)
    
    startTm = datetime.datetime.now()
    SZ["skey"] = SZ["StockID"] + 2000000
    SZ.drop(["StockID"],axis=1,inplace=True)
    SZ["date"] = int(SZ["QuotTime"].iloc[0]//1000000000)
    SZ["time"] = (SZ['QuotTime'] - int(SZ['QuotTime'].iloc[0]//1000000000*1000000000)).astype(np.int64) * 1000
    SZ["clockAtArrival"] = SZ["QuotTime"].astype(str).apply(lambda x: np.int64(datetime.datetime.strptime(x, '%Y%m%d%H%M%S%f').timestamp()*1e6))
    SZ['datetime'] = SZ["clockAtArrival"].apply(lambda x: datetime.datetime.fromtimestamp(x/1e6))
    SZ.drop(["QuotTime"],axis=1,inplace=True)
    print(datetime.datetime.now() - startTm)
    
    startTm = datetime.datetime.now()
    SZ["BidPrice"] = SZ["BidPrice"].apply(lambda x: [float(i) for i in x[1:-1].split(',')])
    SZ["OfferPrice"] = SZ["OfferPrice"].apply(lambda x: [float(i) for i in x[1:-1].split(',')])
    SZ["BidOrderQty"] = SZ["BidOrderQty"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["OfferOrderQty"] = SZ["OfferOrderQty"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["BidNumOrders"] = SZ["BidNumOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["OfferNumOrders"] = SZ["OfferNumOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])

    for i in range(1, 11):
        SZ["bid" + str(i) + 'p'] = SZ["BidPrice"].apply(lambda x: x[i-1],2)
    SZ.drop(["BidPrice"],axis=1,inplace=True)
    print("1")
    for i in range(1, 11):
        SZ["ask" + str(i) + 'p'] = SZ["OfferPrice"].apply(lambda x: x[i-1],2)
    SZ.drop(["OfferPrice"],axis=1,inplace=True)
    print("2")
    for i in range(1, 11):
        SZ["bid" + str(i) + 'q'] = SZ["BidOrderQty"].apply(lambda x: x[i-1])
    SZ.drop(["BidOrderQty"],axis=1,inplace=True)
    print("3")
    for i in range(1, 11):
        SZ["ask" + str(i) + 'q'] = SZ["OfferOrderQty"].apply(lambda x: x[i-1])
    SZ.drop(["OfferOrderQty"],axis=1,inplace=True)
    print("4")
    for i in range(1, 11):
        SZ["bid" + str(i) + 'n'] = SZ["BidNumOrders"].apply(lambda x: x[i-1])
        SZ["bid" + str(i) + 'n'] = SZ["bid" + str(i) + 'n'].astype('int32')
    SZ.drop(["BidNumOrders"],axis=1,inplace=True)
    print("5")
    for i in range(1, 11):
        SZ["ask" + str(i) + 'n'] = SZ["OfferNumOrders"].apply(lambda x: x[i-1])
        SZ["ask" + str(i) + 'n'] = SZ["ask" + str(i) + 'n'].astype('int32') 
    SZ.drop(["OfferNumOrders"],axis=1,inplace=True)
    print("6")
    
    SZ["BidOrders"] = SZ["BidOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["OfferOrders"] = SZ["OfferOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])

    for i in range(1, 51):
        SZ["bid1Top" + str(i) + 'q'] = SZ["BidOrders"].apply(lambda x: x[i-1])
        SZ["bid1Top" + str(i) + 'q'] = SZ["bid1Top" + str(i) + 'q'].astype('int32') 
    SZ.drop(["BidOrders"],axis=1,inplace=True)
    print("7")
    
    for i in range(1, 51):
        SZ["ask1Top" + str(i) + 'q'] = SZ["OfferOrders"].apply(lambda x: x[i-1])
        SZ["ask1Top" + str(i) + 'q'] = SZ["ask1Top" + str(i) + 'q'].astype('int32') 
    SZ.drop(["OfferOrders"],axis=1,inplace=True)
    print("8")
    print(datetime.datetime.now() - startTm)
        
    
    startTm = datetime.datetime.now()
    SZ.columns = ['cum_trades_cnt', 'total_bid_quantity', 'total_ask_quantity', 'close',
       'total_ask_vwap', 'cum_amount', 'cum_volume', 'open', 'high',
       'prev_close', 'low', 'total_bid_vwap', 'skey', 'date', 'time',
       'clockAtArrival', 'datetime', 'bid1p', 'bid2p', 'bid3p', 'bid4p',
       'bid5p', 'bid6p', 'bid7p', 'bid8p', 'bid9p', 'bid10p', 'ask1p',
       'ask2p', 'ask3p', 'ask4p', 'ask5p', 'ask6p', 'ask7p', 'ask8p',
       'ask9p', 'ask10p', 'bid1q', 'bid2q', 'bid3q', 'bid4q', 'bid5q',
       'bid6q', 'bid7q', 'bid8q', 'bid9q', 'bid10q', 'ask1q', 'ask2q',
       'ask3q', 'ask4q', 'ask5q', 'ask6q', 'ask7q', 'ask8q', 'ask9q',
       'ask10q', 'bid1n', 'bid2n', 'bid3n', 'bid4n', 'bid5n', 'bid6n',
       'bid7n', 'bid8n', 'bid9n', 'bid10n', 'ask1n', 'ask2n', 'ask3n',
       'ask4n', 'ask5n', 'ask6n', 'ask7n', 'ask8n', 'ask9n', 'ask10n',
       'bid1Top1q', 'bid1Top2q', 'bid1Top3q', 'bid1Top4q', 'bid1Top5q',
       'bid1Top6q', 'bid1Top7q', 'bid1Top8q', 'bid1Top9q', 'bid1Top10q',
       'bid1Top11q', 'bid1Top12q', 'bid1Top13q', 'bid1Top14q',
       'bid1Top15q', 'bid1Top16q', 'bid1Top17q', 'bid1Top18q',
       'bid1Top19q', 'bid1Top20q', 'bid1Top21q', 'bid1Top22q',
       'bid1Top23q', 'bid1Top24q', 'bid1Top25q', 'bid1Top26q',
       'bid1Top27q', 'bid1Top28q', 'bid1Top29q', 'bid1Top30q',
       'bid1Top31q', 'bid1Top32q', 'bid1Top33q', 'bid1Top34q',
       'bid1Top35q', 'bid1Top36q', 'bid1Top37q', 'bid1Top38q',
       'bid1Top39q', 'bid1Top40q', 'bid1Top41q', 'bid1Top42q',
       'bid1Top43q', 'bid1Top44q', 'bid1Top45q', 'bid1Top46q',
       'bid1Top47q', 'bid1Top48q', 'bid1Top49q', 'bid1Top50q',
       'ask1Top1q', 'ask1Top2q', 'ask1Top3q', 'ask1Top4q', 'ask1Top5q',
       'ask1Top6q', 'ask1Top7q', 'ask1Top8q', 'ask1Top9q', 'ask1Top10q',
       'ask1Top11q', 'ask1Top12q', 'ask1Top13q', 'ask1Top14q',
       'ask1Top15q', 'ask1Top16q', 'ask1Top17q', 'ask1Top18q',
       'ask1Top19q', 'ask1Top20q', 'ask1Top21q', 'ask1Top22q',
       'ask1Top23q', 'ask1Top24q', 'ask1Top25q', 'ask1Top26q',
       'ask1Top27q', 'ask1Top28q', 'ask1Top29q', 'ask1Top30q',
       'ask1Top31q', 'ask1Top32q', 'ask1Top33q', 'ask1Top34q',
       'ask1Top35q', 'ask1Top36q', 'ask1Top37q', 'ask1Top38q',
       'ask1Top39q', 'ask1Top40q', 'ask1Top41q', 'ask1Top42q',
       'ask1Top43q', 'ask1Top44q', 'ask1Top45q', 'ask1Top46q',
       'ask1Top47q', 'ask1Top48q', 'ask1Top49q', 'ask1Top50q']
    
    SZ = SZ.fillna(0)
#     SZ["p1"] = SZ["bid1p"] + SZ["ask1p"]
#     tt = SZ[(SZ["cum_volume"] > 0) & (SZ["time"] < 145700000000)].groupby("skey")['p1'].min()
#     SZ.drop("p1", axis=1, inplace=True)
#     try:
#         assert(tt[tt == 0].shape[0] == 0)
#     except:
#         display(tt[tt == 0])
#     SZ = SZ[~((SZ["bid1p"] == 0) & (SZ["ask1p"] == 0))]
    SZ["ordering"] = SZ.groupby("skey").cumcount()
    SZ["ordering"] = SZ["ordering"] + 1

    for cols in ["total_bid_orders",'total_ask_orders','total_bid_levels', 'total_ask_levels', 'bid_trade_max_duration',
                 'ask_trade_max_duration', 'cum_canceled_buy_orders', 'cum_canceled_buy_volume', "cum_canceled_buy_amount",
                 "cum_canceled_sell_orders", 'cum_canceled_sell_volume',"cum_canceled_sell_amount", "has_missing"]:
        SZ[cols] = 0
        
#     for col in ["cum_volume", "total_bid_quantity", "total_ask_quantity",'cum_canceled_buy_volume',
#         'cum_canceled_sell_volume']:
#         SZ[col] = SZ[col].astype('int64')
    
    for col in ["skey", "date", "cum_trades_cnt", "total_bid_orders",
        'total_ask_orders', 'total_bid_levels', 'total_ask_levels', 'cum_canceled_buy_orders','cum_canceled_sell_orders',
            "ordering", 'bid_trade_max_duration', 'ask_trade_max_duration','has_missing']:
        SZ[col] = SZ[col].astype('int32')
    
        
#     for cols in ["prev_close", 'open', "high", "low", "close", 'bid10p','bid9p','bid8p','bid7p','bid6p','bid5p','bid4p','bid3p',
#              'bid2p','bid1p','ask1p','ask2p','ask3p','ask4p','ask5p','ask6p','ask7p','ask8p','ask9p','ask10p', 'total_bid_vwap', "total_ask_vwap",
#                 "cum_amount"]:
# #         SZ[cols] = SZ[cols].apply(lambda x: round(x, 2)).astype('float64')
#         print(cols)
#         print(SZ[cols].astype(str).apply(lambda x: len(str(x.split('.')[1]))).unique())

        
    for cols in ["cum_canceled_sell_amount", "cum_canceled_buy_amount"]:
        SZ[cols] = SZ[cols].astype('float64')

        
    assert(sum(SZ[SZ["open"] != 0].groupby("skey")["open"].nunique() != 1) == 0)
    assert(sum(SZ[SZ["prev_close"] != 0].groupby("skey")["prev_close"].nunique() != 1) == 0)
    SZ["prev_close"] = np.where(SZ["time"] >= 91500000000, SZ.groupby("skey")["prev_close"].transform("max"), SZ["prev_close"]) 
    SZ["open"] = np.where(SZ["cum_volume"] > 0, SZ.groupby("skey")["open"].transform("max"), SZ["open"])
    assert(sum(SZ[SZ["open"] != 0].groupby("skey")["open"].nunique() != 1) == 0)
    assert(sum(SZ[SZ["prev_close"] != 0].groupby("skey")["prev_close"].nunique() != 1) == 0)
    assert(SZ[SZ["cum_volume"] > 0]["open"].min() > 0)
    
    print(datetime.datetime.now() - startTm)
    
    
    # check 1
    startTm = datetime.datetime.now()
    da_te = str(SZ["date"].iloc[0]) 
    da_te = da_te[:4] + '-' + da_te[4:6] + '-' + da_te[6:8]
    db1 = db[db["date"] == da_te]
    db1["ID"] = db1["ID"].str[2:].astype(int) + 2000000
    db1["date"] = (db1["date"].str[:4] + db1["date"].str[5:7] + db1["date"].str[8:]).astype(int)
    SZ["cum_max"] = SZ.groupby("skey")["cum_volume"].transform(max)
    s2 = SZ[SZ["cum_volume"] == SZ["cum_max"]].groupby("skey").first().reset_index()
    SZ.drop("cum_max", axis=1, inplace=True)
    s2 = s2.rename(columns={"skey": "ID", 'open':"d_open", "prev_close":"d_yclose","high":"d_high", "low":"d_low", "close":"d_close", "cum_volume":"d_volume", "cum_amount":"d_amount"})
    s2 = s2[["ID", "date", "d_open", "d_yclose", "d_high", "d_low", "d_close", "d_volume", "d_amount"]]
    re = pd.merge(db1, s2, on=["ID", "date", "d_open", "d_yclose","d_high", "d_low", "d_volume"], how="outer")
    try:
        assert(sum(re["d_amount_y"].isnull()) == 0)
    except:
        display(re[re["d_amount_y"].isnull()])
        wr_ong += [re[re["d_amount_y"].isnull()]]
    del re
    del s2
    del db1
    print(datetime.datetime.now() - startTm)
    
    # check 2
    # first part
    startTm = datetime.datetime.now()
    date = pd.DataFrame(pd.date_range(start='2019-06-10 08:30:00', end='2019-06-10 18:00:00', freq='s'), columns=["Orig"])
    date["time"] = date["Orig"].apply(lambda x: int(x.strftime("%H%M%S"))*1000)
    date["group"] = date["time"]//10000
    SZ["group"] = SZ["time"]//10000000
    gl = date[((date["time"] >= 93000000) & (date["time"] <= 113000000))|((date["time"] >= 130000000) & (date["time"] <= 150000000))]["group"].unique()
    l = set(gl) - set(SZ["group"].unique())
    SZ["has_missing1"] = 0 
    if len(l) != 0:
        print("massive missing")
        print(l)
        SZ["order"] = SZ.groupby(["skey", "time"]).cumcount()
        for i in l:
            SZ["t"] = SZ[SZ["group"] > i].groupby("StockID")["time"].transform("min")
            SZ["has_missing1"] = np.where((SZ["time"] == SZ["t"]) & (SZ["order"] == 0), 1, 0)
        SZ.drop(["order", "t", "group"], axis=1, inplace=True)   
    else:
        print("no massive missing")
        SZ.drop(["group"], axis=1, inplace=True)
    



    # second part

    SZ["time_interval"] = SZ.groupby("skey")["datetime"].apply(lambda x: x - x.shift(1))
    SZ["time_interval"] = SZ["time_interval"].apply(lambda x: x.seconds)
    SZ["tn_update"] = SZ.groupby("skey")["cum_trades_cnt"].apply(lambda x: x-x.shift(1))

    f1 = SZ[(SZ["time"] >= 93000000000) & (SZ["tn_update"] != 0)].groupby("skey")["time"].min().reset_index()
    f1 = f1.rename(columns={"time": "time1"})
    f2 = SZ[(SZ["time"] >= 130000000000) & (SZ["tn_update"] != 0)].groupby("skey")["time"].min().reset_index()
    f2 = f2.rename(columns={"time": "time2"})
    f3 = SZ[(SZ["time"] >= 150000000000) & (SZ["tn_update"] != 0)].groupby("skey")["time"].min().reset_index()
    f3 = f3.rename(columns={"time": "time3"})
    SZ = pd.merge(SZ, f1, on="skey", how="left")
    del f1
    SZ = pd.merge(SZ, f2, on="skey", how="left")
    del f2
    SZ = pd.merge(SZ, f3, on="skey", how="left")
    del f3
    p99 = SZ[(SZ["time"] > 93000000000) & (SZ["time"] < 145700000000) & (SZ["time"] != SZ["time2"]) & (SZ["tn_update"] != 0)]\
    .groupby("skey")["tn_update"].apply(lambda x: x.describe([0.99])["99%"]).reset_index()
    p99 = p99.rename(columns={"tn_update":"99%"})
    SZ = pd.merge(SZ, p99, on="skey", how="left")

    SZ["has_missing2"] = 0
    SZ["has_missing2"] = np.where((SZ["time_interval"] > 60) & (SZ["tn_update"] > SZ["99%"]) & 
         (SZ["time"] > SZ["time1"]) & (SZ["time"] != SZ["time2"]) & (SZ["time"] != SZ["time3"])& (SZ["time"] != 100000000000), 1, 0)
    SZ.drop(["time_interval", "tn_update", "time1", "time2", "time3", "99%"], axis=1, inplace=True) 

    SZ["has_missing"] = np.where((SZ["has_missing1"] == 1) | (SZ["has_missing2"] == 1), 1, 0)
    SZ.drop(["has_missing1", "has_missing2"], axis=1, inplace=True) 
    if SZ[SZ["has_missing"] == 1].shape[0] != 0:
        print("has missing!!!!!!!!!!!!!!!!!!!!!!!")
        print(SZ[SZ["has_missing"] == 1].shape[0])
        mi_ss += [SZ[SZ["has_missing"] == 1]]
    print(datetime.datetime.now() - startTm)

    
    
    startTm = datetime.datetime.now()
    SZ["has_missing"] = SZ["has_missing"].astype('int32')
    SZ = SZ[["skey", "date", "time", "clockAtArrival", "datetime", "ordering", "has_missing", "cum_trades_cnt", "cum_volume", "cum_amount", "prev_close",
                            "open", "high", "low", "close", 'bid10p','bid9p','bid8p','bid7p','bid6p','bid5p','bid4p','bid3p','bid2p','bid1p',
                            'ask1p','ask2p','ask3p','ask4p','ask5p','ask6p','ask7p','ask8p','ask9p','ask10p', 'bid10q','bid9q','bid8q',
                             'bid7q','bid6q','bid5q','bid4q','bid3q','bid2q','bid1q', 'ask1q','ask2q','ask3q','ask4q','ask5q','ask6q',
                             'ask7q','ask8q','ask9q','ask10q', 'bid10n', 'bid9n', 'bid8n', 'bid7n', 'bid6n', 'bid5n', 'bid4n', 'bid3n', 'bid2n', 'bid1n', 
                             'ask1n', 'ask2n', 'ask3n', 'ask4n', 'ask5n', 'ask6n','ask7n', 'ask8n', 'ask9n', 'ask10n','bid1Top1q','bid1Top2q','bid1Top3q','bid1Top4q','bid1Top5q','bid1Top6q',
        'bid1Top7q','bid1Top8q','bid1Top9q','bid1Top10q','bid1Top11q','bid1Top12q','bid1Top13q','bid1Top14q','bid1Top15q','bid1Top16q','bid1Top17q','bid1Top18q',
        'bid1Top19q','bid1Top20q','bid1Top21q','bid1Top22q','bid1Top23q','bid1Top24q','bid1Top25q','bid1Top26q','bid1Top27q','bid1Top28q','bid1Top29q',
        'bid1Top30q','bid1Top31q','bid1Top32q','bid1Top33q','bid1Top34q','bid1Top35q','bid1Top36q','bid1Top37q','bid1Top38q','bid1Top39q','bid1Top40q',
        'bid1Top41q','bid1Top42q','bid1Top43q','bid1Top44q','bid1Top45q','bid1Top46q','bid1Top47q','bid1Top48q','bid1Top49q','bid1Top50q', 'ask1Top1q',
        'ask1Top2q','ask1Top3q','ask1Top4q','ask1Top5q','ask1Top6q','ask1Top7q','ask1Top8q','ask1Top9q','ask1Top10q','ask1Top11q','ask1Top12q','ask1Top13q',
        'ask1Top14q','ask1Top15q','ask1Top16q','ask1Top17q','ask1Top18q','ask1Top19q','ask1Top20q','ask1Top21q','ask1Top22q','ask1Top23q',
        'ask1Top24q','ask1Top25q','ask1Top26q','ask1Top27q','ask1Top28q','ask1Top29q','ask1Top30q','ask1Top31q','ask1Top32q','ask1Top33q',
        'ask1Top34q','ask1Top35q','ask1Top36q','ask1Top37q','ask1Top38q','ask1Top39q','ask1Top40q','ask1Top41q','ask1Top42q','ask1Top43q',
        'ask1Top44q','ask1Top45q','ask1Top46q','ask1Top47q','ask1Top48q','ask1Top49q','ask1Top50q',"total_bid_quantity", "total_ask_quantity","total_bid_vwap", "total_ask_vwap",
        "total_bid_orders",'total_ask_orders','total_bid_levels', 'total_ask_levels', 'bid_trade_max_duration', 'ask_trade_max_duration', 'cum_canceled_buy_orders', 'cum_canceled_buy_volume',
        "cum_canceled_buy_amount", "cum_canceled_sell_orders", 'cum_canceled_sell_volume',"cum_canceled_sell_amount"]]
    
    display(SZ["date"].iloc[0])
    print("SZ finished")
    
    
    database_name = 'com_md_eq_cn'
    user = "zhenyuy"
    password = "bnONBrzSMGoE"

    db1 = DB("192.168.10.223", database_name, user, password)
    db1.write('md_snapshot_l2', SZ)
    
    del SZ
    print(datetime.datetime.now() - startTm)

wr_ong = pd.concat(wr_ong).reset_index(drop=True)
print(wr_ong)
mi_ss = pd.concat(mi_ss).reset_index(drop=True)
print(mi_ss)

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:203: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.

0:05:38.809347
0:01:18.130901
20190527 unzip finished
0:00:59.992903
0:02:08.226885
1
2
3
4
5
6
7
8
0:15:21.091310
0:00:41.854021

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1000,2001914,20190527,10.72,10.84,10.37,10.7,10.64,0.973838,0.005639,-0.044643,0.02503,0.029584,6262275.0,66640290.41,0.009391,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:06.030466
no massive missing
0:03:01.160447

20190527

SZ finished
0:01:31.793849
0:00:51.390751
20190528 unzip finished
0:01:05.264252
0:02:05.600633
1
2
3
4
5
6
7
8
0:15:35.039197
0:00:41.511467

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
999,2001914,20190528,10.68,11.05,10.57,10.84,10.7,0.973838,0.013084,-0.034728,-0.001503,-0.00002,9474418.0,1.027646e+08,0.014208,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.771107
no massive missing
0:03:07.032020

20190528

SZ finished
0:01:51.669845
0:01:00.026087
20190529 unzip finished
0:01:00.745129
0:02:02.510921
1
2
3
4
5
6
7
8
0:15:18.044702
0:00:45.342678

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1000,2001914,20190529,10.79,11.31,10.75,10.92,10.84,0.973838,0.00738,-0.025,0.000278,0.004106,7948613.0,88067920.86,0.01192,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.998575
no massive missing
0:03:18.840896

20190529

SZ finished
0:02:06.412216
0:00:51.996273
20190530 unzip finished
0:01:02.777234
0:02:01.622746
1
2
3
4
5
6
7
8
0:15:20.443946
0:00:43.650672

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1000,2001914,20190530,10.86,10.99,10.75,10.98,10.92,0.973838,0.005495,0.035849,-0.006145,-0.006423,3978952.0,43319594.2,0.005967,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:06.618336
no massive missing
0:03:02.321957

20190530

SZ finished
0:01:54.719703
0:00:51.188630
20190531 unzip finished
0:01:01.328762
0:02:02.739853
1
2
3
4
5
6
7
8
0:15:26.542441
0:00:46.195669

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1000,2001914,20190531,10.99,11.18,10.91,11.05,10.98,0.973838,0.006375,0.038534,-0.002924,-0.001448,6494864.0,71812345.88,0.00974,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:08.076403
no massive missing
0:03:50.347980

20190531

SZ finished
0:01:53.498473
0:00:52.876916
20190603 unzip finished
0:00:59.034768
0:01:59.701644
1
2
3
4
5
6
7
8
0:14:25.051727
0:00:40.448664

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1000,2001914,20190603,11.05,11.23,10.76,10.97,11.05,0.973838,-0.00724,0.025234,-0.011846,-0.014843,5164386.0,57027078.96,0.007745,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.384772
no massive missing
0:02:46.654380

20190603

SZ finished
0:01:27.344307
0:00:46.336633
20190604 unzip finished
0:00:55.935562
0:02:06.951456
1
2
3
4
5
6
7
8
0:13:50.097363
0:00:39.557151

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1001,2001914,20190604,10.98,11.03,10.64,10.79,10.97,0.973838,-0.016408,-0.004613,-0.012032,-0.017906,4206537.0,45367872.74,0.006308,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.442334
no massive missing
0:02:59.519033

20190604

SZ finished
0:01:15.457299
0:00:45.637316
20190605 unzip finished
0:00:56.512121
0:01:52.425885
1
2
3
4
5
6
7
8
0:13:49.177287
0:00:41.219297

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1001,2001914,20190605,10.85,10.97,10.61,10.8,10.79,0.973838,0.000927,-0.010989,-0.002417,-0.000487,4275747.0,45985584.88,0.006412,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.552405
no massive missing
0:02:47.718863

20190605

SZ finished
0:01:20.762601
0:00:46.250431
20190606 unzip finished
0:00:54.147818
0:01:54.750417
1
2
3
4
5
6
7
8
0:13:43.484654
0:00:41.724323

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1002,2001914,20190606,10.61,10.63,9.96,9.96,10.5,0.946787,-0.051429,-0.066979,-0.021957,-0.024749,6494107.0,66315909.46,0.009739,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.792123
no massive missing
0:03:07.355833

20190606

SZ finished
0:01:36.657915
0:00:41.249026
20190610 unzip finished
0:00:53.695179
0:01:48.186043
1
2
3
4
5
6
7
8
0:13:20.649324
0:00:42.718295

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1002,2001914,20190610,10.03,10.35,9.95,10.2,9.96,0.946787,0.024096,-0.050549,0.009934,0.013544,8682107.0,87934873.6,0.01302,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.515420
no massive missing
0:02:48.633356

20190610

SZ finished
0:01:13.940701
0:00:48.381099
20190611 unzip finished
0:01:02.431704
0:02:20.851443
1
2
3
4
5
6
7
8
0:15:22.158898
0:00:48.321425

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1002,2001914,20190611,10.26,10.39,10.13,10.36,10.2,0.946787,0.015686,-0.028624,0.037291,0.037397,7725420.0,79422382.17,0.011585,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.683315
no massive missing
0:03:08.902578

20190611

SZ finished
0:01:47.670251
0:00:45.467303
20190612 unzip finished
0:00:58.498332
0:02:11.087080
1
2
3
4
5
6
7
8
0:14:30.749916
0:00:44.309984

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1002,2001914,20190612,10.33,10.34,9.9,9.99,10.36,0.946787,-0.035714,-0.04769,-0.007749,-0.004677,7639001.0,76981681.7,0.011456,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.813103
no massive missing
0:02:53.764359

20190612

SZ finished
0:01:24.240844
0:00:54.639746
20190613 unzip finished
0:00:58.700824
0:01:56.598297
1
2
3
4
5
6
7
8
0:14:31.584919
0:00:44.075195

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1002,2001914,20190613,9.93,10.13,9.86,10.02,9.99,0.946787,0.003003,-0.045714,0.002911,0.005551,3433400.0,34393444.0,0.005149,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:06.285927
no massive missing
0:03:09.128480

20190613

SZ finished
0:01:39.519378
0:00:45.433537
20190614 unzip finished
0:00:56.008903
0:01:56.814496
1
2
3
4
5
6
7
8
0:14:39.424634
0:00:41.511823

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1002,2001914,20190614,10.1,10.25,9.9,9.98,10.02,0.946787,-0.003992,0.002008,-0.016837,-0.022864,4543212.0,45969302.79,0.006813,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.629762
no massive missing
0:02:59.916179

20190614

SZ finished
0:01:26.297063
0:00:43.002621
20190617 unzip finished
0:00:52.182895
0:01:46.952940
1
2
3
4
5
6
7
8
0:13:39.287041
0:00:43.815758

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1001,2001914,20190617,9.95,10.23,9.81,10.04,9.98,0.946787,0.006012,-0.015686,0.001521,-0.002396,5436866.0,54626593.24,0.008153,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.909504
no massive missing
0:02:41.899926

20190617

SZ finished
0:01:20.927041
0:00:41.745176
20190618 unzip finished
0:00:55.640989
0:01:58.362783
1
2
3
4
5
6
7
8
0:13:52.654400
0:00:39.964064

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1002,2001914,20190618,10.01,10.21,9.9,10.05,10.04,0.946787,0.000996,-0.029923,-0.001181,0.00004,5318412.0,53426993.17,0.007976,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.733719
no massive missing
0:02:52.960018

20190618

SZ finished
0:01:12.008105
0:00:47.133016
20190619 unzip finished
0:00:59.128680
0:01:55.610584
1
2
3
4
5
6
7
8
0:14:28.918871
0:00:46.597082

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1002,2001914,20190619,10.25,10.9,10.04,10.4,10.05,0.946787,0.034826,0.041041,0.012876,0.014222,9425761.0,97580775.85,0.014135,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:06.049287
no massive missing
0:03:00.248108

20190619

SZ finished
0:01:39.725133
0:00:50.754371
20190620 unzip finished
0:01:03.202352
0:02:20.089413
1
2
3
4
5
6
7
8
0:15:42.751566
0:00:46.385100

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1001,2001914,20190620,10.42,10.81,10.32,10.63,10.4,0.946787,0.022115,0.060878,0.01972,0.015864,7672162.0,81511763.44,0.011506,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:06.487637
no massive missing
0:03:07.644371

20190620

SZ finished
0:01:26.098365
0:00:49.273254
20190621 unzip finished
0:01:04.190367
0:02:04.716752
1
2
3
4
5
6
7
8
0:16:13.735456
0:00:48.574309

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1001,2001914,20190621,10.8,11.11,10.71,10.99,10.63,0.946787,0.033866,0.101202,0.013436,0.016687,6406300.0,70021509.45,0.009607,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:06.177418
no massive missing
0:03:09.029963

20190621

SZ finished
0:01:46.471449
0:00:47.106958
20190624 unzip finished
0:00:58.916450
0:01:59.195888
1
2
3
4
5
6
7
8
0:15:03.420061
0:00:44.555511

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1002,2001914,20190624,11.05,11.19,10.81,11.05,10.99,0.946787,0.00546,0.100598,0.000577,-0.000415,4937723.0,54363507.15,0.007405,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:06.015132
no massive missing
0:03:04.848972

20190624

SZ finished
0:01:18.531935
0:00:49.208471
20190625 unzip finished
0:01:01.208715
0:02:14.751808
1
2
3
4
5
6
7
8
0:15:11.149713
0:00:43.899717

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1002,2001914,20190625,10.97,12.16,10.93,11.76,11.05,0.946787,0.064253,0.170149,-0.009796,-0.009643,22381983.0,2.655138e+08,0.033565,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.958529
no massive missing
0:03:05.619782

20190625

SZ finished
0:01:23.731938
0:00:43.564587
20190626 unzip finished
0:00:56.958747
0:01:51.597726
1
2
3
4
5
6
7
8
0:14:19.723414
0:00:44.123537

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1002,2001914,20190626,11.75,11.99,11.52,11.72,11.76,0.946787,-0.003401,0.126923,-0.002491,-0.000056,10623540.0,1.249925e+08,0.015932,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:06.019630
no massive missing
0:02:50.581241

20190626

SZ finished
0:01:14.865460
0:00:45.461778
20190627 unzip finished
0:00:56.463973
0:01:55.854601
1
2
3
4
5
6
7
8
0:14:49.870669
0:00:42.433543

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1003,2001914,20190627,11.9,12.46,11.9,12.08,11.72,0.946787,0.030717,0.136406,0.009046,0.00863,15288419.0,1.854266e+08,0.022927,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.711599
no massive missing
0:02:59.068452

20190627

SZ finished
0:01:21.526272
0:00:48.412307
20190628 unzip finished
0:00:58.814603
0:02:16.052893
1
2
3
4
5
6
7
8
0:15:00.657415
0:00:45.718454

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1004,2001914,20190628,12.06,12.29,11.8,11.85,12.08,0.946787,-0.01904,0.078253,-0.011384,-0.014106,7775297.0,93650491.05,0.01166,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.892574
no massive missing
0:02:56.486722

20190628

SZ finished
0:01:27.477634
0:00:49.207853
20190701 unzip finished
0:01:00.666273
0:02:08.491945
1
2
3
4
5
6
7
8
0:15:37.511181
0:00:43.535897

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1005,2001914,20190701,12.23,12.71,12.02,12.54,11.85,0.946787,0.058228,0.134842,0.030256,0.030062,13454384.0,1.660814e+08,0.020177,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:06.378507
no massive missing
0:02:59.799245

20190701

SZ finished
0:01:18.684846
0:00:51.187974
20190702 unzip finished
0:00:59.608965
0:02:01.907833
1
2
3
4
5
6
7
8
0:15:09.411698
0:00:43.297411

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1005,2001914,20190702,12.54,12.65,12.24,12.38,12.54,0.946787,-0.012759,0.052721,-0.003108,0.000384,7264822.0,90656008.57,0.010895,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:06.089774
no massive missing
0:03:18.846599

20190702

SZ finished
0:01:34.540567
0:00:45.438818
20190703 unzip finished
0:00:57.260626
0:01:55.699106
1
2
3
4
5
6
7
8
0:15:18.312080
0:00:48.190711

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1005,2001914,20190703,12.51,12.52,11.83,11.99,12.38,0.946787,-0.031502,0.023038,-0.008592,-0.01003,13841465.0,1.662719e+08,0.020757,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:06.260768
no massive missing
0:03:05.906149

20190703

SZ finished
0:01:26.709150
0:00:45.896797
20190704 unzip finished
0:00:57.974210
0:01:57.801963
1
2
3
4
5
6
7
8
0:14:27.199555
0:00:43.267516

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1005,2001914,20190704,12.0,12.17,11.66,11.8,11.99,0.946787,-0.015847,-0.023179,-0.003115,-0.004445,7968921.0,94882874.62,0.011951,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.651300
no massive missing
0:02:59.512465

20190704

SZ finished
0:01:41.378517
0:00:44.944879
20190705 unzip finished
0:00:57.953975
0:02:03.583681
1
2
3
4
5
6
7
8
0:14:06.364763
0:00:44.853000

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1006,2001914,20190705,11.96,12.02,11.4,11.66,11.8,0.946787,-0.011864,-0.016034,0.00351,0.003676,7947345.0,92629231.14,0.011918,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:06.046379
no massive missing
0:02:56.599804

20190705

SZ finished
0:01:14.902350
0:00:50.411028
20190708 unzip finished
0:00:59.307928
0:02:14.039307
1
2
3
4
5
6
7
8
0:15:08.771686
0:00:44.347276

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1005,2001914,20190708,11.86,11.87,11.18,11.56,11.66,0.946787,-0.008576,-0.07815,-0.034085,-0.033181,10011284.0,1.158416e+08,0.015013,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.811168
no massive missing
0:03:01.549253

20190708

SZ finished
0:01:25.462016
0:00:43.184188
20190709 unzip finished
0:00:56.692565
0:02:00.918551
1
2
3
4
5
6
7
8
0:14:09.038412
0:00:41.016694

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1002,2001914,20190709,11.59,11.79,11.38,11.5,11.56,0.946787,-0.00519,-0.071082,0.002226,0.003066,6403721.0,73868841.92,0.009603,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:06.003875
no massive missing
0:02:52.944413

20190709

SZ finished
0:01:11.840894
0:00:40.829304
20190710 unzip finished
0:00:52.981140
0:01:48.768337
1
2
3
4
5
6
7
8
0:13:36.709761
0:00:42.501660

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1002,2001914,20190710,11.52,11.6,11.3,11.45,11.5,0.946787,-0.004348,-0.045038,-0.007735,-0.008688,5177838.0,59249696.28,0.007765,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.479333
no massive missing
0:02:47.908963

20190710

SZ finished
0:01:10.916640
0:00:42.153269
20190711 unzip finished
0:00:56.816602
0:02:04.623071
1
2
3
4
5
6
7
8
0:14:03.938437
0:00:40.935892

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1000,2001914,20190711,11.53,11.91,11.36,11.64,11.45,0.946787,0.016594,-0.013559,0.000141,-0.001581,8185101.0,95327846.41,0.012275,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.607384
no massive missing
0:02:47.251128

20190711

SZ finished
0:01:12.864678
0:00:43.388137
20190712 unzip finished
0:00:55.477800
0:02:01.895473
1
2
3
4
5
6
7
8
0:13:33.580477
0:00:39.703060

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1003,2001914,20190712,11.6,12.17,11.54,11.99,11.64,0.946787,0.030069,0.028302,0.003513,0.002457,7415908.0,88343362.64,0.011121,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.751304
no massive missing
0:02:56.928188

20190712

SZ finished
0:01:07.422877
0:00:49.105712
20190715 unzip finished
0:00:58.038573
0:01:53.642405
1
2
3
4
5
6
7
8
0:15:16.694384
0:00:47.750105

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1003,2001914,20190715,12.0,12.3,11.92,12.11,11.99,0.946787,0.010008,0.047578,0.013114,0.010466,5579829.0,67343693.03,0.008368,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:06.030917
no massive missing
0:03:04.339680

20190715

SZ finished
0:01:24.595716
0:00:48.572574
20190716 unzip finished
0:00:58.435249
0:02:06.575693
1
2
3
4
5
6
7
8
0:14:00.666600
0:00:42.644721

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1003,2001914,20190716,12.13,13.02,12.01,12.82,12.11,0.946787,0.058629,0.114783,0.001365,0.002164,14335857.0,1.817690e+08,0.021499,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.903532
no massive missing
0:02:53.646065

20190716

SZ finished
0:01:14.640532
0:00:43.584208
20190717 unzip finished
0:00:56.215763
0:01:52.961066
1
2
3
4
5
6
7
8
0:13:53.199975
0:00:39.783386

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1002,2001914,20190717,12.82,12.98,12.58,12.79,12.82,0.946787,-0.00234,0.117031,-0.0006,0.000794,6822341.0,87079519.26,0.010231,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.580369
no massive missing
0:02:45.569044

20190717

SZ finished
0:01:36.268431
0:00:45.311027
20190718 unzip finished
0:00:55.525434
0:01:58.990310
1
2
3
4
5
6
7
8
0:13:54.507664
0:00:43.312522

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1002,2001914,20190718,12.61,12.98,12.53,12.55,12.79,0.946787,-0.018765,0.078179,-0.01724,-0.017927,5173359.0,65589678.67,0.007758,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.428390
no massive missing
0:02:57.696278

20190718

SZ finished
0:01:22.929666
0:00:43.034549
20190719 unzip finished
0:00:56.008740
0:02:04.226402
1
2
3
4
5
6
7
8
0:13:45.805606
0:00:39.787696

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1002,2001914,20190719,12.54,12.96,12.51,12.64,12.55,0.946787,0.007171,0.054212,0.007139,0.004895,5171022.0,65977649.41,0.007755,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.646608
no massive missing
0:02:48.202532

20190719

SZ finished
0:01:15.395630
0:00:43.135175
20190722 unzip finished
0:00:56.573584
0:01:50.260446
1
2
3
4
5
6
7
8
0:14:22.667797
0:00:42.379307

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1003,2001914,20190722,12.69,12.88,12.4,12.59,12.64,0.946787,-0.003956,0.039637,-0.020931,-0.028102,5961945.0,75578639.06,0.008941,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:06.130455
no massive missing
0:02:51.380740

20190722

SZ finished
0:01:12.402316
0:00:41.402481
20190723 unzip finished
0:01:09.149280
0:01:49.342079
1
2
3
4
5
6
7
8
0:13:31.640078
0:00:39.828863

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1004,2001914,20190723,12.61,12.72,12.31,12.61,12.59,0.946787,0.001589,-0.016381,0.009912,0.011386,4608473.0,57436710.41,0.006911,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:06.203237
no massive missing
0:02:42.910917

20190723

SZ finished
0:01:13.612397
0:00:44.525404
20190724 unzip finished
0:00:59.583961
0:02:05.171389
1
2
3
4
5
6
7
8
0:14:23.570057
0:00:41.883192

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1005,2001914,20190724,12.61,12.78,12.3,12.63,12.61,0.946787,0.001586,-0.01251,0.01018,0.012421,5885004.0,73672669.34,0.008825,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.616481
no massive missing
0:03:05.576205

20190724

SZ finished
0:01:19.657731
0:00:43.117531
20190725 unzip finished
0:00:58.656222
0:01:47.044813
1
2
3
4
5
6
7
8
0:13:32.409973
0:00:42.399839

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1005,2001914,20190725,12.6,12.78,12.39,12.62,12.63,0.946787,-0.000792,0.005578,0.00382,0.003129,4105122.0,51644757.24,0.006156,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.742128
no massive missing
0:02:48.735307

20190725

SZ finished
0:01:11.432029
0:00:40.927902
20190726 unzip finished
0:00:53.536978
0:01:45.125033
1
2
3
4
5
6
7
8
0:13:29.470088
0:00:40.463611

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1006,2001914,20190726,12.99,13.38,12.9,13.1,12.62,0.946787,0.038035,0.036392,0.001322,0.001059,9015921.0,1.179235e+08,0.013521,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.525444
no massive missing
0:02:45.708996

20190726

SZ finished
0:01:12.992282
0:00:42.063941
20190729 unzip finished
0:00:53.193865
0:01:43.136419
1
2
3
4
5
6
7
8
0:13:27.602625
0:00:40.011050

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1005,2001914,20190729,13.17,13.65,13.1,13.3,13.1,0.946787,0.015267,0.056394,-0.000223,0.000456,7043940.0,93880152.03,0.010563,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.451947
no massive missing
0:02:51.540623

20190729

SZ finished
0:01:07.323499
0:00:43.943258
20190730 unzip finished
0:00:54.615783
0:01:46.843705
1
2
3
4
5
6
7
8
0:13:48.377676
0:00:39.777428

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1005,2001914,20190730,13.31,13.6,13.15,13.37,13.3,0.946787,0.005263,0.06027,0.005289,0.003973,5877729.0,78702267.45,0.008815,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.505017
no massive missing
0:02:52.279657

20190730

SZ finished
0:01:30.488982
0:00:41.701566
20190731 unzip finished
0:00:54.619333
0:01:53.857885
1
2
3
4
5
6
7
8
0:14:10.744530
0:00:38.954687

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1006,2001914,20190731,13.35,13.44,12.93,12.99,13.37,0.946787,-0.028422,0.028504,-0.004005,-0.007562,6214592.0,81674183.7,0.00932,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.353600
no massive missing
0:02:45.829824

20190731

SZ finished
0:01:23.913548
0:01:08.473521
20190801 unzip finished
0:00:57.260460
0:02:09.718318
1
2
3
4
5
6
7
8
0:14:37.637268
0:00:40.306195

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1007,2001914,20190801,12.97,13.13,12.62,12.76,12.99,0.946787,-0.017706,0.011094,-0.006676,-0.005166,6191700.0,79419488.1,0.009285,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.581622
no massive missing
0:02:50.822993

20190801

SZ finished
0:01:20.358106
0:01:02.024815
20190802 unzip finished
0:00:58.472789
0:02:08.329055
1
2
3
4
5
6
7
8
0:15:22.680338
0:00:46.425542

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1006,2001914,20190802,12.6,12.9,12.4,12.52,12.76,0.946787,-0.018809,-0.044275,-0.012432,-0.015883,7973378.0,1.004562e+08,0.011957,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:08.976343
no massive missing
0:03:08.183309

20190802

SZ finished
0:01:16.845506
0:01:10.014209
20190805 unzip finished
0:00:59.424537
0:01:55.097306
1
2
3
4
5
6
7
8
0:14:37.308841
0:00:43.752122

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1006,2001914,20190805,12.57,12.65,12.05,12.06,12.52,0.946787,-0.036741,-0.093233,-0.012045,-0.011475,5688349.0,70406702.64,0.008531,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.331524
no massive missing
0:02:49.889949

20190805

SZ finished
0:01:22.658848
0:01:06.511409
20190806 unzip finished
0:01:01.025713
0:02:01.917004
1
2
3
4
5
6
7
8
0:15:44.915372
0:00:46.215392

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1005,2001914,20190806,12.03,12.48,11.84,12.2,12.06,0.946787,0.011609,-0.087509,-0.021343,-0.026393,14622796.0,1.774794e+08,0.021929,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:07.949864
no massive missing
0:03:14.536959

20190806

SZ finished
0:01:25.798831
0:01:05.267521
20190807 unzip finished
0:00:58.741400
0:01:53.892335
1
2
3
4
5
6
7
8
0:14:51.865087
0:00:42.292535

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1005,2001914,20190807,12.22,13.1,12.22,12.99,12.2,0.946787,0.064754,0.0,-0.005203,-0.002934,11267411.0,1.441497e+08,0.016897,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.894905
no massive missing
0:03:05.172483

20190807

SZ finished
0:01:29.957413
0:01:00.313299
20190808 unzip finished
0:00:59.255278
0:01:52.951328
1
2
3
4
5
6
7
8
0:15:26.526389
0:00:42.427070

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1005,2001914,20190808,12.99,13.08,12.56,12.67,12.99,0.946787,-0.024634,-0.007053,0.006428,0.007755,7537679.0,96232068.56,0.011304,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.820555
no massive missing
0:02:55.372904

20190808

SZ finished
0:01:18.484243
0:01:07.869020
20190809 unzip finished
0:01:09.865623
0:02:07.442995
1
2
3
4
5
6
7
8
0:16:14.115637
0:00:48.445911

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1005,2001914,20190809,12.75,12.83,12.3,12.41,12.67,0.946787,-0.020521,-0.008786,-0.011973,-0.010874,5140408.0,64388890.4,0.007709,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.770286
no massive missing
0:02:59.586842

20190809

SZ finished
0:01:25.180855
0:01:04.629851
20190812 unzip finished
0:01:08.624007
0:02:12.181810
1
2
3
4
5
6
7
8
0:15:14.671807
0:00:43.222085

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1005,2001914,20190812,12.33,13.09,12.33,13.0,12.41,0.946787,0.047542,0.077944,0.01841,0.016926,10103765.0,1.300337e+08,0.015153,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:05.831201
no massive missing
0:03:02.543724

20190812

SZ finished
0:01:24.042626
0:00:59.889562
20190813 unzip finished
0:01:00.370056
0:01:59.389330
1
2
3
4
5
6
7
8
0:15:13.416223
0:00:49.109213

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1002,2001914,20190813,12.89,13.34,12.76,13.12,13.0,0.946787,0.009231,0.07541,-0.00569,-0.004796,7155893.0,93773540.98,0.010732,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:05.854769
no massive missing
0:02:55.113754

20190813

SZ finished
0:01:22.703836
0:01:04.582132
20190814 unzip finished
0:01:07.733598
0:02:09.395027
1
2
3
4
5
6
7
8
0:16:27.624826
0:00:42.301232

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1001,2001914,20190814,13.15,13.38,13.15,13.23,13.12,0.946787,0.008384,0.018476,0.005464,0.006754,4504466.0,59662398.82,0.006755,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:06.382841
no massive missing
0:03:00.492094

20190814

SZ finished
0:01:22.309043
0:01:04.109902
20190815 unzip finished
0:01:09.438931
0:02:17.289262
1
2
3
4
5
6
7
8
0:16:58.835230
0:00:44.099157

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1002,2001914,20190815,13.07,13.57,12.95,13.5,13.23,0.946787,0.020408,0.065509,0.004849,0.004771,5132156.0,68286931.52,0.007697,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:05.900715
no massive missing
0:03:12.209269

20190815

SZ finished
0:01:25.679074
0:01:58.785637
20190816 unzip finished
0:01:09.564050
0:02:16.919770
1
2
3
4
5
6
7
8
0:16:52.128341
0:00:45.740998

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1001,2001914,20190816,13.36,13.53,13.25,13.3,13.5,0.946787,-0.014815,0.071716,0.003423,0.005649,4356077.0,58164721.63,0.006533,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:05.795472
no massive missing
0:03:11.254363

20190816

SZ finished
0:01:31.985915
0:01:05.572482
20190819 unzip finished
0:01:13.794142
0:02:23.369082
1
2
3
4
5
6
7
8
0:18:33.771584
0:00:52.177374

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1001,2001914,20190819,13.49,13.85,13.35,13.52,13.3,0.946787,0.016541,0.04,0.032264,0.031832,5321195.0,71961808.06,0.00798,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:06.076591
no massive missing
0:03:26.634108

20190819

SZ finished
0:01:42.468558
0:01:19.221269
20190820 unzip finished
0:01:12.054121
0:02:20.099446
1
2
3
4
5
6
7
8
0:17:41.711667
0:00:44.712655

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1001,2001914,20190820,13.51,13.54,12.66,12.85,13.52,0.946787,-0.049556,-0.020579,-0.000498,0.002337,10076869.0,1.312309e+08,0.015112,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:05.999605
no massive missing
0:03:16.252029

20190820

SZ finished
0:01:35.832855
0:01:32.670404
20190821 unzip finished
0:01:10.618577
0:02:16.741578
1
2
3
4
5
6
7
8
0:17:17.295194
0:00:44.932845

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1001,2001914,20190821,12.85,13.5,12.8,13.38,12.85,0.946787,0.041245,0.011338,0.002076,0.000262,9789645.0,1.299213e+08,0.014682,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:05.999908
no massive missing
0:03:11.035524

20190821

SZ finished
0:01:44.623724
0:01:16.272360
20190822 unzip finished
0:01:07.524006
0:02:14.861514
1
2
3
4
5
6
7
8
0:17:07.325583
0:00:47.849601

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1001,2001914,20190822,13.33,13.54,12.85,13.06,13.38,0.946787,-0.023916,-0.032593,0.001064,0.004228,8615233.0,1.125088e+08,0.01292,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:05.960344
no massive missing
0:03:13.067930

20190822

SZ finished
0:01:30.039107
0:08:30.854615
20190823 unzip finished
0:01:12.579901
0:02:06.641230
1
2
3
4
5
6
7
8
0:14:54.037692
0:00:44.465571

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1001,2001914,20190823,13.0,13.22,12.88,12.99,13.06,0.946787,-0.00536,-0.023308,-0.000002,-0.002113,3910013.0,51096707.86,0.005864,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:05.987996
no massive missing
0:02:59.461746

20190823

SZ finished
0:01:27.715587
0:00:53.718152
20190826 unzip finished
0:00:55.311260
0:01:55.048979
1
2
3
4
5
6
7
8
0:15:51.749843
0:00:42.033142

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1002,2001914,20190826,13.71,14.29,13.71,14.29,12.99,0.946787,0.100077,0.056953,-0.006638,-0.005554,8607301.0,1.216483e+08,0.012908,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:05.679446
no massive missing
0:03:08.758149

20190826

SZ finished
0:01:46.150885
0:01:09.288166
20190827 unzip finished
0:01:10.992668
0:02:18.551754
1
2
3
4
5
6
7
8
0:18:13.898312
0:00:46.091437

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1004,2001914,20190827,14.98,15.72,14.82,15.28,14.29,0.946787,0.069279,0.189105,0.016613,0.018956,44360710.0,680580296.2,0.066528,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:06.366143
no massive missing
0:03:17.718067

20190827

SZ finished
0:01:52.731960
0:01:07.875622
20190828 unzip finished
0:01:11.871456
0:02:21.619787
1
2
3
4
5
6
7
8
0:17:29.445760
0:00:46.116349

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1004,2001914,20190828,15.18,15.68,14.8,15.38,15.28,0.946787,0.006545,0.149477,-0.001607,-0.00199,21272123.0,3.244748e+08,0.031902,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:06.190066
no massive missing
0:03:24.813701

20190828

SZ finished
0:01:53.268181
0:01:14.216407
20190829 unzip finished
0:01:07.379413
0:02:20.938882
1
2
3
4
5
6
7
8
0:18:27.026441
0:01:21.037316

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1004,2001914,20190829,15.07,15.59,15.07,15.1,15.38,0.946787,-0.018205,0.156202,0.001216,0.000908,12850594.0,1.971260e+08,0.019272,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:06.393259
no massive missing
0:03:46.752511

20190829

SZ finished
0:01:51.179628
0:01:16.564812
20190830 unzip finished
0:01:08.237938
0:02:23.802155

In [1]:
import pymongo
import pandas as pd
import pickle
import datetime
import time
import gzip
import lzma
import pytz


def DB(host, db_name, user, passwd):
    auth_db = db_name if user not in ('admin', 'root') else 'admin'
    uri = 'mongodb://%s:%s@%s/?authSource=%s' % (user, passwd, host, auth_db)
    return DBObj(uri, db_name=db_name)


class DBObj(object):
    def __init__(self, uri, symbol_column='skey', db_name='white_db'):
        self.db_name = db_name
        self.uri = uri
        self.client = pymongo.MongoClient(self.uri)
        self.db = self.client[self.db_name]
        self.chunk_size = 20000
        self.symbol_column = symbol_column
        self.date_column = 'date'

    def parse_uri(self, uri):
        # mongodb://user:password@example.com
        return uri.strip().replace('mongodb://', '').strip('/').replace(':', ' ').replace('@', ' ').split(' ')

    def drop_table(self, table_name):
        self.db.drop_collection(table_name)

    def rename_table(self, old_table, new_table):
        self.db[old_table].rename(new_table)

    def write(self, table_name, df):
        if len(df) == 0: return

        multi_date = False

        if self.date_column in df.columns:
            date = str(df.head(1)[self.date_column].iloc[0])
            multi_date = len(df[self.date_column].unique()) > 1
        else:
            raise Exception('DataFrame should contain date column')

        collection = self.db[table_name]
        collection.create_index([('date', pymongo.ASCENDING), ('symbol', pymongo.ASCENDING)], background=True)
        collection.create_index([('symbol', pymongo.ASCENDING), ('date', pymongo.ASCENDING)], background=True)

        if multi_date:
            for (date, symbol), sub_df in df.groupby([self.date_column, self.symbol_column]):
                date = str(date)
                symbol = int(symbol)
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)
        else:
            for symbol, sub_df in df.groupby([self.symbol_column]):
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)

    def write_single(self, collection, date, symbol, df):
        for start in range(0, len(df), self.chunk_size):
            end = min(start + self.chunk_size, len(df))
            df_seg = df[start:end]
            version = 1
            seg = {'ver': version, 'data': self.ser(df_seg, version), 'date': date, 'symbol': symbol, 'start': start}
            collection.insert_one(seg)

    def build_query(self, start_date=None, end_date=None, symbol=None):
        query = {}

        def parse_date(x):
            if type(x) == str:
                if len(x) != 8:
                    raise Exception("`date` must be YYYYMMDD format")
                return x
            elif type(x) == datetime.datetime or type(x) == datetime.date:
                return x.strftime("%Y%m%d")
            elif type(x) == int:
                return parse_date(str(x))
            else:
                raise Exception("invalid `date` type: " + str(type(x)))

        if start_date is not None or end_date is not None:
            query['date'] = {}
            if start_date is not None:
                query['date']['$gte'] = parse_date(start_date)
            if end_date is not None:
                query['date']['$lte'] = parse_date(end_date)

        def parse_symbol(x):
            if type(x) == int:
                return x
            else:
                return int(x)

        if symbol:
            if type(symbol) == list or type(symbol) == tuple:
                query['symbol'] = {'$in': [parse_symbol(x) for x in symbol]}
            else:
                query['symbol'] = parse_symbol(symbol)

        return query

    def delete(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot delete the whole table')
            return None

        collection.delete_many(query)

    def read(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot read the whole table')
            return None

        segs = []
        for x in collection.find(query):
            x['data'] = self.deser(x['data'], x['ver'])
            segs.append(x)
        segs.sort(key=lambda x: (x['symbol'], x['date'], x['start']))
        return pd.concat([x['data'] for x in segs], ignore_index=True) if segs else None

    def list_tables(self):
        return self.db.collection_names()

    def list_dates(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]
        dates = set()
        if start_date is None:
            start_date = '00000000'
        if end_date is None:
            end_date = '99999999'
        for x in collection.find(self.build_query(start_date, end_date, symbol), {"date": 1, '_id': 0}):
            dates.add(x['date'])
        return sorted(list(dates))

    def ser(self, s, version):
        pickle_protocol = 4
        if version == 1:
            return gzip.compress(pickle.dumps(s, protocol=pickle_protocol), compresslevel=2)
        elif version == 2:
            return lzma.compress(pickle.dumps(s, protocol=pickle_protocol), preset=1)
        else:
            raise Exception('unknown version')

    def deser(self, s, version):
        def unpickle(s):
            return pickle.loads(s)

        if version == 1:
            return unpickle(gzip.decompress(s))
        elif version == 2:
            return unpickle(lzma.decompress(s))
        else:
            raise Exception('unknown version')


def patch_pandas_pickle():
    if pd.__version__ < '0.24':
        import sys
        from types import ModuleType
        from pandas.core.internals import BlockManager
        pkg_name = 'pandas.core.internals.managers'
        if pkg_name not in sys.modules:
            m = ModuleType(pkg_name)
            m.BlockManager = BlockManager
            sys.modules[pkg_name] = m
patch_pandas_pickle()












import pandas as pd
import random
import numpy as np
import glob
import os
import pickle
import datetime
import time
pd.set_option("max_columns", 200)

startTm = datetime.datetime.now()
readPath = '/home/work516/day_stock/***'
dataPathLs = np.array(glob.glob(readPath))
dataPathLs = dataPathLs[[np.array([os.path.basename(i).split('.')[0][:2] == 'SZ' for i in dataPathLs])]]
db = pd.DataFrame()
for p in dataPathLs:
    dayData = pd.read_csv(p, compression='gzip')
    db = pd.concat([db, dayData])
print(datetime.datetime.now() - startTm)

year = "2019"
startDate = '20190830'
endDate = '20191231'
readPath = '/mnt/usb/data/' + year + '/***/***'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([os.path.basename(i).split('_')[0] for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]
date_list = pd.read_csv("/home/work516/KR_upload_code/trading_days.csv")
wr_ong = []
mi_ss = []
less = []

for data in dataPathLs:    
    
    if len(np.array(glob.glob(data + '/SZ/snapshot***'))) == 0:
        if int(os.path.basename(data)) not in date_list["Date"].values:
            continue
        else:
            print(os.path.basename(data) + " less data!!!!!!!!!!!!!!!!!")
            less.append(data)
            continue
    startTm = datetime.datetime.now()
    date = os.path.basename(data)
    rar_path = data + '/SZ/snapshot.7z'
    path = '/mnt/e/unzip_data/2019/SZ'
    path1 = path + '/' + date
    un_path = path1
    cmd = '7za x {} -o{}'.format(rar_path, un_path)
    os.system(cmd)
    print(datetime.datetime.now() - startTm)
    print(date + ' unzip finished')
    
    readPath = path1 + '/snapshot/***2/***'
    dataPathLs = np.array(glob.glob(readPath))
    dateLs = np.array([int(os.path.basename(i).split('.')[0]) for i in dataPathLs])
    dataPathLs = dataPathLs[(dateLs < 4000) | ((dateLs > 300000) & (dateLs < 310000))]
    SZ = []
    ll = []
    startTm = datetime.datetime.now()
    for i in dataPathLs:
        try:
            df = pd.read_csv(i, usecols = [0,1,4,5,6,7,9,12,17,18,19,24,25,26,28,29,30,32,33,34,35])
        except:
            print("empty data")
            print(i)
            ll.append(int(os.path.basename(i).split('.')[0]))
            continue
        df["StockID"] = int(os.path.basename(i).split('.')[0])
        SZ += [df]
    del df
    SZ = pd.concat(SZ).reset_index(drop=True)
    print(datetime.datetime.now() - startTm)
    
    startTm = datetime.datetime.now()
    SZ["skey"] = SZ["StockID"] + 2000000
    SZ.drop(["StockID"],axis=1,inplace=True)
    SZ["date"] = int(SZ["QuotTime"].iloc[0]//1000000000)
    SZ["time"] = (SZ['QuotTime'] - int(SZ['QuotTime'].iloc[0]//1000000000*1000000000)).astype(np.int64) * 1000
    SZ["clockAtArrival"] = SZ["QuotTime"].astype(str).apply(lambda x: np.int64(datetime.datetime.strptime(x, '%Y%m%d%H%M%S%f').timestamp()*1e6))
    SZ['datetime'] = SZ["clockAtArrival"].apply(lambda x: datetime.datetime.fromtimestamp(x/1e6))
    SZ.drop(["QuotTime"],axis=1,inplace=True)
    print(datetime.datetime.now() - startTm)
    
    startTm = datetime.datetime.now()
    SZ["BidPrice"] = SZ["BidPrice"].apply(lambda x: [float(i) for i in x[1:-1].split(',')])
    SZ["OfferPrice"] = SZ["OfferPrice"].apply(lambda x: [float(i) for i in x[1:-1].split(',')])
    SZ["BidOrderQty"] = SZ["BidOrderQty"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["OfferOrderQty"] = SZ["OfferOrderQty"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["BidNumOrders"] = SZ["BidNumOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["OfferNumOrders"] = SZ["OfferNumOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])

    for i in range(1, 11):
        SZ["bid" + str(i) + 'p'] = SZ["BidPrice"].apply(lambda x: x[i-1],2)
    SZ.drop(["BidPrice"],axis=1,inplace=True)
    print("1")
    for i in range(1, 11):
        SZ["ask" + str(i) + 'p'] = SZ["OfferPrice"].apply(lambda x: x[i-1],2)
    SZ.drop(["OfferPrice"],axis=1,inplace=True)
    print("2")
    for i in range(1, 11):
        SZ["bid" + str(i) + 'q'] = SZ["BidOrderQty"].apply(lambda x: x[i-1])
    SZ.drop(["BidOrderQty"],axis=1,inplace=True)
    print("3")
    for i in range(1, 11):
        SZ["ask" + str(i) + 'q'] = SZ["OfferOrderQty"].apply(lambda x: x[i-1])
    SZ.drop(["OfferOrderQty"],axis=1,inplace=True)
    print("4")
    for i in range(1, 11):
        SZ["bid" + str(i) + 'n'] = SZ["BidNumOrders"].apply(lambda x: x[i-1])
        SZ["bid" + str(i) + 'n'] = SZ["bid" + str(i) + 'n'].astype('int32')
    SZ.drop(["BidNumOrders"],axis=1,inplace=True)
    print("5")
    for i in range(1, 11):
        SZ["ask" + str(i) + 'n'] = SZ["OfferNumOrders"].apply(lambda x: x[i-1])
        SZ["ask" + str(i) + 'n'] = SZ["ask" + str(i) + 'n'].astype('int32') 
    SZ.drop(["OfferNumOrders"],axis=1,inplace=True)
    print("6")
    
    SZ["BidOrders"] = SZ["BidOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["OfferOrders"] = SZ["OfferOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])

    for i in range(1, 51):
        SZ["bid1Top" + str(i) + 'q'] = SZ["BidOrders"].apply(lambda x: x[i-1])
        SZ["bid1Top" + str(i) + 'q'] = SZ["bid1Top" + str(i) + 'q'].astype('int32') 
    SZ.drop(["BidOrders"],axis=1,inplace=True)
    print("7")
    
    for i in range(1, 51):
        SZ["ask1Top" + str(i) + 'q'] = SZ["OfferOrders"].apply(lambda x: x[i-1])
        SZ["ask1Top" + str(i) + 'q'] = SZ["ask1Top" + str(i) + 'q'].astype('int32') 
    SZ.drop(["OfferOrders"],axis=1,inplace=True)
    print("8")
    print(datetime.datetime.now() - startTm)
        
    
    startTm = datetime.datetime.now()
    SZ.columns = ['cum_trades_cnt', 'total_bid_quantity', 'total_ask_quantity', 'close',
       'total_ask_vwap', 'cum_amount', 'cum_volume', 'open', 'high',
       'prev_close', 'low', 'total_bid_vwap', 'skey', 'date', 'time',
       'clockAtArrival', 'datetime', 'bid1p', 'bid2p', 'bid3p', 'bid4p',
       'bid5p', 'bid6p', 'bid7p', 'bid8p', 'bid9p', 'bid10p', 'ask1p',
       'ask2p', 'ask3p', 'ask4p', 'ask5p', 'ask6p', 'ask7p', 'ask8p',
       'ask9p', 'ask10p', 'bid1q', 'bid2q', 'bid3q', 'bid4q', 'bid5q',
       'bid6q', 'bid7q', 'bid8q', 'bid9q', 'bid10q', 'ask1q', 'ask2q',
       'ask3q', 'ask4q', 'ask5q', 'ask6q', 'ask7q', 'ask8q', 'ask9q',
       'ask10q', 'bid1n', 'bid2n', 'bid3n', 'bid4n', 'bid5n', 'bid6n',
       'bid7n', 'bid8n', 'bid9n', 'bid10n', 'ask1n', 'ask2n', 'ask3n',
       'ask4n', 'ask5n', 'ask6n', 'ask7n', 'ask8n', 'ask9n', 'ask10n',
       'bid1Top1q', 'bid1Top2q', 'bid1Top3q', 'bid1Top4q', 'bid1Top5q',
       'bid1Top6q', 'bid1Top7q', 'bid1Top8q', 'bid1Top9q', 'bid1Top10q',
       'bid1Top11q', 'bid1Top12q', 'bid1Top13q', 'bid1Top14q',
       'bid1Top15q', 'bid1Top16q', 'bid1Top17q', 'bid1Top18q',
       'bid1Top19q', 'bid1Top20q', 'bid1Top21q', 'bid1Top22q',
       'bid1Top23q', 'bid1Top24q', 'bid1Top25q', 'bid1Top26q',
       'bid1Top27q', 'bid1Top28q', 'bid1Top29q', 'bid1Top30q',
       'bid1Top31q', 'bid1Top32q', 'bid1Top33q', 'bid1Top34q',
       'bid1Top35q', 'bid1Top36q', 'bid1Top37q', 'bid1Top38q',
       'bid1Top39q', 'bid1Top40q', 'bid1Top41q', 'bid1Top42q',
       'bid1Top43q', 'bid1Top44q', 'bid1Top45q', 'bid1Top46q',
       'bid1Top47q', 'bid1Top48q', 'bid1Top49q', 'bid1Top50q',
       'ask1Top1q', 'ask1Top2q', 'ask1Top3q', 'ask1Top4q', 'ask1Top5q',
       'ask1Top6q', 'ask1Top7q', 'ask1Top8q', 'ask1Top9q', 'ask1Top10q',
       'ask1Top11q', 'ask1Top12q', 'ask1Top13q', 'ask1Top14q',
       'ask1Top15q', 'ask1Top16q', 'ask1Top17q', 'ask1Top18q',
       'ask1Top19q', 'ask1Top20q', 'ask1Top21q', 'ask1Top22q',
       'ask1Top23q', 'ask1Top24q', 'ask1Top25q', 'ask1Top26q',
       'ask1Top27q', 'ask1Top28q', 'ask1Top29q', 'ask1Top30q',
       'ask1Top31q', 'ask1Top32q', 'ask1Top33q', 'ask1Top34q',
       'ask1Top35q', 'ask1Top36q', 'ask1Top37q', 'ask1Top38q',
       'ask1Top39q', 'ask1Top40q', 'ask1Top41q', 'ask1Top42q',
       'ask1Top43q', 'ask1Top44q', 'ask1Top45q', 'ask1Top46q',
       'ask1Top47q', 'ask1Top48q', 'ask1Top49q', 'ask1Top50q']
    
    SZ = SZ.fillna(0)
#     SZ["p1"] = SZ["bid1p"] + SZ["ask1p"]
#     tt = SZ[(SZ["cum_volume"] > 0) & (SZ["time"] < 145700000000)].groupby("skey")['p1'].min()
#     SZ.drop("p1", axis=1, inplace=True)
#     try:
#         assert(tt[tt == 0].shape[0] == 0)
#     except:
#         display(tt[tt == 0])
#     SZ = SZ[~((SZ["bid1p"] == 0) & (SZ["ask1p"] == 0))]
    SZ["ordering"] = SZ.groupby("skey").cumcount()
    SZ["ordering"] = SZ["ordering"] + 1

    for cols in ["total_bid_orders",'total_ask_orders','total_bid_levels', 'total_ask_levels', 'bid_trade_max_duration',
                 'ask_trade_max_duration', 'cum_canceled_buy_orders', 'cum_canceled_buy_volume', "cum_canceled_buy_amount",
                 "cum_canceled_sell_orders", 'cum_canceled_sell_volume',"cum_canceled_sell_amount", "has_missing"]:
        SZ[cols] = 0
        
#     for col in ["cum_volume", "total_bid_quantity", "total_ask_quantity",'cum_canceled_buy_volume',
#         'cum_canceled_sell_volume']:
#         SZ[col] = SZ[col].astype('int64')
    
    for col in ["skey", "date", "cum_trades_cnt", "total_bid_orders",
        'total_ask_orders', 'total_bid_levels', 'total_ask_levels', 'cum_canceled_buy_orders','cum_canceled_sell_orders',
            "ordering", 'bid_trade_max_duration', 'ask_trade_max_duration','has_missing']:
        SZ[col] = SZ[col].astype('int32')
    
        
#     for cols in ["prev_close", 'open', "high", "low", "close", 'bid10p','bid9p','bid8p','bid7p','bid6p','bid5p','bid4p','bid3p',
#              'bid2p','bid1p','ask1p','ask2p','ask3p','ask4p','ask5p','ask6p','ask7p','ask8p','ask9p','ask10p', 'total_bid_vwap', "total_ask_vwap",
#                 "cum_amount"]:
# #         SZ[cols] = SZ[cols].apply(lambda x: round(x, 2)).astype('float64')
#         print(cols)
#         print(SZ[cols].astype(str).apply(lambda x: len(str(x.split('.')[1]))).unique())

        
    for cols in ["cum_canceled_sell_amount", "cum_canceled_buy_amount"]:
        SZ[cols] = SZ[cols].astype('float64')

        
    assert(sum(SZ[SZ["open"] != 0].groupby("skey")["open"].nunique() != 1) == 0)
    assert(sum(SZ[SZ["prev_close"] != 0].groupby("skey")["prev_close"].nunique() != 1) == 0)
    SZ["prev_close"] = np.where(SZ["time"] >= 91500000000, SZ.groupby("skey")["prev_close"].transform("max"), SZ["prev_close"]) 
    SZ["open"] = np.where(SZ["cum_volume"] > 0, SZ.groupby("skey")["open"].transform("max"), SZ["open"])
    assert(sum(SZ[SZ["open"] != 0].groupby("skey")["open"].nunique() != 1) == 0)
    assert(sum(SZ[SZ["prev_close"] != 0].groupby("skey")["prev_close"].nunique() != 1) == 0)
    assert(SZ[SZ["cum_volume"] > 0]["open"].min() > 0)
    
    print(datetime.datetime.now() - startTm)
    
    
    # check 1
    startTm = datetime.datetime.now()
    da_te = str(SZ["date"].iloc[0]) 
    da_te = da_te[:4] + '-' + da_te[4:6] + '-' + da_te[6:8]
    db1 = db[db["date"] == da_te]
    db1["ID"] = db1["ID"].str[2:].astype(int) + 2000000
    db1["date"] = (db1["date"].str[:4] + db1["date"].str[5:7] + db1["date"].str[8:]).astype(int)
    SZ["cum_max"] = SZ.groupby("skey")["cum_volume"].transform(max)
    s2 = SZ[SZ["cum_volume"] == SZ["cum_max"]].groupby("skey").first().reset_index()
    SZ.drop("cum_max", axis=1, inplace=True)
    s2 = s2.rename(columns={"skey": "ID", 'open':"d_open", "prev_close":"d_yclose","high":"d_high", "low":"d_low", "close":"d_close", "cum_volume":"d_volume", "cum_amount":"d_amount"})
    s2 = s2[["ID", "date", "d_open", "d_yclose", "d_high", "d_low", "d_close", "d_volume", "d_amount"]]
    re = pd.merge(db1, s2, on=["ID", "date", "d_open", "d_yclose","d_high", "d_low", "d_volume"], how="outer")
    try:
        assert(sum(re["d_amount_y"].isnull()) == 0)
    except:
        display(re[re["d_amount_y"].isnull()])
        wr_ong += [re[re["d_amount_y"].isnull()]]
    del re
    del s2
    del db1
    print(datetime.datetime.now() - startTm)
    
    # check 2
    # first part
    startTm = datetime.datetime.now()
    date = pd.DataFrame(pd.date_range(start='2019-06-10 08:30:00', end='2019-06-10 18:00:00', freq='s'), columns=["Orig"])
    date["time"] = date["Orig"].apply(lambda x: int(x.strftime("%H%M%S"))*1000)
    date["group"] = date["time"]//10000
    SZ["group"] = SZ["time"]//10000000
    gl = date[((date["time"] >= 93000000) & (date["time"] <= 113000000))|((date["time"] >= 130000000) & (date["time"] <= 150000000))]["group"].unique()
    l = set(gl) - set(SZ["group"].unique())
    SZ["has_missing1"] = 0 
    if len(l) != 0:
        print("massive missing")
        print(l)
        SZ["order"] = SZ.groupby(["skey", "time"]).cumcount()
        for i in l:
            SZ["t"] = SZ[SZ["group"] > i].groupby("StockID")["time"].transform("min")
            SZ["has_missing1"] = np.where((SZ["time"] == SZ["t"]) & (SZ["order"] == 0), 1, 0)
        SZ.drop(["order", "t", "group"], axis=1, inplace=True)   
    else:
        print("no massive missing")
        SZ.drop(["group"], axis=1, inplace=True)
    



    # second part

    SZ["time_interval"] = SZ.groupby("skey")["datetime"].apply(lambda x: x - x.shift(1))
    SZ["time_interval"] = SZ["time_interval"].apply(lambda x: x.seconds)
    SZ["tn_update"] = SZ.groupby("skey")["cum_trades_cnt"].apply(lambda x: x-x.shift(1))

    f1 = SZ[(SZ["time"] >= 93000000000) & (SZ["tn_update"] != 0)].groupby("skey")["time"].min().reset_index()
    f1 = f1.rename(columns={"time": "time1"})
    f2 = SZ[(SZ["time"] >= 130000000000) & (SZ["tn_update"] != 0)].groupby("skey")["time"].min().reset_index()
    f2 = f2.rename(columns={"time": "time2"})
    f3 = SZ[(SZ["time"] >= 150000000000) & (SZ["tn_update"] != 0)].groupby("skey")["time"].min().reset_index()
    f3 = f3.rename(columns={"time": "time3"})
    SZ = pd.merge(SZ, f1, on="skey", how="left")
    del f1
    SZ = pd.merge(SZ, f2, on="skey", how="left")
    del f2
    SZ = pd.merge(SZ, f3, on="skey", how="left")
    del f3
    p99 = SZ[(SZ["time"] > 93000000000) & (SZ["time"] < 145700000000) & (SZ["time"] != SZ["time2"]) & (SZ["tn_update"] != 0)]\
    .groupby("skey")["tn_update"].apply(lambda x: x.describe([0.99])["99%"]).reset_index()
    p99 = p99.rename(columns={"tn_update":"99%"})
    SZ = pd.merge(SZ, p99, on="skey", how="left")

    SZ["has_missing2"] = 0
    SZ["has_missing2"] = np.where((SZ["time_interval"] > 60) & (SZ["tn_update"] > SZ["99%"]) & 
         (SZ["time"] > SZ["time1"]) & (SZ["time"] != SZ["time2"]) & (SZ["time"] != SZ["time3"])& (SZ["time"] != 100000000000), 1, 0)
    SZ.drop(["time_interval", "tn_update", "time1", "time2", "time3", "99%"], axis=1, inplace=True) 

    SZ["has_missing"] = np.where((SZ["has_missing1"] == 1) | (SZ["has_missing2"] == 1), 1, 0)
    SZ.drop(["has_missing1", "has_missing2"], axis=1, inplace=True) 
    if SZ[SZ["has_missing"] == 1].shape[0] != 0:
        print("has missing!!!!!!!!!!!!!!!!!!!!!!!")
        print(SZ[SZ["has_missing"] == 1].shape[0])
        mi_ss += [SZ[SZ["has_missing"] == 1]]
    print(datetime.datetime.now() - startTm)

    
    
    startTm = datetime.datetime.now()
    SZ["has_missing"] = SZ["has_missing"].astype('int32')
    SZ = SZ[["skey", "date", "time", "clockAtArrival", "datetime", "ordering", "has_missing", "cum_trades_cnt", "cum_volume", "cum_amount", "prev_close",
                            "open", "high", "low", "close", 'bid10p','bid9p','bid8p','bid7p','bid6p','bid5p','bid4p','bid3p','bid2p','bid1p',
                            'ask1p','ask2p','ask3p','ask4p','ask5p','ask6p','ask7p','ask8p','ask9p','ask10p', 'bid10q','bid9q','bid8q',
                             'bid7q','bid6q','bid5q','bid4q','bid3q','bid2q','bid1q', 'ask1q','ask2q','ask3q','ask4q','ask5q','ask6q',
                             'ask7q','ask8q','ask9q','ask10q', 'bid10n', 'bid9n', 'bid8n', 'bid7n', 'bid6n', 'bid5n', 'bid4n', 'bid3n', 'bid2n', 'bid1n', 
                             'ask1n', 'ask2n', 'ask3n', 'ask4n', 'ask5n', 'ask6n','ask7n', 'ask8n', 'ask9n', 'ask10n','bid1Top1q','bid1Top2q','bid1Top3q','bid1Top4q','bid1Top5q','bid1Top6q',
        'bid1Top7q','bid1Top8q','bid1Top9q','bid1Top10q','bid1Top11q','bid1Top12q','bid1Top13q','bid1Top14q','bid1Top15q','bid1Top16q','bid1Top17q','bid1Top18q',
        'bid1Top19q','bid1Top20q','bid1Top21q','bid1Top22q','bid1Top23q','bid1Top24q','bid1Top25q','bid1Top26q','bid1Top27q','bid1Top28q','bid1Top29q',
        'bid1Top30q','bid1Top31q','bid1Top32q','bid1Top33q','bid1Top34q','bid1Top35q','bid1Top36q','bid1Top37q','bid1Top38q','bid1Top39q','bid1Top40q',
        'bid1Top41q','bid1Top42q','bid1Top43q','bid1Top44q','bid1Top45q','bid1Top46q','bid1Top47q','bid1Top48q','bid1Top49q','bid1Top50q', 'ask1Top1q',
        'ask1Top2q','ask1Top3q','ask1Top4q','ask1Top5q','ask1Top6q','ask1Top7q','ask1Top8q','ask1Top9q','ask1Top10q','ask1Top11q','ask1Top12q','ask1Top13q',
        'ask1Top14q','ask1Top15q','ask1Top16q','ask1Top17q','ask1Top18q','ask1Top19q','ask1Top20q','ask1Top21q','ask1Top22q','ask1Top23q',
        'ask1Top24q','ask1Top25q','ask1Top26q','ask1Top27q','ask1Top28q','ask1Top29q','ask1Top30q','ask1Top31q','ask1Top32q','ask1Top33q',
        'ask1Top34q','ask1Top35q','ask1Top36q','ask1Top37q','ask1Top38q','ask1Top39q','ask1Top40q','ask1Top41q','ask1Top42q','ask1Top43q',
        'ask1Top44q','ask1Top45q','ask1Top46q','ask1Top47q','ask1Top48q','ask1Top49q','ask1Top50q',"total_bid_quantity", "total_ask_quantity","total_bid_vwap", "total_ask_vwap",
        "total_bid_orders",'total_ask_orders','total_bid_levels', 'total_ask_levels', 'bid_trade_max_duration', 'ask_trade_max_duration', 'cum_canceled_buy_orders', 'cum_canceled_buy_volume',
        "cum_canceled_buy_amount", "cum_canceled_sell_orders", 'cum_canceled_sell_volume',"cum_canceled_sell_amount"]]
    
    display(SZ["date"].iloc[0])
    print("SZ finished")
    
    
    database_name = 'com_md_eq_cn'
    user = "zhenyuy"
    password = "bnONBrzSMGoE"

    db1 = DB("192.168.10.223", database_name, user, password)
    db1.write('md_snapshot_l2', SZ)
    
    del SZ
    print(datetime.datetime.now() - startTm)

wr_ong = pd.concat(wr_ong).reset_index(drop=True)
print(wr_ong)
mi_ss = pd.concat(mi_ss).reset_index(drop=True)
print(mi_ss)

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:203: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.

0:06:10.757817
0:00:00.555206
20190830 unzip finished
0:03:21.254193
0:02:11.579850
1
2
3
4
5
6
7
8
0:17:18.058513
0:00:46.393422

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1006,2001914,20190830,15.17,16.0,15.06,15.86,15.1,0.946787,0.050331,0.220939,-0.009665,-0.014825,17390769.0,2.692377e+08,0.026081,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:06.296325
no massive missing
0:03:15.262334

20190830

SZ finished
0:01:35.662748
0:00:58.086761
20190902 unzip finished
0:01:07.616972
0:02:30.773009
1
2
3
4
5
6
7
8
0:17:36.804194
0:00:45.661646

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1007,2001914,20190902,15.78,15.86,15.23,15.6,15.86,0.946787,-0.016393,0.091672,0.024926,0.025965,12797295.0,1.982176e+08,0.019192,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:06.366381
no massive missing
0:03:27.741418

20190902

SZ finished
0:01:44.769831
0:01:00.678052
20190903 unzip finished
0:01:07.952333
0:02:12.361639
1
2
3
4
5
6
7
8
0:17:36.406032
0:00:44.442267

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1007,2001914,20190903,15.5,16.26,15.3,16.1,15.6,0.946787,0.032051,0.053665,0.007165,0.007433,10681770.0,1.700114e+08,0.01602,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:06.668270
no massive missing
0:03:15.815010

20190903

SZ finished
0:01:43.647382
0:00:58.839431
20190904 unzip finished
0:01:11.493772
0:02:16.150632
1
2
3
4
5
6
7
8
0:18:03.004880
0:00:43.102490

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1007,2001914,20190904,16.18,16.18,15.6,15.78,16.1,0.946787,-0.019876,0.026008,0.009731,0.007027,7887792.0,1.245354e+08,0.011829,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:06.175590
no massive missing
0:03:20.568599

20190904

SZ finished
0:01:34.803042
0:01:27.989965
20190905 unzip finished
0:01:14.316913
0:02:27.452730
1
2
3
4
5
6
7
8
0:19:52.068607
0:00:50.893719

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1007,2001914,20190905,15.83,15.98,15.38,15.6,15.78,0.946787,-0.011407,0.033113,0.008862,0.009429,9676916.0,1.513843e+08,0.014513,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:06.480342
no massive missing
0:03:45.903278

20190905

SZ finished
0:01:41.793809
0:01:00.959705
20190906 unzip finished
0:01:14.056683
0:02:20.765020
1
2
3
4
5
6
7
8
0:18:36.872482
0:00:44.039250

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1007,2001914,20190906,15.57,15.68,15.4,15.48,15.6,0.946787,-0.007692,-0.02396,0.003159,0.004202,7551167.0,117094451.6,0.011325,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:06.010331
no massive missing
0:03:34.938441

20190906

SZ finished
0:01:36.670785
0:01:00.995744
20190909 unzip finished
0:01:16.788151
0:02:25.159226
1
2
3
4
5
6
7
8
0:19:27.501527
0:00:47.251164

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1007,2001914,20190909,15.54,15.9,15.31,15.63,15.48,0.946787,0.00969,0.001923,0.021111,0.024464,7641315.0,1.192731e+08,0.01146,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:06.388575
no massive missing
0:03:45.167138

20190909

SZ finished
0:01:40.072277
0:01:06.196176
20190910 unzip finished
0:01:19.583870
0:02:23.222866
1
2
3
4
5
6
7
8
0:19:06.182462
0:00:47.155580

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1006,2001914,20190910,15.53,15.57,15.05,15.47,15.63,0.946787,-0.010237,-0.03913,-0.003449,0.002202,6288530.0,96444746.32,0.009431,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:08.189218
no massive missing
0:03:29.832869

20190910

SZ finished
0:01:32.897251
0:00:59.634849
20190911 unzip finished
0:01:10.530379
0:02:17.739181
1
2
3
4
5
6
7
8
0:18:50.022415
0:00:48.534215

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1005,2001914,20190911,15.47,15.58,15.1,15.12,15.47,0.946787,-0.022624,-0.041825,-0.005341,-0.008579,4455503.0,68181663.42,0.006682,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:06.186638
no massive missing
0:03:21.033511

20190911

SZ finished
0:01:40.186188
0:01:04.528052
20190912 unzip finished
0:01:12.408702
0:02:20.983505
1
2
3
4
5
6
7
8
0:18:29.497898
0:00:44.195216

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1005,2001914,20190912,15.39,15.55,15.09,15.18,15.12,0.946787,0.003968,-0.026923,0.004853,0.004763,5298452.0,80955587.03,0.007946,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:06.034655
no massive missing
0:03:37.914201

20190912

SZ finished
0:01:44.433139
0:00:59.697407
20190916 unzip finished
0:01:14.391370
0:02:21.970376
1
2
3
4
5
6
7
8
0:18:46.962876
0:01:11.744082

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1005,2001914,20190916,15.2,15.56,15.08,15.1,15.18,0.946787,-0.00527,-0.024548,0.001474,0.006135,4908200.0,75044539.0,0.007361,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:08.010742
no massive missing
0:03:24.408329

20190916

SZ finished
0:01:36.766925
0:01:02.720577
20190917 unzip finished
0:01:16.161939
0:02:28.005421
1
2
3
4
5
6
7
8
0:18:41.527967
0:00:46.331857

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1008,2001914,20190917,15.1,15.26,15.0,15.01,15.1,0.946787,-0.00596,-0.039667,-0.02093,-0.023993,4116700.0,62232333.0,0.006174,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:06.194813
no massive missing
0:03:34.577972

20190917

SZ finished
0:01:55.386295
0:00:55.269645
20190918 unzip finished
0:01:10.787900
0:02:10.051242
1
2
3
4
5
6
7
8
0:17:49.187991
0:00:54.187670

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1008,2001914,20190918,14.98,15.32,14.7,15.28,15.01,0.946787,0.017988,-0.012282,0.000114,-0.001155,4834500.0,73042431.0,0.00725,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:05.911050
no massive missing
0:03:16.950945

20190918

SZ finished
0:01:27.989158
0:00:55.239563
20190919 unzip finished
0:01:11.587561
0:02:06.356489
1
2
3
4
5
6
7
8
0:17:06.187033
0:00:47.415588

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1008,2001914,20190919,15.17,15.3,15.11,15.22,15.28,0.946787,-0.003927,0.006614,0.009848,0.011763,3357832.0,51027297.76,0.005036,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:06.246640
no massive missing
0:03:26.550570

20190919

SZ finished
0:01:29.128083
0:00:56.430851
20190920 unzip finished
0:01:10.469589
0:02:20.514999
1
2
3
4
5
6
7
8
0:18:01.449950
0:00:45.016322

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1008,2001914,20190920,15.3,16.42,15.3,16.35,15.22,0.946787,0.074244,0.077075,0.002469,0.001094,11414420.0,1.825820e+08,0.017118,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:06.161285
no massive missing
0:03:18.040517

20190920

SZ finished
0:01:35.206113
0:00:55.514644
20190923 unzip finished
0:01:07.421724
0:02:11.057829
1
2
3
4
5
6
7
8
0:17:20.297011
0:00:50.990687

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1008,2001914,20190923,16.35,16.98,15.89,16.09,16.35,0.946787,-0.015902,0.065563,-0.006341,-0.009946,9475079.0,154710762.9,0.01421,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:06.013543
no massive missing
0:03:13.334568

20190923

SZ finished
0:01:23.600432
0:00:55.139651
20190924 unzip finished
0:01:10.549734
0:02:13.474947
1
2
3
4
5
6
7
8
0:17:42.506720
0:00:48.513568

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1006,2001914,20190924,16.1,17.06,16.0,16.73,16.09,0.946787,0.039776,0.11459,0.00179,0.005031,10267540.0,1.706457e+08,0.015398,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:06.093642
no massive missing
0:03:11.496526

20190924

SZ finished
0:01:35.730301
0:00:55.167054
20190925 unzip finished
0:01:09.558745
0:02:13.900603
1
2
3
4
5
6
7
8
0:17:14.389627
0:00:43.501655

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1007,2001914,20190925,16.67,17.02,16.47,16.7,16.73,0.946787,-0.001793,0.092932,-0.018093,-0.019401,7423000.0,1.240191e+08,0.011132,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:05.724268
no massive missing
0:03:21.942125

20190925

SZ finished
0:01:26.035743
0:00:56.225060
20190926 unzip finished
0:01:09.455291
0:02:13.566176
1
2
3
4
5
6
7
8
0:17:34.441528
0:00:43.674581

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1009,2001914,20190926,16.71,17.43,16.42,16.45,16.7,0.946787,-0.01497,0.080815,-0.022954,-0.032748,10584496.0,1.798915e+08,0.015874,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:05.928828
no massive missing
0:03:16.382412

20190926

SZ finished
0:01:34.656807
0:00:53.017520
20190927 unzip finished
0:01:14.558981
0:02:07.280678
1
2
3
4
5
6
7
8
0:16:18.456896
0:00:40.607216

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1009,2001914,20190927,16.4,17.61,16.31,17.32,16.45,0.946787,0.052888,0.059327,0.00712,0.009031,12168232.0,2.083130e+08,0.018249,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:05.491629
no massive missing
0:03:10.624706

20190927

SZ finished
0:01:25.936059
0:01:06.355291
20190930 unzip finished
0:00:59.438234
0:02:01.273142
1
2
3
4
5
6
7
8
0:14:02.301672
0:00:38.747052

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1009,2001914,20190930,17.17,17.63,16.91,17.01,17.32,0.946787,-0.017898,0.057178,-0.012931,-0.011159,7920893.0,1.366788e+08,0.011879,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:05.452058
no massive missing
0:02:47.355653

20190930

SZ finished
0:01:13.485554
0:00:00.188854
20191008 unzip finished

NameError: name 'df' is not defined

In [1]:
import pymongo
import pandas as pd
import pickle
import datetime
import time
import gzip
import lzma
import pytz


def DB(host, db_name, user, passwd):
    auth_db = db_name if user not in ('admin', 'root') else 'admin'
    uri = 'mongodb://%s:%s@%s/?authSource=%s' % (user, passwd, host, auth_db)
    return DBObj(uri, db_name=db_name)


class DBObj(object):
    def __init__(self, uri, symbol_column='skey', db_name='white_db'):
        self.db_name = db_name
        self.uri = uri
        self.client = pymongo.MongoClient(self.uri)
        self.db = self.client[self.db_name]
        self.chunk_size = 20000
        self.symbol_column = symbol_column
        self.date_column = 'date'

    def parse_uri(self, uri):
        # mongodb://user:password@example.com
        return uri.strip().replace('mongodb://', '').strip('/').replace(':', ' ').replace('@', ' ').split(' ')

    def drop_table(self, table_name):
        self.db.drop_collection(table_name)

    def rename_table(self, old_table, new_table):
        self.db[old_table].rename(new_table)

    def write(self, table_name, df):
        if len(df) == 0: return

        multi_date = False

        if self.date_column in df.columns:
            date = str(df.head(1)[self.date_column].iloc[0])
            multi_date = len(df[self.date_column].unique()) > 1
        else:
            raise Exception('DataFrame should contain date column')

        collection = self.db[table_name]
        collection.create_index([('date', pymongo.ASCENDING), ('symbol', pymongo.ASCENDING)], background=True)
        collection.create_index([('symbol', pymongo.ASCENDING), ('date', pymongo.ASCENDING)], background=True)

        if multi_date:
            for (date, symbol), sub_df in df.groupby([self.date_column, self.symbol_column]):
                date = str(date)
                symbol = int(symbol)
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)
        else:
            for symbol, sub_df in df.groupby([self.symbol_column]):
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)

    def write_single(self, collection, date, symbol, df):
        for start in range(0, len(df), self.chunk_size):
            end = min(start + self.chunk_size, len(df))
            df_seg = df[start:end]
            version = 1
            seg = {'ver': version, 'data': self.ser(df_seg, version), 'date': date, 'symbol': symbol, 'start': start}
            collection.insert_one(seg)

    def build_query(self, start_date=None, end_date=None, symbol=None):
        query = {}

        def parse_date(x):
            if type(x) == str:
                if len(x) != 8:
                    raise Exception("`date` must be YYYYMMDD format")
                return x
            elif type(x) == datetime.datetime or type(x) == datetime.date:
                return x.strftime("%Y%m%d")
            elif type(x) == int:
                return parse_date(str(x))
            else:
                raise Exception("invalid `date` type: " + str(type(x)))

        if start_date is not None or end_date is not None:
            query['date'] = {}
            if start_date is not None:
                query['date']['$gte'] = parse_date(start_date)
            if end_date is not None:
                query['date']['$lte'] = parse_date(end_date)

        def parse_symbol(x):
            if type(x) == int:
                return x
            else:
                return int(x)

        if symbol:
            if type(symbol) == list or type(symbol) == tuple:
                query['symbol'] = {'$in': [parse_symbol(x) for x in symbol]}
            else:
                query['symbol'] = parse_symbol(symbol)

        return query

    def delete(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot delete the whole table')
            return None

        collection.delete_many(query)

    def read(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot read the whole table')
            return None

        segs = []
        for x in collection.find(query):
            x['data'] = self.deser(x['data'], x['ver'])
            segs.append(x)
        segs.sort(key=lambda x: (x['symbol'], x['date'], x['start']))
        return pd.concat([x['data'] for x in segs], ignore_index=True) if segs else None

    def list_tables(self):
        return self.db.collection_names()

    def list_dates(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]
        dates = set()
        if start_date is None:
            start_date = '00000000'
        if end_date is None:
            end_date = '99999999'
        for x in collection.find(self.build_query(start_date, end_date, symbol), {"date": 1, '_id': 0}):
            dates.add(x['date'])
        return sorted(list(dates))

    def ser(self, s, version):
        pickle_protocol = 4
        if version == 1:
            return gzip.compress(pickle.dumps(s, protocol=pickle_protocol), compresslevel=2)
        elif version == 2:
            return lzma.compress(pickle.dumps(s, protocol=pickle_protocol), preset=1)
        else:
            raise Exception('unknown version')

    def deser(self, s, version):
        def unpickle(s):
            return pickle.loads(s)

        if version == 1:
            return unpickle(gzip.decompress(s))
        elif version == 2:
            return unpickle(lzma.decompress(s))
        else:
            raise Exception('unknown version')


def patch_pandas_pickle():
    if pd.__version__ < '0.24':
        import sys
        from types import ModuleType
        from pandas.core.internals import BlockManager
        pkg_name = 'pandas.core.internals.managers'
        if pkg_name not in sys.modules:
            m = ModuleType(pkg_name)
            m.BlockManager = BlockManager
            sys.modules[pkg_name] = m
patch_pandas_pickle()












import pandas as pd
import random
import numpy as np
import glob
import os
import pickle
import datetime
import time
pd.set_option("max_columns", 200)

startTm = datetime.datetime.now()
readPath = '/home/work516/day_stock/***'
dataPathLs = np.array(glob.glob(readPath))
dataPathLs = dataPathLs[[np.array([os.path.basename(i).split('.')[0][:2] == 'SZ' for i in dataPathLs])]]
db = pd.DataFrame()
for p in dataPathLs:
    dayData = pd.read_csv(p, compression='gzip')
    db = pd.concat([db, dayData])
print(datetime.datetime.now() - startTm)

year = "2019"
startDate = '20191008'
endDate = '20191101'
readPath = '/mnt/usb/data/' + year + '/***/***'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([os.path.basename(i).split('_')[0] for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]
date_list = pd.read_csv("/home/work516/KR_upload_code/trading_days.csv")
wr_ong = []
mi_ss = []
less = []

for data in dataPathLs:    
    
    if len(np.array(glob.glob(data + '/SZ/snapshot***'))) == 0:
        if int(os.path.basename(data)) not in date_list["Date"].values:
            continue
        else:
            print(os.path.basename(data) + " less data!!!!!!!!!!!!!!!!!")
            less.append(data)
            continue
    startTm = datetime.datetime.now()
    date = os.path.basename(data)
    rar_path = data + '/SZ/snapshot.7z'
    path = '/mnt/e/unzip_data/2019/SZ'
    path1 = path + '/' + date
    un_path = path1
    cmd = '7za x {} -o{}'.format(rar_path, un_path)
    os.system(cmd)
    print(datetime.datetime.now() - startTm)
    print(date + ' unzip finished')
    
    readPath = path1 + '/snapshot/***2/***'
    dataPathLs = np.array(glob.glob(readPath))
    dateLs = np.array([int(os.path.basename(i).split('.')[0]) for i in dataPathLs])
    dataPathLs = dataPathLs[(dateLs < 4000) | ((dateLs > 300000) & (dateLs < 310000))]
    SZ = []
    ll = []
    startTm = datetime.datetime.now()
    for i in dataPathLs:
        try:
            df = pd.read_csv(i, usecols = [0,1,4,5,6,7,9,12,17,18,19,24,25,26,28,29,30,32,33,34,35])
        except:
            print("empty data")
            print(i)
            ll.append(int(os.path.basename(i).split('.')[0]))
            continue
        df["StockID"] = int(os.path.basename(i).split('.')[0])
        SZ += [df]
    del df
    SZ = pd.concat(SZ).reset_index(drop=True)
    print(datetime.datetime.now() - startTm)
    
    startTm = datetime.datetime.now()
    SZ["skey"] = SZ["StockID"] + 2000000
    SZ.drop(["StockID"],axis=1,inplace=True)
    SZ["date"] = int(SZ["QuotTime"].iloc[0]//1000000000)
    SZ["time"] = (SZ['QuotTime'] - int(SZ['QuotTime'].iloc[0]//1000000000*1000000000)).astype(np.int64) * 1000
    SZ["clockAtArrival"] = SZ["QuotTime"].astype(str).apply(lambda x: np.int64(datetime.datetime.strptime(x, '%Y%m%d%H%M%S%f').timestamp()*1e6))
    SZ['datetime'] = SZ["clockAtArrival"].apply(lambda x: datetime.datetime.fromtimestamp(x/1e6))
    SZ.drop(["QuotTime"],axis=1,inplace=True)
    print(datetime.datetime.now() - startTm)
    
    startTm = datetime.datetime.now()
    SZ["BidPrice"] = SZ["BidPrice"].apply(lambda x: [float(i) for i in x[1:-1].split(',')])
    SZ["OfferPrice"] = SZ["OfferPrice"].apply(lambda x: [float(i) for i in x[1:-1].split(',')])
    SZ["BidOrderQty"] = SZ["BidOrderQty"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["OfferOrderQty"] = SZ["OfferOrderQty"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["BidNumOrders"] = SZ["BidNumOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["OfferNumOrders"] = SZ["OfferNumOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])

    for i in range(1, 11):
        SZ["bid" + str(i) + 'p'] = SZ["BidPrice"].apply(lambda x: x[i-1],2)
    SZ.drop(["BidPrice"],axis=1,inplace=True)
    print("1")
    for i in range(1, 11):
        SZ["ask" + str(i) + 'p'] = SZ["OfferPrice"].apply(lambda x: x[i-1],2)
    SZ.drop(["OfferPrice"],axis=1,inplace=True)
    print("2")
    for i in range(1, 11):
        SZ["bid" + str(i) + 'q'] = SZ["BidOrderQty"].apply(lambda x: x[i-1])
    SZ.drop(["BidOrderQty"],axis=1,inplace=True)
    print("3")
    for i in range(1, 11):
        SZ["ask" + str(i) + 'q'] = SZ["OfferOrderQty"].apply(lambda x: x[i-1])
    SZ.drop(["OfferOrderQty"],axis=1,inplace=True)
    print("4")
    for i in range(1, 11):
        SZ["bid" + str(i) + 'n'] = SZ["BidNumOrders"].apply(lambda x: x[i-1])
        SZ["bid" + str(i) + 'n'] = SZ["bid" + str(i) + 'n'].astype('int32')
    SZ.drop(["BidNumOrders"],axis=1,inplace=True)
    print("5")
    for i in range(1, 11):
        SZ["ask" + str(i) + 'n'] = SZ["OfferNumOrders"].apply(lambda x: x[i-1])
        SZ["ask" + str(i) + 'n'] = SZ["ask" + str(i) + 'n'].astype('int32') 
    SZ.drop(["OfferNumOrders"],axis=1,inplace=True)
    print("6")
    
    SZ["BidOrders"] = SZ["BidOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["OfferOrders"] = SZ["OfferOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])

    for i in range(1, 51):
        SZ["bid1Top" + str(i) + 'q'] = SZ["BidOrders"].apply(lambda x: x[i-1])
        SZ["bid1Top" + str(i) + 'q'] = SZ["bid1Top" + str(i) + 'q'].astype('int32') 
    SZ.drop(["BidOrders"],axis=1,inplace=True)
    print("7")
    
    for i in range(1, 51):
        SZ["ask1Top" + str(i) + 'q'] = SZ["OfferOrders"].apply(lambda x: x[i-1])
        SZ["ask1Top" + str(i) + 'q'] = SZ["ask1Top" + str(i) + 'q'].astype('int32') 
    SZ.drop(["OfferOrders"],axis=1,inplace=True)
    print("8")
    print(datetime.datetime.now() - startTm)
        
    
    startTm = datetime.datetime.now()
    SZ.columns = ['cum_trades_cnt', 'total_bid_quantity', 'total_ask_quantity', 'close',
       'total_ask_vwap', 'cum_amount', 'cum_volume', 'open', 'high',
       'prev_close', 'low', 'total_bid_vwap', 'skey', 'date', 'time',
       'clockAtArrival', 'datetime', 'bid1p', 'bid2p', 'bid3p', 'bid4p',
       'bid5p', 'bid6p', 'bid7p', 'bid8p', 'bid9p', 'bid10p', 'ask1p',
       'ask2p', 'ask3p', 'ask4p', 'ask5p', 'ask6p', 'ask7p', 'ask8p',
       'ask9p', 'ask10p', 'bid1q', 'bid2q', 'bid3q', 'bid4q', 'bid5q',
       'bid6q', 'bid7q', 'bid8q', 'bid9q', 'bid10q', 'ask1q', 'ask2q',
       'ask3q', 'ask4q', 'ask5q', 'ask6q', 'ask7q', 'ask8q', 'ask9q',
       'ask10q', 'bid1n', 'bid2n', 'bid3n', 'bid4n', 'bid5n', 'bid6n',
       'bid7n', 'bid8n', 'bid9n', 'bid10n', 'ask1n', 'ask2n', 'ask3n',
       'ask4n', 'ask5n', 'ask6n', 'ask7n', 'ask8n', 'ask9n', 'ask10n',
       'bid1Top1q', 'bid1Top2q', 'bid1Top3q', 'bid1Top4q', 'bid1Top5q',
       'bid1Top6q', 'bid1Top7q', 'bid1Top8q', 'bid1Top9q', 'bid1Top10q',
       'bid1Top11q', 'bid1Top12q', 'bid1Top13q', 'bid1Top14q',
       'bid1Top15q', 'bid1Top16q', 'bid1Top17q', 'bid1Top18q',
       'bid1Top19q', 'bid1Top20q', 'bid1Top21q', 'bid1Top22q',
       'bid1Top23q', 'bid1Top24q', 'bid1Top25q', 'bid1Top26q',
       'bid1Top27q', 'bid1Top28q', 'bid1Top29q', 'bid1Top30q',
       'bid1Top31q', 'bid1Top32q', 'bid1Top33q', 'bid1Top34q',
       'bid1Top35q', 'bid1Top36q', 'bid1Top37q', 'bid1Top38q',
       'bid1Top39q', 'bid1Top40q', 'bid1Top41q', 'bid1Top42q',
       'bid1Top43q', 'bid1Top44q', 'bid1Top45q', 'bid1Top46q',
       'bid1Top47q', 'bid1Top48q', 'bid1Top49q', 'bid1Top50q',
       'ask1Top1q', 'ask1Top2q', 'ask1Top3q', 'ask1Top4q', 'ask1Top5q',
       'ask1Top6q', 'ask1Top7q', 'ask1Top8q', 'ask1Top9q', 'ask1Top10q',
       'ask1Top11q', 'ask1Top12q', 'ask1Top13q', 'ask1Top14q',
       'ask1Top15q', 'ask1Top16q', 'ask1Top17q', 'ask1Top18q',
       'ask1Top19q', 'ask1Top20q', 'ask1Top21q', 'ask1Top22q',
       'ask1Top23q', 'ask1Top24q', 'ask1Top25q', 'ask1Top26q',
       'ask1Top27q', 'ask1Top28q', 'ask1Top29q', 'ask1Top30q',
       'ask1Top31q', 'ask1Top32q', 'ask1Top33q', 'ask1Top34q',
       'ask1Top35q', 'ask1Top36q', 'ask1Top37q', 'ask1Top38q',
       'ask1Top39q', 'ask1Top40q', 'ask1Top41q', 'ask1Top42q',
       'ask1Top43q', 'ask1Top44q', 'ask1Top45q', 'ask1Top46q',
       'ask1Top47q', 'ask1Top48q', 'ask1Top49q', 'ask1Top50q']
    
    SZ = SZ.fillna(0)
#     SZ["p1"] = SZ["bid1p"] + SZ["ask1p"]
#     tt = SZ[(SZ["cum_volume"] > 0) & (SZ["time"] < 145700000000)].groupby("skey")['p1'].min()
#     SZ.drop("p1", axis=1, inplace=True)
#     try:
#         assert(tt[tt == 0].shape[0] == 0)
#     except:
#         display(tt[tt == 0])
#     SZ = SZ[~((SZ["bid1p"] == 0) & (SZ["ask1p"] == 0))]
    SZ["ordering"] = SZ.groupby("skey").cumcount()
    SZ["ordering"] = SZ["ordering"] + 1

    for cols in ["total_bid_orders",'total_ask_orders','total_bid_levels', 'total_ask_levels', 'bid_trade_max_duration',
                 'ask_trade_max_duration', 'cum_canceled_buy_orders', 'cum_canceled_buy_volume', "cum_canceled_buy_amount",
                 "cum_canceled_sell_orders", 'cum_canceled_sell_volume',"cum_canceled_sell_amount", "has_missing"]:
        SZ[cols] = 0
        
#     for col in ["cum_volume", "total_bid_quantity", "total_ask_quantity",'cum_canceled_buy_volume',
#         'cum_canceled_sell_volume']:
#         SZ[col] = SZ[col].astype('int64')
    
    for col in ["skey", "date", "cum_trades_cnt", "total_bid_orders",
        'total_ask_orders', 'total_bid_levels', 'total_ask_levels', 'cum_canceled_buy_orders','cum_canceled_sell_orders',
            "ordering", 'bid_trade_max_duration', 'ask_trade_max_duration','has_missing']:
        SZ[col] = SZ[col].astype('int32')
    
        
#     for cols in ["prev_close", 'open', "high", "low", "close", 'bid10p','bid9p','bid8p','bid7p','bid6p','bid5p','bid4p','bid3p',
#              'bid2p','bid1p','ask1p','ask2p','ask3p','ask4p','ask5p','ask6p','ask7p','ask8p','ask9p','ask10p', 'total_bid_vwap', "total_ask_vwap",
#                 "cum_amount"]:
# #         SZ[cols] = SZ[cols].apply(lambda x: round(x, 2)).astype('float64')
#         print(cols)
#         print(SZ[cols].astype(str).apply(lambda x: len(str(x.split('.')[1]))).unique())

        
    for cols in ["cum_canceled_sell_amount", "cum_canceled_buy_amount"]:
        SZ[cols] = SZ[cols].astype('float64')

        
    assert(sum(SZ[SZ["open"] != 0].groupby("skey")["open"].nunique() != 1) == 0)
    assert(sum(SZ[SZ["prev_close"] != 0].groupby("skey")["prev_close"].nunique() != 1) == 0)
    SZ["prev_close"] = np.where(SZ["time"] >= 91500000000, SZ.groupby("skey")["prev_close"].transform("max"), SZ["prev_close"]) 
    SZ["open"] = np.where(SZ["cum_volume"] > 0, SZ.groupby("skey")["open"].transform("max"), SZ["open"])
    assert(sum(SZ[SZ["open"] != 0].groupby("skey")["open"].nunique() != 1) == 0)
    assert(sum(SZ[SZ["prev_close"] != 0].groupby("skey")["prev_close"].nunique() != 1) == 0)
    assert(SZ[SZ["cum_volume"] > 0]["open"].min() > 0)
    
    print(datetime.datetime.now() - startTm)
    
    
    # check 1
    startTm = datetime.datetime.now()
    da_te = str(SZ["date"].iloc[0]) 
    da_te = da_te[:4] + '-' + da_te[4:6] + '-' + da_te[6:8]
    db1 = db[db["date"] == da_te]
    db1["ID"] = db1["ID"].str[2:].astype(int) + 2000000
    db1["date"] = (db1["date"].str[:4] + db1["date"].str[5:7] + db1["date"].str[8:]).astype(int)
    SZ["cum_max"] = SZ.groupby("skey")["cum_volume"].transform(max)
    s2 = SZ[SZ["cum_volume"] == SZ["cum_max"]].groupby("skey").first().reset_index()
    SZ.drop("cum_max", axis=1, inplace=True)
    s2 = s2.rename(columns={"skey": "ID", 'open':"d_open", "prev_close":"d_yclose","high":"d_high", "low":"d_low", "close":"d_close", "cum_volume":"d_volume", "cum_amount":"d_amount"})
    s2 = s2[["ID", "date", "d_open", "d_yclose", "d_high", "d_low", "d_close", "d_volume", "d_amount"]]
    re = pd.merge(db1, s2, on=["ID", "date", "d_open", "d_yclose","d_high", "d_low", "d_volume"], how="outer")
    try:
        assert(sum(re["d_amount_y"].isnull()) == 0)
    except:
        display(re[re["d_amount_y"].isnull()])
        wr_ong += [re[re["d_amount_y"].isnull()]]
    del re
    del s2
    del db1
    print(datetime.datetime.now() - startTm)
    
    # check 2
    # first part
    startTm = datetime.datetime.now()
    date = pd.DataFrame(pd.date_range(start='2019-06-10 08:30:00', end='2019-06-10 18:00:00', freq='s'), columns=["Orig"])
    date["time"] = date["Orig"].apply(lambda x: int(x.strftime("%H%M%S"))*1000)
    date["group"] = date["time"]//10000
    SZ["group"] = SZ["time"]//10000000
    gl = date[((date["time"] >= 93000000) & (date["time"] <= 113000000))|((date["time"] >= 130000000) & (date["time"] <= 150000000))]["group"].unique()
    l = set(gl) - set(SZ["group"].unique())
    SZ["has_missing1"] = 0 
    if len(l) != 0:
        print("massive missing")
        print(l)
        SZ["order"] = SZ.groupby(["skey", "time"]).cumcount()
        for i in l:
            SZ["t"] = SZ[SZ["group"] > i].groupby("StockID")["time"].transform("min")
            SZ["has_missing1"] = np.where((SZ["time"] == SZ["t"]) & (SZ["order"] == 0), 1, 0)
        SZ.drop(["order", "t", "group"], axis=1, inplace=True)   
    else:
        print("no massive missing")
        SZ.drop(["group"], axis=1, inplace=True)
    



    # second part

    SZ["time_interval"] = SZ.groupby("skey")["datetime"].apply(lambda x: x - x.shift(1))
    SZ["time_interval"] = SZ["time_interval"].apply(lambda x: x.seconds)
    SZ["tn_update"] = SZ.groupby("skey")["cum_trades_cnt"].apply(lambda x: x-x.shift(1))

    f1 = SZ[(SZ["time"] >= 93000000000) & (SZ["tn_update"] != 0)].groupby("skey")["time"].min().reset_index()
    f1 = f1.rename(columns={"time": "time1"})
    f2 = SZ[(SZ["time"] >= 130000000000) & (SZ["tn_update"] != 0)].groupby("skey")["time"].min().reset_index()
    f2 = f2.rename(columns={"time": "time2"})
    f3 = SZ[(SZ["time"] >= 150000000000) & (SZ["tn_update"] != 0)].groupby("skey")["time"].min().reset_index()
    f3 = f3.rename(columns={"time": "time3"})
    SZ = pd.merge(SZ, f1, on="skey", how="left")
    del f1
    SZ = pd.merge(SZ, f2, on="skey", how="left")
    del f2
    SZ = pd.merge(SZ, f3, on="skey", how="left")
    del f3
    p99 = SZ[(SZ["time"] > 93000000000) & (SZ["time"] < 145700000000) & (SZ["time"] != SZ["time2"]) & (SZ["tn_update"] != 0)]\
    .groupby("skey")["tn_update"].apply(lambda x: x.describe([0.99])["99%"]).reset_index()
    p99 = p99.rename(columns={"tn_update":"99%"})
    SZ = pd.merge(SZ, p99, on="skey", how="left")

    SZ["has_missing2"] = 0
    SZ["has_missing2"] = np.where((SZ["time_interval"] > 60) & (SZ["tn_update"] > SZ["99%"]) & 
         (SZ["time"] > SZ["time1"]) & (SZ["time"] != SZ["time2"]) & (SZ["time"] != SZ["time3"])& (SZ["time"] != 100000000000), 1, 0)
    SZ.drop(["time_interval", "tn_update", "time1", "time2", "time3", "99%"], axis=1, inplace=True) 

    SZ["has_missing"] = np.where((SZ["has_missing1"] == 1) | (SZ["has_missing2"] == 1), 1, 0)
    SZ.drop(["has_missing1", "has_missing2"], axis=1, inplace=True) 
    if SZ[SZ["has_missing"] == 1].shape[0] != 0:
        print("has missing!!!!!!!!!!!!!!!!!!!!!!!")
        print(SZ[SZ["has_missing"] == 1].shape[0])
        mi_ss += [SZ[SZ["has_missing"] == 1]]
    print(datetime.datetime.now() - startTm)

    
    
    startTm = datetime.datetime.now()
    SZ["has_missing"] = SZ["has_missing"].astype('int32')
    SZ = SZ[["skey", "date", "time", "clockAtArrival", "datetime", "ordering", "has_missing", "cum_trades_cnt", "cum_volume", "cum_amount", "prev_close",
                            "open", "high", "low", "close", 'bid10p','bid9p','bid8p','bid7p','bid6p','bid5p','bid4p','bid3p','bid2p','bid1p',
                            'ask1p','ask2p','ask3p','ask4p','ask5p','ask6p','ask7p','ask8p','ask9p','ask10p', 'bid10q','bid9q','bid8q',
                             'bid7q','bid6q','bid5q','bid4q','bid3q','bid2q','bid1q', 'ask1q','ask2q','ask3q','ask4q','ask5q','ask6q',
                             'ask7q','ask8q','ask9q','ask10q', 'bid10n', 'bid9n', 'bid8n', 'bid7n', 'bid6n', 'bid5n', 'bid4n', 'bid3n', 'bid2n', 'bid1n', 
                             'ask1n', 'ask2n', 'ask3n', 'ask4n', 'ask5n', 'ask6n','ask7n', 'ask8n', 'ask9n', 'ask10n','bid1Top1q','bid1Top2q','bid1Top3q','bid1Top4q','bid1Top5q','bid1Top6q',
        'bid1Top7q','bid1Top8q','bid1Top9q','bid1Top10q','bid1Top11q','bid1Top12q','bid1Top13q','bid1Top14q','bid1Top15q','bid1Top16q','bid1Top17q','bid1Top18q',
        'bid1Top19q','bid1Top20q','bid1Top21q','bid1Top22q','bid1Top23q','bid1Top24q','bid1Top25q','bid1Top26q','bid1Top27q','bid1Top28q','bid1Top29q',
        'bid1Top30q','bid1Top31q','bid1Top32q','bid1Top33q','bid1Top34q','bid1Top35q','bid1Top36q','bid1Top37q','bid1Top38q','bid1Top39q','bid1Top40q',
        'bid1Top41q','bid1Top42q','bid1Top43q','bid1Top44q','bid1Top45q','bid1Top46q','bid1Top47q','bid1Top48q','bid1Top49q','bid1Top50q', 'ask1Top1q',
        'ask1Top2q','ask1Top3q','ask1Top4q','ask1Top5q','ask1Top6q','ask1Top7q','ask1Top8q','ask1Top9q','ask1Top10q','ask1Top11q','ask1Top12q','ask1Top13q',
        'ask1Top14q','ask1Top15q','ask1Top16q','ask1Top17q','ask1Top18q','ask1Top19q','ask1Top20q','ask1Top21q','ask1Top22q','ask1Top23q',
        'ask1Top24q','ask1Top25q','ask1Top26q','ask1Top27q','ask1Top28q','ask1Top29q','ask1Top30q','ask1Top31q','ask1Top32q','ask1Top33q',
        'ask1Top34q','ask1Top35q','ask1Top36q','ask1Top37q','ask1Top38q','ask1Top39q','ask1Top40q','ask1Top41q','ask1Top42q','ask1Top43q',
        'ask1Top44q','ask1Top45q','ask1Top46q','ask1Top47q','ask1Top48q','ask1Top49q','ask1Top50q',"total_bid_quantity", "total_ask_quantity","total_bid_vwap", "total_ask_vwap",
        "total_bid_orders",'total_ask_orders','total_bid_levels', 'total_ask_levels', 'bid_trade_max_duration', 'ask_trade_max_duration', 'cum_canceled_buy_orders', 'cum_canceled_buy_volume',
        "cum_canceled_buy_amount", "cum_canceled_sell_orders", 'cum_canceled_sell_volume',"cum_canceled_sell_amount"]]
    
    display(SZ["date"].iloc[0])
    print("SZ finished")
    
    
    database_name = 'com_md_eq_cn'
    user = "zhenyuy"
    password = "bnONBrzSMGoE"

    db1 = DB("192.168.10.223", database_name, user, password)
    db1.write('md_snapshot_l2', SZ)
    
    del SZ
    print(datetime.datetime.now() - startTm)

wr_ong = pd.concat(wr_ong).reset_index(drop=True)
print(wr_ong)
mi_ss = pd.concat(mi_ss).reset_index(drop=True)
print(mi_ss)

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:203: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.

0:06:00.625150
0:00:00.464377
20191008 unzip finished
0:03:30.504800
0:01:53.423740
1
2
3
4
5
6
7
8
0:14:19.087912
0:00:38.332214

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1009,2001914,20191008,17.06,17.99,17.05,17.75,17.01,0.946787,0.043504,0.060968,0.000174,0.000916,7050790.0,1.244844e+08,0.010574,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:05.503542
no massive missing
0:02:52.576638

20191008

SZ finished
0:01:25.868159
0:00:00.490855
20191009 unzip finished
0:01:44.329073
0:01:58.408217
1
2
3
4
5
6
7
8
0:15:05.633733
0:00:38.997787

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1009,2001914,20191009,17.78,17.95,17.28,17.78,17.75,0.946787,0.00169,0.064671,0.008336,0.009159,6158032.0,1.082141e+08,0.009235,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:05.397436
no massive missing
0:02:54.784753

20191009

SZ finished
0:01:33.535071
0:00:51.095901
20191010 unzip finished
0:01:01.671384
0:02:00.843238
1
2
3
4
5
6
7
8
0:16:02.013033
0:00:40.390848

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1008,2001914,20191010,17.78,18.05,17.52,17.95,17.78,0.946787,0.009561,0.091185,0.012725,0.015473,5220004.0,93158615.14,0.007829,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:05.626337
no massive missing
0:02:57.439656

20191010

SZ finished
0:01:37.896519
0:00:56.510865
20191011 unzip finished
0:01:01.749195
0:02:07.111746
1
2
3
4
5
6
7
8
0:16:15.894525
0:00:42.170522

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1009,2001914,20191011,18.0,19.09,18.0,18.98,17.95,0.946787,0.057382,0.095843,0.001815,0.000695,11622636.0,216738949.6,0.017431,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:06.730899
no massive missing
0:03:05.177427

20191011

SZ finished
0:01:31.557719
0:01:00.308310
20191014 unzip finished
0:01:05.076767
0:02:06.005147
1
2
3
4
5
6
7
8
0:16:20.144999
0:00:45.204446

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1009,2001914,20191014,19.0,19.07,18.48,19.02,18.98,0.946787,0.002107,0.118166,0.014957,0.015818,6027730.0,113547718.7,0.00904,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:05.794022
no massive missing
0:03:16.586103

20191014

SZ finished
0:01:46.417747
0:00:56.462365
20191015 unzip finished
0:01:07.861254
0:02:03.117011
1
2
3
4
5
6
7
8
0:16:11.735816
0:00:43.270970

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1009,2001914,20191015,19.1,19.6,18.65,19.38,19.02,0.946787,0.018927,0.091831,-0.013667,-0.014678,5698630.0,109398438.8,0.008546,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:06.114594
no massive missing
0:03:12.060669

20191015

SZ finished
0:01:32.315194
0:00:49.479801
20191016 unzip finished
0:01:01.068323
0:01:57.438738
1
2
3
4
5
6
7
8
0:15:56.926287
0:00:42.108693

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1009,2001914,20191016,19.37,20.0,19.08,20.0,19.38,0.946787,0.031992,0.124859,-0.004475,-0.004188,8919873.0,1.745510e+08,0.013377,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:05.902298
no massive missing
0:03:00.789761

20191016

SZ finished
0:01:19.717828
0:00:48.893109
20191017 unzip finished
0:00:59.906780
0:01:52.435211
1
2
3
4
5
6
7
8
0:15:12.931202
0:00:41.935909

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1009,2001914,20191017,20.0,20.08,19.36,19.54,20.0,0.946787,-0.023,0.088579,-0.001687,-0.001074,7610005.0,1.498997e+08,0.011413,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:06.035617
no massive missing
0:03:02.235161

20191017

SZ finished
0:01:29.231425
0:00:50.524960
20191018 unzip finished
0:01:00.116432
0:02:05.250128
1
2
3
4
5
6
7
8
0:15:54.253205
0:00:45.807770

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1010,2001914,20191018,19.51,19.78,18.45,18.8,19.54,0.946787,-0.037871,-0.009484,-0.013529,-0.01248,9763399.0,1.859281e+08,0.014642,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:06.415969
no massive missing
0:03:19.039349

20191018

SZ finished
0:01:29.442804
0:00:50.698918
20191021 unzip finished
0:01:05.181017
0:02:08.838953
1
2
3
4
5
6
7
8
0:15:46.589959
0:00:43.396462

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1007,2001914,20191021,18.99,19.3,18.45,18.78,18.8,0.946787,-0.001064,-0.012618,-0.002171,-0.006294,6329130.0,1.190761e+08,0.009492,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,666793416.0,666961416.0,NaN,NaN

0:00:06.209286
no massive missing
0:03:11.689615

20191021

SZ finished
0:01:23.462743
0:00:49.512463
20191022 unzip finished
0:01:05.199685
0:02:01.486622
1
2
3
4
5
6
7
8
0:15:38.431045
0:01:24.224888

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

0:00:19.649577
no massive missing
0:02:57.492952

20191022

SZ finished
0:01:26.363963
0:00:52.941439
20191023 unzip finished
0:01:03.148966
0:02:13.274164
1
2
3
4
5
6
7
8
0:15:46.083730
0:00:41.634076

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1008,2001914,20191023,18.9,19.64,17.8,18.75,18.78,0.946787,-0.001597,-0.032508,-0.007663,-0.008044,12698092.0,2.345682e+08,0.019044,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:05.552081
no massive missing
0:03:04.316304

20191023

SZ finished
0:01:42.013827
0:00:49.224306
20191024 unzip finished
0:01:01.326550
0:02:03.330836
1
2
3
4
5
6
7
8
0:15:36.624484
0:00:41.434080

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1009,2001914,20191024,18.5,19.0,18.47,18.82,18.75,0.946787,0.003733,-0.059,-0.001801,-0.001948,5721581.0,1.075381e+08,0.008581,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:05.613930
no massive missing
0:03:12.964478

20191024

SZ finished
0:01:19.214865
0:00:57.691405
20191025 unzip finished
0:01:07.237413
0:02:01.513662
1
2
3
4
5
6
7
8
0:16:16.351324
0:00:56.849697

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1010,2001914,20191025,18.82,19.78,18.82,19.26,18.82,0.946787,0.023379,-0.01433,0.007326,0.007727,7061940.0,1.363304e+08,0.010591,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:05.713447
no massive missing
0:03:28.461806

20191025

SZ finished
0:01:24.753948
0:00:56.063025
20191028 unzip finished
0:01:11.295068
0:02:16.263056
1
2
3
4
5
6
7
8
0:16:46.341180
0:00:45.790423

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1008,2001914,20191028,19.26,19.77,18.53,19.59,19.26,0.946787,0.017134,0.042021,0.017999,0.023709,5752663.0,110942382.9,0.008627,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:05.940052
no massive missing
0:03:21.434967

20191028

SZ finished
0:01:39.317996
0:00:54.517570
20191029 unzip finished
0:01:05.462878
0:02:04.341053
1
2
3
4
5
6
7
8
0:16:22.184512
0:00:41.670633

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1008,2001914,20191029,19.3,19.99,19.29,19.65,19.59,0.946787,0.003063,0.046326,-0.015096,-0.010874,5375340.0,1.055625e+08,0.008061,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:05.678258
no massive missing
0:02:59.733868

20191029

SZ finished
0:01:29.502217
0:00:48.760783
20191030 unzip finished
0:01:02.052032
0:02:03.626896
1
2
3
4
5
6
7
8
0:15:46.805099
0:00:50.603891

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1009,2001914,20191030,19.84,20.38,19.65,19.96,19.65,0.946787,0.015776,0.064533,-0.011945,-0.009939,6317655.0,126683394.9,0.009475,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:06.344157
no massive missing
0:03:11.509665

20191030

SZ finished
0:01:22.972357
0:01:03.808147
20191031 unzip finished
0:01:16.614391
0:02:05.310041
1
2
3
4
5
6
7
8
0:16:38.247023
0:00:48.330423

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1010,2001914,20191031,19.95,20.21,19.67,19.8,19.96,0.946787,-0.008016,0.052072,-0.00616,-0.011205,3746652.0,74436219.84,0.005619,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:05.828721
no massive missing
0:03:07.741656

20191031

SZ finished
0:01:25.246214
0:00:01.711364
20191101 unzip finished
0:07:16.638698
0:02:06.340805
1
2
3
4
5
6
7
8
0:16:45.234297
0:00:42.309487

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
1011,2001914,20191101,19.8,19.91,19.3,19.49,19.8,0.946787,-0.015657,0.011942,0.009137,0.009538,4551103.0,89052127.7,0.006825,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666793416.0,666961416.0,NaN,NaN

0:00:05.733062
no massive missing
0:03:07.247314

20191101

SZ finished
0:01:41.784721
         ID      date  d_open  d_high  d_low  d_close_x  d_yclose  \
0   2001914  20191008   17.06   17.99  17.05      17.75     17.01
1   2001914  20191009   17.78   17.95  17.28      17.78     17.75
2   2001914  20191010   17.78   18.05  17.52      17.95     17.78
3   2001914  20191011   18.00   19.09  18.00      18.98     17.95
4   2001914  20191014   19.00   19.07  18.48      19.02     18.98
5   2001914  20191015   19.10   19.60  18.65      19.38     19.02
6   2001914  20191016   19.37   20.00  19.08      20.00     19.38
7   2001914  20191017   20.00   20.08  19.36      19.54     20.00
8   2001914  20191018   19.51   19.78  18.45      18.80     19.54
9   2001914  20191021   18.99   19.30  18.45      18.78     18.80
10  2001914  20191023   18.90   19.64  17.80      18.75     18.78
11  2001914  20191024   18.50   19.00  18.47      18.82     18.75
12  2001914  20191025   18.82   19.78  18.82      19.26     18.82
13  2001914  20191028   19.26   19.77  18.53      19.59     19.26
14  2001914  20191029   19.30   19.99  19.29      19.65     19.59
15  2001914  20191030   19.84   20.38  19.65      19.96     19.65
16  2001914  20191031   19.95   20.21  19.67      19.80     19.96
17  2001914  20191101   19.80   19.91  19.30      19.49     19.80

    d_cumprodCAA  d_dayReturn  d_5dayReturn  d_ICDayReturn  d_CSIDayReturn  \
0       0.946787     0.043504      0.060968       0.000174        0.000916
1       0.946787     0.001690      0.064671       0.008336        0.009159
2       0.946787     0.009561      0.091185       0.012725        0.015473
3       0.946787     0.057382      0.095843       0.001815        0.000695
4       0.946787     0.002107      0.118166       0.014957        0.015818
5       0.946787     0.018927      0.091831      -0.013667       -0.014678
6       0.946787     0.031992      0.124859      -0.004475       -0.004188
7       0.946787    -0.023000      0.088579      -0.001687       -0.001074
8       0.946787    -0.037871     -0.009484      -0.013529       -0.012480
9       0.946787    -0.001064     -0.012618      -0.002171       -0.006294
10      0.946787    -0.001597     -0.032508      -0.007663       -0.008044
11      0.946787     0.003733     -0.059000      -0.001801       -0.001948
12      0.946787     0.023379     -0.014330       0.007326        0.007727
13      0.946787     0.017134      0.042021       0.017999        0.023709
14      0.946787     0.003063      0.046326      -0.015096       -0.010874
15      0.946787     0.015776      0.064533      -0.011945       -0.009939
16      0.946787    -0.008016      0.052072      -0.006160       -0.011205
17      0.946787    -0.015657      0.011942       0.009137        0.009538

      d_volume    d_amount_x    TORate  allZT  hasZT  isZT  allDT  hasDT  \
0    7050790.0  1.244844e+08  0.010574    0.0    0.0   0.0    0.0    0.0
1    6158032.0  1.082141e+08  0.009235    0.0    0.0   0.0    0.0    0.0
2    5220004.0  9.315862e+07  0.007829    0.0    0.0   0.0    0.0    0.0
3   11622636.0  2.167389e+08  0.017431    0.0    0.0   0.0    0.0    0.0
4    6027730.0  1.135477e+08  0.009040    0.0    0.0   0.0    0.0    0.0
5    5698630.0  1.093984e+08  0.008546    0.0    0.0   0.0    0.0    0.0
6    8919873.0  1.745510e+08  0.013377    0.0    0.0   0.0    0.0    0.0
7    7610005.0  1.498997e+08  0.011413    0.0    0.0   0.0    0.0    0.0
8    9763399.0  1.859281e+08  0.014642    0.0    0.0   0.0    0.0    0.0
9    6329130.0  1.190761e+08  0.009492    0.0    0.0   0.0    0.0    0.0
10  12698092.0  2.345682e+08  0.019044    0.0    0.0   0.0    0.0    0.0
11   5721581.0  1.075381e+08  0.008581    0.0    0.0   0.0    0.0    0.0
12   7061940.0  1.363304e+08  0.010591    0.0    0.0   0.0    0.0    0.0
13   5752663.0  1.109424e+08  0.008627    0.0    0.0   0.0    0.0    0.0
14   5375340.0  1.055625e+08  0.008061    0.0    0.0   0.0    0.0    0.0
15   6317655.0  1.266834e+08  0.009475    0.0    0.0   0.0    0.0    0.0
16   3746652.0  7.443622e+07  0.005619    0.0    0.0   0.0    0.0    0.0
17   4551103.0  8.905213e+07  0.006825    0.0    0.0   0.0    0.0    0.0

    isDT  tmrHalted  haltedDays  marketShares  totalShares  d_close_y  \
0    0.0        0.0         0.0   666793416.0  666961416.0        NaN
1    0.0        0.0         0.0   666793416.0  666961416.0        NaN
2    0.0        0.0         0.0   666793416.0  666961416.0        NaN
3    0.0        0.0         0.0   666793416.0  666961416.0        NaN
4    0.0        0.0         0.0   666793416.0  666961416.0        NaN
5    0.0        0.0         0.0   666793416.0  666961416.0        NaN
6    0.0        0.0         0.0   666793416.0  666961416.0        NaN
7    0.0        0.0         0.0   666793416.0  666961416.0        NaN
8    0.0        0.0         0.0   666793416.0  666961416.0        NaN
9    0.0        1.0         1.0   666793416.0  666961416.0        NaN
10   0.0        0.0         0.0   666793416.0  666961416.0        NaN
11   0.0        0.0         0.0   666793416.0  666961416.0        NaN
12   0.0        0.0         0.0   666793416.0  666961416.0        NaN
13   0.0        0.0         0.0   666793416.0  666961416.0        NaN
14   0.0        0.0         0.0   666793416.0  666961416.0        NaN
15   0.0        0.0         0.0   666793416.0  666961416.0        NaN
16   0.0        0.0         0.0   666793416.0  666961416.0        NaN
17   0.0        0.0         0.0   666793416.0  666961416.0        NaN

    d_amount_y
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN
7          NaN
8          NaN
9          NaN
10         NaN
11         NaN
12         NaN
13         NaN
14         NaN
15         NaN
16         NaN
17         NaN

ValueError: No objects to concatenate