In [ ]:
import pymongo
import pandas as pd
import pickle
import datetime
import time
import gzip
import lzma
import pytz


def DB(host, db_name, user, passwd):
    auth_db = db_name if user not in ('admin', 'root') else 'admin'
    uri = 'mongodb://%s:%s@%s/?authSource=%s' % (user, passwd, host, auth_db)
    return DBObj(uri, db_name=db_name)


class DBObj(object):
    def __init__(self, uri, symbol_column='skey', db_name='white_db'):
        self.db_name = db_name
        self.uri = uri
        self.client = pymongo.MongoClient(self.uri)
        self.db = self.client[self.db_name]
        self.chunk_size = 20000
        self.symbol_column = symbol_column
        self.date_column = 'date'

    def parse_uri(self, uri):
        # mongodb://user:password@example.com
        return uri.strip().replace('mongodb://', '').strip('/').replace(':', ' ').replace('@', ' ').split(' ')

    def drop_table(self, table_name):
        self.db.drop_collection(table_name)

    def rename_table(self, old_table, new_table):
        self.db[old_table].rename(new_table)

    def write(self, table_name, df):
        if len(df) == 0: return

        multi_date = False

        if self.date_column in df.columns:
            date = str(df.head(1)[self.date_column].iloc[0])
            multi_date = len(df[self.date_column].unique()) > 1
        else:
            raise Exception('DataFrame should contain date column')

        collection = self.db[table_name]
        collection.create_index([('date', pymongo.ASCENDING), ('symbol', pymongo.ASCENDING)], background=True)
        collection.create_index([('symbol', pymongo.ASCENDING), ('date', pymongo.ASCENDING)], background=True)

        if multi_date:
            for (date, symbol), sub_df in df.groupby([self.date_column, self.symbol_column]):
                date = str(date)
                symbol = int(symbol)
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)
        else:
            for symbol, sub_df in df.groupby([self.symbol_column]):
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)

    def write_single(self, collection, date, symbol, df):
        for start in range(0, len(df), self.chunk_size):
            end = min(start + self.chunk_size, len(df))
            df_seg = df[start:end]
            version = 1
            seg = {'ver': version, 'data': self.ser(df_seg, version), 'date': date, 'symbol': symbol, 'start': start}
            collection.insert_one(seg)

    def build_query(self, start_date=None, end_date=None, symbol=None):
        query = {}

        def parse_date(x):
            if type(x) == str:
                if len(x) != 8:
                    raise Exception("`date` must be YYYYMMDD format")
                return x
            elif type(x) == datetime.datetime or type(x) == datetime.date:
                return x.strftime("%Y%m%d")
            elif type(x) == int:
                return parse_date(str(x))
            else:
                raise Exception("invalid `date` type: " + str(type(x)))

        if start_date is not None or end_date is not None:
            query['date'] = {}
            if start_date is not None:
                query['date']['$gte'] = parse_date(start_date)
            if end_date is not None:
                query['date']['$lte'] = parse_date(end_date)

        def parse_symbol(x):
            if type(x) == int:
                return x
            else:
                return int(x)

        if symbol:
            if type(symbol) == list or type(symbol) == tuple:
                query['symbol'] = {'$in': [parse_symbol(x) for x in symbol]}
            else:
                query['symbol'] = parse_symbol(symbol)

        return query

    def delete(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot delete the whole table')
            return None

        collection.delete_many(query)

    def read(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot read the whole table')
            return None

        segs = []
        for x in collection.find(query):
            x['data'] = self.deser(x['data'], x['ver'])
            segs.append(x)
        segs.sort(key=lambda x: (x['symbol'], x['date'], x['start']))
        return pd.concat([x['data'] for x in segs], ignore_index=True) if segs else None

    def list_tables(self):
        return self.db.collection_names()

    def list_dates(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]
        dates = set()
        if start_date is None:
            start_date = '00000000'
        if end_date is None:
            end_date = '99999999'
        for x in collection.find(self.build_query(start_date, end_date, symbol), {"date": 1, '_id': 0}):
            dates.add(x['date'])
        return sorted(list(dates))

    def ser(self, s, version):
        pickle_protocol = 4
        if version == 1:
            return gzip.compress(pickle.dumps(s, protocol=pickle_protocol), compresslevel=2)
        elif version == 2:
            return lzma.compress(pickle.dumps(s, protocol=pickle_protocol), preset=1)
        else:
            raise Exception('unknown version')

    def deser(self, s, version):
        def unpickle(s):
            return pickle.loads(s)

        if version == 1:
            return unpickle(gzip.decompress(s))
        elif version == 2:
            return unpickle(lzma.decompress(s))
        else:
            raise Exception('unknown version')


def patch_pandas_pickle():
    if pd.__version__ < '0.24':
        import sys
        from types import ModuleType
        from pandas.core.internals import BlockManager
        pkg_name = 'pandas.core.internals.managers'
        if pkg_name not in sys.modules:
            m = ModuleType(pkg_name)
            m.BlockManager = BlockManager
            sys.modules[pkg_name] = m
patch_pandas_pickle()












import pandas as pd
import random
import numpy as np
import glob
import os
import pickle
import datetime
import time
pd.set_option("max_columns", 200)

startTm = datetime.datetime.now()
readPath = '/home/work516/day_stock/***'
dataPathLs = np.array(glob.glob(readPath))
dataPathLs = dataPathLs[[np.array([os.path.basename(i).split('.')[0][:2] == 'SZ' for i in dataPathLs])]]
db = pd.DataFrame()
for p in dataPathLs:
    dayData = pd.read_csv(p, compression='gzip')
    db = pd.concat([db, dayData])
print(datetime.datetime.now() - startTm)

year = "2018"
startDate = '20180101'
endDate = '20181231'
readPath = '/mnt/usb/data/' + year + '/***/***'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([os.path.basename(i).split('_')[0] for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]
date_list = pd.read_csv("/home/work516/KR_upload_code/trading_days.csv")
wr_ong = []
mi_ss = []
less = []

for data in dataPathLs:    
    
    if len(np.array(glob.glob(data + '/SZ/***'))) == 0:
        if int(os.path.basename(data)) not in date_list["Date"].values:
            continue
        else:
            print(os.path.basename(data) + " less data!!!!!!!!!!!!!!!!!")
            less.append(data)
            continue
    startTm = datetime.datetime.now()
    date = os.path.basename(data)
    rar_path = data + '/SZ/snapshot.7z'
    path = '/mnt/e/unzip_data/2018/SZ'
    path1 = path + '/' + date
    un_path = path1
    cmd = '7za x {} -o{}'.format(rar_path, un_path)
    os.system(cmd)
    print(datetime.datetime.now() - startTm)
    print(date + ' unzip finished')
    
    readPath = path1 + '/snapshot/***2/***'
    dataPathLs = np.array(glob.glob(readPath))
    dateLs = np.array([int(os.path.basename(i).split('.')[0]) for i in dataPathLs])
    dataPathLs = dataPathLs[(dateLs < 4000) | ((dateLs > 300000) & (dateLs < 310000))]
    SZ = []
    ll = []
    startTm = datetime.datetime.now()
    for i in dataPathLs:
        try:
            df = pd.read_csv(i, usecols = [0,1,4,5,6,7,9,12,17,18,19,24,25,26,28,29,30,32,33,34,35])
        except:
            print("empty data")
            print(i)
            ll.append(int(os.path.basename(i).split('.')[0]))
            continue
        df["StockID"] = int(os.path.basename(i).split('.')[0])
        SZ += [df]
    del df
    SZ = pd.concat(SZ).reset_index(drop=True)
    print(datetime.datetime.now() - startTm)
    
    startTm = datetime.datetime.now()
    SZ["skey"] = SZ["StockID"] + 2000000
    SZ.drop(["StockID"],axis=1,inplace=True)
    SZ["date"] = int(SZ["QuotTime"].iloc[0]//1000000000)
    SZ["time"] = (SZ['QuotTime'] - int(SZ['QuotTime'].iloc[0]//1000000000*1000000000)).astype(np.int64) * 1000
    SZ["clockAtArrival"] = SZ["QuotTime"].astype(str).apply(lambda x: np.int64(datetime.datetime.strptime(x, '%Y%m%d%H%M%S%f').timestamp()*1e6))
    SZ['datetime'] = SZ["clockAtArrival"].apply(lambda x: datetime.datetime.fromtimestamp(x/1e6))
    SZ.drop(["QuotTime"],axis=1,inplace=True)
    print(datetime.datetime.now() - startTm)
    
    startTm = datetime.datetime.now()
    SZ["BidPrice"] = SZ["BidPrice"].apply(lambda x: [float(i) for i in x[1:-1].split(',')])
    SZ["OfferPrice"] = SZ["OfferPrice"].apply(lambda x: [float(i) for i in x[1:-1].split(',')])
    SZ["BidOrderQty"] = SZ["BidOrderQty"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["OfferOrderQty"] = SZ["OfferOrderQty"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["BidNumOrders"] = SZ["BidNumOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["OfferNumOrders"] = SZ["OfferNumOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])

    for i in range(1, 11):
        SZ["bid" + str(i) + 'p'] = SZ["BidPrice"].apply(lambda x: x[i-1],2)
    SZ.drop(["BidPrice"],axis=1,inplace=True)
    print("1")
    for i in range(1, 11):
        SZ["ask" + str(i) + 'p'] = SZ["OfferPrice"].apply(lambda x: x[i-1],2)
    SZ.drop(["OfferPrice"],axis=1,inplace=True)
    print("2")
    for i in range(1, 11):
        SZ["bid" + str(i) + 'q'] = SZ["BidOrderQty"].apply(lambda x: x[i-1])
    SZ.drop(["BidOrderQty"],axis=1,inplace=True)
    print("3")
    for i in range(1, 11):
        SZ["ask" + str(i) + 'q'] = SZ["OfferOrderQty"].apply(lambda x: x[i-1])
    SZ.drop(["OfferOrderQty"],axis=1,inplace=True)
    print("4")
    for i in range(1, 11):
        SZ["bid" + str(i) + 'n'] = SZ["BidNumOrders"].apply(lambda x: x[i-1])
        SZ["bid" + str(i) + 'n'] = SZ["bid" + str(i) + 'n'].astype('int32')
    SZ.drop(["BidNumOrders"],axis=1,inplace=True)
    print("5")
    for i in range(1, 11):
        SZ["ask" + str(i) + 'n'] = SZ["OfferNumOrders"].apply(lambda x: x[i-1])
        SZ["ask" + str(i) + 'n'] = SZ["ask" + str(i) + 'n'].astype('int32') 
    SZ.drop(["OfferNumOrders"],axis=1,inplace=True)
    print("6")
    
    SZ["BidOrders"] = SZ["BidOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["OfferOrders"] = SZ["OfferOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])

    for i in range(1, 51):
        SZ["bid1Top" + str(i) + 'q'] = SZ["BidOrders"].apply(lambda x: x[i-1])
        SZ["bid1Top" + str(i) + 'q'] = SZ["bid1Top" + str(i) + 'q'].astype('int32') 
    SZ.drop(["BidOrders"],axis=1,inplace=True)
    print("7")
    
    for i in range(1, 51):
        SZ["ask1Top" + str(i) + 'q'] = SZ["OfferOrders"].apply(lambda x: x[i-1])
        SZ["ask1Top" + str(i) + 'q'] = SZ["ask1Top" + str(i) + 'q'].astype('int32') 
    SZ.drop(["OfferOrders"],axis=1,inplace=True)
    print("8")
    print(datetime.datetime.now() - startTm)
        
    
    startTm = datetime.datetime.now()
    SZ.columns = ['cum_trades_cnt', 'total_bid_quantity', 'total_ask_quantity', 'close',
       'total_ask_vwap', 'cum_amount', 'cum_volume', 'open', 'high',
       'prev_close', 'low', 'total_bid_vwap', 'skey', 'date', 'time',
       'clockAtArrival', 'datetime', 'bid1p', 'bid2p', 'bid3p', 'bid4p',
       'bid5p', 'bid6p', 'bid7p', 'bid8p', 'bid9p', 'bid10p', 'ask1p',
       'ask2p', 'ask3p', 'ask4p', 'ask5p', 'ask6p', 'ask7p', 'ask8p',
       'ask9p', 'ask10p', 'bid1q', 'bid2q', 'bid3q', 'bid4q', 'bid5q',
       'bid6q', 'bid7q', 'bid8q', 'bid9q', 'bid10q', 'ask1q', 'ask2q',
       'ask3q', 'ask4q', 'ask5q', 'ask6q', 'ask7q', 'ask8q', 'ask9q',
       'ask10q', 'bid1n', 'bid2n', 'bid3n', 'bid4n', 'bid5n', 'bid6n',
       'bid7n', 'bid8n', 'bid9n', 'bid10n', 'ask1n', 'ask2n', 'ask3n',
       'ask4n', 'ask5n', 'ask6n', 'ask7n', 'ask8n', 'ask9n', 'ask10n',
       'bid1Top1q', 'bid1Top2q', 'bid1Top3q', 'bid1Top4q', 'bid1Top5q',
       'bid1Top6q', 'bid1Top7q', 'bid1Top8q', 'bid1Top9q', 'bid1Top10q',
       'bid1Top11q', 'bid1Top12q', 'bid1Top13q', 'bid1Top14q',
       'bid1Top15q', 'bid1Top16q', 'bid1Top17q', 'bid1Top18q',
       'bid1Top19q', 'bid1Top20q', 'bid1Top21q', 'bid1Top22q',
       'bid1Top23q', 'bid1Top24q', 'bid1Top25q', 'bid1Top26q',
       'bid1Top27q', 'bid1Top28q', 'bid1Top29q', 'bid1Top30q',
       'bid1Top31q', 'bid1Top32q', 'bid1Top33q', 'bid1Top34q',
       'bid1Top35q', 'bid1Top36q', 'bid1Top37q', 'bid1Top38q',
       'bid1Top39q', 'bid1Top40q', 'bid1Top41q', 'bid1Top42q',
       'bid1Top43q', 'bid1Top44q', 'bid1Top45q', 'bid1Top46q',
       'bid1Top47q', 'bid1Top48q', 'bid1Top49q', 'bid1Top50q',
       'ask1Top1q', 'ask1Top2q', 'ask1Top3q', 'ask1Top4q', 'ask1Top5q',
       'ask1Top6q', 'ask1Top7q', 'ask1Top8q', 'ask1Top9q', 'ask1Top10q',
       'ask1Top11q', 'ask1Top12q', 'ask1Top13q', 'ask1Top14q',
       'ask1Top15q', 'ask1Top16q', 'ask1Top17q', 'ask1Top18q',
       'ask1Top19q', 'ask1Top20q', 'ask1Top21q', 'ask1Top22q',
       'ask1Top23q', 'ask1Top24q', 'ask1Top25q', 'ask1Top26q',
       'ask1Top27q', 'ask1Top28q', 'ask1Top29q', 'ask1Top30q',
       'ask1Top31q', 'ask1Top32q', 'ask1Top33q', 'ask1Top34q',
       'ask1Top35q', 'ask1Top36q', 'ask1Top37q', 'ask1Top38q',
       'ask1Top39q', 'ask1Top40q', 'ask1Top41q', 'ask1Top42q',
       'ask1Top43q', 'ask1Top44q', 'ask1Top45q', 'ask1Top46q',
       'ask1Top47q', 'ask1Top48q', 'ask1Top49q', 'ask1Top50q']
    
    SZ = SZ.fillna(0)
#     SZ["p1"] = SZ["bid1p"] + SZ["ask1p"]
#     tt = SZ[(SZ["cum_volume"] > 0) & (SZ["time"] < 145700000000)].groupby("skey")['p1'].min()
#     SZ.drop("p1", axis=1, inplace=True)
#     try:
#         assert(tt[tt == 0].shape[0] == 0)
#     except:
#         display(tt[tt == 0])
#     SZ = SZ[~((SZ["bid1p"] == 0) & (SZ["ask1p"] == 0))]
    SZ["ordering"] = SZ.groupby("skey").cumcount()
    SZ["ordering"] = SZ["ordering"] + 1

    for cols in ["total_bid_orders",'total_ask_orders','total_bid_levels', 'total_ask_levels', 'bid_trade_max_duration',
                 'ask_trade_max_duration', 'cum_canceled_buy_orders', 'cum_canceled_buy_volume', "cum_canceled_buy_amount",
                 "cum_canceled_sell_orders", 'cum_canceled_sell_volume',"cum_canceled_sell_amount", "has_missing"]:
        SZ[cols] = 0
        
#     for col in ["cum_volume", "total_bid_quantity", "total_ask_quantity",'cum_canceled_buy_volume',
#         'cum_canceled_sell_volume']:
#         SZ[col] = SZ[col].astype('int64')
    
    for col in ["skey", "date", "cum_trades_cnt", "total_bid_orders",
        'total_ask_orders', 'total_bid_levels', 'total_ask_levels', 'cum_canceled_buy_orders','cum_canceled_sell_orders',
            "ordering", 'bid_trade_max_duration', 'ask_trade_max_duration','has_missing']:
        SZ[col] = SZ[col].astype('int32')
    
        
#     for cols in ["prev_close", 'open', "high", "low", "close", 'bid10p','bid9p','bid8p','bid7p','bid6p','bid5p','bid4p','bid3p',
#              'bid2p','bid1p','ask1p','ask2p','ask3p','ask4p','ask5p','ask6p','ask7p','ask8p','ask9p','ask10p', 'total_bid_vwap', "total_ask_vwap",
#                 "cum_amount"]:
# #         SZ[cols] = SZ[cols].apply(lambda x: round(x, 2)).astype('float64')
#         print(cols)
#         print(SZ[cols].astype(str).apply(lambda x: len(str(x.split('.')[1]))).unique())

        
    for cols in ["cum_canceled_sell_amount", "cum_canceled_buy_amount"]:
        SZ[cols] = SZ[cols].astype('float64')

        
    assert(sum(SZ[SZ["open"] != 0].groupby("skey")["open"].nunique() != 1) == 0)
    assert(sum(SZ[SZ["prev_close"] != 0].groupby("skey")["prev_close"].nunique() != 1) == 0)
    SZ["prev_close"] = np.where(SZ["time"] >= 91500000000, SZ.groupby("skey")["prev_close"].transform("max"), SZ["prev_close"]) 
    SZ["open"] = np.where(SZ["cum_volume"] > 0, SZ.groupby("skey")["open"].transform("max"), SZ["open"])
    assert(sum(SZ[SZ["open"] != 0].groupby("skey")["open"].nunique() != 1) == 0)
    assert(sum(SZ[SZ["prev_close"] != 0].groupby("skey")["prev_close"].nunique() != 1) == 0)
    assert(SZ[SZ["cum_volume"] > 0]["open"].min() > 0)
    
    print(datetime.datetime.now() - startTm)
    
    
    # check 1
    startTm = datetime.datetime.now()
    da_te = str(SZ["date"].iloc[0]) 
    da_te = da_te[:4] + '-' + da_te[4:6] + '-' + da_te[6:8]
    db1 = db[db["date"] == da_te]
    db1["ID"] = db1["ID"].str[2:].astype(int) + 2000000
    db1["date"] = (db1["date"].str[:4] + db1["date"].str[5:7] + db1["date"].str[8:]).astype(int)
    SZ["cum_max"] = SZ.groupby("skey")["cum_volume"].transform(max)
    s2 = SZ[SZ["cum_volume"] == SZ["cum_max"]].groupby("skey").first().reset_index()
    SZ.drop("cum_max", axis=1, inplace=True)
    s2 = s2.rename(columns={"skey": "ID", 'open':"d_open", "prev_close":"d_yclose","high":"d_high", "low":"d_low", "close":"d_close", "cum_volume":"d_volume", "cum_amount":"d_amount"})
    s2 = s2[["ID", "date", "d_open", "d_yclose", "d_high", "d_low", "d_close", "d_volume", "d_amount"]]
    re = pd.merge(db1, s2, on=["ID", "date", "d_open", "d_yclose","d_high", "d_low", "d_volume"], how="outer")
    try:
        assert(sum(re["d_amount_y"].isnull()) == 0)
    except:
        display(re[re["d_amount_y"].isnull()])
        wr_ong += [re[re["d_amount_y"].isnull()]]
    del re
    del s2
    del db1
    print(datetime.datetime.now() - startTm)
    
    # check 2
    # first part
    startTm = datetime.datetime.now()
    date = pd.DataFrame(pd.date_range(start='2019-06-10 08:30:00', end='2019-06-10 18:00:00', freq='s'), columns=["Orig"])
    date["time"] = date["Orig"].apply(lambda x: int(x.strftime("%H%M%S"))*1000)
    date["group"] = date["time"]//10000
    SZ["group"] = SZ["time"]//10000000
    gl = date[((date["time"] >= 93000000) & (date["time"] <= 113000000))|((date["time"] >= 130000000) & (date["time"] <= 150000000))]["group"].unique()
    l = set(gl) - set(SZ["group"].unique())
    SZ["has_missing1"] = 0 
    if len(l) != 0:
        print("massive missing")
        print(l)
        SZ["order"] = SZ.groupby(["skey", "time"]).cumcount()
        for i in l:
            SZ["t"] = SZ[SZ["group"] > i].groupby("StockID")["time"].transform("min")
            SZ["has_missing1"] = np.where((SZ["time"] == SZ["t"]) & (SZ["order"] == 0), 1, 0)
        SZ.drop(["order", "t", "group"], axis=1, inplace=True)   
    else:
        print("no massive missing")
        SZ.drop(["group"], axis=1, inplace=True)
    



    # second part

    SZ["time_interval"] = SZ.groupby("skey")["datetime"].apply(lambda x: x - x.shift(1))
    SZ["time_interval"] = SZ["time_interval"].apply(lambda x: x.seconds)
    SZ["tn_update"] = SZ.groupby("skey")["cum_trades_cnt"].apply(lambda x: x-x.shift(1))

    f1 = SZ[(SZ["time"] >= 93000000000) & (SZ["tn_update"] != 0)].groupby("skey")["time"].min().reset_index()
    f1 = f1.rename(columns={"time": "time1"})
    f2 = SZ[(SZ["time"] >= 130000000000) & (SZ["tn_update"] != 0)].groupby("skey")["time"].min().reset_index()
    f2 = f2.rename(columns={"time": "time2"})
    f3 = SZ[(SZ["time"] >= 150000000000) & (SZ["tn_update"] != 0)].groupby("skey")["time"].min().reset_index()
    f3 = f3.rename(columns={"time": "time3"})
    SZ = pd.merge(SZ, f1, on="skey", how="left")
    del f1
    SZ = pd.merge(SZ, f2, on="skey", how="left")
    del f2
    SZ = pd.merge(SZ, f3, on="skey", how="left")
    del f3
    p99 = SZ[(SZ["time"] > 93000000000) & (SZ["time"] < 145700000000) & (SZ["time"] != SZ["time2"]) & (SZ["tn_update"] != 0)]\
    .groupby("skey")["tn_update"].apply(lambda x: x.describe([0.99])["99%"]).reset_index()
    p99 = p99.rename(columns={"tn_update":"99%"})
    SZ = pd.merge(SZ, p99, on="skey", how="left")

    SZ["has_missing2"] = 0
    SZ["has_missing2"] = np.where((SZ["time_interval"] > 60) & (SZ["tn_update"] > SZ["99%"]) & 
         (SZ["time"] > SZ["time1"]) & (SZ["time"] != SZ["time2"]) & (SZ["time"] != SZ["time3"])& (SZ["time"] != 100000000000), 1, 0)
    SZ.drop(["time_interval", "tn_update", "time1", "time2", "time3", "99%"], axis=1, inplace=True) 

    SZ["has_missing"] = np.where((SZ["has_missing1"] == 1) | (SZ["has_missing2"] == 1), 1, 0)
    SZ.drop(["has_missing1", "has_missing2"], axis=1, inplace=True) 
    if SZ[SZ["has_missing"] == 1].shape[0] != 0:
        print("has missing!!!!!!!!!!!!!!!!!!!!!!!")
        print(SZ[SZ["has_missing"] == 1].shape[0])
        mi_ss += [SZ[SZ["has_missing"] == 1]]
    print(datetime.datetime.now() - startTm)

    
    
    startTm = datetime.datetime.now()
    SZ["has_missing"] = SZ["has_missing"].astype('int32')
    SZ = SZ[["skey", "date", "time", "clockAtArrival", "datetime", "ordering", "has_missing", "cum_trades_cnt", "cum_volume", "cum_amount", "prev_close",
                            "open", "high", "low", "close", 'bid10p','bid9p','bid8p','bid7p','bid6p','bid5p','bid4p','bid3p','bid2p','bid1p',
                            'ask1p','ask2p','ask3p','ask4p','ask5p','ask6p','ask7p','ask8p','ask9p','ask10p', 'bid10q','bid9q','bid8q',
                             'bid7q','bid6q','bid5q','bid4q','bid3q','bid2q','bid1q', 'ask1q','ask2q','ask3q','ask4q','ask5q','ask6q',
                             'ask7q','ask8q','ask9q','ask10q', 'bid10n', 'bid9n', 'bid8n', 'bid7n', 'bid6n', 'bid5n', 'bid4n', 'bid3n', 'bid2n', 'bid1n', 
                             'ask1n', 'ask2n', 'ask3n', 'ask4n', 'ask5n', 'ask6n','ask7n', 'ask8n', 'ask9n', 'ask10n','bid1Top1q','bid1Top2q','bid1Top3q','bid1Top4q','bid1Top5q','bid1Top6q',
        'bid1Top7q','bid1Top8q','bid1Top9q','bid1Top10q','bid1Top11q','bid1Top12q','bid1Top13q','bid1Top14q','bid1Top15q','bid1Top16q','bid1Top17q','bid1Top18q',
        'bid1Top19q','bid1Top20q','bid1Top21q','bid1Top22q','bid1Top23q','bid1Top24q','bid1Top25q','bid1Top26q','bid1Top27q','bid1Top28q','bid1Top29q',
        'bid1Top30q','bid1Top31q','bid1Top32q','bid1Top33q','bid1Top34q','bid1Top35q','bid1Top36q','bid1Top37q','bid1Top38q','bid1Top39q','bid1Top40q',
        'bid1Top41q','bid1Top42q','bid1Top43q','bid1Top44q','bid1Top45q','bid1Top46q','bid1Top47q','bid1Top48q','bid1Top49q','bid1Top50q', 'ask1Top1q',
        'ask1Top2q','ask1Top3q','ask1Top4q','ask1Top5q','ask1Top6q','ask1Top7q','ask1Top8q','ask1Top9q','ask1Top10q','ask1Top11q','ask1Top12q','ask1Top13q',
        'ask1Top14q','ask1Top15q','ask1Top16q','ask1Top17q','ask1Top18q','ask1Top19q','ask1Top20q','ask1Top21q','ask1Top22q','ask1Top23q',
        'ask1Top24q','ask1Top25q','ask1Top26q','ask1Top27q','ask1Top28q','ask1Top29q','ask1Top30q','ask1Top31q','ask1Top32q','ask1Top33q',
        'ask1Top34q','ask1Top35q','ask1Top36q','ask1Top37q','ask1Top38q','ask1Top39q','ask1Top40q','ask1Top41q','ask1Top42q','ask1Top43q',
        'ask1Top44q','ask1Top45q','ask1Top46q','ask1Top47q','ask1Top48q','ask1Top49q','ask1Top50q',"total_bid_quantity", "total_ask_quantity","total_bid_vwap", "total_ask_vwap",
        "total_bid_orders",'total_ask_orders','total_bid_levels', 'total_ask_levels', 'bid_trade_max_duration', 'ask_trade_max_duration', 'cum_canceled_buy_orders', 'cum_canceled_buy_volume',
        "cum_canceled_buy_amount", "cum_canceled_sell_orders", 'cum_canceled_sell_volume',"cum_canceled_sell_amount"]]
    
    display(SZ["date"].iloc[0])
    print("SZ finished")
    
    
    database_name = 'com_md_eq_cn'
    user = "zhenyuy"
    password = "bnONBrzSMGoE"

    db1 = DB("192.168.10.223", database_name, user, password)
    db1.write('md_snapshot_l2', SZ)
    
    del SZ
    print(datetime.datetime.now() - startTm)

wr_ong = pd.concat(wr_ong).reset_index(drop=True)
print(wr_ong)
mi_ss = pd.concat(mi_ss).reset_index(drop=True)
print(mi_ss)

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:203: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.

0:05:46.839004
0:00:45.192852
20180102 unzip finished
0:00:50.882507
0:01:40.705856
1
2
3
4
5
6
7
8
0:12:29.089543
0:00:36.087082

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
905,2001914,20180102,9.75,9.93,9.72,9.9,9.71,0.986228,0.019567,0.00304,0.013023,0.010651,3136182.0,30894568.54,0.004703,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.673776
no massive missing
0:02:22.462810

20180102

SZ finished
0:01:07.720852
0:00:45.454495
20180103 unzip finished
0:00:56.394811
0:01:54.893338
1
2
3
4
5
6
7
8
0:13:12.467988
0:00:34.855028

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
907,2001914,20180103,9.93,9.93,9.72,9.82,9.9,0.986228,-0.008081,0.002041,0.008848,0.009557,3575395.0,35144676.28,0.005362,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.606401
no massive missing
0:02:39.658959

20180103

SZ finished
0:01:07.324155
0:01:06.967614
20180104 unzip finished
0:01:07.417318
0:01:44.968893
1
2
3
4
5
6
7
8
0:13:01.255540
0:00:33.918320

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
907,2001914,20180104,9.79,9.84,9.73,9.78,9.82,0.986228,-0.004073,0.001024,0.004584,0.002094,2205793.0,21571163.83,0.003308,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.350351
no massive missing
0:02:54.648278

20180104

SZ finished
0:01:10.134176
0:02:05.744615
20180105 unzip finished
0:00:53.364978
0:01:42.506410
1
2
3
4
5
6
7
8
0:12:43.617528
0:00:38.354150

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
907,2001914,20180105,9.78,10.15,9.76,10.1,9.78,0.986228,0.03272,0.045549,-0.000044,0.000279,8049570.0,80516474.62,0.012072,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.250095
no massive missing
0:02:29.123177

20180105

SZ finished
0:01:04.304546
0:00:43.761930
20180108 unzip finished
0:00:54.629919
0:01:45.087908
1
2
3
4
5
6
7
8
0:13:42.342759
0:00:35.533690

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
908,2001914,20180108,10.08,10.22,9.95,10.06,10.1,0.986228,-0.00396,0.036045,0.004508,0.001592,6457055.0,65264376.29,0.009684,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.503263
no massive missing
0:02:38.487714

20180108

SZ finished
0:01:10.505143
0:00:43.549281
20180109 unzip finished
0:00:51.534827
0:01:41.213656
1
2
3
4
5
6
7
8
0:12:33.459745
0:00:33.678928

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
909,2001914,20180109,9.99,10.14,9.99,10.01,10.06,0.986228,-0.00497,0.011111,-0.000068,-0.001607,4104800.0,41190143.0,0.006156,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.616153
no massive missing
0:02:29.135133

20180109

SZ finished
0:01:13.923078
0:00:45.747416
20180110 unzip finished
0:00:54.598819
0:01:44.880209
1
2
3
4
5
6
7
8
0:13:15.397648
0:00:39.149824

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
909,2001914,20180110,9.98,10.01,9.7,9.78,10.01,0.986228,-0.022977,-0.004073,-0.006176,-0.005289,5576895.0,54965076.3,0.008364,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.559310
no massive missing
0:02:32.747916

20180110

SZ finished
0:01:16.461145
0:00:45.039314
20180111 unzip finished
0:00:51.661711
0:01:43.348320
1
2
3
4
5
6
7
8
0:13:01.531434
0:00:41.568072

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
911,2001914,20180111,9.76,9.88,9.57,9.86,9.78,0.986228,0.00818,0.00818,0.003122,0.005129,4698270.0,45605047.68,0.007046,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:05.895181
no massive missing
0:02:42.723327

20180111

SZ finished
0:01:05.011069
0:00:41.980795
20180112 unzip finished
0:00:51.158200
0:01:39.218873
1
2
3
4
5
6
7
8
0:12:43.783554
0:00:33.439071

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
911,2001914,20180112,9.84,10.65,9.77,10.17,9.86,0.986228,0.03144,0.006931,-0.004134,-0.00663,11261374.0,1.157647e+08,0.016889,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.341128
no massive missing
0:02:48.027998

20180112

SZ finished
0:01:11.596174
0:00:44.434664
20180115 unzip finished
0:00:54.402226
0:01:45.782773
1
2
3
4
5
6
7
8
0:13:22.980116
0:00:35.812142

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
914,2001914,20180115,10.18,10.2,9.92,10.02,10.17,0.986228,-0.014749,-0.003976,-0.022814,-0.027852,6057750.0,60689242.44,0.009085,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.636548
no massive missing
0:02:54.737006

20180115

SZ finished
0:01:11.011421
0:00:43.179861
20180116 unzip finished
0:00:52.844095
0:01:41.494996
1
2
3
4
5
6
7
8
0:12:31.113030
0:00:36.573678

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
913,2001914,20180116,9.93,10.44,9.93,10.24,10.02,0.986228,0.021956,0.022977,0.007637,0.004527,6534810.0,66653948.48,0.009801,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.437504
no massive missing
0:02:41.742606

20180116

SZ finished
0:01:04.882260
0:00:49.825703
20180117 unzip finished
0:00:53.379524
0:01:45.725105
1
2
3
4
5
6
7
8
0:13:21.612654
0:00:37.589502

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
913,2001914,20180117,10.12,10.31,10.05,10.11,10.24,0.986228,-0.012695,0.033742,-0.005344,-0.002559,4519265.0,45850738.74,0.006778,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:07.247550
no massive missing
0:03:09.039522

20180117

SZ finished
0:01:16.219986
0:00:41.879733
20180118 unzip finished
0:00:57.118432
0:01:40.151317
1
2
3
4
5
6
7
8
0:12:27.350501
0:00:48.152878

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
913,2001914,20180118,10.16,10.19,9.97,10.0,10.11,0.986228,-0.01088,0.014199,0.003086,0.001782,3444100.0,34614242.0,0.005165,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:06.285847
no massive missing
0:02:42.641566

20180118

SZ finished
0:01:09.711815
0:01:15.942239
20180119 unzip finished
0:01:22.398577
0:01:40.932942
1
2
3
4
5
6
7
8
0:12:43.810551
0:00:36.937241

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
914,2001914,20180119,9.99,10.06,9.81,9.81,10.0,0.986228,-0.019,-0.035398,-0.002294,-0.002433,3593312.0,35807861.56,0.005389,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.372587
no massive missing
0:02:57.524534

20180119

SZ finished
0:01:17.223724
0:01:00.448035
20180122 unzip finished
0:00:50.894535
0:01:42.697348
1
2
3
4
5
6
7
8
0:12:56.118258
0:00:34.734140

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
915,2001914,20180122,9.78,10.15,9.68,10.08,9.81,0.986228,0.027523,0.005988,0.011998,0.010988,4553370.0,45218143.8,0.006829,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.477992
no massive missing
0:02:40.885505

20180122

SZ finished
0:01:06.663391
0:00:44.038339
20180123 unzip finished
0:00:53.236992
0:01:41.791616
1
2
3
4
5
6
7
8
0:13:01.417743
0:00:41.628063

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
918,2001914,20180123,10.04,10.35,10.04,10.18,10.08,0.986228,0.009921,-0.005859,0.001159,0.000774,5162796.0,52665183.91,0.007743,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.488417
no massive missing
0:02:42.532557

20180123

SZ finished
0:01:15.027079
0:01:15.015651
20180124 unzip finished
0:00:58.902745
0:01:53.062482
1
2
3
4
5
6
7
8
0:13:46.458959
0:00:37.260967

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
919,2001914,20180124,10.23,10.49,10.11,10.26,10.18,0.986228,0.007859,0.014837,0.006184,0.007469,5015210.0,51458675.9,0.007522,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.860185
no massive missing
0:02:43.239802

20180124

SZ finished
0:01:10.547969
0:00:49.126013
20180125 unzip finished
0:00:53.447231
0:01:48.562869
1
2
3
4
5
6
7
8
0:14:02.159264
0:00:37.078958

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
919,2001914,20180125,10.24,10.32,9.99,10.11,10.26,0.986228,-0.01462,0.011,-0.001812,-0.001382,5596383.0,56630224.38,0.008393,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:05.012906
no massive missing
0:02:58.801281

20180125

SZ finished
0:01:14.726690
0:00:42.877002
20180126 unzip finished
0:00:53.230460
0:01:41.533351
1
2
3
4
5
6
7
8
0:13:13.548059
0:00:42.897328

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
919,2001914,20180126,10.05,10.16,10.01,10.12,10.11,0.986228,0.000989,0.0316,0.000143,-0.000938,2542400.0,25644683.46,0.003813,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.497641
no massive missing
0:02:33.062698

20180126

SZ finished
0:01:16.965550
0:00:53.517997
20180129 unzip finished
0:00:53.666335
0:01:45.839138
1
2
3
4
5
6
7
8
0:13:09.392232
0:00:39.665633

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
918,2001914,20180129,10.13,10.17,9.91,9.98,10.12,0.986228,-0.013834,-0.009921,-0.011553,-0.011839,3028030.0,30365167.6,0.004541,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.720552
no massive missing
0:02:49.306855

20180129

SZ finished
0:01:11.545135
0:00:40.496307
20180130 unzip finished
0:00:51.894978
0:01:39.451890
1
2
3
4
5
6
7
8
0:12:06.531847
0:00:35.886652

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
920,2001914,20180130,9.92,10.04,9.92,10.01,9.98,0.986228,0.003006,-0.016699,0.000564,-0.002472,1573900.0,15725609.0,0.00236,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.399339
no massive missing
0:02:48.485580

20180130

SZ finished
0:01:06.483036
0:01:08.345283
20180131 unzip finished
0:00:52.117318
0:01:46.671846
1
2
3
4
5
6
7
8
0:13:25.269912
0:00:35.105033

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
916,2001914,20180131,10.02,10.17,9.94,10.02,10.01,0.986228,0.000999,-0.023392,-0.019657,-0.023613,3640078.0,36537357.5,0.005459,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.581980
no massive missing
0:02:37.195696

20180131

SZ finished
0:01:08.430978
0:00:55.514884
20180201 unzip finished
0:01:31.506161
0:01:51.859046
1
2
3
4
5
6
7
8
0:14:00.331338
0:00:36.759900

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
911,2001914,20180201,10.09,10.09,9.53,9.63,10.02,0.986228,-0.038922,-0.047478,-0.033057,-0.041902,6031253.0,58685915.78,0.009045,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.692936
no massive missing
0:02:51.436267

20180201

SZ finished
0:01:12.480288
0:00:43.008363
20180202 unzip finished
0:00:50.227640
0:01:42.320606
1
2
3
4
5
6
7
8
0:12:53.938452
0:00:42.987642

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
887,2001914,20180202,9.52,9.59,9.33,9.41,9.63,0.986228,-0.022845,-0.070158,0.00336,-0.002856,3974457.0,37457139.67,0.005961,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.427557
no massive missing
0:02:40.965560

20180202

SZ finished
0:01:19.047842
0:00:40.379462
20180205 unzip finished
0:01:04.743339
0:01:32.208172
1
2
3
4
5
6
7
8
0:11:18.554445
0:00:30.684142

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
867,2001914,20180205,9.22,9.42,9.2,9.33,9.41,0.986228,-0.008502,-0.06513,-0.001103,-0.004016,2202514.0,20542053.58,0.003303,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.015797
no massive missing
0:02:21.418127

20180205

SZ finished
0:00:59.276330
0:00:44.414179
20180206 unzip finished
0:00:50.744919
0:01:52.482539
1
2
3
4
5
6
7
8
0:12:38.633105
0:00:44.665928

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
865,2001914,20180206,9.23,9.23,8.48,8.55,9.33,0.986228,-0.083601,-0.145854,-0.049008,-0.049389,5573912.0,49360184.4,0.008359,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:05.377625
no massive missing
0:02:40.778234

20180206

SZ finished
0:01:05.383561
0:00:42.688304
20180207 unzip finished
0:00:53.744957
0:01:44.611211
1
2
3
4
5
6
7
8
0:12:37.770275
0:00:39.002709

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
860,2001914,20180207,8.74,8.95,8.36,8.76,8.55,0.986228,0.024561,-0.125749,0.001239,0.002538,5173501.0,45147633.7,0.007759,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.311105
no massive missing
0:02:55.681161

20180207

SZ finished
0:01:06.186565
0:00:50.836582
20180208 unzip finished
0:00:47.183632
0:01:38.710821
1
2
3
4
5
6
7
8
0:11:56.811641
0:00:30.823962

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
863,2001914,20180208,8.64,8.84,8.61,8.7,8.76,0.986228,-0.006849,-0.096573,0.009656,0.012985,2748406.0,24061124.3,0.004122,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.079592
no massive missing
0:02:26.290235

20180208

SZ finished
0:01:08.760982
0:00:41.457319
20180209 unzip finished
0:01:07.414062
0:01:42.176289
1
2
3
4
5
6
7
8
0:12:22.162073
0:00:42.431397

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
864,2001914,20180209,8.38,8.68,8.1,8.37,8.7,0.986228,-0.037931,-0.110521,-0.036692,-0.029688,3860987.0,32241730.83,0.00579,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.400335
no massive missing
0:02:25.351309

20180209

SZ finished
0:01:21.777901
0:00:36.872107
20180212 unzip finished
0:00:44.287613
0:01:33.070597
1
2
3
4
5
6
7
8
0:11:48.097573
0:00:34.008082

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
871,2001914,20180212,8.44,8.53,8.35,8.46,8.37,0.986228,0.010753,-0.093248,0.025959,0.024902,2406677.0,20327253.99,0.003609,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.153109
no massive missing
0:02:29.638689

20180212

SZ finished
0:00:59.102489
0:00:38.007978
20180213 unzip finished
0:00:44.430083
0:01:31.274094
1
2
3
4
5
6
7
8
0:11:13.849422
0:00:32.107699

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
872,2001914,20180213,8.52,8.83,8.51,8.6,8.46,0.986228,0.016548,0.005848,0.006642,0.002057,2959257.0,25612556.46,0.004438,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.911056
no massive missing
0:02:16.621154

20180213

SZ finished
0:01:03.481714
0:00:44.449576
20180214 unzip finished
0:00:43.671798
0:01:31.610378
1
2
3
4
5
6
7
8
0:10:18.638362
0:00:29.760911

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
880,2001914,20180214,8.59,8.68,8.55,8.6,8.6,0.986228,0.0,-0.018265,0.003117,0.002277,2221403.0,19111113.12,0.003332,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.633274
no massive missing
0:02:01.113252

20180214

SZ finished
0:00:52.636037
0:00:36.931133
20180222 unzip finished
0:01:05.249350
0:01:26.388054
1
2
3
4
5
6
7
8
0:10:56.293416
0:00:36.664847

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
885,2001914,20180222,8.65,8.69,8.61,8.67,8.6,0.986228,0.00814,-0.003448,0.021007,0.018685,2765322.0,23928838.19,0.004147,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:03.964193
no massive missing
0:02:03.594172

20180222

SZ finished
0:00:53.086138
0:00:36.885182
20180223 unzip finished
0:01:09.409163
0:01:33.525457
1
2
3
4
5
6
7
8
0:11:11.509846
0:00:33.923560

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
891,2001914,20180223,8.68,8.7,8.6,8.68,8.67,0.986228,0.001153,0.037037,0.003736,0.002967,2193570.0,18998641.9,0.00329,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.019795
no massive missing
0:02:18.684150

20180223

SZ finished
0:01:08.655709
0:00:46.122987
20180226 unzip finished
0:00:57.326814
0:01:47.453446
1
2
3
4
5
6
7
8
0:12:56.250798
0:00:35.374893

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
896,2001914,20180226,8.68,8.83,8.64,8.83,8.68,0.986228,0.017281,0.043735,0.022382,0.022182,3648952.0,31888949.12,0.005472,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.606962
no massive missing
0:02:30.357119

20180226

SZ finished
0:01:05.559535
0:00:41.469779
20180227 unzip finished
0:00:51.839798
0:01:42.685462
1
2
3
4
5
6
7
8
0:12:52.188154
0:00:38.818853

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
900,2001914,20180227,8.9,8.9,8.71,8.77,8.83,0.986228,-0.006795,0.019767,-0.003171,0.00342,2413640.0,21156574.2,0.00362,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:06.044713
no massive missing
0:03:09.553592

20180227

SZ finished
0:01:07.934916
0:00:49.485704
20180228 unzip finished
0:00:50.712530
0:01:41.439336
1
2
3
4
5
6
7
8
0:12:31.600803
0:01:00.657252

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
898,2001914,20180228,8.8,9.38,8.71,9.22,8.77,0.986228,0.051311,0.072093,0.002183,0.005273,8649022.0,78747765.31,0.012971,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:12.631476
no massive missing
0:02:55.972321

20180228

SZ finished
0:01:09.158475
0:00:57.962720
20180301 unzip finished
0:00:53.673314
0:01:43.146003
1
2
3
4
5
6
7
8
0:13:41.910562
0:00:35.665132

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
899,2001914,20180301,9.01,9.2,9.01,9.17,9.22,0.986228,-0.005423,0.05767,0.011048,0.014438,2756662.0,25199680.11,0.004134,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.609693
no massive missing
0:02:46.730663

20180301

SZ finished
0:01:12.866729
0:00:42.863629
20180302 unzip finished
0:01:01.514593
0:01:40.839426
1
2
3
4
5
6
7
8
0:12:52.840792
0:00:36.631449

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
902,2001914,20180302,9.07,9.28,9.07,9.18,9.17,0.986228,0.001091,0.057604,-0.005565,-0.003936,2500745.0,22978370.96,0.00375,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.586894
no massive missing
0:02:35.041947

20180302

SZ finished
0:01:10.081858
0:00:53.603318
20180305 unzip finished
0:00:50.616715
0:01:39.905908
1
2
3
4
5
6
7
8
0:12:16.047545
0:00:34.615041

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
901,2001914,20180305,9.23,9.23,8.96,9.03,9.18,0.986228,-0.01634,0.02265,0.001282,0.006318,3266642.0,29569901.45,0.004899,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.377805
no massive missing
0:02:32.750434

20180305

SZ finished
0:01:02.781076
0:00:44.134408
20180306 unzip finished
0:00:54.097559
0:01:47.743369
1
2
3
4
5
6
7
8
0:13:28.437925
0:00:44.957067

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
900,2001914,20180306,9.03,9.15,9.01,9.12,9.03,0.986228,0.009967,0.039909,0.013436,0.009227,3035494.0,27601035.22,0.004552,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.816657
no massive missing
0:02:34.754041

20180306

SZ finished
0:01:11.301126
0:00:52.132017
20180307 unzip finished
0:01:09.380677
0:01:43.509929
1
2
3
4
5
6
7
8
0:12:52.010199
0:00:44.631234

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
901,2001914,20180307,9.15,9.17,9.02,9.03,9.12,0.986228,-0.009868,-0.020607,-0.009615,-0.007024,2229002.0,20232466.29,0.003343,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.693194
no massive missing
0:02:32.946783

20180307

SZ finished
0:01:23.469651
0:00:45.838792
20180308 unzip finished
0:00:53.950822

In [ ]:
import pymongo
import pandas as pd
import pickle
import datetime
import time
import gzip
import lzma
import pytz


def DB(host, db_name, user, passwd):
    auth_db = db_name if user not in ('admin', 'root') else 'admin'
    uri = 'mongodb://%s:%s@%s/?authSource=%s' % (user, passwd, host, auth_db)
    return DBObj(uri, db_name=db_name)


class DBObj(object):
    def __init__(self, uri, symbol_column='skey', db_name='white_db'):
        self.db_name = db_name
        self.uri = uri
        self.client = pymongo.MongoClient(self.uri)
        self.db = self.client[self.db_name]
        self.chunk_size = 20000
        self.symbol_column = symbol_column
        self.date_column = 'date'

    def parse_uri(self, uri):
        # mongodb://user:password@example.com
        return uri.strip().replace('mongodb://', '').strip('/').replace(':', ' ').replace('@', ' ').split(' ')

    def drop_table(self, table_name):
        self.db.drop_collection(table_name)

    def rename_table(self, old_table, new_table):
        self.db[old_table].rename(new_table)

    def write(self, table_name, df):
        if len(df) == 0: return

        multi_date = False

        if self.date_column in df.columns:
            date = str(df.head(1)[self.date_column].iloc[0])
            multi_date = len(df[self.date_column].unique()) > 1
        else:
            raise Exception('DataFrame should contain date column')

        collection = self.db[table_name]
        collection.create_index([('date', pymongo.ASCENDING), ('symbol', pymongo.ASCENDING)], background=True)
        collection.create_index([('symbol', pymongo.ASCENDING), ('date', pymongo.ASCENDING)], background=True)

        if multi_date:
            for (date, symbol), sub_df in df.groupby([self.date_column, self.symbol_column]):
                date = str(date)
                symbol = int(symbol)
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)
        else:
            for symbol, sub_df in df.groupby([self.symbol_column]):
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)

    def write_single(self, collection, date, symbol, df):
        for start in range(0, len(df), self.chunk_size):
            end = min(start + self.chunk_size, len(df))
            df_seg = df[start:end]
            version = 1
            seg = {'ver': version, 'data': self.ser(df_seg, version), 'date': date, 'symbol': symbol, 'start': start}
            collection.insert_one(seg)

    def build_query(self, start_date=None, end_date=None, symbol=None):
        query = {}

        def parse_date(x):
            if type(x) == str:
                if len(x) != 8:
                    raise Exception("`date` must be YYYYMMDD format")
                return x
            elif type(x) == datetime.datetime or type(x) == datetime.date:
                return x.strftime("%Y%m%d")
            elif type(x) == int:
                return parse_date(str(x))
            else:
                raise Exception("invalid `date` type: " + str(type(x)))

        if start_date is not None or end_date is not None:
            query['date'] = {}
            if start_date is not None:
                query['date']['$gte'] = parse_date(start_date)
            if end_date is not None:
                query['date']['$lte'] = parse_date(end_date)

        def parse_symbol(x):
            if type(x) == int:
                return x
            else:
                return int(x)

        if symbol:
            if type(symbol) == list or type(symbol) == tuple:
                query['symbol'] = {'$in': [parse_symbol(x) for x in symbol]}
            else:
                query['symbol'] = parse_symbol(symbol)

        return query

    def delete(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot delete the whole table')
            return None

        collection.delete_many(query)

    def read(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot read the whole table')
            return None

        segs = []
        for x in collection.find(query):
            x['data'] = self.deser(x['data'], x['ver'])
            segs.append(x)
        segs.sort(key=lambda x: (x['symbol'], x['date'], x['start']))
        return pd.concat([x['data'] for x in segs], ignore_index=True) if segs else None

    def list_tables(self):
        return self.db.collection_names()

    def list_dates(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]
        dates = set()
        if start_date is None:
            start_date = '00000000'
        if end_date is None:
            end_date = '99999999'
        for x in collection.find(self.build_query(start_date, end_date, symbol), {"date": 1, '_id': 0}):
            dates.add(x['date'])
        return sorted(list(dates))

    def ser(self, s, version):
        pickle_protocol = 4
        if version == 1:
            return gzip.compress(pickle.dumps(s, protocol=pickle_protocol), compresslevel=2)
        elif version == 2:
            return lzma.compress(pickle.dumps(s, protocol=pickle_protocol), preset=1)
        else:
            raise Exception('unknown version')

    def deser(self, s, version):
        def unpickle(s):
            return pickle.loads(s)

        if version == 1:
            return unpickle(gzip.decompress(s))
        elif version == 2:
            return unpickle(lzma.decompress(s))
        else:
            raise Exception('unknown version')


def patch_pandas_pickle():
    if pd.__version__ < '0.24':
        import sys
        from types import ModuleType
        from pandas.core.internals import BlockManager
        pkg_name = 'pandas.core.internals.managers'
        if pkg_name not in sys.modules:
            m = ModuleType(pkg_name)
            m.BlockManager = BlockManager
            sys.modules[pkg_name] = m
patch_pandas_pickle()












import pandas as pd
import random
import numpy as np
import glob
import os
import pickle
import datetime
import time
pd.set_option("max_columns", 200)

startTm = datetime.datetime.now()
readPath = '/home/work516/day_stock/***'
dataPathLs = np.array(glob.glob(readPath))
dataPathLs = dataPathLs[[np.array([os.path.basename(i).split('.')[0][:2] == 'SZ' for i in dataPathLs])]]
db = pd.DataFrame()
for p in dataPathLs:
    dayData = pd.read_csv(p, compression='gzip')
    db = pd.concat([db, dayData])
print(datetime.datetime.now() - startTm)

year = "2018"
startDate = '20180312'
endDate = '20181231'
readPath = '/mnt/usb/data/' + year + '/***/***'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([os.path.basename(i).split('_')[0] for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]
date_list = pd.read_csv("/home/work516/KR_upload_code/trading_days.csv")
wr_ong = []
mi_ss = []
less = []

for data in dataPathLs:    
    
    if len(np.array(glob.glob(data + '/SZ/***'))) == 0:
        if int(os.path.basename(data)) not in date_list["Date"].values:
            continue
        else:
            print(os.path.basename(data) + " less data!!!!!!!!!!!!!!!!!")
            less.append(data)
            continue
    startTm = datetime.datetime.now()
    date = os.path.basename(data)
    rar_path = data + '/SZ/snapshot.7z'
    path = '/mnt/e/unzip_data/2018/SZ'
    path1 = path + '/' + date
    un_path = path1
    cmd = '7za x {} -o{}'.format(rar_path, un_path)
    os.system(cmd)
    print(datetime.datetime.now() - startTm)
    print(date + ' unzip finished')
    
    readPath = path1 + '/snapshot/***2/***'
    dataPathLs = np.array(glob.glob(readPath))
    dateLs = np.array([int(os.path.basename(i).split('.')[0]) for i in dataPathLs])
    dataPathLs = dataPathLs[(dateLs < 4000) | ((dateLs > 300000) & (dateLs < 310000))]
    SZ = []
    ll = []
    startTm = datetime.datetime.now()
    for i in dataPathLs:
        try:
            df = pd.read_csv(i, usecols = [0,1,4,5,6,7,9,12,17,18,19,24,25,26,28,29,30,32,33,34,35])
        except:
            print("empty data")
            print(i)
            ll.append(int(os.path.basename(i).split('.')[0]))
            continue
        df["StockID"] = int(os.path.basename(i).split('.')[0])
        SZ += [df]
    del df
    SZ = pd.concat(SZ).reset_index(drop=True)
    print(datetime.datetime.now() - startTm)
    
    startTm = datetime.datetime.now()
    SZ["skey"] = SZ["StockID"] + 2000000
    SZ.drop(["StockID"],axis=1,inplace=True)
    SZ["date"] = int(SZ["QuotTime"].iloc[0]//1000000000)
    SZ["time"] = (SZ['QuotTime'] - int(SZ['QuotTime'].iloc[0]//1000000000*1000000000)).astype(np.int64) * 1000
    SZ["clockAtArrival"] = SZ["QuotTime"].astype(str).apply(lambda x: np.int64(datetime.datetime.strptime(x, '%Y%m%d%H%M%S%f').timestamp()*1e6))
    SZ['datetime'] = SZ["clockAtArrival"].apply(lambda x: datetime.datetime.fromtimestamp(x/1e6))
    SZ.drop(["QuotTime"],axis=1,inplace=True)
    print(datetime.datetime.now() - startTm)
    
    startTm = datetime.datetime.now()
    SZ["BidPrice"] = SZ["BidPrice"].apply(lambda x: [float(i) for i in x[1:-1].split(',')])
    SZ["OfferPrice"] = SZ["OfferPrice"].apply(lambda x: [float(i) for i in x[1:-1].split(',')])
    SZ["BidOrderQty"] = SZ["BidOrderQty"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["OfferOrderQty"] = SZ["OfferOrderQty"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["BidNumOrders"] = SZ["BidNumOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["OfferNumOrders"] = SZ["OfferNumOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])

    for i in range(1, 11):
        SZ["bid" + str(i) + 'p'] = SZ["BidPrice"].apply(lambda x: x[i-1],2)
    SZ.drop(["BidPrice"],axis=1,inplace=True)
    print("1")
    for i in range(1, 11):
        SZ["ask" + str(i) + 'p'] = SZ["OfferPrice"].apply(lambda x: x[i-1],2)
    SZ.drop(["OfferPrice"],axis=1,inplace=True)
    print("2")
    for i in range(1, 11):
        SZ["bid" + str(i) + 'q'] = SZ["BidOrderQty"].apply(lambda x: x[i-1])
    SZ.drop(["BidOrderQty"],axis=1,inplace=True)
    print("3")
    for i in range(1, 11):
        SZ["ask" + str(i) + 'q'] = SZ["OfferOrderQty"].apply(lambda x: x[i-1])
    SZ.drop(["OfferOrderQty"],axis=1,inplace=True)
    print("4")
    for i in range(1, 11):
        SZ["bid" + str(i) + 'n'] = SZ["BidNumOrders"].apply(lambda x: x[i-1])
        SZ["bid" + str(i) + 'n'] = SZ["bid" + str(i) + 'n'].astype('int32')
    SZ.drop(["BidNumOrders"],axis=1,inplace=True)
    print("5")
    for i in range(1, 11):
        SZ["ask" + str(i) + 'n'] = SZ["OfferNumOrders"].apply(lambda x: x[i-1])
        SZ["ask" + str(i) + 'n'] = SZ["ask" + str(i) + 'n'].astype('int32') 
    SZ.drop(["OfferNumOrders"],axis=1,inplace=True)
    print("6")
    
    SZ["BidOrders"] = SZ["BidOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["OfferOrders"] = SZ["OfferOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])

    for i in range(1, 51):
        SZ["bid1Top" + str(i) + 'q'] = SZ["BidOrders"].apply(lambda x: x[i-1])
        SZ["bid1Top" + str(i) + 'q'] = SZ["bid1Top" + str(i) + 'q'].astype('int32') 
    SZ.drop(["BidOrders"],axis=1,inplace=True)
    print("7")
    
    for i in range(1, 51):
        SZ["ask1Top" + str(i) + 'q'] = SZ["OfferOrders"].apply(lambda x: x[i-1])
        SZ["ask1Top" + str(i) + 'q'] = SZ["ask1Top" + str(i) + 'q'].astype('int32') 
    SZ.drop(["OfferOrders"],axis=1,inplace=True)
    print("8")
    print(datetime.datetime.now() - startTm)
        
    
    startTm = datetime.datetime.now()
    SZ.columns = ['cum_trades_cnt', 'total_bid_quantity', 'total_ask_quantity', 'close',
       'total_ask_vwap', 'cum_amount', 'cum_volume', 'open', 'high',
       'prev_close', 'low', 'total_bid_vwap', 'skey', 'date', 'time',
       'clockAtArrival', 'datetime', 'bid1p', 'bid2p', 'bid3p', 'bid4p',
       'bid5p', 'bid6p', 'bid7p', 'bid8p', 'bid9p', 'bid10p', 'ask1p',
       'ask2p', 'ask3p', 'ask4p', 'ask5p', 'ask6p', 'ask7p', 'ask8p',
       'ask9p', 'ask10p', 'bid1q', 'bid2q', 'bid3q', 'bid4q', 'bid5q',
       'bid6q', 'bid7q', 'bid8q', 'bid9q', 'bid10q', 'ask1q', 'ask2q',
       'ask3q', 'ask4q', 'ask5q', 'ask6q', 'ask7q', 'ask8q', 'ask9q',
       'ask10q', 'bid1n', 'bid2n', 'bid3n', 'bid4n', 'bid5n', 'bid6n',
       'bid7n', 'bid8n', 'bid9n', 'bid10n', 'ask1n', 'ask2n', 'ask3n',
       'ask4n', 'ask5n', 'ask6n', 'ask7n', 'ask8n', 'ask9n', 'ask10n',
       'bid1Top1q', 'bid1Top2q', 'bid1Top3q', 'bid1Top4q', 'bid1Top5q',
       'bid1Top6q', 'bid1Top7q', 'bid1Top8q', 'bid1Top9q', 'bid1Top10q',
       'bid1Top11q', 'bid1Top12q', 'bid1Top13q', 'bid1Top14q',
       'bid1Top15q', 'bid1Top16q', 'bid1Top17q', 'bid1Top18q',
       'bid1Top19q', 'bid1Top20q', 'bid1Top21q', 'bid1Top22q',
       'bid1Top23q', 'bid1Top24q', 'bid1Top25q', 'bid1Top26q',
       'bid1Top27q', 'bid1Top28q', 'bid1Top29q', 'bid1Top30q',
       'bid1Top31q', 'bid1Top32q', 'bid1Top33q', 'bid1Top34q',
       'bid1Top35q', 'bid1Top36q', 'bid1Top37q', 'bid1Top38q',
       'bid1Top39q', 'bid1Top40q', 'bid1Top41q', 'bid1Top42q',
       'bid1Top43q', 'bid1Top44q', 'bid1Top45q', 'bid1Top46q',
       'bid1Top47q', 'bid1Top48q', 'bid1Top49q', 'bid1Top50q',
       'ask1Top1q', 'ask1Top2q', 'ask1Top3q', 'ask1Top4q', 'ask1Top5q',
       'ask1Top6q', 'ask1Top7q', 'ask1Top8q', 'ask1Top9q', 'ask1Top10q',
       'ask1Top11q', 'ask1Top12q', 'ask1Top13q', 'ask1Top14q',
       'ask1Top15q', 'ask1Top16q', 'ask1Top17q', 'ask1Top18q',
       'ask1Top19q', 'ask1Top20q', 'ask1Top21q', 'ask1Top22q',
       'ask1Top23q', 'ask1Top24q', 'ask1Top25q', 'ask1Top26q',
       'ask1Top27q', 'ask1Top28q', 'ask1Top29q', 'ask1Top30q',
       'ask1Top31q', 'ask1Top32q', 'ask1Top33q', 'ask1Top34q',
       'ask1Top35q', 'ask1Top36q', 'ask1Top37q', 'ask1Top38q',
       'ask1Top39q', 'ask1Top40q', 'ask1Top41q', 'ask1Top42q',
       'ask1Top43q', 'ask1Top44q', 'ask1Top45q', 'ask1Top46q',
       'ask1Top47q', 'ask1Top48q', 'ask1Top49q', 'ask1Top50q']
    
    SZ = SZ.fillna(0)
#     SZ["p1"] = SZ["bid1p"] + SZ["ask1p"]
#     tt = SZ[(SZ["cum_volume"] > 0) & (SZ["time"] < 145700000000)].groupby("skey")['p1'].min()
#     SZ.drop("p1", axis=1, inplace=True)
#     try:
#         assert(tt[tt == 0].shape[0] == 0)
#     except:
#         display(tt[tt == 0])
#     SZ = SZ[~((SZ["bid1p"] == 0) & (SZ["ask1p"] == 0))]
    SZ["ordering"] = SZ.groupby("skey").cumcount()
    SZ["ordering"] = SZ["ordering"] + 1

    for cols in ["total_bid_orders",'total_ask_orders','total_bid_levels', 'total_ask_levels', 'bid_trade_max_duration',
                 'ask_trade_max_duration', 'cum_canceled_buy_orders', 'cum_canceled_buy_volume', "cum_canceled_buy_amount",
                 "cum_canceled_sell_orders", 'cum_canceled_sell_volume',"cum_canceled_sell_amount", "has_missing"]:
        SZ[cols] = 0
        
#     for col in ["cum_volume", "total_bid_quantity", "total_ask_quantity",'cum_canceled_buy_volume',
#         'cum_canceled_sell_volume']:
#         SZ[col] = SZ[col].astype('int64')
    
    for col in ["skey", "date", "cum_trades_cnt", "total_bid_orders",
        'total_ask_orders', 'total_bid_levels', 'total_ask_levels', 'cum_canceled_buy_orders','cum_canceled_sell_orders',
            "ordering", 'bid_trade_max_duration', 'ask_trade_max_duration','has_missing']:
        SZ[col] = SZ[col].astype('int32')
    
        
#     for cols in ["prev_close", 'open', "high", "low", "close", 'bid10p','bid9p','bid8p','bid7p','bid6p','bid5p','bid4p','bid3p',
#              'bid2p','bid1p','ask1p','ask2p','ask3p','ask4p','ask5p','ask6p','ask7p','ask8p','ask9p','ask10p', 'total_bid_vwap', "total_ask_vwap",
#                 "cum_amount"]:
# #         SZ[cols] = SZ[cols].apply(lambda x: round(x, 2)).astype('float64')
#         print(cols)
#         print(SZ[cols].astype(str).apply(lambda x: len(str(x.split('.')[1]))).unique())

        
    for cols in ["cum_canceled_sell_amount", "cum_canceled_buy_amount"]:
        SZ[cols] = SZ[cols].astype('float64')

        
    assert(sum(SZ[SZ["open"] != 0].groupby("skey")["open"].nunique() != 1) == 0)
    assert(sum(SZ[SZ["prev_close"] != 0].groupby("skey")["prev_close"].nunique() != 1) == 0)
    SZ["prev_close"] = np.where(SZ["time"] >= 91500000000, SZ.groupby("skey")["prev_close"].transform("max"), SZ["prev_close"]) 
    SZ["open"] = np.where(SZ["cum_volume"] > 0, SZ.groupby("skey")["open"].transform("max"), SZ["open"])
    assert(sum(SZ[SZ["open"] != 0].groupby("skey")["open"].nunique() != 1) == 0)
    assert(sum(SZ[SZ["prev_close"] != 0].groupby("skey")["prev_close"].nunique() != 1) == 0)
    assert(SZ[SZ["cum_volume"] > 0]["open"].min() > 0)
    
    print(datetime.datetime.now() - startTm)
    
    
    # check 1
    startTm = datetime.datetime.now()
    da_te = str(SZ["date"].iloc[0]) 
    da_te = da_te[:4] + '-' + da_te[4:6] + '-' + da_te[6:8]
    db1 = db[db["date"] == da_te]
    db1["ID"] = db1["ID"].str[2:].astype(int) + 2000000
    db1["date"] = (db1["date"].str[:4] + db1["date"].str[5:7] + db1["date"].str[8:]).astype(int)
    SZ["cum_max"] = SZ.groupby("skey")["cum_volume"].transform(max)
    s2 = SZ[SZ["cum_volume"] == SZ["cum_max"]].groupby("skey").first().reset_index()
    SZ.drop("cum_max", axis=1, inplace=True)
    s2 = s2.rename(columns={"skey": "ID", 'open':"d_open", "prev_close":"d_yclose","high":"d_high", "low":"d_low", "close":"d_close", "cum_volume":"d_volume", "cum_amount":"d_amount"})
    s2 = s2[["ID", "date", "d_open", "d_yclose", "d_high", "d_low", "d_close", "d_volume", "d_amount"]]
    re = pd.merge(db1, s2, on=["ID", "date", "d_open", "d_yclose","d_high", "d_low", "d_volume"], how="outer")
    try:
        assert(sum(re["d_amount_y"].isnull()) == 0)
    except:
        display(re[re["d_amount_y"].isnull()])
        wr_ong += [re[re["d_amount_y"].isnull()]]
    del re
    del s2
    del db1
    print(datetime.datetime.now() - startTm)
    
    # check 2
    # first part
    startTm = datetime.datetime.now()
    date = pd.DataFrame(pd.date_range(start='2019-06-10 08:30:00', end='2019-06-10 18:00:00', freq='s'), columns=["Orig"])
    date["time"] = date["Orig"].apply(lambda x: int(x.strftime("%H%M%S"))*1000)
    date["group"] = date["time"]//10000
    SZ["group"] = SZ["time"]//10000000
    gl = date[((date["time"] >= 93000000) & (date["time"] <= 113000000))|((date["time"] >= 130000000) & (date["time"] <= 150000000))]["group"].unique()
    l = set(gl) - set(SZ["group"].unique())
    SZ["has_missing1"] = 0 
    if len(l) != 0:
        print("massive missing")
        print(l)
        SZ["order"] = SZ.groupby(["skey", "time"]).cumcount()
        for i in l:
            SZ["t"] = SZ[SZ["group"] > i].groupby("skey")["time"].transform("min")
            SZ["has_missing1"] = np.where((SZ["time"] == SZ["t"]) & (SZ["order"] == 0), 1, 0)
        SZ.drop(["order", "t", "group"], axis=1, inplace=True)   
    else:
        print("no massive missing")
        SZ.drop(["group"], axis=1, inplace=True)
    



    # second part

    SZ["time_interval"] = SZ.groupby("skey")["datetime"].apply(lambda x: x - x.shift(1))
    SZ["time_interval"] = SZ["time_interval"].apply(lambda x: x.seconds)
    SZ["tn_update"] = SZ.groupby("skey")["cum_trades_cnt"].apply(lambda x: x-x.shift(1))

    f1 = SZ[(SZ["time"] >= 93000000000) & (SZ["tn_update"] != 0)].groupby("skey")["time"].min().reset_index()
    f1 = f1.rename(columns={"time": "time1"})
    f2 = SZ[(SZ["time"] >= 130000000000) & (SZ["tn_update"] != 0)].groupby("skey")["time"].min().reset_index()
    f2 = f2.rename(columns={"time": "time2"})
    f3 = SZ[(SZ["time"] >= 150000000000) & (SZ["tn_update"] != 0)].groupby("skey")["time"].min().reset_index()
    f3 = f3.rename(columns={"time": "time3"})
    SZ = pd.merge(SZ, f1, on="skey", how="left")
    del f1
    SZ = pd.merge(SZ, f2, on="skey", how="left")
    del f2
    SZ = pd.merge(SZ, f3, on="skey", how="left")
    del f3
    p99 = SZ[(SZ["time"] > 93000000000) & (SZ["time"] < 145700000000) & (SZ["time"] != SZ["time2"]) & (SZ["tn_update"] != 0)]\
    .groupby("skey")["tn_update"].apply(lambda x: x.describe([0.99])["99%"]).reset_index()
    p99 = p99.rename(columns={"tn_update":"99%"})
    SZ = pd.merge(SZ, p99, on="skey", how="left")

    SZ["has_missing2"] = 0
    SZ["has_missing2"] = np.where((SZ["time_interval"] > 60) & (SZ["tn_update"] > SZ["99%"]) & 
         (SZ["time"] > SZ["time1"]) & (SZ["time"] != SZ["time2"]) & (SZ["time"] != SZ["time3"])& (SZ["time"] != 100000000000), 1, 0)
    SZ.drop(["time_interval", "tn_update", "time1", "time2", "time3", "99%"], axis=1, inplace=True) 

    SZ["has_missing"] = np.where((SZ["has_missing1"] == 1) | (SZ["has_missing2"] == 1), 1, 0)
    SZ.drop(["has_missing1", "has_missing2"], axis=1, inplace=True) 
    if SZ[SZ["has_missing"] == 1].shape[0] != 0:
        print("has missing!!!!!!!!!!!!!!!!!!!!!!!")
        print(SZ[SZ["has_missing"] == 1].shape[0])
        mi_ss += [SZ[SZ["has_missing"] == 1]]
    print(datetime.datetime.now() - startTm)

    
    
    startTm = datetime.datetime.now()
    SZ["has_missing"] = SZ["has_missing"].astype('int32')
    SZ = SZ[["skey", "date", "time", "clockAtArrival", "datetime", "ordering", "has_missing", "cum_trades_cnt", "cum_volume", "cum_amount", "prev_close",
                            "open", "high", "low", "close", 'bid10p','bid9p','bid8p','bid7p','bid6p','bid5p','bid4p','bid3p','bid2p','bid1p',
                            'ask1p','ask2p','ask3p','ask4p','ask5p','ask6p','ask7p','ask8p','ask9p','ask10p', 'bid10q','bid9q','bid8q',
                             'bid7q','bid6q','bid5q','bid4q','bid3q','bid2q','bid1q', 'ask1q','ask2q','ask3q','ask4q','ask5q','ask6q',
                             'ask7q','ask8q','ask9q','ask10q', 'bid10n', 'bid9n', 'bid8n', 'bid7n', 'bid6n', 'bid5n', 'bid4n', 'bid3n', 'bid2n', 'bid1n', 
                             'ask1n', 'ask2n', 'ask3n', 'ask4n', 'ask5n', 'ask6n','ask7n', 'ask8n', 'ask9n', 'ask10n','bid1Top1q','bid1Top2q','bid1Top3q','bid1Top4q','bid1Top5q','bid1Top6q',
        'bid1Top7q','bid1Top8q','bid1Top9q','bid1Top10q','bid1Top11q','bid1Top12q','bid1Top13q','bid1Top14q','bid1Top15q','bid1Top16q','bid1Top17q','bid1Top18q',
        'bid1Top19q','bid1Top20q','bid1Top21q','bid1Top22q','bid1Top23q','bid1Top24q','bid1Top25q','bid1Top26q','bid1Top27q','bid1Top28q','bid1Top29q',
        'bid1Top30q','bid1Top31q','bid1Top32q','bid1Top33q','bid1Top34q','bid1Top35q','bid1Top36q','bid1Top37q','bid1Top38q','bid1Top39q','bid1Top40q',
        'bid1Top41q','bid1Top42q','bid1Top43q','bid1Top44q','bid1Top45q','bid1Top46q','bid1Top47q','bid1Top48q','bid1Top49q','bid1Top50q', 'ask1Top1q',
        'ask1Top2q','ask1Top3q','ask1Top4q','ask1Top5q','ask1Top6q','ask1Top7q','ask1Top8q','ask1Top9q','ask1Top10q','ask1Top11q','ask1Top12q','ask1Top13q',
        'ask1Top14q','ask1Top15q','ask1Top16q','ask1Top17q','ask1Top18q','ask1Top19q','ask1Top20q','ask1Top21q','ask1Top22q','ask1Top23q',
        'ask1Top24q','ask1Top25q','ask1Top26q','ask1Top27q','ask1Top28q','ask1Top29q','ask1Top30q','ask1Top31q','ask1Top32q','ask1Top33q',
        'ask1Top34q','ask1Top35q','ask1Top36q','ask1Top37q','ask1Top38q','ask1Top39q','ask1Top40q','ask1Top41q','ask1Top42q','ask1Top43q',
        'ask1Top44q','ask1Top45q','ask1Top46q','ask1Top47q','ask1Top48q','ask1Top49q','ask1Top50q',"total_bid_quantity", "total_ask_quantity","total_bid_vwap", "total_ask_vwap",
        "total_bid_orders",'total_ask_orders','total_bid_levels', 'total_ask_levels', 'bid_trade_max_duration', 'ask_trade_max_duration', 'cum_canceled_buy_orders', 'cum_canceled_buy_volume',
        "cum_canceled_buy_amount", "cum_canceled_sell_orders", 'cum_canceled_sell_volume',"cum_canceled_sell_amount"]]
    
    display(SZ["date"].iloc[0])
    print("SZ finished")
    
    
    database_name = 'com_md_eq_cn'
    user = "zhenyuy"
    password = "bnONBrzSMGoE"

    db1 = DB("192.168.10.223", database_name, user, password)
    db1.write('md_snapshot_l2', SZ)
    
    del SZ
    print(datetime.datetime.now() - startTm)

wr_ong = pd.concat(wr_ong).reset_index(drop=True)
print(wr_ong)
mi_ss = pd.concat(mi_ss).reset_index(drop=True)
print(mi_ss)

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:203: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.

0:05:54.651083
0:00:50.737862
20180312 unzip finished
0:00:55.041281
0:01:55.932089
1
2
3
4
5
6
7
8
0:14:59.576572
0:00:37.418145

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
901,2001914,20180312,9.25,9.25,9.08,9.15,9.18,0.986228,-0.003268,0.013289,0.014307,0.016137,2506617.0,22883332.5,0.003759,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:05.271163
massive missing
{9450, 9451, 9452, 9453, 9454, 9455}
has missing!!!!!!!!!!!!!!!!!!!!!!!
1917
0:03:21.528537

20180312

SZ finished
0:01:13.834928
0:00:48.565913
20180313 unzip finished
0:00:56.199518
0:01:54.045184
1
2
3
4
5
6
7
8
0:14:32.442915
0:00:37.401699

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
898,2001914,20180313,9.14,9.19,9.08,9.09,9.15,0.986228,-0.006557,-0.003289,-0.006613,-0.005152,3367860.0,30679793.05,0.005051,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.700424
no massive missing
0:02:34.102965

20180313

SZ finished
0:01:29.058188
0:00:43.637640
20180314 unzip finished
0:00:52.286274
0:01:50.954057
1
2
3
4
5
6
7
8
0:14:16.945652
0:00:35.360985

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
898,2001914,20180314,9.08,9.14,9.06,9.07,9.09,0.986228,-0.0022,0.00443,-0.010366,-0.011116,1975753.0,17963229.79,0.002963,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666780666.0,666961416.0,NaN,NaN

0:00:04.443811
no massive missing
0:02:41.489523

20180314

SZ finished
0:01:12.000209
0:00:50.264200
20180315 unzip finished
0:00:58.307196
0:01:53.988007
1
2
3
4
5
6
7
8
0:14:45.351020
0:00:45.907998

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
901,2001914,20180315,9.07,9.13,9.0,9.12,9.07,0.986228,0.005513,0.012209,-0.001487,-0.001578,2635313.0,23893577.84,0.003952,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.888436
no massive missing
0:02:49.330713

20180315

SZ finished
0:01:11.312420
0:00:43.766445
20180316 unzip finished
0:00:53.142999
0:01:42.197192
1
2
3
4
5
6
7
8
0:13:30.571964
0:00:36.585391

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
902,2001914,20180316,9.11,9.14,9.05,9.09,9.12,0.986228,-0.003289,-0.009804,-0.00547,-0.002656,1983378.0,18022878.12,0.002974,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:05.962416
no massive missing
0:02:35.066937

20180316

SZ finished
0:01:21.211092
0:00:46.257857
20180319 unzip finished
0:00:52.628585
0:01:49.054930
1
2
3
4
5
6
7
8
0:13:08.457419
0:00:37.911920

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
903,2001914,20180319,9.11,9.11,8.98,8.99,9.09,0.986228,-0.011001,-0.017486,0.001225,0.002142,2098845.0,18914823.7,0.003148,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.490189
no massive missing
0:02:32.606493

20180319

SZ finished
0:01:16.460604
0:00:42.597876
20180320 unzip finished
0:00:49.932151
0:01:46.032355
1
2
3
4
5
6
7
8
0:13:32.701516
0:00:36.491535

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
901,2001914,20180320,8.9,9.06,8.85,9.02,8.99,0.986228,0.003337,-0.007701,0.003228,0.000257,2006399.0,17957497.91,0.003009,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.545117
no massive missing
0:02:32.774874

20180320

SZ finished
0:01:23.913463
0:00:47.285728
20180321 unzip finished
0:00:54.482932
0:01:51.772210
1
2
3
4
5
6
7
8
0:14:49.885262
0:00:36.348152

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
903,2001914,20180321,9.0,9.09,8.94,8.98,9.02,0.986228,-0.004435,-0.009923,-0.007207,-0.007505,2811159.0,25383269.69,0.004216,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.850216
no massive missing
0:02:35.848311

20180321

SZ finished
0:01:15.035056
0:00:42.927629
20180322 unzip finished
0:00:53.044630
0:01:51.425630
1
2
3
4
5
6
7
8
0:13:45.739912
0:00:36.155340

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
906,2001914,20180322,8.98,9.35,8.96,9.25,8.98,0.986228,0.030067,0.014254,-0.004564,-0.00094,6270537.0,57586320.6,0.009404,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.600973
no massive missing
0:02:34.538977

20180322

SZ finished
0:01:13.507053
0:00:56.610678
20180323 unzip finished
0:00:59.489251
0:02:01.597917
1
2
3
4
5
6
7
8
0:15:30.382019
0:00:41.204737

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
909,2001914,20180323,9.06,9.17,8.64,8.89,9.25,0.986228,-0.038919,-0.022002,-0.051477,-0.053483,6723156.0,60277245.66,0.010083,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:05.019707
no massive missing
0:03:03.021941

20180323

SZ finished
0:01:34.428648
0:00:46.709444
20180326 unzip finished
0:00:53.270956
0:01:48.640485
1
2
3
4
5
6
7
8
0:13:57.997420
0:00:37.088211

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
908,2001914,20180326,8.68,8.92,8.53,8.88,8.89,0.986228,-0.001125,-0.012236,0.020011,0.017548,2176182.0,19044257.22,0.003264,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:06.003484
no massive missing
0:02:43.177711

20180326

SZ finished
0:01:21.944333
0:00:46.128094
20180327 unzip finished
0:00:56.345562
0:01:54.920501
1
2
3
4
5
6
7
8
0:14:49.905463
0:00:37.237434

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
907,2001914,20180327,8.95,9.06,8.92,9.03,8.88,0.986228,0.016892,0.001109,0.022331,0.025416,2064104.0,18565280.7,0.003096,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.836342
no massive missing
0:02:42.345842

20180327

SZ finished
0:01:14.713635
0:00:47.010984
20180328 unzip finished
0:00:58.598473
0:01:54.414668
1
2
3
4
5
6
7
8
0:14:22.959824
0:00:43.362919

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
908,2001914,20180328,8.99,8.99,8.84,8.9,9.03,0.986228,-0.014396,-0.008909,-0.01018,-0.006731,2665100.0,23779654.0,0.003997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.872873
no massive missing
0:02:48.679082

20180328

SZ finished
0:01:25.917649
0:00:44.940981
20180329 unzip finished
0:00:59.296586
0:01:52.758642
1
2
3
4
5
6
7
8
0:14:23.834004
0:00:36.124959

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
906,2001914,20180329,8.85,9.06,8.85,9.0,8.9,0.986228,0.011236,-0.027027,0.010298,0.007294,2633000.0,23649353.49,0.003949,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.697048
no massive missing
0:02:40.615243

20180329

SZ finished
0:01:28.181690
0:00:47.138507
20180330 unzip finished
0:01:01.260647
0:02:00.365425
1
2
3
4
5
6
7
8
0:14:50.610510
0:00:38.073080

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
906,2001914,20180330,9.08,9.18,8.99,9.12,9.0,0.986228,0.013333,0.025872,0.013237,0.017114,2978518.0,27014433.09,0.004467,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.936106
massive missing
{9500}
has missing!!!!!!!!!!!!!!!!!!!!!!!
1924
0:03:10.385334

20180330

SZ finished
0:01:15.777411
0:00:51.550897
20180402 unzip finished
0:00:58.789537
0:02:01.211010
1
2
3
4
5
6
7
8
0:15:13.058303
0:00:38.133524

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
906,2001914,20180402,9.13,9.25,9.06,9.11,9.12,0.986228,-0.001096,0.025901,0.001182,0.005473,3066807.0,28021589.0,0.004599,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.927732
no massive missing
0:02:46.753487

20180402

SZ finished
0:01:23.171712
0:00:49.016875
20180403 unzip finished
0:00:57.934785
0:01:58.571004
1
2
3
4
5
6
7
8
0:15:27.412987
0:00:41.036678

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
910,2001914,20180403,9.08,9.13,8.96,9.07,9.11,0.986228,-0.004391,0.00443,-0.010169,-0.009701,2696631.0,24387930.7,0.004044,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:05.246794
no massive missing
0:02:49.229688

20180403

SZ finished
0:01:16.390576
0:01:00.344892
20180404 unzip finished
0:00:54.801692
0:01:55.341786
1
2
3
4
5
6
7
8
0:14:47.478223
0:00:38.899600

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
914,2001914,20180404,9.07,9.17,9.05,9.1,9.07,0.986228,0.003308,0.022472,-0.006935,-0.008957,2639770.0,24043346.52,0.003959,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.815307
no massive missing
0:02:52.329187

20180404

SZ finished
0:01:24.479702
0:00:46.322253
20180409 unzip finished
0:00:54.081073
0:01:50.315338
1
2
3
4
5
6
7
8
0:13:38.297857
0:00:36.403022

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
912,2001914,20180409,9.02,9.1,9.0,9.09,9.1,0.986228,-0.001099,0.01,0.001323,0.00145,2129436.0,19272761.06,0.003193,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.888615
no massive missing
0:02:42.534068

20180409

SZ finished
0:01:32.415170
0:00:47.275696
20180410 unzip finished
0:00:56.703242
0:01:48.558458
1
2
3
4
5
6
7
8
0:14:22.101657
0:00:42.290591

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
912,2001914,20180410,9.11,9.21,9.02,9.2,9.09,0.986228,0.012101,0.008772,0.006322,0.000316,3334671.0,30414707.15,0.005001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:05.198670
no massive missing
0:02:48.904424

20180410

SZ finished
0:01:16.374361
0:00:45.763193
20180411 unzip finished
0:00:56.731945
0:01:51.642310
1
2
3
4
5
6
7
8
0:14:15.582582
0:00:40.009713

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
911,2001914,20180411,9.15,9.38,9.15,9.25,9.2,0.986228,0.005435,0.015368,0.003772,0.005809,4027718.0,37325468.87,0.00604,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:05.240945
no massive missing
0:02:43.532560

20180411

SZ finished
0:01:27.645836
0:00:43.515026
20180412 unzip finished
0:00:58.231815
0:01:51.835277
1
2
3
4
5
6
7
8
0:14:08.997965
0:00:40.346928

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
911,2001914,20180412,9.25,9.35,9.15,9.29,9.25,0.986228,0.004324,0.024256,-0.005796,-0.004759,3096040.0,28765881.04,0.004643,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.890177
no massive missing
0:02:45.042309

20180412

SZ finished
0:01:15.151176
0:00:43.123884
20180413 unzip finished
0:00:53.351296
0:01:58.479822
1
2
3
4
5
6
7
8
0:13:38.265257
0:00:38.669240

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
912,2001914,20180413,9.34,9.37,9.2,9.27,9.29,0.986228,-0.002153,0.018681,-0.003991,-0.000889,3111071.0,28877488.45,0.004666,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:05.104686
no massive missing
0:02:55.541381

20180413

SZ finished
0:01:22.079987
0:00:46.044333
20180416 unzip finished
0:00:56.135612
0:02:06.867087
1
2
3
4
5
6
7
8
0:14:28.872657
0:00:39.244790

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
911,2001914,20180416,9.25,9.25,9.03,9.13,9.27,0.986228,-0.015102,0.0044,-0.002452,-0.000555,2842406.0,25910513.32,0.004263,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:05.902745
no massive missing
0:02:56.615996

20180416

SZ finished
0:01:16.763908
0:00:44.296638
20180417 unzip finished
0:00:55.299574
0:01:55.309889
1
2
3
4
5
6
7
8
0:14:07.883020
0:00:39.218880

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
912,2001914,20180417,9.15,9.2,9.08,9.1,9.13,0.986228,-0.003286,-0.01087,-0.020216,-0.02281,2296329.0,20978976.04,0.003444,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.871184
no massive missing
0:02:58.988681

20180417

SZ finished
0:01:35.217302
0:00:47.109898
20180418 unzip finished
0:00:55.997186
0:02:08.979575
1
2
3
4
5
6
7
8
0:14:05.892547
0:00:40.202446

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
911,2001914,20180418,9.15,9.33,9.12,9.26,9.1,0.986228,0.017582,0.001081,0.013547,0.014715,3561802.0,32829848.81,0.005342,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:05.187106
no massive missing
0:02:42.447670

20180418

SZ finished
0:01:14.805693
0:00:42.086578
20180419 unzip finished
0:00:51.375593
0:01:46.077527
1
2
3
4
5
6
7
8
0:13:40.805177
0:00:39.668961

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
911,2001914,20180419,9.32,9.53,9.25,9.47,9.26,0.986228,0.022678,0.019376,0.005707,0.002372,5603605.0,52825612.97,0.008404,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.770113
no massive missing
0:02:32.994859

20180419

SZ finished
0:01:28.104899
0:00:43.870502
20180420 unzip finished
0:00:54.460816
0:01:48.919584
1
2
3
4
5
6
7
8
0:14:02.967516
0:00:38.350086

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
909,2001914,20180420,9.4,9.63,9.38,9.41,9.47,0.986228,-0.006336,0.015102,-0.020633,-0.021136,3584047.0,34033944.37,0.005375,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:05.132092
no massive missing
0:02:46.146527

20180420

SZ finished
0:01:20.379849
0:00:43.797759
20180423 unzip finished
0:00:50.938412
0:01:46.026290
1
2
3
4
5
6
7
8
0:13:31.133777
0:00:34.750199

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
912,2001914,20180423,9.4,9.85,9.33,9.76,9.41,0.986228,0.037194,0.069003,-0.009678,-0.010625,6013476.0,57664631.99,0.009018,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.544207
no massive missing
0:02:30.323933

20180423

SZ finished
0:01:29.847277
0:00:44.640546
20180424 unzip finished
0:00:54.062755
0:01:52.498329
1
2
3
4
5
6
7
8
0:14:15.061187
0:00:36.253055

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
913,2001914,20180424,9.77,9.94,9.62,9.87,9.76,0.986228,0.01127,0.084615,0.022884,0.02166,5626552.0,55334096.64,0.008438,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.651077
no massive missing
0:02:41.783849

20180424

SZ finished
0:01:19.423397
0:00:44.236210
20180425 unzip finished
0:00:53.247255
0:01:51.078102
1
2
3
4
5
6
7
8
0:13:51.987467
0:00:35.184817

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
914,2001914,20180425,9.82,9.87,9.6,9.65,9.87,0.986228,-0.02229,0.042117,0.000374,0.00385,4438720.0,43068883.07,0.006657,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.592884
no massive missing
0:02:38.850423

20180425

SZ finished
0:01:10.722034
0:00:43.265263
20180426 unzip finished
0:00:52.343351
0:01:49.183685
1
2
3
4
5
6
7
8
0:13:41.461038
0:00:38.209555

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
912,2001914,20180426,9.55,9.76,9.49,9.69,9.65,0.986228,0.004145,0.023231,-0.018701,-0.018318,3438994.0,33197926.64,0.005157,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.717857
no massive missing
0:02:34.778598

20180426

SZ finished
0:01:08.814118
0:00:41.774430
20180427 unzip finished
0:00:48.980555
0:01:44.239794
1
2
3
4
5
6
7
8
0:13:15.197629
0:00:35.729911

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
913,2001914,20180427,9.64,9.81,9.57,9.66,9.69,0.986228,-0.003096,0.026567,0.002224,0.001001,3080642.0,29883508.13,0.00462,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.414227
no massive missing
0:02:35.557915

20180427

SZ finished
0:01:12.345066
0:00:43.450788
20180502 unzip finished
0:00:50.387429
0:01:45.167256
1
2
3
4
5
6
7
8
0:13:07.370835
0:00:37.364112

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
916,2001914,20180502,9.58,9.66,9.42,9.57,9.66,0.986228,-0.009317,-0.019467,-0.000966,-0.00464,3706838.0,35282176.9,0.005559,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.366992
no massive missing
0:02:35.563574

20180502

SZ finished
0:01:05.889495
0:00:42.882231
20180503 unzip finished
0:00:51.432204
0:01:50.329924
1
2
3
4
5
6
7
8
0:13:51.760895
0:00:36.206434

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
918,2001914,20180503,9.56,9.65,9.42,9.61,9.57,0.986228,0.00418,-0.026342,0.009441,0.009012,2701684.0,25833198.12,0.004052,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.592011
no massive missing
0:02:44.433506

20180503

SZ finished
0:01:12.900625
0:00:42.722027
20180504 unzip finished
0:00:51.065153
0:01:48.958215
1
2
3
4
5
6
7
8
0:13:30.936768
0:00:43.862318

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
918,2001914,20180504,9.67,9.67,9.43,9.46,9.61,0.986228,-0.015609,-0.019689,-0.000222,-0.002136,2211700.0,21112318.0,0.003317,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.746086
no massive missing
0:02:36.165807

20180504

SZ finished
0:01:06.982420
0:00:43.287903
20180507 unzip finished
0:00:54.803707
0:01:52.074425
1
2
3
4
5
6
7
8
0:14:27.681608
0:00:37.335210

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
915,2001914,20180507,9.4,9.56,9.4,9.54,9.46,0.986228,0.008457,-0.01548,0.018589,0.017652,1961098.0,18642035.53,0.002941,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.744862
no massive missing
0:02:37.235565

20180507

SZ finished
0:01:08.610496
0:00:45.516212
20180508 unzip finished
0:00:53.267866
0:01:52.499702
1
2
3
4
5
6
7
8
0:14:28.702554
0:00:38.593583

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
917,2001914,20180508,9.6,9.81,9.54,9.63,9.54,0.986228,0.009434,-0.003106,0.003767,0.004748,3324327.0,32198422.25,0.004985,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.888033
no massive missing
0:02:41.485149

20180508

SZ finished
0:01:10.260259
0:00:42.553089
20180509 unzip finished
0:00:53.996935
0:01:50.377682
1
2
3
4
5
6
7
8
0:14:06.262393
0:00:35.983442

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
918,2001914,20180509,9.67,9.67,9.52,9.59,9.63,0.986228,-0.004154,0.00209,-0.002082,-0.000484,1602781.0,15380922.96,0.002404,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.620945
no massive missing
0:02:35.671938

20180509

SZ finished
0:01:06.677626
0:00:45.638552
20180510 unzip finished
0:00:54.566879
0:01:52.140454
1
2
3
4
5
6
7
8
0:14:18.789170
0:00:36.380910

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
917,2001914,20180510,9.55,9.65,9.43,9.53,9.59,0.986228,-0.006257,-0.008325,0.001881,0.00424,3168334.0,30188389.85,0.004751,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.688713
no massive missing
0:02:39.720587

20180510

SZ finished
0:01:11.369753
0:00:45.349096
20180511 unzip finished
0:00:56.488781
0:01:50.719273
1
2
3
4
5
6
7
8
0:14:02.119036
0:00:36.555837

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
917,2001914,20180511,9.6,9.6,9.44,9.45,9.53,0.986228,-0.008395,-0.001057,-0.00815,-0.009912,2103648.0,19964174.08,0.003155,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.741124
no massive missing
0:02:41.040428

20180511

SZ finished
0:01:14.375146
0:00:44.893097
20180514 unzip finished
0:00:53.158324
0:01:48.639270
1
2
3
4
5
6
7
8
0:13:51.933995
0:00:38.710756

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
920,2001914,20180514,9.01,9.23,8.51,8.53,9.45,0.986228,-0.097354,-0.10587,-0.00397,-0.006786,17384712.0,1.503627e+08,0.026072,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.691607
no massive missing
0:02:36.692222

20180514

SZ finished
0:01:16.555519
0:00:42.059024
20180515 unzip finished
0:00:49.219949
0:01:41.913923
1
2
3
4
5
6
7
8
0:12:33.995076
0:00:36.707010

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
920,2001914,20180515,8.52,8.56,8.4,8.56,8.53,0.986228,0.003517,-0.111111,0.008884,0.010528,3910562.0,33279860.73,0.005865,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.625019
no massive missing
0:02:32.882556

20180515

SZ finished
0:01:18.114418
0:00:43.135736
20180516 unzip finished
0:00:52.526148
0:01:57.943446
1
2
3
4
5
6
7
8
0:13:11.024828
0:00:37.237652

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
921,2001914,20180516,8.56,8.58,8.36,8.41,8.56,0.986228,-0.017523,-0.123045,-0.002741,-0.005778,4796085.0,40319318.15,0.007193,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.684552
no massive missing
0:02:38.505022

20180516

SZ finished
0:01:05.898094
0:00:48.215278
20180517 unzip finished
0:00:50.986265
0:01:46.142474
1
2
3
4
5
6
7
8
0:12:59.266079
0:00:36.286091

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
925,2001914,20180517,8.4,8.43,8.34,8.37,8.41,0.986228,-0.004756,-0.121721,-0.005045,-0.004739,2828354.0,23704590.3,0.004242,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.875439
no massive missing
0:02:49.438433

20180517

SZ finished
0:01:15.299392
0:00:41.916445
20180518 unzip finished
0:00:51.170712
0:01:47.167527
1
2
3
4
5
6
7
8
0:13:56.214324
0:00:36.784617

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
922,2001914,20180518,8.34,8.58,8.34,8.45,8.37,0.986228,0.009558,-0.10582,0.003578,0.004479,4312456.0,36589491.68,0.006467,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.655555
no massive missing
0:02:42.971751

20180518

SZ finished
0:01:12.724753
0:00:46.288315
20180521 unzip finished
0:00:56.576949
0:01:55.956549
1
2
3
4
5
6
7
8
0:14:33.583228
0:00:37.992858

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
921,2001914,20180521,8.42,8.54,8.39,8.47,8.45,0.986228,0.002367,-0.007034,0.012852,0.011535,3442761.0,29131952.59,0.005163,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.947700
no massive missing
0:02:40.226219

20180521

SZ finished
0:01:09.153010
0:00:45.596255
20180522 unzip finished
0:00:54.136926
0:01:55.666987
1
2
3
4
5
6
7
8
0:14:26.462228
0:00:38.129732

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
920,2001914,20180522,8.44,8.47,8.35,8.4,8.47,0.986228,-0.008264,-0.018692,0.00341,0.00407,2128564.0,17889460.56,0.003192,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.761489
no massive missing
0:02:39.578634

20180522

SZ finished
0:01:15.140966
0:00:44.960775
20180523 unzip finished
0:00:53.641096
0:01:53.961399
1
2
3
4
5
6
7
8
0:14:31.931074
0:00:37.287024

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
921,2001914,20180523,8.4,8.4,8.14,8.19,8.4,0.986228,-0.025,-0.026159,-0.012976,-0.010723,5312297.0,43662348.24,0.007967,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.832632
no massive missing
0:02:43.446369

20180523

SZ finished
0:01:11.646398
0:00:42.905107
20180524 unzip finished
0:00:53.141710
0:01:51.715415
1
2
3
4
5
6
7
8
0:13:54.158210
0:00:37.232107

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
918,2001914,20180524,8.15,8.21,7.93,8.04,8.19,0.986228,-0.018315,-0.039427,-0.00353,-0.003576,5951424.0,48025052.58,0.008925,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.631430
no massive missing
0:02:35.097495

20180524

SZ finished
0:01:16.950533
0:00:43.759891
20180525 unzip finished
0:00:53.817339
0:01:49.453071
1
2
3
4
5
6
7
8
0:14:04.328413
0:00:38.974806

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
918,2001914,20180525,8.04,8.14,7.97,8.1,8.04,0.986228,0.007463,-0.04142,-0.012486,-0.013133,3066492.0,24738283.28,0.004599,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.718429
no massive missing
0:02:46.979671

20180525

SZ finished
0:01:13.782738
0:00:46.396605
20180528 unzip finished
0:00:51.759952
0:01:47.060730
1
2
3
4
5
6
7
8
0:13:43.119305
0:00:34.653276

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
918,2001914,20180528,8.08,8.08,7.74,7.78,8.1,0.986228,-0.039506,-0.081464,-0.004484,-0.007803,4552683.0,35794974.39,0.006828,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.575930
no massive missing
0:02:34.722213

20180528

SZ finished
0:01:16.886608
0:00:45.088362
20180529 unzip finished
0:00:52.440715
0:01:49.745780
1
2
3
4
5
6
7
8
0:13:39.237198
0:00:36.223927

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
918,2001914,20180529,7.8,7.9,7.5,7.85,7.78,0.986228,0.008997,-0.065476,-0.009475,-0.008263,3222010.0,25190298.96,0.004832,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.669369
no massive missing
0:02:37.440070

20180529

SZ finished
0:01:12.500068
0:00:46.712812
20180530 unzip finished
0:00:54.083509
0:02:04.328186
1
2
3
4
5
6
7
8
0:13:38.275772
0:00:38.518183

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
915,2001914,20180530,7.84,7.84,7.53,7.67,7.85,0.986228,-0.02293,-0.063492,-0.026195,-0.031748,4003310.0,30696736.93,0.006004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:05.324121
no massive missing
0:02:44.075469

20180530

SZ finished
0:01:11.848248
0:00:42.399923
20180531 unzip finished
0:00:47.891326
0:01:39.651264
1
2
3
4
5
6
7
8
0:12:51.115980
0:00:38.267144

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
914,2001914,20180531,7.67,7.79,7.6,7.73,7.67,0.986228,0.007823,-0.038557,0.01265,0.013278,2260986.0,17439552.56,0.003391,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.680380
no massive missing
0:02:30.716995

20180531

SZ finished
0:01:08.678691
0:00:41.261108
20180601 unzip finished
0:00:51.676116
0:01:43.426758
1
2
3
4
5
6
7
8
0:13:04.645651
0:00:37.463808

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
919,2001914,20180601,7.83,8.26,7.71,7.96,7.73,0.986228,0.029754,-0.017284,-0.012053,-0.011312,5658286.0,45600909.53,0.008486,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.836703
no massive missing
0:02:37.348443

20180601

SZ finished
0:01:19.957068
0:00:38.560013
20180604 unzip finished
0:00:46.469824
0:01:35.301681
1
2
3
4
5
6
7
8
0:12:14.976359
0:00:34.510238

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
918,2001914,20180604,7.86,8.0,7.85,7.92,7.96,0.986228,-0.005025,0.017995,-0.000346,-0.004504,1797900.0,14231945.0,0.002696,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.644973
no massive missing
0:02:24.202103

20180604

SZ finished
0:01:20.119086
0:00:38.524940
20180605 unzip finished
0:00:47.847814
0:01:35.896797
1
2
3
4
5
6
7
8
0:12:46.039126
0:00:37.197589

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
918,2001914,20180605,7.85,7.98,7.85,7.96,7.92,0.986228,0.005051,0.014013,0.01688,0.016219,2027172.0,16059291.46,0.00304,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.868989
no massive missing
0:02:31.082236

20180605

SZ finished
0:01:03.215662
0:00:38.809286
20180606 unzip finished
0:00:48.754286
0:01:37.795096
1
2
3
4
5
6
7
8
0:12:51.164690
0:00:36.104675

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
917,2001914,20180606,7.9,8.02,7.84,8.0,7.86,0.973838,0.017812,0.056295,-0.000834,0.000642,2321471.0,18442573.75,0.003481,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.697198
no massive missing
0:02:33.893849

20180606

SZ finished
0:01:12.795989
0:00:41.336360
20180607 unzip finished
0:00:49.119347
0:01:45.921801
1
2
3
4
5
6
7
8
0:13:29.661385
0:00:34.701606

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
913,2001914,20180607,7.95,8.15,7.94,8.08,8.0,0.973838,0.01,0.058577,-0.006276,-0.007213,3441897.0,27678331.89,0.005162,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.576188
no massive missing
0:02:32.130591

20180607

SZ finished
0:01:14.858836
0:00:43.257026
20180608 unzip finished
0:00:54.098721
0:01:52.238084
1
2
3
4
5
6
7
8
0:13:34.250279
0:00:36.336782

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
912,2001914,20180608,8.08,8.13,7.88,7.92,8.08,0.973838,-0.019802,0.007634,-0.011975,-0.010985,2211968.0,17685150.29,0.003317,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.870841
no massive missing
0:02:34.790783

20180608

SZ finished
0:01:23.229662
0:00:40.340142
20180611 unzip finished
0:00:51.440795
0:01:44.718423
1
2
3
4
5
6
7
8
0:12:48.718902
0:00:36.188984

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
919,2001914,20180611,7.93,7.94,7.78,7.87,7.92,0.973838,-0.006313,0.006329,-0.006517,-0.008704,1085039.0,8537293.75,0.001627,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:06.124151
no massive missing
0:02:27.180390

20180611

SZ finished
0:01:04.788815
0:00:42.769476
20180612 unzip finished
0:00:51.672262
0:01:44.891780
1
2
3
4
5
6
7
8
0:13:21.872926
0:00:37.285416

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
917,2001914,20180612,7.84,7.99,7.8,7.98,7.87,0.973838,0.013977,0.015267,0.010828,0.007675,1817439.0,14403838.29,0.002726,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.567956
no massive missing
0:02:27.756797

20180612

SZ finished
0:01:07.939610
0:00:39.811703
20180613 unzip finished
0:00:46.562308
0:01:44.460045
1
2
3
4
5
6
7
8
0:12:48.703791
0:00:33.573146

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
917,2001914,20180613,7.85,7.95,7.74,7.77,7.98,0.973838,-0.026316,-0.02875,-0.015163,-0.01723,1664801.0,13063923.82,0.002497,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.375873
no massive missing
0:02:28.938915

20180613

SZ finished
0:01:04.494402
0:00:41.277112
20180614 unzip finished
0:00:48.829937
0:01:42.536308
1
2
3
4
5
6
7
8
0:12:29.838490
0:00:32.429624

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
913,2001914,20180614,7.77,7.84,7.7,7.71,7.77,0.973838,-0.007722,-0.045792,-0.003582,-0.005288,1709641.0,13252524.73,0.002564,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.167912
no massive missing
0:02:32.358386

20180614

SZ finished
0:01:11.755068
0:00:44.167224
20180615 unzip finished
0:00:52.181259
0:01:51.480909
1
2
3
4
5
6
7
8
0:13:34.668229
0:00:40.405682

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
911,2001914,20180615,7.71,8.01,7.67,7.9,7.71,0.973838,0.024643,-0.002525,-0.018434,-0.021791,3561635.0,27904669.29,0.005341,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.792217
no massive missing
0:02:38.193341

20180615

SZ finished
0:01:14.098764
0:00:47.415812
20180619 unzip finished
0:00:53.613243
0:01:58.782596
1
2
3
4
5
6
7
8
0:14:32.665064
0:00:38.042990

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
901,2001914,20180619,7.8,7.8,7.11,7.14,7.9,0.973838,-0.096203,-0.092757,-0.062407,-0.068411,4639053.0,34080020.53,0.006957,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.969824
no massive missing
0:02:58.773723

20180619

SZ finished
0:01:19.105760
0:00:51.171746
20180620 unzip finished
0:00:56.615251
0:01:51.884217
1
2
3

In [1]:
import pymongo
import pandas as pd
import pickle
import datetime
import time
import gzip
import lzma
import pytz


def DB(host, db_name, user, passwd):
    auth_db = db_name if user not in ('admin', 'root') else 'admin'
    uri = 'mongodb://%s:%s@%s/?authSource=%s' % (user, passwd, host, auth_db)
    return DBObj(uri, db_name=db_name)


class DBObj(object):
    def __init__(self, uri, symbol_column='skey', db_name='white_db'):
        self.db_name = db_name
        self.uri = uri
        self.client = pymongo.MongoClient(self.uri)
        self.db = self.client[self.db_name]
        self.chunk_size = 20000
        self.symbol_column = symbol_column
        self.date_column = 'date'

    def parse_uri(self, uri):
        # mongodb://user:password@example.com
        return uri.strip().replace('mongodb://', '').strip('/').replace(':', ' ').replace('@', ' ').split(' ')

    def drop_table(self, table_name):
        self.db.drop_collection(table_name)

    def rename_table(self, old_table, new_table):
        self.db[old_table].rename(new_table)

    def write(self, table_name, df):
        if len(df) == 0: return

        multi_date = False

        if self.date_column in df.columns:
            date = str(df.head(1)[self.date_column].iloc[0])
            multi_date = len(df[self.date_column].unique()) > 1
        else:
            raise Exception('DataFrame should contain date column')

        collection = self.db[table_name]
        collection.create_index([('date', pymongo.ASCENDING), ('symbol', pymongo.ASCENDING)], background=True)
        collection.create_index([('symbol', pymongo.ASCENDING), ('date', pymongo.ASCENDING)], background=True)

        if multi_date:
            for (date, symbol), sub_df in df.groupby([self.date_column, self.symbol_column]):
                date = str(date)
                symbol = int(symbol)
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)
        else:
            for symbol, sub_df in df.groupby([self.symbol_column]):
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)

    def write_single(self, collection, date, symbol, df):
        for start in range(0, len(df), self.chunk_size):
            end = min(start + self.chunk_size, len(df))
            df_seg = df[start:end]
            version = 1
            seg = {'ver': version, 'data': self.ser(df_seg, version), 'date': date, 'symbol': symbol, 'start': start}
            collection.insert_one(seg)

    def build_query(self, start_date=None, end_date=None, symbol=None):
        query = {}

        def parse_date(x):
            if type(x) == str:
                if len(x) != 8:
                    raise Exception("`date` must be YYYYMMDD format")
                return x
            elif type(x) == datetime.datetime or type(x) == datetime.date:
                return x.strftime("%Y%m%d")
            elif type(x) == int:
                return parse_date(str(x))
            else:
                raise Exception("invalid `date` type: " + str(type(x)))

        if start_date is not None or end_date is not None:
            query['date'] = {}
            if start_date is not None:
                query['date']['$gte'] = parse_date(start_date)
            if end_date is not None:
                query['date']['$lte'] = parse_date(end_date)

        def parse_symbol(x):
            if type(x) == int:
                return x
            else:
                return int(x)

        if symbol:
            if type(symbol) == list or type(symbol) == tuple:
                query['symbol'] = {'$in': [parse_symbol(x) for x in symbol]}
            else:
                query['symbol'] = parse_symbol(symbol)

        return query

    def delete(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot delete the whole table')
            return None

        collection.delete_many(query)

    def read(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot read the whole table')
            return None

        segs = []
        for x in collection.find(query):
            x['data'] = self.deser(x['data'], x['ver'])
            segs.append(x)
        segs.sort(key=lambda x: (x['symbol'], x['date'], x['start']))
        return pd.concat([x['data'] for x in segs], ignore_index=True) if segs else None

    def list_tables(self):
        return self.db.collection_names()

    def list_dates(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]
        dates = set()
        if start_date is None:
            start_date = '00000000'
        if end_date is None:
            end_date = '99999999'
        for x in collection.find(self.build_query(start_date, end_date, symbol), {"date": 1, '_id': 0}):
            dates.add(x['date'])
        return sorted(list(dates))

    def ser(self, s, version):
        pickle_protocol = 4
        if version == 1:
            return gzip.compress(pickle.dumps(s, protocol=pickle_protocol), compresslevel=2)
        elif version == 2:
            return lzma.compress(pickle.dumps(s, protocol=pickle_protocol), preset=1)
        else:
            raise Exception('unknown version')

    def deser(self, s, version):
        def unpickle(s):
            return pickle.loads(s)

        if version == 1:
            return unpickle(gzip.decompress(s))
        elif version == 2:
            return unpickle(lzma.decompress(s))
        else:
            raise Exception('unknown version')


def patch_pandas_pickle():
    if pd.__version__ < '0.24':
        import sys
        from types import ModuleType
        from pandas.core.internals import BlockManager
        pkg_name = 'pandas.core.internals.managers'
        if pkg_name not in sys.modules:
            m = ModuleType(pkg_name)
            m.BlockManager = BlockManager
            sys.modules[pkg_name] = m
patch_pandas_pickle()












import pandas as pd
import random
import numpy as np
import glob
import os
import pickle
import datetime
import time
pd.set_option("max_columns", 200)

startTm = datetime.datetime.now()
readPath = '/home/work516/day_stock/***'
dataPathLs = np.array(glob.glob(readPath))
dataPathLs = dataPathLs[[np.array([os.path.basename(i).split('.')[0][:2] == 'SZ' for i in dataPathLs])]]
db = pd.DataFrame()
for p in dataPathLs:
    dayData = pd.read_csv(p, compression='gzip')
    db = pd.concat([db, dayData])
print(datetime.datetime.now() - startTm)

year = "2018"
startDate = '20180620'
endDate = '20181231'
readPath = '/mnt/usb/data/' + year + '/***/***'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([os.path.basename(i).split('_')[0] for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]
date_list = pd.read_csv("/home/work516/KR_upload_code/trading_days.csv")
wr_ong = []
mi_ss = []
less = []

for data in dataPathLs:    
    
    if len(np.array(glob.glob(data + '/SZ/***'))) == 0:
        if int(os.path.basename(data)) not in date_list["Date"].values:
            continue
        else:
            print(os.path.basename(data) + " less data!!!!!!!!!!!!!!!!!")
            less.append(data)
            continue
    startTm = datetime.datetime.now()
    date = os.path.basename(data)
    rar_path = data + '/SZ/snapshot.7z'
    path = '/mnt/e/unzip_data/2018/SZ'
    path1 = path + '/' + date
    un_path = path1
    cmd = '7za x {} -o{}'.format(rar_path, un_path)
    os.system(cmd)
    print(datetime.datetime.now() - startTm)
    print(date + ' unzip finished')
    
    readPath = path1 + '/snapshot/***2/***'
    dataPathLs = np.array(glob.glob(readPath))
    dateLs = np.array([int(os.path.basename(i).split('.')[0]) for i in dataPathLs])
    dataPathLs = dataPathLs[(dateLs < 4000) | ((dateLs > 300000) & (dateLs < 310000))]
    SZ = []
    ll = []
    startTm = datetime.datetime.now()
    for i in dataPathLs:
        try:
            df = pd.read_csv(i, usecols = [0,1,4,5,6,7,9,12,17,18,19,24,25,26,28,29,30,32,33,34,35])
        except:
            print("empty data")
            print(i)
            ll.append(int(os.path.basename(i).split('.')[0]))
            continue
        df["StockID"] = int(os.path.basename(i).split('.')[0])
        SZ += [df]
    del df
    SZ = pd.concat(SZ).reset_index(drop=True)
    print(datetime.datetime.now() - startTm)
    
    startTm = datetime.datetime.now()
    SZ["skey"] = SZ["StockID"] + 2000000
    SZ.drop(["StockID"],axis=1,inplace=True)
    SZ["date"] = int(SZ["QuotTime"].iloc[0]//1000000000)
    SZ["time"] = (SZ['QuotTime'] - int(SZ['QuotTime'].iloc[0]//1000000000*1000000000)).astype(np.int64) * 1000
    SZ["clockAtArrival"] = SZ["QuotTime"].astype(str).apply(lambda x: np.int64(datetime.datetime.strptime(x, '%Y%m%d%H%M%S%f').timestamp()*1e6))
    SZ['datetime'] = SZ["clockAtArrival"].apply(lambda x: datetime.datetime.fromtimestamp(x/1e6))
    SZ.drop(["QuotTime"],axis=1,inplace=True)
    print(datetime.datetime.now() - startTm)
    
    startTm = datetime.datetime.now()
    SZ["BidPrice"] = SZ["BidPrice"].apply(lambda x: [float(i) for i in x[1:-1].split(',')])
    SZ["OfferPrice"] = SZ["OfferPrice"].apply(lambda x: [float(i) for i in x[1:-1].split(',')])
    SZ["BidOrderQty"] = SZ["BidOrderQty"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["OfferOrderQty"] = SZ["OfferOrderQty"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["BidNumOrders"] = SZ["BidNumOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["OfferNumOrders"] = SZ["OfferNumOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])

    for i in range(1, 11):
        SZ["bid" + str(i) + 'p'] = SZ["BidPrice"].apply(lambda x: x[i-1],2)
    SZ.drop(["BidPrice"],axis=1,inplace=True)
    print("1")
    for i in range(1, 11):
        SZ["ask" + str(i) + 'p'] = SZ["OfferPrice"].apply(lambda x: x[i-1],2)
    SZ.drop(["OfferPrice"],axis=1,inplace=True)
    print("2")
    for i in range(1, 11):
        SZ["bid" + str(i) + 'q'] = SZ["BidOrderQty"].apply(lambda x: x[i-1])
    SZ.drop(["BidOrderQty"],axis=1,inplace=True)
    print("3")
    for i in range(1, 11):
        SZ["ask" + str(i) + 'q'] = SZ["OfferOrderQty"].apply(lambda x: x[i-1])
    SZ.drop(["OfferOrderQty"],axis=1,inplace=True)
    print("4")
    for i in range(1, 11):
        SZ["bid" + str(i) + 'n'] = SZ["BidNumOrders"].apply(lambda x: x[i-1])
        SZ["bid" + str(i) + 'n'] = SZ["bid" + str(i) + 'n'].astype('int32')
    SZ.drop(["BidNumOrders"],axis=1,inplace=True)
    print("5")
    for i in range(1, 11):
        SZ["ask" + str(i) + 'n'] = SZ["OfferNumOrders"].apply(lambda x: x[i-1])
        SZ["ask" + str(i) + 'n'] = SZ["ask" + str(i) + 'n'].astype('int32') 
    SZ.drop(["OfferNumOrders"],axis=1,inplace=True)
    print("6")
    
    SZ["BidOrders"] = SZ["BidOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["OfferOrders"] = SZ["OfferOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])

    for i in range(1, 51):
        SZ["bid1Top" + str(i) + 'q'] = SZ["BidOrders"].apply(lambda x: x[i-1])
        SZ["bid1Top" + str(i) + 'q'] = SZ["bid1Top" + str(i) + 'q'].astype('int32') 
    SZ.drop(["BidOrders"],axis=1,inplace=True)
    print("7")
    
    for i in range(1, 51):
        SZ["ask1Top" + str(i) + 'q'] = SZ["OfferOrders"].apply(lambda x: x[i-1])
        SZ["ask1Top" + str(i) + 'q'] = SZ["ask1Top" + str(i) + 'q'].astype('int32') 
    SZ.drop(["OfferOrders"],axis=1,inplace=True)
    print("8")
    print(datetime.datetime.now() - startTm)
        
    
    startTm = datetime.datetime.now()
    SZ.columns = ['cum_trades_cnt', 'total_bid_quantity', 'total_ask_quantity', 'close',
       'total_ask_vwap', 'cum_amount', 'cum_volume', 'open', 'high',
       'prev_close', 'low', 'total_bid_vwap', 'skey', 'date', 'time',
       'clockAtArrival', 'datetime', 'bid1p', 'bid2p', 'bid3p', 'bid4p',
       'bid5p', 'bid6p', 'bid7p', 'bid8p', 'bid9p', 'bid10p', 'ask1p',
       'ask2p', 'ask3p', 'ask4p', 'ask5p', 'ask6p', 'ask7p', 'ask8p',
       'ask9p', 'ask10p', 'bid1q', 'bid2q', 'bid3q', 'bid4q', 'bid5q',
       'bid6q', 'bid7q', 'bid8q', 'bid9q', 'bid10q', 'ask1q', 'ask2q',
       'ask3q', 'ask4q', 'ask5q', 'ask6q', 'ask7q', 'ask8q', 'ask9q',
       'ask10q', 'bid1n', 'bid2n', 'bid3n', 'bid4n', 'bid5n', 'bid6n',
       'bid7n', 'bid8n', 'bid9n', 'bid10n', 'ask1n', 'ask2n', 'ask3n',
       'ask4n', 'ask5n', 'ask6n', 'ask7n', 'ask8n', 'ask9n', 'ask10n',
       'bid1Top1q', 'bid1Top2q', 'bid1Top3q', 'bid1Top4q', 'bid1Top5q',
       'bid1Top6q', 'bid1Top7q', 'bid1Top8q', 'bid1Top9q', 'bid1Top10q',
       'bid1Top11q', 'bid1Top12q', 'bid1Top13q', 'bid1Top14q',
       'bid1Top15q', 'bid1Top16q', 'bid1Top17q', 'bid1Top18q',
       'bid1Top19q', 'bid1Top20q', 'bid1Top21q', 'bid1Top22q',
       'bid1Top23q', 'bid1Top24q', 'bid1Top25q', 'bid1Top26q',
       'bid1Top27q', 'bid1Top28q', 'bid1Top29q', 'bid1Top30q',
       'bid1Top31q', 'bid1Top32q', 'bid1Top33q', 'bid1Top34q',
       'bid1Top35q', 'bid1Top36q', 'bid1Top37q', 'bid1Top38q',
       'bid1Top39q', 'bid1Top40q', 'bid1Top41q', 'bid1Top42q',
       'bid1Top43q', 'bid1Top44q', 'bid1Top45q', 'bid1Top46q',
       'bid1Top47q', 'bid1Top48q', 'bid1Top49q', 'bid1Top50q',
       'ask1Top1q', 'ask1Top2q', 'ask1Top3q', 'ask1Top4q', 'ask1Top5q',
       'ask1Top6q', 'ask1Top7q', 'ask1Top8q', 'ask1Top9q', 'ask1Top10q',
       'ask1Top11q', 'ask1Top12q', 'ask1Top13q', 'ask1Top14q',
       'ask1Top15q', 'ask1Top16q', 'ask1Top17q', 'ask1Top18q',
       'ask1Top19q', 'ask1Top20q', 'ask1Top21q', 'ask1Top22q',
       'ask1Top23q', 'ask1Top24q', 'ask1Top25q', 'ask1Top26q',
       'ask1Top27q', 'ask1Top28q', 'ask1Top29q', 'ask1Top30q',
       'ask1Top31q', 'ask1Top32q', 'ask1Top33q', 'ask1Top34q',
       'ask1Top35q', 'ask1Top36q', 'ask1Top37q', 'ask1Top38q',
       'ask1Top39q', 'ask1Top40q', 'ask1Top41q', 'ask1Top42q',
       'ask1Top43q', 'ask1Top44q', 'ask1Top45q', 'ask1Top46q',
       'ask1Top47q', 'ask1Top48q', 'ask1Top49q', 'ask1Top50q']
    
    SZ = SZ.fillna(0)
#     SZ["p1"] = SZ["bid1p"] + SZ["ask1p"]
#     tt = SZ[(SZ["cum_volume"] > 0) & (SZ["time"] < 145700000000)].groupby("skey")['p1'].min()
#     SZ.drop("p1", axis=1, inplace=True)
#     try:
#         assert(tt[tt == 0].shape[0] == 0)
#     except:
#         display(tt[tt == 0])
#     SZ = SZ[~((SZ["bid1p"] == 0) & (SZ["ask1p"] == 0))]
    SZ["ordering"] = SZ.groupby("skey").cumcount()
    SZ["ordering"] = SZ["ordering"] + 1

    for cols in ["total_bid_orders",'total_ask_orders','total_bid_levels', 'total_ask_levels', 'bid_trade_max_duration',
                 'ask_trade_max_duration', 'cum_canceled_buy_orders', 'cum_canceled_buy_volume', "cum_canceled_buy_amount",
                 "cum_canceled_sell_orders", 'cum_canceled_sell_volume',"cum_canceled_sell_amount", "has_missing"]:
        SZ[cols] = 0
        
#     for col in ["cum_volume", "total_bid_quantity", "total_ask_quantity",'cum_canceled_buy_volume',
#         'cum_canceled_sell_volume']:
#         SZ[col] = SZ[col].astype('int64')
    
    for col in ["skey", "date", "cum_trades_cnt", "total_bid_orders",
        'total_ask_orders', 'total_bid_levels', 'total_ask_levels', 'cum_canceled_buy_orders','cum_canceled_sell_orders',
            "ordering", 'bid_trade_max_duration', 'ask_trade_max_duration','has_missing']:
        SZ[col] = SZ[col].astype('int32')
    
        
#     for cols in ["prev_close", 'open', "high", "low", "close", 'bid10p','bid9p','bid8p','bid7p','bid6p','bid5p','bid4p','bid3p',
#              'bid2p','bid1p','ask1p','ask2p','ask3p','ask4p','ask5p','ask6p','ask7p','ask8p','ask9p','ask10p', 'total_bid_vwap', "total_ask_vwap",
#                 "cum_amount"]:
# #         SZ[cols] = SZ[cols].apply(lambda x: round(x, 2)).astype('float64')
#         print(cols)
#         print(SZ[cols].astype(str).apply(lambda x: len(str(x.split('.')[1]))).unique())

        
    for cols in ["cum_canceled_sell_amount", "cum_canceled_buy_amount"]:
        SZ[cols] = SZ[cols].astype('float64')

        
    assert(sum(SZ[SZ["open"] != 0].groupby("skey")["open"].nunique() != 1) == 0)
    assert(sum(SZ[SZ["prev_close"] != 0].groupby("skey")["prev_close"].nunique() != 1) == 0)
    SZ["prev_close"] = np.where(SZ["time"] >= 91500000000, SZ.groupby("skey")["prev_close"].transform("max"), SZ["prev_close"]) 
    SZ["open"] = np.where(SZ["cum_volume"] > 0, SZ.groupby("skey")["open"].transform("max"), SZ["open"])
    assert(sum(SZ[SZ["open"] != 0].groupby("skey")["open"].nunique() != 1) == 0)
    assert(sum(SZ[SZ["prev_close"] != 0].groupby("skey")["prev_close"].nunique() != 1) == 0)
    assert(SZ[SZ["cum_volume"] > 0]["open"].min() > 0)
    
    print(datetime.datetime.now() - startTm)
    
    
    # check 1
    startTm = datetime.datetime.now()
    da_te = str(SZ["date"].iloc[0]) 
    da_te = da_te[:4] + '-' + da_te[4:6] + '-' + da_te[6:8]
    db1 = db[db["date"] == da_te]
    db1["ID"] = db1["ID"].str[2:].astype(int) + 2000000
    db1["date"] = (db1["date"].str[:4] + db1["date"].str[5:7] + db1["date"].str[8:]).astype(int)
    SZ["cum_max"] = SZ.groupby("skey")["cum_volume"].transform(max)
    s2 = SZ[SZ["cum_volume"] == SZ["cum_max"]].groupby("skey").first().reset_index()
    SZ.drop("cum_max", axis=1, inplace=True)
    s2 = s2.rename(columns={"skey": "ID", 'open':"d_open", "prev_close":"d_yclose","high":"d_high", "low":"d_low", "close":"d_close", "cum_volume":"d_volume", "cum_amount":"d_amount"})
    s2 = s2[["ID", "date", "d_open", "d_yclose", "d_high", "d_low", "d_close", "d_volume", "d_amount"]]
    re = pd.merge(db1, s2, on=["ID", "date", "d_open", "d_yclose","d_high", "d_low", "d_volume"], how="outer")
    try:
        assert(sum(re["d_amount_y"].isnull()) == 0)
    except:
        display(re[re["d_amount_y"].isnull()])
        wr_ong += [re[re["d_amount_y"].isnull()]]
    del re
    del s2
    del db1
    print(datetime.datetime.now() - startTm)
    
    # check 2
    # first part
    startTm = datetime.datetime.now()
    date = pd.DataFrame(pd.date_range(start='2019-06-10 08:30:00', end='2019-06-10 18:00:00', freq='s'), columns=["Orig"])
    date["time"] = date["Orig"].apply(lambda x: int(x.strftime("%H%M%S"))*1000)
    date["group"] = date["time"]//10000
    SZ["group"] = SZ["time"]//10000000
    gl = date[((date["time"] >= 93000000) & (date["time"] <= 113000000))|((date["time"] >= 130000000) & (date["time"] <= 150000000))]["group"].unique()
    l = set(gl) - set(SZ["group"].unique())
    SZ["has_missing1"] = 0 
    if len(l) != 0:
        print("massive missing")
        print(l)
        SZ["order"] = SZ.groupby(["skey", "time"]).cumcount()
        for i in l:
            SZ["t"] = SZ[SZ["group"] > i].groupby("skey")["time"].transform("min")
            SZ["has_missing1"] = np.where((SZ["time"] == SZ["t"]) & (SZ["order"] == 0), 1, 0)
        SZ.drop(["order", "t", "group"], axis=1, inplace=True)   
    else:
        print("no massive missing")
        SZ.drop(["group"], axis=1, inplace=True)
    



    # second part

    SZ["time_interval"] = SZ.groupby("skey")["datetime"].apply(lambda x: x - x.shift(1))
    SZ["time_interval"] = SZ["time_interval"].apply(lambda x: x.seconds)
    SZ["tn_update"] = SZ.groupby("skey")["cum_trades_cnt"].apply(lambda x: x-x.shift(1))

    f1 = SZ[(SZ["time"] >= 93000000000) & (SZ["tn_update"] != 0)].groupby("skey")["time"].min().reset_index()
    f1 = f1.rename(columns={"time": "time1"})
    f2 = SZ[(SZ["time"] >= 130000000000) & (SZ["tn_update"] != 0)].groupby("skey")["time"].min().reset_index()
    f2 = f2.rename(columns={"time": "time2"})
    f3 = SZ[(SZ["time"] >= 150000000000) & (SZ["tn_update"] != 0)].groupby("skey")["time"].min().reset_index()
    f3 = f3.rename(columns={"time": "time3"})
    SZ = pd.merge(SZ, f1, on="skey", how="left")
    del f1
    SZ = pd.merge(SZ, f2, on="skey", how="left")
    del f2
    SZ = pd.merge(SZ, f3, on="skey", how="left")
    del f3
    p99 = SZ[(SZ["time"] > 93000000000) & (SZ["time"] < 145700000000) & (SZ["time"] != SZ["time2"]) & (SZ["tn_update"] != 0)]\
    .groupby("skey")["tn_update"].apply(lambda x: x.describe([0.99])["99%"]).reset_index()
    p99 = p99.rename(columns={"tn_update":"99%"})
    SZ = pd.merge(SZ, p99, on="skey", how="left")

    SZ["has_missing2"] = 0
    SZ["has_missing2"] = np.where((SZ["time_interval"] > 60) & (SZ["tn_update"] > SZ["99%"]) & 
         (SZ["time"] > SZ["time1"]) & (SZ["time"] != SZ["time2"]) & (SZ["time"] != SZ["time3"])& (SZ["time"] != 100000000000), 1, 0)
    SZ.drop(["time_interval", "tn_update", "time1", "time2", "time3", "99%"], axis=1, inplace=True) 

    SZ["has_missing"] = np.where((SZ["has_missing1"] == 1) | (SZ["has_missing2"] == 1), 1, 0)
    SZ.drop(["has_missing1", "has_missing2"], axis=1, inplace=True) 
    if SZ[SZ["has_missing"] == 1].shape[0] != 0:
        print("has missing!!!!!!!!!!!!!!!!!!!!!!!")
        print(SZ[SZ["has_missing"] == 1].shape[0])
        mi_ss += [SZ[SZ["has_missing"] == 1]]
    print(datetime.datetime.now() - startTm)

    
    
    startTm = datetime.datetime.now()
    SZ["has_missing"] = SZ["has_missing"].astype('int32')
    SZ = SZ[["skey", "date", "time", "clockAtArrival", "datetime", "ordering", "has_missing", "cum_trades_cnt", "cum_volume", "cum_amount", "prev_close",
                            "open", "high", "low", "close", 'bid10p','bid9p','bid8p','bid7p','bid6p','bid5p','bid4p','bid3p','bid2p','bid1p',
                            'ask1p','ask2p','ask3p','ask4p','ask5p','ask6p','ask7p','ask8p','ask9p','ask10p', 'bid10q','bid9q','bid8q',
                             'bid7q','bid6q','bid5q','bid4q','bid3q','bid2q','bid1q', 'ask1q','ask2q','ask3q','ask4q','ask5q','ask6q',
                             'ask7q','ask8q','ask9q','ask10q', 'bid10n', 'bid9n', 'bid8n', 'bid7n', 'bid6n', 'bid5n', 'bid4n', 'bid3n', 'bid2n', 'bid1n', 
                             'ask1n', 'ask2n', 'ask3n', 'ask4n', 'ask5n', 'ask6n','ask7n', 'ask8n', 'ask9n', 'ask10n','bid1Top1q','bid1Top2q','bid1Top3q','bid1Top4q','bid1Top5q','bid1Top6q',
        'bid1Top7q','bid1Top8q','bid1Top9q','bid1Top10q','bid1Top11q','bid1Top12q','bid1Top13q','bid1Top14q','bid1Top15q','bid1Top16q','bid1Top17q','bid1Top18q',
        'bid1Top19q','bid1Top20q','bid1Top21q','bid1Top22q','bid1Top23q','bid1Top24q','bid1Top25q','bid1Top26q','bid1Top27q','bid1Top28q','bid1Top29q',
        'bid1Top30q','bid1Top31q','bid1Top32q','bid1Top33q','bid1Top34q','bid1Top35q','bid1Top36q','bid1Top37q','bid1Top38q','bid1Top39q','bid1Top40q',
        'bid1Top41q','bid1Top42q','bid1Top43q','bid1Top44q','bid1Top45q','bid1Top46q','bid1Top47q','bid1Top48q','bid1Top49q','bid1Top50q', 'ask1Top1q',
        'ask1Top2q','ask1Top3q','ask1Top4q','ask1Top5q','ask1Top6q','ask1Top7q','ask1Top8q','ask1Top9q','ask1Top10q','ask1Top11q','ask1Top12q','ask1Top13q',
        'ask1Top14q','ask1Top15q','ask1Top16q','ask1Top17q','ask1Top18q','ask1Top19q','ask1Top20q','ask1Top21q','ask1Top22q','ask1Top23q',
        'ask1Top24q','ask1Top25q','ask1Top26q','ask1Top27q','ask1Top28q','ask1Top29q','ask1Top30q','ask1Top31q','ask1Top32q','ask1Top33q',
        'ask1Top34q','ask1Top35q','ask1Top36q','ask1Top37q','ask1Top38q','ask1Top39q','ask1Top40q','ask1Top41q','ask1Top42q','ask1Top43q',
        'ask1Top44q','ask1Top45q','ask1Top46q','ask1Top47q','ask1Top48q','ask1Top49q','ask1Top50q',"total_bid_quantity", "total_ask_quantity","total_bid_vwap", "total_ask_vwap",
        "total_bid_orders",'total_ask_orders','total_bid_levels', 'total_ask_levels', 'bid_trade_max_duration', 'ask_trade_max_duration', 'cum_canceled_buy_orders', 'cum_canceled_buy_volume',
        "cum_canceled_buy_amount", "cum_canceled_sell_orders", 'cum_canceled_sell_volume',"cum_canceled_sell_amount"]]
    
    display(SZ["date"].iloc[0])
    print("SZ finished")
    
    
    database_name = 'com_md_eq_cn'
    user = "zhenyuy"
    password = "bnONBrzSMGoE"

    db1 = DB("192.168.10.223", database_name, user, password)
    db1.write('md_snapshot_l2', SZ)
    
    del SZ
    print(datetime.datetime.now() - startTm)

wr_ong = pd.concat(wr_ong).reset_index(drop=True)
print(wr_ong)
mi_ss = pd.concat(mi_ss).reset_index(drop=True)
print(mi_ss)

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:203: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.

0:05:29.547306
0:00:48.598584
20180620 unzip finished
0:00:46.787924
0:01:37.442855
1
2
3
4
5
6
7
8
0:12:20.978072
0:00:34.889698

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
902,2001914,20180620,7.05,7.29,6.98,7.22,7.14,0.973838,0.011204,-0.095238,0.011024,0.011904,3685500.0,26265733.95,0.005527,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:05.101868
no massive missing
0:02:33.443413

20180620

SZ finished
0:01:08.889122
0:00:48.021764
20180621 unzip finished
0:00:54.035136
0:01:48.976335
1
2
3
4
5
6
7
8
0:13:11.931171
0:00:34.783625

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
902,2001914,20180621,7.19,7.27,6.64,6.69,7.22,0.973838,-0.073407,-0.138996,-0.020995,-0.023506,4818697.0,33570356.13,0.007227,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.789598
no massive missing
0:02:28.772794

20180621

SZ finished
0:01:18.912921
0:00:40.225882
20180622 unzip finished
0:00:51.163657
0:01:41.401615
1
2
3
4
5
6
7
8
0:12:21.032546
0:00:39.527607

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
903,2001914,20180622,6.69,6.9,6.55,6.85,6.69,0.973838,0.023916,-0.111543,0.013926,0.015478,2597803.0,17659685.87,0.003896,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:06.952751
no massive missing
0:02:34.071681

20180622

SZ finished
0:01:05.751948
0:00:39.284343
20180625 unzip finished
0:00:46.858376
0:01:34.047588
1
2
3
4
5
6
7
8
0:11:38.800576
0:00:31.844683

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
908,2001914,20180625,6.94,6.97,6.82,6.85,6.85,0.973838,0.0,-0.132911,-0.0068,-0.005223,2064690.0,14223136.74,0.003096,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.816300
no massive missing
0:02:19.526786

20180625

SZ finished
0:01:20.857587
0:00:39.525465
20180626 unzip finished
0:00:51.374978
0:01:39.834502
1
2
3
4
5
6
7
8
0:12:26.090541
0:00:34.616865

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
909,2001914,20180626,6.8,6.99,6.75,6.91,6.85,0.973838,0.008759,-0.032213,0.006878,0.008396,2272795.0,15662292.31,0.003408,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:05.578624
no massive missing
0:02:27.424201

20180626

SZ finished
0:01:16.675961
0:01:01.589371
20180627 unzip finished
0:00:54.072699
0:01:40.336530
1
2
3
4
5
6
7
8
0:11:56.324039
0:00:35.489328

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
914,2001914,20180627,6.91,7.07,6.88,6.97,6.91,0.973838,0.008683,-0.034626,-0.009842,-0.008959,1948384.0,13550988.05,0.002922,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.936885
no massive missing
0:02:36.575930

20180627

SZ finished
0:01:09.075746
0:00:45.019964
20180628 unzip finished
0:00:49.224345
0:01:38.956281
1
2
3
4
5
6
7
8
0:11:41.219110
0:00:32.159226

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
915,2001914,20180628,6.95,7.19,6.9,7.14,6.97,0.973838,0.02439,0.067265,-0.010645,-0.011811,3482765.0,24678917.66,0.005223,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.340049
no massive missing
0:02:25.475771

20180628

SZ finished
0:01:01.816480
0:00:50.466734
20180629 unzip finished
0:00:48.046955
0:01:38.847765
1
2
3
4
5
6
7
8
0:12:13.965662
0:00:33.945177

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
917,2001914,20180629,7.1,7.2,7.0,7.09,7.14,0.973838,-0.007003,0.035036,0.032176,0.030252,3240147.0,23017448.05,0.004859,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.455383
no massive missing
0:02:26.843026

20180629

SZ finished
0:01:06.732813
0:00:41.267406
20180702 unzip finished
0:00:47.485773
0:01:36.405174
1
2
3
4
5
6
7
8
0:11:53.576446
0:00:33.723348

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
923,2001914,20180702,7.18,7.22,6.98,7.06,7.09,0.973838,-0.004231,0.030657,-0.015137,-0.01256,4106734.0,29080376.36,0.006159,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.397023
no massive missing
0:02:24.232364

20180702

SZ finished
0:01:05.472430
0:00:43.713318
20180703 unzip finished
0:00:49.806625
0:01:40.107134
1
2
3
4
5
6
7
8
0:12:30.283148
0:00:37.109791

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
927,2001914,20180703,7.04,7.12,6.92,7.07,7.06,0.973838,0.001416,0.023155,0.011355,0.011466,3916724.0,27493406.29,0.005874,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.925726
no massive missing
0:02:33.843860

20180703

SZ finished
0:01:23.975972
0:00:39.424361
20180704 unzip finished
0:00:45.629274
0:01:34.083636
1
2
3
4
5
6
7
8
0:11:47.411471
0:00:36.016652

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
926,2001914,20180704,7.06,7.08,6.91,6.91,7.07,0.973838,-0.022631,-0.008608,-0.014583,-0.018017,1872776.0,13108430.98,0.002809,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:05.247790
no massive missing
0:02:26.153840

20180704

SZ finished
0:01:15.339795
0:00:39.810810
20180705 unzip finished
0:00:46.834410
0:01:45.602240
1
2
3
4
5
6
7
8
0:11:36.182383
0:00:34.031523

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
927,2001914,20180705,6.96,7.01,6.6,6.63,6.91,0.973838,-0.040521,-0.071429,-0.027059,-0.026907,2946244.0,20025280.98,0.004418,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.383814
no massive missing
0:02:24.601523

20180705

SZ finished
0:01:05.170414
0:00:42.492712
20180706 unzip finished
0:00:49.372728
0:01:54.377252
1
2
3
4
5
6
7
8
0:12:28.273666
0:00:38.137605

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
930,2001914,20180706,6.76,6.86,6.58,6.84,6.63,0.973838,0.031674,-0.035261,0.002783,0.004095,3337957.0,22490452.86,0.005006,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.681598
no massive missing
0:02:34.530971

20180706

SZ finished
0:01:07.115657
0:00:38.273656
20180709 unzip finished
0:00:48.753759
0:01:50.370909
1
2
3
4
5
6
7
8
0:11:37.497415
0:00:35.674996

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
932,2001914,20180709,6.9,7.04,6.87,6.93,6.84,0.973838,0.013158,-0.018414,0.022199,0.021019,1954879.0,13588500.52,0.002932,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.338084
no massive missing
0:02:32.076231

20180709

SZ finished
0:01:19.278703
0:00:38.606981
20180710 unzip finished
0:00:47.138791
0:01:35.660736
1
2
3
4
5
6
7
8
0:11:37.773688
0:00:34.070372

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
550,2001872,20180710,20.55,24.46,20.54,21.33,22.82,0.905679,-0.065294,-0.088699,0.005674,0.006789,9757532.0,2.112768e+08,0.021003,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,464578359.0,644763730.0,NaN,NaN
932,2001914,20180710,6.89,7.08,6.89,7.08,6.93,0.973838,0.021645,0.001414,0.005674,0.006789,1804074.0,1.261478e+07,0.002706,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.289652
no massive missing
0:02:22.004437

20180710

SZ finished
0:01:01.029907
0:00:42.148013
20180711 unzip finished
0:00:47.918455
0:01:38.958577
1
2
3
4
5
6
7
8
0:12:16.185333
0:00:37.815641

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
549,2001872,20180711,20.57,20.63,19.31,19.32,21.33,0.905679,-0.094233,-0.167174,-0.019542,-0.023257,6303361.0,1.241230e+08,0.013568,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464578359.0,644763730.0,NaN,NaN
930,2001914,20180711,7.00,7.00,6.82,6.92,7.08,0.973838,-0.022599,0.001447,-0.019542,-0.023257,2691716.0,1.861207e+07,0.004037,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.874950
no massive missing
0:02:30.372136

20180711

SZ finished
0:01:13.661083
0:00:47.802525
20180712 unzip finished
0:00:51.893866
0:01:47.284496
1
2
3
4
5
6
7
8
0:13:05.723019
0:00:42.520081

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
549,2001872,20180712,18.99,19.90,18.81,19.31,19.32,0.905679,-0.000518,-0.159384,0.027074,0.026879,6644821.0,1.282735e+08,0.014303,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464578359.0,644763730.0,NaN,NaN
930,2001914,20180712,6.97,7.03,6.84,7.00,6.92,0.973838,0.011561,0.055807,0.027074,0.026879,2520002.0,1.760465e+07,0.003779,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:07.072387
no massive missing
0:02:42.566839

20180712

SZ finished
0:01:10.978953
0:00:38.839730
20180713 unzip finished
0:00:47.812701
0:01:37.950447
1
2
3
4
5
6
7
8
0:12:04.830912
0:00:36.350779

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
551,2001872,20180713,19.23,19.50,18.85,19.0,19.31,0.905679,-0.016054,-0.167397,0.006125,0.003668,4825692.0,92125320.02,0.010387,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464578359.0,644763730.0,NaN,NaN
932,2001914,20180713,7.04,7.68,6.99,7.3,7.00,0.973838,0.042857,0.067251,0.006125,0.003668,5819670.0,42331285.70,0.008728,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:06.090482
no massive missing
0:02:29.510853

20180713

SZ finished
0:01:08.535449
0:00:37.239645
20180716 unzip finished
0:00:48.784549
0:01:33.515319
1
2
3
4
5
6
7
8
0:11:54.520562
0:00:34.188326

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
553,2001872,20180716,19.06,19.36,18.91,19.28,19.0,0.905679,0.014737,-0.155127,-0.001727,0.000948,3511585.0,67334860.15,0.007559,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464578359.0,644763730.0,NaN,NaN
934,2001914,20180716,7.19,7.40,7.12,7.29,7.3,0.973838,-0.001370,0.051948,-0.001727,0.000948,3330237.0,24150874.00,0.004994,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.489739
no massive missing
0:02:29.249236

20180716

SZ finished
0:01:17.420671
0:00:37.061506
20180717 unzip finished
0:00:48.183703
0:01:36.013804
1
2
3
4
5
6
7
8
0:11:53.648602
0:00:35.918080

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
552,2001872,20180717,19.16,19.27,18.91,19.1,19.28,0.905679,-0.009336,-0.104548,0.000192,0.001529,2301390.0,43852490.6,0.004954,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464578359.0,644763730.0,NaN,NaN
933,2001914,20180717,7.25,7.42,7.18,7.3,7.29,0.973838,0.001372,0.031073,0.000192,0.001529,2147059.0,15747796.7,0.003220,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.708618
no massive missing
0:02:27.770450

20180717

SZ finished
0:01:17.144181
0:00:39.238501
20180718 unzip finished
0:00:47.993911
0:01:37.036327
1
2
3
4
5
6
7
8
0:12:10.647375
0:00:37.519551

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
553,2001872,20180718,19.09,19.15,18.60,18.66,19.1,0.905679,-0.023037,-0.034161,-0.007613,-0.005552,2663994.0,50426771.48,0.005734,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464578359.0,644763730.0,NaN,NaN
933,2001914,20180718,7.30,7.39,7.25,7.27,7.3,0.973838,-0.004110,0.050578,-0.007613,-0.005552,1844800.0,13466929.26,0.002767,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.708954
no massive missing
0:02:39.974232

20180718

SZ finished
0:01:34.765566
0:00:39.242326
20180719 unzip finished
0:00:49.430173
0:01:34.770313
1
2
3
4
5
6
7
8
0:12:20.201311
0:00:37.927809

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
554,2001872,20180719,18.74,18.78,17.30,17.39,18.66,0.905679,-0.068060,-0.099430,-0.008787,-0.011498,5099665.0,91113345.01,0.010977,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464578359.0,644763730.0,NaN,NaN
934,2001914,20180719,7.26,7.26,7.08,7.16,7.27,0.973838,-0.015131,0.022857,-0.008787,-0.011498,1971956.0,14147059.14,0.002957,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.702090
no massive missing
0:02:36.577147

20180719

SZ finished
0:01:06.074623
0:00:41.774293
20180720 unzip finished
0:00:47.332048
0:01:35.994940
1
2
3
4
5
6
7
8
0:12:18.154171
0:00:36.915386

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
557,2001872,20180720,17.57,17.59,16.92,17.32,17.39,0.905679,-0.004025,-0.088421,0.012506,0.011028,3451431.0,59756726.83,0.007429,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464578359.0,644763730.0,NaN,NaN
937,2001914,20180720,7.14,7.23,7.07,7.22,7.16,0.973838,0.008380,-0.010959,0.012506,0.011028,1535651.0,11015834.74,0.002303,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.821965
no massive missing
0:02:34.849209

20180720

SZ finished
0:01:07.585527
0:00:40.005626
20180723 unzip finished
0:00:50.098443
0:01:41.387853
1
2
3
4
5
6
7
8
0:12:45.690379
0:00:36.338102

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
557,2001872,20180723,17.32,17.75,17.32,17.60,17.32,0.905679,0.016166,-0.087137,0.007488,0.007416,4085850.0,71959906.12,0.008795,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464578359.0,644763730.0,NaN,NaN
937,2001914,20180723,7.19,7.40,7.16,7.35,7.22,0.973838,0.018006,0.008230,0.007488,0.007416,2102300.0,15381317.75,0.003153,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.726515
no massive missing
0:02:34.561988

20180723

SZ finished
0:01:10.793721
0:00:43.743712
20180724 unzip finished
0:00:52.839864
0:01:44.011896
1
2
3
4
5
6
7
8
0:13:42.204536
0:00:39.684370

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
556,2001872,20180724,17.50,19.19,17.43,18.57,17.60,0.905679,0.055114,-0.027749,0.017383,0.016107,6096015.0,1.116180e+08,0.013122,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464578359.0,644763730.0,NaN,NaN
936,2001914,20180724,7.31,7.45,7.31,7.43,7.35,0.973838,0.010884,0.017808,0.017383,0.016107,2357047.0,1.744835e+07,0.003535,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:05.196153
no massive missing
0:02:57.854952

20180724

SZ finished
0:01:09.209021
0:00:42.098775
20180725 unzip finished
0:00:52.220593
0:01:44.738110
1
2
3
4
5
6
7
8
0:12:38.616797
0:00:40.300826

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
556,2001872,20180725,18.21,18.72,18.21,18.47,18.57,0.905679,-0.005385,-0.010182,0.000757,0.002356,3870067.0,71356078.93,0.008330,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464578359.0,644763730.0,NaN,NaN
938,2001914,20180725,7.40,7.46,7.34,7.37,7.43,0.973838,-0.008075,0.013755,0.000757,0.002356,1759901.0,12984244.36,0.002639,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.896625
no massive missing
0:02:41.429425

20180725

SZ finished
0:01:09.866562
0:00:40.910402
20180726 unzip finished
0:00:52.370316
0:01:43.514975
1
2
3
4
5
6
7
8
0:13:00.358823
0:00:39.163859

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
557,2001872,20180726,18.46,18.95,18.32,18.62,18.47,0.905679,0.008121,0.07073,-0.006627,-0.003941,3908129.0,72978771.72,0.008412,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464578359.0,644763730.0,NaN,NaN
939,2001914,20180726,7.37,7.41,7.33,7.40,7.37,0.973838,0.004071,0.03352,-0.006627,-0.003941,1849501.0,13622100.35,0.002774,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:05.011431
no massive missing
0:02:43.274485

20180726

SZ finished
0:01:15.269795
0:00:39.754526
20180727 unzip finished
0:00:47.413084
0:01:51.362837
1
2
3
4
5
6
7
8
0:12:26.930737
0:00:35.856081

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
556,2001872,20180727,18.42,18.94,18.41,18.73,18.62,0.905679,0.005908,0.081409,-0.004587,-0.005818,3574536.0,66809164.28,0.007694,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464578359.0,644763730.0,NaN,NaN
938,2001914,20180727,7.44,7.44,7.31,7.37,7.40,0.973838,-0.004054,0.020776,-0.004587,-0.005818,1284481.0,9461092.12,0.001926,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.636284
no massive missing
0:02:27.814180

20180727

SZ finished
0:01:19.397672
0:00:41.366395
20180730 unzip finished
0:00:51.961758
0:01:42.144517
1
2
3
4
5
6
7
8
0:12:18.749661
0:00:37.342582

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
557,2001872,20180730,18.60,18.69,17.80,17.93,18.73,0.905679,-0.042712,0.018750,-0.012219,-0.01442,3035253.0,55448397.43,0.006533,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464578359.0,644763730.0,NaN,NaN
939,2001914,20180730,7.32,7.41,7.21,7.29,7.37,0.973838,-0.010855,-0.008163,-0.012219,-0.01442,2419900.0,17739258.85,0.003629,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.738542
no massive missing
0:02:31.284431

20180730

SZ finished
0:01:22.533963
0:00:36.967272
20180731 unzip finished
0:00:44.736280
0:01:30.819849
1
2
3
4
5
6
7
8
0:11:45.690190
0:00:35.223589

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
560,2001872,20180731,17.90,19.07,17.77,18.78,17.93,0.905679,0.047407,0.011309,0.000688,-0.00117,5751947.0,1.069749e+08,0.012381,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464578359.0,644763730.0,NaN,NaN
942,2001914,20180731,7.31,7.35,7.24,7.29,7.29,0.973838,0.000000,-0.018843,0.000688,-0.00117,1279220.0,9.328639e+06,0.001918,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.268658
no massive missing
0:02:21.127690

20180731

SZ finished
0:01:00.530441
0:00:39.359259
20180801 unzip finished
0:00:50.323771
0:01:38.265253
1
2
3
4
5
6
7
8
0:12:11.714537
0:00:35.777263

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
560,2001872,20180801,18.98,18.98,18.5,18.75,18.78,0.905679,-0.001597,0.015160,-0.016062,-0.015577,3828231.0,71628144.25,0.008240,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464578359.0,644763730.0,NaN,NaN
942,2001914,20180801,7.29,7.35,7.2,7.27,7.29,0.973838,-0.002743,-0.013569,-0.016062,-0.015577,1397428.0,10164113.67,0.002096,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.644023
no massive missing
0:02:26.033059

20180801

SZ finished
0:01:15.337291
0:00:49.051053
20180802 unzip finished
0:00:52.739704
0:01:59.854714
1
2
3
4
5
6
7
8
0:13:06.082104
0:00:39.341547

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
560,2001872,20180802,18.50,18.68,17.35,17.72,18.75,0.905679,-0.054933,-0.048335,-0.021421,-0.0239,3266657.0,58634604.48,0.007031,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464578359.0,644763730.0,NaN,NaN
944,2001914,20180802,7.27,7.27,6.77,6.92,7.27,0.973838,-0.048143,-0.064865,-0.021421,-0.0239,3349439.0,23273582.42,0.005023,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:05.073784
no massive missing
0:02:39.266001

20180802

SZ finished
0:01:08.418901
0:00:39.898542
20180803 unzip finished
0:00:47.220631
0:01:47.358089
1
2
3
4
5
6
7
8
0:11:47.078582
0:00:34.593938

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
561,2001872,20180803,17.97,18.20,17.72,17.74,17.72,0.905679,0.001129,-0.052856,-0.013263,-0.013176,2342461.0,42031273.89,0.005042,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464578359.0,644763730.0,NaN,NaN
946,2001914,20180803,6.91,6.98,6.82,6.92,6.92,0.973838,0.000000,-0.061058,-0.013263,-0.013176,1318272.0,9129648.80,0.001977,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.589171
no massive missing
0:02:33.989552

20180803

SZ finished
0:01:07.597006
0:00:40.309379
20180806 unzip finished
0:00:52.647608
0:01:49.785119
1
2
3
4
5
6
7
8
0:11:36.112412
0:00:35.854657

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
562,2001872,20180806,17.83,17.87,17.26,17.50,17.74,0.905679,-0.013529,-0.023982,-0.021198,-0.021118,1921196.0,33805504.25,0.004135,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464578359.0,644763730.0,NaN,NaN
947,2001914,20180806,6.90,6.95,6.78,6.83,6.92,0.973838,-0.013006,-0.063100,-0.021198,-0.021118,1810200.0,12397078.30,0.002715,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.538868
no massive missing
0:02:24.420088

20180806

SZ finished
0:01:01.569681
0:00:37.938743
20180807 unzip finished
0:00:48.690376
0:01:40.567781
1
2
3
4
5
6
7
8
0:12:07.081839
0:00:38.783163

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
563,2001872,20180807,17.53,18.19,17.53,18.14,17.50,0.905679,0.036571,-0.034079,0.027278,0.026241,2808485.0,50263793.24,0.006045,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464578359.0,644763730.0,NaN,NaN
949,2001914,20180807,6.84,6.97,6.80,6.96,6.83,0.973838,0.019034,-0.045267,0.027278,0.026241,1820400.0,12546810.00,0.002730,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.735713
no massive missing
0:02:27.318190

20180807

SZ finished
0:01:03.211885
0:00:38.914825
20180808 unzip finished
0:00:47.611117
0:01:36.428597
1
2
3
4
5
6
7
8
0:11:50.066835
0:00:37.267038

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
563,2001872,20180808,18.17,18.74,18.07,18.30,18.14,0.905679,0.008820,-0.024000,-0.015393,-0.01664,3023623.0,55679462.19,0.006508,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464578359.0,644763730.0,NaN,NaN
948,2001914,20180808,6.96,7.06,6.91,6.95,6.96,0.973838,-0.001437,-0.044017,-0.015393,-0.01664,2038100.0,14242822.00,0.003057,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.565599
no massive missing
0:02:29.249826

20180808

SZ finished
0:01:10.140237
0:00:41.882042
20180809 unzip finished
0:00:53.457606
0:01:43.601483
1
2
3
4
5
6
7
8
0:13:09.940440
0:00:38.444685

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
563,2001872,20180809,18.35,18.87,17.97,18.72,18.30,0.905679,0.022951,0.056433,0.025449,0.022378,3374364.0,63001934.22,0.007263,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464578359.0,644763730.0,NaN,NaN
948,2001914,20180809,6.95,7.11,6.86,7.05,6.95,0.973838,0.014388,0.018786,0.025449,0.022378,2096001.0,14772510.03,0.003143,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:05.530777
no massive missing
0:02:52.853320

20180809

SZ finished
0:01:22.940848
0:00:38.579365
20180810 unzip finished
0:00:48.050137
0:01:48.744192
1
2
3
4
5
6
7
8
0:12:11.287623
0:00:35.555109

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
564,2001872,20180810,18.67,19.50,18.43,19.50,18.72,0.905679,0.041667,0.099211,0.005143,0.006421,5837779.0,1.118980e+08,0.012566,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464578359.0,644763730.0,NaN,NaN
949,2001914,20180810,6.98,7.18,6.98,7.18,7.05,0.973838,0.018440,0.037572,0.005143,0.006421,1826774.0,1.303534e+07,0.002740,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.544268
no massive missing
0:02:27.956152

20180810

SZ finished
0:01:01.760553
0:00:40.076017
20180813 unzip finished
0:00:49.239639
0:01:52.798143
1
2
3
4
5
6
7
8
0:12:08.210794
0:00:38.611883

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
564,2001872,20180813,19.2,20.50,19.02,20.24,19.50,0.905679,0.037949,0.156571,0.004922,0.005078,7980947.0,1.598779e+08,0.017179,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464578359.0,644763730.0,NaN,NaN
950,2001914,20180813,7.0,7.11,6.98,7.10,7.18,0.973838,-0.011142,0.039531,0.004922,0.005078,1600026.0,1.129598e+07,0.002400,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.710072
no massive missing
0:02:27.898638

20180813

SZ finished
0:01:09.513053
0:00:37.704825
20180814 unzip finished
0:00:46.863987
0:01:31.139269
1
2
3
4
5
6
7
8
0:11:57.300733
0:00:34.274617

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
563,2001872,20180814,20.56,21.80,20.20,21.73,20.24,0.905679,0.073617,0.197905,-0.00344,-0.003382,9617133.0,2.031749e+08,0.020701,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464578359.0,644763730.0,NaN,NaN
949,2001914,20180814,7.10,7.24,7.07,7.12,7.10,0.973838,0.002817,0.022989,-0.00344,-0.003382,1269000.0,9.080120e+06,0.001903,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.537346
no massive missing
0:02:35.241442

20180814

SZ finished
0:01:01.156738
0:00:40.433796
20180815 unzip finished
0:00:49.614937
0:01:34.156522
1
2
3
4
5
6
7
8
0:11:59.575023
0:00:33.626165

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
563,2001872,20180815,21.80,21.80,20.27,20.48,21.73,0.905679,-0.057524,0.119126,-0.020857,-0.020357,6312740.0,1.320426e+08,0.013588,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464578359.0,644763730.0,NaN,NaN
949,2001914,20180815,7.13,7.22,7.07,7.09,7.12,0.973838,-0.004213,0.020144,-0.020857,-0.020357,1508300.0,1.075875e+07,0.002262,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.341737
no massive missing
0:02:23.578663

20180815

SZ finished
0:01:03.491110
0:00:38.576463
20180816 unzip finished
0:00:48.054978
0:01:37.147021
1
2
3
4
5
6
7
8
0:12:17.846121
0:00:36.957518

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
562,2001872,20180816,20.45,20.45,19.27,19.48,20.48,0.905679,-0.048828,0.040598,-0.009008,-0.01218,5806213.0,1.141132e+08,0.012498,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464578359.0,644763730.0,NaN,NaN
948,2001914,20180816,7.05,7.18,7.00,7.09,7.09,0.973838,0.000000,0.005674,-0.009008,-0.01218,1610883.0,1.144649e+07,0.002416,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.635070
no massive missing
0:02:30.631796

20180816

SZ finished
0:01:06.380916
0:00:36.049460
20180817 unzip finished
0:00:48.404328
0:01:44.020922
1
2
3
4
5
6
7
8
0:11:59.948140
0:00:34.811826

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
561,2001872,20180817,20.02,20.13,18.85,18.90,19.48,0.905679,-0.029774,-0.030769,-0.017458,-0.018159,4543973.0,88499415.86,0.009781,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464578359.0,644763730.0,NaN,NaN
947,2001914,20180817,7.11,7.18,6.94,6.97,7.09,0.973838,-0.016925,-0.029248,-0.017458,-0.018159,1835600.0,12944550.00,0.002753,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.482365
no massive missing
0:02:27.961634

20180817

SZ finished
0:01:08.607271
0:00:43.224657
20180820 unzip finished
0:00:48.959016
0:01:38.270941
1
2
3
4
5
6
7
8
0:11:58.280421
0:00:33.833927

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
561,2001872,20180820,18.77,19.29,18.06,18.72,18.90,0.905679,-0.009524,-0.075099,0.006168,0.003821,4643594.0,86374681.11,0.009995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464578359.0,644763730.0,NaN,NaN
947,2001914,20180820,6.96,6.98,6.83,6.97,6.97,0.973838,0.000000,-0.018310,0.006168,0.003821,1343518.0,9264575.82,0.002015,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.569430
no massive missing
0:02:26.941594

20180820

SZ finished
0:01:07.195788
0:00:39.770877
20180821 unzip finished
0:00:48.682513
0:01:36.993978
1
2
3
4
5
6
7
8
0:12:03.931970
0:00:36.746941

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
563,2001872,20180821,18.80,19.20,18.53,18.95,18.72,0.905679,0.012286,-0.127934,0.012277,0.011441,3141942.0,59497986.48,0.006763,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464578359.0,644763730.0,NaN,NaN
948,2001914,20180821,6.98,7.09,6.95,7.00,6.97,0.973838,0.004304,-0.016854,0.012277,0.011441,1445479.0,10127684.02,0.002168,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.425289
no massive missing
0:02:26.822945

20180821

SZ finished
0:01:04.960251
0:00:36.665004
20180822 unzip finished
0:00:46.200089
0:01:31.881711
1
2
3
4
5
6
7
8
0:11:18.140508
0:00:33.153601

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
563,2001872,20180822,19.04,19.43,18.68,18.68,18.95,0.905679,-0.014248,-0.087891,-0.011235,-0.011559,3455402.0,65906640.80,0.007438,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464578359.0,644763730.0,NaN,NaN
948,2001914,20180822,6.98,7.03,6.95,7.01,7.00,0.973838,0.001429,-0.011283,-0.011235,-0.011559,1070585.0,7479442.78,0.001606,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666807166.0,666961416.0,NaN,NaN

0:00:04.229926
no massive missing
0:02:18.890521

20180822

SZ finished
0:00:57.130985
0:00:37.592555
20180823 unzip finished
0:00:48.159692
0:01:35.505177
1
2
3
4
5
6
7
8
0:11:53.219432
0:00:33.378597

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
564,2001872,20180823,18.79,18.98,18.50,18.73,18.68,0.905679,0.002677,-0.038501,0.005509,0.00607,2116889.0,39665733.01,0.004557,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464578359.0,644763730.0,NaN,NaN
949,2001914,20180823,6.92,7.00,6.88,6.94,7.01,0.973838,-0.009986,-0.021157,0.005509,0.00607,1787287.0,12412232.16,0.002680,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.401547
no massive missing
0:02:22.401442

20180823

SZ finished
0:01:08.328185
0:00:36.928896
20180824 unzip finished
0:00:46.898615
0:01:34.943478
1
2
3
4
5
6
7
8
0:11:24.451082
0:00:31.940544

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
565,2001872,20180824,18.69,18.88,18.48,18.80,18.73,0.905679,0.003737,-0.005291,-0.002339,-0.003349,2036196.0,38022264.19,0.004383,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464578359.0,644763730.0,NaN,NaN
949,2001914,20180824,6.90,6.96,6.85,6.93,6.94,0.973838,-0.001441,-0.005739,-0.002339,-0.003349,1489748.0,10308020.87,0.002234,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.185082
no massive missing
0:02:19.084021

20180824

SZ finished
0:01:00.645935
0:00:44.496988
20180827 unzip finished
0:00:53.117456
0:01:42.796458
1
2
3
4
5
6
7
8
0:12:50.525800
0:00:37.987271

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
566,2001872,20180827,18.77,19.26,18.60,19.23,18.80,0.905679,0.022872,0.027244,0.022212,0.02213,3132384.0,59729969.79,0.006742,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464578359.0,644763730.0,NaN,NaN
950,2001914,20180827,6.88,7.02,6.88,7.01,6.93,0.973838,0.011544,0.005739,0.022212,0.02213,2408140.0,16812372.92,0.003611,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.464035
no massive missing
0:02:28.427727

20180827

SZ finished
0:01:06.764605
0:00:38.830919
20180828 unzip finished
0:00:51.457991
0:01:35.765983
1
2
3
4
5
6
7
8
0:12:04.365417
0:00:36.773780

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
566,2001872,20180828,19.23,19.54,19.11,19.38,19.23,0.905679,0.007800,0.022691,0.002851,0.000792,2816295.0,54459106.06,0.006062,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464578359.0,644763730.0,NaN,NaN
952,2001914,20180828,7.00,7.09,6.99,7.03,7.01,0.973838,0.002853,0.004286,0.002851,0.000792,1264205.0,8892370.90,0.001896,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.394487
no massive missing
0:02:23.121462

20180828

SZ finished
0:01:00.602041
0:00:38.183978
20180829 unzip finished
0:00:47.596411
0:01:33.810670
1
2
3
4
5
6
7
8
0:11:38.014555
0:00:31.605156

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
566,2001872,20180829,19.24,19.36,18.94,18.99,19.38,0.905679,-0.020124,0.016595,-0.006483,-0.005692,2037163.0,38873474.17,0.004385,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464578359.0,644763730.0,NaN,NaN
952,2001914,20180829,7.14,7.18,7.01,7.18,7.03,0.973838,0.021337,0.024251,-0.006483,-0.005692,2917290.0,20661523.12,0.004375,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.149284
no massive missing
0:02:18.134139

20180829

SZ finished
0:01:08.103146
0:00:39.447802
20180830 unzip finished
0:00:47.544449
0:01:37.584341
1
2
3
4
5
6
7
8
0:12:08.643873
0:00:33.712484

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
565,2001872,20180830,19.00,19.34,18.92,18.97,18.99,0.905679,-0.001053,0.012814,-0.015144,-0.017189,1338264.0,25554682.72,0.002881,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464578359.0,644763730.0,NaN,NaN
951,2001914,20180830,7.14,7.24,6.94,6.97,7.18,0.973838,-0.029248,0.004323,-0.015144,-0.017189,3395882.0,24055272.89,0.005093,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.400755
no massive missing
0:02:23.786122

20180830

SZ finished
0:01:04.522662
0:00:39.587099
20180831 unzip finished
0:00:47.134271
0:01:31.806718
1
2
3
4
5
6
7
8
0:11:28.037550
0:00:31.884367

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
566,2001872,20180831,18.98,19.05,18.41,18.76,18.97,0.905679,-0.011070,-0.002128,-0.010745,-0.011005,1706863.0,31906598.45,0.003672,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464859300.0,644763730.0,NaN,NaN
952,2001914,20180831,6.96,7.02,6.88,7.00,6.97,0.973838,0.004304,0.010101,-0.010745,-0.011005,1384609.0,9639246.17,0.002076,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.282647
no massive missing
0:02:25.556509

20180831

SZ finished
0:01:00.918514
0:00:40.462041
20180903 unzip finished
0:00:48.111577
0:01:35.390986
1
2
3
4
5
6
7
8
0:11:53.946257
0:00:33.918016

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
566,2001872,20180903,18.76,18.76,18.16,18.65,18.76,0.905679,-0.005864,-0.030161,0.004995,-0.000767,1591668.0,29210280.58,0.003424,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464859300.0,644763730.0,NaN,NaN
952,2001914,20180903,6.93,6.99,6.78,6.90,7.00,0.973838,-0.014286,-0.015692,0.004995,-0.000767,2952651.0,20198935.18,0.004428,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.343053
no massive missing
0:02:27.970154

20180903

SZ finished
0:01:13.450364
0:00:39.140679
20180904 unzip finished
0:00:48.505276
0:01:38.577286
1
2
3
4
5
6
7
8
0:12:15.839907
0:00:35.158783

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
567,2001872,20180904,18.44,18.72,18.21,18.56,18.65,0.905679,-0.004826,-0.042312,0.010624,0.011682,1704420.0,31533378.2,0.003667,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464859300.0,644763730.0,NaN,NaN
953,2001914,20180904,6.89,6.95,6.86,6.93,6.90,0.973838,0.004348,-0.014225,0.010624,0.011682,1287911.0,8906824.1,0.001931,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.476855
no massive missing
0:02:24.148269

20180904

SZ finished
0:01:01.744538
0:00:39.159187
20180905 unzip finished
0:00:47.916311
0:01:38.020142
1
2
3
4
5
6
7
8
0:12:06.170838
0:00:35.521573

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
567,2001872,20180905,18.42,18.48,17.7,17.76,18.56,0.905679,-0.043103,-0.064771,-0.015387,-0.015772,2773294.0,50093990.88,0.005966,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464859300.0,644763730.0,NaN,NaN
953,2001914,20180905,6.92,6.94,6.8,6.80,6.93,0.973838,-0.018759,-0.052925,-0.015387,-0.015772,1250875.0,8598269.00,0.001876,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.373149
no massive missing
0:02:23.509155

20180905

SZ finished
0:01:03.622942
0:00:39.581765
20180906 unzip finished
0:00:50.006827
0:01:38.462715
1
2
3
4
5
6
7
8
0:12:07.814307
0:00:35.903468

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
565,2001872,20180906,17.75,17.98,16.9,17.27,17.76,0.905679,-0.027590,-0.089615,-0.004504,-0.003973,2957949.0,51246175.67,0.006363,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464859300.0,644763730.0,NaN,NaN
952,2001914,20180906,6.80,6.88,6.8,6.85,6.80,0.973838,0.007353,-0.017217,-0.004504,-0.003973,841426.0,5754483.04,0.001262,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.435179
no massive missing
0:02:23.208974

20180906

SZ finished
0:00:59.363293
0:00:40.525353
20180907 unzip finished
0:00:50.247222
0:01:38.472229
1
2
3
4
5
6
7
8
0:12:54.302359
0:00:35.985012

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
564,2001872,20180907,17.30,17.52,16.95,17.25,17.27,0.905679,-0.001158,-0.080490,-0.000327,0.00195,1987205.0,34267942.24,0.004275,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464859300.0,644763730.0,NaN,NaN
952,2001914,20180907,6.84,6.90,6.76,6.83,6.85,0.973838,-0.002920,-0.024286,-0.000327,0.00195,1160684.0,7947959.76,0.001741,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.565320
no massive missing
0:02:33.408111

20180907

SZ finished
0:01:12.432422
0:00:42.199522
20180910 unzip finished
0:00:49.521784
0:01:32.582194
1
2
3
4
5
6
7
8
0:12:02.795113
0:00:34.262604

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
564,2001872,20180910,17.38,17.38,17.06,17.23,17.25,0.905679,-0.001159,-0.076139,-0.018135,-0.01964,1320078.0,22792715.60,0.002840,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464859300.0,644763730.0,NaN,NaN
951,2001914,20180910,6.80,6.83,6.63,6.65,6.83,0.973838,-0.026354,-0.036232,-0.018135,-0.01964,1295687.0,8712418.77,0.001943,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.609508
no massive missing
0:02:24.336755

20180910

SZ finished
0:01:13.748504
0:00:37.965102
20180911 unzip finished
0:00:46.936200
0:01:31.777628
1
2
3
4
5
6
7
8
0:11:35.164472
0:00:32.789490

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
566,2001872,20180911,17.34,17.92,17.15,17.7,17.23,0.905679,0.027278,-0.046336,-0.00042,0.000336,2137292.0,37602420.23,0.004598,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464859300.0,644763730.0,NaN,NaN
953,2001914,20180911,6.64,6.69,6.58,6.6,6.65,0.973838,-0.007519,-0.047619,-0.00042,0.000336,1433565.0,9495318.35,0.002150,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.394969
no massive missing
0:02:24.109826

20180911

SZ finished
0:01:00.916256
0:00:39.278443
20180912 unzip finished
0:00:49.804316
0:01:32.884777
1
2
3
4
5
6
7
8
0:11:39.612366
0:00:31.478569

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
566,2001872,20180912,17.7,17.94,17.55,17.73,17.7,0.905679,0.001695,-0.001689,-0.001899,-0.001116,1379920.0,24589271.31,0.002968,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464859300.0,644763730.0,NaN,NaN
952,2001914,20180912,6.6,6.81,6.58,6.70,6.6,0.973838,0.015152,-0.014706,-0.001899,-0.001116,1710575.0,11450271.91,0.002565,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.146497
no massive missing
0:02:19.695129

20180912

SZ finished
0:01:03.405932
0:00:39.345552
20180913 unzip finished
0:00:49.437177
0:01:36.795373
1
2
3
4
5
6
7
8
0:12:05.552024
0:00:34.650134

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
570,2001872,20180913,17.85,18.32,17.85,18.22,17.73,0.905679,0.027637,0.055009,0.005803,0.007797,2648026.0,48018595.35,0.005696,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464859300.0,644763730.0,NaN,NaN
955,2001914,20180913,6.73,6.86,6.73,6.83,6.70,0.973838,0.019403,-0.002920,0.005803,0.007797,2492601.0,16957767.28,0.003738,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.380713
no massive missing
0:02:21.285830

20180913

SZ finished
0:01:01.761468
0:00:39.869948
20180914 unzip finished
0:00:47.861018
0:01:36.909658
1
2
3
4
5
6
7
8
0:12:15.942171
0:00:38.130575

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
571,2001872,20180914,18.30,19.9,18.01,18.95,18.22,0.905679,0.040066,0.098551,-0.01083,-0.010131,4162699.0,78970823.98,0.008955,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464859300.0,644763730.0,NaN,NaN
956,2001914,20180914,6.83,7.4,6.79,6.95,6.83,0.973838,0.017570,0.017570,-0.01083,-0.010131,4452819.0,31439890.89,0.006678,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.578820
no massive missing
0:02:25.078668

20180914

SZ finished
0:01:20.582668
0:00:44.832303
20180917 unzip finished
0:00:52.788202
0:01:37.081982
1
2
3
4
5
6
7
8
0:12:49.605371
0:00:34.158104

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
571,2001872,20180917,18.90,19.67,18.15,19.29,18.95,0.905679,0.017942,0.119559,-0.014494,-0.015561,5423676.0,1.042752e+08,0.011667,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464859300.0,644763730.0,NaN,NaN
956,2001914,20180917,6.93,6.93,6.76,6.81,6.95,0.973838,-0.020144,0.024060,-0.014494,-0.015561,2508609.0,1.712293e+07,0.003762,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.452954
no massive missing
0:02:28.564451

20180917

SZ finished
0:01:17.672477
0:00:44.511439
20180918 unzip finished
0:00:52.373377
0:01:53.793469
1
2
3
4
5
6
7
8
0:13:23.698025
0:00:37.275019

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
571,2001872,20180918,19.20,19.56,18.84,19.16,19.29,0.905679,-0.006739,0.082486,0.017625,0.017756,3333239.0,64067469.57,0.007170,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464859300.0,644763730.0,NaN,NaN
957,2001914,20180918,6.81,6.82,6.70,6.81,6.81,0.973838,0.000000,0.031818,0.017625,0.017756,1638900.0,11093305.00,0.002458,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.953689
no massive missing
0:02:38.189152

20180918

SZ finished
0:01:12.217231
0:01:09.662578
20180919 unzip finished
0:01:02.295459
0:02:00.244654
1
2
3
4
5
6
7
8
0:14:34.843567
0:00:39.826919

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
573,2001872,20180919,19.20,20.56,19.12,20.28,19.16,0.905679,0.058455,0.143824,0.011399,0.010709,5697324.0,1.142493e+08,0.012256,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464859300.0,644763730.0,NaN,NaN
957,2001914,20180919,6.81,6.97,6.77,6.91,6.81,0.973838,0.014684,0.031343,0.011399,0.010709,2077976.0,1.432649e+07,0.003116,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.302129
no massive missing
0:02:46.358035

20180919

SZ finished
0:01:26.390912
0:00:44.528892
20180920 unzip finished
0:00:55.919634
0:01:47.643711
1
2
3
4
5
6
7
8
0:13:27.364534
0:00:36.387856

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
573,2001872,20180920,20.25,20.25,19.60,19.62,20.28,0.905679,-0.032544,0.076839,-0.00072,-0.003708,5511142.0,1.093989e+08,0.011856,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464859300.0,644763730.0,NaN,NaN
958,2001914,20180920,6.91,7.02,6.87,6.94,6.91,0.973838,0.004342,0.016105,-0.00072,-0.003708,1835298.0,1.278485e+07,0.002752,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.563704
no massive missing
0:02:48.644549

20180920

SZ finished
0:01:17.209234
0:00:49.103794
20180921 unzip finished
0:01:03.172437
0:01:50.476701
1
2
3
4
5
6
7
8
0:14:28.084204
0:00:38.787718

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
574,2001872,20180921,19.35,19.59,18.90,19.35,19.62,0.905679,-0.013761,0.021108,0.015155,0.012139,5247989.0,1.012397e+08,0.011289,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464859300.0,644763730.0,NaN,NaN
959,2001914,20180921,6.95,7.09,6.94,7.05,6.94,0.973838,0.015850,0.014388,0.015155,0.012139,2070771.0,1.456665e+07,0.003105,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:06.459478
no massive missing
0:03:02.393225

20180921

SZ finished
0:01:13.671504
0:00:42.703676
20180925 unzip finished
0:00:52.188680
0:01:40.874847
1
2
3
4
5
6
7
8
0:13:12.454601
0:00:44.763007

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
576,2001872,20180925,19.32,19.56,19.20,19.38,19.35,0.905679,0.00155,0.004666,-0.002636,-0.003192,2215734.0,42937741.02,0.004766,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464859300.0,644763730.0,NaN,NaN
963,2001914,20180925,6.97,7.10,6.95,7.05,7.05,0.973838,0.00000,0.035242,-0.002636,-0.003192,1798081.0,12645686.27,0.002697,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.591482
no massive missing
0:02:35.283684

20180925

SZ finished
0:01:08.629800
0:00:50.446368
20180926 unzip finished
0:00:58.433220
0:01:52.171384
1
2
3
4
5
6
7
8
0:14:22.495613
0:00:36.669330

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
577,2001872,20180926,19.38,19.87,19.34,19.71,19.38,0.905679,0.017028,0.028706,0.004816,0.004276,3456087.0,68145046.77,0.007435,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464859300.0,644763730.0,NaN,NaN
965,2001914,20180926,7.05,7.10,7.00,7.05,7.05,0.973838,0.000000,0.035242,0.004816,0.004276,1364518.0,9629921.83,0.002046,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.711334
no massive missing
0:02:39.860221

20180926

SZ finished
0:01:25.043486
0:00:43.365101
20180927 unzip finished
0:00:54.561432
0:01:47.570473
1
2
3
4
5
6
7
8
0:14:15.416507
0:00:40.336666

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
577,2001872,20180927,19.49,19.85,19.32,19.33,19.71,0.905679,-0.019280,-0.046844,-0.012511,-0.014225,1798221.0,35167304.7,0.003868,0.0,0.0,0.0,0.0,0.0,0.0,1.0,3.0,464859300.0,644763730.0,NaN,NaN
967,2001914,20180927,7.04,7.08,6.95,6.95,7.05,0.973838,-0.014184,0.005789,-0.012511,-0.014225,1946300.0,13621576.0,0.002919,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.270242
no massive missing
0:02:57.439296

20180927

SZ finished
0:01:15.164178
0:01:01.887987
20180928 unzip finished
0:01:08.833279
0:01:48.187037
1
2
3
4
5
6
7
8
0:13:52.701728
0:00:37.779805

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
965,2001914,20180928,6.95,7.02,6.95,7.01,6.95,0.973838,0.008633,0.010086,0.009536,0.008408,1398052.0,9782860.0,0.002097,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.853283
no massive missing
0:02:31.068561

20180928

SZ finished
0:01:16.447853
0:00:52.841917
20181008 unzip finished
0:00:54.943442
0:01:44.873259
1
2
3
4
5
6
7
8
0:13:27.723058
0:00:37.760734

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
963,2001914,20181008,6.84,6.94,6.82,6.87,7.01,0.973838,-0.019971,-0.025532,-0.032128,-0.034055,2205040.0,15189701.0,0.003307,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.510462
no massive missing
0:02:27.816778

20181008

SZ finished
0:01:13.897581
0:01:04.547819
20181009 unzip finished
0:00:53.180666
0:01:45.532671
1
2
3
4
5
6
7
8
0:12:53.155257
0:00:35.545010

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
966,2001914,20181009,6.95,6.96,6.85,6.9,6.87,0.973838,0.004367,-0.021277,-0.002496,0.00027,1234100.0,8517021.08,0.001851,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.138510
no massive missing
0:02:37.802171

20181009

SZ finished
0:01:34.540115
0:01:20.506131
20181010 unzip finished
0:00:53.657363
0:01:44.188294
1
2
3
4
5
6
7
8
0:12:36.137203
0:00:34.223832

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
578,2001872,20181010,18.90,18.99,18.16,18.72,19.33,0.905679,-0.031557,-0.045872,-0.00108,-0.001309,2974227.0,54968351.95,0.006398,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464859300.0,644763730.0,NaN,NaN
967,2001914,20181010,6.93,6.93,6.82,6.88,6.90,0.973838,-0.002899,-0.024113,-0.00108,-0.001309,1018704.0,7003804.81,0.001528,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.793855
no massive missing
0:02:44.132187

20181010

SZ finished
0:01:18.824893
0:10:39.270635
20181011 unzip finished
0:01:00.019289
0:01:59.442603
1
2
3
4
5
6
7
8
0:14:19.548219
0:00:37.586587

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
576,2001872,20181011,18.05,18.26,16.85,16.91,18.72,0.905679,-0.096688,-0.126098,-0.069649,-0.073937,3395857.0,58817718.72,0.007305,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,464859300.0,644763730.0,NaN,NaN
966,2001914,20181011,6.70,6.80,6.29,6.32,6.88,0.973838,-0.081395,-0.090647,-0.069649,-0.073937,3317622.0,21719809.48,0.004975,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.985806
no massive missing
0:02:38.447370

20181011

SZ finished
0:01:13.755269
0:00:00.454871
20181012 unzip finished

NameError: name 'df' is not defined

In [1]:
import pymongo
import pandas as pd
import pickle
import datetime
import time
import gzip
import lzma
import pytz


def DB(host, db_name, user, passwd):
    auth_db = db_name if user not in ('admin', 'root') else 'admin'
    uri = 'mongodb://%s:%s@%s/?authSource=%s' % (user, passwd, host, auth_db)
    return DBObj(uri, db_name=db_name)


class DBObj(object):
    def __init__(self, uri, symbol_column='skey', db_name='white_db'):
        self.db_name = db_name
        self.uri = uri
        self.client = pymongo.MongoClient(self.uri)
        self.db = self.client[self.db_name]
        self.chunk_size = 20000
        self.symbol_column = symbol_column
        self.date_column = 'date'

    def parse_uri(self, uri):
        # mongodb://user:password@example.com
        return uri.strip().replace('mongodb://', '').strip('/').replace(':', ' ').replace('@', ' ').split(' ')

    def drop_table(self, table_name):
        self.db.drop_collection(table_name)

    def rename_table(self, old_table, new_table):
        self.db[old_table].rename(new_table)

    def write(self, table_name, df):
        if len(df) == 0: return

        multi_date = False

        if self.date_column in df.columns:
            date = str(df.head(1)[self.date_column].iloc[0])
            multi_date = len(df[self.date_column].unique()) > 1
        else:
            raise Exception('DataFrame should contain date column')

        collection = self.db[table_name]
        collection.create_index([('date', pymongo.ASCENDING), ('symbol', pymongo.ASCENDING)], background=True)
        collection.create_index([('symbol', pymongo.ASCENDING), ('date', pymongo.ASCENDING)], background=True)

        if multi_date:
            for (date, symbol), sub_df in df.groupby([self.date_column, self.symbol_column]):
                date = str(date)
                symbol = int(symbol)
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)
        else:
            for symbol, sub_df in df.groupby([self.symbol_column]):
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)

    def write_single(self, collection, date, symbol, df):
        for start in range(0, len(df), self.chunk_size):
            end = min(start + self.chunk_size, len(df))
            df_seg = df[start:end]
            version = 1
            seg = {'ver': version, 'data': self.ser(df_seg, version), 'date': date, 'symbol': symbol, 'start': start}
            collection.insert_one(seg)

    def build_query(self, start_date=None, end_date=None, symbol=None):
        query = {}

        def parse_date(x):
            if type(x) == str:
                if len(x) != 8:
                    raise Exception("`date` must be YYYYMMDD format")
                return x
            elif type(x) == datetime.datetime or type(x) == datetime.date:
                return x.strftime("%Y%m%d")
            elif type(x) == int:
                return parse_date(str(x))
            else:
                raise Exception("invalid `date` type: " + str(type(x)))

        if start_date is not None or end_date is not None:
            query['date'] = {}
            if start_date is not None:
                query['date']['$gte'] = parse_date(start_date)
            if end_date is not None:
                query['date']['$lte'] = parse_date(end_date)

        def parse_symbol(x):
            if type(x) == int:
                return x
            else:
                return int(x)

        if symbol:
            if type(symbol) == list or type(symbol) == tuple:
                query['symbol'] = {'$in': [parse_symbol(x) for x in symbol]}
            else:
                query['symbol'] = parse_symbol(symbol)

        return query

    def delete(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot delete the whole table')
            return None

        collection.delete_many(query)

    def read(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot read the whole table')
            return None

        segs = []
        for x in collection.find(query):
            x['data'] = self.deser(x['data'], x['ver'])
            segs.append(x)
        segs.sort(key=lambda x: (x['symbol'], x['date'], x['start']))
        return pd.concat([x['data'] for x in segs], ignore_index=True) if segs else None

    def list_tables(self):
        return self.db.collection_names()

    def list_dates(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]
        dates = set()
        if start_date is None:
            start_date = '00000000'
        if end_date is None:
            end_date = '99999999'
        for x in collection.find(self.build_query(start_date, end_date, symbol), {"date": 1, '_id': 0}):
            dates.add(x['date'])
        return sorted(list(dates))

    def ser(self, s, version):
        pickle_protocol = 4
        if version == 1:
            return gzip.compress(pickle.dumps(s, protocol=pickle_protocol), compresslevel=2)
        elif version == 2:
            return lzma.compress(pickle.dumps(s, protocol=pickle_protocol), preset=1)
        else:
            raise Exception('unknown version')

    def deser(self, s, version):
        def unpickle(s):
            return pickle.loads(s)

        if version == 1:
            return unpickle(gzip.decompress(s))
        elif version == 2:
            return unpickle(lzma.decompress(s))
        else:
            raise Exception('unknown version')


def patch_pandas_pickle():
    if pd.__version__ < '0.24':
        import sys
        from types import ModuleType
        from pandas.core.internals import BlockManager
        pkg_name = 'pandas.core.internals.managers'
        if pkg_name not in sys.modules:
            m = ModuleType(pkg_name)
            m.BlockManager = BlockManager
            sys.modules[pkg_name] = m
patch_pandas_pickle()












import pandas as pd
import random
import numpy as np
import glob
import os
import pickle
import datetime
import time
pd.set_option("max_columns", 200)

startTm = datetime.datetime.now()
readPath = '/home/work516/day_stock/***'
dataPathLs = np.array(glob.glob(readPath))
dataPathLs = dataPathLs[[np.array([os.path.basename(i).split('.')[0][:2] == 'SZ' for i in dataPathLs])]]
db = pd.DataFrame()
for p in dataPathLs:
    dayData = pd.read_csv(p, compression='gzip')
    db = pd.concat([db, dayData])
print(datetime.datetime.now() - startTm)

year = "2018"
startDate = '20181012'
endDate = '20181231'
readPath = '/mnt/usb/data/' + year + '/***/***'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([os.path.basename(i).split('_')[0] for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]
date_list = pd.read_csv("/home/work516/KR_upload_code/trading_days.csv")
wr_ong = []
mi_ss = []
less = []

for data in dataPathLs:    
    
    if len(np.array(glob.glob(data + '/SZ/***'))) == 0:
        if int(os.path.basename(data)) not in date_list["Date"].values:
            continue
        else:
            print(os.path.basename(data) + " less data!!!!!!!!!!!!!!!!!")
            less.append(data)
            continue
    startTm = datetime.datetime.now()
    date = os.path.basename(data)
    rar_path = data + '/SZ/snapshot.7z'
    path = '/mnt/e/unzip_data/2018/SZ'
    path1 = path + '/' + date
    un_path = path1
    cmd = '7za x {} -o{}'.format(rar_path, un_path)
    os.system(cmd)
    print(datetime.datetime.now() - startTm)
    print(date + ' unzip finished')
    
    readPath = path1 + '/snapshot/***2/***'
    dataPathLs = np.array(glob.glob(readPath))
    dateLs = np.array([int(os.path.basename(i).split('.')[0]) for i in dataPathLs])
    dataPathLs = dataPathLs[(dateLs < 4000) | ((dateLs > 300000) & (dateLs < 310000))]
    SZ = []
    ll = []
    startTm = datetime.datetime.now()
    for i in dataPathLs:
        try:
            df = pd.read_csv(i, usecols = [0,1,4,5,6,7,9,12,17,18,19,24,25,26,28,29,30,32,33,34,35])
        except:
            print("empty data")
            print(i)
            ll.append(int(os.path.basename(i).split('.')[0]))
            continue
        df["StockID"] = int(os.path.basename(i).split('.')[0])
        SZ += [df]
    del df
    SZ = pd.concat(SZ).reset_index(drop=True)
    print(datetime.datetime.now() - startTm)
    
    startTm = datetime.datetime.now()
    SZ["skey"] = SZ["StockID"] + 2000000
    SZ.drop(["StockID"],axis=1,inplace=True)
    SZ["date"] = int(SZ["QuotTime"].iloc[0]//1000000000)
    SZ["time"] = (SZ['QuotTime'] - int(SZ['QuotTime'].iloc[0]//1000000000*1000000000)).astype(np.int64) * 1000
    SZ["clockAtArrival"] = SZ["QuotTime"].astype(str).apply(lambda x: np.int64(datetime.datetime.strptime(x, '%Y%m%d%H%M%S%f').timestamp()*1e6))
    SZ['datetime'] = SZ["clockAtArrival"].apply(lambda x: datetime.datetime.fromtimestamp(x/1e6))
    SZ.drop(["QuotTime"],axis=1,inplace=True)
    print(datetime.datetime.now() - startTm)
    
    startTm = datetime.datetime.now()
    SZ["BidPrice"] = SZ["BidPrice"].apply(lambda x: [float(i) for i in x[1:-1].split(',')])
    SZ["OfferPrice"] = SZ["OfferPrice"].apply(lambda x: [float(i) for i in x[1:-1].split(',')])
    SZ["BidOrderQty"] = SZ["BidOrderQty"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["OfferOrderQty"] = SZ["OfferOrderQty"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["BidNumOrders"] = SZ["BidNumOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["OfferNumOrders"] = SZ["OfferNumOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])

    for i in range(1, 11):
        SZ["bid" + str(i) + 'p'] = SZ["BidPrice"].apply(lambda x: x[i-1],2)
    SZ.drop(["BidPrice"],axis=1,inplace=True)
    print("1")
    for i in range(1, 11):
        SZ["ask" + str(i) + 'p'] = SZ["OfferPrice"].apply(lambda x: x[i-1],2)
    SZ.drop(["OfferPrice"],axis=1,inplace=True)
    print("2")
    for i in range(1, 11):
        SZ["bid" + str(i) + 'q'] = SZ["BidOrderQty"].apply(lambda x: x[i-1])
    SZ.drop(["BidOrderQty"],axis=1,inplace=True)
    print("3")
    for i in range(1, 11):
        SZ["ask" + str(i) + 'q'] = SZ["OfferOrderQty"].apply(lambda x: x[i-1])
    SZ.drop(["OfferOrderQty"],axis=1,inplace=True)
    print("4")
    for i in range(1, 11):
        SZ["bid" + str(i) + 'n'] = SZ["BidNumOrders"].apply(lambda x: x[i-1])
        SZ["bid" + str(i) + 'n'] = SZ["bid" + str(i) + 'n'].astype('int32')
    SZ.drop(["BidNumOrders"],axis=1,inplace=True)
    print("5")
    for i in range(1, 11):
        SZ["ask" + str(i) + 'n'] = SZ["OfferNumOrders"].apply(lambda x: x[i-1])
        SZ["ask" + str(i) + 'n'] = SZ["ask" + str(i) + 'n'].astype('int32') 
    SZ.drop(["OfferNumOrders"],axis=1,inplace=True)
    print("6")
    
    SZ["BidOrders"] = SZ["BidOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["OfferOrders"] = SZ["OfferOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])

    for i in range(1, 51):
        SZ["bid1Top" + str(i) + 'q'] = SZ["BidOrders"].apply(lambda x: x[i-1])
        SZ["bid1Top" + str(i) + 'q'] = SZ["bid1Top" + str(i) + 'q'].astype('int32') 
    SZ.drop(["BidOrders"],axis=1,inplace=True)
    print("7")
    
    for i in range(1, 51):
        SZ["ask1Top" + str(i) + 'q'] = SZ["OfferOrders"].apply(lambda x: x[i-1])
        SZ["ask1Top" + str(i) + 'q'] = SZ["ask1Top" + str(i) + 'q'].astype('int32') 
    SZ.drop(["OfferOrders"],axis=1,inplace=True)
    print("8")
    print(datetime.datetime.now() - startTm)
        
    
    startTm = datetime.datetime.now()
    SZ.columns = ['cum_trades_cnt', 'total_bid_quantity', 'total_ask_quantity', 'close',
       'total_ask_vwap', 'cum_amount', 'cum_volume', 'open', 'high',
       'prev_close', 'low', 'total_bid_vwap', 'skey', 'date', 'time',
       'clockAtArrival', 'datetime', 'bid1p', 'bid2p', 'bid3p', 'bid4p',
       'bid5p', 'bid6p', 'bid7p', 'bid8p', 'bid9p', 'bid10p', 'ask1p',
       'ask2p', 'ask3p', 'ask4p', 'ask5p', 'ask6p', 'ask7p', 'ask8p',
       'ask9p', 'ask10p', 'bid1q', 'bid2q', 'bid3q', 'bid4q', 'bid5q',
       'bid6q', 'bid7q', 'bid8q', 'bid9q', 'bid10q', 'ask1q', 'ask2q',
       'ask3q', 'ask4q', 'ask5q', 'ask6q', 'ask7q', 'ask8q', 'ask9q',
       'ask10q', 'bid1n', 'bid2n', 'bid3n', 'bid4n', 'bid5n', 'bid6n',
       'bid7n', 'bid8n', 'bid9n', 'bid10n', 'ask1n', 'ask2n', 'ask3n',
       'ask4n', 'ask5n', 'ask6n', 'ask7n', 'ask8n', 'ask9n', 'ask10n',
       'bid1Top1q', 'bid1Top2q', 'bid1Top3q', 'bid1Top4q', 'bid1Top5q',
       'bid1Top6q', 'bid1Top7q', 'bid1Top8q', 'bid1Top9q', 'bid1Top10q',
       'bid1Top11q', 'bid1Top12q', 'bid1Top13q', 'bid1Top14q',
       'bid1Top15q', 'bid1Top16q', 'bid1Top17q', 'bid1Top18q',
       'bid1Top19q', 'bid1Top20q', 'bid1Top21q', 'bid1Top22q',
       'bid1Top23q', 'bid1Top24q', 'bid1Top25q', 'bid1Top26q',
       'bid1Top27q', 'bid1Top28q', 'bid1Top29q', 'bid1Top30q',
       'bid1Top31q', 'bid1Top32q', 'bid1Top33q', 'bid1Top34q',
       'bid1Top35q', 'bid1Top36q', 'bid1Top37q', 'bid1Top38q',
       'bid1Top39q', 'bid1Top40q', 'bid1Top41q', 'bid1Top42q',
       'bid1Top43q', 'bid1Top44q', 'bid1Top45q', 'bid1Top46q',
       'bid1Top47q', 'bid1Top48q', 'bid1Top49q', 'bid1Top50q',
       'ask1Top1q', 'ask1Top2q', 'ask1Top3q', 'ask1Top4q', 'ask1Top5q',
       'ask1Top6q', 'ask1Top7q', 'ask1Top8q', 'ask1Top9q', 'ask1Top10q',
       'ask1Top11q', 'ask1Top12q', 'ask1Top13q', 'ask1Top14q',
       'ask1Top15q', 'ask1Top16q', 'ask1Top17q', 'ask1Top18q',
       'ask1Top19q', 'ask1Top20q', 'ask1Top21q', 'ask1Top22q',
       'ask1Top23q', 'ask1Top24q', 'ask1Top25q', 'ask1Top26q',
       'ask1Top27q', 'ask1Top28q', 'ask1Top29q', 'ask1Top30q',
       'ask1Top31q', 'ask1Top32q', 'ask1Top33q', 'ask1Top34q',
       'ask1Top35q', 'ask1Top36q', 'ask1Top37q', 'ask1Top38q',
       'ask1Top39q', 'ask1Top40q', 'ask1Top41q', 'ask1Top42q',
       'ask1Top43q', 'ask1Top44q', 'ask1Top45q', 'ask1Top46q',
       'ask1Top47q', 'ask1Top48q', 'ask1Top49q', 'ask1Top50q']
    
    SZ = SZ.fillna(0)
#     SZ["p1"] = SZ["bid1p"] + SZ["ask1p"]
#     tt = SZ[(SZ["cum_volume"] > 0) & (SZ["time"] < 145700000000)].groupby("skey")['p1'].min()
#     SZ.drop("p1", axis=1, inplace=True)
#     try:
#         assert(tt[tt == 0].shape[0] == 0)
#     except:
#         display(tt[tt == 0])
#     SZ = SZ[~((SZ["bid1p"] == 0) & (SZ["ask1p"] == 0))]
    SZ["ordering"] = SZ.groupby("skey").cumcount()
    SZ["ordering"] = SZ["ordering"] + 1

    for cols in ["total_bid_orders",'total_ask_orders','total_bid_levels', 'total_ask_levels', 'bid_trade_max_duration',
                 'ask_trade_max_duration', 'cum_canceled_buy_orders', 'cum_canceled_buy_volume', "cum_canceled_buy_amount",
                 "cum_canceled_sell_orders", 'cum_canceled_sell_volume',"cum_canceled_sell_amount", "has_missing"]:
        SZ[cols] = 0
        
#     for col in ["cum_volume", "total_bid_quantity", "total_ask_quantity",'cum_canceled_buy_volume',
#         'cum_canceled_sell_volume']:
#         SZ[col] = SZ[col].astype('int64')
    
    for col in ["skey", "date", "cum_trades_cnt", "total_bid_orders",
        'total_ask_orders', 'total_bid_levels', 'total_ask_levels', 'cum_canceled_buy_orders','cum_canceled_sell_orders',
            "ordering", 'bid_trade_max_duration', 'ask_trade_max_duration','has_missing']:
        SZ[col] = SZ[col].astype('int32')
    
        
#     for cols in ["prev_close", 'open', "high", "low", "close", 'bid10p','bid9p','bid8p','bid7p','bid6p','bid5p','bid4p','bid3p',
#              'bid2p','bid1p','ask1p','ask2p','ask3p','ask4p','ask5p','ask6p','ask7p','ask8p','ask9p','ask10p', 'total_bid_vwap', "total_ask_vwap",
#                 "cum_amount"]:
# #         SZ[cols] = SZ[cols].apply(lambda x: round(x, 2)).astype('float64')
#         print(cols)
#         print(SZ[cols].astype(str).apply(lambda x: len(str(x.split('.')[1]))).unique())

        
    for cols in ["cum_canceled_sell_amount", "cum_canceled_buy_amount"]:
        SZ[cols] = SZ[cols].astype('float64')

        
    assert(sum(SZ[SZ["open"] != 0].groupby("skey")["open"].nunique() != 1) == 0)
    assert(sum(SZ[SZ["prev_close"] != 0].groupby("skey")["prev_close"].nunique() != 1) == 0)
    SZ["prev_close"] = np.where(SZ["time"] >= 91500000000, SZ.groupby("skey")["prev_close"].transform("max"), SZ["prev_close"]) 
    SZ["open"] = np.where(SZ["cum_volume"] > 0, SZ.groupby("skey")["open"].transform("max"), SZ["open"])
    assert(sum(SZ[SZ["open"] != 0].groupby("skey")["open"].nunique() != 1) == 0)
    assert(sum(SZ[SZ["prev_close"] != 0].groupby("skey")["prev_close"].nunique() != 1) == 0)
    assert(SZ[SZ["cum_volume"] > 0]["open"].min() > 0)
    
    print(datetime.datetime.now() - startTm)
    
    
    # check 1
    startTm = datetime.datetime.now()
    da_te = str(SZ["date"].iloc[0]) 
    da_te = da_te[:4] + '-' + da_te[4:6] + '-' + da_te[6:8]
    db1 = db[db["date"] == da_te]
    db1["ID"] = db1["ID"].str[2:].astype(int) + 2000000
    db1["date"] = (db1["date"].str[:4] + db1["date"].str[5:7] + db1["date"].str[8:]).astype(int)
    SZ["cum_max"] = SZ.groupby("skey")["cum_volume"].transform(max)
    s2 = SZ[SZ["cum_volume"] == SZ["cum_max"]].groupby("skey").first().reset_index()
    SZ.drop("cum_max", axis=1, inplace=True)
    s2 = s2.rename(columns={"skey": "ID", 'open':"d_open", "prev_close":"d_yclose","high":"d_high", "low":"d_low", "close":"d_close", "cum_volume":"d_volume", "cum_amount":"d_amount"})
    s2 = s2[["ID", "date", "d_open", "d_yclose", "d_high", "d_low", "d_close", "d_volume", "d_amount"]]
    re = pd.merge(db1, s2, on=["ID", "date", "d_open", "d_yclose","d_high", "d_low", "d_volume"], how="outer")
    try:
        assert(sum(re["d_amount_y"].isnull()) == 0)
    except:
        display(re[re["d_amount_y"].isnull()])
        wr_ong += [re[re["d_amount_y"].isnull()]]
    del re
    del s2
    del db1
    print(datetime.datetime.now() - startTm)
    
    # check 2
    # first part
    startTm = datetime.datetime.now()
    date = pd.DataFrame(pd.date_range(start='2019-06-10 08:30:00', end='2019-06-10 18:00:00', freq='s'), columns=["Orig"])
    date["time"] = date["Orig"].apply(lambda x: int(x.strftime("%H%M%S"))*1000)
    date["group"] = date["time"]//10000
    SZ["group"] = SZ["time"]//10000000
    gl = date[((date["time"] >= 93000000) & (date["time"] <= 113000000))|((date["time"] >= 130000000) & (date["time"] <= 150000000))]["group"].unique()
    l = set(gl) - set(SZ["group"].unique())
    SZ["has_missing1"] = 0 
    if len(l) != 0:
        print("massive missing")
        print(l)
        SZ["order"] = SZ.groupby(["skey", "time"]).cumcount()
        for i in l:
            SZ["t"] = SZ[SZ["group"] > i].groupby("skey")["time"].transform("min")
            SZ["has_missing1"] = np.where((SZ["time"] == SZ["t"]) & (SZ["order"] == 0), 1, 0)
        SZ.drop(["order", "t", "group"], axis=1, inplace=True)   
    else:
        print("no massive missing")
        SZ.drop(["group"], axis=1, inplace=True)
    



    # second part

    SZ["time_interval"] = SZ.groupby("skey")["datetime"].apply(lambda x: x - x.shift(1))
    SZ["time_interval"] = SZ["time_interval"].apply(lambda x: x.seconds)
    SZ["tn_update"] = SZ.groupby("skey")["cum_trades_cnt"].apply(lambda x: x-x.shift(1))

    f1 = SZ[(SZ["time"] >= 93000000000) & (SZ["tn_update"] != 0)].groupby("skey")["time"].min().reset_index()
    f1 = f1.rename(columns={"time": "time1"})
    f2 = SZ[(SZ["time"] >= 130000000000) & (SZ["tn_update"] != 0)].groupby("skey")["time"].min().reset_index()
    f2 = f2.rename(columns={"time": "time2"})
    f3 = SZ[(SZ["time"] >= 150000000000) & (SZ["tn_update"] != 0)].groupby("skey")["time"].min().reset_index()
    f3 = f3.rename(columns={"time": "time3"})
    SZ = pd.merge(SZ, f1, on="skey", how="left")
    del f1
    SZ = pd.merge(SZ, f2, on="skey", how="left")
    del f2
    SZ = pd.merge(SZ, f3, on="skey", how="left")
    del f3
    p99 = SZ[(SZ["time"] > 93000000000) & (SZ["time"] < 145700000000) & (SZ["time"] != SZ["time2"]) & (SZ["tn_update"] != 0)]\
    .groupby("skey")["tn_update"].apply(lambda x: x.describe([0.99])["99%"]).reset_index()
    p99 = p99.rename(columns={"tn_update":"99%"})
    SZ = pd.merge(SZ, p99, on="skey", how="left")

    SZ["has_missing2"] = 0
    SZ["has_missing2"] = np.where((SZ["time_interval"] > 60) & (SZ["tn_update"] > SZ["99%"]) & 
         (SZ["time"] > SZ["time1"]) & (SZ["time"] != SZ["time2"]) & (SZ["time"] != SZ["time3"])& (SZ["time"] != 100000000000), 1, 0)
    SZ.drop(["time_interval", "tn_update", "time1", "time2", "time3", "99%"], axis=1, inplace=True) 

    SZ["has_missing"] = np.where((SZ["has_missing1"] == 1) | (SZ["has_missing2"] == 1), 1, 0)
    SZ.drop(["has_missing1", "has_missing2"], axis=1, inplace=True) 
    if SZ[SZ["has_missing"] == 1].shape[0] != 0:
        print("has missing!!!!!!!!!!!!!!!!!!!!!!!")
        print(SZ[SZ["has_missing"] == 1].shape[0])
        mi_ss += [SZ[SZ["has_missing"] == 1]]
    print(datetime.datetime.now() - startTm)

    
    
    startTm = datetime.datetime.now()
    SZ["has_missing"] = SZ["has_missing"].astype('int32')
    SZ = SZ[["skey", "date", "time", "clockAtArrival", "datetime", "ordering", "has_missing", "cum_trades_cnt", "cum_volume", "cum_amount", "prev_close",
                            "open", "high", "low", "close", 'bid10p','bid9p','bid8p','bid7p','bid6p','bid5p','bid4p','bid3p','bid2p','bid1p',
                            'ask1p','ask2p','ask3p','ask4p','ask5p','ask6p','ask7p','ask8p','ask9p','ask10p', 'bid10q','bid9q','bid8q',
                             'bid7q','bid6q','bid5q','bid4q','bid3q','bid2q','bid1q', 'ask1q','ask2q','ask3q','ask4q','ask5q','ask6q',
                             'ask7q','ask8q','ask9q','ask10q', 'bid10n', 'bid9n', 'bid8n', 'bid7n', 'bid6n', 'bid5n', 'bid4n', 'bid3n', 'bid2n', 'bid1n', 
                             'ask1n', 'ask2n', 'ask3n', 'ask4n', 'ask5n', 'ask6n','ask7n', 'ask8n', 'ask9n', 'ask10n','bid1Top1q','bid1Top2q','bid1Top3q','bid1Top4q','bid1Top5q','bid1Top6q',
        'bid1Top7q','bid1Top8q','bid1Top9q','bid1Top10q','bid1Top11q','bid1Top12q','bid1Top13q','bid1Top14q','bid1Top15q','bid1Top16q','bid1Top17q','bid1Top18q',
        'bid1Top19q','bid1Top20q','bid1Top21q','bid1Top22q','bid1Top23q','bid1Top24q','bid1Top25q','bid1Top26q','bid1Top27q','bid1Top28q','bid1Top29q',
        'bid1Top30q','bid1Top31q','bid1Top32q','bid1Top33q','bid1Top34q','bid1Top35q','bid1Top36q','bid1Top37q','bid1Top38q','bid1Top39q','bid1Top40q',
        'bid1Top41q','bid1Top42q','bid1Top43q','bid1Top44q','bid1Top45q','bid1Top46q','bid1Top47q','bid1Top48q','bid1Top49q','bid1Top50q', 'ask1Top1q',
        'ask1Top2q','ask1Top3q','ask1Top4q','ask1Top5q','ask1Top6q','ask1Top7q','ask1Top8q','ask1Top9q','ask1Top10q','ask1Top11q','ask1Top12q','ask1Top13q',
        'ask1Top14q','ask1Top15q','ask1Top16q','ask1Top17q','ask1Top18q','ask1Top19q','ask1Top20q','ask1Top21q','ask1Top22q','ask1Top23q',
        'ask1Top24q','ask1Top25q','ask1Top26q','ask1Top27q','ask1Top28q','ask1Top29q','ask1Top30q','ask1Top31q','ask1Top32q','ask1Top33q',
        'ask1Top34q','ask1Top35q','ask1Top36q','ask1Top37q','ask1Top38q','ask1Top39q','ask1Top40q','ask1Top41q','ask1Top42q','ask1Top43q',
        'ask1Top44q','ask1Top45q','ask1Top46q','ask1Top47q','ask1Top48q','ask1Top49q','ask1Top50q',"total_bid_quantity", "total_ask_quantity","total_bid_vwap", "total_ask_vwap",
        "total_bid_orders",'total_ask_orders','total_bid_levels', 'total_ask_levels', 'bid_trade_max_duration', 'ask_trade_max_duration', 'cum_canceled_buy_orders', 'cum_canceled_buy_volume',
        "cum_canceled_buy_amount", "cum_canceled_sell_orders", 'cum_canceled_sell_volume',"cum_canceled_sell_amount"]]
    
    display(SZ["date"].iloc[0])
    print("SZ finished")
    
    
    database_name = 'com_md_eq_cn'
    user = "zhenyuy"
    password = "bnONBrzSMGoE"

    db1 = DB("192.168.10.223", database_name, user, password)
    db1.write('md_snapshot_l2', SZ)
    
    del SZ
    print(datetime.datetime.now() - startTm)

wr_ong = pd.concat(wr_ong).reset_index(drop=True)
print(wr_ong)
mi_ss = pd.concat(mi_ss).reset_index(drop=True)
print(mi_ss)

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:203: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.

0:06:08.538612
0:00:00.401329
20181012 unzip finished
0:03:00.413604
0:02:04.384113
1
2
3
4
5
6
7
8
0:14:30.187728
0:00:40.587112

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
577,2001872,20181012,16.51,17.08,15.55,16.94,16.91,0.905679,0.001774,-0.125903,-0.006822,-0.006491,2582066.0,42678381.92,0.005555,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464859300.0,644763730.0,NaN,NaN
967,2001914,20181012,6.33,6.35,5.88,6.18,6.32,0.973838,-0.022152,-0.118402,-0.006822,-0.006491,4528175.0,27742818.26,0.006791,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.798322
no massive missing
0:02:56.788300

20181012

SZ finished
0:01:28.058478
0:00:00.735396
20181015 unzip finished
0:03:59.540366
0:01:43.130906
1
2
3
4
5
6
7
8
0:12:25.055570
0:00:34.285437

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
576,2001872,20181015,17.10,17.70,17.06,17.23,16.94,0.905679,0.017119,-0.125824,-0.018439,-0.015541,2063050.0,35772332.81,0.004438,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464859300.0,644763730.0,NaN,NaN
965,2001914,20181015,6.41,6.41,6.18,6.21,6.18,0.973838,0.004854,-0.096070,-0.018439,-0.015541,3537087.0,22243030.63,0.005304,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.388490
no massive missing
0:02:35.536743

20181015

SZ finished
0:01:24.755486
0:00:00.612924
20181016 unzip finished
0:01:26.415466
0:01:47.024861
1
2
3
4
5
6
7
8
0:12:45.218959
0:00:40.993617

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
577,2001872,20181016,16.96,17.30,16.09,16.48,17.23,0.905679,-0.043529,-0.147439,-0.023688,-0.022413,2257383.0,37835363.02,0.004856,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464859300.0,644763730.0,NaN,NaN
966,2001914,20181016,6.20,6.24,6.00,6.10,6.21,0.973838,-0.017713,-0.115942,-0.023688,-0.022413,2360747.0,14452124.95,0.003540,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:06.501698
no massive missing
0:02:41.757570

20181016

SZ finished
0:01:21.579464
0:00:01.594995
20181017 unzip finished
0:01:46.032225
0:01:50.407351
1
2
3
4
5
6
7
8
0:13:05.238416
0:00:32.877340

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
576,2001872,20181017,16.78,16.95,16.05,16.6,16.48,0.905679,0.007282,-0.113248,0.00822,0.00728,1497524.0,24868232.40,0.003221,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464859300.0,644763730.0,NaN,NaN
965,2001914,20181017,6.06,6.22,6.00,6.1,6.10,0.973838,0.000000,-0.113372,0.00822,0.00728,2321676.0,14158860.34,0.003482,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.564997
no massive missing
0:02:29.717947

20181017

SZ finished
0:01:15.498635
0:00:00.432200
20181018 unzip finished
0:03:28.823644
0:01:58.249937
1
2
3
4
5
6
7
8
0:12:46.927726
0:00:33.077633

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
575,2001872,20181018,16.61,17.87,16.61,17.57,16.6,0.905679,0.058434,0.039030,-0.027803,-0.033259,4539083.0,78768545.41,0.009764,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464859300.0,644763730.0,NaN,NaN
964,2001914,20181018,6.01,6.06,5.80,5.81,6.1,0.973838,-0.047541,-0.080696,-0.027803,-0.033259,2052865.0,12161758.38,0.003079,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.652347
no massive missing
0:02:29.894466

20181018

SZ finished
0:01:17.590030
0:01:09.522699
20181019 unzip finished
0:00:55.222544
0:01:53.235889
1
2
3
4
5
6
7
8
0:13:44.228516
0:00:38.775187

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
575,2001872,20181019,17.05,18.98,17.05,18.91,17.57,0.905679,0.076266,0.116293,0.027255,0.022121,4024715.0,72127823.68,0.008658,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464859300.0,644763730.0,NaN,NaN
963,2001914,20181019,5.79,5.94,5.68,5.94,5.81,0.973838,0.022375,-0.038835,0.027255,0.022121,2198932.0,12849420.83,0.003298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.327474
no massive missing
0:03:04.959788

20181019

SZ finished
0:01:14.433332
0:00:55.694972
20181022 unzip finished
0:01:04.608438
0:02:11.565019
1
2
3
4
5
6
7
8
0:16:16.953095
0:00:39.606227

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
574,2001872,20181022,19.4,19.78,18.54,19.5,18.91,0.905679,0.031200,0.131747,0.0497,0.049868,6319155.0,1.219171e+08,0.013594,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464859300.0,644763730.0,NaN,NaN
962,2001914,20181022,6.0,6.25,6.00,6.2,5.94,0.973838,0.043771,-0.001610,0.0497,0.049868,3246096.0,1.997773e+07,0.004868,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.306691
no massive missing
0:03:06.319999

20181022

SZ finished
0:01:23.180563
0:00:55.722216
20181023 unzip finished
0:01:00.872174
0:02:03.164644
1
2
3
4
5
6
7
8
0:14:32.447283
0:00:37.509013

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
574,2001872,20181023,19.63,19.96,18.00,18.22,19.5,0.905679,-0.065641,0.105583,-0.018367,-0.016547,6718985.0,1.265159e+08,0.014454,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464859300.0,644763730.0,NaN,NaN
962,2001914,20181023,6.14,6.41,6.13,6.21,6.2,0.973838,0.001613,0.018033,-0.018367,-0.016547,3156482.0,1.973352e+07,0.004734,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.793391
no massive missing
0:02:48.632536

20181023

SZ finished
0:01:20.209812
0:00:44.246405
20181024 unzip finished
0:00:57.009055
0:02:23.165133
1
2
3
4
5
6
7
8
0:13:58.534732
0:00:36.784775

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
575,2001872,20181024,17.85,18.29,17.18,17.67,18.22,0.905679,-0.030187,0.064458,-0.001897,-0.000344,2983744.0,52966050.70,0.006419,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464859300.0,644763730.0,NaN,NaN
963,2001914,20181024,6.20,6.38,6.16,6.35,6.21,0.973838,0.022544,0.040984,-0.001897,-0.000344,2406267.0,15123103.55,0.003609,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.702640
no massive missing
0:02:39.235291

20181024

SZ finished
0:01:14.302926
0:00:45.272892
20181025 unzip finished
0:00:58.547667
0:01:53.276625
1
2
3
4
5
6
7
8
0:13:41.353213
0:00:39.203585

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
576,2001872,20181025,17.00,17.49,16.8,17.30,17.67,0.905679,-0.020939,-0.015367,-0.002607,-0.007361,3110534.0,53188912.07,0.006691,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464859300.0,644763730.0,NaN,NaN
963,2001914,20181025,6.35,6.37,6.2,6.28,6.35,0.973838,-0.011024,0.080895,-0.002607,-0.007361,2123719.0,13281545.80,0.003185,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.813952
no massive missing
0:02:48.544486

20181025

SZ finished
0:01:21.176056
0:00:48.345280
20181026 unzip finished
0:01:08.097397
0:01:54.556241
1
2
3
4
5
6
7
8
0:13:26.413116
0:00:34.701916

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
574,2001872,20181026,17.39,17.64,17.15,17.24,17.30,0.905679,-0.003468,-0.088313,-0.000109,0.003256,2012170.0,35024687.46,0.004329,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464859300.0,644763730.0,NaN,NaN
962,2001914,20181026,6.28,6.56,6.28,6.40,6.28,0.973838,0.019108,0.077441,-0.000109,0.003256,2755300.0,17729939.00,0.004132,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.790643
no massive missing
0:02:35.749553

20181026

SZ finished
0:01:06.624841
0:00:41.402798
20181029 unzip finished
0:00:50.979014
0:01:49.219465
1
2
3
4
5
6
7
8
0:13:08.691143
0:00:37.107618

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
575,2001872,20181029,17.35,17.35,16.89,16.98,17.24,0.905679,-0.015081,-0.129231,-0.016871,-0.0144,1357310.0,23202396.60,0.002920,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464859300.0,644763730.0,NaN,NaN
964,2001914,20181029,6.34,6.47,6.34,6.40,6.40,0.973838,0.000000,0.032258,-0.016871,-0.0144,1797281.0,11524353.11,0.002695,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.640851
no massive missing
0:02:34.218780

20181029

SZ finished
0:01:25.341581
0:00:49.724086
20181030 unzip finished
0:01:00.136374
0:02:09.463295
1
2
3
4
5
6
7
8
0:13:59.437179
0:00:40.230759

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
576,2001872,20181030,17.13,17.35,16.99,17.09,16.98,0.905679,0.006478,-0.062020,0.010094,0.009298,1752400.0,30092548.00,0.003770,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464859300.0,644763730.0,NaN,NaN
965,2001914,20181030,6.37,6.47,6.21,6.45,6.40,0.973838,0.007812,0.038647,0.010094,0.009298,3072633.0,19485680.09,0.004608,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.319016
no massive missing
0:02:48.825669

20181030

SZ finished
0:01:16.490360
0:00:45.243264
20181031 unzip finished
0:01:00.281243
0:02:01.258082
1
2
3
4
5
6
7
8
0:14:09.169118
0:00:39.219280

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
576,2001872,20181031,17.12,17.29,17.03,17.28,17.09,0.905679,0.011118,-0.022071,0.016175,0.01475,1923311.0,33101653.48,0.004137,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464859300.0,644763730.0,NaN,NaN
961,2001914,20181031,6.44,6.64,6.44,6.60,6.45,0.973838,0.023256,0.039370,0.016175,0.01475,4108453.0,26992616.94,0.006161,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.945358
no massive missing
0:03:36.626181

20181031

SZ finished
0:01:22.102544
0:00:51.549221
20181101 unzip finished
0:01:04.290113
0:02:06.157113
1
2
3
4
5
6
7
8
0:15:45.647503
0:00:39.419984

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
577,2001872,20181101,17.41,17.65,17.30,17.50,17.28,0.905679,0.012731,0.011561,0.006186,0.006391,2542286.0,44404226.05,0.005469,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464859300.0,644763730.0,NaN,NaN
961,2001914,20181101,6.64,7.06,6.62,6.84,6.60,0.973838,0.036364,0.089172,0.006186,0.006391,5193383.0,35577515.31,0.007788,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.422844
no massive missing
0:03:12.197387

20181101

SZ finished
0:01:20.531500
0:00:52.643915
20181102 unzip finished
0:01:02.468733
0:02:08.742936
1
2
3
4
5
6
7
8
0:15:38.634269
0:00:40.789126

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
576,2001872,20181102,17.67,17.88,17.42,17.85,17.50,0.905679,0.020000,0.035383,0.032324,0.030582,2974686.0,52606701.53,0.006399,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464859300.0,644763730.0,NaN,NaN
962,2001914,20181102,6.95,6.99,6.85,6.98,6.84,0.973838,0.020468,0.090625,0.032324,0.030582,3471447.0,23983956.02,0.005206,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.247203
no massive missing
0:03:10.530287

20181102

SZ finished
0:01:18.506149
0:00:50.964073
20181105 unzip finished
0:01:02.515165
0:02:14.771492
1
2
3
4
5
6
7
8
0:15:54.231168
0:00:53.239533

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
579,2001872,20181105,17.75,17.93,17.54,17.67,17.85,0.905679,-0.010084,0.040636,0.000649,0.007455,2819450.0,49921684.57,0.006065,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464859300.0,644763730.0,NaN,NaN
967,2001914,20181105,6.92,7.10,6.90,7.02,6.98,0.973838,0.005731,0.096875,0.000649,0.007455,4227341.0,29534827.07,0.006340,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.436358
no massive missing
0:03:04.151237

20181105

SZ finished
0:01:21.872517
0:00:47.959234
20181106 unzip finished
0:00:56.562072
0:02:00.604491
1
2
3
4
5
6
7
8
0:14:27.239786
0:00:41.956581

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
580,2001872,20181106,17.67,17.67,17.20,17.50,17.67,0.905679,-0.009621,0.023991,-0.000615,0.001067,1665823.0,28959754.79,0.003583,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464859300.0,644763730.0,NaN,NaN
968,2001914,20181106,7.00,7.29,6.97,7.27,7.02,0.973838,0.035613,0.127132,-0.000615,0.001067,5675052.0,40656921.62,0.008511,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.793615
no massive missing
0:03:18.967084

20181106

SZ finished
0:01:21.005962
0:00:49.801963
20181107 unzip finished
0:01:02.105474
0:02:06.337424
1
2
3
4
5
6
7
8
0:15:10.172330
0:00:37.592654

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
583,2001872,20181107,17.50,17.88,17.36,17.51,17.50,0.905679,0.000571,0.013310,-0.005174,-0.002232,1823523.0,32202755.3,0.003923,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464859300.0,644763730.0,NaN,NaN
972,2001914,20181107,7.23,7.99,7.23,7.65,7.27,0.973838,0.052270,0.159091,-0.005174,-0.002232,12256770.0,94301069.2,0.018381,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.337847
no massive missing
0:03:04.846818

20181107

SZ finished
0:01:21.182251
0:00:48.208845
20181108 unzip finished
0:00:57.837624
0:02:03.888610
1
2
3
4
5
6
7
8
0:14:27.534805
0:00:38.744156

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
582,2001872,20181108,17.58,17.78,17.31,17.37,17.51,0.905679,-0.007995,-0.007429,-0.007431,-0.004454,1381363.0,24291503.21,0.002972,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464859300.0,644763730.0,NaN,NaN
972,2001914,20181108,7.62,7.71,7.40,7.40,7.65,0.973838,-0.032680,0.081871,-0.007431,-0.004454,7274057.0,54954847.63,0.010909,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.019383
no massive missing
0:02:45.086866

20181108

SZ finished
0:01:19.933158
0:00:44.204214
20181109 unzip finished
0:00:56.847957
0:01:59.087699
1
2
3
4
5
6
7
8
0:13:47.348382
0:00:37.252505

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
584,2001872,20181109,17.29,17.29,16.89,16.89,17.37,0.905679,-0.027634,-0.053782,-0.003129,-0.002442,1756551.0,29963599.44,0.003779,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464859300.0,644763730.0,NaN,NaN
975,2001914,20181109,7.40,7.64,7.37,7.40,7.40,0.973838,0.000000,0.060172,-0.003129,-0.002442,4396237.0,32985223.10,0.006593,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.972244
no massive missing
0:02:43.842289

20181109

SZ finished
0:01:16.802511
0:00:51.794111
20181112 unzip finished
0:01:03.426746
0:02:13.158528
1
2
3
4
5
6
7
8
0:15:48.098529
0:00:40.661713

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
585,2001872,20181112,16.88,17.2,16.70,17.19,16.89,0.905679,0.017762,-0.027165,0.025883,0.029846,1973046.0,33603150.57,0.004244,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464859300.0,644763730.0,NaN,NaN
976,2001914,20181112,7.40,7.6,7.33,7.51,7.40,0.973838,0.014865,0.069801,0.025883,0.029846,4231058.0,31672256.80,0.006345,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.266700
no massive missing
0:03:01.582549

20181112

SZ finished
0:01:29.179747
0:00:56.793847
20181113 unzip finished
0:01:08.863688
0:02:20.811542
1
2
3
4
5
6
7
8
0:17:15.643099
0:00:52.367759

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
585,2001872,20181113,17.01,17.49,16.82,17.36,17.19,0.905679,0.009889,-0.008000,0.018263,0.01982,2847688.0,48924852.12,0.006126,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464859300.0,644763730.0,NaN,NaN
976,2001914,20181113,7.40,7.67,7.36,7.59,7.51,0.973838,0.010652,0.044017,0.018263,0.01982,4570334.0,34596308.47,0.006854,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.497719
no massive missing
0:03:09.113582

20181113

SZ finished
0:01:27.372493
0:01:19.612949
20181114 unzip finished
0:01:08.016028
0:02:17.922775
1
2
3
4
5
6
7
8
0:16:11.545167
0:00:41.856465

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
585,2001872,20181114,17.30,17.62,17.21,17.22,17.36,0.905679,-0.008065,-0.016562,-0.00395,0.000162,3276460.0,56965280.76,0.007048,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464859300.0,644763730.0,NaN,NaN
979,2001914,20181114,7.57,7.84,7.54,7.68,7.59,0.973838,0.011858,0.003922,-0.00395,0.000162,4875605.0,37449312.33,0.007312,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.536620
no massive missing
0:03:11.018180

20181114

SZ finished
0:01:26.290451
0:01:31.992070
20181115 unzip finished
0:01:24.996934
0:02:18.552775
1
2
3
4
5
6
7
8
0:15:43.840127
0:00:39.156580

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
585,2001872,20181115,17.22,17.44,17.02,17.44,17.22,0.905679,0.012776,0.004030,0.016347,0.016669,3307516.0,57139327.17,0.007115,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464859300.0,644763730.0,NaN,NaN
979,2001914,20181115,7.68,8.03,7.65,7.89,7.68,0.973838,0.027344,0.066216,0.016347,0.016669,5528054.0,43237700.12,0.008290,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.073333
no massive missing
0:02:47.335027

20181115

SZ finished
0:01:20.355120
0:00:00.429854
20181116 unzip finished

NameError: name 'df' is not defined

In [5]:
import pymongo
import pandas as pd
import pickle
import datetime
import time
import gzip
import lzma
import pytz


def DB(host, db_name, user, passwd):
    auth_db = db_name if user not in ('admin', 'root') else 'admin'
    uri = 'mongodb://%s:%s@%s/?authSource=%s' % (user, passwd, host, auth_db)
    return DBObj(uri, db_name=db_name)


class DBObj(object):
    def __init__(self, uri, symbol_column='skey', db_name='white_db'):
        self.db_name = db_name
        self.uri = uri
        self.client = pymongo.MongoClient(self.uri)
        self.db = self.client[self.db_name]
        self.chunk_size = 20000
        self.symbol_column = symbol_column
        self.date_column = 'date'

    def parse_uri(self, uri):
        # mongodb://user:password@example.com
        return uri.strip().replace('mongodb://', '').strip('/').replace(':', ' ').replace('@', ' ').split(' ')

    def drop_table(self, table_name):
        self.db.drop_collection(table_name)

    def rename_table(self, old_table, new_table):
        self.db[old_table].rename(new_table)

    def write(self, table_name, df):
        if len(df) == 0: return

        multi_date = False

        if self.date_column in df.columns:
            date = str(df.head(1)[self.date_column].iloc[0])
            multi_date = len(df[self.date_column].unique()) > 1
        else:
            raise Exception('DataFrame should contain date column')

        collection = self.db[table_name]
        collection.create_index([('date', pymongo.ASCENDING), ('symbol', pymongo.ASCENDING)], background=True)
        collection.create_index([('symbol', pymongo.ASCENDING), ('date', pymongo.ASCENDING)], background=True)

        if multi_date:
            for (date, symbol), sub_df in df.groupby([self.date_column, self.symbol_column]):
                date = str(date)
                symbol = int(symbol)
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)
        else:
            for symbol, sub_df in df.groupby([self.symbol_column]):
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)

    def write_single(self, collection, date, symbol, df):
        for start in range(0, len(df), self.chunk_size):
            end = min(start + self.chunk_size, len(df))
            df_seg = df[start:end]
            version = 1
            seg = {'ver': version, 'data': self.ser(df_seg, version), 'date': date, 'symbol': symbol, 'start': start}
            collection.insert_one(seg)

    def build_query(self, start_date=None, end_date=None, symbol=None):
        query = {}

        def parse_date(x):
            if type(x) == str:
                if len(x) != 8:
                    raise Exception("`date` must be YYYYMMDD format")
                return x
            elif type(x) == datetime.datetime or type(x) == datetime.date:
                return x.strftime("%Y%m%d")
            elif type(x) == int:
                return parse_date(str(x))
            else:
                raise Exception("invalid `date` type: " + str(type(x)))

        if start_date is not None or end_date is not None:
            query['date'] = {}
            if start_date is not None:
                query['date']['$gte'] = parse_date(start_date)
            if end_date is not None:
                query['date']['$lte'] = parse_date(end_date)

        def parse_symbol(x):
            if type(x) == int:
                return x
            else:
                return int(x)

        if symbol:
            if type(symbol) == list or type(symbol) == tuple:
                query['symbol'] = {'$in': [parse_symbol(x) for x in symbol]}
            else:
                query['symbol'] = parse_symbol(symbol)

        return query

    def delete(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot delete the whole table')
            return None

        collection.delete_many(query)

    def read(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot read the whole table')
            return None

        segs = []
        for x in collection.find(query):
            x['data'] = self.deser(x['data'], x['ver'])
            segs.append(x)
        segs.sort(key=lambda x: (x['symbol'], x['date'], x['start']))
        return pd.concat([x['data'] for x in segs], ignore_index=True) if segs else None

    def list_tables(self):
        return self.db.collection_names()

    def list_dates(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]
        dates = set()
        if start_date is None:
            start_date = '00000000'
        if end_date is None:
            end_date = '99999999'
        for x in collection.find(self.build_query(start_date, end_date, symbol), {"date": 1, '_id': 0}):
            dates.add(x['date'])
        return sorted(list(dates))

    def ser(self, s, version):
        pickle_protocol = 4
        if version == 1:
            return gzip.compress(pickle.dumps(s, protocol=pickle_protocol), compresslevel=2)
        elif version == 2:
            return lzma.compress(pickle.dumps(s, protocol=pickle_protocol), preset=1)
        else:
            raise Exception('unknown version')

    def deser(self, s, version):
        def unpickle(s):
            return pickle.loads(s)

        if version == 1:
            return unpickle(gzip.decompress(s))
        elif version == 2:
            return unpickle(lzma.decompress(s))
        else:
            raise Exception('unknown version')


def patch_pandas_pickle():
    if pd.__version__ < '0.24':
        import sys
        from types import ModuleType
        from pandas.core.internals import BlockManager
        pkg_name = 'pandas.core.internals.managers'
        if pkg_name not in sys.modules:
            m = ModuleType(pkg_name)
            m.BlockManager = BlockManager
            sys.modules[pkg_name] = m
patch_pandas_pickle()












import pandas as pd
import random
import numpy as np
import glob
import os
import pickle
import datetime
import time
pd.set_option("max_columns", 200)

startTm = datetime.datetime.now()
readPath = '/home/work516/day_stock/***'
dataPathLs = np.array(glob.glob(readPath))
dataPathLs = dataPathLs[[np.array([os.path.basename(i).split('.')[0][:2] == 'SZ' for i in dataPathLs])]]
db = pd.DataFrame()
for p in dataPathLs:
    dayData = pd.read_csv(p, compression='gzip')
    db = pd.concat([db, dayData])
print(datetime.datetime.now() - startTm)

year = "2018"
startDate = '20181116'
endDate = '20181231'
readPath = '/mnt/usb/data/' + year + '/***/***'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([os.path.basename(i).split('_')[0] for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]
date_list = pd.read_csv("/home/work516/KR_upload_code/trading_days.csv")
wr_ong = []
mi_ss = []
less = []

for data in dataPathLs:    
    
    if len(np.array(glob.glob(data + '/SZ/***'))) == 0:
        if int(os.path.basename(data)) not in date_list["Date"].values:
            continue
        else:
            print(os.path.basename(data) + " less data!!!!!!!!!!!!!!!!!")
            less.append(data)
            continue
    startTm = datetime.datetime.now()
    date = os.path.basename(data)
    rar_path = data + '/SZ/snapshot.7z'
    path = '/mnt/e/unzip_data/2018/SZ'
    path1 = path + '/' + date
    un_path = path1
    cmd = '7za x {} -o{}'.format(rar_path, un_path)
    os.system(cmd)
    print(datetime.datetime.now() - startTm)
    print(date + ' unzip finished')
    
    readPath = path1 + '/snapshot/***2/***'
    dataPathLs = np.array(glob.glob(readPath))
    dateLs = np.array([int(os.path.basename(i).split('.')[0]) for i in dataPathLs])
    dataPathLs = dataPathLs[(dateLs < 4000) | ((dateLs > 300000) & (dateLs < 310000))]
    SZ = []
    ll = []
    startTm = datetime.datetime.now()
    for i in dataPathLs:
        try:
            df = pd.read_csv(i, usecols = [0,1,4,5,6,7,9,12,17,18,19,24,25,26,28,29,30,32,33,34,35])
        except:
            print("empty data")
            print(i)
            ll.append(int(os.path.basename(i).split('.')[0]))
            continue
        df["StockID"] = int(os.path.basename(i).split('.')[0])
        SZ += [df]
    del df
    SZ = pd.concat(SZ).reset_index(drop=True)
    print(datetime.datetime.now() - startTm)
    
    startTm = datetime.datetime.now()
    SZ["skey"] = SZ["StockID"] + 2000000
    SZ.drop(["StockID"],axis=1,inplace=True)
    SZ["date"] = int(SZ["QuotTime"].iloc[0]//1000000000)
    SZ["time"] = (SZ['QuotTime'] - int(SZ['QuotTime'].iloc[0]//1000000000*1000000000)).astype(np.int64) * 1000
    SZ["clockAtArrival"] = SZ["QuotTime"].astype(str).apply(lambda x: np.int64(datetime.datetime.strptime(x, '%Y%m%d%H%M%S%f').timestamp()*1e6))
    SZ['datetime'] = SZ["clockAtArrival"].apply(lambda x: datetime.datetime.fromtimestamp(x/1e6))
    SZ.drop(["QuotTime"],axis=1,inplace=True)
    print(datetime.datetime.now() - startTm)
    
    startTm = datetime.datetime.now()
    SZ["BidPrice"] = SZ["BidPrice"].apply(lambda x: [float(i) for i in x[1:-1].split(',')])
    SZ["OfferPrice"] = SZ["OfferPrice"].apply(lambda x: [float(i) for i in x[1:-1].split(',')])
    SZ["BidOrderQty"] = SZ["BidOrderQty"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["OfferOrderQty"] = SZ["OfferOrderQty"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["BidNumOrders"] = SZ["BidNumOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["OfferNumOrders"] = SZ["OfferNumOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])

    for i in range(1, 11):
        SZ["bid" + str(i) + 'p'] = SZ["BidPrice"].apply(lambda x: x[i-1],2)
    SZ.drop(["BidPrice"],axis=1,inplace=True)
    print("1")
    for i in range(1, 11):
        SZ["ask" + str(i) + 'p'] = SZ["OfferPrice"].apply(lambda x: x[i-1],2)
    SZ.drop(["OfferPrice"],axis=1,inplace=True)
    print("2")
    for i in range(1, 11):
        SZ["bid" + str(i) + 'q'] = SZ["BidOrderQty"].apply(lambda x: x[i-1])
    SZ.drop(["BidOrderQty"],axis=1,inplace=True)
    print("3")
    for i in range(1, 11):
        SZ["ask" + str(i) + 'q'] = SZ["OfferOrderQty"].apply(lambda x: x[i-1])
    SZ.drop(["OfferOrderQty"],axis=1,inplace=True)
    print("4")
    for i in range(1, 11):
        SZ["bid" + str(i) + 'n'] = SZ["BidNumOrders"].apply(lambda x: x[i-1])
        SZ["bid" + str(i) + 'n'] = SZ["bid" + str(i) + 'n'].astype('int32')
    SZ.drop(["BidNumOrders"],axis=1,inplace=True)
    print("5")
    for i in range(1, 11):
        SZ["ask" + str(i) + 'n'] = SZ["OfferNumOrders"].apply(lambda x: x[i-1])
        SZ["ask" + str(i) + 'n'] = SZ["ask" + str(i) + 'n'].astype('int32') 
    SZ.drop(["OfferNumOrders"],axis=1,inplace=True)
    print("6")
    
    SZ["BidOrders"] = SZ["BidOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])
    SZ["OfferOrders"] = SZ["OfferOrders"].apply(lambda x: [int(i) for i in x[1:-1].split(',')])

    for i in range(1, 51):
        SZ["bid1Top" + str(i) + 'q'] = SZ["BidOrders"].apply(lambda x: x[i-1])
        SZ["bid1Top" + str(i) + 'q'] = SZ["bid1Top" + str(i) + 'q'].astype('int32') 
    SZ.drop(["BidOrders"],axis=1,inplace=True)
    print("7")
    
    for i in range(1, 51):
        SZ["ask1Top" + str(i) + 'q'] = SZ["OfferOrders"].apply(lambda x: x[i-1])
        SZ["ask1Top" + str(i) + 'q'] = SZ["ask1Top" + str(i) + 'q'].astype('int32') 
    SZ.drop(["OfferOrders"],axis=1,inplace=True)
    print("8")
    print(datetime.datetime.now() - startTm)
        
    
    startTm = datetime.datetime.now()
    SZ.columns = ['cum_trades_cnt', 'total_bid_quantity', 'total_ask_quantity', 'close',
       'total_ask_vwap', 'cum_amount', 'cum_volume', 'open', 'high',
       'prev_close', 'low', 'total_bid_vwap', 'skey', 'date', 'time',
       'clockAtArrival', 'datetime', 'bid1p', 'bid2p', 'bid3p', 'bid4p',
       'bid5p', 'bid6p', 'bid7p', 'bid8p', 'bid9p', 'bid10p', 'ask1p',
       'ask2p', 'ask3p', 'ask4p', 'ask5p', 'ask6p', 'ask7p', 'ask8p',
       'ask9p', 'ask10p', 'bid1q', 'bid2q', 'bid3q', 'bid4q', 'bid5q',
       'bid6q', 'bid7q', 'bid8q', 'bid9q', 'bid10q', 'ask1q', 'ask2q',
       'ask3q', 'ask4q', 'ask5q', 'ask6q', 'ask7q', 'ask8q', 'ask9q',
       'ask10q', 'bid1n', 'bid2n', 'bid3n', 'bid4n', 'bid5n', 'bid6n',
       'bid7n', 'bid8n', 'bid9n', 'bid10n', 'ask1n', 'ask2n', 'ask3n',
       'ask4n', 'ask5n', 'ask6n', 'ask7n', 'ask8n', 'ask9n', 'ask10n',
       'bid1Top1q', 'bid1Top2q', 'bid1Top3q', 'bid1Top4q', 'bid1Top5q',
       'bid1Top6q', 'bid1Top7q', 'bid1Top8q', 'bid1Top9q', 'bid1Top10q',
       'bid1Top11q', 'bid1Top12q', 'bid1Top13q', 'bid1Top14q',
       'bid1Top15q', 'bid1Top16q', 'bid1Top17q', 'bid1Top18q',
       'bid1Top19q', 'bid1Top20q', 'bid1Top21q', 'bid1Top22q',
       'bid1Top23q', 'bid1Top24q', 'bid1Top25q', 'bid1Top26q',
       'bid1Top27q', 'bid1Top28q', 'bid1Top29q', 'bid1Top30q',
       'bid1Top31q', 'bid1Top32q', 'bid1Top33q', 'bid1Top34q',
       'bid1Top35q', 'bid1Top36q', 'bid1Top37q', 'bid1Top38q',
       'bid1Top39q', 'bid1Top40q', 'bid1Top41q', 'bid1Top42q',
       'bid1Top43q', 'bid1Top44q', 'bid1Top45q', 'bid1Top46q',
       'bid1Top47q', 'bid1Top48q', 'bid1Top49q', 'bid1Top50q',
       'ask1Top1q', 'ask1Top2q', 'ask1Top3q', 'ask1Top4q', 'ask1Top5q',
       'ask1Top6q', 'ask1Top7q', 'ask1Top8q', 'ask1Top9q', 'ask1Top10q',
       'ask1Top11q', 'ask1Top12q', 'ask1Top13q', 'ask1Top14q',
       'ask1Top15q', 'ask1Top16q', 'ask1Top17q', 'ask1Top18q',
       'ask1Top19q', 'ask1Top20q', 'ask1Top21q', 'ask1Top22q',
       'ask1Top23q', 'ask1Top24q', 'ask1Top25q', 'ask1Top26q',
       'ask1Top27q', 'ask1Top28q', 'ask1Top29q', 'ask1Top30q',
       'ask1Top31q', 'ask1Top32q', 'ask1Top33q', 'ask1Top34q',
       'ask1Top35q', 'ask1Top36q', 'ask1Top37q', 'ask1Top38q',
       'ask1Top39q', 'ask1Top40q', 'ask1Top41q', 'ask1Top42q',
       'ask1Top43q', 'ask1Top44q', 'ask1Top45q', 'ask1Top46q',
       'ask1Top47q', 'ask1Top48q', 'ask1Top49q', 'ask1Top50q']
    
    SZ = SZ.fillna(0)
#     SZ["p1"] = SZ["bid1p"] + SZ["ask1p"]
#     tt = SZ[(SZ["cum_volume"] > 0) & (SZ["time"] < 145700000000)].groupby("skey")['p1'].min()
#     SZ.drop("p1", axis=1, inplace=True)
#     try:
#         assert(tt[tt == 0].shape[0] == 0)
#     except:
#         display(tt[tt == 0])
#     SZ = SZ[~((SZ["bid1p"] == 0) & (SZ["ask1p"] == 0))]
    SZ["ordering"] = SZ.groupby("skey").cumcount()
    SZ["ordering"] = SZ["ordering"] + 1

    for cols in ["total_bid_orders",'total_ask_orders','total_bid_levels', 'total_ask_levels', 'bid_trade_max_duration',
                 'ask_trade_max_duration', 'cum_canceled_buy_orders', 'cum_canceled_buy_volume', "cum_canceled_buy_amount",
                 "cum_canceled_sell_orders", 'cum_canceled_sell_volume',"cum_canceled_sell_amount", "has_missing"]:
        SZ[cols] = 0
        
#     for col in ["cum_volume", "total_bid_quantity", "total_ask_quantity",'cum_canceled_buy_volume',
#         'cum_canceled_sell_volume']:
#         SZ[col] = SZ[col].astype('int64')
    
    for col in ["skey", "date", "cum_trades_cnt", "total_bid_orders",
        'total_ask_orders', 'total_bid_levels', 'total_ask_levels', 'cum_canceled_buy_orders','cum_canceled_sell_orders',
            "ordering", 'bid_trade_max_duration', 'ask_trade_max_duration','has_missing']:
        SZ[col] = SZ[col].astype('int32')
    
        
#     for cols in ["prev_close", 'open', "high", "low", "close", 'bid10p','bid9p','bid8p','bid7p','bid6p','bid5p','bid4p','bid3p',
#              'bid2p','bid1p','ask1p','ask2p','ask3p','ask4p','ask5p','ask6p','ask7p','ask8p','ask9p','ask10p', 'total_bid_vwap', "total_ask_vwap",
#                 "cum_amount"]:
# #         SZ[cols] = SZ[cols].apply(lambda x: round(x, 2)).astype('float64')
#         print(cols)
#         print(SZ[cols].astype(str).apply(lambda x: len(str(x.split('.')[1]))).unique())

        
    for cols in ["cum_canceled_sell_amount", "cum_canceled_buy_amount"]:
        SZ[cols] = SZ[cols].astype('float64')

        
    assert(sum(SZ[SZ["open"] != 0].groupby("skey")["open"].nunique() != 1) == 0)
    assert(sum(SZ[SZ["prev_close"] != 0].groupby("skey")["prev_close"].nunique() != 1) == 0)
    SZ["prev_close"] = np.where(SZ["time"] >= 91500000000, SZ.groupby("skey")["prev_close"].transform("max"), SZ["prev_close"]) 
    SZ["open"] = np.where(SZ["cum_volume"] > 0, SZ.groupby("skey")["open"].transform("max"), SZ["open"])
    assert(sum(SZ[SZ["open"] != 0].groupby("skey")["open"].nunique() != 1) == 0)
    assert(sum(SZ[SZ["prev_close"] != 0].groupby("skey")["prev_close"].nunique() != 1) == 0)
    assert(SZ[SZ["cum_volume"] > 0]["open"].min() > 0)
    
    print(datetime.datetime.now() - startTm)
    
    
    # check 1
    startTm = datetime.datetime.now()
    da_te = str(SZ["date"].iloc[0]) 
    da_te = da_te[:4] + '-' + da_te[4:6] + '-' + da_te[6:8]
    db1 = db[db["date"] == da_te]
    db1["ID"] = db1["ID"].str[2:].astype(int) + 2000000
    db1["date"] = (db1["date"].str[:4] + db1["date"].str[5:7] + db1["date"].str[8:]).astype(int)
    SZ["cum_max"] = SZ.groupby("skey")["cum_volume"].transform(max)
    s2 = SZ[SZ["cum_volume"] == SZ["cum_max"]].groupby("skey").first().reset_index()
    SZ.drop("cum_max", axis=1, inplace=True)
    s2 = s2.rename(columns={"skey": "ID", 'open':"d_open", "prev_close":"d_yclose","high":"d_high", "low":"d_low", "close":"d_close", "cum_volume":"d_volume", "cum_amount":"d_amount"})
    s2 = s2[["ID", "date", "d_open", "d_yclose", "d_high", "d_low", "d_close", "d_volume", "d_amount"]]
    re = pd.merge(db1, s2, on=["ID", "date", "d_open", "d_yclose","d_high", "d_low", "d_volume"], how="outer")
    try:
        assert(sum(re["d_amount_y"].isnull()) == 0)
    except:
        display(re[re["d_amount_y"].isnull()])
        wr_ong += [re[re["d_amount_y"].isnull()]]
    del re
    del s2
    del db1
    print(datetime.datetime.now() - startTm)
    
    # check 2
    # first part
    startTm = datetime.datetime.now()
    date = pd.DataFrame(pd.date_range(start='2019-06-10 08:30:00', end='2019-06-10 18:00:00', freq='s'), columns=["Orig"])
    date["time"] = date["Orig"].apply(lambda x: int(x.strftime("%H%M%S"))*1000)
    date["group"] = date["time"]//10000
    SZ["group"] = SZ["time"]//10000000
    gl = date[((date["time"] >= 93000000) & (date["time"] <= 113000000))|((date["time"] >= 130000000) & (date["time"] <= 150000000))]["group"].unique()
    l = set(gl) - set(SZ["group"].unique())
    SZ["has_missing1"] = 0 
    if len(l) != 0:
        print("massive missing")
        print(l)
        SZ["order"] = SZ.groupby(["skey", "time"]).cumcount()
        for i in l:
            SZ["t"] = SZ[SZ["group"] > i].groupby("skey")["time"].transform("min")
            SZ["has_missing1"] = np.where((SZ["time"] == SZ["t"]) & (SZ["order"] == 0), 1, 0)
        SZ.drop(["order", "t", "group"], axis=1, inplace=True)   
    else:
        print("no massive missing")
        SZ.drop(["group"], axis=1, inplace=True)
    



    # second part

    SZ["time_interval"] = SZ.groupby("skey")["datetime"].apply(lambda x: x - x.shift(1))
    SZ["time_interval"] = SZ["time_interval"].apply(lambda x: x.seconds)
    SZ["tn_update"] = SZ.groupby("skey")["cum_trades_cnt"].apply(lambda x: x-x.shift(1))

    f1 = SZ[(SZ["time"] >= 93000000000) & (SZ["tn_update"] != 0)].groupby("skey")["time"].min().reset_index()
    f1 = f1.rename(columns={"time": "time1"})
    f2 = SZ[(SZ["time"] >= 130000000000) & (SZ["tn_update"] != 0)].groupby("skey")["time"].min().reset_index()
    f2 = f2.rename(columns={"time": "time2"})
    f3 = SZ[(SZ["time"] >= 150000000000) & (SZ["tn_update"] != 0)].groupby("skey")["time"].min().reset_index()
    f3 = f3.rename(columns={"time": "time3"})
    SZ = pd.merge(SZ, f1, on="skey", how="left")
    del f1
    SZ = pd.merge(SZ, f2, on="skey", how="left")
    del f2
    SZ = pd.merge(SZ, f3, on="skey", how="left")
    del f3
    p99 = SZ[(SZ["time"] > 93000000000) & (SZ["time"] < 145700000000) & (SZ["time"] != SZ["time2"]) & (SZ["tn_update"] != 0)]\
    .groupby("skey")["tn_update"].apply(lambda x: x.describe([0.99])["99%"]).reset_index()
    p99 = p99.rename(columns={"tn_update":"99%"})
    SZ = pd.merge(SZ, p99, on="skey", how="left")

    SZ["has_missing2"] = 0
    SZ["has_missing2"] = np.where((SZ["time_interval"] > 60) & (SZ["tn_update"] > SZ["99%"]) & 
         (SZ["time"] > SZ["time1"]) & (SZ["time"] != SZ["time2"]) & (SZ["time"] != SZ["time3"])& (SZ["time"] != 100000000000), 1, 0)
    SZ.drop(["time_interval", "tn_update", "time1", "time2", "time3", "99%"], axis=1, inplace=True) 

    SZ["has_missing"] = np.where((SZ["has_missing1"] == 1) | (SZ["has_missing2"] == 1), 1, 0)
    SZ.drop(["has_missing1", "has_missing2"], axis=1, inplace=True) 
    if SZ[SZ["has_missing"] == 1].shape[0] != 0:
        print("has missing!!!!!!!!!!!!!!!!!!!!!!!")
        print(SZ[SZ["has_missing"] == 1].shape[0])
        mi_ss += [SZ[SZ["has_missing"] == 1]]
    print(datetime.datetime.now() - startTm)

    
    
    startTm = datetime.datetime.now()
    SZ["has_missing"] = SZ["has_missing"].astype('int32')
    SZ = SZ[["skey", "date", "time", "clockAtArrival", "datetime", "ordering", "has_missing", "cum_trades_cnt", "cum_volume", "cum_amount", "prev_close",
                            "open", "high", "low", "close", 'bid10p','bid9p','bid8p','bid7p','bid6p','bid5p','bid4p','bid3p','bid2p','bid1p',
                            'ask1p','ask2p','ask3p','ask4p','ask5p','ask6p','ask7p','ask8p','ask9p','ask10p', 'bid10q','bid9q','bid8q',
                             'bid7q','bid6q','bid5q','bid4q','bid3q','bid2q','bid1q', 'ask1q','ask2q','ask3q','ask4q','ask5q','ask6q',
                             'ask7q','ask8q','ask9q','ask10q', 'bid10n', 'bid9n', 'bid8n', 'bid7n', 'bid6n', 'bid5n', 'bid4n', 'bid3n', 'bid2n', 'bid1n', 
                             'ask1n', 'ask2n', 'ask3n', 'ask4n', 'ask5n', 'ask6n','ask7n', 'ask8n', 'ask9n', 'ask10n','bid1Top1q','bid1Top2q','bid1Top3q','bid1Top4q','bid1Top5q','bid1Top6q',
        'bid1Top7q','bid1Top8q','bid1Top9q','bid1Top10q','bid1Top11q','bid1Top12q','bid1Top13q','bid1Top14q','bid1Top15q','bid1Top16q','bid1Top17q','bid1Top18q',
        'bid1Top19q','bid1Top20q','bid1Top21q','bid1Top22q','bid1Top23q','bid1Top24q','bid1Top25q','bid1Top26q','bid1Top27q','bid1Top28q','bid1Top29q',
        'bid1Top30q','bid1Top31q','bid1Top32q','bid1Top33q','bid1Top34q','bid1Top35q','bid1Top36q','bid1Top37q','bid1Top38q','bid1Top39q','bid1Top40q',
        'bid1Top41q','bid1Top42q','bid1Top43q','bid1Top44q','bid1Top45q','bid1Top46q','bid1Top47q','bid1Top48q','bid1Top49q','bid1Top50q', 'ask1Top1q',
        'ask1Top2q','ask1Top3q','ask1Top4q','ask1Top5q','ask1Top6q','ask1Top7q','ask1Top8q','ask1Top9q','ask1Top10q','ask1Top11q','ask1Top12q','ask1Top13q',
        'ask1Top14q','ask1Top15q','ask1Top16q','ask1Top17q','ask1Top18q','ask1Top19q','ask1Top20q','ask1Top21q','ask1Top22q','ask1Top23q',
        'ask1Top24q','ask1Top25q','ask1Top26q','ask1Top27q','ask1Top28q','ask1Top29q','ask1Top30q','ask1Top31q','ask1Top32q','ask1Top33q',
        'ask1Top34q','ask1Top35q','ask1Top36q','ask1Top37q','ask1Top38q','ask1Top39q','ask1Top40q','ask1Top41q','ask1Top42q','ask1Top43q',
        'ask1Top44q','ask1Top45q','ask1Top46q','ask1Top47q','ask1Top48q','ask1Top49q','ask1Top50q',"total_bid_quantity", "total_ask_quantity","total_bid_vwap", "total_ask_vwap",
        "total_bid_orders",'total_ask_orders','total_bid_levels', 'total_ask_levels', 'bid_trade_max_duration', 'ask_trade_max_duration', 'cum_canceled_buy_orders', 'cum_canceled_buy_volume',
        "cum_canceled_buy_amount", "cum_canceled_sell_orders", 'cum_canceled_sell_volume',"cum_canceled_sell_amount"]]
    
    display(SZ["date"].iloc[0])
    print("SZ finished")
    
    
    database_name = 'com_md_eq_cn'
    user = "zhenyuy"
    password = "bnONBrzSMGoE"

    db1 = DB("192.168.10.223", database_name, user, password)
    db1.write('md_snapshot_l2', SZ)
    
    del SZ
    print(datetime.datetime.now() - startTm)

wr_ong = pd.concat(wr_ong).reset_index(drop=True)
print(wr_ong)
mi_ss = pd.concat(mi_ss).reset_index(drop=True)
print(mi_ss)

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:203: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.

0:05:58.564045
0:00:57.714356
20181116 unzip finished
0:01:05.937925
0:02:20.895601
1
2
3
4
5
6
7
8
0:17:01.831338
0:00:49.240790

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
587,2001872,20181116,17.40,17.71,17.30,17.62,17.44,0.905679,0.010321,0.043221,0.008503,0.010859,4255160.0,74755280.48,0.009154,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464859300.0,644763730.0,NaN,NaN
982,2001914,20181116,7.81,7.95,7.76,7.78,7.89,0.973838,-0.013942,0.051351,0.008503,0.010859,5771599.0,45211312.21,0.008655,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.914659
no massive missing
0:03:09.187805

20181116

SZ finished
0:01:26.409158
0:00:56.413470
20181119 unzip finished
0:01:00.335168
0:02:15.206921
1
2
3
4
5
6
7
8
0:16:21.105438
0:00:40.590357

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
586,2001872,20181119,17.62,18.13,17.50,18.11,17.62,0.905679,0.027809,0.053519,0.002498,0.003758,5809396.0,1.040130e+08,0.012497,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464859300.0,644763730.0,NaN,NaN
981,2001914,20181119,7.65,8.50,7.65,8.50,7.78,0.973838,0.092545,0.131824,0.002498,0.003758,9971368.0,8.127322e+07,0.014954,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.268691
no massive missing
0:03:02.394195

20181119

SZ finished
0:01:22.751767
0:00:52.616550
20181120 unzip finished
0:01:03.004861
0:02:15.066442
1
2
3
4
5
6
7
8
0:15:50.992149
0:00:41.763523

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
586,2001872,20181120,18.00,18.00,17.21,17.29,18.11,0.905679,-0.045279,-0.004032,-0.028537,-0.026426,3847486.0,67831911.88,0.008277,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464859300.0,644763730.0,NaN,NaN
981,2001914,20181120,8.49,8.49,8.06,8.12,8.50,0.973838,-0.044706,0.069829,-0.028537,-0.026426,7887149.0,64815019.57,0.011828,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.093682
no massive missing
0:02:55.452463

20181120

SZ finished
0:01:25.757259
0:00:46.681027
20181121 unzip finished
0:00:56.183502
0:02:03.135561
1
2
3
4
5
6
7
8
0:14:58.771721
0:00:41.762189

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
586,2001872,20181121,17.40,17.54,17.15,17.34,17.29,0.905679,0.002892,0.006969,0.003796,0.007306,2163400.0,37568812.00,0.004654,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464859300.0,644763730.0,NaN,NaN
981,2001914,20181121,7.94,8.21,7.93,8.17,8.12,0.973838,0.006158,0.063802,0.003796,0.007306,3636588.0,29497413.42,0.005454,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.871348
no massive missing
0:02:54.384441

20181121

SZ finished
0:01:38.326736
0:00:46.775598
20181122 unzip finished
0:00:56.182975
0:02:06.514402
1
2
3
4
5
6
7
8
0:14:32.327690
0:00:40.348120

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
587,2001872,20181122,17.44,17.45,17.06,17.22,17.34,0.905679,-0.006920,-0.012615,-0.000735,0.000638,1481500.0,25546715.00,0.003187,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464859300.0,644763730.0,NaN,NaN
982,2001914,20181122,8.15,8.24,8.00,8.03,8.17,0.973838,-0.017136,0.017744,-0.000735,0.000638,3161184.0,25585855.61,0.004741,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.924427
no massive missing
0:02:47.446038

20181122

SZ finished
0:01:13.055969
0:00:49.321675
20181123 unzip finished
0:01:03.947136
0:02:15.968315
1
2
3
4
5
6
7
8
0:15:47.161450
0:00:49.615900

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
587,2001872,20181123,17.25,17.43,16.90,17.05,17.22,0.905679,-0.009872,-0.032350,-0.038794,-0.042888,2703089.0,46452178.12,0.005815,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464859300.0,644763730.0,NaN,NaN
982,2001914,20181123,8.06,8.09,7.71,7.77,8.03,0.973838,-0.032379,-0.001285,-0.038794,-0.042888,4178957.0,32808404.80,0.006267,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.324724
no massive missing
0:02:59.059721

20181123

SZ finished
0:01:41.140968
0:00:43.967240
20181126 unzip finished
0:01:00.734721
0:01:58.036972
1
2
3
4
5
6
7
8
0:13:42.141321
0:00:36.723285

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
586,2001872,20181126,17.05,17.17,16.78,16.86,17.05,0.905679,-0.011144,-0.069023,-0.001669,-0.001806,1683584.0,28618423.72,0.003622,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464859300.0,644763730.0,NaN,NaN
981,2001914,20181126,7.80,8.24,7.79,7.91,7.77,0.973838,0.018018,-0.069412,-0.001669,-0.001806,4092663.0,32659420.87,0.006138,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.678591
no massive missing
0:02:38.555986

20181126

SZ finished
0:01:22.159346
0:00:42.859974
20181127 unzip finished
0:00:55.548876
0:02:00.246594
1
2
3
4
5
6
7
8
0:13:52.890913
0:00:36.727002

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
587,2001872,20181127,16.86,17.06,16.86,16.87,16.86,0.905679,0.000593,-0.024291,0.004623,0.008182,1214699.0,20597360.99,0.002613,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464859300.0,644763730.0,NaN,NaN
983,2001914,20181127,7.93,8.23,7.81,8.16,7.91,0.973838,0.031606,0.004926,0.004623,0.008182,5335582.0,43262384.31,0.008002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.810187
no massive missing
0:02:45.412924

20181127

SZ finished
0:01:08.603274
0:00:45.271827
20181128 unzip finished
0:00:56.421167
0:02:00.009840
1
2
3
4
5
6
7
8
0:14:41.259219
0:00:42.264059

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
590,2001872,20181128,16.88,17.28,16.87,17.23,16.87,0.905679,0.021340,-0.006344,0.012354,0.012187,1414316.0,24194331.48,0.003042,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464859300.0,644763730.0,NaN,NaN
986,2001914,20181128,8.14,8.14,7.95,8.08,8.16,0.973838,-0.009804,-0.011016,0.012354,0.012187,4116215.0,33058009.80,0.006173,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.633040
no massive missing
0:02:54.330883

20181128

SZ finished
0:01:19.501652
0:00:46.352258
20181129 unzip finished
0:00:56.491790
0:02:01.953501
1
2
3
4
5
6
7
8
0:15:03.752358
0:00:40.193733

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
592,2001872,20181129,17.29,17.33,16.80,17.00,17.23,0.905679,-0.013349,-0.012776,-0.021647,-0.023522,1252589.0,21407297.86,0.002695,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464859300.0,644763730.0,NaN,NaN
988,2001914,20181129,8.13,8.17,7.77,7.77,8.08,0.973838,-0.038366,-0.032379,-0.021647,-0.023522,3071163.0,24517864.00,0.004606,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.086179
no massive missing
0:02:50.017614

20181129

SZ finished
0:01:12.434445
0:00:45.724817
20181130 unzip finished
0:00:56.766538
0:02:01.749748
1
2
3
4
5
6
7
8
0:14:02.616502
0:00:41.061818

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
592,2001872,20181130,17.0,17.17,16.84,17.13,17.00,0.905679,0.007647,0.004692,0.007122,0.006678,1032101.0,17600967.15,0.002220,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464859300.0,644763730.0,NaN,NaN
988,2001914,20181130,7.8,7.94,7.72,7.89,7.77,0.973838,0.015444,0.015444,0.007122,0.006678,2368747.0,18572095.43,0.003552,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.725578
no massive missing
0:02:46.233665

20181130

SZ finished
0:01:21.908514
0:00:48.402589
20181203 unzip finished
0:01:00.811012
0:02:10.961651
1
2
3
4
5
6
7
8
0:16:01.028490
0:00:43.392835

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
591,2001872,20181203,17.48,17.69,17.33,17.48,17.13,0.905679,0.020432,0.036773,0.03165,0.033155,2673751.0,46953689.03,0.005752,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464859300.0,644763730.0,NaN,NaN
986,2001914,20181203,8.07,8.14,7.93,7.95,7.89,0.973838,0.007605,0.005057,0.03165,0.033155,4151500.0,33155908.00,0.006226,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.124491
no massive missing
0:02:56.494397

20181203

SZ finished
0:01:29.948939
0:00:46.924334
20181204 unzip finished
0:00:57.633457
0:02:08.094382
1
2
3
4
5
6
7
8
0:15:07.968726
0:00:40.513937

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
592,2001872,20181204,17.52,17.66,17.36,17.55,17.48,0.905679,0.004005,0.040308,0.004659,0.009137,1632102.0,28569374.11,0.003511,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464859300.0,644763730.0,NaN,NaN
988,2001914,20181204,7.95,8.01,7.88,7.96,7.95,0.973838,0.001258,-0.024510,0.004659,0.009137,2101072.0,16674964.63,0.003151,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.134999
no massive missing
0:02:54.211035

20181204

SZ finished
0:01:14.064211
0:00:44.542539
20181205 unzip finished
0:00:56.095403
0:02:02.754660
1
2
3
4
5
6
7
8
0:14:33.026079
0:00:41.339147

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
593,2001872,20181205,17.18,17.61,17.12,17.31,17.55,0.905679,-0.013675,0.004643,-0.007387,-0.006021,1945419.0,33776769.48,0.004185,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464859300.0,644763730.0,NaN,NaN
988,2001914,20181205,7.91,7.93,7.74,7.90,7.96,0.973838,-0.007538,-0.022277,-0.007387,-0.006021,2475581.0,19383929.70,0.003713,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.298127
no massive missing
0:02:58.888025

20181205

SZ finished
0:01:20.067695
0:00:44.896380
20181206 unzip finished
0:00:57.249557
0:02:13.196660
1
2
3
4
5
6
7
8
0:14:40.784701
0:00:39.786948

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
592,2001872,20181206,17.18,17.44,17.05,17.06,17.31,0.905679,-0.014443,0.003529,-0.020346,-0.01787,1789424.0,30686181.23,0.003849,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464859300.0,644763730.0,NaN,NaN
988,2001914,20181206,7.90,7.90,7.50,7.60,7.90,0.973838,-0.037975,-0.021879,-0.020346,-0.01787,3715427.0,28510892.51,0.005572,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.363204
no massive missing
0:02:48.946646

20181206

SZ finished
0:01:16.209522
0:00:42.764213
20181207 unzip finished
0:00:55.001198
0:01:57.964545
1
2
3
4
5
6
7
8
0:13:36.334213
0:00:40.545693

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
593,2001872,20181207,17.16,17.38,17.06,17.18,17.06,0.905679,0.007034,0.002919,-0.000029,0.000209,1820879.0,31381974.96,0.003917,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464859300.0,644763730.0,NaN,NaN
989,2001914,20181207,7.78,7.78,7.63,7.75,7.60,0.973838,0.019737,-0.017744,-0.000029,0.000209,2521990.0,19432827.30,0.003782,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.847596
no massive missing
0:02:39.259389

20181207

SZ finished
0:01:09.207748
0:00:41.346549
20181210 unzip finished
0:00:53.654273
0:01:54.567700
1
2
3
4
5
6
7
8
0:13:26.561347
0:00:37.597385

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
594,2001872,20181210,17.02,17.12,16.92,16.93,17.18,0.905679,-0.014552,-0.031465,-0.011709,-0.011684,1090489.0,18516611.93,0.002346,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464859300.0,644763730.0,NaN,NaN
991,2001914,20181210,7.71,7.73,7.54,7.61,7.75,0.973838,-0.018065,-0.042767,-0.011709,-0.011684,1489403.0,11370280.04,0.002234,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.051168
no massive missing
0:02:44.347623

20181210

SZ finished
0:01:26.705827
0:00:39.614715
20181211 unzip finished
0:00:53.416512
0:01:50.938608
1
2
3
4
5
6
7
8
0:13:15.268495
0:00:35.417127

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
594,2001872,20181211,16.86,17.18,16.86,17.18,16.93,0.905679,0.014767,-0.021083,0.008317,0.009377,971001.0,16588858.10,0.002089,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464859300.0,644763730.0,NaN,NaN
991,2001914,20181211,7.64,7.72,7.57,7.63,7.61,0.973838,0.002628,-0.041457,0.008317,0.009377,1474195.0,11257091.55,0.002211,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.658872
no massive missing
0:02:36.318109

20181211

SZ finished
0:01:06.595242
0:00:39.275187
20181212 unzip finished
0:00:51.152907
0:01:49.978798
1
2
3
4
5
6
7
8
0:12:53.344152
0:00:35.839267

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
594,2001872,20181212,17.17,17.26,17.06,17.18,17.18,0.905679,0.000000,-0.00751,-0.000511,-0.000349,1013483.0,17403278.04,0.002180,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464859300.0,644763730.0,NaN,NaN
991,2001914,20181212,7.61,7.74,7.59,7.66,7.63,0.973838,0.003932,-0.03038,-0.000511,-0.000349,2264367.0,17349710.05,0.003396,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.605459
no massive missing
0:02:35.918206

20181212

SZ finished
0:01:05.677613
0:00:45.929378
20181213 unzip finished
0:00:55.829982
0:02:06.294074
1
2
3
4
5
6
7
8
0:14:31.704858
0:00:43.867105

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
594,2001872,20181213,17.17,17.48,17.17,17.38,17.18,0.905679,0.011641,0.018757,0.011343,0.009514,1931834.0,33522222.90,0.004156,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464859300.0,644763730.0,NaN,NaN
991,2001914,20181213,7.60,7.72,7.55,7.68,7.66,0.973838,0.002611,0.010526,0.011343,0.009514,2106089.0,16135430.82,0.003158,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.974139
no massive missing
0:02:45.567707

20181213

SZ finished
0:01:10.792010
0:00:43.630738
20181214 unzip finished
0:00:57.509726
0:02:00.358745
1
2
3
4
5
6
7
8
0:14:37.104679
0:00:38.576408

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
594,2001872,20181214,17.58,17.67,17.18,17.37,17.38,0.905679,-0.000575,0.011059,-0.023869,-0.025574,2891543.0,50436384.36,0.006220,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464859300.0,644763730.0,NaN,NaN
991,2001914,20181214,7.72,7.72,7.43,7.45,7.68,0.973838,-0.029948,-0.038710,-0.023869,-0.025574,2790501.0,21022674.54,0.004185,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.006268
no massive missing
0:02:50.921483

20181214

SZ finished
0:01:19.098037
0:00:42.013122
20181217 unzip finished
0:00:52.052364
0:01:50.780012
1
2
3
4
5
6
7
8
0:13:03.496355
0:00:36.510524

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
594,2001872,20181217,17.42,17.98,17.27,17.80,17.37,0.905679,0.024755,0.051388,-0.001489,-0.003158,6393051.0,1.130270e+08,0.013753,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464859300.0,644763730.0,NaN,NaN
991,2001914,20181217,7.42,7.56,7.41,7.49,7.45,0.973838,0.005369,-0.015769,-0.001489,-0.003158,2547570.0,1.909934e+07,0.003820,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.729006
no massive missing
0:02:39.746329

20181217

SZ finished
0:01:10.703007
0:00:41.148327
20181218 unzip finished
0:00:52.645571
0:01:56.077318
1
2
3
4
5
6
7
8
0:13:21.330444
0:00:41.691181

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
594,2001872,20181218,17.69,17.69,16.96,17.40,17.80,0.905679,-0.022472,0.012806,-0.005399,-0.006617,4492334.0,77760053.64,0.009664,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464859300.0,644763730.0,NaN,NaN
991,2001914,20181218,7.65,7.65,7.40,7.48,7.49,0.973838,-0.001335,-0.019659,-0.005399,-0.006617,2801995.0,21112887.64,0.004202,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.993559
no massive missing
0:02:54.630645

20181218

SZ finished
0:01:09.829242
0:00:39.477270
20181219 unzip finished
0:00:49.647565
0:01:55.642210
1
2
3
4
5
6
7
8
0:12:49.411648
0:00:38.133582

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
593,2001872,20181219,17.29,17.30,16.71,16.72,17.40,0.905679,-0.039080,-0.026775,-0.013783,-0.013752,2825517.0,47920181.62,0.006078,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464859300.0,644763730.0,NaN,NaN
990,2001914,20181219,7.48,7.87,7.48,7.70,7.48,0.973838,0.029412,0.005222,-0.013783,-0.013752,5468400.0,42175482.18,0.008201,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.930546
no massive missing
0:02:42.632814

20181219

SZ finished
0:01:04.714146
0:00:40.254199
20181220 unzip finished
0:00:53.323127
0:01:52.412339
1
2
3
4
5
6
7
8
0:12:47.615517
0:00:36.422418

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
594,2001872,20181220,16.71,16.78,16.46,16.46,16.72,0.905679,-0.01555,-0.052934,0.002793,0.003794,2160496.0,35784802.86,0.004648,0.0,0.0,0.0,0.0,0.0,0.0,1.0,3.0,464859300.0,644763730.0,NaN,NaN
991,2001914,20181220,7.76,7.76,7.55,7.62,7.70,0.973838,-0.01039,-0.007812,0.002793,0.003794,3752450.0,28667149.85,0.005627,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.790250
no massive missing
0:02:28.978340

20181220

SZ finished
0:01:08.440698
0:00:39.799517
20181221 unzip finished
0:00:50.443516
0:01:51.027981
1
2
3
4
5
6
7
8
0:12:48.213093
0:00:34.972641

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
991,2001914,20181221,7.64,7.67,7.36,7.46,7.62,0.973838,-0.020997,0.001342,-0.006718,-0.007212,3424133.0,25486774.79,0.005135,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.746623
no massive missing
0:02:44.864534

20181221

SZ finished
0:01:05.561239
0:00:39.082920
20181224 unzip finished
0:00:49.824479
0:01:46.420716
1
2
3
4
5
6
7
8
0:12:40.088723
0:00:37.361550

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
991,2001914,20181224,7.4,7.51,7.36,7.46,7.46,0.973838,0.0,-0.004005,0.010299,0.008973,1866600.0,13885584.0,0.002799,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.679875
no massive missing
0:02:30.064248

20181224

SZ finished
0:01:02.376984
0:00:45.824585
20181225 unzip finished
0:00:54.369431
0:01:58.238554
1
2
3
4
5
6
7
8
0:14:17.554892
0:00:43.652833

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
991,2001914,20181225,7.43,7.55,7.27,7.5,7.46,0.973838,0.005362,0.002674,-0.011512,-0.009587,2794506.0,20628011.38,0.004191,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.062635
no massive missing
0:02:50.461857

20181225

SZ finished
0:01:10.345421
0:00:40.512774
20181226 unzip finished
0:00:49.914013
0:01:46.651029
1
2
3
4
5
6
7
8
0:12:08.163605
0:00:41.111953

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
992,2001914,20181226,7.51,7.54,7.44,7.51,7.5,0.973838,0.001333,-0.024675,-0.004049,-0.004457,1227817.0,9180874.3,0.001841,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:04.929299
no massive missing
0:02:31.435855

20181226

SZ finished
0:01:06.805646
0:00:44.161035
20181227 unzip finished
0:00:50.793063
0:01:57.754792
1
2
3
4
5
6
7
8
0:12:35.488903
0:00:40.966859

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
990,2001914,20181227,7.61,7.62,7.42,7.46,7.51,0.973838,-0.006658,-0.020997,-0.0112,-0.01554,2473492.0,18641997.18,0.003709,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,666819666.0,666961416.0,NaN,NaN

0:00:05.041212
no massive missing
0:02:33.348606

20181227

SZ finished
0:01:06.848045
0:00:30.258705
20181228 unzip finished
0:00:37.051527
0:01:20.421857
1
2
3
4
5
6
7
8
0:09:09.542537
0:00:25.735302

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:419: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_high,d_low,d_close_x,d_yclose,d_cumprodCAA,d_dayReturn,d_5dayReturn,d_ICDayReturn,d_CSIDayReturn,d_volume,d_amount_x,TORate,allZT,hasZT,isZT,allDT,hasDT,isDT,tmrHalted,haltedDays,marketShares,totalShares,d_close_y,d_amount_y
4,2002723,20181228,9.05,9.39,9.01,9.02,9.19,0.998038,-0.018498,-0.092555,0.001626,0.001214,4823700.0,4.426703e+07,0.027778,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.736500e+08,1.909700e+08,NaN,NaN
12,2002414,20181228,20.48,21.75,20.48,21.55,20.68,0.998325,0.042070,0.035062,0.001626,0.001214,9392004.0,1.993902e+08,0.019727,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.760989e+08,6.242560e+08,NaN,NaN
14,2300174,20181228,11.27,11.47,11.21,11.29,11.29,0.549745,0.000000,-0.060732,0.001626,0.001214,731865.0,8.312845e+06,0.003310,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.210896e+08,2.448000e+08,NaN,NaN
21,2002630,20181228,2.87,2.89,2.83,2.85,2.86,0.620358,-0.003497,-0.074675,0.001626,0.001214,18664725.0,5.339789e+07,0.019234,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.704278e+08,1.180800e+09,NaN,NaN
22,2300563,20181228,25.35,25.64,24.38,24.58,25.30,0.991513,-0.028458,0.054483,0.001626,0.001214,3154900.0,7.862710e+07,0.098360,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.207500e+07,8.000000e+07,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2094,2002681,20181228,3.63,3.70,3.60,3.66,3.62,0.352700,0.011050,-0.016129,0.001626,0.001214,4941543.0,1.803102e+07,0.004473,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.104868e+09,2.064626e+09,NaN,NaN
2096,2002939,20181228,9.81,10.16,9.80,9.91,9.80,1.000000,0.011224,-0.038797,0.001626,0.001214,21684787.0,2.164066e+08,0.069874,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.103405e+08,3.103405e+09,NaN,NaN
2097,2002715,20181228,16.53,16.85,16.12,16.55,16.60,1.000000,-0.003012,-0.043353,0.001626,0.001214,1486300.0,2.460309e+07,0.017915,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.296430e+07,9.200000e+07,NaN,NaN
2099,2300220,20181228,9.79,9.86,9.60,9.75,9.75,0.999450,0.000000,-0.043180,0.001626,0.001214,823398.0,8.045689e+06,0.006591,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.249189e+08,1.260000e+08,NaN,NaN
2106,2300431,20181228,8.56,8.64,8.21,8.34,8.55,0.832010,-0.024561,-0.116525,0.001626,0.001214,10693602.0,8.988679e+07,0.042667,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.506294e+08,3.295245e+08,NaN,NaN

0:00:03.327821
no massive missing
0:01:54.207247

20181228

SZ finished
0:00:47.844518
          ID      date  d_open  d_high  d_low  d_close_x  d_yclose  \
0    2001872  20181116   17.40   17.71  17.30      17.62     17.44
1    2001914  20181116    7.81    7.95   7.76       7.78      7.89
2    2001872  20181119   17.62   18.13  17.50      18.11     17.62
3    2001914  20181119    7.65    8.50   7.65       8.50      7.78
4    2001872  20181120   18.00   18.00  17.21      17.29     18.11
..       ...       ...     ...     ...    ...        ...       ...
638  2002681  20181228    3.63    3.70   3.60       3.66      3.62
639  2002939  20181228    9.81   10.16   9.80       9.91      9.80
640  2002715  20181228   16.53   16.85  16.12      16.55     16.60
641  2300220  20181228    9.79    9.86   9.60       9.75      9.75
642  2300431  20181228    8.56    8.64   8.21       8.34      8.55

     d_cumprodCAA  d_dayReturn  d_5dayReturn  d_ICDayReturn  d_CSIDayReturn  \
0        0.905679     0.010321      0.043221       0.008503        0.010859
1        0.973838    -0.013942      0.051351       0.008503        0.010859
2        0.905679     0.027809      0.053519       0.002498        0.003758
3        0.973838     0.092545      0.131824       0.002498        0.003758
4        0.905679    -0.045279     -0.004032      -0.028537       -0.026426
..            ...          ...           ...            ...             ...
638      0.352700     0.011050     -0.016129       0.001626        0.001214
639      1.000000     0.011224     -0.038797       0.001626        0.001214
640      1.000000    -0.003012     -0.043353       0.001626        0.001214
641      0.999450     0.000000     -0.043180       0.001626        0.001214
642      0.832010    -0.024561     -0.116525       0.001626        0.001214

       d_volume    d_amount_x    TORate  allZT  hasZT  isZT  allDT  hasDT  \
0     4255160.0  7.475528e+07  0.009154    0.0    0.0   0.0    0.0    0.0
1     5771599.0  4.521131e+07  0.008655    0.0    0.0   0.0    0.0    0.0
2     5809396.0  1.040130e+08  0.012497    0.0    0.0   0.0    0.0    0.0
3     9971368.0  8.127322e+07  0.014954    0.0    0.0   0.0    0.0    0.0
4     3847486.0  6.783191e+07  0.008277    0.0    0.0   0.0    0.0    0.0
..          ...           ...       ...    ...    ...   ...    ...    ...
638   4941543.0  1.803102e+07  0.004473    0.0    0.0   0.0    0.0    0.0
639  21684787.0  2.164066e+08  0.069874    0.0    0.0   0.0    0.0    0.0
640   1486300.0  2.460309e+07  0.017915    0.0    0.0   0.0    0.0    0.0
641    823398.0  8.045689e+06  0.006591    0.0    0.0   0.0    0.0    0.0
642  10693602.0  8.988679e+07  0.042667    0.0    0.0   0.0    0.0    0.0

     isDT  tmrHalted  haltedDays  marketShares   totalShares  d_close_y  \
0     0.0        0.0         0.0  4.648593e+08  6.447637e+08        NaN
1     0.0        0.0         0.0  6.668197e+08  6.669614e+08        NaN
2     0.0        0.0         0.0  4.648593e+08  6.447637e+08        NaN
3     0.0        0.0         0.0  6.668197e+08  6.669614e+08        NaN
4     0.0        0.0         0.0  4.648593e+08  6.447637e+08        NaN
..    ...        ...         ...           ...           ...        ...
638   0.0        0.0         0.0  1.104868e+09  2.064626e+09        NaN
639   0.0        0.0         0.0  3.103405e+08  3.103405e+09        NaN
640   0.0        0.0         0.0  8.296430e+07  9.200000e+07        NaN
641   0.0        0.0         0.0  1.249189e+08  1.260000e+08        NaN
642   0.0        0.0         0.0  2.506294e+08  3.295245e+08        NaN

     d_amount_y
0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
..          ...
638         NaN
639         NaN
640         NaN
641         NaN
642         NaN

[643 rows x 27 columns]

ValueError: No objects to concatenate