In [1]:
import pymongo
import pandas as pd
import pickle
import datetime
import time
import gzip
import lzma
import pytz


def DB(host, db_name, user, passwd):
    auth_db = db_name if user not in ('admin', 'root') else 'admin'
    uri = 'mongodb://%s:%s@%s/?authSource=%s' % (user, passwd, host, auth_db)
    return DBObj(uri, db_name=db_name)


class DBObj(object):
    def __init__(self, uri, symbol_column='skey', db_name='white_db'):
        self.db_name = db_name
        self.uri = uri
        self.client = pymongo.MongoClient(self.uri)
        self.db = self.client[self.db_name]
        self.chunk_size = 20000
        self.symbol_column = symbol_column
        self.date_column = 'date'

    def parse_uri(self, uri):
        # mongodb://user:password@example.com
        return uri.strip().replace('mongodb://', '').strip('/').replace(':', ' ').replace('@', ' ').split(' ')

    def drop_table(self, table_name):
        self.db.drop_collection(table_name)

    def rename_table(self, old_table, new_table):
        self.db[old_table].rename(new_table)

    def write(self, table_name, df):
        if len(df) == 0: return

        multi_date = False

        if self.date_column in df.columns:
            date = str(df.head(1)[self.date_column].iloc[0])
            multi_date = len(df[self.date_column].unique()) > 1
        else:
            raise Exception('DataFrame should contain date column')

        collection = self.db[table_name]
        collection.create_index([('date', pymongo.ASCENDING), ('symbol', pymongo.ASCENDING)], background=True)
        collection.create_index([('symbol', pymongo.ASCENDING), ('date', pymongo.ASCENDING)], background=True)

        if multi_date:
            for (date, symbol), sub_df in df.groupby([self.date_column, self.symbol_column]):
                date = str(date)
                symbol = int(symbol)
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)
        else:
            for symbol, sub_df in df.groupby([self.symbol_column]):
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)

    def write_single(self, collection, date, symbol, df):
        for start in range(0, len(df), self.chunk_size):
            end = min(start + self.chunk_size, len(df))
            df_seg = df[start:end]
            version = 1
            seg = {'ver': version, 'data': self.ser(df_seg, version), 'date': date, 'symbol': symbol, 'start': start}
            collection.insert_one(seg)

    def build_query(self, start_date=None, end_date=None, symbol=None):
        query = {}

        def parse_date(x):
            if type(x) == str:
                if len(x) != 8:
                    raise Exception("`date` must be YYYYMMDD format")
                return x
            elif type(x) == datetime.datetime or type(x) == datetime.date:
                return x.strftime("%Y%m%d")
            elif type(x) == int:
                return parse_date(str(x))
            else:
                raise Exception("invalid `date` type: " + str(type(x)))

        if start_date is not None or end_date is not None:
            query['date'] = {}
            if start_date is not None:
                query['date']['$gte'] = parse_date(start_date)
            if end_date is not None:
                query['date']['$lte'] = parse_date(end_date)

        def parse_symbol(x):
            if type(x) == int:
                return x
            else:
                return int(x)

        if symbol:
            if type(symbol) == list or type(symbol) == tuple:
                query['symbol'] = {'$in': [parse_symbol(x) for x in symbol]}
            else:
                query['symbol'] = parse_symbol(symbol)

        return query

    def delete(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot delete the whole table')
            return None

        collection.delete_many(query)

    def read(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot read the whole table')
            return None

        segs = []
        for x in collection.find(query):
            x['data'] = self.deser(x['data'], x['ver'])
            segs.append(x)
        segs.sort(key=lambda x: (x['symbol'], x['date'], x['start']))
        return pd.concat([x['data'] for x in segs], ignore_index=True) if segs else None

    def list_tables(self):
        return self.db.collection_names()

    def list_dates(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]
        dates = set()
        if start_date is None:
            start_date = '00000000'
        if end_date is None:
            end_date = '99999999'
        for x in collection.find(self.build_query(start_date, end_date, symbol), {"date": 1, '_id': 0}):
            dates.add(x['date'])
        return sorted(list(dates))

    def ser(self, s, version):
        pickle_protocol = 4
        if version == 1:
            return gzip.compress(pickle.dumps(s, protocol=pickle_protocol), compresslevel=2)
        elif version == 2:
            return lzma.compress(pickle.dumps(s, protocol=pickle_protocol), preset=1)
        else:
            raise Exception('unknown version')

    def deser(self, s, version):
        def unpickle(s):
            return pickle.loads(s)

        if version == 1:
            return unpickle(gzip.decompress(s))
        elif version == 2:
            return unpickle(lzma.decompress(s))
        else:
            raise Exception('unknown version')


def patch_pandas_pickle():
    if pd.__version__ < '0.24':
        import sys
        from types import ModuleType
        from pandas.core.internals import BlockManager
        pkg_name = 'pandas.core.internals.managers'
        if pkg_name not in sys.modules:
            m = ModuleType(pkg_name)
            m.BlockManager = BlockManager
            sys.modules[pkg_name] = m
patch_pandas_pickle()

            
            
            
            
            
            
            
            
import pandas as pd
import random
import numpy as np
import glob
import os
import pickle
import datetime
import time
from decimal import Decimal, Context, ROUND_HALF_UP
pd.set_option("max_columns", 200)

startTm = datetime.datetime.now()
readPath = '/home/work516/day_stock/***'
dataPathLs = np.array(glob.glob(readPath))
dataPathLs = dataPathLs[[np.array([os.path.basename(i).split('.')[0][:2] == 'SH' for i in dataPathLs])]]
db = pd.DataFrame()
for p in dataPathLs:
    dayData = pd.read_csv(p, compression='gzip')
    db = pd.concat([db, dayData])
print(datetime.datetime.now() - startTm)

year = "2019"
startDate = '20190101'
endDate = '20191231'
readPath = '/mnt/usb/data/' + year + '/***/***'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([os.path.basename(i) for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]

for data in dataPathLs:
    
    if len(np.array(glob.glob(data + '/SH/***'))) == 0:
        if int(os.path.basename(data)) not in date_list["Date"].values:
            continue
        else:
            print(os.path.basename(data) + " less data!!!!!!!!!!!!!!!!!")
            less.append(data)
            continue
    startTm = datetime.datetime.now()
    date = os.path.basename(data)
    rar_path = data + '/SH/tick.7z'
    path = '/mnt/e/unzip_data/2019/SH'
    path1 = path + '/' + date
    un_path = path1
    cmd = '7za x {} -o{}'.format(rar_path, un_path)
    os.system(cmd)
    print(datetime.datetime.now() - startTm)
    print(date + ' unzip finished')
    
    
    startTm = datetime.datetime.now()
    
    readPath = path1 + '/tick/***'
    dataPathLs = np.array(glob.glob(readPath))
    dateLs = np.array([int(os.path.basename(i).split('.')[0]) for i in dataPathLs])
    dataPathLs = dataPathLs[((dateLs >= 600000) & (dateLs <= 700000))]
    TradeLog = []
    ll = []
    
    for i in dataPathLs:
        try:
            df = pd.read_csv(i)
        except:
            print("empty data")
            print(i)
            ll.append(int(os.path.basename(i).split('.')[0]))
            continue
        df["SecurityID"] = int(os.path.basename(i).split('.')[0])
        TradeLog += [df]
    TradeLog = pd.concat(TradeLog).reset_index(drop=True)
    
    TradeLog["date"] = TradeLog["TradeTime"].iloc[0]//1000000000
    TradeLog = TradeLog.rename(columns={"TradeQty":"trade_qty", "TradePrice":"trade_price", 
                                        "TradeBSFlag":"trade_flag", "TradeAmount":"trade_money",
                                       "TradeIndex":"ApplSeqNum", "SellNo":"OfferApplSeqNum",
                                       "BuyNo":"BidApplSeqNum"})
    TradeLog["trade_type"] = 1
    TradeLog["skey"] = TradeLog["SecurityID"] + 1000000
    TradeLog["clockAtArrival"] = TradeLog["TradeTime"].astype(str).apply(lambda x: np.int64(datetime.datetime.strptime(x, '%Y%m%d%H%M%S%f').timestamp()*1e6))
    TradeLog['datetime'] = TradeLog["clockAtArrival"].apply(lambda x: datetime.datetime.fromtimestamp(x/1e6))
    TradeLog["time"] = (TradeLog['TradeTime'] - int(TradeLog['TradeTime'].iloc[0]//1000000000*1000000000)).astype(np.int64)*1000
    TradeLog["trade_flag"] = np.where(TradeLog["trade_flag"] == 'B', 1, np.where(
        TradeLog["trade_flag"] == 'S', 2, 0))
    for col in ["skey", "date", "ApplSeqNum", "BidApplSeqNum", "OfferApplSeqNum", "trade_qty", "trade_type", "trade_flag"]:
        TradeLog[col] = TradeLog[col].astype('int32')
    
    da_te = str(TradeLog["date"].iloc[0]) 
    da_te = da_te[:4] + '-' + da_te[4:6] + '-' + da_te[6:8]
    db1 = db[db["date"] == da_te]
    db1["max_volume"] = db1.groupby("ID")["d_volume"].transform("max")
    db1["max_amount"] = db1.groupby("ID")["d_amount"].transform("max")
    t1 = db1.groupby("ID")["max_volume", "max_amount"].first().reset_index()
    del db1
    t1["skey"] = t1["ID"].str[2:].astype(int) + 1000000
    trade1 = TradeLog[TradeLog["trade_type"] == 1].groupby("skey")["trade_qty"].sum().reset_index()
    trade1.columns=["skey", "cum_volume"]
    trade2 = TradeLog[TradeLog["trade_type"] == 1].groupby("skey")["trade_money"].sum().reset_index()
    trade2.columns=["skey", "cum_amount"]
    t2 = pd.merge(trade1, trade2, on="skey")
    re = pd.merge(t1, t2, on="skey", how="outer")
    re["cum_amount"] = re["cum_amount"].apply(lambda x: np.float(Decimal(round(x, 2)).normalize(Context(prec=len(str(x).split('.')[0]), rounding=ROUND_HALF_UP))))
    try:
        assert(t1.shape[0] == t2.shape[0])
        assert(re[re["cum_volume"] != re["max_volume"]].shape[0] == 0)
        assert(re[re["cum_amount"].round(2) != re["max_amount"]].shape[0] == 0)
    except:
        display(set(t1["skey"]) - set(t2["skey"]))
        display(re[re["cum_volume"] != re["max_volume"]])
        display(re[re["cum_amount"] != re["max_amount"]])
    del t1
    del t2
    del re
 
    TradeLog = TradeLog[["skey", "date", "time", "clockAtArrival", "datetime", "ApplSeqNum", "trade_type", "trade_flag",
                                                 "trade_price", "trade_qty", "BidApplSeqNum", "OfferApplSeqNum"]]
    print(da_te)
    print("trade finished")

    database_name = 'com_md_eq_cn'
    user = "zhenyuy"
    password = "bnONBrzSMGoE"

    db1 = DB("192.168.10.223", database_name, user, password)
    db1.write('md_trade', TradeLog)
    
    del TradeLog

    print(datetime.datetime.now() - startTm)

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:201: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.

0:03:11.989556
0:00:09.244659
20190102 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

2019-01-02
trade finished
0:02:48.514838
0:00:12.284434
20190103 unzip finished
2019-01-03
trade finished
0:03:22.734552
0:00:12.245632
20190104 unzip finished
2019-01-04
trade finished
0:03:23.684696
0:00:13.316563
20190107 unzip finished
2019-01-07
trade finished
0:03:34.859517
0:00:11.932619
20190108 unzip finished
2019-01-08
trade finished
0:03:19.028093
0:00:12.575569
20190109 unzip finished
2019-01-09
trade finished
0:03:53.108030
0:00:11.959697
20190110 unzip finished
2019-01-10
trade finished
0:03:30.631431
0:00:11.627543
20190111 unzip finished
2019-01-11
trade finished
0:03:31.042816
0:00:10.861174
20190114 unzip finished
2019-01-14
trade finished
0:03:12.897819
0:00:28.335177
20190115 unzip finished
2019-01-15
trade finished
0:03:24.932868
0:00:11.554757
20190116 unzip finished
2019-01-16
trade finished
0:03:18.268451
0:00:12.264619
20190117 unzip finished
2019-01-17
trade finished
0:03:26.317643
0:00:12.578908
20190118 unzip finished
2019-01-18
trade finished
0:03:38.373698
0:00:15.289171
20190121 unzip finished
2019-01-21
trade finished
0:03:25.678416
0:00:12.069471
20190122 unzip finished
2019-01-22
trade finished
0:03:14.906631
0:00:11.593524
20190123 unzip finished
2019-01-23
trade finished
0:02:58.956412
0:00:15.020666
20190124 unzip finished
2019-01-24
trade finished
0:03:37.674506
0:00:11.735964
20190125 unzip finished
2019-01-25
trade finished
0:03:22.674312
0:00:11.769342
20190128 unzip finished
2019-01-28
trade finished
0:03:16.309523
0:00:18.463615
20190129 unzip finished
2019-01-29
trade finished
0:03:33.313804
0:00:10.220588
20190130 unzip finished
2019-01-30
trade finished
0:03:14.920102
0:00:21.042976
20190131 unzip finished
2019-01-31
trade finished
0:03:30.651751
0:00:22.233804
20190201 unzip finished
2019-02-01
trade finished
0:02:56.279122
0:00:14.733458
20190211 unzip finished
2019-02-11
trade finished
0:03:21.055112
0:00:25.484200
20190212 unzip finished
2019-02-12
trade finished
0:03:49.850750
0:00:32.887655
20190213 unzip finished
2019-02-13
trade finished
0:04:31.173204
0:00:19.867330
20190214 unzip finished
2019-02-14
trade finished
0:03:51.070159
0:00:31.636377
20190215 unzip finished
2019-02-15
trade finished
0:04:00.847720
0:00:20.926319
20190218 unzip finished
2019-02-18
trade finished
0:04:58.000770
0:00:33.974497
20190219 unzip finished
2019-02-19
trade finished
0:05:19.503635
0:00:20.356947
20190220 unzip finished
2019-02-20
trade finished
0:04:39.863905
0:00:24.120553
20190221 unzip finished
2019-02-21
trade finished
0:05:23.490159
0:00:22.700424
20190222 unzip finished
2019-02-22
trade finished
0:05:21.600710
0:00:38.041260
20190225 unzip finished
2019-02-25
trade finished
0:07:27.789399
0:01:04.772412
20190226 unzip finished
2019-02-26
trade finished
0:08:35.229268
0:00:29.631453
20190227 unzip finished
2019-02-27
trade finished
0:07:28.354525
0:00:25.364833
20190228 unzip finished
2019-02-28
trade finished
0:05:43.518870
0:00:38.236600
20190301 unzip finished
2019-03-01
trade finished
0:05:42.723866
0:00:31.029415
20190304 unzip finished
2019-03-04
trade finished
0:07:55.972125
0:00:28.013883
20190305 unzip finished
2019-03-05
trade finished
0:06:43.116094
0:03:51.093291
20190306 unzip finished
2019-03-06
trade finished
0:08:38.359132
0:00:56.340658
20190307 unzip finished
2019-03-07
trade finished
0:09:06.587160
0:01:01.385687
20190308 unzip finished
2019-03-08
trade finished
0:09:46.726974
0:00:33.542942
20190311 unzip finished
2019-03-11
trade finished
0:07:37.141736
0:00:46.054890
20190312 unzip finished
2019-03-12
trade finished
0:08:34.232883
0:00:37.674062
20190313 unzip finished
2019-03-13
trade finished
0:08:24.780246
0:00:33.718253
20190314 unzip finished
2019-03-14
trade finished
0:06:39.459460
0:02:59.605434
20190315 unzip finished
2019-03-15
trade finished
0:06:14.215538
0:01:00.482856
20190318 unzip finished
2019-03-18
trade finished
0:06:51.151595
0:03:30.942990
20190319 unzip finished

{1600622,
 1600623,
 1600624,
 1600626,
 1600628,
 1600629,
 1600630,
 1600633,
 1600634,
 1600635,
 1600636,
 1600637,
 1600638,
 1600639,
 1600640,
 1600641,
 1600642,
 1600643,
 1600644,
 1600645,
 1600647,
 1600648,
 1600649,
 1600650,
 1600651,
 1600652,
 1600653,
 1600654,
 1600655,
 1600657,
 1600658,
 1600660,
 1600661,
 1600662,
 1600663,
 1600664,
 1600665,
 1600666,
 1600667,
 1600668,
 1600671,
 1600673,
 1600674,
 1600675,
 1600676,
 1600677,
 1600678,
 1600679,
 1600681,
 1600682,
 1600683,
 1600684,
 1600685,
 1600686,
 1600687,
 1600688,
 1600689,
 1600690,
 1600691,
 1600692,
 1600693,
 1600694,
 1600695,
 1600696,
 1600697,
 1600698,
 1600699,
 1600701,
 1600702,
 1600703,
 1600704,
 1600705,
 1600706,
 1600707,
 1600708,
 1600710,
 1600711,
 1600712,
 1600713,
 1600714,
 1600715,
 1600716,
 1600717,
 1600718,
 1600719,
 1600720,
 1600721,
 1600722,
 1600723,
 1600724,
 1600725,
 1600726,
 1600727,
 1600728,
 1600729,
 1600730,
 1600731,
 1600732,
 1600733,
 1600734,
 1600735,
 1600736,
 1600737,
 1600738,
 1600739,
 1600740,
 1600741,
 1600742,
 1600743,
 1600744,
 1600745,
 1600746,
 1600747,
 1600748,
 1600749,
 1600750,
 1600751,
 1600753,
 1600754,
 1600755,
 1600756,
 1600757,
 1600758,
 1600759,
 1600760,
 1600761,
 1600763,
 1600764,
 1600765,
 1600766,
 1600767,
 1600768,
 1600769,
 1600770,
 1600771,
 1600773,
 1600774,
 1600775,
 1600776,
 1600777,
 1600778,
 1600779,
 1600780,
 1600781,
 1600782,
 1600783,
 1600784,
 1600785,
 1600787,
 1600789,
 1600790,
 1600791,
 1600792,
 1600793,
 1600794,
 1600795,
 1600796,
 1600797,
 1600798,
 1600800,
 1600801,
 1600802,
 1600803,
 1600804,
 1600824,
 1600825,
 1600826,
 1600827,
 1600828,
 1600829,
 1600830,
 1600831,
 1600833,
 1600834,
 1600835,
 1600836,
 1600837,
 1600838,
 1600839,
 1600841,
 1600843,
 1600844,
 1600845,
 1600846,
 1600847,
 1600848,
 1600850,
 1600851,
 1600853,
 1600854,
 1600855,
 1600856,
 1600857,
 1600858,
 1600859,
 1600860,
 1600861,
 1600862,
 1600863,
 1600864,
 1600865,
 1600866,
 1600867,
 1600868,
 1600869,
 1600870,
 1600871,
 1600872,
 1600873,
 1600874,
 1600875,
 1600876,
 1600877,
 1600879,
 1600880,
 1600881,
 1600882,
 1600883,
 1600884,
 1600885,
 1600886,
 1600887,
 1600888,
 1600889,
 1600890,
 1600891,
 1600892,
 1600893,
 1600894,
 1600895,
 1600896,
 1600897,
 1600898,
 1600900,
 1600901,
 1600903,
 1600908,
 1600909,
 1600917,
 1600919,
 1600926,
 1600928,
 1600929,
 1600933,
 1600936,
 1600939,
 1600958,
 1600959,
 1600960,
 1600961,
 1600962,
 1600963,
 1600965,
 1600966,
 1600967,
 1600969,
 1600970,
 1600971,
 1600973,
 1600975,
 1600976,
 1600977,
 1600978,
 1600979,
 1600980,
 1600981,
 1600982,
 1600983,
 1600984,
 1600985,
 1600986,
 1600987,
 1600988,
 1600990,
 1600992,
 1600993,
 1600995,
 1600996,
 1600997,
 1600998,
 1600999,
 1601000,
 1601001,
 1601002,
 1601003,
 1601005,
 1601006,
 1601007,
 1601008,
 1601009,
 1601010,
 1601011,
 1601012,
 1601015,
 1601016,
 1601018,
 1601019,
 1601020,
 1601021,
 1601028,
 1601038,
 1601058,
 1601066,
 1601068,
 1601069,
 1601086,
 1601088,
 1601098,
 1601099,
 1601100,
 1601101,
 1601106,
 1601107,
 1601108,
 1601111,
 1601113,
 1601116,
 1601117,
 1601118,
 1601126,
 1601127,
 1601128,
 1601137,
 1601138,
 1601139,
 1601155,
 1601158,
 1601162,
 1601163,
 1601166,
 1601168,
 1601169,
 1601177,
 1601179,
 1601186,
 1601188,
 1601198,
 1601199,
 1601200,
 1601208,
 1601211,
 1601212,
 1601216,
 1601218,
 1601222,
 1601225,
 1601226,
 1601228,
 1601229,
 1601231,
 1601233,
 1601238,
 1601258,
 1601288,
 1601298,
 1601311,
 1601318,
 1601319,
 1601326,
 1601328,
 1601330,
 1601333,
 1601336,
 1601339,
 1601360,
 1601366,
 1601368,
 1601369,
 1601375,
 1601377,
 1601388,
 1601390,
 1601398,
 1601500,
 1601515,
 1601518,
 1601519,
 1601555,
 1601558,
 1601566,
 1601567,
 1601577,
 1601579,
 1601588,
 1601595,
 1601598,
 1601599,
 1601600,
 1601601,
 1601606,
 1601607,
 1601608,
 1601611,
 1601615,
 1601616,
 1601618,
 1601619,
 1601628,
 1601633,
 1601636,
 1601666,
 1601668,
 1601669,
 1601677,
 1601678,
 1601688,
 1601689,
 1601699,
 1601700,
 1601717,
 1601718,
 1601727,
 1601766,
 1601777,
 1601788,
 1601789,
 1601798,
 1601799,
 1601800,
 1601801,
 1601808,
 1601811,
 1601818,
 1601828,
 1601838,
 1601857,
 1601858,
 1601860,
 1601865,
 1601866,
 1601869,
 1601872,
 1601877,
 1601878,
 1601880,
 1601881,
 1601882,
 1601886,
 1601888,
 1601890,
 1601898,
 1601899,
 1601900,
 1601901,
 1601908,
 1601918,
 1601919,
 1601928,
 1601929,
 1601933,
 1601939,
 1601949,
 1601952,
 1601958,
 1601965,
 1601966,
 1601968,
 1601969,
 1601975,
 1601985,
 1601988,
 1601989,
 1601990,
 1601991,
 1601992,
 1601996,
 1601997,
 1601998,
 1601999,
 1603000,
 1603001,
 1603002,
 1603003,
 1603005,
 1603006,
 1603007,
 1603008,
 1603009,
 1603010,
 1603011,
 1603012,
 1603013,
 1603015,
 1603016,
 1603017,
 1603018,
 1603019,
 1603020,
 1603021,
 1603022,
 1603023,
 1603025,
 1603026,
 1603027,
 1603028,
 1603029,
 1603030,
 1603031,
 1603032,
 1603033,
 1603035,
 1603036,
 1603037,
 1603038,
 1603039,
 1603040,
 1603041,
 1603042,
 1603043,
 1603045,
 1603050,
 1603055,
 1603056,
 1603058,
 1603059,
 1603060,
 1603063,
 1603066,
 1603067,
 1603069,
 1603076,
 1603077,
 1603078,
 1603079,
 1603080,
 1603081,
 1603083,
 1603085,
 1603086,
 1603088,
 1603089,
 1603090,
 1603096,
 1603098,
 1603099,
 1603100,
 1603101,
 1603103,
 1603105,
 1603106,
 1603108,
 1603110,
 1603111,
 1603113,
 1603116,
 1603117,
 1603118,
 1603121,
 1603123,
 1603126,
 1603127,
 1603128,
 1603129,
 1603131,
 1603133,
 1603136,
 1603138,
 1603139,
 1603156,
 1603157,
 1603158,
 1603159,
 1603160,
 1603161,
 1603165,
 1603166,
 1603167,
 1603168,
 1603169,
 1603177,
 1603178,
 1603179,
 1603180,
 1603181,
 1603183,
 1603185,
 1603186,
 1603187,
 1603188,
 1603189,
 1603192,
 1603196,
 1603197,
 1603198,
 1603199,
 1603200,
 1603203,
 1603208,
 1603214,
 1603218,
 1603220,
 1603222,
 1603223,
 1603225,
 1603226,
 1603227,
 1603228,
 1603229,
 1603232,
 1603233,
 1603238,
 1603239,
 1603258,
 1603259,
 1603260,
 1603266,
 1603268,
 1603269,
 1603277,
 1603278,
 1603283,
 1603286,
 1603288,
 1603289,
 1603297,
 1603298,
 1603299,
 1603300,
 1603301,
 1603303,
 1603305,
 1603306,
 1603308,
 1603309,
 1603311,
 1603313,
 1603315,
 1603316,
 1603318,
 1603319,
 1603320,
 1603321,
 1603322,
 1603323,
 1603326,
 1603328,
 1603329,
 1603330,
 1603331,
 1603332,
 1603333,
 1603335,
 1603336,
 1603337,
 1603338,
 1603339,
 1603345,
 1603348,
 1603351,
 1603355,
 1603356,
 1603357,
 1603358,
 1603359,
 1603360,
 1603363,
 1603365,
 1603366,
 1603367,
 1603368,
 1603369,
 1603377,
 1603378,
 1603380,
 1603383,
 1603385,
 1603386,
 1603387,
 1603388,
 1603389,
 1603393,
 1603396,
 1603398,
 1603399,
 1603416,
 1603421,
 1603429,
 1603444,
 1603456,
 1603458,
 1603466,
 1603477,
 1603486,
 1603488,
 1603496,
 1603499,
 1603500,
 1603501,
 1603505,
 1603506,
 1603507,
 1603508,
 1603515,
 1603516,
 1603517,
 1603518,
 1603519,
 1603520,
 1603527,
 1603528,
 1603533,
 1603535,
 1603536,
 1603538,
 1603555,
 1603556,
 1603557,
 1603558,
 1603559,
 1603566,
 1603567,
 1603568,
 1603569,
 1603577,
 1603578,
 1603579,
 1603580,
 1603583,
 1603585,
 1603586,
 1603587,
 1603588,
 1603589,
 1603590,
 1603595,
 1603596,
 1603598,
 1603599,
 1603600,
 1603601,
 1603602,
 1603603,
 1603605,
 1603606,
 1603607,
 1603608,
 1603609,
 1603611,
 1603612,
 1603615,
 1603616,
 1603617,
 1603618,
 1603619,
 1603626,
 1603628,
 1603629,
 1603630,
 1603633,
 1603636,
 1603637,
 1603638,
 1603639,
 1603648,
 1603650,
 1603655,
 1603656,
 1603657,
 1603658,
 1603659,
 1603660,
 1603661,
 1603663,
 1603665,
 1603666,
 1603667,
 1603668,
 1603669,
 1603676,
 1603677,
 1603678,
 1603679,
 1603680,
 1603683,
 1603685,
 1603686,
 1603688,
 1603689,
 1603690,
 1603693,
 1603696,
 1603698,
 1603699,
 1603700,
 1603701,
 1603703,
 1603706,
 1603707,
 1603708,
 1603709,
 1603711,
 1603712,
 1603713,
 1603716,
 1603717,
 1603718,
 1603721,
 1603722,
 1603725,
 1603726,
 1603727,
 1603728,
 1603729,
 1603730,
 1603733,
 1603737,
 1603738,
 1603739,
 1603757,
 1603758,
 1603766,
 1603767,
 1603768,
 1603773,
 1603776,
 1603777,
 1603778,
 1603779,
 1603787,
 1603788,
 1603789,
 1603790,
 1603797,
 1603798,
 1603799,
 1603800,
 1603801,
 1603803,
 1603806,
 1603808,
 1603809,
 1603810,
 1603811,
 1603813,
 1603816,
 1603817,
 1603818,
 1603819,
 1603822,
 1603823,
 1603825,
 1603826,
 1603828,
 1603829,
 1603833,
 1603838,
 1603839,
 1603843,
 1603848,
 1603855,
 1603856,
 1603858,
 1603859,
 1603860,
 1603861,
 1603866,
 1603868,
 1603869,
 1603871,
 1603876,
 1603877,
 1603878,
 1603879,
 1603880,
 1603881,
 1603882,
 1603883,
 1603885,
 1603886,
 1603887,
 1603888,
 1603889,
 1603890,
 1603895,
 1603896,
 1603897,
 1603898,
 1603899,
 1603900,
 1603901,
 1603903,
 1603906,
 1603908,
 1603909,
 1603912,
 1603916,
 1603917,
 1603918,
 1603919,
 1603920,
 1603922,
 1603926,
 1603928,
 1603929,
 1603933,
 1603936,
 1603937,
 1603938,
 1603939,
 1603955,
 1603956,
 1603958,
 1603959,
 1603960,
 1603963,
 1603966,
 1603968,
 1603969,
 1603970,
 1603976,
 1603977,
 1603978,
 1603979,
 1603980,
 1603985,
 1603986,
 1603987,
 1603988,
 1603989,
 1603990,
 1603991,
 1603993,
 1603996,
 1603997,
 1603998,
 1603999}

            ID   max_volume    max_amount     skey  cum_volume  cum_amount
504   SH600622   13852015.0  1.151488e+08  1600622         NaN         NaN
505   SH600623   17483798.0  1.654446e+08  1600623         NaN         NaN
506   SH600624  179075136.0  2.228732e+09  1600624         NaN         NaN
507   SH600626   16967383.0  1.070109e+08  1600626         NaN         NaN
508   SH600628   11777742.0  9.201939e+07  1600628         NaN         NaN
...        ...          ...           ...      ...         ...         ...
1442  SH603993  165426165.0  8.118949e+08  1603993         NaN         NaN
1443  SH603996    8187500.0  8.996181e+07  1603996         NaN         NaN
1444  SH603997    5440550.0  5.308176e+07  1603997         NaN         NaN
1445  SH603998    5285300.0  3.381601e+07  1603998         NaN         NaN
1446  SH603999    7322056.0  4.710267e+07  1603999         NaN         NaN

[926 rows x 6 columns]

            ID   max_volume    max_amount     skey  cum_volume  cum_amount
504   SH600622   13852015.0  1.151488e+08  1600622         NaN         NaN
505   SH600623   17483798.0  1.654446e+08  1600623         NaN         NaN
506   SH600624  179075136.0  2.228732e+09  1600624         NaN         NaN
507   SH600626   16967383.0  1.070109e+08  1600626         NaN         NaN
508   SH600628   11777742.0  9.201939e+07  1600628         NaN         NaN
...        ...          ...           ...      ...         ...         ...
1442  SH603993  165426165.0  8.118949e+08  1603993         NaN         NaN
1443  SH603996    8187500.0  8.996181e+07  1603996         NaN         NaN
1444  SH603997    5440550.0  5.308176e+07  1603997         NaN         NaN
1445  SH603998    5285300.0  3.381601e+07  1603998         NaN         NaN
1446  SH603999    7322056.0  4.710267e+07  1603999         NaN         NaN

[926 rows x 6 columns]

2019-03-19
trade finished
0:02:36.839223
0:00:00.442804
20190320 unzip finished

ValueError: No objects to concatenate

In [ ]:
import pymongo
import pandas as pd
import pickle
import datetime
import time
import gzip
import lzma
import pytz


def DB(host, db_name, user, passwd):
    auth_db = db_name if user not in ('admin', 'root') else 'admin'
    uri = 'mongodb://%s:%s@%s/?authSource=%s' % (user, passwd, host, auth_db)
    return DBObj(uri, db_name=db_name)


class DBObj(object):
    def __init__(self, uri, symbol_column='skey', db_name='white_db'):
        self.db_name = db_name
        self.uri = uri
        self.client = pymongo.MongoClient(self.uri)
        self.db = self.client[self.db_name]
        self.chunk_size = 20000
        self.symbol_column = symbol_column
        self.date_column = 'date'

    def parse_uri(self, uri):
        # mongodb://user:password@example.com
        return uri.strip().replace('mongodb://', '').strip('/').replace(':', ' ').replace('@', ' ').split(' ')

    def drop_table(self, table_name):
        self.db.drop_collection(table_name)

    def rename_table(self, old_table, new_table):
        self.db[old_table].rename(new_table)

    def write(self, table_name, df):
        if len(df) == 0: return

        multi_date = False

        if self.date_column in df.columns:
            date = str(df.head(1)[self.date_column].iloc[0])
            multi_date = len(df[self.date_column].unique()) > 1
        else:
            raise Exception('DataFrame should contain date column')

        collection = self.db[table_name]
        collection.create_index([('date', pymongo.ASCENDING), ('symbol', pymongo.ASCENDING)], background=True)
        collection.create_index([('symbol', pymongo.ASCENDING), ('date', pymongo.ASCENDING)], background=True)

        if multi_date:
            for (date, symbol), sub_df in df.groupby([self.date_column, self.symbol_column]):
                date = str(date)
                symbol = int(symbol)
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)
        else:
            for symbol, sub_df in df.groupby([self.symbol_column]):
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)

    def write_single(self, collection, date, symbol, df):
        for start in range(0, len(df), self.chunk_size):
            end = min(start + self.chunk_size, len(df))
            df_seg = df[start:end]
            version = 1
            seg = {'ver': version, 'data': self.ser(df_seg, version), 'date': date, 'symbol': symbol, 'start': start}
            collection.insert_one(seg)

    def build_query(self, start_date=None, end_date=None, symbol=None):
        query = {}

        def parse_date(x):
            if type(x) == str:
                if len(x) != 8:
                    raise Exception("`date` must be YYYYMMDD format")
                return x
            elif type(x) == datetime.datetime or type(x) == datetime.date:
                return x.strftime("%Y%m%d")
            elif type(x) == int:
                return parse_date(str(x))
            else:
                raise Exception("invalid `date` type: " + str(type(x)))

        if start_date is not None or end_date is not None:
            query['date'] = {}
            if start_date is not None:
                query['date']['$gte'] = parse_date(start_date)
            if end_date is not None:
                query['date']['$lte'] = parse_date(end_date)

        def parse_symbol(x):
            if type(x) == int:
                return x
            else:
                return int(x)

        if symbol:
            if type(symbol) == list or type(symbol) == tuple:
                query['symbol'] = {'$in': [parse_symbol(x) for x in symbol]}
            else:
                query['symbol'] = parse_symbol(symbol)

        return query

    def delete(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot delete the whole table')
            return None

        collection.delete_many(query)

    def read(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot read the whole table')
            return None

        segs = []
        for x in collection.find(query):
            x['data'] = self.deser(x['data'], x['ver'])
            segs.append(x)
        segs.sort(key=lambda x: (x['symbol'], x['date'], x['start']))
        return pd.concat([x['data'] for x in segs], ignore_index=True) if segs else None

    def list_tables(self):
        return self.db.collection_names()

    def list_dates(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]
        dates = set()
        if start_date is None:
            start_date = '00000000'
        if end_date is None:
            end_date = '99999999'
        for x in collection.find(self.build_query(start_date, end_date, symbol), {"date": 1, '_id': 0}):
            dates.add(x['date'])
        return sorted(list(dates))

    def ser(self, s, version):
        pickle_protocol = 4
        if version == 1:
            return gzip.compress(pickle.dumps(s, protocol=pickle_protocol), compresslevel=2)
        elif version == 2:
            return lzma.compress(pickle.dumps(s, protocol=pickle_protocol), preset=1)
        else:
            raise Exception('unknown version')

    def deser(self, s, version):
        def unpickle(s):
            return pickle.loads(s)

        if version == 1:
            return unpickle(gzip.decompress(s))
        elif version == 2:
            return unpickle(lzma.decompress(s))
        else:
            raise Exception('unknown version')


def patch_pandas_pickle():
    if pd.__version__ < '0.24':
        import sys
        from types import ModuleType
        from pandas.core.internals import BlockManager
        pkg_name = 'pandas.core.internals.managers'
        if pkg_name not in sys.modules:
            m = ModuleType(pkg_name)
            m.BlockManager = BlockManager
            sys.modules[pkg_name] = m
patch_pandas_pickle()

            
            
            
            
            
            
            
            
import pandas as pd
import random
import numpy as np
import glob
import os
import pickle
import datetime
import time
from decimal import Decimal, Context, ROUND_HALF_UP
pd.set_option("max_columns", 200)

startTm = datetime.datetime.now()
readPath = '/home/work516/day_stock/***'
dataPathLs = np.array(glob.glob(readPath))
dataPathLs = dataPathLs[[np.array([os.path.basename(i).split('.')[0][:2] == 'SH' for i in dataPathLs])]]
db = pd.DataFrame()
for p in dataPathLs:
    dayData = pd.read_csv(p, compression='gzip')
    db = pd.concat([db, dayData])
print(datetime.datetime.now() - startTm)

year = "2019"
startDate = '20190319'
endDate = '20191231'
readPath = '/mnt/usb/data/' + year + '/***/***'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([os.path.basename(i) for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]

for data in dataPathLs:
    
    if len(np.array(glob.glob(data + '/SH/***'))) == 0:
        if int(os.path.basename(data)) not in date_list["Date"].values:
            continue
        else:
            print(os.path.basename(data) + " less data!!!!!!!!!!!!!!!!!")
            less.append(data)
            continue
    startTm = datetime.datetime.now()
    date = os.path.basename(data)
    rar_path = data + '/SH/tick.7z'
    path = '/mnt/e/unzip_data/2019/SH'
    path1 = path + '/' + date
    un_path = path1
    cmd = '7za x {} -o{}'.format(rar_path, un_path)
    os.system(cmd)
    print(datetime.datetime.now() - startTm)
    print(date + ' unzip finished')
    
    
    startTm = datetime.datetime.now()
    
    readPath = path1 + '/tick/***'
    dataPathLs = np.array(glob.glob(readPath))
    dateLs = np.array([int(os.path.basename(i).split('.')[0]) for i in dataPathLs])
    dataPathLs = dataPathLs[((dateLs >= 600000) & (dateLs <= 700000))]
    TradeLog = []
    ll = []
    
    for i in dataPathLs:
        try:
            df = pd.read_csv(i)
        except:
            print("empty data")
            print(i)
            ll.append(int(os.path.basename(i).split('.')[0]))
            continue
        df["SecurityID"] = int(os.path.basename(i).split('.')[0])
        TradeLog += [df]
    TradeLog = pd.concat(TradeLog).reset_index(drop=True)
    
    TradeLog["date"] = TradeLog["TradeTime"].iloc[0]//1000000000
    TradeLog = TradeLog.rename(columns={"TradeQty":"trade_qty", "TradePrice":"trade_price", 
                                        "TradeBSFlag":"trade_flag", "TradeAmount":"trade_money",
                                       "TradeIndex":"ApplSeqNum", "SellNo":"OfferApplSeqNum",
                                       "BuyNo":"BidApplSeqNum"})
    TradeLog["trade_type"] = 1
    TradeLog["skey"] = TradeLog["SecurityID"] + 1000000
    TradeLog["clockAtArrival"] = TradeLog["TradeTime"].astype(str).apply(lambda x: np.int64(datetime.datetime.strptime(x, '%Y%m%d%H%M%S%f').timestamp()*1e6))
    TradeLog['datetime'] = TradeLog["clockAtArrival"].apply(lambda x: datetime.datetime.fromtimestamp(x/1e6))
    TradeLog["time"] = (TradeLog['TradeTime'] - int(TradeLog['TradeTime'].iloc[0]//1000000000*1000000000)).astype(np.int64)*1000
    TradeLog["trade_flag"] = np.where(TradeLog["trade_flag"] == 'B', 1, np.where(
        TradeLog["trade_flag"] == 'S', 2, 0))
    for col in ["skey", "date", "ApplSeqNum", "BidApplSeqNum", "OfferApplSeqNum", "trade_qty", "trade_type", "trade_flag"]:
        TradeLog[col] = TradeLog[col].astype('int32')
    
    da_te = str(TradeLog["date"].iloc[0]) 
    da_te = da_te[:4] + '-' + da_te[4:6] + '-' + da_te[6:8]
    db1 = db[db["date"] == da_te]
    db1["max_volume"] = db1.groupby("ID")["d_volume"].transform("max")
    db1["max_amount"] = db1.groupby("ID")["d_amount"].transform("max")
    t1 = db1.groupby("ID")["max_volume", "max_amount"].first().reset_index()
    del db1
    t1["skey"] = t1["ID"].str[2:].astype(int) + 1000000
    trade1 = TradeLog[TradeLog["trade_type"] == 1].groupby("skey")["trade_qty"].sum().reset_index()
    trade1.columns=["skey", "cum_volume"]
    trade2 = TradeLog[TradeLog["trade_type"] == 1].groupby("skey")["trade_money"].sum().reset_index()
    trade2.columns=["skey", "cum_amount"]
    t2 = pd.merge(trade1, trade2, on="skey")
    re = pd.merge(t1, t2, on="skey", how="outer")
    re["cum_amount"] = re["cum_amount"].apply(lambda x: np.float(Decimal(round(x, 2)).normalize(Context(prec=len(str(x).split('.')[0]), rounding=ROUND_HALF_UP))))
    try:
        assert(t1.shape[0] == t2.shape[0])
        assert(re[re["cum_volume"] != re["max_volume"]].shape[0] == 0)
        assert(re[re["cum_amount"].round(2) != re["max_amount"]].shape[0] == 0)
    except:
        display(set(t1["skey"]) - set(t2["skey"]))
        display(re[re["cum_volume"] != re["max_volume"]])
        display(re[re["cum_amount"] != re["max_amount"]])
    del t1
    del t2
    del re
 
    TradeLog = TradeLog[["skey", "date", "time", "clockAtArrival", "datetime", "ApplSeqNum", "trade_type", "trade_flag",
                                                 "trade_price", "trade_qty", "BidApplSeqNum", "OfferApplSeqNum"]]
    print(da_te)
    print("trade finished")

    database_name = 'com_md_eq_cn'
    user = "zhenyuy"
    password = "bnONBrzSMGoE"

    db1 = DB("192.168.10.223", database_name, user, password)
    db1.write('md_trade', TradeLog)
    
    del TradeLog

    print(datetime.datetime.now() - startTm)

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:201: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.

0:02:26.428510
0:00:18.525912
20190319 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

2019-03-19
trade finished
0:06:26.218374
0:00:26.426735
20190320 unzip finished
2019-03-20
trade finished
0:06:42.622813
0:00:28.784394
20190321 unzip finished
2019-03-21
trade finished
0:07:14.521699
0:00:24.176488
20190322 unzip finished
2019-03-22
trade finished
0:06:51.539084
0:00:24.674683
20190325 unzip finished
2019-03-25
trade finished
0:07:18.661165
0:00:30.267733
20190326 unzip finished
2019-03-26
trade finished
0:07:00.235887
0:00:21.036847
20190327 unzip finished
2019-03-27
trade finished
0:05:53.052014
0:00:22.887799
20190328 unzip finished
2019-03-28
trade finished
0:06:01.929475
0:00:26.292465
20190329 unzip finished
2019-03-29
trade finished
0:07:24.533728
0:00:28.616212
20190401 unzip finished
2019-04-01
trade finished
0:09:23.468124
0:00:24.909424
20190402 unzip finished
2019-04-02
trade finished
0:08:02.944077
0:00:26.248441
20190403 unzip finished

In [1]:
import pymongo
import pandas as pd
import pickle
import datetime
import time
import gzip
import lzma
import pytz


def DB(host, db_name, user, passwd):
    auth_db = db_name if user not in ('admin', 'root') else 'admin'
    uri = 'mongodb://%s:%s@%s/?authSource=%s' % (user, passwd, host, auth_db)
    return DBObj(uri, db_name=db_name)


class DBObj(object):
    def __init__(self, uri, symbol_column='skey', db_name='white_db'):
        self.db_name = db_name
        self.uri = uri
        self.client = pymongo.MongoClient(self.uri)
        self.db = self.client[self.db_name]
        self.chunk_size = 20000
        self.symbol_column = symbol_column
        self.date_column = 'date'

    def parse_uri(self, uri):
        # mongodb://user:password@example.com
        return uri.strip().replace('mongodb://', '').strip('/').replace(':', ' ').replace('@', ' ').split(' ')

    def drop_table(self, table_name):
        self.db.drop_collection(table_name)

    def rename_table(self, old_table, new_table):
        self.db[old_table].rename(new_table)

    def write(self, table_name, df):
        if len(df) == 0: return

        multi_date = False

        if self.date_column in df.columns:
            date = str(df.head(1)[self.date_column].iloc[0])
            multi_date = len(df[self.date_column].unique()) > 1
        else:
            raise Exception('DataFrame should contain date column')

        collection = self.db[table_name]
        collection.create_index([('date', pymongo.ASCENDING), ('symbol', pymongo.ASCENDING)], background=True)
        collection.create_index([('symbol', pymongo.ASCENDING), ('date', pymongo.ASCENDING)], background=True)

        if multi_date:
            for (date, symbol), sub_df in df.groupby([self.date_column, self.symbol_column]):
                date = str(date)
                symbol = int(symbol)
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)
        else:
            for symbol, sub_df in df.groupby([self.symbol_column]):
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)

    def write_single(self, collection, date, symbol, df):
        for start in range(0, len(df), self.chunk_size):
            end = min(start + self.chunk_size, len(df))
            df_seg = df[start:end]
            version = 1
            seg = {'ver': version, 'data': self.ser(df_seg, version), 'date': date, 'symbol': symbol, 'start': start}
            collection.insert_one(seg)

    def build_query(self, start_date=None, end_date=None, symbol=None):
        query = {}

        def parse_date(x):
            if type(x) == str:
                if len(x) != 8:
                    raise Exception("`date` must be YYYYMMDD format")
                return x
            elif type(x) == datetime.datetime or type(x) == datetime.date:
                return x.strftime("%Y%m%d")
            elif type(x) == int:
                return parse_date(str(x))
            else:
                raise Exception("invalid `date` type: " + str(type(x)))

        if start_date is not None or end_date is not None:
            query['date'] = {}
            if start_date is not None:
                query['date']['$gte'] = parse_date(start_date)
            if end_date is not None:
                query['date']['$lte'] = parse_date(end_date)

        def parse_symbol(x):
            if type(x) == int:
                return x
            else:
                return int(x)

        if symbol:
            if type(symbol) == list or type(symbol) == tuple:
                query['symbol'] = {'$in': [parse_symbol(x) for x in symbol]}
            else:
                query['symbol'] = parse_symbol(symbol)

        return query

    def delete(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot delete the whole table')
            return None

        collection.delete_many(query)

    def read(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot read the whole table')
            return None

        segs = []
        for x in collection.find(query):
            x['data'] = self.deser(x['data'], x['ver'])
            segs.append(x)
        segs.sort(key=lambda x: (x['symbol'], x['date'], x['start']))
        return pd.concat([x['data'] for x in segs], ignore_index=True) if segs else None

    def list_tables(self):
        return self.db.collection_names()

    def list_dates(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]
        dates = set()
        if start_date is None:
            start_date = '00000000'
        if end_date is None:
            end_date = '99999999'
        for x in collection.find(self.build_query(start_date, end_date, symbol), {"date": 1, '_id': 0}):
            dates.add(x['date'])
        return sorted(list(dates))

    def ser(self, s, version):
        pickle_protocol = 4
        if version == 1:
            return gzip.compress(pickle.dumps(s, protocol=pickle_protocol), compresslevel=2)
        elif version == 2:
            return lzma.compress(pickle.dumps(s, protocol=pickle_protocol), preset=1)
        else:
            raise Exception('unknown version')

    def deser(self, s, version):
        def unpickle(s):
            return pickle.loads(s)

        if version == 1:
            return unpickle(gzip.decompress(s))
        elif version == 2:
            return unpickle(lzma.decompress(s))
        else:
            raise Exception('unknown version')


def patch_pandas_pickle():
    if pd.__version__ < '0.24':
        import sys
        from types import ModuleType
        from pandas.core.internals import BlockManager
        pkg_name = 'pandas.core.internals.managers'
        if pkg_name not in sys.modules:
            m = ModuleType(pkg_name)
            m.BlockManager = BlockManager
            sys.modules[pkg_name] = m
patch_pandas_pickle()

            
            
            
            
            
            
            
            
import pandas as pd
import random
import numpy as np
import glob
import os
import pickle
import datetime
import time
from decimal import Decimal, Context, ROUND_HALF_UP
pd.set_option("max_columns", 200)

startTm = datetime.datetime.now()
readPath = '/home/work516/day_stock/***'
dataPathLs = np.array(glob.glob(readPath))
dataPathLs = dataPathLs[[np.array([os.path.basename(i).split('.')[0][:2] == 'SH' for i in dataPathLs])]]
db = pd.DataFrame()
for p in dataPathLs:
    dayData = pd.read_csv(p, compression='gzip')
    db = pd.concat([db, dayData])
print(datetime.datetime.now() - startTm)

year = "2019"
startDate = '20190403'
endDate = '20191231'
readPath = '/mnt/usb/data/' + year + '/***/***'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([os.path.basename(i) for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]

for data in dataPathLs:
    
    if len(np.array(glob.glob(data + '/SH/***'))) == 0:
        if int(os.path.basename(data)) not in date_list["Date"].values:
            continue
        else:
            print(os.path.basename(data) + " less data!!!!!!!!!!!!!!!!!")
            less.append(data)
            continue
    startTm = datetime.datetime.now()
    date = os.path.basename(data)
    rar_path = data + '/SH/tick.7z'
    path = '/mnt/e/unzip_data/2019/SH'
    path1 = path + '/' + date
    un_path = path1
    cmd = '7za x {} -o{}'.format(rar_path, un_path)
    os.system(cmd)
    print(datetime.datetime.now() - startTm)
    print(date + ' unzip finished')
    
    
    startTm = datetime.datetime.now()
    
    readPath = path1 + '/tick/***'
    dataPathLs = np.array(glob.glob(readPath))
    dateLs = np.array([int(os.path.basename(i).split('.')[0]) for i in dataPathLs])
    dataPathLs = dataPathLs[((dateLs >= 600000) & (dateLs <= 700000))]
    TradeLog = []
    ll = []
    
    for i in dataPathLs:
        try:
            df = pd.read_csv(i)
        except:
            print("empty data")
            print(i)
            ll.append(int(os.path.basename(i).split('.')[0]))
            continue
        df["SecurityID"] = int(os.path.basename(i).split('.')[0])
        TradeLog += [df]
    TradeLog = pd.concat(TradeLog).reset_index(drop=True)
    
    TradeLog["date"] = TradeLog["TradeTime"].iloc[0]//1000000000
    TradeLog = TradeLog.rename(columns={"TradeQty":"trade_qty", "TradePrice":"trade_price", 
                                        "TradeBSFlag":"trade_flag", "TradeAmount":"trade_money",
                                       "TradeIndex":"ApplSeqNum", "SellNo":"OfferApplSeqNum",
                                       "BuyNo":"BidApplSeqNum"})
    TradeLog["trade_type"] = 1
    TradeLog["skey"] = TradeLog["SecurityID"] + 1000000
    TradeLog["clockAtArrival"] = TradeLog["TradeTime"].astype(str).apply(lambda x: np.int64(datetime.datetime.strptime(x, '%Y%m%d%H%M%S%f').timestamp()*1e6))
    TradeLog['datetime'] = TradeLog["clockAtArrival"].apply(lambda x: datetime.datetime.fromtimestamp(x/1e6))
    TradeLog["time"] = (TradeLog['TradeTime'] - int(TradeLog['TradeTime'].iloc[0]//1000000000*1000000000)).astype(np.int64)*1000
    TradeLog["trade_flag"] = np.where(TradeLog["trade_flag"] == 'B', 1, np.where(
        TradeLog["trade_flag"] == 'S', 2, 0))
    for col in ["skey", "date", "ApplSeqNum", "BidApplSeqNum", "OfferApplSeqNum", "trade_qty", "trade_type", "trade_flag"]:
        TradeLog[col] = TradeLog[col].astype('int32')
    
    da_te = str(TradeLog["date"].iloc[0]) 
    da_te = da_te[:4] + '-' + da_te[4:6] + '-' + da_te[6:8]
    db1 = db[db["date"] == da_te]
    db1["max_volume"] = db1.groupby("ID")["d_volume"].transform("max")
    db1["max_amount"] = db1.groupby("ID")["d_amount"].transform("max")
    t1 = db1.groupby("ID")["max_volume", "max_amount"].first().reset_index()
    del db1
    t1["skey"] = t1["ID"].str[2:].astype(int) + 1000000
    trade1 = TradeLog[TradeLog["trade_type"] == 1].groupby("skey")["trade_qty"].sum().reset_index()
    trade1.columns=["skey", "cum_volume"]
    trade2 = TradeLog[TradeLog["trade_type"] == 1].groupby("skey")["trade_money"].sum().reset_index()
    trade2.columns=["skey", "cum_amount"]
    t2 = pd.merge(trade1, trade2, on="skey")
    re = pd.merge(t1, t2, on="skey", how="outer")
    re["cum_amount"] = re["cum_amount"].apply(lambda x: np.float(Decimal(round(x, 2)).normalize(Context(prec=len(str(x).split('.')[0]), rounding=ROUND_HALF_UP))))
    try:
        assert(t1.shape[0] == t2.shape[0])
        assert(re[re["cum_volume"] != re["max_volume"]].shape[0] == 0)
        assert(re[re["cum_amount"].round(2) != re["max_amount"]].shape[0] == 0)
    except:
        display(set(t1["skey"]) - set(t2["skey"]))
        display(re[re["cum_volume"] != re["max_volume"]])
        display(re[re["cum_amount"] != re["max_amount"]])
    del t1
    del t2
    del re
 
    TradeLog = TradeLog[["skey", "date", "time", "clockAtArrival", "datetime", "ApplSeqNum", "trade_type", "trade_flag",
                                                 "trade_price", "trade_qty", "BidApplSeqNum", "OfferApplSeqNum"]]
    print(da_te)
    print("trade finished")

    database_name = 'com_md_eq_cn'
    user = "zhenyuy"
    password = "bnONBrzSMGoE"

    db1 = DB("192.168.10.223", database_name, user, password)
    db1.write('md_trade', TradeLog)
    
    del TradeLog

    print(datetime.datetime.now() - startTm)

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:201: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.

0:03:02.438412
0:00:00.575648
20190403 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

2019-04-03
trade finished
0:08:01.249008
0:00:00.419863
20190404 unzip finished

set()

            ID   max_volume    max_amount     skey  cum_volume    cum_amount
0     SH600000   75232527.0  8.760995e+08  1600000    75231527  8.760878e+08
1     SH600004   41519862.0  6.418175e+08  1600004    41519474  6.418117e+08
2     SH600006   48579017.0  2.548271e+08  1600006    48567817  2.547682e+08
3     SH600007    2656899.0  4.091218e+07  1600007     2656399  4.090450e+07
4     SH600008   58205837.0  2.537839e+08  1600008    58204803  2.537794e+08
...        ...          ...           ...      ...         ...           ...
1439  SH603993  272054585.0  1.383977e+09  1603993   272053585  1.383972e+09
1440  SH603996    8533164.0  9.660764e+07  1603996     8532164  9.659627e+07
1441  SH603997    7105306.0  7.722754e+07  1603997     7104906  7.722315e+07
1442  SH603998   13528150.0  1.069809e+08  1603998    13527558  1.069763e+08
1443  SH603999    8902769.0  5.988138e+07  1603999     8898869  5.985540e+07

[1444 rows x 6 columns]

            ID   max_volume    max_amount     skey  cum_volume    cum_amount
0     SH600000   75232527.0  8.760995e+08  1600000    75231527  8.760878e+08
1     SH600004   41519862.0  6.418175e+08  1600004    41519474  6.418117e+08
2     SH600006   48579017.0  2.548271e+08  1600006    48567817  2.547682e+08
3     SH600007    2656899.0  4.091218e+07  1600007     2656399  4.090450e+07
4     SH600008   58205837.0  2.537839e+08  1600008    58204803  2.537794e+08
...        ...          ...           ...      ...         ...           ...
1439  SH603993  272054585.0  1.383977e+09  1603993   272053585  1.383972e+09
1440  SH603996    8533164.0  9.660764e+07  1603996     8532164  9.659627e+07
1441  SH603997    7105306.0  7.722754e+07  1603997     7104906  7.722315e+07
1442  SH603998   13528150.0  1.069809e+08  1603998    13527558  1.069763e+08
1443  SH603999    8902769.0  5.988138e+07  1603999     8898869  5.985540e+07

[1444 rows x 6 columns]

2019-04-04
trade finished
0:08:08.623572
0:00:00.410728
20190408 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

set()

            ID   max_volume    max_amount     skey  cum_volume    cum_amount
0     SH600000   77870373.0  9.205135e+08  1600000    77856560  9.203516e+08
1     SH600004   32076319.0  4.668522e+08  1600004    32075719  4.668435e+08
2     SH600006   37755221.0  1.983433e+08  1600006    37754221  1.983381e+08
3     SH600007    2487924.0  3.838131e+07  1600007     2487724  3.837820e+07
4     SH600008   51836814.0  2.236903e+08  1600008    51835814  2.236861e+08
...        ...          ...           ...      ...         ...           ...
1445  SH603993  296337234.0  1.514521e+09  1603993   296330334  1.514486e+09
1446  SH603996    9295761.0  1.062346e+08  1603996     9293561  1.062097e+08
1447  SH603997    5623368.0  6.091402e+07  1603997     5622768  6.090755e+07
1448  SH603998   14381079.0  1.175827e+08  1603998    14376079  1.175398e+08
1449  SH603999    9053155.0  5.908578e+07  1603999     9052855  5.908384e+07

[1450 rows x 6 columns]

            ID   max_volume    max_amount     skey  cum_volume    cum_amount
0     SH600000   77870373.0  9.205135e+08  1600000    77856560  9.203516e+08
1     SH600004   32076319.0  4.668522e+08  1600004    32075719  4.668435e+08
2     SH600006   37755221.0  1.983433e+08  1600006    37754221  1.983381e+08
3     SH600007    2487924.0  3.838131e+07  1600007     2487724  3.837820e+07
4     SH600008   51836814.0  2.236903e+08  1600008    51835814  2.236861e+08
...        ...          ...           ...      ...         ...           ...
1445  SH603993  296337234.0  1.514521e+09  1603993   296330334  1.514486e+09
1446  SH603996    9295761.0  1.062346e+08  1603996     9293561  1.062097e+08
1447  SH603997    5623368.0  6.091402e+07  1603997     5622768  6.090755e+07
1448  SH603998   14381079.0  1.175827e+08  1603998    14376079  1.175398e+08
1449  SH603999    9053155.0  5.908578e+07  1603999     9052855  5.908384e+07

[1450 rows x 6 columns]

2019-04-08
trade finished
0:08:18.623066
0:00:21.077707
20190409 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

set()

            ID   max_volume    max_amount     skey  cum_volume    cum_amount
0     SH600000   56895992.0  6.604062e+08  1600000    56895253  6.603977e+08
1     SH600004   14028391.0  2.039193e+08  1600004    14028291  2.039178e+08
2     SH600006   26903353.0  1.409594e+08  1600006    26902753  1.409563e+08
3     SH600007    1616806.0  2.493633e+07  1600007     1616406  2.493016e+07
4     SH600008   35546661.0  1.534077e+08  1600008    35546464  1.534069e+08
...        ...          ...           ...      ...         ...           ...
1443  SH603993  219986013.0  1.090173e+09  1603993   219983013  1.090158e+09
1444  SH603996    7327462.0  8.357790e+07  1603996     7326762  8.356990e+07
1445  SH603997    7699300.0  8.423080e+07  1603997     7697300  8.420868e+07
1446  SH603998    1009200.0  9.516756e+06  1603998     1009100  9.515813e+06
1447  SH603999   19285537.0  1.315025e+08  1603999    19284537  1.314956e+08

[1448 rows x 6 columns]

            ID   max_volume    max_amount     skey  cum_volume    cum_amount
0     SH600000   56895992.0  6.604062e+08  1600000    56895253  6.603977e+08
1     SH600004   14028391.0  2.039193e+08  1600004    14028291  2.039178e+08
2     SH600006   26903353.0  1.409594e+08  1600006    26902753  1.409563e+08
3     SH600007    1616806.0  2.493633e+07  1600007     1616406  2.493016e+07
4     SH600008   35546661.0  1.534077e+08  1600008    35546464  1.534069e+08
...        ...          ...           ...      ...         ...           ...
1443  SH603993  219986013.0  1.090173e+09  1603993   219983013  1.090158e+09
1444  SH603996    7327462.0  8.357790e+07  1603996     7326762  8.356990e+07
1445  SH603997    7699300.0  8.423080e+07  1603997     7697300  8.420868e+07
1446  SH603998    1009200.0  9.516756e+06  1603998     1009100  9.515813e+06
1447  SH603999   19285537.0  1.315025e+08  1603999    19284537  1.314956e+08

[1448 rows x 6 columns]

2019-04-09
trade finished
0:06:31.299061
0:00:20.850078
20190410 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

set()

            ID   max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000   41027539.0  470666649.0  1600000    41026424  470653849.0
1     SH600004   19332294.0  274936837.0  1600004    19331894  274931117.0
2     SH600006   88350252.0  492394233.0  1600006    88349052  492387441.0
3     SH600007    2097688.0   32128947.0  1600007     2097588   32127406.0
4     SH600008   31700972.0  135457137.0  1600008    31700872  135456710.0
...        ...          ...          ...      ...         ...          ...
1444  SH603993  124615162.0  614030213.0  1603993   124614162  614025263.0
1445  SH603996   11059873.0  128295115.0  1603996    11053223  128219039.0
1446  SH603997    6262901.0   70077913.0  1603997     6259901   70044463.0
1447  SH603998    1973269.0   20462800.0  1603998     1972569   20455541.0
1448  SH603999   13638078.0   90962367.0  1603999    13637678   90959687.0

[1449 rows x 6 columns]

            ID   max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000   41027539.0  470666649.0  1600000    41026424  470653849.0
1     SH600004   19332294.0  274936837.0  1600004    19331894  274931117.0
2     SH600006   88350252.0  492394233.0  1600006    88349052  492387441.0
3     SH600007    2097688.0   32128947.0  1600007     2097588   32127406.0
4     SH600008   31700972.0  135457137.0  1600008    31700872  135456710.0
...        ...          ...          ...      ...         ...          ...
1444  SH603993  124615162.0  614030213.0  1603993   124614162  614025263.0
1445  SH603996   11059873.0  128295115.0  1603996    11053223  128219039.0
1446  SH603997    6262901.0   70077913.0  1603997     6259901   70044463.0
1447  SH603998    1973269.0   20462800.0  1603998     1972569   20455541.0
1448  SH603999   13638078.0   90962367.0  1603999    13637678   90959687.0

[1449 rows x 6 columns]

2019-04-10
trade finished
0:06:43.673098
0:00:19.503097
20190411 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

set()

            ID   max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000   50172794.0  575765348.0  1600000    50172694  575764201.0
1     SH600004   13483858.0  192889867.0  1600004    13482391  192868962.0
2     SH600006   18185775.0  113297378.0  1600006    18183775  113284918.0
3     SH600007    1439200.0   22034560.0  1600007     1437600   22010080.0
4     SH600008   28809902.0  122830571.0  1600008    28798902  122783931.0
...        ...          ...          ...      ...         ...          ...
1443  SH603993  167308188.0  830149533.0  1603993   167307860  830147929.0
1444  SH603996    7108000.0   81117089.0  1603996     7107700   81113744.0
1445  SH603997    4969314.0   55556297.0  1603997     4969264   55555737.0
1446  SH603998    1816290.0   20723869.0  1603998     1815690   20717023.0
1447  SH603999    8186440.0   53527403.0  1603999     8184540   53514996.0

[1448 rows x 6 columns]

            ID   max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000   50172794.0  575765348.0  1600000    50172694  575764201.0
1     SH600004   13483858.0  192889867.0  1600004    13482391  192868962.0
2     SH600006   18185775.0  113297378.0  1600006    18183775  113284918.0
3     SH600007    1439200.0   22034560.0  1600007     1437600   22010080.0
4     SH600008   28809902.0  122830571.0  1600008    28798902  122783931.0
...        ...          ...          ...      ...         ...          ...
1443  SH603993  167308188.0  830149533.0  1603993   167307860  830147929.0
1444  SH603996    7108000.0   81117089.0  1603996     7107700   81113744.0
1445  SH603997    4969314.0   55556297.0  1603997     4969264   55555737.0
1446  SH603998    1816290.0   20723869.0  1603998     1815690   20717023.0
1447  SH603999    8186440.0   53527403.0  1603999     8184540   53514996.0

[1448 rows x 6 columns]

2019-04-11
trade finished
0:06:18.265913
0:00:26.178925
20190412 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

set()

            ID   max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000   26273690.0  301752036.0  1600000    26269290  301701480.0
1     SH600004    9019341.0  127165570.0  1600004     9018841  127158535.0
2     SH600006  142450044.0  975453090.0  1600006   142449144  975446925.0
3     SH600007    2900800.0   43733580.0  1600007     2900700   43732074.0
4     SH600008   20810597.0   88235590.0  1600008    20810497   88235166.0
...        ...          ...          ...      ...         ...          ...
1445  SH603993  102494731.0  496236183.0  1603993   102494431  496234728.0
1446  SH603996    8223000.0   89195751.0  1603996     8222000   89184981.0
1447  SH603997    9846058.0  113574755.0  1603997     9838058  113481715.0
1448  SH603998   31082853.0  390089805.0  1603998    31070853  389939205.0
1449  SH603999   12328511.0   82424867.0  1603999    12327411   82417475.0

[1450 rows x 6 columns]

            ID   max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000   26273690.0  301752036.0  1600000    26269290  301701480.0
1     SH600004    9019341.0  127165570.0  1600004     9018841  127158535.0
2     SH600006  142450044.0  975453090.0  1600006   142449144  975446925.0
3     SH600007    2900800.0   43733580.0  1600007     2900700   43732074.0
4     SH600008   20810597.0   88235590.0  1600008    20810497   88235166.0
...        ...          ...          ...      ...         ...          ...
1445  SH603993  102494731.0  496236183.0  1603993   102494431  496234728.0
1446  SH603996    8223000.0   89195751.0  1603996     8222000   89184981.0
1447  SH603997    9846058.0  113574755.0  1603997     9838058  113481715.0
1448  SH603998   31082853.0  390089805.0  1603998    31070853  389939205.0
1449  SH603999   12328511.0   82424867.0  1603999    12327411   82417475.0

[1450 rows x 6 columns]

2019-04-12
trade finished
0:05:16.664474
0:00:19.450392
20190415 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

set()

            ID   max_volume    max_amount     skey  cum_volume    cum_amount
0     SH600000   70509167.0  8.238534e+08  1600000    70505162  8.238075e+08
1     SH600004   14263559.0  2.017169e+08  1600004    14263259  2.017127e+08
2     SH600006  202417408.0  1.390941e+09  1600006   202416408  1.390934e+09
3     SH600007    1852450.0  2.808760e+07  1600007     1851150  2.806797e+07
4     SH600008   30169015.0  1.285403e+08  1600008    30166215  1.285285e+08
...        ...          ...           ...      ...         ...           ...
1447  SH603993  117507146.0  5.772752e+08  1603993   117505346  5.772665e+08
1448  SH603996    5849000.0  6.426103e+07  1603996     5848500  6.425562e+07
1449  SH603997    8018466.0  9.088094e+07  1603997     8018016  9.087596e+07
1450  SH603998   94800345.0  1.191641e+09  1603998    94799645  1.191633e+09
1451  SH603999   20901465.0  1.447322e+08  1603999    20900565  1.447259e+08

[1452 rows x 6 columns]

            ID   max_volume    max_amount     skey  cum_volume    cum_amount
0     SH600000   70509167.0  8.238534e+08  1600000    70505162  8.238075e+08
1     SH600004   14263559.0  2.017169e+08  1600004    14263259  2.017127e+08
2     SH600006  202417408.0  1.390941e+09  1600006   202416408  1.390934e+09
3     SH600007    1852450.0  2.808760e+07  1600007     1851150  2.806797e+07
4     SH600008   30169015.0  1.285403e+08  1600008    30166215  1.285285e+08
...        ...          ...           ...      ...         ...           ...
1447  SH603993  117507146.0  5.772752e+08  1603993   117505346  5.772665e+08
1448  SH603996    5849000.0  6.426103e+07  1603996     5848500  6.425562e+07
1449  SH603997    8018466.0  9.088094e+07  1603997     8018016  9.087596e+07
1450  SH603998   94800345.0  1.191641e+09  1603998    94799645  1.191633e+09
1451  SH603999   20901465.0  1.447322e+08  1603999    20900565  1.447259e+08

[1452 rows x 6 columns]

2019-04-15
trade finished
0:06:11.369376
0:00:19.910126
20190416 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

set()

            ID   max_volume    max_amount     skey  cum_volume    cum_amount
0     SH600000  100665400.0  1.188260e+09  1600000   100664400  1.188248e+09
1     SH600004   12265863.0  1.742918e+08  1600004    12264863  1.742775e+08
2     SH600006  145882558.0  9.862961e+08  1600006   145882458  9.862954e+08
3     SH600007    2011559.0  3.005988e+07  1600007     2010839  3.004895e+07
4     SH600008   31367495.0  1.305421e+08  1600008    31366495  1.305378e+08
...        ...          ...           ...      ...         ...           ...
1447  SH603993  174453714.0  8.548907e+08  1603993   174453688  8.548906e+08
1448  SH603996    5292060.0  5.744079e+07  1603996     5291060  5.742974e+07
1449  SH603997    6187219.0  6.827695e+07  1603997     6186219  6.826588e+07
1450  SH603998   86472422.0  1.146958e+09  1603998    86472322  1.146957e+09
1451  SH603999   25030306.0  1.776349e+08  1603999    25030206  1.776342e+08

[1452 rows x 6 columns]

            ID   max_volume    max_amount     skey  cum_volume    cum_amount
0     SH600000  100665400.0  1.188260e+09  1600000   100664400  1.188248e+09
1     SH600004   12265863.0  1.742918e+08  1600004    12264863  1.742775e+08
2     SH600006  145882558.0  9.862961e+08  1600006   145882458  9.862954e+08
3     SH600007    2011559.0  3.005988e+07  1600007     2010839  3.004895e+07
4     SH600008   31367495.0  1.305421e+08  1600008    31366495  1.305378e+08
...        ...          ...           ...      ...         ...           ...
1447  SH603993  174453714.0  8.548907e+08  1603993   174453688  8.548906e+08
1448  SH603996    5292060.0  5.744079e+07  1603996     5291060  5.742974e+07
1449  SH603997    6187219.0  6.827695e+07  1603997     6186219  6.826588e+07
1450  SH603998   86472422.0  1.146958e+09  1603998    86472322  1.146957e+09
1451  SH603999   25030306.0  1.776349e+08  1603999    25030206  1.776342e+08

[1452 rows x 6 columns]

2019-04-16
trade finished
0:06:18.833166
0:00:19.702044
20190417 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

set()

            ID   max_volume    max_amount     skey  cum_volume    cum_amount
0     SH600000   68157211.0  8.161270e+08  1600000    68156811  8.161223e+08
1     SH600004   13856285.0  1.969778e+08  1600004    13856185  1.969764e+08
2     SH600006  218394497.0  1.600334e+09  1600006   218394397  1.600333e+09
3     SH600007    2347325.0  3.523503e+07  1600007     2346725  3.522604e+07
4     SH600008   28980501.0  1.234570e+08  1600008    28979101  1.234511e+08
...        ...          ...           ...      ...         ...           ...
1449  SH603993  127998457.0  6.299902e+08  1603993   127997457  6.299853e+08
1450  SH603996    5592464.0  6.216801e+07  1603996     5591464  6.215691e+07
1451  SH603997    4902539.0  5.544938e+07  1603997     4902039  5.544373e+07
1452  SH603998   97770679.0  1.397745e+09  1603998    97770579  1.397744e+09
1453  SH603999   21279200.0  1.534093e+08  1603999    21277700  1.533987e+08

[1454 rows x 6 columns]

            ID   max_volume    max_amount     skey  cum_volume    cum_amount
0     SH600000   68157211.0  8.161270e+08  1600000    68156811  8.161223e+08
1     SH600004   13856285.0  1.969778e+08  1600004    13856185  1.969764e+08
2     SH600006  218394497.0  1.600334e+09  1600006   218394397  1.600333e+09
3     SH600007    2347325.0  3.523503e+07  1600007     2346725  3.522604e+07
4     SH600008   28980501.0  1.234570e+08  1600008    28979101  1.234511e+08
...        ...          ...           ...      ...         ...           ...
1449  SH603993  127998457.0  6.299902e+08  1603993   127997457  6.299853e+08
1450  SH603996    5592464.0  6.216801e+07  1603996     5591464  6.215691e+07
1451  SH603997    4902539.0  5.544938e+07  1603997     4902039  5.544373e+07
1452  SH603998   97770679.0  1.397745e+09  1603998    97770579  1.397744e+09
1453  SH603999   21279200.0  1.534093e+08  1603999    21277700  1.533987e+08

[1454 rows x 6 columns]

2019-04-17
trade finished
0:06:06.011983
0:00:19.524876
20190418 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

set()

            ID   max_volume    max_amount     skey  cum_volume    cum_amount
0     SH600000   43048980.0  5.138353e+08  1600000    42938230  5.125162e+08
1     SH600004    8986060.0  1.275128e+08  1600004     8985560  1.275058e+08
2     SH600006  192308216.0  1.439509e+09  1600006   192308016  1.439508e+09
3     SH600007    1690086.0  2.517888e+07  1600007     1688686  2.515810e+07
4     SH600008   24344371.0  1.039933e+08  1600008    24343371  1.039890e+08
...        ...          ...           ...      ...         ...           ...
1449  SH603993  124621937.0  6.056182e+08  1603993   124619037  6.056043e+08
1450  SH603996    4681935.0  5.205139e+07  1603996     4678935  5.201815e+07
1451  SH603997    3001965.0  3.360024e+07  1603997     3001765  3.359803e+07
1452  SH603998   80445778.0  1.151788e+09  1603998    80445498  1.151784e+09
1453  SH603999   10634838.0  7.562840e+07  1603999    10632438  7.561156e+07

[1454 rows x 6 columns]

            ID   max_volume    max_amount     skey  cum_volume    cum_amount
0     SH600000   43048980.0  5.138353e+08  1600000    42938230  5.125162e+08
1     SH600004    8986060.0  1.275128e+08  1600004     8985560  1.275058e+08
2     SH600006  192308216.0  1.439509e+09  1600006   192308016  1.439508e+09
3     SH600007    1690086.0  2.517888e+07  1600007     1688686  2.515810e+07
4     SH600008   24344371.0  1.039933e+08  1600008    24343371  1.039890e+08
...        ...          ...           ...      ...         ...           ...
1449  SH603993  124621937.0  6.056182e+08  1603993   124619037  6.056043e+08
1450  SH603996    4681935.0  5.205139e+07  1603996     4678935  5.201815e+07
1451  SH603997    3001965.0  3.360024e+07  1603997     3001765  3.359803e+07
1452  SH603998   80445778.0  1.151788e+09  1603998    80445498  1.151784e+09
1453  SH603999   10634838.0  7.562840e+07  1603999    10632438  7.561156e+07

[1454 rows x 6 columns]

2019-04-18
trade finished
0:05:47.586645
0:00:17.690420
20190419 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

set()

            ID   max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000   56013041.0  672739660.0  1600000    56008041  672679610.0
1     SH600004   11406684.0  163265029.0  1600004    11404190  163229016.0
2     SH600006  112843999.0  797822217.0  1600006   112843499  797818702.0
3     SH600007    1153738.0   17074147.0  1600007     1151738   17044407.0
4     SH600008   22592917.0   96331166.0  1600008    22588417   96311861.0
...        ...          ...          ...      ...         ...          ...
1446  SH603993   90211707.0  434151864.0  1603993    90211207  434149439.0
1447  SH603996    5199600.0   56677279.0  1603996     5198600   56666249.0
1448  SH603997    3078976.0   34115493.0  1603997     3076776   34091117.0
1449  SH603998   59829556.0  805648292.0  1603998    59829166  805642887.0
1450  SH603999    7095960.0   49168518.0  1603999     7095460   49165043.0

[1451 rows x 6 columns]

            ID   max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000   56013041.0  672739660.0  1600000    56008041  672679610.0
1     SH600004   11406684.0  163265029.0  1600004    11404190  163229016.0
2     SH600006  112843999.0  797822217.0  1600006   112843499  797818702.0
3     SH600007    1153738.0   17074147.0  1600007     1151738   17044407.0
4     SH600008   22592917.0   96331166.0  1600008    22588417   96311861.0
...        ...          ...          ...      ...         ...          ...
1446  SH603993   90211707.0  434151864.0  1603993    90211207  434149439.0
1447  SH603996    5199600.0   56677279.0  1603996     5198600   56666249.0
1448  SH603997    3078976.0   34115493.0  1603997     3076776   34091117.0
1449  SH603998   59829556.0  805648292.0  1603998    59829166  805642887.0
1450  SH603999    7095960.0   49168518.0  1603999     7095460   49165043.0

[1451 rows x 6 columns]

2019-04-19
trade finished
0:05:43.480361
0:00:21.742654
20190422 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

set()

            ID   max_volume    max_amount     skey  cum_volume    cum_amount
0     SH600000   53389418.0  6.311924e+08  1600000    53388518  6.311818e+08
1     SH600004   11457750.0  1.638608e+08  1600004    11457550  1.638579e+08
2     SH600006   85978684.0  5.821081e+08  1600006    85977684  5.821015e+08
3     SH600007    1263800.0  1.869638e+07  1600007     1263500  1.869197e+07
4     SH600008   22470493.0  9.555036e+07  1600008    22468193  9.554058e+07
...        ...          ...           ...      ...         ...           ...
1445  SH603993  221119615.0  1.030887e+09  1603993   221119315  1.030886e+09
1446  SH603996    4581487.0  4.959929e+07  1603996     4581287  4.959714e+07
1447  SH603997    3828600.0  4.236693e+07  1603997     3827600  4.235591e+07
1448  SH603998   52822271.0  6.787332e+08  1603998    52821471  6.787232e+08
1449  SH603999    9475203.0  6.438282e+07  1603999     9474803  6.438013e+07

[1450 rows x 6 columns]

            ID   max_volume    max_amount     skey  cum_volume    cum_amount
0     SH600000   53389418.0  6.311924e+08  1600000    53388518  6.311818e+08
1     SH600004   11457750.0  1.638608e+08  1600004    11457550  1.638579e+08
2     SH600006   85978684.0  5.821081e+08  1600006    85977684  5.821015e+08
3     SH600007    1263800.0  1.869638e+07  1600007     1263500  1.869197e+07
4     SH600008   22470493.0  9.555036e+07  1600008    22468193  9.554058e+07
...        ...          ...           ...      ...         ...           ...
1445  SH603993  221119615.0  1.030887e+09  1603993   221119315  1.030886e+09
1446  SH603996    4581487.0  4.959929e+07  1603996     4581287  4.959714e+07
1447  SH603997    3828600.0  4.236693e+07  1603997     3827600  4.235591e+07
1448  SH603998   52822271.0  6.787332e+08  1603998    52821471  6.787232e+08
1449  SH603999    9475203.0  6.438282e+07  1603999     9474803  6.438013e+07

[1450 rows x 6 columns]

2019-04-22
trade finished
0:06:19.253382
0:00:21.955105
20190423 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

set()

            ID   max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000   33847719.0  396659664.0  1600000    33842719  396601164.0
1     SH600004   12404459.0  176166809.0  1600004    12403559  176154065.0
2     SH600006   74196184.0  475499634.0  1600006    74195984  475498368.0
3     SH600007    1758119.0   25765438.0  1600007     1757619   25758123.0
4     SH600008   26694236.0  111043122.0  1600008    26691736  111032822.0
...        ...          ...          ...      ...         ...          ...
1446  SH603993  126297065.0  574321210.0  1603993   126296065  574316660.0
1447  SH603996    4290525.0   45068420.0  1603996     4288825   45050672.0
1448  SH603997    4252776.0   45611320.0  1603997     4252676   45610252.0
1449  SH603998   43014142.0  504834208.0  1603998    43013942  504831902.0
1450  SH603999    7289918.0   48613223.0  1603999     7289718   48611903.0

[1451 rows x 6 columns]

            ID   max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000   33847719.0  396659664.0  1600000    33842719  396601164.0
1     SH600004   12404459.0  176166809.0  1600004    12403559  176154065.0
2     SH600006   74196184.0  475499634.0  1600006    74195984  475498368.0
3     SH600007    1758119.0   25765438.0  1600007     1757619   25758123.0
4     SH600008   26694236.0  111043122.0  1600008    26691736  111032822.0
...        ...          ...          ...      ...         ...          ...
1446  SH603993  126297065.0  574321210.0  1603993   126296065  574316660.0
1447  SH603996    4290525.0   45068420.0  1603996     4288825   45050672.0
1448  SH603997    4252776.0   45611320.0  1603997     4252676   45610252.0
1449  SH603998   43014142.0  504834208.0  1603998    43013942  504831902.0
1450  SH603999    7289918.0   48613223.0  1603999     7289718   48611903.0

[1451 rows x 6 columns]

2019-04-23
trade finished
0:06:03.972246
0:00:16.986648
20190424 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

set()

            ID  max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000  38201108.0  444929313.0  1600000    38199366  444909071.0
1     SH600004   8920879.0  127376719.0  1600004     8920679  127373853.0
2     SH600006  61545088.0  396941209.0  1600006    61544688  396938621.0
3     SH600007   1954928.0   28320619.0  1600007     1950928   28262619.0
4     SH600008  17982286.0   74674682.0  1600008    17981286   74670512.0
...        ...         ...          ...      ...         ...          ...
1446  SH603993  84582047.0  385816771.0  1603993    84580022  385807456.0
1447  SH603996   3617550.0   38126167.0  1603996     3616550   38115587.0
1448  SH603997   2379500.0   25446376.0  1603997     2378900   25439926.0
1449  SH603998  29364912.0  344280788.0  1603998    29363712  344266736.0
1450  SH603999   4926760.0   32321770.0  1603999     4926320   32318871.0

[1451 rows x 6 columns]

            ID  max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000  38201108.0  444929313.0  1600000    38199366  444909071.0
1     SH600004   8920879.0  127376719.0  1600004     8920679  127373853.0
2     SH600006  61545088.0  396941209.0  1600006    61544688  396938621.0
3     SH600007   1954928.0   28320619.0  1600007     1950928   28262619.0
4     SH600008  17982286.0   74674682.0  1600008    17981286   74670512.0
...        ...         ...          ...      ...         ...          ...
1446  SH603993  84582047.0  385816771.0  1603993    84580022  385807456.0
1447  SH603996   3617550.0   38126167.0  1603996     3616550   38115587.0
1448  SH603997   2379500.0   25446376.0  1603997     2378900   25439926.0
1449  SH603998  29364912.0  344280788.0  1603998    29363712  344266736.0
1450  SH603999   4926760.0   32321770.0  1603999     4926320   32318871.0

[1451 rows x 6 columns]

2019-04-24
trade finished
0:05:19.355482
0:00:20.598319
20190425 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

set()

            ID   max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000   40876129.0  473973527.0  1600000    40875129  473961987.0
1     SH600004   21479930.0  314386101.0  1600004    21470030  314243046.0
2     SH600006   66011489.0  412144655.0  1600006    66011289  412143435.0
3     SH600007    1655700.0   23904644.0  1600007     1655400   23900357.0
4     SH600008   27474432.0  112565268.0  1600008    27472532  112557630.0
...        ...          ...          ...      ...         ...          ...
1445  SH603993  101290952.0  457258137.0  1603993   101290252  457255022.0
1446  SH603996    4059200.0   42111462.0  1603996     4058800   42107438.0
1447  SH603997    6541500.0   67184133.0  1603997     6541000   67179108.0
1448  SH603998   32938650.0  370437587.0  1603998    32938550  370436485.0
1449  SH603999    7058716.0   45657784.0  1603999     7058340   45655423.0

[1450 rows x 6 columns]

            ID   max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000   40876129.0  473973527.0  1600000    40875129  473961987.0
1     SH600004   21479930.0  314386101.0  1600004    21470030  314243046.0
2     SH600006   66011489.0  412144655.0  1600006    66011289  412143435.0
3     SH600007    1655700.0   23904644.0  1600007     1655400   23900357.0
4     SH600008   27474432.0  112565268.0  1600008    27472532  112557630.0
...        ...          ...          ...      ...         ...          ...
1445  SH603993  101290952.0  457258137.0  1603993   101290252  457255022.0
1446  SH603996    4059200.0   42111462.0  1603996     4058800   42107438.0
1447  SH603997    6541500.0   67184133.0  1603997     6541000   67179108.0
1448  SH603998   32938650.0  370437587.0  1603998    32938550  370436485.0
1449  SH603999    7058716.0   45657784.0  1603999     7058340   45655423.0

[1450 rows x 6 columns]

2019-04-25
trade finished
0:06:15.951854
0:00:18.381961
20190426 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

set()

            ID  max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000  42469581.0  485267261.0  1600000    42469081  485261601.0
1     SH600004  15425754.0  225882330.0  1600004    15425454  225877977.0
2     SH600006  48220162.0  289501897.0  1600006    48220062  289501293.0
3     SH600007   1201904.0   17121423.0  1600007     1198804   17077310.0
4     SH600008  21376334.0   86391900.0  1600008    21372234   86375377.0
...        ...         ...          ...      ...         ...          ...
1439  SH603993  77328716.0  340870074.0  1603993    77324716  340852594.0
1440  SH603996   4895950.0   48094936.0  1603996     4893950   48075496.0
1441  SH603997   5981785.0   57750942.0  1603997     5981085   57744299.0
1442  SH603998  27353381.0  301611698.0  1603998    27353081  301608461.0
1443  SH603999   5020280.0   31579150.0  1603999     5019280   31572930.0

[1444 rows x 6 columns]

            ID  max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000  42469581.0  485267261.0  1600000    42469081  485261601.0
1     SH600004  15425754.0  225882330.0  1600004    15425454  225877977.0
2     SH600006  48220162.0  289501897.0  1600006    48220062  289501293.0
3     SH600007   1201904.0   17121423.0  1600007     1198804   17077310.0
4     SH600008  21376334.0   86391900.0  1600008    21372234   86375377.0
...        ...         ...          ...      ...         ...          ...
1439  SH603993  77328716.0  340870074.0  1603993    77324716  340852594.0
1440  SH603996   4895950.0   48094936.0  1603996     4893950   48075496.0
1441  SH603997   5981785.0   57750942.0  1603997     5981085   57744299.0
1442  SH603998  27353381.0  301611698.0  1603998    27353081  301608461.0
1443  SH603999   5020280.0   31579150.0  1603999     5019280   31572930.0

[1444 rows x 6 columns]

2019-04-26
trade finished
0:05:36.701945
0:00:18.544594
20190429 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

set()

            ID   max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000   38586938.0  442046727.0  1600000    38586638  442043283.0
1     SH600004   24877159.0  370170190.0  1600004    24876059  370153646.0
2     SH600006   54949260.0  316788761.0  1600006    54947260  316777541.0
3     SH600007    1334305.0   19078686.0  1600007     1334005   19074384.0
4     SH600008   26114833.0  103315060.0  1600008    26112833  103307260.0
...        ...          ...          ...      ...         ...          ...
1442  SH603993  117547504.0  497270500.0  1603993   117547304  497269666.0
1443  SH603996    3967600.0   34749048.0  1603996     3967200   34745548.0
1444  SH603997    4563100.0   42566548.0  1603997     4562100   42557518.0
1445  SH603998   32252781.0  328254572.0  1603998    32252581  328252596.0
1446  SH603999    6214060.0   37741381.0  1603999     6212260   37730581.0

[1447 rows x 6 columns]

            ID   max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000   38586938.0  442046727.0  1600000    38586638  442043283.0
1     SH600004   24877159.0  370170190.0  1600004    24876059  370153646.0
2     SH600006   54949260.0  316788761.0  1600006    54947260  316777541.0
3     SH600007    1334305.0   19078686.0  1600007     1334005   19074384.0
4     SH600008   26114833.0  103315060.0  1600008    26112833  103307260.0
...        ...          ...          ...      ...         ...          ...
1442  SH603993  117547504.0  497270500.0  1603993   117547304  497269666.0
1443  SH603996    3967600.0   34749048.0  1603996     3967200   34745548.0
1444  SH603997    4563100.0   42566548.0  1603997     4562100   42557518.0
1445  SH603998   32252781.0  328254572.0  1603998    32252581  328252596.0
1446  SH603999    6214060.0   37741381.0  1603999     6212260   37730581.0

[1447 rows x 6 columns]

2019-04-29
trade finished
0:05:44.221059
0:00:16.719166
20190430 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

set()

            ID   max_volume    max_amount     skey  cum_volume    cum_amount
0     SH600000  123474738.0  1.466715e+09  1600000   123474238  1.466709e+09
1     SH600004   28690835.0  4.281778e+08  1600004    28690735  4.281763e+08
2     SH600006   36641020.0  2.075339e+08  1600006    36640920  2.075334e+08
3     SH600007    2228954.0  3.263280e+07  1600007     2218954  3.248690e+07
4     SH600008   18212260.0  7.170772e+07  1600008    18206860  7.168661e+07
...        ...          ...           ...      ...         ...           ...
1437  SH603993   69401815.0  2.917699e+08  1603993    69401315  2.917678e+08
1438  SH603996   11967380.0  9.559905e+07  1603996    11966280  9.559026e+07
1439  SH603997    5556826.0  5.296477e+07  1603997     5543135  5.283265e+07
1440  SH603998   22750376.0  2.288587e+08  1603998    22749276  2.288477e+08
1441  SH603999    3431353.0  2.076618e+07  1603999     3430545  2.076126e+07

[1442 rows x 6 columns]

            ID   max_volume    max_amount     skey  cum_volume    cum_amount
0     SH600000  123474738.0  1.466715e+09  1600000   123474238  1.466709e+09
1     SH600004   28690835.0  4.281778e+08  1600004    28690735  4.281763e+08
2     SH600006   36641020.0  2.075339e+08  1600006    36640920  2.075334e+08
3     SH600007    2228954.0  3.263280e+07  1600007     2218954  3.248690e+07
4     SH600008   18212260.0  7.170772e+07  1600008    18206860  7.168661e+07
...        ...          ...           ...      ...         ...           ...
1437  SH603993   69401815.0  2.917699e+08  1603993    69401315  2.917678e+08
1438  SH603996   11967380.0  9.559905e+07  1603996    11966280  9.559026e+07
1439  SH603997    5556826.0  5.296477e+07  1603997     5543135  5.283265e+07
1440  SH603998   22750376.0  2.288587e+08  1603998    22749276  2.288477e+08
1441  SH603999    3431353.0  2.076618e+07  1603999     3430545  2.076126e+07

[1442 rows x 6 columns]

2019-04-30
trade finished
0:04:27.838535
0:00:21.269314
20190506 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

set()

            ID   max_volume    max_amount     skey  cum_volume    cum_amount
0     SH600000  124545414.0  1.460217e+09  1600000   124525414  1.459981e+09
1     SH600004   26828818.0  3.988808e+08  1600004    26828018  3.988687e+08
2     SH600006   41941340.0  2.203939e+08  1600006    41940740  2.203908e+08
3     SH600007    1997362.0  2.859773e+07  1600007     1997062  2.859347e+07
4     SH600008   37239036.0  1.372403e+08  1600008    37237936  1.372362e+08
...        ...          ...           ...      ...         ...           ...
1442  SH603993  130374528.0  5.189451e+08  1603993   130373228  5.189400e+08
1443  SH603996    9542976.0  7.181188e+07  1603996     9542876  7.181116e+07
1444  SH603997    7063125.0  6.416189e+07  1603997     7062525  6.415662e+07
1445  SH603998   29640549.0  2.766790e+08  1603998    29639549  2.766700e+08
1446  SH603999    6394940.0  3.605732e+07  1603999     6394540  3.605513e+07

[1447 rows x 6 columns]

            ID   max_volume    max_amount     skey  cum_volume    cum_amount
0     SH600000  124545414.0  1.460217e+09  1600000   124525414  1.459981e+09
1     SH600004   26828818.0  3.988808e+08  1600004    26828018  3.988687e+08
2     SH600006   41941340.0  2.203939e+08  1600006    41940740  2.203908e+08
3     SH600007    1997362.0  2.859773e+07  1600007     1997062  2.859347e+07
4     SH600008   37239036.0  1.372403e+08  1600008    37237936  1.372362e+08
...        ...          ...           ...      ...         ...           ...
1442  SH603993  130374528.0  5.189451e+08  1603993   130373228  5.189400e+08
1443  SH603996    9542976.0  7.181188e+07  1603996     9542876  7.181116e+07
1444  SH603997    7063125.0  6.416189e+07  1603997     7062525  6.415662e+07
1445  SH603998   29640549.0  2.766790e+08  1603998    29639549  2.766700e+08
1446  SH603999    6394940.0  3.605732e+07  1603999     6394540  3.605513e+07

[1447 rows x 6 columns]

2019-05-06
trade finished
0:05:53.846555
0:00:17.276280
20190507 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

set()

            ID  max_volume    max_amount     skey  cum_volume    cum_amount
0     SH600000  85489922.0  1.010271e+09  1600000    85489722  1.010269e+09
1     SH600004  31652300.0  4.923303e+08  1600004    31651800  4.923223e+08
2     SH600006  39224354.0  2.044264e+08  1600006    39221454  2.044113e+08
3     SH600007   1102986.0  1.569535e+07  1600007     1102786  1.569249e+07
4     SH600008  26031096.0  9.392253e+07  1600008    26019096  9.387909e+07
...        ...         ...           ...      ...         ...           ...
1444  SH603993  77051549.0  3.054486e+08  1603993    77051349  3.054478e+08
1445  SH603996   6499731.0  4.781828e+07  1603996     6499431  4.781607e+07
1446  SH603997   3838299.0  3.461553e+07  1603997     3837799  3.461101e+07
1447  SH603998  43037343.0  4.159926e+08  1603998    43037143  4.159906e+08
1448  SH603999   3359170.0  1.851486e+07  1603999     3357170  1.850374e+07

[1449 rows x 6 columns]

            ID  max_volume    max_amount     skey  cum_volume    cum_amount
0     SH600000  85489922.0  1.010271e+09  1600000    85489722  1.010269e+09
1     SH600004  31652300.0  4.923303e+08  1600004    31651800  4.923223e+08
2     SH600006  39224354.0  2.044264e+08  1600006    39221454  2.044113e+08
3     SH600007   1102986.0  1.569535e+07  1600007     1102786  1.569249e+07
4     SH600008  26031096.0  9.392253e+07  1600008    26019096  9.387909e+07
...        ...         ...           ...      ...         ...           ...
1444  SH603993  77051549.0  3.054486e+08  1603993    77051349  3.054478e+08
1445  SH603996   6499731.0  4.781828e+07  1603996     6499431  4.781607e+07
1446  SH603997   3838299.0  3.461553e+07  1603997     3837799  3.461101e+07
1447  SH603998  43037343.0  4.159926e+08  1603998    43037143  4.159906e+08
1448  SH603999   3359170.0  1.851486e+07  1603999     3357170  1.850374e+07

[1449 rows x 6 columns]

2019-05-07
trade finished
0:05:24.323392
0:00:17.510759
20190508 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

set()

            ID  max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000  58500103.0  677487368.0  1600000    58499903  677485066.0
1     SH600004  31518514.0  510146617.0  1600004    31518414  510145027.0
2     SH600006  55627255.0  294952722.0  1600006    55626255  294947362.0
3     SH600007   3449718.0   50054513.0  1600007     3449118   50045567.0
4     SH600008  24146895.0   85822229.0  1600008    24146595   85821167.0
...        ...         ...          ...      ...         ...          ...
1446  SH603993  71282299.0  281633251.0  1603993    71281492  281630047.0
1447  SH603996   6174381.0   46089761.0  1603996     6173381   46082241.0
1448  SH603997   4028043.0   35774166.0  1603997     4027555   35769813.0
1449  SH603998  39815655.0  385225397.0  1603998    39814655  385215767.0
1450  SH603999   4243970.0   23362329.0  1603999     4242970   23356829.0

[1451 rows x 6 columns]

            ID  max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000  58500103.0  677487368.0  1600000    58499903  677485066.0
1     SH600004  31518514.0  510146617.0  1600004    31518414  510145027.0
2     SH600006  55627255.0  294952722.0  1600006    55626255  294947362.0
3     SH600007   3449718.0   50054513.0  1600007     3449118   50045567.0
4     SH600008  24146895.0   85822229.0  1600008    24146595   85821167.0
...        ...         ...          ...      ...         ...          ...
1446  SH603993  71282299.0  281633251.0  1603993    71281492  281630047.0
1447  SH603996   6174381.0   46089761.0  1603996     6173381   46082241.0
1448  SH603997   4028043.0   35774166.0  1603997     4027555   35769813.0
1449  SH603998  39815655.0  385225397.0  1603998    39814655  385215767.0
1450  SH603999   4243970.0   23362329.0  1603999     4242970   23356829.0

[1451 rows x 6 columns]

2019-05-08
trade finished
0:04:59.520570
0:00:17.604973
20190509 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

set()

            ID  max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000  64128049.0  722119098.0  1600000    64127478  722112748.0
1     SH600004  27982265.0  422444664.0  1600004    27964865  422187492.0
2     SH600006  37177515.0  198845538.0  1600006    37176515  198840248.0
3     SH600007   1578110.0   23103723.0  1600007     1577710   23097955.0
4     SH600008  22067793.0   76764934.0  1600008    22067393   76763558.0
...        ...         ...          ...      ...         ...          ...
1449  SH603993  58566632.0  230781016.0  1603993    58566132  230779051.0
1450  SH603996   5084850.0   38272276.0  1603996     5084550   38270062.0
1451  SH603997   4726571.0   40621336.0  1603997     4725371   40611136.0
1452  SH603998  28609151.0  274099601.0  1603998    28609051  274098672.0
1453  SH603999   2448840.0   13485527.0  1603999     2448740   13484982.0

[1454 rows x 6 columns]

            ID  max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000  64128049.0  722119098.0  1600000    64127478  722112748.0
1     SH600004  27982265.0  422444664.0  1600004    27964865  422187492.0
2     SH600006  37177515.0  198845538.0  1600006    37176515  198840248.0
3     SH600007   1578110.0   23103723.0  1600007     1577710   23097955.0
4     SH600008  22067793.0   76764934.0  1600008    22067393   76763558.0
...        ...         ...          ...      ...         ...          ...
1449  SH603993  58566632.0  230781016.0  1603993    58566132  230779051.0
1450  SH603996   5084850.0   38272276.0  1603996     5084550   38270062.0
1451  SH603997   4726571.0   40621336.0  1603997     4725371   40611136.0
1452  SH603998  28609151.0  274099601.0  1603998    28609051  274098672.0
1453  SH603999   2448840.0   13485527.0  1603999     2448740   13484982.0

[1454 rows x 6 columns]

2019-05-09
trade finished
0:04:21.908348
0:00:18.268073
20190510 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

set()

            ID  max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000  48550722.0  548884302.0  1600000    48550706  548884121.0
1     SH600004  25352225.0  395187109.0  1600004    25351625  395177353.0
2     SH600006  48148787.0  260068208.0  1600006    48148387  260066012.0
3     SH600007   1289095.0   18859721.0  1600007     1285295   18804051.0
4     SH600008  21885787.0   76198007.0  1600008    21885687   76197655.0
...        ...         ...          ...      ...         ...          ...
1449  SH603993  90140187.0  358656434.0  1603993    90140087  358656034.0
1450  SH603996   6368316.0   48246366.0  1603996     6367316   48238746.0
1451  SH603997   5243059.0   46069743.0  1603997     5236859   46014563.0
1452  SH603998  29481235.0  284054474.0  1603998    29480735  284049609.0
1453  SH603999   5034441.0   28114503.0  1603999     5034341   28113933.0

[1454 rows x 6 columns]

            ID  max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000  48550722.0  548884302.0  1600000    48550706  548884121.0
1     SH600004  25352225.0  395187109.0  1600004    25351625  395177353.0
2     SH600006  48148787.0  260068208.0  1600006    48148387  260066012.0
3     SH600007   1289095.0   18859721.0  1600007     1285295   18804051.0
4     SH600008  21885787.0   76198007.0  1600008    21885687   76197655.0
...        ...         ...          ...      ...         ...          ...
1449  SH603993  90140187.0  358656434.0  1603993    90140087  358656034.0
1450  SH603996   6368316.0   48246366.0  1603996     6367316   48238746.0
1451  SH603997   5243059.0   46069743.0  1603997     5236859   46014563.0
1452  SH603998  29481235.0  284054474.0  1603998    29480735  284049609.0
1453  SH603999   5034441.0   28114503.0  1603999     5034341   28113933.0

[1454 rows x 6 columns]

2019-05-10
trade finished
0:05:27.402832
0:00:14.641099
20190513 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

set()

            ID  max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000  40284963.0  455643057.0  1600000    40278663  455571804.0
1     SH600004  18171010.0  297547834.0  1600004    18170880  297545687.0
2     SH600006  32867892.0  175074605.0  1600006    32865466  175061772.0
3     SH600007   1040640.0   15229844.0  1600007     1040040   15221036.0
4     SH600008  18161397.0   63021748.0  1600008    18160497   63018625.0
...        ...         ...          ...      ...         ...          ...
1449  SH603993  54647523.0  215954977.0  1603993    54637523  215915877.0
1450  SH603996   5880901.0   45271312.0  1603996     5879901   45263612.0
1451  SH603997   5815880.0   52006577.0  1603997     5814880   51997577.0
1452  SH603998  25813028.0  249679833.0  1603998    25812928  249678882.0
1453  SH603999   3272140.0   18355754.0  1603999     3271940   18354638.0

[1454 rows x 6 columns]

            ID  max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000  40284963.0  455643057.0  1600000    40278663  455571804.0
1     SH600004  18171010.0  297547834.0  1600004    18170880  297545687.0
2     SH600006  32867892.0  175074605.0  1600006    32865466  175061772.0
3     SH600007   1040640.0   15229844.0  1600007     1040040   15221036.0
4     SH600008  18161397.0   63021748.0  1600008    18160497   63018625.0
...        ...         ...          ...      ...         ...          ...
1449  SH603993  54647523.0  215954977.0  1603993    54637523  215915877.0
1450  SH603996   5880901.0   45271312.0  1603996     5879901   45263612.0
1451  SH603997   5815880.0   52006577.0  1603997     5814880   51997577.0
1452  SH603998  25813028.0  249679833.0  1603998    25812928  249678882.0
1453  SH603999   3272140.0   18355754.0  1603999     3271940   18354638.0

[1454 rows x 6 columns]

2019-05-13
trade finished
0:04:23.426598
0:00:15.068605
20190514 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

set()

            ID  max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000  41888998.0  473151522.0  1600000    41888298  473143675.0
1     SH600004  19333246.0  311222836.0  1600004    19332946  311218072.0
2     SH600006  22276163.0  116699043.0  1600006    22274163  116688623.0
3     SH600007   2292686.0   32634981.0  1600007     2292386   32630664.0
4     SH600008  17521877.0   61077291.0  1600008    17516060   61056990.0
...        ...         ...          ...      ...         ...          ...
1449  SH603993  50340123.0  196745220.0  1603993    50335923  196728882.0
1450  SH603996   4787200.0   36190229.0  1603996     4787100   36189474.0
1451  SH603997   3634573.0   32293424.0  1603997     3631373   32265040.0
1452  SH603998  18412409.0  176110749.0  1603998    18412309  176109801.0
1453  SH603999   2569780.0   14280080.0  1603999     2568980   14275648.0

[1454 rows x 6 columns]

            ID  max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000  41888998.0  473151522.0  1600000    41888298  473143675.0
1     SH600004  19333246.0  311222836.0  1600004    19332946  311218072.0
2     SH600006  22276163.0  116699043.0  1600006    22274163  116688623.0
3     SH600007   2292686.0   32634981.0  1600007     2292386   32630664.0
4     SH600008  17521877.0   61077291.0  1600008    17516060   61056990.0
...        ...         ...          ...      ...         ...          ...
1449  SH603993  50340123.0  196745220.0  1603993    50335923  196728882.0
1450  SH603996   4787200.0   36190229.0  1603996     4787100   36189474.0
1451  SH603997   3634573.0   32293424.0  1603997     3631373   32265040.0
1452  SH603998  18412409.0  176110749.0  1603998    18412309  176109801.0
1453  SH603999   2569780.0   14280080.0  1603999     2568980   14275648.0

[1454 rows x 6 columns]

2019-05-14
trade finished
0:04:46.978484
0:00:19.155790
20190515 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

set()

            ID  max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000  34404465.0  389533437.0  1600000    34394465  389420237.0
1     SH600004  18870491.0  302483853.0  1600004    18869491  302467773.0
2     SH600006  34680831.0  184869793.0  1600006    34680431  184867633.0
3     SH600007   2075661.0   29678256.0  1600007     2074661   29663836.0
4     SH600008  16797231.0   59540568.0  1600008    16795431   59534142.0
...        ...         ...          ...      ...         ...          ...
1449  SH603993  52626222.0  206993867.0  1603993    52625522  206991116.0
1450  SH603996   4846991.0   36954677.0  1603996     4840491   36905082.0
1451  SH603997   4629420.0   41216540.0  1603997     4628120   41204983.0
1452  SH603998  28858974.0  282347745.0  1603998    28857974  282337855.0
1453  SH603999   4201700.0   23827635.0  1603999     4196700   23799035.0

[1454 rows x 6 columns]

            ID  max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000  34404465.0  389533437.0  1600000    34394465  389420237.0
1     SH600004  18870491.0  302483853.0  1600004    18869491  302467773.0
2     SH600006  34680831.0  184869793.0  1600006    34680431  184867633.0
3     SH600007   2075661.0   29678256.0  1600007     2074661   29663836.0
4     SH600008  16797231.0   59540568.0  1600008    16795431   59534142.0
...        ...         ...          ...      ...         ...          ...
1449  SH603993  52626222.0  206993867.0  1603993    52625522  206991116.0
1450  SH603996   4846991.0   36954677.0  1603996     4840491   36905082.0
1451  SH603997   4629420.0   41216540.0  1603997     4628120   41204983.0
1452  SH603998  28858974.0  282347745.0  1603998    28857974  282337855.0
1453  SH603999   4201700.0   23827635.0  1603999     4196700   23799035.0

[1454 rows x 6 columns]

2019-05-15
trade finished
0:04:58.838992
0:00:15.787991
20190516 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

set()

            ID   max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000   34141755.0  385015233.0  1600000    34136755  384958733.0
1     SH600004   16277011.0  265329180.0  1600004    16274711  265291046.0
2     SH600006   51836410.0  287260103.0  1600006    51835410  287254613.0
3     SH600007    1157086.0   16608781.0  1600007     1154286   16568545.0
4     SH600008   12795110.0   45679431.0  1600008    12792510   45670123.0
...        ...          ...          ...      ...         ...          ...
1450  SH603993  124067242.0  499842141.0  1603993   124066842  499840521.0
1451  SH603996    3937105.0   30003642.0  1603996     3936805   30001356.0
1452  SH603997    3616051.0   32324431.0  1603997     3613851   32304829.0
1453  SH603998   21916304.0  212889688.0  1603998    21915604  212882947.0
1454  SH603999    4586460.0   26656852.0  1603999     4585060   26648704.0

[1455 rows x 6 columns]

            ID   max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000   34141755.0  385015233.0  1600000    34136755  384958733.0
1     SH600004   16277011.0  265329180.0  1600004    16274711  265291046.0
2     SH600006   51836410.0  287260103.0  1600006    51835410  287254613.0
3     SH600007    1157086.0   16608781.0  1600007     1154286   16568545.0
4     SH600008   12795110.0   45679431.0  1600008    12792510   45670123.0
...        ...          ...          ...      ...         ...          ...
1450  SH603993  124067242.0  499842141.0  1603993   124066842  499840521.0
1451  SH603996    3937105.0   30003642.0  1603996     3936805   30001356.0
1452  SH603997    3616051.0   32324431.0  1603997     3613851   32304829.0
1453  SH603998   21916304.0  212889688.0  1603998    21915604  212882947.0
1454  SH603999    4586460.0   26656852.0  1603999     4585060   26648704.0

[1455 rows x 6 columns]

2019-05-16
trade finished
0:04:37.952946
0:00:17.557740
20190517 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

2019-05-17
trade finished
0:05:22.541486
0:00:14.546079
20190520 unzip finished
2019-05-20
trade finished
0:04:25.248330
0:00:14.229003
20190521 unzip finished
2019-05-21
trade finished
0:04:29.843789
0:00:14.162342
20190522 unzip finished
2019-05-22
trade finished
0:04:22.542904
0:00:14.755509
20190523 unzip finished
2019-05-23
trade finished
0:04:30.190417
0:00:12.830808
20190524 unzip finished
2019-05-24
trade finished
0:03:55.027433
0:00:00.131066
20190525 unzip finished

ValueError: No objects to concatenate

In [2]:
import pymongo
import pandas as pd
import pickle
import datetime
import time
import gzip
import lzma
import pytz


def DB(host, db_name, user, passwd):
    auth_db = db_name if user not in ('admin', 'root') else 'admin'
    uri = 'mongodb://%s:%s@%s/?authSource=%s' % (user, passwd, host, auth_db)
    return DBObj(uri, db_name=db_name)


class DBObj(object):
    def __init__(self, uri, symbol_column='skey', db_name='white_db'):
        self.db_name = db_name
        self.uri = uri
        self.client = pymongo.MongoClient(self.uri)
        self.db = self.client[self.db_name]
        self.chunk_size = 20000
        self.symbol_column = symbol_column
        self.date_column = 'date'

    def parse_uri(self, uri):
        # mongodb://user:password@example.com
        return uri.strip().replace('mongodb://', '').strip('/').replace(':', ' ').replace('@', ' ').split(' ')

    def drop_table(self, table_name):
        self.db.drop_collection(table_name)

    def rename_table(self, old_table, new_table):
        self.db[old_table].rename(new_table)

    def write(self, table_name, df):
        if len(df) == 0: return

        multi_date = False

        if self.date_column in df.columns:
            date = str(df.head(1)[self.date_column].iloc[0])
            multi_date = len(df[self.date_column].unique()) > 1
        else:
            raise Exception('DataFrame should contain date column')

        collection = self.db[table_name]
        collection.create_index([('date', pymongo.ASCENDING), ('symbol', pymongo.ASCENDING)], background=True)
        collection.create_index([('symbol', pymongo.ASCENDING), ('date', pymongo.ASCENDING)], background=True)

        if multi_date:
            for (date, symbol), sub_df in df.groupby([self.date_column, self.symbol_column]):
                date = str(date)
                symbol = int(symbol)
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)
        else:
            for symbol, sub_df in df.groupby([self.symbol_column]):
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)

    def write_single(self, collection, date, symbol, df):
        for start in range(0, len(df), self.chunk_size):
            end = min(start + self.chunk_size, len(df))
            df_seg = df[start:end]
            version = 1
            seg = {'ver': version, 'data': self.ser(df_seg, version), 'date': date, 'symbol': symbol, 'start': start}
            collection.insert_one(seg)

    def build_query(self, start_date=None, end_date=None, symbol=None):
        query = {}

        def parse_date(x):
            if type(x) == str:
                if len(x) != 8:
                    raise Exception("`date` must be YYYYMMDD format")
                return x
            elif type(x) == datetime.datetime or type(x) == datetime.date:
                return x.strftime("%Y%m%d")
            elif type(x) == int:
                return parse_date(str(x))
            else:
                raise Exception("invalid `date` type: " + str(type(x)))

        if start_date is not None or end_date is not None:
            query['date'] = {}
            if start_date is not None:
                query['date']['$gte'] = parse_date(start_date)
            if end_date is not None:
                query['date']['$lte'] = parse_date(end_date)

        def parse_symbol(x):
            if type(x) == int:
                return x
            else:
                return int(x)

        if symbol:
            if type(symbol) == list or type(symbol) == tuple:
                query['symbol'] = {'$in': [parse_symbol(x) for x in symbol]}
            else:
                query['symbol'] = parse_symbol(symbol)

        return query

    def delete(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot delete the whole table')
            return None

        collection.delete_many(query)

    def read(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot read the whole table')
            return None

        segs = []
        for x in collection.find(query):
            x['data'] = self.deser(x['data'], x['ver'])
            segs.append(x)
        segs.sort(key=lambda x: (x['symbol'], x['date'], x['start']))
        return pd.concat([x['data'] for x in segs], ignore_index=True) if segs else None

    def list_tables(self):
        return self.db.collection_names()

    def list_dates(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]
        dates = set()
        if start_date is None:
            start_date = '00000000'
        if end_date is None:
            end_date = '99999999'
        for x in collection.find(self.build_query(start_date, end_date, symbol), {"date": 1, '_id': 0}):
            dates.add(x['date'])
        return sorted(list(dates))

    def ser(self, s, version):
        pickle_protocol = 4
        if version == 1:
            return gzip.compress(pickle.dumps(s, protocol=pickle_protocol), compresslevel=2)
        elif version == 2:
            return lzma.compress(pickle.dumps(s, protocol=pickle_protocol), preset=1)
        else:
            raise Exception('unknown version')

    def deser(self, s, version):
        def unpickle(s):
            return pickle.loads(s)

        if version == 1:
            return unpickle(gzip.decompress(s))
        elif version == 2:
            return unpickle(lzma.decompress(s))
        else:
            raise Exception('unknown version')


def patch_pandas_pickle():
    if pd.__version__ < '0.24':
        import sys
        from types import ModuleType
        from pandas.core.internals import BlockManager
        pkg_name = 'pandas.core.internals.managers'
        if pkg_name not in sys.modules:
            m = ModuleType(pkg_name)
            m.BlockManager = BlockManager
            sys.modules[pkg_name] = m
patch_pandas_pickle()

            
            
            
            
            
            
            
            
import pandas as pd
import random
import numpy as np
import glob
import os
import pickle
import datetime
import time
from decimal import Decimal, Context, ROUND_HALF_UP
pd.set_option("max_columns", 200)

startTm = datetime.datetime.now()
readPath = '/home/work516/day_stock/***'
dataPathLs = np.array(glob.glob(readPath))
dataPathLs = dataPathLs[[np.array([os.path.basename(i).split('.')[0][:2] == 'SH' for i in dataPathLs])]]
db = pd.DataFrame()
for p in dataPathLs:
    dayData = pd.read_csv(p, compression='gzip')
    db = pd.concat([db, dayData])
print(datetime.datetime.now() - startTm)

year = "2019"
startDate = '20190525'
endDate = '20191231'
readPath = '/mnt/usb/data/' + year + '/***/***'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([os.path.basename(i) for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]
date_list = pd.read_csv("/home/work516/KR_upload_code/trading_days.csv")

for data in dataPathLs:
    
    if len(np.array(glob.glob(data + '/SH/tick***'))) == 0:
        if int(os.path.basename(data)) not in date_list["Date"].values:
            continue
        else:
            print(os.path.basename(data) + " less data!!!!!!!!!!!!!!!!!")
            less.append(data)
            continue
    startTm = datetime.datetime.now()
    date = os.path.basename(data)
    rar_path = data + '/SH/tick.7z'
    path = '/mnt/e/unzip_data/2019/SH'
    path1 = path + '/' + date
    un_path = path1
    cmd = '7za x {} -o{}'.format(rar_path, un_path)
    os.system(cmd)
    print(datetime.datetime.now() - startTm)
    print(date + ' unzip finished')
    
    
    startTm = datetime.datetime.now()
    
    readPath = path1 + '/tick/***'
    dataPathLs = np.array(glob.glob(readPath))
    dateLs = np.array([int(os.path.basename(i).split('.')[0]) for i in dataPathLs])
    dataPathLs = dataPathLs[((dateLs >= 600000) & (dateLs <= 700000))]
    TradeLog = []
    ll = []
    
    for i in dataPathLs:
        try:
            df = pd.read_csv(i)
        except:
            print("empty data")
            print(i)
            ll.append(int(os.path.basename(i).split('.')[0]))
            continue
        df["SecurityID"] = int(os.path.basename(i).split('.')[0])
        TradeLog += [df]
    TradeLog = pd.concat(TradeLog).reset_index(drop=True)
    
    TradeLog["date"] = TradeLog["TradeTime"].iloc[0]//1000000000
    TradeLog = TradeLog.rename(columns={"TradeQty":"trade_qty", "TradePrice":"trade_price", 
                                        "TradeBSFlag":"trade_flag", "TradeAmount":"trade_money",
                                       "TradeIndex":"ApplSeqNum", "SellNo":"OfferApplSeqNum",
                                       "BuyNo":"BidApplSeqNum"})
    TradeLog["trade_type"] = 1
    TradeLog["skey"] = TradeLog["SecurityID"] + 1000000
    TradeLog["clockAtArrival"] = TradeLog["TradeTime"].astype(str).apply(lambda x: np.int64(datetime.datetime.strptime(x, '%Y%m%d%H%M%S%f').timestamp()*1e6))
    TradeLog['datetime'] = TradeLog["clockAtArrival"].apply(lambda x: datetime.datetime.fromtimestamp(x/1e6))
    TradeLog["time"] = (TradeLog['TradeTime'] - int(TradeLog['TradeTime'].iloc[0]//1000000000*1000000000)).astype(np.int64)*1000
    TradeLog["trade_flag"] = np.where(TradeLog["trade_flag"] == 'B', 1, np.where(
        TradeLog["trade_flag"] == 'S', 2, 0))
    for col in ["skey", "date", "ApplSeqNum", "BidApplSeqNum", "OfferApplSeqNum", "trade_qty", "trade_type", "trade_flag"]:
        TradeLog[col] = TradeLog[col].astype('int32')
    
    da_te = str(TradeLog["date"].iloc[0]) 
    da_te = da_te[:4] + '-' + da_te[4:6] + '-' + da_te[6:8]
    db1 = db[db["date"] == da_te]
    db1["max_volume"] = db1.groupby("ID")["d_volume"].transform("max")
    db1["max_amount"] = db1.groupby("ID")["d_amount"].transform("max")
    t1 = db1.groupby("ID")["max_volume", "max_amount"].first().reset_index()
    del db1
    t1["skey"] = t1["ID"].str[2:].astype(int) + 1000000
    trade1 = TradeLog[TradeLog["trade_type"] == 1].groupby("skey")["trade_qty"].sum().reset_index()
    trade1.columns=["skey", "cum_volume"]
    trade2 = TradeLog[TradeLog["trade_type"] == 1].groupby("skey")["trade_money"].sum().reset_index()
    trade2.columns=["skey", "cum_amount"]
    t2 = pd.merge(trade1, trade2, on="skey")
    re = pd.merge(t1, t2, on="skey", how="outer")
    re["cum_amount"] = re["cum_amount"].apply(lambda x: np.float(Decimal(round(x, 2)).normalize(Context(prec=len(str(x).split('.')[0]), rounding=ROUND_HALF_UP))))
    try:
        assert(t1.shape[0] == t2.shape[0])
        assert(re[re["cum_volume"] != re["max_volume"]].shape[0] == 0)
        assert(re[re["cum_amount"].round(2) != re["max_amount"]].shape[0] == 0)
    except:
        display(set(t1["skey"]) - set(t2["skey"]))
        display(re[re["cum_volume"] != re["max_volume"]])
        display(re[re["cum_amount"] != re["max_amount"]])
    del t1
    del t2
    del re
 
    TradeLog = TradeLog[["skey", "date", "time", "clockAtArrival", "datetime", "ApplSeqNum", "trade_type", "trade_flag",
                                                 "trade_price", "trade_qty", "BidApplSeqNum", "OfferApplSeqNum"]]
    print(da_te)
    print("trade finished")

    database_name = 'com_md_eq_cn'
    user = "zhenyuy"
    password = "bnONBrzSMGoE"

    db1 = DB("192.168.10.223", database_name, user, password)
    db1.write('md_trade', TradeLog)
    
    del TradeLog

    print(datetime.datetime.now() - startTm)

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:201: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.

0:02:43.331146
0:00:14.460273
20190527 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

2019-05-27
trade finished
0:04:24.089610
0:00:16.591221
20190528 unzip finished
2019-05-28
trade finished
0:04:43.524887
0:00:13.602113
20190529 unzip finished
2019-05-29
trade finished
0:04:24.957610
0:00:15.432306
20190530 unzip finished
2019-05-30
trade finished
0:04:33.654932
0:00:14.849070
20190531 unzip finished
2019-05-31
trade finished
0:04:46.802121
0:00:16.750871
20190603 unzip finished

set()

            ID  max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000  30492063.0  342326268.0  1600000    30489063  342292428.0
1     SH600004  11804681.0  186764537.0  1600004    11802781  186734612.0
2     SH600006  30136231.0  154050390.0  1600006    30135431  154046326.0
3     SH600007    880347.0   11898441.0  1600007      879547   11887673.0
4     SH600008  13498978.0   46483121.0  1600008    13497978   46479681.0
...        ...         ...          ...      ...         ...          ...
1451  SH603993  64940708.0  260223134.0  1603993    64939408  260217960.0
1452  SH603996     52400.0     268812.0  1603996       51500     264195.0
1453  SH603997   2825880.0   21109003.0  1603997     2825280   21104539.0
1454  SH603998  17890520.0  149122378.0  1603998    17889620  149114998.0
1455  SH603999   5075200.0   27332260.0  1603999     5073300   27322114.0

[1456 rows x 6 columns]

            ID  max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000  30492063.0  342326268.0  1600000    30489063  342292428.0
1     SH600004  11804681.0  186764537.0  1600004    11802781  186734612.0
2     SH600006  30136231.0  154050390.0  1600006    30135431  154046326.0
3     SH600007    880347.0   11898441.0  1600007      879547   11887673.0
4     SH600008  13498978.0   46483121.0  1600008    13497978   46479681.0
...        ...         ...          ...      ...         ...          ...
1451  SH603993  64940708.0  260223134.0  1603993    64939408  260217960.0
1452  SH603996     52400.0     268812.0  1603996       51500     264195.0
1453  SH603997   2825880.0   21109003.0  1603997     2825280   21104539.0
1454  SH603998  17890520.0  149122378.0  1603998    17889620  149114998.0
1455  SH603999   5075200.0   27332260.0  1603999     5073300   27322114.0

[1456 rows x 6 columns]

2019-06-03
trade finished
0:05:04.483569
0:00:14.383984
20190604 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

set()

            ID  max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000  25077393.0  283826808.0  1600000    25076993  283822268.0
1     SH600004   8019627.0  124812043.0  1600004     8018427  124793335.0
2     SH600006  24631638.0  121569045.0  1600006    24630838  121565141.0
3     SH600007   1246933.0   16688067.0  1600007     1246833   16686723.0
4     SH600008  10558585.0   35946950.0  1600008    10555285   35935664.0
...        ...         ...          ...      ...         ...          ...
1451  SH603993  64334725.0  252310891.0  1603993    64331979  252300182.0
1452  SH603996     36900.0     179703.0  1603996       36800     179216.0
1453  SH603997   3281675.0   23884476.0  1603997     3280375   23875064.0
1454  SH603998  37805026.0  333773777.0  1603998    37803026  333756357.0
1455  SH603999   6297220.0   33150347.0  1603999     6297020   33149307.0

[1456 rows x 6 columns]

            ID  max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000  25077393.0  283826808.0  1600000    25076993  283822268.0
1     SH600004   8019627.0  124812043.0  1600004     8018427  124793335.0
2     SH600006  24631638.0  121569045.0  1600006    24630838  121565141.0
3     SH600007   1246933.0   16688067.0  1600007     1246833   16686723.0
4     SH600008  10558585.0   35946950.0  1600008    10555285   35935664.0
...        ...         ...          ...      ...         ...          ...
1451  SH603993  64334725.0  252310891.0  1603993    64331979  252300182.0
1452  SH603996     36900.0     179703.0  1603996       36800     179216.0
1453  SH603997   3281675.0   23884476.0  1603997     3280375   23875064.0
1454  SH603998  37805026.0  333773777.0  1603998    37803026  333756357.0
1455  SH603999   6297220.0   33150347.0  1603999     6297020   33149307.0

[1456 rows x 6 columns]

2019-06-04
trade finished
0:04:24.342863
0:00:23.566839
20190605 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

set()

            ID  max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000  31423641.0  359479709.0  1600000    31423541  359478568.0
1     SH600004   6194190.0   96036275.0  1600004     6193890   96031676.0
2     SH600006  12367522.0   60789856.0  1600006    12365522   60780076.0
3     SH600007    927875.0   12615877.0  1600007      927575   12611800.0
4     SH600008  11352300.0   38940030.0  1600008    11352000   38939007.0
...        ...         ...          ...      ...         ...          ...
1451  SH603993  41771008.0  163971334.0  1603993    41758508  163922459.0
1452  SH603996     34000.0     157420.0  1603996       32900     152327.0
1453  SH603997   4494041.0   33532869.0  1603997     4493641   33529881.0
1454  SH603998  30451412.0  245748704.0  1603998    30451312  245747917.0
1455  SH603999   3735100.0   19744133.0  1603999     3734100   19738873.0

[1456 rows x 6 columns]

            ID  max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000  31423641.0  359479709.0  1600000    31423541  359478568.0
1     SH600004   6194190.0   96036275.0  1600004     6193890   96031676.0
2     SH600006  12367522.0   60789856.0  1600006    12365522   60780076.0
3     SH600007    927875.0   12615877.0  1600007      927575   12611800.0
4     SH600008  11352300.0   38940030.0  1600008    11352000   38939007.0
...        ...         ...          ...      ...         ...          ...
1451  SH603993  41771008.0  163971334.0  1603993    41758508  163922459.0
1452  SH603996     34000.0     157420.0  1603996       32900     152327.0
1453  SH603997   4494041.0   33532869.0  1603997     4493641   33529881.0
1454  SH603998  30451412.0  245748704.0  1603998    30451312  245747917.0
1455  SH603999   3735100.0   19744133.0  1603999     3734100   19738873.0

[1456 rows x 6 columns]

2019-06-05
trade finished
0:04:07.250408
0:00:14.094618
20190606 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

set()

            ID  max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000  26427215.0  303162728.0  1600000    26426715  303156993.0
1     SH600004  11948312.0  180314782.0  1600004    11947312  180299822.0
2     SH600006  15039349.0   71460893.0  1600006    15037149   71450509.0
3     SH600007    588268.0    7985031.0  1600007      588100    7982761.0
4     SH600008  12490694.0   41807122.0  1600008    12489774   41804058.0
...        ...         ...          ...      ...         ...          ...
1452  SH603993  44753160.0  173858232.0  1603993    44751617  173852276.0
1453  SH603996    416400.0    1832160.0  1603996      416300    1831720.0
1454  SH603997   3110551.0   22676530.0  1603997     3106451   22646928.0
1455  SH603998  15794308.0  122023783.0  1603998    15793308  122016163.0
1456  SH603999   3265380.0   17186317.0  1603999     3263380   17175817.0

[1457 rows x 6 columns]

            ID  max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000  26427215.0  303162728.0  1600000    26426715  303156993.0
1     SH600004  11948312.0  180314782.0  1600004    11947312  180299822.0
2     SH600006  15039349.0   71460893.0  1600006    15037149   71450509.0
3     SH600007    588268.0    7985031.0  1600007      588100    7982761.0
4     SH600008  12490694.0   41807122.0  1600008    12489774   41804058.0
...        ...         ...          ...      ...         ...          ...
1452  SH603993  44753160.0  173858232.0  1603993    44751617  173852276.0
1453  SH603996    416400.0    1832160.0  1603996      416300    1831720.0
1454  SH603997   3110551.0   22676530.0  1603997     3106451   22646928.0
1455  SH603998  15794308.0  122023783.0  1603998    15793308  122016163.0
1456  SH603999   3265380.0   17186317.0  1603999     3263380   17175817.0

[1457 rows x 6 columns]

2019-06-06
trade finished
0:04:11.284232
0:00:13.220555
20190610 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

set()

            ID  max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000  43183779.0  502599177.0  1600000    43183279  502593372.0
1     SH600004  11954818.0  184429446.0  1600004    11954623  184426396.0
2     SH600006  14448132.0   69897394.0  1600006    14443677   69875921.0
3     SH600007   1080343.0   14764291.0  1600007     1080243   14762917.0
4     SH600008  13497049.0   44729643.0  1600008    13495049   44723003.0
...        ...         ...          ...      ...         ...          ...
1448  SH603993  46563706.0  181486222.0  1603993    46563606  181485831.0
1449  SH603996   3352500.0   14013450.0  1603996     3351500   14009270.0
1450  SH603997   2001900.0   14592432.0  1603997     2001800   14591706.0
1451  SH603998   1668000.0   11442480.0  1603998     1667600   11439736.0
1452  SH603999   2939654.0   15540408.0  1603999     2939254   15538276.0

[1453 rows x 6 columns]

            ID  max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000  43183779.0  502599177.0  1600000    43183279  502593372.0
1     SH600004  11954818.0  184429446.0  1600004    11954623  184426396.0
2     SH600006  14448132.0   69897394.0  1600006    14443677   69875921.0
3     SH600007   1080343.0   14764291.0  1600007     1080243   14762917.0
4     SH600008  13497049.0   44729643.0  1600008    13495049   44723003.0
...        ...         ...          ...      ...         ...          ...
1448  SH603993  46563706.0  181486222.0  1603993    46563606  181485831.0
1449  SH603996   3352500.0   14013450.0  1603996     3351500   14009270.0
1450  SH603997   2001900.0   14592432.0  1603997     2001800   14591706.0
1451  SH603998   1668000.0   11442480.0  1603998     1667600   11439736.0
1452  SH603999   2939654.0   15540408.0  1603999     2939254   15538276.0

[1453 rows x 6 columns]

2019-06-10
trade finished
0:03:53.753676
0:00:16.605454
20190611 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

set()

            ID   max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000   52266217.0  594464068.0  1600000    52266017  594461784.0
1     SH600004   13659489.0  217832080.0  1600004    13658689  217819168.0
2     SH600006   24899873.0  122612941.0  1600006    24899773  122612442.0
3     SH600007    1510891.0   21006607.0  1600007     1509891   20992637.0
4     SH600008   17897798.0   60467551.0  1600008    17895741   60460517.0
...        ...          ...          ...      ...         ...          ...
1449  SH603993  102993527.0  410752626.0  1603993   102992527  410748586.0
1450  SH603996   19938321.0   79625678.0  1603996    19936821   79619723.0
1451  SH603997    4941136.0   36597138.0  1603997     4938436   36577050.0
1452  SH603998   40151843.0  260622749.0  1603998    40151043  260617245.0
1453  SH603999    4291254.0   23219937.0  1603999     4290254   23214437.0

[1454 rows x 6 columns]

            ID   max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000   52266217.0  594464068.0  1600000    52266017  594461784.0
1     SH600004   13659489.0  217832080.0  1600004    13658689  217819168.0
2     SH600006   24899873.0  122612941.0  1600006    24899773  122612442.0
3     SH600007    1510891.0   21006607.0  1600007     1509891   20992637.0
4     SH600008   17897798.0   60467551.0  1600008    17895741   60460517.0
...        ...          ...          ...      ...         ...          ...
1449  SH603993  102993527.0  410752626.0  1603993   102992527  410748586.0
1450  SH603996   19938321.0   79625678.0  1603996    19936821   79619723.0
1451  SH603997    4941136.0   36597138.0  1603997     4938436   36577050.0
1452  SH603998   40151843.0  260622749.0  1603998    40151043  260617245.0
1453  SH603999    4291254.0   23219937.0  1603999     4290254   23214437.0

[1454 rows x 6 columns]

2019-06-11
trade finished
0:05:15.159344
0:00:15.389528
20190612 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

set()

            ID   max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000   50635228.0  584680927.0  1600000    50633828  584664687.0
1     SH600004    7742649.0  124718488.0  1600004     7742449  124715270.0
2     SH600006   15079300.0   74562516.0  1600006    15075600   74544312.0
3     SH600007     752501.0   10411983.0  1600007      752401   10410600.0
4     SH600008   13467971.0   45946267.0  1600008    13467465   45944547.0
...        ...          ...          ...      ...         ...          ...
1448  SH603993  131734478.0  538234187.0  1603993   131734078  538232563.0
1449  SH603996   11174683.0   43729961.0  1603996    11170183   43712456.0
1450  SH603997    2980450.0   21968407.0  1603997     2977450   21946447.0
1451  SH603998   23624625.0  154729674.0  1603998    23623425  154721910.0
1452  SH603999    3684551.0   20382715.0  1603999     3683451   20376654.0

[1453 rows x 6 columns]

            ID   max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000   50635228.0  584680927.0  1600000    50633828  584664687.0
1     SH600004    7742649.0  124718488.0  1600004     7742449  124715270.0
2     SH600006   15079300.0   74562516.0  1600006    15075600   74544312.0
3     SH600007     752501.0   10411983.0  1600007      752401   10410600.0
4     SH600008   13467971.0   45946267.0  1600008    13467465   45944547.0
...        ...          ...          ...      ...         ...          ...
1448  SH603993  131734478.0  538234187.0  1603993   131734078  538232563.0
1449  SH603996   11174683.0   43729961.0  1603996    11170183   43712456.0
1450  SH603997    2980450.0   21968407.0  1603997     2977450   21946447.0
1451  SH603998   23624625.0  154729674.0  1603998    23623425  154721910.0
1452  SH603999    3684551.0   20382715.0  1603999     3683451   20376654.0

[1453 rows x 6 columns]

2019-06-12
trade finished
0:04:58.724170
0:00:14.246279
20190613 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

set()

            ID  max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000  46966016.0  548219997.0  1600000    46965516  548214147.0
1     SH600004   7840898.0  124892409.0  1600004     7840798  124890815.0
2     SH600006  18706568.0   93273172.0  1600006    18705568   93268152.0
3     SH600007   1358800.0   18751555.0  1600007     1330900   18364024.0
4     SH600008  12716757.0   43091227.0  1600008    12715757   43087837.0
...        ...         ...          ...      ...         ...          ...
1448  SH603993  68776701.0  276603691.0  1603993    68776119  276601334.0
1449  SH603996  12711049.0   51124919.0  1603996    12710049   51120869.0
1450  SH603997   2324017.0   17270226.0  1603997     2322117   17256014.0
1451  SH603998  20422650.0  135595266.0  1603998    20417650  135561866.0
1452  SH603999   4408948.0   24505435.0  1603999     4408348   24502093.0

[1453 rows x 6 columns]

            ID  max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000  46966016.0  548219997.0  1600000    46965516  548214147.0
1     SH600004   7840898.0  124892409.0  1600004     7840798  124890815.0
2     SH600006  18706568.0   93273172.0  1600006    18705568   93268152.0
3     SH600007   1358800.0   18751555.0  1600007     1330900   18364024.0
4     SH600008  12716757.0   43091227.0  1600008    12715757   43087837.0
...        ...         ...          ...      ...         ...          ...
1448  SH603993  68776701.0  276603691.0  1603993    68776119  276601334.0
1449  SH603996  12711049.0   51124919.0  1603996    12710049   51120869.0
1450  SH603997   2324017.0   17270226.0  1603997     2322117   17256014.0
1451  SH603998  20422650.0  135595266.0  1603998    20417650  135561866.0
1452  SH603999   4408948.0   24505435.0  1603999     4408348   24502093.0

[1453 rows x 6 columns]

2019-06-13
trade finished
0:04:28.492123
0:00:14.577289
20190614 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

set()

            ID  max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000  47385174.0  558641883.0  1600000    47381600  558599745.0
1     SH600004   8777947.0  139596756.0  1600004     8776755  139577922.0
2     SH600006  19233482.0   94399869.0  1600006    19233315   94399059.0
3     SH600007   1216098.0   16984583.0  1600007     1215898   16981811.0
4     SH600008  21901364.0   73093341.0  1600008    21897864   73081791.0
...        ...         ...          ...      ...         ...          ...
1450  SH603993  77518131.0  314054230.0  1603993    77517831  314053024.0
1451  SH603996  11772022.0   48029823.0  1603996    11771122   48026043.0
1452  SH603997   2165752.0   16055151.0  1603997     2164752   16047801.0
1453  SH603998  14226248.0   93385268.0  1603998    14224248   93372368.0
1454  SH603999   3495523.0   19367181.0  1603999     3494523   19361661.0

[1455 rows x 6 columns]

            ID  max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000  47385174.0  558641883.0  1600000    47381600  558599745.0
1     SH600004   8777947.0  139596756.0  1600004     8776755  139577922.0
2     SH600006  19233482.0   94399869.0  1600006    19233315   94399059.0
3     SH600007   1216098.0   16984583.0  1600007     1215898   16981811.0
4     SH600008  21901364.0   73093341.0  1600008    21897864   73081791.0
...        ...         ...          ...      ...         ...          ...
1450  SH603993  77518131.0  314054230.0  1603993    77517831  314053024.0
1451  SH603996  11772022.0   48029823.0  1603996    11771122   48026043.0
1452  SH603997   2165752.0   16055151.0  1603997     2164752   16047801.0
1453  SH603998  14226248.0   93385268.0  1603998    14224248   93372368.0
1454  SH603999   3495523.0   19367181.0  1603999     3494523   19361661.0

[1455 rows x 6 columns]

2019-06-14
trade finished
0:04:45.817233
0:00:12.239148
20190617 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

set()

            ID  max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000  35220103.0  416594828.0  1600000    35215544  416541168.0
1     SH600004   7951844.0  125454179.0  1600004     7951694  125451827.0
2     SH600006   7350800.0   35676958.0  1600006     7349800   35672098.0
3     SH600007   1519003.0   21475501.0  1600007     1518858   21473449.0
4     SH600008   9885461.0   32736018.0  1600008     9882461   32726088.0
...        ...         ...          ...      ...         ...          ...
1451  SH603993  47674756.0  191842390.0  1603993    47666756  191810230.0
1452  SH603996   5670500.0   22793498.0  1603996     5670400   22793099.0
1453  SH603997   1803850.0   13382748.0  1603997     1802050   13369392.0
1454  SH603998  18268863.0  122039665.0  1603998    18268563  122037661.0
1455  SH603999   1942274.0   10645248.0  1603999     1941274   10639728.0

[1456 rows x 6 columns]

            ID  max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000  35220103.0  416594828.0  1600000    35215544  416541168.0
1     SH600004   7951844.0  125454179.0  1600004     7951694  125451827.0
2     SH600006   7350800.0   35676958.0  1600006     7349800   35672098.0
3     SH600007   1519003.0   21475501.0  1600007     1518858   21473449.0
4     SH600008   9885461.0   32736018.0  1600008     9882461   32726088.0
...        ...         ...          ...      ...         ...          ...
1451  SH603993  47674756.0  191842390.0  1603993    47666756  191810230.0
1452  SH603996   5670500.0   22793498.0  1603996     5670400   22793099.0
1453  SH603997   1803850.0   13382748.0  1603997     1802050   13369392.0
1454  SH603998  18268863.0  122039665.0  1603998    18268563  122037661.0
1455  SH603999   1942274.0   10645248.0  1603999     1941274   10639728.0

[1456 rows x 6 columns]

2019-06-17
trade finished
0:03:47.443105
0:00:12.540359
20190618 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

set()

            ID  max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000  28965124.0  341904864.0  1600000    28964824  341901318.0
1     SH600004  12234111.0  196411325.0  1600004    12231111  196362785.0
2     SH600006   9048832.0   43902130.0  1600006     9041932   43868458.0
3     SH600007   1660520.0   23374096.0  1600007     1610520   22668096.0
4     SH600008  10530722.0   34603658.0  1600008    10527722   34593788.0
...        ...         ...          ...      ...         ...          ...
1450  SH603993  63115916.0  249724647.0  1603993    63112216  249709995.0
1451  SH603996   7187682.0   27624249.0  1603996     7186582   27620025.0
1452  SH603997   1902972.0   13975559.0  1603997     1902772   13974099.0
1453  SH603998  11055653.0   73349761.0  1603998    11055153   73346441.0
1454  SH603999   2395300.0   13159847.0  1603999     2394000   13152658.0

[1455 rows x 6 columns]

            ID  max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000  28965124.0  341904864.0  1600000    28964824  341901318.0
1     SH600004  12234111.0  196411325.0  1600004    12231111  196362785.0
2     SH600006   9048832.0   43902130.0  1600006     9041932   43868458.0
3     SH600007   1660520.0   23374096.0  1600007     1610520   22668096.0
4     SH600008  10530722.0   34603658.0  1600008    10527722   34593788.0
...        ...         ...          ...      ...         ...          ...
1450  SH603993  63115916.0  249724647.0  1603993    63112216  249709995.0
1451  SH603996   7187682.0   27624249.0  1603996     7186582   27620025.0
1452  SH603997   1902972.0   13975559.0  1603997     1902772   13974099.0
1453  SH603998  11055653.0   73349761.0  1603998    11055153   73346441.0
1454  SH603999   2395300.0   13159847.0  1603999     2394000   13152658.0

[1455 rows x 6 columns]

2019-06-18
trade finished
0:03:42.840979
0:00:14.881919
20190619 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

set()

            ID  max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000  44927745.0  537339845.0  1600000    44927145  537332717.0
1     SH600004  11859098.0  195000124.0  1600004    11858598  194991979.0
2     SH600006  19242381.0   95277729.0  1600006    19242281   95277236.0
3     SH600007   1107400.0   15728626.0  1600007     1104100   15681997.0
4     SH600008  18775586.0   62952566.0  1600008    18774287   62948201.0
...        ...         ...          ...      ...         ...          ...
1450  SH603993  58394493.0  234222899.0  1603993    58393466  234218791.0
1451  SH603996   6486586.0   24994895.0  1603996     6479286   24966936.0
1452  SH603997   2526068.0   18947185.0  1603997     2519968   18901801.0
1453  SH603998  14354768.0   97587119.0  1603998    14354208   97583356.0
1454  SH603999   6566117.0   37328741.0  1603999     6565117   37323061.0

[1455 rows x 6 columns]

            ID  max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000  44927745.0  537339845.0  1600000    44927145  537332717.0
1     SH600004  11859098.0  195000124.0  1600004    11858598  194991979.0
2     SH600006  19242381.0   95277729.0  1600006    19242281   95277236.0
3     SH600007   1107400.0   15728626.0  1600007     1104100   15681997.0
4     SH600008  18775586.0   62952566.0  1600008    18774287   62948201.0
...        ...         ...          ...      ...         ...          ...
1450  SH603993  58394493.0  234222899.0  1603993    58393466  234218791.0
1451  SH603996   6486586.0   24994895.0  1603996     6479286   24966936.0
1452  SH603997   2526068.0   18947185.0  1603997     2519968   18901801.0
1453  SH603998  14354768.0   97587119.0  1603998    14354208   97583356.0
1454  SH603999   6566117.0   37328741.0  1603999     6565117   37323061.0

[1455 rows x 6 columns]

2019-06-19
trade finished
0:04:40.672693
0:00:19.482928
20190620 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

set()

            ID  max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000  71647496.0  869024541.0  1600000    71646496  869012341.0
1     SH600004  23032060.0  392272412.0  1600004    23031760  392267264.0
2     SH600006  20932766.0  102687119.0  1600006    20932666  102686626.0
3     SH600007   1961310.0   28046201.0  1600007     1958210   28001685.0
4     SH600008  70848709.0  249626304.0  1600008    70847709  249622714.0
...        ...         ...          ...      ...         ...          ...
1453  SH603993  95548782.0  385405089.0  1603993    95546782  385396969.0
1454  SH603996   7461024.0   28037343.0  1603996     7454824   28013659.0
1455  SH603997   3649085.0   27681923.0  1603997     3647085   27666603.0
1456  SH603998  38559791.0  279118484.0  1603998    38559566  279116821.0
1457  SH603999   6248183.0   35671744.0  1603999     6247083   35665419.0

[1458 rows x 6 columns]

            ID  max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000  71647496.0  869024541.0  1600000    71646496  869012341.0
1     SH600004  23032060.0  392272412.0  1600004    23031760  392267264.0
2     SH600006  20932766.0  102687119.0  1600006    20932666  102686626.0
3     SH600007   1961310.0   28046201.0  1600007     1958210   28001685.0
4     SH600008  70848709.0  249626304.0  1600008    70847709  249622714.0
...        ...         ...          ...      ...         ...          ...
1453  SH603993  95548782.0  385405089.0  1603993    95546782  385396969.0
1454  SH603996   7461024.0   28037343.0  1603996     7454824   28013659.0
1455  SH603997   3649085.0   27681923.0  1603997     3647085   27666603.0
1456  SH603998  38559791.0  279118484.0  1603998    38559566  279116821.0
1457  SH603999   6248183.0   35671744.0  1603999     6247083   35665419.0

[1458 rows x 6 columns]

2019-06-20
trade finished
0:05:41.966305
0:00:17.772867
20190621 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

set()

            ID   max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000   55381180.0  670759370.0  1600000    55380209  670747631.0
1     SH600004   12653711.0  215911100.0  1600004    12652611  215892378.0
2     SH600006   24211050.0  120519858.0  1600006    24207050  120499898.0
3     SH600007    2840529.0   40874551.0  1600007     2840029   40867311.0
4     SH600008   54132778.0  197268634.0  1600008    54128778  197254154.0
...        ...          ...          ...      ...         ...          ...
1454  SH603993  141210386.0  579826341.0  1603993   141139886  579536586.0
1455  SH603996    8360712.0   33330360.0  1603996     8360612   33329959.0
1456  SH603997    3353065.0   25940329.0  1603997     3352665   25937245.0
1457  SH603998   40779782.0  305456170.0  1603998    40779282  305452360.0
1458  SH603999    4496660.0   25952955.0  1603999     4469360   25795161.0

[1459 rows x 6 columns]

            ID   max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000   55381180.0  670759370.0  1600000    55380209  670747631.0
1     SH600004   12653711.0  215911100.0  1600004    12652611  215892378.0
2     SH600006   24211050.0  120519858.0  1600006    24207050  120499898.0
3     SH600007    2840529.0   40874551.0  1600007     2840029   40867311.0
4     SH600008   54132778.0  197268634.0  1600008    54128778  197254154.0
...        ...          ...          ...      ...         ...          ...
1454  SH603993  141210386.0  579826341.0  1603993   141139886  579536586.0
1455  SH603996    8360712.0   33330360.0  1603996     8360612   33329959.0
1456  SH603997    3353065.0   25940329.0  1603997     3352665   25937245.0
1457  SH603998   40779782.0  305456170.0  1603998    40779282  305452360.0
1458  SH603999    4496660.0   25952955.0  1603999     4469360   25795161.0

[1459 rows x 6 columns]

2019-06-21
trade finished
0:05:28.927679
0:00:14.552062
20190624 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

set()

            ID   max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000   34195336.0  411172373.0  1600000    34184606  411043291.0
1     SH600004   14595870.0  254325574.0  1600004    14595370  254316749.0
2     SH600006   59819991.0  309914921.0  1600006    59818991  309909431.0
3     SH600007    1596085.0   23328861.0  1600007     1595985   23327389.0
4     SH600008   28465134.0  102597928.0  1600008    28464828  102596827.0
...        ...          ...          ...      ...         ...          ...
1455  SH603993  124122826.0  514578824.0  1603993   124122326  514576744.0
1456  SH603996    4671701.0   18694798.0  1603996     4664701   18666658.0
1457  SH603997    2180915.0   16842670.0  1603997     2179015   16827983.0
1458  SH603998   20084189.0  147703919.0  1603998    20083289  147697259.0
1459  SH603999    3427260.0   19796383.0  1603999     3424260   19778983.0

[1460 rows x 6 columns]

            ID   max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000   34195336.0  411172373.0  1600000    34184606  411043291.0
1     SH600004   14595870.0  254325574.0  1600004    14595370  254316749.0
2     SH600006   59819991.0  309914921.0  1600006    59818991  309909431.0
3     SH600007    1596085.0   23328861.0  1600007     1595985   23327389.0
4     SH600008   28465134.0  102597928.0  1600008    28464828  102596827.0
...        ...          ...          ...      ...         ...          ...
1455  SH603993  124122826.0  514578824.0  1603993   124122326  514576744.0
1456  SH603996    4671701.0   18694798.0  1603996     4664701   18666658.0
1457  SH603997    2180915.0   16842670.0  1603997     2179015   16827983.0
1458  SH603998   20084189.0  147703919.0  1603998    20083289  147697259.0
1459  SH603999    3427260.0   19796383.0  1603999     3424260   19778983.0

[1460 rows x 6 columns]

2019-06-24
trade finished
0:04:25.193715
0:00:16.444842
20190625 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

set()

            ID   max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000   80359367.0  940465134.0  1600000    80359129  940462359.0
1     SH600004   11397726.0  201495123.0  1600004    11397276  201487104.0
2     SH600006   59109081.0  312588195.0  1600006    59106081  312572445.0
3     SH600007    1146115.0   16730860.0  1600007     1145715   16725024.0
4     SH600008   27685897.0   97840666.0  1600008    27685854   97840514.0
...        ...          ...          ...      ...         ...          ...
1456  SH603993  123435661.0  511675163.0  1603993   123434161  511668923.0
1457  SH603996    4684201.0   19103463.0  1603996     4675201   19066203.0
1458  SH603997    2532000.0   19325111.0  1603997     2523400   19259407.0
1459  SH603998   14078355.0  101358031.0  1603998    14077355  101350811.0
1460  SH603999    3106439.0   17791526.0  1603999     3105739   17787536.0

[1461 rows x 6 columns]

            ID   max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000   80359367.0  940465134.0  1600000    80359129  940462359.0
1     SH600004   11397726.0  201495123.0  1600004    11397276  201487104.0
2     SH600006   59109081.0  312588195.0  1600006    59106081  312572445.0
3     SH600007    1146115.0   16730860.0  1600007     1145715   16725024.0
4     SH600008   27685897.0   97840666.0  1600008    27685854   97840514.0
...        ...          ...          ...      ...         ...          ...
1456  SH603993  123435661.0  511675163.0  1603993   123434161  511668923.0
1457  SH603996    4684201.0   19103463.0  1603996     4675201   19066203.0
1458  SH603997    2532000.0   19325111.0  1603997     2523400   19259407.0
1459  SH603998   14078355.0  101358031.0  1603998    14077355  101350811.0
1460  SH603999    3106439.0   17791526.0  1603999     3105739   17787536.0

[1461 rows x 6 columns]

2019-06-25
trade finished
0:04:54.607337
0:00:12.741738
20190626 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

set()

            ID  max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000  36973199.0  431115050.0  1600000    36972199  431103390.0
1     SH600004   8278440.0  146158782.0  1600004     8273740  146075498.0
2     SH600006  47654091.0  254594013.0  1600006    47653991  254593483.0
3     SH600007    744278.0   10930807.0  1600007      744178   10929340.0
4     SH600008  14660078.0   51943112.0  1600008    14659056   51939514.0
...        ...         ...          ...      ...         ...          ...
1455  SH603993  69344856.0  284602550.0  1603993    69342856  284594390.0
1456  SH603996   5123739.0   21674592.0  1603996     5121739   21666072.0
1457  SH603997   1930341.0   14777977.0  1603997     1927841   14758802.0
1458  SH603998  12763229.0   92929656.0  1603998    12762229   92922406.0
1459  SH603999   5637243.0   32617661.0  1603999     5635243   32605981.0

[1460 rows x 6 columns]

            ID  max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000  36973199.0  431115050.0  1600000    36972199  431103390.0
1     SH600004   8278440.0  146158782.0  1600004     8273740  146075498.0
2     SH600006  47654091.0  254594013.0  1600006    47653991  254593483.0
3     SH600007    744278.0   10930807.0  1600007      744178   10929340.0
4     SH600008  14660078.0   51943112.0  1600008    14659056   51939514.0
...        ...         ...          ...      ...         ...          ...
1455  SH603993  69344856.0  284602550.0  1603993    69342856  284594390.0
1456  SH603996   5123739.0   21674592.0  1603996     5121739   21666072.0
1457  SH603997   1930341.0   14777977.0  1603997     1927841   14758802.0
1458  SH603998  12763229.0   92929656.0  1603998    12762229   92922406.0
1459  SH603999   5637243.0   32617661.0  1603999     5635243   32605981.0

[1460 rows x 6 columns]

2019-06-26
trade finished
0:03:50.220560
0:00:14.649796
20190627 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

set()

            ID  max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000  47997783.0  561472043.0  1600000    47995135  561441220.0
1     SH600004  11080026.0  198473051.0  1600004    11079926  198471268.0
2     SH600006  26237295.0  138389260.0  1600006    26237095  138388204.0
3     SH600007   1229600.0   18137062.0  1600007     1225600   18078382.0
4     SH600008  19616081.0   69942562.0  1600008    19613081   69931912.0
...        ...         ...          ...      ...         ...          ...
1456  SH603993  56397592.0  231421909.0  1603993    56395592  231413709.0
1457  SH603996   7019532.0   30839803.0  1603996     7013632   30813489.0
1458  SH603997   2045901.0   15753582.0  1603997     2040901   15715082.0
1459  SH603998  16448171.0  121163006.0  1603998    16447471  121157889.0
1460  SH603999   5237906.0   30470339.0  1603999     5236706   30463403.0

[1461 rows x 6 columns]

            ID  max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000  47997783.0  561472043.0  1600000    47995135  561441220.0
1     SH600004  11080026.0  198473051.0  1600004    11079926  198471268.0
2     SH600006  26237295.0  138389260.0  1600006    26237095  138388204.0
3     SH600007   1229600.0   18137062.0  1600007     1225600   18078382.0
4     SH600008  19616081.0   69942562.0  1600008    19613081   69931912.0
...        ...         ...          ...      ...         ...          ...
1456  SH603993  56397592.0  231421909.0  1603993    56395592  231413709.0
1457  SH603996   7019532.0   30839803.0  1603996     7013632   30813489.0
1458  SH603997   2045901.0   15753582.0  1603997     2040901   15715082.0
1459  SH603998  16448171.0  121163006.0  1603998    16447471  121157889.0
1460  SH603999   5237906.0   30470339.0  1603999     5236706   30463403.0

[1461 rows x 6 columns]

2019-06-27
trade finished
0:04:07.649085
0:00:14.518962
20190628 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

set()

            ID  max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000  29545173.0  343056316.0  1600000    29544581  343049401.0
1     SH600004  10975707.0  196024151.0  1600004    10973197  195978469.0
2     SH600006  37735774.0  201608653.0  1600006    37735474  201607054.0
3     SH600007   1273675.0   18605141.0  1600007     1267845   18520082.0
4     SH600008  14882883.0   52265258.0  1600008    14869483   52218090.0
...        ...         ...          ...      ...         ...          ...
1460  SH603993  55249241.0  219871800.0  1603993    55248241  219867840.0
1461  SH603996   7514213.0   34470401.0  1603996     7511713   34458701.0
1462  SH603997   2222746.0   17074892.0  1603997     2221646   17066400.0
1463  SH603998  13124429.0   94935254.0  1603998    13122129   94918579.0
1464  SH603999   4353081.0   24501085.0  1603999     4352581   24498290.0

[1465 rows x 6 columns]

            ID  max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000  29545173.0  343056316.0  1600000    29544581  343049401.0
1     SH600004  10975707.0  196024151.0  1600004    10973197  195978469.0
2     SH600006  37735774.0  201608653.0  1600006    37735474  201607054.0
3     SH600007   1273675.0   18605141.0  1600007     1267845   18520082.0
4     SH600008  14882883.0   52265258.0  1600008    14869483   52218090.0
...        ...         ...          ...      ...         ...          ...
1460  SH603993  55249241.0  219871800.0  1603993    55248241  219867840.0
1461  SH603996   7514213.0   34470401.0  1603996     7511713   34458701.0
1462  SH603997   2222746.0   17074892.0  1603997     2221646   17066400.0
1463  SH603998  13124429.0   94935254.0  1603998    13122129   94918579.0
1464  SH603999   4353081.0   24501085.0  1603999     4352581   24498290.0

[1465 rows x 6 columns]

2019-06-28
trade finished
0:04:06.895050
0:00:15.046636
20190701 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

set()

            ID  max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000  54887882.0  646405195.0  1600000    54882739  646344970.0
1     SH600004  14906151.0  278458005.0  1600004    14906051  278456137.0
2     SH600006  51190159.0  279214767.0  1600006    51188159  279203707.0
3     SH600007   2203129.0   32411034.0  1600007     2200829   32376994.0
4     SH600008  24891199.0   89699920.0  1600008    24890999   89699196.0
...        ...         ...          ...      ...         ...          ...
1459  SH603993  78566384.0  315761474.0  1603993    78566129  315760447.0
1460  SH603996   6096021.0   28520113.0  1603996     6095021   28515293.0
1461  SH603997   3000718.0   23651528.0  1603997     3000318   23648364.0
1462  SH603998  17538724.0  129790992.0  1603998    17537224  129779877.0
1463  SH603999   4011872.0   22962270.0  1603999     4011723   22961420.0

[1464 rows x 6 columns]

            ID  max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000  54887882.0  646405195.0  1600000    54882739  646344970.0
1     SH600004  14906151.0  278458005.0  1600004    14906051  278456137.0
2     SH600006  51190159.0  279214767.0  1600006    51188159  279203707.0
3     SH600007   2203129.0   32411034.0  1600007     2200829   32376994.0
4     SH600008  24891199.0   89699920.0  1600008    24890999   89699196.0
...        ...         ...          ...      ...         ...          ...
1459  SH603993  78566384.0  315761474.0  1603993    78566129  315760447.0
1460  SH603996   6096021.0   28520113.0  1603996     6095021   28515293.0
1461  SH603997   3000718.0   23651528.0  1603997     3000318   23648364.0
1462  SH603998  17538724.0  129790992.0  1603998    17537224  129779877.0
1463  SH603999   4011872.0   22962270.0  1603999     4011723   22961420.0

[1464 rows x 6 columns]

2019-07-01
trade finished
0:05:04.375068
0:00:15.885700
20190702 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

set()

            ID   max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000   51165729.0  595072188.0  1600000    51165529  595069866.0
1     SH600004    8465221.0  157610333.0  1600004     8464221  157591653.0
2     SH600006   68559369.0  393687212.0  1600006    68558769  393683822.0
3     SH600007    1065695.0   15677227.0  1600007     1065095   15668401.0
4     SH600008   18594796.0   66629026.0  1600008    18594596   66628310.0
...        ...          ...          ...      ...         ...          ...
1459  SH603993  136195096.0  554303045.0  1603993   136194096  554298935.0
1460  SH603996    5554610.0   27565252.0  1603996     5554310   27563734.0
1461  SH603997    2248279.0   17741255.0  1603997     2243379   17702496.0
1462  SH603998   11732967.0   86046417.0  1603998    11730367   86027463.0
1463  SH603999    5579728.0   31219580.0  1603999     5576728   31202900.0

[1464 rows x 6 columns]

            ID   max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000   51165729.0  595072188.0  1600000    51165529  595069866.0
1     SH600004    8465221.0  157610333.0  1600004     8464221  157591653.0
2     SH600006   68559369.0  393687212.0  1600006    68558769  393683822.0
3     SH600007    1065695.0   15677227.0  1600007     1065095   15668401.0
4     SH600008   18594796.0   66629026.0  1600008    18594596   66628310.0
...        ...          ...          ...      ...         ...          ...
1459  SH603993  136195096.0  554303045.0  1603993   136194096  554298935.0
1460  SH603996    5554610.0   27565252.0  1603996     5554310   27563734.0
1461  SH603997    2248279.0   17741255.0  1603997     2243379   17702496.0
1462  SH603998   11732967.0   86046417.0  1603998    11730367   86027463.0
1463  SH603999    5579728.0   31219580.0  1603999     5576728   31202900.0

[1464 rows x 6 columns]

2019-07-02
trade finished
0:05:08.810340
0:00:17.815402
20190703 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

set()

            ID  max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000  36567085.0  422580470.0  1600000    36564085  422545790.0
1     SH600004  34192868.0  608724161.0  1600004    34192468  608717129.0
2     SH600006  37070777.0  207734601.0  1600006    37070277  207731806.0
3     SH600007   2163639.0   32236073.0  1600007     2163039   32227073.0
4     SH600008  52069648.0  202075045.0  1600008    52068648  202071105.0
...        ...         ...          ...      ...         ...          ...
1459  SH603993  89710522.0  363588850.0  1603993    89701522  363552580.0
1460  SH603996   6700900.0   34492589.0  1603996     6691100   34442511.0
1461  SH603997   2466696.0   19395919.0  1603997     2465696   19388029.0
1462  SH603998  10135015.0   72604738.0  1603998    10134415   72600454.0
1463  SH603999   3843480.0   21101137.0  1603999     3842780   21097322.0

[1464 rows x 6 columns]

            ID  max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000  36567085.0  422580470.0  1600000    36564085  422545790.0
1     SH600004  34192868.0  608724161.0  1600004    34192468  608717129.0
2     SH600006  37070777.0  207734601.0  1600006    37070277  207731806.0
3     SH600007   2163639.0   32236073.0  1600007     2163039   32227073.0
4     SH600008  52069648.0  202075045.0  1600008    52068648  202071105.0
...        ...         ...          ...      ...         ...          ...
1459  SH603993  89710522.0  363588850.0  1603993    89701522  363552580.0
1460  SH603996   6700900.0   34492589.0  1603996     6691100   34442511.0
1461  SH603997   2466696.0   19395919.0  1603997     2465696   19388029.0
1462  SH603998  10135015.0   72604738.0  1603998    10134415   72600454.0
1463  SH603999   3843480.0   21101137.0  1603999     3842780   21097322.0

[1464 rows x 6 columns]

2019-07-03
trade finished
0:04:37.328475
0:00:14.029547
20190704 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

set()

            ID   max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000   30369201.0  352968330.0  1600000    30365001  352919526.0
1     SH600004   47115944.0  787912427.0  1600004    47113944  787879607.0
2     SH600006   36281266.0  204914712.0  1600006    36278568  204899522.0
3     SH600007    1131190.0   16773529.0  1600007     1130568   16764267.0
4     SH600008  167649196.0  676527525.0  1600008   167649037  676526901.0
...        ...          ...          ...      ...         ...          ...
1457  SH603991     516957.0   10322825.0  1603991      515157   10286969.0
1458  SH603993   55184713.0  222599835.0  1603993    55183913  222596619.0
1459  SH603996    5350890.0   27311847.0  1603996     5350390   27309322.0
1460  SH603998    6972899.0   49767479.0  1603998     6970399   49749679.0
1461  SH603999    2688240.0   14713495.0  1603999     2685840   14700367.0

[1462 rows x 6 columns]

            ID   max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000   30369201.0  352968330.0  1600000    30365001  352919526.0
1     SH600004   47115944.0  787912427.0  1600004    47113944  787879607.0
2     SH600006   36281266.0  204914712.0  1600006    36278568  204899522.0
3     SH600007    1131190.0   16773529.0  1600007     1130568   16764267.0
4     SH600008  167649196.0  676527525.0  1600008   167649037  676526901.0
...        ...          ...          ...      ...         ...          ...
1457  SH603991     516957.0   10322825.0  1603991      515157   10286969.0
1458  SH603993   55184713.0  222599835.0  1603993    55183913  222596619.0
1459  SH603996    5350890.0   27311847.0  1603996     5350390   27309322.0
1460  SH603998    6972899.0   49767479.0  1603998     6970399   49749679.0
1461  SH603999    2688240.0   14713495.0  1603999     2685840   14700367.0

[1462 rows x 6 columns]

2019-07-04
trade finished
0:04:39.871393
0:00:12.589986
20190705 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

set()

            ID  max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000  25753241.0  298158887.0  1600000    25751241  298135747.0
1     SH600004  34150388.0  572409717.0  1600004    34149388  572392937.0
2     SH600006  29898528.0  164593919.0  1600006    29897028  164585714.0
3     SH600007    755040.0   11168627.0  1600007      753040   11139027.0
4     SH600008  64720423.0  247388918.0  1600008    64718623  247382024.0
...        ...         ...          ...      ...         ...          ...
1460  SH603993  31510575.0  126263584.0  1603993    31504975  126241128.0
1461  SH603996   5634200.0   27581641.0  1603996     5622200   27523921.0
1462  SH603997  10809148.0   90216414.0  1603997    10806448   90194220.0
1463  SH603998   8665892.0   60672845.0  1603998     8664792   60665079.0
1464  SH603999   2065100.0   11271922.0  1603999     2064800   11270281.0

[1465 rows x 6 columns]

            ID  max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000  25753241.0  298158887.0  1600000    25751241  298135747.0
1     SH600004  34150388.0  572409717.0  1600004    34149388  572392937.0
2     SH600006  29898528.0  164593919.0  1600006    29897028  164585714.0
3     SH600007    755040.0   11168627.0  1600007      753040   11139027.0
4     SH600008  64720423.0  247388918.0  1600008    64718623  247382024.0
...        ...         ...          ...      ...         ...          ...
1460  SH603993  31510575.0  126263584.0  1603993    31504975  126241128.0
1461  SH603996   5634200.0   27581641.0  1603996     5622200   27523921.0
1462  SH603997  10809148.0   90216414.0  1603997    10806448   90194220.0
1463  SH603998   8665892.0   60672845.0  1603998     8664792   60665079.0
1464  SH603999   2065100.0   11271922.0  1603999     2064800   11270281.0

[1465 rows x 6 columns]

2019-07-05
trade finished
0:03:37.091320
0:00:19.945407
20190708 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

set()

            ID  max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000  34710676.0  395611376.0  1600000    34710196  395605923.0
1     SH600004  23691878.0  396102971.0  1600004    23691678  396099641.0
2     SH600006  29366324.0  154314059.0  1600006    29365324  154308859.0
3     SH600007   1687250.0   25048609.0  1600007     1687150   25047114.0
4     SH600008  51321302.0  188638098.0  1600008    51320302  188634458.0
...        ...         ...          ...      ...         ...          ...
1459  SH603993  70289461.0  275623211.0  1603993    70288149  275618107.0
1460  SH603996   4390925.0   20230877.0  1603996     4390825   20230412.0
1461  SH603997   6265836.0   49369357.0  1603997     6265136   49363904.0
1462  SH603998  11745643.0   81222249.0  1603998    11726843   81094785.0
1463  SH603999   3419446.0   18308285.0  1603999     3418446   18303005.0

[1464 rows x 6 columns]

            ID  max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000  34710676.0  395611376.0  1600000    34710196  395605923.0
1     SH600004  23691878.0  396102971.0  1600004    23691678  396099641.0
2     SH600006  29366324.0  154314059.0  1600006    29365324  154308859.0
3     SH600007   1687250.0   25048609.0  1600007     1687150   25047114.0
4     SH600008  51321302.0  188638098.0  1600008    51320302  188634458.0
...        ...         ...          ...      ...         ...          ...
1459  SH603993  70289461.0  275623211.0  1603993    70288149  275618107.0
1460  SH603996   4390925.0   20230877.0  1603996     4390825   20230412.0
1461  SH603997   6265836.0   49369357.0  1603997     6265136   49363904.0
1462  SH603998  11745643.0   81222249.0  1603998    11726843   81094785.0
1463  SH603999   3419446.0   18308285.0  1603999     3418446   18303005.0

[1464 rows x 6 columns]

2019-07-08
trade finished
0:04:48.376020
0:00:11.976131
20190709 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

set()

            ID  max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000  21885404.0  248524017.0  1600000    21885104  248520606.0
1     SH600004  20033852.0  340194179.0  1600004    20033752  340192478.0
2     SH600006  18716771.0   98242854.0  1600006    18716571   98241798.0
3     SH600007   1258764.0   18507262.0  1600007     1257264   18485062.0
4     SH600008  27653761.0   99766747.0  1600008    27653261   99764932.0
...        ...         ...          ...      ...         ...          ...
1458  SH603993  39744204.0  154274538.0  1603993    39743204  154270638.0
1459  SH603996   2821400.0   13312097.0  1603996     2820400   13307267.0
1460  SH603997   5060767.0   38343359.0  1603997     5057167   38316323.0
1461  SH603998   7268620.0   49138493.0  1603998     7268420   49137131.0
1462  SH603999   3100200.0   16168951.0  1603999     3099700   16166351.0

[1463 rows x 6 columns]

            ID  max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000  21885404.0  248524017.0  1600000    21885104  248520606.0
1     SH600004  20033852.0  340194179.0  1600004    20033752  340192478.0
2     SH600006  18716771.0   98242854.0  1600006    18716571   98241798.0
3     SH600007   1258764.0   18507262.0  1600007     1257264   18485062.0
4     SH600008  27653761.0   99766747.0  1600008    27653261   99764932.0
...        ...         ...          ...      ...         ...          ...
1458  SH603993  39744204.0  154274538.0  1603993    39743204  154270638.0
1459  SH603996   2821400.0   13312097.0  1603996     2820400   13307267.0
1460  SH603997   5060767.0   38343359.0  1603997     5057167   38316323.0
1461  SH603998   7268620.0   49138493.0  1603998     7268420   49137131.0
1462  SH603999   3100200.0   16168951.0  1603999     3099700   16166351.0

[1463 rows x 6 columns]

2019-07-09
trade finished
0:03:37.222577
0:00:11.412006
20190710 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

set()

            ID  max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000  23409890.0  265773696.0  1600000    23407520  265746797.0
1     SH600004  12795826.0  221139288.0  1600004    12795726  221137554.0
2     SH600006  23355091.0  119848401.0  1600006    23354591  119845861.0
3     SH600007   4977601.0   77493499.0  1600007     4977401   77490357.0
4     SH600008  29442435.0  107381829.0  1600008    29440935  107376354.0
...        ...         ...          ...      ...         ...          ...
1458  SH603993  30727511.0  118975731.0  1603993    30726011  118969941.0
1459  SH603996   4292350.0   21585087.0  1603996     4291350   21580017.0
1460  SH603997   2015813.0   15208233.0  1603997     2012813   15185793.0
1461  SH603998   6259693.0   42283444.0  1603998     6257493   42268572.0
1462  SH603999   2248600.0   11738733.0  1603999     2248448   11737934.0

[1463 rows x 6 columns]

            ID  max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000  23409890.0  265773696.0  1600000    23407520  265746797.0
1     SH600004  12795826.0  221139288.0  1600004    12795726  221137554.0
2     SH600006  23355091.0  119848401.0  1600006    23354591  119845861.0
3     SH600007   4977601.0   77493499.0  1600007     4977401   77490357.0
4     SH600008  29442435.0  107381829.0  1600008    29440935  107376354.0
...        ...         ...          ...      ...         ...          ...
1458  SH603993  30727511.0  118975731.0  1603993    30726011  118969941.0
1459  SH603996   4292350.0   21585087.0  1603996     4291350   21580017.0
1460  SH603997   2015813.0   15208233.0  1603997     2012813   15185793.0
1461  SH603998   6259693.0   42283444.0  1603998     6257493   42268572.0
1462  SH603999   2248600.0   11738733.0  1603999     2248448   11737934.0

[1463 rows x 6 columns]

2019-07-10
trade finished
0:03:28.586529
0:00:11.336474
20190711 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

set()

            ID  max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000  23285835.0  265672149.0  1600000    23278672  265590491.0
1     SH600004  11406281.0  197819793.0  1600004    11401181  197732073.0
2     SH600006  16875009.0   86022513.0  1600006    16869409   85994121.0
3     SH600007  10205595.0  170795886.0  1600007    10205495  170794178.0
4     SH600008  22058571.0   80129690.0  1600008    22055571   80118800.0
...        ...         ...          ...      ...         ...          ...
1458  SH603993  37788078.0  146632872.0  1603993    37783078  146613572.0
1459  SH603996   3391944.0   17081890.0  1603996     3391644   17080402.0
1460  SH603997   6905803.0   51850405.0  1603997     6905653   51849205.0
1461  SH603998   7345821.0   49927760.0  1603998     7345321   49924395.0
1462  SH603999   2768294.0   14471864.0  1603999     2767694   14468720.0

[1463 rows x 6 columns]

            ID  max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000  23285835.0  265672149.0  1600000    23278672  265590491.0
1     SH600004  11406281.0  197819793.0  1600004    11401181  197732073.0
2     SH600006  16875009.0   86022513.0  1600006    16869409   85994121.0
3     SH600007  10205595.0  170795886.0  1600007    10205495  170794178.0
4     SH600008  22058571.0   80129690.0  1600008    22055571   80118800.0
...        ...         ...          ...      ...         ...          ...
1458  SH603993  37788078.0  146632872.0  1603993    37783078  146613572.0
1459  SH603996   3391944.0   17081890.0  1603996     3391644   17080402.0
1460  SH603997   6905803.0   51850405.0  1603997     6905653   51849205.0
1461  SH603998   7345821.0   49927760.0  1603998     7345321   49924395.0
1462  SH603999   2768294.0   14471864.0  1603999     2767694   14468720.0

[1463 rows x 6 columns]

2019-07-11
trade finished
0:03:30.273560
0:00:10.320111
20190712 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

set()

            ID  max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000  34816996.0  400591791.0  1600000    34816343  400584268.0
1     SH600004   8745280.0  152804017.0  1600004     8745246  152803419.0
2     SH600006  10683551.0   54274362.0  1600006    10682551   54269292.0
3     SH600007   6398446.0  108594025.0  1600007     6398246  108590629.0
4     SH600008  21009846.0   76905158.0  1600008    21009260   76903008.0
...        ...         ...          ...      ...         ...          ...
1459  SH603993  34898037.0  134527614.0  1603993    34892937  134507979.0
1460  SH603996   1348550.0    6702835.0  1603996     1348350    6701839.0
1461  SH603997   4108400.0   32147655.0  1603997     4107700   32142244.0
1462  SH603998   5597305.0   37768129.0  1603998     5595305   37754629.0
1463  SH603999   6669620.0   34368174.0  1603999     6667820   34358832.0

[1464 rows x 6 columns]

            ID  max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000  34816996.0  400591791.0  1600000    34816343  400584268.0
1     SH600004   8745280.0  152804017.0  1600004     8745246  152803419.0
2     SH600006  10683551.0   54274362.0  1600006    10682551   54269292.0
3     SH600007   6398446.0  108594025.0  1600007     6398246  108590629.0
4     SH600008  21009846.0   76905158.0  1600008    21009260   76903008.0
...        ...         ...          ...      ...         ...          ...
1459  SH603993  34898037.0  134527614.0  1603993    34892937  134507979.0
1460  SH603996   1348550.0    6702835.0  1603996     1348350    6701839.0
1461  SH603997   4108400.0   32147655.0  1603997     4107700   32142244.0
1462  SH603998   5597305.0   37768129.0  1603998     5595305   37754629.0
1463  SH603999   6669620.0   34368174.0  1603999     6667820   34358832.0

[1464 rows x 6 columns]

2019-07-12
trade finished
0:03:18.623177
0:00:13.734616
20190715 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

set()

            ID  max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000  40305603.0  459022365.0  1600000    40305503  459021215.0
1     SH600004  11096647.0  191249260.0  1600004    11096152  191240677.0
2     SH600006  18307559.0   93021246.0  1600006    18305559   93010986.0
3     SH600007   4442227.0   73773270.0  1600007     4441227   73756560.0
4     SH600008  21652981.0   78848564.0  1600008    21644981   78819124.0
...        ...         ...          ...      ...         ...          ...
1459  SH603993  51106905.0  196317526.0  1603993    51104905  196309806.0
1460  SH603996   1621800.0    8050231.0  1603996     1619800    8040311.0
1461  SH603997   2049576.0   15736346.0  1603997     2048576   15728636.0
1462  SH603998   8285233.0   55786301.0  1603998     8285033   55784937.0
1463  SH603999   4263148.0   21765934.0  1603999     4253948   21718554.0

[1464 rows x 6 columns]

            ID  max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000  40305603.0  459022365.0  1600000    40305503  459021215.0
1     SH600004  11096647.0  191249260.0  1600004    11096152  191240677.0
2     SH600006  18307559.0   93021246.0  1600006    18305559   93010986.0
3     SH600007   4442227.0   73773270.0  1600007     4441227   73756560.0
4     SH600008  21652981.0   78848564.0  1600008    21644981   78819124.0
...        ...         ...          ...      ...         ...          ...
1459  SH603993  51106905.0  196317526.0  1603993    51104905  196309806.0
1460  SH603996   1621800.0    8050231.0  1603996     1619800    8040311.0
1461  SH603997   2049576.0   15736346.0  1603997     2048576   15728636.0
1462  SH603998   8285233.0   55786301.0  1603998     8285033   55784937.0
1463  SH603999   4263148.0   21765934.0  1603999     4253948   21718554.0

[1464 rows x 6 columns]

2019-07-15
trade finished
0:04:06.546841
0:00:11.857730
20190716 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

set()

            ID  max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000  21606007.0  248901949.0  1600000    21604007  248878849.0
1     SH600004   8622939.0  147190799.0  1600004     8622439  147182269.0
2     SH600006  12604675.0   64049355.0  1600006    12604464   64048284.0
3     SH600007   4285694.0   70638208.0  1600007     4284394   70616524.0
4     SH600008  14540120.0   53196325.0  1600008    14535305   53178654.0
...        ...         ...          ...      ...         ...          ...
1462  SH603993  35458384.0  137325659.0  1603993    35454984  137312501.0
1463  SH603996   2983250.0   14354395.0  1603996     2970750   14294770.0
1464  SH603997   1574776.0   12071681.0  1603997     1574176   12067061.0
1465  SH603998   7916711.0   54291574.0  1603998     7915711   54284724.0
1466  SH603999   2739780.0   14110207.0  1603999     2738780   14105057.0

[1467 rows x 6 columns]

            ID  max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000  21606007.0  248901949.0  1600000    21604007  248878849.0
1     SH600004   8622939.0  147190799.0  1600004     8622439  147182269.0
2     SH600006  12604675.0   64049355.0  1600006    12604464   64048284.0
3     SH600007   4285694.0   70638208.0  1600007     4284394   70616524.0
4     SH600008  14540120.0   53196325.0  1600008    14535305   53178654.0
...        ...         ...          ...      ...         ...          ...
1462  SH603993  35458384.0  137325659.0  1603993    35454984  137312501.0
1463  SH603996   2983250.0   14354395.0  1603996     2970750   14294770.0
1464  SH603997   1574776.0   12071681.0  1603997     1574176   12067061.0
1465  SH603998   7916711.0   54291574.0  1603998     7915711   54284724.0
1466  SH603999   2739780.0   14110207.0  1603999     2738780   14105057.0

[1467 rows x 6 columns]

2019-07-16
trade finished
0:03:25.936868
0:00:12.283268
20190717 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

set()

            ID  max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000  17480372.0  201420080.0  1600000    17475972  201369568.0
1     SH600004   5474300.0   93403077.0  1600004     5474000   93397959.0
2     SH600006  16770271.0   85751050.0  1600006    16767971   85739228.0
3     SH600007   3339400.0   54902530.0  1600007     3339300   54900884.0
4     SH600008  23894740.0   86464108.0  1600008    23893440   86459415.0
...        ...         ...          ...      ...         ...          ...
1463  SH603993  32267022.0  124620857.0  1603993    32241222  124521527.0
1464  SH603996   1875693.0    9071047.0  1603996     1872293    9054489.0
1465  SH603997   1566463.0   11911218.0  1603997     1565663   11905194.0
1466  SH603998   6448211.0   43706173.0  1603998     6446831   43696816.0
1467  SH603999   2371961.0   12258224.0  1603999     2369847   12247337.0

[1468 rows x 6 columns]

            ID  max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000  17480372.0  201420080.0  1600000    17475972  201369568.0
1     SH600004   5474300.0   93403077.0  1600004     5474000   93397959.0
2     SH600006  16770271.0   85751050.0  1600006    16767971   85739228.0
3     SH600007   3339400.0   54902530.0  1600007     3339300   54900884.0
4     SH600008  23894740.0   86464108.0  1600008    23893440   86459415.0
...        ...         ...          ...      ...         ...          ...
1463  SH603993  32267022.0  124620857.0  1603993    32241222  124521527.0
1464  SH603996   1875693.0    9071047.0  1603996     1872293    9054489.0
1465  SH603997   1566463.0   11911218.0  1603997     1565663   11905194.0
1466  SH603998   6448211.0   43706173.0  1603998     6446831   43696816.0
1467  SH603999   2371961.0   12258224.0  1603999     2369847   12247337.0

[1468 rows x 6 columns]

2019-07-17
trade finished
0:03:39.016354
0:00:12.376052
20190718 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

set()

            ID  max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000  18260034.0  209938962.0  1600000    18240034  209709162.0
1     SH600004   5966159.0  101114556.0  1600004     5963059  101062383.0
2     SH600006  14230666.0   71692756.0  1600006    14230300   71690922.0
3     SH600007   2463200.0   39854182.0  1600007     2462500   39842947.0
4     SH600008  23992716.0   87302630.0  1600008    23992216   87300815.0
...        ...         ...          ...      ...         ...          ...
1463  SH603993  43997730.0  169618191.0  1603993    43994730  169606701.0
1464  SH603996   1451276.0    7059629.0  1603996     1441276    7011129.0
1465  SH603997   1837283.0   13938860.0  1603997     1836883   13935848.0
1466  SH603998   5369531.0   35796850.0  1603998     5369031   35793525.0
1467  SH603999   4412404.0   22802353.0  1603999     4411304   22796710.0

[1468 rows x 6 columns]

            ID  max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000  18260034.0  209938962.0  1600000    18240034  209709162.0
1     SH600004   5966159.0  101114556.0  1600004     5963059  101062383.0
2     SH600006  14230666.0   71692756.0  1600006    14230300   71690922.0
3     SH600007   2463200.0   39854182.0  1600007     2462500   39842947.0
4     SH600008  23992716.0   87302630.0  1600008    23992216   87300815.0
...        ...         ...          ...      ...         ...          ...
1463  SH603993  43997730.0  169618191.0  1603993    43994730  169606701.0
1464  SH603996   1451276.0    7059629.0  1603996     1441276    7011129.0
1465  SH603997   1837283.0   13938860.0  1603997     1836883   13935848.0
1466  SH603998   5369531.0   35796850.0  1603998     5369031   35793525.0
1467  SH603999   4412404.0   22802353.0  1603999     4411304   22796710.0

[1468 rows x 6 columns]

2019-07-18
trade finished
0:03:43.059544
0:00:11.057148
20190719 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

set()

            ID  max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000  19619622.0  227078769.0  1600000    19617881  227058608.0
1     SH600004   7810105.0  133148449.0  1600004     7809105  133131559.0
2     SH600006  18896001.0   96822993.0  1600006    18891001   96797593.0
3     SH600007   2512443.0   40551827.0  1600007     2510743   40524542.0
4     SH600008  20223628.0   73947550.0  1600008    20207628   73889310.0
...        ...         ...          ...      ...         ...          ...
1463  SH603993  50853678.0  197308738.0  1603993    50852478  197304082.0
1464  SH603996   3077117.0   15373625.0  1603996     3073217   15354164.0
1465  SH603997   1266542.0    9565115.0  1603997     1265242    9555313.0
1466  SH603998  10471651.0   71528118.0  1603998    10468151   71503898.0
1467  SH603999   2974868.0   15246410.0  1603999     2971468   15229002.0

[1468 rows x 6 columns]

            ID  max_volume   max_amount     skey  cum_volume   cum_amount
0     SH600000  19619622.0  227078769.0  1600000    19617881  227058608.0
1     SH600004   7810105.0  133148449.0  1600004     7809105  133131559.0
2     SH600006  18896001.0   96822993.0  1600006    18891001   96797593.0
3     SH600007   2512443.0   40551827.0  1600007     2510743   40524542.0
4     SH600008  20223628.0   73947550.0  1600008    20207628   73889310.0
...        ...         ...          ...      ...         ...          ...
1463  SH603993  50853678.0  197308738.0  1603993    50852478  197304082.0
1464  SH603996   3077117.0   15373625.0  1603996     3073217   15354164.0
1465  SH603997   1266542.0    9565115.0  1603997     1265242    9555313.0
1466  SH603998  10471651.0   71528118.0  1603998    10468151   71503898.0
1467  SH603999   2974868.0   15246410.0  1603999     2971468   15229002.0

[1468 rows x 6 columns]

2019-07-19
trade finished
0:03:34.912256
0:00:15.267282
20190722 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

2019-07-22
trade finished
0:04:47.892897
0:00:11.452718
20190723 unzip finished
2019-07-23
trade finished
0:03:30.118777
0:00:12.925584
20190724 unzip finished
2019-07-24
trade finished
0:04:08.417087
0:00:12.070414
20190725 unzip finished
2019-07-25
trade finished
0:03:41.752244
0:00:11.175434
20190726 unzip finished
2019-07-26
trade finished
0:03:30.766292
0:00:11.597291
20190729 unzip finished
2019-07-29
trade finished
0:03:38.770652
0:00:14.013458
20190730 unzip finished
2019-07-30
trade finished
0:03:36.698260
0:00:15.717785
20190731 unzip finished
2019-07-31
trade finished
0:03:36.487009
0:00:15.092394
20190801 unzip finished
2019-08-01
trade finished
0:03:58.987918
0:00:20.902101
20190802 unzip finished
2019-08-02
trade finished
0:04:55.301720
0:00:20.003209
20190805 unzip finished
2019-08-05
trade finished
0:04:20.248237
0:00:22.756243
20190806 unzip finished
2019-08-06
trade finished
0:05:18.489092
0:00:18.224009
20190807 unzip finished
2019-08-07
trade finished
0:04:12.856091
0:00:15.668794
20190808 unzip finished
2019-08-08
trade finished
0:03:44.749106
0:00:15.301363
20190809 unzip finished
2019-08-09
trade finished
0:03:49.704742
0:00:13.420552
20190812 unzip finished
2019-08-12
trade finished
0:03:28.276016
0:00:13.589071
20190813 unzip finished
2019-08-13
trade finished
0:03:41.102808
0:00:18.179615
20190814 unzip finished
2019-08-14
trade finished
0:03:41.323107
0:00:17.357551
20190815 unzip finished
2019-08-15
trade finished
0:03:53.082193
0:00:23.047334
20190816 unzip finished
2019-08-16
trade finished
0:04:02.089200
0:00:20.534783
20190819 unzip finished
2019-08-19
trade finished
0:04:47.829750
0:00:20.224991
20190820 unzip finished
2019-08-20
trade finished
0:04:20.726245
0:00:13.637649
20190821 unzip finished
2019-08-21
trade finished
0:03:51.324313
0:00:16.786292
20190822 unzip finished
2019-08-22
trade finished
0:03:47.837097
0:00:17.251767
20190823 unzip finished
2019-08-23
trade finished
0:03:53.700046
0:00:17.149193
20190826 unzip finished
2019-08-26
trade finished
0:03:55.008676
0:00:21.201519
20190827 unzip finished
2019-08-27
trade finished
0:04:40.584448
0:00:21.158640
20190828 unzip finished
2019-08-28
trade finished
0:04:14.813642
0:00:15.062794
20190829 unzip finished
2019-08-29
trade finished
0:04:14.829087
0:00:20.609482
20190830 unzip finished
2019-08-30
trade finished
0:04:42.479368
0:00:15.735840
20190902 unzip finished
2019-09-02
trade finished
0:04:38.421528
0:00:14.795908
20190903 unzip finished
2019-09-03
trade finished
0:04:26.348430
0:00:15.720667
20190904 unzip finished
2019-09-04
trade finished
0:04:43.386743
0:00:20.473003
20190905 unzip finished
2019-09-05
trade finished
0:06:09.668348
0:00:15.673847
20190906 unzip finished
2019-09-06
trade finished
0:04:48.366017
0:00:16.367590
20190909 unzip finished
2019-09-09
trade finished
0:05:01.611092
0:00:20.285097
20190910 unzip finished
2019-09-10
trade finished
0:05:04.074638
0:00:35.270756
20190911 unzip finished
2019-09-11
trade finished
0:04:56.253563
0:00:14.546378
20190912 unzip finished
2019-09-12
trade finished
0:04:10.641262
0:00:15.055571
20190916 unzip finished
2019-09-16
trade finished
0:04:31.323701
0:00:34.062285
20190917 unzip finished
2019-09-17
trade finished
0:04:56.611494
0:00:24.589744
20190918 unzip finished
2019-09-18
trade finished
0:04:04.088388
0:00:34.105877
20190919 unzip finished
2019-09-19
trade finished
0:03:58.324616
0:07:51.695233
20190920 unzip finished

ValueError: No objects to concatenate

In [1]:
import pymongo
import pandas as pd
import pickle
import datetime
import time
import gzip
import lzma
import pytz


def DB(host, db_name, user, passwd):
    auth_db = db_name if user not in ('admin', 'root') else 'admin'
    uri = 'mongodb://%s:%s@%s/?authSource=%s' % (user, passwd, host, auth_db)
    return DBObj(uri, db_name=db_name)


class DBObj(object):
    def __init__(self, uri, symbol_column='skey', db_name='white_db'):
        self.db_name = db_name
        self.uri = uri
        self.client = pymongo.MongoClient(self.uri)
        self.db = self.client[self.db_name]
        self.chunk_size = 20000
        self.symbol_column = symbol_column
        self.date_column = 'date'

    def parse_uri(self, uri):
        # mongodb://user:password@example.com
        return uri.strip().replace('mongodb://', '').strip('/').replace(':', ' ').replace('@', ' ').split(' ')

    def drop_table(self, table_name):
        self.db.drop_collection(table_name)

    def rename_table(self, old_table, new_table):
        self.db[old_table].rename(new_table)

    def write(self, table_name, df):
        if len(df) == 0: return

        multi_date = False

        if self.date_column in df.columns:
            date = str(df.head(1)[self.date_column].iloc[0])
            multi_date = len(df[self.date_column].unique()) > 1
        else:
            raise Exception('DataFrame should contain date column')

        collection = self.db[table_name]
        collection.create_index([('date', pymongo.ASCENDING), ('symbol', pymongo.ASCENDING)], background=True)
        collection.create_index([('symbol', pymongo.ASCENDING), ('date', pymongo.ASCENDING)], background=True)

        if multi_date:
            for (date, symbol), sub_df in df.groupby([self.date_column, self.symbol_column]):
                date = str(date)
                symbol = int(symbol)
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)
        else:
            for symbol, sub_df in df.groupby([self.symbol_column]):
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)

    def write_single(self, collection, date, symbol, df):
        for start in range(0, len(df), self.chunk_size):
            end = min(start + self.chunk_size, len(df))
            df_seg = df[start:end]
            version = 1
            seg = {'ver': version, 'data': self.ser(df_seg, version), 'date': date, 'symbol': symbol, 'start': start}
            collection.insert_one(seg)

    def build_query(self, start_date=None, end_date=None, symbol=None):
        query = {}

        def parse_date(x):
            if type(x) == str:
                if len(x) != 8:
                    raise Exception("`date` must be YYYYMMDD format")
                return x
            elif type(x) == datetime.datetime or type(x) == datetime.date:
                return x.strftime("%Y%m%d")
            elif type(x) == int:
                return parse_date(str(x))
            else:
                raise Exception("invalid `date` type: " + str(type(x)))

        if start_date is not None or end_date is not None:
            query['date'] = {}
            if start_date is not None:
                query['date']['$gte'] = parse_date(start_date)
            if end_date is not None:
                query['date']['$lte'] = parse_date(end_date)

        def parse_symbol(x):
            if type(x) == int:
                return x
            else:
                return int(x)

        if symbol:
            if type(symbol) == list or type(symbol) == tuple:
                query['symbol'] = {'$in': [parse_symbol(x) for x in symbol]}
            else:
                query['symbol'] = parse_symbol(symbol)

        return query

    def delete(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot delete the whole table')
            return None

        collection.delete_many(query)

    def read(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot read the whole table')
            return None

        segs = []
        for x in collection.find(query):
            x['data'] = self.deser(x['data'], x['ver'])
            segs.append(x)
        segs.sort(key=lambda x: (x['symbol'], x['date'], x['start']))
        return pd.concat([x['data'] for x in segs], ignore_index=True) if segs else None

    def list_tables(self):
        return self.db.collection_names()

    def list_dates(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]
        dates = set()
        if start_date is None:
            start_date = '00000000'
        if end_date is None:
            end_date = '99999999'
        for x in collection.find(self.build_query(start_date, end_date, symbol), {"date": 1, '_id': 0}):
            dates.add(x['date'])
        return sorted(list(dates))

    def ser(self, s, version):
        pickle_protocol = 4
        if version == 1:
            return gzip.compress(pickle.dumps(s, protocol=pickle_protocol), compresslevel=2)
        elif version == 2:
            return lzma.compress(pickle.dumps(s, protocol=pickle_protocol), preset=1)
        else:
            raise Exception('unknown version')

    def deser(self, s, version):
        def unpickle(s):
            return pickle.loads(s)

        if version == 1:
            return unpickle(gzip.decompress(s))
        elif version == 2:
            return unpickle(lzma.decompress(s))
        else:
            raise Exception('unknown version')


def patch_pandas_pickle():
    if pd.__version__ < '0.24':
        import sys
        from types import ModuleType
        from pandas.core.internals import BlockManager
        pkg_name = 'pandas.core.internals.managers'
        if pkg_name not in sys.modules:
            m = ModuleType(pkg_name)
            m.BlockManager = BlockManager
            sys.modules[pkg_name] = m
patch_pandas_pickle()

            
            
            
            
            
            
            
            
import pandas as pd
import random
import numpy as np
import glob
import os
import pickle
import datetime
import time
from decimal import Decimal, Context, ROUND_HALF_UP
pd.set_option("max_columns", 200)

startTm = datetime.datetime.now()
readPath = '/home/work516/day_stock/***'
dataPathLs = np.array(glob.glob(readPath))
dataPathLs = dataPathLs[[np.array([os.path.basename(i).split('.')[0][:2] == 'SH' for i in dataPathLs])]]
db = pd.DataFrame()
for p in dataPathLs:
    dayData = pd.read_csv(p, compression='gzip')
    db = pd.concat([db, dayData])
print(datetime.datetime.now() - startTm)

year = "2019"
startDate = '20190920'
endDate = '20191231'
readPath = '/mnt/usb/data/' + year + '/***/***'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([os.path.basename(i) for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]
date_list = pd.read_csv("/home/work516/KR_upload_code/trading_days.csv")

for data in dataPathLs:
    
    if len(np.array(glob.glob(data + '/SH/tick***'))) == 0:
        if int(os.path.basename(data)) not in date_list["Date"].values:
            continue
        else:
            print(os.path.basename(data) + " less data!!!!!!!!!!!!!!!!!")
            less.append(data)
            continue
    startTm = datetime.datetime.now()
    date = os.path.basename(data)
    rar_path = data + '/SH/tick.7z'
    path = '/mnt/e/unzip_data/2019/SH'
    path1 = path + '/' + date
    un_path = path1
    cmd = '7za x {} -o{}'.format(rar_path, un_path)
    os.system(cmd)
    print(datetime.datetime.now() - startTm)
    print(date + ' unzip finished')
    
    
    startTm = datetime.datetime.now()
    
    readPath = path1 + '/tick/***'
    dataPathLs = np.array(glob.glob(readPath))
    dateLs = np.array([int(os.path.basename(i).split('.')[0]) for i in dataPathLs])
    dataPathLs = dataPathLs[((dateLs >= 600000) & (dateLs <= 700000))]
    TradeLog = []
    ll = []
    
    for i in dataPathLs:
        try:
            df = pd.read_csv(i)
        except:
            print("empty data")
            print(i)
            ll.append(int(os.path.basename(i).split('.')[0]))
            continue
        df["SecurityID"] = int(os.path.basename(i).split('.')[0])
        TradeLog += [df]
    TradeLog = pd.concat(TradeLog).reset_index(drop=True)
    
    TradeLog["date"] = TradeLog["TradeTime"].iloc[0]//1000000000
    TradeLog = TradeLog.rename(columns={"TradeQty":"trade_qty", "TradePrice":"trade_price", 
                                        "TradeBSFlag":"trade_flag", "TradeAmount":"trade_money",
                                       "TradeIndex":"ApplSeqNum", "SellNo":"OfferApplSeqNum",
                                       "BuyNo":"BidApplSeqNum"})
    TradeLog["trade_type"] = 1
    TradeLog["skey"] = TradeLog["SecurityID"] + 1000000
    TradeLog["clockAtArrival"] = TradeLog["TradeTime"].astype(str).apply(lambda x: np.int64(datetime.datetime.strptime(x, '%Y%m%d%H%M%S%f').timestamp()*1e6))
    TradeLog['datetime'] = TradeLog["clockAtArrival"].apply(lambda x: datetime.datetime.fromtimestamp(x/1e6))
    TradeLog["time"] = (TradeLog['TradeTime'] - int(TradeLog['TradeTime'].iloc[0]//1000000000*1000000000)).astype(np.int64)*1000
    TradeLog["trade_flag"] = np.where(TradeLog["trade_flag"] == 'B', 1, np.where(
        TradeLog["trade_flag"] == 'S', 2, 0))
    for col in ["skey", "date", "ApplSeqNum", "BidApplSeqNum", "OfferApplSeqNum", "trade_qty", "trade_type", "trade_flag"]:
        TradeLog[col] = TradeLog[col].astype('int32')
    
    da_te = str(TradeLog["date"].iloc[0]) 
    da_te = da_te[:4] + '-' + da_te[4:6] + '-' + da_te[6:8]
    db1 = db[db["date"] == da_te]
    db1["max_volume"] = db1.groupby("ID")["d_volume"].transform("max")
    db1["max_amount"] = db1.groupby("ID")["d_amount"].transform("max")
    t1 = db1.groupby("ID")["max_volume", "max_amount"].first().reset_index()
    del db1
    t1["skey"] = t1["ID"].str[2:].astype(int) + 1000000
    trade1 = TradeLog[TradeLog["trade_type"] == 1].groupby("skey")["trade_qty"].sum().reset_index()
    trade1.columns=["skey", "cum_volume"]
    trade2 = TradeLog[TradeLog["trade_type"] == 1].groupby("skey")["trade_money"].sum().reset_index()
    trade2.columns=["skey", "cum_amount"]
    t2 = pd.merge(trade1, trade2, on="skey")
    re = pd.merge(t1, t2, on="skey", how="outer")
    re["cum_amount"] = re["cum_amount"].apply(lambda x: np.float(Decimal(round(x, 2)).normalize(Context(prec=len(str(x).split('.')[0]), rounding=ROUND_HALF_UP))))
    try:
        assert(t1.shape[0] == t2.shape[0])
        assert(re[re["cum_volume"] != re["max_volume"]].shape[0] == 0)
        assert(re[re["cum_amount"].round(2) != re["max_amount"]].shape[0] == 0)
    except:
        display(set(t1["skey"]) - set(t2["skey"]))
        display(re[re["cum_volume"] != re["max_volume"]])
        display(re[re["cum_amount"] != re["max_amount"]])
    del t1
    del t2
    del re
 
    TradeLog = TradeLog[["skey", "date", "time", "clockAtArrival", "datetime", "ApplSeqNum", "trade_type", "trade_flag",
                                                 "trade_price", "trade_qty", "BidApplSeqNum", "OfferApplSeqNum"]]
    print(da_te)
    print("trade finished")

    database_name = 'com_md_eq_cn'
    user = "zhenyuy"
    password = "bnONBrzSMGoE"

    db1 = DB("192.168.10.223", database_name, user, password)
    db1.write('md_trade', TradeLog)
    
    del TradeLog

    print(datetime.datetime.now() - startTm)

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:201: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.

0:03:01.194560
0:00:00.469572
20190920 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

2019-09-20
trade finished
0:04:23.932856
0:00:00.701912
20190923 unzip finished
2019-09-23
trade finished
0:05:11.438134
0:00:00.621234
20190924 unzip finished
2019-09-24
trade finished
0:04:11.813669
0:00:00.449728
20190925 unzip finished
2019-09-25
trade finished
0:04:18.285278
0:00:00.479478
20190926 unzip finished
2019-09-26
trade finished
0:04:39.642254
0:00:00.528278
20190927 unzip finished
2019-09-27
trade finished
0:03:40.019573
0:00:00.740887
20190930 unzip finished
2019-09-30
trade finished
0:03:18.672932
0:00:00.487055
20191008 unzip finished
2019-10-08
trade finished
0:03:22.234544
0:00:00.472282
20191009 unzip finished
2019-10-09
trade finished
0:03:23.006316
0:00:00.697455
20191010 unzip finished
2019-10-10
trade finished
0:03:27.478352
0:00:00.506508
20191011 unzip finished
2019-10-11
trade finished
0:03:45.104656
0:00:00.569008
20191014 unzip finished
2019-10-14
trade finished
0:04:19.109011
0:00:00.524373
20191015 unzip finished
2019-10-15
trade finished
0:03:47.242298
0:00:00.502094
20191016 unzip finished
2019-10-16
trade finished
0:04:51.867238
0:00:00.437730
20191017 unzip finished
2019-10-17
trade finished
0:03:22.256692
0:00:00.762743
20191018 unzip finished
2019-10-18
trade finished
0:03:41.271092
0:00:00.532123
20191021 unzip finished
2019-10-21
trade finished
0:03:40.606295
0:00:00.485523
20191022 unzip finished
2019-10-22
trade finished
0:03:20.446508
0:00:00.678964
20191023 unzip finished
2019-10-23
trade finished
0:03:13.023337
0:00:00.497890
20191024 unzip finished
2019-10-24
trade finished
0:03:38.570198
0:00:01.757253
20191025 unzip finished
2019-10-25
trade finished
0:04:11.992970
0:00:00.520035
20191028 unzip finished
2019-10-28
trade finished
0:04:49.879486
0:00:00.654022
20191029 unzip finished
2019-10-29
trade finished
0:04:30.453261
0:00:00.653731
20191030 unzip finished
2019-10-30
trade finished
0:04:00.031250
0:00:13.585963
20191031 unzip finished
2019-10-31
trade finished
0:03:54.067561
0:00:12.941137
20191101 unzip finished
2019-11-01
trade finished
0:03:43.982208
0:00:25.328457
20191104 unzip finished
2019-11-04
trade finished
0:03:49.079204
0:00:13.443068
20191105 unzip finished
2019-11-05
trade finished
0:03:57.977967
0:00:12.953540
20191106 unzip finished
2019-11-06
trade finished
0:03:56.672360
0:00:16.499983
20191107 unzip finished
2019-11-07
trade finished
0:03:27.099633
0:00:13.038288
20191108 unzip finished
2019-11-08
trade finished
0:03:35.829597
0:00:12.832457
20191111 unzip finished
2019-11-11
trade finished
0:03:48.167755
0:00:10.954268
20191112 unzip finished
2019-11-12
trade finished
0:03:33.012890
0:00:10.530004
20191113 unzip finished
2019-11-13
trade finished
0:03:13.708696
0:00:10.339428
20191114 unzip finished
2019-11-14
trade finished
0:03:13.602224
0:00:12.803685
20191115 unzip finished
2019-11-15
trade finished
0:03:26.564645
0:00:10.814145
20191118 unzip finished
2019-11-18
trade finished
0:03:14.930732
0:00:11.381934
20191119 unzip finished
2019-11-19
trade finished
0:03:07.753200
0:00:10.667559
20191120 unzip finished
2019-11-20
trade finished
0:03:21.195166
0:00:10.302582
20191121 unzip finished
2019-11-21
trade finished
0:02:59.190880
0:00:12.117190
20191122 unzip finished
2019-11-22
trade finished
0:03:34.493409
0:00:11.608299
20191125 unzip finished
2019-11-25
trade finished
0:03:30.971889
0:00:12.188760
20191126 unzip finished
2019-11-26
trade finished
0:03:29.211261
0:00:10.946680
20191127 unzip finished
2019-11-27
trade finished
0:03:06.525455
0:00:10.070492
20191128 unzip finished
2019-11-28
trade finished
0:02:54.603977
0:00:12.332259
20191129 unzip finished
2019-11-29
trade finished
0:03:09.008319
0:00:11.313373
20191202 unzip finished
2019-12-02
trade finished
0:03:04.842803
0:00:10.000177
20191203 unzip finished
2019-12-03
trade finished
0:03:02.003197
0:00:10.355394
20191204 unzip finished
2019-12-04
trade finished
0:03:06.805686
0:00:12.033923
20191205 unzip finished
2019-12-05
trade finished
0:03:23.581291
0:00:11.995933
20191206 unzip finished
2019-12-06
trade finished
0:03:11.310477
0:00:12.049215
20191209 unzip finished
2019-12-09
trade finished
0:03:38.744361
0:00:12.953470
20191210 unzip finished
2019-12-10
trade finished
0:04:10.533342
0:00:12.093146
20191211 unzip finished
2019-12-11
trade finished
0:03:53.172502
0:00:12.156680
20191212 unzip finished
2019-12-12
trade finished
0:03:34.895035
0:00:13.999349
20191213 unzip finished
2019-12-13
trade finished
0:04:21.481049
0:00:14.362811
20191216 unzip finished
2019-12-16
trade finished
0:04:25.585702
0:00:17.479775
20191217 unzip finished
2019-12-17
trade finished
0:05:27.257918
0:00:17.216269
20191218 unzip finished
2019-12-18
trade finished
0:04:48.985692
0:00:14.377716
20191219 unzip finished
2019-12-19
trade finished
0:04:20.414543
0:00:19.268156
20191220 unzip finished
2019-12-20
trade finished
0:04:40.756650
0:00:14.480259
20191223 unzip finished
2019-12-23
trade finished
0:04:25.579586
0:00:11.964022
20191224 unzip finished
2019-12-24
trade finished
0:03:29.433239
0:00:12.547080
20191225 unzip finished
2019-12-25
trade finished
0:03:43.657594
0:00:12.867252
20191226 unzip finished
2019-12-26
trade finished
0:03:39.130103
0:00:16.719606
20191227 unzip finished
2019-12-27
trade finished
0:04:36.820320
0:00:16.593803
20191230 unzip finished
2019-12-30
trade finished
0:04:37.468249
0:00:13.477241
20191231 unzip finished
2019-12-31
trade finished
0:04:09.551373

In [1]:
import pymongo
import pandas as pd
import pickle
import datetime
import time
import gzip
import lzma
import pytz


def DB(host, db_name, user, passwd):
    auth_db = db_name if user not in ('admin', 'root') else 'admin'
    uri = 'mongodb://%s:%s@%s/?authSource=%s' % (user, passwd, host, auth_db)
    return DBObj(uri, db_name=db_name)


class DBObj(object):
    def __init__(self, uri, symbol_column='skey', db_name='white_db'):
        self.db_name = db_name
        self.uri = uri
        self.client = pymongo.MongoClient(self.uri)
        self.db = self.client[self.db_name]
        self.chunk_size = 20000
        self.symbol_column = symbol_column
        self.date_column = 'date'

    def parse_uri(self, uri):
        # mongodb://user:password@example.com
        return uri.strip().replace('mongodb://', '').strip('/').replace(':', ' ').replace('@', ' ').split(' ')

    def drop_table(self, table_name):
        self.db.drop_collection(table_name)

    def rename_table(self, old_table, new_table):
        self.db[old_table].rename(new_table)

    def write(self, table_name, df):
        if len(df) == 0: return

        multi_date = False

        if self.date_column in df.columns:
            date = str(df.head(1)[self.date_column].iloc[0])
            multi_date = len(df[self.date_column].unique()) > 1
        else:
            raise Exception('DataFrame should contain date column')

        collection = self.db[table_name]
        collection.create_index([('date', pymongo.ASCENDING), ('symbol', pymongo.ASCENDING)], background=True)
        collection.create_index([('symbol', pymongo.ASCENDING), ('date', pymongo.ASCENDING)], background=True)

        if multi_date:
            for (date, symbol), sub_df in df.groupby([self.date_column, self.symbol_column]):
                date = str(date)
                symbol = int(symbol)
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)
        else:
            for symbol, sub_df in df.groupby([self.symbol_column]):
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)

    def write_single(self, collection, date, symbol, df):
        for start in range(0, len(df), self.chunk_size):
            end = min(start + self.chunk_size, len(df))
            df_seg = df[start:end]
            version = 1
            seg = {'ver': version, 'data': self.ser(df_seg, version), 'date': date, 'symbol': symbol, 'start': start}
            collection.insert_one(seg)

    def build_query(self, start_date=None, end_date=None, symbol=None):
        query = {}

        def parse_date(x):
            if type(x) == str:
                if len(x) != 8:
                    raise Exception("`date` must be YYYYMMDD format")
                return x
            elif type(x) == datetime.datetime or type(x) == datetime.date:
                return x.strftime("%Y%m%d")
            elif type(x) == int:
                return parse_date(str(x))
            else:
                raise Exception("invalid `date` type: " + str(type(x)))

        if start_date is not None or end_date is not None:
            query['date'] = {}
            if start_date is not None:
                query['date']['$gte'] = parse_date(start_date)
            if end_date is not None:
                query['date']['$lte'] = parse_date(end_date)

        def parse_symbol(x):
            if type(x) == int:
                return x
            else:
                return int(x)

        if symbol:
            if type(symbol) == list or type(symbol) == tuple:
                query['symbol'] = {'$in': [parse_symbol(x) for x in symbol]}
            else:
                query['symbol'] = parse_symbol(symbol)

        return query

    def delete(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot delete the whole table')
            return None

        collection.delete_many(query)

    def read(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot read the whole table')
            return None

        segs = []
        for x in collection.find(query):
            x['data'] = self.deser(x['data'], x['ver'])
            segs.append(x)
        segs.sort(key=lambda x: (x['symbol'], x['date'], x['start']))
        return pd.concat([x['data'] for x in segs], ignore_index=True) if segs else None

    def list_tables(self):
        return self.db.collection_names()

    def list_dates(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]
        dates = set()
        if start_date is None:
            start_date = '00000000'
        if end_date is None:
            end_date = '99999999'
        for x in collection.find(self.build_query(start_date, end_date, symbol), {"date": 1, '_id': 0}):
            dates.add(x['date'])
        return sorted(list(dates))

    def ser(self, s, version):
        pickle_protocol = 4
        if version == 1:
            return gzip.compress(pickle.dumps(s, protocol=pickle_protocol), compresslevel=2)
        elif version == 2:
            return lzma.compress(pickle.dumps(s, protocol=pickle_protocol), preset=1)
        else:
            raise Exception('unknown version')

    def deser(self, s, version):
        def unpickle(s):
            return pickle.loads(s)

        if version == 1:
            return unpickle(gzip.decompress(s))
        elif version == 2:
            return unpickle(lzma.decompress(s))
        else:
            raise Exception('unknown version')


def patch_pandas_pickle():
    if pd.__version__ < '0.24':
        import sys
        from types import ModuleType
        from pandas.core.internals import BlockManager
        pkg_name = 'pandas.core.internals.managers'
        if pkg_name not in sys.modules:
            m = ModuleType(pkg_name)
            m.BlockManager = BlockManager
            sys.modules[pkg_name] = m
patch_pandas_pickle()

            
            
            
            
            
            
            
            
import pandas as pd
import random
import numpy as np
import glob
import os
import pickle
import datetime
import time
from decimal import Decimal, Context, ROUND_HALF_UP
pd.set_option("max_columns", 200)

startTm = datetime.datetime.now()
readPath = '/home/work516/day_stock/***'
dataPathLs = np.array(glob.glob(readPath))
dataPathLs = dataPathLs[[np.array([os.path.basename(i).split('.')[0][:2] == 'SH' for i in dataPathLs])]]
db = pd.DataFrame()
for p in dataPathLs:
    dayData = pd.read_csv(p, compression='gzip')
    db = pd.concat([db, dayData])
print(datetime.datetime.now() - startTm)

year = "2019"
startDate = '20190401'
endDate = '20190719'
readPath = '/home/work516/KR_upload_code/' + year + '/***/***'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([os.path.basename(i) for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]
date_list = pd.read_csv("/home/work516/KR_upload_code/trading_days.csv")
less = []
date_list = pd.read_csv("/home/work516/KR_upload_code/trading_days.csv")

for data in dataPathLs:
    
    if len(np.array(glob.glob(data + '/SH/***'))) == 0:
        if int(os.path.basename(data)) not in date_list["Date"].values:
            continue
        else:
            print(os.path.basename(data) + " less data!!!!!!!!!!!!!!!!!")
            less.append(data)
            continue
    startTm = datetime.datetime.now()
    date = os.path.basename(data)
    rar_path = data + '/SH/tick.7z'
    path = '/mnt/e/unzip_data/2019/SH'
    path1 = path + '/' + date
    un_path = path1
    cmd = '7za x {} -o{}'.format(rar_path, un_path)
    os.system(cmd)
    print(datetime.datetime.now() - startTm)
    print(date + ' unzip finished')
    
    
    startTm = datetime.datetime.now()
    
    readPath = path1 + '/tick/***'
    dataPathLs = np.array(glob.glob(readPath))
    dateLs = np.array([int(os.path.basename(i).split('.')[0]) for i in dataPathLs])
    dataPathLs = dataPathLs[((dateLs >= 600000) & (dateLs <= 700000))]
    TradeLog = []
    ll = []
    
    for i in dataPathLs:
        try:
            df = pd.read_csv(i)
        except:
            print("empty data")
            print(i)
            ll.append(int(os.path.basename(i).split('.')[0]))
            continue
        df["SecurityID"] = int(os.path.basename(i).split('.')[0])
        TradeLog += [df]
    TradeLog = pd.concat(TradeLog).reset_index(drop=True)
    
    TradeLog["date"] = TradeLog["TradeTime"].iloc[0]//1000000000
    TradeLog = TradeLog.rename(columns={"TradeQty":"trade_qty", "TradePrice":"trade_price", 
                                        "TradeBSFlag":"trade_flag", "TradeAmount":"trade_money",
                                       "TradeIndex":"ApplSeqNum", "SellNo":"OfferApplSeqNum",
                                       "BuyNo":"BidApplSeqNum"})
    TradeLog["trade_type"] = 1
    TradeLog["skey"] = TradeLog["SecurityID"] + 1000000
    TradeLog["clockAtArrival"] = TradeLog["TradeTime"].astype(str).apply(lambda x: np.int64(datetime.datetime.strptime(x, '%Y%m%d%H%M%S%f').timestamp()*1e6))
    TradeLog['datetime'] = TradeLog["clockAtArrival"].apply(lambda x: datetime.datetime.fromtimestamp(x/1e6))
    TradeLog["time"] = (TradeLog['TradeTime'] - int(TradeLog['TradeTime'].iloc[0]//1000000000*1000000000)).astype(np.int64)*1000
    TradeLog["trade_flag"] = np.where(TradeLog["trade_flag"] == 'B', 1, np.where(
        TradeLog["trade_flag"] == 'S', 2, 0))
    for col in ["skey", "date", "ApplSeqNum", "BidApplSeqNum", "OfferApplSeqNum", "trade_qty", "trade_type", "trade_flag"]:
        TradeLog[col] = TradeLog[col].astype('int32')
    
    da_te = str(TradeLog["date"].iloc[0]) 
    da_te = da_te[:4] + '-' + da_te[4:6] + '-' + da_te[6:8]
    db1 = db[db["date"] == da_te]
    db1["max_volume"] = db1.groupby("ID")["d_volume"].transform("max")
    db1["max_amount"] = db1.groupby("ID")["d_amount"].transform("max")
    t1 = db1.groupby("ID")["max_volume", "max_amount"].first().reset_index()
    del db1
    t1["skey"] = t1["ID"].str[2:].astype(int) + 1000000
    trade1 = TradeLog[TradeLog["trade_type"] == 1].groupby("skey")["trade_qty"].sum().reset_index()
    trade1.columns=["skey", "cum_volume"]
    trade2 = TradeLog[TradeLog["trade_type"] == 1].groupby("skey")["trade_money"].sum().reset_index()
    trade2.columns=["skey", "cum_amount"]
    t2 = pd.merge(trade1, trade2, on="skey")
    re = pd.merge(t1, t2, on="skey", how="outer")
    re["cum_amount"] = re["cum_amount"].apply(lambda x: np.float(Decimal(round(x, 2)).normalize(Context(prec=len(str(x).split('.')[0]), rounding=ROUND_HALF_UP))))
    try:
        assert(t1.shape[0] == t2.shape[0])
        assert(re[re["cum_volume"] != re["max_volume"]].shape[0] == 0)
        assert(re[re["cum_amount"].round(2) != re["max_amount"]].shape[0] == 0)
    except:
        display(set(t1["skey"]) - set(t2["skey"]))
        display(re[re["cum_volume"] != re["max_volume"]])
        display(re[re["cum_amount"] != re["max_amount"]])
    del t1
    del t2
    del re
 
    TradeLog = TradeLog[["skey", "date", "time", "clockAtArrival", "datetime", "ApplSeqNum", "trade_type", "trade_flag",
                                                 "trade_price", "trade_qty", "BidApplSeqNum", "OfferApplSeqNum"]]
    print(da_te)
    print("trade finished")

    database_name = 'com_md_eq_cn'
    user = "zhenyuy"
    password = "bnONBrzSMGoE"

    db1 = DB("192.168.10.178", database_name, user, password)
    db1.write('md_trade', TradeLog)
    
    del TradeLog

    print(datetime.datetime.now() - startTm)
print(less)

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:201: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.

0:02:55.676534
0:00:21.767736
20190401 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:279: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:280: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

2019-04-01
trade finished
0:07:33.106079
0:00:22.271889
20190402 unzip finished
2019-04-02
trade finished
0:07:53.292220
0:00:21.232487
20190403 unzip finished
2019-04-03
trade finished
0:07:15.396660
0:00:20.860937
20190404 unzip finished
2019-04-04
trade finished
0:07:26.543322
0:00:22.200233
20190408 unzip finished
2019-04-08
trade finished
0:08:02.725397
0:00:19.448650
20190409 unzip finished
2019-04-09
trade finished
0:06:39.513227
0:00:20.278281
20190410 unzip finished
2019-04-10
trade finished
0:06:23.420210
0:00:21.696038
20190411 unzip finished
2019-04-11
trade finished
0:06:21.283173
0:00:15.741313
20190412 unzip finished
2019-04-12
trade finished
0:05:06.416572
0:00:18.409034
20190415 unzip finished
2019-04-15
trade finished
0:05:55.835422
0:00:18.610369
20190416 unzip finished
2019-04-16
trade finished
0:06:02.924791
0:00:17.964691
20190417 unzip finished
2019-04-17
trade finished
0:06:02.547090
0:00:17.671205
20190418 unzip finished
2019-04-18
trade finished
0:05:59.222521
0:00:17.414646
20190419 unzip finished
2019-04-19
trade finished
0:05:45.743183
0:00:18.209807
20190422 unzip finished
2019-04-22
trade finished
0:06:01.299822
0:00:20.348474
20190423 unzip finished
2019-04-23
trade finished
0:05:45.003732
0:00:18.542102
20190424 unzip finished
2019-04-24
trade finished
0:05:17.534702
0:00:17.750578
20190425 unzip finished
2019-04-25
trade finished
0:05:50.720168
0:00:16.444124
20190426 unzip finished
2019-04-26
trade finished
0:05:21.103677
0:00:17.452205
20190429 unzip finished
2019-04-29
trade finished
0:05:43.190293
0:00:16.049221
20190430 unzip finished
2019-04-30
trade finished
0:04:50.474038
0:00:18.096973
20190506 unzip finished
2019-05-06
trade finished
0:06:15.208439
0:00:17.297415
20190507 unzip finished
2019-05-07
trade finished
0:05:17.310135
0:00:15.193636
20190508 unzip finished
2019-05-08
trade finished
0:04:44.519655
0:00:14.046832
20190509 unzip finished
2019-05-09
trade finished
0:04:10.777563
0:00:17.567890
20190510 unzip finished
2019-05-10
trade finished
0:05:24.048290
0:00:13.555899
20190513 unzip finished
2019-05-13
trade finished
0:04:27.241235
0:00:14.545679
20190514 unzip finished
2019-05-14
trade finished
0:04:32.956250
0:00:15.543331
20190515 unzip finished
2019-05-15
trade finished
0:04:23.749978
0:00:14.490982
20190516 unzip finished
2019-05-16
trade finished
0:04:36.296930
0:00:15.590510
20190517 unzip finished
2019-05-17
trade finished
0:05:29.798758
0:00:16.054950
20190520 unzip finished
2019-05-20
trade finished
0:04:22.012021
0:00:13.036393
20190521 unzip finished
2019-05-21
trade finished
0:04:16.756191
0:00:12.888154
20190522 unzip finished
2019-05-22
trade finished
0:04:10.931866
0:00:14.935910
20190523 unzip finished
2019-05-23
trade finished
0:04:04.784444
0:00:14.209822
20190524 unzip finished
2019-05-24
trade finished
0:03:38.041691
0:00:13.331839
20190527 unzip finished
2019-05-27
trade finished
0:04:06.527478
0:00:16.931980
20190528 unzip finished
2019-05-28
trade finished
0:04:26.424890
0:00:12.435229
20190529 unzip finished
2019-05-29
trade finished
0:04:15.151607
0:00:12.835292
20190530 unzip finished
2019-05-30
trade finished
0:04:09.165568
0:00:15.810300
20190531 unzip finished
2019-05-31
trade finished
0:04:29.323955
0:00:16.358863
20190603 unzip finished
2019-06-03
trade finished
0:04:46.002338
0:00:12.649764
20190604 unzip finished
2019-06-04
trade finished
0:04:11.366138
0:00:11.881507
20190605 unzip finished
2019-06-05
trade finished
0:03:56.416934
0:00:15.796757
20190606 unzip finished
2019-06-06
trade finished
0:03:52.707997
0:00:11.693823
20190610 unzip finished
2019-06-10
trade finished
0:03:50.670014
0:00:17.717910
20190611 unzip finished
2019-06-11
trade finished
0:05:06.063216
0:00:14.942429
20190612 unzip finished
2019-06-12
trade finished
0:04:49.812810
0:00:12.639217
20190613 unzip finished
2019-06-13
trade finished
0:04:23.076227
0:00:15.473014
20190614 unzip finished
2019-06-14
trade finished
0:04:40.848575
0:00:11.038460
20190617 unzip finished
2019-06-17
trade finished
0:03:43.652110
0:00:10.898022
20190618 unzip finished
2019-06-18
trade finished
0:03:27.536560
0:00:13.239204
20190619 unzip finished
2019-06-19
trade finished
0:04:16.488658
0:00:17.570580
20190620 unzip finished
2019-06-20
trade finished
0:05:12.071524
0:00:16.954117
20190621 unzip finished
2019-06-21
trade finished
0:05:23.896519
0:00:13.188691
20190624 unzip finished
2019-06-24
trade finished
0:04:22.095255
0:00:14.554889
20190625 unzip finished
2019-06-25
trade finished
0:04:42.957581
0:00:11.561171
20190626 unzip finished
2019-06-26
trade finished
0:03:44.478170
0:00:12.756772
20190627 unzip finished
2019-06-27
trade finished
0:03:58.002632
0:00:15.399838
20190628 unzip finished
2019-06-28
trade finished
0:03:46.858523
0:00:17.723529
20190701 unzip finished
2019-07-01
trade finished
0:04:33.154943
0:00:14.390967
20190702 unzip finished
2019-07-02
trade finished
0:04:39.570267
0:00:13.761231
20190703 unzip finished
2019-07-03
trade finished
0:04:22.685740
0:00:11.805594
20190704 unzip finished
2019-07-04
trade finished
0:04:03.637083
0:00:10.205824
20190705 unzip finished
2019-07-05
trade finished
0:03:15.988604
0:00:14.344147
20190708 unzip finished
2019-07-08
trade finished
0:04:19.392105
0:00:10.176201
20190709 unzip finished
2019-07-09
trade finished
0:03:23.261175
0:00:09.653437
20190710 unzip finished
2019-07-10
trade finished
0:03:17.618565
0:00:11.688267
20190711 unzip finished
2019-07-11
trade finished
0:03:24.372073
0:00:09.497872
20190712 unzip finished
2019-07-12
trade finished
0:03:08.582415
0:00:11.958705
20190715 unzip finished
2019-07-15
trade finished
0:03:55.051727
0:00:12.711649
20190716 unzip finished
2019-07-16
trade finished
0:03:18.140498
0:00:10.361829
20190717 unzip finished
2019-07-17
trade finished
0:03:45.564596
0:00:11.779743
20190718 unzip finished
2019-07-18
trade finished
0:03:37.476659
0:00:09.872938
20190719 unzip finished
2019-07-19
trade finished
0:03:34.385418
[]