In [1]:
import pymongo
import pandas as pd
import pickle
import datetime
import time
import gzip
import lzma
import pytz


def DB(host, db_name, user, passwd):
    auth_db = db_name if user not in ('admin', 'root') else 'admin'
    uri = 'mongodb://%s:%s@%s/?authSource=%s' % (user, passwd, host, auth_db)
    return DBObj(uri, db_name=db_name)


class DBObj(object):
    def __init__(self, uri, symbol_column='skey', db_name='white_db'):
        self.db_name = db_name
        self.uri = uri
        self.client = pymongo.MongoClient(self.uri)
        self.db = self.client[self.db_name]
        self.chunk_size = 20000
        self.symbol_column = symbol_column
        self.date_column = 'date'

    def parse_uri(self, uri):
        # mongodb://user:password@example.com
        return uri.strip().replace('mongodb://', '').strip('/').replace(':', ' ').replace('@', ' ').split(' ')

    def drop_table(self, table_name):
        self.db.drop_collection(table_name)

    def rename_table(self, old_table, new_table):
        self.db[old_table].rename(new_table)

    def write(self, table_name, df):
        if len(df) == 0: return

        multi_date = False

        if self.date_column in df.columns:
            date = str(df.head(1)[self.date_column].iloc[0])
            multi_date = len(df[self.date_column].unique()) > 1
        else:
            raise Exception('DataFrame should contain date column')

        collection = self.db[table_name]
        collection.create_index([('date', pymongo.ASCENDING), ('symbol', pymongo.ASCENDING)], background=True)
        collection.create_index([('symbol', pymongo.ASCENDING), ('date', pymongo.ASCENDING)], background=True)

        if multi_date:
            for (date, symbol), sub_df in df.groupby([self.date_column, self.symbol_column]):
                date = str(date)
                symbol = int(symbol)
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)
        else:
            for symbol, sub_df in df.groupby([self.symbol_column]):
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)

    def write_single(self, collection, date, symbol, df):
        for start in range(0, len(df), self.chunk_size):
            end = min(start + self.chunk_size, len(df))
            df_seg = df[start:end]
            version = 1
            seg = {'ver': version, 'data': self.ser(df_seg, version), 'date': date, 'symbol': symbol, 'start': start}
            collection.insert_one(seg)

    def build_query(self, start_date=None, end_date=None, symbol=None):
        query = {}

        def parse_date(x):
            if type(x) == str:
                if len(x) != 8:
                    raise Exception("`date` must be YYYYMMDD format")
                return x
            elif type(x) == datetime.datetime or type(x) == datetime.date:
                return x.strftime("%Y%m%d")
            elif type(x) == int:
                return parse_date(str(x))
            else:
                raise Exception("invalid `date` type: " + str(type(x)))

        if start_date is not None or end_date is not None:
            query['date'] = {}
            if start_date is not None:
                query['date']['$gte'] = parse_date(start_date)
            if end_date is not None:
                query['date']['$lte'] = parse_date(end_date)

        def parse_symbol(x):
            if type(x) == int:
                return x
            else:
                return int(x)

        if symbol:
            if type(symbol) == list or type(symbol) == tuple:
                query['symbol'] = {'$in': [parse_symbol(x) for x in symbol]}
            else:
                query['symbol'] = parse_symbol(symbol)

        return query

    def delete(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot delete the whole table')
            return None

        collection.delete_many(query)

    def read(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot read the whole table')
            return None

        segs = []
        for x in collection.find(query):
            x['data'] = self.deser(x['data'], x['ver'])
            segs.append(x)
        segs.sort(key=lambda x: (x['symbol'], x['date'], x['start']))
        return pd.concat([x['data'] for x in segs], ignore_index=True) if segs else None

    def list_tables(self):
        return self.db.collection_names()

    def list_dates(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]
        dates = set()
        if start_date is None:
            start_date = '00000000'
        if end_date is None:
            end_date = '99999999'
        for x in collection.find(self.build_query(start_date, end_date, symbol), {"date": 1, '_id': 0}):
            dates.add(x['date'])
        return sorted(list(dates))

    def ser(self, s, version):
        pickle_protocol = 4
        if version == 1:
            return gzip.compress(pickle.dumps(s, protocol=pickle_protocol), compresslevel=2)
        elif version == 2:
            return lzma.compress(pickle.dumps(s, protocol=pickle_protocol), preset=1)
        else:
            raise Exception('unknown version')

    def deser(self, s, version):
        def unpickle(s):
            return pickle.loads(s)

        if version == 1:
            return unpickle(gzip.decompress(s))
        elif version == 2:
            return unpickle(lzma.decompress(s))
        else:
            raise Exception('unknown version')


def patch_pandas_pickle():
    if pd.__version__ < '0.24':
        import sys
        from types import ModuleType
        from pandas.core.internals import BlockManager
        pkg_name = 'pandas.core.internals.managers'
        if pkg_name not in sys.modules:
            m = ModuleType(pkg_name)
            m.BlockManager = BlockManager
            sys.modules[pkg_name] = m
patch_pandas_pickle()


            
            
            
            
            
            
            
            
import pandas as pd
import random
import numpy as np
import glob
import os
import pickle
import datetime
import time
pd.set_option("max_columns", 200)

startTm = datetime.datetime.now()
readPath = '/home/work516/day_stock/***'
dataPathLs = np.array(glob.glob(readPath))
dataPathLs = dataPathLs[[np.array([os.path.basename(i).split('.')[0][:2] == 'SZ' for i in dataPathLs])]]
db = pd.DataFrame()
for p in dataPathLs:
    dayData = pd.read_csv(p, compression='gzip')
    db = pd.concat([db, dayData])
print(datetime.datetime.now() - startTm)

year = "2017"
startDate = '20170901'
endDate = '20171231'
readPath = '/mnt/usb/data/' + year + '/***/***'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([os.path.basename(i) for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]

for data in dataPathLs:
    
    if len(np.array(glob.glob(data + '/SZ/***'))) == 0:
        if int(os.path.basename(data)) not in date_list["Date"].values:
            continue
        else:
            print(os.path.basename(data) + " less data!!!!!!!!!!!!!!!!!")
            less.append(data)
            continue
    startTm = datetime.datetime.now()
    date = os.path.basename(data)
    rar_path = data + '/SZ/tick.7z'
    path = '/mnt/e/unzip_data/2017/SZ'
    path1 = path + '/' + date
    un_path = path1
    cmd = '7za x {} -o{}'.format(rar_path, un_path)
    os.system(cmd)
    print(datetime.datetime.now() - startTm)
    print(date + ' unzip finished')
    
    
    startTm = datetime.datetime.now()
    
    readPath = path1 + '/tick/***'
    dataPathLs = np.array(glob.glob(readPath))
    dateLs = np.array([int(os.path.basename(i).split('.')[0]) for i in dataPathLs])
    dataPathLs = dataPathLs[(dateLs < 4000) | ((dateLs > 300000) & (dateLs < 310000))]
    TradeLog = []
    ll = []
    
    for i in dataPathLs:
        try:
            df = pd.read_csv(i)
        except:
            print("empty data")
            print(i)
            ll.append(int(os.path.basename(i).split('.')[0]))
            continue
        df["SecurityID"] = int(os.path.basename(i).split('.')[0])
        TradeLog += [df]
    TradeLog = pd.concat(TradeLog).reset_index(drop=True)
    TradeLog = TradeLog[TradeLog["ChannelNo"] != 4001]
    
    TradeLog["date"] = TradeLog["TransactTime"].iloc[0]//1000000000
    TradeLog = TradeLog.rename(columns={"Qty":"trade_qty", "Price":"trade_price", "ExecType":"trade_type"})
    TradeLog["trade_money"] = TradeLog["trade_price"] * TradeLog["trade_qty"]
    TradeLog["trade_flag"] = 0
    TradeLog["skey"] = TradeLog["SecurityID"] + 2000000
    TradeLog["clockAtArrival"] = TradeLog["TransactTime"].astype(str).apply(lambda x: np.int64(datetime.datetime.strptime(x, '%Y%m%d%H%M%S%f').timestamp()*1e6))
    TradeLog['datetime'] = TradeLog["clockAtArrival"].apply(lambda x: datetime.datetime.fromtimestamp(x/1e6))
    TradeLog["time"] = (TradeLog['TransactTime'] - int(TradeLog['TransactTime'].iloc[0]//1000000000*1000000000)).astype(np.int64)*1000
    TradeLog["trade_type"] = np.where(TradeLog["trade_type"] == 'F', 1, TradeLog["trade_type"])
    for col in ["skey", "date", "ApplSeqNum", "BidApplSeqNum", "OfferApplSeqNum", "trade_qty", "trade_type", "trade_flag"]:
        TradeLog[col] = TradeLog[col].astype('int32')
#     for cols in ["trade_money", "trade_price"]:
#         display(cols)
#         display(TradeLog[cols].astype(str).apply(lambda x: len(str(x.split('.')[1]))).unique())
#         TradeLog[cols] = TradeLog[cols].round(2)
#         display(TradeLog[cols].astype(str).apply(lambda x: len(str(x.split('.')[1]))).unique())
    for cols in ["trade_money"]:
        TradeLog[cols] = TradeLog[cols].round(2)
    
    da_te = str(TradeLog["date"].iloc[0]) 
    da_te = da_te[:4] + '-' + da_te[4:6] + '-' + da_te[6:8]
    db1 = db[db["date"] == da_te]
    sl = (db1["ID"].str[2:].astype(int) + 2000000).unique()
    db1["max_volume"] = db1.groupby("ID")["d_volume"].transform("max")
    db1["max_amount"] = db1.groupby("ID")["d_amount"].transform("max")
    t1 = db1.groupby("ID")["max_volume", "max_amount"].first().reset_index()
    del db1
    t1["skey"] = t1["ID"].str[2:].astype(int) + 2000000
    trade1 = TradeLog[TradeLog["trade_type"] == 1].groupby("skey")["trade_qty"].sum().reset_index()
    trade1.columns=["skey", "cum_volume"]
    trade2 = TradeLog[TradeLog["trade_type"] == 1].groupby("skey")["trade_money"].sum().reset_index()
    trade2.columns=["skey", "cum_amount"]
    t2 = pd.merge(trade1, trade2, on="skey")
    re = pd.merge(t1, t2, on="skey", how="outer")
    try:
        assert(t1.shape[0] == t2.shape[0])
        assert(re[re["cum_volume"] != re["max_volume"]].shape[0] == 0)
        assert(re[re["cum_amount"].round(2) != re["max_amount"]].shape[0] == 0)
    except:
        display(set(t1["skey"]) - set(t2["skey"]))
        display(re[re["cum_volume"] != re["max_volume"]])
        display(re[re["cum_amount"].round(2) != re["max_amount"]])
    del t1
    del t2
    del re
 
    TradeLog = TradeLog[["skey", "date", "time", "clockAtArrival", "datetime", "ApplSeqNum", "trade_type", "trade_flag",
                                                 "trade_price", "trade_qty", "BidApplSeqNum", "OfferApplSeqNum"]]
    print(da_te)
    print("trade finished")


    database_name = 'com_md_eq_cn'
    user = "zhenyuy"
    password = "bnONBrzSMGoE"

    db1 = DB("192.168.10.223", database_name, user, password)
    db1.write('md_trade', TradeLog)    
    
    del TradeLog

    print(datetime.datetime.now() - startTm)

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:201: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.

0:05:55.845189
0:00:24.290625
20170901 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
419  SZ001872   4372936.0  1.212339e+08  2001872         NaN         NaN
421  SZ001914   2054600.0  2.177390e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
419  SZ001872   4372936.0  1.212339e+08  2001872         NaN         NaN
421  SZ001914   2054600.0  2.177390e+07  2001914         NaN         NaN

2017-09-01
trade finished
0:06:46.842450
0:00:22.102958
20170904 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
420  SZ001872   3227760.0  88303143.52  2001872         NaN         NaN
422  SZ001914   5077207.0  53105691.58  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
420  SZ001872   3227760.0  88303143.52  2001872         NaN         NaN
422  SZ001914   5077207.0  53105691.58  2001914         NaN         NaN

2017-09-04
trade finished
0:07:00.754234
0:00:30.106044
20170905 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
420  SZ001872   3047910.0  84165688.62  2001872         NaN         NaN
422  SZ001914   6230651.0  65943463.56  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
420  SZ001872   3047910.0  84165688.62  2001872         NaN         NaN
422  SZ001914   6230651.0  65943463.56  2001914         NaN         NaN

2017-09-05
trade finished
0:06:30.606912
0:00:21.644087
20170906 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
419  SZ001872   4041899.0  1.092865e+08  2001872         NaN         NaN
421  SZ001914   6813501.0  7.268040e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
419  SZ001872   4041899.0  1.092865e+08  2001872         NaN         NaN
421  SZ001914   6813501.0  7.268040e+07  2001914         NaN         NaN

2017-09-06
trade finished
0:06:53.063345
0:00:23.609337
20170907 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
416  SZ001872   3076021.0  82866226.03  2001872         NaN         NaN
418  SZ001914   5975401.0  63787706.63  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
416  SZ001872   3076021.0  82866226.03  2001872         NaN         NaN
418  SZ001914   5975401.0  63787706.63  2001914         NaN         NaN

2017-09-07
trade finished
0:07:30.929394
0:00:23.103738
20170908 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
416  SZ001872   4491791.0  1.225241e+08  2001872         NaN         NaN
418  SZ001914  10009107.0  1.071727e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
416  SZ001872   4491791.0  1.225241e+08  2001872         NaN         NaN
418  SZ001914  10009107.0  1.071727e+08  2001914         NaN         NaN

2017-09-08
trade finished
0:06:36.368026
0:00:20.736163
20170911 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
417  SZ001872   2500821.0  67786468.32  2001872         NaN         NaN
419  SZ001914   5203617.0  56037394.14  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
417  SZ001872   2500821.0  67786468.32  2001872         NaN         NaN
419  SZ001914   5203617.0  56037394.14  2001914         NaN         NaN

2017-09-11
trade finished
0:06:26.471104
0:00:24.081998
20170912 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
417  SZ001872   4695400.0  1.293077e+08  2001872         NaN         NaN
419  SZ001914   6575264.0  7.120556e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
417  SZ001872   4695400.0  1.293077e+08  2001872         NaN         NaN
419  SZ001914   6575264.0  7.120556e+07  2001914         NaN         NaN

2017-09-12
trade finished
0:08:22.366739
0:00:19.770456
20170913 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
417  SZ001872   2641151.0  70969652.88  2001872         NaN         NaN
419  SZ001914   4658400.0  49696389.00  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
417  SZ001872   2641151.0  70969652.88  2001872         NaN         NaN
419  SZ001914   4658400.0  49696389.00  2001914         NaN         NaN

2017-09-13
trade finished
0:06:20.682574
0:00:21.753572
20170914 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
417  SZ001872   2604478.0  70617893.67  2001872         NaN         NaN
419  SZ001914   6716022.0  72230180.61  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
417  SZ001872   2604478.0  70617893.67  2001872         NaN         NaN
419  SZ001914   6716022.0  72230180.61  2001914         NaN         NaN

2017-09-14
trade finished
0:06:52.569978
0:00:19.407892
20170915 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
417  SZ001872   2340400.0  6.274552e+07  2001872         NaN         NaN
419  SZ001914   9389884.0  1.021602e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
417  SZ001872   2340400.0  6.274552e+07  2001872         NaN         NaN
419  SZ001914   9389884.0  1.021602e+08  2001914         NaN         NaN

2017-09-15
trade finished
0:06:24.297027
0:00:18.584955
20170918 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
414  SZ001872   1729358.0  46302721.94  2001872         NaN         NaN
416  SZ001914   4372100.0  46743339.00  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
414  SZ001872   1729358.0  46302721.94  2001872         NaN         NaN
416  SZ001914   4372100.0  46743339.00  2001914         NaN         NaN

2017-09-18
trade finished
0:06:06.994726
0:00:20.019870
20170919 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
415  SZ001872   2905546.0  76983246.19  2001872         NaN         NaN
417  SZ001914   6972123.0  75498652.95  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
415  SZ001872   2905546.0  76983246.19  2001872         NaN         NaN
417  SZ001914   6972123.0  75498652.95  2001914         NaN         NaN

2017-09-19
trade finished
0:06:28.976528
0:00:21.058220
20170920 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
415  SZ001872   2466829.0  64997319.55  2001872         NaN         NaN
417  SZ001914   6383823.0  68071940.49  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
415  SZ001872   2466829.0  64997319.55  2001872         NaN         NaN
417  SZ001914   6383823.0  68071940.49  2001914         NaN         NaN

2017-09-20
trade finished
0:06:54.173814
0:00:47.376181
20170921 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
418  SZ001872   1907602.0  50107508.40  2001872         NaN         NaN
420  SZ001914   6784810.0  71473462.48  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
418  SZ001872   1907602.0  50107508.40  2001872         NaN         NaN
420  SZ001914   6784810.0  71473462.48  2001914         NaN         NaN

2017-09-21
trade finished
0:06:58.982389
0:00:23.019631
20170922 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
419  SZ001872   1674427.0  43696729.04  2001872         NaN         NaN
421  SZ001914   4670239.0  48991140.55  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
419  SZ001872   1674427.0  43696729.04  2001872         NaN         NaN
421  SZ001914   4670239.0  48991140.55  2001914         NaN         NaN

2017-09-22
trade finished
0:06:22.649514
0:00:20.232015
20170925 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
419  SZ001872   2457500.0  62951428.19  2001872         NaN         NaN
421  SZ001914   3082285.0  32351632.23  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
419  SZ001872   2457500.0  62951428.19  2001872         NaN         NaN
421  SZ001914   3082285.0  32351632.23  2001914         NaN         NaN

2017-09-25
trade finished
0:06:09.244383
0:00:18.357537
20170926 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
420  SZ001872   1196143.0  30393362.20  2001872         NaN         NaN
422  SZ001914   3170100.0  33266151.92  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
420  SZ001872   1196143.0  30393362.20  2001872         NaN         NaN
422  SZ001914   3170100.0  33266151.92  2001914         NaN         NaN

2017-09-26
trade finished
0:05:54.699030
0:00:20.169563
20170927 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
420  SZ001872   1198864.0  30493017.48  2001872         NaN         NaN
422  SZ001914   1744302.0  18351513.97  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
420  SZ001872   1198864.0  30493017.48  2001872         NaN         NaN
422  SZ001914   1744302.0  18351513.97  2001914         NaN         NaN

2017-09-27
trade finished
0:05:49.197364
0:00:18.561906
20170928 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001872   2666104.0  67005964.79  2001872         NaN         NaN
423  SZ001914   3816323.0  40528904.46  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001872   2666104.0  67005964.79  2001872         NaN         NaN
423  SZ001914   3816323.0  40528904.46  2001914         NaN         NaN

2017-09-28
trade finished
0:05:52.968622
0:00:19.497221
20170929 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
419  SZ001872   2226961.0  56555194.89  2001872         NaN         NaN
421  SZ001914   5102963.0  54256092.64  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
419  SZ001872   2226961.0  56555194.89  2001872         NaN         NaN
421  SZ001914   5102963.0  54256092.64  2001914         NaN         NaN

2017-09-29
trade finished
0:05:53.923405
0:00:34.990753
20171009 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
418  SZ001872   1705955.0  43949990.15  2001872         NaN         NaN
420  SZ001914   2891330.0  30625916.53  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
418  SZ001872   1705955.0  43949990.15  2001872         NaN         NaN
420  SZ001914   2891330.0  30625916.53  2001914         NaN         NaN

2017-10-09
trade finished
0:06:24.926761
0:00:37.660318
20171010 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
418  SZ001872   1478850.0  38271586.5  2001872         NaN         NaN
420  SZ001914   2497210.0  26426161.8  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
418  SZ001872   1478850.0  38271586.5  2001872         NaN         NaN
420  SZ001914   2497210.0  26426161.8  2001914         NaN         NaN

2017-10-10
trade finished
0:07:01.213864
0:00:23.491209
20171011 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
419  SZ001872   5642190.0  1.507661e+08  2001872         NaN         NaN
421  SZ001914   5235600.0  5.575700e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
419  SZ001872   5642190.0  1.507661e+08  2001872         NaN         NaN
421  SZ001914   5235600.0  5.575700e+07  2001914         NaN         NaN

2017-10-11
trade finished
0:07:31.666897
0:00:27.760716
20171012 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
419  SZ001872   2731110.0  72505194.47  2001872         NaN         NaN
421  SZ001914   4058800.0  43259958.00  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
419  SZ001872   2731110.0  72505194.47  2001872         NaN         NaN
421  SZ001914   4058800.0  43259958.00  2001914         NaN         NaN

2017-10-12
trade finished
0:06:46.987292
0:00:19.396435
20171013 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
420  SZ001872   2818589.0  75483767.19  2001872         NaN         NaN
422  SZ001914   2586511.0  27410527.34  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
420  SZ001872   2818589.0  75483767.19  2001872         NaN         NaN
422  SZ001914   2586511.0  27410527.34  2001914         NaN         NaN

2017-10-13
trade finished
0:06:28.801551
0:00:23.438599
20171016 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
418  SZ001872   3050017.0  82038252.36  2001872         NaN         NaN
420  SZ001914   5449011.0  56589348.15  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
418  SZ001872   3050017.0  82038252.36  2001872         NaN         NaN
420  SZ001914   5449011.0  56589348.15  2001914         NaN         NaN

2017-10-16
trade finished
0:07:20.420408
0:00:22.227023
20171017 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
417  SZ001872   1240804.0  32726252.73  2001872         NaN         NaN
419  SZ001914   3255500.0  33197055.00  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
417  SZ001872   1240804.0  32726252.73  2001872         NaN         NaN
419  SZ001914   3255500.0  33197055.00  2001914         NaN         NaN

2017-10-17
trade finished
0:05:35.042216
0:00:27.283095
20171018 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
416  SZ001872   3457301.0  91094139.20  2001872         NaN         NaN
418  SZ001914   3048101.0  30631767.97  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
416  SZ001872   3457301.0  91094139.20  2001872         NaN         NaN
418  SZ001914   3048101.0  30631767.97  2001914         NaN         NaN

2017-10-18
trade finished
0:06:01.732385
0:00:23.173811
20171019 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
416  SZ001872   3826058.0  95577166.03  2001872         NaN         NaN
418  SZ001914   1710391.0  17079655.40  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
416  SZ001872   3826058.0  95577166.03  2001872         NaN         NaN
418  SZ001914   1710391.0  17079655.40  2001914         NaN         NaN

2017-10-19
trade finished
0:05:50.472541
0:00:15.890438
20171020 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
416  SZ001872   7633088.0  1.978358e+08  2001872         NaN         NaN
418  SZ001914   3252340.0  3.293628e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
416  SZ001872   7633088.0  1.978358e+08  2001872         NaN         NaN
418  SZ001914   3252340.0  3.293628e+07  2001914         NaN         NaN

2017-10-20
trade finished
0:04:58.272102
0:00:16.671497
20171023 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
416  SZ001872   5082953.0  1.333990e+08  2001872         NaN         NaN
418  SZ001914   2512343.0  2.577388e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
416  SZ001872   5082953.0  1.333990e+08  2001872         NaN         NaN
418  SZ001914   2512343.0  2.577388e+07  2001914         NaN         NaN

2017-10-23
trade finished
0:05:55.175073
0:00:44.718293
20171024 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
414  SZ001872   5788950.0  1.517048e+08  2001872         NaN         NaN
416  SZ001914   2924072.0  3.046800e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
414  SZ001872   5788950.0  1.517048e+08  2001872         NaN         NaN
416  SZ001914   2924072.0  3.046800e+07  2001914         NaN         NaN

2017-10-24
trade finished
0:05:34.553108
0:00:18.286451
20171025 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
417  SZ001872   3190782.0  83448048.1  2001872         NaN         NaN
419  SZ001914   1627300.0  16912238.0  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
417  SZ001872   3190782.0  83448048.1  2001872         NaN         NaN
419  SZ001914   1627300.0  16912238.0  2001914         NaN         NaN

2017-10-25
trade finished
0:05:19.635415
0:00:21.614536
20171026 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
417  SZ001872   3870027.0  1.015807e+08  2001872         NaN         NaN
419  SZ001914   3004080.0  3.108541e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
417  SZ001872   3870027.0  1.015807e+08  2001872         NaN         NaN
419  SZ001914   3004080.0  3.108541e+07  2001914         NaN         NaN

2017-10-26
trade finished
0:06:06.300590
0:00:18.153563
20171027 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
417  SZ001872   2751453.0  72250219.60  2001872         NaN         NaN
419  SZ001914   2332603.0  23922510.64  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
417  SZ001872   2751453.0  72250219.60  2001872         NaN         NaN
419  SZ001914   2332603.0  23922510.64  2001914         NaN         NaN

2017-10-27
trade finished
0:05:59.161878
0:00:27.063485
20171030 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
418  SZ001872   3127897.0  79388335.57  2001872         NaN         NaN
420  SZ001914   2413147.0  24299442.43  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
418  SZ001872   3127897.0  79388335.57  2001872         NaN         NaN
420  SZ001914   2413147.0  24299442.43  2001914         NaN         NaN

2017-10-30
trade finished
0:07:06.888741
0:00:18.374875
20171031 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
417  SZ001872   3191500.0  80842406.00  2001872         NaN         NaN
419  SZ001914   7624296.0  79886608.81  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
417  SZ001872   3191500.0  80842406.00  2001872         NaN         NaN
419  SZ001914   7624296.0  79886608.81  2001914         NaN         NaN

2017-10-31
trade finished
0:05:30.704747
0:00:22.926145
20171101 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
417  SZ001872   2632304.0  66179813.68  2001872         NaN         NaN
419  SZ001914   5169382.0  54349995.44  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
417  SZ001872   2632304.0  66179813.68  2001872         NaN         NaN
419  SZ001914   5169382.0  54349995.44  2001914         NaN         NaN

2017-11-01
trade finished
0:05:54.225699
0:00:21.233026
20171102 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
419  SZ001872   3526600.0  87321916.42  2001872         NaN         NaN
421  SZ001914   3185800.0  33415775.00  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
419  SZ001872   3526600.0  87321916.42  2001872         NaN         NaN
421  SZ001914   3185800.0  33415775.00  2001914         NaN         NaN

2017-11-02
trade finished
0:06:09.614729
0:00:18.465952
20171103 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
419  SZ001872   1984701.0  48523426.87  2001872         NaN         NaN
421  SZ001914   4686739.0  49315829.72  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
419  SZ001872   1984701.0  48523426.87  2001872         NaN         NaN
421  SZ001914   4686739.0  49315829.72  2001914         NaN         NaN

2017-11-03
trade finished
0:06:00.189962
0:00:18.289486
20171106 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
417  SZ001872   2209786.0  52964016.28  2001872         NaN         NaN
419  SZ001914   2743574.0  28956119.19  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
417  SZ001872   2209786.0  52964016.28  2001872         NaN         NaN
419  SZ001914   2743574.0  28956119.19  2001914         NaN         NaN

2017-11-06
trade finished
0:05:52.710838
0:00:18.237708
20171107 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
417  SZ001872   5019627.0  1.259883e+08  2001872         NaN         NaN
419  SZ001914  10729610.0  1.157206e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
417  SZ001872   5019627.0  1.259883e+08  2001872         NaN         NaN
419  SZ001914  10729610.0  1.157206e+08  2001914         NaN         NaN

2017-11-07
trade finished
0:06:06.380727
0:00:21.348882
20171108 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
419  SZ001872   3648552.0  91015412.26  2001872         NaN         NaN
421  SZ001914   5191280.0  56566526.46  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
419  SZ001872   3648552.0  91015412.26  2001872         NaN         NaN
421  SZ001914   5191280.0  56566526.46  2001914         NaN         NaN

2017-11-08
trade finished
0:07:11.996092
0:00:28.660710
20171109 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
419  SZ001872   2031435.0  50131388.09  2001872         NaN         NaN
421  SZ001914   4264756.0  46108065.81  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
419  SZ001872   2031435.0  50131388.09  2001872         NaN         NaN
421  SZ001914   4264756.0  46108065.81  2001914         NaN         NaN

2017-11-09
trade finished
0:06:08.075546
0:01:19.403780
20171110 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
416  SZ001872   3156573.0  78716535.07  2001872         NaN         NaN
418  SZ001914   4520605.0  48705660.60  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
416  SZ001872   3156573.0  78716535.07  2001872         NaN         NaN
418  SZ001914   4520605.0  48705660.60  2001914         NaN         NaN

2017-11-10
trade finished
0:06:54.879554
0:00:20.841050
20171113 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
416  SZ001872   2039929.0  50879031.51  2001872         NaN         NaN
418  SZ001914   4064751.0  43968935.70  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
416  SZ001872   2039929.0  50879031.51  2001872         NaN         NaN
418  SZ001914   4064751.0  43968935.70  2001914         NaN         NaN

2017-11-13
trade finished
0:07:05.644506
0:00:30.673422
20171114 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
417  SZ001872   2023277.0  49657503.87  2001872         NaN         NaN
419  SZ001914   5214839.0  56370291.38  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
417  SZ001872   2023277.0  49657503.87  2001872         NaN         NaN
419  SZ001914   5214839.0  56370291.38  2001914         NaN         NaN

2017-11-14
trade finished
0:07:28.214805
0:00:22.001686
20171115 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
418  SZ001872   1491471.0  36236497.79  2001872         NaN         NaN
420  SZ001914   3715451.0  40070912.27  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
418  SZ001872   1491471.0  36236497.79  2001872         NaN         NaN
420  SZ001914   3715451.0  40070912.27  2001914         NaN         NaN

2017-11-15
trade finished
0:06:28.354973
0:00:22.242325
20171116 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
416  SZ001872   1454566.0  35220653.21  2001872         NaN         NaN
418  SZ001914   2342784.0  24962604.00  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
416  SZ001872   1454566.0  35220653.21  2001872         NaN         NaN
418  SZ001914   2342784.0  24962604.00  2001914         NaN         NaN

2017-11-16
trade finished
0:06:29.356597
0:00:42.030440
20171117 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
417  SZ001872   2076522.0  50315423.08  2001872         NaN         NaN
419  SZ001914   3723700.0  38878190.00  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
417  SZ001872   2076522.0  50315423.08  2001872         NaN         NaN
419  SZ001914   3723700.0  38878190.00  2001914         NaN         NaN

2017-11-17
trade finished
0:07:48.667242
0:00:41.042394
20171120 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
418  SZ001914   4399524.0  44718528.05  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
418  SZ001914   4399524.0  44718528.05  2001914         NaN         NaN

2017-11-20
trade finished
0:06:09.667951
0:00:25.620507
20171121 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
418  SZ001914   2556167.0  26170884.42  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
418  SZ001914   2556167.0  26170884.42  2001914         NaN         NaN

2017-11-21
trade finished
0:06:34.360836
0:04:29.040922
20171122 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
415  SZ001914   3548778.0  36317093.17  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
415  SZ001914   3548778.0  36317093.17  2001914         NaN         NaN

2017-11-22
trade finished
0:06:35.106639
0:00:44.766698
20171123 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
416  SZ001914   4526427.0  46704223.86  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
416  SZ001914   4526427.0  46704223.86  2001914         NaN         NaN

2017-11-23
trade finished
0:06:56.684556
0:03:25.866458
20171124 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
417  SZ001914   2090503.0  21412678.67  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
417  SZ001914   2090503.0  21412678.67  2001914         NaN         NaN

2017-11-24
trade finished
0:05:13.134464
0:00:16.355378
20171127 unzip finished

ValueError: No objects to concatenate

In [ ]:
import pymongo
import pandas as pd
import pickle
import datetime
import time
import gzip
import lzma
import pytz


def DB(host, db_name, user, passwd):
    auth_db = db_name if user not in ('admin', 'root') else 'admin'
    uri = 'mongodb://%s:%s@%s/?authSource=%s' % (user, passwd, host, auth_db)
    return DBObj(uri, db_name=db_name)


class DBObj(object):
    def __init__(self, uri, symbol_column='skey', db_name='white_db'):
        self.db_name = db_name
        self.uri = uri
        self.client = pymongo.MongoClient(self.uri)
        self.db = self.client[self.db_name]
        self.chunk_size = 20000
        self.symbol_column = symbol_column
        self.date_column = 'date'

    def parse_uri(self, uri):
        # mongodb://user:password@example.com
        return uri.strip().replace('mongodb://', '').strip('/').replace(':', ' ').replace('@', ' ').split(' ')

    def drop_table(self, table_name):
        self.db.drop_collection(table_name)

    def rename_table(self, old_table, new_table):
        self.db[old_table].rename(new_table)

    def write(self, table_name, df):
        if len(df) == 0: return

        multi_date = False

        if self.date_column in df.columns:
            date = str(df.head(1)[self.date_column].iloc[0])
            multi_date = len(df[self.date_column].unique()) > 1
        else:
            raise Exception('DataFrame should contain date column')

        collection = self.db[table_name]
        collection.create_index([('date', pymongo.ASCENDING), ('symbol', pymongo.ASCENDING)], background=True)
        collection.create_index([('symbol', pymongo.ASCENDING), ('date', pymongo.ASCENDING)], background=True)

        if multi_date:
            for (date, symbol), sub_df in df.groupby([self.date_column, self.symbol_column]):
                date = str(date)
                symbol = int(symbol)
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)
        else:
            for symbol, sub_df in df.groupby([self.symbol_column]):
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)

    def write_single(self, collection, date, symbol, df):
        for start in range(0, len(df), self.chunk_size):
            end = min(start + self.chunk_size, len(df))
            df_seg = df[start:end]
            version = 1
            seg = {'ver': version, 'data': self.ser(df_seg, version), 'date': date, 'symbol': symbol, 'start': start}
            collection.insert_one(seg)

    def build_query(self, start_date=None, end_date=None, symbol=None):
        query = {}

        def parse_date(x):
            if type(x) == str:
                if len(x) != 8:
                    raise Exception("`date` must be YYYYMMDD format")
                return x
            elif type(x) == datetime.datetime or type(x) == datetime.date:
                return x.strftime("%Y%m%d")
            elif type(x) == int:
                return parse_date(str(x))
            else:
                raise Exception("invalid `date` type: " + str(type(x)))

        if start_date is not None or end_date is not None:
            query['date'] = {}
            if start_date is not None:
                query['date']['$gte'] = parse_date(start_date)
            if end_date is not None:
                query['date']['$lte'] = parse_date(end_date)

        def parse_symbol(x):
            if type(x) == int:
                return x
            else:
                return int(x)

        if symbol:
            if type(symbol) == list or type(symbol) == tuple:
                query['symbol'] = {'$in': [parse_symbol(x) for x in symbol]}
            else:
                query['symbol'] = parse_symbol(symbol)

        return query

    def delete(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot delete the whole table')
            return None

        collection.delete_many(query)

    def read(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot read the whole table')
            return None

        segs = []
        for x in collection.find(query):
            x['data'] = self.deser(x['data'], x['ver'])
            segs.append(x)
        segs.sort(key=lambda x: (x['symbol'], x['date'], x['start']))
        return pd.concat([x['data'] for x in segs], ignore_index=True) if segs else None

    def list_tables(self):
        return self.db.collection_names()

    def list_dates(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]
        dates = set()
        if start_date is None:
            start_date = '00000000'
        if end_date is None:
            end_date = '99999999'
        for x in collection.find(self.build_query(start_date, end_date, symbol), {"date": 1, '_id': 0}):
            dates.add(x['date'])
        return sorted(list(dates))

    def ser(self, s, version):
        pickle_protocol = 4
        if version == 1:
            return gzip.compress(pickle.dumps(s, protocol=pickle_protocol), compresslevel=2)
        elif version == 2:
            return lzma.compress(pickle.dumps(s, protocol=pickle_protocol), preset=1)
        else:
            raise Exception('unknown version')

    def deser(self, s, version):
        def unpickle(s):
            return pickle.loads(s)

        if version == 1:
            return unpickle(gzip.decompress(s))
        elif version == 2:
            return unpickle(lzma.decompress(s))
        else:
            raise Exception('unknown version')


def patch_pandas_pickle():
    if pd.__version__ < '0.24':
        import sys
        from types import ModuleType
        from pandas.core.internals import BlockManager
        pkg_name = 'pandas.core.internals.managers'
        if pkg_name not in sys.modules:
            m = ModuleType(pkg_name)
            m.BlockManager = BlockManager
            sys.modules[pkg_name] = m
patch_pandas_pickle()


            
            
            
            
            
            
            
            
import pandas as pd
import random
import numpy as np
import glob
import os
import pickle
import datetime
import time
pd.set_option("max_columns", 200)

startTm = datetime.datetime.now()
readPath = '/home/work516/day_stock/***'
dataPathLs = np.array(glob.glob(readPath))
dataPathLs = dataPathLs[[np.array([os.path.basename(i).split('.')[0][:2] == 'SZ' for i in dataPathLs])]]
db = pd.DataFrame()
for p in dataPathLs:
    dayData = pd.read_csv(p, compression='gzip')
    db = pd.concat([db, dayData])
print(datetime.datetime.now() - startTm)

year = "2017"
startDate = '20171127'
endDate = '20171231'
readPath = '/mnt/usb/data/' + year + '/***/***'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([os.path.basename(i) for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]

for data in dataPathLs:
    
    if len(np.array(glob.glob(data + '/SZ/***'))) == 0:
        if int(os.path.basename(data)) not in date_list["Date"].values:
            continue
        else:
            print(os.path.basename(data) + " less data!!!!!!!!!!!!!!!!!")
            less.append(data)
            continue
    startTm = datetime.datetime.now()
    date = os.path.basename(data)
    rar_path = data + '/SZ/tick.7z'
    path = '/mnt/e/unzip_data/2017/SZ'
    path1 = path + '/' + date
    un_path = path1
    cmd = '7za x {} -o{}'.format(rar_path, un_path)
    os.system(cmd)
    print(datetime.datetime.now() - startTm)
    print(date + ' unzip finished')
    
    
    startTm = datetime.datetime.now()
    
    readPath = path1 + '/tick/***'
    dataPathLs = np.array(glob.glob(readPath))
    dateLs = np.array([int(os.path.basename(i).split('.')[0]) for i in dataPathLs])
    dataPathLs = dataPathLs[(dateLs < 4000) | ((dateLs > 300000) & (dateLs < 310000))]
    TradeLog = []
    ll = []
    
    for i in dataPathLs:
        try:
            df = pd.read_csv(i)
        except:
            print("empty data")
            print(i)
            ll.append(int(os.path.basename(i).split('.')[0]))
            continue
        df["SecurityID"] = int(os.path.basename(i).split('.')[0])
        TradeLog += [df]
    TradeLog = pd.concat(TradeLog).reset_index(drop=True)
    TradeLog = TradeLog[TradeLog["ChannelNo"] != 4001]
    
    TradeLog["date"] = TradeLog["TransactTime"].iloc[0]//1000000000
    TradeLog = TradeLog.rename(columns={"Qty":"trade_qty", "Price":"trade_price", "ExecType":"trade_type"})
    TradeLog["trade_money"] = TradeLog["trade_price"] * TradeLog["trade_qty"]
    TradeLog["trade_flag"] = 0
    TradeLog["skey"] = TradeLog["SecurityID"] + 2000000
    TradeLog["clockAtArrival"] = TradeLog["TransactTime"].astype(str).apply(lambda x: np.int64(datetime.datetime.strptime(x, '%Y%m%d%H%M%S%f').timestamp()*1e6))
    TradeLog['datetime'] = TradeLog["clockAtArrival"].apply(lambda x: datetime.datetime.fromtimestamp(x/1e6))
    TradeLog["time"] = (TradeLog['TransactTime'] - int(TradeLog['TransactTime'].iloc[0]//1000000000*1000000000)).astype(np.int64)*1000
    TradeLog["trade_type"] = np.where(TradeLog["trade_type"] == 'F', 1, TradeLog["trade_type"])
    for col in ["skey", "date", "ApplSeqNum", "BidApplSeqNum", "OfferApplSeqNum", "trade_qty", "trade_type", "trade_flag"]:
        TradeLog[col] = TradeLog[col].astype('int32')
#     for cols in ["trade_money", "trade_price"]:
#         display(cols)
#         display(TradeLog[cols].astype(str).apply(lambda x: len(str(x.split('.')[1]))).unique())
#         TradeLog[cols] = TradeLog[cols].round(2)
#         display(TradeLog[cols].astype(str).apply(lambda x: len(str(x.split('.')[1]))).unique())
    for cols in ["trade_money"]:
        TradeLog[cols] = TradeLog[cols].round(2)
    
    da_te = str(TradeLog["date"].iloc[0]) 
    da_te = da_te[:4] + '-' + da_te[4:6] + '-' + da_te[6:8]
    db1 = db[db["date"] == da_te]
    sl = (db1["ID"].str[2:].astype(int) + 2000000).unique()
    db1["max_volume"] = db1.groupby("ID")["d_volume"].transform("max")
    db1["max_amount"] = db1.groupby("ID")["d_amount"].transform("max")
    t1 = db1.groupby("ID")["max_volume", "max_amount"].first().reset_index()
    del db1
    t1["skey"] = t1["ID"].str[2:].astype(int) + 2000000
    trade1 = TradeLog[TradeLog["trade_type"] == 1].groupby("skey")["trade_qty"].sum().reset_index()
    trade1.columns=["skey", "cum_volume"]
    trade2 = TradeLog[TradeLog["trade_type"] == 1].groupby("skey")["trade_money"].sum().reset_index()
    trade2.columns=["skey", "cum_amount"]
    t2 = pd.merge(trade1, trade2, on="skey")
    re = pd.merge(t1, t2, on="skey", how="outer")
    try:
        assert(t1.shape[0] == t2.shape[0])
        assert(re[re["cum_volume"] != re["max_volume"]].shape[0] == 0)
        assert(re[re["cum_amount"].round(2) != re["max_amount"]].shape[0] == 0)
    except:
        display(set(t1["skey"]) - set(t2["skey"]))
        display(re[re["cum_volume"] != re["max_volume"]])
        display(re[re["cum_amount"].round(2) != re["max_amount"]])
    del t1
    del t2
    del re
 
    TradeLog = TradeLog[["skey", "date", "time", "clockAtArrival", "datetime", "ApplSeqNum", "trade_type", "trade_flag",
                                                 "trade_price", "trade_qty", "BidApplSeqNum", "OfferApplSeqNum"]]
    print(da_te)
    print("trade finished")


    database_name = 'com_md_eq_cn'
    user = "zhenyuy"
    password = "bnONBrzSMGoE"

    db1 = DB("192.168.10.223", database_name, user, password)
    db1.write('md_trade', TradeLog)    
    
    del TradeLog

    print(datetime.datetime.now() - startTm)

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:201: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.

0:05:24.645017
0:00:13.922428
20171127 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
418  SZ001914   1764542.0  18100755.0  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
418  SZ001914   1764542.0  18100755.0  2001914         NaN         NaN

2017-11-27
trade finished
0:04:46.533550
0:00:16.006258
20171128 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
415  SZ001914   1521500.0  15705687.0  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
415  SZ001914   1521500.0  15705687.0  2001914         NaN         NaN

2017-11-28
trade finished
0:05:06.284290
0:00:19.397794
20171129 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
416  SZ001914   2216100.0  22660742.0  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
416  SZ001914   2216100.0  22660742.0  2001914         NaN         NaN

2017-11-29
trade finished
0:05:39.103763
0:00:15.424281
20171130 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

            ID   max_volume    max_amount     skey   cum_volume    cum_amount
16    SZ000025    3142630.0  1.291885e+08  2000025    3141930.0  1.291597e+08
39    SZ000063  107362412.0  3.579594e+09  2000063  107353712.0  3.579304e+09
47    SZ000089    9266574.0  8.246704e+07  2000089    9255374.0  8.236680e+07
60    SZ000333   29733361.0  1.521290e+09  2000333   29733261.0  1.521285e+09
167   SZ000619    4015301.0  3.272810e+07  2000619    4012301.0  3.270365e+07
...        ...          ...           ...      ...          ...           ...
1843  SZ300638    3345526.0  1.437815e+08  2300638    3345426.0  1.437773e+08
1849  SZ300645    2301100.0  9.779469e+07  2300645    2299800.0  9.773935e+07
1867  SZ300666   10112648.0  6.386847e+08  2300666   10111648.0  6.386223e+08
1886  SZ300689    1126800.0  5.033281e+07  2300689    1126600.0  5.032388e+07
1894  SZ300699    6859894.0  4.895835e+08  2300699    6859494.0  4.895551e+08

[118 rows x 6 columns]

            ID   max_volume    max_amount     skey   cum_volume    cum_amount
16    SZ000025    3142630.0  1.291885e+08  2000025    3141930.0  1.291597e+08
39    SZ000063  107362412.0  3.579594e+09  2000063  107353712.0  3.579304e+09
47    SZ000089    9266574.0  8.246704e+07  2000089    9255374.0  8.236680e+07
60    SZ000333   29733361.0  1.521290e+09  2000333   29733261.0  1.521285e+09
167   SZ000619    4015301.0  3.272810e+07  2000619    4012301.0  3.270365e+07
...        ...          ...           ...      ...          ...           ...
1843  SZ300638    3345526.0  1.437815e+08  2300638    3345426.0  1.437773e+08
1849  SZ300645    2301100.0  9.779469e+07  2300645    2299800.0  9.773935e+07
1867  SZ300666   10112648.0  6.386847e+08  2300666   10111648.0  6.386223e+08
1886  SZ300689    1126800.0  5.033281e+07  2300689    1126600.0  5.032388e+07
1894  SZ300699    6859894.0  4.895835e+08  2300699    6859494.0  4.895551e+08

[118 rows x 6 columns]

2017-11-30
trade finished
0:05:32.215784
0:00:17.917291
20171201 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
413  SZ001914   3134288.0  32287343.58  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
413  SZ001914   3134288.0  32287343.58  2001914         NaN         NaN

2017-12-01
trade finished
0:05:24.329002
0:00:19.117305
20171204 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
414  SZ001914   2112000.0  21856506.0  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
414  SZ001914   2112000.0  21856506.0  2001914         NaN         NaN

2017-12-04
trade finished
0:05:41.740943
0:00:19.789935
20171205 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
414  SZ001914   2997591.0  30489668.55  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
414  SZ001914   2997591.0  30489668.55  2001914         NaN         NaN

2017-12-05
trade finished
0:06:10.286719
0:00:18.104884
20171206 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
414  SZ001914   2803800.0  28088576.0  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
414  SZ001914   2803800.0  28088576.0  2001914         NaN         NaN

2017-12-06
trade finished
0:05:25.704925
0:00:16.604138
20171207 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
412  SZ001914   1417238.0  14304712.04  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
412  SZ001914   1417238.0  14304712.04  2001914         NaN         NaN

2017-12-07
trade finished
0:05:20.576198
0:00:17.532538
20171208 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
414  SZ001914   2155000.0  21982277.0  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
414  SZ001914   2155000.0  21982277.0  2001914         NaN         NaN

2017-12-08
trade finished
0:05:30.858975
0:00:16.895902
20171211 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
411  SZ001914   2078884.0  21150207.6  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
411  SZ001914   2078884.0  21150207.6  2001914         NaN         NaN

2017-12-11
trade finished
0:05:26.329630
0:00:17.820668
20171212 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
410  SZ001914   2340800.0  23680279.0  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
410  SZ001914   2340800.0  23680279.0  2001914         NaN         NaN

2017-12-12
trade finished
0:05:33.226133
0:00:15.284848
20171213 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
412  SZ001914   1897477.0  19136434.08  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
412  SZ001914   1897477.0  19136434.08  2001914         NaN         NaN

2017-12-13
trade finished
0:04:51.239146
0:00:19.165595
20171214 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
417  SZ001914   2612704.0  26333335.28  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
417  SZ001914   2612704.0  26333335.28  2001914         NaN         NaN

2017-12-14
trade finished
0:05:23.407048
0:00:18.429990
20171215 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001914   1998104.0  20137227.04  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001914   1998104.0  20137227.04  2001914         NaN         NaN

2017-12-15
trade finished
0:05:49.328896
0:00:17.013595
20171218 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
422  SZ001914   3596368.0  35525879.84  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
422  SZ001914   3596368.0  35525879.84  2001914         NaN         NaN

2017-12-18
trade finished
0:05:13.867207
0:00:17.374923
20171219 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
423  SZ001914   2015906.0  19612522.84  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
423  SZ001914   2015906.0  19612522.84  2001914         NaN         NaN

2017-12-19
trade finished
0:05:27.285803
0:00:19.262572
20171220 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
423  SZ001914   2228501.0  21556601.68  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
423  SZ001914   2228501.0  21556601.68  2001914         NaN         NaN

2017-12-20
trade finished
0:05:23.047573
0:00:18.542534
20171221 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
423  SZ001914   3573600.0  35667347.0  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
423  SZ001914   3573600.0  35667347.0  2001914         NaN         NaN

2017-12-21
trade finished
0:05:24.586484
0:00:17.353592
20171222 unzip finished

In [1]:
import pymongo
import pandas as pd
import pickle
import datetime
import time
import gzip
import lzma
import pytz


def DB(host, db_name, user, passwd):
    auth_db = db_name if user not in ('admin', 'root') else 'admin'
    uri = 'mongodb://%s:%s@%s/?authSource=%s' % (user, passwd, host, auth_db)
    return DBObj(uri, db_name=db_name)


class DBObj(object):
    def __init__(self, uri, symbol_column='skey', db_name='white_db'):
        self.db_name = db_name
        self.uri = uri
        self.client = pymongo.MongoClient(self.uri)
        self.db = self.client[self.db_name]
        self.chunk_size = 20000
        self.symbol_column = symbol_column
        self.date_column = 'date'

    def parse_uri(self, uri):
        # mongodb://user:password@example.com
        return uri.strip().replace('mongodb://', '').strip('/').replace(':', ' ').replace('@', ' ').split(' ')

    def drop_table(self, table_name):
        self.db.drop_collection(table_name)

    def rename_table(self, old_table, new_table):
        self.db[old_table].rename(new_table)

    def write(self, table_name, df):
        if len(df) == 0: return

        multi_date = False

        if self.date_column in df.columns:
            date = str(df.head(1)[self.date_column].iloc[0])
            multi_date = len(df[self.date_column].unique()) > 1
        else:
            raise Exception('DataFrame should contain date column')

        collection = self.db[table_name]
        collection.create_index([('date', pymongo.ASCENDING), ('symbol', pymongo.ASCENDING)], background=True)
        collection.create_index([('symbol', pymongo.ASCENDING), ('date', pymongo.ASCENDING)], background=True)

        if multi_date:
            for (date, symbol), sub_df in df.groupby([self.date_column, self.symbol_column]):
                date = str(date)
                symbol = int(symbol)
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)
        else:
            for symbol, sub_df in df.groupby([self.symbol_column]):
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)

    def write_single(self, collection, date, symbol, df):
        for start in range(0, len(df), self.chunk_size):
            end = min(start + self.chunk_size, len(df))
            df_seg = df[start:end]
            version = 1
            seg = {'ver': version, 'data': self.ser(df_seg, version), 'date': date, 'symbol': symbol, 'start': start}
            collection.insert_one(seg)

    def build_query(self, start_date=None, end_date=None, symbol=None):
        query = {}

        def parse_date(x):
            if type(x) == str:
                if len(x) != 8:
                    raise Exception("`date` must be YYYYMMDD format")
                return x
            elif type(x) == datetime.datetime or type(x) == datetime.date:
                return x.strftime("%Y%m%d")
            elif type(x) == int:
                return parse_date(str(x))
            else:
                raise Exception("invalid `date` type: " + str(type(x)))

        if start_date is not None or end_date is not None:
            query['date'] = {}
            if start_date is not None:
                query['date']['$gte'] = parse_date(start_date)
            if end_date is not None:
                query['date']['$lte'] = parse_date(end_date)

        def parse_symbol(x):
            if type(x) == int:
                return x
            else:
                return int(x)

        if symbol:
            if type(symbol) == list or type(symbol) == tuple:
                query['symbol'] = {'$in': [parse_symbol(x) for x in symbol]}
            else:
                query['symbol'] = parse_symbol(symbol)

        return query

    def delete(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot delete the whole table')
            return None

        collection.delete_many(query)

    def read(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot read the whole table')
            return None

        segs = []
        for x in collection.find(query):
            x['data'] = self.deser(x['data'], x['ver'])
            segs.append(x)
        segs.sort(key=lambda x: (x['symbol'], x['date'], x['start']))
        return pd.concat([x['data'] for x in segs], ignore_index=True) if segs else None

    def list_tables(self):
        return self.db.collection_names()

    def list_dates(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]
        dates = set()
        if start_date is None:
            start_date = '00000000'
        if end_date is None:
            end_date = '99999999'
        for x in collection.find(self.build_query(start_date, end_date, symbol), {"date": 1, '_id': 0}):
            dates.add(x['date'])
        return sorted(list(dates))

    def ser(self, s, version):
        pickle_protocol = 4
        if version == 1:
            return gzip.compress(pickle.dumps(s, protocol=pickle_protocol), compresslevel=2)
        elif version == 2:
            return lzma.compress(pickle.dumps(s, protocol=pickle_protocol), preset=1)
        else:
            raise Exception('unknown version')

    def deser(self, s, version):
        def unpickle(s):
            return pickle.loads(s)

        if version == 1:
            return unpickle(gzip.decompress(s))
        elif version == 2:
            return unpickle(lzma.decompress(s))
        else:
            raise Exception('unknown version')


def patch_pandas_pickle():
    if pd.__version__ < '0.24':
        import sys
        from types import ModuleType
        from pandas.core.internals import BlockManager
        pkg_name = 'pandas.core.internals.managers'
        if pkg_name not in sys.modules:
            m = ModuleType(pkg_name)
            m.BlockManager = BlockManager
            sys.modules[pkg_name] = m
patch_pandas_pickle()


            
            
            
            
            
            
            
            
import pandas as pd
import random
import numpy as np
import glob
import os
import pickle
import datetime
import time
pd.set_option("max_columns", 200)

startTm = datetime.datetime.now()
readPath = '/home/work516/day_stock/***'
dataPathLs = np.array(glob.glob(readPath))
dataPathLs = dataPathLs[[np.array([os.path.basename(i).split('.')[0][:2] == 'SZ' for i in dataPathLs])]]
db = pd.DataFrame()
for p in dataPathLs:
    dayData = pd.read_csv(p, compression='gzip')
    db = pd.concat([db, dayData])
print(datetime.datetime.now() - startTm)

year = "2017"
startDate = '20171222'
endDate = '20171231'
readPath = '/mnt/usb/data/' + year + '/***/***'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([os.path.basename(i) for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]

for data in dataPathLs:
    
    if len(np.array(glob.glob(data + '/SZ/***'))) == 0:
        if int(os.path.basename(data)) not in date_list["Date"].values:
            continue
        else:
            print(os.path.basename(data) + " less data!!!!!!!!!!!!!!!!!")
            less.append(data)
            continue
    startTm = datetime.datetime.now()
    date = os.path.basename(data)
    rar_path = data + '/SZ/tick.7z'
    path = '/mnt/e/unzip_data/2017/SZ'
    path1 = path + '/' + date
    un_path = path1
    cmd = '7za x {} -o{}'.format(rar_path, un_path)
    os.system(cmd)
    print(datetime.datetime.now() - startTm)
    print(date + ' unzip finished')
    
    
    startTm = datetime.datetime.now()
    
    readPath = path1 + '/tick/***'
    dataPathLs = np.array(glob.glob(readPath))
    dateLs = np.array([int(os.path.basename(i).split('.')[0]) for i in dataPathLs])
    dataPathLs = dataPathLs[(dateLs < 4000) | ((dateLs > 300000) & (dateLs < 310000))]
    TradeLog = []
    ll = []
    
    for i in dataPathLs:
        try:
            df = pd.read_csv(i)
        except:
            print("empty data")
            print(i)
            ll.append(int(os.path.basename(i).split('.')[0]))
            continue
        df["SecurityID"] = int(os.path.basename(i).split('.')[0])
        TradeLog += [df]
    TradeLog = pd.concat(TradeLog).reset_index(drop=True)
    TradeLog = TradeLog[TradeLog["ChannelNo"] != 4001]
    
    TradeLog["date"] = TradeLog["TransactTime"].iloc[0]//1000000000
    TradeLog = TradeLog.rename(columns={"Qty":"trade_qty", "Price":"trade_price", "ExecType":"trade_type"})
    TradeLog["trade_money"] = TradeLog["trade_price"] * TradeLog["trade_qty"]
    TradeLog["trade_flag"] = 0
    TradeLog["skey"] = TradeLog["SecurityID"] + 2000000
    TradeLog["clockAtArrival"] = TradeLog["TransactTime"].astype(str).apply(lambda x: np.int64(datetime.datetime.strptime(x, '%Y%m%d%H%M%S%f').timestamp()*1e6))
    TradeLog['datetime'] = TradeLog["clockAtArrival"].apply(lambda x: datetime.datetime.fromtimestamp(x/1e6))
    TradeLog["time"] = (TradeLog['TransactTime'] - int(TradeLog['TransactTime'].iloc[0]//1000000000*1000000000)).astype(np.int64)*1000
    TradeLog["trade_type"] = np.where(TradeLog["trade_type"] == 'F', 1, TradeLog["trade_type"])
    for col in ["skey", "date", "ApplSeqNum", "BidApplSeqNum", "OfferApplSeqNum", "trade_qty", "trade_type", "trade_flag"]:
        TradeLog[col] = TradeLog[col].astype('int32')
#     for cols in ["trade_money", "trade_price"]:
#         display(cols)
#         display(TradeLog[cols].astype(str).apply(lambda x: len(str(x.split('.')[1]))).unique())
#         TradeLog[cols] = TradeLog[cols].round(2)
#         display(TradeLog[cols].astype(str).apply(lambda x: len(str(x.split('.')[1]))).unique())
    for cols in ["trade_money"]:
        TradeLog[cols] = TradeLog[cols].round(2)
    
    da_te = str(TradeLog["date"].iloc[0]) 
    da_te = da_te[:4] + '-' + da_te[4:6] + '-' + da_te[6:8]
    db1 = db[db["date"] == da_te]
    sl = (db1["ID"].str[2:].astype(int) + 2000000).unique()
    db1["max_volume"] = db1.groupby("ID")["d_volume"].transform("max")
    db1["max_amount"] = db1.groupby("ID")["d_amount"].transform("max")
    t1 = db1.groupby("ID")["max_volume", "max_amount"].first().reset_index()
    del db1
    t1["skey"] = t1["ID"].str[2:].astype(int) + 2000000
    trade1 = TradeLog[TradeLog["trade_type"] == 1].groupby("skey")["trade_qty"].sum().reset_index()
    trade1.columns=["skey", "cum_volume"]
    trade2 = TradeLog[TradeLog["trade_type"] == 1].groupby("skey")["trade_money"].sum().reset_index()
    trade2.columns=["skey", "cum_amount"]
    t2 = pd.merge(trade1, trade2, on="skey")
    re = pd.merge(t1, t2, on="skey", how="outer")
    try:
        assert(t1.shape[0] == t2.shape[0])
        assert(re[re["cum_volume"] != re["max_volume"]].shape[0] == 0)
        assert(re[re["cum_amount"].round(2) != re["max_amount"]].shape[0] == 0)
    except:
        display(set(t1["skey"]) - set(t2["skey"]))
        display(re[re["cum_volume"] != re["max_volume"]])
        display(re[re["cum_amount"].round(2) != re["max_amount"]])
    del t1
    del t2
    del re
 
    TradeLog = TradeLog[["skey", "date", "time", "clockAtArrival", "datetime", "ApplSeqNum", "trade_type", "trade_flag",
                                                 "trade_price", "trade_qty", "BidApplSeqNum", "OfferApplSeqNum"]]
    print(da_te)
    print("trade finished")


    database_name = 'com_md_eq_cn'
    user = "zhenyuy"
    password = "bnONBrzSMGoE"

    db1 = DB("192.168.10.223", database_name, user, password)
    db1.write('md_trade', TradeLog)    
    
    del TradeLog

    print(datetime.datetime.now() - startTm)

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:201: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.

0:06:16.984391
0:00:00.499436
20171222 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
423  SZ001914   1456000.0  14363022.0  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
423  SZ001914   1456000.0  14363022.0  2001914         NaN         NaN

2017-12-22
trade finished
0:05:05.162351
0:00:00.417426
20171225 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
424  SZ001914   2206569.0  21560493.63  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
424  SZ001914   2206569.0  21560493.63  2001914         NaN         NaN

2017-12-25
trade finished
0:05:31.071200
0:00:00.415411
20171226 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
420  SZ001914   1762184.0  17279156.36  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
420  SZ001914   1762184.0  17279156.36  2001914         NaN         NaN

2017-12-26
trade finished
0:05:02.343379
0:00:00.427924
20171227 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
421  SZ001914   1361300.0  13302084.0  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
421  SZ001914   1361300.0  13302084.0  2001914         NaN         NaN

2017-12-27
trade finished
0:05:39.292969
0:00:20.614515
20171228 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
421  SZ001914   1564510.0  15210290.2  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
421  SZ001914   1564510.0  15210290.2  2001914         NaN         NaN

2017-12-28
trade finished
0:05:14.876824
0:00:17.706859
20171229 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:284: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
420  SZ001914   1554831.0  15089488.97  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
420  SZ001914   1554831.0  15089488.97  2001914         NaN         NaN

2017-12-29
trade finished
0:04:47.219150

In [1]:
import pymongo
import pandas as pd
import pickle
import datetime
import time
import gzip
import lzma
import pytz

class DB(object):
    def __init__(self, uri, symbol_column='skey'):
        self.db_name = 'white_db'
        user, passwd, host = self.parse_uri(uri)
        auth_db = 'admin' if user in ('admin', 'root') else self.db_name
        self.uri = 'mongodb://%s:%s@%s/?authSource=%s' % (user, passwd, host, auth_db)

        self.client = pymongo.MongoClient(self.uri)
        self.db = self.client[self.db_name]
        self.chunk_size = 20000
        self.symbol_column = symbol_column
        self.date_column = 'date'

    def parse_uri(self, uri):
        # mongodb://user:password@example.com
        return uri.strip().replace('mongodb://', '').strip('/').replace(':', ' ').replace('@', ' ').split(' ')

    def drop_table(self, table_name):
        self.db.drop_collection(table_name)

    def rename_table(self, old_table, new_table):
        self.db[old_table].rename(new_table)

    def write(self, table_name, df):
        if len(df) == 0: return

        multi_date = False

        if self.date_column in df.columns:
            date = str(df.head(1)[self.date_column].iloc[0])
            multi_date = len(df[self.date_column].unique()) > 1
        else:
            raise Exception('DataFrame should contain date column')

        collection = self.db[table_name]
        collection.create_index([('date', pymongo.ASCENDING), ('symbol', pymongo.ASCENDING)], background=True)
        collection.create_index([('symbol', pymongo.ASCENDING), ('date', pymongo.ASCENDING)], background=True)

        if multi_date:
            for (date, symbol), sub_df in df.groupby([self.date_column, self.symbol_column]):
                date = str(date)
                symbol = int(symbol)
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)
        else:
            for symbol, sub_df in df.groupby([self.symbol_column]):
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)

    def write_single(self, collection, date, symbol, df):
        for start in range(0, len(df), self.chunk_size):
            end = min(start + self.chunk_size, len(df))
            df_seg = df[start:end]
            version = 1
            seg = {'ver': version, 'data': self.ser(df_seg, version), 'date': date, 'symbol': symbol, 'start': start}
            collection.insert_one(seg)

    def build_query(self, start_date=None, end_date=None, symbol=None):
        query = {}

        def parse_date(x):
            if type(x) == str:
                if len(x) != 8:
                    raise Exception("`date` must be YYYYMMDD format")
                return x
            elif type(x) == datetime.datetime or type(x) == datetime.date:
                return x.strftime("%Y%m%d")
            elif type(x) == int:
                return parse_date(str(x))
            else:
                raise Exception("invalid `date` type: " + str(type(x)))

        if start_date is not None or end_date is not None:
            query['date'] = {}
            if start_date is not None:
                query['date']['$gte'] = parse_date(start_date)
            if end_date is not None:
                query['date']['$lte'] = parse_date(end_date)

        def parse_symbol(x):
            if type(x) == int:
                return x
            else:
                return int(x)

        if symbol:
            if type(symbol) == list or type(symbol) == tuple:
                query['symbol'] = {'$in': [parse_symbol(x) for x in symbol]}
            else:
                query['symbol'] = parse_symbol(symbol)

        return query

    def delete(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot delete the whole table')
            return None

        collection.delete_many(query)

    def read(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot read the whole table')
            return None

        segs = []
        for x in collection.find(query):
            x['data'] = self.deser(x['data'], x['ver'])
            segs.append(x)
        segs.sort(key=lambda x: (x['symbol'], x['date'], x['start']))
        return pd.concat([x['data'] for x in segs], ignore_index=True) if segs else None

    def list_tables(self):
        return self.db.collection_names()

    def list_dates(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]
        dates = set()
        if start_date is None:
            start_date = '00000000'
        if end_date is None:
            end_date = '99999999'
        for x in collection.find(self.build_query(start_date, end_date, symbol), {"date": 1, '_id': 0}):
            dates.add(x['date'])
        return sorted(list(dates))

    def ser(self, s, version):
        if version == 1:
            return gzip.compress(pickle.dumps(s), compresslevel=2)
        elif version == 2:
            return lzma.compress(pickle.dumps(s), preset=1)
        else:
            raise Exception('unknown version')

    def deser(self, s, version):
        def unpickle(s):
            return pickle.loads(s)

        if version == 1:
            return unpickle(gzip.decompress(s))
        elif version == 2:
            return unpickle(lzma.decompress(s))
        else:
            raise Exception('unknown version')

            
            
            
            
            
            
            
            
import pandas as pd
import random
import numpy as np
import glob
import os
import pickle
import datetime
import time
pd.set_option("max_columns", 200)

startTm = datetime.datetime.now()
readPath = '/home/work516/day_stock/***'
dataPathLs = np.array(glob.glob(readPath))
dataPathLs = dataPathLs[[np.array([os.path.basename(i).split('.')[0][:2] == 'SZ' for i in dataPathLs])]]
db = pd.DataFrame()
for p in dataPathLs:
    dayData = pd.read_csv(p, compression='gzip')
    db = pd.concat([db, dayData])
print(datetime.datetime.now() - startTm)

year = "2018"
startDate = '20180102'
endDate = '20180731'
readPath = '/mnt/usb/' + year + '/***/***'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([os.path.basename(i) for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]

for data in dataPathLs:
    
    if len(np.array(glob.glob(data + '/SZ/***'))) == 0:
        if int(os.path.basename(data)) not in date_list["Date"].values:
            continue
        else:
            print(os.path.basename(data) + " less data!!!!!!!!!!!!!!!!!")
            less.append(data)
            continue
    startTm = datetime.datetime.now()
    date = os.path.basename(data)
    rar_path = data + '/SZ/tick.7z'
    path = '/mnt/e/unzip_data/2018/SZ'
    path1 = path + '/' + date
    un_path = path1
    cmd = '7za x {} -o{}'.format(rar_path, un_path)
    os.system(cmd)
    print(datetime.datetime.now() - startTm)
    print(date + ' unzip finished')
    
    
    startTm = datetime.datetime.now()
    
    readPath = path1 + '/tick/***'
    dataPathLs = np.array(glob.glob(readPath))
    dateLs = np.array([int(os.path.basename(i).split('.')[0]) for i in dataPathLs])
    dataPathLs = dataPathLs[(dateLs < 4000) | ((dateLs > 300000) & (dateLs < 310000))]
    TradeLog = []
    ll = []
    
    for i in dataPathLs:
        try:
            df = pd.read_csv(i)
        except:
            print("empty data")
            print(i)
            ll.append(int(os.path.basename(i).split('.')[0]))
            continue
        df["SecurityID"] = int(os.path.basename(i).split('.')[0])
        TradeLog += [df]
    TradeLog = pd.concat(TradeLog).reset_index(drop=True)
    TradeLog = TradeLog[TradeLog["ChannelNo"] != 4001]
    
    TradeLog["date"] = TradeLog["TransactTime"].iloc[0]//1000000000
    TradeLog = TradeLog.rename(columns={"Qty":"trade_qty", "Price":"trade_price", "ExecType":"trade_type"})
    TradeLog["trade_money"] = TradeLog["trade_price"] * TradeLog["trade_qty"]
    TradeLog["trade_flag"] = 0
    TradeLog["skey"] = TradeLog["SecurityID"] + 2000000
    TradeLog["clockAtArrival"] = TradeLog["TransactTime"].astype(str).apply(lambda x: np.int64(datetime.datetime.strptime(x, '%Y%m%d%H%M%S%f').timestamp()*1e6))
    TradeLog['datetime'] = TradeLog["clockAtArrival"].apply(lambda x: datetime.datetime.fromtimestamp(x/1e6))
    TradeLog["time"] = (TradeLog['TransactTime'] - int(TradeLog['TransactTime'].iloc[0]//1000000000*1000000000)).astype(np.int64)*1000
    TradeLog["trade_type"] = np.where(TradeLog["trade_type"] == 'F', 1, TradeLog["trade_type"])
    for col in ["skey", "date", "ApplSeqNum", "BidApplSeqNum", "OfferApplSeqNum", "trade_qty", "trade_type", "trade_flag"]:
        TradeLog[col] = TradeLog[col].astype('int32')
#     for cols in ["trade_money", "trade_price"]:
#         display(cols)
#         display(TradeLog[cols].astype(str).apply(lambda x: len(str(x.split('.')[1]))).unique())
#         TradeLog[cols] = TradeLog[cols].round(2)
#         display(TradeLog[cols].astype(str).apply(lambda x: len(str(x.split('.')[1]))).unique())
    for cols in ["trade_money"]:
        TradeLog[cols] = TradeLog[cols].round(2)
    
    da_te = str(TradeLog["date"].iloc[0]) 
    da_te = da_te[:4] + '-' + da_te[4:6] + '-' + da_te[6:8]
    db1 = db[db["date"] == da_te]
    sl = (db1["ID"].str[2:].astype(int) + 2000000).unique()
    db1["max_volume"] = db1.groupby("ID")["d_volume"].transform("max")
    db1["max_amount"] = db1.groupby("ID")["d_amount"].transform("max")
    t1 = db1.groupby("ID")["max_volume", "max_amount"].first().reset_index()
    del db1
    t1["skey"] = t1["ID"].str[2:].astype(int) + 2000000
    trade1 = TradeLog[TradeLog["trade_type"] == 1].groupby("skey")["trade_qty"].sum().reset_index()
    trade1.columns=["skey", "cum_volume"]
    trade2 = TradeLog[TradeLog["trade_type"] == 1].groupby("skey")["trade_money"].sum().reset_index()
    trade2.columns=["skey", "cum_amount"]
    t2 = pd.merge(trade1, trade2, on="skey")
    re = pd.merge(t1, t2, on="skey", how="outer")
    try:
        assert(t1.shape[0] == t2.shape[0])
        assert(re[re["cum_volume"] != re["max_volume"]].shape[0] == 0)
        assert(re[re["cum_amount"].round(2) != re["max_amount"]].shape[0] == 0)
    except:
        display(set(t1["skey"]) - set(t2["skey"]))
        display(re[re["cum_volume"] != re["max_volume"]])
        display(re[re["cum_amount"].round(2) != re["max_amount"]])
    del t1
    del t2
    del re
 
    TradeLog = TradeLog[["skey", "date", "time", "clockAtArrival", "datetime", "ApplSeqNum", "trade_type", "trade_flag",
                                                 "trade_price", "trade_qty", "BidApplSeqNum", "OfferApplSeqNum"]]
    print(da_te)
    print("trade finished")


    
    db1 = DB("mongodb://user_rw:faa96dfc@192.168.10.223")
    db1.write('trade', TradeLog)
    
    del TradeLog

    print(datetime.datetime.now() - startTm)

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:182: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.

0:05:30.384509
0:00:14.829979
20180102 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
419  SZ001914   3136182.0  30894568.54  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
419  SZ001914   3136182.0  30894568.54  2001914         NaN         NaN

2018-01-02
trade finished
0:04:23.461376
0:00:18.354842
20180103 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001914   3575395.0  35144676.28  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001914   3575395.0  35144676.28  2001914         NaN         NaN

2018-01-03
trade finished
0:05:32.651270
0:00:17.423726
20180104 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001914   2205793.0  21571163.83  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001914   2205793.0  21571163.83  2001914         NaN         NaN

2018-01-04
trade finished
0:05:07.924862
0:00:16.909730
20180105 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
419  SZ001914   8049570.0  80516474.62  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
419  SZ001914   8049570.0  80516474.62  2001914         NaN         NaN

2018-01-05
trade finished
0:04:57.688172
0:00:17.326069
20180108 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
419  SZ001914   6457055.0  65264376.29  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
419  SZ001914   6457055.0  65264376.29  2001914         NaN         NaN

2018-01-08
trade finished
0:05:08.017295
0:00:16.635134
20180109 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
419  SZ001914   4104800.0  41190143.0  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
419  SZ001914   4104800.0  41190143.0  2001914         NaN         NaN

2018-01-09
trade finished
0:05:03.157168
0:00:23.004209
20180110 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
420  SZ001914   5576895.0  54965076.3  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
420  SZ001914   5576895.0  54965076.3  2001914         NaN         NaN

2018-01-10
trade finished
0:05:49.710889
0:00:17.868575
20180111 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001914   4698270.0  45605047.68  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001914   4698270.0  45605047.68  2001914         NaN         NaN

2018-01-11
trade finished
0:05:46.622619
0:00:16.960617
20180112 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
420  SZ001914  11261374.0  1.157647e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
420  SZ001914  11261374.0  1.157647e+08  2001914         NaN         NaN

2018-01-12
trade finished
0:05:26.633940
0:00:18.352305
20180115 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
423  SZ001914   6057750.0  60689242.44  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
423  SZ001914   6057750.0  60689242.44  2001914         NaN         NaN

2018-01-15
trade finished
0:05:44.633403
0:00:17.077351
20180116 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
425  SZ001914   6534810.0  66653948.48  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
425  SZ001914   6534810.0  66653948.48  2001914         NaN         NaN

2018-01-16
trade finished
0:05:23.896431
0:00:19.356174
20180117 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
425  SZ001914   4519265.0  45850738.74  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
425  SZ001914   4519265.0  45850738.74  2001914         NaN         NaN

2018-01-17
trade finished
0:05:43.605954
0:00:15.959877
20180118 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
426  SZ001914   3444100.0  34614242.0  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
426  SZ001914   3444100.0  34614242.0  2001914         NaN         NaN

2018-01-18
trade finished
0:04:30.229532
0:00:16.714811
20180119 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
425  SZ001914   3593312.0  35807861.56  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
425  SZ001914   3593312.0  35807861.56  2001914         NaN         NaN

2018-01-19
trade finished
0:04:59.066376
0:00:17.748054
20180122 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
426  SZ001914   4553370.0  45218143.8  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
426  SZ001914   4553370.0  45218143.8  2001914         NaN         NaN

2018-01-22
trade finished
0:05:48.121525
0:00:15.408997
20180123 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
427  SZ001914   5162796.0  52665183.91  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
427  SZ001914   5162796.0  52665183.91  2001914         NaN         NaN

2018-01-23
trade finished
0:04:47.211250
0:00:18.308589
20180124 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
426  SZ001914   5015210.0  51458675.9  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
426  SZ001914   5015210.0  51458675.9  2001914         NaN         NaN

2018-01-24
trade finished
0:05:40.144603
0:00:20.148971
20180125 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
424  SZ001914   5596383.0  56630224.38  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
424  SZ001914   5596383.0  56630224.38  2001914         NaN         NaN

2018-01-25
trade finished
0:06:13.779567
0:00:16.543410
20180126 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
422  SZ001914   2542400.0  25644683.46  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
422  SZ001914   2542400.0  25644683.46  2001914         NaN         NaN

2018-01-26
trade finished
0:05:15.197826
0:00:19.083096
20180129 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
423  SZ001914   3028030.0  30365167.6  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
423  SZ001914   3028030.0  30365167.6  2001914         NaN         NaN

2018-01-29
trade finished
0:05:19.139300
0:00:14.991607
20180130 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
422  SZ001914   1573900.0  15725609.0  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
422  SZ001914   1573900.0  15725609.0  2001914         NaN         NaN

2018-01-30
trade finished
0:04:24.957605
0:00:17.547511
20180131 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
421  SZ001914   3640078.0  36537357.5  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
421  SZ001914   3640078.0  36537357.5  2001914         NaN         NaN

2018-01-31
trade finished
0:05:45.109712
0:00:19.358929
20180201 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001914   6031253.0  58685915.78  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001914   6031253.0  58685915.78  2001914         NaN         NaN

2018-02-01
trade finished
0:05:32.755318
0:00:15.458390
20180202 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
418  SZ001914   3974457.0  37457139.67  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
418  SZ001914   3974457.0  37457139.67  2001914         NaN         NaN

2018-02-02
trade finished
0:04:37.554591
0:00:13.707975
20180205 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
412  SZ001914   2202514.0  20542053.58  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
412  SZ001914   2202514.0  20542053.58  2001914         NaN         NaN

2018-02-05
trade finished
0:04:00.801660
0:00:16.825784
20180206 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
410  SZ001914   5573912.0  49360184.4  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
410  SZ001914   5573912.0  49360184.4  2001914         NaN         NaN

2018-02-06
trade finished
0:05:01.260604
0:00:16.535104
20180207 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
410  SZ001914   5173501.0  45147633.7  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
410  SZ001914   5173501.0  45147633.7  2001914         NaN         NaN

2018-02-07
trade finished
0:04:43.045073
0:00:13.599094
20180208 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
411  SZ001914   2748406.0  24061124.3  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
411  SZ001914   2748406.0  24061124.3  2001914         NaN         NaN

2018-02-08
trade finished
0:04:17.343620
0:00:16.131456
20180209 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
411  SZ001914   3860987.0  32241730.83  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
411  SZ001914   3860987.0  32241730.83  2001914         NaN         NaN

2018-02-09
trade finished
0:04:55.711417
0:00:13.748886
20180212 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
413  SZ001914   2406677.0  20327253.99  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
413  SZ001914   2406677.0  20327253.99  2001914         NaN         NaN

2018-02-12
trade finished
0:03:50.030765
0:00:12.227810
20180213 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
413  SZ001914   2959257.0  25612556.46  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
413  SZ001914   2959257.0  25612556.46  2001914         NaN         NaN

2018-02-13
trade finished
0:03:51.654603
0:00:10.020283
20180214 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
417  SZ001914   2221403.0  19111113.12  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
417  SZ001914   2221403.0  19111113.12  2001914         NaN         NaN

2018-02-14
trade finished
0:02:59.318351
0:00:13.333910
20180222 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001914   2765322.0  23928838.19  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001914   2765322.0  23928838.19  2001914         NaN         NaN

2018-02-22
trade finished
0:03:38.241306
0:00:13.017892
20180223 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
422  SZ001914   2193570.0  18998641.9  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
422  SZ001914   2193570.0  18998641.9  2001914         NaN         NaN

2018-02-23
trade finished
0:03:54.495089
0:00:16.055103
20180226 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
423  SZ001914   3648952.0  31888949.12  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
423  SZ001914   3648952.0  31888949.12  2001914         NaN         NaN

2018-02-26
trade finished
0:04:59.722352
0:00:17.896795
20180227 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
423  SZ001914   2413640.0  21156574.2  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
423  SZ001914   2413640.0  21156574.2  2001914         NaN         NaN

2018-02-27
trade finished
0:05:17.142476
0:00:18.136790
20180228 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001914   8649022.0  78747765.31  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001914   8649022.0  78747765.31  2001914         NaN         NaN

2018-02-28
trade finished
0:05:20.955563
0:00:16.783669
20180301 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
420  SZ001914   2756662.0  25199680.11  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
420  SZ001914   2756662.0  25199680.11  2001914         NaN         NaN

2018-03-01
trade finished
0:05:37.394052
0:00:16.682546
20180302 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
420  SZ001914   2500745.0  22978370.96  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
420  SZ001914   2500745.0  22978370.96  2001914         NaN         NaN

2018-03-02
trade finished
0:05:14.254042
0:00:15.299552
20180305 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
420  SZ001914   3266642.0  29569901.45  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
420  SZ001914   3266642.0  29569901.45  2001914         NaN         NaN

2018-03-05
trade finished
0:04:35.798596
0:00:17.575124
20180306 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001914   3035494.0  27601035.22  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001914   3035494.0  27601035.22  2001914         NaN         NaN

2018-03-06
trade finished
0:05:47.298155
0:00:15.938129
20180307 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001914   2229002.0  20232466.29  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001914   2229002.0  20232466.29  2001914         NaN         NaN

2018-03-07
trade finished
0:05:14.281018
0:00:16.573086
20180308 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
420  SZ001914   2844066.0  25694411.2  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
420  SZ001914   2844066.0  25694411.2  2001914         NaN         NaN

2018-03-08
trade finished
0:05:01.554579
0:00:19.524785
20180309 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
423  SZ001914   3859237.0  35020906.55  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
423  SZ001914   3859237.0  35020906.55  2001914         NaN         NaN

2018-03-09
trade finished
0:06:11.216751
0:00:20.599353
20180312 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

            ID   max_volume    max_amount     skey   cum_volume    cum_amount
0     SZ000001  126870132.0  1.526643e+09  2000001  126002312.0  1.516183e+09
1     SZ000002   60620829.0  1.979205e+09  2000002   59631126.0  1.946804e+09
2     SZ000004    1140934.0  2.431713e+07  2000004    1140434.0  2.430660e+07
3     SZ000005    8090280.0  3.332755e+07  2000005    8050080.0  3.316269e+07
4     SZ000006   73831689.0  6.359677e+08  2000006   73434289.0  6.325524e+08
...        ...          ...           ...      ...          ...           ...
1913  SZ300737   22504298.0  3.697260e+08  2300737   22334434.0  3.669388e+08
1914  SZ300738    9004548.0  6.864826e+08  2300738    8945948.0  6.817759e+08
1915  SZ300739   15034608.0  7.093033e+08  2300739   14943764.0  7.049182e+08
1916  SZ300740   12839371.0  6.422650e+08  2300740   12723271.0  6.362952e+08
1917  SZ300741   15715495.0  8.594732e+08  2300741   15614795.0  8.541453e+08

[1910 rows x 6 columns]

            ID   max_volume    max_amount     skey   cum_volume    cum_amount
0     SZ000001  126870132.0  1.526643e+09  2000001  126002312.0  1.516183e+09
1     SZ000002   60620829.0  1.979205e+09  2000002   59631126.0  1.946804e+09
2     SZ000004    1140934.0  2.431713e+07  2000004    1140434.0  2.430660e+07
3     SZ000005    8090280.0  3.332755e+07  2000005    8050080.0  3.316269e+07
4     SZ000006   73831689.0  6.359677e+08  2000006   73434289.0  6.325524e+08
...        ...          ...           ...      ...          ...           ...
1913  SZ300737   22504298.0  3.697260e+08  2300737   22334434.0  3.669388e+08
1914  SZ300738    9004548.0  6.864826e+08  2300738    8945948.0  6.817759e+08
1915  SZ300739   15034608.0  7.093033e+08  2300739   14943764.0  7.049182e+08
1916  SZ300740   12839371.0  6.422650e+08  2300740   12723271.0  6.362952e+08
1917  SZ300741   15715495.0  8.594732e+08  2300741   15614795.0  8.541453e+08

[1910 rows x 6 columns]

2018-03-12
trade finished
0:06:43.489199
0:00:20.589806
20180313 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001914   3367860.0  30679793.05  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001914   3367860.0  30679793.05  2001914         NaN         NaN

2018-03-13
trade finished
0:06:12.957897
0:00:17.789218
20180314 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
420  SZ001914   1975753.0  17963229.79  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
420  SZ001914   1975753.0  17963229.79  2001914         NaN         NaN

2018-03-14
trade finished
0:05:39.486120
0:00:17.607021
20180315 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
424  SZ001914   2635313.0  23893577.84  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
424  SZ001914   2635313.0  23893577.84  2001914         NaN         NaN

2018-03-15
trade finished
0:06:00.965574
0:00:16.254619
20180316 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
424  SZ001914   1983378.0  18022878.12  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
424  SZ001914   1983378.0  18022878.12  2001914         NaN         NaN

2018-03-16
trade finished
0:05:26.072453
0:00:15.568152
20180319 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
424  SZ001914   2098845.0  18914823.7  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
424  SZ001914   2098845.0  18914823.7  2001914         NaN         NaN

2018-03-19
trade finished
0:05:14.534973
0:00:18.444478
20180320 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
423  SZ001914   2006399.0  17957497.91  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
423  SZ001914   2006399.0  17957497.91  2001914         NaN         NaN

2018-03-20
trade finished
0:05:07.816895
0:00:18.703655
20180321 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
424  SZ001914   2811159.0  25383269.69  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
424  SZ001914   2811159.0  25383269.69  2001914         NaN         NaN

2018-03-21
trade finished
0:05:47.867404
0:00:16.867194
20180322 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
423  SZ001914   6270537.0  57586320.6  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
423  SZ001914   6270537.0  57586320.6  2001914         NaN         NaN

2018-03-22
trade finished
0:05:14.180806
0:00:22.310904
20180323 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
423  SZ001914   6723156.0  60277245.66  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
423  SZ001914   6723156.0  60277245.66  2001914         NaN         NaN

2018-03-23
trade finished
0:07:08.122306
0:00:18.084107
20180326 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
422  SZ001914   2176182.0  19044257.22  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
422  SZ001914   2176182.0  19044257.22  2001914         NaN         NaN

2018-03-26
trade finished
0:05:29.798735
0:00:19.465102
20180327 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
421  SZ001914   2064104.0  18565280.7  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
421  SZ001914   2064104.0  18565280.7  2001914         NaN         NaN

2018-03-27
trade finished
0:06:18.612607
0:00:20.788194
20180328 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
421  SZ001914   2665100.0  23779654.0  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
421  SZ001914   2665100.0  23779654.0  2001914         NaN         NaN

2018-03-28
trade finished
0:06:16.030713
0:00:18.251857
20180329 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001914   2633000.0  23649353.49  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001914   2633000.0  23649353.49  2001914         NaN         NaN

2018-03-29
trade finished
0:05:39.274788
0:00:19.126273
20180330 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

            ID  max_volume    max_amount     skey  cum_volume    cum_amount
0     SZ000001  75217368.0  8.234382e+08  2000001  74618268.0  8.168946e+08
1     SZ000002  57269205.0  1.918089e+09  2000002  57188205.0  1.915359e+09
2     SZ000004    629640.0  1.431754e+07  2000004    629540.0  1.431527e+07
3     SZ000005  13418319.0  5.184081e+07  2000005  13378319.0  5.168441e+07
4     SZ000006  20902057.0  1.547472e+08  2000006  20752057.0  1.536319e+08
...        ...         ...           ...      ...         ...           ...
1920  SZ300737   8383303.0  1.225786e+08  2300737   8376203.0  1.224752e+08
1921  SZ300738   4667346.0  3.539655e+08  2300738   4650946.0  3.527582e+08
1922  SZ300739   7198699.0  2.986254e+08  2300739   7173499.0  2.975974e+08
1923  SZ300740   7553433.0  4.305718e+08  2300740   7535433.0  4.295622e+08
1924  SZ300741   3178501.0  1.452413e+08  2300741   3175001.0  1.450813e+08

[1788 rows x 6 columns]

            ID  max_volume    max_amount     skey  cum_volume    cum_amount
0     SZ000001  75217368.0  8.234382e+08  2000001  74618268.0  8.168946e+08
1     SZ000002  57269205.0  1.918089e+09  2000002  57188205.0  1.915359e+09
2     SZ000004    629640.0  1.431754e+07  2000004    629540.0  1.431527e+07
3     SZ000005  13418319.0  5.184081e+07  2000005  13378319.0  5.168441e+07
4     SZ000006  20902057.0  1.547472e+08  2000006  20752057.0  1.536319e+08
...        ...         ...           ...      ...         ...           ...
1920  SZ300737   8383303.0  1.225786e+08  2300737   8376203.0  1.224752e+08
1921  SZ300738   4667346.0  3.539655e+08  2300738   4650946.0  3.527582e+08
1922  SZ300739   7198699.0  2.986254e+08  2300739   7173499.0  2.975974e+08
1923  SZ300740   7553433.0  4.305718e+08  2300740   7535433.0  4.295622e+08
1924  SZ300741   3178501.0  1.452413e+08  2300741   3175001.0  1.450813e+08

[1788 rows x 6 columns]

2018-03-30
trade finished
0:05:53.759691
0:00:21.011669
20180402 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
422  SZ001914   3066807.0  28021589.0  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
422  SZ001914   3066807.0  28021589.0  2001914         NaN         NaN

2018-04-02
trade finished
0:06:40.790913
0:00:19.768252
20180403 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
423  SZ001914   2696631.0  24387930.7  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
423  SZ001914   2696631.0  24387930.7  2001914         NaN         NaN

2018-04-03
trade finished
0:06:14.538681
0:00:18.991309
20180404 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
424  SZ001914   2639770.0  24043346.52  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
424  SZ001914   2639770.0  24043346.52  2001914         NaN         NaN

2018-04-04
trade finished
0:05:54.284983
0:00:18.617217
20180409 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
423  SZ001914   2129436.0  19272761.06  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
423  SZ001914   2129436.0  19272761.06  2001914         NaN         NaN

2018-04-09
trade finished
0:05:21.669677
0:00:18.798236
20180410 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
423  SZ001914   3334671.0  30414707.15  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
423  SZ001914   3334671.0  30414707.15  2001914         NaN         NaN

2018-04-10
trade finished
0:05:54.392873
0:00:18.441996
20180411 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
422  SZ001914   4027718.0  37325468.87  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
422  SZ001914   4027718.0  37325468.87  2001914         NaN         NaN

2018-04-11
trade finished
0:06:32.525259
0:00:18.035124
20180412 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001914   3096040.0  28765881.04  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001914   3096040.0  28765881.04  2001914         NaN         NaN

2018-04-12
trade finished
0:05:40.900591
0:00:16.636623
20180413 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
424  SZ001914   3111071.0  28877488.45  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
424  SZ001914   3111071.0  28877488.45  2001914         NaN         NaN

2018-04-13
trade finished
0:05:16.529748
0:00:17.695848
20180416 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
420  SZ001914   2842406.0  25910513.32  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
420  SZ001914   2842406.0  25910513.32  2001914         NaN         NaN

2018-04-16
trade finished
0:05:35.558316
0:00:18.954250
20180417 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
420  SZ001914   2296329.0  20978976.04  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
420  SZ001914   2296329.0  20978976.04  2001914         NaN         NaN

2018-04-17
trade finished
0:05:58.936802
0:00:20.440003
20180418 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
420  SZ001914   3561802.0  32829848.81  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
420  SZ001914   3561802.0  32829848.81  2001914         NaN         NaN

2018-04-18
trade finished
0:07:05.093565
0:00:19.762467
20180419 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
420  SZ001914   5603605.0  52825612.97  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
420  SZ001914   5603605.0  52825612.97  2001914         NaN         NaN

2018-04-19
trade finished
0:05:54.553907
0:00:19.026357
20180420 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
418  SZ001914   3584047.0  34033944.37  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
418  SZ001914   3584047.0  34033944.37  2001914         NaN         NaN

2018-04-20
trade finished
0:06:19.975987
0:00:16.972717
20180423 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
419  SZ001914   6013476.0  57664631.99  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
419  SZ001914   6013476.0  57664631.99  2001914         NaN         NaN

2018-04-23
trade finished
0:05:11.956938
0:00:18.290860
20180424 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
419  SZ001914   5626552.0  55334096.64  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
419  SZ001914   5626552.0  55334096.64  2001914         NaN         NaN

2018-04-24
trade finished
0:05:36.713115
0:00:20.679208
20180425 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
420  SZ001914   4438720.0  43068883.07  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
420  SZ001914   4438720.0  43068883.07  2001914         NaN         NaN

2018-04-25
trade finished
0:05:57.934772
0:00:18.181016
20180426 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
419  SZ001914   3438994.0  33197926.64  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
419  SZ001914   3438994.0  33197926.64  2001914         NaN         NaN

2018-04-26
trade finished
0:06:19.749231
0:00:16.803470
20180427 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
419  SZ001914   3080642.0  29883508.13  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
419  SZ001914   3080642.0  29883508.13  2001914         NaN         NaN

2018-04-27
trade finished
0:05:07.404948
0:00:15.435739
20180502 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
417  SZ001914   3706838.0  35282176.9  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
417  SZ001914   3706838.0  35282176.9  2001914         NaN         NaN

2018-05-02
trade finished
0:04:57.895249
0:00:17.773870
20180503 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
418  SZ001914   2701684.0  25833198.12  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
418  SZ001914   2701684.0  25833198.12  2001914         NaN         NaN

2018-05-03
trade finished
0:05:13.313629
0:00:15.369807
20180504 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
417  SZ001914   2211700.0  21112318.0  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
417  SZ001914   2211700.0  21112318.0  2001914         NaN         NaN

2018-05-04
trade finished
0:05:05.966217
0:00:17.108295
20180507 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
416  SZ001914   1961098.0  18642035.53  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
416  SZ001914   1961098.0  18642035.53  2001914         NaN         NaN

2018-05-07
trade finished
0:05:13.967278
0:00:18.186413
20180508 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
418  SZ001914   3324327.0  32198422.25  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
418  SZ001914   3324327.0  32198422.25  2001914         NaN         NaN

2018-05-08
trade finished
0:06:01.656607
0:00:16.288783
20180509 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
418  SZ001914   1602781.0  15380922.96  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
418  SZ001914   1602781.0  15380922.96  2001914         NaN         NaN

2018-05-09
trade finished
0:05:18.665828
0:00:17.871565
20180510 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
417  SZ001914   3168334.0  30188389.85  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
417  SZ001914   3168334.0  30188389.85  2001914         NaN         NaN

2018-05-10
trade finished
0:05:30.715032
0:00:38.194388
20180511 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
419  SZ001914   2103648.0  19964174.08  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
419  SZ001914   2103648.0  19964174.08  2001914         NaN         NaN

2018-05-11
trade finished
0:05:41.316564
0:00:16.866395
20180514 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
421  SZ001914  17384712.0  1.503627e+08  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
421  SZ001914  17384712.0  1.503627e+08  2001914         NaN         NaN

2018-05-14
trade finished
0:05:17.473609
0:00:15.372760
20180515 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
420  SZ001914   3910562.0  33279860.73  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
420  SZ001914   3910562.0  33279860.73  2001914         NaN         NaN

2018-05-15
trade finished
0:04:47.502175
0:00:16.176277
20180516 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001914   4796085.0  40319318.15  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001914   4796085.0  40319318.15  2001914         NaN         NaN

2018-05-16
trade finished
0:05:00.605722
0:00:15.839445
20180517 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
421  SZ001914   2828354.0  23704590.3  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
421  SZ001914   2828354.0  23704590.3  2001914         NaN         NaN

2018-05-17
trade finished
0:04:44.970605
0:00:15.790508
20180518 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
420  SZ001914   4312456.0  36589491.68  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
420  SZ001914   4312456.0  36589491.68  2001914         NaN         NaN

2018-05-18
trade finished
0:05:01.712887
0:00:18.751162
20180521 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
419  SZ001914   3442761.0  29131952.59  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
419  SZ001914   3442761.0  29131952.59  2001914         NaN         NaN

2018-05-21
trade finished
0:05:36.829730
0:00:17.916774
20180522 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
420  SZ001914   2128564.0  17889460.56  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
420  SZ001914   2128564.0  17889460.56  2001914         NaN         NaN

2018-05-22
trade finished
0:05:36.955105
0:00:18.906543
20180523 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
420  SZ001914   5312297.0  43662348.24  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
420  SZ001914   5312297.0  43662348.24  2001914         NaN         NaN

2018-05-23
trade finished
0:05:48.435770
0:00:16.703206
20180524 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
420  SZ001914   5951424.0  48025052.58  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
420  SZ001914   5951424.0  48025052.58  2001914         NaN         NaN

2018-05-24
trade finished
0:05:10.070668
0:00:17.234058
20180525 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001914   3066492.0  24738283.28  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001914   3066492.0  24738283.28  2001914         NaN         NaN

2018-05-25
trade finished
0:05:49.554694
0:00:18.959810
20180528 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
423  SZ001914   4552683.0  35794974.39  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
423  SZ001914   4552683.0  35794974.39  2001914         NaN         NaN

2018-05-28
trade finished
0:05:24.047075
0:00:17.939985
20180529 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
423  SZ001914   3222010.0  25190298.96  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
423  SZ001914   3222010.0  25190298.96  2001914         NaN         NaN

2018-05-29
trade finished
0:05:30.239363
0:00:18.573608
20180530 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
422  SZ001914   4003310.0  30696736.93  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
422  SZ001914   4003310.0  30696736.93  2001914         NaN         NaN

2018-05-30
trade finished
0:06:21.296403
0:00:19.078584
20180531 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001914   2260986.0  17439552.56  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001914   2260986.0  17439552.56  2001914         NaN         NaN

2018-05-31
trade finished
0:05:39.278085
0:00:16.244326
20180601 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001914   5658286.0  45600909.53  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001914   5658286.0  45600909.53  2001914         NaN         NaN

2018-06-01
trade finished
0:05:08.942843
0:00:15.862736
20180604 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
421  SZ001914   1797900.0  14231945.0  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
421  SZ001914   1797900.0  14231945.0  2001914         NaN         NaN

2018-06-04
trade finished
0:04:46.342759
0:00:15.612467
20180605 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
423  SZ001914   2027172.0  16059291.46  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
423  SZ001914   2027172.0  16059291.46  2001914         NaN         NaN

2018-06-05
trade finished
0:04:47.168356
0:00:15.586412
20180606 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001914   2321471.0  18442573.75  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001914   2321471.0  18442573.75  2001914         NaN         NaN

2018-06-06
trade finished
0:04:54.357474
0:00:16.264326
20180607 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
419  SZ001914   3441897.0  27678331.89  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
419  SZ001914   3441897.0  27678331.89  2001914         NaN         NaN

2018-06-07
trade finished
0:04:53.650727
0:00:16.499415
20180608 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
417  SZ001914   2211968.0  17685150.29  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
417  SZ001914   2211968.0  17685150.29  2001914         NaN         NaN

2018-06-08
trade finished
0:05:07.336156
0:00:14.341913
20180611 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
419  SZ001914   1085039.0  8537293.75  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
419  SZ001914   1085039.0  8537293.75  2001914         NaN         NaN

2018-06-11
trade finished
0:04:26.396904
0:00:15.504862
20180612 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
419  SZ001914   1817439.0  14403838.29  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
419  SZ001914   1817439.0  14403838.29  2001914         NaN         NaN

2018-06-12
trade finished
0:04:45.703578
0:00:14.644522
20180613 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001914   1664801.0  13063923.82  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001914   1664801.0  13063923.82  2001914         NaN         NaN

2018-06-13
trade finished
0:04:42.238923
0:00:14.676025
20180614 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
419  SZ001914   1709641.0  13252524.73  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
419  SZ001914   1709641.0  13252524.73  2001914         NaN         NaN

2018-06-14
trade finished
0:04:33.534020
0:00:16.800309
20180615 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
418  SZ001914   3561635.0  27904669.29  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
418  SZ001914   3561635.0  27904669.29  2001914         NaN         NaN

2018-06-15
trade finished
0:05:09.778856
0:00:17.653320
20180619 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
417  SZ001914   4639053.0  34080020.53  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
417  SZ001914   4639053.0  34080020.53  2001914         NaN         NaN

2018-06-19
trade finished
0:05:37.084438
0:00:16.643084
20180620 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
417  SZ001914   3685500.0  26265733.95  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
417  SZ001914   3685500.0  26265733.95  2001914         NaN         NaN

2018-06-20
trade finished
0:05:04.615512
0:00:16.803578
20180621 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
418  SZ001914   4818697.0  33570356.13  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
418  SZ001914   4818697.0  33570356.13  2001914         NaN         NaN

2018-06-21
trade finished
0:05:07.401050
0:00:15.418949
20180622 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
419  SZ001914   2597803.0  17659685.87  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
419  SZ001914   2597803.0  17659685.87  2001914         NaN         NaN

2018-06-22
trade finished
0:04:39.153526
0:00:14.330694
20180625 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001914   2064690.0  14223136.74  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
421  SZ001914   2064690.0  14223136.74  2001914         NaN         NaN

2018-06-25
trade finished
0:04:26.081599
0:00:16.659426
20180626 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
422  SZ001914   2272795.0  15662292.31  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
422  SZ001914   2272795.0  15662292.31  2001914         NaN         NaN

2018-06-26
trade finished
0:04:51.308854
0:00:15.679920
20180627 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
423  SZ001914   1948384.0  13550988.05  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
423  SZ001914   1948384.0  13550988.05  2001914         NaN         NaN

2018-06-27
trade finished
0:04:52.438232
0:00:15.872175
20180628 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
425  SZ001914   3482765.0  24678917.66  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
425  SZ001914   3482765.0  24678917.66  2001914         NaN         NaN

2018-06-28
trade finished
0:04:52.654340
0:00:16.649437
20180629 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
426  SZ001914   3240147.0  23017448.05  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
426  SZ001914   3240147.0  23017448.05  2001914         NaN         NaN

2018-06-29
trade finished
0:05:25.247043
0:00:16.796598
20180702 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
428  SZ001914   4106734.0  29080376.36  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
428  SZ001914   4106734.0  29080376.36  2001914         NaN         NaN

2018-07-02
trade finished
0:05:23.962568
0:00:18.308478
20180703 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
428  SZ001914   3916724.0  27493406.29  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
428  SZ001914   3916724.0  27493406.29  2001914         NaN         NaN

2018-07-03
trade finished
0:05:53.063149
0:00:16.874034
20180704 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
428  SZ001914   1872776.0  13108430.98  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
428  SZ001914   1872776.0  13108430.98  2001914         NaN         NaN

2018-07-04
trade finished
0:05:21.202621
0:00:16.492202
20180705 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
428  SZ001914   2946244.0  20025280.98  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
428  SZ001914   2946244.0  20025280.98  2001914         NaN         NaN

2018-07-05
trade finished
0:05:23.225204
0:00:18.170393
20180706 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
428  SZ001914   3337957.0  22490452.86  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
428  SZ001914   3337957.0  22490452.86  2001914         NaN         NaN

2018-07-06
trade finished
0:05:51.367993
0:00:15.484257
20180709 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
430  SZ001914   1954879.0  13588500.52  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
430  SZ001914   1954879.0  13588500.52  2001914         NaN         NaN

2018-07-09
trade finished
0:04:43.922062
0:00:15.944782
20180710 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
430  SZ001872   9757532.0  2.112768e+08  2001872         NaN         NaN
432  SZ001914   1804074.0  1.261478e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
430  SZ001872   9757532.0  2.112768e+08  2001872         NaN         NaN
432  SZ001914   1804074.0  1.261478e+07  2001914         NaN         NaN

2018-07-10
trade finished
0:05:01.004027
0:00:17.300502
20180711 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
430  SZ001872   6303361.0  1.241230e+08  2001872         NaN         NaN
432  SZ001914   2691716.0  1.861207e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
430  SZ001872   6303361.0  1.241230e+08  2001872         NaN         NaN
432  SZ001914   2691716.0  1.861207e+07  2001914         NaN         NaN

2018-07-11
trade finished
0:05:31.553370
0:00:21.364019
20180712 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
430  SZ001872   6644821.0  1.282735e+08  2001872         NaN         NaN
432  SZ001914   2520002.0  1.760465e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
430  SZ001872   6644821.0  1.282735e+08  2001872         NaN         NaN
432  SZ001914   2520002.0  1.760465e+07  2001914         NaN         NaN

2018-07-12
trade finished
0:06:01.028812
0:00:17.448402
20180713 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
432  SZ001872   4825692.0  92125320.02  2001872         NaN         NaN
434  SZ001914   5819670.0  42331285.70  2001914         NaN         NaN

            ID  max_volume   max_amount     skey  cum_volume  cum_amount
432   SZ001872   4825692.0  92125320.02  2001872         NaN         NaN
434   SZ001914   5819670.0  42331285.70  2001914         NaN         NaN
1295  SZ002932     13174.0    516421.00  2002932     13174.0    516420.8

2018-07-13
trade finished
0:06:03.774038
0:00:16.484053
20180716 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
435  SZ001872   3511585.0  67334860.15  2001872         NaN         NaN
437  SZ001914   3330237.0  24150874.00  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
435  SZ001872   3511585.0  67334860.15  2001872         NaN         NaN
437  SZ001914   3330237.0  24150874.00  2001914         NaN         NaN

2018-07-16
trade finished
0:05:06.406955
0:00:15.511963
20180717 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
435  SZ001872   2301390.0  43852490.6  2001872         NaN         NaN
437  SZ001914   2147059.0  15747796.7  2001914         NaN         NaN

           ID  max_volume  max_amount     skey  cum_volume  cum_amount
435  SZ001872   2301390.0  43852490.6  2001872         NaN         NaN
437  SZ001914   2147059.0  15747796.7  2001914         NaN         NaN

2018-07-17
trade finished
0:05:08.249847
0:00:16.250324
20180718 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
434  SZ001872   2663994.0  50426771.48  2001872         NaN         NaN
436  SZ001914   1844800.0  13466929.26  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
434  SZ001872   2663994.0  50426771.48  2001872         NaN         NaN
436  SZ001914   1844800.0  13466929.26  2001914         NaN         NaN

2018-07-18
trade finished
0:05:17.703974
0:00:15.848986
20180719 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
435  SZ001872   5099665.0  91113345.01  2001872         NaN         NaN
437  SZ001914   1971956.0  14147059.14  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
435  SZ001872   5099665.0  91113345.01  2001872         NaN         NaN
437  SZ001914   1971956.0  14147059.14  2001914         NaN         NaN

2018-07-19
trade finished
0:05:06.994316
0:00:16.089156
20180720 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
436  SZ001872   3451431.0  59756726.83  2001872         NaN         NaN
438  SZ001914   1535651.0  11015834.74  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
436  SZ001872   3451431.0  59756726.83  2001872         NaN         NaN
438  SZ001914   1535651.0  11015834.74  2001914         NaN         NaN

2018-07-20
trade finished
0:05:00.778451
0:00:17.697915
20180723 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
436  SZ001872   4085850.0  71959906.12  2001872         NaN         NaN
438  SZ001914   2102300.0  15381317.75  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
436  SZ001872   4085850.0  71959906.12  2001872         NaN         NaN
438  SZ001914   2102300.0  15381317.75  2001914         NaN         NaN

2018-07-23
trade finished
0:05:18.836290
0:00:19.267230
20180724 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
436  SZ001872   6096015.0  1.116180e+08  2001872         NaN         NaN
438  SZ001914   2357047.0  1.744835e+07  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
436  SZ001872   6096015.0  1.116180e+08  2001872         NaN         NaN
438  SZ001914   2357047.0  1.744835e+07  2001914         NaN         NaN

2018-07-24
trade finished
0:06:11.304869
0:00:17.855436
20180725 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
438  SZ001872   3870067.0  71356078.93  2001872         NaN         NaN
440  SZ001914   1759901.0  12984244.36  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
438  SZ001872   3870067.0  71356078.93  2001872         NaN         NaN
440  SZ001914   1759901.0  12984244.36  2001914         NaN         NaN

2018-07-25
trade finished
0:05:48.794380
0:00:18.640617
20180726 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
438  SZ001872   3908129.0  72978771.72  2001872         NaN         NaN
440  SZ001914   1849501.0  13622100.35  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
438  SZ001872   3908129.0  72978771.72  2001872         NaN         NaN
440  SZ001914   1849501.0  13622100.35  2001914         NaN         NaN

2018-07-26
trade finished
0:05:48.180857
0:00:15.730549
20180727 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
437  SZ001872   3574536.0  66809164.28  2001872         NaN         NaN
439  SZ001914   1284481.0   9461092.12  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
437  SZ001872   3574536.0  66809164.28  2001872         NaN         NaN
439  SZ001914   1284481.0   9461092.12  2001914         NaN         NaN

2018-07-27
trade finished
0:04:59.445170
0:00:15.901851
20180730 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
437  SZ001872   3035253.0  55448397.43  2001872         NaN         NaN
439  SZ001914   2419900.0  17739258.85  2001914         NaN         NaN

           ID  max_volume   max_amount     skey  cum_volume  cum_amount
437  SZ001872   3035253.0  55448397.43  2001872         NaN         NaN
439  SZ001914   2419900.0  17739258.85  2001914         NaN         NaN

2018-07-30
trade finished
0:04:54.450124
0:00:13.761382
20180731 unzip finished

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:263: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:264: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:265: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

{2001872, 2001914}

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
439  SZ001872   5751947.0  1.069749e+08  2001872         NaN         NaN
441  SZ001914   1279220.0  9.328639e+06  2001914         NaN         NaN

           ID  max_volume    max_amount     skey  cum_volume  cum_amount
439  SZ001872   5751947.0  1.069749e+08  2001872         NaN         NaN
441  SZ001914   1279220.0  9.328639e+06  2001914         NaN         NaN

2018-07-31
trade finished
0:04:18.627438

In [14]:
readPath = '/mnt/e/unzip_data/2018/SZ/20180312/tick/***'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([int(os.path.basename(i).split('.')[0]) for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs < 4000) | ((dateLs > 300000) & (dateLs < 310000))]
len(dataPathLs)

1917

In [10]:
pd.set_option("max_columns", 200)
d = pd.read_csv('/mnt/e/unzip_data/2018/SZ/20180312/tick/000001.csv')

Empty DataFrame
Columns: [ApplSeqNum, BidApplSeqNum, SendingTime, Price, ChannelNo, Qty, OfferApplSeqNum, Amt, ExecType, TransactTime]
Index: []