In [1]:
import os
import glob
import datetime
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

pd.set_option('max_rows', 100)
pd.set_option('max_columns', 100)

perc = [0.01, 0.05, 0.1, 0.25, 0.5, 0.75, 0.9, 0.95, 0.99]

In [2]:
startTm = datetime.datetime.now()

startDate = '20201214'
endDate = '20201216'

readPath = '/mnt/equityTradeLogs'
dataPathLs = np.array(glob.glob(os.path.join(readPath, 'speedCompare***.csv')))
dateLs = np.array([os.path.basename(i).split('_')[1].split('.')[0] for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]
dateLs = dateLs[(dateLs >= startDate) & (dateLs <= endDate)]

for thisDate in dateLs:
    
    readPath = '/mnt/equityTradeLogs'
    rawOrderLog = pd.read_csv(os.path.join(readPath, 'speedCompare_%s.csv'%thisDate))
    for col in ['clockAtArrival', 'caamd', 'secid', 'updateType', 'vai', 'absFilledThisUpdate', 'orderDirection', 'absOrderSize',
                'absOrderSizeCumFilled', 'date', 'accCode', 'mse']:
        rawOrderLog[col] = rawOrderLog[col].fillna(0)
        rawOrderLog[col] = rawOrderLog[col].astype('int64')   
    rawOrderLog = rawOrderLog.sort_values(by=['date', 'secid', 'vai', 'accCode', 'clockAtArrival']).reset_index(drop=True)

    rawOrderLog = rawOrderLog[rawOrderLog["secid"] >= 1000000]
    
    display('There are accounts with duplicated ticks:')
    display(rawOrderLog[rawOrderLog.duplicated(['date', 'secid', 'vai', 'accCode', 'clockAtArrival', 'updateType', \
                                        'orderDirection', 'absOrderSize'], keep=False)]\
    .groupby(['date', 'colo', 'accCode'])['ars'].size())
    rawOrderLog = rawOrderLog.drop_duplicates(['date', 'secid', 'vai', 'accCode', 'clockAtArrival', 'updateType', \
                                        'orderDirection', 'absOrderSize'], keep='first')
    
    display('There are ticks with orderDirection 0')
    display(rawOrderLog[rawOrderLog['orderDirection'] == 0][['date', 'colo', 'accCode', \
                'secid', 'vai', 'updateType', 'sdd', 'orderDirection', 'absOrderSize', 'internalId', 'orderId']])

    assert(rawOrderLog[rawOrderLog['updateType'] == 0][rawOrderLog[rawOrderLog['updateType'] == 0]\
                                                       .duplicated(['date', 'colo', 'accCode', 'secid', 'orderDirection',
                                                                    'vai', 'absOrderSize', 'internalId'], keep=False)].shape[0] == 0)
    try:
        assert(rawOrderLog[(rawOrderLog['updateType'] == 0) & (rawOrderLog['accCode'] != 8856)][rawOrderLog[(rawOrderLog['updateType'] == 0) & (rawOrderLog['accCode'] != 8856)]\
                                                           .duplicated(['date', 'colo', 'accCode', 'secid', 'orderDirection',
                                                                        'absOrderSize', 'internalId'], keep=False)].shape[0] == 0)
    except:
        print('There are orders with all things same except sdd')
        print(rawOrderLog[(rawOrderLog['updateType'] == 0) & (rawOrderLog['accCode'] != 8856)][rawOrderLog[(rawOrderLog['updateType'] == 0) & (rawOrderLog['accCode'] != 8856)]\
                                                           .duplicated(['date', 'colo', 'accCode', 'secid', 'orderDirection',
                                                                        'absOrderSize', 'internalId'], keep=False)])
        assert(rawOrderLog[(rawOrderLog['updateType'] == 0) & (rawOrderLog['accCode'] != 8856)][rawOrderLog[(rawOrderLog['updateType'] == 0) & (rawOrderLog['accCode'] != 8856)]\
                                                           .duplicated(['date', 'colo', 'accCode', 'secid', 'orderDirection',
                                                                        'absOrderSize', 'internalId', 'sdd'], keep=False)].shape[0] == 0)
    try:
        assert(sum(rawOrderLog[(rawOrderLog['updateType'] != 0) & (rawOrderLog['accCode'] != 8856)].groupby(['date', 'colo', 'accCode', 'secid', 
                    'orderDirection', 'absOrderSize', 'internalId'])['orderId'].nunique() != 1) == 0) 
    except:
        print('There are orders with same internalId but different orderId other than accCode 8856 case')
        print(rawOrderLog[(rawOrderLog['updateType'] != 0) & (rawOrderLog['accCode'] != 8856)].groupby(['date', 'colo', 'accCode', 'secid', 
                    'orderDirection', 'absOrderSize', 'internalId'])['orderId'].nunique()[rawOrderLog[(rawOrderLog['updateType'] != 0) & (rawOrderLog['accCode'] != 8856)].groupby(['date', 'colo', 'accCode', 'secid', 
                    'orderDirection', 'absOrderSize', 'internalId'])['orderId'].nunique() > 1])

    r2 = rawOrderLog[(rawOrderLog['accCode'] != 8856) & (rawOrderLog['orderDirection'] != 0)]
    r1 = rawOrderLog[(rawOrderLog['accCode'] == 8856) & (rawOrderLog['orderDirection'] != 0)]
    r1['test'] = r1.groupby(['date', 'colo', 'accCode', 'secid', 
                'orderDirection', 'absOrderSize']).grouper.group_info[0]
    r1 = r1.sort_values(by=['test', 'clockAtArrival'])
    r1.loc[r1['updateType'] != 0, 'vai'] = np.nan
    r1['vai'] = r1.groupby('test')['vai'].ffill()
    r2['test'] = r2.groupby(['date', 'colo', 'accCode', 'secid', 
                'orderDirection', 'absOrderSize', 'internalId']).grouper.group_info[0]
    r2 = r2.sort_values(by=['test', 'clockAtArrival'])
    r2.loc[r2['updateType'] != 0, 'vai'] = np.nan
    r2['vai'] = r2.groupby('test')['vai'].ffill()
    assert(sum(r1[r1['updateType'] != 0].groupby(['test', 'vai'])['orderId'].nunique() != 1) == 0)
    try:
        assert(sum(r2[r2['updateType'] != 0].groupby(['test', 'vai'])['orderId'].nunique() != 1) == 0)
    except:
        a = r2[r2['updateType'] != 0].groupby(['test', 'vai'])['orderId'].nunique()[r2[r2['updateType'] != 0].groupby(['test', 'vai'])['orderId'].nunique() != 1].reset_index()
        print(pd.merge(r2, a[['test', 'vai']], on=['test', 'vai'], how='inner')[['secid', 'accCode', 'colo', 'vai', 'updateType', 'sdd', 'internalId', 'orderId', 'absOrderSize', 'absFilledThisUpdate', 'absOrderSizeCumFilled', 'orderPrice', 'tradePrice']])
    rawOrderLog = pd.concat([r1, r2])
    del r1
    del r2  
    
    rawOrderLog = rawOrderLog.sort_values(by=['date', 'colo', 'accCode', 'secid', 'vai', 'clockAtArrival']).reset_index(drop=True)
    rawOrderLog['clock'] = rawOrderLog['clockAtArrival'].apply(lambda x: datetime.datetime.fromtimestamp(x/1e6))
    rawOrderLog["broker"] = np.where(rawOrderLog["accCode"].astype(str).apply(lambda x: len(x) == 6), rawOrderLog['accCode'] // 10000, rawOrderLog['accCode'] // 100)
    rawOrderLog['colo_broker'] = rawOrderLog['colo'].str[:2] + '_' + rawOrderLog['broker'].astype('str')
    rawOrderLog['colo_account'] = rawOrderLog['colo'].str[:2] + '_' + rawOrderLog['accCode'].astype('str')
    rawOrderLog['order'] = rawOrderLog.groupby(['date', 'colo', 'accCode', 'secid', 'vai', 'internalId']).grouper.group_info[0]
    rawOrderLog['group'] = rawOrderLog.groupby(['date', 'secid', 'vai']).grouper.group_info[0]
    rawOrderLog['startClock'] = rawOrderLog.groupby(['order'])['clockAtArrival'].transform('first')
    rawOrderLog['duration'] = rawOrderLog['clockAtArrival'] - rawOrderLog['startClock']
    rawOrderLog['orderPrice'] = rawOrderLog['orderPrice'].apply(lambda x: round(x, 2))
    rawOrderLog['tradePrice'] = rawOrderLog['tradePrice'].apply(lambda x: round(x, 2))
    rawOrderLog['orderDirection1'] = np.where(rawOrderLog["orderDirection"] == -2, -1, np.where(
        rawOrderLog["orderDirection"] == 2, 1, rawOrderLog["orderDirection"]))
    orderLog = rawOrderLog.copy()
    
    
    ### Assertion 1:  make sure same direction in same date, secid, vai
    print('=======================================================================================')
    print('1. same date, secid, vai: same direction')
    orderLog['directNum'] = orderLog.groupby(['date', 'secid', 'vai'])['orderDirection1'].transform('nunique')
    if len(orderLog[orderLog['directNum'] != 1]) > 0:
        print('opposite direction for same date, same secid, same vai')
        display(orderLog[(orderLog['directNum'] != 1) & (orderLog['updateType'] == 0)][['date', 'accCode', 'secid', 'vai', 'orderDirection', 'order']])
        orderLog = orderLog[orderLog['directNum'] == 1]

    assert((orderLog.groupby(['date', 'secid', 'vai'])['orderDirection1'].nunique() == 1).all() == True)

    ## Assertion 2:  make sure each account, secid, vai only has one insertion
    print('=======================================================================================')
    print('2. same date, secid, vai, accCode: one insertion')
    a = orderLog[orderLog['updateType'] == 0].groupby(['date', 'accCode', 'secid', 'vai', 'order'])['clockAtArrival'].count()
    if len(a[a > 1]) > 0:
        print('more than one insertion at same time')
        a = a[a>1].reset_index()
        display(a)
        orderLog = orderLog[~(orderLog['order'].isin(a['order'].unique()))]

    orderLog['isMsg'] = np.where(orderLog['updateType'] == 0, 
                                 np.where(orderLog['mse'] == 100, 1, 0), np.nan)
    orderLog['isMsg'] = orderLog.groupby(['order'])['isMsg'].ffill()

    placeSZE = orderLog[(orderLog['secid'] >= 2000000) & (orderLog['updateType'] == 0)]
    print('%.2f%% SZE orders triggered by msg data'%(placeSZE[placeSZE['isMsg'] == 1].shape[0]/placeSZE.shape[0]*100))


    ### Assertion 3:  check IPO stocks selling status
    print('=======================================================================================')
    print('3. IPO stocks selling (ars = 301, 302)')
    if orderLog[orderLog['ars'].isin([301, 302])].shape[0] != 0:
        kk = orderLog[orderLog['ars'].isin([301, 302])]
        print(kk)
        try:
            assert(kk[kk['orderDirection1'] == 1].shape[0] == 0)
            print('we only sell, never buy')
        except:
            print('There are IPO buy side orders!!!!!!!!!!!!!!!!!!!!!!!!!!!!!')
            print(kk[kk['orderDirection1'] == 1])
        kk1 = kk[kk['updateType'] == 0]
        kk1 = kk1.sort_values(by=['accCode', 'secid','clockAtArrival'])
        kk1['diff'] = kk1.groupby(['accCode', 'secid'])['clockAtArrival'].apply(lambda x: x-x.shift(1))
        kk1['diff'] = kk1['diff'].fillna(0)
        try:
            assert(kk1[kk1['diff'] < 10e6].shape[0] == 0)
            print('for each stock in the same account, there is no insertion within 10 seconds of the previous insertion')
        except:
            print('There are insertion within 10 seconds for orders under same account same stock!!!!!!!!!!!!!!!!!!!!!!!!!!!!!')
            print(kk1[kk1['diff'] < 10e6])
        kk2 = kk[(kk['updateType'] == 1)]
        try:
            assert(kk2[kk2['duration'] < 3e6].shape[0] == 0)
            print('for each stock in the same account, the cancellation of an order happens more than 3 seconds after the insertion')
        except:
            print('There are cancellation within 3 seconds for orders under same account same stock!!!!!!!!!!!!!!!!!!!!!!!!!!!!!')
            print(kk2[kk2['duration'] < 3e6])


    ### Assertion 4: check updateType == 7 orders, make sure updateType == 7 orders < 20 per account, < 100 in total
    print('=======================================================================================')
    print('4. updateType 7 orders')
    if orderLog[orderLog['updateType'] == 7].shape[0] != 0:
        assert(orderLog[orderLog['updateType'] == 7].groupby('accCode')['order'].nunique().max() < 20)
        assert(orderLog[orderLog['updateType'] == 7].groupby('accCode')['order'].nunique().sum() < 100)

    ### Assertion 5: check updateType == 6 orders, make sure updateType == 6 orders < 5% per account
    print('=======================================================================================')
    print('5. updateType 6 orders')
    k1 = orderLog[orderLog['updateType'] == 6].groupby('accCode')['order'].nunique().reset_index()
    k2 = orderLog.groupby('accCode')['order'].nunique().reset_index()
    k = pd.merge(k1, k2, on='accCode', how='left')
    k['prob'] = k['order_x']/k['order_y']
    try:
        assert(sum(k['prob'] >= 0.05) == 0)
    except:
        print('There are accounts with more than 5% updateType 6 orders!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!')
        print(k[k['prob'] >= 0.05])

    ### Assertion 6: check CYB orders, make sure CYB stocks total absOrderSize < 30w
    print('=======================================================================================')
    print('6. CYB stocks total order size < 30w')
    try:
        assert(orderLog[(orderLog['secid'] >= 2300000) & (orderLog['updateType'] == 0)]['absOrderSize'].max() <= 300000)
    except:
        print('CYB stocks total absOrderSize >= 30w!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!')


    ### Assertion 7:  make sure there is no unexpected updateType 
    print('=======================================================================================')
    print('7. unexpected updateType')
    def getTuple(x):
        return tuple(i for i in x)

    checkLog = orderLog[~((orderLog['updateType'] == 4) & (orderLog.groupby(['order'])['updateType'].shift(-1) == 4))]
    checkLog = checkLog.groupby(['order'])['updateType'].apply(lambda x: getTuple(x)).reset_index()
    checkLog['status'] = np.where(checkLog['updateType'].isin([(0, 2, 4), (0, 2, 1, 4), (0, 2, 1, 2, 4), (0, 2, 4, 1, 4), (0, 4), (0, 1, 4), (0, 4, 1, 4), (0, 2, 2, 4), (0, 4, 2, 4), (0, 2, 2, 1, 4), (0, 2, 2, 4, 1, 4)]),0,
                         np.where(checkLog['updateType'].isin([(0, 2, 4, 1, 3), (0, 2, 4, 1, 4, 3), (0, 2, 1, 4, 3), (0, 4, 1, 3), (0, 1, 4, 3),
                                                                   (0, 2, 2, 4, 1, 3), (0, 2, 2, 4, 1, 4, 3), (0, 2, 2, 1, 4, 3), (0, 4, 2, 4, 1, 3),
                                                                   (0, 4, 2, 1, 3), (0, 4, 1, 4, 3), (0, 4, 1)]), 1,
                         np.where(checkLog['updateType'].isin([(0, 2, 1, 3), (0, 2, 2, 1, 3), (0, 2, 3), (0, 3), (0, 1, 3), (0, ), (0, 2), (0, 2, 1), (0, 2, 2)]), 2, 3)))

    orderLog = pd.merge(orderLog, checkLog[['order', 'status']], how='left', on=['order'], validate='many_to_one')
    orderLog = orderLog[orderLog['status'].isin([0, 1, 2])].reset_index(drop=True)

    ### Assertion 8:  make sure status==0 got all traded
    print('=======================================================================================')
    print('8. status == 0: all traded')
    a = orderLog[orderLog['status'] == 0]
    a = a.groupby(['order'])[['absOrderSizeCumFilled', 'absOrderSize']].max().reset_index()
    a.columns = ['order', 'filled', 'total']
    print('in total trade, any fill != total cases')
    display(a[a['filled'] != a['total']])
    if a[a['filled'] != a['total']].shape[0] > 0:
        removeOrderLs = a[a['filled'] != a['total']]['order'].unique()
        orderLog = orderLog[~(orderLog['order'].isin(removeOrderLs))]

    ### Assertion 9:  make sure status==1 got partial traded
    print('=======================================================================================')
    print('9. status == 1: partial traded')
    a = orderLog[orderLog['status'] == 1]
    a = a.groupby(['order'])[['absOrderSizeCumFilled', 'absOrderSize']].max().reset_index()
    a.columns = ['order', 'filled', 'total']
    print('in partial trade, any fill >= total or fill is 0 cases for updateType 4')
    display(a[(a['filled'] >= a['total']) | (a['filled'] == 0)])
    if a[(a['filled'] >= a['total']) | (a['filled'] == 0)].shape[0] > 0:
        removeOrderLs = a[(a['filled'] >= a['total']) | (a['filled'] == 0)]['order'].unique()
        orderLog = orderLog[~(orderLog['order'].isin(removeOrderLs))]

    ### Assertion 10: make sure no cancellation within 1 sec
    print('=======================================================================================')
    print('10. no cancellation within 1 sec')
    a = orderLog[(orderLog['updateType'] == 1) & (orderLog['duration'] < 1e6)]
    print('any cancellation within 1 sec')
    display(a)
    if a.shape[0] > 0:
        removeOrderLs = a['order'].unique()
        orderLog = orderLog[~(orderLog['order'].isin(removeOrderLs))]


    ### Assertion 11: make sure no order has shares > 80w or notional > 800w
    print('=======================================================================================')
    print('11. Orders with size > 80w or notional > 800w')
    orderLog['orderNtl'] = orderLog['absOrderSize'] * orderLog['orderPrice']
    if orderLog[orderLog['absOrderSize'] > 800000].shape[0] > 0:
        print('some order quantity are > 80w')
        print(orderLog[orderLog['absOrderSize'] > 800000].groupby(['colo', 'accCode'])['order'].nunique())
        display(orderLog[orderLog['absOrderSize'] > 800000][['date', 'accCode', 'secid', 'vai', 'absOrderSize', 'orderPrice',
                                                             'orderNtl', 'orderDirection', 'clock', 'order']])

    if orderLog[orderLog['orderNtl'] > 8000000].shape[0] > 0:
        print('some order ntl are > 800w')
        print(orderLog[orderLog['orderNtl'] > 8000000].groupby(['colo', 'accCode'])['order'].nunique())
        display(orderLog[orderLog['orderNtl'] > 8000000][['date', 'accCode', 'secid', 'vai', 'absOrderSize', 'orderPrice',
                                                          'orderNtl', 'orderDirection', 'clock', 'order', "updateType", 
                                                          "tradePrice", "absOrderSizeCumFilled", "absFilledThisUpdate"]])

    removeOrderLs = list(set(orderLog[orderLog['absOrderSize'] > 800000]['order'].unique()) | set(orderLog[orderLog['orderNtl'] > 8000000]['order'].unique()))
    orderLog = orderLog[~(orderLog['order'].isin(removeOrderLs))]
    orderLog["mrsb90"] = orderLog.groupby(['order'])['mrsb90'].transform('first')
    orderLog["mrss90"] = orderLog.groupby(['order'])['mrss90'].transform('first')
    orderLog["mrstauc"] = orderLog.groupby(['order'])['mrstauc'].transform('first')
    orderLog["mrstaat"] = orderLog.groupby(['order'])['mrstaat'].transform('first')
    orderLog["aaa"] = orderLog.groupby(['order'])['aaa'].transform('first')

    orderLog['m1'] = orderLog['mrstaat'].apply(lambda x: x - (x // 10000) * 10000)
    orderLog['m2'] = orderLog['mrstauc'].apply(lambda x: x - (x // 10000) * 10000)
    if orderLog[orderLog['mrsb90'] == '-'].shape[0] != 0:
        display(orderLog[orderLog['mrsb90'] == '-'])
    orderLog = orderLog[orderLog['mrsb90'] != '-']
    orderLog['mrsb90'] = orderLog['mrsb90'].astype(float)
    if orderLog[orderLog['aaa'] == '-'].shape[0] != 0:
        display(orderLog[orderLog['aaa'] == '-'])
    orderLog = orderLog[orderLog['aaa'] != '-']
    orderLog['aaa'] = orderLog['aaa'].astype(float)
    orderLog.loc[(orderLog['orderDirection'] >= 1) &\
             (orderLog['mrstaat'].isin([11000, 13000])) & (abs(orderLog['aaa'] - orderLog['mrsb90']) < 1e-12), 'mrstauc'] = \
    orderLog.loc[(orderLog['orderDirection'] >= 1) &\
             (orderLog['mrstaat'].isin([11000, 13000])) & (abs(orderLog['aaa'] - orderLog['mrsb90']) < 1e-12), 'm2']

    orderLog.loc[(orderLog['orderDirection'] >= 1) &\
             (orderLog['mrstaat'].isin([11000, 13000])) & (abs(orderLog['aaa'] - orderLog['mrsb90']) < 1e-12), 'mrstaat'] = \
    orderLog.loc[(orderLog['orderDirection'] >= 1) &\
             (orderLog['mrstaat'].isin([11000, 13000])) & (abs(orderLog['aaa'] - orderLog['mrsb90']) < 1e-12), 'm1']

    orderLog.loc[(orderLog['orderDirection'] < 1) &\
             (orderLog['mrstaat'].isin([11000, 13000])) & (abs(orderLog['aaa'] - orderLog['mrss90']) < 1e-12), 'mrstauc'] = \
    orderLog.loc[(orderLog['orderDirection'] < 1) &\
             (orderLog['mrstaat'].isin([11000, 13000])) & (abs(orderLog['aaa'] - orderLog['mrss90']) < 1e-12), 'm2']

    orderLog.loc[(orderLog['orderDirection'] < 1) &\
             (orderLog['mrstaat'].isin([11000, 13000])) & (abs(orderLog['aaa'] - orderLog['mrss90']) < 1e-12), 'mrstaat'] = \
    orderLog.loc[(orderLog['orderDirection'] < 1) &\
             (orderLog['mrstaat'].isin([11000, 13000])) & (abs(orderLog['aaa'] - orderLog['mrss90']) < 1e-12), 'm1']  

    orderLog = orderLog.sort_values(by=['date', 'secid', 'vai', 'accCode', 'clockAtArrival']).reset_index(drop=True)


    orderLog['exchange'] = np.where(orderLog['secid'] >= 2000000, 'SZE', 'SSE')
    orderLog['orderNtl'] = orderLog['orderPrice'] * orderLog['absOrderSize']
    orderLog['tradeNtl'] = np.where(orderLog['updateType'] == 4, orderLog['tradePrice']*orderLog['absFilledThisUpdate'], 0)
    orderLog = orderLog[orderLog['secid'] >= 2000000].reset_index(drop=True)
    print('start to load data')    
    readPath = '/mnt/orderLog/mdData'
    rawMsgDataSZ = pd.read_pickle(os.path.join(readPath, 'mdLog_msg_%s.pkl'%thisDate))
    print('load data finished')
    orderDataSZ = rawMsgDataSZ[rawMsgDataSZ['ExecType'] == '2'][['SecurityID', 'ApplSeqNum', 'clockAtArrival', 'sequenceNo', 'Side', 'OrderQty', 'Price', 'cum_volume', "TransactTime"]].reset_index(drop=True)
    orderDataSZ['updateType'] = 0
    tradeDataSZ = pd.concat([rawMsgDataSZ[rawMsgDataSZ['ExecType'] == 'F'][['SecurityID', 'BidApplSeqNum', 'clockAtArrival', 'sequenceNo', 'TradePrice', 'TradeQty', 'cum_volume', "TransactTime"]],
                             rawMsgDataSZ[rawMsgDataSZ['ExecType'] == 'F'][['SecurityID', 'OfferApplSeqNum', 'clockAtArrival', 'sequenceNo', 'TradePrice', 'TradeQty', 'cum_volume', "TransactTime"]]], sort=False)
    tradeDataSZ['ApplSeqNum'] = np.where(tradeDataSZ['BidApplSeqNum'].isnull(), tradeDataSZ['OfferApplSeqNum'], tradeDataSZ['BidApplSeqNum'])
    tradeDataSZ['Side'] = np.where(tradeDataSZ['BidApplSeqNum'].isnull(), 2, 1)
    tradeDataSZ = tradeDataSZ[['SecurityID', 'ApplSeqNum', 'clockAtArrival', 'sequenceNo', 'Side', 'TradePrice', 'TradeQty', 'cum_volume', "TransactTime"]]
    tradeDataSZ['updateType'] = 4
    cancelDataSZ = rawMsgDataSZ[rawMsgDataSZ['ExecType'] == '4'][['SecurityID', 'BidApplSeqNum', 'OfferApplSeqNum', 'clockAtArrival', 'sequenceNo', 'TradePrice', 'TradeQty', 'cum_volume', "TransactTime"]].reset_index(drop=True)
    cancelDataSZ['ApplSeqNum'] = np.where(cancelDataSZ['BidApplSeqNum'] == 0, cancelDataSZ['OfferApplSeqNum'], cancelDataSZ['BidApplSeqNum'])
    cancelDataSZ['Side'] = np.where(cancelDataSZ['BidApplSeqNum'] == 0, 2, 1)
    cancelDataSZ = cancelDataSZ[['SecurityID', 'ApplSeqNum', 'clockAtArrival', 'sequenceNo', 'Side', 'TradeQty', 'cum_volume', "TransactTime"]]
    cancelDataSZ['updateType'] = 3

    msgDataSZ = pd.concat([orderDataSZ, tradeDataSZ, cancelDataSZ], sort=False)
    del orderDataSZ
    del tradeDataSZ
    del cancelDataSZ
    msgDataSZ = msgDataSZ.sort_values(by=['SecurityID', 'ApplSeqNum', 'sequenceNo']).reset_index(drop=True)
    
    msgDataSZ['TradePrice'] = np.where(msgDataSZ['updateType'] == 4, msgDataSZ['TradePrice'], 0)
    msgDataSZ['TradePrice'] = msgDataSZ['TradePrice'].astype('int64')
    msgDataSZ['TradeQty'] = np.where(msgDataSZ['updateType'] == 4, msgDataSZ['TradeQty'], 0)
    msgDataSZ['TradeQty'] = msgDataSZ['TradeQty'].astype('int64')
    msgDataSZ['secid'] = msgDataSZ['SecurityID'] + 2000000
    assert(msgDataSZ['ApplSeqNum'].max() < 1e8)
    msgDataSZ['StockSeqNum'] = msgDataSZ['SecurityID']*1e8 + msgDataSZ['ApplSeqNum']
    msgDataSZ['date'] = int(thisDate)
    msgDataSZ['startVolume'] = msgDataSZ.groupby(['StockSeqNum'])['cum_volume'].transform('first')
            
    ### order insertion position
    startPos = orderLog[(orderLog['date'] == int(thisDate)) & (orderLog['updateType'] == 0) & (orderLog['secid'] >= 2000000) & (orderLog["isMsg"] == 1)]
    # here!!!!!!!!!! drop duplicates
    startPos = startPos.drop_duplicates(subset=['date', 'secid', 'vai'])
    
    startPos = startPos[((startPos.clock.dt.time >= datetime.time(9, 33)) & (startPos.clock.dt.time <= datetime.time(11, 30))) |\
                        ((startPos.clock.dt.time >= datetime.time(13, 3)) & (startPos.clock.dt.time <= datetime.time(14, 55)))]
#     startPos = startPos[startPos.clock.dt.time < datetime.time(9, 33)]
    
    startPos['SecurityID'] = startPos['secid']-2000000
    startPos['orderDirection1'] = np.where(startPos['orderDirection1'] == 1, 1, 2)
    startPos['cum_volume'] = startPos['vai']
    startPos = startPos[['SecurityID', 'cum_volume', 'orderDirection1', 'accCode', 'absOrderSize', 'vai', 'group']]
    startPos['stockGroup'] = startPos.groupby(['accCode', 'SecurityID']).grouper.group_info[0]
    startPos = startPos.sort_values(by=['SecurityID', 'cum_volume']).reset_index(drop=True)

    
    ### generate order status change data
    infoData = orderLog[(orderLog['date'] == int(thisDate)) & (orderLog['group'].isin(startPos['group'].unique())) & (orderLog['updateType'].isin([0, 3, 4]))].reset_index(drop=True)
    infoData['Price'] = infoData['orderPrice'].apply(lambda x: round(x*100, 0))
    infoData['Price'] = infoData['Price'].astype('int64')*100
    infoData['OrderQty'] = infoData['absOrderSize']
    infoData['Side'] = np.where(infoData['orderDirection1'] == 1, 1, 2)
    infoData['TradePrice'] = np.where(infoData['updateType'] == 4, round(infoData['tradePrice']*100, 0), 0)
    infoData['TradePrice'] = infoData['TradePrice'].astype('int64')*100
    statusInfo = infoData.groupby(['order'])['updateType'].apply(lambda x: tuple(x)).reset_index()
    statusInfo.columns = ['order', 'statusLs']
    tradePriceInfo = infoData.groupby(['order'])['TradePrice'].apply(lambda x: tuple(x)).reset_index()
    tradePriceInfo.columns = ['order', 'TradePriceLs']
    tradeQtyInfo = infoData.groupby(['order'])['absFilledThisUpdate'].apply(lambda x: tuple(x)).reset_index()
    tradeQtyInfo.columns = ['order', 'TradeQtyLs']
    infoData["abstradeNtl"] = infoData["absFilledThisUpdate"] * infoData["TradePrice"]
    infoData["TradeNtl"] = infoData.groupby(['order'])['abstradeNtl'].transform('sum')
    infoData = infoData[infoData['updateType'] == 0]
    infoData = pd.merge(infoData, statusInfo, how='left', on=['order'], validate='one_to_one')
    infoData = pd.merge(infoData, tradePriceInfo, how='left', on=['order'], validate='one_to_one')
    infoData = pd.merge(infoData, tradeQtyInfo, how='left', on=['order'], validate='one_to_one')
    infoData['brokerNum'] = infoData.groupby(['date', 'secid', 'vai', 'Price', 'OrderQty', 'Side', 'statusLs', 'TradePriceLs', 'TradeQtyLs'])['colo_account'].transform('count')
    infoData['brokerLs'] = infoData.groupby(['date', 'secid', 'vai', 'Price', 'OrderQty', 'Side', 'statusLs', 'TradePriceLs', 'TradeQtyLs'])['colo_account'].transform(lambda x: ','.join(sorted(x.unique())))
    display(infoData[(infoData["brokerNum"] >= 2) & (infoData["orderDirection"].isin([-2, 2]))]["group"].nunique())
    display(infoData[(infoData["brokerNum"] < 2) & (infoData["orderDirection"].isin([-2, 2]))]["group"].nunique())
    display(infoData[(infoData["brokerNum"] >= 2) & (infoData["orderDirection"].isin([-2, 2]))]["group"].unique())
    gl = infoData[(infoData["brokerNum"] >= 2) & (infoData["orderDirection"].isin([-2, 2]))]["group"].unique()
    gl1 = infoData["group"].unique()
    print(len(gl1))
    print(len(startPos["group"].unique()))
    infoData = infoData.drop_duplicates(subset=['date', 'secid', 'vai', 'Price', 'OrderQty', 'Side', 'statusLs', 'TradePriceLs', 'TradeQtyLs']).reset_index(drop=True)
    infoData = infoData[['date', 'secid', 'vai', 'ars', "mrstaat", "mrstauc", 'isMsg', 'TradeNtl', 'exchange', 'group', 'Price', 'OrderQty', 'Side', 'statusLs', 'TradePriceLs', 'TradeQtyLs', 'brokerNum', 'brokerLs', 'order']]
    
    ### find all orders in market that inserted with us
    checkLog = msgDataSZ[msgDataSZ['updateType'] == 0][['StockSeqNum', 'SecurityID', 'cum_volume', 'sequenceNo', 'clockAtArrival', 'Side', 'OrderQty', 'Price', "TransactTime"]].reset_index(drop=True)
    checkLog = checkLog.sort_values(by=['SecurityID', 'sequenceNo'])
    checkLog = pd.merge(checkLog, startPos, how='outer', on=['SecurityID', 'cum_volume'], validate='many_to_one')
#     del startPos
    if checkLog[(~checkLog['vai'].isnull()) & (checkLog['clockAtArrival'].isnull())].shape[0] > 0:
        print('some order vai are wrong')
        removeGroup = checkLog[(~checkLog['vai'].isnull()) & (checkLog['clockAtArrival'].isnull())]['stockGroup'].unique()
        print(removeGroup)
        print(len(gl1))
        print(len(set(checkLog["group"].unique())))
        checkLog = checkLog[~checkLog['stockGroup'].isin(removeGroup)].reset_index(drop=True)
        display(len(set(gl1) - set(checkLog["group"].unique())))
    
    assert(checkLog[(~checkLog['vai'].isnull()) & (checkLog['clockAtArrival'].isnull())].shape[0] == 0)
    checkLog['lastClockInVol'] = checkLog.groupby(['SecurityID', 'cum_volume'])['clockAtArrival'].transform('last')
    checkLog['startClock'] = np.where((~checkLog['group'].isnull()) & (checkLog['clockAtArrival'] == checkLog['lastClockInVol']),
                                      checkLog['clockAtArrival'], np.nan)
    checkLog['group'] = checkLog['group'].ffill()
    checkLog['startClock'] = checkLog.groupby(['SecurityID', 'group'])['startClock'].transform('max')
    checkLog['endClock'] = checkLog['startClock'] + 20*1e3
    checkLog = pd.concat([checkLog[checkLog['clockAtArrival'] == checkLog['startClock']], 
                          checkLog[(checkLog['clockAtArrival'] > checkLog['startClock'] + 10) & 
                                   (checkLog['clockAtArrival'] <= checkLog['endClock'])]])
    checkLog = checkLog.sort_values(by=['SecurityID', 'group'])
    checkLog['vai'] = checkLog.groupby(['SecurityID', 'group'])['vai'].ffill()
    checkLog['orderDirection1'] = checkLog.groupby(['SecurityID', 'group'])['orderDirection1'].ffill()
    checkLog = pd.concat([checkLog[checkLog['clockAtArrival'] == checkLog['startClock']],
                         checkLog[(checkLog['Side'] == checkLog['orderDirection1']) & (checkLog['clockAtArrival'] != checkLog['startClock'])]]).sort_values(by=['SecurityID', 'group'])
     
    group_list = checkLog["group"].unique()

    
    checkLog = pd.merge(msgDataSZ, checkLog[['StockSeqNum', 'vai', 'group']], how='left', on=['StockSeqNum'], validate='many_to_one')
    del msgDataSZ
    checkLog = checkLog[~checkLog['group'].isnull()]
    # 上面能不能简化成inner merge!!!!!!!!!!!!!!!!!!!!!!!!!
    statusInfo = checkLog.groupby(['StockSeqNum'])['updateType'].apply(lambda x: getTuple(x)).reset_index()
    statusInfo.columns = ['StockSeqNum', 'statusLs']
    tradePriceInfo = checkLog.groupby(['StockSeqNum'])['TradePrice'].apply(lambda x: tuple(x)).reset_index()
    tradePriceInfo.columns = ['StockSeqNum', 'TradePriceLs']
    tradeQtyInfo = checkLog.groupby(['StockSeqNum'])['TradeQty'].apply(lambda x: tuple(x)).reset_index()
    tradeQtyInfo.columns = ['StockSeqNum', 'TradeQtyLs']
    checkLog = checkLog[checkLog['updateType'] == 0]
    checkLog = pd.merge(checkLog, statusInfo, how='left', on=['StockSeqNum'], validate='one_to_one')
    checkLog = pd.merge(checkLog, tradePriceInfo, how='left', on=['StockSeqNum'], validate='one_to_one')
    checkLog = pd.merge(checkLog, tradeQtyInfo, how='left', on=['StockSeqNum'], validate='one_to_one')
    
    infoData = infoData[infoData["group"].isin(group_list)]

    
    checkLog = pd.merge(checkLog, infoData, how='outer', on=['date', 'secid', 'group', 'vai', 'Price', 'OrderQty', 'Side', 'statusLs', 'TradePriceLs', 'TradeQtyLs'], validate='many_to_one')
    display(set(gl) & set(checkLog["group"].unique()))
    display(len(set(gl1) & set(checkLog["group"].unique())))
    checkLog = checkLog.sort_values(by=['date', 'secid', 'vai', 'sequenceNo']).reset_index(drop=True)
    ### orderType 1 orders have 0 order price, replace 0 with group price
    checkLog['groupPrice'] = checkLog.groupby(['group'])['Price'].transform('median')
    checkLog['Price'] = np.where(checkLog['Price'] == 0, checkLog['groupPrice'], checkLog['Price'])
    checkLog['OrderNtl'] = checkLog['Price'] * checkLog['OrderQty'] / 10000
    
    savePath = '/mnt/orderLog/result/marketPos'
    checkLog.reset_index(drop=True).to_pickle(os.path.join(savePath, 'marketPos1_%s.pkl'%thisDate))
    
print(datetime.datetime.now() - startTm)

/home/work516/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (38,39,55,63) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

'There are accounts with duplicated ticks:'

Series([], Name: ars, dtype: int64)

'There are ticks with orderDirection 0'

,date,colo,accCode,secid,vai,updateType,sdd,orderDirection,absOrderSize,internalId,orderId
106636,20201214,zt_96_09,965801,1601222,-1,7,-1.0,0,0,-1.0,824.0
295137,20201214,zs_94_03,9461,2002044,-1,7,34444.0,0,0,-1.0,-1.0
330239,20201214,zs_64_01,6480,2002293,-1,1,47893.0,0,0,-1.0,103822.0
335644,20201214,zs_52_06,5269,2002329,-1,1,37688.0,0,0,-1.0,696244.0
342409,20201214,zs_52_09,5291,2002390,-1,1,51351.0,0,0,-1.0,1331409.0
346335,20201214,zs_64_01,6480,2002411,-1,1,53411.0,0,0,-1.0,151687.0
354862,20201214,zs_54_01,5474,2002472,-1,1,47572.0,0,0,-1.0,868911827.0
422367,20201214,zs_52_06,5269,2002845,-1,1,39762.0,0,0,-1.0,901829.0
431413,20201214,zs_52_06,5269,2002890,-1,1,37463.0,0,0,-1.0,668323.0
539711,20201214,zs_52_06,5269,2300410,-1,1,35229.0,0,0,-1.0,305297.0
561558,20201214,zs_52_06,5269,2300480,-1,1,37834.0,0,0,-1.0,716215.0
593584,20201214,zs_54_01,5474,2300586,-1,7,36014.0,0,0,-1.0,-1.0
638733,20201214,zs_64_01,6480,2300712,-1,1,34972.0,0,0,-1.0,24799.0
639123,20201214,zs_52_06,5269,2300715,-1,1,39828.0,0,0,-1.0,906218.0
668145,20201214,zs_64_01,6480,2300807,-1,1,37208.0,0,0,-1.0,59008.0
669968,20201214,zs_54_01,5474,2300813,-1,1,49667.0,0,0,-1.0,868913351.0

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:67: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

=======================================================================================
1. same date, secid, vai: same direction
opposite direction for same date, same secid, same vai

            date  accCode    secid        vai  orderDirection   order
67091   20201214     5275  2300188   332362.0              -1   16869
124419  20201214     5377  2002818  3721429.0              -1   30821
124422  20201214     5377  2002818  3746229.0              -1   30822
126910  20201214     5377  2300630  2320235.0               1   31441
129086  20201214     5386  2002818  3746229.0              -1   31988
...          ...      ...      ...        ...             ...     ...
640984  20201214     9441  1603338  1626770.0               1  163179
641089  20201214     9441  1603355   810170.0               1  163204
641284  20201214     9441  1603515   764509.0               1  163261
641468  20201214     9441  1603786   347265.0               1  163307
641936  20201214     9441  1603883  1510977.0              -1  163422

[165 rows x 6 columns]

=======================================================================================
2. same date, secid, vai, accCode: one insertion
99.80% SZE orders triggered by msg data
=======================================================================================
3. IPO stocks selling (ars = 301, 302)
=======================================================================================
4. updateType 7 orders
=======================================================================================
5. updateType 6 orders
=======================================================================================
6. CYB stocks total order size < 30w
=======================================================================================
7. unexpected updateType
=======================================================================================
8. status == 0: all traded
in total trade, any fill != total cases

         order  filled   total
16468    23437    7400   51800
18820    26251    1000    2300
28625    39630     700    3500
30671    42474    3500    8600
34418    47362     300     500
46712    63868     600     700
53496    71820    2600    3300
55245    73893     200    1500
57383    76587     100    1600
72267    94465     500     700
81109   108511    5700    5900
81275   108698    7900    8700
83381   111407     200     300
86261   115418     300     500
90788   121550     800    1000
90802   121571     800    1000
92858   124798    1700    2700
92918   124875    1000    6200
98640   133284     300     400
102195  138915     400    1100
104778  142902     200     300
111667  152693    1600    2500
112002  153076    1000    1100
114696  156628   64324  102600

=======================================================================================
9. status == 1: partial traded
in partial trade, any fill >= total or fill is 0 cases for updateType 4

Empty DataFrame
Columns: [order, filled, total]
Index: []

=======================================================================================
10. no cancellation within 1 sec
any cancellation within 1 sec

Empty DataFrame
Columns: [ApplSeqNum, aaa, absFilledThisUpdate, absOrderSize, absOrderSizeCumFilled, accCode, ars, caamd, cancellationPending, cfe, clock, clockAtArrival, cumSharesBought, cumSharesBuyInserted, cumSharesSellInserted, cumSharesSold, date, finalState, gfe, hee, insertedShortOrder, insertionPending, internalId, inv_L, inv_L0, inv_S, inv_S0, l4algoDebug, l4tr, locateShares, locateSharesTotal, mfe, mra100, mrb100, mrm, mrm25, mrmum, mrrlma, mrsb300, mrsb90, mrss300, mrss90, mrstaat, mrstauc, mrstaum, mrv, ms, mse, mt, mta, mv, orderDirection, orderId, orderOutstanding, orderPrice, orderSysId, sdd, secid, sequenceNo, session, threadId, totalActions, totalCanceled, tradeId, tradePrice, underlyingIndex, updateType, vai, zipFile, colo, test, broker, colo_broker, colo_account, order, group, startClock, duration, orderDirection1, directNum, isMsg, status]
Index: []

=======================================================================================
11. Orders with size > 80w or notional > 800w

/home/work516/anaconda3/lib/python3.7/site-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

start to load data
load data finished

347

1389

array([32534, 32536, 32537, 32548, 32549, 32565, 32575, 32786, 32802,
       32829, 32931, 32933, 33295, 33822, 33825, 33826, 33830, 33832,
       33834, 33837, 33839, 33846, 33859, 34989, 34990, 34997, 35117,
       35121, 36256, 36259, 36262, 36270, 36273, 36274, 36277, 36279,
       36280, 36281, 36283, 36290, 36323, 36324, 36331, 36333, 36334,
       36335, 36336, 36338, 36339, 36342, 36616, 36620, 36631, 37151,
       37152, 37157, 37184, 37187, 37204, 37223, 37238, 37328, 37415,
       37422, 37435, 37902, 38376, 38406, 38408, 38409, 38738, 38774,
       39582, 39583, 39584, 39585, 39587, 39592, 39594, 39598, 39881,
       39882, 40409, 40437, 40451, 40455, 40584, 40593, 41298, 41305,
       41308, 41310, 41543, 41544, 41547, 41631, 41635, 41636, 41643,
       41644, 41653, 41657, 42221, 42232, 42986, 43150, 43200, 43233,
       43521, 43526, 43610, 43612, 43649, 43661, 43964, 44099, 44518,
       44521, 44532, 44536, 44542, 44551, 44690, 44932, 44942, 45095,
       45096, 45100, 45102, 45106, 45110, 45782, 45787, 45791, 46039,
       46041, 46051, 46212, 46339, 46343, 46347, 46518, 47242, 47244,
       47245, 47262, 47272, 47290, 47309, 47314, 47321, 47322, 47326,
       47328, 48164, 48165, 48194, 48201, 48209, 48216, 48472, 49172,
       49175, 49176, 49178, 49181, 49182, 49841, 50535, 50550, 50564,
       50593, 50754, 50841, 51254, 51268, 51276, 51279, 51280, 51281,
       51608, 51609, 51635, 52588, 52590, 52591, 52592, 52698, 52699,
       52871, 52897, 53574, 53816, 53913, 53914, 53917, 53919, 53924,
       53925, 53934, 53997, 54110, 54113, 54117, 54118, 54119, 54124,
       54125, 54126, 54138, 54140, 54146, 54206, 54796, 54797, 57848,
       58741, 58742, 58743, 60750, 60763, 60777, 60786, 60834, 60835,
       60838, 60839, 60840, 60843, 63103, 63104, 63107, 63115, 63122,
       63129, 63130, 64131, 64132, 65629, 65660, 65664, 65673, 65927,
       65930, 65941, 65942, 65943, 66014, 66044, 66046, 66139, 66141,
       66195, 66203, 66237, 66247, 66249, 66252, 66254, 67769, 67770,
       67772, 67783, 67784, 67798, 67805, 70215, 70227, 70230, 70231,
       70232, 70241, 70244, 70246, 70247, 70250, 70284, 70299, 70302,
       70307, 70313, 70608, 70616, 71022, 71028, 71070, 71080, 71081,
       71084, 73945, 75454, 76108, 77299, 77323, 77325, 79943, 79946,
       79949, 79950, 79952, 79994, 79999, 80001, 80003, 80005, 80020,
       80312, 80314, 80315, 80316, 80317, 80318, 80319, 81162, 81168,
       84475, 84692, 91812, 91841, 91842, 91869, 91870, 91871, 91882,
       91883, 91884, 91885, 91886, 91887, 91889, 91890, 91894, 91895,
       91896, 91897, 91898, 91900, 91901, 91903, 91906, 91909, 91915,
       91917, 91919, 91920, 91923, 91928])

62649
62649

{32534,
 32536,
 32537,
 32548,
 32549,
 32565,
 32575,
 32786,
 32802,
 32829,
 32931,
 32933,
 33295,
 33822,
 33825,
 33826,
 33830,
 33832,
 33834,
 33837,
 33839,
 33846,
 33859,
 34989,
 34990,
 34997,
 35117,
 35121,
 36256,
 36259,
 36262,
 36270,
 36273,
 36274,
 36277,
 36279,
 36280,
 36281,
 36283,
 36290,
 36323,
 36324,
 36331,
 36333,
 36334,
 36335,
 36336,
 36338,
 36339,
 36342,
 36616,
 36620,
 36631,
 37151,
 37152,
 37157,
 37184,
 37187,
 37204,
 37223,
 37238,
 37328,
 37415,
 37422,
 37435,
 37902,
 38376,
 38406,
 38408,
 38409,
 38738,
 38774,
 39582,
 39583,
 39584,
 39585,
 39587,
 39592,
 39594,
 39598,
 39881,
 39882,
 40409,
 40437,
 40451,
 40455,
 40584,
 40593,
 41298,
 41305,
 41308,
 41310,
 41543,
 41544,
 41547,
 41631,
 41635,
 41636,
 41643,
 41644,
 41653,
 41657,
 42221,
 42232,
 42986,
 43150,
 43200,
 43233,
 43521,
 43526,
 43610,
 43612,
 43649,
 43661,
 43964,
 44099,
 44518,
 44521,
 44532,
 44536,
 44542,
 44551,
 44690,
 44932,
 44942,
 45095,
 45096,
 45100,
 45102,
 45106,
 45110,
 45782,
 45787,
 45791,
 46039,
 46041,
 46051,
 46212,
 46339,
 46343,
 46347,
 46518,
 47242,
 47244,
 47245,
 47262,
 47272,
 47290,
 47309,
 47314,
 47321,
 47322,
 47326,
 47328,
 48164,
 48165,
 48194,
 48201,
 48209,
 48216,
 48472,
 49172,
 49175,
 49176,
 49178,
 49181,
 49182,
 49841,
 50535,
 50550,
 50564,
 50593,
 50754,
 50841,
 51254,
 51268,
 51276,
 51279,
 51280,
 51281,
 51608,
 51609,
 51635,
 52588,
 52590,
 52591,
 52592,
 52698,
 52699,
 52871,
 52897,
 53574,
 53816,
 53913,
 53914,
 53917,
 53919,
 53924,
 53925,
 53934,
 53997,
 54110,
 54113,
 54117,
 54118,
 54119,
 54124,
 54125,
 54126,
 54138,
 54140,
 54146,
 54206,
 54796,
 54797,
 57848,
 58741,
 58742,
 58743,
 60750,
 60763,
 60777,
 60786,
 60834,
 60835,
 60838,
 60839,
 60840,
 60843,
 63103,
 63104,
 63107,
 63115,
 63122,
 63129,
 63130,
 64131,
 64132,
 65629,
 65660,
 65664,
 65673,
 65927,
 65930,
 65941,
 65942,
 65943,
 66014,
 66044,
 66046,
 66139,
 66141,
 66195,
 66203,
 66237,
 66247,
 66249,
 66252,
 66254,
 67769,
 67770,
 67772,
 67783,
 67784,
 67798,
 67805,
 70215,
 70227,
 70230,
 70231,
 70232,
 70241,
 70244,
 70246,
 70247,
 70250,
 70284,
 70299,
 70302,
 70307,
 70313,
 70608,
 70616,
 71022,
 71028,
 71070,
 71080,
 71081,
 71084,
 73945,
 75454,
 76108,
 77299,
 77323,
 77325,
 79943,
 79946,
 79949,
 79950,
 79952,
 79994,
 79999,
 80001,
 80003,
 80005,
 80020,
 80312,
 80314,
 80315,
 80316,
 80317,
 80318,
 80319,
 81162,
 81168,
 84475,
 84692,
 91812,
 91841,
 91842,
 91869,
 91870,
 91871,
 91882,
 91883,
 91884,
 91885,
 91886,
 91887,
 91889,
 91890,
 91894,
 91895,
 91896,
 91897,
 91898,
 91900,
 91901,
 91903,
 91906,
 91909,
 91915,
 91917,
 91919,
 91920,
 91923,
 91928}

62649

/home/work516/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (1,55,63) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

'There are accounts with duplicated ticks:'

Series([], Name: ars, dtype: int64)

'There are ticks with orderDirection 0'

,date,colo,accCode,secid,vai,updateType,sdd,orderDirection,absOrderSize,internalId,orderId
343178,20201215,zs_66_01,6634,2002412,-1,1,40795.0,0,0,-1.0,1.812807e+10
404739,20201215,zs_66_01,6634,2002801,-1,1,53394.0,0,0,-1.0,1.812810e+10
453631,20201215,zs_66_01,6634,2300067,-1,1,48357.0,0,0,-1.0,1.812808e+10
478221,20201215,zs_64_01,6480,2300189,-1,1,35124.0,0,0,-1.0,2.252200e+04
543500,20201215,zs_64_01,6480,2300475,-1,1,53508.0,0,0,-1.0,1.350460e+05
601493,20201215,zs_52_06,5269,2300665,-1,1,38607.0,0,0,-1.0,7.234860e+05

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:67: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

=======================================================================================
1. same date, secid, vai: same direction
opposite direction for same date, same secid, same vai

            date  accCode    secid        vai  orderDirection   order
88749   20201215     5332  2300595  7507340.0              -1   22678
102368  20201215     5229  2300474  3734387.0              -1   25967
102679  20201215     5229  2300595  7507340.0              -1   26054
107398  20201215     5276  2300595  7507340.0              -1   27204
120972  20201215     5377  2300595  7507340.0              -1   30373
...          ...      ...      ...        ...             ...     ...
622734  20201215     9441  1603228  3011288.0               1  158933
622862  20201215     9441  1603338   734321.0               1  158966
622874  20201215     9441  1603338   752052.0               1  158969
622955  20201215     9441  1603355   658346.0               1  158989
623830  20201215     9441  1603883  2669756.0              -1  159194

[154 rows x 6 columns]

=======================================================================================
2. same date, secid, vai, accCode: one insertion
99.83% SZE orders triggered by msg data
=======================================================================================
3. IPO stocks selling (ars = 301, 302)
=======================================================================================
4. updateType 7 orders
=======================================================================================
5. updateType 6 orders
=======================================================================================
6. CYB stocks total order size < 30w
=======================================================================================
7. unexpected updateType
=======================================================================================
8. status == 0: all traded
in total trade, any fill != total cases

         order  filled  total
4321      6163     300   5100
8207     11981   18500  19100
9386     13553     200    600
14369    19680    2200   2900
17979    24575     127    300
29671    40752     400    500
37879    51848    3600  14500
47501    64890     700   3700
76388   100918    3800   7800
76487   101199     200   1000
81580   109675    1900   2700
83916   112935     500   2000
86345   116315     200    400
91075   123391     100   1000
97259   132749     600  25900
98479   134491    3100   3800
98708   134886    1200   4600
100240  137159   11100  14000
101238  138819     800   1000
103214  141863    1700   3200
103820  142630    6000   6700
108498  149320     700   1200
113563  156622    2400   3400
114584  158049    3400   5900
114855  158523     200    800
115130  158943     400    700
118768  164334     800   1000

=======================================================================================
9. status == 1: partial traded
in partial trade, any fill >= total or fill is 0 cases for updateType 4

Empty DataFrame
Columns: [order, filled, total]
Index: []

=======================================================================================
10. no cancellation within 1 sec
any cancellation within 1 sec

Empty DataFrame
Columns: [ApplSeqNum, aaa, absFilledThisUpdate, absOrderSize, absOrderSizeCumFilled, accCode, ars, caamd, cancellationPending, cfe, clock, clockAtArrival, cumSharesBought, cumSharesBuyInserted, cumSharesSellInserted, cumSharesSold, date, finalState, gfe, hee, insertedShortOrder, insertionPending, internalId, inv_L, inv_L0, inv_S, inv_S0, l4algoDebug, l4tr, locateShares, locateSharesTotal, mfe, mra100, mrb100, mrm, mrm25, mrmum, mrrlma, mrsb300, mrsb90, mrss300, mrss90, mrstaat, mrstauc, mrstaum, mrv, ms, mse, mt, mta, mv, orderDirection, orderId, orderOutstanding, orderPrice, orderSysId, sdd, secid, sequenceNo, session, threadId, totalActions, totalCanceled, tradeId, tradePrice, underlyingIndex, updateType, vai, zipFile, colo, test, broker, colo_broker, colo_account, order, group, startClock, duration, orderDirection1, directNum, isMsg, status]
Index: []

=======================================================================================
11. Orders with size > 80w or notional > 800w

/home/work516/anaconda3/lib/python3.7/site-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

start to load data
load data finished

584

3469

array([32317, 32870, 32900, 32984, 32988, 32992, 33002, 33022, 33024,
       33029, 33042, 33120, 33141, 33142, 33143, 33609, 33949, 34043,
       34045, 34167, 34168, 34169, 34170, 34171, 34172, 34173, 34174,
       34175, 34177, 34183, 34190, 34198, 34199, 34201, 34382, 34576,
       34835, 34862, 34872, 34873, 34879, 34892, 34903, 34908, 35019,
       35020, 35036, 35043, 35831, 35839, 35843, 36029, 36032, 36034,
       36035, 36037, 36038, 36042, 36048, 36050, 36051, 36052, 36063,
       36068, 36074, 36079, 36080, 36098, 36138, 36139, 36142, 36145,
       36147, 36669, 36673, 36708, 36865, 36874, 36909, 36924, 36927,
       36928, 36937, 36939, 36940, 36942, 36945, 36946, 36974, 36979,
       36980, 36991, 36992, 37537, 37539, 37540, 37787, 37792, 37793,
       37816, 37819, 37821, 37822, 38087, 38130, 38148, 38151, 38154,
       38234, 38235, 38240, 38250, 38533, 39058, 39283, 39323, 39345,
       39346, 39353, 39388, 39396, 39421, 39459, 39621, 39622, 39623,
       39648, 39649, 39903, 39905, 39914, 40025, 40028, 40032, 40035,
       40046, 40092, 40192, 40196, 40209, 40242, 40247, 40248, 40253,
       40257, 40258, 40276, 40283, 40339, 40675, 40700, 40713, 40719,
       40768, 40776, 40784, 40786, 40787, 40788, 40793, 40797, 40802,
       40804, 41004, 41005, 41008, 41009, 41010, 41012, 41021, 41118,
       41122, 41129, 41180, 41182, 41187, 41204, 41220, 41239, 41241,
       41428, 41430, 41432, 41437, 41635, 41658, 41660, 41671, 41695,
       41696, 41703, 41705, 41763, 41771, 41772, 42508, 42509, 42525,
       42613, 42614, 42741, 42759, 42844, 42846, 42847, 42855, 42856,
       42858, 42860, 42864, 43066, 43069, 43080, 43081, 43084, 43210,
       43405, 43452, 43463, 43467, 43471, 43472, 43474, 43476, 43477,
       43498, 43499, 43501, 43752, 43903, 43906, 43907, 43908, 43910,
       43912, 43922, 44050, 44061, 44069, 44081, 44127, 44130, 44131,
       44133, 44137, 44143, 44146, 44148, 44151, 44194, 44195, 44196,
       44204, 44205, 44206, 44429, 44800, 44834, 44946, 44971, 45089,
       45091, 45092, 45446, 45448, 45449, 45453, 45454, 45456, 45466,
       45472, 45476, 45484, 45486, 45505, 45517, 45519, 45550, 45633,
       46038, 46045, 46439, 46440, 46453, 46918, 46928, 46930, 46933,
       46950, 46951, 47381, 47580, 47596, 47681, 47721, 48113, 48115,
       48124, 48131, 48226, 48506, 48507, 48508, 48509, 48640, 48644,
       48688, 48689, 48695, 48697, 48777, 49162, 49165, 49178, 49187,
       49190, 49215, 49752, 49753, 49756, 49757, 50237, 50257, 50258,
       50613, 50647, 50653, 50664, 50668, 50690, 50692, 51245, 51452,
       51638, 51639, 51645, 51651, 51654, 51657, 51658, 51659, 51662,
       51663, 51665, 51668, 51669, 51670, 51671, 51673, 51704, 51870,
       51951, 51952, 52279, 52307, 52691, 52692, 52693, 52694, 52695,
       52699, 52710, 52713, 52925, 52931, 52932, 52935, 52936, 52937,
       52939, 52941, 52943, 52946, 52948, 52950, 52951, 52983, 52989,
       52990, 52991, 52994, 53406, 53407, 54444, 54448, 54458, 54460,
       54904, 54908, 54909, 54911, 54919, 54936, 54959, 55455, 55483,
       55628, 55630, 55631, 55632, 55637, 55665, 55666, 55668, 55677,
       55678, 55679, 55685, 55686, 55688, 55696, 55707, 55744, 56860,
       56932, 56938, 56955, 56965, 56967, 56983, 56988, 57003, 57532,
       57865, 59171, 59208, 59212, 59216, 59219, 59220, 59221, 59222,
       59225, 59275, 59276, 59281, 59288, 59289, 59299, 59332, 61387,
       61390, 61423, 61877, 63612, 63615, 63618, 63633, 63635, 63637,
       63673, 63942, 64030, 64031, 64041, 64044, 64045, 64080, 64081,
       64086, 64131, 64132, 64135, 64137, 64141, 64147, 64175, 64320,
       64321, 64322, 64324, 64331, 64342, 64343, 64369, 64372, 64397,
       64402, 64735, 65696, 65699, 67212, 67216, 67244, 67857, 67913,
       67914, 67926, 68461, 68466, 68468, 68469, 68476, 68484, 68561,
       68724, 69374, 69405, 69425, 70334, 71695, 71711, 71728, 71730,
       71739, 71741, 71745, 71751, 71768, 72023, 72480, 72982, 73000,
       73002, 73014, 73023, 73025, 74022, 74025, 74026, 74040, 74396,
       75064, 75065, 75067, 75075, 75080, 75085, 75131, 75132, 75133,
       75134, 75300, 75301, 77467, 77500, 77501, 77801, 77822, 77825,
       78151, 80380, 80384, 80391, 80829, 81381, 81394, 81395, 81423,
       81454, 81455, 81494, 81736, 86183, 86188, 86191, 86199, 86253,
       86283, 86298, 86300, 86301, 86308, 86328, 86331, 86347, 87456,
       87465, 87475, 88002, 88003, 88008, 88012, 88022, 88042, 88064,
       88066, 88082, 88084, 88129, 88225, 88242, 88245, 88251])

61685
61685

{32317,
 32870,
 32900,
 32984,
 32988,
 32992,
 33002,
 33022,
 33024,
 33029,
 33042,
 33120,
 33141,
 33142,
 33143,
 33609,
 33949,
 34043,
 34045,
 34167,
 34168,
 34169,
 34170,
 34171,
 34172,
 34173,
 34174,
 34175,
 34177,
 34183,
 34190,
 34198,
 34199,
 34201,
 34382,
 34576,
 34835,
 34862,
 34872,
 34873,
 34879,
 34892,
 34903,
 34908,
 35019,
 35020,
 35036,
 35043,
 35831,
 35839,
 35843,
 36029,
 36032,
 36034,
 36035,
 36037,
 36038,
 36042,
 36048,
 36050,
 36051,
 36052,
 36063,
 36068,
 36074,
 36079,
 36080,
 36098,
 36138,
 36139,
 36142,
 36145,
 36147,
 36669,
 36673,
 36708,
 36865,
 36874,
 36909,
 36924,
 36927,
 36928,
 36937,
 36939,
 36940,
 36942,
 36945,
 36946,
 36974,
 36979,
 36980,
 36991,
 36992,
 37537,
 37539,
 37540,
 37787,
 37792,
 37793,
 37816,
 37819,
 37821,
 37822,
 38087,
 38130,
 38148,
 38151,
 38154,
 38234,
 38235,
 38240,
 38250,
 38533,
 39058,
 39283,
 39323,
 39345,
 39346,
 39353,
 39388,
 39396,
 39421,
 39459,
 39621,
 39622,
 39623,
 39648,
 39649,
 39903,
 39905,
 39914,
 40025,
 40028,
 40032,
 40035,
 40046,
 40092,
 40192,
 40196,
 40209,
 40242,
 40247,
 40248,
 40253,
 40257,
 40258,
 40276,
 40283,
 40339,
 40675,
 40700,
 40713,
 40719,
 40768,
 40776,
 40784,
 40786,
 40787,
 40788,
 40793,
 40797,
 40802,
 40804,
 41004,
 41005,
 41008,
 41009,
 41010,
 41012,
 41021,
 41118,
 41122,
 41129,
 41180,
 41182,
 41187,
 41204,
 41220,
 41239,
 41241,
 41428,
 41430,
 41432,
 41437,
 41635,
 41658,
 41660,
 41671,
 41695,
 41696,
 41703,
 41705,
 41763,
 41771,
 41772,
 42508,
 42509,
 42525,
 42613,
 42614,
 42741,
 42759,
 42844,
 42846,
 42847,
 42855,
 42856,
 42858,
 42860,
 42864,
 43066,
 43069,
 43080,
 43081,
 43084,
 43210,
 43405,
 43452,
 43463,
 43467,
 43471,
 43472,
 43474,
 43476,
 43477,
 43498,
 43499,
 43501,
 43752,
 43903,
 43906,
 43907,
 43908,
 43910,
 43912,
 43922,
 44050,
 44061,
 44069,
 44081,
 44127,
 44130,
 44131,
 44133,
 44137,
 44143,
 44146,
 44148,
 44151,
 44194,
 44195,
 44196,
 44204,
 44205,
 44206,
 44429,
 44800,
 44834,
 44946,
 44971,
 45089,
 45091,
 45092,
 45446,
 45448,
 45449,
 45453,
 45454,
 45456,
 45466,
 45472,
 45476,
 45484,
 45486,
 45505,
 45517,
 45519,
 45550,
 45633,
 46038,
 46045,
 46439,
 46440,
 46453,
 46918,
 46928,
 46930,
 46933,
 46950,
 46951,
 47381,
 47580,
 47596,
 47681,
 47721,
 48113,
 48115,
 48124,
 48131,
 48226,
 48506,
 48507,
 48508,
 48509,
 48640,
 48644,
 48688,
 48689,
 48695,
 48697,
 48777,
 49162,
 49165,
 49178,
 49187,
 49190,
 49215,
 49752,
 49753,
 49756,
 49757,
 50237,
 50257,
 50258,
 50613,
 50647,
 50653,
 50664,
 50668,
 50690,
 50692,
 51245,
 51452,
 51638,
 51639,
 51645,
 51651,
 51654,
 51657,
 51658,
 51659,
 51662,
 51663,
 51665,
 51668,
 51669,
 51670,
 51671,
 51673,
 51704,
 51870,
 51951,
 51952,
 52279,
 52307,
 52691,
 52692,
 52693,
 52694,
 52695,
 52699,
 52710,
 52713,
 52925,
 52931,
 52932,
 52935,
 52936,
 52937,
 52939,
 52941,
 52943,
 52946,
 52948,
 52950,
 52951,
 52983,
 52989,
 52990,
 52991,
 52994,
 53406,
 53407,
 54444,
 54448,
 54458,
 54460,
 54904,
 54908,
 54909,
 54911,
 54919,
 54936,
 54959,
 55455,
 55483,
 55628,
 55630,
 55631,
 55632,
 55637,
 55665,
 55666,
 55668,
 55677,
 55678,
 55679,
 55685,
 55686,
 55688,
 55696,
 55707,
 55744,
 56860,
 56932,
 56938,
 56955,
 56965,
 56967,
 56983,
 56988,
 57003,
 57532,
 57865,
 59171,
 59208,
 59212,
 59216,
 59219,
 59220,
 59221,
 59222,
 59225,
 59275,
 59276,
 59281,
 59288,
 59289,
 59299,
 59332,
 61387,
 61390,
 61423,
 61877,
 63612,
 63615,
 63618,
 63633,
 63635,
 63637,
 63673,
 63942,
 64030,
 64031,
 64041,
 64044,
 64045,
 64080,
 64081,
 64086,
 64131,
 64132,
 64135,
 64137,
 64141,
 64147,
 64175,
 64320,
 64321,
 64322,
 64324,
 64331,
 64342,
 64343,
 64369,
 64372,
 64397,
 64402,
 64735,
 65696,
 65699,
 67212,
 67216,
 67244,
 67857,
 67913,
 67914,
 67926,
 68461,
 68466,
 68468,
 68469,
 68476,
 68484,
 68561,
 68724,
 69374,
 69405,
 69425,
 70334,
 71695,
 71711,
 71728,
 71730,
 71739,
 71741,
 71745,
 71751,
 71768,
 72023,
 72480,
 72982,
 73000,
 73002,
 73014,
 73023,
 73025,
 74022,
 74025,
 74026,
 74040,
 74396,
 75064,
 75065,
 75067,
 75075,
 75080,
 75085,
 75131,
 75132,
 75133,
 75134,
 75300,
 75301,
 77467,
 77500,
 77501,
 77801,
 77822,
 77825,
 78151,
 80380,
 80384,
 80391,
 80829,
 81381,
 81394,
 81395,
 81423,
 81454,
 81455,
 81494,
 81736,
 86183,
 86188,
 86191,
 86199,
 86253,
 86283,
 86298,
 86300,
 86301,
 86308,
 86328,
 86331,
 86347,
 87456,
 87465,
 87475,
 88002,
 88003,
 88008,
 88012,
 88022,
 88042,
 88064,
 88066,
 88082,
 88084,
 88129,
 88225,
 88242,
 88245,
 88251}

61685

/home/work516/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (1,55,63) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

'There are accounts with duplicated ticks:'

Series([], Name: ars, dtype: int64)

'There are ticks with orderDirection 0'

,date,colo,accCode,secid,vai,updateType,sdd,orderDirection,absOrderSize,internalId,orderId
270764,20201216,zs_64_01,6480,2000677,-1,1,49418.0,0,0,-1.0,1.001710e+05
323257,20201216,zs_54_01,5474,2002094,-1,7,36274.0,0,0,-1.0,-1.000000e+00
368535,20201216,zs_52_09,5291,2002375,-1,1,53790.0,0,0,-1.0,1.302009e+06
392174,20201216,zs_52_09,5291,2002506,-1,1,34313.0,0,0,-1.0,5.782000e+04
432420,20201216,zs_64_01,6480,2002729,-1,1,47305.0,0,0,-1.0,8.880200e+04
482657,20201216,zs_64_01,6480,2002956,-1,1,49543.0,0,0,-1.0,1.007390e+05
522525,20201216,zs_64_01,6480,2300151,-1,1,47491.0,0,0,-1.0,8.986500e+04
546021,20201216,zs_66_01,6634,2300272,-1,1,52636.0,0,0,-1.0,1.812810e+10
570919,20201216,zs_64_01,6480,2300374,-1,1,51532.0,0,0,-1.0,1.227210e+05
581196,20201216,zs_52_06,5269,2300410,-1,1,35172.0,0,0,-1.0,2.519470e+05
593558,20201216,zs_64_01,6480,2300445,-1,1,50128.0,0,0,-1.0,1.034090e+05
622892,20201216,zs_52_06,5269,2300521,-1,1,38454.0,0,0,-1.0,6.602330e+05
684760,20201216,zs_64_01,6480,2300683,-1,1,50663.0,0,0,-1.0,1.078530e+05
725426,20201216,zs_64_01,6480,2300789,-1,1,50137.0,0,0,-1.0,1.033610e+05

There are orders with all things same except sdd
        ApplSeqNum       aaa  absFilledThisUpdate  absOrderSize  \
403912   3686264.0   0.00044                    0           100
404193  18252604.0  0.001406                    0           100
435894   3688220.0  0.000419                    0           100
435917  14404537.0  0.000657                    0           100

        absOrderSizeCumFilled  accCode  ars  caamd  cancellationPending  \
403912                      0   966301  0.0      0                  0.0
404193                      0   966301  0.0      0                  0.0
435894                      0   966301  0.0      0                  0.0
435917                      0   966301  0.0      0                  0.0

              cfe         clock    clockAtArrival  cumSharesBought  \
403912  506777.82  1.608083e+15  1608083268955951            100.0
404193  147834.78  1.608101e+15  1608101490951270              0.0
435894  568630.46  1.608083e+15  1608083200675713              0.0
435917  198186.36  1.608097e+15  1608097341920471              0.0

        cumSharesBuyInserted  cumSharesSellInserted  cumSharesSold      date  \
403912                 200.0                    0.0            0.0  20201216
404193                 100.0                    0.0            0.0  20201216
435894                 100.0                    0.0            0.0  20201216
435917                 100.0                    0.0            0.0  20201216

        finalState        gfe       hee  insertedShortOrder  insertionPending  \
403912         0.0  506776.82  0.000333                 0.0               1.0
404193         0.0  147833.78  0.000392                 0.0               1.0
435894         0.0  568629.46  0.000326                 0.0               1.0
435917         0.0  198185.36  0.000071                 0.0               1.0

        internalId   inv_L  inv_L0  inv_S  inv_S0  l4algoDebug  l4tr  \
403912       104.0   100.0   100.0    0.0     0.0          NaN   0.0
404193       104.0  1000.0  1000.0    0.0     0.0          NaN   0.0
435894        55.0     0.0     0.0    0.0     0.0          NaN   0.0
435917        55.0  1400.0  1400.0    0.0     0.0          NaN   0.0

        locateShares  locateSharesTotal  mfe  mra100  mrb100  mrm  mrm25  \
403912           0.0                0.0 -1.0    -1.0    -1.0 -1.0   -1.0
404193           0.0                0.0 -1.0    -1.0    -1.0 -1.0   -1.0
435894           0.0                0.0 -1.0    -1.0    -1.0 -1.0   -1.0
435917           0.0                0.0 -1.0    -1.0    -1.0 -1.0   -1.0

        mrmum  mrrlma  mrsb300  mrsb90  mrss300  mrss90  mrstaat  mrstauc  \
403912   -1.0    -1.0     -1.0    -1.0     -1.0    -1.0      0.0      0.0
404193   -1.0    -1.0     -1.0    -1.0     -1.0    -1.0      0.0      0.0
435894   -1.0    -1.0     -1.0    -1.0     -1.0    -1.0      0.0      0.0
435917   -1.0    -1.0     -1.0    -1.0     -1.0    -1.0      0.0      0.0

        mrstaum  mrv               ms  mse   mt    mta   mv  orderDirection  \
403912     -1.0 -1.0  09:47:48.955250  100  0.0 -999.0  0.0               1
404193     -1.0 -1.0  14:51:30.951160  100  0.0 -999.0  0.0               1
435894     -1.0 -1.0  09:46:40.674254  100  0.0 -999.0  0.0               1
435917     -1.0 -1.0  13:42:21.919408  100  0.0 -999.0  0.0               1

        orderId  orderOutstanding  orderPrice orderSysId          sdd  \
403912     -1.0               0.0       26.49        NaN   94748990.0
404193     -1.0               0.0       26.25        NaN  145131110.0
435894     -1.0               0.0       13.84        NaN   94640710.0
435917     -1.0               0.0       13.68        NaN  134222040.0

          secid   sequenceNo  session  threadId  totalActions  totalCanceled  \
403912  2002572   21071327.0        0   11778.0         112.0            8.0
404193  2002572  119252152.0        1   16898.0         117.0           13.0
435894  2002745   20159223.0        0   11775.0          59.0            4.0
435917  2002745   89526549.0        1   16895.0          64.0            9.0

       tradeId  tradePrice  underlyingIndex  updateType      vai  \
403912     NaN        -1.0              905           0   690035
404193     NaN        -1.0              905           0  5424157
435894     NaN        -1.0              905           0  1114500
435917     NaN        -1.0              905           0  4880941

                                  zipFile      colo
403912  logs_20201216_zt_96_01_day_966301  zt_96_01
404193  logs_20201216_zt_96_01_day_966301  zt_96_01
435894  logs_20201216_zt_96_01_day_966301  zt_96_01
435917  logs_20201216_zt_96_01_day_966301  zt_96_01
There are orders with same internalId but different orderId other than accCode 8856 case
date      colo      accCode  secid    orderDirection  absOrderSize  internalId
20201216  zt_96_01  966301   2002572  1               100           104.0         2
                             2002745  1               100           55.0          2
Name: orderId, dtype: int64

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:67: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

=======================================================================================
1. same date, secid, vai: same direction
opposite direction for same date, same secid, same vai

            date  accCode    secid        vai  orderDirection   order
26095   20201216     5232  2300725    82297.0               1    6963
103894  20201216     5332  1603866  1118810.0              -1   25986
122095  20201216     5229  2300285  4271045.0              -1   30475
143092  20201216     5377  2300244  5880732.0              -1   35544
143229  20201216     5377  2300285  4271045.0              -1   35578
...          ...      ...      ...        ...             ...     ...
703977  20201216     9441  1603355   323469.0              -1  178285
704038  20201216     9441  1603355   571209.0               1  178301
704227  20201216     9441  1603515   606531.0               1  178356
704231  20201216     9441  1603515   606531.0              -1  178357
725166  20201216   966501  1603806  1124061.0              -1  183823

[162 rows x 6 columns]

=======================================================================================
2. same date, secid, vai, accCode: one insertion
99.76% SZE orders triggered by msg data
=======================================================================================
3. IPO stocks selling (ars = 301, 302)
=======================================================================================
4. updateType 7 orders
=======================================================================================
5. updateType 6 orders
=======================================================================================
6. CYB stocks total order size < 30w
=======================================================================================
7. unexpected updateType
=======================================================================================
8. status == 0: all traded
in total trade, any fill != total cases

         order  filled  total
1289      1969    7300   8200
8235     12616     900   1800
9755     15002     300    700
20668    29305     100    500
21181    30013     900   1100
21611    30554    4400   4800
25177    35293     800   7500
26056    36762   11500  28000
30031    42314    1140   3700
31593    44435    1700   1800
38787    54187    4116   6100
50289    70260    1880  16600
56432    77816    2100   8500
65125    88272     800   1900
67882    92351    1400   4400
73453    99372     500   1700
85000   113204     600    700
89140   120276     200    700
97656   132277    2900   3200
101423  137958     100    700
108402  148186   19200  20000
110005  150732    2700   3000
110475  151417     600   2300
110821  151881     200    600
110926  152027    1000   9700
117404  161546     400   1000
119693  165119    4000   4500
123390  169978    1400   5800
125871  173568     200    900
129011  178479     500    600

=======================================================================================
9. status == 1: partial traded
in partial trade, any fill >= total or fill is 0 cases for updateType 4

Empty DataFrame
Columns: [order, filled, total]
Index: []

=======================================================================================
10. no cancellation within 1 sec
any cancellation within 1 sec

Empty DataFrame
Columns: [ApplSeqNum, aaa, absFilledThisUpdate, absOrderSize, absOrderSizeCumFilled, accCode, ars, caamd, cancellationPending, cfe, clock, clockAtArrival, cumSharesBought, cumSharesBuyInserted, cumSharesSellInserted, cumSharesSold, date, finalState, gfe, hee, insertedShortOrder, insertionPending, internalId, inv_L, inv_L0, inv_S, inv_S0, l4algoDebug, l4tr, locateShares, locateSharesTotal, mfe, mra100, mrb100, mrm, mrm25, mrmum, mrrlma, mrsb300, mrsb90, mrss300, mrss90, mrstaat, mrstauc, mrstaum, mrv, ms, mse, mt, mta, mv, orderDirection, orderId, orderOutstanding, orderPrice, orderSysId, sdd, secid, sequenceNo, session, threadId, totalActions, totalCanceled, tradeId, tradePrice, underlyingIndex, updateType, vai, zipFile, colo, test, broker, colo_broker, colo_account, order, group, startClock, duration, orderDirection1, directNum, isMsg, status]
Index: []

=======================================================================================
11. Orders with size > 80w or notional > 800w

/home/work516/anaconda3/lib/python3.7/site-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

start to load data
load data finished

647

2681

array([32630, 32632, 33544, 33643, 33665, 33666, 33675, 33680, 33684,
       33696, 33697, 33705, 33768, 33770, 34083, 34117, 34118, 34119,
       34126, 34133, 34221, 34222, 34223, 34226, 34229, 34230, 34238,
       34244, 34401, 34804, 35010, 35274, 35280, 35295, 35300, 35309,
       35472, 35487, 35848, 35850, 35852, 35854, 35858, 35862, 35874,
       35891, 35896, 35897, 36358, 36360, 36361, 36535, 36540, 36541,
       36573, 36574, 36579, 36580, 36581, 36587, 36588, 36589, 36604,
       37327, 37328, 37339, 37341, 37605, 37606, 37609, 37613, 37614,
       37635, 37643, 37651, 37652, 37657, 37659, 37661, 37666, 37669,
       37670, 37674, 37675, 37677, 38191, 38213, 38214, 38254, 38273,
       38289, 38537, 38546, 38681, 38682, 38683, 38684, 38786, 38802,
       39267, 39268, 39289, 39292, 39312, 39702, 39728, 39733, 39735,
       39740, 40055, 40083, 40111, 40122, 40129, 40134, 40135, 40179,
       40180, 40191, 40246, 40260, 40463, 40607, 40614, 40615, 40619,
       40624, 41413, 41421, 41422, 41466, 41485, 41501, 41508, 41647,
       41648, 41912, 41918, 41927, 41947, 42019, 42025, 42116, 42117,
       42133, 42346, 42347, 42350, 42351, 42354, 42358, 42363, 42365,
       42368, 42378, 42388, 42393, 42395, 42396, 42398, 42400, 42404,
       42406, 42500, 42657, 42710, 42727, 42728, 42824, 42827, 42830,
       42841, 42849, 42975, 43047, 43266, 43268, 43271, 43273, 43276,
       43277, 43490, 43491, 43499, 43533, 43534, 43542, 43543, 43549,
       43558, 43559, 43561, 43564, 43566, 43571, 43575, 43581, 43591,
       43592, 43598, 43599, 43871, 43906, 43910, 44202, 44278, 44303,
       44317, 44338, 44366, 44367, 44369, 44404, 44434, 44443, 44450,
       44452, 44454, 44474, 44525, 44530, 44532, 44544, 44552, 44718,
       44912, 45522, 45523, 45526, 45713, 45723, 45724, 45725, 45728,
       45741, 45747, 45943, 45944, 45949, 45952, 45953, 45960, 45962,
       45963, 45972, 45973, 45974, 46068, 46078, 46079, 46080, 46091,
       46349, 46353, 46364, 46365, 46366, 46369, 46370, 46372, 46373,
       46410, 46426, 46514, 46792, 46793, 46794, 46801, 46802, 46803,
       46810, 46813, 46820, 46821, 46822, 46825, 46827, 46836, 46838,
       46849, 47137, 47262, 47271, 47534, 47540, 47556, 47580, 47780,
       47781, 47784, 47912, 47918, 47920, 47932, 47934, 48011, 48105,
       48199, 48207, 48208, 48217, 48249, 48430, 48477, 48773, 48778,
       48780, 48793, 48795, 48796, 48806, 48897, 48898, 48980, 48999,
       49459, 49693, 49696, 49711, 49715, 49720, 49726, 49742, 49755,
       49762, 49763, 49765, 49767, 49768, 49777, 49780, 49783, 49794,
       49813, 50014, 50025, 50715, 50825, 50828, 50831, 50832, 50840,
       50842, 50843, 50845, 50846, 50848, 50850, 50853, 50861, 50865,
       50868, 50871, 50874, 50875, 50876, 50878, 50883, 50905, 50922,
       51308, 51315, 51483, 51485, 51489, 51495, 51496, 51518, 51520,
       51546, 51623, 51670, 51925, 51936, 51944, 51945, 51947, 51948,
       51951, 51952, 52024, 52035, 52036, 52037, 52038, 52052, 52105,
       52166, 52171, 52174, 52506, 52509, 52513, 52515, 52517, 52586,
       52587, 52591, 52599, 52600, 52611, 52613, 52619, 52627, 52753,
       52770, 52773, 52779, 52803, 52816, 52817, 52818, 52821, 52835,
       53297, 53300, 53337, 53341, 53342, 53363, 53365, 53388, 53391,
       53616, 53621, 53623, 53641, 53912, 53913, 53916, 54101, 54583,
       54591, 54594, 54595, 54597, 54598, 54601, 54602, 54605, 54606,
       54607, 54610, 54611, 54620, 54623, 54628, 54653, 54676, 54702,
       54937, 54939, 54946, 55047, 55150, 55824, 55839, 55843, 56036,
       56051, 56163, 56171, 56176, 56177, 56186, 56189, 56201, 56202,
       56406, 56407, 56409, 56410, 56411, 56412, 56415, 56416, 56419,
       56423, 56425, 56436, 56440, 56778, 56792, 56795, 56803, 56807,
       56909, 56910, 56913, 56914, 57138, 57145, 57152, 57181, 57183,
       57191, 57203, 57204, 57231, 57234, 57236, 57250, 57253, 57254,
       58619, 59616, 59863, 59865, 59866, 59867, 59868, 60081, 60149,
       60282, 60287, 60293, 60297, 61067, 61068, 61073, 61895, 61896,
       61897, 61898, 61899, 61900, 61902, 61904, 61905, 61906, 61910,
       61911, 61913, 61914, 61915, 61917, 61919, 61920, 61921, 61923,
       61924, 61925, 61928, 61937, 64094, 64107, 64116, 64122, 64129,
       66643, 66644, 66656, 66658, 66677, 67138, 67143, 69169, 69243,
       69307, 69537, 69699, 69700, 69706, 69707, 69733, 69735, 69743,
       69764, 69850, 69861, 69865, 69923, 69963, 70099, 70344, 71398,
       71615, 71618, 73755, 73757, 73762, 73763, 73793, 73802, 73804,
       73831, 73834, 73854, 74321, 74485, 74660, 74661, 74662, 74671,
       74672, 75271, 75307, 75310, 75336, 75342, 75559, 76247, 76540,
       77844, 78587, 78684, 78796, 78905, 78912, 80482, 82111, 82112,
       84337, 84342, 84606, 84615, 84616, 85509, 87873, 87915, 87938,
       87957, 88434, 89200, 89202, 89219, 89325, 89331, 89333, 89336,
       89360, 89375, 89407, 89439, 89516, 89517, 89547, 95364, 95430,
       95439, 95462, 95465, 95468, 95523, 97646, 97651, 97870])

69919
69919
some order vai are wrong
[5660.]
69919
69920

1

{32630,
 32632,
 33544,
 33643,
 33665,
 33666,
 33675,
 33680,
 33684,
 33696,
 33697,
 33705,
 33768,
 33770,
 34083,
 34117,
 34118,
 34119,
 34126,
 34133,
 34221,
 34222,
 34223,
 34226,
 34229,
 34230,
 34238,
 34244,
 34401,
 34804,
 35010,
 35274,
 35280,
 35295,
 35300,
 35309,
 35472,
 35487,
 35848,
 35850,
 35852,
 35854,
 35858,
 35862,
 35874,
 35891,
 35896,
 35897,
 36358,
 36360,
 36361,
 36535,
 36540,
 36541,
 36573,
 36574,
 36579,
 36580,
 36581,
 36587,
 36588,
 36589,
 36604,
 37327,
 37328,
 37339,
 37341,
 37605,
 37606,
 37609,
 37613,
 37614,
 37635,
 37643,
 37651,
 37652,
 37657,
 37659,
 37661,
 37666,
 37669,
 37670,
 37674,
 37675,
 37677,
 38191,
 38213,
 38214,
 38254,
 38273,
 38289,
 38537,
 38546,
 38681,
 38682,
 38683,
 38684,
 38786,
 38802,
 39267,
 39268,
 39289,
 39292,
 39312,
 39702,
 39728,
 39733,
 39735,
 39740,
 40055,
 40083,
 40111,
 40122,
 40129,
 40134,
 40135,
 40179,
 40180,
 40191,
 40246,
 40260,
 40463,
 40607,
 40614,
 40615,
 40619,
 40624,
 41413,
 41421,
 41422,
 41466,
 41485,
 41501,
 41508,
 41647,
 41648,
 41912,
 41918,
 41927,
 41947,
 42019,
 42025,
 42116,
 42117,
 42133,
 42346,
 42347,
 42350,
 42351,
 42354,
 42358,
 42363,
 42365,
 42368,
 42378,
 42388,
 42393,
 42395,
 42396,
 42398,
 42400,
 42404,
 42406,
 42500,
 42657,
 42710,
 42727,
 42728,
 42824,
 42827,
 42830,
 42841,
 42849,
 42975,
 43047,
 43266,
 43268,
 43271,
 43273,
 43276,
 43277,
 43490,
 43491,
 43499,
 43533,
 43534,
 43542,
 43543,
 43549,
 43558,
 43559,
 43561,
 43564,
 43566,
 43571,
 43575,
 43581,
 43591,
 43592,
 43598,
 43599,
 43871,
 43906,
 43910,
 44202,
 44278,
 44303,
 44317,
 44338,
 44366,
 44367,
 44369,
 44404,
 44434,
 44443,
 44450,
 44452,
 44454,
 44474,
 44525,
 44530,
 44532,
 44544,
 44552,
 44718,
 44912,
 45522,
 45523,
 45526,
 45713,
 45723,
 45724,
 45725,
 45728,
 45741,
 45747,
 45943,
 45944,
 45949,
 45952,
 45953,
 45960,
 45962,
 45963,
 45972,
 45973,
 45974,
 46068,
 46078,
 46079,
 46080,
 46091,
 46349,
 46353,
 46364,
 46365,
 46366,
 46369,
 46370,
 46372,
 46373,
 46410,
 46426,
 46514,
 46792,
 46793,
 46794,
 46801,
 46802,
 46803,
 46810,
 46813,
 46820,
 46821,
 46822,
 46825,
 46827,
 46836,
 46838,
 46849,
 47137,
 47262,
 47271,
 47534,
 47540,
 47556,
 47580,
 47780,
 47781,
 47784,
 47912,
 47918,
 47920,
 47932,
 47934,
 48011,
 48105,
 48199,
 48207,
 48208,
 48217,
 48249,
 48430,
 48477,
 48773,
 48778,
 48780,
 48793,
 48795,
 48796,
 48806,
 48897,
 48898,
 48980,
 48999,
 49459,
 49693,
 49696,
 49711,
 49715,
 49720,
 49726,
 49742,
 49755,
 49762,
 49763,
 49765,
 49767,
 49768,
 49777,
 49780,
 49783,
 49794,
 49813,
 50014,
 50025,
 50715,
 50825,
 50828,
 50831,
 50832,
 50840,
 50842,
 50843,
 50845,
 50846,
 50848,
 50850,
 50853,
 50861,
 50865,
 50868,
 50871,
 50874,
 50875,
 50876,
 50878,
 50883,
 50905,
 50922,
 51308,
 51315,
 51483,
 51485,
 51489,
 51495,
 51496,
 51518,
 51520,
 51546,
 51623,
 51670,
 51925,
 51936,
 51944,
 51945,
 51947,
 51948,
 51951,
 51952,
 52024,
 52035,
 52036,
 52037,
 52038,
 52052,
 52105,
 52166,
 52171,
 52174,
 52506,
 52509,
 52513,
 52515,
 52517,
 52586,
 52587,
 52591,
 52599,
 52600,
 52611,
 52613,
 52619,
 52627,
 52753,
 52770,
 52773,
 52779,
 52803,
 52816,
 52817,
 52818,
 52821,
 52835,
 53297,
 53300,
 53337,
 53341,
 53342,
 53363,
 53365,
 53388,
 53391,
 53616,
 53621,
 53623,
 53641,
 53912,
 53913,
 53916,
 54101,
 54583,
 54591,
 54594,
 54595,
 54597,
 54598,
 54601,
 54602,
 54605,
 54606,
 54607,
 54610,
 54611,
 54620,
 54623,
 54628,
 54653,
 54676,
 54702,
 54937,
 54939,
 54946,
 55047,
 55150,
 55824,
 55839,
 55843,
 56036,
 56051,
 56163,
 56171,
 56176,
 56177,
 56186,
 56189,
 56201,
 56202,
 56406,
 56407,
 56409,
 56410,
 56411,
 56412,
 56415,
 56416,
 56419,
 56423,
 56425,
 56436,
 56440,
 56778,
 56792,
 56795,
 56803,
 56807,
 56909,
 56910,
 56913,
 56914,
 57138,
 57145,
 57152,
 57181,
 57183,
 57191,
 57203,
 57204,
 57231,
 57234,
 57236,
 57250,
 57253,
 57254,
 58619,
 59616,
 59863,
 59865,
 59866,
 59867,
 59868,
 60081,
 60149,
 60282,
 60287,
 60293,
 60297,
 61067,
 61068,
 61073,
 61895,
 61896,
 61897,
 61898,
 61899,
 61900,
 61902,
 61904,
 61905,
 61906,
 61910,
 61911,
 61913,
 61914,
 61915,
 61917,
 61919,
 61920,
 61921,
 61923,
 61924,
 61925,
 61928,
 61937,
 64094,
 64107,
 64116,
 64122,
 64129,
 66643,
 66644,
 66656,
 66658,
 66677,
 67138,
 67143,
 69169,
 69243,
 69307,
 69537,
 69699,
 69700,
 69706,
 69707,
 69733,
 69735,
 69743,
 69764,
 69850,
 69861,
 69865,
 69923,
 69963,
 70099,
 70344,
 71398,
 71615,
 71618,
 73755,
 73757,
 73762,
 73763,
 73793,
 73802,
 73804,
 73831,
 73834,
 73854,
 74321,
 74485,
 74660,
 74661,
 74662,
 74671,
 74672,
 75271,
 75307,
 75310,
 75336,
 75342,
 75559,
 76247,
 76540,
 77844,
 78587,
 78684,
 78796,
 78905,
 78912,
 80482,
 82111,
 82112,
 84337,
 84342,
 84606,
 84615,
 84616,
 85509,
 87873,
 87915,
 87938,
 87957,
 88434,
 89200,
 89202,
 89219,
 89325,
 89331,
 89333,
 89336,
 89360,
 89375,
 89407,
 89439,
 89516,
 89517,
 89547,
 95364,
 95430,
 95439,
 95462,
 95465,
 95468,
 95523,
 97646,
 97651,
 97870}

69918

0:49:21.956215