In [6]:
import pymongo
import pandas as pd
import pickle
import datetime
import time
import gzip
import lzma
import pytz


def DB(host, db_name, user, passwd):
    auth_db = db_name if user not in ('admin', 'root') else 'admin'
    uri = 'mongodb://%s:%s@%s/?authSource=%s' % (user, passwd, host, auth_db)
    return DBObj(uri, db_name=db_name)


class DBObj(object):
    def __init__(self, uri, symbol_column='skey', db_name='white_db'):
        self.db_name = db_name
        self.uri = uri
        self.client = pymongo.MongoClient(self.uri)
        self.db = self.client[self.db_name]
        self.chunk_size = 20000
        self.symbol_column = symbol_column
        self.date_column = 'date'

    def parse_uri(self, uri):
        # mongodb://user:password@example.com
        return uri.strip().replace('mongodb://', '').strip('/').replace(':', ' ').replace('@', ' ').split(' ')

    def drop_table(self, table_name):
        self.db.drop_collection(table_name)

    def rename_table(self, old_table, new_table):
        self.db[old_table].rename(new_table)

    def write(self, table_name, df):
        if len(df) == 0: return

        multi_date = False

        if self.date_column in df.columns:
            date = str(df.head(1)[self.date_column].iloc[0])
            multi_date = len(df[self.date_column].unique()) > 1
        else:
            raise Exception('DataFrame should contain date column')

        collection = self.db[table_name]
        collection.create_index([('date', pymongo.ASCENDING), ('symbol', pymongo.ASCENDING)], background=True)
        collection.create_index([('symbol', pymongo.ASCENDING), ('date', pymongo.ASCENDING)], background=True)

        if multi_date:
            for (date, symbol), sub_df in df.groupby([self.date_column, self.symbol_column]):
                date = str(date)
                symbol = int(symbol)
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)
        else:
            for symbol, sub_df in df.groupby([self.symbol_column]):
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)

    def write_single(self, collection, date, symbol, df):
        for start in range(0, len(df), self.chunk_size):
            end = min(start + self.chunk_size, len(df))
            df_seg = df[start:end]
            version = 1
            seg = {'ver': version, 'data': self.ser(df_seg, version), 'date': date, 'symbol': symbol, 'start': start}
            collection.insert_one(seg)

    def build_query(self, start_date=None, end_date=None, symbol=None):
        query = {}

        def parse_date(x):
            if type(x) == str:
                if len(x) != 8:
                    raise Exception("`date` must be YYYYMMDD format")
                return x
            elif type(x) == datetime.datetime or type(x) == datetime.date:
                return x.strftime("%Y%m%d")
            elif type(x) == int:
                return parse_date(str(x))
            else:
                raise Exception("invalid `date` type: " + str(type(x)))

        if start_date is not None or end_date is not None:
            query['date'] = {}
            if start_date is not None:
                query['date']['$gte'] = parse_date(start_date)
            if end_date is not None:
                query['date']['$lte'] = parse_date(end_date)

        def parse_symbol(x):
            if type(x) == int:
                return x
            else:
                return int(x)

        if symbol:
            if type(symbol) == list or type(symbol) == tuple:
                query['symbol'] = {'$in': [parse_symbol(x) for x in symbol]}
            else:
                query['symbol'] = parse_symbol(symbol)

        return query

    def delete(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot delete the whole table')
            return None

        collection.delete_many(query)

    def read(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot read the whole table')
            return None

        segs = []
        for x in collection.find(query):
            x['data'] = self.deser(x['data'], x['ver'])
            segs.append(x)
        segs.sort(key=lambda x: (x['symbol'], x['date'], x['start']))
        return pd.concat([x['data'] for x in segs], ignore_index=True) if segs else None

    def list_tables(self):
        return self.db.collection_names()

    def list_dates(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]
        dates = set()
        if start_date is None:
            start_date = '00000000'
        if end_date is None:
            end_date = '99999999'
        for x in collection.find(self.build_query(start_date, end_date, symbol), {"date": 1, '_id': 0}):
            dates.add(x['date'])
        return sorted(list(dates))

    def ser(self, s, version):
        pickle_protocol = 4
        if version == 1:
            return gzip.compress(pickle.dumps(s, protocol=pickle_protocol), compresslevel=2)
        elif version == 2:
            return lzma.compress(pickle.dumps(s, protocol=pickle_protocol), preset=1)
        else:
            raise Exception('unknown version')

    def deser(self, s, version):
        def unpickle(s):
            return pickle.loads(s)

        if version == 1:
            return unpickle(gzip.decompress(s))
        elif version == 2:
            return unpickle(lzma.decompress(s))
        else:
            raise Exception('unknown version')


def patch_pandas_pickle():
    if pd.__version__ < '0.24':
        import sys
        from types import ModuleType
        from pandas.core.internals import BlockManager
        pkg_name = 'pandas.core.internals.managers'
        if pkg_name not in sys.modules:
            m = ModuleType(pkg_name)
            m.BlockManager = BlockManager
            sys.modules[pkg_name] = m
patch_pandas_pickle()




import pandas as pd
import random
import numpy as np
import glob
import os
import pickle
import datetime
import time
pd.set_option("max_columns", 200)

startTm = datetime.datetime.now()
readPath = '/mnt/Kevin_zhenyu/day_stock/***'
dataPathLs = np.array(glob.glob(readPath))
dataPathLs = dataPathLs[[np.array([os.path.basename(i).split('.')[0][:2] == 'SZ' for i in dataPathLs])]]
db = pd.DataFrame()
for p in dataPathLs:
    dayData = pd.read_csv(p, compression='gzip')
    db = pd.concat([db, dayData])
print(datetime.datetime.now() - startTm)

startDate = '20160101'
endDate = '20161231'
readPath = '/mnt/SZ1/SZ/***/TickAB/SZ/***'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([os.path.basename(i) for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]
wr_ong = []
mi_ss = []
dateLs = np.sort(np.unique([os.path.basename(i) for i in dataPathLs]))

for date in dateLs:
    
    readPath = '/mnt/SZ1/SZ/***/TickAB/SZ/' + date + '/***'
    dataPathLs = np.array(glob.glob(readPath))
    dateLs = np.array([int(os.path.basename(i).split('.')[0]) for i in dataPathLs])
    dataPathLs = dataPathLs[(dateLs < 4000) | ((dateLs > 300000) & (dateLs < 310000))]
    SZ = []
    ll = []
    startTm = datetime.datetime.now()
    for i in dataPathLs:
        try:
            df = pd.read_csv(i)
        except:
            print("empty data")
            print(i)
            ll.append(int(os.path.basename(i).split('.')[0]))
            continue
        SZ += [df]
    del df
    SZ = pd.concat(SZ).reset_index(drop=True)
    print(datetime.datetime.now() - startTm)
    
    startTm = datetime.datetime.now()
    SZ["skey"] = SZ["WindCode"].apply(lambda x: int(x.split('.')[0])) + 2000000
    SZ.drop(["WindCode"],axis=1,inplace=True)
    SZ['clockAtArrival'] = SZ['Time'] + SZ['Date'] * 1000000000
    SZ['clockAtArrival'] = SZ["clockAtArrival"].astype(str).apply(lambda x: np.int64(datetime.datetime.strptime(x, '%Y%m%d%H%M%S%f').timestamp()*1e6))
    SZ['datetime'] = SZ["clockAtArrival"].apply(lambda x: datetime.datetime.fromtimestamp(x/1e6))
    SZ["Time"] = SZ['Time'] * 1000
    SZ = SZ.rename(columns={'Time': 'time', 'Date':'date'})
    print(datetime.datetime.now() - startTm)
    
    startTm = datetime.datetime.now()
    SZ["AskPrice"] = SZ["AskPrice"].apply(lambda x: [int(i) for i in x[:-1].split(';')])
    SZ["AskVolume"] = SZ["AskVolume"].apply(lambda x: [int(i) for i in x[:-1].split(';')])
    SZ["BidPrice"] = SZ["BidPrice"].apply(lambda x: [int(i) for i in x[:-1].split(';')])
    SZ["BidVolume"] = SZ["BidVolume"].apply(lambda x: [int(i) for i in x[:-1].split(';')])

    for i in range(1, 11):
        SZ["bid" + str(i) + 'p'] = SZ["BidPrice"].apply(lambda x: x[i-1]/10000)
    SZ.drop(["BidPrice"],axis=1,inplace=True)
    print("1")
    for i in range(1, 11):
        SZ["ask" + str(i) + 'p'] = SZ["AskPrice"].apply(lambda x: x[i-1]/10000)
    SZ.drop(["AskPrice"],axis=1,inplace=True)
    print("2")
    for i in range(1, 11):
        SZ["bid" + str(i) + 'q'] = SZ["BidVolume"].apply(lambda x: x[i-1])
    SZ.drop(["BidVolume"],axis=1,inplace=True)
    print("3")
    for i in range(1, 11):
        SZ["ask" + str(i) + 'q'] = SZ["AskVolume"].apply(lambda x: x[i-1])
    SZ.drop(["AskVolume"],axis=1,inplace=True)
    print("4")
    
    SZ = SZ.fillna(0)
    SZ["ordering"] = SZ.groupby("skey").cumcount()
    SZ["ordering"] = SZ["ordering"] + 1
    SZ['has_missing'] = 0

    for cols in ['Price', 'High', 'Low', 'Open', 'PreClose']:
        SZ[cols] = SZ[cols] / 10000
    SZ = SZ.rename(columns={'Price':'close', 'High':'high', 'Low':'low', 'Open':'open', 'PreClose':'prev_close', 'AccVolume':'cum_volume',
                           'AccTurover':'cum_amount', 'MatchItems':'cum_trades_cnt'})
    
    for col in ["skey", "date", "cum_trades_cnt", "ordering"]:
        SZ[col] = SZ[col].astype('int32')
        
    assert(sum(SZ[SZ["open"] != 0].groupby("skey")["open"].nunique() != 1) == 0)
    assert(sum(SZ[SZ["prev_close"] != 0].groupby("skey")["prev_close"].nunique() != 1) == 0)
    SZ["prev_close"] = np.where(SZ["time"] >= 91500000000, SZ.groupby("skey")["prev_close"].transform("max"), SZ["prev_close"]) 
    SZ["open"] = np.where(SZ["cum_volume"] > 0, SZ.groupby("skey")["open"].transform("max"), SZ["open"])
    assert(sum(SZ[SZ["open"] != 0].groupby("skey")["open"].nunique() != 1) == 0)
    assert(sum(SZ[SZ["prev_close"] != 0].groupby("skey")["prev_close"].nunique() != 1) == 0)
    assert(SZ[SZ["cum_volume"] > 0]["open"].min() > 0)
    
    print(datetime.datetime.now() - startTm)
    
    
    # check 1
    startTm = datetime.datetime.now()
    da_te = str(SZ["date"].iloc[0]) 
    da_te = da_te[:4] + '-' + da_te[4:6] + '-' + da_te[6:8]
    db1 = db[db["date"] == da_te]
    db1["ID"] = db1["ID"].str[2:].astype(int) + 2000000
    db1["date"] = (db1["date"].str[:4] + db1["date"].str[5:7] + db1["date"].str[8:]).astype(int)
    SZ["cum_max"] = SZ.groupby("skey")["cum_volume"].transform(max)
    s2 = SZ[SZ["cum_volume"] == SZ["cum_max"]].groupby("skey").first().reset_index()
    SZ.drop("cum_max", axis=1, inplace=True)
    s2 = s2.rename(columns={"skey": "ID", 'open':"d_open", "prev_close":"d_yclose","high":"d_high", "low":"d_low", 
                            "close":"d_close", "cum_volume":"d_volume", "cum_amount":"d_amount"})
    s2 = s2[["ID", "date", "d_open", "d_yclose", "d_high", "d_low", "d_close", "d_volume", "d_amount"]]
    re = pd.merge(db1, s2, on=["ID", "date", "d_open", "d_yclose","d_high", "d_low", "d_volume"], how="outer")
    try:
        assert(sum(re["d_amount_y"].isnull()) == 0)
    except:
        sl = list(re[re["d_amount_y"].isnull()]['ID'].unique())
        sl.remove(2001872)
        sl.remove(2001914)
        display(db1[db1['ID'].isin(sl)][["ID", "date", "d_open", "d_yclose", "d_high", "d_low", "d_close", "d_volume", "d_amount"]])
        display(s2[s2['ID'].isin(sl)][["ID", "date", "d_open", "d_yclose", "d_high", "d_low", "d_close", "d_volume", "d_amount"]])
        try:
            sl1 = s2[(s2['ID'].isin(sl)) & (s2['d_yclose'] != 0)]['ID'].unique()
            sl2 = s2[(s2['ID'].isin(sl)) & (s2['d_yclose'] == 0)]['ID'].unique()
            assert(s2[s2['ID'].isin(sl)]['d_yclose'].unique() == [0.])
            SZ = pd.merge(SZ, db1[db1['ID'].isin(sl2)][["ID", "date", "d_yclose"]], left_on=['skey', 'date'], right_on=['ID', 'date'],
                         how='left')
            SZ.loc[~SZ['ID'].isnull(), 'prev_close'] = SZ.loc[~SZ['ID'].isnull()]['d_yclose']
            SZ.drop(["ID", "d_yclose"], axis=1, inplace=True)               
        except:
            print('!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!')
            wr_ong += [re[re['ID'].isin(sl1)]]
    del re
    del s2
    del db1
    print(datetime.datetime.now() - startTm)
    
    # check 2
    # first part
    startTm = datetime.datetime.now()
    date = pd.DataFrame(pd.date_range(start='2019-06-10 08:30:00', end='2019-06-10 18:00:00', freq='s'), columns=["Orig"])
    date["time"] = date["Orig"].apply(lambda x: int(x.strftime("%H%M%S"))*1000)
    date["group"] = date["time"]//10000
    SZ["group"] = SZ["time"]//10000000
    gl = date[((date["time"] >= 93000000) & (date["time"] <= 113000000))|((date["time"] >= 130000000) & (date["time"] <= 150000000))]["group"].unique()
    l = set(gl) - set(SZ["group"].unique())
    SZ["has_missing1"] = 0 
    if len(l) != 0:
        print("massive missing")
        print(l)
        SZ["order"] = SZ.groupby(["skey", "time"]).cumcount()
        for i in l:
            SZ["t"] = SZ[SZ["group"] > i].groupby("skey")["time"].transform("min")
            SZ["has_missing1"] = np.where((SZ["time"] == SZ["t"]) & (SZ["order"] == 0), 1, 0)
        SZ.drop(["order", "t", "group"], axis=1, inplace=True)   
    else:
        print("no massive missing")
        SZ.drop(["group"], axis=1, inplace=True)
    
    # second part

    SZ["time_interval"] = SZ.groupby("skey")["datetime"].apply(lambda x: x - x.shift(1))
    SZ["time_interval"] = SZ["time_interval"].apply(lambda x: x.seconds)
    SZ["tn_update"] = SZ.groupby("skey")["cum_trades_cnt"].apply(lambda x: x-x.shift(1))

    f1 = SZ[(SZ["time"] >= 93000000000) & (SZ["tn_update"] != 0)].groupby("skey")["time"].min().reset_index()
    f1 = f1.rename(columns={"time": "time1"})
    f2 = SZ[(SZ["time"] >= 130000000000) & (SZ["tn_update"] != 0)].groupby("skey")["time"].min().reset_index()
    f2 = f2.rename(columns={"time": "time2"})
    f3 = SZ[(SZ["time"] >= 150000000000) & (SZ["tn_update"] != 0)].groupby("skey")["time"].min().reset_index()
    f3 = f3.rename(columns={"time": "time3"})
    f4 = SZ[(SZ["time"] >= 100000000000) & (SZ["tn_update"] != 0)].groupby("skey")["time"].min().reset_index()
    f4 = f4.rename(columns={"time": "time4"})
    SZ = pd.merge(SZ, f1, on="skey", how="left")
    del f1
    SZ = pd.merge(SZ, f2, on="skey", how="left")
    del f2
    SZ = pd.merge(SZ, f3, on="skey", how="left")
    del f3
    SZ = pd.merge(SZ, f4, on="skey", how="left")
    del f4
    stock_list = SZ[(SZ['time'] == SZ['time4']) & (SZ['time_interval'] > 1500)]['skey'].unique()
    display(stock_list)
    SZ.loc[~SZ['skey'].isin(stock_list), 'time4'] = 0
    p99 = SZ[(SZ["time"] > 93000000000) & (SZ["time"] < 145700000000) & (SZ["time"] != SZ["time2"]) & (SZ["tn_update"] != 0)]\
    .groupby("skey")["tn_update"].apply(lambda x: x.describe([0.99])["99%"]).round(0).reset_index()
    p99 = p99.rename(columns={"tn_update":"99%"})
    SZ = pd.merge(SZ, p99, on="skey", how="left")

    SZ["has_missing2"] = 0
    if len(stock_list) == 0:
        SZ["has_missing2"] = np.where((SZ["time_interval"] > 60) & (SZ["tn_update"] > SZ["99%"]) & 
             (SZ["time"] > SZ["time1"]) & (SZ["time"] != SZ["time2"]) & (SZ["time"] != SZ["time3"]), 1, 0)
    else:
        SZ["has_missing2"] = np.where((SZ["time_interval"] > 60) & (SZ["tn_update"] > SZ["99%"]) & 
             (SZ["time"] > SZ["time1"]) & (SZ["time"] != SZ["time2"]) & (SZ["time"] != SZ["time3"]) & 
             (SZ['time'] != SZ['time4']), 1, 0)        
    SZ.drop(["time_interval", "tn_update", "time1", "time2", "time3", "99%"], axis=1, inplace=True) 

    SZ["has_missing"] = np.where((SZ["has_missing1"] == 1) | (SZ["has_missing2"] == 1), 1, 0)
    SZ.drop(["has_missing1", "has_missing2"], axis=1, inplace=True) 
    if SZ[SZ["has_missing"] == 1].shape[0] != 0:
        print("has missing!!!!!!!!!!!!!!!!!!!!!!!")
        print(SZ[SZ["has_missing"] == 1].shape[0])
        mi_ss += [SZ[SZ["has_missing"] == 1]]
    print(datetime.datetime.now() - startTm)

    
    
    startTm = datetime.datetime.now()
    SZ["has_missing"] = SZ["has_missing"].astype('int32')
    SZ = SZ[["skey", "date", "time", "clockAtArrival", "datetime", "ordering", "has_missing", "cum_trades_cnt", "cum_volume", "cum_amount", "prev_close",
                            "open", "high", "low", "close", 'bid10p','bid9p','bid8p','bid7p','bid6p','bid5p','bid4p','bid3p','bid2p','bid1p',
                            'ask1p','ask2p','ask3p','ask4p','ask5p','ask6p','ask7p','ask8p','ask9p','ask10p', 'bid10q','bid9q','bid8q',
                             'bid7q','bid6q','bid5q','bid4q','bid3q','bid2q','bid1q', 'ask1q','ask2q','ask3q','ask4q','ask5q','ask6q',
                             'ask7q','ask8q','ask9q','ask10q']]
    
    display(SZ["date"].iloc[0])
    print("SZ finished")
    
    
    database_name = 'com_md_eq_cn'
    user = "zhenyuy"
    password = "bnONBrzSMGoE"

    db1 = DB("192.168.10.178", database_name, user, password)
    db1.write('md_snapshot_l2', SZ)
    
    del SZ
    print(datetime.datetime.now() - startTm)

wr_ong = pd.concat(wr_ong).reset_index(drop=True)
print(wr_ong)
mi_ss = pd.concat(mi_ss).reset_index(drop=True)
print(mi_ss)

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:195: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.

0:05:02.031554
0:01:18.323293
0:01:01.212966
1
2
3
4
0:02:15.353633

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:297: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
0,2002109,20160104,9.39,8.54,9.39,9.00,9.39,18380167.0,1.725116e+08
0,2300194,20160104,20.85,18.95,20.85,20.85,20.85,78240.0,1.631304e+06
0,2002247,20160104,22.78,20.71,22.78,22.78,22.78,138572.0,3.156670e+06
0,2300049,20160104,30.95,31.00,30.95,27.90,27.90,10977322.0,3.149946e+08
0,2002481,20160104,12.49,13.88,12.49,12.49,12.49,1516600.0,1.894233e+07

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
516,2002109,20160104,9.39,0.0,9.39,9.00,9.39,18380167,172511582
638,2002247,20160104,22.78,0.0,22.78,22.78,22.78,138572,3156670
853,2002481,20160104,12.49,0.0,12.49,12.49,12.49,1516600,18942334
1160,2300049,20160104,30.95,0.0,30.95,27.90,27.90,10977322,314994641
1290,2300194,20160104,20.85,0.0,20.85,20.85,20.85,78240,1631304

0:00:11.499458
massive missing
{14340, 14341, 14342, 14343, 14344, 14345, 14350, 14351, 14352, 14353, 14354, 14355, 14360, 14361, 14362, 14363, 14364, 14365, 14370, 14371, 14372, 14373, 14374, 14375, 14380, 14381, 14382, 14383, 14384, 14385, 14390, 14391, 14392, 14393, 14394, 14395, 14400, 14401, 14402, 14403, 14404, 14405, 14410, 14411, 14412, 14413, 14414, 14415, 14420, 14421, 14422, 14423, 14424, 14425, 14430, 14431, 14432, 14433, 14434, 14435, 14440, 14441, 14442, 14443, 14444, 14445, 14450, 14451, 14452, 14453, 14454, 14455, 14460, 14461, 14462, 14463, 14464, 14465, 14470, 14471, 14472, 14473, 14474, 14475, 14480, 14481, 14482, 14483, 14484, 14485, 14490, 14491, 14492, 14493, 14494, 14495, 14500, 14501, 14502, 14503, 14504, 14505, 14510, 14511, 14512, 14513, 14514, 14515, 14520, 14521, 14522, 14523, 14524, 14525, 14530, 14531, 14532, 14533, 14534, 14535, 14540, 14541, 14542, 14543, 14544, 14545, 14550, 14551, 14552, 14553, 14554, 14555, 14560, 14561, 14562, 14563, 14564, 14565, 14570, 14571, 14572, 14573, 14574, 14575, 14580, 14581, 14582, 14583, 14584, 14585, 14590, 14591, 14592, 14593, 14594, 14595, 15000, 13130, 13131, 13132, 13133, 13134, 13135, 13140, 13141, 13142, 13143, 13144, 13145, 13150, 13151, 13152, 13153, 13154, 13155, 13160, 13161, 13162, 13163, 13164, 13165, 13170, 13171, 13172, 13173, 13174, 13175, 13180, 13181, 13182, 13183, 13184, 13185, 13190, 13191, 13192, 13193, 13194, 13195, 13200, 13201, 13202, 13203, 13204, 13205, 13210, 13211, 13212, 13213, 13214, 13215, 13220, 13221, 13222, 13223, 13224, 13225, 13230, 13231, 13232, 13233, 13234, 13235, 13240, 13241, 13242, 13243, 13245, 13250, 13251, 13252, 13253, 13254, 13255, 13260, 13261, 13262, 13263, 13264, 13341, 13342, 13343, 13344, 13345, 13350, 13351, 13352, 13353, 13354, 13355, 13360, 13361, 13362, 13363, 13364, 13365, 13370, 13371, 13372, 13373, 13374, 13375, 13380, 13381, 13382, 13383, 13384, 13385, 13390, 13391, 13392, 13393, 13394, 13395, 13400, 13401, 13402, 13403, 13404, 13405, 13410, 13411, 13412, 13413, 13414, 13415, 13420, 13421, 13422, 13423, 13424, 13425, 13430, 13431, 13432, 13433, 13434, 13435, 13440, 13441, 13442, 13443, 13444, 13445, 13450, 13451, 13452, 13453, 13454, 13455, 13460, 13461, 13462, 13463, 13464, 13465, 13470, 13471, 13472, 13473, 13474, 13475, 13480, 13481, 13482, 13483, 13484, 13485, 13490, 13491, 13492, 13493, 13494, 13495, 13500, 13501, 13502, 13503, 13504, 13505, 13510, 13511, 13512, 13513, 13514, 13515, 13520, 13521, 13522, 13523, 13524, 13525, 13530, 13531, 13532, 13533, 13534, 13535, 13540, 13541, 13542, 13543, 13544, 13545, 13550, 13551, 13552, 13553, 13554, 13555, 13560, 13561, 13562, 13563, 13564, 13565, 13570, 13571, 13572, 13573, 13574, 13575, 13580, 13581, 13582, 13583, 13584, 13585, 13590, 13591, 13592, 13593, 13594, 13595, 14000, 14001, 14002, 14003, 14004, 14005, 14010, 14011, 14012, 14013, 14014, 14015, 14020, 14021, 14022, 14023, 14024, 14025, 14030, 14031, 14032, 14033, 14034, 14035, 14040, 14041, 14042, 14043, 14044, 14045, 14050, 14051, 14052, 14053, 14054, 14055, 14060, 14061, 14062, 14063, 14064, 14065, 14070, 14071, 14072, 14073, 14074, 14075, 14080, 14081, 14082, 14083, 14084, 14085, 14090, 14091, 14092, 14093, 14094, 14095, 14100, 14101, 14102, 14103, 14104, 14105, 14110, 14111, 14112, 14113, 14114, 14115, 14120, 14121, 14122, 14123, 14124, 14125, 14130, 14131, 14132, 14133, 14134, 14135, 14140, 14141, 14142, 14143, 14144, 14145, 14150, 14151, 14152, 14153, 14154, 14155, 14160, 14161, 14162, 14163, 14164, 14165, 14170, 14171, 14172, 14173, 14174, 14175, 14180, 14181, 14182, 14183, 14184, 14185, 14190, 14191, 14192, 14193, 14194, 14195, 14200, 14201, 14202, 14203, 14204, 14205, 14210, 14211, 14212, 14213, 14214, 14215, 14220, 14221, 14222, 14223, 14224, 14225, 14230, 14231, 14232, 14233, 14234, 14235, 14240, 14241, 14242, 14243, 14244, 14245, 14250, 14251, 14252, 14253, 14254, 14255, 14260, 14261, 14262, 14263, 14264, 14265, 14270, 14271, 14272, 14273, 14274, 14275, 14280, 14281, 14282, 14283, 14284, 14285, 14290, 14291, 14292, 14293, 14294, 14295, 14300, 14301, 14302, 14303, 14304, 14305, 14310, 14311, 14312, 14313, 14314, 14315, 14320, 14321, 14322, 14323, 14324, 14325, 14330, 14331, 14332, 14333, 14334, 14335}

array([], dtype=int32)

has missing!!!!!!!!!!!!!!!!!!!!!!!
1349
0:02:01.856262

20160104

SZ finished
0:00:23.708215
0:01:55.491577
0:01:42.595105
1
2
3
4
0:03:55.745485

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:297: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
0,2002239,20160105,16.49,18.32,16.49,16.49,16.49,690500.0,1.138634e+07
0,2002360,20160105,11.09,12.32,11.09,11.09,11.09,986900.0,1.094472e+07
0,2002143,20160105,36.50,40.55,39.89,36.50,36.78,4662763.0,1.762326e+08

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
548,2002143,20160105,36.50,0.0,39.89,36.50,36.78,4662763,176232628
634,2002239,20160105,16.49,0.0,16.49,16.49,16.49,690500,11386345
740,2002360,20160105,11.09,0.0,11.09,11.09,11.09,986900,10944721

0:00:18.492380
no massive missing

array([], dtype=int32)

0:01:44.728089

20160105

SZ finished
0:00:36.005321
0:02:10.110407
0:01:41.610267
1
2
3
4
0:03:39.248576

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:297: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
0,2300281,20160106,17.06,18.95,18.63,17.06,18.17,21185247.0,3.661128e+08
0,2002452,20160106,10.05,9.14,10.05,10.05,10.05,347540.0,3.492777e+06
0,2002778,20160106,10.20,8.50,12.24,10.20,12.24,10900.0,1.327020e+05
0,2002575,20160106,15.18,16.56,18.22,15.15,17.67,74819272.0,1.302419e+09

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
825,2002452,20160106,10.05,0.0,10.05,10.05,10.05,347540,3492777
932,2002575,20160106,15.18,0.0,18.22,15.15,17.67,74819272,1302419342
1110,2002778,20160106,10.20,0.0,12.24,10.20,12.24,10900,132702
1369,2300281,20160106,17.06,0.0,18.63,17.06,18.17,21185247,366112829

0:00:17.791157
no massive missing

array([2002778], dtype=int32)

has missing!!!!!!!!!!!!!!!!!!!!!!!
1
0:01:48.584665

20160106

SZ finished
0:00:36.397110
0:00:52.893726
0:00:07.765969
1
2
3
4
0:00:15.157599

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:297: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
0,2300197,20160107,16.59,17.11,16.59,15.40,15.40,6047790.0,9.549564e+07
0,2300410,20160107,43.22,47.32,44.89,42.59,42.59,2500744.0,1.086874e+08
0,2002320,20160107,24.69,27.43,24.69,24.69,24.69,61100.0,1.508559e+06
0,2300062,20160107,26.36,29.29,28.01,26.36,26.36,2246659.0,5.934901e+07
0,2300222,20160107,21.16,19.24,21.16,21.16,21.16,1428688.0,3.023104e+07

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
700,2002320,20160107,24.69,0.0,24.69,24.69,24.69,61100,1508559
1169,2300062,20160107,26.36,0.0,28.01,26.36,26.36,2246659,59349014
1292,2300197,20160107,16.59,0.0,16.59,15.40,15.40,6047790,95495642
1316,2300222,20160107,21.16,0.0,21.16,21.16,21.16,1428688,30231038
1483,2300410,20160107,43.22,0.0,44.89,42.59,42.59,2500744,108687355

0:00:01.278887
massive missing
{13000, 13001, 13002, 13003, 13004, 13005, 13010, 13011, 13012, 13013, 13014, 13015, 13020, 13021, 13022, 13023, 13024, 13025, 13030, 13031, 13032, 13033, 13034, 13035, 13040, 13041, 13042, 13043, 13044, 13045, 13050, 13051, 13052, 13053, 13054, 13055, 13060, 13061, 13062, 13063, 13064, 13065, 13070, 13071, 13072, 13073, 13074, 13075, 13080, 13081, 13082, 13083, 13084, 13085, 13090, 13091, 13092, 13093, 13094, 13095, 13100, 13101, 13102, 13103, 13104, 13105, 13110, 13111, 13112, 13113, 13114, 13115, 13120, 13121, 13122, 13123, 13124, 13125, 13130, 13131, 13132, 13133, 13134, 13135, 13140, 13141, 13142, 13143, 13144, 13145, 13150, 13151, 13152, 13153, 13154, 13155, 13160, 13161, 13162, 13163, 13164, 13165, 13170, 13171, 13172, 13173, 13174, 13175, 13180, 13181, 13182, 13183, 13184, 13185, 13190, 13191, 13192, 13193, 13194, 13195, 14201, 13200, 13201, 13202, 13203, 13204, 13205, 13210, 13211, 13212, 13213, 13214, 13215, 13220, 13221, 13222, 13223, 13224, 13225, 14202, 13230, 13231, 13232, 13233, 13234, 13235, 13240, 13241, 13242, 13243, 13244, 13245, 13250, 13251, 13252, 13253, 13254, 13255, 13260, 13261, 13262, 13263, 13264, 13265, 13270, 13271, 13272, 13273, 13274, 13275, 13280, 13281, 13282, 13283, 13284, 13285, 13290, 13291, 13292, 13293, 13294, 13295, 14212, 13300, 13301, 13302, 13303, 13304, 13305, 13310, 13311, 13312, 13313, 13314, 13315, 13320, 13321, 13322, 13323, 13324, 13325, 13330, 13331, 13332, 13333, 13334, 13335, 13340, 13341, 13342, 13343, 13344, 13345, 13350, 13351, 13352, 13353, 13354, 13355, 13360, 13361, 13362, 13363, 13364, 13365, 13370, 13371, 13372, 13373, 13374, 13375, 13380, 13381, 13382, 13383, 13384, 13385, 13390, 13391, 13392, 13393, 13394, 13395, 13400, 13401, 13402, 13403, 13404, 13405, 13410, 13411, 13413, 13414, 13415, 13420, 13423, 13424, 13425, 13430, 13433, 13434, 13435, 13440, 13443, 13444, 13445, 13450, 13453, 13454, 13455, 13460, 13463, 13464, 13465, 13470, 13473, 13474, 13475, 13480, 13483, 13484, 13485, 13490, 13493, 13494, 13495, 13500, 13503, 13504, 13505, 13510, 9425, 13513, 13514, 13515, 13520, 9430, 9431, 9432, 9433, 9434, 9435, 13523, 13524, 13525, 13530, 9440, 9441, 9442, 9443, 9444, 9445, 13533, 13534, 13535, 13540, 9450, 9451, 9452, 9453, 9454, 9455, 13543, 13544, 13545, 13550, 9460, 9461, 9462, 9463, 9464, 9465, 13553, 13554, 13555, 13560, 9470, 9471, 9472, 9473, 9474, 9475, 13563, 13564, 13565, 13570, 9480, 9481, 9482, 9483, 9484, 9485, 13573, 13574, 13575, 13580, 9490, 9491, 9492, 9493, 9494, 9495, 13583, 13584, 13585, 13590, 9500, 9501, 9502, 9503, 9504, 9505, 13593, 13594, 13595, 9510, 9511, 9512, 9513, 9514, 9515, 9520, 9521, 9522, 9523, 9524, 9525, 9530, 9531, 9532, 9533, 9534, 9535, 9540, 9541, 9542, 9543, 9544, 9545, 9550, 9551, 9552, 9553, 9554, 9555, 9560, 9561, 9562, 9563, 9564, 9565, 14112, 9590, 9591, 9592, 9593, 9594, 9595, 14221, 14121, 14122, 14222, 14223, 14131, 14132, 14141, 14142, 14151, 14152, 14161, 14162, 14171, 14172, 14000, 14001, 14002, 14003, 14004, 14005, 14181, 14211, 14010, 14011, 14012, 14013, 14014, 14015, 14182, 14020, 14021, 14022, 14023, 14024, 14025, 14030, 14031, 14032, 14033, 14034, 14035, 14040, 14041, 14042, 14043, 14044, 14045, 14050, 14051, 14052, 14053, 14054, 14055, 14191, 14060, 14061, 14062, 14063, 14064, 14065, 14192, 14070, 14071, 14072, 14073, 14074, 14075, 14080, 14081, 14082, 14083, 14084, 14085, 14090, 14091, 14092, 14093, 14094, 14095, 10000, 10001, 10002, 10003, 10004, 10005, 14100, 14101, 14102, 14103, 10010, 10011, 10012, 10013, 10014, 10015, 14104, 14105, 14110, 14111, 10020, 10021, 10022, 10023, 10024, 10025, 14113, 14114, 14115, 14120, 10030, 10031, 10032, 10033, 10034, 10035, 14123, 14124, 14125, 14130, 10040, 10041, 10042, 10043, 10044, 10045, 14133, 14134, 14135, 14140, 10050, 10051, 10052, 10053, 10054, 10055, 14143, 14144, 14145, 14150, 10060, 10061, 10062, 10063, 10064, 10065, 14153, 14154, 14155, 14160, 10070, 10071, 10072, 10073, 10074, 10075, 14163, 14164, 14165, 14170, 10080, 10081, 10082, 10083, 10084, 10085, 14173, 14174, 14175, 14180, 10090, 10091, 10092, 10093, 10094, 10095, 14183, 14184, 14185, 14190, 10100, 10101, 10102, 10103, 10104, 10105, 14193, 14194, 14195, 14200, 10110, 10111, 10112, 10113, 10114, 10115, 14203, 14204, 14205, 14210, 10120, 10121, 10122, 10123, 10124, 10125, 14213, 14214, 14215, 14220, 10130, 10131, 10132, 10133, 10134, 10135, 13412, 14224, 14225, 14230, 10140, 10141, 10142, 10143, 10144, 10145, 14233, 14234, 14235, 14240, 10150, 10151, 10152, 10153, 10154, 10155, 14243, 14244, 14245, 14250, 10160, 10161, 10162, 10163, 10164, 10165, 14231, 14232, 14255, 14260, 10170, 10171, 10172, 10173, 10174, 10175, 14263, 14264, 14265, 14270, 10180, 10181, 10182, 10183, 10184, 10185, 13421, 13422, 14275, 14280, 10190, 10191, 10192, 10193, 10194, 10195, 14283, 14284, 14285, 14290, 10200, 10201, 10202, 10203, 10204, 10205, 14293, 14294, 14295, 14300, 10210, 10211, 10212, 10213, 10214, 10215, 14241, 14242, 14305, 14310, 10220, 10221, 10222, 10223, 10224, 10225, 14313, 14314, 14315, 14320, 10230, 10231, 10232, 10233, 10234, 10235, 13431, 13432, 14325, 14330, 10240, 10241, 10242, 10243, 10244, 10245, 14333, 14334, 14335, 14340, 10250, 10251, 10252, 10253, 10254, 10255, 14343, 14344, 14345, 14350, 10260, 10261, 10262, 10263, 10264, 10265, 14251, 14252, 14355, 14360, 10270, 10271, 10272, 10273, 10274, 10275, 14253, 14254, 14365, 14370, 10280, 10281, 10282, 10283, 10284, 10285, 13441, 13442, 14375, 14380, 10290, 10291, 10292, 10293, 10294, 10295, 14383, 14384, 14385, 14390, 10300, 10301, 10302, 10303, 10304, 10305, 14393, 14394, 14395, 14400, 10310, 10311, 10312, 10313, 10314, 10315, 14261, 14262, 14405, 14410, 10320, 10321, 10322, 10323, 10324, 10325, 14413, 14414, 14415, 14420, 10330, 10331, 10332, 10333, 10334, 10335, 13451, 13452, 14425, 14430, 10340, 10341, 10342, 10343, 10344, 10345, 14433, 14434, 14435, 14440, 10350, 10351, 10352, 10353, 10354, 10355, 14443, 14444, 14445, 14450, 10360, 10361, 10362, 10363, 10364, 10365, 14271, 14272, 14455, 14460, 10370, 10371, 10372, 10373, 10374, 10375, 14273, 14274, 14465, 14470, 10380, 10381, 10382, 10383, 10384, 10385, 13461, 13462, 14475, 14480, 10390, 10391, 10392, 10393, 10394, 10395, 14483, 14484, 14485, 14490, 10400, 10401, 10402, 10403, 10404, 10405, 14493, 14494, 14495, 14500, 10410, 10411, 10412, 10413, 10414, 10415, 14281, 14282, 14505, 14510, 10420, 10421, 10422, 10423, 10424, 10425, 14513, 14514, 14515, 14520, 10430, 10431, 10432, 10433, 10434, 10435, 13471, 14524, 13472, 14530, 10440, 10441, 10442, 10443, 10444, 10445, 14533, 14534, 14535, 14540, 10450, 10451, 10452, 10453, 10454, 10455, 14543, 14544, 14545, 14550, 10460, 10461, 10462, 10463, 10464, 10465, 14291, 14292, 14555, 14560, 10470, 10471, 10472, 10473, 10474, 10475, 14563, 14564, 14565, 14570, 10480, 10481, 10482, 10483, 10484, 10485, 13481, 14574, 13482, 14580, 10490, 10491, 10492, 10493, 10494, 10495, 14583, 14584, 14585, 14590, 10500, 10501, 10502, 10503, 10504, 10505, 14593, 14594, 14595, 10510, 10511, 10512, 10513, 10514, 10515, 14301, 14302, 10520, 10521, 10522, 10523, 10524, 10525, 14303, 14304, 10530, 10531, 10532, 10533, 10534, 10535, 13491, 13492, 10540, 10541, 10542, 10543, 10544, 10545, 10550, 10551, 10552, 10553, 10554, 10555, 10560, 10561, 10562, 10563, 10564, 10565, 14311, 14312, 10570, 10571, 10572, 10573, 10574, 10575, 10580, 10581, 10582, 10583, 10584, 10585, 13501, 13502, 10590, 10591, 10592, 10593, 10594, 10595, 14321, 14322, 14323, 14324, 13511, 13512, 14331, 14332, 13521, 13522, 14341, 14342, 13531, 13532, 14351, 14352, 14353, 14354, 13541, 13542, 14361, 14362, 14363, 14364, 13551, 13552, 14371, 14372, 14373, 14374, 13561, 13562, 15000, 14381, 14382, 13571, 13572, 14391, 14392, 13581, 13582, 11000, 11001, 11002, 11003, 11004, 11005, 11010, 11011, 11012, 11013, 11014, 11015, 14401, 11020, 11021, 11022, 11023, 11024, 11025, 14402, 14403, 11030, 11031, 11032, 11033, 11034, 11035, 13591, 14404, 11040, 11041, 11042, 11043, 11044, 11045, 13592, 11050, 11051, 11052, 11053, 11054, 11055, 11060, 11061, 11062, 11063, 11064, 11065, 14411, 11070, 11071, 11072, 11073, 11074, 11075, 14412, 11080, 11081, 11082, 11083, 11084, 11085, 11090, 11091, 11092, 11093, 11094, 11095, 11100, 11101, 11102, 11103, 11104, 11105, 11110, 11111, 11112, 11113, 11114, 11115, 14421, 11120, 11121, 11122, 11123, 11124, 11125, 14422, 14423, 11130, 11131, 11132, 11133, 11134, 11135, 14424, 11140, 11141, 11142, 11143, 11144, 11145, 11150, 11151, 11152, 11153, 11154, 11155, 11160, 11161, 11162, 11163, 11164, 11165, 14431, 11170, 11171, 11172, 11173, 11174, 11175, 14432, 11180, 11181, 11182, 11183, 11184, 11185, 11190, 11191, 11192, 11193, 11194, 11195, 11200, 11201, 11202, 11203, 11204, 11205, 11210, 11211, 11212, 11213, 11214, 11215, 14441, 11220, 11221, 11222, 11223, 11224, 11225, 14442, 11230, 11231, 11232, 11233, 11234, 11235, 11240, 11241, 11242, 11243, 11244, 11245, 11250, 11251, 11252, 11253, 11254, 11255, 11260, 11261, 11262, 11263, 11264, 11265, 14451, 11270, 11271, 11272, 11273, 11274, 11275, 14452, 14453, 11280, 11281, 11282, 11283, 11284, 11285, 14454, 11290, 11291, 11292, 11293, 11294, 11295, 11300, 14461, 14462, 14463, 14464, 14471, 14472, 14473, 14474, 14481, 14482, 14491, 14492, 14501, 14502, 14503, 14504, 14511, 14512, 14521, 14522, 14523, 14525, 14531, 14532, 14541, 14542, 14551, 14552, 14553, 14554, 14561, 14562, 14571, 14572, 14573, 14575, 14581, 14582, 14591, 14592}

array([], dtype=int32)

has missing!!!!!!!!!!!!!!!!!!!!!!!
1543
0:00:23.209334

20160107

SZ finished
0:00:07.291991
0:02:03.420777
0:01:40.823692
1
2
3
4
0:03:50.915322

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:297: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
0,2002514,20160108,16.28,14.80,16.28,16.28,16.28,45521.0,7.410819e+05
0,2300459,20160108,20.46,18.60,20.46,20.46,20.46,196212.0,4.014498e+06
0,2002622,20160108,27.81,25.28,27.81,27.81,27.81,961378.0,2.673592e+07
4,2002558,20160108,145.93,143.35,151.93,131.88,143.00,3281946.0,4.756443e+08
0,2300010,20160108,28.71,31.90,30.47,28.71,28.71,28088507.0,8.180821e+08

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
874,2002514,20160108,16.28,0.00,16.28,16.28,16.28,45521,741081
912,2002558,20160108,145.93,143.35,150.56,131.88,147.20,1899435,272294676
968,2002622,20160108,27.81,0.00,27.81,27.81,27.81,961378,26735922
1122,2300010,20160108,28.71,0.00,30.47,28.71,28.71,28088507,818082052
1520,2300459,20160108,20.46,0.00,20.46,20.46,20.46,196212,4014497

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:03.583615
no massive missing

array([], dtype=int32)

0:01:44.830499

20160108

SZ finished
0:00:34.167575
0:01:41.075708
0:01:37.469266
1
2
3
4
0:03:35.575296

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:297: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
0,2002371,20160111,21.21,19.28,21.21,21.21,21.21,129802.0,2.753100e+06
0,2002628,20160111,6.71,7.45,8.02,6.71,6.77,60293644.0,4.391231e+08
0,2002015,20160111,7.55,7.19,7.55,7.55,7.55,808965.0,6.107686e+06
0,2002242,20160111,20.41,22.68,20.41,20.41,20.41,2064100.0,4.212828e+07

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
431,2002015,20160111,7.55,0.0,7.55,7.55,7.55,808965,6107685
629,2002242,20160111,20.41,0.0,20.41,20.41,20.41,2064100,42128281
743,2002371,20160111,21.21,0.0,21.21,21.21,21.21,129802,2753100
972,2002628,20160111,6.71,0.0,8.02,6.71,6.77,60293644,439123104

0:00:17.481346
no massive missing

array([], dtype=int32)

0:01:41.573170

20160111

SZ finished
0:00:33.824980
0:01:44.222415
0:01:36.665599
1
2
3
4
0:03:40.348900

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:297: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
2,2002468,20160112,42.61,47.34,44.32,42.61,42.61,19811400.0,8.445368e+08
0,2002235,20160112,32.00,29.10,32.01,29.87,32.01,30273831.0,9.606499e+08
0,2002306,20160112,8.76,9.22,8.76,8.76,8.76,461400.0,4.041864e+06
1,2002339,20160112,19.76,21.96,19.76,19.76,19.76,1309400.0,2.587374e+07
1,2002308,20160112,19.97,22.19,19.97,19.97,19.97,1979300.0,3.952662e+07
0,2002099,20160112,21.47,23.85,21.47,21.47,21.47,485400.0,1.042154e+07
0,2002147,20160112,16.11,17.90,16.11,16.11,16.11,11563200.0,1.862832e+08
1,2002287,20160112,33.68,37.42,33.68,33.68,33.68,288100.0,9.703208e+06

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
501,2002099,20160112,21.47,0.0,21.47,21.47,21.47,485400,10421538
546,2002147,20160112,16.11,0.0,16.11,16.11,16.11,11563200,186283152
624,2002235,20160112,32.00,0.0,32.01,29.87,32.01,30273831,960649877
668,2002287,20160112,33.68,0.0,33.68,33.68,33.68,288100,9703208
687,2002306,20160112,8.76,0.0,8.76,8.76,8.76,461400,4041864
689,2002308,20160112,19.97,0.0,19.97,19.97,19.97,1979300,39526621
717,2002339,20160112,19.76,0.0,19.76,19.76,19.76,1309400,25873744
836,2002468,20160112,42.61,0.0,44.32,42.61,42.61,19811400,844536811

0:00:17.267551
no massive missing

array([], dtype=int32)

0:01:40.003476

20160112

SZ finished
0:00:33.677030
0:01:53.683158
0:01:34.705853
1
2
3
4
0:03:37.887657

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:297: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
0,2000586,20160113,17.81,19.69,20.86,17.72,18.00,22799303.0,4.122331e+08
7,2002004,20160113,10.67,10.59,10.85,10.30,10.30,29953214.0,3.173989e+08
0,2300092,20160113,12.71,14.12,12.71,12.71,12.71,1280500.0,1.627516e+07
0,2002265,20160113,13.96,12.69,13.96,13.96,13.96,580439.0,8.102928e+06

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
149,2000586,20160113,17.81,0.00,20.86,17.72,18.00,22799303,412233148
422,2002004,20160113,10.67,10.59,10.85,10.49,10.62,21132044,225286392
652,2002265,20160113,13.96,0.00,13.96,13.96,13.96,580439,8102928
1196,2300092,20160113,12.71,0.00,12.71,12.71,12.71,1280500,16275155

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:03.020301
no massive missing

array([], dtype=int32)

0:01:42.279631

20160113

SZ finished
0:00:33.829289
0:02:00.237746
0:01:37.726759
1
2
3
4
0:03:48.811993

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:297: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
0,2000430,20160114,14.00,15.56,14.00,14.00,14.00,242200.0,3.390800e+06
0,2002502,20160114,23.35,25.50,28.05,23.35,28.05,27478037.0,7.561018e+08
2,2002770,20160114,20.95,23.28,23.00,20.95,21.76,10757848.0,2.313431e+08

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
84,2000430,20160114,14.00,0.0,14.00,14.00,14.00,242200,3390800
868,2002502,20160114,23.35,0.0,28.05,23.35,28.05,27478037,756101783
1102,2002770,20160114,20.95,0.0,23.00,20.95,21.76,10757848,231343052

0:00:17.874397
no massive missing

array([], dtype=int32)

0:01:44.936022

20160114

SZ finished
0:00:46.768923
0:01:44.836895
0:01:38.338893
1
2
3
4
0:03:46.779014

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:297: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
0,2300456,20160115,113.00,103.20,113.52,101.50,113.52,3236099.0,3.663742e+08
0,2300036,20160115,35.11,39.01,35.11,35.11,35.11,258800.0,9.086468e+06
0,2000813,20160115,12.38,11.25,12.38,12.02,12.38,39137315.0,4.841967e+08
0,2002084,20160115,11.94,13.27,11.94,11.94,11.94,1236600.0,1.476500e+07

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
302,2000813,20160115,12.38,0.0,12.38,12.02,12.38,39137315,484196689
491,2002084,20160115,11.94,0.0,11.94,11.94,11.94,1236600,14765004
1153,2300036,20160115,35.11,0.0,35.11,35.11,35.11,258800,9086468
1525,2300456,20160115,113.00,0.0,113.52,101.50,113.52,3236099,366374204

0:00:19.708311
no massive missing

array([], dtype=int32)

0:01:44.228353

20160115

SZ finished
0:00:44.072174
0:01:39.758282
0:01:37.027334
1
2
3
4
0:03:39.829838

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:297: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
0,2002568,20160118,38.42,42.69,38.42,38.42,38.42,451500.0,17346630.0

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
920,2002568,20160118,38.42,0.0,38.42,38.42,38.42,451500,17346630

0:00:19.389827
no massive missing

array([], dtype=int32)

0:01:39.777770

20160118

SZ finished
0:00:45.480351
0:01:42.613741
0:01:37.782357
1
2
3
4
0:03:40.313669

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:297: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
0,2000833,20160119,9.18,10.20,10.19,9.18,9.99,25447203.0,2.427957e+08
0,2002678,20160119,15.49,17.21,15.49,15.49,15.49,8648400.0,1.339637e+08
0,2000972,20160119,13.23,14.70,13.23,13.23,13.23,608100.0,8.045163e+06
2,2000150,20160119,32.50,36.11,39.25,32.50,36.81,8997487.0,3.014322e+08
0,2002638,20160119,16.85,15.32,16.85,16.85,16.85,898772.0,1.514431e+07
0,2000599,20160119,8.96,9.96,8.96,8.96,8.96,1935600.0,1.734298e+07

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
51,2000150,20160119,32.50,0.0,39.25,32.50,36.81,8997487,301432192
162,2000599,20160119,8.96,0.0,8.96,8.96,8.96,1935600,17342976
314,2000833,20160119,9.18,0.0,10.19,9.18,9.99,25447203,242795727
401,2000972,20160119,13.23,0.0,13.23,13.23,13.23,608100,8045163
984,2002638,20160119,16.85,0.0,16.85,16.85,16.85,898772,15144308
1020,2002678,20160119,15.49,0.0,15.49,15.49,15.49,8648400,133963716

0:00:18.634622
no massive missing

array([], dtype=int32)

0:01:45.759635

20160119

SZ finished
0:00:33.523638
0:01:45.201088
0:01:38.574193
1
2
3
4
0:03:43.877988

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:297: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
0,2002284,20160120,18.61,20.68,18.61,18.61,18.61,1815600.0,3.378832e+07
0,2002624,20160120,23.13,21.03,23.13,23.13,23.13,2163901.0,5.005103e+07
0,2000909,20160120,16.81,18.68,16.81,16.81,16.81,378800.0,6.367628e+06
0,2002020,20160120,30.20,33.55,31.87,30.20,30.20,12981051.0,3.954637e+08

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
356,2000909,20160120,16.81,0.0,16.81,16.81,16.81,378800,6367628
438,2002020,20160120,30.20,0.0,31.87,30.20,30.20,12981051,395463730
673,2002284,20160120,18.61,0.0,18.61,18.61,18.61,1815600,33788316
977,2002624,20160120,23.13,0.0,23.13,23.13,23.13,2163901,50051030

0:00:18.543152
no massive missing

array([], dtype=int32)

0:01:47.913163

20160120

SZ finished
0:00:33.507026
0:01:44.677987
0:01:38.752050
1
2
3
4
0:03:43.781503

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:297: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
13,2300440,20160121,67.50,67.90,69.30,64.48,65.00,1268685.0,85877881.55
0,2002075,20160121,21.21,23.57,21.21,21.21,21.21,301200.0,6388452.00
0,2000803,20160121,27.11,30.12,27.11,27.11,27.11,168300.0,4562613.00
13,2300404,20160121,33.51,33.96,34.19,31.89,31.89,1750690.0,58290425.94

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
296,2000803,20160121,27.11,0.00,27.11,27.11,27.1100,168300,4562613
483,2002075,20160121,21.21,0.00,21.21,21.21,21.2100,301200,6388452
1472,2300404,20160121,33.51,33.96,34.19,33.00,33.3100,1076990,36192784
1503,2300440,20160121,67.50,67.90,69.30,64.48,174082.8608,1194085,77130757438

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:03.136227
no massive missing

array([], dtype=int32)

0:01:43.157364

20160121

SZ finished
0:00:43.013870
0:01:55.156344
0:01:38.267782
1
2
3
4
0:03:40.124056

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:297: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
0,2000810,20160122,12.50,12.67,12.54,11.40,11.41,26799482.0,3.102929e+08
0,2300011,20160122,26.82,29.80,26.82,26.82,26.82,331100.0,8.880102e+06
0,2300242,20160122,44.96,49.96,44.96,44.96,44.96,31400.0,1.411744e+06
0,2002240,20160122,12.31,13.68,12.31,12.31,12.31,1378200.0,1.696564e+07
0,2300326,20160122,23.98,21.80,23.98,20.14,20.53,19839405.0,4.337569e+08
0,2002313,20160122,13.90,14.80,14.80,13.32,13.32,33407929.0,4.525435e+08

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
299,2000810,20160122,12.50,0.0,12.54,11.40,11.41,26799482,310292939
634,2002240,20160122,12.31,0.0,12.31,12.31,12.31,1378200,16965642
700,2002313,20160122,13.90,0.0,14.80,13.32,13.32,33407929,452543542
1127,2300011,20160122,26.82,0.0,26.82,26.82,26.82,331100,8880102
1336,2300242,20160122,44.96,0.0,44.96,44.96,44.96,31400,1411744
1412,2300326,20160122,23.98,0.0,23.98,20.14,20.53,19839405,433756907

0:00:17.142557
no massive missing

array([], dtype=int32)

0:01:37.814535

20160122

SZ finished
0:00:43.206284
0:02:02.811410
0:01:33.012259
1
2
3
4
0:03:35.718685

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:297: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
0,2002530,20160125,21.34,23.71,21.34,21.34,21.34,181800.0,3879612.0

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
897,2002530,20160125,21.34,0.0,21.34,21.34,21.34,181800,3879612

0:00:17.160666
no massive missing

array([], dtype=int32)

0:01:36.655690

20160125

SZ finished
0:00:29.076243
0:01:47.008592
0:01:36.982881
1
2
3
4
0:03:38.542233

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:297: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
10,2300261,20160126,14.30,14.20,15.62,13.70,14.87,16929849.0,2.568796e+08
15,2002108,20160126,14.51,14.51,15.50,13.73,13.99,29572079.0,4.372632e+08
10,2300343,20160126,73.00,71.30,78.00,68.00,68.00,2510512.0,1.864796e+08
12,2300062,20160126,17.99,19.46,18.66,17.51,17.51,5321956.0,9.476964e+07
10,2002258,20160126,16.93,16.57,17.94,16.30,16.50,4433718.0,7.644404e+07
10,2002670,20160126,29.92,27.30,29.92,26.33,26.66,6531919.0,1.841452e+08

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
511,2002108,20160126,14.51,0.0,15.50,13.73,13.99,29572079,437263179
648,2002258,20160126,16.93,0.0,17.94,16.30,16.50,4433718,76444044
1018,2002670,20160126,29.92,0.0,29.92,26.33,26.66,6531919,184145195
1172,2300062,20160126,17.99,0.0,18.66,17.51,17.51,5321956,94769636
1355,2300261,20160126,14.30,0.0,15.62,13.70,14.87,16929849,256879596
1425,2300343,20160126,73.00,0.0,78.00,68.00,68.00,2510512,186479575

0:00:19.300583
no massive missing

array([], dtype=int32)

0:01:42.541154

20160126

SZ finished
0:00:44.226437
0:01:46.006210
0:01:37.409926
1
2
3
4
0:03:37.899191

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:297: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
10,2002443,20160127,10.62,11.70,11.30,10.53,10.53,19024541.0,2.020915e+08
0,2000677,20160127,6.20,5.90,6.20,5.80,6.20,43197559.0,2.671201e+08
0,2300365,20160127,38.58,42.87,38.58,38.58,38.58,18600.0,7.175880e+05
0,2002435,20160127,11.07,10.06,11.07,11.07,11.07,171669.0,1.900376e+06

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
212,2000677,20160127,6.20,0.0,6.20,5.80,6.20,43197559,267120126
806,2002435,20160127,11.07,0.0,11.07,11.07,11.07,171669,1900375
814,2002443,20160127,10.62,0.0,11.30,10.53,10.53,19024541,202091538
1436,2300365,20160127,38.58,0.0,38.58,38.58,38.58,18600,717588

0:00:19.312210
no massive missing

array([], dtype=int32)

0:01:38.409570

20160127

SZ finished
0:00:31.736176
0:01:37.234680
0:01:32.664896
1
2
3
4

AssertionError:

In [19]:
import pymongo
import pandas as pd
import pickle
import datetime
import time
import gzip
import lzma
import pytz


def DB(host, db_name, user, passwd):
    auth_db = db_name if user not in ('admin', 'root') else 'admin'
    uri = 'mongodb://%s:%s@%s/?authSource=%s' % (user, passwd, host, auth_db)
    return DBObj(uri, db_name=db_name)


class DBObj(object):
    def __init__(self, uri, symbol_column='skey', db_name='white_db'):
        self.db_name = db_name
        self.uri = uri
        self.client = pymongo.MongoClient(self.uri)
        self.db = self.client[self.db_name]
        self.chunk_size = 20000
        self.symbol_column = symbol_column
        self.date_column = 'date'

    def parse_uri(self, uri):
        # mongodb://user:password@example.com
        return uri.strip().replace('mongodb://', '').strip('/').replace(':', ' ').replace('@', ' ').split(' ')

    def drop_table(self, table_name):
        self.db.drop_collection(table_name)

    def rename_table(self, old_table, new_table):
        self.db[old_table].rename(new_table)

    def write(self, table_name, df):
        if len(df) == 0: return

        multi_date = False

        if self.date_column in df.columns:
            date = str(df.head(1)[self.date_column].iloc[0])
            multi_date = len(df[self.date_column].unique()) > 1
        else:
            raise Exception('DataFrame should contain date column')

        collection = self.db[table_name]
        collection.create_index([('date', pymongo.ASCENDING), ('symbol', pymongo.ASCENDING)], background=True)
        collection.create_index([('symbol', pymongo.ASCENDING), ('date', pymongo.ASCENDING)], background=True)

        if multi_date:
            for (date, symbol), sub_df in df.groupby([self.date_column, self.symbol_column]):
                date = str(date)
                symbol = int(symbol)
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)
        else:
            for symbol, sub_df in df.groupby([self.symbol_column]):
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)

    def write_single(self, collection, date, symbol, df):
        for start in range(0, len(df), self.chunk_size):
            end = min(start + self.chunk_size, len(df))
            df_seg = df[start:end]
            version = 1
            seg = {'ver': version, 'data': self.ser(df_seg, version), 'date': date, 'symbol': symbol, 'start': start}
            collection.insert_one(seg)

    def build_query(self, start_date=None, end_date=None, symbol=None):
        query = {}

        def parse_date(x):
            if type(x) == str:
                if len(x) != 8:
                    raise Exception("`date` must be YYYYMMDD format")
                return x
            elif type(x) == datetime.datetime or type(x) == datetime.date:
                return x.strftime("%Y%m%d")
            elif type(x) == int:
                return parse_date(str(x))
            else:
                raise Exception("invalid `date` type: " + str(type(x)))

        if start_date is not None or end_date is not None:
            query['date'] = {}
            if start_date is not None:
                query['date']['$gte'] = parse_date(start_date)
            if end_date is not None:
                query['date']['$lte'] = parse_date(end_date)

        def parse_symbol(x):
            if type(x) == int:
                return x
            else:
                return int(x)

        if symbol:
            if type(symbol) == list or type(symbol) == tuple:
                query['symbol'] = {'$in': [parse_symbol(x) for x in symbol]}
            else:
                query['symbol'] = parse_symbol(symbol)

        return query

    def delete(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot delete the whole table')
            return None

        collection.delete_many(query)

    def read(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot read the whole table')
            return None

        segs = []
        for x in collection.find(query):
            x['data'] = self.deser(x['data'], x['ver'])
            segs.append(x)
        segs.sort(key=lambda x: (x['symbol'], x['date'], x['start']))
        return pd.concat([x['data'] for x in segs], ignore_index=True) if segs else None

    def list_tables(self):
        return self.db.collection_names()

    def list_dates(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]
        dates = set()
        if start_date is None:
            start_date = '00000000'
        if end_date is None:
            end_date = '99999999'
        for x in collection.find(self.build_query(start_date, end_date, symbol), {"date": 1, '_id': 0}):
            dates.add(x['date'])
        return sorted(list(dates))

    def ser(self, s, version):
        pickle_protocol = 4
        if version == 1:
            return gzip.compress(pickle.dumps(s, protocol=pickle_protocol), compresslevel=2)
        elif version == 2:
            return lzma.compress(pickle.dumps(s, protocol=pickle_protocol), preset=1)
        else:
            raise Exception('unknown version')

    def deser(self, s, version):
        def unpickle(s):
            return pickle.loads(s)

        if version == 1:
            return unpickle(gzip.decompress(s))
        elif version == 2:
            return unpickle(lzma.decompress(s))
        else:
            raise Exception('unknown version')


def patch_pandas_pickle():
    if pd.__version__ < '0.24':
        import sys
        from types import ModuleType
        from pandas.core.internals import BlockManager
        pkg_name = 'pandas.core.internals.managers'
        if pkg_name not in sys.modules:
            m = ModuleType(pkg_name)
            m.BlockManager = BlockManager
            sys.modules[pkg_name] = m
patch_pandas_pickle()




import pandas as pd
import random
import numpy as np
import glob
import os
import pickle
import datetime
import time
pd.set_option("max_columns", 200)

startTm = datetime.datetime.now()
readPath = '/mnt/Kevin_zhenyu/day_stock/***'
dataPathLs = np.array(glob.glob(readPath))
dataPathLs = dataPathLs[[np.array([os.path.basename(i).split('.')[0][:2] == 'SZ' for i in dataPathLs])]]
db = pd.DataFrame()
for p in dataPathLs:
    dayData = pd.read_csv(p, compression='gzip')
    db = pd.concat([db, dayData])
print(datetime.datetime.now() - startTm)

startDate = '20160128'
endDate = '20161231'
readPath = '/mnt/SZ1/SZ/***/TickAB/SZ/***'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([os.path.basename(i) for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]
wr_ong = []
mi_ss = []
dateLs = np.sort(np.unique([os.path.basename(i) for i in dataPathLs]))

for date in dateLs:
    
    readPath = '/mnt/SZ1/SZ/***/TickAB/SZ/' + date + '/***'
    dataPathLs = np.array(glob.glob(readPath))
    dateLs = np.array([int(os.path.basename(i).split('.')[0]) for i in dataPathLs])
    dataPathLs = dataPathLs[(dateLs < 4000) | ((dateLs > 300000) & (dateLs < 310000))]
    SZ = []
    ll = []
    startTm = datetime.datetime.now()
    for i in dataPathLs:
        try:
            df = pd.read_csv(i)
        except:
            print("empty data")
            print(i)
            ll.append(int(os.path.basename(i).split('.')[0]))
            continue
        SZ += [df]
    del df
    SZ = pd.concat(SZ).reset_index(drop=True)
    print(datetime.datetime.now() - startTm)
    
    startTm = datetime.datetime.now()
    SZ["skey"] = SZ["WindCode"].apply(lambda x: int(x.split('.')[0])) + 2000000
    SZ.drop(["WindCode"],axis=1,inplace=True)
    SZ['clockAtArrival'] = SZ['Time'] + SZ['Date'] * 1000000000
    SZ['clockAtArrival'] = SZ["clockAtArrival"].astype(str).apply(lambda x: np.int64(datetime.datetime.strptime(x, '%Y%m%d%H%M%S%f').timestamp()*1e6))
    SZ['datetime'] = SZ["clockAtArrival"].apply(lambda x: datetime.datetime.fromtimestamp(x/1e6))
    SZ["Time"] = SZ['Time'] * 1000
    SZ = SZ.rename(columns={'Time': 'time', 'Date':'date'})
    print(datetime.datetime.now() - startTm)
    
    startTm = datetime.datetime.now()
    SZ["AskPrice"] = SZ["AskPrice"].apply(lambda x: [int(i) for i in x[:-1].split(';')])
    SZ["AskVolume"] = SZ["AskVolume"].apply(lambda x: [int(i) for i in x[:-1].split(';')])
    SZ["BidPrice"] = SZ["BidPrice"].apply(lambda x: [int(i) for i in x[:-1].split(';')])
    SZ["BidVolume"] = SZ["BidVolume"].apply(lambda x: [int(i) for i in x[:-1].split(';')])

    for i in range(1, 11):
        SZ["bid" + str(i) + 'p'] = SZ["BidPrice"].apply(lambda x: x[i-1]/10000)
    SZ.drop(["BidPrice"],axis=1,inplace=True)
    print("1")
    for i in range(1, 11):
        SZ["ask" + str(i) + 'p'] = SZ["AskPrice"].apply(lambda x: x[i-1]/10000)
    SZ.drop(["AskPrice"],axis=1,inplace=True)
    print("2")
    for i in range(1, 11):
        SZ["bid" + str(i) + 'q'] = SZ["BidVolume"].apply(lambda x: x[i-1])
    SZ.drop(["BidVolume"],axis=1,inplace=True)
    print("3")
    for i in range(1, 11):
        SZ["ask" + str(i) + 'q'] = SZ["AskVolume"].apply(lambda x: x[i-1])
    SZ.drop(["AskVolume"],axis=1,inplace=True)
    print("4")
    
    SZ = SZ.fillna(0)
    SZ["ordering"] = SZ.groupby("skey").cumcount()
    SZ["ordering"] = SZ["ordering"] + 1
    SZ['has_missing'] = 0

    for cols in ['Price', 'High', 'Low', 'Open', 'PreClose']:
        SZ[cols] = SZ[cols] / 10000
    SZ = SZ.rename(columns={'Price':'close', 'High':'high', 'Low':'low', 'Open':'open', 'PreClose':'prev_close', 'AccVolume':'cum_volume',
                           'AccTurover':'cum_amount', 'MatchItems':'cum_trades_cnt'})
    
    for col in ["skey", "date", "cum_trades_cnt", "ordering"]:
        SZ[col] = SZ[col].astype('int32')
        
    try:
        assert(sum(SZ[SZ["open"] != 0].groupby("skey")["open"].nunique() != 1) == 0)
    except:
        print(SZ[SZ["open"] != 0].groupby("skey")["open"].nunique()[SZ[SZ["open"] != 0].groupby("skey")["open"].nunique() != 1])
        for i in SZ[SZ["open"] != 0].groupby("skey")["open"].nunique()[SZ[SZ["open"] != 0].groupby("skey")["open"].nunique() != 1].index:
            print(SZ[SZ['skey'] == i]['open'].unique())
            print(SZ[(SZ['skey'] == i) & (SZ['open'] > 0)]['open'].unique())
            assert(len(SZ[(SZ['skey'] == i) & (SZ['open'] > 0)]['open'].unique()) == 1)
            SZ.loc[(SZ['skey'] == i) & (SZ['open'] != 0), 'open'] = SZ[(SZ['skey'] == i) & (SZ['open'] > 0)]['open'].unique()[0]
        assert(sum(SZ[SZ["open"] != 0].groupby("skey")["open"].nunique() != 1) == 0)
    assert(sum(SZ[SZ["prev_close"] != 0].groupby("skey")["prev_close"].nunique() != 1) == 0)
    SZ["prev_close"] = np.where(SZ["time"] >= 91500000000, SZ.groupby("skey")["prev_close"].transform("max"), SZ["prev_close"]) 
    SZ["open"] = np.where(SZ["cum_volume"] > 0, SZ.groupby("skey")["open"].transform("max"), SZ["open"])
    assert(sum(SZ[SZ["open"] != 0].groupby("skey")["open"].nunique() != 1) == 0)
    assert(sum(SZ[SZ["prev_close"] != 0].groupby("skey")["prev_close"].nunique() != 1) == 0)
    try:
        assert(SZ[SZ["cum_volume"] > 0]["open"].min() > 0)
    except:
        SZ.loc[SZ['cum_volume'] > 0, 'open'] = SZ[SZ['cum_volume'] > 0].groupby('skey')['open'].transform('max')
        assert(SZ[SZ["cum_volume"] > 0]["open"].min() > 0)
    
    print(datetime.datetime.now() - startTm)
    
    
    # check 1
    startTm = datetime.datetime.now()
    da_te = str(SZ["date"].iloc[0]) 
    da_te = da_te[:4] + '-' + da_te[4:6] + '-' + da_te[6:8]
    db1 = db[db["date"] == da_te]
    db1["ID"] = db1["ID"].str[2:].astype(int) + 2000000
    db1["date"] = (db1["date"].str[:4] + db1["date"].str[5:7] + db1["date"].str[8:]).astype(int)
    SZ["cum_max"] = SZ.groupby("skey")["cum_volume"].transform(max)
    s2 = SZ[SZ["cum_volume"] == SZ["cum_max"]].groupby("skey").first().reset_index()
    SZ.drop("cum_max", axis=1, inplace=True)
    s2 = s2.rename(columns={"skey": "ID", 'open':"d_open", "prev_close":"d_yclose","high":"d_high", "low":"d_low", 
                            "close":"d_close", "cum_volume":"d_volume", "cum_amount":"d_amount"})
    s2 = s2[["ID", "date", "d_open", "d_yclose", "d_high", "d_low", "d_close", "d_volume", "d_amount"]]
    re = pd.merge(db1, s2, on=["ID", "date", "d_open", "d_yclose","d_high", "d_low", "d_volume"], how="outer")
    try:
        assert(sum(re["d_amount_y"].isnull()) == 0)
    except:
        sl = list(re[re["d_amount_y"].isnull()]['ID'].unique())
        sl.remove(2001872)
        sl.remove(2001914)
        display(db1[db1['ID'].isin(sl)][["ID", "date", "d_open", "d_yclose", "d_high", "d_low", "d_close", "d_volume", "d_amount"]])
        display(s2[s2['ID'].isin(sl)][["ID", "date", "d_open", "d_yclose", "d_high", "d_low", "d_close", "d_volume", "d_amount"]])
        try:
            sl1 = s2[(s2['ID'].isin(sl)) & (s2['d_yclose'] != 0)]['ID'].unique()
            sl2 = s2[(s2['ID'].isin(sl)) & (s2['d_yclose'] == 0)]['ID'].unique()
            assert(s2[s2['ID'].isin(sl)]['d_yclose'].unique() == [0.])
            SZ = pd.merge(SZ, db1[db1['ID'].isin(sl2)][["ID", "date", "d_yclose"]], left_on=['skey', 'date'], right_on=['ID', 'date'],
                         how='left')
            SZ.loc[~SZ['ID'].isnull(), 'prev_close'] = SZ.loc[~SZ['ID'].isnull()]['d_yclose']
            SZ.drop(["ID", "d_yclose"], axis=1, inplace=True)               
        except:
            print('!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!')
            wr_ong += [re[re['ID'].isin(sl1)]]
    del re
    del s2
    del db1
    print(datetime.datetime.now() - startTm)
    
    # check 2
    # first part
    startTm = datetime.datetime.now()
    date = pd.DataFrame(pd.date_range(start='2019-06-10 08:30:00', end='2019-06-10 18:00:00', freq='s'), columns=["Orig"])
    date["time"] = date["Orig"].apply(lambda x: int(x.strftime("%H%M%S"))*1000)
    date["group"] = date["time"]//10000
    SZ["group"] = SZ["time"]//10000000
    gl = date[((date["time"] >= 93000000) & (date["time"] <= 113000000))|((date["time"] >= 130000000) & (date["time"] <= 150000000))]["group"].unique()
    l = set(gl) - set(SZ["group"].unique())
    SZ["has_missing1"] = 0 
    if len(l) != 0:
        print("massive missing")
        print(l)
        SZ["order"] = SZ.groupby(["skey", "time"]).cumcount()
        for i in l:
            SZ["t"] = SZ[SZ["group"] > i].groupby("skey")["time"].transform("min")
            SZ["has_missing1"] = np.where((SZ["time"] == SZ["t"]) & (SZ["order"] == 0), 1, 0)
        SZ.drop(["order", "t", "group"], axis=1, inplace=True)   
    else:
        print("no massive missing")
        SZ.drop(["group"], axis=1, inplace=True)
    
    # second part

    SZ["time_interval"] = SZ.groupby("skey")["datetime"].apply(lambda x: x - x.shift(1))
    SZ["time_interval"] = SZ["time_interval"].apply(lambda x: x.seconds)
    SZ["tn_update"] = SZ.groupby("skey")["cum_trades_cnt"].apply(lambda x: x-x.shift(1))

    f1 = SZ[(SZ["time"] >= 93000000000) & (SZ["tn_update"] != 0)].groupby("skey")["time"].min().reset_index()
    f1 = f1.rename(columns={"time": "time1"})
    f2 = SZ[(SZ["time"] >= 130000000000) & (SZ["tn_update"] != 0)].groupby("skey")["time"].min().reset_index()
    f2 = f2.rename(columns={"time": "time2"})
    f3 = SZ[(SZ["time"] >= 150000000000) & (SZ["tn_update"] != 0)].groupby("skey")["time"].min().reset_index()
    f3 = f3.rename(columns={"time": "time3"})
    f4 = SZ[(SZ["time"] >= 100000000000) & (SZ["tn_update"] != 0)].groupby("skey")["time"].min().reset_index()
    f4 = f4.rename(columns={"time": "time4"})
    SZ = pd.merge(SZ, f1, on="skey", how="left")
    del f1
    SZ = pd.merge(SZ, f2, on="skey", how="left")
    del f2
    SZ = pd.merge(SZ, f3, on="skey", how="left")
    del f3
    SZ = pd.merge(SZ, f4, on="skey", how="left")
    del f4
    stock_list = SZ[(SZ['time'] == SZ['time4']) & (SZ['time_interval'] > 1500)]['skey'].unique()
    display(stock_list)
    SZ.loc[~SZ['skey'].isin(stock_list), 'time4'] = 0
    p99 = SZ[(SZ["time"] > 93000000000) & (SZ["time"] < 145700000000) & (SZ["time"] != SZ["time2"]) & (SZ["tn_update"] != 0)]\
    .groupby("skey")["tn_update"].apply(lambda x: x.describe([0.99])["99%"]).round(0).reset_index()
    p99 = p99.rename(columns={"tn_update":"99%"})
    SZ = pd.merge(SZ, p99, on="skey", how="left")

    SZ["has_missing2"] = 0
    if len(stock_list) == 0:
        SZ["has_missing2"] = np.where((SZ["time_interval"] > 60) & (SZ["tn_update"] > SZ["99%"]) & 
             (SZ["time"] > SZ["time1"]) & (SZ["time"] != SZ["time2"]) & (SZ["time"] != SZ["time3"]), 1, 0)
    else:
        SZ["has_missing2"] = np.where((SZ["time_interval"] > 60) & (SZ["tn_update"] > SZ["99%"]) & 
             (SZ["time"] > SZ["time1"]) & (SZ["time"] != SZ["time2"]) & (SZ["time"] != SZ["time3"]) & 
             (SZ['time'] != SZ['time4']), 1, 0)        
    SZ.drop(["time_interval", "tn_update", "time1", "time2", "time3", "99%"], axis=1, inplace=True) 

    SZ["has_missing"] = np.where((SZ["has_missing1"] == 1) | (SZ["has_missing2"] == 1), 1, 0)
    SZ.drop(["has_missing1", "has_missing2"], axis=1, inplace=True) 
    if SZ[SZ["has_missing"] == 1].shape[0] != 0:
        print("has missing!!!!!!!!!!!!!!!!!!!!!!!")
        print(SZ[SZ["has_missing"] == 1].shape[0])
        mi_ss += [SZ[SZ["has_missing"] == 1]]
    print(datetime.datetime.now() - startTm)

    
    
    startTm = datetime.datetime.now()
    SZ["has_missing"] = SZ["has_missing"].astype('int32')
    SZ = SZ[["skey", "date", "time", "clockAtArrival", "datetime", "ordering", "has_missing", "cum_trades_cnt", "cum_volume", "cum_amount", "prev_close",
                            "open", "high", "low", "close", 'bid10p','bid9p','bid8p','bid7p','bid6p','bid5p','bid4p','bid3p','bid2p','bid1p',
                            'ask1p','ask2p','ask3p','ask4p','ask5p','ask6p','ask7p','ask8p','ask9p','ask10p', 'bid10q','bid9q','bid8q',
                             'bid7q','bid6q','bid5q','bid4q','bid3q','bid2q','bid1q', 'ask1q','ask2q','ask3q','ask4q','ask5q','ask6q',
                             'ask7q','ask8q','ask9q','ask10q']]
    
    display(SZ["date"].iloc[0])
    print("SZ finished")
    
    
    database_name = 'com_md_eq_cn'
    user = "zhenyuy"
    password = "bnONBrzSMGoE"

    db1 = DB("192.168.10.178", database_name, user, password)
    db1.write('md_snapshot_l2', SZ)
    
    del SZ
    print(datetime.datetime.now() - startTm)

wr_ong = pd.concat(wr_ong).reset_index(drop=True)
print(wr_ong)
mi_ss = pd.concat(mi_ss).reset_index(drop=True)
print(mi_ss)

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:195: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.

0:05:54.638968
0:01:36.447245
0:01:30.210975
1
2
3
4
skey
2002451    2
Name: open, dtype: int64
[ 0.00000000e+00  1.11800000e+01 -1.03879764e+05]
[11.18]
0:03:44.129885

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:305: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:306: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
13,2002003,20160128,13.90,15.08,14.29,13.57,13.57,5568423.0,7.649223e+07
8,2002433,20160128,9.63,10.70,9.90,9.63,9.63,43246501.0,4.179354e+08
7,2002147,20160128,17.25,18.96,18.98,17.06,17.93,27015536.0,4.793216e+08
13,2300441,20160128,33.44,37.16,35.45,33.44,33.44,5537111.0,1.882521e+08
14,2002532,20160128,11.50,12.00,11.80,11.01,11.14,4955489.0,5.641233e+07
18,2002451,20160128,11.18,11.76,12.56,10.60,11.35,38308346.0,4.368044e+08
18,2000898,20160128,4.50,4.56,4.50,4.11,4.11,22037903.0,9.493864e+07
13,2002014,20160128,16.62,18.45,17.80,16.61,16.61,3742206.0,6.246586e+07
13,2002654,20160128,38.99,43.32,38.99,38.99,38.99,316600.0,1.234423e+07

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
350,2000898,20160128,4.50,4.56,4.50,4.31,4.380,11590396,50938157
424,2002003,20160128,13.90,0.00,14.29,13.57,13.570,5568423,76492231
432,2002014,20160128,16.62,0.00,17.80,16.61,16.610,3742206,62465864
548,2002147,20160128,17.25,0.00,18.98,17.06,17.930,27015536,479321621
805,2002433,20160128,9.63,0.00,9.90,9.63,9.630,43246501,417935403
821,2002451,20160128,11.18,11.76,39.20,10.83,23903.512,176676023727,4222529083703556
896,2002532,20160128,11.50,0.00,11.80,11.01,11.140,4955489,56412326
1002,2002654,20160128,38.99,0.00,38.99,38.99,38.990,316600,12344234
1503,2300441,20160128,33.44,0.00,35.45,33.44,33.440,5537111,188252067

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:03.326678
no massive missing

array([], dtype=int32)

has missing!!!!!!!!!!!!!!!!!!!!!!!
3
0:01:35.973155

20160128

SZ finished
0:00:28.941401
0:01:38.871392
0:01:32.287961
1
2
3
4
0:03:35.068069

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:305: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:306: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
13,2300323,20160129,7.02,7.80,7.99,7.02,7.80,46256707.0,3.322955e+08
19,2300065,20160129,27.00,28.08,29.80,25.90,28.67,9293464.0,2.605610e+08
13,2300279,20160129,32.73,36.37,35.35,32.73,32.73,7004880.0,2.304378e+08
13,2300031,20160129,22.97,25.52,22.97,22.97,22.97,407800.0,9.367166e+06
4,2002535,20160129,8.46,9.40,9.26,8.46,8.89,32521653.0,2.823219e+08

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
892,2002535,20160129,8.46,0.00,9.26,8.46,8.89,32521653,282321936
1138,2300031,20160129,22.97,0.00,22.97,22.97,22.97,407800,9367166
1166,2300065,20160129,27.00,28.08,29.00,25.90,28.61,6708997,185249188
1362,2300279,20160129,32.73,0.00,35.35,32.73,32.73,7004880,230437801
1401,2300323,20160129,7.02,0.00,7.99,7.02,7.80,46256707,332295470

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:03.018521
no massive missing

array([], dtype=int32)

0:01:43.887388

20160129

SZ finished
0:00:44.268490
0:01:35.278144
0:01:29.335463
1
2
3
4
0:03:21.984644

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:305: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:306: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
3,2002261,20160201,29.55,32.83,29.55,29.55,29.55,488300.0,1.442926e+07
3,2002269,20160201,5.46,6.07,5.46,5.46,5.46,1851600.0,1.010974e+07
14,2002363,20160201,11.54,12.59,12.34,11.33,11.40,11471253.0,1.342238e+08
15,2002076,20160201,12.00,11.99,13.19,12.00,12.89,20861548.0,2.654398e+08

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
476,2002076,20160201,12.00,0.00,13.19,12.00,12.89,20861548,265439767
644,2002261,20160201,29.55,0.00,29.55,29.55,29.55,488300,14429265
651,2002269,20160201,5.46,0.00,5.46,5.46,5.46,1851600,10109736
735,2002363,20160201,11.54,14.63,12.34,11.33,11.40,11471253,134223836

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:02.892945
no massive missing

array([], dtype=int32)

has missing!!!!!!!!!!!!!!!!!!!!!!!
1
0:01:33.218276

20160201

SZ finished
0:00:34.223584
0:01:35.209085
0:01:33.633097
1
2
3
4
0:03:31.155199

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:305: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:306: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
16,2300297,20160202,13.90,14.57,15.30,13.88,14.90,23476557.0,3.477215e+08
0,2002228,20160202,15.21,16.88,17.58,15.21,17.31,50927214.0,8.245875e+08
16,2300008,20160202,19.08,21.12,22.41,19.01,21.25,10962841.0,2.312578e+08
18,2300368,20160202,34.50,34.90,37.70,32.60,36.80,12830255.0,4.584194e+08
19,2002397,20160202,7.00,6.36,7.00,7.00,7.00,3338358.0,2.336851e+07
0,2300499,20160202,20.48,15.52,22.35,20.48,22.35,13716.0,3.056176e+05

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
614,2002228,20160202,15.21,0.0,17.58,15.21,17.31,50927214,824587516
766,2002397,20160202,7.00,0.0,7.00,7.00,7.00,3338358,23368506
1116,2300008,20160202,19.08,0.0,22.41,19.01,21.25,10962841,231257780
1376,2300297,20160202,13.90,0.0,15.30,13.88,14.90,23476557,347721539
1433,2300368,20160202,34.50,0.0,37.70,32.60,36.80,12830255,458419401
1549,2300499,20160202,20.48,0.0,22.35,20.48,22.35,13716,305617

0:00:17.254904
no massive missing

array([], dtype=int32)

0:01:35.667116

20160202

SZ finished
0:00:42.383812
0:01:37.151426
0:01:27.790477
1
2
3
4
0:03:20.384567

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:305: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:306: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
10,2002776,20160203,52.51,56.96,56.90,51.5,54.00,3348529.0,1.777472e+08
11,2300498,20160203,43.40,43.32,43.41,39.2,41.36,9198795.0,3.794235e+08
17,2002301,20160203,14.74,14.74,15.50,14.3,15.06,4929619.0,7.392751e+07

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
681,2002301,20160203,14.74,0.0,15.50,14.3,15.06,4929619,73927506
1097,2002776,20160203,52.51,0.0,56.90,51.5,54.00,3348529,177747153
1547,2300498,20160203,43.40,0.0,43.41,39.2,41.36,9198795,379423452

0:00:16.398156
no massive missing

array([], dtype=int32)

has missing!!!!!!!!!!!!!!!!!!!!!!!
1
0:01:36.014364

20160203

SZ finished
0:00:40.987632
0:01:39.645691
0:01:34.108312
1
2
3
4
0:03:32.576153

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:305: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:306: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
0,2300500,20160204,27.60,20.91,30.11,27.60,30.11,7636.0,2.286650e+05
0,2002473,20160204,29.70,33.00,29.70,29.70,29.70,413000.0,1.226610e+07
0,2002465,20160204,15.02,16.69,15.02,15.02,15.02,34526900.0,5.185940e+08
0,2300501,20160204,29.06,22.02,31.71,29.06,31.71,6600.0,2.079610e+05

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
823,2002465,20160204,15.02,0.0,15.02,15.02,15.02,34526900,518594038
831,2002473,20160204,29.70,0.0,29.70,29.70,29.70,413000,12266100
1546,2300500,20160204,27.60,0.0,30.11,27.60,30.11,7636,228664
1547,2300501,20160204,29.06,0.0,31.71,29.06,31.71,6600,207961

0:00:19.408182
no massive missing

array([], dtype=int32)

has missing!!!!!!!!!!!!!!!!!!!!!!!
1
0:01:35.949791

20160204

SZ finished
0:00:37.993085
0:07:25.218341
0:01:30.174437
1
2
3
4
0:03:25.180097

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:305: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:306: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
18,2300106,20160205,12.56,11.42,12.56,12.56,12.56,2263162.0,2.842531e+07
9,2002211,20160205,8.25,8.81,9.69,8.25,9.33,25896212.0,2.399615e+08
18,2000797,20160205,14.30,13.93,14.95,14.26,14.75,9157560.0,1.344565e+08
19,2002665,20160205,22.98,20.89,22.98,22.98,22.98,3803547.0,8.740551e+07

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
284,2000797,20160205,14.30,0.0,14.95,14.26,14.75,9157560,134456547
599,2002211,20160205,8.25,0.0,9.69,8.25,9.33,25896212,239961458
1002,2002665,20160205,22.98,0.0,22.98,22.98,22.98,3803547,87405510
1199,2300106,20160205,12.56,0.0,12.56,12.56,12.56,2263162,28425314

0:00:16.228012
no massive missing

array([], dtype=int32)

has missing!!!!!!!!!!!!!!!!!!!!!!!
2
0:01:40.442471

20160205

SZ finished
0:00:30.441595
0:07:32.947499
0:01:33.220337
1
2
3
4
0:03:29.552027

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:305: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:306: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
0,2002174,20160215,80.58,89.53,80.58,80.58,80.58,1018100.0,8.203850e+07
0,2000626,20160215,47.55,43.23,47.55,39.00,42.21,11877227.0,5.309076e+08
20,2000587,20160215,17.51,15.92,17.51,16.05,16.70,22057670.0,3.738876e+08
20,2000413,20160215,6.40,6.12,6.73,6.38,6.73,65030859.0,4.314378e+08
4,2002373,20160215,30.70,34.11,30.70,30.70,30.70,628700.0,1.930109e+07
0,2002040,20160215,13.64,15.16,13.64,13.64,13.64,410400.0,5.597856e+06
16,2002341,20160215,13.62,15.00,15.91,13.62,15.50,17958896.0,2.630583e+08

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
71,2000413,20160215,6.40,0.0,6.73,6.38,6.73,65030859,431437797
149,2000587,20160215,17.51,0.0,17.51,16.05,16.70,22057670,373887571
180,2000626,20160215,47.55,0.0,47.55,39.00,42.21,11877227,530907609
449,2002040,20160215,13.64,0.0,13.64,13.64,13.64,410400,5597856
568,2002174,20160215,80.58,0.0,80.58,80.58,80.58,1018100,82038498
722,2002341,20160215,13.62,0.0,15.91,13.62,15.50,17958896,263058281
749,2002373,20160215,30.70,0.0,30.70,30.70,30.70,628700,19301090

0:00:17.208046
no massive missing

array([], dtype=int32)

has missing!!!!!!!!!!!!!!!!!!!!!!!
1
0:01:36.974904

20160215

SZ finished
0:00:26.664940
0:01:47.175711
0:01:33.650767
1
2
3
4
0:03:44.093659

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:305: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:306: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
0,2300069,20160216,26.87,29.85,31.86,26.87,31.70,24306910.0,6.627016e+08
0,2300355,20160216,16.06,17.84,16.99,16.06,16.33,49196756.0,8.036166e+08
0,2002691,20160216,21.80,23.76,24.90,21.80,23.15,14512807.0,3.293657e+08
17,2002358,20160216,14.29,12.99,14.29,14.29,14.29,2412373.0,3.447281e+07
0,2002103,20160216,19.27,17.52,19.27,19.27,19.27,35929.0,6.923518e+05

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
500,2002103,20160216,19.27,0.0,19.27,19.27,19.27,35929,692351
737,2002358,20160216,14.29,0.0,14.29,14.29,14.29,2412373,34472810
1033,2002691,20160216,21.80,0.0,24.90,21.80,23.15,14512807,329365653
1174,2300069,20160216,26.87,0.0,31.86,26.87,31.70,24306910,662701628
1429,2300355,20160216,16.06,0.0,16.99,16.06,16.33,49196756,803616570

0:00:19.398362
no massive missing

array([], dtype=int32)

has missing!!!!!!!!!!!!!!!!!!!!!!!
2
0:01:44.747851

20160216

SZ finished
0:00:35.864786
0:01:51.539350
0:01:36.439607
1
2
3
4
0:03:43.970692

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:305: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:306: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
27,2000636,20160217,8.32,8.37,8.52,8.21,8.49,13370377.0,1.117063e+08
27,2002005,20160217,5.88,5.92,6.05,5.86,6.01,27388850.0,1.629146e+08
17,2000960,20160217,10.21,9.28,10.21,10.21,10.21,6077094.0,6.204713e+07
0,2300407,20160217,39.10,36.66,40.33,33.03,40.33,4465703.0,1.720668e+08
17,2000503,20160217,24.61,22.37,24.61,24.35,24.61,28482763.0,7.008054e+08

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
89,2000503,20160217,24.61,0.00,24.61,24.35,24.61,28482763,700805364
191,2000636,20160217,8.32,8.37,8.38,8.21,8.32,7668113,63707075
389,2000960,20160217,10.21,0.00,10.21,10.21,10.21,6077094,62047129
421,2002005,20160217,5.88,5.92,6.02,5.86,5.93,18102012,107400794
1476,2300407,20160217,39.10,0.00,40.33,33.03,40.33,4465703,172066781

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:03.092156
no massive missing

array([], dtype=int32)

has missing!!!!!!!!!!!!!!!!!!!!!!!
1
0:01:45.474281

20160217

SZ finished
0:00:38.435705
0:01:45.040223
0:01:34.009200
1
2
3
4
0:03:39.435548

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:305: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:306: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
0,2300351,20160218,29.80,31.30,31.22,28.17,28.17,9322039.0,2.675061e+08
28,2002057,20160218,11.81,11.80,12.08,11.68,11.77,6824499.0,8.078657e+07
0,2000901,20160218,47.59,52.88,50.80,47.59,47.59,22946119.0,1.099430e+09
19,2300032,20160218,17.50,15.91,17.50,17.50,17.50,262550.0,4.594625e+06
14,2002308,20160218,14.39,13.08,14.39,14.39,14.39,191649.0,2.757829e+06
0,2002788,20160218,22.38,18.65,26.86,22.38,26.86,17379.0,4.645822e+05
0,2000035,20160218,13.82,15.35,14.38,13.82,13.82,69476373.0,9.658279e+08
0,2002537,20160218,18.25,16.59,18.25,18.25,18.25,945238.0,1.725059e+07
19,2002426,20160218,18.92,17.20,18.92,18.92,18.92,2595609.0,4.910892e+07

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
23,2000035,20160218,13.82,0.0,14.38,13.82,13.82,69476373,965827936
348,2000901,20160218,47.59,0.0,50.80,47.59,47.59,22946119,1099429797
462,2002057,20160218,11.81,11.8,12.08,11.70,11.80,4503310,53498580
693,2002308,20160218,14.39,0.0,14.39,14.39,14.39,191649,2757829
801,2002426,20160218,18.92,0.0,18.92,18.92,18.92,2595609,49108922
902,2002537,20160218,18.25,0.0,18.25,18.25,18.25,945238,17250593
1119,2002788,20160218,22.38,0.0,26.86,22.38,26.86,17379,464582
1148,2300032,20160218,17.50,0.0,17.50,17.50,17.50,262550,4594625
1431,2300351,20160218,29.80,0.0,31.22,28.17,28.17,9322039,267506138

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:03.498662
no massive missing

array([2002788], dtype=int32)

0:01:46.434792

20160218

SZ finished
0:00:41.266203
0:01:42.283217
0:01:33.401180
1
2
3
4
0:03:41.645426

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:305: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:306: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
14,2000020,20160219,22.00,20.00,22.00,22.00,22.00,171001.0,3.762022e+06
19,2000681,20160219,25.85,23.50,25.85,25.85,25.85,82070.0,2.121510e+06
29,2002296,20160219,14.91,14.91,15.10,14.71,15.00,8057995.0,1.206792e+08
29,2002104,20160219,18.69,18.62,19.60,18.67,19.27,62843242.0,1.206717e+09
19,2000889,20160219,9.09,8.26,9.09,9.09,9.09,739789.0,6.724682e+06

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
14,2000020,20160219,22.00,0.00,22.00,22.00,22.00,171001,3762022
215,2000681,20160219,25.85,0.00,25.85,25.85,25.85,82070,2121509
343,2000889,20160219,9.09,0.00,9.09,9.09,9.09,739789,6724682
504,2002104,20160219,18.69,18.62,19.59,18.67,19.58,48189021,924956327
682,2002296,20160219,14.91,14.91,15.10,14.71,15.07,5381587,80600060

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:03.441106
no massive missing

array([], dtype=int32)

0:01:47.226867

20160219

SZ finished
0:00:28.984501
0:02:06.749172
0:01:36.697054
1
2
3
4
0:03:42.620997

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:305: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:306: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
10,2000712,20160222,20.00,19.67,21.64,20.00,21.64,33270626.0,7.017434e+08
0,2000973,20160222,11.70,13.00,11.70,11.70,11.70,3888800.0,4.549896e+07
0,2002011,20160222,15.05,16.72,15.05,15.05,15.05,4107200.0,6.181336e+07

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
236,2000712,20160222,20.00,0.0,21.64,20.00,21.64,33270626,701743443
399,2000973,20160222,11.70,0.0,11.70,11.70,11.70,3888800,45498960
427,2002011,20160222,15.05,0.0,15.05,15.05,15.05,4107200,61813360

0:00:18.002157
no massive missing

array([], dtype=int32)

0:01:47.208201

20160222

SZ finished
0:00:42.391370
0:03:46.370135
0:01:44.029686
1
2
3
4
0:03:41.657446

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:305: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:306: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
16,2002080,20160223,22.66,21.33,22.75,21.30,22.31,13529050.0,2.981554e+08
0,2300280,20160223,26.07,23.70,26.07,26.07,26.07,385720.0,1.005572e+07
17,2300278,20160223,16.15,14.68,16.15,16.15,16.15,320235.0,5.171795e+06

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
482,2002080,20160223,22.66,0.0,22.75,21.30,22.31,13529050,298155393
1364,2300278,20160223,16.15,0.0,16.15,16.15,16.15,320235,5171795
1366,2300280,20160223,26.07,0.0,26.07,26.07,26.07,385720,10055720

0:00:18.507442
no massive missing

array([], dtype=int32)

0:01:42.788626

20160223

SZ finished
0:00:39.576944
0:01:46.313910
0:01:36.894386
1
2
3
4
0:03:37.982472

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:305: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:306: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
0,2300306,20160224,20.54,18.67,20.54,20.54,20.54,1888574.0,3.879131e+07
32,2002336,20160224,13.71,13.83,14.78,13.40,14.54,15567481.0,2.171925e+08
18,2002263,20160224,6.16,5.60,6.16,6.16,6.16,698342.0,4.301787e+06
15,2300003,20160224,33.69,30.63,33.69,33.69,33.69,992948.0,3.345242e+07
0,2002286,20160224,15.95,14.50,15.95,15.95,15.95,4211232.0,6.716915e+07
32,2300387,20160224,23.88,24.20,24.17,23.37,24.07,1775181.0,4.230356e+07
0,2002582,20160224,17.18,15.62,17.18,17.18,17.18,79308.0,1.362511e+06

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
644,2002263,20160224,6.16,0.00,6.16,6.16,6.16,698342,4301786
667,2002286,20160224,15.95,0.00,15.95,15.95,15.95,4211232,67169150
714,2002336,20160224,13.71,13.83,13.95,13.40,13.50,6587447,90076182
934,2002582,20160224,17.18,0.00,17.18,17.18,17.18,79308,1362511
1116,2300003,20160224,33.69,0.00,33.69,33.69,33.69,992948,33452418
1384,2300306,20160224,20.54,0.00,20.54,20.54,20.54,1888574,38791309
1452,2300387,20160224,23.88,24.20,24.17,23.41,23.94,1514533,36719240

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:03.059867
no massive missing

array([], dtype=int32)

has missing!!!!!!!!!!!!!!!!!!!!!!!
1
0:01:46.073294

20160224

SZ finished
0:00:30.014390
0:01:53.577493
0:01:38.067308
1
2
3
4
0:03:45.898377

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:305: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:306: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
0,2000058,20160225,13.04,11.85,13.04,12.73,12.90,36688885.0,4.774209e+08
0,2000982,20160225,5.10,4.64,5.10,5.10,5.10,3233332.0,1.648999e+07
0,2000657,20160225,16.30,16.01,17.61,14.41,16.05,47643449.0,7.955817e+08
0,2002567,20160225,11.56,12.84,12.00,11.56,11.56,27940900.0,3.232469e+08

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
37,2000058,20160225,13.04,0.0,13.04,12.73,12.90,36688885,477420901
195,2000657,20160225,16.30,0.0,17.61,14.41,16.05,47643449,795581699
403,2000982,20160225,5.10,0.0,5.10,5.10,5.10,3233332,16489993
924,2002567,20160225,11.56,0.0,12.00,11.56,11.56,27940900,323246879

0:00:18.171376
no massive missing

array([], dtype=int32)

0:01:44.343210

20160225

SZ finished
0:00:35.243310
0:01:51.458151
0:01:36.324280
1
2
3
4
0:03:40.933242

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:305: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:306: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
34,2002398,20160226,11.94,11.61,11.94,11.52,11.71,2549428.0,2.988191e+07
34,2002607,20160226,11.15,10.91,11.66,10.91,11.33,18235586.0,2.059160e+08

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
771,2002398,20160226,11.94,11.61,11.94,11.52,11.60,1635985,19159784
959,2002607,20160226,11.15,10.91,11.54,10.91,11.14,11537322,129350995

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:03.121208
no massive missing

array([], dtype=int32)

0:01:43.771900

20160226

SZ finished
0:00:41.825654
0:01:42.449003
0:01:27.963153
1
2
3
4
0:03:16.465441

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:305: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:306: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
0,2300088,20160229,12.63,14.03,12.63,12.63,12.63,403200.0,5.092416e+06
35,2002617,20160229,21.00,21.14,21.32,19.25,19.67,5090097.0,1.010058e+08
0,2300162,20160229,21.47,23.86,21.47,21.47,21.47,251200.0,5.393264e+06
35,2002423,20160229,12.00,12.37,12.29,11.13,11.14,21373772.0,2.419190e+08
0,2002409,20160229,24.16,21.96,24.16,23.32,24.16,6447709.0,1.555569e+08
0,2300089,20160229,35.58,39.53,35.58,35.58,35.58,24200.0,8.610360e+05

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
776,2002409,20160229,24.16,0.00,24.16,23.32,24.16,6447709,155556882
790,2002423,20160229,12.00,12.37,12.29,11.13,11.20,17021567,192828399
962,2002617,20160229,21.00,21.14,21.32,19.25,19.61,4843550,95633067
1185,2300088,20160229,12.63,0.00,12.63,12.63,12.63,403200,5092416
1186,2300089,20160229,35.58,0.00,35.58,35.58,35.58,24200,861036
1252,2300162,20160229,21.47,0.00,21.47,21.47,21.47,251200,5393264

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:02.879675
no massive missing

array([], dtype=int32)

0:01:33.484126

20160229

SZ finished
0:00:41.128371
0:02:15.785223
0:01:34.012765
1
2
3
4
0:03:32.515361

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:305: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:306: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
30,2002099,20160301,9.50,9.49,9.80,8.84,9.55,42510004.0,3.990961e+08
0,2000534,20160301,9.45,9.45,10.22,8.51,9.06,31676963.0,2.875204e+08
31,2002654,20160301,13.66,13.72,15.09,12.76,15.09,73973604.0,1.039083e+09

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
116,2000534,20160301,9.45,0.00,10.22,8.51,9.06,31676963,287520405
493,2002099,20160301,9.50,19.17,9.80,8.84,9.55,42510004,399096107
995,2002654,20160301,13.66,41.22,15.09,12.76,15.09,73973604,1039082616

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:03.066263
no massive missing

array([], dtype=int32)

0:01:41.512482

20160301

SZ finished
0:00:41.615181
0:02:04.031806
0:01:36.344090
1
2
3
4
0:03:42.000952

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:305: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:306: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
0,2000711,20160302,19.09,21.21,19.09,19.09,19.09,4395900.0,8.391773e+07
37,2000858,20160302,22.81,22.83,23.95,22.81,23.87,24773006.0,5.809477e+08
16,2001896,20160302,8.78,9.76,10.19,8.78,9.95,57971962.0,5.487616e+08
0,2000876,20160302,17.09,18.99,17.09,17.09,17.09,4770000.0,8.151930e+07
37,2002439,20160302,19.81,19.89,21.49,19.62,21.02,13651181.0,2.787586e+08

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
234,2000711,20160302,19.09,0.00,19.09,19.09,19.09,4395900,83917731
320,2000858,20160302,22.81,22.83,23.70,22.81,23.61,16472716,383792293
329,2000876,20160302,17.09,0.00,17.09,17.09,17.09,4770000,81519300
414,2001896,20160302,8.78,0.00,10.19,8.78,9.95,57971962,548761558
807,2002439,20160302,19.81,19.89,20.80,19.62,20.71,8266044,165801508

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:03.167918
no massive missing

array([], dtype=int32)

has missing!!!!!!!!!!!!!!!!!!!!!!!
1
0:01:44.655565

20160302

SZ finished
0:00:39.122468
0:01:50.768099
0:01:35.527095
1
2
3
4
0:03:40.777098

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:305: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:306: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
38,2002572,20160303,41.50,41.70,41.70,40.20,41.14,3818420.0,1.565971e+08
0,2300502,20160303,25.76,21.47,30.92,25.76,30.92,9700.0,2.960540e+05
18,2002356,20160303,24.23,22.03,24.23,23.50,24.23,4963633.0,1.198115e+08

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
726,2002356,20160303,24.23,0.0,24.23,23.50,24.23,4963633,119811535
923,2002572,20160303,41.50,42.2,41.70,40.20,41.14,3818420,156597149
1547,2300502,20160303,25.76,0.0,30.92,25.76,30.92,9700,296054

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:03.108347
no massive missing

array([2300502], dtype=int32)

0:01:45.430986

20160303

SZ finished
0:00:32.104728
0:01:53.069316
0:01:50.001041
1
2
3
4
0:03:42.562112

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:305: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:306: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Empty DataFrame
Columns: [ID, date, d_open, d_yclose, d_high, d_low, d_close, d_volume, d_amount]
Index: []

Empty DataFrame
Columns: [ID, date, d_open, d_yclose, d_high, d_low, d_close, d_volume, d_amount]
Index: []

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:325: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:03.302767
no massive missing

array([], dtype=int32)

0:01:57.671889

20160304

SZ finished
0:00:43.946615
0:01:48.965775
0:01:27.734743
1
2
3
4
0:03:24.327941

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:305: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:306: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Empty DataFrame
Columns: [ID, date, d_open, d_yclose, d_high, d_low, d_close, d_volume, d_amount]
Index: []

Empty DataFrame
Columns: [ID, date, d_open, d_yclose, d_high, d_low, d_close, d_volume, d_amount]
Index: []

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:325: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:03.181414
no massive missing

array([], dtype=int32)

0:01:35.242565

20160307

SZ finished
0:00:27.741785
0:02:13.643419
0:01:34.880920
1
2
3
4
0:03:49.284604

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:305: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:306: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
8,2002450,20160308,29.96,29.90,30.79,27.80,30.20,61102365.0,1.801620e+09
0,2002790,20160308,21.89,16.58,23.88,21.89,23.88,52140.0,1.244093e+06
41,2000838,20160308,15.40,15.89,16.38,14.30,15.60,105186531.0,1.628372e+09
0,2002664,20160308,28.59,31.77,28.59,28.59,28.59,416400.0,1.190488e+07

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
308,2000838,20160308,15.40,55.68,16.38,14.30,15.60,105186531,1628372429
808,2002450,20160308,29.96,0.00,30.79,27.80,30.20,61102365,1801620340
998,2002664,20160308,28.59,0.00,28.59,28.59,28.59,416400,11904876
1104,2002790,20160308,21.89,0.00,23.88,21.89,23.88,52140,1244093

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:03.160580
no massive missing

array([], dtype=int32)

0:01:42.289833

20160308

SZ finished
0:00:41.940616
0:01:45.646802
0:01:30.337971
1
2
3
4
0:03:46.227753

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:305: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:306: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
42,2002105,20160309,7.24,7.42,7.92,7.17,7.88,20641142.0,1.580075e+08
0,2300503,20160309,9.26,7.72,11.12,9.26,11.12,13804.0,1.530280e+05
42,2002378,20160309,9.28,9.85,9.33,8.88,9.02,31264044.0,2.849778e+08

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
493,2002105,20160309,7.24,7.42,7.92,7.17,8.0100,16902932,129404418
743,2002378,20160309,9.28,9.85,9.33,8.88,9.1105,519464046,228842427
1543,2300503,20160309,9.26,0.00,11.12,9.26,11.1200,13804,153028

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:03.355728
no massive missing

array([2300503], dtype=int32)

has missing!!!!!!!!!!!!!!!!!!!!!!!
1
0:01:47.167875

20160309

SZ finished
0:00:29.235276
0:01:38.132738
0:01:28.921095
1
2
3
4
0:03:40.917009

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:305: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:306: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
0,2300324,20160310,44.33,49.25,44.33,44.33,44.33,104500.0,4.632485e+06
8,2002512,20160310,18.11,19.85,21.43,18.11,19.50,21810869.0,4.276262e+08
0,2000748,20160310,31.39,34.88,31.39,31.39,31.39,123500.0,3.876665e+06
43,2002522,20160310,11.14,11.02,11.23,10.85,10.95,9497181.0,1.047540e+08
0,2000066,20160310,19.39,21.54,19.39,19.39,19.39,476300.0,9.235457e+06
43,2300339,20160310,28.55,28.53,29.06,27.59,27.63,4887146.0,1.381211e+08
38,2002014,20160310,15.01,15.18,15.10,14.38,14.47,3447057.0,5.059868e+07

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
42,2000066,20160310,19.39,0.00,19.39,19.39,19.39,476300,9235457
253,2000748,20160310,31.39,0.00,31.39,31.39,31.39,123500,3876665
420,2002014,20160310,15.01,15.58,15.10,14.38,14.47,3447057,50598676
868,2002512,20160310,18.11,0.00,21.43,18.11,19.50,21810869,427626211
877,2002522,20160310,11.14,11.06,11.23,10.85,10.95,9497181,104754025
1396,2300324,20160310,44.33,0.00,44.33,44.33,44.33,104500,4632485
1406,2300339,20160310,28.55,28.53,29.06,27.60,27.94,4046689,114745833

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:03.276674
no massive missing

array([], dtype=int32)

has missing!!!!!!!!!!!!!!!!!!!!!!!
1
0:01:40.670370

20160310

SZ finished
0:00:39.476370
0:01:35.613389
0:01:27.853822
1
2
3
4
0:03:37.522482

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:305: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:306: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
0,2002049,20160311,54.14,60.15,54.14,54.14,54.14,152100.0,8.234694e+06
0,2002789,20160311,29.74,22.53,32.44,29.74,32.44,19949.0,6.457956e+05
44,2002676,20160311,16.20,16.93,16.95,15.30,15.30,12603485.0,1.985609e+08
0,2002483,20160311,10.38,11.53,10.38,10.38,10.38,1624700.0,1.686439e+07
44,2300367,20160311,25.60,26.19,26.69,24.56,24.90,18566838.0,4.765895e+08
44,2300033,20160311,52.60,52.81,52.60,50.90,51.89,7601998.0,3.937048e+08
44,2300298,20160311,18.86,19.45,19.44,18.80,18.96,1759761.0,3.356823e+07

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
452,2002049,20160311,54.14,0.00,54.14,54.14,54.14,152100,8234694
845,2002483,20160311,10.38,0.00,10.38,10.38,10.38,1624700,16864386
1017,2002676,20160311,16.20,42.33,16.95,15.30,15.30,12603485,198560905
1113,2002789,20160311,29.74,0.00,32.44,29.74,32.44,19949,645795
1145,2300033,20160311,52.60,53.55,52.60,50.90,51.89,7601998,393704809
1381,2300298,20160311,18.86,25.65,19.44,18.80,18.96,1759761,33568234
1433,2300367,20160311,25.60,65.60,26.69,24.56,24.90,18566838,476589503

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:03.238174
no massive missing

array([], dtype=int32)

0:01:41.278076

20160311

SZ finished
0:00:34.765729
0:02:20.120760
0:01:34.811092
1
2
3
4

AssertionError:

In [1]:
import pymongo
import pandas as pd
import pickle
import datetime
import time
import gzip
import lzma
import pytz


def DB(host, db_name, user, passwd):
    auth_db = db_name if user not in ('admin', 'root') else 'admin'
    uri = 'mongodb://%s:%s@%s/?authSource=%s' % (user, passwd, host, auth_db)
    return DBObj(uri, db_name=db_name)


class DBObj(object):
    def __init__(self, uri, symbol_column='skey', db_name='white_db'):
        self.db_name = db_name
        self.uri = uri
        self.client = pymongo.MongoClient(self.uri)
        self.db = self.client[self.db_name]
        self.chunk_size = 20000
        self.symbol_column = symbol_column
        self.date_column = 'date'

    def parse_uri(self, uri):
        # mongodb://user:password@example.com
        return uri.strip().replace('mongodb://', '').strip('/').replace(':', ' ').replace('@', ' ').split(' ')

    def drop_table(self, table_name):
        self.db.drop_collection(table_name)

    def rename_table(self, old_table, new_table):
        self.db[old_table].rename(new_table)

    def write(self, table_name, df):
        if len(df) == 0: return

        multi_date = False

        if self.date_column in df.columns:
            date = str(df.head(1)[self.date_column].iloc[0])
            multi_date = len(df[self.date_column].unique()) > 1
        else:
            raise Exception('DataFrame should contain date column')

        collection = self.db[table_name]
        collection.create_index([('date', pymongo.ASCENDING), ('symbol', pymongo.ASCENDING)], background=True)
        collection.create_index([('symbol', pymongo.ASCENDING), ('date', pymongo.ASCENDING)], background=True)

        if multi_date:
            for (date, symbol), sub_df in df.groupby([self.date_column, self.symbol_column]):
                date = str(date)
                symbol = int(symbol)
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)
        else:
            for symbol, sub_df in df.groupby([self.symbol_column]):
                collection.delete_many({'date': date, 'symbol': symbol})
                self.write_single(collection, date, symbol, sub_df)

    def write_single(self, collection, date, symbol, df):
        for start in range(0, len(df), self.chunk_size):
            end = min(start + self.chunk_size, len(df))
            df_seg = df[start:end]
            version = 1
            seg = {'ver': version, 'data': self.ser(df_seg, version), 'date': date, 'symbol': symbol, 'start': start}
            collection.insert_one(seg)

    def build_query(self, start_date=None, end_date=None, symbol=None):
        query = {}

        def parse_date(x):
            if type(x) == str:
                if len(x) != 8:
                    raise Exception("`date` must be YYYYMMDD format")
                return x
            elif type(x) == datetime.datetime or type(x) == datetime.date:
                return x.strftime("%Y%m%d")
            elif type(x) == int:
                return parse_date(str(x))
            else:
                raise Exception("invalid `date` type: " + str(type(x)))

        if start_date is not None or end_date is not None:
            query['date'] = {}
            if start_date is not None:
                query['date']['$gte'] = parse_date(start_date)
            if end_date is not None:
                query['date']['$lte'] = parse_date(end_date)

        def parse_symbol(x):
            if type(x) == int:
                return x
            else:
                return int(x)

        if symbol:
            if type(symbol) == list or type(symbol) == tuple:
                query['symbol'] = {'$in': [parse_symbol(x) for x in symbol]}
            else:
                query['symbol'] = parse_symbol(symbol)

        return query

    def delete(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot delete the whole table')
            return None

        collection.delete_many(query)

    def read(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]

        query = self.build_query(start_date, end_date, symbol)
        if not query:
            print('cannot read the whole table')
            return None

        segs = []
        for x in collection.find(query):
            x['data'] = self.deser(x['data'], x['ver'])
            segs.append(x)
        segs.sort(key=lambda x: (x['symbol'], x['date'], x['start']))
        return pd.concat([x['data'] for x in segs], ignore_index=True) if segs else None

    def list_tables(self):
        return self.db.collection_names()

    def list_dates(self, table_name, start_date=None, end_date=None, symbol=None):
        collection = self.db[table_name]
        dates = set()
        if start_date is None:
            start_date = '00000000'
        if end_date is None:
            end_date = '99999999'
        for x in collection.find(self.build_query(start_date, end_date, symbol), {"date": 1, '_id': 0}):
            dates.add(x['date'])
        return sorted(list(dates))

    def ser(self, s, version):
        pickle_protocol = 4
        if version == 1:
            return gzip.compress(pickle.dumps(s, protocol=pickle_protocol), compresslevel=2)
        elif version == 2:
            return lzma.compress(pickle.dumps(s, protocol=pickle_protocol), preset=1)
        else:
            raise Exception('unknown version')

    def deser(self, s, version):
        def unpickle(s):
            return pickle.loads(s)

        if version == 1:
            return unpickle(gzip.decompress(s))
        elif version == 2:
            return unpickle(lzma.decompress(s))
        else:
            raise Exception('unknown version')


def patch_pandas_pickle():
    if pd.__version__ < '0.24':
        import sys
        from types import ModuleType
        from pandas.core.internals import BlockManager
        pkg_name = 'pandas.core.internals.managers'
        if pkg_name not in sys.modules:
            m = ModuleType(pkg_name)
            m.BlockManager = BlockManager
            sys.modules[pkg_name] = m
patch_pandas_pickle()




import pandas as pd
import random
import numpy as np
import glob
import os
import pickle
import datetime
import time
pd.set_option("max_columns", 200)

startTm = datetime.datetime.now()
readPath = '/mnt/Kevin_zhenyu/day_stock/***'
dataPathLs = np.array(glob.glob(readPath))
dataPathLs = dataPathLs[[np.array([os.path.basename(i).split('.')[0][:2] == 'SZ' for i in dataPathLs])]]
db = pd.DataFrame()
for p in dataPathLs:
    dayData = pd.read_csv(p, compression='gzip')
    db = pd.concat([db, dayData])
print(datetime.datetime.now() - startTm)

startDate = '20160331'
endDate = '20161231'
readPath = '/mnt/SZ1/SZ/***/TickAB/SZ/***'
dataPathLs = np.array(glob.glob(readPath))
dateLs = np.array([os.path.basename(i) for i in dataPathLs])
dataPathLs = dataPathLs[(dateLs >= startDate) & (dateLs <= endDate)]
wr_ong = []
mi_ss = []
dateLs = np.sort(np.unique([os.path.basename(i) for i in dataPathLs]))

for date in dateLs:
    
    readPath = '/mnt/SZ1/SZ/***/TickAB/SZ/' + date + '/***'
    dataPathLs = np.array(glob.glob(readPath))
    dateLs = np.array([int(os.path.basename(i).split('.')[0]) for i in dataPathLs])
    dataPathLs = dataPathLs[(dateLs < 4000) | ((dateLs > 300000) & (dateLs < 310000))]
    SZ = []
    ll = []
    startTm = datetime.datetime.now()
    for i in dataPathLs:
        try:
            df = pd.read_csv(i)
        except:
            print("empty data")
            print(i)
            ll.append(int(os.path.basename(i).split('.')[0]))
            continue
        SZ += [df]
    del df
    SZ = pd.concat(SZ).reset_index(drop=True)
    print(datetime.datetime.now() - startTm)
    
    startTm = datetime.datetime.now()
    SZ["skey"] = SZ["WindCode"].apply(lambda x: int(x.split('.')[0])) + 2000000
    SZ.drop(["WindCode"],axis=1,inplace=True)
    SZ['clockAtArrival'] = SZ['Time'] + SZ['Date'] * 1000000000
    SZ['clockAtArrival'] = SZ["clockAtArrival"].astype(str).apply(lambda x: np.int64(datetime.datetime.strptime(x, '%Y%m%d%H%M%S%f').timestamp()*1e6))
    SZ['datetime'] = SZ["clockAtArrival"].apply(lambda x: datetime.datetime.fromtimestamp(x/1e6))
    SZ["Time"] = SZ['Time'] * 1000
    SZ = SZ.rename(columns={'Time': 'time', 'Date':'date'})
    print(datetime.datetime.now() - startTm)
    
    startTm = datetime.datetime.now()
    SZ["AskPrice"] = SZ["AskPrice"].apply(lambda x: [int(i) for i in x[:-1].split(';')])
    SZ["AskVolume"] = SZ["AskVolume"].apply(lambda x: [int(i) for i in x[:-1].split(';')])
    SZ["BidPrice"] = SZ["BidPrice"].apply(lambda x: [int(i) for i in x[:-1].split(';')])
    SZ["BidVolume"] = SZ["BidVolume"].apply(lambda x: [int(i) for i in x[:-1].split(';')])

    for i in range(1, 11):
        SZ["bid" + str(i) + 'p'] = SZ["BidPrice"].apply(lambda x: x[i-1]/10000)
    SZ.drop(["BidPrice"],axis=1,inplace=True)
    print("1")
    for i in range(1, 11):
        SZ["ask" + str(i) + 'p'] = SZ["AskPrice"].apply(lambda x: x[i-1]/10000)
    SZ.drop(["AskPrice"],axis=1,inplace=True)
    print("2")
    for i in range(1, 11):
        SZ["bid" + str(i) + 'q'] = SZ["BidVolume"].apply(lambda x: x[i-1])
    SZ.drop(["BidVolume"],axis=1,inplace=True)
    print("3")
    for i in range(1, 11):
        SZ["ask" + str(i) + 'q'] = SZ["AskVolume"].apply(lambda x: x[i-1])
    SZ.drop(["AskVolume"],axis=1,inplace=True)
    print("4")
    
    SZ = SZ.fillna(0)
    SZ["ordering"] = SZ.groupby("skey").cumcount()
    SZ["ordering"] = SZ["ordering"] + 1
    SZ['has_missing'] = 0

    for cols in ['Price', 'High', 'Low', 'Open', 'PreClose']:
        SZ[cols] = SZ[cols] / 10000
    SZ = SZ.rename(columns={'Price':'close', 'High':'high', 'Low':'low', 'Open':'open', 'PreClose':'prev_close', 'AccVolume':'cum_volume',
                           'AccTurover':'cum_amount', 'MatchItems':'cum_trades_cnt'})
    
    for col in ["skey", "date", "cum_trades_cnt", "ordering"]:
        SZ[col] = SZ[col].astype('int32')
        
    try:
        assert(sum(SZ[SZ["open"] != 0].groupby("skey")["open"].nunique() != 1) == 0)
    except:
        sl = SZ[SZ["open"] != 0].groupby("skey")["open"].nunique()[
            SZ[SZ["open"] != 0].groupby("skey")["open"].nunique() != 1
        ].index
        for i in sl:
            op = SZ[(SZ['skey'] == i) & (SZ['open'] > 0)]['open'].unique()
            print(i)
            print(op)
            op = [x for x in op if len(str(x).split('.')[1])<=2]
            try:
                assert(len(op) == 1)
                print(SZ[(SZ['skey'] == i) & (SZ['open'] != op[0]) & (SZ['open'] != 0)])
                SZ.loc[(SZ['skey'] == i) & (SZ['open'] != 0), 'open'] = op[0]
            except:
                size = [SZ[(SZ['skey'] == i) & (SZ['open'] == x)].shape[0] for x in op]
                print(SZ[(SZ['skey'] == i) & (SZ['open'] != op[size.index(np.max(size))]) & (SZ['open'] != 0)])
                SZ.loc[(SZ['skey'] == i) & (SZ['open'] != 0), 'open'] = op[size.index(np.max(size))]
        assert(sum(SZ[SZ["open"] != 0].groupby("skey")["open"].nunique() != 1) == 0)
    assert(sum(SZ[SZ["prev_close"] != 0].groupby("skey")["prev_close"].nunique() != 1) == 0)
    SZ["prev_close"] = np.where(SZ["time"] >= 91500000000, SZ.groupby("skey")["prev_close"].transform("max"), SZ["prev_close"]) 
    SZ["open"] = np.where(SZ["cum_volume"] > 0, SZ.groupby("skey")["open"].transform("max"), SZ["open"])
    assert(sum(SZ[SZ["open"] != 0].groupby("skey")["open"].nunique() != 1) == 0)
    assert(sum(SZ[SZ["prev_close"] != 0].groupby("skey")["prev_close"].nunique() != 1) == 0)
    try:
        assert(SZ[SZ["cum_volume"] > 0]["open"].min() > 0)
    except:
        SZ.loc[SZ['cum_volume'] > 0, 'open'] = SZ[SZ['cum_volume'] > 0].groupby('skey')['open'].transform('max')
        
    try:    
        assert(SZ[SZ["cum_volume"] > 0]["open"].min() > 0)
    except:
        print('!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!There are stocks with 0 open price')
        print(SZ[(SZ['cum_volume'] > 0) & (SZ['open'] <= 0)]['skey'].unique())
  

    print(datetime.datetime.now() - startTm)
    
    
    # check 1
    startTm = datetime.datetime.now()
    da_te = str(SZ["date"].iloc[0]) 
    da_te = da_te[:4] + '-' + da_te[4:6] + '-' + da_te[6:8]
    db1 = db[db["date"] == da_te]
    db1["ID"] = db1["ID"].str[2:].astype(int) + 2000000
    db1["date"] = (db1["date"].str[:4] + db1["date"].str[5:7] + db1["date"].str[8:]).astype(int)
    SZ["cum_max"] = SZ.groupby("skey")["cum_volume"].transform(max)
    s2 = SZ[SZ["cum_volume"] == SZ["cum_max"]].groupby("skey").first().reset_index()
    SZ.drop("cum_max", axis=1, inplace=True)
    s2 = s2.rename(columns={"skey": "ID", 'open':"d_open", "prev_close":"d_yclose","high":"d_high", "low":"d_low", 
                            "close":"d_close", "cum_volume":"d_volume", "cum_amount":"d_amount"})
    s2 = s2[["ID", "date", "d_open", "d_yclose", "d_high", "d_low", "d_close", "d_volume", "d_amount"]]
    re = pd.merge(db1, s2, on=["ID", "date", "d_open", "d_yclose","d_high", "d_low", "d_volume"], how="outer")
    try:
        assert(sum(re["d_amount_y"].isnull()) == 0)
    except:
        sl = list(re[re["d_amount_y"].isnull()]['ID'].unique())
        sl.remove(2001872)
        sl.remove(2001914)
        display(db1[db1['ID'].isin(sl)][["ID", "date", "d_open", "d_yclose", "d_high", "d_low", "d_close", "d_volume", "d_amount"]])
        display(s2[s2['ID'].isin(sl)][["ID", "date", "d_open", "d_yclose", "d_high", "d_low", "d_close", "d_volume", "d_amount"]])
        try:
            sl1 = s2[(s2['ID'].isin(sl)) & (s2['d_yclose'] != 0)]['ID'].unique()
            sl2 = s2[(s2['ID'].isin(sl)) & (s2['d_yclose'] == 0)]['ID'].unique()
            assert(s2[s2['ID'].isin(sl)]['d_yclose'].unique() == [0.])
            SZ = pd.merge(SZ, db1[db1['ID'].isin(sl2)][["ID", "date", "d_yclose"]], left_on=['skey', 'date'], right_on=['ID', 'date'],
                         how='left')
            SZ.loc[~SZ['ID'].isnull(), 'prev_close'] = SZ.loc[~SZ['ID'].isnull()]['d_yclose']
            SZ.drop(["ID", "d_yclose"], axis=1, inplace=True)               
        except:
            print('!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!')
            wr_ong += [re[re['ID'].isin(sl1)]]
    del re
    del s2
    del db1
    print(datetime.datetime.now() - startTm)
    
    # check 2
    # first part
    startTm = datetime.datetime.now()
    date = pd.DataFrame(pd.date_range(start='2019-06-10 08:30:00', end='2019-06-10 18:00:00', freq='s'), columns=["Orig"])
    date["time"] = date["Orig"].apply(lambda x: int(x.strftime("%H%M%S"))*1000)
    date["group"] = date["time"]//10000
    SZ["group"] = SZ["time"]//10000000
    gl = date[((date["time"] >= 93000000) & (date["time"] <= 113000000))|((date["time"] >= 130000000) & (date["time"] <= 150000000))]["group"].unique()
    l = set(gl) - set(SZ["group"].unique())
    SZ["has_missing1"] = 0 
    if len(l) != 0:
        print("massive missing")
        print(l)
        SZ["order"] = SZ.groupby(["skey", "time"]).cumcount()
        for i in l:
            SZ["t"] = SZ[SZ["group"] > i].groupby("skey")["time"].transform("min")
            SZ["has_missing1"] = np.where((SZ["time"] == SZ["t"]) & (SZ["order"] == 0), 1, 0)
        SZ.drop(["order", "t", "group"], axis=1, inplace=True)   
    else:
        print("no massive missing")
        SZ.drop(["group"], axis=1, inplace=True)
    
    # second part

    SZ["time_interval"] = SZ.groupby("skey")["datetime"].apply(lambda x: x - x.shift(1))
    SZ["time_interval"] = SZ["time_interval"].apply(lambda x: x.seconds)
    SZ["tn_update"] = SZ.groupby("skey")["cum_trades_cnt"].apply(lambda x: x-x.shift(1))

    f1 = SZ[(SZ["time"] >= 93000000000) & (SZ["tn_update"] != 0)].groupby("skey")["time"].min().reset_index()
    f1 = f1.rename(columns={"time": "time1"})
    f2 = SZ[(SZ["time"] >= 130000000000) & (SZ["tn_update"] != 0)].groupby("skey")["time"].min().reset_index()
    f2 = f2.rename(columns={"time": "time2"})
    f3 = SZ[(SZ["time"] >= 150000000000) & (SZ["tn_update"] != 0)].groupby("skey")["time"].min().reset_index()
    f3 = f3.rename(columns={"time": "time3"})
    f4 = SZ[(SZ["time"] >= 100000000000) & (SZ["tn_update"] != 0)].groupby("skey")["time"].min().reset_index()
    f4 = f4.rename(columns={"time": "time4"})
    SZ = pd.merge(SZ, f1, on="skey", how="left")
    del f1
    SZ = pd.merge(SZ, f2, on="skey", how="left")
    del f2
    SZ = pd.merge(SZ, f3, on="skey", how="left")
    del f3
    SZ = pd.merge(SZ, f4, on="skey", how="left")
    del f4
    stock_list = SZ[(SZ['time'] == SZ['time4']) & (SZ['time_interval'] > 1500)]['skey'].unique()
    display(stock_list)
    SZ.loc[~SZ['skey'].isin(stock_list), 'time4'] = 0
    p99 = SZ[(SZ["time"] > 93000000000) & (SZ["time"] < 145700000000) & (SZ["time"] != SZ["time2"]) & (SZ["tn_update"] != 0)]\
    .groupby("skey")["tn_update"].apply(lambda x: x.describe([0.99])["99%"]).round(0).reset_index()
    p99 = p99.rename(columns={"tn_update":"99%"})
    SZ = pd.merge(SZ, p99, on="skey", how="left")

    SZ["has_missing2"] = 0
    if len(stock_list) == 0:
        SZ["has_missing2"] = np.where((SZ["time_interval"] > 60) & (SZ["tn_update"] > SZ["99%"]) & 
             (SZ["time"] > SZ["time1"]) & (SZ["time"] != SZ["time2"]) & (SZ["time"] != SZ["time3"]), 1, 0)
    else:
        SZ["has_missing2"] = np.where((SZ["time_interval"] > 60) & (SZ["tn_update"] > SZ["99%"]) & 
             (SZ["time"] > SZ["time1"]) & (SZ["time"] != SZ["time2"]) & (SZ["time"] != SZ["time3"]) & 
             (SZ['time'] != SZ['time4']), 1, 0)        
    SZ.drop(["time_interval", "tn_update", "time1", "time2", "time3", "99%"], axis=1, inplace=True) 

    SZ["has_missing"] = np.where((SZ["has_missing1"] == 1) | (SZ["has_missing2"] == 1), 1, 0)
    SZ.drop(["has_missing1", "has_missing2"], axis=1, inplace=True) 
    if SZ[SZ["has_missing"] == 1].shape[0] != 0:
        print("has missing!!!!!!!!!!!!!!!!!!!!!!!")
        print(SZ[SZ["has_missing"] == 1].shape[0])
        mi_ss += [SZ[SZ["has_missing"] == 1]]
    print(datetime.datetime.now() - startTm)

    
    
    startTm = datetime.datetime.now()
    SZ["has_missing"] = SZ["has_missing"].astype('int32')
    SZ = SZ[["skey", "date", "time", "clockAtArrival", "datetime", "ordering", "has_missing", "cum_trades_cnt", "cum_volume", "cum_amount", "prev_close",
                            "open", "high", "low", "close", 'bid10p','bid9p','bid8p','bid7p','bid6p','bid5p','bid4p','bid3p','bid2p','bid1p',
                            'ask1p','ask2p','ask3p','ask4p','ask5p','ask6p','ask7p','ask8p','ask9p','ask10p', 'bid10q','bid9q','bid8q',
                             'bid7q','bid6q','bid5q','bid4q','bid3q','bid2q','bid1q', 'ask1q','ask2q','ask3q','ask4q','ask5q','ask6q',
                             'ask7q','ask8q','ask9q','ask10q']]
    
    display(SZ["date"].iloc[0])
    print("SZ finished")
    
    
    database_name = 'com_md_eq_cn'
    user = "zhenyuy"
    password = "bnONBrzSMGoE"

    db1 = DB("192.168.10.178", database_name, user, password)
    db1.write('md_snapshot_l2', SZ)
    
    del SZ
    print(datetime.datetime.now() - startTm)

wr_ong = pd.concat(wr_ong).reset_index(drop=True)
print(wr_ong)
mi_ss = pd.concat(mi_ss).reset_index(drop=True)
print(mi_ss)

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:195: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.

0:06:01.409036
0:01:50.820120
0:01:41.477695
1
2
3
4
2002302
[16.34  16.333]
             date          time   close  Volume       Turover  cum_trades_cnt  \
4780983  20160331  130515040000  14.432       0  418871085311            3565
4780984  20160331  130515040000  14.432       0             0            3565
4780985  20160331  130519040000  14.432       0             0            3565
4780986  20160331  130525040000  14.432       0             0            3565

         Interest  TradeFlag BSFlag    cum_volume     cum_amount    high  \
4780983         0          0      0  429258505268  6614796117143  18.302
4780984         0          0      0  429258505268  6614796117143  18.302
4780985         0          0      0  429258505268  6614796117143  18.302
4780986         0          0      0  429258505268  6614796117143  18.302

            low    open  prev_close  AveAskPrice  AveBidPrice  AccAskVolume  \
4780983  15.935  16.333       16.28       169200       157500        966959
4780984  15.935  16.333       16.28       169200       157500        966959
4780985  15.935  16.333       16.28       169200       157500        966959
4780986  15.935  16.333       16.28       169200       157500        966959

         AccBidVolume     skey    clockAtArrival                datetime  \
4780983        584335  2002302  1459400715040000 2016-03-31 13:05:15.040
4780984        584335  2002302  1459400715040000 2016-03-31 13:05:15.040
4780985        584335  2002302  1459400719040000 2016-03-31 13:05:19.040
4780986        584335  2002302  1459400725040000 2016-03-31 13:05:25.040

         bid1p  bid2p  bid3p  bid4p  bid5p  bid6p  bid7p  bid8p  bid9p  \
4780983  16.06  16.05  16.04  16.03  16.02  16.01   16.0  15.99  15.98
4780984  16.06  16.05  16.04  16.03  16.02  16.01   16.0  15.99  15.98
4780985  16.06  16.05  16.04  16.03  16.02  16.01   16.0  15.99  15.98
4780986  16.06  16.05  16.04  16.03  16.02  16.01   16.0  15.99  15.98

         bid10p  ask1p  ask2p  ask3p  ask4p  ask5p  ask6p  ask7p  ask8p  \
4780983     0.0    0.0  16.08  16.09   16.1  16.11  16.12  16.13  16.14
4780984     0.0    0.0  16.08  16.09   16.1  16.11  16.12  16.13  16.14
4780985     0.0    0.0  16.08  16.09   16.1  16.11  16.12  16.13  16.14
4780986     0.0    0.0  16.08  16.09   16.1  16.11  16.12  16.13  16.14

         ask9p  ask10p  bid1q  bid2q  bid3q  bid4q  bid5q  bid6q  bid7q  \
4780983  16.15   16.16   8700   3500   3700   4300  10700   7960  47600
4780984  16.15   16.16   8700   3500   3700   4300  10700   7960  47600
4780985  16.15   16.16   6700   3493   3700   4300  10700   7960  47600
4780986  16.15   16.16   6700   3493   3700   4300  10700   7960  47600

         bid8q       bid9q  bid10q  ask1q  ask2q  ask3q  ask4q  ask5q  ask6q  \
4780983   6200       12600   12600   8700   8705  38200  32900   6999   9800
4780984   6200       12600   12600   8700   8705  38200  32900   6999   9800
4780985   6200  2034260490   12614   8700   8705  38200  32900   6999   9800
4780986   6200  2034260490   12614   8700   8705  38200  32900   6999   9800

         ask7q  ask8q  ask9q  ask10q  ordering  has_missing
4780983   1100    500   2108    2800     18702            0
4780984   1100    500   2108    2800     18703            0
4780985   1100    500   2108    2800     18704            0
4780986   1100    500   2108    2800     18705            0
0:05:01.006441

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:325: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
25,2300351,20160331,25.50,24.94,27.43,24.91,25.19,11760773.0,3.077707e+08
56,2002452,20160331,12.01,11.82,12.46,11.81,12.10,31750620.0,3.842158e+08
58,2002302,20160331,16.34,16.28,16.35,15.92,16.00,7627798.0,1.224362e+08
46,2002776,20160331,40.00,37.77,41.55,39.00,41.55,20452452.0,8.366471e+08
0,2300474,20160331,16.37,13.64,19.64,16.37,19.64,14142.0,2.749719e+05
0,2300336,20160331,37.80,42.00,37.80,37.80,37.80,522800.0,1.976184e+07

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
680,2002302,20160331,16.34,16.28,16.35,15.92,14.434,429258505268,6195925031832
815,2002452,20160331,12.01,11.88,12.46,11.81,12.100,31750620,384215816
1090,2002776,20160331,40.00,75.72,41.55,39.00,41.550,20452452,836647126
1399,2300336,20160331,37.80,0.00,37.80,37.80,37.800,522800,19761840
1412,2300351,20160331,25.50,25.00,27.43,24.91,25.190,11760773,307770714
1513,2300474,20160331,16.37,0.00,19.64,16.37,19.640,14142,274971

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:04.064364
no massive missing

array([2300474], dtype=int32)

0:01:50.514575

20160331

SZ finished
0:00:41.998645
0:01:48.174202
0:01:50.984539
1
2
3
4
0:04:35.314246

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:325: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
59,2300146,20160401,16.15,16.30,16.15,15.00,15.22,42132868.0,6.489923e+08
59,2300095,20160401,10.38,10.42,10.38,10.10,10.33,4133986.0,4.234290e+07
2,2300349,20160401,33.00,33.34,33.00,31.47,32.17,5506895.0,1.766972e+08
59,2300077,20160401,20.10,20.18,20.10,18.50,19.00,67428533.0,1.295217e+09
59,2300228,20160401,17.00,17.44,17.00,15.76,16.27,62068885.0,1.017417e+09
0,2002048,20160401,15.99,17.40,16.99,15.66,16.22,50899631.0,8.230695e+08
59,2300453,20160401,36.50,37.29,36.50,33.56,34.51,13814126.0,4.799696e+08

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
447,2002048,20160401,15.99,0.00,16.99,15.66,16.22,50899631,823069479
1173,2300077,20160401,20.10,40.45,20.10,18.50,19.00,67428533,1295216700
1191,2300095,20160401,10.38,10.47,10.38,10.10,10.33,4133986,42342902
1237,2300146,20160401,16.15,33.20,16.15,15.00,15.22,42132868,648992325
1307,2300228,20160401,17.00,27.91,17.00,15.76,16.27,62068885,1017417068
1411,2300349,20160401,33.00,33.40,33.00,31.47,32.17,5506895,176697223
1495,2300453,20160401,36.50,74.78,36.50,33.56,34.51,13814126,479969645

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:03.437018
no massive missing

array([], dtype=int32)

has missing!!!!!!!!!!!!!!!!!!!!!!!
1
0:01:49.742017

20160401

SZ finished
0:00:44.669075
0:02:22.900474
0:01:46.733085
1
2
3
4
0:04:22.500558

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:325: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
17,2300324,20160405,23.04,23.04,24.25,23.04,23.19,24139779.0,5.668183e+08
60,2002660,20160405,13.47,13.06,14.37,13.20,14.37,30286520.0,4.257153e+08
60,2002740,20160405,61.00,61.42,62.69,59.95,61.75,9586061.0,5.872600e+08
0,2300153,20160405,17.05,18.94,17.05,17.05,17.05,1867200.0,3.183576e+07
7,2002684,20160405,26.36,23.96,26.36,25.06,26.36,6426038.0,1.689826e+08
60,2000667,20160405,4.00,3.99,4.07,3.97,4.06,62662672.0,2.526401e+08

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
198,2000667,20160405,4.00,4.01,4.07,3.97,4.06,62662672,252640089
992,2002660,20160405,13.47,13.06,14.37,13.20,14.16,24788991,346901200
1015,2002684,20160405,26.36,0.00,26.36,25.06,26.36,6426038,168982611
1057,2002740,20160405,61.00,61.42,62.69,59.95,61.43,9243162,565163902
1236,2300153,20160405,17.05,0.00,17.05,17.05,17.05,1867200,31835760
1385,2300324,20160405,23.04,46.13,24.25,23.04,23.19,24139779,566818288

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:03.634204
no massive missing

array([], dtype=int32)

0:01:59.334040

20160405

SZ finished
0:00:44.164298
0:02:01.710081
0:01:38.786275
1
2
3
4
0:04:02.565945

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:325: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
61,2002138,20160406,14.30,14.33,14.68,14.15,14.29,20800104.0,2.994206e+08
61,2002503,20160406,12.00,11.82,12.48,11.80,12.20,9835767.0,1.199836e+08
61,2000563,20160406,7.01,7.15,7.49,6.90,7.22,122043404.0,8.875286e+08

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
135,2000563,20160406,7.01,14.32,7.49,6.90,7.22,122043404,887528617
526,2002138,20160406,14.30,14.53,14.68,14.15,14.29,20800104,299420608
854,2002503,20160406,12.00,15.39,12.48,11.80,12.20,9835767,119983627

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:03.249266
no massive missing

array([], dtype=int32)

0:02:03.565531

20160406

SZ finished
0:00:42.019877
0:02:11.637758
0:01:56.960367
1
2
3
4
0:04:45.583145

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:325: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
62,2300233,20160407,24.99,25.05,25.19,24.33,24.39,3015784.0,7.448364e+07
62,2300144,20160407,28.80,28.75,28.90,27.65,27.69,11826803.0,3.316451e+08

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
1222,2300144,20160407,28.80,28.82,28.90,27.65,27.69,11826803,331645067
1299,2300233,20160407,24.99,25.20,25.19,24.33,24.39,3015784,74483639

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:03.597522
no massive missing

array([], dtype=int32)

0:02:06.789777

20160407

SZ finished
0:00:45.937172
0:02:23.952110
0:01:46.344042
1
2
3
4
0:03:54.012781

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:325: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
38,2002174,20160408,46.50,48.79,47.54,43.91,43.91,44378436.0,1.979918e+09
0,2002631,20160408,26.16,29.07,26.16,26.16,26.16,570600.0,1.492690e+07
63,2002745,20160408,31.12,31.55,31.65,31.01,31.51,1133875.0,3.551965e+07
57,2002258,20160408,12.00,12.26,12.00,11.03,11.28,24419547.0,2.774351e+08

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
558,2002174,20160408,46.50,146.54,47.54,43.91,43.91,44378436,1979918155
632,2002258,20160408,12.00,24.71,12.00,11.03,11.28,24419547,277435065
965,2002631,20160408,26.16,0.00,26.16,26.16,26.16,570600,14926896
1058,2002745,20160408,31.12,31.67,31.65,31.01,31.51,1133875,35519647

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:03.162849
no massive missing

array([], dtype=int32)

0:01:50.766012

20160408

SZ finished
0:00:43.751316
0:02:21.898503
0:01:37.703195
1
2
3
4
0:04:00.838973

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:325: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
59,2002247,20160411,15.28,15.09,15.82,14.78,15.45,16699125.0,2.565202e+08
64,2002740,20160411,22.60,22.16,23.27,21.00,22.40,36883395.0,8.172858e+08
4,2300430,20160411,50.61,46.01,50.61,50.61,50.61,283360.0,1.434085e+07
64,2300414,20160411,33.30,32.20,33.98,32.82,33.62,2748777.0,9.191917e+07

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
615,2002247,20160411,15.28,30.38,15.82,14.78,15.45,16699125,256520232
1045,2002740,20160411,22.60,66.58,23.27,21.00,22.40,36883395,817285829
1445,2300414,20160411,33.30,32.32,33.98,32.82,33.62,2748777,91919166
1457,2300430,20160411,50.61,0.00,50.61,50.61,50.61,283360,14340849

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:03.402341
no massive missing

array([], dtype=int32)

0:01:49.276696

20160411

SZ finished
0:00:44.729170
0:02:21.656463
0:01:41.140262
1
2
3
4
0:03:52.392316

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:325: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
57,2002730,20160412,42.84,40.99,43.00,38.14,41.05,5352887.0,2.210150e+08
65,2300443,20160412,93.00,93.79,97.50,86.00,87.22,3940995.0,3.624203e+08
46,2002596,20160412,28.61,26.01,28.61,25.86,25.98,18960888.0,5.111159e+08
0,2000980,20160412,6.82,6.20,6.82,6.82,6.82,129468.0,8.829718e+05
33,2300355,20160412,14.99,14.51,15.30,14.40,14.53,30301912.0,4.488812e+08
65,2000661,20160412,105.50,105.64,107.60,103.50,105.20,1532092.0,1.602882e+08
64,2000068,20160412,10.42,10.38,11.42,10.42,11.37,50333164.0,5.604371e+08
60,2002245,20160412,9.30,8.70,9.57,8.50,9.02,79333516.0,7.190068e+08
33,2002286,20160412,16.60,16.53,16.72,16.00,16.16,5921978.0,9.595002e+07
64,2000590,20160412,22.70,22.12,22.97,21.00,21.30,9073154.0,1.991716e+08
64,2002124,20160412,27.10,27.00,29.68,25.91,27.70,11622203.0,3.206302e+08
55,2300459,20160412,37.30,38.67,41.18,36.02,37.43,18061340.0,7.014222e+08
65,2300024,20160412,28.10,28.01,28.66,26.90,27.56,62444696.0,1.736959e+09
55,2300257,20160412,18.00,17.80,18.79,17.04,17.18,32168272.0,5.740220e+08
65,2002658,20160412,19.68,19.71,19.90,19.07,19.30,7257353.0,1.405231e+08
55,2002709,20160412,92.40,84.00,92.40,88.88,89.64,10513111.0,9.650692e+08
17,2300425,20160412,35.04,31.85,35.04,35.04,35.04,356984.0,1.250872e+07

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
45,2000068,20160412,10.42,0.00,11.42,10.42,11.37,50333164,560437109
148,2000590,20160412,22.70,0.00,22.97,21.00,21.30,9073154,199171604
188,2000661,20160412,105.50,106.44,107.60,103.50,105.20,1532092,160288249
381,2000980,20160412,6.82,0.00,6.82,6.82,6.82,129468,882971
503,2002124,20160412,27.10,0.00,29.68,25.91,27.70,11622203,320630234
615,2002245,20160412,9.30,0.00,9.57,8.50,9.02,79333516,719006812
651,2002286,20160412,16.60,16.59,16.72,16.00,16.16,5921978,95950018
929,2002596,20160412,28.61,0.00,28.61,25.86,25.98,18960888,511115904
981,2002658,20160412,19.68,19.80,19.90,19.07,19.30,7257353,140523119
1024,2002709,20160412,92.40,0.00,92.40,88.88,89.64,10513111,965069234
1040,2002730,20160412,42.84,0.00,43.00,38.14,41.05,5352887,221015014
1113,2300024,20160412,28.10,61.73,28.66,26.90,27.56,62444696,1736958696
1315,2300257,20160412,18.00,0.00,18.79,17.04,17.18,32168272,574022034
1396,2300355,20160412,14.99,0.00,15.30,14.40,14.53,30301912,448881171
1458,2300425,20160412,35.04,0.00,35.04,35.04,35.04,356984,12508719
1471,2300443,20160412,93.00,188.10,97.50,86.00,87.22,3940995,362420301
1484,2300459,20160412,37.30,0.00,41.18,36.02,37.43,18061340,701422201

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:03.143997
no massive missing

array([], dtype=int32)

0:01:42.011861

20160412

SZ finished
0:00:39.227339
0:02:37.087441
0:02:00.925858
1
2
3
4
0:04:05.553057

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:325: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
45,2000810,20160413,20.07,20.60,21.25,19.60,20.13,44889940.0,9.183933e+08
64,2300175,20160413,9.48,9.40,10.19,9.16,9.77,29422476.0,2.823644e+08
59,2300194,20160413,19.50,18.67,19.64,18.82,18.90,5122229.0,9.884486e+07
66,2002727,20160413,24.60,24.91,25.99,24.01,24.70,21017606.0,5.235356e+08
0,2300313,20160413,17.70,17.70,19.47,16.50,19.47,24756119.0,4.465622e+08
61,2300383,20160413,39.60,38.98,40.66,38.99,39.62,12371433.0,4.952900e+08
66,2000679,20160413,13.33,13.30,13.85,13.30,13.50,14502356.0,1.966991e+08
66,2002541,20160413,17.35,17.22,17.63,17.23,17.35,4423202.0,7.715045e+07
48,2000016,20160413,5.61,5.10,5.61,5.61,5.61,4555411.0,2.555586e+07

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
9,2000016,20160413,5.61,0.00,5.610,5.61,5.6100,4555411,25555855
202,2000679,20160413,13.33,13.30,-128047.817,13.30,35954.0636,821824186,29174584590572
283,2000810,20160413,20.07,0.00,21.250,19.60,20.1300,44889940,918393282
878,2002541,20160413,17.35,17.29,17.630,17.23,17.3500,4423202,77150454
1035,2002727,20160413,24.60,50.32,25.990,24.01,24.7000,21017606,523535649
1243,2300175,20160413,9.48,0.00,10.190,9.16,9.7700,29422476,282364441
1258,2300194,20160413,19.50,0.00,19.640,18.82,18.9000,5122229,98844855
1360,2300313,20160413,17.70,0.00,19.470,16.50,19.4700,24756119,446562204
1419,2300383,20160413,39.60,39.00,40.660,38.99,39.6200,12371433,495290005

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:04.001780
no massive missing

array([], dtype=int32)

0:02:04.640570

20160413

SZ finished
0:00:46.250111
0:02:20.562310
0:01:55.388723
1
2
3
4
0:04:22.604855

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:325: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
51,2000627,20160414,8.09,8.02,8.10,7.97,8.07,18345832.0,1.473815e+08
67,2300301,20160414,8.63,8.56,8.93,8.55,8.91,14814013.0,1.289940e+08
67,2000014,20160414,19.40,19.37,19.95,19.40,19.75,4490719.0,8.861456e+07
0,2002544,20160414,32.62,29.65,32.62,29.68,30.60,39800720.0,1.218144e+09
67,2000012,20160414,11.36,11.28,11.43,11.15,11.33,19702198.0,2.217702e+08
62,2002077,20160414,17.28,16.82,17.30,16.18,16.80,8935865.0,1.500831e+08
64,2300055,20160414,18.60,18.16,19.23,18.50,18.69,30186840.0,5.705978e+08
62,2300209,20160414,30.60,29.72,32.69,29.72,30.12,17181581.0,5.329641e+08
46,2000890,20160414,8.89,8.08,8.89,8.89,8.89,154601.0,1.374403e+06
66,2002285,20160414,9.85,9.80,9.95,9.60,9.75,33919145.0,3.299854e+08
62,2002604,20160414,12.00,11.73,12.28,11.62,11.83,27382384.0,3.273197e+08

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
7,2000012,20160414,11.36,11.28,11.43,11.16,13655.2012,146432029386930,54003626287309599
8,2000014,20160414,19.40,19.37,19.95,19.40,19.7100,3162415,62393829
174,2000627,20160414,8.09,8.03,8.10,7.97,8.0700,18345832,147381519
327,2000890,20160414,8.89,0.00,8.89,8.89,8.8900,154601,1374402
460,2002077,20160414,17.28,0.00,17.30,16.18,16.8000,8935865,150083102
649,2002285,20160414,9.85,13.76,9.95,9.60,9.7500,33919145,329985412
879,2002544,20160414,32.62,0.00,32.62,29.68,30.6000,39800720,1218144074
935,2002604,20160414,12.00,0.00,12.28,11.62,11.8300,27382384,327319707
1137,2300055,20160414,18.60,0.00,19.23,18.50,18.6900,30186840,570597761
1273,2300209,20160414,30.60,0.00,32.69,29.72,30.1200,17181581,532964134
1352,2300301,20160414,8.63,8.57,8.93,8.55,8.9100,14814013,128993975

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:03.192310
no massive missing

array([], dtype=int32)

0:02:23.188982

20160414

SZ finished
0:00:45.316437
0:04:48.129619
0:01:46.386200
1
2
3
4
0:03:49.598683

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:325: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
37,2000626,20160415,71.80,68.31,74.78,69.20,70.21,14907137.0,1.073153e+09
6,2002427,20160415,15.99,14.54,15.99,15.99,15.99,558501.0,8.930431e+06
68,2000598,20160415,5.95,5.94,5.96,5.87,5.90,29174935.0,1.722908e+08
68,2300009,20160415,27.68,27.85,28.66,27.00,27.54,21674215.0,6.022564e+08
67,2002005,20160415,6.40,6.15,6.66,6.33,6.39,89344275.0,5.789049e+08
16,2002082,20160415,18.23,18.26,20.09,18.23,19.39,22778911.0,4.382713e+08
62,2000686,20160415,13.36,13.00,13.45,13.17,13.23,52812930.0,7.019505e+08
68,2300360,20160415,20.25,20.48,20.79,20.15,20.30,4448659.0,9.091821e+07
65,2300448,20160415,93.70,85.18,93.70,86.33,86.66,3485764.0,3.124976e+08
0,2000034,20160415,25.16,27.95,25.16,25.16,25.16,917900.0,2.309436e+07
68,2002772,20160415,27.10,27.63,30.04,26.85,27.99,22437759.0,6.384185e+08
0,2002018,20160415,20.86,23.18,20.86,20.86,20.86,1893000.0,3.948798e+07
0,2002793,20160415,14.36,11.97,17.24,14.36,17.24,15918.0,2.736545e+05

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
24,2000034,20160415,25.16,0.00,25.16,25.16,25.16,917900,23094364
156,2000598,20160415,5.95,5.98,5.96,5.87,5.90,29174935,172290781
175,2000626,20160415,71.80,0.00,74.78,69.20,70.21,14907137,1073152892
210,2000686,20160415,13.36,0.00,13.45,13.17,13.23,52812930,701950528
403,2002005,20160415,6.40,0.00,6.66,6.33,6.39,89344275,578904850
414,2002018,20160415,20.86,0.00,20.86,20.86,20.86,1893000,39487980
469,2002082,20160415,18.23,18.36,20.09,18.23,19.39,22778911,438271282
778,2002427,20160415,15.99,0.00,15.99,15.99,15.99,558501,8930430
1070,2002772,20160415,27.10,56.79,30.04,26.85,27.99,22437759,638418519
1089,2002793,20160415,14.36,0.00,17.24,14.36,17.24,15918,273654
1098,2300009,20160415,27.68,36.35,28.66,27.00,27.54,21674215,602256413
1395,2300360,20160415,20.25,30.92,20.79,20.15,20.30,4448659,90918214
1468,2300448,20160415,93.70,0.00,93.70,86.33,86.66,3485764,312497573

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:03.961397
no massive missing

array([2002793], dtype=int32)

0:01:50.822650

20160415

SZ finished
0:00:38.758273
0:02:28.974239
0:01:48.160097
1
2
3
4
0:03:58.035936

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:325: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
69,2000598,20160418,5.89,5.90,5.89,5.76,5.78,31473072.0,1.826138e+08
61,2000856,20160418,13.00,12.66,13.29,12.11,12.83,17089111.0,2.201765e+08
10,2000669,20160418,16.82,15.29,16.82,16.82,16.82,4230695.0,7.116029e+07
69,2300059,20160418,24.36,25.11,24.41,23.50,23.85,107982809.0,2.587360e+09
69,2002374,20160418,7.70,7.69,7.95,7.51,7.60,25798068.0,1.990374e+08
60,2300342,20160418,35.51,36.70,38.00,35.51,37.83,2604390.0,9.690009e+07
64,2000488,20160418,8.96,8.80,9.35,8.90,8.92,50862597.0,4.612567e+08
64,2002616,20160418,20.52,19.52,21.44,20.02,20.48,8999988.0,1.849693e+08
54,2300343,20160418,90.00,86.21,92.67,86.20,91.35,1866018.0,1.653471e+08
69,2300408,20160418,17.10,17.34,17.30,16.81,16.88,7848995.0,1.332848e+08
69,2300316,20160418,10.08,10.22,10.15,9.81,9.83,18920497.0,1.883669e+08
0,2000829,20160418,13.44,12.22,13.44,13.44,13.44,3447187.0,4.633019e+07
64,2000410,20160418,19.00,18.79,20.47,18.80,19.25,67032113.0,1.313948e+09
69,2300403,20160418,48.60,48.71,48.60,47.22,47.64,1225753.0,5.852284e+07
46,2002697,20160418,5.89,5.35,5.89,5.89,5.89,19989535.0,1.177384e+08

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
73,2000410,20160418,19.00,0.00,20.47,18.80,19.25,67032113,1313948163
89,2000488,20160418,8.96,0.00,9.35,8.90,8.92,50862597,461256718
158,2000598,20160418,5.89,5.90,5.89,5.76,5.78,23695580,137619046
199,2000669,20160418,16.82,0.00,16.82,16.82,16.82,4230695,71160289
302,2000829,20160418,13.44,0.00,13.44,13.44,13.44,3447187,46330193
313,2000856,20160418,13.00,0.00,13.29,12.11,12.83,17089111,220176495
731,2002374,20160418,7.70,16.96,7.95,7.51,7.60,25798068,199037388
943,2002616,20160418,20.52,0.00,21.44,20.02,20.48,8999988,184969319
1015,2002697,20160418,5.89,0.00,5.89,5.89,5.89,19989535,117738361
1140,2300059,20160418,24.36,45.29,24.41,23.50,23.85,107982809,2587360210
1361,2300316,20160418,10.08,10.28,10.15,9.81,9.83,18920497,188366896
1381,2300342,20160418,35.51,0.00,38.00,35.51,37.83,2604390,96900089
1382,2300343,20160418,90.00,0.00,92.67,86.20,91.35,1866018,165347141
1436,2300403,20160418,48.60,49.26,48.60,47.22,47.64,1225753,58522839
1440,2300408,20160418,17.10,35.03,17.30,16.81,16.88,7848995,133284832

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:03.186544
no massive missing

array([], dtype=int32)

0:01:39.864365

20160418

SZ finished
0:00:42.873996
0:02:03.565250
0:01:34.380314
1
2
3
4
0:03:48.595724

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:325: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
65,2002504,20160419,29.88,32.90,30.98,29.61,29.61,39525179.0,1.183536e+09
64,2002235,20160419,20.55,20.99,20.78,19.80,20.19,10733454.0,2.161512e+08
65,2300266,20160419,41.50,40.39,41.86,39.81,39.98,6384585.0,2.602876e+08
70,2002585,20160419,10.15,10.15,10.29,10.07,10.16,4638388.0,4.707226e+07
70,2002695,20160419,32.05,31.62,32.30,31.70,31.82,1014554.0,3.234172e+07
45,2000712,20160419,21.38,21.33,22.38,21.38,21.80,33060880.0,7.230347e+08
70,2300227,20160419,26.36,26.68,26.67,25.68,26.40,8617443.0,2.249650e+08
53,2002353,20160419,17.59,17.59,17.59,15.83,16.76,33694460.0,5.667285e+08
69,2002009,20160419,16.05,16.35,16.33,15.79,15.92,11848472.0,1.890105e+08
70,2000936,20160419,10.09,9.97,10.15,9.75,9.89,15768569.0,1.565365e+08
60,2002725,20160419,21.46,20.64,22.14,20.90,21.22,6086516.0,1.301001e+08
0,2300508,20160419,26.51,20.08,28.92,26.51,28.92,3170.0,9.047140e+04
0,2002619,20160419,34.95,31.77,34.95,33.88,34.95,5548946.0,1.934336e+08
60,2300461,20160419,49.50,48.50,51.40,49.26,49.46,2372188.0,1.186898e+08
69,2002173,20160419,18.60,18.98,18.94,18.03,18.03,11560016.0,2.130265e+08
64,2002061,20160419,7.41,7.06,7.41,6.96,7.01,33219239.0,2.406715e+08
70,2300072,20160419,27.04,26.72,27.09,25.82,26.40,23732277.0,6.240662e+08
0,2000023,20160419,33.58,30.53,33.58,33.58,33.58,5726211.0,1.922862e+08

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
16,2000023,20160419,33.58,0.00,33.58,33.58,33.58,5726211,192286165
230,2000712,20160419,21.38,0.00,22.38,21.38,21.80,33060880,723034743
361,2000936,20160419,10.09,10.00,10.15,9.75,9.89,15768569,156536461
408,2002009,20160419,16.05,0.00,16.33,15.79,15.92,11848472,189010460
455,2002061,20160419,7.41,0.00,7.41,6.96,7.01,33219239,240671503
556,2002173,20160419,18.60,0.00,18.94,18.03,18.03,11560016,213026515
610,2002235,20160419,20.55,31.48,20.78,19.80,20.19,10733454,216151246
710,2002353,20160419,17.59,0.00,17.59,15.83,16.76,33694460,566728466
846,2002504,20160419,29.88,0.00,30.98,29.61,29.61,39525179,1183536498
915,2002585,20160419,10.15,10.17,10.29,10.07,10.16,4638388,47072260
943,2002619,20160419,34.95,0.00,34.95,33.88,34.95,5548946,193433607
1012,2002695,20160419,32.05,31.74,32.30,31.70,31.82,1014554,32341717
1034,2002725,20160419,21.46,0.00,22.14,20.90,21.22,6086516,130100119
1149,2300072,20160419,27.04,39.97,27.09,25.82,26.40,23732277,624066202
1283,2300227,20160419,26.36,26.69,26.67,25.68,26.40,8617443,224965025
1320,2300266,20160419,41.50,0.00,41.86,39.81,39.98,6384585,260287551
1478,2300461,20160419,49.50,0.00,51.40,49.26,49.46,2372188,118689845
1517,2300508,20160419,26.51,0.00,28.92,26.51,28.92,3170,90471

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:03.201390
no massive missing

array([], dtype=int32)

0:02:07.593781

20160419

SZ finished
0:00:42.644749
0:02:12.122388
0:02:07.536193
1
2
3
4
0:03:56.822347

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:325: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
64,2300281,20160420,14.94,14.67,15.49,13.75,14.50,13748153.0,2.038544e+08
63,2002730,20160420,19.24,19.19,20.18,17.30,18.37,13514384.0,2.556865e+08
71,2000517,20160420,5.27,5.22,5.33,4.72,4.88,60078820.0,3.030218e+08
71,2300255,20160420,8.80,8.78,8.86,7.95,8.28,11835926.0,9.929378e+07
70,2002336,20160420,12.82,13.48,13.18,12.81,12.81,4366600.0,5.604587e+07
6,2000980,20160420,11.78,10.97,12.07,11.05,11.39,178732972.0,2.077995e+09
71,2002538,20160420,10.58,10.56,10.60,9.80,10.03,18485907.0,1.877505e+08
66,2002716,20160420,15.70,14.59,16.05,15.11,15.70,87072406.0,1.367298e+09
70,2000059,20160420,8.50,8.41,8.95,7.88,8.07,74599511.0,6.295678e+08
71,2002643,20160420,42.99,42.70,44.50,39.80,41.75,13344209.0,5.574241e+08
51,2002047,20160420,12.54,11.40,12.54,11.41,11.96,74895998.0,9.103844e+08
71,2300296,20160420,25.08,25.08,25.88,22.79,23.70,11195845.0,2.724972e+08
71,2300375,20160420,20.55,20.42,20.81,19.00,19.60,4787942.0,9.503866e+07
71,2002184,20160420,27.79,27.55,27.95,24.88,25.30,6695741.0,1.752917e+08
70,2000933,20160420,5.33,5.61,5.45,5.33,5.33,38512000.0,2.055948e+08

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
41,2000059,20160420,8.50,0.00,8.95,7.88,8.07,74599511,629567794
103,2000517,20160420,5.27,5.25,5.33,4.72,4.88,60078820,303021794
358,2000933,20160420,5.33,0.00,5.45,5.33,5.33,38512000,205594819
386,2000980,20160420,11.78,10.99,12.07,11.05,11.39,178732972,2077995208
443,2002047,20160420,12.54,0.00,12.54,11.41,11.96,74895998,910384449
566,2002184,20160420,27.79,27.70,27.95,24.88,25.30,6695741,175291695
697,2002336,20160420,12.82,0.00,13.18,12.81,12.81,4366600,56045873
876,2002538,20160420,10.58,10.66,10.60,9.80,10.03,18485907,187750533
967,2002643,20160420,42.99,43.00,44.50,39.80,41.75,13344209,557424074
1028,2002716,20160420,15.70,0.00,16.05,15.11,15.70,87072406,1367297714
1040,2002730,20160420,19.24,42.31,20.18,17.30,18.37,13514384,255686473
1311,2300255,20160420,8.80,15.85,8.86,7.95,8.28,11835926,99293780
1335,2300281,20160420,14.94,0.00,15.49,13.75,14.50,13748153,203854423
1346,2300296,20160420,25.08,25.15,25.88,22.79,23.70,11195845,272497157
1409,2300375,20160420,20.55,20.62,20.81,19.00,19.60,4787942,95038659

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:03.410869
no massive missing

array([], dtype=int32)

0:01:58.134286

20160420

SZ finished
0:00:47.132772
0:02:01.831731
0:01:33.054052
1
2
3
4
0:03:51.426157

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:325: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
12,2300392,20160421,35.09,31.90,35.09,31.90,32.14,26052511.0,8.906815e+08
67,2002092,20160421,7.65,7.64,7.88,7.59,7.66,22719790.0,1.760014e+08
67,2300420,20160421,44.57,47.22,51.94,43.33,51.00,3961384.0,1.901419e+08
0,2002633,20160421,20.77,18.88,20.77,20.77,20.77,208800.0,4.336776e+06
0,2002652,20160421,13.28,12.07,13.28,13.28,13.28,2888411.0,3.835810e+07
66,2002101,20160421,20.19,21.49,20.90,19.88,20.10,6462927.0,1.315858e+08
48,2000913,20160421,13.58,14.29,13.58,13.58,13.58,1832100.0,2.487992e+07
0,2000929,20160421,13.75,12.50,13.75,13.75,13.75,827847.0,1.138290e+07
0,2300437,20160421,33.95,37.72,33.95,33.95,33.95,354600.0,1.203867e+07
64,2002673,20160421,24.56,25.58,25.47,24.08,24.23,125843000.0,3.093119e+09
62,2300157,20160421,11.00,11.11,11.68,10.57,11.16,76096560.0,8.575438e+08
72,2300314,20160421,24.06,24.05,24.35,23.03,23.49,6597004.0,1.579311e+08
0,2002006,20160421,16.17,14.70,16.17,14.00,14.23,91734755.0,1.392280e+09
63,2300222,20160421,24.53,25.54,24.95,23.40,23.50,24999255.0,6.064768e+08

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
347,2000913,20160421,13.58,0.00,13.58,13.58,13.58,1832100,24879918
356,2000929,20160421,13.75,0.00,13.75,13.75,13.75,827847,11382896
406,2002006,20160421,16.17,0.00,16.17,14.00,14.23,91734755,1392280437
482,2002092,20160421,7.65,7.66,7.88,7.59,7.66,22719790,176001407
491,2002101,20160421,20.19,0.00,20.90,19.88,20.10,6462927,131585757
958,2002633,20160421,20.77,0.00,20.77,20.77,20.77,208800,4336776
976,2002652,20160421,13.28,0.00,13.28,13.28,13.28,2888411,38358098
997,2002673,20160421,24.56,0.00,25.47,24.08,24.23,125843000,3093118671
1229,2300157,20160421,11.00,0.00,11.68,10.57,11.16,76096560,857543813
1282,2300222,20160421,24.53,25.61,24.95,23.40,23.50,24999255,606476777
1360,2300314,20160421,24.06,24.09,24.35,23.03,23.49,6597004,157931078
1425,2300392,20160421,35.09,0.00,35.09,31.90,32.14,26052511,890681462
1451,2300420,20160421,44.57,0.00,51.94,43.33,51.00,3961384,190141921
1462,2300437,20160421,33.95,0.00,33.95,33.95,33.95,354600,12038670

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:03.059947
no massive missing

array([], dtype=int32)

0:01:43.754083

20160421

SZ finished
0:00:37.035359
0:02:00.742399
0:01:42.767292
1
2
3
4
0:03:30.129538

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:325: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
23,2300054,20160422,18.55,20.23,20.35,18.55,20.29,5616279.0,1.110958e+08
73,2300215,20160422,11.05,11.19,11.28,10.90,11.10,5867485.0,6.518338e+07
73,2000540,20160422,7.06,7.00,7.06,6.83,6.96,38833486.0,2.697782e+08
73,2002091,20160422,12.73,13.00,13.26,12.23,13.10,25680937.0,3.297581e+08
67,2002239,20160422,12.66,13.71,13.18,12.44,12.88,13368622.0,1.709383e+08
0,2000153,20160422,11.00,10.44,11.48,10.46,11.48,19966844.0,2.253845e+08
4,2002326,20160422,17.00,15.84,17.42,16.01,17.42,18155715.0,3.125673e+08
64,2300429,20160422,88.00,95.45,95.07,87.00,93.66,2257003.0,2.054805e+08
68,2300020,20160422,16.31,18.12,16.69,16.31,16.31,39934532.0,6.553858e+08
73,2002753,20160422,24.62,25.26,25.60,24.62,24.85,1441375.0,3.599094e+07
66,2300383,20160422,35.30,39.10,36.70,35.19,36.05,11535282.0,4.132457e+08
27,2002707,20160422,21.04,21.05,21.68,20.64,21.30,6918313.0,1.469565e+08
38,2002168,20160422,13.95,14.32,15.30,13.41,14.10,149370876.0,2.157480e+09
69,2300085,20160422,40.73,45.26,43.20,40.73,41.92,17095600.0,7.190123e+08

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
60,2000153,20160422,11.00,0.00,11.48,10.46,11.48,19966844,225384459
122,2000540,20160422,7.06,7.20,7.06,6.83,6.96,38833486,269778195
480,2002091,20160422,12.73,20.00,13.26,12.23,13.10,25680937,329758105
553,2002168,20160422,13.95,0.00,15.30,13.41,14.10,149370876,2157479682
615,2002239,20160422,12.66,0.00,13.18,12.44,12.88,13368622,170938312
691,2002326,20160422,17.00,0.00,17.42,16.01,17.42,18155715,312567257
1024,2002707,20160422,21.04,42.15,21.68,20.64,21.30,6918313,146956473
1062,2002753,20160422,24.62,38.07,25.60,24.62,24.85,1441375,35990939
1113,2300020,20160422,16.31,0.00,16.69,16.31,16.31,39934532,655385816
1140,2300054,20160422,18.55,0.00,20.35,18.55,20.29,5616279,111095796
1167,2300085,20160422,40.73,0.00,43.20,40.73,41.92,17095600,719012277
1280,2300215,20160422,11.05,11.20,11.28,10.90,11.10,5867485,65183382
1420,2300383,20160422,35.30,0.00,36.70,35.19,36.05,11535282,413245700
1460,2300429,20160422,88.00,0.00,95.07,87.00,93.66,2257003,205480452

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:03.234659
no massive missing

array([], dtype=int32)

has missing!!!!!!!!!!!!!!!!!!!!!!!
1
0:01:37.270364

20160422

SZ finished
0:00:37.012102
0:02:00.130549
0:01:43.159431
1
2
3
4
0:03:43.482798

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:325: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
57,2002057,20160425,12.49,11.97,13.17,12.21,12.45,17784659.0,2.244135e+08
68,2300123,20160425,14.84,15.62,15.34,14.36,14.90,6578517.0,9.855842e+07
74,2300363,20160425,20.94,20.81,21.45,20.51,21.18,2750679.0,5.757589e+07
74,2002028,20160425,10.92,10.92,10.92,10.55,10.75,6730662.0,7.203103e+07
65,2300166,20160425,24.37,25.70,24.40,23.13,23.13,19067321.0,4.448105e+08
65,2300279,20160425,36.48,39.18,39.13,36.48,37.66,3233461.0,1.217896e+08
66,2300307,20160425,15.79,15.99,16.51,15.20,16.00,22525179.0,3.618988e+08
0,2300509,20160425,17.45,13.22,19.04,17.45,19.04,10058.0,1.914907e+05

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
425,2002028,20160425,10.92,13.30,10.92,10.55,10.75,6730662,72031029
452,2002057,20160425,12.49,0.00,13.17,12.21,12.45,17784659,224413503
1194,2300123,20160425,14.84,0.00,15.34,14.36,14.90,6578517,98558417
1233,2300166,20160425,24.37,0.00,24.40,23.13,23.13,19067321,444810492
1333,2300279,20160425,36.48,0.00,39.13,36.48,37.66,3233461,121789645
1352,2300307,20160425,15.79,0.00,16.51,15.20,16.00,22525179,361898784
1396,2300363,20160425,20.94,20.85,21.45,20.51,21.18,2750679,57575892
1521,2300509,20160425,17.45,0.00,19.04,17.45,19.04,10058,191490

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:02.950734
no massive missing

array([], dtype=int32)

0:01:40.451664

20160425

SZ finished
0:00:40.279152
0:02:10.335804
0:01:40.576577
1
2
3
4
0:03:47.139043

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:325: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
75,2002750,20160426,30.96,30.96,31.26,30.40,31.02,1045230.0,3.219303e+07
70,2000413,20160426,7.58,7.51,7.63,7.50,7.60,19738002.0,1.493607e+08
69,2300301,20160426,8.40,9.11,8.65,8.22,8.50,14859531.0,1.253423e+08
75,2000673,20160426,14.18,14.23,14.88,14.05,14.79,13263203.0,1.925060e+08
75,2000656,20160426,3.85,3.84,3.90,3.83,3.87,21787274.0,8.408186e+07
75,2300485,20160426,49.81,50.22,50.68,47.80,49.35,2807980.0,1.371448e+08
75,2002166,20160426,11.99,11.93,12.10,11.88,12.02,5339832.0,6.405365e+07
75,2002732,20160426,25.41,25.50,26.11,25.40,25.94,1958580.0,5.060152e+07
0,2002485,20160426,15.15,15.14,16.59,14.51,16.07,23403362.0,3.629117e+08
75,2300339,20160426,31.29,31.29,31.92,31.00,31.90,3098751.0,9.765140e+07
66,2002135,20160426,9.49,10.03,10.01,9.32,9.87,72619668.0,7.017008e+08
75,2002653,20160426,15.70,15.84,16.20,15.66,15.89,1991953.0,3.153830e+07
75,2300190,20160426,19.86,19.65,20.00,19.50,20.00,2920333.0,5.781201e+07

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
76,2000413,20160426,7.58,7.58,7.63,7.50,7.60,19738002,149360719
184,2000656,20160426,3.85,3.89,3.90,3.83,3.87,21787274,84081862
195,2000673,20160426,14.18,28.45,14.88,14.05,14.79,13263203,192505984
518,2002135,20160426,9.49,0.00,10.01,9.32,9.87,72619668,701700765
548,2002166,20160426,11.99,11.98,12.10,11.88,12.02,5339832,64053654
830,2002485,20160426,15.15,0.00,16.59,14.51,16.07,23403362,362911690
973,2002653,20160426,15.70,16.09,16.20,15.66,15.89,1991953,31538304
1040,2002732,20160426,25.41,25.75,26.11,25.40,25.94,1958580,50601519
1054,2002750,20160426,30.96,30.96,31.26,30.40,30.68,777080,23898944
1249,2300190,20160426,19.86,19.70,20.00,19.50,20.00,2920333,57812006
1346,2300301,20160426,8.40,0.00,8.65,8.22,8.50,14859531,125342288
1376,2300339,20160426,31.29,31.29,31.92,31.00,31.58,2200361,69158258
1500,2300485,20160426,49.81,100.80,50.68,47.80,49.35,2807980,137144781

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:02.892641
no massive missing

array([], dtype=int32)

0:01:37.070801

20160426

SZ finished
0:00:44.528208
0:02:05.831691
0:01:40.718166
1
2
3
4
0:03:48.414156

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:325: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
72,2300253,20160427,21.45,21.36,21.45,20.66,20.84,12138643.0,2.557503e+08
60,2002323,20160427,15.40,15.26,15.93,14.55,15.00,35392191.0,5.417681e+08
47,2300283,20160427,7.76,7.05,7.76,7.76,7.76,505350.0,3.921516e+06
76,2300491,20160427,87.82,86.52,92.30,85.40,87.29,4214461.0,3.738515e+08
76,2002117,20160427,30.31,30.33,30.90,30.00,30.00,4818333.0,1.470515e+08
56,2300096,20160427,19.57,17.79,19.57,17.85,18.16,59419553.0,1.098161e+09
61,2002530,20160427,26.48,25.84,26.80,25.66,25.78,6065479.0,1.580527e+08
76,2002236,20160427,13.24,13.23,13.35,13.10,13.20,16924697.0,2.241287e+08
76,2000100,20160427,3.54,3.53,3.54,3.50,3.51,45678930.0,1.608017e+08
76,2002667,20160427,46.80,45.99,46.80,44.50,45.30,1817474.0,8.248363e+07
70,2000661,20160427,91.20,90.09,92.89,90.02,90.80,3395355.0,3.113995e+08
76,2002584,20160427,14.98,14.95,15.17,14.23,14.34,10575880.0,1.526109e+08
76,2002469,20160427,9.56,9.56,9.59,9.32,9.39,6614024.0,6.219937e+07
76,2000040,20160427,11.88,11.90,11.92,11.66,11.81,5735200.0,6.769563e+07
76,2300150,20160427,11.50,11.65,11.58,11.28,11.34,5517928.0,6.304121e+07
76,2002601,20160427,14.50,14.46,14.78,13.63,13.74,52946787.0,7.427693e+08

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
30,2000040,20160427,11.88,11.91,11.92,11.66,11.81,5735200,67695627
57,2000100,20160427,3.54,3.61,3.54,3.50,3.51,45678930,160801735
186,2000661,20160427,91.20,0.00,92.89,90.02,90.80,3395355,311399493
501,2002117,20160427,30.31,30.63,30.90,30.00,30.00,4818333,147051466
608,2002236,20160427,13.24,33.27,13.35,13.10,13.20,16924697,224128704
683,2002323,20160427,15.40,45.90,15.93,14.55,15.00,35392191,541768058
813,2002469,20160427,9.56,14.49,9.59,9.32,9.39,6614024,62199373
865,2002530,20160427,26.48,25.87,26.80,25.66,25.78,6065479,158052735
911,2002584,20160427,14.98,37.47,15.17,14.23,14.34,10575880,152610945
925,2002601,20160427,14.50,50.97,14.78,13.63,13.74,52946787,742769342
986,2002667,20160427,46.80,46.00,46.80,44.50,45.30,1817474,82483631
1172,2300096,20160427,19.57,0.00,19.57,17.85,18.16,59419553,1098161156
1220,2300150,20160427,11.50,11.75,11.58,11.28,11.34,5517928,63041214
1308,2300253,20160427,21.45,29.99,21.45,20.66,20.84,12138643,255750252
1336,2300283,20160427,7.76,0.00,7.76,7.76,7.76,505350,3921516
1509,2300491,20160427,87.82,86.82,92.30,85.40,87.29,4214461,373851541

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:03.003593
no massive missing

array([], dtype=int32)

0:01:41.243738

20160427

SZ finished
0:00:41.497775
0:01:55.510191
0:01:37.612622
1
2
3
4
2002104
[16.4   16.417]
             date          time  close  Volume  Turover  cum_trades_cnt  \
3683563  20160428  140050000000  15.96   25824   412247            8789
3683564  20160428  140052980000  15.96    1100    17556            8790
3683565  20160428  140055610000  15.97    7600   121246            8800
3683566  20160428  140059180000  15.97    2500    39915            8804
3683567  20160428  140102640000  15.97       0        0            8804
...           ...           ...    ...     ...      ...             ...
3684508  20160428  145018640000  16.14       0        0           11555
3684509  20160428  145029020000  16.14       0        0           11555
3684510  20160428  145037410000  16.14       0        0           11555
3684511  20160428  145050390000  16.14       0        0           11555
3684512  20160428  145055110000  16.14       0        0           11555

         Interest  TradeFlag BSFlag  cum_volume  cum_amount    high    low  \
3683563         0          0      0    13221070   213454305  15.672  15.92
3683564         0          0      S    13222170   213471861  15.672  15.92
3683565         0          0      B    13229770   213593107  15.672  15.92
3683566         0          0      B    13232270   213633022  15.672  15.92
3683567         0          0      B    13232270   213633022  15.672  15.92
...           ...        ...    ...         ...         ...     ...    ...
3684508         0          0      S    18021754   290443443  15.672  15.92
3684509         0          0      S    18021754   290443443  15.672  15.92
3684510         0          0      S    18021754   290443443  15.672  15.92
3684511         0          0      S    18021754   290443443  15.672  15.92
3684512         0          0      S    18021754   290443443  15.672  15.92

           open  prev_close  AveAskPrice  AveBidPrice  AccAskVolume  \
3683563  16.417       16.31       168100       168300       2556501
3683564  16.417       16.31       168000       168200       2571501
3683565  16.417       16.31       168000       168200       2569501
3683566  16.417       16.31       168000       168200       2572001
3683567  16.417       16.31       168000       168300       2572001
...         ...         ...          ...          ...           ...
3684508  16.417       16.31        -1700        12400        164704
3684509  16.417       16.31        -1700        12400        164704
3684510  16.417       16.31        -1700        12400        164704
3684511  16.417       16.31        -1700        12400        164704
3684512  16.417       16.31        -1700        12400        164704

         AccBidVolume     skey    clockAtArrival                datetime  \
3683563       1911838  2002104  1461823250000000 2016-04-28 14:00:50.000
3683564       1910538  2002104  1461823252980000 2016-04-28 14:00:52.980
3683565       1903938  2002104  1461823255610000 2016-04-28 14:00:55.610
3683566       1907438  2002104  1461823259180000 2016-04-28 14:00:59.180
3683567       1926338  2002104  1461823262640000 2016-04-28 14:01:02.640
...               ...      ...               ...                     ...
3684508       -403592  2002104  1461826218640000 2016-04-28 14:50:18.640
3684509       -403592  2002104  1461826229020000 2016-04-28 14:50:29.020
3684510       -403592  2002104  1461826237410000 2016-04-28 14:50:37.410
3684511       -403592  2002104  1461826250390000 2016-04-28 14:50:50.390
3684512       -403592  2002104  1461826255110000 2016-04-28 14:50:55.110

         bid1p  bid2p  bid3p  bid4p  bid5p  bid6p  bid7p  bid8p  bid9p  \
3683563  15.93  15.92  15.91  15.90  15.89  15.88  15.87  15.86  15.85
3683564  15.93  15.92  15.91  15.90  15.89  15.88  15.87  15.86  15.85
3683565  15.92  15.91  15.90  15.89  15.88  15.87  15.86  15.85  15.84
3683566  15.96  15.95  15.92  15.92  15.91  15.89  15.88  15.87  15.86
3683567  15.96  15.95  15.92  15.92  15.91  15.89  15.88  15.87  15.86
...        ...    ...    ...    ...    ...    ...    ...    ...    ...
3684508  16.14  16.13  16.12  16.11  16.10  16.09  16.08  16.06  16.05
3684509  16.14  16.13  16.12  16.11  16.10  16.09  16.08  16.06  16.05
3684510  16.14  16.13  16.12  16.11  16.10  16.09  16.08  16.06  16.05
3684511  16.14  16.13  16.12  16.11  16.10  16.09  16.08  16.06  16.05
3684512  16.14  16.13  16.12  16.11  16.10  16.09  16.08  16.06  16.05

         bid10p  ask1p  ask2p  ask3p  ask4p  ask5p  ask6p  ask7p  ask8p  \
3683563   15.84  15.96  15.97  15.99  16.00  16.03  16.04  16.05  16.06
3683564   15.84  15.96  15.97  15.99  16.00  16.03  16.04  16.05  16.06
3683565   15.83  15.96  15.97  15.99  16.00  16.03  16.04  16.05  16.06
3683566   15.85  15.97  15.99  16.00  16.03  16.04  16.05  16.06  16.07
3683567   15.85  15.97  15.99  16.00  16.03  16.04  16.05  16.06  16.07
...         ...    ...    ...    ...    ...    ...    ...    ...    ...
3684508   16.04  16.15  16.16  16.17  16.18  16.19  16.20  16.21  16.22
3684509   16.04  16.15  16.16  16.17  16.18  16.19  16.20  16.21  16.22
3684510   16.04  16.15  16.16  16.17  16.18  16.19  16.20  16.21  16.22
3684511   16.04  16.15  16.16  16.17  16.18  16.19  16.20  16.21  16.22
3684512   16.04  16.15  16.16  16.17  16.18  16.19  16.20  16.21  16.22

         ask9p  ask10p   bid1q   bid2q   bid3q   bid4q   bid5q   bid6q  \
3683563  16.07   16.08   56400  111530  231700  116300   11600   72800
3683564  16.07   16.08   55300  111530  231700  116300   11600   72800
3683565  16.07   16.08  109030  231700  115300   11600   72800    5500
3683566  16.08   16.09  109830  214400   54500   29100  134200  -11300
3683567  16.08   16.09  108630  214400   54500   29100  134300  -11300
...        ...     ...     ...     ...     ...     ...     ...     ...
3684508  16.23   16.24  224516  301300  228200  219300  238200  215500
3684509  16.23   16.24  224516  301300  228200  219300  238200  215500
3684510  16.23   16.24  224516  301300  228200  219300  238200  215500
3684511  16.23   16.24  224516  301300  228200  219300  238200  215500
3684512  16.23   16.24  224516  301300  228200  219300  238200  215500

          bid7q   bid8q   bid9q  bid10q  ask1q  ask2q  ask3q  ask4q  ask5q  \
3683563    5500    2500   13700    1900   1699   4300   3000  14000   3100
3683564    5500    2300   13700    1900   1699   4300  13000  14000   3100
3683565    2300   13700    1900  -11200   -801   4300  13000  14000   3100
3683566  -29800   21000   16800   -8300   7300  13000  15000   3100   1200
3683567  -29800   21000   16800   -8300   7300  13000  15000   3100   1200
...         ...     ...     ...     ...    ...    ...    ...    ...    ...
3684508  217200  234700  223200  214300   2900  28900  43500  32900  27400
3684509  217200  234700  223200  214300   2900  28900  43500  32900  27400
3684510  217200  234700  223200  214300   2900  28900  43500  32900  27400
3684511  217200  234700  223200  214300   2900  28900  43500  32900  27400
3684512  217200  234700  223200  214300   2900  28900  43500  32900  27400

         ask6q  ask7q  ask8q  ask9q  ask10q  ordering  has_missing
3683563   1200  15100  18600   5600    4700      7640            0
3683564   1200  15100  18600   5600    4700      7641            0
3683565   1200  15100  19100   5600    4700      7642            0
3683566  15100  19100   5600   4700    2200      7643            0
3683567  15100  19100   5600   4700    2200      7644            0
...        ...    ...    ...    ...     ...       ...          ...
3684508  19500  25800  13500   3600   36300      8585            0
3684509  19500  25800  13500   3600   36300      8586            0
3684510  19500  25800  13500   3600   36300      8587            0
3684511  19500  25800  13500   3600   36300      8588            0
3684512  19500  25800  13500   3600   36300      8589            0

[950 rows x 64 columns]
0:04:21.382412

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:325: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
77,2002250,20160428,13.97,14.05,14.04,13.41,13.72,15318565.0,2.093516e+08
77,2002151,20160428,26.50,26.24,26.50,25.41,25.93,3531740.0,9.179970e+07
73,2002468,20160428,28.90,28.98,28.95,28.20,28.76,2905145.0,8.305648e+07
65,2002284,20160428,20.50,20.38,20.57,19.08,19.97,56194539.0,1.107042e+09
77,2000895,20160428,20.55,20.87,20.76,20.15,20.46,18715539.0,3.820236e+08
77,2002661,20160428,18.90,19.08,18.90,17.80,18.45,7062685.0,1.292081e+08
68,2300169,20160428,13.54,13.49,13.57,12.37,13.10,7182210.0,9.429455e+07
60,2000826,20160428,32.00,32.46,33.30,30.80,31.30,24754579.0,7.918383e+08
77,2002518,20160428,23.89,24.01,23.89,22.61,23.59,6740163.0,1.563714e+08
77,2300047,20160428,17.40,17.32,17.88,17.18,17.70,9698869.0,1.704190e+08
67,2002233,20160428,8.78,8.77,8.78,8.44,8.67,8358883.0,7.202656e+07
69,2300307,20160428,16.50,16.40,16.59,15.55,15.90,18265626.0,2.912495e+08
62,2002076,20160428,12.77,13.45,12.90,12.24,12.84,13332066.0,1.670130e+08
77,2300373,20160428,15.27,15.14,15.40,14.83,15.40,3118104.0,4.704524e+07
77,2002104,20160428,16.40,16.31,16.44,15.92,16.28,18795329.0,3.035890e+08
72,2300466,20160428,24.74,24.93,27.42,24.21,27.42,18646581.0,5.023754e+08
77,2002043,20160428,9.02,9.11,9.49,8.85,9.10,76658885.0,7.073731e+08
0,2002795,20160428,17.82,14.85,21.38,17.82,21.38,18659.0,3.983954e+05
35,2002567,20160428,11.75,13.05,12.49,11.75,11.75,20901875.0,2.465182e+08
57,2000899,20160428,8.81,8.69,9.00,8.45,8.61,9268826.0,8.014309e+07

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
294,2000826,20160428,32.00,0.00,33.300,30.80,31.30,24754579,791838306
331,2000895,20160428,20.55,22.12,20.760,20.15,20.46,18715539,382023552
334,2000899,20160428,8.81,0.00,9.000,8.45,8.61,9268826,80143087
441,2002043,20160428,9.02,13.79,9.490,8.85,9.10,76658885,707373083
468,2002076,20160428,12.77,0.00,12.900,12.24,12.84,13332066,167013040
495,2002104,20160428,16.40,16.31,15.672,15.92,16.14,18021754,290443443
539,2002151,20160428,26.50,39.51,26.500,25.41,25.93,3531740,91799700
610,2002233,20160428,8.78,8.95,8.780,8.44,8.67,8358883,72026558
626,2002250,20160428,13.97,14.17,14.040,13.41,13.72,15318565,209351608
655,2002284,20160428,20.50,20.48,20.570,19.08,19.97,56194539,1107041650
817,2002468,20160428,28.90,28.99,28.950,28.20,28.76,2905145,83056478
860,2002518,20160428,23.89,36.27,23.890,22.61,23.59,6740163,156371376
901,2002567,20160428,11.75,0.00,12.490,11.75,11.75,20901875,246518195
982,2002661,20160428,18.90,57.75,18.900,17.80,18.45,7062685,129208075
1091,2002795,20160428,17.82,0.00,21.380,17.82,21.38,18659,398395
1132,2300047,20160428,17.40,17.34,17.880,17.18,17.70,9698869,170418993
1239,2300169,20160428,13.54,0.00,13.570,12.37,13.10,7182210,94294545
1357,2300307,20160428,16.50,16.50,16.590,15.55,15.90,18265626,291249485
1411,2300373,20160428,15.27,15.20,15.400,14.83,15.40,3118104,47045244
1488,2300466,20160428,24.74,74.89,27.420,24.21,27.42,18646581,502375377

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:03.025249
no massive missing

array([2002795], dtype=int32)

0:01:43.806929

20160428

SZ finished
0:00:45.568072
0:01:49.178736
0:01:33.882679
1
2
3
4
0:04:09.274046

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:325: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
78,2002539,20160429,16.16,16.28,16.90,16.11,16.40,11506607.0,1.912871e+08
78,2300017,20160429,62.95,62.77,66.90,62.50,63.81,18711321.0,1.215702e+09
78,2300419,20160429,51.00,52.74,51.96,47.47,47.47,16447734.0,8.111593e+08
78,2300256,20160429,10.80,10.95,11.12,10.68,10.75,7055659.0,7.672016e+07
78,2300044,20160429,14.50,14.58,15.23,14.38,14.65,14537800.0,2.159106e+08
78,2300127,20160429,15.62,15.70,17.27,15.60,16.53,17581495.0,2.933938e+08
78,2002062,20160429,5.70,5.71,5.77,5.65,5.71,5909218.0,3.367458e+07
6,2000982,20160429,7.40,8.22,7.89,7.40,7.40,171589753.0,1.276739e+09
78,2002510,20160429,6.85,6.83,6.97,6.52,6.52,32289344.0,2.163201e+08
27,2300247,20160429,8.30,8.30,8.75,8.25,8.44,29477712.0,2.511938e+08
72,2002770,20160429,12.48,12.50,13.64,12.47,12.65,17282308.0,2.236976e+08
78,2002370,20160429,30.09,30.55,30.80,30.08,30.43,1068808.0,3.258579e+07
77,2002360,20160429,13.68,13.96,13.94,13.27,13.73,26221046.0,3.571330e+08
78,2002298,20160429,16.92,16.77,17.29,16.56,16.62,29391669.0,4.984714e+08
35,2000066,20160429,11.85,12.01,12.48,11.77,12.04,14584570.0,1.773197e+08
78,2300390,20160429,13.85,13.60,14.60,13.31,13.32,12524982.0,1.746379e+08
13,2002742,20160429,37.00,34.01,37.39,35.00,35.06,6328329.0,2.284159e+08
0,2300507,20160429,32.89,24.92,35.88,32.89,35.88,9177.0,3.277758e+05
78,2300191,20160429,28.50,28.97,29.34,28.42,29.00,5271025.0,1.520450e+08
78,2300458,20160429,71.11,72.01,72.58,71.08,71.11,1590487.0,1.140293e+08
78,2002193,20160429,17.06,17.10,17.49,16.82,17.12,3450750.0,5.912154e+07
78,2000783,20160429,9.35,9.35,9.42,9.26,9.37,25943985.0,2.427559e+08
78,2300286,20160429,23.95,24.03,24.30,23.90,23.99,923783.0,2.224617e+07
78,2300249,20160429,9.82,9.62,10.58,9.39,10.58,10396544.0,1.081746e+08
63,2002535,20160429,7.02,7.03,7.19,6.92,7.06,15044677.0,1.067316e+08
78,2002024,20160429,11.05,11.05,11.20,11.00,11.10,33577036.0,3.724852e+08

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
47,2000066,20160429,11.85,12.01,12.48,11.77,12.11,12206709,148646083
265,2000783,20160429,9.35,9.70,9.42,9.26,9.37,25943985,242755884
390,2000982,20160429,7.40,0.00,7.89,7.40,7.40,171589753,1276739106
425,2002024,20160429,11.05,11.11,11.20,11.00,11.10,33577036,372485155
461,2002062,20160429,5.70,8.10,5.77,5.65,5.71,5909218,33674579
581,2002193,20160429,17.06,17.11,17.49,16.82,17.12,3450750,59121535
668,2002298,20160429,16.92,16.80,17.29,16.56,16.62,29391669,498471428
722,2002360,20160429,13.68,14.06,13.94,13.27,13.73,26221046,357132971
731,2002370,20160429,30.09,30.65,30.80,30.08,30.43,1068808,32585793
855,2002510,20160429,6.85,13.75,6.97,6.52,6.52,32289344,216320056
877,2002535,20160429,7.02,9.14,7.19,6.92,7.06,15044677,106731576
880,2002539,20160429,16.16,16.36,16.90,16.11,16.40,11506607,191287073
1051,2002742,20160429,37.00,0.00,37.39,35.00,35.06,6328329,228415871
1073,2002770,20160429,12.48,25.05,13.64,12.47,12.65,17282308,223697568
1111,2300017,20160429,62.95,62.97,66.90,62.50,63.81,18711321,1215702472
1134,2300044,20160429,14.50,21.90,15.23,14.38,14.65,14537800,215910564
1204,2300127,20160429,15.62,15.90,17.27,15.60,16.53,17581495,293393759
1257,2300191,20160429,28.50,28.98,29.34,28.42,29.00,5271025,152045010
1307,2300247,20160429,8.30,16.62,8.75,8.25,8.44,29477712,251193835
1309,2300249,20160429,9.82,24.07,10.58,9.39,10.58,10396544,108174633
1315,2300256,20160429,10.80,21.89,11.12,10.68,10.75,7055659,76720156
1342,2300286,20160429,23.95,24.23,24.30,23.90,23.99,923783,22246170
1430,2300390,20160429,13.85,34.20,14.60,13.31,13.32,12524982,174637894
1455,2300419,20160429,51.00,200.92,51.96,47.47,47.47,16447734,811159297
1485,2300458,20160429,71.11,72.21,72.58,71.08,71.11,1590487,114029299
1527,2300507,20160429,32.89,0.00,35.88,32.89,35.88,9177,327775

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:03.006380
no massive missing

array([], dtype=int32)

0:01:37.017164

20160429

SZ finished
0:00:38.590496
0:01:57.207681
0:01:42.860479
1
2
3
4
0:04:15.620122

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:325: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
79,2300140,20160503,17.67,17.57,19.33,17.61,18.62,17732035.0,3.348297e+08
0,2300344,20160503,12.30,13.28,13.20,11.95,12.72,20004319.0,2.446842e+08
33,2002717,20160503,37.00,38.35,38.88,35.20,38.37,16738882.0,6.278512e+08
79,2000530,20160503,9.95,9.92,10.26,9.90,10.10,7414795.0,7.499880e+07
64,2000993,20160503,8.97,8.72,9.33,8.80,9.14,21348687.0,1.941107e+08
20,2002070,20160503,18.55,16.86,18.55,18.55,18.55,1182649.0,2.193814e+07
79,2300213,20160503,22.71,22.72,23.98,22.60,23.96,6288409.0,1.479875e+08
79,2300406,20160503,20.83,21.05,21.40,20.15,21.27,5179214.0,1.088379e+08
79,2300476,20160503,20.98,21.16,21.30,19.50,21.30,12674788.0,2.610430e+08
70,2002366,20160503,48.05,50.73,51.20,48.05,50.79,6940424.0,3.479349e+08
79,2300027,20160503,13.89,13.75,14.12,13.51,14.06,52846332.0,7.346721e+08
79,2300145,20160503,20.40,20.45,20.78,19.58,20.49,3473956.0,7.063969e+07
60,2000498,20160503,6.38,6.40,6.40,6.00,6.30,21294188.0,1.324562e+08
79,2002169,20160503,18.00,17.85,19.15,17.75,19.15,7338448.0,1.371215e+08
79,2002635,20160503,30.08,29.98,31.86,29.71,31.72,11552121.0,3.592079e+08
79,2300277,20160503,14.70,14.31,15.74,14.35,15.19,22401922.0,3.346719e+08
74,2300328,20160503,14.83,14.93,16.04,14.33,15.53,8184481.0,1.248139e+08
69,2002576,20160503,22.56,24.55,23.57,22.35,23.52,9100898.0,2.086973e+08
79,2002294,20160503,27.50,27.40,27.75,26.98,27.71,3368157.0,9.257920e+07
79,2002083,20160503,6.16,6.20,6.37,6.15,6.36,14671096.0,9.208274e+07
79,2002364,20160503,25.27,24.85,27.34,25.09,27.34,15223307.0,4.020110e+08
79,2002479,20160503,11.35,11.09,11.97,11.11,11.86,13047784.0,1.514295e+08

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
91,2000498,20160503,6.38,0.00,6.40,6.00,6.30,21294188,132456191
112,2000530,20160503,9.95,14.98,10.26,9.90,10.10,7414795,74998798
397,2000993,20160503,8.97,0.00,9.33,8.80,9.14,21348687,194110724
469,2002070,20160503,18.55,0.00,18.55,18.55,18.55,1182649,21938138
481,2002083,20160503,6.16,6.40,6.37,6.15,6.36,14671096,92082741
561,2002169,20160503,18.00,17.95,19.15,17.75,19.15,7338448,137121502
664,2002294,20160503,27.50,28.00,27.75,26.98,27.71,3368157,92579204
726,2002364,20160503,25.27,24.88,27.34,25.09,27.34,15223307,402011027
728,2002366,20160503,48.05,0.00,51.20,48.05,50.79,6940424,347934937
832,2002479,20160503,11.35,11.24,11.97,11.11,11.86,13047784,151429521
911,2002576,20160503,22.56,0.00,23.57,22.35,23.52,9100898,208697298
962,2002635,20160503,30.08,30.28,31.86,29.71,31.72,11552121,359207902
1032,2002717,20160503,37.00,0.00,38.88,35.20,38.37,16738882,627851172
1122,2300027,20160503,13.89,27.58,14.12,13.51,14.06,52846332,734672119
1220,2300140,20160503,17.67,17.62,19.33,17.61,18.62,17732035,334829699
1224,2300145,20160503,20.40,41.00,20.78,19.58,20.49,3473956,70639689
1280,2300213,20160503,22.71,22.82,23.98,22.60,23.96,6288409,147987484
1338,2300277,20160503,14.70,35.81,15.74,14.35,15.19,22401922,334671875
1381,2300328,20160503,14.83,26.98,16.04,14.33,15.53,8184481,124813855
1391,2300344,20160503,12.30,0.00,13.20,11.95,12.72,20004319,244684247
1448,2300406,20160503,20.83,42.40,21.40,20.15,21.27,5179214,108837860
1503,2300476,20160503,20.98,53.25,21.30,19.50,21.30,12674788,261042979

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:03.430952
no massive missing

array([], dtype=int32)

0:01:48.199783

20160503

SZ finished
0:00:36.461751
0:02:16.255359
0:01:34.700585
1
2
3
4
0:03:54.564467

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:325: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
80,2000559,20160504,15.70,15.71,15.88,15.58,15.62,20830063.0,3.270529e+08
80,2300160,20160504,15.35,15.31,16.80,14.61,15.90,77981446.0,1.226344e+09
80,2002085,20160504,16.82,17.08,17.60,16.70,16.86,8000401.0,1.370703e+08
80,2002302,20160504,7.87,7.89,7.88,7.65,7.71,7808010.0,6.050496e+07
80,2002194,20160504,12.02,12.14,12.24,12.02,12.12,4728457.0,5.742589e+07
80,2002559,20160504,14.88,14.91,15.23,14.72,14.80,14225999.0,2.122402e+08
70,2002725,20160504,21.78,21.78,22.00,21.51,21.79,2292487.0,4.990616e+07
2,2002312,20160504,21.10,22.90,21.95,20.70,21.19,78356776.0,1.656972e+09
0,2300511,20160504,22.20,16.82,24.22,22.20,24.22,11461.0,2.767774e+05
0,2002379,20160504,4.56,4.34,4.56,4.56,4.56,5805648.0,2.647375e+07
80,2002334,20160504,9.04,9.11,9.19,9.00,9.02,13292702.0,1.207714e+08
80,2300386,20160504,23.00,23.49,24.79,22.82,23.40,19434166.0,4.605001e+08

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
133,2000559,20160504,15.70,15.96,15.88,15.58,15.62,20830063,327052904
485,2002085,20160504,16.82,34.20,17.60,16.70,16.86,8000401,137070340
586,2002194,20160504,12.02,12.15,12.24,12.02,12.12,4728457,57425887
674,2002302,20160504,7.87,15.88,7.88,7.65,7.71,7808010,60504956
683,2002312,20160504,21.10,0.00,21.95,20.70,21.19,78356776,1656972144
703,2002334,20160504,9.04,9.16,9.19,9.00,9.02,13292702,120771415
744,2002379,20160504,4.56,0.00,4.56,4.56,4.56,5805648,26473754
900,2002559,20160504,14.88,15.06,15.23,14.72,14.80,14225999,212240205
1043,2002725,20160504,21.78,21.93,22.00,21.51,21.79,2292487,49906157
1242,2300160,20160504,15.35,49.08,16.80,14.61,15.90,77981446,1226344050
1434,2300386,20160504,23.00,47.21,24.79,22.82,23.40,19434166,460500091
1538,2300511,20160504,22.20,0.00,24.22,22.20,24.22,11461,276777

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:03.030025
no massive missing

array([], dtype=int32)

0:02:04.531797

20160504

SZ finished
0:00:31.038785
0:02:14.750713
0:01:36.920177
1
2
3
4
0:03:37.595403

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:325: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
81,2002345,20160505,11.39,11.30,11.39,11.17,11.32,6600422.0,7.443584e+07
81,2002533,20160505,10.60,10.56,10.60,10.41,10.54,13151560.0,1.377964e+08
78,2300448,20160505,78.58,79.00,82.80,78.03,82.10,1411778.0,1.148592e+08
66,2002293,20160505,14.77,14.20,15.30,14.50,14.62,16378006.0,2.431342e+08
81,2002196,20160505,26.25,26.18,26.47,25.75,26.25,4458776.0,1.162013e+08
67,2300036,20160505,20.59,20.45,21.74,20.31,21.20,39374672.0,8.324401e+08
81,2002637,20160505,12.50,12.43,13.22,12.28,12.95,13447359.0,1.726031e+08
81,2300204,20160505,17.85,17.81,17.94,17.56,17.83,3765972.0,6.686730e+07
81,2300284,20160505,20.26,20.26,20.35,19.30,19.66,5775608.0,1.135977e+08
71,2002665,20160505,9.65,9.59,9.85,9.41,9.69,23649339.0,2.284158e+08
21,2300430,20160505,46.90,47.01,47.90,46.52,47.36,1192409.0,5.616155e+07

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
586,2002196,20160505,26.25,26.28,26.47,25.75,26.25,4458776,116201331
664,2002293,20160505,14.77,0.00,15.30,14.50,14.62,16378006,243134246
713,2002345,20160505,11.39,11.40,11.39,11.17,11.32,6600422,74435843
881,2002533,20160505,10.60,10.66,10.60,10.41,10.54,13151560,137796436
968,2002637,20160505,12.50,24.95,13.22,12.28,12.95,13447359,172603054
994,2002665,20160505,9.65,25.95,9.85,9.41,9.69,23649339,228415828
1133,2300036,20160505,20.59,41.00,21.74,20.31,21.20,39374672,832440074
1272,2300204,20160505,17.85,25.13,17.94,17.56,17.83,3765972,66867302
1345,2300284,20160505,20.26,20.38,20.35,19.30,19.66,5775608,113597739
1468,2300430,20160505,46.90,47.12,47.90,46.52,47.36,1192409,56161549
1483,2300448,20160505,78.58,79.00,82.70,78.03,82.37,1095478,88817103

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:03.161065
massive missing
{11300}

array([], dtype=int32)

has missing!!!!!!!!!!!!!!!!!!!!!!!
1536
0:01:56.806635

20160505

SZ finished
0:00:38.078303
0:01:54.464526
0:01:41.043848
1
2
3
4
0:03:59.129489

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:325: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
46,2000990,20160506,16.80,15.27,16.80,16.80,16.80,457722.0,7.689730e+06
82,2002478,20160506,11.72,11.64,11.74,11.22,11.57,6028917.0,6.915275e+07
82,2300134,20160506,25.05,25.03,26.20,24.06,24.09,42177540.0,1.063081e+09
82,2002700,20160506,14.54,14.50,14.68,13.80,13.90,4692148.0,6.647481e+07
82,2002145,20160506,7.55,7.77,7.68,7.00,7.05,179339711.0,1.313498e+09
80,2300175,20160506,8.78,8.78,8.88,8.26,8.28,9240402.0,7.871289e+07
82,2002718,20160506,55.80,55.66,55.99,51.60,51.90,2546917.0,1.365668e+08
82,2002419,20160506,13.26,13.35,13.48,12.58,12.70,10295494.0,1.327256e+08
82,2002056,20160506,14.20,14.25,14.58,13.10,13.16,55565318.0,7.777636e+08
72,2300117,20160506,8.76,7.96,8.76,7.92,8.20,51469461.0,4.333910e+08
0,2300510,20160506,16.24,12.30,17.71,16.24,17.71,6400.0,1.126090e+05
82,2002561,20160506,13.18,13.04,13.30,12.65,12.70,6697500.0,8.676727e+07
82,2002701,20160506,9.98,9.87,9.98,9.18,9.18,47045449.0,4.467326e+08
82,2002534,20160506,10.87,10.77,10.97,10.25,10.35,6019686.0,6.315217e+07
67,2002076,20160506,14.48,14.63,15.25,14.35,14.37,35560254.0,5.240877e+08
82,2000333,20160506,20.97,21.19,21.14,20.35,20.35,38785799.0,8.041548e+08
82,2002431,20160506,13.00,12.96,14.14,12.52,13.16,292533918.0,3.871924e+09
82,2300103,20160506,17.60,17.64,17.70,16.60,16.60,4647984.0,7.943293e+07
49,2002771,20160506,90.20,82.00,90.20,90.20,90.20,145278.0,1.310408e+07

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
66,2000333,20160506,20.97,32.99,21.14,20.35,20.35,38785799,804154759
397,2000990,20160506,16.80,0.00,16.80,16.80,16.80,457722,7689729
458,2002056,20160506,14.20,28.70,14.58,13.10,13.16,55565318,777763612
476,2002076,20160506,14.48,14.70,15.25,14.35,14.37,35560254,524087710
539,2002145,20160506,7.55,23.31,7.68,7.00,7.05,179339711,1313498206
778,2002419,20160506,13.26,13.90,13.48,12.58,12.70,10295494,132725563
789,2002431,20160506,13.00,32.40,14.14,12.52,13.16,292533918,3871923916
833,2002478,20160506,11.72,11.84,11.74,11.22,11.57,6028917,69152751
881,2002534,20160506,10.87,16.26,10.97,10.25,10.35,6019686,63152167
903,2002561,20160506,13.18,13.40,13.30,12.65,12.70,6697500,86767268
1025,2002700,20160506,14.54,14.54,14.68,13.80,13.90,4692148,66474812
1026,2002701,20160506,9.98,24.13,9.98,9.18,9.18,47045449,446732558
1038,2002718,20160506,55.80,56.16,55.99,51.60,51.90,2546917,136566812
1082,2002771,20160506,90.20,0.00,90.20,90.20,90.20,145278,13104075
1192,2300103,20160506,17.60,17.69,17.70,16.60,16.60,4647984,79432932
1204,2300117,20160506,8.76,17.53,8.76,7.92,8.20,51469461,433390986
1219,2300134,20160506,25.05,25.23,26.20,24.06,24.09,42177540,1063081392
1257,2300175,20160506,8.78,8.79,8.88,8.26,8.28,9240402,78712894
1539,2300510,20160506,16.24,0.00,17.71,16.24,17.71,6400,112609

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:03.218919
no massive missing

array([], dtype=int32)

0:01:45.275664

20160506

SZ finished
0:00:42.109795
0:02:09.435536
0:01:44.975094
1
2
3
4
0:04:00.764931

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:325: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
75,2300244,20160509,31.60,32.00,31.60,29.61,29.80,5401873.0,1.640359e+08
0,2002696,20160509,22.47,24.97,22.47,22.47,22.47,81200.0,1.824564e+06
83,2002687,20160509,14.58,14.47,14.58,13.02,13.02,5160608.0,6.884989e+07
83,2300138,20160509,15.88,15.77,15.98,14.86,15.00,4373925.0,6.763689e+07
12,2300340,20160509,26.79,24.35,26.79,26.79,26.79,458916.0,1.229436e+07
83,2300398,20160509,53.01,53.01,53.01,51.00,51.48,545259.0,2.837450e+07
83,2002509,20160509,8.48,8.84,8.87,8.30,8.40,23015445.0,1.981888e+08
0,2002434,20160509,10.31,11.45,10.31,10.31,10.31,1821200.0,1.877657e+07
83,2002563,20160509,11.20,11.19,11.20,10.80,11.02,4467998.0,4.883434e+07
83,2002560,20160509,13.76,14.24,13.90,12.82,12.82,22509978.0,2.949376e+08
83,2002033,20160509,12.16,12.20,12.18,11.72,11.80,8318948.0,9.932947e+07
0,2000796,20160509,24.71,27.46,24.71,24.71,24.71,242200.0,5.984762e+06
83,2002158,20160509,10.72,10.94,10.99,9.85,9.86,10521940.0,1.059774e+08

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
275,2000796,20160509,24.71,0.00,24.71,24.71,24.71,242200,5984762
437,2002033,20160509,12.16,12.30,12.18,11.72,11.80,8318948,99329469
549,2002158,20160509,10.72,19.90,10.99,9.85,9.86,10521940,105977396
787,2002434,20160509,10.31,0.00,10.31,10.31,10.31,1821200,18776572
855,2002509,20160509,8.48,19.50,8.87,8.30,8.40,23015445,198188832
899,2002560,20160509,13.76,42.73,13.90,12.82,12.82,22509978,294937592
902,2002563,20160509,11.20,11.44,11.20,10.80,11.02,4467998,48834340
1009,2002687,20160509,14.58,14.62,14.58,13.02,13.02,5160608,68849887
1016,2002696,20160509,22.47,0.00,22.47,22.47,22.47,81200,1824564
1217,2300138,20160509,15.88,18.97,15.98,14.86,15.00,4373925,67636886
1307,2300244,20160509,31.60,57.70,31.60,29.61,29.80,5401873,164035907
1388,2300340,20160509,26.79,0.00,26.79,26.79,26.79,458916,12294359
1441,2300398,20160509,53.01,53.21,53.01,51.00,51.48,545259,28374502

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:03.040048
no massive missing

array([], dtype=int32)

0:01:49.746992

20160509

SZ finished
0:00:37.436433
0:01:31.940414
0:01:25.621885
1
2
3
4
0:03:24.677563

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:325: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
34,2300330,20160510,13.68,14.90,14.58,13.68,14.04,8873104.0,1.248868e+08
84,2002424,20160510,16.05,16.08,16.34,16.01,16.16,5553791.0,8.987967e+07
84,2002120,20160510,20.96,20.96,23.06,20.40,22.02,3271294.0,7.000952e+07
84,2000631,20160510,5.51,5.59,5.71,5.30,5.30,11185082.0,6.083872e+07
29,2002180,20160510,47.89,44.28,48.71,44.31,48.70,11496583.0,5.500201e+08
84,2002598,20160510,10.34,10.33,10.53,9.90,9.98,5897249.0,6.014820e+07
31,2300201,20160510,14.18,15.75,14.18,14.18,14.18,634700.0,9.000046e+06
79,2002245,20160510,9.60,9.62,9.87,9.33,9.40,12227888.0,1.176259e+08
63,2002373,20160510,16.25,16.07,17.50,16.08,16.60,23661529.0,3.956435e+08
40,2000918,20160510,5.04,4.58,5.04,5.04,5.04,841661.0,4.241971e+06
84,2002487,20160510,8.88,8.86,9.04,8.76,8.85,6582154.0,5.844249e+07
84,2300229,20160510,20.86,20.76,21.06,20.58,20.76,5948109.0,1.239754e+08
0,2002796,20160510,15.54,12.95,18.65,15.54,18.65,15073.0,2.802014e+05
84,2300267,20160510,14.50,14.39,14.59,14.02,14.10,3787023.0,5.386848e+07
70,2002395,20160510,24.66,27.40,24.66,24.66,24.66,314600.0,7.758036e+06

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
178,2000631,20160510,5.51,8.38,5.71,5.30,5.30,11185082,60838721
351,2000918,20160510,5.04,0.00,5.04,5.04,5.04,841661,4241971
514,2002120,20160510,20.96,21.02,23.06,20.40,22.02,3271294,70009524
568,2002180,20160510,47.89,0.00,48.71,44.31,48.70,11496583,550020106
622,2002245,20160510,9.60,9.65,9.87,9.33,9.40,12227888,117625942
732,2002373,20160510,16.25,32.23,17.50,16.08,16.60,23661529,395643460
752,2002395,20160510,24.66,0.00,24.66,24.66,24.66,314600,7758036
780,2002424,20160510,16.05,16.16,16.34,16.01,16.16,5553791,89879666
839,2002487,20160510,8.88,8.88,9.04,8.76,8.85,6582154,58442493
934,2002598,20160510,10.34,10.53,10.53,9.90,9.98,5897249,60148203
1100,2002796,20160510,15.54,0.00,18.65,15.54,18.65,15073,280201
1272,2300201,20160510,14.18,0.00,14.18,14.18,14.18,634700,9000046
1296,2300229,20160510,20.86,20.81,21.06,20.58,20.76,5948109,123975377
1331,2300267,20160510,14.50,28.88,14.59,14.02,14.10,3787023,53868483
1385,2300330,20160510,13.68,0.00,14.58,13.68,14.04,8873104,124886750

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:02.743822
no massive missing

array([2002796], dtype=int32)

has missing!!!!!!!!!!!!!!!!!!!!!!!
1
0:01:37.598658

20160510

SZ finished
0:00:33.472682
0:01:41.355192
0:01:26.306042
1
2
3
4
0:03:39.899915

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:325: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
85,2300217,20160511,4.76,4.72,4.79,4.36,4.47,42349747.0,1.906120e+08
85,2002277,20160511,10.31,10.21,10.48,10.21,10.30,4919051.0,5.083067e+07
85,2300041,20160511,11.68,11.25,11.86,10.33,10.35,20800096.0,2.338357e+08
85,2300416,20160511,29.88,29.98,30.55,26.98,27.03,3563081.0,1.004013e+08
85,2300243,20160511,14.12,14.04,15.00,13.60,15.00,7607299.0,1.102528e+08
85,2300187,20160511,15.80,15.52,15.80,13.97,13.97,19664584.0,2.819816e+08
85,2300172,20160511,9.05,9.16,9.27,8.93,8.93,3848587.0,3.504526e+07
0,2002797,20160511,12.77,10.64,15.32,12.77,15.32,358353.0,5.462068e+06
85,2002523,20160511,5.36,5.31,5.38,5.08,5.09,6741255.0,3.516926e+07
85,2002153,20160511,28.30,28.18,28.80,25.36,25.36,19294441.0,5.020051e+08
85,2300037,20160511,50.39,49.58,51.39,48.60,48.80,10691078.0,5.372367e+08
85,2002381,20160511,12.30,12.27,12.39,12.01,12.09,3532061.0,4.295841e+07
0,2000585,20160511,6.70,7.44,6.70,6.70,6.70,1282100.0,8.590070e+06
85,2002595,20160511,19.73,19.70,20.11,19.41,19.61,3843479.0,7.592869e+07
85,2300004,20160511,15.58,15.43,15.71,15.29,15.35,4038046.0,6.274078e+07
85,2002296,20160511,14.45,14.32,14.60,14.00,14.11,4863142.0,6.906756e+07
85,2002484,20160511,12.10,11.89,12.10,11.39,11.39,4833527.0,5.678699e+07
85,2002348,20160511,7.07,6.95,7.33,6.30,6.96,41542232.0,2.817451e+08
85,2002385,20160511,7.80,7.70,8.46,7.77,8.26,112801256.0,9.207992e+08

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
146,2000585,20160511,6.70,0.00,6.70,6.70,6.70,1282100,8590070
544,2002153,20160511,28.30,84.65,28.80,25.36,25.36,19294441,502005104
651,2002277,20160511,10.31,10.31,10.48,10.21,10.30,4919051,50830666
664,2002296,20160511,14.45,14.35,14.60,14.00,14.11,4863142,69067563
711,2002348,20160511,7.07,13.94,7.33,6.30,6.96,41542232,281745102
741,2002381,20160511,12.30,12.47,12.39,12.01,12.09,3532061,42958408
745,2002385,20160511,7.80,11.63,8.46,7.77,8.26,112801256,920799225
837,2002484,20160511,12.10,19.12,12.10,11.39,11.39,4833527,56786988
870,2002523,20160511,5.36,8.02,5.38,5.08,5.09,6741255,35169256
932,2002595,20160511,19.73,19.95,20.11,19.41,19.61,3843479,75928687
1102,2002797,20160511,12.77,0.00,15.32,12.77,15.32,358353,5462067
1106,2300004,20160511,15.58,15.43,15.71,15.29,15.55,3412314,53082507
1136,2300037,20160511,50.39,49.88,51.39,48.60,48.80,10691078,537236688
1139,2300041,20160511,11.68,22.64,11.86,10.33,10.35,20800096,233835685
1253,2300172,20160511,9.05,13.79,9.27,8.93,8.93,3848587,35045261
1262,2300187,20160511,15.80,46.60,15.80,13.97,13.97,19664584,281981587
1290,2300217,20160511,4.76,13.31,4.79,4.36,4.47,42349747,190611979
1311,2300243,20160511,14.12,14.06,15.00,13.60,15.00,7607299,110252834
1460,2300416,20160511,29.88,60.15,30.55,26.98,27.03,3563081,100401329

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:02.909088
no massive missing

array([2002797], dtype=int32)

0:01:34.900125

20160511

SZ finished
0:00:35.272080
0:01:36.912056
0:01:31.238238
1
2
3
4
0:03:56.764713

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:325: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
86,2002634,20160512,11.30,12.24,11.77,11.11,11.50,28426358.0,3.235511e+08
86,2000683,20160512,2.70,2.77,2.71,2.63,2.68,35927265.0,9.558774e+07
86,2002743,20160512,14.10,14.16,14.10,12.96,13.73,4292580.0,5.761804e+07
33,2300189,20160512,5.94,6.60,5.94,5.94,5.94,5381700.0,3.196730e+07
86,2002407,20160512,38.22,39.22,42.90,37.63,42.30,124871616.0,5.096455e+09
78,2002470,20160512,7.76,7.91,7.97,7.60,7.77,13272712.0,1.038274e+08
86,2002597,20160512,13.29,13.58,13.98,12.92,13.93,11930863.0,1.591910e+08
84,2300118,20160512,15.90,16.09,16.88,15.72,16.84,32476631.0,5.351834e+08
86,2000552,20160512,3.75,3.77,3.75,3.58,3.66,24618184.0,8.974450e+07
86,2002255,20160512,6.77,6.83,6.86,6.62,6.84,4602627.0,3.105513e+07
86,2000949,20160512,3.89,3.92,3.91,3.81,3.91,9398003.0,3.635240e+07
86,2002279,20160512,18.65,19.52,19.44,17.85,19.10,9142246.0,1.711465e+08
86,2300490,20160512,25.00,25.91,26.10,23.32,24.00,15530081.0,3.803763e+08
86,2000600,20160512,9.41,9.46,9.41,9.00,9.14,12478366.0,1.142996e+08
86,2300207,20160512,22.90,23.08,23.09,22.45,22.82,7371553.0,1.671638e+08
0,2300063,20160512,39.00,43.33,39.00,39.00,39.00,19800.0,7.722000e+05

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
129,2000552,20160512,3.75,7.58,3.75,3.58,3.66,24618184,89744501
159,2000600,20160512,9.41,9.91,9.41,9.00,9.14,12478366,114299632
208,2000683,20160512,2.70,4.98,2.71,2.63,2.68,35927265,95587740
369,2000949,20160512,3.89,3.95,3.91,3.81,3.91,9398003,36352404
633,2002255,20160512,6.77,6.86,6.86,6.62,6.84,4602627,31055128
653,2002279,20160512,18.65,48.91,19.44,17.85,19.10,9142246,171146485
762,2002407,20160512,38.22,98.20,42.90,37.63,42.30,124871616,5096454760
821,2002470,20160512,7.76,15.92,7.97,7.60,7.77,13272712,103827400
931,2002597,20160512,13.29,13.75,13.98,12.92,13.93,11930863,159190952
961,2002634,20160512,11.30,44.25,11.77,11.11,11.50,28426358,323551065
1055,2002743,20160512,14.10,28.38,14.10,12.96,13.73,4292580,57618038
1150,2300063,20160512,39.00,0.00,39.00,39.00,39.00,19800,772200
1200,2300118,20160512,15.90,16.16,16.88,15.72,16.84,32476631,535183355
1262,2300189,20160512,5.94,0.00,5.94,5.94,5.94,5381700,31967298
1279,2300207,20160512,22.90,23.14,23.09,22.45,22.82,7371553,167163826
1519,2300490,20160512,25.00,52.02,26.10,23.32,24.00,15530081,380376318

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:02.817868
no massive missing

array([], dtype=int32)

0:01:39.059261

20160512

SZ finished
0:00:35.829635
0:01:32.029487
0:01:23.167620
1
2
3
4
0:03:20.148249

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:325: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
87,2300018,20160513,10.97,11.03,11.33,10.50,10.67,8404933.0,9.105902e+07
41,2002717,20160513,32.00,32.92,32.97,31.00,31.75,15571288.0,4.969371e+08
55,2300306,20160513,17.75,17.54,17.88,17.11,17.19,2301766.0,4.029902e+07
81,2002413,20160513,13.80,14.17,14.17,12.80,12.89,23893359.0,3.217468e+08
87,2000786,20160513,8.90,8.82,8.98,8.65,8.70,11365079.0,1.001111e+08
87,2002428,20160513,13.70,13.72,13.88,13.57,13.69,10048436.0,1.379062e+08
87,2300371,20160513,25.00,25.13,25.49,24.88,25.24,961743.0,2.430567e+07
87,2300237,20160513,8.80,8.77,9.07,8.68,8.87,6486371.0,5.784399e+07
87,2002115,20160513,9.85,9.87,10.20,9.81,10.00,6044541.0,6.077631e+07
87,2000951,20160513,9.19,9.21,9.24,8.87,8.92,4701808.0,4.247700e+07
87,2300122,20160513,13.28,13.51,13.77,12.30,12.50,5847177.0,7.568338e+07
87,2002032,20160513,33.74,33.80,34.14,32.50,32.95,3209493.0,1.061953e+08
87,2000541,20160513,9.30,9.35,9.48,9.26,9.32,9227671.0,8.639165e+07
87,2000639,20160513,14.55,14.60,14.87,14.21,14.31,10381570.0,1.502185e+08
87,2300193,20160513,8.52,8.51,8.62,8.40,8.55,4612217.0,3.945683e+07
82,2000795,20160513,6.17,6.20,6.60,6.02,6.17,43985663.0,2.789656e+08
77,2002709,20160513,56.00,55.46,61.01,55.00,57.81,41909907.0,2.437246e+09
78,2002084,20160513,9.74,9.76,9.90,9.53,9.63,5481561.0,5.325845e+07
87,2300259,20160513,9.03,9.00,9.17,9.00,9.09,4167567.0,3.789148e+07
87,2300294,20160513,53.25,53.49,54.99,52.26,53.39,4115163.0,2.209610e+08
78,2002135,20160513,9.45,9.62,9.96,9.45,9.80,56953342.0,5.532308e+08
87,2002449,20160513,11.12,11.18,11.35,11.05,11.12,4369389.0,4.890222e+07
83,2300085,20160513,29.25,28.55,29.25,27.82,28.04,8453466.0,2.412674e+08
87,2000049,20160513,36.00,36.53,37.80,35.87,36.55,7549898.0,2.791732e+08
87,2000062,20160513,22.90,22.80,23.20,22.70,22.88,3208042.0,7.355041e+07

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
36,2000049,20160513,36.00,36.68,37.80,35.87,36.55,7549898,279173194
44,2000062,20160513,22.90,22.90,23.20,22.70,22.88,3208042,73550412
121,2000541,20160513,9.30,9.36,9.48,9.26,9.32,9227671,86391653
183,2000639,20160513,14.55,14.71,14.87,14.21,14.31,10381570,150218509
268,2000786,20160513,8.90,8.99,8.98,8.65,8.70,11365079,100111117
274,2000795,20160513,6.17,12.39,6.60,6.02,6.17,43985663,278965624
368,2000951,20160513,9.19,14.93,9.24,8.87,8.92,4701808,42476996
435,2002032,20160513,33.74,34.36,34.14,32.50,32.95,3209493,106195299
481,2002084,20160513,9.74,9.81,9.90,9.53,9.63,5481561,53258454
508,2002115,20160513,9.85,9.97,10.20,9.81,10.00,6044541,60776313
525,2002135,20160513,9.45,9.63,9.96,9.45,9.80,56953342,553230816
766,2002413,20160513,13.80,44.47,14.17,12.80,12.89,23893359,321746772
781,2002428,20160513,13.70,13.75,13.88,13.57,13.69,10048436,137906209
799,2002449,20160513,11.12,11.36,11.35,11.05,11.12,4369389,48902224
1023,2002709,20160513,56.00,138.82,61.01,55.00,57.81,41909907,2437246044
1029,2002717,20160513,32.00,32.95,32.97,31.00,31.75,15571288,496937123
1114,2300018,20160513,10.97,22.16,11.33,10.50,10.67,8404933,91059020
1167,2300085,20160513,29.25,37.15,29.25,27.82,28.04,8453466,241267376
1201,2300122,20160513,13.28,27.11,13.77,12.30,12.50,5847177,75683379
1263,2300193,20160513,8.52,8.54,8.62,8.40,8.55,4612217,39456828
1303,2300237,20160513,8.80,8.80,9.07,8.68,8.87,6486371,57843991
1323,2300259,20160513,9.03,9.02,9.17,9.00,9.09,4167567,37891475
1353,2300294,20160513,53.25,53.69,54.99,52.26,53.39,4115163,220961010
1361,2300306,20160513,17.75,17.64,17.88,17.11,17.19,2301766,40299016
1416,2300371,20160513,25.00,25.30,25.49,24.88,25.24,961743,24305666

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:02.698447
no massive missing

array([], dtype=int32)

0:01:36.060713

20160513

SZ finished
0:00:35.923189
0:01:33.789110
0:01:25.269715
1
2
3
4
0:03:21.202752

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:325: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
88,2300435,20160516,22.00,22.36,22.20,20.68,21.17,5371410.0,1.138892e+08
57,2300285,20160516,31.00,31.10,34.21,29.60,33.60,8010530.0,2.636226e+08
70,2002019,20160516,16.18,16.15,16.39,15.37,16.32,20978621.0,3.335612e+08
88,2000812,20160516,8.58,8.56,9.41,8.53,9.19,17017504.0,1.540735e+08
83,2002003,20160516,12.97,13.16,13.18,12.85,13.06,3372474.0,4.380633e+07
53,2300045,20160516,16.11,17.90,16.11,16.11,16.11,2944500.0,4.743590e+07
88,2002671,20160516,10.77,10.86,11.14,10.70,11.11,4586920.0,5.019390e+07
88,2300070,20160516,15.39,15.51,15.39,14.85,15.07,22594182.0,3.427736e+08
34,2300081,20160516,14.33,13.92,15.31,14.33,15.31,12339018.0,1.847381e+08
68,2002499,20160516,18.70,20.78,18.70,18.70,18.70,306600.0,5.733420e+06
88,2002457,20160516,9.53,9.52,9.62,9.41,9.60,4076881.0,3.881355e+07
88,2000521,20160516,5.65,5.64,5.70,5.47,5.70,10848608.0,6.060980e+07
88,2002273,20160516,20.70,20.71,21.20,20.05,21.03,23736358.0,4.940058e+08
84,2300339,20160516,30.17,29.75,30.88,29.84,30.26,5629078.0,1.703138e+08
88,2300357,20160516,33.12,33.20,33.79,32.83,33.79,725351.0,2.423241e+07
0,2300366,20160516,69.93,77.70,69.93,69.93,69.93,21800.0,1.524474e+06

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
106,2000521,20160516,5.65,5.70,5.70,5.47,5.70,10848608,60609797
286,2000812,20160516,8.58,8.59,9.41,8.53,9.19,17017504,154073484
405,2002003,20160516,12.97,13.66,13.18,12.85,13.06,3372474,43806326
420,2002019,20160516,16.18,40.48,16.39,15.37,16.32,20978621,333561193
644,2002273,20160516,20.70,31.16,21.20,20.05,21.03,23736358,494005788
804,2002457,20160516,9.53,9.53,9.62,9.41,9.60,4076881,38813554
843,2002499,20160516,18.70,0.00,18.70,18.70,18.70,306600,5733420
990,2002671,20160516,10.77,10.87,11.14,10.70,11.11,4586920,50193901
1135,2300045,20160516,16.11,0.00,16.11,16.11,16.11,2944500,47435895
1153,2300070,20160516,15.39,38.33,15.39,14.85,15.07,22594182,342773554
1163,2300081,20160516,14.33,34.91,15.31,14.33,15.31,12339018,184738148
1347,2300285,20160516,31.00,0.00,34.21,29.60,33.60,8010530,263622630
1389,2300339,20160516,30.17,29.90,30.88,29.84,30.26,5629078,170313834
1407,2300357,20160516,33.12,33.55,33.79,32.83,33.79,725351,24232414
1414,2300366,20160516,69.93,0.00,69.93,69.93,69.93,21800,1524474
1474,2300435,20160516,22.00,67.28,22.20,20.68,21.17,5371410,113889176

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:02.704123
no massive missing

array([], dtype=int32)

0:01:32.694074

20160516

SZ finished
0:00:28.376324
0:01:37.377657
0:01:37.511601
1
2
3
4
0:03:37.877423

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:325: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
89,2002593,20160517,8.40,8.32,8.40,7.87,8.08,12634402.0,1.022105e+08
89,2300482,20160517,46.24,46.28,46.57,44.76,45.28,1626876.0,7.398040e+07
89,2300359,20160517,26.95,26.66,27.59,25.93,27.02,8036939.0,2.156435e+08
84,2002683,20160517,7.59,7.55,7.65,7.48,7.57,4297997.0,3.252414e+07
89,2002130,20160517,14.65,14.67,14.79,14.50,14.54,9752463.0,1.424065e+08
89,2300156,20160517,17.30,17.29,17.39,16.53,17.05,11856050.0,2.003268e+08
79,2300056,20160517,14.56,14.49,15.02,14.51,14.69,5040744.0,7.439158e+07
69,2002386,20160517,7.48,7.77,7.48,6.99,7.06,26318470.0,1.862052e+08
89,2000848,20160517,10.85,10.86,10.85,10.41,10.43,26326270.0,2.785964e+08
0,2002201,20160517,14.41,16.01,16.99,14.41,16.67,40457278.0,5.954719e+08
69,2002554,20160517,14.00,15.19,14.58,13.82,13.90,16150338.0,2.270043e+08
17,2002599,20160517,32.20,29.39,32.33,29.10,30.46,14436265.0,4.510136e+08
89,2002688,20160517,10.56,10.52,10.64,9.78,9.79,25100889.0,2.536175e+08
89,2002706,20160517,25.95,25.99,25.95,24.78,24.80,1907404.0,4.841593e+07
88,2002124,20160517,12.36,12.23,12.37,11.43,11.52,21224428.0,2.493463e+08
89,2300121,20160517,11.07,11.08,11.25,10.90,11.12,3348971.0,3.719867e+07
89,2002662,20160517,12.15,12.15,12.34,12.10,12.21,4018373.0,4.918735e+07
89,2002382,20160517,11.58,11.75,12.18,11.30,11.88,11699544.0,1.370004e+08
71,2000568,20160517,25.78,23.50,25.78,24.40,24.56,58682047.0,1.464500e+09
85,2002532,20160517,12.88,12.85,12.96,12.67,12.77,1782957.0,2.280379e+07
84,2002242,20160517,19.50,19.34,19.50,18.40,18.60,12278471.0,2.301772e+08
89,2002746,20160517,37.73,37.58,39.88,37.01,37.20,11368095.0,4.403689e+08
89,2300481,20160517,45.48,43.75,46.21,41.01,41.55,17182136.0,7.541726e+08
89,2300449,20160517,44.50,45.23,45.37,41.72,43.78,2335713.0,1.019773e+08
0,2000925,20160517,17.02,18.48,17.78,16.63,16.63,21764444.0,3.669568e+08

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
140,2000568,20160517,25.78,0.00,25.78,24.40,24.56,58682047,1464500278
306,2000848,20160517,10.85,14.32,10.85,10.41,10.43,26326270,278596368
354,2000925,20160517,17.02,0.00,17.78,16.63,16.63,21764444,366956809
517,2002124,20160517,12.36,27.10,12.37,11.43,11.52,21224428,249346330
521,2002130,20160517,14.65,14.78,14.79,14.50,14.54,9752463,142406465
585,2002201,20160517,14.41,0.00,16.99,14.41,16.67,40457278,595471862
620,2002242,20160517,19.50,20.04,19.50,18.40,18.60,12278471,230177175
737,2002382,20160517,11.58,23.89,12.18,11.30,11.88,11699544,137000432
741,2002386,20160517,7.48,0.00,7.48,6.99,7.06,26318470,186205202
874,2002532,20160517,12.88,12.90,12.96,12.67,12.77,1782957,22803786
894,2002554,20160517,14.00,0.00,14.58,13.82,13.90,16150338,227004348
927,2002593,20160517,8.40,25.05,8.40,7.87,8.08,12634402,102210487
933,2002599,20160517,32.20,0.00,32.33,29.10,30.46,14436265,451013628
987,2002662,20160517,12.15,12.45,12.34,12.10,12.21,4018373,49187345
1005,2002683,20160517,7.59,7.60,7.65,7.48,7.57,4297997,32524144
1009,2002688,20160517,10.56,26.50,10.64,9.78,9.79,25100889,253617491
1023,2002706,20160517,25.95,52.47,25.95,24.78,24.80,1907404,48415928
1057,2002746,20160517,37.73,37.68,39.88,37.01,37.20,11368095,440368926
1148,2300056,20160517,14.56,14.55,15.02,14.51,14.69,5040744,74391584
1204,2300121,20160517,11.07,11.12,11.25,10.90,11.12,3348971,37198674
1237,2300156,20160517,17.30,43.33,17.39,16.53,17.05,11856050,200326841
1413,2300359,20160517,26.95,66.70,27.59,25.93,27.02,8036939,215643502
1488,2300449,20160517,44.50,90.55,45.37,41.72,43.78,2335713,101977335
1513,2300481,20160517,45.48,87.99,46.21,41.01,41.55,17182136,754172605
1514,2300482,20160517,46.24,92.55,46.57,44.76,45.28,1626876,73980395

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:02.848839
no massive missing

array([], dtype=int32)

has missing!!!!!!!!!!!!!!!!!!!!!!!
1
0:01:39.824981

20160517

SZ finished
0:00:37.940099
0:01:46.791033
0:01:28.139709
1
2
3
4
0:03:38.938134

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:325: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
19,2300405,20160518,32.66,29.69,32.66,32.66,32.66,41701.0,1.361955e+06
90,2300427,20160518,18.71,19.72,19.17,17.75,17.75,9072056.0,1.632198e+08
90,2002750,20160518,15.52,15.47,15.52,14.10,14.44,3822556.0,5.637923e+07
69,2002228,20160518,6.20,6.40,6.26,5.76,5.76,41972210.0,2.479492e+08
90,2000043,20160518,7.43,7.48,7.49,7.12,7.19,6477327.0,4.709659e+07
47,2002230,20160518,28.00,27.83,30.03,26.66,28.76,69607241.0,2.016852e+09
89,2002108,20160518,21.50,21.75,21.79,20.33,21.35,46489924.0,9.838125e+08
90,2300415,20160518,14.51,14.62,14.60,13.86,14.02,1783136.0,2.517412e+07
90,2300039,20160518,9.64,9.66,9.64,9.34,9.43,7656576.0,7.254934e+07
85,2000429,20160518,5.41,5.40,5.41,5.19,5.26,4429882.0,2.349140e+07
90,2300418,20160518,27.01,27.44,27.01,26.00,26.26,10174744.0,2.697556e+08
90,2002415,20160518,21.39,21.37,21.39,20.30,20.78,17532418.0,3.621802e+08
90,2002223,20160518,30.39,30.80,30.40,29.29,30.11,9376927.0,2.804322e+08
90,2300066,20160518,6.27,6.40,6.40,5.76,5.83,16776096.0,1.005439e+08
64,2002103,20160518,16.00,16.35,16.35,15.52,15.93,4029918.0,6.362724e+07
90,2002122,20160518,6.17,6.16,6.17,5.99,6.01,5097470.0,3.084726e+07
90,2300203,20160518,23.77,23.79,23.85,22.81,23.15,5136807.0,1.197304e+08
90,2300107,20160518,5.97,5.98,5.97,5.64,5.75,4407164.0,2.557492e+07
90,2002472,20160518,19.81,20.04,20.07,19.01,19.34,2361501.0,4.642720e+07
90,2300124,20160518,17.98,18.03,17.98,16.98,17.09,11670979.0,2.014279e+08
90,2300219,20160518,12.56,12.84,12.64,11.65,12.00,14840039.0,1.811445e+08
90,2002521,20160518,8.59,8.61,8.59,8.14,8.23,14139670.0,1.180144e+08

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
32,2000043,20160518,7.43,7.53,7.49,7.12,7.19,6477327,47096586
87,2000429,20160518,5.41,5.55,5.41,5.19,5.26,4429882,23491402
498,2002103,20160518,16.00,24.68,16.35,15.52,15.93,4029918,63627239
503,2002108,20160518,21.50,21.91,21.79,20.33,21.35,46489924,983812545
515,2002122,20160518,6.17,6.21,6.17,5.99,6.01,5097470,30847256
602,2002223,20160518,30.39,31.20,30.40,29.29,30.11,9376927,280432192
607,2002228,20160518,6.20,18.03,6.26,5.76,5.76,41972210,247949164
609,2002230,20160518,28.00,0.00,30.03,26.66,28.76,69607241,2016852088
769,2002415,20160518,21.39,32.75,21.39,20.30,20.78,17532418,362180218
822,2002472,20160518,19.81,20.16,20.07,19.01,19.34,2361501,46427202
866,2002521,20160518,8.59,8.81,8.59,8.14,8.23,14139670,118014371
1062,2002750,20160518,15.52,31.03,15.52,14.10,14.44,3822556,56379227
1136,2300039,20160518,9.64,9.76,9.64,9.34,9.43,7656576,72549340
1155,2300066,20160518,6.27,16.08,6.40,5.76,5.83,16776096,100543917
1193,2300107,20160518,5.97,6.01,5.97,5.64,5.75,4407164,25574921
1208,2300124,20160518,17.98,36.56,17.98,16.98,17.09,11670979,201427936
1278,2300203,20160518,23.77,23.89,23.85,22.81,23.15,5136807,119730368
1293,2300219,20160518,12.56,12.87,12.64,11.65,12.00,14840039,181144494
1455,2300405,20160518,32.66,0.00,32.66,32.66,32.66,41701,1361954
1463,2300415,20160518,14.51,14.77,14.60,13.86,14.02,1783136,25174119
1466,2300418,20160518,27.01,27.55,27.01,26.00,26.26,10174744,269755570
1472,2300427,20160518,18.71,63.28,19.17,17.75,17.75,9072056,163219782

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:03.072083
no massive missing

array([], dtype=int32)

0:01:51.677015

20160518

SZ finished
0:00:38.420665
0:01:36.630752
0:01:44.005851
1
2
3
4
0:03:14.617460

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:325: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
91,2300394,20160519,34.20,34.18,34.96,32.02,32.16,4812102.0,1.623450e+08
29,2002427,20160519,17.73,17.60,19.25,17.62,18.84,13995293.0,2.594915e+08
91,2000860,20160519,21.50,21.75,22.18,21.42,21.55,8238020.0,1.790810e+08
91,2002107,20160519,14.75,14.66,14.99,14.68,14.70,2565299.0,3.801606e+07
91,2000789,20160519,5.98,5.93,6.06,5.91,5.93,5396644.0,3.234838e+07
83,2000882,20160519,3.95,3.92,4.00,3.91,3.94,16300668.0,6.459451e+07
85,2300197,20160519,12.30,12.08,12.36,11.81,11.96,6840444.0,8.310264e+07
68,2300500,20160519,61.20,61.41,63.38,61.20,61.69,734392.0,4.587781e+07
82,2300032,20160519,16.60,16.46,16.90,16.51,16.55,8871982.0,1.484842e+08
91,2002589,20160519,29.12,29.18,29.76,28.91,29.02,1650549.0,4.839562e+07
91,2300412,20160519,29.42,29.43,30.22,29.06,29.40,1640185.0,4.867943e+07
91,2002221,20160519,10.00,9.98,10.36,9.71,9.98,7755558.0,7.874704e+07
91,2300034,20160519,15.95,15.69,16.27,15.66,15.90,3965644.0,6.335078e+07
91,2002317,20160519,10.90,10.79,10.99,10.71,10.76,7858331.0,8.537038e+07
91,2002418,20160519,8.10,8.25,8.35,7.80,7.82,20756569.0,1.671976e+08
91,2000516,20160519,6.03,6.04,6.28,5.92,5.98,25390002.0,1.552948e+08
91,2002060,20160519,6.34,6.31,6.42,6.24,6.29,4286456.0,2.723596e+07
91,2300396,20160519,33.17,33.12,34.25,33.17,33.76,1021687.0,3.459435e+07
88,2300368,20160519,21.15,21.35,23.45,21.15,21.88,38017755.0,8.598558e+08
91,2000012,20160519,10.39,10.38,10.98,10.27,10.64,17890198.0,1.905883e+08
82,2002622,20160519,10.27,10.39,10.71,9.99,10.49,16103332.0,1.685312e+08
91,2002132,20160519,4.16,4.19,4.28,4.14,4.16,10595301.0,4.469618e+07
91,2002253,20160519,33.80,33.87,35.35,33.45,33.73,11114556.0,3.831275e+08
91,2002613,20160519,7.46,7.61,7.48,7.11,7.15,49910323.0,3.609841e+08
91,2000977,20160519,21.15,21.08,21.86,21.08,21.24,15123898.0,3.250892e+08
91,2300139,20160519,12.11,12.07,12.45,12.10,12.17,3538220.0,4.350877e+07

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
7,2000012,20160519,10.39,10.68,10.98,10.27,10.64,17890198,190588288
99,2000516,20160519,6.03,15.14,6.28,5.92,5.98,25390002,155294822
268,2000789,20160519,5.98,6.03,6.06,5.91,5.93,5396644,32348380
311,2000860,20160519,21.50,21.85,22.18,21.42,21.55,8238020,179080976
323,2000882,20160519,3.95,3.98,4.00,3.91,3.94,16300668,64594511
383,2000977,20160519,21.15,21.13,21.86,21.08,21.24,15123898,325089207
458,2002060,20160519,6.34,6.36,6.42,6.24,6.29,4286456,27235956
499,2002107,20160519,14.75,14.76,14.99,14.68,14.70,2565299,38016057
519,2002132,20160519,4.16,6.39,4.28,4.14,4.16,10595301,44696180
596,2002221,20160519,10.00,20.01,10.36,9.71,9.98,7755558,78747043
627,2002253,20160519,33.80,51.00,35.35,33.45,33.73,11114556,383127544
679,2002317,20160519,10.90,10.92,10.99,10.71,10.76,7858331,85370383
768,2002418,20160519,8.10,24.84,8.35,7.80,7.82,20756569,167197617
777,2002427,20160519,17.73,17.72,19.25,17.62,18.84,13995293,259491538
921,2002589,20160519,29.12,29.22,29.76,28.91,29.02,1650549,48395618
941,2002613,20160519,7.46,7.63,7.48,7.11,7.15,49910323,360984116
948,2002622,20160519,10.27,20.78,10.71,9.99,10.49,16103332,168531199
1126,2300032,20160519,16.60,16.56,16.90,16.51,16.55,8871982,148484246
1128,2300034,20160519,15.95,20.45,16.27,15.66,15.90,3965644,63350776
1217,2300139,20160519,12.11,12.08,12.45,12.10,12.17,3538220,43508766
1267,2300197,20160519,12.30,13.39,12.36,11.81,11.96,6840444,83102643
1415,2300368,20160519,21.15,42.73,23.45,21.15,21.88,38017755,859855833
1439,2300394,20160519,34.20,86.00,34.96,32.02,32.16,4812102,162345004
1441,2300396,20160519,33.17,33.32,34.25,33.17,33.76,1021687,34594349
1455,2300412,20160519,29.42,29.83,30.22,29.06,29.40,1640185,48679429
1526,2300500,20160519,61.20,61.61,63.38,61.20,61.69,734392,45877810

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:02.901022
no massive missing

array([], dtype=int32)

0:01:35.530258

20160519

SZ finished
0:00:34.008581
0:01:34.672074
0:01:36.008664
1
2
3
4
0:03:13.328660

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:325: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
92,2000903,20160520,6.40,6.44,6.61,6.40,6.57,4091934.0,2.666980e+07
92,2002222,20160520,10.98,11.21,11.68,10.83,11.64,12474042.0,1.426116e+08
92,2002087,20160520,6.85,6.88,6.95,6.75,6.94,4272069.0,2.946423e+07
92,2000885,20160520,14.20,14.51,14.70,14.15,14.42,7278538.0,1.051304e+08
92,2300133,20160520,14.94,14.96,15.08,14.35,15.03,7214492.0,1.066278e+08
92,2002338,20160520,48.50,48.89,49.80,47.81,49.29,331270.0,1.616631e+07
83,2300130,20160520,24.90,25.16,26.28,24.60,26.28,5543261.0,1.421281e+08
75,2002353,20160520,18.60,18.88,19.50,18.53,19.50,27266702.0,5.214933e+08
92,2002765,20160520,24.50,24.95,24.77,24.09,24.52,4116019.0,1.005551e+08
64,2300347,20160520,30.20,30.20,31.00,30.03,30.65,3104679.0,9.463132e+07
92,2002400,20160520,12.76,12.81,12.98,12.53,12.88,8597619.0,1.100709e+08
87,2002655,20160520,14.63,14.78,14.64,13.64,14.40,21570407.0,3.022227e+08
92,2002318,20160520,9.17,9.24,9.24,9.00,9.23,10966258.0,1.002753e+08
92,2000418,20160520,28.49,29.21,29.40,28.30,28.71,4294146.0,1.233214e+08
88,2002171,20160520,14.10,14.30,14.68,13.92,14.61,3938551.0,5.671013e+07
92,2002376,20160520,11.60,11.65,11.83,11.50,11.81,2965907.0,3.469459e+07
92,2002332,20160520,9.89,9.96,10.10,9.80,10.10,4752378.0,4.759161e+07
92,2002324,20160520,26.50,26.62,26.75,26.20,26.73,4875676.0,1.293584e+08
92,2300358,20160520,17.50,17.63,17.84,17.06,17.73,3095171.0,5.443813e+07
92,2000965,20160520,4.81,4.84,4.93,4.76,4.91,6254049.0,3.043073e+07
92,2002111,20160520,25.80,26.15,28.40,25.61,27.95,16660313.0,4.506525e+08
92,2300012,20160520,10.09,10.13,10.27,9.97,10.26,3237759.0,3.286386e+07
92,2300100,20160520,39.17,40.02,40.76,37.25,38.50,8253441.0,3.214167e+08
92,2000697,20160520,19.75,19.95,20.56,19.60,20.48,9010805.0,1.818107e+08
34,2300336,20160520,23.00,23.50,24.31,22.88,24.28,12469287.0,2.970870e+08

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
77,2000418,20160520,28.49,29.81,29.40,28.30,28.71,4294146,123321444
214,2000697,20160520,19.75,19.96,20.56,19.60,20.48,9010805,181810711
325,2000885,20160520,14.20,14.52,14.70,14.15,14.42,7278538,105130428
338,2000903,20160520,6.40,6.51,6.61,6.40,6.57,4091934,26669800
375,2000965,20160520,4.81,4.85,4.93,4.76,4.91,6254049,30430733
481,2002087,20160520,6.85,6.91,6.95,6.75,6.94,4272069,29464233
502,2002111,20160520,25.80,26.27,28.40,25.61,27.95,16660313,450652511
555,2002171,20160520,14.10,14.32,14.68,13.92,14.61,3938551,56710130
598,2002222,20160520,10.98,16.87,11.68,10.83,11.64,12474042,142611573
681,2002318,20160520,9.17,9.26,9.24,9.00,9.23,10966258,100275270
687,2002324,20160520,26.50,26.72,26.75,26.20,26.73,4875676,129358423
693,2002332,20160520,9.89,10.06,10.10,9.80,10.10,4752378,47591607
699,2002338,20160520,48.50,48.89,49.80,47.81,49.00,272370,13266951
711,2002353,20160520,18.60,18.91,19.50,18.53,19.50,27266702,521493280
731,2002376,20160520,11.60,11.80,11.83,11.50,11.81,2965907,34694585
753,2002400,20160520,12.76,16.72,12.98,12.53,12.88,8597619,110070917
980,2002655,20160520,14.63,14.79,14.64,13.64,14.40,21570407,302222699
1072,2002765,20160520,24.50,25.20,24.77,24.09,24.52,4116019,100555117
1112,2300012,20160520,10.09,20.35,10.27,9.97,10.26,3237759,32863858
1185,2300100,20160520,39.17,40.12,40.76,37.25,38.50,8253441,321416748
1211,2300130,20160520,24.90,25.21,26.28,24.60,26.28,5543261,142128076
1214,2300133,20160520,14.94,23.98,15.08,14.35,15.03,7214492,106627777
1386,2300336,20160520,23.00,23.60,24.31,22.88,24.28,12469287,297086973
1396,2300347,20160520,30.20,30.30,31.00,30.03,30.65,3104679,94631319
1407,2300358,20160520,17.50,28.31,17.84,17.06,17.73,3095171,54438134

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:02.893190
no massive missing

array([], dtype=int32)

0:01:47.693506

20160520

SZ finished
0:00:25.761485
0:01:38.449128
0:01:28.240344
1
2
3
4
0:03:30.953304

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:325: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
93,2002528,20160523,8.15,8.15,8.45,7.94,8.22,20898576.0,1.707098e+08
93,2300202,20160523,18.98,18.81,20.29,18.93,20.12,8670811.0,1.699710e+08
93,2002557,20160523,18.95,18.73,19.00,18.70,18.82,2861742.0,5.395577e+07
93,2002311,20160523,17.15,17.24,17.39,16.85,17.02,16020222.0,2.735491e+08
58,2002409,20160523,15.10,15.27,15.25,14.49,15.07,5982552.0,8.951326e+07
76,2300365,20160523,39.37,39.10,39.40,37.99,38.90,2644811.0,1.024624e+08
68,2002429,20160523,8.30,8.98,8.48,8.08,8.25,54699957.0,4.488845e+08
4,2000766,20160523,11.41,12.68,13.90,11.41,13.31,25461773.0,3.275871e+08
81,2002131,20160523,16.96,18.84,17.97,16.96,17.22,33403253.0,5.819623e+08
93,2002224,20160523,17.13,17.20,17.59,16.90,17.25,40046913.0,6.896097e+08
81,2002020,20160523,11.62,11.55,11.72,11.39,11.69,9255815.0,1.067831e+08
93,2300196,20160523,35.18,34.98,36.38,34.98,36.31,2045183.0,7.355120e+07
0,2002044,20160523,27.78,30.87,31.12,27.78,29.95,32753574.0,9.286577e+08
93,2002100,20160523,9.13,9.08,9.38,9.11,9.23,11870686.0,1.098213e+08
93,2300352,20160523,17.52,17.43,17.80,17.21,17.61,12624660.0,2.214630e+08
58,2300089,20160523,10.33,10.15,10.59,9.94,10.14,15426884.0,1.564053e+08
93,2300422,20160523,28.80,28.79,30.53,28.79,30.44,2940710.0,8.727536e+07

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
253,2000766,20160523,11.41,0.00,13.90,11.41,13.31,25461773,327587112
419,2002020,20160523,11.62,23.24,11.72,11.39,11.69,9255815,106783146
443,2002044,20160523,27.78,0.00,31.12,27.78,29.95,32753574,928657659
493,2002100,20160523,9.13,9.20,9.38,9.11,9.23,11870686,109821275
518,2002131,20160523,16.96,18.87,17.97,16.96,17.22,33403253,581962299
600,2002224,20160523,17.13,17.30,17.59,16.90,17.25,40046913,689609739
675,2002311,20160523,17.15,17.49,17.39,16.85,17.02,16020222,273549053
761,2002409,20160523,15.10,30.71,15.25,14.49,15.07,5982552,89513259
781,2002429,20160523,8.30,0.00,8.48,8.08,8.25,54699957,448884487
868,2002528,20160523,8.15,10.59,8.45,7.94,8.22,20898576,170709824
894,2002557,20160523,18.95,19.23,19.00,18.70,18.82,2861742,53955770
1169,2300089,20160523,10.33,25.40,10.59,9.94,10.14,15426884,156405326
1264,2300196,20160523,35.18,35.13,36.38,34.98,36.31,2045183,73551199
1270,2300202,20160523,18.98,18.89,20.29,18.93,20.12,8670811,169970997
1395,2300352,20160523,17.52,33.16,17.80,17.21,17.61,12624660,221463014
1406,2300365,20160523,39.37,39.15,39.40,37.99,38.90,2644811,102462448
1458,2300422,20160523,28.80,28.79,30.15,28.79,30.10,2539651,75126605

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:02.825877
no massive missing

array([], dtype=int32)

has missing!!!!!!!!!!!!!!!!!!!!!!!
1
0:01:41.968171

20160523

SZ finished
0:00:35.314580
0:01:34.818476
0:01:28.953006
1
2
3
4
0:03:12.915745

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:325: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
56,2300436,20160524,56.30,56.15,56.30,54.00,55.05,740760.0,4.080468e+07
94,2300006,20160524,9.99,9.97,10.00,9.21,9.24,39806509.0,3.744444e+08
94,2002008,20160524,21.25,21.11,21.47,20.98,21.06,10898031.0,2.312435e+08
94,2300198,20160524,13.22,13.17,13.22,13.03,13.07,4546756.0,5.953059e+07
94,2002692,20160524,7.85,7.91,7.85,7.40,7.47,6808083.0,5.128532e+07
94,2002519,20160524,20.68,20.70,20.97,19.75,20.05,5068528.0,1.028477e+08
94,2002621,20160524,18.27,18.16,18.38,18.16,18.28,1097734.0,2.005608e+07
94,2300136,20160524,18.69,18.69,18.98,18.31,18.31,7513699.0,1.404501e+08
94,2002583,20160524,10.13,10.11,10.26,9.82,10.17,23131567.0,2.321537e+08
94,2300120,20160524,12.84,12.75,12.85,12.42,12.54,3172512.0,3.984266e+07
94,2002178,20160524,9.15,9.17,9.16,9.00,9.03,3690203.0,3.342058e+07
84,2300459,20160524,28.60,28.69,28.60,27.32,27.55,6602213.0,1.832310e+08
94,2000011,20160524,12.23,12.25,12.46,12.18,12.22,5134897.0,6.321823e+07
94,2300119,20160524,15.73,15.75,15.79,15.16,15.34,2212242.0,3.420290e+07
94,2002690,20160524,20.77,20.77,20.78,20.20,20.38,1960424.0,3.999856e+07
94,2300115,20160524,21.00,20.92,21.23,20.41,20.73,5947520.0,1.241380e+08
94,2300232,20160524,14.49,14.37,14.49,13.83,14.15,6298347.0,8.950219e+07
94,2300451,20160524,45.30,46.52,46.50,43.51,44.40,6725905.0,3.003097e+08
94,2002206,20160524,15.50,15.50,15.50,15.03,15.08,4023462.0,6.111591e+07
94,2300475,20160524,23.35,23.49,23.65,22.92,23.12,1536300.0,3.568351e+07
29,2002742,20160524,21.91,21.91,22.37,21.01,21.29,2401348.0,5.145031e+07
61,2300053,20160524,14.88,15.56,15.10,14.00,14.00,46223114.0,6.648435e+08
94,2002752,20160524,16.50,16.59,17.60,16.00,16.81,8698019.0,1.472665e+08
94,2300218,20160524,14.54,14.51,14.68,14.40,14.59,14144300.0,2.058971e+08

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
6,2000011,20160524,12.23,12.33,12.46,12.18,12.22,5134897,63218232
409,2002008,20160524,21.25,21.31,21.47,20.98,21.06,10898031,231243450
562,2002178,20160524,9.15,9.23,9.16,9.00,9.03,3690203,33420577
588,2002206,20160524,15.50,15.92,15.50,15.03,15.08,4023462,61115907
863,2002519,20160524,20.68,20.95,20.97,19.75,20.05,5068528,102847731
919,2002583,20160524,10.13,10.14,10.26,9.82,10.17,23131567,232153732
950,2002621,20160524,18.27,18.22,18.38,18.16,18.28,1097734,20056081
1010,2002690,20160524,20.77,21.07,20.78,20.20,20.38,1960424,39998557
1011,2002692,20160524,7.85,17.55,7.85,7.40,7.47,6808083,51285324
1052,2002742,20160524,21.91,33.12,22.37,21.01,21.29,2401348,51450314
1061,2002752,20160524,16.50,24.99,17.60,16.00,16.81,8698019,147266526
1104,2300006,20160524,9.99,35.98,10.00,9.21,9.24,39806509,374444437
1143,2300053,20160524,14.88,0.00,15.10,14.00,14.00,46223114,664843466
1195,2300115,20160524,21.00,33.77,21.23,20.41,20.73,5947520,124137995
1199,2300119,20160524,15.73,15.90,15.79,15.16,15.34,2212242,34202895
1200,2300120,20160524,12.84,12.80,12.85,12.42,12.54,3172512,39842657
1215,2300136,20160524,18.69,29.95,18.98,18.31,18.31,7513699,140450065
1269,2300198,20160524,13.22,13.18,13.22,13.03,13.07,4546756,59530585
1288,2300218,20160524,14.54,14.59,14.68,14.40,14.59,14144300,205897145
1297,2300232,20160524,14.49,35.99,14.49,13.83,14.15,6298347,89502191
1471,2300436,20160524,56.30,56.40,56.30,54.00,55.05,740760,40804682
1484,2300451,20160524,45.30,139.72,46.50,43.51,44.40,6725905,300309702
1490,2300459,20160524,28.60,28.77,28.60,27.32,27.55,6602213,183231035
1502,2300475,20160524,23.35,23.60,23.65,22.92,23.12,1536300,35683514

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:02.875623
no massive missing

array([], dtype=int32)

has missing!!!!!!!!!!!!!!!!!!!!!!!
1
0:01:34.580161

20160524

SZ finished
0:00:33.223373
0:01:33.915905
0:01:35.303930
1
2
3
4
0:03:19.243257

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:325: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
95,2300174,20160525,21.40,21.39,21.80,21.12,21.58,2773534.0,5.962086e+07
0,2002798,20160525,12.68,10.57,15.22,12.68,15.22,19651.0,2.959562e+05
95,2300417,20160525,38.00,37.29,38.00,36.29,36.80,1342703.0,4.994621e+07
88,2300281,20160525,12.52,12.40,12.66,12.40,12.44,2501355.0,3.139247e+07
95,2002679,20160525,21.30,21.58,22.67,20.97,21.80,5829651.0,1.260473e+08
95,2002328,20160525,8.78,8.70,8.93,8.75,8.75,7425681.0,6.570693e+07
95,2002448,20160525,13.43,13.25,13.56,12.87,12.92,43487493.0,5.732308e+08
95,2300264,20160525,13.58,13.44,13.80,13.10,13.48,20569451.0,2.775874e+08
95,2000828,20160525,9.19,9.17,9.21,9.02,9.07,4068396.0,3.701757e+07
95,2300099,20160525,8.80,8.64,8.85,8.28,8.40,16906377.0,1.430260e+08
0,2002542,20160525,8.14,9.04,8.54,8.14,8.14,32688197.0,2.697990e+08
95,2300200,20160525,13.23,13.11,13.45,13.10,13.13,1734409.0,2.302721e+07
95,2002394,20160525,13.75,13.65,13.83,13.64,13.72,3433878.0,4.718277e+07
88,2300194,20160525,17.50,17.36,17.86,17.25,17.43,1540468.0,2.711872e+07
88,2300304,20160525,25.50,25.21,25.73,24.80,24.94,2602349.0,6.580468e+07
90,2300353,20160525,16.12,15.94,16.33,15.98,16.21,5371976.0,8.701635e+07
95,2300114,20160525,20.10,19.97,20.39,19.70,19.76,1725520.0,3.460711e+07
95,2300026,20160525,14.18,14.01,14.24,13.97,13.97,8692128.0,1.225900e+08
95,2300424,20160525,52.80,52.28,53.00,51.85,52.20,748357.0,3.914947e+07
95,2002162,20160525,6.58,6.49,6.58,6.43,6.44,5520821.0,3.595553e+07
95,2002090,20160525,26.79,26.51,26.97,26.24,26.71,2955930.0,7.882862e+07
95,2002747,20160525,27.91,27.42,28.95,27.10,28.01,5168953.0,1.454498e+08
95,2002590,20160525,27.89,27.35,28.44,27.00,27.42,26390108.0,7.312380e+08
95,2002761,20160525,38.40,38.38,38.78,37.81,38.17,2293100.0,8.766710e+07
95,2002035,20160525,20.73,20.64,22.70,20.46,21.88,2962250.0,6.366214e+07
7,2300366,20160525,35.25,34.61,36.65,33.70,35.93,11202930.0,3.952121e+08
90,2300317,20160525,22.91,22.75,24.66,22.85,24.29,5780904.0,1.388832e+08

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
296,2000828,20160525,9.19,9.47,9.21,9.02,9.07,4068396,37017566
436,2002035,20160525,20.73,21.04,22.70,20.46,21.88,2962250,63662142
485,2002090,20160525,26.79,26.66,26.97,26.24,26.71,2955930,78828621
549,2002162,20160525,6.58,8.44,6.58,6.43,6.44,5520821,35955530
691,2002328,20160525,8.78,8.74,8.93,8.75,8.75,7425681,65706933
747,2002394,20160525,13.75,13.95,13.83,13.64,13.72,3433878,47182766
797,2002448,20160525,13.43,13.35,13.56,12.87,12.92,43487493,573230833
882,2002542,20160525,8.14,0.00,8.54,8.14,8.14,32688197,269799010
924,2002590,20160525,27.89,27.39,28.44,27.00,27.42,26390108,731238022
1001,2002679,20160525,21.30,21.67,22.67,20.97,21.80,5829651,126047290
1055,2002747,20160525,27.91,55.24,28.95,27.10,28.01,5168953,145449817
1067,2002761,20160525,38.40,38.42,38.78,37.81,38.17,2293100,87667104
1098,2002798,20160525,12.68,0.00,15.22,12.68,15.22,19651,295956
1121,2300026,20160525,14.18,14.07,14.24,13.97,13.97,8692128,122589971
1183,2300099,20160525,8.80,21.69,8.85,8.28,8.40,16906377,143026008
1195,2300114,20160525,20.10,30.03,20.39,19.70,19.76,1725520,34607111
1251,2300174,20160525,21.40,21.49,21.80,21.12,21.58,2773534,59620861
1267,2300194,20160525,17.50,17.46,17.86,17.25,17.43,1540468,27118716
1273,2300200,20160525,13.23,13.31,13.45,13.10,13.13,1734409,23027206
1328,2300264,20160525,13.58,24.20,13.80,13.10,13.48,20569451,277587423
1344,2300281,20160525,12.52,12.45,12.66,12.40,12.44,2501355,31392469
1359,2300304,20160525,25.50,25.41,25.73,24.80,24.94,2602349,65804683
1371,2300317,20160525,22.91,22.77,24.66,22.85,24.29,5780904,138883239
1401,2300353,20160525,16.12,15.95,16.33,15.98,16.21,5371976,87016349
1412,2300366,20160525,35.25,51.91,36.65,33.70,35.93,11202930,395212097
1459,2300417,20160525,38.00,74.78,38.00,36.29,36.80,1342703,49946207
1465,2300424,20160525,52.80,52.30,53.00,51.85,52.20,748357,39149467

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:03.293009
no massive missing

array([2002798], dtype=int32)

has missing!!!!!!!!!!!!!!!!!!!!!!!
1
0:01:43.852447

20160525

SZ finished
0:00:39.590714
0:01:38.591298
0:01:31.148832
1
2
3
4
0:03:33.988161

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:325: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
96,2300379,20160526,64.50,65.00,66.50,62.20,66.47,3624016.0,2.326867e+08
96,2002398,20160526,11.55,11.55,11.70,11.26,11.70,3999362.0,4.590357e+07
96,2002295,20160526,14.70,14.76,14.76,14.00,14.66,2999107.0,4.343542e+07
89,2300269,20160526,22.60,22.60,22.88,21.96,22.62,4640881.0,1.034417e+08
96,2002656,20160526,12.92,12.92,13.89,12.24,13.55,4705566.0,6.158448e+07
89,2300409,20160526,42.42,42.93,43.79,41.25,42.70,2593074.0,1.096892e+08
96,2002455,20160526,7.84,7.80,7.85,7.62,7.82,4064524.0,3.136848e+07
96,2002436,20160526,17.35,17.35,17.40,16.66,17.20,4059225.0,6.901729e+07
90,2002639,20160526,9.10,9.01,9.10,8.80,8.96,4447737.0,3.954269e+07
96,2000910,20160526,13.50,13.58,13.86,13.25,13.73,5131166.0,7.004800e+07
96,2002763,20160526,31.00,30.90,31.15,30.10,30.90,1093761.0,3.346397e+07
64,2300355,20160526,6.62,6.66,6.70,6.33,6.62,14759164.0,9.613742e+07
91,2300310,20160526,23.40,23.23,24.85,23.25,23.88,6765119.0,1.630514e+08
96,2300108,20160526,8.17,8.21,8.39,8.11,8.33,3666615.0,3.027640e+07
96,2300245,20160526,20.76,20.80,20.77,19.75,20.60,11465686.0,2.316128e+08
96,2002404,20160526,7.15,7.13,7.18,6.90,7.08,5659030.0,3.970883e+07
48,2300425,20160526,31.97,32.08,32.09,30.48,31.95,4842248.0,1.516566e+08
0,2300512,20160526,25.09,20.91,30.11,25.09,30.11,20998.0,6.289988e+05
73,2300501,20160526,80.01,80.50,85.88,78.02,85.00,2384349.0,1.950005e+08
96,2300155,20160526,12.00,11.98,12.19,11.62,12.09,5207422.0,6.197477e+07
96,2300422,20160526,29.60,29.79,30.20,28.60,30.20,1438388.0,4.254560e+07

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
343,2000910,20160526,13.50,13.63,13.86,13.25,13.73,5131166,70047997
661,2002295,20160526,14.70,14.80,14.76,14.00,14.66,2999107,43435424
751,2002398,20160526,11.55,11.65,11.70,11.26,11.70,3999362,45903571
757,2002404,20160526,7.15,7.23,7.18,6.90,7.08,5659030,39708829
788,2002436,20160526,17.35,17.40,17.40,16.66,17.20,4059225,69017286
803,2002455,20160526,7.84,7.90,7.85,7.62,7.82,4064524,31368478
966,2002639,20160526,9.10,9.02,9.10,8.80,8.96,4447737,39542686
981,2002656,20160526,12.92,20.78,13.89,12.24,13.55,4705566,61584479
1068,2002763,20160526,31.00,31.20,31.15,30.10,30.90,1093761,33463972
1191,2300108,20160526,8.17,12.42,8.39,8.11,8.33,3666615,30276401
1234,2300155,20160526,12.00,12.00,12.19,11.62,12.09,5207422,61974765
1311,2300245,20160526,20.76,20.83,20.77,19.75,20.60,11465686,231612794
1331,2300269,20160526,22.60,22.80,22.88,21.96,22.62,4640881,103441689
1363,2300310,20160526,23.40,37.21,24.85,23.25,23.88,6765119,163051414
1402,2300355,20160526,6.62,13.39,6.70,6.33,6.62,14759164,96137422
1422,2300379,20160526,64.50,65.12,66.50,62.20,66.47,3624016,232686694
1451,2300409,20160526,42.42,86.00,43.79,41.25,42.70,2593074,109689248
1462,2300422,20160526,29.60,29.85,30.20,28.60,30.20,1438388,42545596
1464,2300425,20160526,31.97,32.18,32.09,30.48,31.95,4842248,151656618
1525,2300501,20160526,80.01,81.00,85.88,78.02,85.00,2384349,195000522
1535,2300512,20160526,25.09,0.00,30.11,25.09,30.11,20998,628998

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:03.360654
no massive missing

array([2300512], dtype=int32)

has missing!!!!!!!!!!!!!!!!!!!!!!!
1
0:01:43.265806

20160526

SZ finished
0:00:41.403548
0:01:38.132822
0:01:36.028895
1
2
3
4
0:03:11.695721

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:325: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
97,2002733,20160527,26.00,26.40,27.17,25.80,26.58,26544388.0,7.008377e+08
97,2000055,20160527,15.70,15.68,15.91,15.45,15.70,9698893.0,1.515893e+08
97,2002466,20160527,47.03,47.71,48.54,43.01,43.81,87982173.0,3.983510e+09
97,2300421,20160527,26.93,26.95,27.30,26.81,27.20,1479739.0,4.014010e+07
88,2300342,20160527,25.51,26.00,27.78,25.51,27.05,4894796.0,1.317739e+08
93,2300393,20160527,30.25,30.03,30.95,30.03,30.34,1679099.0,5.123383e+07
93,2002514,20160527,11.70,12.09,12.63,11.23,12.20,42735641.0,5.066772e+08
97,2300480,20160527,24.25,24.72,26.18,23.50,25.00,10998277.0,2.766590e+08
18,2002288,20160527,9.76,8.87,9.76,9.76,9.76,1313202.0,1.281685e+07
97,2300101,20160527,20.40,20.23,21.85,20.25,21.38,19658328.0,4.164442e+08
80,2002624,20160527,36.33,36.33,36.73,35.90,36.17,1275522.0,4.613119e+07
97,2002215,20160527,9.88,9.83,9.92,9.79,9.85,7224812.0,7.116851e+07
69,2000035,20160527,6.40,6.39,6.44,6.22,6.32,8788725.0,5.552733e+07
92,2002543,20160527,16.64,16.59,16.79,16.42,16.46,4517516.0,7.496640e+07
25,2002675,20160527,39.80,39.94,43.93,38.00,39.99,7768136.0,3.121662e+08
97,2002252,20160527,37.11,37.09,37.26,36.99,37.02,2486569.0,9.209924e+07
97,2002380,20160527,30.97,30.92,30.99,30.55,30.65,1161339.0,3.567365e+07
83,2300224,20160527,22.47,22.54,23.72,21.70,21.95,29936574.0,6.875363e+08
13,2002703,20160527,25.00,25.28,27.00,23.21,23.92,19186323.0,4.687156e+08
46,2300484,20160527,113.04,112.35,115.00,104.50,105.38,7106917.0,7.739798e+08
97,2000989,20160527,20.70,20.76,20.76,20.44,20.54,861012.0,1.775020e+07
97,2002050,20160527,8.67,8.76,9.13,8.58,8.96,41079183.0,3.677539e+08
97,2300469,20160527,124.94,121.98,126.39,117.02,117.65,1858724.0,2.259439e+08
97,2000078,20160527,7.76,7.66,7.93,7.30,7.38,78374008.0,5.986934e+08
97,2300148,20160527,14.70,14.83,14.99,14.70,14.80,3071396.0,4.561169e+07
97,2002516,20160527,5.92,5.96,6.05,5.86,5.89,9059301.0,5.393915e+07
97,2002564,20160527,7.06,7.09,7.25,7.03,7.15,13299943.0,9.550580e+07
97,2002333,20160527,9.65,9.60,9.78,9.26,9.49,2584540.0,2.444971e+07
97,2002183,20160527,13.02,13.13,13.09,12.75,12.78,35063448.0,4.519117e+08
97,2002632,20160527,10.63,10.63,11.19,10.31,10.73,9138990.0,9.969482e+07
97,2002244,20160527,6.56,6.57,6.83,6.55,6.74,25747757.0,1.732311e+08
97,2300064,20160527,9.18,9.23,9.26,9.08,9.11,3234452.0,2.961333e+07
97,2300348,20160527,24.80,25.25,25.29,24.50,24.71,6313960.0,1.572241e+08
97,2300370,20160527,7.94,7.94,8.00,7.68,7.81,5332371.0,4.173608e+07
97,2002748,20160527,15.23,15.23,15.23,14.78,14.78,3761019.0,5.610611e+07
97,2002315,20160527,60.30,60.37,60.30,59.22,59.59,1279934.0,7.640986e+07
97,2002620,20160527,28.76,28.90,29.29,28.61,28.91,1502773.0,4.361934e+07
97,2300223,20160527,33.52,33.06,36.00,33.50,34.80,11270389.0,3.948801e+08
97,2002681,20160527,14.80,14.81,14.99,14.70,14.80,7537030.0,1.119814e+08

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
26,2000035,20160527,6.40,12.78,6.44,6.22,6.32,8788725,55527328
38,2000055,20160527,15.70,15.78,15.91,15.45,15.70,9698893,151589253
51,2000078,20160527,7.76,19.15,7.93,7.30,7.38,78374008,598693395
391,2000989,20160527,20.70,24.27,20.76,20.44,20.54,861012,17750196
448,2002050,20160527,8.67,8.86,9.13,8.58,8.96,41079183,367753850
566,2002183,20160527,13.02,26.51,13.09,12.75,12.78,35063448,451911720
592,2002215,20160527,9.88,9.93,9.92,9.79,9.85,7224812,71168512
620,2002244,20160527,6.56,6.60,6.83,6.55,6.74,25747757,173231135
627,2002252,20160527,37.11,37.14,37.26,36.99,37.02,2486569,92099243
656,2002288,20160527,9.76,0.00,9.76,9.76,9.76,1313202,12816851
679,2002315,20160527,60.30,61.37,60.30,59.22,59.59,1279934,76409856
695,2002333,20160527,9.65,19.40,9.78,9.26,9.49,2584540,24449708
735,2002380,20160527,30.97,30.95,30.99,30.55,30.65,1161339,35673648
814,2002466,20160527,47.03,181.60,48.54,43.01,43.81,87982173,3983509556
857,2002514,20160527,11.70,24.17,12.63,11.23,12.20,42735641,506677190
858,2002516,20160527,5.92,11.97,6.05,5.86,5.89,9059301,53939151
883,2002543,20160527,16.64,16.84,16.79,16.42,16.46,4517516,74966396
902,2002564,20160527,7.06,7.10,7.25,7.03,7.15,13299943,95505802
947,2002620,20160527,28.76,29.05,29.29,28.61,28.91,1502773,43619344
951,2002624,20160527,36.33,36.36,36.73,35.90,36.17,1275522,46131189
958,2002632,20160527,10.63,21.31,11.19,10.31,10.73,9138990,99694817
997,2002675,20160527,39.80,0.00,43.93,38.00,39.99,7768136,312166241
1003,2002681,20160527,14.80,29.72,14.99,14.70,14.80,7537030,111981418
1020,2002703,20160527,25.00,0.00,27.00,23.21,23.92,19186323,468715579
1045,2002733,20160527,26.00,26.55,27.17,25.80,26.58,26544388,700837707
1057,2002748,20160527,15.23,30.54,15.23,14.78,14.78,3761019,56106110
1152,2300064,20160527,9.18,9.25,9.26,9.08,9.11,3234452,29613325
1187,2300101,20160527,20.40,20.28,21.85,20.25,21.38,19658328,416444221
1229,2300148,20160527,14.70,17.84,14.99,14.70,14.80,3071396,45611685
1295,2300223,20160527,33.52,33.09,36.00,33.50,34.80,11270389,394880131
1296,2300224,20160527,22.47,22.60,23.72,21.70,21.95,29936574,687536305
1392,2300342,20160527,25.51,39.30,27.78,25.51,27.05,4894796,131773901
1398,2300348,20160527,24.80,50.58,25.29,24.50,24.71,6313960,157224068
1417,2300370,20160527,7.94,15.94,8.00,7.68,7.81,5332371,41736083
1438,2300393,20160527,30.25,45.35,30.95,30.03,30.34,1679099,51233833
1464,2300421,20160527,26.93,27.30,27.30,26.81,27.20,1479739,40140098
1497,2300469,20160527,124.94,122.18,126.39,117.02,117.65,1858724,225943873
1507,2300480,20160527,24.25,49.38,26.18,23.50,25.00,10998277,276658961
1511,2300484,20160527,113.04,225.00,115.00,104.50,105.38,7106917,773979829

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:02.837630
no massive missing

array([], dtype=int32)

0:01:36.147985

20160527

SZ finished
0:00:26.113698
0:01:41.809031
0:01:34.774076
1
2
3
4
0:03:14.053005

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:325: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
47,2002405,20160530,29.14,26.49,29.14,29.14,29.14,1796490.0,5.234972e+07
44,2000028,20160530,59.61,60.36,62.80,59.03,62.61,1826702.0,1.128441e+08
98,2002713,20160530,29.00,29.10,29.00,28.01,28.15,2395272.0,6.777438e+07
98,2300440,20160530,28.55,29.17,28.97,27.86,28.28,1921846.0,5.476974e+07
98,2002618,20160530,21.91,22.38,22.93,21.00,22.02,9548883.0,2.102164e+08
96,2002152,20160530,15.26,15.16,15.49,14.83,15.27,6941607.0,1.061239e+08
98,2300052,20160530,20.39,20.73,20.65,19.90,20.31,7063832.0,1.432244e+08
98,2300380,20160530,39.45,39.50,39.90,38.69,39.20,1974593.0,7.757279e+07
68,2300457,20160530,76.99,70.88,77.20,71.90,72.10,4953901.0,3.668583e+08
98,2300270,20160530,13.96,14.15,14.27,13.78,14.00,2633098.0,3.693738e+07
98,2300091,20160530,11.98,12.01,12.25,11.60,11.92,2902903.0,3.493015e+07
98,2000671,20160530,5.88,5.89,5.93,5.86,5.93,14797634.0,8.733207e+07
98,2002660,20160530,12.30,12.38,12.52,12.11,12.32,3689882.0,4.551917e+07
0,2300513,20160530,14.08,11.73,16.89,14.08,16.89,12341.0,2.074585e+05
92,2002363,20160530,11.90,12.01,12.04,11.75,11.87,4001959.0,4.761366e+07
98,2002489,20160530,7.30,7.30,7.32,7.20,7.25,10661533.0,7.746676e+07
45,2300201,20160530,12.71,12.80,12.84,12.51,12.60,4771531.0,6.041672e+07
98,2300333,20160530,21.88,21.94,22.08,21.51,21.72,5294751.0,1.154299e+08
98,2002461,20160530,11.40,11.47,11.54,11.26,11.35,3744786.0,4.280069e+07
98,2002734,20160530,27.19,27.66,28.31,27.19,27.90,2771004.0,7.746771e+07
64,2300251,20160530,11.90,12.69,12.50,11.44,11.46,79416730.0,9.370797e+08
98,2002641,20160530,7.68,7.68,7.73,7.53,7.59,1403287.0,1.071170e+07
98,2002393,20160530,33.79,34.03,34.00,33.51,33.67,1375165.0,4.640057e+07
54,2002483,20160530,9.73,9.87,9.91,9.62,9.77,2536689.0,2.486658e+07
98,2300083,20160530,8.00,8.25,9.08,7.82,8.34,70278162.0,6.046248e+08
25,2300290,20160530,14.60,14.60,15.80,14.02,14.72,21306257.0,3.207770e+08
98,2300050,20160530,12.70,12.80,13.17,12.36,12.97,5354220.0,6.898164e+07
0,2002800,20160530,9.24,7.70,11.09,9.24,11.09,15863.0,1.745307e+05
25,2300057,20160530,12.33,13.08,13.25,11.89,12.66,9978464.0,1.238143e+08
98,2002615,20160530,16.86,17.30,18.50,16.81,17.51,8874277.0,1.582031e+08
0,2002573,20160530,20.20,22.44,20.20,20.20,20.20,684900.0,1.383498e+07
75,2002465,20160530,11.26,11.23,11.30,11.11,11.15,9651833.0,1.081767e+08
98,2300395,20160530,25.18,26.50,25.94,24.02,24.99,9162285.0,2.304135e+08

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
20,2000028,20160530,59.61,60.66,62.80,59.03,62.61,1826702,112844082
194,2000671,20160530,5.88,5.94,5.93,5.86,5.93,14797634,87332068
535,2002152,20160530,15.26,22.94,15.49,14.83,15.27,6941607,106123886
716,2002363,20160530,11.90,12.03,12.04,11.75,11.87,4001959,47613657
742,2002393,20160530,33.79,34.43,34.00,33.51,33.67,1375165,46400565
754,2002405,20160530,29.14,0.00,29.14,29.14,29.14,1796490,52349718
806,2002461,20160530,11.40,11.52,11.54,11.26,11.35,3744786,42800687
810,2002465,20160530,11.26,11.38,11.30,11.11,11.15,9651833,108176673
827,2002483,20160530,9.73,9.87,9.91,9.62,9.78,2235889,21922578
833,2002489,20160530,7.30,7.33,7.32,7.20,7.25,10661533,77466756
906,2002573,20160530,20.20,0.00,20.20,20.20,20.20,684900,13834980
942,2002615,20160530,16.86,26.00,18.50,16.81,17.51,8874277,158203137
944,2002618,20160530,21.91,44.79,22.93,21.00,22.02,9548883,210216379
966,2002641,20160530,7.68,7.73,7.73,7.53,7.59,1403287,10711700
983,2002660,20160530,12.30,12.40,12.52,12.11,12.32,3689882,45519167
1025,2002713,20160530,29.00,29.50,29.00,28.01,28.15,2395272,67774375
1044,2002734,20160530,27.19,27.96,28.31,27.19,27.90,2771004,77467713
1098,2002800,20160530,9.24,0.00,11.09,9.24,11.09,15863,174530
1141,2300050,20160530,12.70,25.74,13.17,12.36,12.97,5354220,68981637
1143,2300052,20160530,20.39,20.75,20.65,19.90,20.31,7063832,143224434
1148,2300057,20160530,12.33,0.00,13.25,11.89,12.66,9978464,123814337
1169,2300083,20160530,8.00,32.99,9.08,7.82,8.34,70278162,604624789
1177,2300091,20160530,11.98,30.05,12.25,11.60,11.92,2902903,34930150
1275,2300201,20160530,12.71,12.81,12.84,12.51,12.60,4771531,60416719
1319,2300251,20160530,11.90,0.00,12.50,11.44,11.46,79416730,937079691
1335,2300270,20160530,13.96,14.18,14.27,13.78,14.00,2633098,36937378
1352,2300290,20160530,14.60,0.00,15.80,14.02,14.72,21306257,320777046
1387,2300333,20160530,21.88,21.98,22.08,21.51,21.72,5294751,115429890
1427,2300380,20160530,39.45,39.60,39.90,38.69,39.20,1974593,77572790
1441,2300395,20160530,25.18,40.00,25.94,24.02,24.99,9162285,230413536
1478,2300440,20160530,28.55,58.60,28.97,27.86,28.28,1921846,54769741
1490,2300457,20160530,76.99,0.00,77.20,71.90,72.10,4953901,366858338
1538,2300513,20160530,14.08,0.00,16.89,14.08,16.89,12341,207458

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:03.265223
no massive missing

array([2300513, 2002800], dtype=int32)

has missing!!!!!!!!!!!!!!!!!!!!!!!
2
0:01:39.755616

20160530

SZ finished
0:00:36.974511
0:01:54.832927
0:01:39.201830
1
2
3
4
0:04:05.310410

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:325: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
99,2002216,20160531,7.80,7.75,8.08,7.77,8.07,8335421.0,6.656753e+07
98,2002698,20160531,17.51,17.51,18.30,17.41,18.29,7543643.0,1.357602e+08
25,2002211,20160531,11.59,10.54,11.59,11.59,11.59,339203.0,3.931363e+06
99,2000566,20160531,10.20,10.16,10.59,10.10,10.58,22623641.0,2.360168e+08
99,2002467,20160531,13.38,13.36,14.20,13.38,14.17,39012143.0,5.439077e+08
99,2300473,20160531,60.00,60.17,64.14,60.00,63.90,2495507.0,1.553145e+08
46,2300506,20160531,42.50,42.71,46.38,41.97,44.81,10601134.0,4.688088e+08
99,2002421,20160531,14.83,14.71,15.63,14.74,15.49,14314810.0,2.183054e+08
60,2002352,20160531,15.16,13.78,15.16,15.16,15.16,55102.0,8.353463e+05
99,2000750,20160531,7.02,6.96,7.66,6.97,7.66,185425603.0,1.398123e+09
69,2300457,20160531,74.50,72.00,76.51,70.00,75.50,5267517.0,3.930736e+08
99,2300230,20160531,26.79,26.56,27.80,26.79,27.75,4234282.0,1.160994e+08
91,2300377,20160531,37.70,37.47,41.22,37.70,41.22,5579365.0,2.271370e+08
99,2002649,20160531,33.85,33.71,37.08,33.81,36.79,9508548.0,3.400399e+08
99,2002588,20160531,12.00,11.95,12.32,11.95,12.31,9437984.0,1.151443e+08
99,2002786,20160531,26.00,25.76,28.34,25.38,27.18,45761834.0,1.234749e+09
94,2002339,20160531,14.90,14.90,15.87,14.90,15.84,11851646.0,1.838649e+08
99,2002187,20160531,11.65,11.59,12.07,11.58,12.05,5058112.0,6.020494e+07
99,2300312,20160531,14.90,14.95,16.45,14.90,16.45,9585662.0,1.517008e+08
58,2002790,20160531,40.08,39.89,41.92,39.88,41.52,5171935.0,2.126853e+08
99,2300446,20160531,39.10,39.24,41.59,38.90,41.49,4497345.0,1.824154e+08
94,2000902,20160531,11.06,11.08,11.52,11.00,11.46,12142082.0,1.374580e+08
99,2000545,20160531,6.35,6.31,6.59,6.34,6.59,37054607.0,2.411044e+08
99,2002755,20160531,32.45,32.17,33.40,32.19,33.27,1841843.0,6.045585e+07
0,2300331,20160531,23.10,25.67,25.10,23.10,24.35,27127423.0,6.383821e+08
99,2002179,20160531,38.03,37.88,39.98,38.03,39.78,10326940.0,4.074830e+08
99,2002496,20160531,6.50,6.50,6.87,6.40,6.74,80544702.0,5.387890e+08
99,2002161,20160531,13.42,13.40,14.30,13.42,14.25,29279803.0,4.099342e+08
99,2002156,20160531,11.10,11.28,11.83,10.98,11.60,86276703.0,9.933994e+08
58,2002664,20160531,28.40,28.17,29.68,28.19,29.45,15300656.0,4.446218e+08
99,2002614,20160531,11.47,11.47,11.96,11.47,11.92,6193846.0,7.316907e+07
99,2002705,20160531,15.19,15.10,15.46,14.85,15.45,8350755.0,1.273084e+08
99,2002550,20160531,8.21,8.18,8.44,8.09,8.40,16785463.0,1.403732e+08
99,2002767,20160531,31.31,31.39,32.80,30.60,32.79,5131574.0,1.642757e+08
99,2300239,20160531,7.48,7.48,7.80,7.48,7.80,10529176.0,8.100446e+07

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
121,2000545,20160531,6.35,6.34,6.59,6.34,6.59,37054607,241104354
135,2000566,20160531,10.20,20.32,10.59,10.10,10.58,22623641,236016840
241,2000750,20160531,7.02,10.54,7.66,6.97,7.66,185425603,1398122562
334,2000902,20160531,11.06,22.46,11.52,11.00,11.46,12142082,137457956
538,2002156,20160531,11.10,14.69,11.83,10.98,11.60,86276703,993399352
543,2002161,20160531,13.42,13.41,14.30,13.42,14.25,29279803,409934230
559,2002179,20160531,38.03,37.98,39.98,38.03,39.78,10326940,407483038
567,2002187,20160531,11.65,11.89,12.07,11.58,12.05,5058112,60204941
586,2002211,20160531,11.59,0.00,11.59,11.59,11.59,339203,3931362
590,2002216,20160531,7.80,7.76,8.08,7.77,8.07,8335421,66567525
698,2002339,20160531,14.90,14.96,15.87,14.90,15.84,11851646,183864909
709,2002352,20160531,15.16,0.00,15.16,15.16,15.16,55102,835346
772,2002421,20160531,14.83,14.76,15.63,14.74,15.49,14314810,218305361
815,2002467,20160531,13.38,13.40,14.20,13.38,14.17,39012143,543907702
841,2002496,20160531,6.50,24.81,6.87,6.40,6.74,80544702,538789025
889,2002550,20160531,8.21,16.50,8.44,8.09,8.40,16785463,140373167
922,2002588,20160531,12.00,24.09,12.32,11.95,12.31,9437984,115144346
944,2002614,20160531,11.47,11.57,11.96,11.47,11.92,6193846,73169067
976,2002649,20160531,33.85,33.93,37.08,33.81,36.79,9508548,340039906
989,2002664,20160531,28.40,28.22,29.68,28.19,29.45,15300656,444621804
1016,2002698,20160531,17.51,17.58,18.30,17.41,18.29,7543643,135760151
1022,2002705,20160531,15.19,19.93,15.46,14.85,15.45,8350755,127308402
1064,2002755,20160531,32.45,32.20,33.40,32.19,33.27,1841843,60455853
1072,2002767,20160531,31.31,47.18,32.80,30.60,32.79,5131574,164275668
1089,2002786,20160531,26.00,77.39,28.34,25.38,27.18,45761834,1234748832
1093,2002790,20160531,40.08,40.19,41.92,39.88,41.52,5171935,212685333
1301,2300230,20160531,26.79,26.66,27.80,26.79,27.75,4234282,116099437
1310,2300239,20160531,7.48,14.98,7.80,7.48,7.80,10529176,81004455
1371,2300312,20160531,14.90,29.93,16.45,14.90,16.45,9585662,151700823
1389,2300331,20160531,23.10,0.00,25.10,23.10,24.35,27127423,638382055
1427,2300377,20160531,37.70,75.23,41.22,37.70,41.22,5579365,227137039
1484,2300446,20160531,39.10,79.08,41.59,38.90,41.49,4497345,182415381
1491,2300457,20160531,74.50,72.10,76.51,70.00,75.50,5267517,393073571
1502,2300473,20160531,60.00,61.17,64.14,60.00,63.90,2495507,155314481
1532,2300506,20160531,42.50,42.81,46.38,41.97,44.81,10601134,468808807

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:03.140374
no massive missing

array([], dtype=int32)

0:02:00.702294

20160531

SZ finished
0:00:39.550478
0:01:44.639626
0:01:43.097784
1
2
3
4
0:03:40.287634

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:325: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
35,2300432,20160601,20.88,18.98,20.88,20.88,20.88,96732.0,2.019764e+06
100,2300478,20160601,53.45,53.28,55.50,53.28,54.31,1597815.0,8.681706e+07
100,2002195,20160601,13.02,12.92,13.25,12.62,12.88,80102253.0,1.030079e+09
100,2002749,20160601,74.09,73.72,74.70,73.00,73.91,1299673.0,9.608498e+07
98,2002340,20160601,7.06,7.05,7.76,7.06,7.39,257053292.0,1.907122e+09
100,2300206,20160601,11.26,10.94,11.50,10.81,10.90,53629591.0,5.958440e+08
100,2002133,20160601,6.40,6.35,6.58,6.36,6.41,16400888.0,1.057617e+08
94,2300261,20160601,11.32,11.29,11.64,11.31,11.35,4235369.0,4.835368e+07
95,2300266,20160601,38.79,38.38,39.98,38.38,39.30,4136433.0,1.631747e+08
7,2300410,20160601,40.72,37.02,40.72,40.72,40.72,324948.0,1.323188e+07
100,2000970,20160601,16.00,16.13,17.04,15.89,16.22,108706154.0,1.778174e+09
100,2002325,20160601,8.55,8.47,8.62,8.38,8.39,22234551.0,1.884497e+08
99,2300082,20160601,7.06,6.42,7.06,7.06,7.06,5201225.0,3.672065e+07
91,2300429,20160601,119.06,116.52,123.50,117.30,121.45,1580463.0,1.913238e+08
100,2300321,20160601,34.20,34.20,35.47,33.51,35.09,4341180.0,1.495616e+08
89,2300498,20160601,38.01,37.90,38.10,37.51,37.69,6453096.0,2.436804e+08
90,2000333,20160601,23.10,21.35,23.45,22.44,22.86,79182460.0,1.815074e+09
100,2300170,20160601,13.50,13.52,13.57,13.31,13.38,27255793.0,3.665645e+08
100,2300445,20160601,26.20,25.38,27.00,25.50,26.92,9540221.0,2.508234e+08
100,2300291,20160601,24.35,23.92,24.45,23.96,23.99,9555229.0,2.308044e+08
100,2002086,20160601,8.68,8.62,8.81,8.50,8.54,18225352.0,1.569586e+08
100,2002548,20160601,18.85,19.39,19.74,18.73,19.11,19414624.0,3.740774e+08
95,2002026,20160601,11.44,11.39,11.75,11.25,11.50,8052355.0,9.291717e+07
100,2002724,20160601,19.70,19.40,20.99,19.32,20.50,5444403.0,1.087696e+08
100,2300248,20160601,25.75,25.61,25.95,25.34,25.46,8151912.0,2.083190e+08

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
65,2000333,20160601,23.10,0.00,23.45,22.44,22.86,79182460,1815074213
375,2000970,20160601,16.00,16.21,17.04,15.89,16.22,108706154,1778173753
423,2002026,20160601,11.44,11.45,11.75,11.25,11.50,8052355,92917165
477,2002086,20160601,8.68,17.30,8.81,8.50,8.54,18225352,156958603
516,2002133,20160601,6.40,6.43,6.58,6.36,6.41,16400888,105761672
572,2002195,20160601,13.02,25.94,13.25,12.62,12.88,80102253,1030078766
684,2002325,20160601,8.55,10.20,8.62,8.38,8.39,22234551,188449659
698,2002340,20160601,7.06,14.12,7.76,7.06,7.39,257053292,1907122297
886,2002548,20160601,18.85,19.54,19.74,18.73,19.11,19414624,374077388
1036,2002724,20160601,19.70,19.43,20.99,19.32,20.50,5444403,108769580
1058,2002749,20160601,74.09,74.72,74.70,73.00,73.91,1299673,96084983
1170,2300082,20160601,7.06,6.47,7.06,7.06,7.06,5201225,36720648
1250,2300170,20160601,13.50,13.55,13.57,13.31,13.38,27255793,366564505
1281,2300206,20160601,11.26,27.56,11.50,10.81,10.90,53629591,595844000
1317,2300248,20160601,25.75,25.66,25.95,25.34,25.46,8151912,208319037
1328,2300261,20160601,11.32,14.70,11.64,11.31,11.35,4235369,48353677
1332,2300266,20160601,38.79,42.24,39.98,38.38,39.30,4136433,163174676
1354,2300291,20160601,24.35,24.00,24.45,23.96,23.99,9555229,230804436
1379,2300321,20160601,34.20,68.76,35.47,33.51,35.09,4341180,149561615
1457,2300410,20160601,40.72,0.00,40.72,40.72,40.72,324948,13231882
1472,2300429,20160601,119.06,116.74,123.50,117.30,121.45,1580463,191323809
1473,2300432,20160601,20.88,0.00,20.88,20.88,20.88,96732,2019764
1484,2300445,20160601,26.20,50.85,27.00,25.50,26.92,9540221,250823402
1508,2300478,20160601,53.45,53.43,55.50,53.28,54.31,1597815,86817060
1526,2300498,20160601,38.01,45.98,38.10,37.51,37.69,6453096,243680433

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:03.240241
no massive missing

array([], dtype=int32)

0:01:51.593393

20160601

SZ finished
0:00:45.531117
0:01:42.335453
0:01:35.453130
1
2
3
4
0:03:41.908970

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:325: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
84,2002453,20160602,8.84,8.84,8.88,8.69,8.86,15910429.0,1.399567e+08
68,2002450,20160602,16.57,16.60,17.05,16.40,16.84,50019764.0,8.408090e+08
0,2300516,20160602,27.00,22.50,32.40,27.00,32.40,15068.0,4.846932e+05
101,2300199,20160602,18.66,18.70,18.70,18.44,18.69,6661960.0,1.238633e+08
28,2300290,20160602,15.75,15.72,16.09,15.60,15.88,14509170.0,2.291720e+08
101,2300272,20160602,15.18,15.33,15.49,15.17,15.47,3231234.0,4.955405e+07
101,2002508,20160602,33.46,33.80,34.00,33.01,33.30,4305229.0,1.436441e+08
38,2000752,20160602,14.61,13.86,15.25,14.60,15.25,45179070.0,6.801503e+08
91,2000679,20160602,10.89,9.90,10.89,10.89,10.89,761152.0,8.288945e+06
0,2300025,20160602,27.14,30.15,27.14,27.14,27.14,1665100.0,4.519081e+07
96,2300287,20160602,12.00,11.99,12.25,11.89,12.21,10904479.0,1.311143e+08
10,2002619,20160602,17.40,17.54,17.80,16.91,17.22,26475702.0,4.588206e+08
101,2002327,20160602,8.12,8.11,8.16,8.08,8.15,6831017.0,5.544731e+07
83,2002694,20160602,14.08,14.85,15.65,14.05,15.50,19084634.0,2.774187e+08
101,2002275,20160602,19.02,19.28,19.16,18.78,19.10,6771798.0,1.286216e+08
101,2002068,20160602,6.58,6.59,7.00,6.58,6.81,20639849.0,1.416208e+08

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
198,2000679,20160602,10.89,0.00,10.89,10.89,10.89,761152,8288945
245,2000752,20160602,14.61,0.00,15.25,14.60,15.25,45179070,680150316
463,2002068,20160602,6.58,6.60,7.00,6.58,6.81,20639849,141620813
645,2002275,20160602,19.02,19.78,19.16,18.78,19.10,6771798,128621590
687,2002327,20160602,8.12,8.21,8.16,8.08,8.15,6831017,55447312
799,2002450,20160602,16.57,33.26,17.05,16.40,16.84,50019764,840809028
802,2002453,20160602,8.84,8.85,8.88,8.69,8.86,15910429,139956741
851,2002508,20160602,33.46,51.30,34.00,33.01,33.30,4305229,143644135
948,2002619,20160602,17.40,43.85,17.80,16.91,17.22,26475702,458820628
1013,2002694,20160602,14.08,0.00,15.65,14.05,15.50,19084634,277418723
1125,2300025,20160602,27.14,0.00,27.14,27.14,27.14,1665100,45190814
1275,2300199,20160602,18.66,18.72,18.70,18.44,18.69,6661960,123863258
1339,2300272,20160602,15.18,15.40,15.49,15.17,15.47,3231234,49554049
1352,2300287,20160602,12.00,12.02,12.25,11.89,12.21,10904479,131114301
1354,2300290,20160602,15.75,15.75,16.09,15.60,15.88,14509170,229171955
1542,2300516,20160602,27.00,0.00,32.40,27.00,32.40,15068,484693

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:03.231397
no massive missing

array([2300516], dtype=int32)

has missing!!!!!!!!!!!!!!!!!!!!!!!
1
0:01:36.965522

20160602

SZ finished
0:00:40.564403
0:01:42.161908
0:01:41.113791
1
2
3
4
0:03:46.604821

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:325: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
93,2002723,20160603,20.16,18.33,20.16,19.52,20.16,2794121.0,5.627127e+07
102,2300147,20160603,14.40,14.22,14.40,14.10,14.31,11364441.0,1.620915e+08
0,2300104,20160603,52.89,58.77,60.98,52.89,56.32,216798086.0,1.222146e+10
102,2300183,20160603,19.88,19.79,20.70,19.88,20.16,11843818.0,2.415918e+08
38,2000997,20160603,18.67,16.97,18.67,18.67,18.67,1142180.0,2.132450e+07
88,2300456,20160603,105.77,96.15,105.77,105.77,105.77,268094.0,2.835630e+07
102,2002497,20160603,7.63,7.64,7.95,7.53,7.70,56925155.0,4.411812e+08
102,2300177,20160603,13.32,13.30,13.43,13.06,13.24,8518919.0,1.127590e+08
102,2300305,20160603,13.70,13.53,13.79,13.07,13.11,10623536.0,1.407879e+08
102,2300452,20160603,55.62,54.90,57.43,53.88,53.98,2862072.0,1.580244e+08
102,2002081,20160603,10.40,10.40,10.63,10.16,10.21,33062880.0,3.434687e+08
96,2002437,20160603,9.47,9.62,9.61,9.23,9.41,30927079.0,2.910086e+08
102,2002643,20160603,48.22,48.36,49.00,47.28,47.50,10295333.0,4.937840e+08
102,2000690,20160603,6.95,6.91,6.95,6.80,6.89,13213219.0,9.066536e+07
72,2000973,20160603,9.90,9.44,10.15,9.61,10.00,205550992.0,2.028111e+09
102,2300165,20160603,11.50,11.30,11.51,10.80,10.99,32026538.0,3.554998e+08
1,2300025,20160603,13.10,13.54,14.85,12.91,14.22,87985250.0,1.193173e+09
102,2002271,20160603,15.89,15.65,15.89,15.55,15.69,9660224.0,1.515128e+08
102,2300302,20160603,30.05,30.54,30.75,29.44,30.28,11860617.0,3.562406e+08
102,2002045,20160603,13.30,13.41,13.48,13.01,13.16,30989233.0,4.097240e+08
65,2002582,20160603,33.92,30.84,33.92,33.33,33.92,2778414.0,9.418378e+07
102,2300240,20160603,11.05,11.07,11.10,10.76,10.98,6651263.0,7.278538e+07
102,2000719,20160603,10.83,10.82,10.86,10.68,10.81,7058946.0,7.597645e+07
102,2300400,20160603,28.88,28.88,29.30,28.43,28.70,5109488.0,1.474017e+08
82,2002356,20160603,23.40,23.34,24.00,23.18,23.68,4238100.0,9.998375e+07
82,2000905,20160603,9.85,9.82,9.89,9.74,9.84,4416736.0,4.338723e+07

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
206,2000690,20160603,6.95,7.11,6.95,6.80,6.89,13213219,90665362
226,2000719,20160603,10.83,14.25,10.86,10.68,10.81,7058946,75976452
338,2000905,20160603,9.85,9.86,9.89,9.74,9.84,4416736,43387230
379,2000973,20160603,9.90,9.49,10.15,9.61,10.00,205550992,2028111072
396,2000997,20160603,18.67,0.00,18.67,18.67,18.67,1142180,21324500
444,2002045,20160603,13.30,13.49,13.48,13.01,13.16,30989233,409724012
473,2002081,20160603,10.40,15.80,10.63,10.16,10.21,33062880,343468702
641,2002271,20160603,15.89,15.75,15.89,15.55,15.69,9660224,151512821
710,2002356,20160603,23.40,23.41,24.00,23.18,23.68,4238100,99983753
787,2002437,20160603,9.47,29.10,9.61,9.23,9.41,30927079,291008635
841,2002497,20160603,7.63,7.70,7.95,7.53,7.70,56925155,441181168
917,2002582,20160603,33.92,0.00,33.92,33.33,33.92,2778414,94183775
971,2002643,20160603,48.22,48.36,49.00,47.28,47.76,6745741,324727542
1038,2002723,20160603,20.16,0.00,20.16,19.52,20.16,2794121,56271269
1126,2300025,20160603,13.10,27.14,14.85,12.91,14.22,87985250,1193172823
1193,2300104,20160603,52.89,0.00,60.98,52.89,56.32,216798086,12221462954
1232,2300147,20160603,14.40,14.34,14.40,14.10,14.31,11364441,162091521
1248,2300165,20160603,11.50,22.70,11.51,10.80,10.99,32026538,355499762
1258,2300177,20160603,13.32,13.31,13.43,13.06,13.24,8518919,112759023
1263,2300183,20160603,19.88,19.99,20.70,19.88,20.16,11843818,241591841
1312,2300240,20160603,11.05,16.61,11.10,10.76,10.98,6651263,72785378
1362,2300302,20160603,30.05,64.18,30.75,29.44,30.28,11860617,356240582
1365,2300305,20160603,13.70,27.20,13.79,13.07,13.11,10623536,140787939
1449,2300400,20160603,28.88,28.93,29.30,28.43,28.70,5109488,147401675
1490,2300452,20160603,55.62,110.00,57.43,53.88,53.98,2862072,158024354
1493,2300456,20160603,105.77,0.00,105.77,105.77,105.77,268094,28356302

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:03.249797
no massive missing

array([], dtype=int32)

0:01:49.979049

20160603

SZ finished
0:00:43.626119
0:01:39.425725
0:01:31.056393
1
2
3
4
0:03:46.206574

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:325: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
103,2300492,20160606,46.00,44.55,46.00,43.80,44.85,3203300.0,1.428548e+08
79,2300113,20160606,44.50,41.01,44.50,41.05,43.47,42154687.0,1.806294e+09
89,2300456,20160606,57.80,52.83,58.11,53.94,55.28,7039827.0,3.974580e+08
103,2002781,20160606,41.93,42.10,42.66,41.32,42.36,5593351.0,2.346540e+08
32,2002739,20160606,88.33,80.30,88.33,86.88,88.33,22600772.0,1.996081e+09
93,2300288,20160606,36.77,33.43,36.77,36.77,36.77,347032.0,1.276037e+07
81,2000670,20160606,10.48,10.69,10.59,10.16,10.16,62183519.0,6.352135e+08
103,2300216,20160606,32.20,31.68,32.20,30.89,30.98,9284442.0,2.908001e+08
103,2002493,20160606,12.35,12.17,12.35,12.06,12.11,2795667.0,3.402084e+07
103,2002390,20160606,9.08,9.01,9.11,9.02,9.05,10973327.0,9.938421e+07
97,2300158,20160606,16.28,16.31,16.40,16.07,16.21,3297624.0,5.355388e+07
99,2300236,20160606,39.60,39.30,40.67,38.51,39.06,8319605.0,3.283230e+08
37,2300430,20160606,45.88,41.71,45.88,45.88,45.88,182460.0,8.371265e+06
103,2000417,20160606,7.90,7.90,7.94,7.80,7.86,7748389.0,6.082185e+07
103,2300455,20160606,23.20,23.05,23.88,22.00,22.38,8511287.0,1.959314e+08
100,2000732,20160606,19.33,19.18,19.33,19.13,19.19,2482873.0,4.762288e+07
0,2300220,20160606,36.99,41.10,38.80,36.99,36.99,12809342.0,4.781098e+08

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
75,2000417,20160606,7.90,7.90,7.94,7.80,7.85,5673296,44560600
193,2000670,20160606,10.48,0.00,10.59,10.16,10.16,62183519,635213463
236,2000732,20160606,19.33,19.28,19.33,19.13,19.19,2482873,47622884
739,2002390,20160606,9.08,9.04,9.11,9.02,9.05,10973327,99384206
836,2002493,20160606,12.35,12.19,12.35,12.06,12.11,2795667,34020842
1051,2002739,20160606,88.33,0.00,88.33,86.88,88.33,22600772,1996080681
1086,2002781,20160606,41.93,42.16,42.66,41.32,42.36,5593351,234654015
1200,2300113,20160606,44.50,0.00,44.50,41.05,43.47,42154687,1806294440
1242,2300158,20160606,16.28,16.89,16.40,16.07,16.21,3297624,53553877
1292,2300216,20160606,32.20,31.71,32.20,30.89,30.98,9284442,290800081
1296,2300220,20160606,36.99,0.00,38.80,36.99,36.99,12809342,478109779
1308,2300236,20160606,39.60,39.35,40.67,38.51,39.06,8319605,328323011
1353,2300288,20160606,36.77,0.00,36.77,36.77,36.77,347032,12760366
1475,2300430,20160606,45.88,0.00,45.88,45.88,45.88,182460,8371264
1494,2300455,20160606,23.20,46.20,23.88,22.00,22.38,8511287,195931366
1495,2300456,20160606,57.80,105.77,58.11,53.94,55.28,7039827,397458001
1525,2300492,20160606,46.00,44.70,46.00,43.80,44.85,3203300,142854756

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:03.091910
no massive missing

array([], dtype=int32)

0:01:44.543325

20160606

SZ finished
0:00:35.071097
0:01:44.349512
0:01:35.487067
1
2
3
4
0:03:30.653088

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:325: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
49,2002792,20160607,60.05,60.87,65.03,59.32,64.96,13916028.0,8.737011e+08
104,2300215,20160607,10.73,10.73,11.47,10.65,11.17,12859699.0,1.426670e+08
104,2002007,20160607,31.28,31.29,31.28,30.50,30.79,9602562.0,2.952457e+08
104,2300320,20160607,11.29,11.27,11.32,11.12,11.26,2903468.0,3.258891e+07
83,2000810,20160607,18.45,18.46,18.50,18.12,18.42,11941856.0,2.188380e+08
104,2300354,20160607,23.44,23.61,24.25,23.22,24.08,2646612.0,6.296013e+07
52,2000555,20160607,32.00,29.14,32.00,29.11,29.39,33796159.0,1.018057e+09
98,2002667,20160607,36.36,40.40,36.36,36.36,36.36,570100.0,2.072884e+07
49,2002180,20160607,26.85,26.85,27.60,25.72,26.47,5239646.0,1.393142e+08
104,2002408,20160607,5.68,5.70,5.90,5.55,5.70,40060478.0,2.289767e+08
99,2300101,20160607,23.45,21.33,23.46,22.08,22.36,24020688.0,5.448488e+08
87,2000911,20160607,22.70,20.71,22.70,20.85,20.94,21573868.0,4.671777e+08
104,2300065,20160607,34.70,34.56,35.37,34.40,35.03,5853353.0,2.040208e+08
1,2300335,20160607,15.21,16.79,15.66,15.11,15.11,10280688.0,1.560548e+08
104,2000708,20160607,11.03,11.01,11.13,10.80,10.83,3893825.0,4.267581e+07
103,2002009,20160607,14.64,14.60,14.77,14.43,14.66,5724628.0,8.356373e+07
93,2002454,20160607,15.90,14.45,15.90,15.65,15.90,8944999.0,1.420982e+08
77,2300407,20160607,18.49,18.45,18.68,17.66,18.10,4464133.0,8.011866e+07
104,2002553,20160607,12.90,12.86,13.10,12.70,12.77,7155539.0,9.208643e+07
104,2002104,20160607,15.79,15.80,16.06,15.75,15.87,15327562.0,2.436106e+08
104,2000018,20160607,12.36,12.36,12.48,11.61,11.86,39401722.0,4.701810e+08
104,2002511,20160607,16.24,16.24,16.56,16.05,16.33,5423146.0,8.829388e+07
104,2300364,20160607,52.00,51.56,54.55,49.49,50.89,10174338.0,5.232094e+08
104,2300258,20160607,15.07,15.26,15.35,14.83,15.04,7860077.0,1.184578e+08
104,2002644,20160607,10.96,10.96,11.33,10.85,11.14,8331403.0,9.280231e+07
97,2300010,20160607,19.80,19.19,19.99,19.21,19.38,17778677.0,3.475115e+08
104,2300404,20160607,38.42,38.42,38.74,37.88,38.26,1775581.0,6.777809e+07
18,2300063,20160607,31.02,31.35,31.40,29.88,30.36,4782152.0,1.457868e+08
104,2002385,20160607,8.20,8.17,8.20,8.05,8.08,21463386.0,1.736719e+08
84,2000899,20160607,8.38,8.52,8.42,8.24,8.27,7487242.0,6.221414e+07
0,2002209,20160607,22.79,22.90,23.52,20.63,20.92,15196558.0,3.336769e+08

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
11,2000018,20160607,12.36,46.98,12.48,11.61,11.86,39401722,470181034
127,2000555,20160607,32.00,0.00,32.00,29.11,29.39,33796159,1018057103
218,2000708,20160607,11.03,11.16,11.13,10.80,10.83,3893825,42675811
281,2000810,20160607,18.45,18.56,18.50,18.12,18.42,11941856,218838048
333,2000899,20160607,8.38,8.92,8.42,8.24,8.27,7487242,62214135
343,2000911,20160607,22.70,0.00,22.70,20.85,20.94,21573868,467177721
407,2002007,20160607,31.28,50.47,31.28,30.50,30.79,9602562,295245663
409,2002009,20160607,14.64,14.65,14.77,14.43,14.66,5724628,83563728
494,2002104,20160607,15.79,15.90,16.06,15.75,15.87,15327562,243610551
560,2002180,20160607,26.85,46.99,27.60,25.72,26.47,5239646,139314204
585,2002209,20160607,22.79,0.00,23.52,20.63,20.92,15196558,333676880
738,2002385,20160607,8.20,8.17,8.20,8.06,8.09,12568034,101909809
759,2002408,20160607,5.68,12.73,5.90,5.55,5.70,40060478,228976671
803,2002454,20160607,15.90,0.00,15.90,15.65,15.90,8944999,142098232
855,2002511,20160607,16.24,16.29,16.56,16.05,16.33,5423146,88293878
892,2002553,20160607,12.90,12.96,13.10,12.70,12.77,7155539,92086426
973,2002644,20160607,10.96,10.97,11.33,10.85,11.14,8331403,92802313
992,2002667,20160607,36.36,0.00,36.36,36.36,36.36,570100,20728836
1099,2002792,20160607,60.05,91.70,65.03,59.32,64.96,13916028,873701123
1115,2300010,20160607,19.80,0.00,19.99,19.21,19.38,17778677,347511512
1159,2300063,20160607,31.02,31.37,31.40,29.88,30.36,4782152,145786773
1161,2300065,20160607,34.70,34.59,35.37,34.40,35.03,5853353,204020781
1194,2300101,20160607,23.45,0.00,23.46,22.08,22.36,24020688,544848828
1296,2300215,20160607,10.73,10.73,11.30,10.65,11.03,11544199,127264019
1331,2300258,20160607,15.07,23.00,15.35,14.83,15.04,7860077,118457752
1384,2300320,20160607,11.29,11.31,11.32,11.12,11.26,2903468,32588911
1396,2300335,20160607,15.21,0.00,15.66,15.11,15.11,10280688,156054833
1413,2300354,20160607,23.44,23.62,24.25,23.22,24.08,2646612,62960128
1420,2300364,20160607,52.00,102.40,54.55,49.49,50.89,10174338,523209351
1457,2300404,20160607,38.42,38.47,38.74,37.88,38.26,1775581,67778094
1460,2300407,20160607,18.49,37.00,18.68,17.66,18.10,4464133,80118660

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:02.899292
no massive missing

array([], dtype=int32)

0:01:41.191768

20160607

SZ finished
0:00:40.964697
0:01:42.386940
0:01:38.316992
1
2
3
4
0:03:32.413265

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:325: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
105,2002001,20160608,21.13,20.99,21.13,20.40,20.49,18955995.0,3.908700e+08
105,2002586,20160608,10.00,9.93,10.00,9.79,9.87,10381127.0,1.027384e+08
99,2300123,20160608,13.73,13.71,13.80,13.50,13.58,4927338.0,6.719677e+07
98,2002443,20160608,13.03,13.15,13.26,12.81,13.20,17872686.0,2.330602e+08
100,2002545,20160608,7.70,7.65,7.84,7.60,7.75,8419696.0,6.523451e+07
105,2000777,20160608,22.45,22.40,23.40,22.23,22.97,14627401.0,3.352649e+08
105,2002410,20160608,13.29,13.23,13.29,12.92,13.03,13138743.0,1.712977e+08
105,2300151,20160608,13.26,13.27,13.36,13.13,13.27,6634727.0,8.788438e+07
105,2000525,20160608,12.61,12.56,12.61,12.30,12.40,4696397.0,5.817088e+07
105,2002017,20160608,13.15,13.29,13.43,13.15,13.30,4061768.0,5.399772e+07
60,2000917,20160608,17.05,17.99,17.30,16.23,16.24,120354410.0,1.998527e+09
105,2000099,20160608,13.47,13.69,13.65,13.21,13.57,24407350.0,3.269162e+08
105,2002186,20160608,19.60,19.57,19.90,19.51,19.73,2911418.0,5.739780e+07
105,2002520,20160608,13.70,13.39,13.86,12.89,13.31,9025654.0,1.191270e+08
105,2300211,20160608,13.10,13.28,13.15,12.51,12.65,6996950.0,8.950805e+07
105,2300210,20160608,14.30,14.33,14.33,14.02,14.13,2486895.0,3.521899e+07
90,2300343,20160608,24.26,24.21,24.30,22.00,22.53,14413074.0,3.294507e+08
105,2300493,20160608,71.31,71.50,71.31,66.00,67.00,6404431.0,4.373297e+08
105,2002773,20160608,48.47,48.66,48.47,46.40,47.80,1865519.0,8.810272e+07
105,2002368,20160608,33.60,33.42,33.75,32.93,33.07,4010764.0,1.336008e+08
105,2300463,20160608,29.79,30.41,30.66,27.86,27.96,21765364.0,6.226193e+08
69,2000534,20160608,14.81,14.86,15.15,14.58,14.59,8186314.0,1.207867e+08
0,2002799,20160608,10.54,7.98,11.49,10.54,11.49,9700.0,1.113580e+05
105,2002361,20160608,7.55,7.55,7.59,6.90,7.21,28709752.0,2.060419e+08
77,2300062,20160608,20.41,20.80,20.78,19.21,20.00,6918438.0,1.364150e+08
105,2002197,20160608,19.35,19.29,19.55,19.12,19.28,9555991.0,1.849436e+08
105,2300154,20160608,9.46,9.47,9.83,9.43,9.66,9051709.0,8.719603e+07
105,2000900,20160608,6.75,6.72,6.75,6.66,6.70,4658504.0,3.123978e+07
100,2002451,20160608,11.60,11.66,11.79,11.30,11.51,6503762.0,7.522020e+07
98,2300148,20160608,16.28,14.80,16.28,16.28,16.28,4797660.0,7.810590e+07
105,2002391,20160608,14.10,14.10,14.11,13.82,13.98,3482085.0,4.858074e+07
105,2000793,20160608,9.97,9.96,10.05,9.90,9.94,34521353.0,3.438670e+08
105,2300389,20160608,26.89,26.94,27.13,25.86,26.30,4306140.0,1.139928e+08
0,2300515,20160608,10.28,8.57,12.34,10.28,12.34,10204.0,1.251964e+05
82,2300149,20160608,17.86,17.90,19.69,17.86,19.67,26441234.0,5.081917e+08
105,2002758,20160608,32.43,32.04,32.43,29.50,30.08,4638171.0,1.410500e+08
105,2002726,20160608,15.64,15.66,15.64,15.11,15.27,9559829.0,1.465401e+08
105,2002140,20160608,17.50,17.47,17.59,16.90,16.90,8049116.0,1.379057e+08
105,2002262,20160608,19.61,19.54,19.88,19.12,19.38,4570816.0,8.867384e+07
105,2002782,20160608,37.15,36.45,40.10,37.10,38.19,53138211.0,2.046064e+09
43,2300431,20160608,69.00,68.43,71.54,65.30,66.68,31151583.0,2.125613e+09

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
54,2000099,20160608,13.47,13.76,13.65,13.21,13.57,24407350,326916238
105,2000525,20160608,12.61,13.06,12.61,12.30,12.40,4696397,58170884
113,2000534,20160608,14.81,14.91,15.15,14.58,14.59,8186314,120786747
256,2000777,20160608,22.45,22.46,23.40,22.23,22.97,14627401,335264933
269,2000793,20160608,9.97,10.00,10.05,9.90,9.94,34521353,343867049
332,2000900,20160608,6.75,6.76,6.75,6.66,6.70,4658504,31239779
346,2000917,20160608,17.05,0.00,17.30,16.23,16.24,120354410,1998527456
400,2002001,20160608,21.13,21.19,21.13,20.40,20.49,18955995,390869974
415,2002017,20160608,13.15,13.32,13.43,13.15,13.30,4061768,53997719
522,2002140,20160608,17.50,17.52,17.59,16.90,16.90,8049116,137905726
564,2002186,20160608,19.60,19.79,19.90,19.51,19.73,2911418,57397801
573,2002197,20160608,19.35,19.35,19.55,19.12,19.28,9555991,184943595
631,2002262,20160608,19.61,25.46,19.88,19.12,19.38,4570816,88673836
712,2002361,20160608,7.55,15.20,7.59,6.90,7.21,28709752,206041850
719,2002368,20160608,33.60,33.57,33.75,32.93,33.07,4010764,133600840
738,2002391,20160608,14.10,14.40,14.11,13.82,13.98,3482085,48580743
757,2002410,20160608,13.29,13.43,13.29,12.92,13.03,13138743,171297739
789,2002443,20160608,13.03,13.25,13.26,12.81,13.20,17872686,233060176
796,2002451,20160608,11.60,11.70,11.79,11.30,11.51,6503762,75220196
858,2002520,20160608,13.70,20.14,13.86,12.89,13.31,9025654,119127044
880,2002545,20160608,7.70,7.71,7.84,7.60,7.75,8419696,65234512
917,2002586,20160608,10.00,9.98,10.00,9.79,9.87,10381127,102738361
1037,2002726,20160608,15.64,15.74,15.64,15.11,15.27,9559829,146540122
1066,2002758,20160608,32.43,80.39,32.43,29.50,30.08,4638171,141049959
1077,2002773,20160608,48.47,73.19,48.47,46.40,47.80,1865519,88102716
1085,2002782,20160608,37.15,91.23,40.10,37.10,38.19,53138211,2046063790
1100,2002799,20160608,10.54,0.00,11.49,10.54,11.49,9700,111358
1154,2300062,20160608,20.41,0.00,20.78,19.21,20.00,6918438,136414974
1211,2300123,20160608,13.73,13.73,13.80,13.50,13.58,4927338,67196766
1234,2300148,20160608,16.28,0.00,16.28,16.28,16.28,4797660,78105904
1235,2300149,20160608,17.86,17.95,19.69,17.86,19.67,26441234,508191665
1237,2300151,20160608,13.26,13.30,13.36,13.13,13.27,6634727,87884383
1240,2300154,20160608,9.46,9.62,9.83,9.43,9.66,9051709,87196033
1285,2300210,20160608,14.30,14.36,14.33,14.02,14.13,2486895,35218985
1286,2300211,20160608,13.10,25.25,13.15,12.51,12.65,6996950,89508049
1397,2300343,20160608,24.26,89.76,24.30,22.00,22.53,14413074,329450706
1438,2300389,20160608,26.89,54.24,27.13,25.86,26.30,4306140,113992786
1474,2300431,20160608,69.00,0.00,71.54,65.30,66.68,31151583,2125613438
1499,2300463,20160608,29.79,91.50,30.66,27.86,27.96,21765364,622619347
1525,2300493,20160608,71.31,71.80,71.31,66.00,67.00,6404431,437329706
1544,2300515,20160608,10.28,0.00,12.34,10.28,12.34,10204,125196

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:03.580175
no massive missing

array([2300515], dtype=int32)

0:01:49.811136

20160608

SZ finished
0:00:30.798190
0:01:45.032739
0:01:36.886609
1
2
3
4
0:03:42.138128

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:325: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
60,2300495,20160613,54.09,49.17,54.09,48.01,49.52,21341792.0,1.114089e+09
106,2002626,20160613,15.00,15.35,15.22,14.51,14.60,8113827.0,1.213167e+08
106,2300382,20160613,37.10,38.20,37.15,34.38,34.38,3752804.0,1.343428e+08
61,2002053,20160613,25.10,25.66,25.34,24.41,24.48,3419906.0,8.522175e+07
106,2002189,20160613,27.15,28.28,27.52,25.45,25.45,10127308.0,2.715343e+08
46,2002505,20160613,3.77,3.43,3.77,3.77,3.77,7799369.0,2.940362e+07
106,2002475,20160613,19.16,19.54,19.48,18.80,18.80,5166309.0,9.946846e+07
81,2000712,20160613,19.20,19.56,19.35,18.08,18.16,19199108.0,3.640279e+08
106,2002609,20160613,16.02,16.40,16.88,16.00,16.00,14001813.0,2.300068e+08
86,2300257,20160613,15.20,14.10,15.51,14.66,15.51,33624249.0,5.180415e+08
20,2000717,20160613,4.18,4.40,4.18,4.18,4.18,1580900.0,6.608162e+06
81,2001896,20160613,8.24,8.39,8.74,8.24,8.34,19700149.0,1.685076e+08
98,2002324,20160613,28.61,28.03,29.97,28.05,28.59,11723132.0,3.397562e+08
106,2300252,20160613,30.00,30.95,30.70,28.51,28.57,4477310.0,1.318542e+08
13,2002044,20160613,14.10,14.52,14.48,13.08,13.25,13966229.0,1.947175e+08
106,2300346,20160613,33.38,34.90,34.67,31.41,31.41,7481463.0,2.498232e+08
106,2000592,20160613,6.95,6.98,6.95,6.41,6.41,30762364.0,2.065128e+08
66,2300089,20160613,10.38,10.09,11.10,10.14,11.06,44312993.0,4.871850e+08
106,2002399,20160613,17.32,17.49,17.34,16.50,16.50,4908381.0,8.339458e+07
102,2002068,20160613,6.91,6.81,7.24,6.70,6.70,25388463.0,1.765050e+08

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
149,2000592,20160613,6.95,13.95,6.95,6.41,6.41,30762364,206512768
221,2000712,20160613,19.20,19.66,19.35,18.08,18.16,19199108,364027882
225,2000717,20160613,4.18,0.00,4.18,4.18,4.18,1580900,6608162
397,2001896,20160613,8.24,0.00,8.74,8.24,8.34,19700149,168507587
441,2002044,20160613,14.10,29.03,14.48,13.08,13.25,13966229,194717453
448,2002053,20160613,25.10,25.76,25.34,24.41,24.48,3419906,85221748
460,2002068,20160613,6.91,0.00,7.24,6.70,6.70,25388463,176504985
566,2002189,20160613,27.15,28.30,27.52,25.45,25.45,10127308,271534316
680,2002324,20160613,28.61,0.00,29.97,28.05,28.59,11723132,339756159
745,2002399,20160613,17.32,28.59,17.34,16.50,16.50,4908381,83394584
817,2002475,20160613,19.16,29.40,19.48,18.80,18.80,5166309,99468463
845,2002505,20160613,3.77,0.00,3.77,3.77,3.77,7799369,29403621
936,2002609,20160613,16.02,16.50,16.88,16.00,16.00,14001813,230006817
950,2002626,20160613,15.00,15.40,15.22,14.51,14.60,8113827,121316672
1178,2300089,20160613,10.38,0.00,11.10,10.14,11.06,44312993,487185034
1320,2300252,20160613,30.00,31.02,30.70,28.51,28.57,4477310,131854200
1324,2300257,20160613,15.20,0.00,15.51,14.66,15.51,33624249,518041482
1399,2300346,20160613,33.38,35.00,34.67,31.41,31.41,7481463,249823215
1430,2300382,20160613,37.10,38.70,37.15,34.38,34.38,3752804,134342780
1525,2300495,20160613,54.09,0.00,54.09,48.01,49.52,21341792,1114088723

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:03.120605
no massive missing

array([], dtype=int32)

0:01:36.459737

20160613

SZ finished
0:00:47.163174
0:01:36.140325
0:01:28.323514
1
2
3
4
0:03:27.159429

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:325: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
71,2000990,20160614,16.74,16.82,16.87,16.32,16.64,9839814.0,1.635164e+08
9,2300071,20160614,9.90,9.00,9.90,9.90,9.90,2801735.0,2.773718e+07
107,2002603,20160614,14.54,14.55,14.78,14.30,14.52,6375200.0,9.246101e+07
66,2002352,20160614,26.87,24.43,26.87,26.87,26.87,265713.0,7.139708e+06
84,2002145,20160614,6.00,6.35,6.20,5.76,6.08,80307538.0,4.802924e+08
96,2300250,20160614,26.00,26.35,26.48,24.85,25.41,4295500.0,1.095341e+08
30,2000736,20160614,12.61,14.01,13.30,12.61,12.61,6378703.0,8.105768e+07
107,2300048,20160614,9.47,9.48,9.60,9.01,9.24,31933619.0,2.960833e+08
63,2002789,20160614,62.20,61.92,68.11,60.60,68.11,10501775.0,7.013309e+08
107,2000801,20160614,11.30,11.37,11.44,11.05,11.11,6839236.0,7.653195e+07
60,2300235,20160614,20.80,21.32,21.42,20.80,21.09,4072093.0,8.587446e+07
107,2300090,20160614,7.66,7.65,7.71,7.56,7.65,9412613.0,7.183043e+07
107,2000987,20160614,12.36,12.45,12.56,12.11,12.14,5015097.0,6.140840e+07
104,2000988,20160614,17.96,18.06,18.97,17.88,18.78,67727404.0,1.255066e+09
107,2300212,20160614,25.52,25.70,25.95,25.47,25.81,4507761.0,1.159243e+08
98,2002191,20160614,10.00,9.72,10.69,10.00,10.57,67076872.0,6.997125e+08
107,2002640,20160614,15.80,15.91,15.80,14.95,15.28,9256742.0,1.413915e+08

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
237,2000736,20160614,12.61,0.00,13.30,12.61,12.61,6378703,81057680
276,2000801,20160614,11.30,22.83,11.44,11.05,11.11,6839236,76531947
387,2000987,20160614,12.36,18.88,12.56,12.11,12.14,5015097,61408399
388,2000988,20160614,17.96,18.09,18.97,17.88,18.78,67727404,1255065611
390,2000990,20160614,16.74,16.85,16.87,16.32,16.64,9839814,163516355
526,2002145,20160614,6.00,0.00,6.20,5.76,6.08,80307538,480292440
568,2002191,20160614,10.00,0.00,10.69,10.00,10.57,67076872,699712515
707,2002352,20160614,26.87,0.00,26.87,26.87,26.87,265713,7139708
931,2002603,20160614,14.54,14.65,14.78,14.30,14.52,6375200,92461011
963,2002640,20160614,15.80,31.88,15.80,14.95,15.28,9256742,141391517
1090,2002789,20160614,62.20,62.02,68.11,60.60,68.11,10501775,701330886
1142,2300048,20160614,9.47,19.00,9.60,9.01,9.24,31933619,296083294
1162,2300071,20160614,9.90,0.00,9.90,9.90,9.90,2801735,27737176
1180,2300090,20160614,7.66,7.70,7.71,7.56,7.65,9412613,71830433
1286,2300212,20160614,25.52,25.80,25.95,25.47,25.81,4507761,115924273
1305,2300235,20160614,20.80,21.38,21.42,20.80,21.09,4072093,85874460
1318,2300250,20160614,26.00,52.75,26.48,24.85,25.41,4295500,109534060

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:02.985348
no massive missing

array([], dtype=int32)

has missing!!!!!!!!!!!!!!!!!!!!!!!
2
0:01:37.931542

20160614

SZ finished
0:00:33.417189
0:01:45.374154
0:01:33.551818
1
2
3
4
0:03:48.445172

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:325: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
56,2002507,20160615,9.95,10.74,11.81,9.95,10.84,18569466.0,1.996078e+08
0,2002112,20160615,21.03,19.12,21.03,21.03,21.03,2886833.0,6.071010e+07
95,2300269,20160615,23.90,24.50,25.50,22.90,25.20,19475776.0,4.762611e+08
97,2002109,20160615,6.15,6.30,6.52,6.06,6.49,11330842.0,7.210272e+07
93,2000948,20160615,16.49,16.66,17.51,16.41,17.32,4715982.0,8.093714e+07
108,2300378,20160615,25.25,25.49,26.70,25.21,26.40,3239968.0,8.495970e+07
108,2000513,20160615,41.86,41.81,42.93,41.70,42.74,1629573.0,6.929065e+07
108,2002531,20160615,6.10,6.18,6.35,6.00,6.28,9265831.0,5.808320e+07
47,2002110,20160615,5.95,6.61,6.58,5.95,6.49,29030176.0,1.797579e+08
108,2000538,20160615,61.97,61.80,62.50,60.89,62.27,4604680.0,2.855357e+08
108,2002039,20160615,18.78,18.66,19.20,18.61,19.19,5165175.0,9.811136e+07
99,2300353,20160615,16.81,18.20,19.30,16.81,18.90,14564901.0,2.654524e+08
98,2000887,20160615,21.22,21.55,22.50,21.16,22.24,19729127.0,4.360731e+08
48,2300153,20160615,25.80,24.10,26.51,25.80,26.51,5079326.0,1.334156e+08
49,2002048,20160615,20.61,20.83,22.59,20.52,22.34,35660980.0,7.823538e+08
108,2000888,20160615,11.68,11.62,11.85,11.60,11.78,5784657.0,6.792719e+07
108,2002241,20160615,27.65,27.93,29.18,27.50,28.73,14922328.0,4.280840e+08
87,2000890,20160615,10.03,10.27,10.71,10.03,10.65,9449290.0,9.957565e+07
91,2002435,20160615,16.20,16.32,16.98,15.93,16.91,4732418.0,7.845183e+07
108,2000961,20160615,6.64,6.54,6.96,6.56,6.86,55124060.0,3.716965e+08
103,2000665,20160615,13.78,13.86,14.32,13.71,14.22,5677602.0,8.016366e+07

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
95,2000513,20160615,41.86,42.31,42.93,41.70,42.74,1629573,69290653
113,2000538,20160615,61.97,62.40,62.50,60.89,62.27,4604680,285535710
186,2000665,20160615,13.78,13.96,14.32,13.71,14.22,5677602,80163655
320,2000887,20160615,21.22,21.63,22.50,21.16,22.24,19729127,436073101
321,2000888,20160615,11.68,11.72,11.85,11.60,11.78,5784657,67927194
323,2000890,20160615,10.03,10.28,10.71,10.03,10.65,9449290,99575649
360,2000948,20160615,16.49,16.70,17.51,16.41,17.32,4715982,80937139
367,2000961,20160615,6.64,16.40,6.96,6.56,6.86,55124060,371696544
434,2002039,20160615,18.78,19.16,19.20,18.61,19.19,5165175,98111359
442,2002048,20160615,20.61,20.93,22.59,20.52,22.34,35660980,782353763
495,2002109,20160615,6.15,0.00,6.52,6.06,6.49,11330842,72102720
496,2002110,20160615,5.95,0.00,6.58,5.95,6.49,29030176,179757918
498,2002112,20160615,21.03,0.00,21.03,21.03,21.03,2886833,60710097
615,2002241,20160615,27.65,28.03,29.18,27.50,28.73,14922328,428084002
785,2002435,20160615,16.20,16.47,16.98,15.93,16.91,4732418,78451831
848,2002507,20160615,9.95,0.00,11.81,9.95,10.84,18569466,199607801
869,2002531,20160615,6.10,11.18,6.35,6.00,6.28,9265831,58083203
1240,2300153,20160615,25.80,24.20,26.51,25.80,26.51,5079326,133415648
1337,2300269,20160615,23.90,0.00,25.50,22.90,25.20,19475776,476261056
1408,2300353,20160615,16.81,0.00,19.30,16.81,18.90,14564901,265452395
1429,2300378,20160615,25.25,33.24,26.70,25.21,26.40,3239968,84959696

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:03.055067
no massive missing

array([], dtype=int32)

0:01:43.568455

20160615

SZ finished
0:00:37.932468
0:01:42.127766
0:01:43.619664
1
2
3
4
0:03:36.315089

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:325: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
109,2000032,20160616,14.53,14.53,14.98,14.40,14.40,3717554.0,5.436612e+07
109,2000963,20160616,65.68,65.14,65.68,63.91,64.00,1641789.0,1.056063e+08
109,2000151,20160616,17.06,16.94,17.06,16.68,16.80,6404157.0,1.075004e+08
11,2300071,20160616,11.38,10.85,11.38,10.48,10.73,42558944.0,4.637452e+08
109,2300205,20160616,13.28,13.36,13.68,13.20,13.52,9312110.0,1.249764e+08
109,2300486,20160616,40.19,40.43,41.97,39.80,40.94,3603843.0,1.470804e+08
76,2000058,20160616,10.35,10.32,10.36,10.06,10.13,9919151.0,1.012459e+08
107,2002778,20160616,41.40,41.62,42.60,41.30,41.63,2348693.0,9.835968e+07
109,2002074,20160616,43.30,41.60,44.28,41.82,42.11,69046860.0,2.980336e+09
109,2002054,20160616,10.30,10.20,11.09,10.20,11.07,24127018.0,2.577992e+08
53,2002791,20160616,48.28,48.13,49.96,47.30,47.84,5669003.0,2.753479e+08
109,2002751,20160616,60.52,60.87,61.66,59.10,59.26,7277657.0,4.383420e+08
108,2000623,20160616,24.46,24.44,24.46,24.09,24.12,7644390.0,1.851405e+08
109,2000768,20160616,17.34,17.14,17.80,17.27,17.45,29069371.0,5.096458e+08
109,2002013,20160616,11.99,11.99,12.06,11.70,11.81,7218349.0,8.599914e+07
109,2000001,20160616,8.57,8.57,8.60,8.53,8.57,38667008.0,3.311924e+08
106,2300448,20160616,34.89,34.80,35.19,33.02,34.30,6089040.0,2.063346e+08
109,2300447,20160616,42.50,42.90,43.28,41.00,41.09,5309061.0,2.223303e+08
65,2000635,20160616,11.56,12.18,11.88,11.26,11.31,13117692.0,1.509239e+08
81,2002788,20160616,54.00,54.05,54.80,53.71,53.92,2592346.0,1.405233e+08
109,2000021,20160616,8.64,8.60,8.76,8.56,8.58,17860119.0,1.545815e+08
95,2300384,20160616,47.78,47.51,47.82,46.50,46.93,1888248.0,8.885746e+07
99,2002433,20160616,9.68,9.75,9.72,9.51,9.56,12098989.0,1.163228e+08
109,2002292,20160616,28.87,28.96,29.07,28.40,28.52,15943087.0,4.569046e+08
109,2300325,20160616,16.11,16.26,17.89,16.11,17.59,21244499.0,3.748794e+08
109,2300181,20160616,8.99,8.97,9.12,8.82,9.10,11450827.0,1.023859e+08
109,2002677,20160616,10.95,10.94,11.00,10.55,10.60,8241439.0,8.854032e+07
104,2300209,20160616,22.28,22.36,23.38,22.05,22.86,5745643.0,1.307551e+08
109,2002079,20160616,8.88,8.90,9.32,8.81,9.10,33961537.0,3.079032e+08
105,2002506,20160616,6.98,6.73,7.40,6.88,7.40,122635387.0,8.953351e+08
109,2002422,20160616,14.55,14.54,14.73,14.42,14.43,2419040.0,3.523179e+07
109,2300494,20160616,46.38,46.91,48.70,45.02,45.60,12543037.0,5.827845e+08
109,2300397,20160616,30.97,30.91,33.89,30.00,31.99,11741179.0,3.777846e+08
109,2300289,20160616,13.82,14.03,14.14,13.65,13.77,3258660.0,4.528428e+07
88,2300499,20160616,103.99,99.25,109.18,103.00,108.50,4545182.0,4.825050e+08
108,2000060,20160616,10.44,10.28,10.49,10.22,10.35,45013375.0,4.662856e+08
109,2300129,20160616,6.72,6.72,6.81,6.63,6.70,7323016.0,4.928678e+07

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
0,2000001,20160616,8.57,10.44,8.60,8.53,8.57,38667008,331192444
14,2000021,20160616,8.64,8.65,8.76,8.56,8.58,17860119,154581529
24,2000032,20160616,14.53,17.46,14.98,14.40,14.40,3717554,54366120
38,2000058,20160616,10.35,10.35,10.36,10.06,10.13,9919151,101245890
40,2000060,20160616,10.44,10.29,10.49,10.22,10.35,45013375,466285589
57,2000151,20160616,17.06,17.34,17.06,16.68,16.80,6404157,107500404
167,2000623,20160616,24.46,24.74,24.46,24.09,24.12,7644390,185140514
175,2000635,20160616,11.56,0.00,11.88,11.26,11.31,13117692,150923851
252,2000768,20160616,17.34,17.24,17.80,17.27,17.45,29069371,509645818
368,2000963,20160616,65.68,66.39,65.68,63.91,64.00,1641789,105606295
408,2002013,20160616,11.99,18.03,12.06,11.70,11.81,7218349,85999142
447,2002054,20160616,10.30,10.32,11.09,10.20,11.07,24127018,257799246
461,2002074,20160616,43.30,41.75,44.28,41.82,42.11,69046860,2980335623
466,2002079,20160616,8.88,8.92,9.32,8.81,9.10,33961537,307903182
654,2002292,20160616,28.87,29.00,29.07,28.40,28.52,15943087,456904608
771,2002422,20160616,14.55,14.68,14.73,14.42,14.43,2419040,35231787
782,2002433,20160616,9.68,9.77,9.72,9.51,9.56,12098989,116322772
847,2002506,20160616,6.98,0.00,7.40,6.88,7.40,122635387,895335055
997,2002677,20160616,10.95,17.75,11.00,10.55,10.60,8241439,88540320
1061,2002751,20160616,60.52,60.93,61.66,59.10,59.26,7277657,438341985
1082,2002778,20160616,41.40,41.70,42.60,41.30,41.63,2348693,98359682
1091,2002788,20160616,54.00,54.25,54.80,53.71,53.92,2592346,140523296
1094,2002791,20160616,48.28,48.28,49.96,47.30,47.84,5669003,275347902
1164,2300071,20160616,11.38,10.89,11.38,10.48,10.73,42558944,463745163
1217,2300129,20160616,6.72,6.77,6.81,6.63,6.70,7323016,49286776
1260,2300181,20160616,8.99,9.04,9.12,8.82,9.10,11450827,102385938
1281,2300205,20160616,13.28,13.41,13.68,13.20,13.52,9312110,124976379
1284,2300209,20160616,22.28,22.38,23.38,22.05,22.86,5745643,130755063
1353,2300289,20160616,13.82,14.09,14.14,13.65,13.77,3258660,45284283
1381,2300325,20160616,16.11,16.30,17.89,16.11,17.59,21244499,374879393
1432,2300384,20160616,47.78,47.71,47.82,46.50,46.93,1888248,88857462
1444,2300397,20160616,30.97,61.82,33.89,30.00,31.99,11741179,377784611
1485,2300447,20160616,42.50,85.95,43.28,41.00,41.09,5309061,222330334
1486,2300448,20160616,34.89,86.85,35.19,33.02,34.30,6089040,206334637
1516,2300486,20160616,40.19,40.54,41.97,39.80,40.94,3603843,147080379
1523,2300494,20160616,46.38,93.82,48.70,45.02,45.60,12543037,582784534
1528,2300499,20160616,103.99,99.45,109.18,103.00,108.50,4545182,482505047

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:03.320207
no massive missing

array([], dtype=int32)

0:01:40.443474

20160616

SZ finished
0:00:32.551879
0:01:47.163966
0:01:34.728013
1
2
3
4
0:03:37.515093

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:325: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
110,2300188,20160617,24.40,24.15,24.84,24.11,24.33,10067453.0,2.469134e+08
110,2002495,20160617,7.72,7.65,7.96,7.51,7.61,43368094.0,3.361956e+08
110,2002051,20160617,18.70,18.66,19.55,18.53,19.21,7520510.0,1.438822e+08
107,2002150,20160617,14.79,14.79,15.07,14.02,14.23,12862276.0,1.872564e+08
79,2300285,20160617,37.14,37.34,41.07,37.09,38.82,7053156.0,2.799737e+08
110,2300329,20160617,19.38,19.34,19.85,19.32,19.45,5563723.0,1.090034e+08
91,2002596,20160617,26.23,26.23,27.09,26.23,27.09,3335866.0,8.919555e+07
105,2002126,20160617,8.45,8.41,8.56,8.05,8.18,29811259.0,2.478250e+08
110,2002304,20160617,72.18,72.62,76.67,72.18,76.20,5477000.0,4.155032e+08
110,2300214,20160617,7.25,7.22,7.43,7.24,7.34,4994637.0,3.671363e+07
110,2000978,20160617,10.20,10.17,10.35,10.17,10.23,2563735.0,2.632887e+07
66,2000635,20160617,11.21,11.28,11.41,11.05,11.22,7858312.0,8.840189e+07
110,2000090,20160617,8.81,8.76,8.89,8.74,8.82,7078481.0,6.245603e+07
110,2000069,20160617,6.34,6.31,6.40,6.33,6.36,11405988.0,7.266842e+07
110,2300438,20160617,47.00,47.94,49.40,44.00,46.00,25697478.0,1.206861e+09
110,2002128,20160617,6.94,6.93,7.39,6.94,7.25,25616269.0,1.847550e+08
110,2000528,20160617,6.37,6.34,6.44,6.35,6.38,7802497.0,4.982988e+07
110,2300078,20160617,29.16,29.14,32.05,29.16,32.00,32192622.0,1.009334e+09
110,2002574,20160617,11.56,11.79,12.60,11.38,12.36,37267995.0,4.511989e+08
110,2000006,20160617,7.05,7.00,7.39,7.02,7.23,20560315.0,1.474491e+08
110,2002719,20160617,43.36,42.88,43.98,42.80,43.70,2616594.0,1.134976e+08
110,2002121,20160617,10.80,10.65,10.93,10.31,10.41,47537465.0,5.054448e+08
102,2002673,20160617,23.40,23.22,24.17,23.33,23.45,85315640.0,2.028766e+09
110,2300497,20160617,105.78,106.30,110.88,105.78,109.00,2736602.0,2.962016e+08
110,2002214,20160617,11.71,11.61,11.88,11.54,11.75,6167302.0,7.236615e+07
110,2000758,20160617,8.12,8.08,8.89,8.01,8.37,178409855.0,1.526711e+09
110,2300079,20160617,8.15,8.14,8.32,8.14,8.19,24556672.0,2.023067e+08
110,2002220,20160617,10.34,10.25,10.44,10.13,10.19,5016599.0,5.163963e+07
110,2002729,20160617,92.05,91.95,92.76,86.00,88.34,961201.0,8.597674e+07
110,2300496,20160617,75.50,76.26,83.48,73.68,77.96,22887544.0,1.789981e+09
110,2002444,20160617,20.00,19.70,20.00,18.77,19.29,24858439.0,4.834436e+08
110,2000791,20160617,11.47,11.50,11.88,11.15,11.88,12694889.0,1.454332e+08
96,2002395,20160617,26.88,27.25,27.20,26.21,26.77,10194187.0,2.726444e+08
110,2300007,20160617,20.23,20.18,22.00,20.23,21.29,14813811.0,3.142772e+08
110,2002185,20160617,11.70,11.65,11.78,11.42,11.60,27482223.0,3.193528e+08
110,2000685,20160617,10.17,10.10,10.22,10.10,10.16,5876571.0,5.970094e+07

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
2,2000006,20160617,7.05,7.12,7.39,7.02,7.23,20560315,147449100
47,2000069,20160617,6.34,6.38,6.40,6.33,6.36,11405988,72668416
52,2000090,20160617,8.81,12.46,8.89,8.74,8.82,7078481,62456034
105,2000528,20160617,6.37,6.44,6.44,6.35,6.38,7802497,49829882
175,2000635,20160617,11.21,11.31,11.41,11.05,11.22,7858312,88401891
201,2000685,20160617,10.17,10.40,10.22,10.10,10.16,5876571,59700936
245,2000758,20160617,8.12,16.20,8.89,8.01,8.37,178409855,1526711008
265,2000791,20160617,11.47,11.52,11.88,11.15,11.88,12694889,145433240
378,2000978,20160617,10.20,10.22,10.35,10.17,10.23,2563735,26328870
445,2002051,20160617,18.70,22.69,19.55,18.53,19.21,7520510,143882204
505,2002121,20160617,10.80,26.68,10.93,10.31,10.41,47537465,505444806
510,2002126,20160617,8.45,16.88,8.56,8.05,8.18,29811259,247825025
511,2002128,20160617,6.94,7.03,7.39,6.94,7.25,25616269,184754999
531,2002150,20160617,14.79,14.94,15.07,14.02,14.23,12862276,187256437
563,2002185,20160617,11.70,15.20,11.78,11.42,11.60,27482223,319352846
588,2002214,20160617,11.71,11.63,11.88,11.54,11.75,6167302,72366148
593,2002220,20160617,10.34,10.30,10.44,10.13,10.19,5016599,51639625
666,2002304,20160617,72.18,74.42,76.67,72.18,76.20,5477000,415503224
744,2002395,20160617,26.88,27.30,27.20,26.21,26.77,10194187,272644417
792,2002444,20160617,20.00,19.80,20.00,18.77,19.29,24858439,483443593
836,2002495,20160617,7.72,7.66,7.96,7.51,7.61,43368094,336195564
907,2002574,20160617,11.56,11.84,12.60,11.38,12.36,37267995,451198947
926,2002596,20160617,26.23,26.26,27.09,26.23,27.09,3335866,89195547
993,2002673,20160617,23.40,23.44,24.17,23.33,23.45,85315640,2028765621
1032,2002719,20160617,43.36,43.00,43.98,42.80,43.70,2616594,113497616
1041,2002729,20160617,92.05,92.05,92.76,86.00,88.34,961201,85976742
1109,2300007,20160617,20.23,20.20,22.00,20.23,21.29,14813811,314277160
1171,2300078,20160617,29.16,29.19,32.05,29.16,32.00,32192622,1009334011
1172,2300079,20160617,8.15,8.15,8.32,8.14,8.19,24556672,202306735
1265,2300188,20160617,24.40,24.18,24.84,24.11,24.33,10067453,246913372
1289,2300214,20160617,7.25,7.32,7.43,7.24,7.34,4994637,36713633
1349,2300285,20160617,37.14,37.44,41.07,37.09,38.82,7053156,279973656
1384,2300329,20160617,19.38,19.36,19.85,19.32,19.45,5563723,109003373
1476,2300438,20160617,47.00,144.01,49.40,44.00,46.00,25697478,1206860568
1524,2300496,20160617,75.50,298.58,83.48,73.68,77.96,22887544,1789981296
1525,2300497,20160617,105.78,106.80,110.88,105.78,109.00,2736602,296201564

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:03.075448
no massive missing

array([], dtype=int32)

0:01:46.369751

20160617

SZ finished
0:00:37.504211
0:01:37.898771
0:02:06.723745
1
2
3
4
0:03:31.004753

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:325: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
106,2000042,20160620,15.94,15.81,15.94,15.65,15.77,1605207.0,2.531172e+07
60,2002405,20160620,22.30,22.19,23.18,22.19,22.50,53459938.0,1.214551e+09
111,2000926,20160620,11.18,11.07,11.18,11.00,11.13,7688971.0,8.532086e+07
0,2300043,20160620,14.22,15.80,14.22,14.22,14.22,4320700.0,6.144035e+07
101,2002777,20160620,114.67,114.68,121.70,112.77,117.78,2885556.0,3.384704e+08
0,2000836,20160620,6.93,7.70,7.00,6.93,6.93,70021900.0,4.852684e+08
111,2002281,20160620,61.50,61.06,64.50,61.28,63.90,7133287.0,4.505656e+08
78,2000971,20160620,24.40,22.18,24.40,24.40,24.40,1942609.0,4.739966e+07
111,2002098,20160620,11.33,11.36,11.50,11.15,11.30,3132133.0,3.535326e+07
111,2002238,20160620,14.38,14.21,14.38,13.86,14.13,3471743.0,4.874783e+07
105,2002235,20160620,18.04,18.21,18.31,17.40,17.87,8564007.0,1.522808e+08
74,2000995,20160620,15.59,16.41,15.59,15.59,15.59,65800.0,1.025822e+06
97,2002263,20160620,5.00,4.94,5.07,4.64,4.70,148887527.0,7.089699e+08
111,2000014,20160620,17.45,17.59,17.45,16.80,17.08,6062243.0,1.033308e+08
111,2002210,20160620,16.96,17.03,17.50,16.48,17.29,8462396.0,1.432419e+08
111,2002351,20160620,14.09,13.92,14.50,13.18,13.90,36052108.0,4.970877e+08
111,2002756,20160620,24.68,24.88,24.71,23.70,24.17,3647845.0,8.785796e+07
65,2002547,20160620,9.01,9.41,10.28,9.01,10.00,52206966.0,5.156751e+08
111,2002738,20160620,20.70,21.45,21.19,20.30,20.81,6759545.0,1.397543e+08
109,2002397,20160620,8.15,8.24,8.50,8.09,8.40,20723228.0,1.728239e+08
106,2002527,20160620,14.86,14.81,14.95,14.62,14.88,3625913.0,5.348108e+07
65,2300464,20160620,49.05,44.59,49.05,49.05,49.05,441324.0,2.164694e+07
40,2300313,20160620,15.88,16.10,16.98,15.88,16.70,6788899.0,1.136791e+08
111,2002372,20160620,14.44,14.96,14.82,14.18,14.46,12020708.0,1.737787e+08
105,2000820,20160620,17.07,15.59,17.15,16.31,16.68,18861297.0,3.181601e+08
0,2002612,20160620,33.87,37.63,33.87,33.87,33.87,233000.0,7.891710e+06
78,2002771,20160620,92.65,93.83,97.00,91.50,95.72,1826127.0,1.732469e+08
111,2300442,20160620,41.76,41.64,44.35,41.10,43.29,3033121.0,1.298021e+08
111,2300014,20160620,46.85,46.78,47.78,45.05,47.43,27868064.0,1.296031e+09

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
8,2000014,20160620,17.45,17.63,17.450,16.80,17.0800,6062243,103330768
29,2000042,20160620,15.94,16.01,15.940,15.65,15.7700,1605207,25311719
282,2000820,20160620,17.07,0.00,17.150,16.31,16.6800,18861297,318160117
293,2000836,20160620,6.93,0.00,7.000,6.93,6.9300,70021900,485268411
348,2000926,20160620,11.18,11.32,11.180,11.00,11.1300,7688971,85320857
373,2000971,20160620,24.40,0.00,24.400,24.40,24.4000,1942609,47399659
390,2000995,20160620,15.59,0.00,15.590,15.59,15.5900,65800,1025822
485,2002098,20160620,11.33,11.44,11.500,11.15,11.3000,3132133,35353264
586,2002210,20160620,16.96,22.20,17.500,16.48,17.2900,8462396,143241888
609,2002235,20160620,18.04,18.21,18.321,17.40,230.6003,13437372254821,2500783638433683
612,2002238,20160620,14.38,17.25,14.380,13.86,14.1300,3471743,48747831
634,2002263,20160620,5.00,9.90,5.070,4.64,4.7000,148887527,708969879
647,2002281,20160620,61.50,61.56,64.500,61.28,63.9000,7133287,450565554
705,2002351,20160620,14.09,28.03,14.500,13.18,13.9000,36052108,497087734
724,2002372,20160620,14.44,20.05,14.820,14.18,14.4600,12020708,173778666
745,2002397,20160620,8.15,8.34,8.500,8.09,8.4000,20723228,172823899
753,2002405,20160620,22.30,33.34,23.180,22.19,22.5000,53459938,1214550559
863,2002527,20160620,14.86,14.91,14.950,14.62,14.8800,3625913,53481082
882,2002547,20160620,9.01,0.00,10.280,9.01,10.0000,52206966,515675105
939,2002612,20160620,33.87,0.00,33.870,33.87,33.8700,233000,7891710
1048,2002738,20160620,20.70,32.28,21.190,20.30,20.8100,6759545,139754340
1064,2002756,20160620,24.68,44.98,24.710,23.70,24.1700,3647845,87857960
1075,2002771,20160620,92.65,94.13,97.000,91.50,95.7200,1826127,173246914
1080,2002777,20160620,114.67,115.18,121.700,112.77,117.7800,2885556,338470390
1115,2300014,20160620,46.85,46.85,47.780,45.05,47.4300,27868064,1296030831
1141,2300043,20160620,14.22,0.00,14.220,14.22,14.2200,4320700,61440354
1369,2300313,20160620,15.88,0.00,16.980,15.88,16.7000,6788899,113679122
1477,2300442,20160620,41.76,41.74,44.350,41.10,43.2900,3033121,129802050
1494,2300464,20160620,49.05,0.00,49.050,49.05,49.0500,441324,21646942

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:03.170639
no massive missing

array([], dtype=int32)

0:01:54.778211

20160620

SZ finished
0:00:40.210393
0:01:43.303779
0:01:51.937127
1
2
3
4
0:03:50.680590

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:325: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
78,2002069,20160621,8.72,8.30,8.72,8.58,8.72,4989318.0,4.348318e+07
112,2002182,20160621,18.65,18.49,19.92,17.21,17.84,31789560.0,6.020248e+08
112,2002669,20160621,22.18,21.49,23.64,22.18,22.90,13615971.0,3.185638e+08
103,2002152,20160621,17.00,17.12,17.96,15.41,16.27,21981322.0,3.679969e+08
112,2300318,20160621,9.68,9.53,9.75,9.09,9.16,12572833.0,1.172437e+08
22,2002354,20160621,86.70,78.82,86.70,80.89,81.98,13204089.0,1.131377e+09
96,2300169,20160621,10.83,12.03,11.08,10.83,10.83,31164423.0,3.388663e+08
98,2300433,20160621,30.29,30.40,30.57,27.80,28.48,22015198.0,6.414428e+08
112,2300439,20160621,31.10,31.02,31.47,29.50,29.74,6037683.0,1.844531e+08
112,2002581,20160621,28.00,27.81,28.00,26.62,27.10,3687100.0,1.006301e+08
49,2002631,20160621,27.20,26.94,27.79,26.27,26.50,34882919.0,9.431545e+08
110,2300075,20160621,23.10,22.87,23.90,22.28,22.45,22012486.0,5.108909e+08
98,2002308,20160621,15.42,15.25,15.51,14.78,14.95,11859288.0,1.801006e+08
112,2000850,20160621,5.84,5.83,6.15,5.77,5.94,37639975.0,2.250184e+08
112,2000532,20160621,18.70,18.23,19.65,18.17,18.71,33818131.0,6.374890e+08
112,2002592,20160621,31.25,31.01,31.58,30.70,30.93,1303287.0,4.060982e+07
112,2000672,20160621,5.89,5.84,5.93,5.76,5.77,3531292.0,2.064126e+07
112,2300387,20160621,27.15,27.59,27.76,26.41,26.45,3640112.0,9.848554e+07
112,2002623,20160621,33.72,33.65,33.83,32.96,33.40,5170263.0,1.720240e+08
93,2000960,20160621,11.40,11.15,11.85,10.87,10.90,48948008.0,5.585926e+08
103,2002658,20160621,17.05,16.41,17.30,16.20,16.32,10160240.0,1.705415e+08
112,2002030,20160621,27.00,26.76,27.36,26.51,26.66,32328841.0,8.724965e+08
87,2002580,20160621,19.35,19.46,19.56,18.65,18.82,16619024.0,3.174394e+08
112,2000739,20160621,6.19,6.15,6.22,6.08,6.09,6466005.0,3.975842e+07
103,2002426,20160621,10.31,10.18,10.34,9.48,9.64,60490126.0,5.954248e+08
112,2300109,20160621,60.20,58.82,60.44,56.50,56.87,5495122.0,3.171917e+08
112,2002268,20160621,33.64,33.35,33.78,31.73,32.11,13516377.0,4.439038e+08
112,2300471,20160621,48.00,47.36,48.04,46.00,46.23,2647746.0,1.236684e+08
54,2002439,20160621,25.13,23.66,25.47,21.99,22.76,40920250.0,9.668716e+08

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
106,2000532,20160621,18.70,18.26,19.65,18.17,18.71,33818131,637489047
190,2000672,20160621,5.89,5.87,5.93,5.76,5.77,3531292,20641259
236,2000739,20160621,6.19,6.20,6.22,6.08,6.09,6466005,39758424
298,2000850,20160621,5.84,5.93,6.15,5.77,5.94,37639975,225018428
366,2000960,20160621,11.40,0.00,11.85,10.87,10.90,48948008,558592624
427,2002030,20160621,27.00,29.46,27.36,26.51,26.66,32328841,872496462
461,2002069,20160621,8.72,0.00,8.72,8.58,8.72,4989318,43483181
536,2002152,20160621,17.00,0.00,17.96,15.41,16.27,21981322,367996935
564,2002182,20160621,18.65,18.59,19.92,17.21,17.84,31789560,602024820
641,2002268,20160621,33.64,33.45,33.78,31.73,32.11,13516377,443903810
672,2002308,20160621,15.42,15.26,15.51,14.78,14.95,11859288,180100562
711,2002354,20160621,86.70,0.00,86.70,80.89,81.98,13204089,1131377234
778,2002426,20160621,10.31,25.49,10.34,9.48,9.64,60490126,595424834
790,2002439,20160621,25.13,0.00,25.47,21.99,22.76,40920250,966871592
915,2002580,20160621,19.35,19.51,19.56,18.65,18.82,16619024,317439416
916,2002581,20160621,28.00,27.86,28.00,26.62,27.10,3687100,100630096
925,2002592,20160621,31.25,31.19,31.58,30.70,30.93,1303287,40609818
952,2002623,20160621,33.72,33.69,33.83,32.96,33.40,5170263,172024000
959,2002631,20160621,27.20,26.96,27.79,26.27,26.50,34882919,943154515
984,2002658,20160621,17.05,0.00,17.30,16.20,16.32,10160240,170541537
994,2002669,20160621,22.18,21.60,23.64,22.18,22.90,13615971,318563753
1173,2300075,20160621,23.10,22.91,23.90,22.28,22.45,22012486,510890920
1206,2300109,20160621,60.20,58.92,60.44,56.50,56.87,5495122,317191698
1256,2300169,20160621,10.83,0.00,11.08,10.83,10.83,31164423,338866265
1378,2300318,20160621,9.68,18.99,9.75,9.09,9.16,12572833,117243704
1436,2300387,20160621,27.15,27.70,27.76,26.41,26.45,3640112,98485541
1473,2300433,20160621,30.29,92.20,30.57,27.80,28.48,22015198,641442807
1478,2300439,20160621,31.10,31.12,31.47,29.50,29.74,6037683,184453141
1503,2300471,20160621,48.00,47.96,48.04,46.00,46.23,2647746,123668369

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:03.188335
no massive missing

array([], dtype=int32)

0:01:43.155171

20160621

SZ finished
0:00:36.099914
0:01:39.706222
0:01:50.881724
1
2
3
4
0:04:02.366544

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:325: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
105,2300297,20160622,14.10,14.02,14.26,13.75,14.18,14822095.0,2.077131e+08
44,2300432,20160622,38.88,39.93,39.06,35.94,35.94,33042347.0,1.206909e+09
104,2002029,20160622,9.40,9.38,9.61,9.36,9.60,7565706.0,7.187152e+07
113,2002446,20160622,30.60,30.71,31.88,30.15,31.88,15578162.0,4.825363e+08
113,2000019,20160622,10.69,10.77,11.85,10.61,11.85,14654503.0,1.710578e+08
30,2002696,20160622,17.00,16.94,17.41,16.91,17.41,3604042.0,6.198137e+07
113,2300263,20160622,10.15,10.11,10.98,9.88,10.74,33214699.0,3.521050e+08
87,2300069,20160622,32.27,32.03,32.50,31.15,32.39,4132424.0,1.313532e+08
113,2002476,20160622,7.77,7.75,8.25,7.66,8.08,21476344.0,1.722817e+08
0,2000038,20160622,51.21,56.90,51.21,51.21,51.21,115100.0,5.894271e+06
113,2300479,20160622,37.50,38.60,39.95,37.42,39.19,3438975.0,1.336489e+08
42,2002739,20160622,74.89,74.80,75.00,73.36,75.00,7209797.0,5.353935e+08
103,2002371,20160622,40.72,40.80,41.47,38.50,39.91,14472586.0,5.730048e+08
104,2300192,20160622,11.50,11.80,12.25,11.50,12.23,7825308.0,9.445081e+07
113,2002282,20160622,13.20,13.29,13.40,13.01,13.34,5564484.0,7.356363e+07
113,2000616,20160622,5.23,5.22,5.36,5.15,5.36,15694652.0,8.262280e+07
35,2000034,20160622,18.80,18.20,19.63,18.08,18.52,11311470.0,2.135721e+08
93,2300254,20160622,22.98,20.89,22.98,22.98,22.98,480582.0,1.104377e+07
38,2300340,20160622,73.70,72.60,78.50,67.22,72.35,30073987.0,2.211684e+09
113,2000713,20160622,10.05,10.05,10.16,10.01,10.13,4726298.0,4.767832e+07
107,2000544,20160622,13.03,12.99,13.27,13.01,13.23,1677265.0,2.206622e+07
108,2002716,20160622,16.43,16.91,16.95,16.21,16.76,25582732.0,4.236548e+08
113,2002722,20160622,34.80,34.66,35.40,33.66,35.08,6712665.0,2.328547e+08
113,2000700,20160622,10.09,10.23,10.33,10.03,10.32,9631465.0,9.817722e+07
113,2002357,20160622,15.24,15.23,15.76,14.71,15.70,18802962.0,2.861014e+08
113,2002063,20160622,13.51,13.64,14.22,13.51,14.21,25113008.0,3.494869e+08
113,2300341,20160622,14.87,14.90,15.50,14.51,15.03,4353032.0,6.589496e+07
113,2300178,20160622,17.70,17.69,18.33,17.64,18.29,8623970.0,1.555887e+08
111,2000338,20160622,7.90,7.63,7.95,7.77,7.84,39206349.0,3.077321e+08
111,2000048,20160622,36.85,36.07,36.85,32.51,35.35,2344783.0,8.206452e+07
0,2002219,20160622,13.41,14.90,13.41,13.41,13.41,1087500.0,1.458338e+07
0,2002801,20160622,23.41,19.51,28.09,23.41,28.09,5410.0,1.498609e+05
113,2000816,20160622,5.82,5.84,5.92,5.80,5.89,17123092.0,1.003406e+08
111,2300144,20160622,24.00,23.62,24.56,24.00,24.33,11158916.0,2.709503e+08
113,2300241,20160622,15.65,15.60,15.96,15.26,15.88,7575097.0,1.181415e+08
48,2002524,20160622,6.82,7.58,7.79,6.82,7.22,77207049.0,5.507377e+08
103,2300317,20160622,28.91,28.00,30.30,28.01,29.99,7999795.0,2.359359e+08

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
12,2000019,20160622,10.69,16.16,11.85,10.61,11.85,14654503,171057816
25,2000034,20160622,18.80,0.00,19.63,18.08,18.52,11311470,213572091
28,2000038,20160622,51.21,0.00,51.21,51.21,51.21,115100,5894271
35,2000048,20160622,36.85,0.00,36.85,32.51,35.35,2344783,82064524
67,2000338,20160622,7.90,0.00,7.95,7.77,7.84,39206349,307732146
119,2000544,20160622,13.03,13.03,13.27,13.01,13.23,1677265,22066215
165,2000616,20160622,5.23,5.24,5.36,5.15,5.36,15694652,82622801
211,2000700,20160622,10.09,20.55,10.33,10.03,10.32,9631465,98177216
221,2000713,20160622,10.05,10.07,10.16,10.01,10.13,4726298,47678324
284,2000816,20160622,5.82,5.85,5.92,5.80,5.89,17123092,100340586
430,2002029,20160622,9.40,9.48,9.61,9.36,9.60,7565706,71871523
460,2002063,20160622,13.51,13.69,14.22,13.51,14.21,25113008,349486869
601,2002219,20160622,13.41,0.00,13.41,13.41,13.41,1087500,14583375
656,2002282,20160622,13.20,13.32,13.40,13.01,13.34,5564484,73563632
718,2002357,20160622,15.24,15.42,15.76,14.71,15.70,18802962,286101366
732,2002371,20160622,40.72,40.83,41.47,38.50,39.91,14472586,573004830
801,2002446,20160622,30.60,30.75,31.88,30.15,31.88,15578162,482536313
827,2002476,20160622,7.77,7.78,8.25,7.66,8.08,21476344,172281650
871,2002524,20160622,6.82,0.00,7.79,6.82,7.22,77207049,550737680
1021,2002696,20160622,17.00,17.04,17.41,16.91,17.41,3604042,61981366
1038,2002716,20160622,16.43,16.96,16.95,16.21,16.76,25582732,423654811
1043,2002722,20160622,34.80,34.75,35.40,33.66,35.08,6712665,232854705
1059,2002739,20160622,74.89,75.00,75.00,73.36,75.00,7209797,535393529
1112,2002801,20160622,23.41,0.00,28.09,23.41,28.09,5410,149860
1173,2300069,20160622,32.27,32.08,32.50,31.15,32.39,4132424,131353222
1242,2300144,20160622,24.00,0.00,24.56,24.00,24.33,11158916,270950303
1270,2300178,20160622,17.70,17.72,18.33,17.64,18.29,8623970,155588658
1280,2300192,20160622,11.50,11.85,12.25,11.50,12.23,7825308,94450813
1321,2300241,20160622,15.65,15.62,15.96,15.26,15.88,7575097,118141547
1333,2300254,20160622,22.98,0.00,22.98,22.98,22.98,480582,11043774
1342,2300263,20160622,10.15,20.25,10.98,9.88,10.74,33214699,352105047
1371,2300297,20160622,14.10,0.00,14.26,13.75,14.18,14822095,207713090
1387,2300317,20160622,28.91,0.00,30.30,28.01,29.99,7999795,235935939
1406,2300340,20160622,73.70,0.00,78.50,67.22,72.35,30073987,2211684358
1407,2300341,20160622,14.87,29.89,15.50,14.51,15.03,4353032,65894960
1484,2300432,20160622,38.88,0.00,39.06,35.94,35.94,33042347,1206908550
1522,2300479,20160622,37.50,77.50,39.95,37.42,39.19,3438975,133648895

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:03.454763
no massive missing

array([2002801], dtype=int32)

0:01:40.889424

20160622

SZ finished
0:00:41.189817
0:01:44.907903
0:01:46.369969
1
2
3
4
0:03:35.282197

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:325: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
114,2300098,20160623,16.45,15.85,16.78,15.60,15.60,71364122.0,1.166204e+09
93,2000688,20160623,7.50,7.39,7.84,7.39,7.40,19723905.0,1.497832e+08
104,2002540,20160623,8.06,7.33,8.06,8.06,8.06,6459715.0,5.206530e+07
114,2000570,20160623,8.71,8.75,8.79,8.55,8.63,8026895.0,6.944696e+07
19,2002491,20160623,16.20,14.73,16.20,16.20,16.20,585175.0,9.479835e+06
114,2000531,20160623,12.50,12.48,12.63,12.05,12.25,11976438.0,1.471829e+08
75,2000677,20160623,5.07,5.53,5.45,5.02,5.22,34380503.0,1.779503e+08
70,2002049,20160623,43.06,43.73,43.66,42.31,42.50,17306407.0,7.420689e+08
114,2000726,20160623,10.91,10.95,10.98,10.79,10.81,5525788.0,5.997134e+07
97,2300003,20160623,18.10,18.07,18.28,17.46,17.51,5906365.0,1.047020e+08
53,2300238,20160623,41.31,41.09,44.19,41.31,41.83,5784638.0,2.448860e+08
114,2300311,20160623,20.71,20.62,22.46,20.31,21.77,15421343.0,3.253163e+08
114,2002579,20160623,15.40,15.58,15.53,14.94,15.10,23023232.0,3.494196e+08
114,2300049,20160623,22.40,22.02,22.48,21.51,21.99,6249894.0,1.377943e+08
114,2000637,20160623,6.41,6.41,6.43,6.26,6.33,7909533.0,5.024308e+07
114,2000819,20160623,26.03,25.88,26.18,25.72,25.95,2375017.0,6.161476e+07
114,2000417,20160623,7.84,7.84,7.87,7.71,7.74,5297699.0,4.117719e+07
114,2000966,20160623,6.85,6.85,6.85,6.60,6.61,20761354.0,1.388114e+08
58,2300116,20160623,18.14,16.49,18.14,18.14,18.14,1022605.0,1.855005e+07
114,2000908,20160623,11.97,11.88,11.97,11.45,11.45,6637568.0,7.702367e+07
114,2000851,20160623,12.18,12.17,12.48,12.07,12.18,25967118.0,3.192638e+08

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
77,2000417,20160623,7.84,7.96,7.87,7.71,7.74,5297699,41177190
109,2000531,20160623,12.50,12.63,12.63,12.05,12.25,11976438,147182925
136,2000570,20160623,8.71,8.77,8.79,8.55,8.63,8026895,69446956
177,2000637,20160623,6.41,6.54,6.43,6.26,6.33,7909533,50243076
196,2000677,20160623,5.07,0.00,5.45,5.02,5.22,34380503,177950333
206,2000688,20160623,7.50,0.00,7.84,7.39,7.40,19723905,149783225
232,2000726,20160623,10.91,11.45,10.98,10.79,10.81,5525788,59971339
286,2000819,20160623,26.03,27.22,26.18,25.72,25.95,2375017,61614758
304,2000851,20160623,12.18,12.19,12.48,12.07,12.18,25967118,319263762
339,2000908,20160623,11.97,13.17,11.97,11.45,11.45,6637568,77023671
375,2000966,20160623,6.85,13.96,6.85,6.60,6.61,20761354,138811377
450,2002049,20160623,43.06,43.79,43.66,42.31,42.50,17306407,742068884
842,2002491,20160623,16.20,0.00,16.20,16.20,16.20,585175,9479835
887,2002540,20160623,8.06,0.00,8.06,8.06,8.06,6459715,52065302
922,2002579,20160623,15.40,15.61,15.53,14.94,15.10,23023232,349419617
1116,2300003,20160623,18.10,36.30,18.28,17.46,17.51,5906365,104701986
1157,2300049,20160623,22.40,22.12,22.48,21.51,21.99,6249894,137794293
1202,2300098,20160623,16.45,15.86,16.78,15.60,15.60,71364122,1166203818
1218,2300116,20160623,18.14,0.00,18.14,18.14,18.14,1022605,18550054
1322,2300238,20160623,41.31,0.00,44.19,41.31,41.83,5784638,244886039
1384,2300311,20160623,20.71,30.97,22.46,20.31,21.77,15421343,325316284

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:03.340889
no massive missing

array([], dtype=int32)

0:01:50.921115

20160623

SZ finished
0:00:38.582951
0:01:50.021710
0:02:01.965472
1
2
3
4
0:04:14.447190

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:325: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
115,2000727,20160624,3.40,3.39,3.44,3.13,3.28,83628242.0,2.762489e+08
115,2300477,20160624,23.90,23.86,24.49,22.01,23.07,11311536.0,2.678752e+08
112,2000716,20160624,6.88,6.91,6.95,6.36,6.67,15882402.0,1.065907e+08
115,2002270,20160624,15.36,15.32,15.51,14.46,15.07,5781201.0,8.706696e+07
115,2000026,20160624,10.83,10.86,10.94,10.41,10.77,4926389.0,5.316090e+07
50,2000509,20160624,5.35,5.66,5.66,5.21,5.44,42880876.0,2.326784e+08
114,2002460,20160624,33.40,33.36,33.99,30.80,32.20,47729606.0,1.565467e+09
115,2001979,20160624,14.28,14.22,14.37,13.68,13.96,36596111.0,5.142313e+08
115,2002295,20160624,15.20,15.22,15.25,14.52,14.81,3522634.0,5.240652e+07
115,2002146,20160624,6.86,6.83,6.86,6.50,6.70,20406033.0,1.365470e+08
115,2002096,20160624,14.68,14.71,14.76,13.78,14.35,3635060.0,5.221406e+07
108,2000750,20160624,7.39,7.12,7.46,7.01,7.30,107346327.0,7.845240e+08
115,2002396,20160624,19.60,19.69,19.74,18.35,19.05,21194328.0,4.058007e+08
115,2002477,20160624,6.20,6.23,6.30,5.65,5.92,128337101.0,7.681625e+08
115,2000701,20160624,17.00,17.18,17.22,16.01,16.65,17521421.0,2.931091e+08
0,2300518,20160624,26.66,22.22,32.00,26.66,32.00,12598.0,3.999320e+05
69,2000065,20160624,32.20,32.04,33.02,30.30,32.59,4842449.0,1.533542e+08
0,2300519,20160624,15.34,12.20,17.57,15.34,17.57,5301.0,9.272634e+04
115,2300179,20160624,7.51,7.62,7.64,7.23,7.43,9227399.0,6.904197e+07
115,2000400,20160624,15.33,15.35,15.55,14.67,15.03,15695225.0,2.371133e+08
115,2002350,20160624,18.70,18.83,19.98,18.33,19.38,7852967.0,1.511766e+08
46,2002326,20160624,20.55,20.98,22.01,19.50,21.29,87982819.0,1.840225e+09
115,2300076,20160624,10.85,10.88,10.99,10.00,10.49,21221091.0,2.239788e+08
115,2002642,20160624,24.60,24.93,25.46,23.51,24.69,12795645.0,3.157345e+08
101,2002430,20160624,8.70,8.69,9.16,8.37,8.91,16938072.0,1.487066e+08
115,2000906,20160624,11.40,11.40,11.49,10.91,11.17,3915402.0,4.378857e+07
115,2002736,20160624,17.14,17.14,17.23,16.00,16.66,40333085.0,6.765944e+08
115,2300350,20160624,36.99,36.76,37.42,34.25,36.75,9266391.0,3.351235e+08
115,2300097,20160624,55.00,55.24,56.65,51.81,55.55,6174173.0,3.401843e+08
115,2000096,20160624,11.89,11.87,11.96,11.50,11.79,3795616.0,4.465054e+07
99,2002721,20160624,18.47,18.35,19.79,18.35,19.28,21828983.0,4.146480e+08
109,2000046,20160624,9.50,9.41,9.50,9.20,9.45,6289864.0,5.889563e+07
51,2300019,20160624,12.93,11.75,12.93,12.93,12.93,1626024.0,2.102449e+07
115,2300303,20160624,8.50,7.73,8.50,8.16,8.50,51955549.0,4.410292e+08
105,2300191,20160624,31.23,28.39,31.23,31.23,31.23,1728116.0,5.396906e+07
115,2002204,20160624,4.21,4.10,4.21,3.81,3.95,25737909.0,1.036793e+08
115,2002462,20160624,35.39,35.20,35.43,33.80,34.61,2168236.0,7.547406e+07

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
17,2000026,20160624,10.83,10.96,10.94,10.41,10.77,4926389,53160902
33,2000046,20160624,9.50,9.56,9.50,9.20,9.45,6289864,58895625
45,2000065,20160624,32.20,32.12,33.02,30.30,32.59,4842449,153354190
54,2000096,20160624,11.89,11.89,11.96,11.50,11.79,3795616,44650535
67,2000400,20160624,15.33,15.45,15.55,14.67,15.03,15695225,237113297
94,2000509,20160624,5.35,0.00,5.66,5.21,5.44,42880876,232678400
214,2000701,20160624,17.00,17.23,17.22,16.01,16.65,17521421,293109118
225,2000716,20160624,6.88,13.92,6.95,6.36,6.67,15882402,106590722
233,2000727,20160624,3.40,6.78,3.44,3.13,3.28,83628242,276248858
244,2000750,20160624,7.39,0.00,7.46,7.01,7.30,107346327,784524018
339,2000906,20160624,11.40,11.46,11.49,10.91,11.17,3915402,43788572
403,2001979,20160624,14.28,14.48,14.37,13.68,13.96,36596111,514231262
490,2002096,20160624,14.68,14.75,14.76,13.78,14.35,3635060,52214059
535,2002146,20160624,6.86,7.08,6.86,6.50,6.70,20406033,136546983
589,2002204,20160624,4.21,8.21,4.21,3.81,3.95,25737909,103679307
649,2002270,20160624,15.36,15.40,15.51,14.46,15.07,5781201,87066963
667,2002295,20160624,15.20,15.22,15.25,14.52,14.74,2343842,34881883
692,2002326,20160624,20.55,21.04,22.01,19.50,21.29,87982819,1840224786
713,2002350,20160624,18.70,18.88,19.98,18.33,19.38,7852967,151176613
753,2002396,20160624,19.60,19.79,19.74,18.35,19.05,21194328,405800715
787,2002430,20160624,8.70,8.72,9.16,8.37,8.91,16938072,148706555
813,2002460,20160624,33.40,66.86,33.99,30.80,32.20,47729606,1565467463
815,2002462,20160624,35.39,35.45,35.43,33.80,34.61,2168236,75474062
828,2002477,20160624,6.20,18.81,6.30,5.65,5.92,128337101,768162548
976,2002642,20160624,24.60,37.45,25.46,23.51,24.69,12795645,315734471
1043,2002721,20160624,18.47,18.39,19.79,18.35,19.28,21828983,414648046
1057,2002736,20160624,17.14,17.74,17.23,16.00,16.66,40333085,676594431
1132,2300019,20160624,12.93,0.00,12.93,12.93,12.93,1626024,21024490
1182,2300076,20160624,10.85,21.75,10.99,10.00,10.49,21221091,223978809
1202,2300097,20160624,55.00,55.25,56.65,51.81,55.55,6174173,340184295
1274,2300179,20160624,7.51,7.67,7.64,7.23,7.43,9227399,69041971
1283,2300191,20160624,31.23,0.00,31.23,31.23,31.23,1728116,53969062
1379,2300303,20160624,8.50,7.78,8.50,8.16,8.50,51955549,441029151
1420,2300350,20160624,36.99,36.81,37.42,34.25,36.75,9266391,335123508
1523,2300477,20160624,23.90,60.05,24.49,22.01,23.07,11311536,267875157
1560,2300518,20160624,26.66,0.00,32.00,26.66,32.00,12598,399932
1561,2300519,20160624,15.34,0.00,17.57,15.34,17.57,5301,92726

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:03.870617
no massive missing

array([2300518, 2300519], dtype=int32)

0:02:00.597617

20160624

SZ finished
0:00:40.807624
0:01:43.844025
0:01:55.393389
1
2
3
4
0:04:13.244537

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:325: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
107,2002723,20160627,24.99,25.43,25.86,24.71,25.38,9305828.0,2.366586e+08
116,2002657,20160627,51.49,52.21,54.88,51.01,54.42,18417111.0,9.850880e+08
111,2002309,20160627,16.98,17.08,18.24,16.91,17.88,17349303.0,3.083320e+08
52,2000997,20160627,19.53,19.81,20.50,19.46,20.25,37582119.0,7.544318e+08
116,2002170,20160627,8.03,8.10,8.27,8.01,8.26,13889543.0,1.135912e+08
116,2000572,20160627,5.10,5.10,5.19,5.07,5.18,16482359.0,8.501618e+07
116,2000998,20160627,18.67,18.73,19.30,18.60,19.25,7811281.0,1.482836e+08
111,2300274,20160627,24.00,24.54,25.14,23.87,24.99,20989901.0,5.167452e+08
116,2002139,20160627,14.40,14.46,14.80,14.25,14.75,20365731.0,2.970263e+08
35,2000612,20160627,5.99,5.94,6.53,5.85,6.53,50071242.0,3.097622e+08
116,2300112,20160627,16.20,16.60,17.15,16.06,16.94,16968561.0,2.823556e+08
116,2000596,20160627,46.80,46.98,49.40,46.80,48.79,4177547.0,2.031813e+08
116,2002208,20160627,16.90,17.16,17.64,16.90,17.52,8975929.0,1.559655e+08
114,2002482,20160627,7.48,7.56,7.61,7.40,7.58,9994962.0,7.529676e+07
106,2000877,20160627,6.12,6.13,6.26,6.06,6.22,19661281.0,1.201967e+08
116,2000061,20160627,12.01,12.02,12.19,12.00,12.18,6362008.0,7.722550e+07
3,2300462,20160627,38.02,42.24,40.50,38.02,38.76,14203571.0,5.466960e+08
18,2002573,20160627,16.62,16.62,16.74,16.50,16.72,12730776.0,2.119100e+08
103,2300168,20160627,24.80,25.85,25.68,24.22,25.55,61165399.0,1.533613e+09
55,2300426,20160627,58.58,64.90,59.80,58.41,58.41,1826776.0,1.068677e+08
76,2300089,20160627,10.61,10.80,11.27,10.61,11.19,15181630.0,1.673979e+08

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
42,2000061,20160627,12.01,12.07,12.19,12.00,12.18,6362008,77225499
137,2000572,20160627,5.10,5.15,5.19,5.07,5.18,16482359,85016182
151,2000596,20160627,46.80,47.08,49.40,46.80,48.79,4177547,203181340
163,2000612,20160627,5.99,0.00,6.53,5.85,6.53,50071242,309762189
318,2000877,20160627,6.12,0.00,6.26,6.06,6.22,19661281,120196745
399,2000997,20160627,19.53,19.89,20.50,19.46,20.25,37582119,754431813
400,2000998,20160627,18.67,18.93,19.30,18.60,19.25,7811281,148283632
529,2002139,20160627,14.40,21.84,14.80,14.25,14.75,20365731,297026329
559,2002170,20160627,8.03,8.21,8.27,8.01,8.26,13889543,113591246
593,2002208,20160627,16.90,17.21,17.64,16.90,17.52,8975929,155965467
680,2002309,20160627,16.98,17.18,18.24,16.91,17.88,17349303,308332038
834,2002482,20160627,7.48,19.01,7.61,7.40,7.58,9994962,75296756
918,2002573,20160627,16.62,16.72,16.74,16.50,16.72,12730776,211909955
989,2002657,20160627,51.49,52.25,54.88,51.01,54.42,18417111,985087957
1045,2002723,20160627,24.99,25.48,25.86,24.71,25.38,9305828,236658580
1193,2300089,20160627,10.61,10.80,11.06,10.61,11.02,8058341,87932203
1214,2300112,20160627,16.20,16.63,17.15,16.06,16.94,16968561,282355617
1265,2300168,20160627,24.80,0.00,25.68,24.22,25.55,61165399,1533612555
1356,2300274,20160627,24.00,0.00,25.14,23.87,24.99,20989901,516745210
1484,2300426,20160627,58.58,0.00,59.80,58.41,58.41,1826776,106867712
1512,2300462,20160627,38.02,0.00,40.50,38.02,38.76,14203571,546696016

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:03.434184
no massive missing

array([], dtype=int32)

0:01:57.526490

20160627

SZ finished
0:00:43.726655
0:01:46.354674
0:02:04.402755
1
2
3
4
2300079
[8.55  8.544]
             date          time       close       Volume          Turover  \
1932562  20160628  141550000000  11499.8358  14161868866  432159088343837
1932563  20160628  141551000000  11499.8358            0                0
1932564  20160628  141551000000  11499.8358            0                0
1932565  20160628  141555000000  11499.8358            0                0
1932566  20160628  141556000000  11499.8358            0                0
1932567  20160628  142117000000  11499.8358            0                0
1932568  20160628  142120000000  11499.8358            0                0
1932569  20160628  143241000000  11499.8358            0                0
1932570  20160628  143241000000  11499.8358            0                0
1932571  20160628  143248000000  11499.8368      4387297                0
1932572  20160628  143250000000  11499.7668          960        668017764
1932573  20160628  144611000000  11499.7668            0                0
1932574  20160628  144612000000  11499.7668            0                0
1932575  20160628  144922000000  11499.7668            0                0
1932576  20160628  150043000000  11499.7668            0                0

         cum_trades_cnt  Interest  TradeFlag BSFlag   cum_volume  \
1932562         7306672         0          0      B  14192320191
1932563         7306672         0          0      0  14192320191
1932564         7306672         0          0      0  14192320191
1932565         7306672         0          0      0  14192320191
1932566         7306672         0          0      0  14192320191
1932567         7306672         0          0      0  14192320191
1932568         7306672         0          0      0  14192320191
1932569         7306672         0          0      0  14192320191
1932570         7306672         0          0      0  14192320191
1932571         7314496         0        106      0  14196707488
1932572         7314496         0         64      0  14196708448
1932573         7314496         0         64      0  14196708448
1932574         7314496         0         64      0  14196708448
1932575         7314496         0         64      0  14196708448
1932576         7314496         0         64      0  14196708448

              cum_amount     high      low   open  prev_close  AveAskPrice  \
1932562  432159348492044  601.405  12.7451  8.544        8.59  -2100200338
1932563  432159348492044  601.405  12.7451  8.544        8.59  -2100200338
1932564  432159348492044  601.405  12.7451  8.544        8.59  -2100200338
1932565  432159348492044  601.405  12.7451  8.544        8.59  -2100200338
1932566  432159348492044  601.405  12.7451  8.544        8.59  -2100200338
1932567  432159348492044  601.405  12.7451  8.544        8.59  -2100200338
1932568  432159348492044  601.405  12.7451  8.544        8.59  -2100200338
1932569  432159348492044  601.405  12.7451  8.544        8.59  -2100200338
1932570  432159348492044  601.405  12.7451  8.544        8.59  -2100117638
1932571  432159348492044  601.405  12.7451  8.544        8.59  -2100117638
1932572  432160016509808  601.405  12.7451  8.544        8.59  -2100089738
1932573  432160016509808  601.405  12.7451  8.544        8.59  -2100089738
1932574  432160016509808  601.405  12.7451  8.544        8.59  -2100089738
1932575  432160016509808  601.405  12.7451  8.544        8.59  -2100089738
1932576  432160016509808  601.405  12.7451  8.544        8.59  -2100089738

         AveBidPrice  AccAskVolume  AccBidVolume     skey    clockAtArrival  \
1932562       297784  100856746857    1484472620  2300079  1467094550000000
1932563       297784  100856746857    1484472620  2300079  1467094551000000
1932564       297784  100856746857    1484472620  2300079  1467094551000000
1932565       299784  100856746857    1484466020  2300079  1467094555000000
1932566       299784  100856746857    1484466020  2300079  1467094556000000
1932567       299784  100856746857    1484466020  2300079  1467094877000000
1932568       299784  100856746857    1484466020  2300079  1467094880000000
1932569       299784  100856746857    1484466020  2300079  1467095561000000
1932570       299784  100856690157    1484466020  2300079  1467095561000000
1932571       299784  100856690157    1484466020  2300079  1467095568000000
1932572       299784  100856692657    1484466020  2300079  1467095570000000
1932573       299784  100856692657    1484466020  2300079  1467096371000000
1932574       299784  100856692657    1484466020  2300079  1467096372000000
1932575       299784  100856692657    1484466020  2300079  1467096562000000
1932576       299784  100856692657    1484466020  2300079  1467097243000000

                   datetime      bid1p      bid2p      bid3p      bid4p  \
1932562 2016-06-28 14:15:50  7285.2024  7285.2023  7285.2022  7285.2021
1932563 2016-06-28 14:15:51  7285.2024  7285.2023  7285.2022  7285.2021
1932564 2016-06-28 14:15:51  7285.2024  7285.2023  7285.2022  7285.2021
1932565 2016-06-28 14:15:55  7285.2024  7285.2023  7285.2022  7285.2021
1932566 2016-06-28 14:15:56  7285.2024  7285.2024  7285.2023  7285.2022
1932567 2016-06-28 14:21:17  7285.2024  7285.2024  7285.2023  7285.2022
1932568 2016-06-28 14:21:20  7285.2024  7285.2024  7285.2023  7285.2022
1932569 2016-06-28 14:32:41  7285.2024  7285.2024  7285.2023  7285.2022
1932570 2016-06-28 14:32:41  7285.2024  7285.2024  7285.2023  7285.2022
1932571 2016-06-28 14:32:48  7285.2024  7285.2024  7285.2023  7285.2022
1932572 2016-06-28 14:32:50  7285.2024  7285.2024  7285.2023  7285.2022
1932573 2016-06-28 14:46:11  7285.2024  7285.2024  7285.2023  7285.2022
1932574 2016-06-28 14:46:12  7285.2024  7285.2024  7285.2023  7285.2022
1932575 2016-06-28 14:49:22  7285.2024  7285.2024  7285.2023  7285.2022
1932576 2016-06-28 15:00:43  7285.2024  7285.2024  7285.2023  7285.2022

             bid5p      bid6p      bid7p      bid8p      bid9p     bid10p  \
1932562  7285.2020  7285.2019  7285.2018  7285.2017  7285.2016  7285.2015
1932563  7285.2020  7285.2019  7285.2018  7285.2017  7285.2016  7285.2015
1932564  7285.2020  7285.2019  7285.2018  7285.2017  7285.2016  7285.2015
1932565  7285.2020  7285.2019  7285.2018  7285.2017  7285.2016  7285.2015
1932566  7285.2021  7285.2020  7285.2019  7285.2018  7285.2017  7285.2016
1932567  7285.2021  7285.2020  7285.2019  7285.2018  7285.2017  7285.2016
1932568  7285.2021  7285.2020  7285.2019  7285.2018  7285.2017  7285.2016
1932569  7285.2021  7285.2020  7285.2019  7285.2018  7285.2017  7285.2016
1932570  7285.2021  7285.2020  7285.2019  7285.2018  7285.2017  7285.2016
1932571  7285.2021  7285.2020  7285.2019  7285.2018  7285.2017  7285.2016
1932572  7285.2021  7285.2020  7285.2019  7285.2018  7285.2017  7285.2016
1932573  7285.2021  7285.2020  7285.2019  7285.2018  7285.2017  7285.2016
1932574  7285.2021  7285.2020  7285.2019  7285.2018  7285.2017  7285.2016
1932575  7285.2021  7285.2020  7285.2019  7285.2018  7285.2017  7285.2016
1932576  7285.2021  7285.2020  7285.2019  7285.2018  7285.2017  7285.2016

             ask1p      ask2p      ask3p      ask4p      ask5p      ask6p  \
1932562  7286.0670  7286.0671  7286.0672  7286.0673  7286.0674  7286.0675
1932563  7286.0670  7286.0671  7286.0672  7286.0673  7286.0674  7286.0675
1932564  7286.0670  7286.0671  7286.0672  7286.0673  7286.0674  7286.0675
1932565  7286.0671  7286.0672  7286.0673  7286.0674  7286.0675  7286.0676
1932566  7286.0471  7286.0671  7286.0672  7286.0673  7286.0674  7286.0675
1932567  7286.0471  7286.0671  7286.0672  7286.0673  7286.0674  7286.0675
1932568  7286.0471  7286.0671  7286.0672  7286.0673  7286.0674  7286.0675
1932569  7286.0471  7286.0671  7286.0672  7286.0673  7286.0674  7286.0675
1932570  7286.0471  7286.0671  7286.0672  7286.0673  7286.0674  7286.0675
1932571  7286.0471  7286.0671  7286.0672  7286.0673  7286.0674  7286.0675
1932572  7286.0471  7286.0671  7286.0672  7286.0673  7286.0674  7286.0675
1932573  7286.0471  7286.0671  7286.0672  7286.0673  7286.0674  7286.0675
1932574  7286.0471  7286.0671  7286.0672  7286.0673  7286.0674  7286.0675
1932575  7286.0471  7286.0671  7286.0672  7286.0673  7286.0674  7286.0675
1932576  7286.0471  7286.0671  7286.0672  7286.0673  7286.0674  7286.0675

             ask7p      ask8p      ask9p     ask10p   bid1q   bid2q  bid3q  \
1932562  7286.0676  7286.0677  7286.0678  7286.0679  253617    9513 -42795
1932563  7286.0676  7286.0677  7286.0678  7286.0679  253617    9513 -42795
1932564  7286.0676  7286.0677  7286.0678  7286.0679  253617    9513 -42795
1932565  7286.0677  7286.0678  7286.0679     0.0000  253617    9513 -42795
1932566  7286.0676  7286.0677  7286.0678  7286.0679  253617  253617   9706
1932567  7286.0676  7286.0677  7286.0678  7286.0679  253617  253617   9706
1932568  7286.0676  7286.0677  7286.0678  7286.0679  253617  253617   9706
1932569  7286.0676  7286.0677  7286.0678  7286.0679  253617  253617   9706
1932570  7286.0676  7286.0677  7286.0678  7286.0679  250617  253117   9706
1932571  7286.0676  7286.0677  7286.0678  7286.0679  250617  253117   9706
1932572  7286.0676  7286.0677  7286.0678  7286.0679  250617  253361   9706
1932573  7286.0676  7286.0677  7286.0678  7286.0679  250617  253361   9706
1932574  7286.0676  7286.0677  7286.0678  7286.0679  250617  253361   9706
1932575  7286.0676  7286.0677  7286.0678  7286.0679  250617  253361   9706
1932576  7286.0676  7286.0677  7286.0678  7286.0679  250617  253361   9706

              bid4q      bid5q  bid6q  bid7q   bid8q   bid9q      bid10q  \
1932562   592762570     -21375  36798  49296  154019  191495  1794583236
1932563   592762570     -21375  36798  49296  154019  191495  1794583236
1932564   592762570     -21375  36798  49296  154019  191495  1794583236
1932565   592762570     -21375  36798  49296  154019  191495  1794583236
1932566      -42395  592762570 -55975  36798   49296  154019      191495
1932567      -42395  592762570 -55975  36798   49296  154019      191495
1932568      -42395  592762570 -55975  36798   49296  154019      191495
1932569      -42395  592762570 -55975  36798   49296  154019      191495
1932570 -2092434353  592762570 -55975  36798   49296  154019      191495
1932571 -2092434353  592762570 -55975  36798   49296  154019      191495
1932572 -2092434353  592762574 -55975  36799   49311  156739      191495
1932573 -2092434353  592762574 -55975  36799   49311  156739      191495
1932574 -2092434353  592762574 -55975  36799   49311  156739      191495
1932575 -2092434353  592762574 -55975  36799   49311  156739      191495
1932576 -2092434353  592762574 -55975  36799   49311  156739      191495

         ask1q   ask2q   ask3q  ask4q   ask5q   ask6q   ask7q   ask8q   ask9q  \
1932562  45027   45027  137839  66305  -25080  211700  105100   99694  320600
1932563  45027   45027  137839  66305  -25080  211700  105100   99694  320600
1932564  45027   45027  137839  66305  -25080  211700  105100   99694  320600
1932565  55027  137339   66305 -25080  211700  102100   99694  320607  151020
1932566  55027   55027  137339  66305  -25380  211700  102100   99694  320607
1932567  55027   55027  137339  66305  -25380  211700  102100   99694  320607
1932568  55027   55027  137339  66305  -25380  211700  102100   99694  320607
1932569  55027   55027  137339  66305  -25380  211700  102100   99694  320607
1932570  55027   55027  137339  66305  -25380  211700  102100   99694  320607
1932571  55027   55027  137339  66305  -25380  211700  102100   99694  320607
1932572  54527   55027  137339  66305  -25380  204800   85716   96694  320607
1932573  54527   55027  137339  66305  -25380  204800   85716   96694  320607
1932574  54527   55027  137339  66305  -25380  204800   85716   96694  320607
1932575  54527   55027  137339  66305  -25380  204800   85716   96694  320607
1932576  54527   55027  137339  66305  -25380  204800   85716   96694  320607

         ask10q  ordering  has_missing
1932562  151020      6891            0
1932563  151020      6892            0
1932564  151020      6893            0
1932565  151030      6894            0
1932566  151020      6895            0
1932567  151020      6896            0
1932568  151020      6897            0
1932569  151020      6898            0
1932570  151020      6899            0
1932571  151020      6900            0
1932572  151020      6901            0
1932573  151020      6902            0
1932574  151020      6903            0
1932575  151020      6904            0
1932576  151020      6905            0

0:03:58.518565

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:325: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
95,2002346,20160628,19.20,19.00,19.26,18.75,19.04,3170284.0,6.020816e+07
117,2000543,20160628,7.15,7.11,7.23,7.08,7.13,33771942.0,2.410025e+08
97,2000625,20160628,13.53,13.54,13.53,13.37,13.47,28492307.0,3.828975e+08
100,2000826,20160628,30.05,30.15,30.45,29.88,30.40,5043957.0,1.523256e+08
110,2000797,20160628,14.45,14.08,14.98,14.40,14.64,15100833.0,2.220145e+08
117,2000027,20160628,6.41,6.34,6.42,6.33,6.37,11501653.0,7.309505e+07
117,2300016,20160628,22.00,21.97,23.30,21.96,22.50,21266932.0,4.844546e+08
117,2000725,20160628,2.29,2.29,2.31,2.28,2.31,178957932.0,4.102620e+08
15,2300428,20160628,50.46,45.87,50.46,50.46,50.46,75037.0,3.786367e+06
68,2300221,20160628,16.87,15.34,16.87,16.87,16.87,1118940.0,1.887652e+07
97,2002554,20160628,6.78,6.77,6.86,6.63,6.78,13622783.0,9.261692e+07
117,2002760,20160628,37.00,37.48,37.54,36.72,37.31,2531142.0,9.386900e+07
117,2000823,20160628,10.11,10.17,10.17,9.90,10.11,29845292.0,2.991880e+08
96,2300152,20160628,8.21,7.55,8.21,7.60,7.90,79799921.0,6.214417e+08
117,2002276,20160628,19.65,19.73,20.08,19.54,19.90,32934480.0,6.536088e+08
47,2300508,20160628,244.00,242.74,252.58,237.86,243.13,2987866.0,7.292542e+08
112,2002552,20160628,14.35,14.54,14.86,14.10,14.64,10646691.0,1.538327e+08
117,2000539,20160628,5.04,5.04,5.05,4.96,5.03,9840597.0,4.921598e+07
117,2002498,20160628,4.26,4.26,4.52,4.23,4.38,28191118.0,1.236699e+08
117,2000030,20160628,7.04,7.03,7.08,6.96,7.08,6729596.0,4.729234e+07
85,2300468,20160628,82.51,82.85,84.11,79.70,81.37,3855667.0,3.122328e+08
117,2002440,20160628,14.41,14.37,14.82,14.31,14.69,13453814.0,1.957700e+08
117,2300079,20160628,8.55,8.59,8.66,8.47,8.62,54695228.0,4.686744e+08
80,2000876,20160628,8.42,8.55,8.49,8.27,8.38,40832332.0,3.409391e+08
117,2300137,20160628,15.00,15.05,15.36,14.67,15.22,12205003.0,1.830294e+08
59,2002439,20160628,23.97,23.97,26.37,23.82,26.37,34497130.0,8.809185e+08

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
18,2000027,20160628,6.41,6.54,6.420,6.3300,6.3700,11501653,73095046
21,2000030,20160628,7.04,7.18,7.080,6.9600,7.0800,6729596,47292338
115,2000539,20160628,5.04,5.27,5.050,4.9600,5.0300,9840597,49215981
118,2000543,20160628,7.15,7.41,7.230,7.0800,7.1300,33771942,241002520
170,2000625,20160628,13.53,14.18,13.530,13.3700,13.4700,28492307,382897501
232,2000725,20160628,2.29,2.30,2.310,2.2800,2.3100,178957932,410261975
275,2000797,20160628,14.45,0.00,14.980,14.4000,14.6400,15100833,222014487
292,2000823,20160628,10.11,10.19,10.170,9.9000,10.1100,29845292,299188046
294,2000826,20160628,30.05,30.30,30.450,29.8800,30.4000,5043957,152325597
318,2000876,20160628,8.42,17.64,8.490,8.2700,8.3800,40832332,340939144
654,2002276,20160628,19.65,19.83,20.080,19.5400,19.9000,32934480,653608774
712,2002346,20160628,19.20,19.10,19.260,18.7500,19.0400,3170284,60208159
796,2002439,20160628,23.97,23.99,26.370,23.8200,26.3700,34497130,880918507
797,2002440,20160628,14.41,14.77,14.820,14.3100,14.6900,13453814,195769977
849,2002498,20160628,4.26,4.29,4.520,4.2300,4.3800,28191118,123669909
900,2002552,20160628,14.35,14.55,14.860,14.1000,14.6400,10646691,153832713
902,2002554,20160628,6.78,13.74,6.860,6.6300,6.7800,13622783,92616915
1078,2002760,20160628,37.00,37.60,37.540,36.7200,37.3100,2531142,93869000
1128,2300016,20160628,22.00,21.99,23.300,21.9600,22.5000,21266932,484454563
1182,2300079,20160628,8.55,8.59,601.405,12.7451,11499.7668,14196708448,432160016509808
1236,2300137,20160628,15.00,15.10,15.360,14.6700,15.2200,12205003,183029420
1250,2300152,20160628,8.21,0.00,8.210,7.6000,7.9000,79799921,621441653
1311,2300221,20160628,16.87,0.00,16.870,16.8700,16.8700,1118940,18876517
1485,2300428,20160628,50.46,0.00,50.460,50.4600,50.4600,75037,3786367
1517,2300468,20160628,82.51,83.00,84.110,79.7000,81.3700,3855667,312232819
1554,2300508,20160628,244.00,242.90,252.580,237.8600,243.1300,2987866,729254223

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:03.238393
no massive missing

array([], dtype=int32)

has missing!!!!!!!!!!!!!!!!!!!!!!!
1
0:01:55.444911

20160628

SZ finished
0:00:48.440808
0:01:45.788763
0:01:56.546878
1
2
3
4
0:04:14.620555

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:325: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
118,2300399,20160629,45.88,44.01,46.80,43.08,43.50,7811227.0,3.482269e+08
10,2002112,20160629,23.01,22.90,24.66,22.50,23.30,31714228.0,7.480074e+08
0,2002802,20160629,11.42,9.52,13.71,11.42,13.71,18422.0,2.517066e+05
75,2000748,20160629,19.39,18.60,20.27,19.13,19.67,87246728.0,1.720607e+09
112,2000686,20160629,13.04,12.99,13.21,12.83,12.88,67916186.0,8.830722e+08
118,2002160,20160629,8.83,8.88,8.91,8.72,8.76,7548674.0,6.641118e+07
86,2300280,20160629,27.70,27.39,29.45,27.33,28.95,2762819.0,7.831160e+07
118,2000158,20160629,14.00,13.96,14.05,13.75,13.82,10162133.0,1.407539e+08
104,2300011,20160629,23.39,23.26,24.17,23.25,23.72,11642570.0,2.758645e+08
118,2002290,20160629,25.70,25.56,25.79,25.21,25.30,3354231.0,8.507845e+07
118,2002783,20160629,96.05,95.53,97.70,93.09,96.69,3322362.0,3.179087e+08
118,2000821,20160629,16.20,15.77,17.35,16.20,17.35,21471919.0,3.713091e+08
118,2300171,20160629,19.00,18.98,19.20,18.73,19.08,13804602.0,2.614219e+08
118,2002025,20160629,24.77,24.73,25.08,24.34,24.57,13768459.0,3.389614e+08
98,2002047,20160629,10.10,10.09,10.20,9.97,10.01,12526299.0,1.260234e+08
118,2002022,20160629,21.70,21.61,21.72,21.23,21.34,12522348.0,2.685819e+08
108,2002606,20160629,19.87,19.68,19.89,19.59,19.67,4478002.0,8.835582e+07
118,2002780,20160629,83.52,84.20,85.40,81.50,84.25,2379948.0,1.982496e+08

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
61,2000158,20160629,14.00,14.00,14.05,13.75,13.82,10162133,140753883
204,2000686,20160629,13.04,13.19,13.21,12.83,12.88,67916186,883072150
243,2000748,20160629,19.39,18.65,20.27,19.13,19.67,87246728,1720607483
289,2000821,20160629,16.20,15.78,17.35,16.20,17.35,21471919,371309075
424,2002022,20160629,21.70,21.73,21.72,21.23,21.34,12522348,268581926
427,2002025,20160629,24.77,24.91,25.08,24.34,24.57,13768459,338961385
448,2002047,20160629,10.10,10.16,10.20,9.97,10.01,12526299,126023374
505,2002112,20160629,23.01,22.91,24.66,22.50,23.30,31714228,748007382
549,2002160,20160629,8.83,8.90,8.91,8.72,8.76,7548674,66411184
663,2002290,20160629,25.70,25.66,25.79,25.21,25.30,3354231,85078447
946,2002606,20160629,19.87,19.75,19.89,19.59,19.67,4478002,88355818
1091,2002780,20160629,83.52,84.30,85.40,81.50,84.25,2379948,198249625
1094,2002783,20160629,96.05,96.03,97.70,93.09,96.69,3322362,317908682
1111,2002802,20160629,11.42,0.00,13.71,11.42,13.71,18422,251706
1121,2300011,20160629,23.39,23.32,24.17,23.25,23.72,11642570,275864455
1265,2300171,20160629,19.00,19.28,19.20,18.73,19.08,13804602,261421885
1360,2300280,20160629,27.70,27.41,29.45,27.33,28.95,2762819,78311602
1458,2300399,20160629,45.88,44.05,46.80,43.08,43.50,7811227,348226892

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:03.075082
no massive missing

array([2002802], dtype=int32)

0:01:48.113250

20160629

SZ finished
0:00:44.993966
0:01:48.019291
0:01:36.796059
1
2
3
4
0:03:39.387786

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:325: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
115,2002468,20160630,27.80,27.91,29.50,27.67,28.62,16488582.0,4.722276e+08
119,2002411,20160630,17.73,17.73,17.98,17.56,17.85,11325397.0,2.008837e+08
116,2002438,20160630,21.91,21.86,22.06,21.66,21.89,5328130.0,1.164577e+08
110,2002384,20160630,20.00,20.02,20.50,19.45,19.86,7908279.0,1.572645e+08
119,2000733,20160630,22.26,22.27,22.77,21.81,22.50,16186860.0,3.590065e+08
119,2002004,20160630,8.95,8.91,9.14,8.87,9.13,25801695.0,2.318719e+08
33,2300226,20160630,50.40,45.82,50.40,50.40,50.40,880489.0,4.437665e+07
55,2300465,20160630,74.00,68.31,75.14,72.01,75.14,6996373.0,5.208638e+08
112,2300008,20160630,34.98,33.90,35.00,31.88,33.30,6354411.0,2.112722e+08
48,2002759,20160630,15.86,14.42,15.86,15.86,15.86,125550.0,1.991223e+06
93,2002638,20160630,21.47,19.52,21.47,21.47,21.47,2224368.0,4.775718e+07
119,2300276,20160630,21.19,21.12,21.36,20.61,21.06,9830048.0,2.057426e+08
119,2002711,20160630,15.28,15.19,15.31,14.65,14.90,15880826.0,2.362916e+08
93,2000676,20160630,20.11,18.28,20.11,20.11,20.11,741600.0,1.491358e+07
0,2002164,20160630,11.39,10.35,11.39,10.08,11.39,67842328.0,7.541792e+08
119,2002441,20160630,16.34,16.25,16.36,16.06,16.19,7361888.0,1.190649e+08
72,2002031,20160630,4.66,4.70,4.71,4.48,4.52,88112817.0,4.016852e+08
108,2000599,20160630,6.78,6.77,6.89,6.69,6.88,12699735.0,8.667192e+07
66,2002383,20160630,37.44,35.30,37.44,35.60,35.83,9925572.0,3.612928e+08
119,2002027,20160630,17.17,17.07,17.20,16.25,16.51,23682233.0,3.922255e+08

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
153,2000599,20160630,6.78,6.78,6.89,6.69,6.88,12699735,86671918
196,2000676,20160630,20.11,0.00,20.11,20.11,20.11,741600,14913576
238,2000733,20160630,22.26,22.30,22.77,21.81,22.50,16186860,359006473
408,2002004,20160630,8.95,9.11,9.14,8.87,9.13,25801695,231871912
430,2002027,20160630,17.17,34.38,17.20,16.25,16.51,23682233,392225522
434,2002031,20160630,4.66,14.19,4.71,4.48,4.52,88112817,401685226
554,2002164,20160630,11.39,0.00,11.39,10.08,11.39,67842328,754179187
745,2002383,20160630,37.44,0.00,37.44,35.60,35.83,9925572,361292844
746,2002384,20160630,20.00,20.03,20.50,19.45,19.86,7908279,157264532
771,2002411,20160630,17.73,17.80,17.98,17.56,17.85,11325397,200883701
797,2002438,20160630,21.91,21.91,22.06,21.66,21.89,5328130,116457660
800,2002441,20160630,16.34,16.36,16.36,16.06,16.19,7361888,119064894
823,2002468,20160630,27.80,27.91,29.50,27.67,28.87,12869960,368074362
974,2002638,20160630,21.47,0.00,21.47,21.47,21.47,2224368,47757180
1037,2002711,20160630,15.28,30.43,15.31,14.65,14.90,15880826,236291629
1079,2002759,20160630,15.86,0.00,15.86,15.86,15.86,125550,1991223
1124,2300008,20160630,34.98,0.00,35.00,31.88,33.30,6354411,211272167
1318,2300226,20160630,50.40,0.00,50.40,50.40,50.40,880489,44376645
1363,2300276,20160630,21.19,21.13,21.36,20.61,21.06,9830048,205742554
1519,2300465,20160630,74.00,0.00,75.14,72.01,75.14,6996373,520863835

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:03.374058
no massive missing

array([], dtype=int32)

0:02:00.391053

20160630

SZ finished
0:00:41.818772
0:01:45.444649
0:01:52.584694
1
2
3
4
0:04:07.158740

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:325: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
117,2000404,20160701,9.50,9.54,9.59,9.37,9.52,9034286.0,8.568593e+07
120,2002556,20160701,10.05,10.01,10.05,9.70,9.80,34924409.0,3.443449e+08
120,2002456,20160701,29.50,29.43,30.20,29.25,29.25,21405530.0,6.359969e+08
117,2002320,20160701,15.28,15.54,15.61,15.05,15.05,12816952.0,1.955694e+08
120,2000089,20160701,8.44,8.44,8.48,8.34,8.42,7113468.0,5.985797e+07
120,2002757,20160701,40.77,40.50,42.20,40.68,41.15,3613318.0,1.499416e+08
116,2300246,20160701,32.20,30.31,32.50,31.57,31.82,9373725.0,2.997340e+08
120,2002779,20160701,44.50,44.10,45.54,42.82,43.25,4958474.0,2.183706e+08

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
51,2000089,20160701,8.44,8.50,8.48,8.34,8.42,7113468,59857972
69,2000404,20160701,9.50,9.62,9.59,9.37,9.52,9034286,85685925
688,2002320,20160701,15.28,15.57,15.61,15.05,15.05,12816952,195569395
812,2002456,20160701,29.50,29.50,30.20,29.25,29.25,21405530,635996891
905,2002556,20160701,10.05,15.11,10.05,9.70,9.80,34924409,344344918
1077,2002757,20160701,40.77,40.60,42.20,40.68,41.15,3613318,149941635
1095,2002779,20160701,44.50,66.27,45.54,42.82,43.25,4958474,218370579
1335,2300246,20160701,32.20,0.00,32.50,31.57,31.82,9373725,299733999

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:03.034565
no massive missing

array([], dtype=int32)

0:01:47.052710

20160701

SZ finished
0:00:43.149791
0:01:51.676562
0:01:39.519456
1
2
3
4
0:04:03.746789

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:325: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
85,2300351,20160704,33.30,33.93,33.90,31.96,32.70,14483379.0,4.745345e+08
62,2000669,20160704,16.58,16.56,16.85,16.33,16.77,8901452.0,1.482553e+08
121,2002267,20160704,10.12,10.19,10.32,10.05,10.31,9350744.0,9.537012e+07
111,2002621,20160704,21.00,22.00,22.98,20.20,22.18,8959860.0,1.912736e+08
49,2002599,20160704,35.70,36.47,36.96,35.66,36.60,2961765.0,1.081823e+08
81,2300502,20160704,133.30,146.00,144.19,133.30,141.00,5476481.0,7.518228e+08
95,2002638,20160704,8.40,8.58,8.88,8.21,8.75,34413738.0,2.946434e+08
0,2002065,20160704,22.59,25.10,22.59,22.59,22.59,8371100.0,1.891031e+08
92,2000498,20160704,6.11,5.76,6.24,5.90,6.00,21286123.0,1.282396e+08
118,2300055,20160704,17.90,17.97,18.89,17.81,18.70,21682110.0,4.040012e+08
116,2300020,20160704,17.95,18.16,19.09,17.91,18.80,39587490.0,7.373767e+08
0,2000002,20160704,21.99,24.43,21.99,21.99,21.99,4266300.0,9.381594e+07
97,2002313,20160704,14.95,13.59,14.95,14.95,14.95,634202.0,9.481320e+06

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
1,2000002,20160704,21.99,0.00,21.99,21.99,21.99,4266300,93815937
88,2000498,20160704,6.11,0.00,6.24,5.90,6.00,21286123,128239611
192,2000669,20160704,16.58,16.71,16.85,16.33,16.77,8901452,148255298
464,2002065,20160704,22.59,0.00,22.59,22.59,22.59,8371100,189103149
649,2002267,20160704,10.12,10.39,10.32,10.05,10.31,9350744,95370117
686,2002313,20160704,14.95,0.00,14.95,14.95,14.95,634202,9481319
944,2002599,20160704,35.70,36.50,36.96,35.66,36.60,2961765,108182342
963,2002621,20160704,21.00,0.00,22.98,20.20,22.18,8959860,191273625
977,2002638,20160704,8.40,21.44,8.88,8.21,8.75,34413738,294643420
1138,2300020,20160704,17.95,18.18,19.09,17.91,18.80,39587490,737376688
1166,2300055,20160704,17.90,17.98,18.89,17.81,18.70,21682110,404001239
1429,2300351,20160704,33.30,0.00,33.90,31.96,32.70,14483379,474534458
1556,2300502,20160704,133.30,0.00,144.19,133.30,141.00,5476481,751822797

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:03.409780
no massive missing

array([], dtype=int32)

0:02:04.944317

20160704

SZ finished
0:00:39.855674
0:01:49.601663
0:02:01.216124
1
2
3
4
0:04:10.065222

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:325: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
122,2000088,20160705,6.51,6.49,6.66,6.49,6.56,9824334.0,6.476629e+07
0,2300522,20160705,22.26,18.55,26.71,22.26,26.71,7600.0,1.999910e+05
59,2002278,20160705,12.71,13.25,13.20,12.51,12.95,25607835.0,3.274110e+08
122,2000967,20160705,14.71,14.71,14.88,14.46,14.65,5158166.0,7.553653e+07
122,2300126,20160705,12.51,12.45,12.65,12.20,12.31,9217480.0,1.137221e+08
122,2000852,20160705,11.68,11.64,11.72,11.53,11.65,4086757.0,4.752015e+07
122,2002300,20160705,7.99,8.04,8.05,7.95,7.98,4497050.0,3.592633e+07
122,2002488,20160705,21.40,21.30,21.48,20.90,21.23,17090059.0,3.617991e+08
122,2300141,20160705,35.95,35.71,36.98,35.00,35.62,7229339.0,2.599181e+08
122,2300319,20160705,30.25,30.19,30.60,29.69,30.00,5654090.0,1.701026e+08
55,2002544,20160705,34.17,34.17,35.55,33.90,34.30,9904631.0,3.439104e+08
77,2300503,20160705,82.99,84.72,87.77,79.11,85.40,10886852.0,9.042423e+08
118,2000025,20160705,73.00,73.92,79.00,71.20,72.92,23599501.0,1.748890e+09
110,2300385,20160705,37.38,35.67,39.18,36.90,37.55,7578791.0,2.851930e+08
122,2300470,20160705,48.70,48.72,48.99,47.17,47.68,2968363.0,1.415227e+08
0,2300521,20160705,13.51,11.26,16.21,13.51,16.21,4600.0,7.362100e+04
122,2000615,20160705,9.08,9.08,9.29,8.91,9.24,17272703.0,1.579282e+08
97,2002040,20160705,14.38,14.30,14.69,14.11,14.45,18580184.0,2.685643e+08
41,2300507,20160705,149.50,157.78,165.88,148.30,158.79,6080967.0,9.362769e+08
50,2002766,20160705,34.91,31.74,34.91,34.91,34.91,13956029.0,4.872050e+08

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
16,2000025,20160705,73.00,0.00,79.00,71.20,72.92,23599501,1748889533
51,2000088,20160705,6.51,6.51,6.66,6.49,6.56,9824334,64766286
166,2000615,20160705,9.08,18.26,9.29,8.91,9.24,17272703,157928214
309,2000852,20160705,11.68,15.13,11.72,11.53,11.65,4086757,47520153
378,2000967,20160705,14.71,22.11,14.88,14.46,14.65,5158166,75536528
444,2002040,20160705,14.38,14.32,14.69,14.11,14.45,18580184,268564323
659,2002278,20160705,12.71,0.00,13.20,12.51,12.95,25607835,327411004
676,2002300,20160705,7.99,9.85,8.05,7.95,7.98,4497050,35926332
846,2002488,20160705,21.40,21.38,21.48,20.90,21.23,17090059,361799068
898,2002544,20160705,34.17,34.20,35.55,33.90,34.30,9904631,343910397
1087,2002766,20160705,34.91,0.00,34.91,34.91,34.91,13956029,487204972
1233,2300126,20160705,12.51,12.47,12.65,12.20,12.31,9217480,113722133
1248,2300141,20160705,35.95,35.81,36.98,35.00,35.62,7229339,259918090
1403,2300319,20160705,30.25,30.27,30.60,29.69,30.00,5654090,170102555
1456,2300385,20160705,37.38,0.00,39.18,36.90,37.55,7578791,285192989
1528,2300470,20160705,48.70,97.73,48.99,47.17,47.68,2968363,141522689
1559,2300503,20160705,82.99,0.00,87.77,79.11,85.40,10886852,904242342
1562,2300507,20160705,149.50,0.00,165.88,148.30,158.79,6080967,936276917
1572,2300521,20160705,13.51,0.00,16.21,13.51,16.21,4600,73621
1573,2300522,20160705,22.26,0.00,26.71,22.26,26.71,7600,199991

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:03.884038
no massive missing

array([2300521, 2300522], dtype=int32)

0:02:05.747552

20160705

SZ finished
0:00:42.757105
0:01:48.681877
0:01:54.758956
1
2
3
4
0:04:20.945455

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:325: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
123,2002731,20160706,27.00,26.98,29.50,26.86,28.75,10395945.0,2.957730e+08
88,2300088,20160706,15.00,14.89,15.17,14.82,14.95,38081003.0,5.716656e+08
123,2000301,20160706,4.38,4.37,4.39,4.34,4.38,11595334.0,5.061632e+07
87,2300355,20160706,7.38,7.11,7.82,7.28,7.82,28972885.0,2.222150e+08
123,2002785,20160706,30.70,31.19,32.10,29.56,30.77,17754662.0,5.480350e+08
123,2000402,20160706,9.79,9.68,9.85,9.63,9.71,38582888.0,3.753475e+08
77,2300464,20160706,20.67,20.87,22.49,20.67,21.22,10649956.0,2.274147e+08
123,2002627,20160706,21.50,21.45,22.37,21.33,22.08,3468357.0,7.596600e+07
49,2300508,20160706,242.00,254.50,245.94,229.05,229.05,3445701.0,8.043373e+08
123,2300444,20160706,30.21,30.85,33.70,29.88,31.96,18041017.0,5.731399e+08
105,2002694,20160706,18.90,18.91,19.66,18.65,19.20,10176565.0,1.953242e+08
121,2000939,20160706,9.30,9.30,9.87,9.10,9.35,64126635.0,6.060253e+08
123,2000166,20160706,6.41,6.40,6.41,6.26,6.34,86955096.0,5.497434e+08
123,2000921,20160706,8.01,8.00,8.09,7.88,7.97,5064320.0,4.029821e+07

,ID,date,d_open,d_yclose,d_high,d_low,d_close,d_volume,d_amount
63,2000166,20160706,6.41,8.79,6.41,6.26,6.34,86955096,549743374
64,2000301,20160706,4.38,4.42,4.39,4.34,4.38,11595334,50616320
68,2000402,20160706,9.79,10.08,9.85,9.63,9.71,38582888,375347529
354,2000921,20160706,8.01,8.15,8.09,7.88,7.97,5064320,40298206
367,2000939,20160706,9.30,0.00,9.87,9.10,9.35,64126635,606025278
971,2002627,20160706,21.50,21.60,22.37,21.33,22.08,3468357,75965998
1027,2002694,20160706,18.90,18.92,19.66,18.65,19.20,10176565,195324230
1059,2002731,20160706,27.00,27.06,29.50,26.86,28.75,10395945,295772966
1105,2002785,20160706,30.70,31.20,32.10,29.56,30.77,17754662,548035004
1199,2300088,20160706,15.00,14.99,15.17,14.82,14.95,38081003,571665644
1433,2300355,20160706,7.38,0.00,7.82,7.28,7.82,28972885,222214981
1508,2300444,20160706,30.21,31.00,33.70,29.88,31.96,18041017,573139874
1524,2300464,20160706,20.67,52.27,22.49,20.67,21.22,10649956,227414689
1564,2300508,20160706,242.00,0.00,245.94,229.05,229.05,3445701,804337316

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Attention!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
0:00:03.148154
no massive missing

array([], dtype=int32)

0:01:57.568392

20160706

SZ finished
0:00:38.653628
0:01:47.830411
0:02:08.319948
1
2
3
4
0:04:16.143354

/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:325: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/work516/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

ValueError: list.remove(x): x not in list

In [30]:
SZ[(SZ['skey'] == 2000066) & (SZ['cum_volume'] > 0) & (SZ['open'] > 0)]

Empty DataFrame
Columns: [date, time, close, Volume, Turover, cum_trades_cnt, Interest, TradeFlag, BSFlag, cum_volume, cum_amount, high, low, open, prev_close, AveAskPrice, AveBidPrice, AccAskVolume, AccBidVolume, skey, clockAtArrival, datetime, bid1p, bid2p, bid3p, bid4p, bid5p, bid6p, bid7p, bid8p, bid9p, bid10p, ask1p, ask2p, ask3p, ask4p, ask5p, ask6p, ask7p, ask8p, ask9p, ask10p, bid1q, bid2q, bid3q, bid4q, bid5q, bid6q, bid7q, bid8q, bid9q, bid10q, ask1q, ask2q, ask3q, ask4q, ask5q, ask6q, ask7q, ask8q, ask9q, ask10q, ordering, has_missing]
Index: []

In [26]:
SZ[(SZ['cum_volume'] > 0) & (SZ['open'] <= 0)]['skey'].unique()

array([2000066, 2000748], dtype=int32)

In [21]:
SZ[SZ["cum_volume"] > 0]["open"].unique()

array([10.21, 29.58,  7.4 , ..., 30.43, 35.68, 34.97])

In [4]:
SZ['time'].max()

133403780000